Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'

pull: add pretty progress bar to systemd-pull too
  src/import/pull-tar.c
Labels: none

export-tar: port to common libarchive tar generation code
  src/import/export-tar.c
  src/import/export-tar.h
  src/import/export.c
  src/import/import-common.c
  src/import/import-common.h
Labels: import

importd: downgrade log message about bound capability set dropping + netns
  src/import/import-common.c
Labels: import

dissect: move tar make code into tar-util.[ch] and make it generic
  src/dissect/dissect.c
  src/shared/tar-util.c
  src/shared/tar-util.h
Labels: dissect, util-lib

tar-util: include xattrs in generated tarballs
  src/shared/libarchive-util.c
  src/shared/libarchive-util.h
  src/shared/tar-util.c
Labels: util-lib

tar-util: recognize hardlinks when generating tarballs
  src/shared/libarchive-util.c
  src/shared/libarchive-util.h
  src/shared/tar-util.c
Labels: util-lib

tar-util: properly deal with sparse files
  src/shared/libarchive-util.c
  src/shared/libarchive-util.h
  src/shared/tar-util.c
Labels: util-lib

tar-util: add support for file flags
  src/shared/libarchive-util.c
  src/shared/libarchive-util.h
  src/shared/tar-util.c
Labels: util-lib

tar-util: add support for acls
  src/shared/libarchive-util.c
  src/shared/libarchive-util.h
  src/shared/tar-util.c
Labels: util-lib

import: always use the same buffer size
  src/import/export-raw.c
  src/import/export-tar.c
  src/import/import-common.c
  src/import/import-common.h
  src/import/import-compress.c
  src/import/import-raw.c
  src/import/import-tar.c
Labels: import

tar-util: squash high UIDs in user mode
  src/import/import-common.c
  src/shared/tar-util.c
  src/shared/tar-util.h
Labels: import, util-lib

mountfsd: make MountDirectory() work with systemd-homed
  src/mountfsd/mountwork.c
  units/systemd-mountfsd.service.in
Labels: mountfsd, units

fileio: modernize xopendirat() a bit
  src/basic/chase.c
  src/basic/fileio.c
  src/basic/fileio.h
  src/udev/udev-node.c
Labels: udev, util-lib

os-util: add fd_is_os_tree() which is like path_is_os_tree() but operates on an fd
  src/basic/os-util.c
  src/basic/os-util.h
Labels: util-lib

import-common: rework import_mangle_os_tree() to operate based on fd to tree
  src/import/import-common.c
  src/import/import-common.h
  src/import/import-tar.c
  src/import/pull-tar.c
Labels: import

import: make sure image mangling works unpriv too
  src/import/import-common.c
  src/import/import-common.h
  src/import/import-fs.c
  src/import/import-tar.c
  src/import/pull-tar.c
Labels: import

discover-image: imply that hidden images are read-only
  src/dissect/dissect.c
  src/import/importd.c
  src/machine/image-dbus.c
  src/machine/machined-dbus.c
  src/machine/machined-varlink.c
  src/nspawn/nspawn.c
  src/portable/portabled-bus.c
  src/portable/portabled-image-bus.c
  src/shared/discover-image.c
  src/shared/discover-image.h
Labels: dissect, import, machine, nspawn, portable, util-lib

pull: fix SHA256SUMS fallback for file:// URLs
  src/import/pull-job.c
Labels: none

discover-image: support clone + rm operation also unpriv
  src/shared/discover-image.c
  src/shared/discover-image.h
Labels: util-lib

nspawn: support .nspawn files in per-user mode
  src/nspawn/nspawn.c
  src/systemd/sd-path.h
Labels: nspawn

update TODO
  TODO
Labels: none

test: add test case
  test/units/TEST-13-NSPAWN.unpriv.sh
Labels: tests

pcrlock: use WRITE_STRING_FILE_LABEL
  src/pcrlock/pcrlock.c
Labels: none

acl-util: add new acl_set_perm() helper
  src/shared/acl-util.h
Labels: util-lib

stat-util: add helper inode_type_can_hardlink()
  src/basic/stat-util.h
Labels: util-lib

acl-util: add new inode_type_can_acl() helper
  src/shared/acl-util.c
  src/shared/acl-util.h
  src/shared/shift-uid.c
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles, util-lib

pull-job: fix include order
  src/import/pull-job.c
Labels: none

chattr-util: add inode_type_can_chattr() helper
  src/basic/chattr-util.c
  src/basic/chattr-util.h
Labels: util-lib

pull: add pretty progress bar to systemd-pull too
  src/import/pull-tar.c
Labels: none

importd: clean up how we determine image root in importd backends
  src/import/import-fs.c
  src/import/import-generator.c
  src/import/import.c
  src/import/importctl.c
  src/import/pull.c
  src/shared/discover-image.c
  src/shared/discover-image.h
Labels: import, util-lib

fd-util: fix path_is_root_at() when dealing with detached mounts
  src/basic/fd-util.c
Labels: util-lib

btrfs-util: try unlinkat(AT_REMOVEDIR) before resorting to btrfs ioctls
  src/shared/btrfs-util.c
Labels: btrfs, util-lib

importd: teach all backends --system/--user mode
  src/import/export.c
  src/import/import-fs.c
  src/import/import.c
  src/import/pull.c
Labels: import

runtime-scope: add runtime_scope_to_socket_mode() helper
  src/basic/runtime-scope.h
Labels: util-lib

rm-rf: make sure we can safely remove dirs we have no access to via rm_rf_at()
  src/shared/rm-rf.c
Labels: util-lib

importd: properly support operation in per-user mode
  src/import/importd.c
  src/import/meson.build
  src/import/org.freedesktop.import1.service-for-session
  units/user/meson.build
  units/user/systemd-importd.service.in
  units/user/systemd-importd.socket
Labels: build-system, import, meson, units

machined: allow running in --user mode
  src/machine/image-dbus.c
  src/machine/image-varlink.c
  src/machine/machine-dbus.c
  src/machine/machine-varlink.c
  src/machine/machine.c
  src/machine/machined-dbus.c
  src/machine/machined-varlink.c
  src/machine/machined.c
  src/machine/machined.h
  src/machine/meson.build
  src/machine/org.freedesktop.machine1.service-for-session
  units/user/meson.build
  units/user/systemd-machined.service.in
  units/user/systemd-machined.socket
Labels: build-system, machine, meson, units

importd: port to PidRef
  src/import/export-tar.c
  src/import/import-common.c
  src/import/import-common.h
  src/import/import-tar.c
  src/import/pull-tar.c
Labels: import

mountfsd: uncomment CapabilityBoundingSet= line
  units/systemd-mountfsd.service.in
Labels: mountfsd, units

dissect: move tar make code into tar-util.[ch] and make it generic
  src/dissect/dissect.c
  src/shared/tar-util.c
  src/shared/tar-util.h
Labels: dissect, util-lib
