Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'

core/service: do not reset watchdong when unit is frozen
  src/core/service.c
Labels: none

meson: compile nss-util.c only when at least one nss module is enabled
  src/shared/meson.build
Labels: build-system, meson, util-lib

modules-load: implement parallel module loading
  docs/ENVIRONMENT.md
  src/modules-load/modules-load.c
Labels: documentation, modules-load

modules-load: implement parallel module loading
  docs/ENVIRONMENT.md
  src/modules-load/modules-load.c
Labels: documentation, modules-load

include: bump required minimum AUTOFS_DEV_IOCTL_VERSION_MINOR and DM_VERSION_MINOR
  src/include/uapi/linux/auto_dev-ioctl.h
  src/include/uapi/linux/dm-ioctl.h
  src/include/uapi/linux/update.sh
Labels: none

meson: compile nss-util.c only when at least one nss module is enabled
  src/shared/meson.build
Labels: build-system, meson, util-lib

core: fix crash on audit callback
  src/core/selinux-access.c
Labels: selinux

localectl: use XKB path specified from environment variable
  docs/ENVIRONMENT.md
  src/locale/localectl.c
Labels: documentation, locale

localectl: use XKB path specified from environment variable
  docs/ENVIRONMENT.md
  src/locale/localectl.c
Labels: documentation, locale

core: fix crash on audit callback
  src/core/selinux-access.c
Labels: selinux

TEST-17-UDEV: rotate journal after pending journal entries in buffer before flushed
  test/units/TEST-17-UDEV.watch.sh
Labels: tests

ukify: eliminate binary null characters from inspect
  src/ukify/ukify.py
Labels: uki

ukify: eliminate binary null characters from inspect
  src/ukify/ukify.py
Labels: uki

TEST-17-UDEV: rotate journal after pending journal entries in buffer before flushed
  test/units/TEST-17-UDEV.watch.sh
Labels: tests

cryptsetup: HAVE_CRYPT_SET_KEYRING_TO_LINK is always defined
  src/cryptsetup/cryptsetup.c
Labels: cryptsetup

modules-load: implement parallel module loading
  docs/ENVIRONMENT.md
  src/modules-load/modules-load.c
Labels: documentation, modules-load

modules-load: implement parallel module loading
  docs/ENVIRONMENT.md
  src/modules-load/modules-load.c
  test/units/TEST-87-AUX-UTILS-VM.modules-load.sh
Labels: documentation, modules-load, tests

cryptsetup: HAVE_CRYPT_SET_KEYRING_TO_LINK is always defined
  src/cryptsetup/cryptsetup.c
Labels: cryptsetup

hwdb: Add Accelerometer mount matrix for Irbis TW43
  hwdb.d/60-sensor.hwdb
Labels: hwdb

README: drop one FIXME comment
  README
Labels: documentation

NEWS: announce bump of required minimum version of several components in next release
  NEWS
Labels: documentation

hwdb: Add Accelerometer mount matrix for Irbis TW43
  hwdb.d/60-sensor.hwdb
Labels: hwdb

systemctl: Add --sysv-install to specify the path to systemd-sysv-install
  man/systemctl.xml
  src/systemctl/systemctl-sysv-compat.c
  src/systemctl/systemctl.c
  src/systemctl/systemctl.h
Labels: documentation, systemctl

docs: fix typo
  docs/NETWORK_ONLINE.md
Labels: documentation

docs: fix typo
  docs/NETWORK_ONLINE.md
Labels: documentation

modules-load: implement parallel module loading
  docs/ENVIRONMENT.md
  src/modules-load/modules-load.c
  test/units/TEST-87-AUX-UTILS-VM.modules-load.sh
Labels: documentation, modules-load, tests

Bump required minimum version of cryptsetup to 2.4.0
  README
  meson.build
  src/cryptsetup/cryptsetup.c
  src/home/homework-luks.c
  src/repart/repart.c
  src/shared/cryptsetup-util.c
  src/shared/cryptsetup-util.h
  src/shared/dissect-image.c
  src/veritysetup/veritysetup.c
Labels: build-system, cryptsetup, dissect, documentation, meson, repart, util-lib, veritysetup

Bump required minimum version of blkid to 2.37
  README
  meson.build
  src/udev/udev-builtin-blkid.c
Labels: build-system, documentation, meson, udev

test-libcrypt-util: use DEFINE_TEST_MAIN() and ASSERT_XYZ()
  src/test/test-libcrypt-util.c
Labels: tests

Require libxcrypt-4.4.0 or newer and drop support of libcrypt
  README
  meson.build
  src/shared/libcrypt-util.c
  src/test/test-libcrypt-util.c
Labels: build-system, documentation, meson, tests, util-lib

Bump required minimum version of libfido2 to 1.5.0
  README
  meson.build
  src/shared/libfido2-util.c
Labels: build-system, documentation, meson, util-lib

Bump required minimum version of OpenSSL to 3.0.0
  README
  meson.build
  src/resolve/resolved-dns-dnssec.c
  src/shared/openssl-util.c
  src/shared/openssl-util.h
  src/shared/pkcs11-util.c
  src/shared/tpm2-util.c
  src/test/test-openssl.c
  src/test/test-tpm2.c
Labels: build-system, documentation, meson, resolve, tests, tpm2, util-lib

Bump required minimum kernel version to 5.10 and the recommended baseline to 5.14.
  README
  src/basic/constants.h
Labels: documentation, util-lib

Bump required minimum version of libseccomp to 2.4.0
  README
  meson.build
  src/core/exec-invoke.c
  src/nspawn/nspawn-oci.c
  src/shared/seccomp-util.c
  src/shared/seccomp-util.h
  src/test/test-seccomp.c
Labels: build-system, documentation, meson, nspawn, tests, util-lib

firewall-util: remove iptables backend
  meson.build
  meson_options.txt
  src/basic/build.c
  src/core/kmod-setup.c
  src/shared/firewall-util-iptables.c
  src/shared/firewall-util-private.h
  src/shared/firewall-util.c
  src/shared/meson.build
  src/test/test-firewall-util.c
Labels: build-system, meson, tests, util-lib

NEWS: announce bump of required minimum version of several components in next release
  NEWS
Labels: documentation

Bump required minimum version of elfutils to 0.177
  README
  meson.build
  src/shared/elf-util.c
Labels: build-system, documentation, meson, util-lib

sd-netlink: make netlink_get_reply_callback_count() accept NULL
  src/libsystemd/sd-netlink/sd-netlink.c
Labels: sd-netlink

firewall-util: rename firewall-util-nft.c to firewall-util.c
  src/shared/firewall-util.c
  src/shared/meson.build
Labels: build-system, meson, util-lib

Bump required minimum version of glibc to 2.34
  README
  meson.build
  src/basic/errno-list.c
  src/include/oss-fuzz/malloc.h
  src/include/oss-fuzz/string.h
  src/include/oss-fuzz/sys/syscall.h
  src/include/oss-fuzz/unistd.h
  src/include/override/sys/generate-syscall.py
  src/include/override/sys/syscall.h
  src/include/override/unistd.h
  src/libc/oss-fuzz/meson.build
  src/libc/oss-fuzz/unistd.c
  src/libc/unistd.c
Labels: build-system, documentation, meson, util-lib
