Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'

sd-netlink: adjust test-netlink to used indexed string read helper
  src/libsystemd/sd-netlink/test-netlink.c
Labels: sd-netlink, tests

sd-netlink: introduce indexed variant of string read
  src/libsystemd/sd-netlink/netlink-message.c
  src/systemd/sd-netlink.h
Labels: sd-netlink

sd-netlink: introduce read_s32() helper
  src/libsystemd/sd-netlink/netlink-message.c
  src/systemd/sd-netlink.h
Labels: sd-netlink

sd-netlink: introduce netlink_attributes envelope
  src/libsystemd/sd-netlink/netlink-internal.h
  src/libsystemd/sd-netlink/netlink-message.c
Labels: sd-netlink

sd-netlink: use new indexed function in read_strv()
  src/libsystemd/sd-netlink/netlink-message.c
Labels: sd-netlink

sd-netlink: introduce indexed variant of enter container
  src/libsystemd/sd-netlink/netlink-message.c
  src/systemd/sd-netlink.h
Labels: sd-netlink

sd-netlink: allow to parse multiple attributes with same attr_type
  src/libsystemd/sd-netlink/netlink-internal.h
  src/libsystemd/sd-netlink/netlink-message.c
  src/systemd/sd-netlink.h
Labels: sd-netlink

sd-netlink: add cleanup for struct netlink_attributes
  src/libsystemd/sd-netlink/netlink-message.c
Labels: sd-netlink

basic/linux: import devlink.h from recent kernel
  src/include/uapi/linux/devlink.h
Labels: none

devlinkd: add health reporter match
  src/devlink/devlink-match-health-reporter.c
  src/devlink/devlink-match.c
  src/devlink/devlink-match.h
  src/devlink/meson.build
  src/libsystemd/sd-netlink/netlink-types-genl.c
Labels: build-system, meson, sd-netlink

devlinkd: add port match
  src/devlink/devlink-gperf.gperf
  src/devlink/devlink-match-port.c
  src/devlink/devlink-match-port.h
  src/devlink/devlink-match.c
  src/devlink/devlink-match.h
  src/devlink/meson.build
  src/libsystemd/sd-netlink/netlink-types-genl.c
Labels: build-system, meson, sd-netlink

devlinkd: add dev object
  src/devlink/devlink-dev.c
  src/devlink/devlink-dev.h
  src/devlink/devlink-gperf.gperf
  src/devlink/devlink-kind.c
  src/devlink/devlink-kind.h
  src/devlink/devlink.c
  src/devlink/meson.build
  src/libsystemd/sd-netlink/netlink-types-genl.c
  src/shared/devlink-util.c
  src/shared/devlink-util.h
Labels: build-system, meson, sd-netlink, util-lib

devlinkd: add internal port cache object
  src/devlink/devlink-kind.c
  src/devlink/devlink-kind.h
  src/devlink/devlink-port-cache.c
  src/devlink/devlink-port-cache.h
  src/devlink/devlink.c
  src/devlink/devlinkd-manager.c
  src/devlink/devlinkd-manager.h
  src/devlink/meson.build
  src/libsystemd/sd-netlink/netlink-types-genl.c
  src/shared/devlink-util.c
Labels: build-system, meson, sd-netlink, util-lib

man: systemd.devlink: add port object
  man/systemd.devlink.xml
Labels: documentation

devlinkd: add common name match
  src/devlink/devlink-match.c
  src/devlink/devlink-match.h
Labels: none

devlinkd: add devlinkd base
  meson.build
  meson_options.txt
  presets/90-systemd.preset
  src/basic/macro.h
  src/devlink/devlink-gperf.gperf
  src/devlink/devlink-key.c
  src/devlink/devlink-key.h
  src/devlink/devlink-kind-gperf.gperf
  src/devlink/devlink-kind.c
  src/devlink/devlink-kind.h
  src/devlink/devlink-match.c
  src/devlink/devlink-match.h
  src/devlink/devlink.c
  src/devlink/devlink.h
  src/devlink/devlinkd-manager.c
  src/devlink/devlinkd-manager.h
  src/devlink/devlinkd.c
  src/devlink/meson.build
  src/devlink/org.freedesktop.devlink1.conf
  src/libsystemd/sd-netlink/netlink-types-genl.c
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd.c
  src/network/test-network.c
  src/shared/devlink-util.c
  src/shared/devlink-util.h
  src/shared/meson.build
  sysusers.d/meson.build
  sysusers.d/systemd-devlink.conf.in
Labels: build-system, meson, network, sd-netlink, tests, util-lib

man: systemd.devlink: add dev object
  man/systemd.devlink.xml
Labels: documentation

devlinkd: add internal nested object
  src/devlink/devlink-kind.c
  src/devlink/devlink-kind.h
  src/devlink/devlink-nested.c
  src/devlink/devlink-nested.h
  src/devlink/devlink.c
  src/devlink/meson.build
  src/libsystemd/sd-netlink/netlink-types-genl.c
  src/shared/devlink-util.c
Labels: build-system, meson, sd-netlink, util-lib

devlinkd: add dev match
  src/devlink/devlink-gperf.gperf
  src/devlink/devlink-match-dev.c
  src/devlink/devlink-match-dev.h
  src/devlink/devlink-match.c
  src/devlink/devlink-match.h
  src/devlink/meson.build
  src/libsystemd/sd-netlink/netlink-types-genl.c
Labels: build-system, meson, sd-netlink

devlinkd: add port object
  src/devlink/devlink-gperf.gperf
  src/devlink/devlink-kind.c
  src/devlink/devlink-kind.h
  src/devlink/devlink-port.c
  src/devlink/devlink-port.h
  src/devlink/devlink.c
  src/devlink/meson.build
  src/libsystemd/sd-netlink/netlink-types-genl.c
Labels: build-system, meson, sd-netlink

man: add systemd-devlinkd.service manpage
  man/rules/meson.build
  man/systemd-devlinkd.service.xml
Labels: build-system, documentation, meson

man: add systemd.devlink manpage
  man/rules/meson.build
  man/systemd.devlink.xml
Labels: build-system, documentation, meson

devlinkd: add port ifname match with ifname tracker
  src/devlink/devlink-gperf.gperf
  src/devlink/devlink-ifname-tracker.c
  src/devlink/devlink-ifname-tracker.h
  src/devlink/devlink-match-port.c
  src/devlink/devlink-match-port.h
  src/devlink/devlink-match.c
  src/devlink/devlink-match.h
  src/devlink/devlink-port-cache.c
  src/devlink/devlink.c
  src/devlink/devlink.h
  src/devlink/devlinkd-manager.c
  src/devlink/devlinkd-manager.h
  src/devlink/meson.build
Labels: build-system, meson

devlinkd: add health reporter object
  src/devlink/devlink-gperf.gperf
  src/devlink/devlink-health-reporter.c
  src/devlink/devlink-health-reporter.h
  src/devlink/devlink-kind.c
  src/devlink/devlink-kind.h
  src/devlink/devlink.c
  src/devlink/meson.build
  src/libsystemd/sd-netlink/netlink-types-genl.c
  src/shared/devlink-util.c
Labels: build-system, meson, sd-netlink, util-lib

man: systemd.devlink: add param object
  man/systemd.devlink.xml
Labels: documentation

devlinkd: add internal reload object
  src/devlink/devlink-kind.c
  src/devlink/devlink-kind.h
  src/devlink/devlink-reload.c
  src/devlink/devlink-reload.h
  src/devlink/devlink.c
  src/devlink/devlinkd-manager.c
  src/devlink/devlinkd-manager.h
  src/devlink/meson.build
  src/libsystemd/sd-netlink/netlink-types-genl.c
Labels: build-system, meson, sd-netlink

test: add initial tests for devlinkd
  test/meson.build
  test/test-devlinkd/conf/10-eswitch-mode.devlink
  test/test-devlinkd/conf/10-health-reporter.devlink
  test/test-devlinkd/conf/10-param-set-max_macs.devlink
  test/test-devlinkd/conf/10-param-set-test1.devlink
  test/test-devlinkd/conf/10-port-split-ifname.devlink
  test/test-devlinkd/conf/10-port-split.devlink
  test/test-devlinkd/systemd-devlinkd-tests.py
Labels: build-system, meson, tests

man: systemd.devlink: add health reporter object
  man/systemd.devlink.xml
Labels: documentation

devlinkd: add param object
  src/devlink/devlink-gperf.gperf
  src/devlink/devlink-kind.c
  src/devlink/devlink-kind.h
  src/devlink/devlink-param.c
  src/devlink/devlink-param.h
  src/devlink/devlink.c
  src/devlink/meson.build
  src/libsystemd/sd-netlink/netlink-types-devlink.h
  src/libsystemd/sd-netlink/netlink-types-genl.c
  src/shared/devlink-util.c
Labels: build-system, meson, sd-netlink, util-lib

units: add systemd-devlinkd.service
  units/meson.build
  units/systemd-devlinkd.service.in
Labels: build-system, meson, units

devlinkd: add param match
  src/devlink/devlink-gperf.gperf
  src/devlink/devlink-match-param.c
  src/devlink/devlink-match.c
  src/devlink/devlink-match.h
  src/devlink/meson.build
  src/libsystemd/sd-netlink/netlink-types-genl.c
Labels: build-system, meson, sd-netlink

devlinkd: add common index parse and match
  src/devlink/devlink-match.c
  src/devlink/devlink-match.h
Labels: none

gpt-auto-generator: Pass default verity settings to dissect_loop_device()
  src/gpt-auto-generator/gpt-auto-generator.c
Labels: gpt-auto

gpt-auto-generator: Pass default verity settings to dissect_loop_device()
  src/gpt-auto-generator/gpt-auto-generator.c
Labels: gpt-auto

gpt-auto-generator: Pass verity settings to dissect_loop_device()
  src/gpt-auto-generator/gpt-auto-generator.c
Labels: gpt-auto

cryptsetup-generator: make attach_in_initrd() check rd.luks.uuid= entries
  src/cryptsetup/cryptsetup-generator.c
Labels: cryptsetup

test: Add test for nspawn's handling of cap_net_bind_service
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, tests

mkosi conf opensuse: add systemd-journal-remote
  mkosi/mkosi.conf.d/opensuse/mkosi.conf
Labels: mkosi

bootctl: make sure install verb also honors implied --graceful
  src/bootctl/bootctl-install.c
  src/bootctl/bootctl-random-seed.c
  src/bootctl/bootctl-set-efivar.c
  src/bootctl/bootctl.c
  src/bootctl/bootctl.h
Labels: random-seed
