Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

DEBUG
  test/integration-tests/meson.build
Labels: build-system, meson, tests

nspawn: fix --link-journal=host with --private-users=pick and friends
  src/nspawn/nspawn.c
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, tests

po: Translated using Weblate (Portuguese)
  po/pt.po
Labels: l10n üåç

po: Translated using Weblate (Spanish)
  po/es.po
Labels: l10n üåç

nspawn: fix --link-journal=host with --private-users=pick and friends
  src/nspawn/nspawn.c
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, tests

DEBUG
  test/integration-tests/meson.build
Labels: build-system, meson, tests

dissect-image: fix two log messages in mountfsd_mount_directory_fd()
  src/shared/dissect-image.c
Labels: dissect, util-lib

mountfsd: include polkit allowInteractiveAuthorization field in IDL
  src/shared/varlink-io.systemd.MountFileSystem.c
Labels: util-lib

importd: accept a single space as SHA256SUMS separator
  src/import/pull-common.c
Labels: none

fd-util: fix path_is_root_at() when dealing with detached mounts
  src/basic/fd-util.c
Labels: util-lib

po: Translated using Weblate (Portuguese)
  po/pt.po
Labels: l10n üåç

po: Translated using Weblate (Spanish)
  po/es.po
Labels: l10n üåç

ukify: adjust comments
  src/ukify/ukify.py
Labels: uki

ukify: extend error message when section is too small
  src/ukify/ukify.py
Labels: uki

sd-boot: pad .sbat section to 1k bytes
  src/boot/stub.c
  src/fundamental/macro-fundamental.h
  src/fundamental/sbat.h
Labels: sd-boot/sd-stub/bootctl, util-lib

ukify: fix insertion of padding in merged sections
  src/ukify/ukify.py
Labels: uki

ukify: stop appending NUL to merged .sbat section
  src/ukify/ukify.py
Labels: uki

sd-boot: pad .sbat section to 1k bytes
  src/boot/stub.c
  src/fundamental/macro-fundamental.h
  src/fundamental/sbat.h
Labels: sd-boot/sd-stub/bootctl, util-lib

ukify: stop appending NUL to merged .sbat section
  src/ukify/ukify.py
Labels: uki

hwdb: map FN key on TongFang X4SP4NAL laptops
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

nspawn: fix --link-journal=host with --private-users=pick and friends
  src/nspawn/nspawn.c
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, tests

pam_systemd: actually use "background-light" class for cron sessions
  src/login/pam_systemd.c
Labels: login

dissect-image: fix two log messages in mountfsd_mount_directory_fd()
  src/shared/dissect-image.c
Labels: dissect, util-lib

mountfsd: include polkit allowInteractiveAuthorization field in IDL
  src/shared/varlink-io.systemd.MountFileSystem.c
Labels: util-lib

importd: accept a single space as SHA256SUMS separator
  src/import/pull-common.c
Labels: none

test: also edit /etc/os-release if it's not a symlink when patching /usr/lib/os-release (#38628)
  mkosi/mkosi.images/minimal-0/mkosi.postinst
  mkosi/mkosi.images/minimal-1/mkosi.postinst
  test/units/TEST-50-DISSECT.sysext.sh
Labels: mkosi, sysext, tests

hwdb: map FN key on TongFang X4SP4NAL laptops
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

mkosi: disable panic_on_warn
  mkosi/mkosi.conf
Labels: mkosi

fd-util: fix path_is_root_at() when dealing with detached mounts
  src/basic/fd-util.c
Labels: util-lib

test: add test cases for path_is_root_at()
  src/test/test-fd-util.c
Labels: tests

coredump: drop RestrictSUIDSGID= option
  units/systemd-coredump@.service.in
Labels: coredump, units

chase: invert CHASE_NO_AUTOFS and only set it where needed
  mkosi/mkosi.sanitizers/mkosi.postinst
  src/basic/chase.c
  src/basic/chase.h
  src/bootctl/bootctl-install.c
  src/bootctl/bootctl-status.c
  src/core/exec-invoke.c
  src/core/mount.c
  src/core/namespace.c
  src/core/service.c
  src/libsystemd/sd-device/sd-device.c
  src/mount/mount-tool.c
  src/mountfsd/mountwork.c
  src/shared/find-esp.c
  src/sysupdate/sysupdate-resource.c
  src/sysupdate/sysupdate-transfer.c
  src/sysupdate/sysupdate.c
  src/test/test-chase-manual.c
  src/tmpfiles/tmpfiles.c
  test/units/TEST-74-AUX-UTILS.userdbctl.sh
Labels: mkosi, mount, sd-device, sysupdate, tests, tmpfiles, userdb, util-lib

Revert "chase: invert CHASE_NO_AUTOFS and only set it where needed"
  mkosi/mkosi.sanitizers/mkosi.postinst
  src/basic/chase.c
  src/basic/chase.h
  src/bootctl/bootctl-install.c
  src/bootctl/bootctl-status.c
  src/core/exec-invoke.c
  src/core/mount.c
  src/core/namespace.c
  src/core/service.c
  src/libsystemd/sd-device/sd-device.c
  src/mount/mount-tool.c
  src/mountfsd/mountwork.c
  src/shared/find-esp.c
  src/sysupdate/sysupdate-resource.c
  src/sysupdate/sysupdate-transfer.c
  src/sysupdate/sysupdate.c
  src/test/test-chase-manual.c
  src/tmpfiles/tmpfiles.c
  test/units/TEST-74-AUX-UTILS.userdbctl.sh
Labels: mkosi, mount, sd-device, sysupdate, tests, tmpfiles, userdb, util-lib

chase: introduce CHASE_NO_SHORTCUT_MASK
  src/basic/chase.c
Labels: util-lib

chase: trigger automount only when explicitly requested
  mkosi/mkosi.sanitizers/mkosi.postinst
  src/basic/chase.c
  src/basic/chase.h
  src/bootctl/bootctl-install.c
  src/bootctl/bootctl-status.c
  src/core/exec-invoke.c
  src/core/mount.c
  src/core/namespace.c
  src/core/service.c
  src/mount/mount-tool.c
  src/mountfsd/mountwork.c
  src/shared/find-esp.c
  src/sysupdate/sysupdate-resource.c
  src/sysupdate/sysupdate-transfer.c
  src/sysupdate/sysupdate.c
  src/test/test-chase-manual.c
  test/units/TEST-74-AUX-UTILS.userdbctl.sh
Labels: mkosi, mount, sysupdate, tests, userdb, util-lib

sd-stub: use memory proto if available and set kernel memory to RX with NX_COMPAT
  src/boot/linux.c
  src/boot/pe.c
  src/boot/pe.h
  src/boot/proto/memory-attribute.h
Labels: sd-boot/sd-stub/bootctl

Revert "chase: invert CHASE_NO_AUTOFS and only set it where needed"
  mkosi/mkosi.sanitizers/mkosi.postinst
  src/basic/chase.c
  src/basic/chase.h
  src/bootctl/bootctl-install.c
  src/bootctl/bootctl-status.c
  src/core/exec-invoke.c
  src/core/mount.c
  src/core/namespace.c
  src/core/service.c
  src/libsystemd/sd-device/sd-device.c
  src/mount/mount-tool.c
  src/mountfsd/mountwork.c
  src/shared/find-esp.c
  src/sysupdate/sysupdate-resource.c
  src/sysupdate/sysupdate-transfer.c
  src/sysupdate/sysupdate.c
  src/test/test-chase-manual.c
  src/tmpfiles/tmpfiles.c
  test/units/TEST-74-AUX-UTILS.userdbctl.sh
Labels: mkosi, mount, sd-device, sysupdate, tests, tmpfiles, userdb, util-lib

chase: introduce CHASE_NO_SHORTCUT_MASK
  src/basic/chase.c
Labels: util-lib

chase: trigger automount only when explicitly requested
  mkosi/mkosi.sanitizers/mkosi.postinst
  src/basic/chase.c
  src/basic/chase.h
  src/bootctl/bootctl-install.c
  src/bootctl/bootctl-status.c
  src/core/exec-invoke.c
  src/core/mount.c
  src/core/namespace.c
  src/core/service.c
  src/mount/mount-tool.c
  src/mountfsd/mountwork.c
  src/shared/find-esp.c
  src/sysupdate/sysupdate-resource.c
  src/sysupdate/sysupdate-transfer.c
  src/test/test-chase-manual.c
  test/units/TEST-74-AUX-UTILS.userdbctl.sh
Labels: mkosi, mount, sysupdate, tests, userdb, util-lib

NEWS: announce bump of required minimum version of several components in next release
  NEWS
Labels: documentation

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'
