Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

Update syscalls tables
  src/include/override/sys/syscall-list.txt
  src/include/override/sys/syscalls-alpha.txt
  src/include/override/sys/syscalls-arc.txt
  src/include/override/sys/syscalls-arm.txt
  src/include/override/sys/syscalls-arm64.txt
  src/include/override/sys/syscalls-i386.txt
  src/include/override/sys/syscalls-loongarch64.txt
  src/include/override/sys/syscalls-m68k.txt
  src/include/override/sys/syscalls-mips64.txt
  src/include/override/sys/syscalls-mips64n32.txt
  src/include/override/sys/syscalls-mipso32.txt
  src/include/override/sys/syscalls-parisc.txt
  src/include/override/sys/syscalls-powerpc.txt
  src/include/override/sys/syscalls-powerpc64.txt
  src/include/override/sys/syscalls-riscv32.txt
  src/include/override/sys/syscalls-riscv64.txt
  src/include/override/sys/syscalls-s390.txt
  src/include/override/sys/syscalls-s390x.txt
  src/include/override/sys/syscalls-sh.txt
  src/include/override/sys/syscalls-sparc.txt
  src/include/override/sys/syscalls-x86_64.txt
Labels: none

NEWS: update contributors list
  NEWS
Labels: documentation

hwdb: update rules
  hwdb.d/20-OUI.hwdb
  hwdb.d/20-acpi-vendor.hwdb.patch
  hwdb.d/ma-medium.txt
  hwdb.d/ma-small.txt
Labels: hwdb

Reapply "resolved: don't wait for TLS close_notify replies unnecessarily"
  src/resolve/resolved-dnstls.c
Labels: resolve

Update syscalls tables
  src/include/override/sys/syscall-list.txt
  src/include/override/sys/syscalls-alpha.txt
  src/include/override/sys/syscalls-arc.txt
  src/include/override/sys/syscalls-arm.txt
  src/include/override/sys/syscalls-arm64.txt
  src/include/override/sys/syscalls-i386.txt
  src/include/override/sys/syscalls-loongarch64.txt
  src/include/override/sys/syscalls-m68k.txt
  src/include/override/sys/syscalls-mips64.txt
  src/include/override/sys/syscalls-mips64n32.txt
  src/include/override/sys/syscalls-mipso32.txt
  src/include/override/sys/syscalls-parisc.txt
  src/include/override/sys/syscalls-powerpc.txt
  src/include/override/sys/syscalls-powerpc64.txt
  src/include/override/sys/syscalls-riscv32.txt
  src/include/override/sys/syscalls-riscv64.txt
  src/include/override/sys/syscalls-s390.txt
  src/include/override/sys/syscalls-s390x.txt
  src/include/override/sys/syscalls-sh.txt
  src/include/override/sys/syscalls-sparc.txt
  src/include/override/sys/syscalls-x86_64.txt
  src/shared/seccomp-util.c
Labels: util-lib

NEWS: update date
  NEWS
Labels: documentation

NEWS: update contributors list
  NEWS
Labels: documentation

network: introduce hardware timestamping
  src/network/meson.build
  src/network/networkd-hwts.c
  src/network/networkd-hwts.h
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
Labels: build-system, meson, network

man: add note about extending machine-info to man page
  man/machine-info.xml
  tools/command_ignorelist
Labels: documentation

tools: ignore root element explicitly
  tools/check-version-history.py
Labels: none

tools: ignore root element explicitly in check-version-history
  tools/check-version-history.py
Labels: none

meson: update version numbers for v258~rc3
  meson.version
Labels: none

network: send shutdown RA when interface goes administratively down
  src/network/networkd-link.c
Labels: network

TEST-46-HOMED: homectl unregister and friends needs the target is inactive
  test/units/TEST-46-HOMED.sh
Labels: tests

TEST-46-HOMED: cleanup homedsshtest earlier
  test/units/TEST-46-HOMED.sh
Labels: tests

homed: do not print sensitive data when debug logging is enabled
  src/home/user-record-sign.c
Labels: none

network: send shutdown RA when interface goes administratively down
  src/network/networkd-link.c
Labels: network

TEST-46-HOMED: cleanup homedsshtest earlier
  test/units/TEST-46-HOMED.sh
Labels: tests

TEST-46-HOMED: homectl unregister and friends needs the target is inactive or so
  test/units/TEST-46-HOMED.sh
Labels: tests

DEBUG
  test/integration-tests/meson.build
  test/units/TEST-46-HOMED.sh
Labels: build-system, meson, tests

TEST-46-HOMED: homectl unregister and friends needs the target is inactive or absent
  test/units/TEST-46-HOMED.sh
Labels: tests

DEBUG
  test/integration-tests/meson.build
Labels: build-system, meson, tests

TEST-46-HOMED: homectl unregister and friends needs the target is inactive or absent
  test/units/TEST-46-HOMED.sh
Labels: tests

DEBUG
  test/integration-tests/meson.build
Labels: build-system, meson, tests

sd-bus: Add rqueue eventfd
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-bus/bus-internal.h
  src/libsystemd/sd-bus/bus-socket.c
  src/libsystemd/sd-bus/sd-bus.c
  src/systemd/sd-bus.h
Labels: sd-bus

Add Razer Cobra mouse to hwdb
  hwdb.d/70-mouse.hwdb
Labels: hwdb

Add Razer Cobra mouse to hwdb
  hwdb.d/70-mouse.hwdb
Labels: hwdb

Add Razer Cobra mouse to hwdb
  hwdb.d/70-mouse.hwdb
Labels: hwdb

homed: do not print sensitive data when debug logging is enabled
  src/home/user-record-sign.c
Labels: none

update TODO
  TODO
Labels: none

TEST-46-HOMED: cleanup homedsshtest earlier
  test/units/TEST-46-HOMED.sh
Labels: tests

DEBUG
  test/integration-tests/meson.build
Labels: build-system, meson, tests

TEST-46-HOMED: homectl unregister and friends needs the target is inactive or absent
  test/units/TEST-46-HOMED.sh
Labels: tests

core/unit: use UNIT_FOREACH_DEPENDENCY_SAFE() at several more places
  src/core/unit.c
Labels: none

network: send shutdown RA when interface goes administratively down
  src/network/networkctl-misc.c
  src/network/networkd-manager-varlink.c
  src/shared/varlink-io.systemd.Network.c
Labels: network, util-lib

core/unit: use UNIT_FOREACH_DEPENDENCY_SAFE() at several more places
  src/core/unit.c
Labels: none

TEST-46-HOMED: homectl unregister and friends needs the target is inactive or absent
  test/units/TEST-46-HOMED.sh
Labels: tests

DEBUG
  test/integration-tests/meson.build
Labels: build-system, meson, tests

systemd-boot: don't always log NX_COMPAT info
  src/boot/linux.c
Labels: sd-boot/sd-stub/bootctl

systemd-sysctl: refactor parse_file() function
  src/sysctl/sysctl.c
Labels: sysctl

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'
