Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'

libsystemd: Skip _sd-common.h include check when __clang_analyzer__ is defined
  src/systemd/_sd-common.h
Labels: none

logind: use manager_get_session_by_leader in manager_get_session_by_pidref
  src/login/logind-core.c
Labels: login

sd-common: do not fail preprocessor when intellisense is parsing the header
  src/systemd/_sd-common.h
Labels: none

macro: EDG compiler frontends doesn't support enum types
  src/systemd/_sd-common.h
Labels: none

test-local-addresses: use ASSERT_OK() and friends
  src/test/test-local-addresses.c
Labels: tests

test-local-addresses: enable IPv6 on the test interface
  src/test/test-local-addresses.c
Labels: tests

fix: UnsetProperty example in systemd.link.xml
  man/systemd.link.xml
Labels: documentation

openssl-util: allow to build with openssl without UI support
  src/shared/openssl-util.c
  src/shared/openssl-util.h
Labels: util-lib

mkosi: move efi packages to conditional drop-in
  mkosi/mkosi.conf.d/centos-fedora/mkosi.conf
  mkosi/mkosi.conf.d/centos/mkosi.conf.d/20-efi.conf
  mkosi/mkosi.conf.d/centos/mkosi.conf.d/20-epel-packages.conf
  mkosi/mkosi.conf.d/debian-ubuntu/mkosi.conf.d/debug.conf
  mkosi/mkosi.conf.d/debian-ubuntu/mkosi.conf.d/efi-debug.conf
  mkosi/mkosi.conf.d/fedora/mkosi.conf
  mkosi/mkosi.conf.d/fedora/mkosi.conf.d/efi.conf
  mkosi/mkosi.conf.d/opensuse/mkosi.conf
  mkosi/mkosi.conf.d/opensuse/mkosi.conf.d/debug.conf
  mkosi/mkosi.conf.d/opensuse/mkosi.conf.d/efi-debug.conf
  mkosi/mkosi.conf.d/opensuse/mkosi.conf.d/efi.conf
Labels: mkosi

mkosi: libclang-rt-dev is not available on s390x
  mkosi/mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.conf
Labels: mkosi

ci: install packages available only on x86_64/arm64 on those arches only
  .github/workflows/build_test.sh
  .github/workflows/unit_tests.sh
Labels: tests

ci: also install llvm-<version>
  .github/workflows/build_test.sh
Labels: tests

ukify: when decompressing kernel before signing, call verify on decompressed file
  src/ukify/ukify.py
Labels: uki

test-dirent-util: remove strange whitespace
  src/test/test-dirent-util.c
Labels: tests

tests: use log_tests_skipped more, use shorter form
  src/test/test-cgroup.c
  src/test/test-fs-util.c
  src/test/test-mempress.c
Labels: tests

test: do not fail if scsi_debug module not available
  test/units/TEST-17-UDEV.10.sh
  test/units/TEST-35-LOGIN.sh
Labels: tests

test: bump machinectl timeouts from 10s to 30s
  test/units/TEST-13-NSPAWN.machined.sh
  test/units/TEST-13-NSPAWN.nss-mymachines.sh
Labels: tests

test: /lib64 is not guaranteed to exist, do not try to copy it if not
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, tests

man: Fix typo in name of sd_id128_to_uuid_string
  man/sd_id128_to_string.xml
Labels: documentation

ci: use -p and -f when creating dirs/removing files in mkosi job btrfs setup
  .github/workflows/mkosi.yml
Labels: mkosi, tests

ask-password-api: Add more debug logging
  src/shared/ask-password-api.c
Labels: ask-password, util-lib

meson: do not reference variable unless feature that defines it is enabled
  src/test/meson.build
Labels: build-system, meson, tests

meson: call qemu with -machine virt on aarch64
  test/integration-tests/TEST-64-UDEV-STORAGE/meson.build
Labels: build-system, meson, tests

hwdb: add 70-maker-tools.hwdb to meson.build
  hwdb.d/meson.build
Labels: build-system, meson

man: also use title case in systemd.service(5)
  man/systemd.service.xml
Labels: documentation

vmspawn: tighten parser of EXIT_STATUS=
  src/vmspawn/vmspawn.c
Labels: vmspawn

test: invoke systemd-nspawn properly from a session
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, tests

man: mention relative PIDFile= in user service is prefixed with $XDG_RUNTIME_DIR
  man/systemd.service.xml
Labels: documentation

core: allow to use PIDFile= in user session services
  src/core/service.c
Labels: none

units/initrd-cleanup.service: Conflict with emergency.target
  units/initrd-cleanup.service
Labels: units

cgroup: handle ENODEV on cg_read_pid() gracefully
  src/basic/cgroup-util.c
  src/core/dbus-unit.c
  src/shared/cgroup-setup.c
  src/shared/cgroup-show.c
Labels: cgroups, util-lib

ukify: fix version detection for aarch64 zboot kernels with gzip or lzma compression
  src/ukify/ukify.py
Labels: uki

ci: also set TEST_RUNNER environment variable in coverage test
  .github/workflows/coverage.yml
Labels: tests

vmspawn: Disable hpet for vmspawn x86 virtual machines
  src/vmspawn/vmspawn-util.h
  src/vmspawn/vmspawn.c
Labels: vmspawn

mkosi: update mkosi commit reference to 184472f0f1f831ca29953546ec01fd941ff763a6
  .github/workflows/coverage.yml
  .github/workflows/linter.yml
  .github/workflows/mkosi.yml
  mkosi/mkosi.conf
Labels: mkosi, tests

mkosi: Simplify centos/fedora configuration
  mkosi/mkosi.conf.d/centos-fedora/mkosi.conf
  mkosi/mkosi.conf.d/centos-fedora/mkosi.conf.d/efi.conf
  mkosi/mkosi.conf.d/centos/mkosi.conf
  mkosi/mkosi.conf.d/centos/mkosi.conf.d/10-epel.conf
  mkosi/mkosi.conf.d/centos/mkosi.conf.d/20-efi.conf
  mkosi/mkosi.conf.d/centos/mkosi.conf.d/20-epel-packages.conf
  mkosi/mkosi.conf.d/debian-ubuntu/mkosi.conf.d/efi-debug.conf
  mkosi/mkosi.conf.d/fedora/mkosi.conf
  mkosi/mkosi.conf.d/fedora/mkosi.conf.d/efi.conf
  mkosi/mkosi.conf.d/opensuse/mkosi.conf.d/efi-debug.conf
  mkosi/mkosi.conf.d/opensuse/mkosi.conf.d/efi.conf
Labels: mkosi

mkosi: Drop unnecessary [Match] sections
  mkosi/mkosi.conf.d/arch/mkosi.conf.d/pkgenv.conf
  mkosi/mkosi.conf.d/centos-fedora/mkosi.conf.d/pkgenv.conf
  mkosi/mkosi.conf.d/debian-ubuntu/mkosi.conf.d/pkgenv.conf
  mkosi/mkosi.conf.d/opensuse/mkosi.conf.d/pkgenv.conf
Labels: none

ruff: Default to python 3.7 version
  ruff.toml
Labels: none

test-cgroup: Ignore ENOENT from cg_create()
  src/test/test-cgroup.c
Labels: tests

mkosi: Drop epel-next repository for CentOS
  mkosi/mkosi.conf.d/centos/mkosi.conf
Labels: mkosi
