Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'

journald: add debug logs around offlining/archiving/rotating/varlink operations
  src/journal/journald-server.c
  src/libsystemd/sd-journal/journal-file.c
  src/shared/journal-file-util.c
Labels: journal, util-lib

TEST-13-NSPAWN: wait for a few seconds after markers found
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, tests

virt: Actually use DMI detection on RISC-V as well
  src/basic/virt.c
Labels: detect-virt, util-lib

Correct order for implied time & date specifications.
  man/systemd.time.xml
Labels: documentation

mkosi: update mkosi commit reference to 655baf24474a6f0732ec1b82a71c2f6fe4eeeb49
  .github/workflows/coverage.yml
  .github/workflows/linter.yml
  .github/workflows/mkosi.yml
  mkosi/mkosi.conf
Labels: mkosi, tests

man: fix @BUILD_ROOT@ insertion
  man/html.in
  man/man.in
Labels: documentation

man: drop inadvertently added -x, make shellcheck clean
  man/html.in
  man/man.in
Labels: documentation

meson: drop explicit custom_target names
  catalog/meson.build
  docs/sysvinit/meson.build
  factory/templates/meson.build
  hwdb.d/meson.build
  man/meson.build
  meson.build
  rules.d/meson.build
  shell-completion/bash/meson.build
  shell-completion/zsh/meson.build
  src/basic/meson.build
  src/boot/meson.build
  src/core/bpf/restrict_fs/meson.build
  src/core/bpf/restrict_ifaces/meson.build
  src/core/bpf/socket_bind/meson.build
  src/core/meson.build
  src/home/meson.build
  src/journal-remote/meson.build
  src/journal/meson.build
  src/kernel-install/meson.build
  src/libsystemd/meson.build
  src/libudev/meson.build
  src/login/meson.build
  src/network/bpf/sysctl_monitor/meson.build
  src/network/meson.build
  src/nspawn/meson.build
  src/nsresourced/bpf/userns_restrict/meson.build
  src/resolve/meson.build
  src/rpm/meson.build
  src/run/meson.build
  src/shared/meson.build
  src/ssh-generator/meson.build
  src/test/meson.build
  src/timesync/meson.build
  src/udev/meson.build
  src/userdb/meson.build
  sysctl.d/meson.build
  sysusers.d/meson.build
  test/fuzz/meson.build
  tmpfiles.d/meson.build
  units/meson.build
Labels: build-system, catalog, documentation, journal, journal-remote, login, meson, network, rpm, run, sd-boot/sd-stub/bootctl, tests, udev, units, util-lib

meson: adjust indentation
  meson.build
  src/login/meson.build
  src/timesync/meson.build
Labels: build-system, login, meson

udev/spawn: continue to read stdout even if the result buffer is full
  src/udev/udev-spawn.c
Labels: udev

udev/spawn: continue to read stdout even if the result buffer is full
  src/udev/udev-spawn.c
Labels: udev

udev/spawn: continue to read stdout even if the result buffer is full
  src/udev/udev-spawn.c
Labels: udev

network/bridge-vlan: allow to configure bridge vlan on stacked bridge master interface
  src/network/networkd-bridge-vlan.c
Labels: network

terminal-util: switch from TCSADRAIN to TCSANOW for all tcsetattr() calls
  src/basic/terminal-util.c
  src/shared/ask-password-api.c
Labels: ask-password, util-lib

journal: replace a bunch of assert() with friendlier checks
  src/libsystemd/sd-journal/journal-file.c
Labels: journal

journal: use EBADMSG for invalid data in file mmap
  src/libsystemd/sd-journal/journal-file.c
Labels: journal

journal-file: let's make journal_file_copy_entry() robust against concurrent writing of the source
  src/libsystemd/sd-journal/journal-file.c
Labels: journal

compress: get rid of a bunch of 'else'
  src/basic/compress.c
Labels: util-lib

journalctl: track more closely whether we're within --until= range
  src/journal/journalctl-show.c
Labels: journal

journal: determine compression once, not twice
  src/libsystemd/sd-journal/journal-file.c
Labels: journal

ukify: fix parsing uname version with '+'
  src/ukify/ukify.py
Labels: uki

journal: add 'const' at one more place
  src/libsystemd/sd-journal/journal-file.c
Labels: journal

networkctl-config-file: validate args are valid filenames
  src/network/networkctl-config-file.c
  test/units/TEST-74-AUX-UTILS.networkctl.sh
Labels: network, tests

test: Fix typing error in integration-test-wrapper.py
  test/integration-tests/integration-test-wrapper.py
Labels: tests

hwdb: update to main@{2025-08-04}
  hwdb.d/20-OUI.hwdb
  hwdb.d/20-acpi-vendor.hwdb
  hwdb.d/20-acpi-vendor.hwdb.patch
  hwdb.d/20-pci-classes.hwdb
  hwdb.d/20-pci-vendor-model.hwdb
  hwdb.d/20-usb-vendor-model.hwdb
  hwdb.d/60-autosuspend-fingerprint-reader.hwdb
  hwdb.d/60-keyboard.hwdb
  hwdb.d/60-sensor.hwdb
  hwdb.d/70-maker-tools.hwdb
  hwdb.d/acpi_id_registry.csv
  hwdb.d/ma-medium.txt
  hwdb.d/ma-small.txt
  hwdb.d/pci.ids
  hwdb.d/usb.ids
Labels: hwdb

TEST-64-UDEV-STORAGE: mdadm --zero-superblock seems to not support symlink
  test/units/TEST-64-UDEV-STORAGE.sh
Labels: tests

TEST-64-UDEV-STORAGE: mdadm --zero-superblock seems to not support symlink
  test/units/TEST-64-UDEV-STORAGE.sh
Labels: tests

Retry mechanism for timed out kernel messages
  src/basic/errno-util.h
  src/network/networkd-queue.c
  src/network/networkd-queue.h
Labels: network, util-lib

stub: also pickup global .raw sysexts, like per-UKI ones
  man/systemd-stub.xml
  src/boot/stub.c
Labels: documentation, sd-boot/sd-stub/bootctl

po: Translated using Weblate (Kabyle)
  po/kab.po
Labels: l10n üåç

po: Translated using Weblate (Kabyle)
  po/kab.po
Labels: l10n üåç

udev/spawn: continue to read stdout even if the result buffer is full
  src/udev/udev-spawn.c
Labels: udev

udev/spawn: continue to read stdout even if the result buffer is full
  src/udev/udev-spawn.c
Labels: udev

boot: add support for installing fwupd capsules
  src/boot/boot.c
  src/boot/device-path-util.c
  src/boot/device-path-util.h
  src/boot/efi-efivars.c
  src/boot/efi-efivars.h
  src/boot/efi.h
  src/boot/fwupd.c
  src/boot/fwupd.h
  src/boot/meson.build
  src/bootctl/bootctl-status.c
  src/fundamental/efivars-fundamental.h
Labels: build-system, meson, sd-boot/sd-stub/bootctl, util-lib

udev/spawn: continue to read stdout even if the result buffer is full
  src/udev/udev-spawn.c
Labels: udev

TEST-64-UDEV-STORAGE: mdadm --zero-superblock seems to not support symlink
  test/units/TEST-64-UDEV-STORAGE.sh
Labels: tests

TEST-64-UDEV-STORAGE: mdadm --zero-superblock seems to not support symlink
  test/units/TEST-64-UDEV-STORAGE.sh
Labels: tests

DBG
  .github/workflows/mkosi.yml
  test/units/TEST-50-DISSECT.dissect.sh
Labels: dissect, mkosi, tests

TEST-23-UNIT-FILE: skip verifying masked unit
  test/units/TEST-23-UNIT-FILE.verify-unit-files.sh
Labels: tests

TEST-74-AUX-UTILS: fail earlier when systemd-run fail to reconnect to bus
  test/units/TEST-74-AUX-UTILS.run.sh
Labels: tests
