Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'

hostname: add missing varlink IDL fields
  src/shared/varlink-io.systemd.Hostname.c
Labels: util-lib

test: do not call GetUserRecord without "service" argument
  test/units/TEST-74-AUX-UTILS.varlinkctl.sh
Labels: tests

network: remove unnecessary fd saved in fd-store
  src/network/networkd-serialize.c
Labels: network

bootctl: add missing varlink IDL entries
  src/shared/varlink-io.systemd.BootControl.c
Labels: util-lib

core/unit: do not load drop-in configs for masked unit files
  src/core/unit.c
Labels: none

homectl: add recovery key support to update command
  NEWS
  man/homectl.xml
  src/home/homectl.c
Labels: documentation

TEST-07-PID1: add test cases for mask/unmask unit
  test/units/TEST-07-PID1.mask.sh
Labels: tests

TEST-07-PID1: add test cases for mask/unmask unit
  test/units/TEST-07-PID1.mask.sh
Labels: tests

core/unit: do not load drop-in configs for masked unit files
  src/core/unit.c
Labels: none

TEST-07-PID1: add test cases for mask/unmask unit
  test/units/TEST-07-PID1.mask.sh
Labels: tests

core/unit: do not load drop-in configs for masked unit files
  src/core/unit.c
Labels: none

test: add comment about custom autorelabel.service
  test/units/autorelabel.service
Labels: tests

docs: fix yaml error in OSC_CONTEXT.md
  docs/OSC-CONTEXT.md
Labels: documentation

test: re-enable journal checks for varlink-idl and so on
  test/integration-tests/meson.build
  test/test.service.in
  test/units/TEST-13-NSPAWN.machined.sh
  test/units/TEST-21-DFUZZER.sh
  test/units/TEST-82-SOFTREBOOT.sh
  test/units/TEST-88-UPGRADE.sh
  test/units/end.service
  test/units/post.sh
  test/units/testsuite.target
Labels: build-system, meson, tests

test: re-enable journal checks for varlink-idl and so on
  test/test.service.in
  test/units/TEST-13-NSPAWN.machined.sh
  test/units/TEST-21-DFUZZER.sh
  test/units/TEST-82-SOFTREBOOT.sh
  test/units/TEST-88-UPGRADE.sh
  test/units/end.service
  test/units/post.sh
  test/units/testsuite.target
Labels: tests

TEST-87-AUX-UTILS-VM: rotate journal at one more place
  test/units/TEST-87-AUX-UTILS-VM.coredump.sh
Labels: coredump, tests

TEST-87-AUX-UTILS-VM: rotate journal at one more place
  test/units/TEST-87-AUX-UTILS-VM.coredump.sh
Labels: coredump, tests

install: Coding style fixlet
  src/shared/install.c
Labels: util-lib

install: Fall back to system presets if there are no initrd presets
  src/shared/install.c
Labels: util-lib

Extend test-dlopen-so to also cover cases when built without support
  src/basic/compress.c
  src/basic/compress.h
  src/basic/gcrypt-util.c
  src/basic/gcrypt-util.h
  src/shared/elf-util.c
  src/shared/elf-util.h
  src/shared/libfido2-util.c
  src/shared/libfido2-util.h
  src/shared/password-quality-util-passwdqc.c
  src/shared/password-quality-util-passwdqc.h
  src/shared/password-quality-util-pwquality.c
  src/shared/password-quality-util-pwquality.h
  src/shared/qrcode-util.c
  src/shared/qrcode-util.h
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
  src/test/test-dlopen-so.c
Labels: tests, tpm2, util-lib

Extend test-dlopen-so to also cover cases when built without support
  src/basic/compress.c
  src/basic/compress.h
  src/basic/gcrypt-util.c
  src/basic/gcrypt-util.h
  src/shared/elf-util.c
  src/shared/elf-util.h
  src/shared/libfido2-util.c
  src/shared/libfido2-util.h
  src/shared/password-quality-util-passwdqc.c
  src/shared/password-quality-util-passwdqc.h
  src/shared/password-quality-util-pwquality.c
  src/shared/password-quality-util-pwquality.h
  src/shared/qrcode-util.c
  src/shared/qrcode-util.h
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
  src/test/test-dlopen-so.c
Labels: tests, tpm2, util-lib

Extend test-dlopen-so to also cover cases when built without support
  src/basic/compress.c
  src/basic/compress.h
  src/basic/gcrypt-util.c
  src/basic/gcrypt-util.h
  src/shared/elf-util.c
  src/shared/elf-util.h
  src/shared/libfido2-util.c
  src/shared/libfido2-util.h
  src/shared/password-quality-util-passwdqc.c
  src/shared/password-quality-util-passwdqc.h
  src/shared/password-quality-util-pwquality.c
  src/shared/password-quality-util-pwquality.h
  src/shared/qrcode-util.c
  src/shared/qrcode-util.h
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
  src/test/test-dlopen-so.c
Labels: tests, tpm2, util-lib

hostname: add missing varlink IDL fields
  src/shared/varlink-io.systemd.Hostname.c
Labels: util-lib

bootctl: add missing varlink IDL entries
  src/shared/varlink-io.systemd.BootControl.c
Labels: util-lib

test: re-enable journal checks for varlink-idl and so on
  test/test.service.in
  test/units/TEST-13-NSPAWN.machined.sh
  test/units/TEST-21-DFUZZER.sh
  test/units/TEST-82-SOFTREBOOT.sh
  test/units/TEST-88-UPGRADE.sh
  test/units/end.service
  test/units/post.sh
  test/units/testsuite.target
Labels: tests

network: remove unnecessary fd saved in fd-store
  src/network/networkd-serialize.c
Labels: network

core/varlink: do not call io.systemd.oom.ReportManagedOOMCGroups() with empty "cgroups" parameter
  src/core/varlink.c
Labels: none

test: do not call GetUserRecord without "service" argument
  test/units/TEST-74-AUX-UTILS.varlinkctl.sh
Labels: tests

core/varlink: do not send unrealized cgroups to oomd
  src/core/varlink.c
Labels: none

TEST-13-NSPAWN: Fix typo
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, tests

nspawn: Drop CAP_NET_BIND_SERVICE if in userns with identity mapping
  src/nspawn/nspawn.c
Labels: nspawn

test: Add test for nspawn's handling of cap_net_bind_service
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, tests

core/varlink: do not send unrealized cgroups to oomd
  src/core/varlink.c
Labels: none

network: remove unnecessary fd saved in fd-store
  src/network/networkd-serialize.c
Labels: network

test: re-enable journal checks for varlink-idl and so on
  test/test.service.in
  test/units/TEST-13-NSPAWN.machined.sh
  test/units/TEST-21-DFUZZER.sh
  test/units/TEST-82-SOFTREBOOT.sh
  test/units/TEST-88-UPGRADE.sh
  test/units/end.service
  test/units/post.sh
  test/units/testsuite.target
Labels: tests

core/varlink: do not call io.systemd.oom.ReportManagedOOMCGroups() with empty "cgroups" parameter
  src/core/varlink.c
Labels: none

test: do not call GetUserRecord without "service" argument
  test/units/TEST-74-AUX-UTILS.varlinkctl.sh
Labels: tests

ethtool-util: fix setting advertising link modes
  src/shared/ethtool-util.c
Labels: util-lib

sd-netlink: introduce nested union by u8 type
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-types-internal.h
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-types.h
Labels: sd-netlink

sd-netlink: introduce variable type
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-types.h
Labels: sd-netlink
