Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

TEST-21-DFUZZER: split out test_service()
  test/units/TEST-21-DFUZZER.sh
Labels: tests

TEST-21-DFUZZER: check sanitizer report after each test case finished
  test/units/TEST-21-DFUZZER.sh
Labels: tests

[DEBUG] Revert "network: use the same hash ops used when allocated"
  src/network/networkd-link-bus.c
Labels: network

TEST-21-DFUZZER: check sanitizer report after each test case finished
  test/units/TEST-21-DFUZZER.sh
Labels: tests

[DEBUG] Revert "network: use the same hash ops used when allocated"
  src/network/networkd-link-bus.c
Labels: network

test-dns-answer: fix misuse of ASSERT_TRUE/FALSE()
  src/resolve/test-dns-answer.c
Labels: tests

localectl: use XKB path specified from environment variable
  docs/ENVIRONMENT.md
  src/locale/localectl.c
Labels: documentation, locale

updatectl: allow interactive authorization
  src/sysupdate/updatectl.c
Labels: none

test-dns-question: use ASSERT_OK_POSITIVE/ZERO() rather than ASSERT_TRUE/FALSE()
  src/resolve/test-dns-question.c
Labels: tests

test-dns-question: use ASSERT_OK_POSITIVE/ZERO() rather than ASSERT_TRUE/FALSE()
  src/resolve/test-dns-question.c
Labels: tests

test-dns-question: use ASSERT_OK_POSITIVE/ZERO() rather than ASSERT_TRUE/FALSE()
  src/resolve/test-dns-question.c
Labels: tests

man: fix typo
  man/systemd-resolved.service.xml
Labels: documentation, resolve

resolve/varlink: replace json_dispatch_address() with json_dispatch_byte_array_iovec()
  src/resolve/resolved-varlink.c
Labels: resolve

resolve/varlink: use sd_json_dispatch_const_string() at more places
  src/resolve/resolved-varlink.c
Labels: resolve

]boot: add support for installing fwupd capsules
  src/boot/boot.c
  src/boot/device-path-util.c
  src/boot/device-path-util.h
  src/boot/efi-efivars.c
  src/boot/efi-efivars.h
  src/boot/efi.h
  src/boot/fwupd.c
  src/boot/fwupd.h
  src/boot/meson.build
  src/bootctl/bootctl-status.c
  src/fundamental/efivars-fundamental.h
Labels: build-system, meson, sd-boot/sd-stub/bootctl, util-lib

boot: add support for installing fwupd capsules
  src/boot/boot.c
  src/boot/device-path-util.c
  src/boot/device-path-util.h
  src/boot/efi-efivars.c
  src/boot/efi-efivars.h
  src/boot/efi.h
  src/boot/fwupd.c
  src/boot/fwupd.h
  src/boot/meson.build
  src/bootctl/bootctl-status.c
  src/fundamental/efivars-fundamental.h
Labels: build-system, meson, sd-boot/sd-stub/bootctl, util-lib

boot: add support for installing fwupd capsules
  src/boot/boot.c
  src/boot/device-path-util.c
  src/boot/device-path-util.h
  src/boot/efi-efivars.c
  src/boot/efi-efivars.h
  src/boot/efi.h
  src/boot/fwupd.c
  src/boot/fwupd.h
  src/boot/meson.build
  src/bootctl/bootctl-status.c
  src/fundamental/efivars-fundamental.h
Labels: build-system, meson, sd-boot/sd-stub/bootctl, util-lib

test: include unistd.h for _exit() used in ASSERT_SIGNAL()
  src/shared/tests.h
Labels: tests, util-lib

udev-spawn: Fix spawned process timeout issue
  src/udev/udev-spawn.c
Labels: udev

boot: add support for installing fwupd capsules
  src/boot/boot.c
  src/boot/device-path-util.c
  src/boot/device-path-util.h
  src/boot/efi-efivars.c
  src/boot/efi-efivars.h
  src/boot/efi.h
  src/boot/fwupd.c
  src/boot/fwupd.h
  src/boot/meson.build
  src/bootctl/bootctl-status.c
  src/fundamental/efivars-fundamental.h
Labels: build-system, meson, sd-boot/sd-stub/bootctl, util-lib

test: include unistd.h for _exit() used in ASSERT_SIGNAL()
  src/shared/tests.h
Labels: tests, util-lib

test-dns-question: use ASSERT_OK_POSITIVE/ZERO() rather than ASSERT_TRUE/FALSE()
  src/resolve/test-dns-question.c
Labels: tests

hwdb: update
  hwdb.d/20-OUI.hwdb
  hwdb.d/20-acpi-vendor.hwdb.patch
  hwdb.d/20-usb-vendor-model.hwdb
  hwdb.d/ma-medium.txt
  hwdb.d/ma-small.txt
  hwdb.d/usb.ids
Labels: hwdb

NEWS: update date
  NEWS
Labels: documentation

NEWS: note new items since RC1
  NEWS
Labels: documentation

NEWS: update contributors list
  NEWS
Labels: documentation

hwdb: update autosuspend rules
  hwdb.d/60-autosuspend-fingerprint-reader.hwdb
Labels: hwdb

nspawn: Allow bpf() syscall if CAP_BPF is retained
  src/nspawn/nspawn-seccomp.c
Labels: nspawn

docs/TPM2_PCR_MEASUREMENTS: link to the PCR registry page
  docs/TPM2_PCR_MEASUREMENTS.md
Labels: documentation

docs/TPM2_PCR_MEASUREMENTS: fix typo
  docs/TPM2_PCR_MEASUREMENTS.md
Labels: documentation

tools: Fix fetch-mkosi changelog generation
  tools/fetch-mkosi.py
Labels: mkosi

mkosi: update mkosi commit reference to 0d1143150835b21c1bfe64428df5f45b558280b1
  .github/workflows/coverage.yml
  .github/workflows/linter.yml
  .github/workflows/mkosi.yml
  mkosi/mkosi.conf
Labels: mkosi, tests

boot: downgrade log messages about invalid timeouts
  src/boot/boot.c
Labels: sd-boot/sd-stub/bootctl

timer: Do not recalculate monotonic elapse time on clock change
  src/core/timer.c
Labels: none

resolved: don't wait for TLS close_notify replies unnecessarily
  src/resolve/resolved-dnstls-openssl.c
Labels: resolve

meson: quote paths in generated systemd-runtest.env
  meson.build
Labels: build-system, meson

TEST-17-UDEV: check the exit code at last
  test/units/TEST-17-UDEV.11.sh
Labels: tests

logind: use memdup_suffix0() where appropiate
  src/login/logind-core.c
Labels: login

logind: pick up tty info from utmp only for tty sessions
  src/login/logind-core.c
Labels: login

logind: Don't match non-leader processes for utmp TTY determination
  src/login/logind-core.c
  src/login/logind.h
Labels: login

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'
