Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'

bootctl: automatically set --graceful when running in chroot
  man/bootctl.xml
  src/bootctl/bootctl.c
Labels: documentation, sd-boot/sd-stub/bootctl

Revert "cgroup-util: avoid alignment warning when accessing f_handle"
  src/basic/cgroup-util.c
Labels: cgroups, util-lib

cgroup-util: enforce alignment of f_handle
  src/basic/cgroup-util.c
Labels: cgroups, util-lib

meson: add instructions for adding new arch to syscall.h
  src/include/override/sys/generate-syscall.py
  src/include/override/sys/meson.build
  src/include/override/sys/syscall.h
Labels: build-system, meson

syscalls-table: add sh/sh64 and regenerated table
  src/include/override/sys/generate-syscall.py
  src/include/override/sys/meson.build
  src/include/override/sys/syscall.h
  src/include/override/sys/syscalls-sh.txt
  src/include/override/sys/syscalls-sh64.txt
Labels: build-system, meson

cgroup-util: enforce alignment of f_handle
  src/basic/cgroup-util.c
Labels: cgroups, util-lib

syscalls-table: add sh and regenerated table
  src/include/override/sys/generate-syscall.py
  src/include/override/sys/meson.build
  src/include/override/sys/syscall.h
  src/include/override/sys/syscalls-sh.txt
Labels: build-system, meson

bootctl: automatically set --graceful when running in chroot
  man/bootctl.xml
  src/bootctl/bootctl.c
Labels: documentation, sd-boot/sd-stub/bootctl

basic/stat-util: avoid access syscall
  src/basic/stat-util.c
Labels: util-lib

meson: rework generation of file system lookup helpers
  src/basic/check-filesystems.sh
  src/basic/filesystem-sets.py
  src/basic/filesystems-gperf.gperf
  src/basic/filesystems.c
  src/basic/generate-filesystem-list.py
  src/basic/generate-filesystem-switch-case.py
  src/basic/meson.build
Labels: build-system, meson, util-lib

Rework file system group lookups
  src/basic/filesystem-sets.py
  src/basic/filesystems.c
  src/basic/meson.build
Labels: build-system, meson, util-lib

cpu-set-util: fix identical ternary expression
  src/shared/cpu-set-util.c
Labels: util-lib

install: skip later first_word() calls if one of earlier calls passes
  src/shared/install.c
Labels: util-lib

fuzz-efi-string: add missing OOM check
  src/boot/fuzz-efi-string.c
Labels: sd-boot/sd-stub/bootctl

core/exec-invoke: check size of read size
  src/core/exec-invoke.c
Labels: none

test: add explicit test cases for cpu_set_add() and cpu_set_add_range()
  src/shared/cpu-set-util.c
  src/shared/cpu-set-util.h
  src/test/test-cpu-set-util.c
Labels: tests, util-lib

resolved: use usec_add() at one more place
  src/resolve/resolved-dns-browse-services.c
Labels: resolve

delta: add missing error check
  src/delta/delta.c
Labels: delta

fs-util: avoid overflow in MODE_TO_PTR() with MODE_INVALID
  src/basic/fs-util.h
Labels: util-lib

ordered-set: avoid overflow
  src/basic/ordered-set.c
  src/test/test-ordered-set.c
Labels: tests, util-lib

cpu-set-util: check if cpu set is already allocated
  src/shared/cpu-set-util.c
Labels: util-lib

NEWS: announce legacy iptables/libiptc support will be dropped in v259
  NEWS
Labels: documentation

cgroup-util: enforce alignment of f_handle
  src/basic/cgroup-util.c
Labels: cgroups, util-lib

bootctl: automatically set --graceful when running in chroot
  man/bootctl.xml
  src/bootctl/bootctl.c
Labels: documentation, sd-boot/sd-stub/bootctl

cpu-set-util: check if cpu set is already allocated
  src/shared/cpu-set-util.c
Labels: util-lib

fs-util: avoid overflow in MODE_TO_PTR() with MODE_INVALID
  src/basic/fs-util.h
Labels: util-lib

ordered-set: avoid overflow
  src/basic/ordered-set.c
  src/test/test-ordered-set.c
Labels: tests, util-lib

fuzz-efi-string: add missing OOM check
  src/boot/fuzz-efi-string.c
Labels: sd-boot/sd-stub/bootctl

test: add explicit test cases for cpu_set_add() and cpu_set_add_range()
  src/shared/cpu-set-util.c
  src/shared/cpu-set-util.h
  src/test/test-cpu-set-util.c
Labels: tests, util-lib

install: skip later first_word() calls if one of earlier calls passes
  src/shared/install.c
Labels: util-lib

delta: add missing error check
  src/delta/delta.c
Labels: delta

TEST-21-DFUZZER: update the list of destructive methods
  test/units/TEST-21-DFUZZER.sh
Labels: tests

TEST-21-DFUZZER: enable services to be tested
  test/units/TEST-21-DFUZZER.sh
Labels: tests

TEST-21-DFUZZER: first test session bus, then service bus, finally system bus
  test/units/TEST-21-DFUZZER.sh
Labels: tests

DEBUG
  test/integration-tests/meson.build
  test/units/TEST-21-DFUZZER.sh
Labels: build-system, meson, tests

DEBUG
  test/integration-tests/meson.build
  test/units/TEST-21-DFUZZER.sh
Labels: build-system, meson, tests

DEBUG
  test/integration-tests/meson.build
  test/units/TEST-21-DFUZZER.sh
Labels: build-system, meson, tests

TEST-21-DFUZZER: enable services to be tested
  test/units/TEST-21-DFUZZER.sh
Labels: tests

TEST-64-UDEV-STORAGE: wait for partition devices being created before calling udevadm trigger
  test/units/TEST-64-UDEV-STORAGE.sh
Labels: tests

DEBUG: use user
  test/units/TEST-54-CREDS.sh
Labels: tests
