Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'

man: update sd_path_lookup* with SD_PATH_SEARCH_SYSCTL
  man/sd_path_lookup.xml
Labels: documentation

systemd-path: add new type SD_PATH_SEARCH_SYSCTL
  src/path/path-tool.c
Labels: none

systemd-sysctl: add SD_PATH_SEARCH_SYSCTL
  src/sysctl/sysctl.c
Labels: sysctl

systemd-sysctl: refactor parse_file() function
  src/sysctl/sysctl.c
Labels: sysctl

libsystemd: add new type SD_PATH_SEARCH_SYSCTL for sd_path_lookup*
  src/libsystemd/sd-path/sd-path.c
  src/systemd/sd-path.h
Labels: sd-path

systemd-sysctl: refactor parse_file() function
  src/sysctl/sysctl.c
Labels: sysctl

sd-journal: use -EBADF for invalidated file descriptor
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal

sd-journal: resolve paths passed to sd_journal_open_files() and friends
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal

network: send shutdown RA when interface goes administratively down
  src/network/networkctl-misc.c
  src/network/networkd-manager-varlink.c
  src/network/org.freedesktop.network1.policy
  src/shared/varlink-io.systemd.Network.c
Labels: network, util-lib

network: send shutdown RA when interface goes administratively down
  src/network/networkctl-misc.c
  src/network/networkd-manager-varlink.c
  src/network/org.freedesktop.network1.policy
  src/shared/varlink-io.systemd.Network.c
Labels: network, util-lib

shell-completion: align completion behavior with .service defaults
  shell-completion/bash/journalctl
  shell-completion/bash/systemctl.in
  shell-completion/bash/systemd-analyze
  shell-completion/bash/systemd-cgls
  shell-completion/zsh/_systemctl.in
  shell-completion/zsh/_systemd
  shell-completion/zsh/_systemd-analyze
  src/journal/journalctl-misc.c
  src/journal/journalctl.c
  src/journal/journalctl.h
  src/systemctl/systemctl-list-unit-files.c
  src/systemctl/systemctl-list-units.c
  src/systemctl/systemctl.c
  src/systemctl/systemctl.h
  test/meson.build
Labels: build-system, cgls, journal, meson, systemctl, tests

systemd-sysctl: add SD_PATH_SEARCH_SYSCTL
  src/sysctl/sysctl.c
Labels: sysctl

man: update sd_path_lookup* with SD_PATH_SEARCH_SYSCTL
  man/sd_path_lookup.xml
Labels: documentation

systemd-sysctl: add SD_PATH_SEARCH_SYSCTL
  src/sysctl/sysctl.c
Labels: sysctl

man: update sd_path_lookup* with SD_PATH_SEARCH_SYSCTL
  man/sd_path_lookup.xml
Labels: documentation

machine-bind-user: Use machine in log messages instead of container
  src/shared/machine-bind-user.c
Labels: util-lib

machine-bind-user: Make home mount directory configurable
  src/nspawn/nspawn.c
  src/shared/machine-bind-user.c
  src/shared/machine-bind-user.h
Labels: nspawn, util-lib

vmspawn: Add --bind-user= and --bind-user-shell=
  man/systemd-vmspawn.xml
  src/vmspawn/vmspawn-mount.c
  src/vmspawn/vmspawn-mount.h
  src/vmspawn/vmspawn.c
Labels: documentation, vmspawn

hwdb: enable autosuspend for Dell DW5826e WWAN modem
  hwdb.d/60-autosuspend.hwdb
Labels: hwdb

po: Translated using Weblate (Chinese (Simplified) (zh_CN))
  po/zh_CN.po
Labels: l10n üåç

tmpfiles: don't relabel files in dry run mode
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles

po: Translated using Weblate (Chinese (Simplified) (zh_CN))
  po/zh_CN.po
Labels: l10n üåç

tmpfiles: don't relabel files in dry run mode
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles

modules-load: implement parallel module loading
  docs/ENVIRONMENT.md
  src/modules-load/modules-load.c
  test/units/TEST-87-AUX-UTILS-VM.modules-load.sh
Labels: documentation, modules-load, tests

resolve: include DNSSEC and DNSOverTLS modes in dumps
  src/resolve/resolvectl.c
  src/resolve/resolved-dns-scope.c
  src/shared/varlink-io.systemd.Resolve.Monitor.c
Labels: resolve, util-lib

tmpfiles: report precise symlink creation in dry-run
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles

resolve: re-create link unicast scopes on reload
  src/resolve/resolved-manager.c
Labels: resolve

test: ensure that reload updates DNSSEC and DNSOverTLS on link scopes
  test/units/TEST-75-RESOLVED.sh
Labels: tests

test: ensure that reload updates DNSSEC and DNSOverTLS on link scopes
  test/units/TEST-75-RESOLVED.sh
Labels: tests

test: use numeric prefixes in resolved.conf.d overrides
  test/units/TEST-75-RESOLVED.sh
Labels: tests

test: ensure that reload updates DNSSEC and DNSOverTLS on link scopes
  test/units/TEST-75-RESOLVED.sh
Labels: tests

test: ensure that reload updates DNSSEC and DNSOverTLS on link scopes
  test/units/TEST-75-RESOLVED.sh
Labels: tests

test: ensure that reload updates DNSSEC and DNSOverTLS on link scopes
  test/units/TEST-75-RESOLVED.sh
Labels: tests

test: ensure that reload updates DNSSEC and DNSOverTLS on link scopes
  test/units/TEST-75-RESOLVED.sh
Labels: tests

hwdb: enable autosuspend for Dell DW5826e WWAN modem
  hwdb.d/60-autosuspend.hwdb
Labels: hwdb

sd-boot: efi-log: use log levels internally
  src/boot/efi-log.c
  src/boot/efi-log.h
Labels: sd-boot/sd-stub/bootctl

boot: also remember auto-generated entries
  src/boot/boot.c
Labels: sd-boot/sd-stub/bootctl

core/swap: /sbin -> /usr/sbin
  meson.build
  meson_options.txt
  src/core/swap.c
Labels: build-system, meson

core/swap: /sbin -> /usr/sbin
  meson.build
  meson_options.txt
  src/core/swap.c
Labels: build-system, meson

units/*getty*: use /usr/sbin/agetty
  meson.build
  meson_options.txt
  test/units/TEST-35-LOGIN.sh
  units/console-getty.service.in
  units/container-getty@.service.in
  units/getty@.service.in
  units/serial-getty@.service.in
Labels: build-system, meson, tests, units
