Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

TEST-58-REPART: make sector size test as a normal test case
  test/units/TEST-58-REPART.sh
Labels: tests

TEST-58-REPART: add test case for btrfs specific options and MountPoint=
  test/units/TEST-58-REPART.sh
Labels: tests

man/repart.d: mention each field of MountPoint= needs to be quoted when contains colon
  man/repart.d.xml
Labels: documentation, repart

core/transaction: first drop unmergable jobs for anchor jobs
  src/core/transaction.c
Labels: none

test: add test case for issue #38765
  src/core/transaction.c
  test/units/TEST-87-AUX-UTILS-VM.sh
Labels: tests

fstab-generator: skip setting Where= when it contains spurious characters
  src/fstab-generator/fstab-generator.c
Labels: fstab-generator

mkosi: update mkosi commit reference to d45142e329550abc9c6fc63c1f1f86e5286d3d67
  .github/workflows/coverage.yml
  .github/workflows/linter.yml
  .github/workflows/mkosi.yml
  mkosi/mkosi.conf
Labels: mkosi, tests

mkosi: update mkosi commit reference to 5598b7f5793b6f63db5afaa39504a763fbaeb5cb
  .github/workflows/coverage.yml
  .github/workflows/linter.yml
  .github/workflows/mkosi.yml
  mkosi/mkosi.conf
Labels: mkosi, tests

meson: bump version to 257.9
  meson.version
Labels: none

TEST-07-PID1: add test cases for mask/unmask
  test/units/TEST-07-PID1.mask.sh
Labels: tests

network/dhcp-client: Saving UTC timestamp for lease time tracking
  src/libsystemd-network/sd-dhcp-lease.c
  src/network/networkd-dhcp4.c
Labels: network

Saving UTC timestamp for lease time tracking
  src/libsystemd-network/sd-dhcp-lease.c
  src/network/networkd-dhcp4.c
Labels: network

test: re-enable journal checks for varlink-idl and so on
  test/integration-tests/meson.build
  test/test.service.in
  test/units/TEST-13-NSPAWN.machined.sh
  test/units/TEST-21-DFUZZER.sh
  test/units/TEST-82-SOFTREBOOT.sh
  test/units/end.service
  test/units/post.sh
  test/units/testsuite.target
Labels: build-system, meson, tests

test: add comment about custom autorelabel.service
  test/units/autorelabel.service
Labels: tests

test: drop unnecessary copy of target units
  test/units/basic.target
  test/units/shutdown.target
  test/units/sockets.target
  test/units/sysinit.target
  test/units/timers.target
Labels: tests

test: re-enable journal checks for varlink-idl and so on
  test/integration-tests/meson.build
  test/test.service.in
  test/units/TEST-13-NSPAWN.machined.sh
  test/units/TEST-21-DFUZZER.sh
  test/units/TEST-82-SOFTREBOOT.sh
  test/units/end.service
  test/units/post.sh
  test/units/testsuite.target
Labels: build-system, meson, tests

test: add comment about custom autorelabel.service
  test/units/autorelabel.service
Labels: tests

repart: fix memleak
  src/repart/repart.c
Labels: repart

network/dhcp-client: Fix missing include for lease save/load
  src/network/networkd-dhcp4.c
  src/network/networkd-network.c
Labels: network

Fix missing include for lease save/load
  src/network/networkd-dhcp4.c
Labels: network

Fix missing include for lease save/load
  src/network/networkd-dhcp4.c
  src/network/networkd-network.c
Labels: network

TEST-07-PID1: add test cases for mask/unmask
  test/units/TEST-07-PID1.mask.sh
Labels: tests

hostname: add missing varlink IDL fields
  src/shared/varlink-io.systemd.Hostname.c
Labels: util-lib

network: remove unnecessary fd saved in fd-store
  src/network/networkd-serialize.c
Labels: network

bootctl: add missing varlink IDL entries
  src/shared/varlink-io.systemd.BootControl.c
Labels: util-lib

test: do not call GetUserRecord without "service" argument
  test/units/TEST-74-AUX-UTILS.varlinkctl.sh
Labels: tests

test: add comment about custom autorelabel.service
  test/units/autorelabel.service
Labels: tests

test: re-enable journal checks for varlink-idl and so on
  test/integration-tests/meson.build
  test/test.service.in
  test/units/TEST-13-NSPAWN.machined.sh
  test/units/TEST-21-DFUZZER.sh
  test/units/TEST-82-SOFTREBOOT.sh
  test/units/end.service
  test/units/post.sh
  test/units/testsuite.target
Labels: build-system, meson, tests

bootctl: add missing varlink IDL entries
  src/shared/varlink-io.systemd.BootControl.c
Labels: util-lib

network: remove unnecessary fd saved in fd-store
  src/network/networkd-serialize.c
Labels: network

TEST-07-PID1: add test cases for mask/unmask
  test/units/TEST-07-PID1.mask.sh
Labels: tests

test: add comment about custom autorelabel.service
  test/units/autorelabel.service
Labels: tests

hostname: add missing varlink IDL fields
  src/shared/varlink-io.systemd.Hostname.c
Labels: util-lib

test: re-enable journal checks for varlink-idl and so on
  test/integration-tests/meson.build
  test/test.service.in
  test/units/TEST-13-NSPAWN.machined.sh
  test/units/TEST-21-DFUZZER.sh
  test/units/TEST-82-SOFTREBOOT.sh
  test/units/end.service
  test/units/post.sh
  test/units/testsuite.target
Labels: build-system, meson, tests

test: do not call GetUserRecord without "service" argument
  test/units/TEST-74-AUX-UTILS.varlinkctl.sh
Labels: tests

po: Translated using Weblate (Finnish)
  po/fi.po
Labels: l10n üåç

po: Translated using Weblate (Finnish)
  po/fi.po
Labels: l10n üåç

core: Add wall clock duration to CPU usage logging
  src/core/unit.c
Labels: none

test: re-enable journal checks for varlink-idl and so on
  test/integration-tests/meson.build
  test/test.service.in
  test/units/TEST-13-NSPAWN.machined.sh
  test/units/TEST-21-DFUZZER.sh
  test/units/TEST-82-SOFTREBOOT.sh
  test/units/end.service
  test/units/post.sh
  test/units/testsuite.target
Labels: build-system, meson, tests

test: add comment about custom autorelabel.service
  test/units/autorelabel.service
Labels: tests

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'
