Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

CI: run ruff format before ruff check
  .github/workflows/linter.yml
Labels: tests

tools: ignore root element explicitly in check-version-history
  tools/check-version-history.py
Labels: none

TEST-72-SYSUPDATE: make randomly generated image file not have compression header
  test/units/TEST-72-SYSUPDATE.sh
Labels: tests

TEST-38-FREEZER: check if watchdog is not restarted by systemctl daemon-reload or daemon-reexec
  test/units/TEST-38-FREEZER.sh
Labels: tests

tmpfiles: don't relabel files in dry run mode
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles

man: add missing comma
  man/systemd.special.xml
Labels: documentation

core: fix typo
  src/core/exec-invoke.c
Labels: none

test: fix typo in comment
  src/resolve/test-dns-query.c
Labels: tests

units: portabled requires /dev/loop-control
  units/systemd-portabled.service.in
Labels: units

include: update kernel headers from v6.17-rc2
  src/basic/linux/batman_adv.h
  src/basic/linux/bpf.h
  src/basic/linux/btrfs.h
  src/basic/linux/const.h
  src/basic/linux/dm-ioctl.h
  src/basic/linux/ethtool.h
  src/basic/linux/fib_rules.h
  src/basic/linux/if_bridge.h
  src/basic/linux/if_link.h
  src/basic/linux/if_tun.h
  src/basic/linux/in6.h
  src/basic/linux/input-event-codes.h
  src/basic/linux/input.h
  src/basic/linux/ipv6.h
  src/basic/linux/neighbour.h
  src/basic/linux/netfilter/nf_tables.h
  src/basic/linux/nl80211.h
  src/basic/linux/pkt_sched.h
  src/basic/linux/rtnetlink.h
  src/basic/linux/stddef.h
  src/basic/linux/vm_sockets.h
  src/basic/linux/wireguard.h
Labels: btrfs, util-lib

Revert "resolved: don't wait for TLS close_notify replies unnecessarily"
  src/resolve/resolved-dnstls-openssl.c
Labels: resolve

logging: Improve logging messages related to NFTSet.
  src/core/cgroup.c
  src/core/unit.c
  src/network/networkd-address.c
Labels: cgroups, network

ci: add mkosi job for debian stable
  .github/workflows/mkosi.yml
Labels: mkosi, tests

man: add sd-path page
  man/libsystemd.xml
  man/rules/meson.build
  man/sd-path.xml
Labels: build-system, documentation, meson

core/unit: use UNIT_FOREACH_DEPENDENCY_SAFE() at several more places
  src/core/unit.c
Labels: none

tree-wide: avoid logging 2 error messages if table_print_with_pager() fails
  src/analyze/analyze-architectures.c
  src/analyze/analyze-capability.c
  src/analyze/analyze-exit-status.c
  src/analyze/analyze-pcrs.c
  src/analyze/analyze-security.c
  src/import/importctl.c
  src/journal/journalctl-misc.c
  src/pcrlock/pcrlock.c
  src/userdb/userdbctl.c
Labels: analyze, import, journal, userdb

cryptsetup: HAVE_CRYPT_SET_KEYRING_TO_LINK is always defined
  src/cryptsetup/cryptsetup.c
Labels: cryptsetup

core/service: do not reset watchdong when unit is frozen
  src/core/service.c
Labels: none

resolve: re-create link unicast scopes on reload
  src/resolve/resolved-manager.c
Labels: resolve

test: use Europe/Helsinki instead of Europe/Kyiv in test-calendarspec
  src/test/test-calendarspec.c
Labels: tests

ukify: drop NX bit from UKI if kernel doesn't have it
  src/ukify/ukify.py
Labels: uki

cryptsetup: reference right variable
  src/cryptsetup/cryptsetup.c
Labels: cryptsetup

import: add a debugging log of importing blob
  src/import/import-compress.c
Labels: import

mkosi: Relax separate branch check in mkosi.sync
  mkosi/mkosi.sync
Labels: mkosi

po: Added translation using Weblate (Cornish)
  po/LINGUAS
  po/kw.po
Labels: l10n üåç

po: Translated using Weblate (Russian)
  po/ru.po
Labels: l10n üåç

mkosi: Relax separate branch check in mkosi.sync
  mkosi/mkosi.sync
Labels: mkosi

mkosi: Relax separate branch check in mkosi.sync
  mkosi/mkosi.sync
Labels: mkosi

core: create userdb root directory with correct label
  src/core/varlink.c
Labels: none

man: add docs for ssh.ephemeral-authorized_keys-all
  man/systemd-ssh-generator.xml
  man/systemd.system-credentials.xml
Labels: documentation, ssh-generator

po: Translated using Weblate (Russian)
  po/ru.po
Labels: l10n üåç

po: Added translation using Weblate (Cornish)
  po/LINGUAS
  po/kw.po
Labels: l10n üåç

mkosi: update mkosi commit reference to d45142e329550abc9c6fc63c1f1f86e5286d3d67
  .github/workflows/coverage.yml
  .github/workflows/linter.yml
  .github/workflows/mkosi.yml
  mkosi/mkosi.conf
Labels: mkosi, tests

core: Sort units before serialization
  src/core/manager-serialize.c
Labels: none

test: Add test for deserializing an existing unit into an alias
  test/units/TEST-07-PID1.exec-deserialization.sh
Labels: tests

mkosi: update mkosi commit reference to d45142e329550abc9c6fc63c1f1f86e5286d3d67
  .github/workflows/coverage.yml
  .github/workflows/linter.yml
  .github/workflows/mkosi.yml
  mkosi/mkosi.conf
Labels: mkosi, tests

mkosi: update mkosi commit reference to d45142e329550abc9c6fc63c1f1f86e5286d3d67
  .github/workflows/coverage.yml
  .github/workflows/linter.yml
  .github/workflows/mkosi.yml
  mkosi/mkosi.conf
Labels: mkosi, tests

mkosi: update mkosi commit reference to 5598b7f5793b6f63db5afaa39504a763fbaeb5cb
  .github/workflows/coverage.yml
  .github/workflows/linter.yml
  .github/workflows/mkosi.yml
  mkosi/mkosi.conf
Labels: mkosi, tests

core/transaction: first drop unmergable jobs for anchor jobs
  src/core/transaction.c
Labels: none

test: add test case for issue #38765
  src/core/transaction.c
  test/units/TEST-87-AUX-UTILS-VM.sh
Labels: tests

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'
