Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

sd-device: introduce device_get_property_id128()
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/sd-device.c
Labels: sd-device

udev-watch: avoid requesting to reread partitions if possible
  src/udev/udev-watch.c
Labels: udev

networkd: fix accounting bug in setlink handlers
  src/network/networkd-manager-varlink.c
  src/network/networkd-setlink.c
Labels: network

units: portabled requires /dev/loop-control
  units/systemd-portabled.service.in
Labels: units

networkd: handle duplicate networkctl operations gracefully
  src/network/networkctl-misc.c
  src/network/networkd-manager-varlink.c
Labels: network

repart: do not fail when CopyBlocks= is used in the initrd
  src/repart/repart.c
Labels: repart

homed: AddSigningKey: only feed data to OpenSSL _after_ Polkit auth
  src/home/homed-manager-bus.c
Labels: none

units: portabled requires /dev/loop-control
  units/systemd-portabled.service.in
Labels: units

NEWS: add note about removal of /run/lock/ from our tmpfiles.d
  NEWS
Labels: documentation

NEWS: add note about removal of /run/lock/ from our tmpfiles.d
  NEWS
Labels: documentation

sd-device: introduce device_get_property_id128()
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/sd-device.c
Labels: sd-device

sd-device: introduce device_get_sysattr_u64()
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/sd-device.c
Labels: sd-device

udev-watch: avoid requesting to reread partitions if possible
  docs/ENVIRONMENT.md
  src/udev/udev-watch.c
Labels: documentation, udev

udev-config: use secure_getenv() at one more place
  src/udev/udev-config.c
Labels: udev

Bump required minimum version of cryptsetup to 2.4.0
  README
  meson.build
  src/cryptsetup/cryptsetup.c
  src/home/homework-luks.c
  src/repart/repart.c
  src/shared/cryptsetup-util.c
  src/shared/cryptsetup-util.h
  src/shared/dissect-image.c
  src/veritysetup/veritysetup.c
Labels: build-system, cryptsetup, dissect, documentation, meson, repart, util-lib, veritysetup

Bump required minimum version of OpenSSL to 3.0.0
  README
  meson.build
  src/resolve/resolved-dns-dnssec.c
  src/shared/openssl-util.c
  src/shared/openssl-util.h
  src/shared/pkcs11-util.c
  src/shared/tpm2-util.c
  src/test/test-openssl.c
  src/test/test-tpm2.c
Labels: build-system, documentation, meson, resolve, tests, tpm2, util-lib

Bump required minimum version of blkid to 2.37
  README
  meson.build
  src/udev/udev-builtin-blkid.c
Labels: build-system, documentation, meson, udev

Require libxcrypt-4.4.0 or newer and drop support of libcrypt
  README
  meson.build
  src/shared/libcrypt-util.c
  src/test/test-libcrypt-util.c
Labels: build-system, documentation, meson, tests, util-lib

Bump required minimum version of elfutils to 0.177
  README
  meson.build
  src/shared/elf-util.c
Labels: build-system, documentation, meson, util-lib

test-libcrypt-util: use DEFINE_TEST_MAIN() and ASSERT_XYZ()
  src/test/test-libcrypt-util.c
Labels: tests

Bump required minimum kernel version to 5.10 and the recommended baseline to 5.14.
  README
  src/basic/constants.h
Labels: documentation, util-lib

random-util: assume getrandom(GRND_INSECURE) works
  src/basic/random-util.c
Labels: util-lib

Bump required minimum version of libseccomp to 2.4.0
  README
  meson.build
  src/core/exec-invoke.c
  src/nspawn/nspawn-oci.c
  src/shared/seccomp-util.c
  src/shared/seccomp-util.h
  src/test/test-seccomp.c
Labels: build-system, documentation, meson, nspawn, tests, util-lib

Bump required minimum version of libfido2 to 1.5.0
  README
  meson.build
  src/shared/libfido2-util.c
Labels: build-system, documentation, meson, util-lib

tree-wide: statx() supports STATX_ATTR_MOUNT_ROOT since kernel 5.8
  src/basic/mountpoint-util.c
  src/shared/find-esp.c
  src/tmpfiles/tmpfiles.c
Labels: mount, tmpfiles, util-lib

sd-netlink: make netlink_get_reply_callback_count() accept NULL
  src/libsystemd/sd-netlink/sd-netlink.c
Labels: sd-netlink

fd-util: use heap only when nwea() does not work
  src/basic/fd-util.c
Labels: util-lib

fd-util,mountpoint-util: STATX_MNT_ID is supported since kernel 5.10
  README
  src/basic/fd-util.c
  src/basic/mountpoint-util.c
  src/basic/mountpoint-util.h
Labels: documentation, mount, util-lib

firewall-util: rename firewall-util-nft.c to firewall-util.c
  src/shared/firewall-util.c
  src/shared/meson.build
Labels: build-system, meson, util-lib

firewall-util: drop FirewallContext
  src/basic/forward.h
  src/core/cgroup.c
  src/core/dbus-cgroup.c
  src/core/load-fragment.c
  src/core/manager.c
  src/core/manager.h
  src/core/unit.c
  src/network/networkd-address.c
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-queue.c
  src/nspawn/nspawn-expose-ports.c
  src/nspawn/nspawn-expose-ports.h
  src/nspawn/nspawn.c
  src/shared/firewall-util-nft.c
  src/shared/firewall-util-private.h
  src/shared/firewall-util.c
  src/shared/firewall-util.h
  src/shared/meson.build
  src/test/test-firewall-util.c
  src/test/test-nft-set.c
Labels: build-system, cgroups, meson, network, nspawn, tests, util-lib

fd-util: split out fallback logic for close_all_fds()
  src/basic/fd-util.c
  src/basic/fd-util.h
  src/test/test-fd-util.c
Labels: tests, util-lib

firewall-util: remove iptables backend
  meson.build
  meson_options.txt
  src/basic/build.c
  src/core/kmod-setup.c
  src/shared/firewall-util-iptables.c
  src/shared/firewall-util-private.h
  src/shared/firewall-util.c
  src/shared/meson.build
  src/test/test-firewall-util.c
Labels: build-system, meson, tests, util-lib

mount-setup: memory_recursiveprot is supported since kernel v5.7
  src/shared/mount-setup.c
Labels: mount, util-lib

fd-util: close_range() is available since kernel 5.9
  src/basic/fd-util.c
Labels: util-lib

Bump required minimum version of glibc to 2.34
  README
  meson.build
  src/basic/errno-list.c
  src/include/oss-fuzz/malloc.h
  src/include/oss-fuzz/string.h
  src/include/oss-fuzz/sys/random.h
  src/include/oss-fuzz/sys/syscall.h
  src/include/oss-fuzz/unistd.h
  src/include/override/sys/generate-syscall.py
  src/include/override/sys/syscall.h
  src/include/override/unistd.h
  src/libc/meson.build
  src/libc/oss-fuzz/meson.build
  src/libc/oss-fuzz/unistd.c
  src/libc/unistd.c
Labels: build-system, documentation, meson, util-lib

cgroup-show: drop 'controller' argument from show_cgroup() and show_cgroup_and_extra()
  src/cgls/cgls.c
  src/login/loginctl.c
  src/machine/machinectl.c
  src/shared/cgroup-show.c
  src/shared/cgroup-show.h
  src/systemctl/systemctl-show.c
Labels: cgls, cgroups, login, machine, systemctl, util-lib

cgroup-util: drop 'controller' argument from cg_enumerate_processes()
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/cgtop/cgtop.c
  src/core/cgroup.c
  src/core/dbus-unit.c
  src/shared/cgroup-setup.c
Labels: cgroups, cgtop, util-lib

cgroup-util: drop 'controller' argument from cg_enumerate_subgroups()
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/cgtop/cgtop.c
  src/core/dbus-unit.c
  src/oom/oomd-manager.c
Labels: cgroups, cgtop, util-lib

cgroup-util: drop 'controller' argument from cg_set_attribute(), cg_get_attribute() and friends
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/basic/limits-util.c
  src/core/cgroup.c
  src/oom/oomd-manager.c
  src/oom/oomd-util.c
  src/udev/iocost/iocost.c
Labels: cgroups, udev, util-lib

cgroup-util: drop 'controller' argument from cg_path_open()
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/network/networkd-sysctl.c
  src/nspawn/nspawn-cgroup.c
  src/test/test-cgroup.c
Labels: cgroups, network, nspawn, sysctl, tests, util-lib

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'
