Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

sd-boot: allow setting the log level through SMBIOS 11
  man/smbios-type-11.xml
  man/systemd-boot.xml
  src/boot/boot.c
  src/boot/efi-log.c
  src/boot/efi-log.h
Labels: documentation, sd-boot/sd-stub/bootctl

tar fix
  src/shared/libarchive-util.h
  src/shared/tar-util.c
Labels: util-lib

tar fix
  src/shared/libarchive-util.h
  src/shared/tar-util.c
Labels: util-lib

libarchive: add limited compat with old libarchive lacking archive_entry_{gid,hardlink,uid}_is_set()
  meson.build
  src/shared/libarchive-util.c
  src/shared/libarchive-util.h
Labels: build-system, meson, util-lib

fixo
  meson.build
  src/shared/libarchive-util.c
  src/shared/libarchive-util.h
Labels: build-system, meson, util-lib

shell-completion: support -i option for journalctl
  shell-completion/bash/journalctl
  shell-completion/zsh/_journalctl
Labels: none

fixo
  src/shared/tar-util.c
Labels: util-lib

Draft: PrivateUsers=rootidmap
  src/core/exec-invoke.c
  src/core/namespace.c
  src/core/namespace.h
  test/units/TEST-43-PRIVATEUSER-UNPRIV.sh
Labels: tests

sysext: do not attempt to unlock images interactively
  src/sysext/sysext.c
Labels: sysext

shell-completion: support -i option for journalctl
  shell-completion/bash/journalctl
  shell-completion/zsh/_journalctl
Labels: none

sd-device: introduce device_get_property_id128()
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/sd-device.c
Labels: sd-device

udev-watch: avoid requesting to reread partitions if possible
  src/udev/udev-watch.c
Labels: udev

sd-device: introduce device_get_sysattr_u64()
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/sd-device.c
Labels: sd-device

sd-varlink: omit empty parameters field from messages
  src/libsystemd/sd-varlink/sd-varlink.c
Labels: varlink

core/bpf-foreign: use RET_GATHER()
  src/core/bpf-foreign.c
Labels: none

DEBUG
  test/integration-tests/meson.build
  test/units/TEST-10-MOUNT.sh
  test/units/TEST-64-UDEV-STORAGE.sh
Labels: build-system, meson, tests

core/bpf-foreign: use RET_GATHER()
  src/core/bpf-foreign.c
Labels: none

sd-varlink: omit empty parameters field from messages
  src/libsystemd/sd-varlink/sd-varlink.c
Labels: varlink

sd-varlink: omit empty parameters field from messages
  src/libsystemd/sd-varlink/sd-varlink.c
Labels: varlink

sd-boot: add loglevel option for loader.conf
  man/loader.conf.xml
  src/boot/boot.c
  src/boot/efi-log.c
  src/boot/efi-log.h
Labels: documentation, sd-boot/sd-stub/bootctl

sd-varlink-idl: handle missing parameters field in validation
  src/libsystemd/sd-varlink/sd-varlink-idl.c
Labels: varlink

sd-boot: allow setting the maximum log level
  src/boot/efi-log.c
  src/boot/efi-log.h
  src/boot/efi-string-table.h
Labels: sd-boot/sd-stub/bootctl

sd-boot: allow setting the log level through SMBIOS 11
  man/smbios-type-11.xml
  man/systemd-boot.xml
  src/boot/boot.c
  src/boot/efi-log.c
  src/boot/efi-log.h
Labels: documentation, sd-boot/sd-stub/bootctl

sd-boot: add loglevel option for loader.conf
  man/loader.conf.xml
  src/boot/boot.c
  src/boot/efi-log.c
  src/boot/efi-log.h
Labels: documentation, sd-boot/sd-stub/bootctl

fixo
  src/shared/tar-util.c
Labels: util-lib

importd: port untarring logic over to libarchive
  src/import/import-common.c
  src/import/import-common.h
  src/import/import-tar.c
  src/import/pull-tar.c
  src/shared/libarchive-util.c
  src/shared/libarchive-util.h
  src/shared/meson.build
  src/shared/tar-util.c
  src/shared/tar-util.h
Labels: build-system, import, meson, util-lib

importd: teach all backends --system/--user mode
  src/import/export.c
  src/import/import-fs.c
  src/import/import.c
  src/import/pull.c
Labels: import

importd: properly support operation in per-user mode
  src/import/importd.c
  src/import/meson.build
  src/import/org.freedesktop.import1.service-for-session
  units/user/meson.build
  units/user/systemd-importd.service.in
  units/user/systemd-importd.socket
Labels: build-system, import, meson, units

tar-util: squash high UIDs in user mode
  src/import/import-common.c
  src/shared/tar-util.c
  src/shared/tar-util.h
Labels: import, util-lib

tar-util: recognize hardlinks when generating tarballs
  src/shared/libarchive-util.c
  src/shared/libarchive-util.h
  src/shared/tar-util.c
Labels: util-lib

import-common: rework import_mangle_os_tree() to operate based on fd to tree
  src/import/import-common.c
  src/import/import-common.h
  src/import/import-tar.c
  src/import/pull-tar.c
Labels: import

export-tar: port to common libarchive tar generation code
  src/import/export-tar.c
  src/import/export-tar.h
  src/import/export.c
  src/import/import-common.c
  src/import/import-common.h
Labels: import

discover-image: imply that hidden images are read-only
  src/dissect/dissect.c
  src/import/importd.c
  src/machine/image-dbus.c
  src/machine/machined-dbus.c
  src/machine/machined-varlink.c
  src/nspawn/nspawn.c
  src/portable/portabled-bus.c
  src/portable/portabled-image-bus.c
  src/shared/discover-image.c
  src/shared/discover-image.h
Labels: dissect, import, machine, nspawn, portable, util-lib

os-util: add fd_is_os_tree() which is like path_is_os_tree() but operates on an fd
  src/basic/os-util.c
  src/basic/os-util.h
Labels: util-lib

tar-util: add support for acls
  src/shared/libarchive-util.c
  src/shared/libarchive-util.h
  src/shared/tar-util.c
Labels: util-lib

tar-util: add support for file flags
  src/shared/libarchive-util.c
  src/shared/libarchive-util.h
  src/shared/tar-util.c
Labels: util-lib

importd: clean up how we determine image root in importd backends
  src/import/import-fs.c
  src/import/import-generator.c
  src/import/import.c
  src/import/importctl.c
  src/import/pull.c
  src/shared/discover-image.c
  src/shared/discover-image.h
Labels: import, util-lib

mountfsd: make MountDirectory() work with systemd-homed
  src/mountfsd/mountwork.c
  units/systemd-mountfsd.service.in
Labels: mountfsd, units

pull: add pretty progress bar to systemd-pull too
  src/import/pull-tar.c
Labels: none

pull: fix SHA256SUMS fallback for file:// URLs
  src/import/pull-job.c
Labels: none

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'
