Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

po: Translated using Weblate (Chinese (Simplified) (zh_CN))
  po/zh_CN.po
Labels: l10n üåç

sd-bus: escape invalid characters in error message
  src/libsystemd/sd-bus/bus-error.c
Labels: sd-bus

po: Translated using Weblate (Chinese (Simplified) (zh_CN))
  po/zh_CN.po
Labels: l10n üåç

po: Translated using Weblate (Chinese (Simplified) (zh_CN))
  po/zh_CN.po
Labels: l10n üåç

basic/stat-util: avoid access syscall
  src/basic/stat-util.c
Labels: util-lib

meson: rework generation of file system lookup helpers
  src/basic/check-filesystems.sh
  src/basic/filesystem-sets.py
  src/basic/filesystems-gperf.gperf
  src/basic/filesystems.c
  src/basic/generate-filesystem-list.py
  src/basic/generate-filesystem-switch-case.py
  src/basic/meson.build
Labels: build-system, meson, util-lib

Rework file system group lookups
  src/basic/filesystem-sets.py
  src/basic/filesystems.c
  src/basic/meson.build
Labels: build-system, meson, util-lib

test: skip verification for racy test cases
  src/network/test-networkd-address.c
Labels: network, tests

Revert "network: use the same hash ops used when allocated"
  src/network/networkd-link-bus.c
Labels: network

DEBUG: fuzz network
  test/integration-tests/meson.build
  test/units/TEST-21-DFUZZER.sh
Labels: build-system, meson, tests

journal: check filtering after parsing timestamp, identifier, pid, and so on
  src/journal/journald-syslog.c
Labels: journal

TEST-04-JOURNAL: add test case for log filtering with syslog
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/logs-filtering-syslog.service
  test/units/TEST-04-JOURNAL.LogFilterPatterns.sh
Labels: tests

core/exec-invoke: relax restriction for process name length
  src/core/exec-invoke.c
Labels: none

test: skip verification for racy test cases
  src/network/test-networkd-address.c
Labels: network, tests

core/exec-invoke: relax restriction for process name length
  src/core/exec-invoke.c
Labels: none

journal: check filtering after parsing timestamp, identifier, pid, and so on
  src/journal/journald-syslog.c
Labels: journal

TEST-04-JOURNAL: several cleanups
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/delegated-cgroup-filtering.service
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/delegated_cgroup_filtering_payload.sh
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/delegated_cgroup_filtering_payload_child.sh
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/silent-success.service
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/verbose-success.service
  test/units/TEST-04-JOURNAL.LogFilterPatterns.sh
  test/units/TEST-04-JOURNAL.journal.sh
Labels: tests

TEST-04-JOURNAL: add test case for log filtering through syslog
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/logs-filtering-syslog.py
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/logs-filtering-syslog.service
  test/units/TEST-04-JOURNAL.LogFilterPatterns.sh
Labels: tests

stub: fix passing kernel cmdline when loading via shim
  src/boot/linux.c
Labels: sd-boot/sd-stub/bootctl

journal: check filtering after parsing timestamp, identifier, pid, and so on
  src/journal/journald-syslog.c
Labels: journal

TEST-04-JOURNAL: add test case for log filtering through syslog
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/logs-filtering-syslog.py
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/logs-filtering-syslog.service
  test/units/TEST-04-JOURNAL.LogFilterPatterns.sh
Labels: tests

TEST-04-JOURNAL: several cleanups
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/delegated-cgroup-filtering.service
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/delegated_cgroup_filtering_payload.sh
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/delegated_cgroup_filtering_payload_child.sh
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/silent-success.service
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/verbose-success.service
  test/units/TEST-04-JOURNAL.LogFilterPatterns.sh
  test/units/TEST-04-JOURNAL.journal.sh
Labels: tests

include: update kernel headers from v6.16-rc7
  src/include/uapi/linux/netfilter/nf_tables.h
  src/include/uapi/linux/netfilter/nfnetlink.h
  src/include/uapi/linux/update.sh
  src/include/uapi/linux/vm_sockets.h
Labels: none

stub: fix passing kernel cmdline when loading via shim
  src/boot/linux.c
Labels: sd-boot/sd-stub/bootctl

include: update kernel headers from v6.16-rc7
  src/include/uapi/linux/netfilter/nf_tables.h
  src/include/uapi/linux/netfilter/nfnetlink.h
  src/include/uapi/linux/update.sh
  src/include/uapi/linux/vm_sockets.h
Labels: none

Fix invalid implicit cast in DoH curl write_callback
  src/resolve/resolved-dns-transaction.c
Labels: resolve

core/unit: rename freezer "target" to "objective"
  src/core/cgroup.c
  src/core/unit.c
  src/core/unit.h
Labels: cgroups

core/cgroup: skip freezer action wholly if current == objective
  src/core/cgroup.c
Labels: cgroups

core/cgroup: replace hardcoded state set with freezer_state_finish()
  src/core/cgroup.c
Labels: cgroups

core/unit: introduce unit_set_freezer_state, make logging consistent
  src/core/cgroup.c
  src/core/unit.c
  src/core/unit.h
Labels: cgroups

core/cgroup: Properly handle aborting a pending freeze operation
  src/core/cgroup.c
Labels: cgroups

TEST-04-JOURNAL: several cleanups
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/delegated-cgroup-filtering.service
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/delegated_cgroup_filtering_payload.sh
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/delegated_cgroup_filtering_payload_child.sh
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/silent-success.service
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/verbose-success.service
  test/units/TEST-04-JOURNAL.LogFilterPatterns.sh
  test/units/TEST-04-JOURNAL.journal.sh
Labels: tests

journal: check filtering after parsing timestamp, identifier, pid, and so on
  src/journal/journald-syslog.c
Labels: journal

TEST-04-JOURNAL: add test case for log filtering through syslog
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/logs-filtering-syslog.py
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/logs-filtering-syslog.service
  test/units/TEST-04-JOURNAL.LogFilterPatterns.sh
Labels: tests

TEST-87-AUX-UTILS-VM: make coredumps stored in archived journal file
  test/units/TEST-87-AUX-UTILS-VM.coredump.sh
Labels: coredump, tests

shell-completion: drop deprecated systemd-efi-options from suggestions
  shell-completion/bash/bootctl
  shell-completion/zsh/_bootctl
Labels: none

TEST-23-UNIT-FILE: do not wait indefinitely but set a reasonable timeout
  test/units/TEST-23-UNIT-FILE.Upholds.sh
Labels: tests

core/exec-invoke: relax restriction for process name length
  src/basic/argv-util.c
  src/basic/argv-util.h
  src/core/exec-invoke.c
Labels: util-lib

TEST-23-UNIT-FILE: do not wait indefinitely but set a reasonable timeout
  test/units/TEST-23-UNIT-FILE.Upholds.sh
Labels: tests

doc: document /run/host/root/ as an optional bind mount for the host filesystem
  docs/CONTAINER_INTERFACE.md
Labels: documentation

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'
