Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

test: run test-journal-append binary with info level logging
  test/units/TEST-04-JOURNAL.journal-append.sh
Labels: tests

journald: add debug logs around offlining/archiving/rotating/varlink operations
  src/journal/journald-manager.c
  src/journal/journald-varlink.c
  src/libsystemd/sd-journal/journal-file.c
  src/shared/journal-file-util.c
Labels: journal, util-lib

cg: get attribute for requested controller in cg_is_empty
  src/basic/cgroup-util.c
  src/test/test-cgroup.c
Labels: cgroups, tests, util-lib

cg: get attribute for requested controller in cg_is_empty
  src/basic/cgroup-util.c
  src/test/test-cgroup.c
Labels: cgroups, tests, util-lib

TEST-13-NSPAWN: wait for a few seconds after markers found
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, tests

DEBUG: for TEST-24-CRYPTSETUP
  rules.d/99-systemd.rules.in
  test/integration-tests/meson.build
  test/units/TEST-24-CRYPTSETUP.sh
Labels: build-system, meson, tests, udev

resolve: Verify insecure delegations per RFC 6840 Section 4.4
  src/resolve/resolved-dns-dnssec.c
  src/resolve/resolved-dns-dnssec.h
  src/resolve/resolved-dns-transaction.c
Labels: resolve

resolve: Verify insecure delegations per RFC 6840 Section 4.4
  src/resolve/resolved-dns-dnssec.c
  src/resolve/resolved-dns-dnssec.h
  src/resolve/resolved-dns-transaction.c
Labels: resolve

resolve: Verify insecure delegations per RFC 6840 Section 4.4
  src/resolve/resolved-dns-dnssec.c
  src/resolve/resolved-dns-dnssec.h
  src/resolve/resolved-dns-transaction.c
Labels: resolve

resolve: Verify insecure delegations per RFC 6840 Section 4.4
  src/resolve/resolved-dns-dnssec.c
  src/resolve/resolved-dns-dnssec.h
  src/resolve/resolved-dns-transaction.c
Labels: resolve

mkosi: backport lvm2 patch
  mkosi/mkosi.conf.d/ubuntu/mkosi.extra/etc/udev/rules.d/60-persistent-storage-dm.rules
Labels: none

basic: do not use PROJECT_FILE in one more generated file
  src/basic/filesystem-sets.py
Labels: util-lib

DEBUG: for TEST-24-CRYPTSETUP
  rules.d/99-systemd.rules.in
  test/integration-tests/TEST-24-CRYPTSETUP/meson.build
  test/integration-tests/meson.build
  test/units/TEST-24-CRYPTSETUP.sh
Labels: build-system, meson, tests, udev

mkosi: backport lvm2 patch
  mkosi/mkosi.conf.d/ubuntu/mkosi.conf
  mkosi/mkosi.conf.d/ubuntu/mkosi.extra/etc/udev/rules.d/60-persistent-storage-dm.rules
Labels: mkosi

mkosi: backport lvm2 patch
  mkosi/mkosi.conf.d/ubuntu/mkosi.extra/etc/udev/rules.d/60-persistent-storage-dm.rules
Labels: none

mkosi: backport lvm2 patch
  mkosi/mkosi.images/initrd/mkosi.conf.d/ubuntu/mkosi.conf
  mkosi/mkosi.images/initrd/mkosi.conf.d/ubuntu/mkosi.extra/etc/udev/rules.d/55-dm-persist.rules
Labels: mkosi

mkosi: backport lvm2 patch to make udev database persistent
  mkosi/mkosi.images/initrd/mkosi.conf.d/ubuntu/mkosi.conf
  mkosi/mkosi.images/initrd/mkosi.conf.d/ubuntu/mkosi.extra/etc/udev/rules.d/55-dm-persist.rules
Labels: mkosi

sd-bus/bus-track: use install_callback in sd_bus_track_add_name()
  src/libsystemd/sd-bus/bus-track.c
Labels: sd-bus

basic: do not use PROJECT_FILE in one more generated file
  src/basic/filesystem-sets.py
Labels: util-lib

TEST-13-NSPAWN: wait for a few seconds after markers found
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, tests

virt: Actually use DMI detection on RISC-V as well
  src/basic/virt.c
Labels: detect-virt, util-lib

virt: Actually use DMI detection on RISC-V as well
  src/basic/virt.c
Labels: detect-virt, util-lib

Correct order for implied time & date specifications.
  man/systemd.time.xml
Labels: documentation

mkosi: update mkosi commit reference to 655baf24474a6f0732ec1b82a71c2f6fe4eeeb49
  .github/workflows/coverage.yml
  .github/workflows/linter.yml
  .github/workflows/mkosi.yml
  mkosi/mkosi.conf
Labels: mkosi, tests

Correct order for implied time & date specifications.
  man/systemd.time.xml
Labels: documentation

bpf-dlopen: degrade log_level to LOG_DEBUG in initrd
  src/shared/bpf-dlopen.c
Labels: util-lib

mkosi: update mkosi commit reference to 655baf24474a6f0732ec1b82a71c2f6fe4eeeb49
  .github/workflows/coverage.yml
  .github/workflows/linter.yml
  .github/workflows/mkosi.yml
  mkosi/mkosi.conf
Labels: mkosi, tests

bpf-dlopen: degrade log_level to LOG_DEBUG in initrd
  src/shared/bpf-dlopen.c
Labels: util-lib

sd-bus/bus-track: use install_callback in sd_bus_track_add_name()
  src/libsystemd/sd-bus/bus-track.c
Labels: sd-bus

sd-bus/bus-track: use install_callback in sd_bus_track_add_name()
  src/libsystemd/sd-bus/bus-track.c
Labels: sd-bus

sd-event: drop unnecessary lines
  src/libsystemd/sd-event/sd-event.c
Labels: sd-event

sd-event: drop cgroupv1 support in memory pressure event source
  src/libsystemd/sd-event/sd-event.c
Labels: sd-event

run: print JSON output also with trigger units
  src/run/run.c
Labels: run

test-dns-answer: fix misuse of ASSERT_TRUE/FALSE()
  src/resolve/test-dns-answer.c
Labels: tests

TEST-21-DFUZZER: regroup commands
  test/units/TEST-21-DFUZZER.sh
Labels: tests

TEST-21-DFUZZER: check sanitizer report after each test case finished
  test/units/TEST-21-DFUZZER.sh
Labels: tests

[DEBUG] Revert "network: use the same hash ops used when allocated"
  src/network/networkd-link-bus.c
Labels: network

Allow SELinux and Smack at the same time
  src/basic/label.c
  src/core/smack-setup.c
  src/shared/label-util.c
  src/shared/smack-util.c
Labels: smack, util-lib

TEST-21-DFUZZER: check sanitizer report after each test case finished
  test/units/TEST-21-DFUZZER.sh
Labels: tests

[DEBUG] Revert "network: use the same hash ops used when allocated"
  src/network/networkd-link-bus.c
Labels: network

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'
