Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'

sd-netlink: make netlink_get_reply_callback_count() accept NULL
  src/libsystemd/sd-netlink/sd-netlink.c
Labels: sd-netlink

Bump required minimum version of glibc to 2.34
  README
  meson.build
  src/basic/errno-list.c
  src/include/oss-fuzz/malloc.h
  src/include/oss-fuzz/string.h
  src/include/oss-fuzz/sys/random.h
  src/include/oss-fuzz/sys/syscall.h
  src/include/oss-fuzz/unistd.h
  src/include/override/sys/generate-syscall.py
  src/include/override/sys/syscall.h
  src/include/override/unistd.h
  src/libc/meson.build
  src/libc/oss-fuzz/meson.build
  src/libc/oss-fuzz/unistd.c
  src/libc/unistd.c
Labels: build-system, documentation, meson, util-lib

Bump required minimum version of libseccomp to 2.4.0
  README
  meson.build
  src/core/exec-invoke.c
  src/nspawn/nspawn-oci.c
  src/shared/seccomp-util.c
  src/shared/seccomp-util.h
  src/test/test-seccomp.c
Labels: build-system, documentation, meson, nspawn, tests, util-lib

firewall-util: rename firewall-util-nft.c to firewall-util.c
  src/shared/firewall-util.c
  src/shared/meson.build
Labels: build-system, meson, util-lib

cgroup-util: drop cgroup v1 support in cg_get_path()
  src/basic/cgroup-util.c
Labels: cgroups, util-lib

cgroup-show: drop 'controller' argument from show_cgroup() and show_cgroup_and_extra()
  src/cgls/cgls.c
  src/login/loginctl.c
  src/machine/machinectl.c
  src/shared/cgroup-show.c
  src/shared/cgroup-show.h
  src/systemctl/systemctl-show.c
Labels: cgls, cgroups, login, machine, systemctl, util-lib

cgls: relax cg_split_spec() and rename to cg_mangle_path()
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/cgls/cgls.c
  src/test/test-cgroup-util.c
Labels: cgls, cgroups, tests, util-lib

cgroup-show: drop unnecessary call of cg_mangle_path()
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/cgls/cgls.c
  src/shared/cgroup-show.c
  src/shared/cgroup-show.h
Labels: cgls, cgroups, util-lib

cgroup-util: drop unused SYSTEMD_CGROUP_CONTROLLER and friends
  src/basic/cgroup-util.h
Labels: cgroups, util-lib

cgroup-util: drop outdated comments
  src/basic/cgroup-util.h
Labels: cgroups, util-lib

ethtool-util: fix setting advertising link modes
  src/shared/ethtool-util.c
Labels: util-lib

ethtool-util: drop use of deprecated ETHTOOL_GSET and ETHTOOL_SSET
  src/shared/ethtool-util.c
Labels: util-lib

ethtool-util: rename functions and update log messages
  src/shared/ethtool-util.c
  src/shared/ethtool-util.h
  src/udev/net/link-config.c
Labels: udev, util-lib

ethtool-util: fix comment
  src/shared/ethtool-util.c
Labels: util-lib

ethtool-util: drop use of union ethtool_link_usettings
  src/shared/ethtool-util.c
  src/shared/ethtool-util.h
Labels: util-lib

network: fix build with libbpf < 0.7
  meson.build
  src/network/bpf/sysctl_monitor/meson.build
  src/network/meson.build
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-sysctl.c
  src/network/networkd-sysctl.h
Labels: build-system, meson, network, sysctl

test: fix repeated runs of test-oomd-util by clearing test cgroup
  src/oom/test-oomd-util.c
Labels: tests

doc: document /run/host/root/ as an optional bind mount for the host fs
  docs/CONTAINER_INTERFACE.md
Labels: documentation

networkd: implement reviewer feedback for varlink SetLink improvements
  src/network/networkctl-misc.c
  src/network/networkd-manager-varlink.c
  src/network/networkd-setlink.c
  src/shared/varlink-io.systemd.Network.c
Labels: network, util-lib

test: use Europe/Helsinki instead of Europe/Kyiv in test-calendarspec
  src/test/test-calendarspec.c
Labels: tests

network/bridge-vlan: fix segfault
  src/network/networkd-bridge-vlan.c
Labels: network

logging: Improve logging messages related to NFTSet.
  src/core/cgroup.c
  src/core/unit.c
  src/network/networkd-address.c
Labels: cgroups, network

mkosi: include ip in the main image
  mkosi/mkosi.conf.d/opensuse/mkosi.conf
Labels: mkosi

ci: add build job on Ubuntu Jammy with Python 3.7
  .github/workflows/build-test.sh
  .github/workflows/build-test.yml
Labels: tests

man: add sd-path page
  man/libsystemd.xml
  man/rules/meson.build
  man/sd-path.xml
Labels: build-system, documentation, meson

ci: add mkosi job for debian stable
  .github/workflows/mkosi.yml
Labels: mkosi, tests

man: fix links
  man/importctl.xml
  man/org.freedesktop.timedate1.xml
  man/org.freedesktop.timesync1.xml
  man/systemd-dissect.xml
  man/systemd-vmspawn.xml
Labels: dissect, documentation, import, timedate, timesync, vmspawn

man: unify spelling of OS-specific
  man/os-release.xml
Labels: documentation

pcrlock: make-policy should use path specified by --policy= rather than --pcrlock
  src/pcrlock/pcrlock.c
Labels: none

TEST-72-SYSUPDATE: fix indentation and drop space in blank line
  test/units/TEST-72-SYSUPDATE.sh
Labels: tests

Update syscalls tables
  src/basic/syscall-list.txt
  src/basic/syscalls-alpha.txt
  src/basic/syscalls-arc.txt
  src/basic/syscalls-arm.txt
  src/basic/syscalls-arm64.txt
  src/basic/syscalls-i386.txt
  src/basic/syscalls-loongarch64.txt
  src/basic/syscalls-m68k.txt
  src/basic/syscalls-mips64.txt
  src/basic/syscalls-mips64n32.txt
  src/basic/syscalls-mipso32.txt
  src/basic/syscalls-parisc.txt
  src/basic/syscalls-powerpc.txt
  src/basic/syscalls-powerpc64.txt
  src/basic/syscalls-riscv32.txt
  src/basic/syscalls-riscv64.txt
  src/basic/syscalls-s390.txt
  src/basic/syscalls-s390x.txt
  src/basic/syscalls-sh.txt
  src/basic/syscalls-sparc.txt
  src/basic/syscalls-x86_64.txt
  src/shared/seccomp-util.c
Labels: util-lib

nspawn: fix --link-journal=host with --private-users=pick and friends
  src/nspawn/nspawn.c
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, tests

CI: run ruff format before ruff check
  .github/workflows/linter.yml
Labels: tests

test: fix typo
  src/test/test-install-root.c
  test/integration-tests/TEST-16-EXTEND-TIMEOUT/TEST-16-EXTEND-TIMEOUT.units/fail-stop.service
  test/units/TEST-10-MOUNT.sh
  test/units/TEST-15-DROPIN.sh
  test/units/TEST-65-ANALYZE.sh
Labels: tests

test-cgroup: cleanup test cgroup
  src/test/test-cgroup.c
Labels: tests

TEST-46-HOMED: cleanup homedsshtest earlier
  test/units/TEST-46-HOMED.sh
Labels: tests

tpm2-util: gracefully skip deserialization when no input
  src/pcrlock/pcrlock.c
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
Labels: tpm2, util-lib

bootctl: specify that kernel image commands require a kernel image argument
  man/bootctl.xml
  src/bootctl/bootctl.c
Labels: documentation, sd-boot/sd-stub/bootctl

mkosi: install util-linux-script on F44
  mkosi/mkosi.conf.d/fedora/mkosi.conf.d/rawhide-42.conf
Labels: none

resolve: re-create link unicast scopes on reload
  src/resolve/resolved-manager.c
Labels: resolve
