Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'

network: send shutdown RA when interface goes administratively down
  src/network/networkctl-misc.c
  src/network/networkd-manager-varlink.c
  src/network/org.freedesktop.network1.policy
  src/shared/varlink-io.systemd.Network.c
Labels: network, util-lib

test: ensure that reload updates DNSSEC and DNSOverTLS on link scopes
  test/units/TEST-75-RESOLVED.sh
Labels: tests

resolve: re-create link unicast scopes on reload
  src/resolve/resolved-manager.c
Labels: resolve

resolve: include DNSSEC and DNSOverTLS modes in dumps
  src/resolve/resolvectl.c
  src/resolve/resolved-dns-scope.c
  src/shared/varlink-io.systemd.Resolve.Monitor.c
Labels: resolve, util-lib

test: use numeric prefixes in resolved.conf.d overrides
  test/units/TEST-75-RESOLVED.sh
Labels: tests

pam_systemd: honor session class provided via PAM environment
  man/pam_systemd.xml
  src/login/pam_systemd.c
Labels: documentation, login

pam_systemd: honor session class provided via PAM environment
  man/pam_systemd.xml
  src/login/pam_systemd.c
Labels: documentation, login

oomd: implement a prekill varlink event
  src/basic/constants.h
  src/oom/oomd-conf.c
  src/oom/oomd-manager.c
  src/oom/oomd-manager.h
  src/oom/oomd-util.c
  src/oom/oomd-util.h
  src/oom/test-oomd-util.c
Labels: tests, util-lib

analyze: fix unit-shell/unit-gdb when target unit has exited
  src/analyze/analyze-unit-gdb.c
  src/analyze/analyze-unit-shell.c
Labels: analyze

systemd-analyze: added the verb unit-gdb-start to start a service and attach gdb
  man/org.freedesktop.systemd1.xml
  man/systemd-analyze.xml
  shell-completion/bash/systemd-analyze
  src/analyze/analyze-unit-gdb-start.c
  src/analyze/analyze-unit-gdb-start.h
  src/analyze/analyze.c
  src/analyze/meson.build
  src/core/dbus-unit.c
  src/core/exec-invoke.c
  src/core/execute-serialize.c
  src/core/execute.c
  src/core/execute.h
  src/core/unit-serialize.c
  src/core/unit.c
  src/core/unit.h
  src/core/varlink-unit.c
  src/shared/varlink-io.systemd.Unit.c
Labels: analyze, build-system, documentation, meson, util-lib

repart: create loopback block device of right size right-away
  src/repart/repart.c
Labels: repart

loop-util: fully suppress unnecessary size changes
  src/shared/loop-util.c
Labels: util-lib

Add /var persistent storage creation
  tmpfiles.d/systemd-network.conf
Labels: none

Fix paths creation and writing logic
  src/libsystemd-network/sd-dhcp-lease.c
  src/network/networkd-dhcp4.c
  src/network/networkd.c
  tmpfiles.d/systemd-network.conf
Labels: network

Load saved lease w/ timestamp inclusion
  src/libsystemd-network/sd-dhcp-lease.c
  src/network/networkd-dhcp4.c
  tmpfiles.d/systemd-network.conf
Labels: network

network/dhcp-client: Add comments/remove debug prints
  src/libsystemd-network/sd-dhcp-lease.c
  src/network/networkd.c
Labels: network

Add comments/remove debug prints
  src/libsystemd-network/sd-dhcp-lease.c
  src/network/networkd.c
Labels: network

udev-watch: avoid requesting to reread partitions if possible
  src/udev/udev-watch.c
Labels: udev

sd-device: introduce device_get_sysattr_u64()
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/sd-device.c
Labels: sd-device

sd-device: introduce device_get_property_id128()
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/sd-device.c
Labels: sd-device

DEBUG
  test/integration-tests/meson.build
  test/units/TEST-10-MOUNT.sh
  test/units/TEST-64-UDEV-STORAGE.sh
Labels: build-system, meson, tests

repart: fix formatting enlarged disk with small GPT
  src/repart/repart.c
  test/units/TEST-58-REPART.sh
Labels: repart, tests

networkd/varlink: add SetLinkUp/Down with polkit input, sync reply on RTM_SETLINK
  src/network/networkctl-misc.c
  src/network/networkd-manager-varlink.c
  src/network/networkd-setlink.c
  src/network/networkd-setlink.h
  src/shared/varlink-io.systemd.Network.c
Labels: network, util-lib

systemd-analyze: added the verb unit-gdb-start to start a service and attach gdb
  man/org.freedesktop.systemd1.xml
  man/systemd-analyze.xml
  shell-completion/bash/systemd-analyze
  src/analyze/analyze-unit-gdb-start.c
  src/analyze/analyze-unit-gdb-start.h
  src/analyze/analyze.c
  src/analyze/meson.build
  src/core/dbus-unit.c
  src/core/exec-invoke.c
  src/core/execute-serialize.c
  src/core/execute.c
  src/core/execute.h
  src/core/unit-serialize.c
  src/core/unit.c
  src/core/unit.h
  src/core/varlink-unit.c
  src/shared/varlink-io.systemd.Unit.c
Labels: analyze, build-system, documentation, meson, util-lib

networkd/varlink: return delayed replies when polkit auth is pending for SetLinkUp/Down and SetPersistentStorage
  src/network/networkd-manager-varlink.c
Labels: network

networkd: fix race condition in concurrent setlink operations
  src/network/networkd-manager-varlink.c
  src/network/networkd-setlink.c
Labels: network

networkd: fix remaining assertion failures in setlink handlers
  src/network/networkd-setlink.c
Labels: network

analyze: fix unit-shell/unit-gdb when target unit has exited
  src/analyze/analyze-unit-gdb.c
  src/analyze/analyze-unit-shell.c
Labels: analyze

analyze: fix unit-shell/unit-gdb when target unit has exited
  src/analyze/analyze-unit-gdb.c
  src/analyze/analyze-unit-shell.c
Labels: analyze

oomd: implement a prekill varlink event
  src/basic/constants.h
  src/oom/oomd-conf.c
  src/oom/oomd-manager.c
  src/oom/oomd-manager.h
  src/oom/oomd-util.c
  src/oom/oomd-util.h
  src/oom/test-oomd-util.c
Labels: tests, util-lib

oomd: implement a prekill varlink event
  src/basic/constants.h
  src/oom/oomd-conf.c
  src/oom/oomd-manager.c
  src/oom/oomd-manager.h
  src/oom/oomd-util.c
  src/oom/oomd-util.h
  src/oom/test-oomd-util.c
Labels: tests, util-lib

resolvectl: add missing error check
  src/resolve/resolvectl.c
Labels: resolve

tree-wide: avoid logging 2 error messages if table_print_with_pager() fails
  src/analyze/analyze-architectures.c
  src/analyze/analyze-capability.c
  src/analyze/analyze-chid.c
  src/analyze/analyze-exit-status.c
  src/analyze/analyze-pcrs.c
  src/analyze/analyze-security.c
  src/import/importctl.c
  src/journal/journalctl-misc.c
  src/pcrlock/pcrlock.c
  src/userdb/userdbctl.c
Labels: analyze, import, journal, userdb

homed: AddSigningKey: only feed data to OpenSSL _after_ Polkit auth
  src/home/homed-manager-bus.c
Labels: none

core: drop dead code
  src/core/namespace.c
Labels: none

repart: accept colon in mount options
  src/repart/repart.c
Labels: repart

sd-boot: allow setting the maximum log level
  src/boot/boot.c
  src/boot/efi-log.c
  src/boot/efi-log.h
  src/boot/efi-string-table.h
Labels: sd-boot/sd-stub/bootctl

sd-boot: allow setting the log level through SMBIOS 11
  man/smbios-type-11.xml
  man/systemd-boot.xml
  src/boot/boot.c
  src/boot/efi-log.c
  src/boot/efi-log.h
Labels: documentation, sd-boot/sd-stub/bootctl

sd-boot: allow setting the log level through loader.conf
  man/loader.conf.xml
  src/boot/boot.c
Labels: documentation, sd-boot/sd-stub/bootctl

sd-device: introduce device_get_sysattr_u64()
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/sd-device.c
Labels: sd-device
