Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

pam_systemd: never reset existing $XDG_RUNTIME_DIR for non-area logins
  src/login/pam_systemd.c
Labels: login

core: more use of log_selinux_enforcing_errno() in selinux-access.c
  src/core/selinux-access.c
Labels: selinux

doc: document /run/host/root/ as an optional bind mount for the host fs
  docs/CONTAINER_INTERFACE.md
Labels: documentation

tree-wide: use ERRNO_NAME almost everywhere
  src/basic/errno-list.c
  src/basic/errno-list.h
  src/core/socket.c
  src/home/homed-home.c
  src/libsystemd/sd-bus/bus-error.c
  src/libsystemd/sd-bus/test-bus-error.c
  src/libsystemd/sd-login/test-login.c
  src/libsystemd/sd-varlink/sd-varlink.c
  src/resolve/resolvectl.c
  src/resolve/resolved-dns-transaction.c
  src/shared/seccomp-util.c
  src/shared/tests.h
  src/test/test-bpf-devices.c
  src/test/test-bus-unit-util.c
  src/test/test-errno-list.c
  src/test/test-nss-hosts.c
  src/test/test-nss-users.c
  src/test/test-process-util.c
  src/test/test-stat-util.c
  src/udev/udev-error.c
  src/udev/udev-worker.c
  src/userdb/userdbctl.c
Labels: login, resolve, sd-bus, tests, udev, userdb, util-lib, varlink

sd-bus: drop unnecessary check
  src/libsystemd/sd-bus/bus-error.c
Labels: sd-bus

ptyfwd: do not call pty_forward_done() in do_shovel()
  src/shared/ptyfwd.c
Labels: util-lib

ptyfwd: split-out shovel_force()
  src/shared/ptyfwd.c
Labels: util-lib

ptyfwd: replace pty_forward_set_ignore_vhangup() with pty_forward_honor_vhangup()
  src/machine/machinectl.c
  src/shared/ptyfwd.c
  src/shared/ptyfwd.h
Labels: machine, util-lib

ptyfwd: do not try to read master if already disconnected
  src/shared/ptyfwd.c
Labels: util-lib

run: make PTY forwarder honor vhangup() after service finished
  src/run/run.c
Labels: run

ptyfwd,run: make pty_forward_drain() trigger defer event to call shovel()
  src/run/run.c
  src/shared/ptyfwd.c
  src/shared/ptyfwd.h
Labels: run, util-lib

docs: Add policy on AI generated code to contributing doc
  docs/CONTRIBUTING.md
Labels: documentation

mount-setup: Don't ignore /run/host if not in container
  src/shared/mount-setup.c
  test/units/TEST-81-GENERATORS.fstab-generator.sh
Labels: fstab-generator, mount, tests, util-lib

vmspawn: Add --bind-user= and --bind-user-shell=
  man/systemd-vmspawn.xml
  src/vmspawn/vmspawn-mount.c
  src/vmspawn/vmspawn-mount.h
  src/vmspawn/vmspawn.c
Labels: documentation, vmspawn

po: Translated using Weblate (Chinese (Simplified) (zh_CN))
  po/zh_CN.po
Labels: l10n üåç

po: Translated using Weblate (Swedish)
  po/sv.po
Labels: l10n üåç

po: Translated using Weblate (Turkish)
  po/tr.po
Labels: l10n üåç

core: merging errno usage in access_init()
  src/core/selinux-access.c
Labels: selinux

core: io.systemd.Unit.List can lookup unit by CGroup
  src/core/varlink-unit.c
  src/shared/varlink-io.systemd.Unit.c
Labels: util-lib

core: io.systemd.Unit.List can lookup by InvocationID
  src/core/varlink-unit.c
  src/shared/varlink-io.systemd.Unit.c
Labels: util-lib

test: lookup a unit by cgroup and invocationID in TEST-74-AUX-UTILS.varlinkctl
  test/units/TEST-74-AUX-UTILS.varlinkctl.sh
Labels: tests

core: make name/pid lookup params use AND logic in io.systemd.Unit.List
  src/core/varlink-unit.c
  src/shared/varlink-io.systemd.Unit.c
Labels: util-lib

core: enable SELinux checks in io.systemd.Unit.List
  src/core/varlink-unit.c
Labels: none

basic: pidref_is_set_or_automatic()
  src/basic/pidref.h
Labels: util-lib

TEST-71-HOSTNAME: specify job mode for the stop job
  test/units/TEST-71-HOSTNAME.sh
Labels: tests

po: Translated using Weblate (Chinese (Simplified) (zh_CN))
  po/zh_CN.po
Labels: l10n üåç

po: Translated using Weblate (Swedish)
  po/sv.po
Labels: l10n üåç

po: Translated using Weblate (Turkish)
  po/tr.po
Labels: l10n üåç

po: Translated using Weblate (Turkish)
  po/tr.po
Labels: l10n üåç

po: Translated using Weblate (Chinese (Simplified) (zh_CN))
  po/zh_CN.po
Labels: l10n üåç

po: Translated using Weblate (Swedish)
  po/sv.po
Labels: l10n üåç

login: fix typo
  src/login/pam_systemd.c
Labels: login

po: Translated using Weblate (Turkish)
  po/tr.po
Labels: l10n üåç

po: Translated using Weblate (Swedish)
  po/sv.po
Labels: l10n üåç

po: Translated using Weblate (Chinese (Simplified) (zh_CN))
  po/zh_CN.po
Labels: l10n üåç

TEST-71-HOSTNAME: specify job mode for the stop job (#38413)
  test/units/TEST-71-HOSTNAME.sh
Labels: tests

po: Translated using Weblate (Swedish)
  po/sv.po
Labels: l10n üåç

po: Translated using Weblate (Chinese (Simplified) (zh_CN))
  po/zh_CN.po
Labels: l10n üåç

po: Translated using Weblate (Turkish)
  po/tr.po
Labels: l10n üåç

core: merging errno usage in access_init()
  src/core/selinux-access.c
Labels: selinux

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'
