Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'

Reuse the parent_image handle and parent_loaded_image
  src/boot/linux.c
  src/boot/proto/device-path.h
Labels: sd-boot/sd-stub/bootctl

ukify: drop NX bit from UKI if kernel doesn't have it
  src/ukify/ukify.py
Labels: uki

fileio: support passing chase() flags to control search behaviour
  src/analyze/analyze-security.c
  src/basic/fileio.c
  src/basic/fileio.h
  src/basic/path-util.c
  src/basic/path-util.h
  src/binfmt/binfmt.c
  src/home/homed-manager.c
  src/modules-load/modules-load.c
  src/repart/repart.c
  src/shared/tpm2-util.c
  src/shared/userdb-dropin.c
  src/sysctl/sysctl.c
  src/sysv-generator/sysv-generator.c
  src/test/test-fileio.c
  src/test/test-path-util.c
Labels: analyze, binfmt, modules-load, repart, sysctl, tests, tpm2, userdb, util-lib

conf-files: add CONF_FILES_NO_AUTOFS flag to chase without automounts
  src/basic/conf-files.c
  src/basic/conf-files.h
Labels: util-lib

userdb: add USERDB_NO_AUTOFS flag to search without automounts
  src/shared/userdb-dropin.c
  src/shared/userdb.c
  src/shared/userdb.h
Labels: userdb, util-lib

nss-systemd: search for userdb drop-ins without triggering automounts in-process
  src/nss-systemd/userdb-glue.c
  test/units/TEST-74-AUX-UTILS.userdbctl.sh
Labels: tests, userdb

boot: add support for installing fwupd capsules
  src/boot/boot.c
  src/boot/device-path-util.c
  src/boot/device-path-util.h
  src/boot/efi-efivars.c
  src/boot/efi-efivars.h
  src/boot/efi.h
  src/boot/fwupd.c
  src/boot/fwupd.h
  src/boot/meson.build
  src/bootctl/bootctl-status.c
  src/fundamental/efivars-fundamental.h
Labels: build-system, meson, sd-boot/sd-stub/bootctl, util-lib

nss-systemd: search for userdb drop-ins without triggering automounts in-process
  src/nss-systemd/userdb-glue.c
  test/units/TEST-74-AUX-UTILS.userdbctl.sh
Labels: tests, userdb

analyze: add shutdown-blame command to analyze shutdown performance
  man/systemd-analyze.xml
  shell-completion/bash/systemd-analyze
  src/analyze/analyze-shutdown-blame.c
  src/analyze/analyze-shutdown-blame.h
  src/analyze/analyze.c
  src/analyze/meson.build
Labels: analyze, build-system, documentation, meson

update TODO
  TODO
Labels: none

rules: expose product_family as ID_FAMILY in udev
  rules.d/60-dmi-id.rules
Labels: udev

condition: fix unexpected assertion triggered
  src/shared/condition.c
  test/fuzz/fuzz-link-parser/oss-fuzz-438513119
Labels: tests, util-lib

meson: allow to choose libc implementation
  meson.build
  meson_options.txt
  src/libc/meson.build
  src/libc/musl/meson.build
Labels: build-system, meson

meson: do not define wchar_t in musl header
  src/boot/meson.build
Labels: build-system, meson, sd-boot/sd-stub/bootctl

meson: check existence of renameat2() for musl
  meson.build
  src/include/musl/stdio.h
  src/libc/musl/meson.build
  src/libc/musl/stdio.c
Labels: build-system, meson

meson: explicitly set _LARGEFILE64_SOURCE when built with musl
  meson.build
Labels: build-system, meson

meson: do not use libcrypt by glibc when building with musl
  meson.build
Labels: build-system, meson

musl: introduce dummy functions for mallinfo(), malloc_info(), and malloc_trim()
  src/include/musl/malloc.h
Labels: none

musl: avoid conflict between fcntl.h and our forward.h
  src/include/musl/fcntl.h
Labels: none

fileio: ignore WRITE_STRING_FILE_DISABLE_BUFFER flag when built with musl
  src/basic/fileio.c
Labels: util-lib

format-util: use %llu for formatting rlim_t when built with musl
  meson.build
  src/basic/format-util.h
Labels: build-system, meson, util-lib

musl: replace netinet/if_ether.h with our own implementation
  src/include/musl/netinet/if_ether.h
Labels: none

musl: introduce dummy function for gnu_get_libc_version()
  src/include/musl/gnu/libc-version.h
  src/shared/condition.c
  src/test/test-condition.c
Labels: tests, util-lib

musl: add missing FTW_CONTINUE macro
  src/include/musl/ftw.h
Labels: none

meson: disable nss support when building with musl
  meson.build
Labels: build-system, meson

meson: check existence of gshadow.h when building with musl
  meson.build
  src/include/musl/gshadow.h
Labels: build-system, meson

musl: add fallback parse_printf_format() implementation
  src/include/musl/printf.h
  src/libc/musl/meson.build
  src/libc/musl/printf.c
  src/test/meson.build
  src/test/test-printf.c
Labels: build-system, meson, tests

musl: introduce GNU specific version of strerror_r()
  src/include/musl/string.h
  src/libc/musl/meson.build
  src/libc/musl/string.c
Labels: build-system, meson

musl: replace sys/prctl.h with our own implementation
  src/include/musl/sys/prctl.h
Labels: none

meson: gracefully disable IDN support when building with musl
  meson.build
Labels: build-system, meson

ci: add test for building with musl
  .github/workflows/build-with-musl.sh
  .github/workflows/linter.yml
Labels: tests

musl: add several missing statx macros
  src/include/musl/sys/stat.h
Labels: none

musl: avoid multiple evaluations in CPU_ISSET_S() macro
  src/include/musl/sched.h
Labels: none

musl: add several missing utmpx related macros
  src/include/musl/utmpx.h
Labels: utmp/wtmp

musl: define __THROW when not defined
  src/include/musl/features.h
Labels: none

glob-util: filter out . and .. even if GLOB_ALTDIRFUNC is not supported
  src/basic/glob-util.c
  src/basic/glob-util.h
  src/include/musl/glob.h
  src/test/test-glob-util.c
Labels: tests, util-lib

condition: fix unexpected assertion triggered
  src/shared/condition.c
  test/fuzz/fuzz-link-parser/oss-fuzz-438513119
Labels: tests, util-lib

Reuse the parent_image handle and parent_loaded_image
  src/boot/linux.c
  src/boot/proto/device-path.h
Labels: sd-boot/sd-stub/bootctl

sd-stub: use memory proto if available and set kernel memory to RX with NX_COMPAT
  src/boot/linux.c
  src/boot/pe.c
  src/boot/pe.h
  src/boot/proto/memory-attribute.h
Labels: sd-boot/sd-stub/bootctl

meson: realign summary
  meson.build
  src/boot/meson.build
Labels: build-system, meson, sd-boot/sd-stub/bootctl
