Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'

sd-event: drop cgroupv1 support in memory pressure event source
  src/libsystemd/sd-event/sd-event.c
Labels: sd-event

cgroup-util: drop cgroup v1 support from cg_pid_get_path()
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/core/cgroup.c
  src/core/dbus-unit.c
  src/coredump/coredump.c
  src/libsystemd/sd-bus/bus-creds.c
  src/libsystemd/sd-event/sd-event.c
  src/libsystemd/sd-login/sd-login.c
  src/machine/machined-dbus.c
  src/network/networkd-sysctl.c
  src/nspawn/nspawn-cgroup.c
  src/shared/cgroup-show.c
  src/shared/condition.c
  src/shared/killall.c
  src/shared/tests.c
  src/test/test-cgroup-util.c
  src/test/test-cgroup.c
  src/udev/udev-manager.c
Labels: cgroups, coredump, login, machine, network, nspawn, sd-bus, sd-event, sysctl, tests, udev, util-lib

tree-wide: replace cg_get_path_and_check() with cg_get_path()
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/basic/process-util.c
  src/shared/cgroup-setup.c
Labels: cgroups, util-lib

blockdev-list: also pick up block device size
  src/shared/blockdev-list.c
  src/shared/blockdev-list.h
Labels: util-lib

macro: add simple DEFER_VOID_CALL() helper
  src/basic/macro.h
Labels: util-lib

prompt-util: add generic prompt loop implementation
  src/shared/meson.build
  src/shared/prompt-util.c
  src/shared/prompt-util.h
Labels: build-system, meson, util-lib

meson: sort components
  meson.build
Labels: build-system, meson

repart: never use a grain size below sector size
  src/repart/repart.c
Labels: repart

repart: add Varlink call that runs repart's engine
  src/repart/repart.c
  src/shared/varlink-io.systemd.Repart.c
Labels: repart, util-lib

repart: split out main function that ponders about placement of partitions
  src/repart/repart.c
Labels: repart

blockdev-list: optionally return finds as list instead of writing it to stdout
  src/cryptenroll/cryptenroll.c
  src/repart/repart.c
  src/shared/blockdev-list.c
  src/shared/blockdev-list.h
  src/storagetm/storagetm.c
Labels: cryptsetup, repart, storagetm, util-lib

repart: add some line breaks
  src/repart/repart.c
Labels: repart

glyph: add two more emojis
  src/basic/glyph-util.c
  src/basic/glyph-util.h
  src/test/test-locale-util.c
Labels: locale, tests, util-lib

repart: move definitions + dry_run + empty fields into Context
  src/repart/repart.c
Labels: repart

pretty-print: add WITH_BUFFERED_STDOUT() helper
  src/shared/pretty-print.h
Labels: util-lib

prompt-util: add helpers that paint some "chrome" on top/bottom of screen
  src/shared/prompt-util.c
  src/shared/prompt-util.h
Labels: util-lib

repart: if device node is specified as "-", calculate needed disk space
  src/repart/repart.c
Labels: repart

repart: modernize varlink server setup a bit
  src/creds/creds.c
Labels: creds

sd-json: allow sd_json_dispatch() accept NULL pointers and treat them like empty objects
  src/libsystemd/sd-json/sd-json.c
Labels: none

repart: add basic Varlink support, for now only with a ListCandidateDevices() call
  src/repart/repart.c
  src/shared/meson.build
  src/shared/varlink-io.systemd.Repart.c
  src/shared/varlink-io.systemd.Repart.h
Labels: build-system, meson, repart, util-lib

repart: optionally, filter list of candidate block device and remove OS root disk
  src/repart/repart.c
  src/shared/blockdev-list.c
  src/shared/blockdev-list.h
  src/shared/varlink-io.systemd.Repart.c
Labels: repart, util-lib

json: add new json_dispatch_strv_path() helper
  src/libsystemd/sd-json/json-util.c
  src/libsystemd/sd-json/json-util.h
Labels: none

sd-device: add device_get_sysattr_u64() helper
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/sd-device.c
Labels: sd-device

terminal-util: add terminal_get_cursor_position() helper
  src/basic/terminal-util.c
  src/basic/terminal-util.h
Labels: util-lib

sysinstall: new component
  meson.build
  meson_options.txt
  src/sysinstall/meson.build
  src/sysinstall/sysinstall.c
Labels: build-system, meson

update TODO
  TODO
Labels: none

cgroup-util: drop cgroup v1 support from cg_mask_supported_subtree()
  src/basic/cgroup-util.c
Labels: cgroups, util-lib

cgroup-util: drop cgroup version check in cg_kill_supported()
  src/basic/cgroup-util.c
Labels: cgroups, util-lib

cgroup-util: drop cgroup v1 support in cg_get_path()
  src/basic/cgroup-util.c
Labels: cgroups, util-lib

limits-util: drop cgroup v1 support from physical_memory()
  src/basic/limits-util.c
Labels: util-lib

systemd-analyze: added the verb unit-gdb-start to start a service and attach gdb
  man/org.freedesktop.systemd1.xml
  man/systemd-analyze.xml
  shell-completion/bash/systemd-analyze
  src/analyze/analyze-unit-gdb-start.c
  src/analyze/analyze-unit-gdb-start.h
  src/analyze/analyze.c
  src/analyze/meson.build
  src/core/dbus-unit.c
  src/core/exec-invoke.c
  src/core/execute-serialize.c
  src/core/execute.c
  src/core/execute.h
  src/core/unit-serialize.c
  src/core/unit.c
  src/core/unit.h
  src/core/varlink-unit.c
  src/shared/varlink-io.systemd.Unit.c
Labels: analyze, build-system, documentation, meson, util-lib

cgls: drop cgroup v1 support and silently ignore controller part of the specified cgroup
  src/cgls/cgls.c
Labels: cgls

test: replace cgroup version check with cg_has_legacy()
  src/libsystemd/sd-bus/test-bus-creds.c
  src/libsystemd/sd-login/test-login.c
  src/test/test-bpf-devices.c
  src/test/test-bpf-foreign-programs.c
  src/test/test-cgroup.c
  src/test/test-condition.c
Labels: login, sd-bus, tests

cgroup-util: make cg_get_path() gracefully handle prefixed path
  src/basic/cgroup-util.c
  src/test/test-cgroup.c
Labels: cgroups, tests, util-lib

cgroup-util: drop unused cg_unified() and friends
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/test/test-cgroup-util.c
Labels: cgroups, tests, util-lib

test: reenable test for cg_get_keyed_attribute()
  src/test/test-cgroup-util.c
Labels: tests

cgroup-util: drop 'controller' argument from cg_get_keyed_attribute() and cg_is_empty()
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/cgtop/cgtop.c
  src/core/cgroup.c
  src/core/service.c
  src/login/loginctl.c
  src/machine/machine.c
  src/machine/machinectl.c
  src/oom/oomd-util.c
  src/oom/test-oomd-util.c
  src/shared/cgroup-show.c
  src/test/test-cgroup-util.c
  src/test/test-cgroup.c
Labels: cgroups, cgtop, login, machine, tests, util-lib

cgroup-util: drop 'controller' argument from cg_get_path()
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/basic/process-util.c
  src/cgtop/cgtop.c
  src/core/bpf-devices.c
  src/core/bpf-firewall.c
  src/core/bpf-foreign.c
  src/core/bpf-restrict-ifaces.c
  src/core/bpf-socket-bind.c
  src/core/cgroup.c
  src/core/exec-invoke.c
  src/machine/machine.c
  src/nspawn/nspawn-cgroup.c
  src/oom/oomd-util.c
  src/shared/cgroup-setup.c
  src/shared/cgroup-show.c
  src/shared/condition.c
  src/test/test-bpf-devices.c
  src/test/test-cgroup.c
Labels: cgroups, cgtop, machine, nspawn, tests, util-lib

NEWS: Extend note on /run/lock to recommend locking devices directly
  NEWS
Labels: documentation

NEWS: Extend note on /run/lock to recommend locking devices directly
  NEWS
Labels: documentation
