Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

mkosi: Fix installation conditions for rpmautospec-rpm-macros
  mkosi/mkosi.images/build/mkosi.conf.d/centos/mkosi.conf.d/erofs-utils.conf
  mkosi/mkosi.images/build/mkosi.conf.d/centos/mkosi.conf.d/rpmautospec-rpm-macros.conf
Labels: none

detect-virt: add bare-metal support for GCE
  src/basic/virt.c
Labels: detect-virt, util-lib

uki.conf is used by the ukify tool to create an Unified Kernel Image. It would make sense to install it only if ukify is wanted.
  src/kernel-install/meson.build
Labels: build-system, meson

units: check if kmod command exists
  units/kmod-static-nodes.service.in
Labels: units

core: Fix scope SIGTERM logging
  src/core/unit.c
Labels: none

ci: re-enable uefi secure boot
  .github/workflows/coverage.yml
  test/integration-tests/integration-test-wrapper.py
Labels: tests

workflows: Use hyphens in filenames instead of underscores
  .github/workflows/build-test.sh
  .github/workflows/build-test.yml
  .github/workflows/cflite-pr.yml
  .github/workflows/codeql.yml
  .github/workflows/coverity.yml
  .github/workflows/development-freeze.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/make-release.yml
  .github/workflows/unit-tests.sh
  .github/workflows/unit-tests.yml
Labels: tests

vcs-tag.sh: use more compatible shebang
  tools/vcs-tag.sh
Labels: none

meson: Fix missing test dependencies
  src/boot/meson.build
  src/rpm/meson.build
  src/test/meson.build
  src/ukify/test/meson.build
  test/meson.build
Labels: build-system, meson, rpm, sd-boot/sd-stub/bootctl, tests

mkosi: Disable systemd-timesyncd by default
  mkosi/mkosi.extra.common/usr/lib/systemd/system-preset/00-mkosi.preset
Labels: mkosi

repart: do not enforce 10M min size for immutable file systems by default
  src/repart/repart.c
Labels: repart

tests: avoid apt-get asking for user input
  test/integration-test-setup.sh
Labels: tests

elf2efi: ignore .sframe
  tools/elf2efi.py
Labels: none

basic/socket-util: reserve more space for timeval/timespec messages
  src/basic/socket-util.h
Labels: util-lib

readme: update ubuntu autopkgtest infra support channels
  test/integration-tests/README.md
Labels: tests

sd-event: drop inotify event from buffer when no event source is triggered
  src/libsystemd/sd-event/sd-event.c
Labels: sd-event

test: add test case for issue #38265
  src/libsystemd/sd-event/test-event.c
Labels: sd-event, tests

bootctl: do not fail when the same file is updated multiple times
  src/bootctl/bootctl-install.c
Labels: none

sd-dhcp6-lease: fix calculation of t2
  src/libsystemd-network/sd-dhcp6-lease.c
Labels: network

ci/build-test: install libarchive-dev
  .github/workflows/build-test.sh
Labels: tests

varlink-idl: fix type of ProcessId.bootId
  src/shared/varlink-idl-common.c
Labels: util-lib

units/ssh-access.target: enable StopWhenUnneeded=
  units/ssh-access.target
Labels: units

meson: prepend sys_root to bpf isystem
  meson.build
Labels: build-system, meson

meson: Detect ELF ABI version for bpf build on ppc64 (#38307)
  meson.build
Labels: build-system, meson

LICENSES/README: update file paths after moves
  LICENSES/README.md
Labels: none

TEST-04-JOURNAL: use bash to make builtin echo command used
  test/integration-tests/TEST-04-JOURNAL/TEST-04-JOURNAL.units/logs-filtering.service
  test/units/delegated_cgroup_filtering_payload.sh
Labels: tests

core/dbus-manager: don't ever try to dump fdstore for units not properly loaded
  src/core/dbus-manager.c
Labels: none

core/dbus-manager: validate unit type before calling into service-specific methods
  src/core/dbus-manager.c
Labels: none

TEST-07-PID1: add test case for #38320
  test/units/TEST-07-PID1.issue-38320.sh
Labels: tests

vmspawn: add machine types for m68k/sparc64 and default to 'none' if unknown
  src/vmspawn/vmspawn-util.h
Labels: vmspawn

integration-test: show journalctl command for showing saved journal when TEST_SAVE_JOURNAL=1
  test/integration-tests/integration-test-wrapper.py
Labels: tests

integration-test: mention TEST_SAVE_JOURNAL in README
  test/integration-tests/README.md
Labels: tests

test: set timeout for udevadm settle/wait/lock
  test/units/TEST-13-NSPAWN.nspawn.sh
  test/units/TEST-17-UDEV.06.sh
  test/units/TEST-17-UDEV.10.sh
  test/units/TEST-17-UDEV.SYSTEMD_WANTS-escape.sh
  test/units/TEST-17-UDEV.database.sh
  test/units/TEST-17-UDEV.device_is_processing.sh
  test/units/TEST-17-UDEV.diskseq.sh
  test/units/TEST-24-CRYPTSETUP.sh
  test/units/TEST-35-LOGIN.sh
  test/units/TEST-50-DISSECT.sh
  test/units/TEST-58-REPART.sh
  test/units/TEST-60-MOUNT-RATELIMIT.sh
  test/units/TEST-64-UDEV-STORAGE.sh
  test/units/TEST-67-INTEGRITY.sh
  test/units/TEST-76-SYSCTL.sh
  test/units/TEST-84-STORAGETM.sh
  test/units/TEST-87-AUX-UTILS-VM.bootctl.sh
  test/units/TEST-87-AUX-UTILS-VM.mount.sh
Labels: nspawn, tests

test: drop unnecessary line continuation
  test/units/TEST-50-DISSECT.mountfsd.sh
  test/units/TEST-60-MOUNT-RATELIMIT.sh
Labels: mountfsd, tests

test: move testcase_dependencies() to TEST-10-MOUNT
  test/integration-tests/TEST-10-MOUNT/meson.build
  test/integration-tests/meson.build
  test/units/TEST-10-MOUNT.sh
  test/units/TEST-60-MOUNT-RATELIMIT.sh
Labels: build-system, meson, tests

TEST-10-MOUNT: make cleanup function run on error
  test/units/TEST-10-MOUNT.sh
Labels: tests

TEST-10-MOUNT: wait for userspace mount options being loaded
  test/units/TEST-10-MOUNT.sh
Labels: tests

sysupdate: Prevent unnecessary failure when a transfer Path is not present
  src/sysupdate/sysupdate-resource.c
Labels: sysupdate

test: stop firewalld and friends to make them not disturb test-firewall-util
  test/units/TEST-02-UNITTESTS.sh
Labels: tests

TEST-64-UDEV-STORAGE: enable debug logging and set timeout
  test/units/TEST-64-UDEV-STORAGE.sh
Labels: tests

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'
