Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'

resolve/varlink: replace json_dispatch_address() with json_dispatch_byte_array_iovec()
  src/resolve/resolved-varlink.c
Labels: resolve

resolve/varlink: use sd_json_dispatch_const_string() at more places
  src/resolve/resolved-varlink.c
Labels: resolve

network/dhcp-client: Add /var persistent storage creation
  tmpfiles.d/systemd-network.conf
Labels: none

mkosi: include ip in the main image
  mkosi/mkosi.conf.d/opensuse/mkosi.conf
Labels: mkosi

udev: Introduce uaccess for remote graphical sessions
  rules.d/70-uaccess.rules.in
  rules.d/73-seat-late.rules.in
  src/login/logind-session.c
  src/udev/udev-builtin-uaccess.c
Labels: login, udev

mkosi: include ip in the main image
  mkosi/mkosi.conf.d/opensuse/mkosi.conf
Labels: mkosi

nspawn: fix recursive bind mounts
  src/nspawn/nspawn-mount.c
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, tests

test-network: also save the current state of socket units for resolved and stop them
  test/test-network/systemd-networkd-tests.py
Labels: tests

[WIP] test-network: add test case for issue #38515
  test/test-network/conf/26-bridge-issue-38515.netdev
  test/test-network/conf/26-bridge-vlan-master-issue-38515.network
  test/test-network/conf/26-bridge-vlan-slave-issue-38515.network
  test/test-network/systemd-networkd-tests.py
Labels: tests

nspawn: fix recursive bind mounts
  src/nspawn/nspawn-mount.c
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, tests

tpm2-util: gracefully skip deserialization when no input
  src/pcrlock/pcrlock.c
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
Labels: tpm2, util-lib

tpm2-util: copy serialized result in tpm2_serialize()
  src/pcrlock/pcrlock.c
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
Labels: tpm2, util-lib

pcrlock: make-policy should use path specified by --policy= rather than --pcrlock
  src/pcrlock/pcrlock.c
Labels: none

tpm2-util: gracefully skip deserialization when no input
  src/pcrlock/pcrlock.c
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
Labels: tpm2, util-lib

tpm2-util: copy serialized result in tpm2_serialize()
  src/pcrlock/pcrlock.c
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
Labels: tpm2, util-lib

core/exec-invoke: fallback to set TTY specified by TTYPath= to PAM
  src/core/exec-invoke.c
Labels: none

pcrlock: make-policy should use path specified by --policy= rather than --pcrlock
  src/pcrlock/pcrlock.c
Labels: none

debug
  src/shared/tpm2-util.c
Labels: tpm2, util-lib

debug
  src/shared/tpm2-util.c
Labels: tpm2, util-lib

core/exec-invoke: fallback to set TTY specified by TTYPath= to PAM
  src/core/exec-invoke.c
Labels: none

tpm2-util: gracefully skip deserialization when no input
  src/pcrlock/pcrlock.c
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
Labels: tpm2, util-lib

tpm2-util: copy serialized result in tpm2_serialize()
  src/pcrlock/pcrlock.c
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
Labels: tpm2, util-lib

test-network: also save the current state of socket units for resolved and stop them
  test/test-network/systemd-networkd-tests.py
Labels: tests

network/bridge-vlan: fix segfault
  src/network/networkd-bridge-vlan.c
Labels: network

sd-path: add system-include-arch
  src/libsystemd/sd-path/sd-path.c
  src/path/path-tool.c
  src/systemd/sd-path.h
Labels: sd-path

ci: stop triggering suse-specific package build on OBS
  .obs/workflows.yml
Labels: none

service: stop/reset watchdog on freeze/thaw
  src/core/service.c
  test/units/TEST-38-FREEZER.sh
Labels: tests

test: add coverage for kernel keyring in TEST-50-DISSECT
  mkosi/mkosi.finalize
  test/integration-tests/TEST-50-DISSECT/meson.build
  test/units/TEST-50-DISSECT.dissect.sh
  test/units/TEST-50-DISSECT.sh
Labels: build-system, dissect, meson, mkosi, tests

core/taint: disable unmerged-bin check when built with a split-bin
  src/core/taint.c
Labels: none

udev-rules: add missing device name prefix in log message
  src/udev/udev-rules.c
Labels: udev

test: add coverage for kernel keyring in TEST-50-DISSECT
  mkosi/mkosi.finalize
  test/integration-tests/TEST-50-DISSECT/meson.build
  test/units/TEST-50-DISSECT.dissect.sh
  test/units/TEST-50-DISSECT.sh
Labels: build-system, dissect, meson, mkosi, tests

udev-rules: add missing device name prefix in log message
  src/udev/udev-rules.c
Labels: udev

Enable KEY_PERFORMANCE key present on Linux 6.17
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

test: add coverage for kernel keyring in TEST-50-DISSECT
  mkosi/mkosi.finalize
  test/integration-tests/TEST-50-DISSECT/meson.build
  test/units/TEST-50-DISSECT.dissect.sh
  test/units/TEST-50-DISSECT.sh
Labels: build-system, dissect, meson, mkosi, tests

po: Translated using Weblate (Khmer (Central))
  po/km.po
Labels: l10n üåç

test: add coverage for kernel keyring in TEST-50-DISSECT
  mkosi/mkosi.finalize
  test/integration-tests/TEST-50-DISSECT/meson.build
  test/units/TEST-50-DISSECT.dissect.sh
  test/units/TEST-50-DISSECT.sh
Labels: build-system, dissect, meson, mkosi, tests

ci: add mkosi job for debian stable
  .github/workflows/mkosi.yml
Labels: mkosi, tests

po: Translated using Weblate (Khmer (Central))
  po/km.po
Labels: l10n üåç

hwdb: Add launch emoji keyboard mapping for Asus M1607KA
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

man: fix links
  man/importctl.xml
  man/kernel-command-line.xml
  man/logind.conf.xml
  man/org.freedesktop.timedate1.xml
  man/org.freedesktop.timesync1.xml
  man/systemd-dissect.xml
  man/systemd-vmspawn.xml
  man/systemd.image-policy.xml
  man/systemd.system-credentials.xml
Labels: dissect, documentation, import, timedate, timesync, vmspawn
