Repository systemd/systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: analyze, apparmor, ask-password, backlight, battery-check ü™´, binfmt, bsod, btrfs, build-system, busctl, catalog, cgls, cgroups, cgtop, ci, coccinelle, coredump, creds, cryptsetup, debug-generator, delta, detect-virt, dissect, documentation, env-generator, escape, firstboot, fsck, fstab-generator, gpt-auto, growfs, hibernate-resume, homed, hostname, hwdb, import, integritysetup, journal, journal-remote, kernel-install, l10n üåç, locale, login, machine, meson, mkosi, modules-load, mount, mountfsd, network, notify, nspawn, nsresource, nss-myhostname, portable, pstore, random-seed, remount-fs, repart, resolve, rfkill, rpm, run, sd-boot/sd-stub/bootctl, sd-bus, sd-daemon, sd-device, sd-event, sd-hwdb, sd-id128, sd-netlink, sd-path, sd-resolve, selinux, shell-completion, shutdown, sleep, smack, socket-proxy, ssh-generator, storagetm, sulogin, sysctl, sysext, systemctl, sysupdate, sysusers, tests, timedate, timesync, tmpfiles, tpm2, udev, uki, units, user-session, userdb, util-lib, utmp/wtmp, varlink, vconsole, veritysetup, vmspawn, volatile, xdg-autostart

nspawn: realign gperf table
  src/nspawn/nspawn-gperf.gperf
Labels: nspawn

network: shorten conf parser names and realign gperf table
  src/network/networkd-network-gperf.gperf
  src/network/tc/codel.c
  src/network/tc/codel.h
  src/network/tc/fq-codel.c
  src/network/tc/fq-codel.h
  src/network/tc/fq.c
  src/network/tc/fq.h
  src/network/tc/gred.c
  src/network/tc/gred.h
  src/network/tc/hhf.c
  src/network/tc/hhf.h
  src/network/tc/htb.c
  src/network/tc/htb.h
  src/network/tc/netem.c
  src/network/tc/netem.h
  src/network/tc/qfq.c
  src/network/tc/qfq.h
  src/network/tc/sfb.c
  src/network/tc/sfb.h
  src/network/tc/sfq.c
  src/network/tc/sfq.h
  src/network/tc/tbf.c
  src/network/tc/tbf.h
  src/network/tc/teql.c
  src/network/tc/teql.h
Labels: network

network/netdev: realign gperf table
  src/network/netdev/netdev-gperf.gperf
Labels: network

resolve: shorten conf parser name and realign gperf table
  src/resolve/resolved-dnssd-gperf.gperf
  src/resolve/resolved-dnssd.c
  src/resolve/resolved-dnssd.h
Labels: resolve

Add systemd-modules-load-generator and related target
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/advanced-issue-labeler.yml
  TODO
  man/bootup.xml
  man/kernel-command-line.xml
  man/modules-load.d.xml
  man/rules/meson.build
  man/systemd-modules-load-generator.xml
  man/systemd-modules-load.service.xml
  man/systemd.special.xml
  src/basic/special.h
  src/modules-load/meson.build
  src/modules-load/modules-load-generator.c
  src/modules-load/modules-load.c
  src/test/test-unit-name.c
  test/units/TEST-81-GENERATORS.modules-load-generator.sh
  test/units/TEST-87-AUX-UTILS-VM.modules-load.sh
  units/meson.build
  units/modprobe.slice
  units/modprobe@.service
  units/modules-load.target
  units/systemd-modules-load.service.in
Labels: build-system, ci, documentation, meson, modules-load, tests, units, util-lib

man: add missing comma
  man/systemd.special.xml
Labels: documentation

rules: expose product_family as ID_FAMILY in udev
  man/machine-info.xml
  man/org.freedesktop.hostname1.xml
  rules.d/60-dmi-id.rules
  src/hostname/hostnamectl.c
  src/hostname/hostnamed.c
  src/shared/varlink-io.systemd.Hostname.c
Labels: documentation, hostname, udev, util-lib

mkosi: install util-linux-script on F44
  mkosi/mkosi.conf.d/fedora/mkosi.conf.d/rawhide-42.conf
Labels: none

rules: expose product_family as ID_FAMILY in udev
  man/machine-info.xml
  man/org.freedesktop.hostname1.xml
  rules.d/60-dmi-id.rules
  src/hostname/hostnamectl.c
  src/hostname/hostnamed.c
  src/shared/varlink-io.systemd.Hostname.c
Labels: documentation, hostname, udev, util-lib

chase: invert CHASE_NO_AUTOFS and only set it where needed
  src/basic/chase.c
  src/basic/chase.h
  src/bootctl/bootctl-install.c
  src/bootctl/bootctl-status.c
  src/core/exec-invoke.c
  src/core/mount.c
  src/core/namespace.c
  src/core/service.c
  src/libsystemd/sd-device/sd-device.c
  src/mount/mount-tool.c
  src/mountfsd/mountwork.c
  src/shared/find-esp.c
  src/sysupdate/sysupdate-resource.c
  src/sysupdate/sysupdate-transfer.c
  src/sysupdate/sysupdate.c
  src/test/test-chase-manual.c
  src/tmpfiles/tmpfiles.c
  test/units/TEST-74-AUX-UTILS.userdbctl.sh
Labels: mount, sd-device, sysupdate, tests, tmpfiles, userdb, util-lib

mkosi: install util-linux-script on F44
  mkosi/mkosi.conf.d/fedora/mkosi.conf.d/rawhide-42.conf
Labels: none

boot: add support for installing fwupd capsules
  src/boot/boot.c
  src/boot/device-path-util.c
  src/boot/device-path-util.h
  src/boot/efi-efivars.c
  src/boot/efi-efivars.h
  src/boot/efi.h
  src/boot/fwupd.c
  src/boot/fwupd.h
  src/boot/meson.build
  src/bootctl/bootctl-status.c
  src/fundamental/efivars-fundamental.h
Labels: build-system, meson, sd-boot/sd-stub/bootctl, util-lib

analyze: add shutdown-blame command to analyze shutdown performance
  man/systemd-analyze.xml
  shell-completion/bash/systemd-analyze
  src/analyze/analyze-shutdown-blame.c
  src/analyze/analyze-shutdown-blame.h
  src/analyze/analyze.c
  src/analyze/meson.build
  src/core/manager.c
  src/core/meson.build
  src/core/shutdown-stats.c
  src/core/shutdown-stats.h
Labels: analyze, build-system, documentation, meson

chase: invert CHASE_NO_AUTOFS and only set it where needed
  mkosi/mkosi.sanitizers/mkosi.postinst
  src/basic/chase.c
  src/basic/chase.h
  src/bootctl/bootctl-install.c
  src/bootctl/bootctl-status.c
  src/core/exec-invoke.c
  src/core/mount.c
  src/core/namespace.c
  src/core/service.c
  src/libsystemd/sd-device/sd-device.c
  src/mount/mount-tool.c
  src/mountfsd/mountwork.c
  src/shared/find-esp.c
  src/sysupdate/sysupdate-resource.c
  src/sysupdate/sysupdate-transfer.c
  src/sysupdate/sysupdate.c
  src/test/test-chase-manual.c
  src/tmpfiles/tmpfiles.c
  test/units/TEST-74-AUX-UTILS.userdbctl.sh
Labels: mkosi, mount, sd-device, sysupdate, tests, tmpfiles, userdb, util-lib

oomd: implement a prekill hook
  src/oom/oomd-conf.c
  src/oom/oomd-manager.c
  src/oom/oomd-manager.h
  src/oom/oomd-util.c
  src/oom/oomd-util.h
  src/oom/test-oomd-util.c
Labels: tests

chase: invert CHASE_NO_AUTOFS and only set it where needed
  mkosi/mkosi.sanitizers/mkosi.postinst
  src/basic/chase.c
  src/basic/chase.h
  src/bootctl/bootctl-install.c
  src/bootctl/bootctl-status.c
  src/core/exec-invoke.c
  src/core/mount.c
  src/core/namespace.c
  src/core/service.c
  src/libsystemd/sd-device/sd-device.c
  src/mount/mount-tool.c
  src/mountfsd/mountwork.c
  src/shared/find-esp.c
  src/sysupdate/sysupdate-resource.c
  src/sysupdate/sysupdate-transfer.c
  src/sysupdate/sysupdate.c
  src/test/test-chase-manual.c
  src/tmpfiles/tmpfiles.c
  test/units/TEST-74-AUX-UTILS.userdbctl.sh
Labels: mkosi, mount, sd-device, sysupdate, tests, tmpfiles, userdb, util-lib

hostname-setup: do not trigger assertion when uname() is prohibited by seccomp
  src/shared/hostname-setup.c
Labels: hostname, util-lib

assert-util: drop message argument of assert_log()
  src/basic/assert-util.h
  src/fundamental/assert-fundamental.h
  src/libsystemd/sd-bus/bus-internal.h
Labels: sd-bus, util-lib

assert-util: introduce log_set_assert_return_is_critical_from_env()
  src/basic/assert-util.c
  src/basic/assert-util.h
Labels: util-lib

nss: move definition of NSS_ENTRYPOINT_BEGIN to nss-util.h
  src/basic/meson.build
  src/basic/nss-util.c
  src/basic/nss-util.h
  src/nss-myhostname/nss-myhostname.c
  src/nss-mymachines/nss-mymachines.c
  src/nss-resolve/nss-resolve.c
  src/nss-systemd/nss-systemd.c
Labels: build-system, meson, nss-myhostname, resolve, util-lib

signal-util: do not abort when sigprocmask() failed
  src/basic/signal-util.h
Labels: util-lib

test-nss-hosts: use get_build_exec_dir()
  src/test/test-nss-hosts.c
Labels: tests

test-nss-hosts: add test case for issue #38582
  src/test/test-nss-hosts.c
Labels: tests

seccomp-util: use consistent argument names
  src/shared/seccomp-util.h
Labels: util-lib

hostname-setup: do not trigger assertion when uname() is prohibited by seccomp
  src/shared/hostname-setup.c
Labels: hostname, util-lib

seccomp-util: use consistent argument names
  src/shared/seccomp-util.h
Labels: util-lib

assert-util: drop message argument of assert_log()
  src/basic/assert-util.h
  src/fundamental/assert-fundamental.h
  src/libsystemd/sd-bus/bus-internal.h
Labels: sd-bus, util-lib

assert-util: introduce log_set_assert_return_is_critical_from_env()
  docs/ENVIRONMENT.md
  src/basic/assert-util.c
  src/basic/assert-util.h
Labels: documentation, util-lib

signal-util: do not abort when sigprocmask() failed
  src/basic/signal-util.h
Labels: util-lib

test-nss-hosts: add test case for issue #38582
  src/test/test-nss-hosts.c
Labels: tests

test-nss-hosts: use get_build_exec_dir()
  src/test/test-nss-hosts.c
Labels: tests

nss: move definition of NSS_ENTRYPOINT_BEGIN to nss-util.h
  src/nss-myhostname/nss-myhostname.c
  src/nss-mymachines/nss-mymachines.c
  src/nss-resolve/nss-resolve.c
  src/nss-systemd/nss-systemd.c
  src/shared/meson.build
  src/shared/nss-util.c
  src/shared/nss-util.h
Labels: build-system, meson, nss-myhostname, resolve, util-lib

test-nss-hosts: add test case for issue #38582
  src/test/test-nss-hosts.c
Labels: tests

pidfd-util: force alignment of file_handle union to avoid assert on 32bit
  src/basic/pidfd-util.c
Labels: util-lib

assert-util: introduce log_set_assert_return_is_critical_from_env()
  docs/ENVIRONMENT.md
  src/basic/assert-util.c
  src/basic/assert-util.h
Labels: documentation, util-lib

signal-util: do not abort when sigprocmask() failed
  src/basic/signal-util.h
Labels: util-lib

nss: move definition of NSS_ENTRYPOINT_BEGIN to nss-util.h
  src/nss-myhostname/nss-myhostname.c
  src/nss-mymachines/nss-mymachines.c
  src/nss-resolve/nss-resolve.c
  src/nss-systemd/nss-systemd.c
  src/shared/meson.build
  src/shared/nss-util.c
  src/shared/nss-util.h
Labels: build-system, meson, nss-myhostname, resolve, util-lib

test-nss-hosts: add test case for issue #38582
  src/test/test-nss-hosts.c
Labels: tests

test-nss-hosts: use get_build_exec_dir()
  src/test/test-nss-hosts.c
Labels: tests

pidfd-util: force alignment of file_handle union to avoid assert on 32bit
  src/basic/pidfd-util.c
Labels: util-lib

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analyze:
  - changed-files:
    - any-glob-to-any-file: 'src/analyze/*'
apparmor:
  - changed-files:
    - any-glob-to-any-file: '**/*apparmor*'
ask-password:
  - changed-files:
    - any-glob-to-any-file: '**/*ask-password*'
backlight:
  - changed-files:
    - any-glob-to-any-file: '**/*backlight*'
battery-check ü™´:
  - changed-files:
    - any-glob-to-any-file: '**/*battery*'
binfmt:
  - changed-files:
    - any-glob-to-any-file: '**/*binfmt*'
bsod:
  - changed-files:
    - any-glob-to-any-file: '**/*bsod*'
btrfs:
  - changed-files:
    - any-glob-to-any-file: '**/*btrfs*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
busctl:
  - changed-files:
    - any-glob-to-any-file: '**/*busctl*'
catalog:
  - changed-files:
    - any-glob-to-any-file: 'catalog/*'
cgls:
  - changed-files:
    - any-glob-to-any-file: '**/*cgls*'
cgroups:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/cgroup*', 'src/cgroups-agent/*', 'src/core/cgroup*', 'src/shared/cgroup*']
cgtop:
  - changed-files:
    - any-glob-to-any-file: '**/*cgtop*'
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'coccinelle/*'
coredump:
  - changed-files:
    - any-glob-to-any-file: '**/*coredump*'
creds:
  - changed-files:
    - any-glob-to-any-file: ['src/core/*cred*', 'src/creds/*', 'src/shared/*cred*', 'units/*cred*']
cryptsetup:
  - changed-files:
    - any-glob-to-any-file: ['src/cryptenroll/*', 'src/cryptsetup/*', 'units/*crypt*']
debug-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*debug-generator*'
delta:
  - changed-files:
    - any-glob-to-any-file: '**/*delta*'
detect-virt:
  - changed-files:
    - any-glob-to-any-file: '**/*virt*'
dissect:
  - changed-files:
    - any-glob-to-any-file: '**/*dissect*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/*', 'man/*']
env-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*environment*generator*'
escape:
  - changed-files:
    - any-glob-to-any-file: 'src/escape/*'
firstboot:
  - changed-files:
    - any-glob-to-any-file: '**/*firstboot*'
fsck:
  - changed-files:
    - any-glob-to-any-file: '**/*fsck*'
fstab-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*fstab-generator*'
gpt-auto:
  - changed-files:
    - any-glob-to-any-file: '**/*gpt-auto*'
growfs:
  - changed-files:
    - any-glob-to-any-file: '**/*growfs*'
hibernate-resume:
  - changed-files:
    - any-glob-to-any-file: '**/*hibernate-resume*'
homed:
  - changed-files:
    - any-glob-to-any-file: ['src/home*', 'units/*home*']
hostname:
  - changed-files:
    - any-glob-to-any-file: ['src/hostname/*', 'src/shared/*hostname*', 'units/*hostname*']
hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/*hwdb*'
import:
  - changed-files:
    - any-glob-to-any-file: '**/*import*'
integritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*integrity*'
journal:
  - changed-files:
    - any-glob-to-any-file: ['src/journal/*', 'src/libsystemd/sd-journal/*', 'units/systemd-journal-catalog*', 'units/systemd-journal-flush*', 'units/systemd-journald*']
journal-remote:
  - changed-files:
    - any-glob-to-any-file: ['src/journal-remote/*', 'units/systemd-journal-gateway*', 'units/systemd-journal-remote*']
kernel-install:
  - changed-files:
    - any-glob-to-any-file: '**/*kernel-install*'
l10n üåç:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
locale:
  - changed-files:
    - any-glob-to-any-file: '**/*locale*'
login:
  - changed-files:
    - any-glob-to-any-file: ['src/login/*', '**/sd-login*/**']
machine:
  - changed-files:
    - any-glob-to-any-file: ['src/machine/*', 'units/*machine*']
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
mkosi:
  - changed-files:
    - any-glob-to-any-file: '**/*mkosi*'
modules-load:
  - changed-files:
    - any-glob-to-any-file: ['**/*modules-load*', 'modprobe.d/*']
mount:
  - changed-files:
    - any-glob-to-any-file: ['src/basic/*mount*', 'src/core/*mount*', 'src/mount/*', 'src/shared/*mount*']
mountfsd:
  - changed-files:
    - any-glob-to-any-file: '**/*mountfsd*'
network:
  - changed-files:
    - any-glob-to-any-file: ['src/libsystemd-network/**/*', 'src/network/**/*', 'network/*', 'test/networkd-test.py', 'test/test-network*']
notify:
  - changed-files:
    - any-glob-to-any-file: 'src/notify/*'
nspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*nspawn*'
nsresource:
  - changed-files:
    - any-glob-to-any-file: '**/*nsresource*'
nss-myhostname:
  - changed-files:
    - any-glob-to-any-file: '**/*nss-myhostname*'
portable:
  - changed-files:
    - any-glob-to-any-file: 'src/portable/**/*'
pstore:
  - changed-files:
    - any-glob-to-any-file: '**/*pstore*'
random-seed:
  - changed-files:
    - any-glob-to-any-file: '**/*random-seed*'
remount-fs:
  - changed-files:
    - any-glob-to-any-file: '**/*remount-fs*'
repart:
  - changed-files:
    - any-glob-to-any-file: '**/*repart*'
resolve:
  - changed-files:
    - any-glob-to-any-file: '**/*resolve*'
rfkill:
  - changed-files:
    - any-glob-to-any-file: '**/*rfkill*'
rpm:
  - changed-files:
    - any-glob-to-any-file: 'src/rpm/*'
run:
  - changed-files:
    - any-glob-to-any-file: ['src/run/*', 'man/systemd-run*']
sd-boot/sd-stub/bootctl:
  - changed-files:
    - any-glob-to-any-file: ['src/boot/**/*', 'man/bootctl*', 'man/systemd-boot.xml']
sd-bus:
  - changed-files:
    - any-glob-to-any-file: '**/sd-bus*/**'
sd-daemon:
  - changed-files:
    - any-glob-to-any-file: '**/sd-daemon*/**'
sd-device:
  - changed-files:
    - any-glob-to-any-file: '**/sd-device*/**'
sd-event:
  - changed-files:
    - any-glob-to-any-file: '**/sd-event*/**'
sd-hwdb:
  - changed-files:
    - any-glob-to-any-file: '**/sd-hwdb*/**'
sd-id128:
  - changed-files:
    - any-glob-to-any-file: '**/sd-id128*/**'
sd-netlink:
  - changed-files:
    - any-glob-to-any-file: '**/sd-netlink*/**'
sd-path:
  - changed-files:
    - any-glob-to-any-file: '**/sd-path*/**'
sd-resolve:
  - changed-files:
    - any-glob-to-any-file: '**/sd-resolve*/**'
selinux:
  - changed-files:
    - any-glob-to-any-file: '**/*selinux*'
shell-completion:
  - changed-files:
    - any-glob-to-any-file: 'shell-completion/*'
shutdown:
  - changed-files:
    - any-glob-to-any-file: ['src/shutdown/*', 'units/**/*shutdown*']
sleep:
  - changed-files:
    - any-glob-to-any-file: ['src/shared/*sleep*', 'src/sleep/*']
smack:
  - changed-files:
    - any-glob-to-any-file: '**/*smack*'
socket-proxy:
  - changed-files:
    - any-glob-to-any-file: '**/*socket-proxy*'
ssh-generator:
  - changed-files:
    - any-glob-to-any-file: '**/*ssh-generator*'
storagetm:
  - changed-files:
    - any-glob-to-any-file: '**/*storagetm*'
sulogin:
  - changed-files:
    - any-glob-to-any-file: '**/*sulogin*'
sysctl:
  - changed-files:
    - any-glob-to-any-file: '**/*sysctl*'
sysext:
  - changed-files:
    - any-glob-to-any-file: '**/*sysext*'
systemctl:
  - changed-files:
    - any-glob-to-any-file: '**/*systemctl*'
sysupdate:
  - changed-files:
    - any-glob-to-any-file: '**/*sysupdate*'
sysusers:
  - changed-files:
    - any-glob-to-any-file: '**/*sysusers*'
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'src/shared/tests.*',
      'src/test/**/*',
      'src/fuzz/**/*',
      'test/**/*',
      '**/test-*',
      '**/test_*',
      '.github/workflows/*'
  ]
timedate:
  - changed-files:
    - any-glob-to-any-file: '**/*timedate*'
timesync:
  - changed-files:
    - any-glob-to-any-file: '**/*timesync*'
tmpfiles:
  - changed-files:
    - any-glob-to-any-file: '**/*tmpfiles*'
tpm2:
  - changed-files:
    - any-glob-to-any-file: ['**/*tpm2*', '**/*tpm-*']
udev:
  - changed-files:
    - any-glob-to-any-file: ['src/udev/**/*', 'src/libudev/*', 'man/*udev*', 'rules.d/*']
uki:
  - changed-files:
    - any-glob-to-any-file: '**/ukify*'
units:
  - changed-files:
    - any-glob-to-any-file: 'units/**/*'
user-session:
  - changed-files:
    - any-glob-to-any-file: '**/*user-session*'
userdb:
  - changed-files:
    - any-glob-to-any-file: '**/*userdb*'
util-lib:
  - changed-files:
    - any-glob-to-any-file: ['src/fundamental/**/*', 'src/basic/**/*', 'src/shared/**/*']
utmp/wtmp:
  - changed-files:
    - any-glob-to-any-file: '**/*utmp*'
varlink:
  - changed-files:
    - any-glob-to-any-file: ['src/varlink/*', 'src/libsystemd/sd-varlink/*', 'src/systemd/sd-varlink*']
vconsole:
  - changed-files:
    - any-glob-to-any-file: '**/*vconsole*'
veritysetup:
  - changed-files:
    - any-glob-to-any-file: '**/*veritysetup*'
vmspawn:
  - changed-files:
    - any-glob-to-any-file: '**/*vmspawn*'
volatile:
  - changed-files:
    - any-glob-to-any-file: '**/*volatile*'
xdg-autostart:
  - changed-files:
    - any-glob-to-any-file: '**/**xdg-autostart-generator*'
