Repository systemd/systemd, pull requests merged in 2018-11, with the labels that each got.

#10607 network: fix segfault in manager_free()
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/network/networkd-radv.c
  src/network/networkd-routing-policy-rule.c
Labels: good-to-merge/waiting-for-ci 👍, network

#10542 networkd: add missing bonding options
  man/systemd.netdev.xml
  meson.build
  src/basic/missing.h
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/netdev/bond.c
  src/network/netdev/bond.h
  src/network/netdev/netdev-gperf.gperf
  test/test-network/conf/25-bond.netdev
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#10623 coredump: only install coredump.conf when ENABLED_COREDUMP=true
  src/coredump/meson.build
Labels: coredump

#10625 tests: make NetworkdNetWorkTests.test_routing_policy_rule pass on CentOS
  test/test-network/systemd-networkd-tests.py
Labels: tests

#10631 tests: add a basic test for wireguard
  test/test-network/conf/25-wireguard.netdev
  test/test-network/systemd-networkd-tests.py
Labels: tests

#10637 man: locale.conf: fix file name
  man/locale.conf.xml
Labels: documentation 📖

#10634 tests: also use lsmod to check whether modules are available
  test/test-network/systemd-networkd-tests.py
Labels: tests

#10641 network: check the value of prefix length
  src/basic/in-addr-util.c
  src/basic/in-addr-util.h
  src/network/networkd-address.c
  src/network/test-networkd-conf.c
  src/test/test-in-addr-util.c
Labels: good-to-merge/waiting-for-ci 👍, network, tests, util-lib

#10618 network: fix several issues in config parser
  man/systemd.netdev.xml
  src/libsystemd-network/network-internal.c
  src/network/netdev/bond.c
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/vcan.c
  src/network/netdev/vrf.c
  src/network/networkd-address.c
  src/network/networkd-fdb.c
  src/network/networkd-ipv6-proxy-ndp.c
  src/network/networkd-manager.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-radv.c
  src/network/test-network-tables.c
  src/shared/vlan-util.c
  test/test-network/conf/dhcp-client-timezone-router.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#10606 test: mask hwdb-update.services in most tests
  src/systemd/meson.build
  test/TEST-02-CRYPTSETUP/test.sh
  test/TEST-03-JOBS/test.sh
  test/TEST-04-JOURNAL/test.sh
  test/TEST-05-RLIMITS/test.sh
  test/TEST-06-SELINUX/test.sh
  test/TEST-07-ISSUE-1981/test.sh
  test/TEST-08-ISSUE-2730/test.sh
  test/TEST-09-ISSUE-2691/test.sh
  test/TEST-10-ISSUE-2467/test.sh
  test/TEST-11-ISSUE-3166/test.sh
  test/TEST-12-ISSUE-3171/test.sh
  test/TEST-13-NSPAWN-SMOKE/test.sh
  test/TEST-14-MACHINE-ID/test.sh
  test/TEST-15-DROPIN/testsuite.service
  test/TEST-17-UDEV-WANTS/test.sh
  test/TEST-18-FAILUREACTION/test.sh
  test/TEST-19-DELEGATE/test.sh
  test/TEST-20-MAINPIDGAMES/test.sh
  test/TEST-22-TMPFILES/testsuite.service
  test/TEST-23-TYPE-EXEC/test.sh
Labels: tests

#10655 ask-password: fix minor memory leak on error path
  src/shared/ask-password-api.c
Labels: coverity, easy-review 🍼, good-to-merge/waiting-for-ci 👍, util-lib

#10646 core, sysctl: skip ENOENT for /proc/sys/net/unix/max_dgram_qlen
  src/core/main.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#10652 lldp,ndisc: update debug logs
  src/libsystemd-network/lldp-internal.h
  src/libsystemd-network/ndisc-internal.h
  src/libsystemd-network/sd-lldp.c
  src/libsystemd-network/sd-ndisc.c
  src/network/test-network-tables.c
  src/systemd/sd-lldp.h
  src/systemd/sd-ndisc.h
Labels: good-to-merge/waiting-for-ci 👍, lldp, ndisc

#10653 networkd:cleanup for #10542 (add missing bonding options)
  man/systemd.netdev.xml
  src/network/netdev/bond.c
  src/network/netdev/netdev-gperf.gperf
  test/test-network/conf/25-bond.netdev
Labels: good-to-merge/waiting-for-ci 👍, network

#10650 udevadm: use write_string_file() helper function
  src/basic/fileio.c
  src/basic/fileio.h
  src/basic/smack-util.c
  src/basic/util.c
  src/binfmt/binfmt.c
  src/core/main.c
  src/core/smack-setup.c
  src/hibernate-resume/hibernate-resume.c
  src/libsystemd/sd-device/sd-device.c
  src/login/logind-dbus.c
  src/network/networkd-ipv6-proxy-ndp.c
  src/network/networkd-link.c
  src/nspawn/nspawn-cgroup.c
  src/nspawn/nspawn.c
  src/sleep/sleep.c
  src/udev/udevadm-trigger.c
  src/udev/udevd.c
  src/vconsole/vconsole-setup.c
Labels: good-to-merge/waiting-for-ci 👍, tree-wide, util-lib

#10597 networkd: don't remove ip address or route
  src/network/networkd-address.c
  src/network/networkd-link.c
  src/network/networkd-route.c
  src/network/networkd-route.h
Labels: good-to-merge/waiting-for-ci 👍, network

#10648 time-util: make parse_sec() not accept "12.34.56"
  src/basic/time-util.c
  src/test/test-time-util.c
Labels: tests, util-lib

#10633 Another solution to fix wireguard issues
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-event/sd-event.c
  src/libsystemd/sd-resolve/sd-resolve.c
  src/network/netdev/bridge.c
  src/network/netdev/geneve.c
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/netdev/wireguard.c
  src/network/netdev/wireguard.h
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/systemd/sd-event.h
  src/systemd/sd-resolve.h
Labels: network, sd-event, sd-resolve

#10602 update log messages
  src/libsystemd/sd-device/device-enumerator.c
  src/libsystemd/sd-device/device-monitor.c
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-device/device-util.h
  src/libsystemd/sd-device/sd-device.c
  src/libsystemd/sd-device/test-sd-device.c
  src/udev/udev-node.c
  src/udev/udevadm-hwdb.c
  src/udev/udevadm.c
  src/udev/udevd.c
Labels: sd-device, tests, udev

#10658 udev: improve performance
  src/udev/udevd.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#10452 logind: don't use fb devices with an associated drm card as master
  src/login/71-seat.rules.in
Labels: login, needs-discussion 🤔

#10654 random-util.c mini-fixes
  src/basic/random-util.c
Labels: easy-review 🍼, util-lib

#10644 Fix & re-enable Travis CI
  .travis.yml
  travis-ci/managers/fedora.sh
Labels: ci

#10661 IdeaPad Miix 310 with another bios version
  hwdb/60-sensor.hwdb
Labels: hwdb, please-squash-on-merge

#10664 Fix coverity
  .travis.yml
Labels: dont-merge 💣

#10665 in-addr-util: make in_addr_default_prefix_from_string() or friend set…
  src/basic/in-addr-util.c
  src/network/test-networkd-conf.c
  src/test/test-in-addr-util.c
Labels: network, util-lib

#10668 travis: build and run fuzzers against crash reproducers
  travis-ci/managers/fedora.sh
Labels: ci

#10667 test: missing "die"
  test/udev-test.pl
Labels: easy-review 🍼, tests, udev

#10610 udev-rules: replace udev_device by sd_device
  src/test/test-udev.c
  src/udev/udev-event.c
  src/udev/udev-rules.c
  src/udev/udev.h
  src/udev/udevadm-test.c
  src/udev/udevd.c
Labels: ci-failure-appears-unrelated, udev

#10594 change handling of environment block of PID1's manager object
  src/basic/strv.c
  src/basic/strv.h
  src/basic/time-util.c
  src/core/dbus-manager.c
  src/core/main.c
  src/core/manager.c
  src/core/manager.h
  src/core/mount.c
  src/core/service.c
  src/core/slice.c
  src/core/socket.c
  src/core/swap.c
  src/core/unit.c
  src/core/unit.h
  src/libsystemd/sd-bus/test-bus-objects.c
  src/machine/machine-dbus.c
  src/shared/ask-password-api.c
  src/shared/conf-parser.c
  src/shared/install.c
  src/shared/path-lookup.c
  src/shared/sleep-config.c
  src/systemctl/systemctl.c
  src/sysv-generator/sysv-generator.c
  src/test/test-env-util.c
  src/test/test-exec-util.c
  src/test/test-nss.c
  src/test/test-path-util.c
  src/test/test-serialize.c
  src/test/test-sleep.c
  src/test/test-strv.c
Labels: ci-failure-appears-unrelated, pid1, util-lib

#10305 ask-password: improve log message when inotify limit is reached
  src/tty-ask-password-agent/tty-ask-password-agent.c
Labels: ask-password, good-to-merge/waiting-for-ci 👍

#10674 fix compilation without utmp
  src/login/logind-core.c
Labels: login

#10670 network: ignore multiple assignment of netdev kind
  src/network/netdev/netdev.c
  src/network/netdev/wireguard.h
  test/fuzz/fuzz-netdev-parser/oss-fuzz-11279
  test/fuzz/fuzz-netdev-parser/oss-fuzz-11280
Labels: ci-failure-appears-unrelated, network

#10679 man: Fix implicit dep info for timer units
  man/systemd.timer.xml
Labels: documentation 📖

#10685 core: introduce exec_params_clear()
  src/core/execute.c
  src/core/execute.h
  src/core/mount.c
  src/core/service.c
  src/core/socket.c
  src/core/swap.c
Labels: pid1

#10682 network: fix memleak
  src/network/networkd-network.c
  test/fuzz/fuzz-netdev-parser/oss-fuzz-11286
  test/fuzz/fuzz-netdev-parser/oss-fuzz-11287
  test/fuzz/fuzz-netdev-parser/oss-fuzz-11296
  test/fuzz/fuzz-netdev-parser/oss-fuzz-11297
  test/fuzz/fuzz-netdev-parser/oss-fuzz-11299
  test/fuzz/fuzz-network-parser/oss-fuzz-11285
Labels: network, tests

#10686 unit: make UNIT() cast function deal with NULL pointers
  src/core/unit.h
Labels: pid1, quick-review 🍼

#10684 core/device: use LIST_FOREACH_AFTER() or friend
  src/core/device.c
Labels: pid1

#10687 Fix test-capability
  src/test/test-capability.c
  travis-ci/managers/fedora.sh
Labels: good-to-merge/waiting-for-ci 👍, tests

#10651 conf-parser: ignore trailing back-slash in comment
  man/systemd.syntax.xml
  src/shared/conf-parser.c
  src/test/test-conf-parser.c
Labels: file-parser, good-to-merge/waiting-for-ci 👍

#10676 prefer RDRAND over getrandom() and /dev/urandom when we don't need the very best randomness
  src/basic/random-util.c
  src/basic/random-util.h
  src/firstboot/firstboot.c
  src/libsystemd/sd-id128/sd-id128.c
  src/test/test-random-util.c
Labels: util-lib

#10688 unit: replace three non-type-safe macros by type-safe inline functions
  src/core/unit.h
Labels: good-to-merge/waiting-for-ci 👍, pid1, quick-review 🍼

#10443 cgroup: actually reset the cgroup invalidation mask after we made our…
  src/core/cgroup.c
Labels: cgroups, pid1

#10678 travis: also rebuild everything with ASan and UBSan and install dependencies necessary for running parse-hwdb.py
  .travis.yml
  src/test/test-sd-hwdb.c
  travis-ci/managers/fedora.sh
Labels: ci, tests

#10695 network: fix recent issues found by oss-fuzz
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  test/fuzz/fuzz-network-parser/oss-fuzz-11302
  test/fuzz/fuzz-network-parser/oss-fuzz-11314
Labels: network

#10710 sd-path: drop redundant "= 0ULL" assignment in enum
  src/systemd/sd-path.h
Labels: quick-review 🍼, util-lib

#10711 sd-bus: add docs for a couple of sd-bus APIs
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_attach_event.xml
  man/sd_bus_close.xml
  man/sd_bus_new.xml
Labels: documentation 📖, sd-bus

#10306 nspawn scope lifecycle fixes
  TODO
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_set_close_on_exit.xml
  src/core/dbus-manager.c
  src/core/dbus-scope.c
  src/core/dbus-scope.h
  src/core/dbus-unit.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-bus/bus-internal.h
  src/libsystemd/sd-bus/sd-bus.c
  src/machine/machine.c
  src/machine/machined-dbus.c
  src/machine/machined.h
  src/nspawn/nspawn-register.c
  src/nspawn/nspawn-register.h
  src/nspawn/nspawn.c
  src/systemd/sd-bus.h
Labels: documentation 📖, nspawn, sd-bus

#10720 basic: make rdrand64 a little bit more MSAn-friendly
  src/basic/random-util.c
Labels: util-lib

#10719 id128,analyze: fix layout of help message
  src/analyze/analyze.c
  src/id128/id128.c
Labels: analyze, sd-id128

#10718 sd-device: fix possible use of uninitialized value
  src/libsystemd/sd-device/device-private.c
Labels: sd-device

#10717 network: add missing verification for ip6gretap and sit
  src/network/netdev/tunnel.c
  test/fuzz/fuzz-netdev-parser/oss-fuzz-11324
Labels: network

#10690 random-util: allow RDRAND to be used in 32-bit x86 binaries
  src/basic/random-util.c
  src/basic/random-util.h
  src/test/test-random-util.c
Labels: needs-reporter-feedback ❓

#10712 core: log about /var/run/ prefix used in PIDFile=, patch it to be /ru…
  man/systemd.service.xml
  src/core/dbus-service.c
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/core/load-fragment.h
Labels: pid1

#10723 network: add missing free() in network_free()
  src/network/networkd-network.c
  test/fuzz/fuzz-network-parser/oss-fuzz-11345
Labels: network

#10722 sd-device-monitor: slightly re-design API arguments
  src/core/device.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-device/device-monitor.c
  src/libsystemd/sd-device/test-sd-device-monitor.c
  src/login/logind.c
  src/network/networkd-manager.c
  src/rfkill/rfkill.c
  src/systemd/sd-device.h
  src/udev/udevadm-monitor.c
  src/udev/udevadm-trigger.c
Labels: sd-device, tree-wide

#10732 dhcp, fuzz: set SOCK_CLOEXEC and SOCK_NONBLOCK
  src/fuzz/fuzz-dhcp6-client.c
  src/fuzz/fuzz-lldp.c
  src/fuzz/fuzz-ndisc-rs.c
  src/libsystemd-network/sd-dhcp-server.c
  src/libsystemd-network/test-dhcp-client.c
  src/libsystemd-network/test-dhcp6-client.c
  src/libsystemd-network/test-ipv4ll.c
  src/libsystemd-network/test-lldp.c
  src/libsystemd-network/test-ndisc-ra.c
  src/libsystemd-network/test-ndisc-rs.c
  test/fuzz/fuzz-json/oss-fuzz-10908
  test/fuzz/fuzz-ndisc-rs/oss-fuzz-10734
Labels: dhcp, tests

#10728 Four unrelated cleanups
  man/sd-bus.xml
  src/journal/journalctl.c
  src/libsystemd/sd-bus/bus-error.c
  src/shared/seccomp-util.c
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, journal, sd-bus

#10694 udev-test: remove a check for whether the test is run in a container
  src/test/test-udev.c
  test/udev-test.pl
Labels: tests

#10733 man: fix default value in resolved.conf man page
  man/resolved.conf.xml
Labels: documentation 📖

#10707 journal-remote: bugfix to re-enable ssl key check
  src/journal-remote/journal-remote-main.c
Labels: journal-remote

#10669 networkd: add 6rd support for sit netdevs
  man/systemd.netdev.xml
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/tunnel.c
  src/network/netdev/tunnel.h
  test/fuzz/fuzz-netdev-parser/25-6rd-tunnel.netdev
  test/fuzz/fuzz-netdev-parser/directives.netdev
  test/test-network/conf/25-6rd-tunnel.netdev
  test/test-network/conf/6rd.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#10731 Fixes oss-fuzz#11344
  src/basic/in-addr-util.h
  src/network/networkd-route.c
  test/fuzz/fuzz-netdev-parser/oss-fuzz-11344
Labels: util-lib

#10709 hwdb: revert airplane mode keys handling on Dell
  hwdb/60-keyboard.hwdb
Labels: hwdb

#10734 network: several cleanups
  src/libsystemd/sd-bus/bus-error.c
  src/network/netdev/bond.h
  src/network/netdev/fou-tunnel.h
  src/network/netdev/geneve.h
  src/network/netdev/ipvlan.h
  src/network/netdev/macvlan.h
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/netdev/tunnel.h
  src/network/netdev/vxlan.h
  src/network/netdev/wireguard.h
  src/network/networkd-address-label.c
  src/network/networkd-address-label.h
  src/network/networkd-address-pool.c
  src/network/networkd-address.c
  src/network/networkd-fdb.c
  src/network/networkd-fdb.h
  src/network/networkd-ipv6-proxy-ndp.c
  src/network/networkd-link.c
  src/network/networkd-lldp-tx.h
  src/network/networkd-manager.c
  src/network/networkd-ndisc.c
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-radv.c
  src/network/networkd-route.c
  src/network/networkd-routing-policy-rule.c
  src/network/test-networkd-conf.c
  src/network/wait-online/manager.c
  src/test/test-udev.c
  src/udev/net/ethtool-util.h
  src/udev/net/link-config.h
Labels: good-to-merge/waiting-for-ci 👍, network, sd-bus, tests, udev

#10736 fuzz: fix oss-fuzz#8658
  src/basic/journal-importer.h
  src/coredump/coredump.c
  test/fuzz/fuzz-journal-remote/oss-fuzz-8658
Labels: coredump, good-to-merge/waiting-for-ci 👍, journal, tests

#10689 core: include unit name in emergency_action() reason message
  src/core/unit.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#10603 udevd: several cleanups for parsing options
  src/libudev/libudev-private.h
  src/libudev/libudev-util.c
  src/test/test-udev.c
  src/udev/udev-event.c
  src/udev/udev-rules.c
  src/udev/udev.h
  src/udev/udevadm-control.c
  src/udev/udevadm-test.c
  src/udev/udevd.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#9088 Always rename an interface to its name specified in config
  src/udev/net/link-config.c
Labels: reviewed/needs-rework 🔨, udev

#10743 units: set NoNewPrivileges= for all long-running services
  units/systemd-coredump@.service.in
  units/systemd-hostnamed.service.in
  units/systemd-initctl.service.in
  units/systemd-journal-gatewayd.service.in
  units/systemd-journal-remote.service.in
  units/systemd-journal-upload.service.in
  units/systemd-journald.service.in
  units/systemd-localed.service.in
  units/systemd-logind.service.in
  units/systemd-machined.service.in
  units/systemd-networkd.service.in
  units/systemd-resolved.service.in
  units/systemd-rfkill.service.in
  units/systemd-timedated.service.in
  units/systemd-timesyncd.service.in
Labels: good-to-merge/waiting-for-ci 👍, units

#10741 propeperly handle sd_event_add_signal() errors
  src/hostname/hostnamed.c
  src/journal-remote/journal-remote-main.c
  src/locale/localed.c
  src/timedate/timedated.c
Labels: good-to-merge/waiting-for-ci 👍, tree-wide

#10727 tests: dbus.service was renamed to dbus-daemon.service in Rawhide
  test/test-functions
Labels: tests

#10614 endianness dependent behavior of dhcp_identifier_set_iaid()
  src/libsystemd-network/dhcp-identifier.c
  src/libsystemd-network/dhcp-identifier.h
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/test-dhcp-client.c
Labels: dhcp, looks-good/needs-rebase

#10745 units: also change portabled's syscall filter to a whitelist
  units/systemd-portabled.service.in
Labels: good-to-merge/waiting-for-ci 👍, portable, units

#10744 units: lock down logind with fs namespacing options
  units/systemd-logind.service.in
Labels: good-to-merge/waiting-for-ci 👍, login, units

#10750 core: use local variable m instead of u->manager
  src/core/unit.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#10760 udev: downgrade message when we fail to set inotify watch up
  src/udev/udev-watch.c
  src/udev/udevd.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#10757 Fix cgroupv2 bpf-devices issues
  src/core/bpf-devices.c
Labels: cgroups, good-to-merge/waiting-for-ci 👍, pid1

#10764 man: document that env vars are not suitable for passing secrets
  man/systemd.exec.xml
Labels: documentation 📖

#10765 core: split out audit message generation from unit_notify()
  src/core/unit.c
Labels: pid1

#10766 unit: don't claim there was no IP traffic generated by a unit when we…
  src/core/unit.c
Labels: pid1

#10768 travis: also compile and run unsafe unit tests
  travis-ci/managers/fedora.sh
Labels: ci

#10762 hwdb: Add accelerometer orientation quirk for the Chuwi CoreBook tablet
  hwdb/60-sensor.hwdb
Labels: hwdb, reviewed/needs-rework 🔨

#10748 json: decrease DEPTH_MAX to 4k
  src/basic/json.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#10763 when reloading, don't throttle unit/job dbus change signal generation
  src/core/dbus-manager.c
  src/core/dbus.c
  src/core/dbus.h
  src/core/manager.c
  src/core/manager.h
Labels: pid1

#10747 properly acquire os-release file from containers
  src/basic/process-util.c
  src/basic/process-util.h
  src/basic/terminal-util.c
  src/libsystemd/sd-bus/bus-container.c
  src/machine/machine-dbus.c
  src/shared/logs-show.c
Labels: machine, util-lib

#10769 travis: use double the normal timeout in the ASan & UBSan stage
  travis-ci/managers/fedora.sh
  travis-ci/managers/travis_wait.bash
Labels: ci

#10759 Udevd more configuration options
  man/udev.conf.xml
  src/nspawn/nspawn.c
  src/shared/dissect-image.c
  src/shared/udev-util.c
  src/shared/udev-util.h
  src/test/test-udev.c
  src/udev/udev-event.c
  src/udev/udev-rules.c
  src/udev/udev.conf
  src/udev/udev.h
  src/udev/udevadm-test.c
  src/udev/udevd.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#10771 core: drop dbus queue recursion check
  src/core/manager.c
  src/core/manager.h
Labels: good-to-merge/waiting-for-ci 👍, pid1

#10753 Add mode in journalctl where ^C is handled by the pager
  man/busctl.xml
  man/less-variables.xml
  man/systemd.xml
  man/timedatectl.xml
  src/analyze/analyze.c
  src/backlight/backlight.c
  src/basic/cgroup-util.h
  src/basic/clock-util.c
  src/basic/def.h
  src/basic/exec-util.c
  src/basic/fileio.c
  src/basic/fileio.h
  src/basic/hostname-util.c
  src/basic/mount-util.c
  src/basic/pager.c
  src/basic/pager.h
  src/basic/process-util.c
  src/basic/time-util.c
  src/basic/virt.c
  src/binfmt/binfmt.c
  src/boot/bootctl.c
  src/busctl/busctl.c
  src/cgls/cgls.c
  src/core/ima-setup.c
  src/core/main.c
  src/core/smack-setup.c
  src/coredump/coredumpctl.c
  src/cryptsetup/cryptsetup-generator.c
  src/delta/delta.c
  src/journal/catalog.c
  src/journal/journalctl.c
  src/libsystemd/sd-hwdb/hwdb-util.c
  src/libsystemd/sd-path/sd-path.c
  src/locale/localectl.c
  src/login/inhibit.c
  src/login/loginctl.c
  src/machine/machinectl.c
  src/mount/mount-tool.c
  src/network/networkctl.c
  src/nspawn/nspawn.c
  src/portable/portablectl.c
  src/reply-password/reply-password.c
  src/resolve/resolvectl.c
  src/resolve/resolved-etc-hosts.c
  src/resolve/resolved-resolv-conf.c
  src/shared/clean-ipc.c
  src/shared/install.c
  src/shared/serialize.c
  src/sysctl/sysctl.c
  src/systemctl/systemctl.c
  src/sysusers/sysusers.c
  src/sysv-generator/sysv-generator.c
  src/test/test-env-util.c
  src/test/test-serialize.c
  src/timedate/timedatectl.c
  src/tmpfiles/tmpfiles.c
  src/udev/udev-rules.c
Labels: good-to-merge/waiting-for-ci 👍, journal

#10742 default to C.UTF-8 locale, and many improvements to env var file parsing/kernel cmdline parsing
  NEWS
  TODO
  src/basic/exec-util.c
  src/basic/fileio.c
  src/basic/fileio.h
  src/basic/locale-util.c
  src/basic/locale-util.h
  src/basic/os-util.c
  src/basic/proc-cmdline.c
  src/basic/proc-cmdline.h
  src/basic/util.c
  src/core/execute.c
  src/core/locale-setup.c
  src/hostname/hostnamed.c
  src/journal-remote/journal-upload.c
  src/journal/journald-stream.c
  src/journal/sd-journal.c
  src/libsystemd-network/sd-dhcp-lease.c
  src/libsystemd/sd-login/sd-login.c
  src/libsystemd/sd-network/sd-network.c
  src/locale/keymap-util.c
  src/locale/localectl.c
  src/locale/localed.c
  src/login/logind-inhibit.c
  src/login/logind-session.c
  src/login/logind-user.c
  src/machine/machine-dbus.c
  src/machine/machine.c
  src/network/networkd-link.c
  src/network/networkd-lldp-tx.c
  src/portable/portablectl.c
  src/resolve/resolved-link.c
  src/shared/cgroup-show.c
  src/shared/condition.c
  src/shared/dissect-image.c
  src/shared/machine-image.c
  src/shared/tests.c
  src/shared/udev-util.c
  src/systemctl/systemctl.c
  src/test/test-fileio.c
  src/test/test-proc-cmdline.c
  src/test/test-unit-file.c
  src/vconsole/vconsole-setup.c
Labels: locale, util-lib

#10775 Revert "units: lock down logind with fs namespacing options"
  units/systemd-logind.service.in
Labels: units

#10781 udev-rules: fix possible assertion
  src/udev/udev-rules.c
Labels: udev

#10789 sd-event: do not use assert_return for something that is not an error
  src/libsystemd/sd-event/sd-event.c
Labels: good-to-merge/waiting-for-ci 👍, sd-event

#10788 tests: add a fuzzer for dev_kmsg_record
  src/basic/escape.c
  src/fuzz/fuzz-journald-kmsg.c
  src/fuzz/meson.build
  src/journal/journald-kmsg.c
  src/journal/journald-kmsg.h
  test/fuzz/fuzz-journald-kmsg/basic
  test/fuzz/fuzz-journald-kmsg/crash-c6c04d83e73f3d1417bc0afce8fa81b99f955963
  test/fuzz/fuzz-journald-kmsg/dev-null
  test/fuzz/fuzz-journald-kmsg/leak-ab161e601e82f1ec31d11e2cbae2747834ce9e43
  test/fuzz/fuzz-journald-kmsg/loopback
  test/fuzz/fuzz-journald-kmsg/subsystem-loopback
Labels: journal, tests

#10793 test: initialize syslog_fd in fuzz-journald-kmsg too
  src/fuzz/fuzz-journald-kmsg.c
Labels: good-to-merge/waiting-for-ci 👍, priority, tests

#10791 Some minor tweaks for sd_event_source_get_enabled
  man/sd_event_source_set_enabled.xml
  src/journal/journal-file.c
  src/libsystemd/sd-event/sd-event.c
Labels: good-to-merge/waiting-for-ci 👍, sd-event

#10796 units: corrections for systemd-exit.service
  units/systemd-exit.service
Labels: units

#10795 trivial fixes to some generators
  src/core/manager.c
  src/debug-generator/debug-generator.c
  src/hibernate-resume/hibernate-resume-generator.c
Labels: debug-generator, hibernate-resume, pid1, quick-review 🍼

#10798 sd-bus: make strict asan shut up
  src/libsystemd/sd-bus/bus-message.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🍼, sd-bus

#10794 tests: run fuzzers four times in a row
  src/fuzz/fuzz-main.c
Labels: good-to-merge/with-minor-suggestions, tests

#10803 cocci: simplify some if checks
  coccinelle/redundant-if.cocci
  src/basic/cgroup-util.c
  src/core/manager.c
  src/resolve/resolved-dns-dnssec.c
Labels: coccinelle, quick-review 🍼, tree-wide

#10806 various smaller fixes and improvements to logind (split out of #10495)
  src/basic/locale-util.c
  src/basic/locale-util.h
  src/boot/bootctl.c
  src/boot/efi/util.c
  src/login/logind-core.c
  src/login/logind-dbus.c
  src/login/logind.h
  src/login/org.freedesktop.login1.policy
  src/shared/efivars.c
  src/shared/efivars.h
  src/test/test-locale-util.c
Labels: good-to-merge/waiting-for-ci 👍, login

#10785 remove JoinControllers= setting
  TODO
  man/systemd-system.conf.xml
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/cgtop/cgtop.c
  src/core/cgroup.c
  src/core/main.c
  src/core/mount-setup.c
  src/core/mount-setup.h
  src/core/system.conf.in
  src/shared/conf-parser.c
  src/shared/conf-parser.h
  src/test/test-conf-parser.c
  test/fuzz/fuzz-unit-file/directives.service
Labels: cgroups, good-to-merge/waiting-for-ci 👍, pid1

#10777 list syscalls supported by the local kernel but not in any syscall groups explicitly in "systemd-analyze syscall-filter"
  src/analyze/analyze.c
  src/shared/seccomp-util.c
Labels: analyze, good-to-merge/waiting-for-ci 👍, seccomp

#10770 improvements to structure log events from PID1
  catalog/systemd.catalog.in
  src/core/automount.c
  src/core/job.c
  src/core/manager.c
  src/core/mount.c
  src/core/path.c
  src/core/scope.c
  src/core/service.c
  src/core/socket.c
  src/core/swap.c
  src/core/timer.c
  src/core/unit.c
  src/core/unit.h
  src/systemd/sd-messages.h
Labels: good-to-merge/waiting-for-ci 👍, pid1

#10751 Reuse sd_event_source object for timer event
  meson.build
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/sd-ipv4acd.c
  src/libsystemd-network/sd-lldp.c
  src/libsystemd-network/sd-ndisc.c
  src/libsystemd-network/sd-radv.c
  src/libsystemd/meson.build
  src/libsystemd/sd-event/event-source.h
  src/libsystemd/sd-event/event-util.c
  src/libsystemd/sd-event/event-util.h
  src/libsystemd/sd-event/sd-event.c
  src/udev/udevd.c
Labels: dhcp, good-to-merge/waiting-for-ci 👍, lldp, ndisc, sd-event, udev

#10805 migrate boot loader interface doc from wiki into markdown (split out of #10495)
  docs/BOOT_LOADER_INTERFACE.md
  docs/index.md
  man/bootctl.xml
  man/systemd-boot.xml
  tools/make-index-md.sh
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍

#10810 fix build with -Defi=false
  src/shared/efivars.c
Labels: good-to-merge/waiting-for-ci 👍

#10815 rc-local-generator: add comment explaining the background of the gene…
  src/rc-local-generator/rc-local-generator.c
Labels: rc-local-generator

#10812 macro: remove double evaluation in FLAGS_SET()
  src/basic/macro.h
Labels: util-lib

#10821 test: also tests enumerating subsystems
  src/libsystemd/sd-device/test-sd-device.c
Labels: tests

#10507 cgroup v2: Don't require CPU controller for CPU accounting in 4.15+
  man/systemd-system.conf.xml
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/cgtop/cgtop.c
  src/core/cgroup.c
  src/core/dbus-cgroup.c
  src/core/main.c
  src/test/test-cgroup-mask.c
  test/daughter.service
Labels: cgroups, ci-fails/needs-rework 🔥, pid1

#10825 udev link advertizing followup
  src/basic/missing.h
  src/basic/util.c
  src/basic/util.h
  src/test/test-util.c
  src/udev/net/ethtool-util.c
  src/udev/net/link-config.c
  src/udev/net/link-config.h
Labels: udev

#10814 if we need to hibernate/suspend-then-hibernate/hybrid-sleep due to keypress/lid switch but can't, fallback to regular suspend
  src/login/logind-action.c
Labels: login

#10809 Add helper function for logging unit results
  TODO
  src/core/automount.c
  src/core/mount.c
  src/core/path.c
  src/core/scope.c
  src/core/service.c
  src/core/swap.c
  src/core/timer.c
  src/core/unit.h
Labels: pid1

#10832 pam_systemd: suppress LOG_DEBUG log messages if debugging is off
  src/login/pam_systemd.c
Labels: login, quick-review 🏃‍♂️

#10844 meson: order source files alphabetically
  src/basic/meson.build
Labels: meson, quick-review 🏃‍♂️

#10837 doc: document the boot menu entry identifier vocabulary
  docs/BOOT_LOADER_INTERFACE.md
Labels: documentation 📖

#10836 test-execute: fix killing of unit processes
  src/test/test-execute.c
Labels: tests

#10838 tests: always use the right vtable wrapper calls
  src/test/test-execute.c
  src/test/test-path.c
Labels: tests

#10845 RFC: introduce automatic destructors for static variables
  src/ac-power/ac-power.c
  src/basic/macro.h
  src/basic/main-func.h
  src/basic/meson.build
  src/basic/static-destruct.h
  src/boot/bless-boot.c
  src/boot/boot-check-no-failures.c
  src/cgtop/cgtop.c
  src/coredump/coredump.c
  src/debug-generator/debug-generator.c
  src/detect-virt/detect-virt.c
  src/escape/escape.c
  src/fsck/fsck.c
  src/hostname/hostnamectl.c
  src/hwdb/hwdb.c
  src/id128/id128.c
  src/import/export.c
  src/import/import.c
  src/import/importd.c
  src/import/pull.c
  src/journal/cat.c
  src/login/inhibit.c
  src/login/logind.c
  src/login/user-runtime-dir.c
  src/machine/machined.c
  src/notify/notify.c
  src/partition/makefs.c
  src/path/path.c
  src/portable/portabled.c
  src/quotacheck/quotacheck.c
  src/random-seed/random-seed.c
  src/remount-fs/remount-fs.c
  src/sleep/sleep.c
  src/stdio-bridge/stdio-bridge.c
  src/sysv-generator/sysv-generator.c
  src/tty-ask-password-agent/tty-ask-password-agent.c
  src/volatile-root/volatile-root.c
Labels: util-lib

#10843 tree-wide: use __ prefixed gcc attributes
  src/basic/json.h
  src/basic/macro.h
  src/basic/sparse-endian.h
  src/basic/unaligned.h
  src/basic/util.h
  src/boot/efi/util.h
  src/libsystemd/sd-bus/bus-error.h
  src/libudev/libudev.h
  src/systemd/_sd-common.h
Labels: good-to-merge/waiting-for-ci 👍, tree-wide

#10841 process-util: check for correct kill return value
  src/basic/process-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#10834 bootspec: introduce SYSTEMD_ESP_PATH for overriding where to look for…
  docs/ENVIRONMENT.md
  src/shared/bootspec.c
Labels: sd-boot

#10835 fix flushing out of transient env vars from PID1's Manager object
  src/core/main.c
  src/core/manager.c
  src/core/manager.h
Labels: pid1

#10801 zsh-completion: complete available, not running machines for `clone`
  shell-completion/zsh/_machinectl
Labels: shell completion

#10322 zsh-completion: Add support for set-property
  shell-completion/zsh/_systemctl.in
Labels: shell completion

#10847 tests: add a fuzzer for journald streams
  src/fuzz/fuzz-journald-stream.c
  src/fuzz/fuzz-journald.c
  src/fuzz/meson.build
  src/journal/journald-stream.c
  src/journal/journald-stream.h
  test/fuzz/fuzz-journald-stream/basic
Labels: good-to-merge/with-minor-suggestions, journal, tests

#10787 libudev: drop unused private functions
  src/libudev/libudev-device-internal.h
  src/libudev/libudev-device-private.c
  src/libudev/libudev-device.c
  src/libudev/libudev-hwdb.c
  src/libudev/libudev-list-internal.h
  src/libudev/libudev-list.c
  src/libudev/libudev-monitor.c
  src/libudev/libudev-private.h
  src/libudev/libudev-queue.c
  src/libudev/libudev-util.c
  src/libudev/libudev-util.h
  src/libudev/libudev.c
  src/libudev/libudev.h
  src/libudev/meson.build
  src/test/test-libudev.c
  src/test/test-udev.c
  src/udev/ata_id/ata_id.c
  src/udev/scsi_id/scsi_id.c
  src/udev/udev-builtin-path_id.c
  src/udev/udev-builtin-usb_id.c
  src/udev/udev-event.c
  src/udev/udev-node.c
  src/udev/udev-rules.c
  src/udev/udev.h
  src/udev/udevadm-settle.c
  src/udev/udevadm-test.c
  src/udev/udevd.c
Labels: udev

#10831 Move various files that don't need to be in basic/ to shared/
  docs/CODING_STYLE.md
  meson.build
  src/basic/meson.build
  src/journal/journal-file.c
  src/journal/journal-file.h
  src/shared/barrier.c
  src/shared/barrier.h
  src/shared/bitmap.c
  src/shared/bitmap.h
  src/shared/blkid-util.h
  src/shared/bpf-program.c
  src/shared/bpf-program.h
  src/shared/calendarspec.c
  src/shared/calendarspec.h
  src/shared/clock-util.c
  src/shared/clock-util.h
  src/shared/cpu-set-util.c
  src/shared/cpu-set-util.h
  src/shared/crypt-util.c
  src/shared/crypt-util.h
  src/shared/exec-util.c
  src/shared/exec-util.h
  src/shared/exit-status.c
  src/shared/exit-status.h
  src/shared/fileio-label.c
  src/shared/fileio-label.h
  src/shared/format-table.c
  src/shared/format-table.h
  src/shared/journal-importer.c
  src/shared/journal-importer.h
  src/shared/json-internal.h
  src/shared/json.c
  src/shared/json.h
  src/shared/lockfile-util.c
  src/shared/lockfile-util.h
  src/shared/meson.build
  src/shared/os-util.c
  src/shared/os-util.h
  src/shared/reboot-util.c
  src/shared/reboot-util.h
  src/shared/rlimit-util.c
  src/shared/rlimit-util.h
  src/shared/securebits-util.c
  src/shared/securebits-util.h
  src/shared/socket-protocol-list.c
  src/shared/socket-protocol-list.h
  src/shared/verbs.c
  src/shared/verbs.h
  src/shared/web-util.c
  src/shared/web-util.h
  src/shared/xml.c
  src/shared/xml.h
Labels: good-to-merge/waiting-for-ci 👍, meson

#10538 tmpfiles: remove children before their parents plus other fixlets
  man/systemd-tmpfiles.xml
  man/tmpfiles.d.xml
  src/basic/btrfs-util.c
  src/tmpfiles/tmpfiles.c
  test/TEST-22-TMPFILES/test-06.sh
Labels: tmpfiles

#10850 reduce some logging boilerplate
  src/backlight/backlight.c
  src/basic/log.c
  src/basic/log.h
  src/binfmt/binfmt.c
  src/boot/bless-boot-generator.c
  src/cgroups-agent/cgroups-agent.c
  src/coredump/coredump.c
  src/cryptsetup/cryptsetup-generator.c
  src/cryptsetup/cryptsetup.c
  src/debug-generator/debug-generator.c
  src/firstboot/firstboot.c
  src/fsck/fsck.c
  src/fstab-generator/fstab-generator.c
  src/getty-generator/getty-generator.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/hibernate-resume/hibernate-resume-generator.c
  src/hibernate-resume/hibernate-resume.c
  src/hostname/hostnamed.c
  src/import/importd.c
  src/initctl/initctl.c
  src/journal-remote/journal-gatewayd.c
  src/locale/localed.c
  src/login/logind.c
  src/machine/machined.c
  src/modules-load/modules-load.c
  src/network/networkd.c
  src/network/wait-online/wait-online.c
  src/partition/growfs.c
  src/partition/makefs.c
  src/portable/portabled.c
  src/quotacheck/quotacheck.c
  src/random-seed/random-seed.c
  src/rc-local-generator/rc-local-generator.c
  src/remount-fs/remount-fs.c
  src/reply-password/reply-password.c
  src/resolve/resolved.c
  src/rfkill/rfkill.c
  src/shared/generator.c
  src/shared/generator.h
  src/sleep/sleep.c
  src/sulogin-shell/sulogin-shell.c
  src/sysctl/sysctl.c
  src/system-update-generator/system-update-generator.c
  src/sysusers/sysusers.c
  src/sysv-generator/sysv-generator.c
  src/timedate/timedated.c
  src/timesync/timesyncd.c
  src/tmpfiles/tmpfiles.c
  src/tty-ask-password-agent/tty-ask-password-agent.c
  src/update-done/update-done.c
  src/update-utmp/update-utmp.c
  src/user-sessions/user-sessions.c
  src/vconsole/vconsole-setup.c
  src/veritysetup/veritysetup-generator.c
  src/veritysetup/veritysetup.c
  src/volatile-root/volatile-root.c
Labels: tree-wide, util-lib

#10858 more tmpfiles fixlets
  man/tmpfiles.d.xml
  src/tmpfiles/tmpfiles.c
  test/TEST-22-TMPFILES/test-07.sh
Labels: good-to-merge/waiting-for-ci 👍, tmpfiles

#10853 main: don't freeze PID 1 in containers, exit with non-zero instead
  src/core/main.c
  src/nspawn/nspawn-stub-pid1.c
  src/shared/exit-status.c
  src/shared/exit-status.h
Labels: good-to-merge/waiting-for-ci 👍, pid1

#10857 tests: skip test_exec_ambientcapabilities on Travis CI under ASan
  src/test/test-execute.c
  src/test/test-helper.c
  src/test/test-helper.h
  travis-ci/managers/fedora.sh
Labels: ci, good-to-merge/waiting-for-ci 👍, tests

#10862 core: run env generators with non-zero umask
  src/core/manager.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#10866 libudev-util: several cleanups and tests
  src/libudev/libudev-util.c
  src/libudev/libudev-util.h
  src/test/test-libudev.c
  src/udev/scsi_id/scsi_id.c
  src/udev/udev-event.c
  src/udev/udev-rules.c
Labels: tests, udev

#10867 generators: drop umask calls
  src/boot/bless-boot-generator.c
  src/cryptsetup/cryptsetup-generator.c
  src/debug-generator/debug-generator.c
  src/fstab-generator/fstab-generator.c
  src/getty-generator/getty-generator.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/hibernate-resume/hibernate-resume-generator.c
  src/rc-local-generator/rc-local-generator.c
  src/system-update-generator/system-update-generator.c
  src/sysv-generator/sysv-generator.c
  src/veritysetup/veritysetup-generator.c
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍

#10868 Revert 5fdf2d51c244288ac41443d1bd81365fab7b7b81
  src/login/logind-dbus.c
  src/shared/sleep-config.c
Labels: good-to-merge/waiting-for-ci 👍, hibernate-resume

#10863 sysctl: when debug logging about sysctl changes, truncate trailing ne…
  src/shared/sysctl-util.c
Labels: quick-review 🏃‍♂️, util-lib

#10884 meson: add more debug options
  meson.build
  meson_options.txt
  src/basic/siphash24.c
  src/test/test-udev.c
  src/udev/udev-rules.c
  src/udev/udev.h
  src/udev/udevadm-test.c
  src/udev/udevd.c
Labels: ci-failure-appears-unrelated, meson, udev

#10883 man: update description of Description=
  man/systemd.unit.xml
Labels: documentation 📖

#10885 tests: add a fuzzer for catalog_import_file
  src/fuzz/fuzz-catalog.c
  src/fuzz/meson.build
  test/fuzz/fuzz-catalog/systemd.pl.catalog
Labels: fuzzer, tests

#10888 unit: drop an unused fields from Unit struct
  src/core/unit.h
Labels: good-to-merge/waiting-for-ci 👍, pid1, quick-review 🏃‍♂️

#10891 tree-wide: use recently introduced macros
  src/locale/keymap-util.c
  src/locale/keymap-util.h
  src/locale/localed.c
  src/locale/test-keymap-util.c
  src/resolve/resolvectl.c
  src/rfkill/rfkill.c
  src/socket-proxy/socket-proxyd.c
  src/sysusers/sysusers.c
  src/time-wait-sync/time-wait-sync.c
  src/timedate/timedated.c
  src/update-done/update-done.c
  src/update-utmp/update-utmp.c
  src/veritysetup/veritysetup-generator.c
  src/veritysetup/veritysetup.c
Labels: tree-wide

#10880 70-mouse.hwdb: Set DPI for MS Classic IntelliMouse
  hwdb/70-mouse.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#10889 unit: minor optimization, use stack over heap, when we can
  src/core/unit.c
Labels: good-to-merge/waiting-for-ci 👍, pid1, quick-review 🏃‍♂️

#10886 sd-device: fix subsystem filter
  src/libsystemd/sd-device/device-monitor.c
  src/libsystemd/sd-device/test-sd-device-monitor.c
Labels: ci-failure-appears-unrelated, sd-device, tests

#10861 libudev: several cleanups for udev-list
  src/basic/macro.h
  src/libudev/libudev-device.c
  src/libudev/libudev-enumerate.c
  src/libudev/libudev-hwdb.c
  src/libudev/libudev-list-internal.h
  src/libudev/libudev-list.c
  src/libudev/libudev-monitor.c
  src/libudev/libudev-queue.c
  src/libudev/libudev.c
  src/test/test-libudev.c
Labels: ci-failure-appears-unrelated, udev
