Repository systemd/systemd, pull requests merged in 2018-03, with the labels that each got.

#8318 A small man page update
  man/sd_bus_get_n_queued_read.xml
  po/.gitignore
Labels: documentation

#8149 Properly synthesize CPU+memory accounting data for the root cgroup
  TODO
  man/systemd-cgtop.xml
  mkosi.build
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/basic/procfs-util.c
  src/basic/procfs-util.h
  src/cgtop/cgtop.c
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/slice.c
  src/test/test-cgroup-util.c
  src/test/test-procfs-util.c
Labels: cgroups, cgtop, pid1

#8321 procfs-util: drop unnecessary zero initializations
  src/basic/procfs-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#8322 man: document that link-ed files must be on /
  man/systemctl.xml
Labels: documentation

#8293 tree-wide: fix inconsistencies in option parsing
  src/analyze/analyze.c
  src/journal/journalctl.c
  src/systemctl/systemctl.c
  src/test/test-libudev.c
  src/udev/udev-builtin-blkid.c
Labels: journal, reviewed/needs-rework 🔨, systemctl, tests, udev

#8319 meson: fix symlink creation when sbin is symlink to bin
  meson.build
  meson_options.txt
Labels: meson

#8324 Remove /sbin from paths if split-bin is false
  meson.build
  src/basic/path-util.h
  src/core/namespace.c
  src/libsystemd/sd-path/sd-path.c
Labels: good-to-merge/waiting-for-ci 👍, tree-wide

#8330 Detect masked unit with drop-ins
  src/shared/install.c
  test/TEST-15-DROPIN/test-dropin.sh
Labels: systemctl

#8316 sysusers: do not create duplicated groups when create users
  src/sysusers/sysusers.c
  test/TEST-21-SYSUSERS/test-10.expected-group
  test/TEST-21-SYSUSERS/test-10.expected-passwd
  test/TEST-21-SYSUSERS/test-10.input
  test/TEST-21-SYSUSERS/test-7.expected-group
  test/TEST-21-SYSUSERS/test-7.expected-passwd
  test/TEST-21-SYSUSERS/test-7.input
Labels: ci-failure-appears-unrelated, sysusers

#8237 core: let OnCalendar= timer units expire during suspend (#8231)
  src/core/timer.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#8327 hwdb: add accelerometer mount matrix for Asus TP300LD
  hwdb/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#8339 systemctl: document telinit/init matching a bit
  src/systemctl/systemctl.c
Labels: systemctl

#8334 mount-setup: change bpf mount mode to 0700
  src/core/mount-setup.c
Labels: pid1

#8332 logind device resume fix
  src/login/logind-session-device.c
Labels: login

#8325 sysusers: support `u username -:300` style syntax
  man/sysusers.d.xml
  src/sysusers/sysusers.c
  test/TEST-21-SYSUSERS/test-8.expected-group
  test/TEST-21-SYSUSERS/test-8.expected-passwd
  test/TEST-21-SYSUSERS/test-8.input
  test/TEST-21-SYSUSERS/test-9.expected-group
  test/TEST-21-SYSUSERS/test-9.expected-passwd
  test/TEST-21-SYSUSERS/test-9.input
Labels: sysusers

#8323 Make the color of the status OK configurable at build-time
  meson.build
  meson_options.txt
  src/basic/terminal-util.h
  src/core/job.c
Labels: ci-failure-appears-unrelated, pid1

#8338 man: there's no point in referenceing systemd.unit(5) from itself
  man/systemd.unit.xml
Labels: documentation

#8337 various resolve-tool fixes
  man/systemd-resolve.xml
  src/resolve/resolve-tool.c
  src/resolve/resolved-resolv-conf.c
Labels: documentation, resolve

#8333 Hwdb update
  hwdb/.gitattributes
  hwdb/20-OUI.hwdb
  hwdb/20-acpi-vendor.hwdb.patch
  hwdb/20-pci-vendor-model.hwdb
  hwdb/ma-large.txt
  hwdb/ma-medium.txt
  hwdb/ma-small.txt
  hwdb/pci.ids
  tools/meson-hwdb-update.sh
Labels: good-to-merge/waiting-for-ci 👍, hwdb, meson

#8336 reallocarray() coccinellization
  coccinelle/malloc_multiply.cocci
  coccinelle/reallocarray.cocci
  src/basic/env-util.c
  src/basic/prioq.c
  src/basic/strbuf.c
  src/basic/strv.c
  src/core/service.c
  src/hwdb/hwdb.c
  src/libsystemd-network/network-internal.c
  src/libsystemd/sd-bus/bus-message.c
  src/libsystemd/sd-bus/bus-socket.c
  src/libudev/libudev-list.c
  src/network/networkd-network.c
  src/resolve/resolve-tool.c
  src/shared/install.c
  src/shared/uid-range.c
  src/udev/udev-rules.c
  src/udev/udevadm-hwdb.c
  src/vconsole/vconsole-setup.c
Labels: coccinelle, good-to-merge/waiting-for-ci 👍, tree-wide

#8335 units: use SuccessAction=reboot where appropriate
  units/system-update-cleanup.service.in
Labels: good-to-merge/waiting-for-ci 👍, units

#8314 refactor how we rearrange fds for stdin/stdout/stderr
  TODO
  src/activate/activate.c
  src/basic/exec-util.c
  src/basic/fd-util.c
  src/basic/fd-util.h
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/core/execute.c
  src/import/import-common.c
  src/import/importd.c
  src/import/pull-common.c
  src/journal-remote/journal-remote.c
  src/journal/cat.c
  src/libsystemd/sd-bus/bus-message.c
  src/libsystemd/sd-bus/bus-socket.c
  src/nspawn/nspawn-setuid.c
  src/nspawn/nspawn.c
  src/test/test-fd-util.c
Labels: good-to-merge/waiting-for-ci 👍, tree-wide, util-lib

#8253 hwdb: add axis range corrections for the Lenovo ThinkPad Edge 13 (02173BG)
  hwdb/60-evdev.hwdb
Labels: hwdb

#8349 typo: fixed 3 occurences of 'Failed top open'
  src/machine/machine-dbus.c
  src/machine/machined-dbus.c
  src/tty-ask-password-agent/tty-ask-password-agent.c
Labels: good-to-merge/waiting-for-ci 👍, tree-wide

#8348 Updated Indonesian translation
  po/id.po
Labels: l10n 🌍

#8352 coredump: do not leak memory
  src/coredump/coredumpctl.c
Labels: coredump

#8342 Add accel matrix for iOTA 360
  hwdb/60-sensor.hwdb
Labels: hwdb

#8340 mkosi: use locale that supports UTF-8, detect one that is available
  mkosi.build
Labels: mkosi

#8354 NEWS for v238
  NEWS
  man/logind.conf.xml
  src/basic/glob-util.c
  src/test/test-glob-util.c
Labels: documentation, util-lib

#8345 login: fix for #8343
  src/login/logind-session-device.c
Labels: ci-failure-appears-unrelated, login

#8358 Tmpfiles dont resolve pathnames when traversing recursively
  src/tmpfiles/tmpfiles.c
  test/TEST-22-TMPFILES/Makefile
  test/TEST-22-TMPFILES/run-tmpfiles-tests.sh
  test/TEST-22-TMPFILES/test-01.sh
  test/TEST-22-TMPFILES/test.sh
  test/TEST-22-TMPFILES/testsuite.service
  test/test-functions
Labels: tmpfiles

#8367 rpm: add missing '-p <lua>' in trigger script
  src/core/triggers.systemd.in
Labels: rpm

#7817 systemd-boot improvements
  src/boot/efi/boot.c
  src/boot/efi/shim.c
  src/boot/efi/util.c
  src/boot/efi/util.h
  src/shared/bootspec.c
  src/shared/bootspec.h
Labels: sd-boot

#8378 tests: stop using `freopen` in `test-fileio`
  src/test/test-fileio.c
Labels: ci-failure-appears-unrelated, tests

#8380 core: don't setup init.scope in test mode
  src/core/manager.c
Labels: pid1

#8365 test-cgroup-util: bail out when running under mock
  src/test/test-cgroup-util.c
Labels: tests

#8390 Revert "core: don't setup init.scope in test mode (#8380)"
  src/core/manager.c
Labels: cgroups, pid1

#8388 hwdb: add Dell Inspiron 3537 axis overrides
  hwdb/60-evdev.hwdb
Labels: ci-failure-appears-unrelated, hwdb

#8382 hwdb: add accelerometer mount matrix for Eve V
  hwdb/60-sensor.hwdb
Labels: ci-failure-appears-unrelated, hwdb

#8274 Introduce suspend-to-hibernate
  man/logind.conf.xml
  man/rules/meson.build
  man/systemd-sleep.conf.xml
  man/systemd-suspend.service.xml
  man/systemd.special.xml
  shell-completion/bash/systemctl.in
  shell-completion/zsh/_systemctl.in
  src/basic/special.h
  src/login/logind-action.c
  src/login/logind-action.h
  src/login/logind-dbus.c
  src/login/org.freedesktop.login1.conf
  src/shared/sleep-config.c
  src/shared/sleep-config.h
  src/sleep/sleep.c
  src/systemctl/systemctl.c
  src/test/test-sleep.c
  units/meson.build
  units/suspend-to-hibernate.target
  units/systemd-suspend-to-hibernate.service.in
Labels: hibernate-resume

#8391 core: do not free heap-allocated strings
  src/core/mount-setup.c
Labels: ci-failure-appears-unrelated, fix-commit-message-on-merge, pid1

#8372 Two cleanups
  src/basic/cgroup-util.c
  src/basic/macro.h
  src/basic/nss-util.h
  src/basic/string-table.h
  src/basic/terminal-util.h
  src/core/dbus-util.h
  src/shared/bus-unit-util.c
  src/shared/bus-util.h
  src/shared/conf-parser.c
Labels: tree-wide

#8404 hwdb: add axis overrides for HP Pavilion 15
  hwdb/60-evdev.hwdb
Labels: hwdb

#8366 core/cgroup: accepts MemorySwapMax=0
  src/core/dbus-cgroup.c
  src/core/dbus-util.h
  src/core/load-fragment.c
Labels: cgroups, pid1

#8405 core/socket: support binary inside chroot when looking for SELinux label
  src/core/socket.c
Labels: pid1, selinux

#8415 Fix default values for KillUserProcesses and MemoryAccounting in documentation
  man/custom-entities.ent.in
  man/logind.conf.xml
  meson.build
Labels: documentation

#8412 Meson warning fixes
  meson.build
  src/journal-remote/meson.build
Labels: meson

#8401 core: ignore errors from manager_setup_cgroup() in test mode
  src/core/cgroup.c
Labels: cgroups, ci-failure-appears-unrelated, pid1

#8403 tests: skip the rest of test_mnt_id after getting any error
  src/libsystemd/sd-bus/test-bus-marshal.c
  src/test/test-mount-util.c
  src/test/test-process-util.c
Labels: ci-failure-appears-unrelated, tests

#8416 shared/sleep-config: fix unitialized variable and use STR_IN_SET
  src/shared/sleep-config.c
Labels: sleep

#8377 login: don't remove all devices from PID1 when only one was removed
  src/login/logind-session-device.c
  src/login/logind.c
Labels: ci-failure-appears-unrelated, login

#8350 dhcp4: introduce new option 'duid-only' for ClientIdentifier=
  man/systemd.network.xml
  src/libsystemd-network/sd-dhcp-client.c
  src/network/networkd-dhcp4.c
  src/network/networkd-link.c
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/sd-dhcp-client.h
Labels: dhcp, network

#8296 resolvconf(8) compat interface
  man/rules/meson.build
  man/systemd-resolve.xml
  meson.build
  src/resolve/meson.build
  src/resolve/resolvconf-compat.c
  src/resolve/resolvconf-compat.h
  src/resolve/resolve-tool.c
  src/resolve/resolve-tool.h
  src/resolve/resolved-def.h
  src/resolve/resolved-dns-stub.h
Labels: resolve

#8438 zsh-completion: add calendar to systemd-analyze
  shell-completion/zsh/_systemd-analyze
Labels: shell completion

#8429 sd-shutdown improvements
  src/core/shutdown.c
  src/core/umount.c
  src/core/umount.h
Labels: pid1

#8436 hwdb: add axis override for the Razer Blade Stealth
  hwdb/60-evdev.hwdb
Labels: hwdb

#8441 Fixes for bugs found by oss-fuzz
  TODO
  meson.build
  src/basic/calendarspec.c
  src/core/load-fragment.c
  src/test/test-socket-util.c
  test/fuzz-regressions/fuzz-dns-packet/issue-7888
  test/fuzz-regressions/fuzz-dns-packet/oss-fuzz-5465
  test/fuzz-regressions/fuzz-unit-file/oss-fuzz-6884
  test/fuzz-regressions/fuzz-unit-file/oss-fuzz-6885
  test/fuzz-regressions/fuzz-unit-file/oss-fuzz-6886
  test/fuzz-regressions/meson.build
Labels: pid1, tests

#8456 basic/macros: rename noreturn into _noreturn_
  src/basic/log.c
  src/basic/log.h
  src/basic/macro.h
  src/basic/process-util.c
  src/basic/process-util.h
  src/core/main.c
  src/journal/test-journal-interleaving.c
  src/shared/pager.c
  src/udev/collect/collect.c
Labels: tree-wide, util-lib

#8458 udev/net-id: Fix check for address to keep interface names stable
  src/udev/udev-builtin-net_id.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#8459 udev: use startswith() instead of the combination of strneq() and strlen()
  src/udev/scsi_id/scsi_id.c
Labels: udev

#8465 hwdb: fix comment suggested `udevadm trigger` command
  hwdb/60-sensor.hwdb
Labels: hwdb

#8473 Fix dbus reload
  src/core/manager.c
  src/core/unit.c
Labels: fix-commit-message-on-merge, good-to-merge/waiting-for-ci 👍, pid1, regression ⚠️

#8478 units: Fix SuccessAction that belongs to [Unit] section not [Service] section
  units/system-update-cleanup.service.in
Labels: units

#8468 Sysusers support nis
  src/sysusers/sysusers.c
  test/TEST-21-SYSUSERS/test-11.expected-group
  test/TEST-21-SYSUSERS/test-11.expected-passwd
  test/TEST-21-SYSUSERS/test-11.initial-group
  test/TEST-21-SYSUSERS/test-11.initial-passwd
  test/TEST-21-SYSUSERS/test-11.input
  test/TEST-21-SYSUSERS/test.sh
Labels: good-to-merge/waiting-for-ci 👍, sysusers

#8471 basic/env-util: Allow newlines in values of environment variables
  src/basic/env-util.c
  src/test/test-env-util.c
  src/test/test-execute.c
  test/test-execute/exec-environmentfile.service
  test/test-execute/exec-passenvironment-absent.service
  test/test-execute/exec-passenvironment-empty.service
  test/test-execute/exec-passenvironment-repeated.service
  test/test-execute/exec-passenvironment.service
Labels: good-to-merge/waiting-for-ci 👍, pid1, util-lib

#8183 systemd-link: Remove UDP Fragmentation Offload support.
  man/systemd.link.xml
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/shared/conf-parser.c
  src/shared/conf-parser.h
  src/udev/net/ethtool-util.c
  src/udev/net/ethtool-util.h
  src/udev/net/link-config-gperf.gperf
Labels: udev

#8461 Oss fuzz fixes
  src/basic/calendarspec.c
  src/basic/cgroup-util.c
  src/basic/ioprio.h
  src/basic/process-util.c
  src/core/service.c
  src/core/unit.c
  src/fuzz/fuzz-unit-file.c
  src/test/test-calendarspec.c
  src/test/test-process-util.c
  src/test/test-socket-util.c
  test/fuzz-corpus/unit-file/directives.service
  test/fuzz-corpus/unit-file/syslog.socket
  test/fuzz-regressions/.gitattributes
  test/fuzz-regressions/fuzz-unit-file/oss-fuzz-6892
  test/fuzz-regressions/fuzz-unit-file/oss-fuzz-6897
  test/fuzz-regressions/fuzz-unit-file/oss-fuzz-6897-evverx
  test/fuzz-regressions/fuzz-unit-file/oss-fuzz-6908
  test/fuzz-regressions/fuzz-unit-file/oss-fuzz-6917
  test/fuzz-regressions/meson.build
Labels: pid1, tests

#8476 hwdb: correct touchpad resolution for Asus N550JV
  hwdb/60-evdev.hwdb
Labels: hwdb

#8480 macros: use here-docs instead of echo
  src/core/macros.systemd.in
Labels: rpm

#8463 hwdb: fix accelerometer mount matrix for Asus TP300LD (#8327)
  hwdb/60-sensor.hwdb
Labels: hwdb

#8469 shutdown: Don't limit unmount attempts prematurely
  src/core/shutdown.c
Labels: pid1

#8408 bugs.fd.o bug archelogy
  man/systemctl.xml
  meson.build
  src/core/manager.c
  src/test/test-signal-util.c
Labels: documentation, pid1

#8399 Systemctl kexec buglet fixes
  src/shared/bootspec.c
  src/systemctl/systemctl.c
Labels: hibernate-resume, systemctl

#8433 The ThinkPad T450s doesn't have a caps lock led
  hwdb/60-keyboard.hwdb
Labels: hwdb

#8490 hwdb: ThinkPad T560 doesn't have a caps lock led
  hwdb/60-keyboard.hwdb
Labels: hwdb

#8492 hwdb: ThinkPad T4x0s and X1 Carbon 3rd gen LEDs
  hwdb/60-keyboard.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#8452 Use libmount in systemd-shutdown, add tests
  meson.build
  src/core/mount.c
  src/core/umount.c
  src/core/umount.h
  src/test/meson.build
  src/test/test-umount.c
  test/meson.build
  test/test-umount/empty.mountinfo
  test/test-umount/example.swaps
  test/test-umount/garbled.mountinfo
  test/test-umount/rhbug-1554943.mountinfo
Labels: good-to-merge/waiting-for-ci 👍, pid1, tests

#8496 man: use unicode ellipsis in one more place
  man/bootup.xml
  man/systemctl.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#8464 v4l_id: check mplane video capture and output capailities
  src/udev/v4l_id/v4l_id.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#8499 sysusers: also add support for NIS entries in /etc/shadow
  src/sysusers/sysusers.c
Labels: good-to-merge/waiting-for-ci 👍, sysusers

#8505 seccomp: enable RestrictAddressFamilies on ppc
  src/shared/seccomp-util.c
Labels: seccomp

#8370 mkosi: set file permissions in copy of source tree
  mkosi.build
Labels: mkosi

#8106 move route expiration to kernel
  src/basic/missing.h
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/networkd-link.c
  src/network/networkd-route.c
  src/network/networkd-util.c
  src/network/networkd-util.h
Labels: network, reviewed/needs-rework 🔨

#8430 nspawn: move network namespace creation to a separate step
  src/nspawn/nspawn.c
Labels: nspawn

#8440 Use cleanup in sd-boot
  src/basic/exit-status.c
  src/boot/efi/boot.c
  src/boot/efi/disk.c
  src/boot/efi/pe.c
  src/boot/efi/shim.c
  src/boot/efi/splash.c
  src/boot/efi/stub.c
  src/boot/efi/util.c
  src/boot/efi/util.h
Labels: sd-boot

#8386 basic/fs-util: skip fsync_directory_of_file() if /proc/self/fd/ is not available
  src/basic/fd-util.c
  src/basic/fs-util.c
Labels: pid1, util-lib

#8515 coredumpctl: drop unnecessary NULL initialization, and use const wher…
  src/coredump/coredumpctl.c
Labels: coredump

#8514 sd-bus: drop fd_nonblock() calls that are implied by rearrange_stdio()
  src/libsystemd/sd-bus/bus-socket.c
Labels: sd-bus

#8513 two minor journal fixes
  src/journal/journal-file.c
  src/journal/journal-file.h
  src/journal/journal-verify.c
Labels: journal

#8512 selinux: let's fully (and statically) initialize log callback union
  src/core/selinux-setup.c
Labels: selinux

#8487 Oss fuzz fixes, another batch
  src/basic/calendarspec.c
  src/basic/ioprio.h
  src/core/load-fragment.c
  test/fuzz-regressions/fuzz-unit-file/oss-fuzz-6977
  test/fuzz-regressions/fuzz-unit-file/oss-fuzz-7004
  test/fuzz-regressions/meson.build
Labels: pid1, tests

#8509 v3: Properly parsing SCSI Hyperv devices
  src/udev/udev-builtin-path_id.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#8511 fileio: port parse_env_file_internal() to use _cleanup_free_
  src/basic/fileio.c
Labels: util-lib

#8510 move MANAGER_IS_RELOADING() check into manager_recheck_{dbus|journal}()
  src/core/manager.c
  src/core/unit.c
Labels: pid1

#8517 dissect: add dissect_image_and_warn() that unifies error message gene…
  TODO
  src/dissect/dissect.c
  src/nspawn/nspawn.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
Labels: dissect

#8368 nss-systemd: make dynamic users enumerable by `getent`
  TODO
  src/core/dbus-manager.c
  src/core/dynamic-user.c
  src/core/dynamic-user.h
  src/core/org.freedesktop.systemd1.conf
  src/nss-systemd/nss-systemd.c
  src/nss-systemd/nss-systemd.sym
Labels: nss, pid1

#8313 Compression threshold
  man/journald.conf.xml
  src/journal-remote/journal-remote-write.c
  src/journal-remote/journal-remote.c
  src/journal/journal-file.c
  src/journal/journal-file.h
  src/journal/journald-gperf.gperf
  src/journal/journald-server.c
  src/journal/journald-server.h
  src/journal/sd-journal.c
  src/journal/test-journal-config.c
  src/journal/test-journal-flush.c
  src/journal/test-journal-interleaving.c
  src/journal/test-journal-stream.c
  src/journal/test-journal-verify.c
  src/journal/test-journal.c
  src/test/meson.build
Labels: good-to-merge/waiting-for-ci 👍, journal

#8494 add timesyncwaitd to block until kernel time is synchronized
  man/rules/meson.build
  man/systemd-time-wait-sync.service.xml
  meson.build
  src/time-wait-sync/time-wait-sync.c
  units/meson.build
  units/systemd-time-wait-sync.service.in
Labels: timesync

#8508 two new coccinelle rules files and their results
  coccinelle/div-round-up.cocci
  coccinelle/dup-fcntl.cocci
  src/basic/calendarspec.c
  src/basic/exec-util.c
  src/basic/hexdecoct.c
  src/core/automount.c
  src/firstboot/firstboot.c
  src/journal/journal-file.c
  src/shared/watchdog.c
  src/test/test-fd-util.c
  src/udev/udevadm-control.c
Labels: coccinelle, tree-wide

#8521 user-util: add new wrappers for reading/writing {passwd,shadow,gshado…
  src/basic/user-util.c
  src/basic/user-util.h
  src/firstboot/firstboot.c
  src/sysusers/sysusers.c
Labels: good-to-merge/waiting-for-ci 👍, sysusers

#8523 A fix for oss-fuzz msan ListenNetlink workaround
  src/fuzz/fuzz-unit-file.c
  src/shared/conf-parser.c
Labels: good-to-merge/waiting-for-ci 👍, tests

#8400 When mangling names, optionally emit a warning
  src/basic/unit-name.c
  src/basic/unit-name.h
  src/core/device.c
  src/debug-generator/debug-generator.c
  src/escape/escape.c
  src/fstab-generator/fstab-generator.c
  src/journal/journalctl.c
  src/nspawn/nspawn-register.c
  src/run/run.c
  src/systemctl/systemctl.c
  src/sysv-generator/sysv-generator.c
  src/test/test-unit-name.c
Labels: debug-generator, good-to-merge/waiting-for-ci 👍, journal, pid1, run, systemctl, tests

#8475 main: add NoNewPrivileges config option
  man/systemd-system.conf.xml
  src/core/main.c
  src/core/system.conf.in
  test/fuzz-corpus/unit-file/directives.service
Labels: good-to-merge/waiting-for-ci 👍, pid1

#8540 doc/HACKING: show command to set root password in image
  doc/HACKING
Labels: documentation

#8537 units: disable systemd-time-sync-wait inside containers
  units/systemd-time-wait-sync.service.in
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, timesync, units

#8541 HACKING: small umask tweak for the rootpw
  doc/HACKING
Labels: documentation

#8531 some minor tweaks to sd-dhcp-server
  src/libsystemd-network/dhcp-server-internal.h
  src/libsystemd-network/sd-dhcp-server.c
Labels: dhcp

#8547 seccomp: add mmap and address family restrictions for MIPS
  src/shared/seccomp-util.c
Labels: seccomp

#8549 man/udevadm: remove superfluous --version from subcommands
  man/udevadm.xml
Labels: documentation, udev

#8555 units: document why systemd-time-wait-sync.service conditions on CAP_…
  units/systemd-time-wait-sync.service.in
Labels: timesync, units

#8534 some improvements to safe_atou() to allow specification of arbitrary bases
  src/basic/parse-util.c
  src/basic/parse-util.h
Labels: priority, util-lib

#8533 extend docs on second phase of shutdown and watchdog handling
  man/bootup.xml
  man/systemd-halt.service.xml
  man/systemd-system.conf.xml
Labels: documentation

#8530 actively say that .include is obsolete
  src/shared/conf-parser.c
Labels: util-lib

#8493 udev: don't label high-button mice as joysticks
  src/udev/udev-builtin-input_id.c
Labels: udev

#8529 three trivial logind improvements
  src/login/logind-core.c
  src/login/logind-dbus.c
Labels: login

#8528 backlight: minor modernizations
  src/backlight/backlight.c
Labels: backlight

#8552 Test and diagnostics improvements
  meson.build
  src/basic/mkdir-label.c
  src/basic/mkdir.c
  src/basic/mkdir.h
  src/core/execute.c
  src/login/logind-dbus.c
  src/login/logind-inhibit.c
  src/login/logind-seat.c
  src/login/logind-session.c
  src/login/logind-user.c
  src/machine/machine.c
  src/network/networkd.c
  src/nspawn/nspawn-setuid.c
  src/resolve/resolved.c
  src/test/test-fs-util.c
  src/timesync/timesyncd.c
  test/meson.build
  test/test-execute/exec-capabilityboundingset-invert.service
  test/test-execute/exec-privatenetwork-yes.service
  test/test-execute/exec-specifier-interpolation.service
Labels: good-to-merge/waiting-for-ci 👍, pid1, tests

#8381 core: delay adding target dependencies until all units are loaded and aliases resolved
  src/core/manager.c
  src/core/manager.h
  src/core/unit.c
  src/core/unit.h
Labels: ci-fails/needs-rework 🔥, pid1

#8563 Partially revert "seccomp: add mmap and address family restrictions for MIPS"
  src/shared/seccomp-util.c
Labels: good-to-merge/waiting-for-ci 👍

#8559 make integration tests pass again
  coccinelle/run-coccinelle.sh
  src/basic/stat-util.c
  src/tmpfiles/tmpfiles.c
  test/TEST-06-SELINUX/test.sh
  test/run-integration-tests.sh
Labels: priority, tests, util-lib

#8565 run all coccinelle again
  src/core/dbus-service.c
  src/coredump/coredumpctl.c
  src/journal/test-journal.c
Labels: coccinelle

#8578 resolve-tool: small cleanups
  src/resolve/resolve-tool.c
Labels: resolve

#8562 Man page and log message fixes
  man/.dir-locals.el
  man/glib-event-glue.c
  man/journal-iterate-poll.c
  man/journal-iterate-wait.c
  man/journalctl.xml
  man/pam_systemd.xml
  man/sd_journal_get_fd.xml
  man/systemd-gpt-auto-generator.xml
  man/systemd-journald.service.xml
  man/systemd-nspawn.xml
  src/core/service.c
Labels: documentation, pid1

#8581 Fix for alphabetical ordering
  hwdb/60-keyboard.hwdb
Labels: hwdb

#8554 fs-util: add new CHASE_TRAIL_SLASH flag for chase_symlinks()
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/basic/mount-util.c
  src/core/dbus-manager.c
  src/core/namespace.c
  src/delta/delta.c
  src/journal/journalctl.c
  src/libsystemd/sd-device/sd-device.c
  src/machine/machine-dbus.c
  src/shared/dissect-image.c
  src/shared/machine-image.c
Labels: util-lib

#8583 label: rework label_fix() implementations
  src/basic/label.c
  src/basic/label.h
  src/basic/mkdir-label.c
  src/basic/selinux-util.c
  src/basic/selinux-util.h
  src/basic/smack-util.c
  src/basic/smack-util.h
  src/core/automount.c
  src/core/mount-setup.c
  src/hwdb/hwdb.c
  src/login/logind-user.c
  src/tmpfiles/tmpfiles.c
  src/udev/udev-node.c
  src/udev/udevadm-hwdb.c
Labels: selinux, smack

#8542 journal-file: we can't use a chain cache entry if we don't know where…
  src/journal/journal-file.c
Labels: journal

#8447 core: use setreuid/setregid trick to create session keyring with right ownership
  src/core/execute.c
Labels: pid1, reviewed/needs-rework 🔨

#8576 oss-fuzz adjustments and other cleanups
  README
  README.md
  src/basic/cgroup-util.c
  src/basic/macro.h
  src/basic/strbuf.c
  src/basic/util.h
  src/fuzz/fuzz-unit-file.c
  src/hwdb/hwdb.c
  src/journal/catalog.c
  src/test/test-strbuf.c
  src/udev/udevadm-hwdb.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, tests

#8591 core/socket: use chase_symlinks to find binary inside chroot when looking for SELinux label
  src/core/socket.c
Labels: pid1

#8593 Fix compilation w/o smack
  src/basic/smack-util.c
Labels: pid1

#8589 nspawn: do not insist on locking read-only container on readonly fs
  src/shared/machine-image.c
Labels: nspawn

#8600 Fuzzing- and test-related fixes
  src/core/main.c
  src/shared/specifier.c
  test/fuzz-regressions/fuzz-unit-file/oss-fuzz-6977-unminimized
Labels: pid1, tests

#8526 backlight: assume brightness 0 if no saved value to trigger clamping
  src/backlight/backlight.c
Labels: backlight

#8140 udev: network device naming improvements (sr-iov, npar, slots)
  NEWS
  src/udev/udev-builtin-net_id.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#8546 bus-util: add flags for bus_map_all_properties()
  src/analyze/analyze.c
  src/hostname/hostnamectl.c
  src/locale/localectl.c
  src/login/loginctl.c
  src/machine/machinectl.c
  src/resolve/resolve-tool.c
  src/run/run.c
  src/shared/bus-util.c
  src/shared/bus-util.h
  src/systemctl/systemctl.c
  src/timedate/timedatectl.c
Labels: sd-bus, tree-wide

#8602 systemctl: refuse to edit masked units
  src/systemctl/systemctl.c
Labels: ci-failure-appears-unrelated, systemctl

#8604 doc: merge docs/ dir → doc/
  doc/sysvinit/README.in
  doc/sysvinit/meson.build
  doc/var-log/README.in
  doc/var-log/meson.build
  meson.build
Labels: build-system, documentation

#8569 systemd-inhibit: ignore signal interrupt from keyboard
  src/login/inhibit.c
Labels: login, reviewed/needs-rework 🔨

#8610 tests: run `udevadm settle` after `sfdisk`
  test/test-functions
Labels: tests

#8606 Rename suspend-to-hibernate to suspend-then-hibernate
  man/logind.conf.xml
  man/rules/meson.build
  man/systemd-sleep.conf.xml
  man/systemd-suspend.service.xml
  man/systemd.special.xml
  shell-completion/bash/systemctl.in
  shell-completion/zsh/_systemctl.in
  src/basic/special.h
  src/login/logind-action.c
  src/login/logind-action.h
  src/login/logind-dbus.c
  src/login/org.freedesktop.login1.conf
  src/shared/sleep-config.c
  src/sleep/sleep.c
  src/systemctl/systemctl.c
  src/test/test-sleep.c
  units/meson.build
  units/suspend-then-hibernate.target
  units/systemd-suspend-then-hibernate.service.in
Labels: reviewed/needs-rework 🔨, sleep

#8612 tree-wide: remove unused variables
  src/core/umount.c
  src/login/loginctl.c
  src/login/logind-dbus.c
Labels: ci-failure-appears-unrelated, login, pid1

#8594 sd-bus: allow description to be set for system/user busses
  src/core/dbus.c
  src/core/main.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-bus/sd-bus.c
  src/libsystemd/sd-bus/test-bus-chat.c
  src/systemd/sd-bus.h
Labels: pid1, sd-bus

#8611 timesync: on network event do not establish connection when NTP servers are not changed
  src/timesync/timesyncd-manager.c
Labels: timesync

#8629 generate-af-list.sh: slightly generalize pattern, fix w/musl
  src/basic/generate-af-list.sh
Labels: build-system, util-lib
