Repository systemd/systemd, pull requests merged in 2018-10, with the labels that each got.

#10208 import: sparse_write() returns negative errno
  src/import/import-raw.c
  src/import/pull-job.c
Labels: import

#10220 meson: use an array option for efi-cc
  meson_options.txt
  src/boot/efi/meson.build
Labels: meson

#10138 test: skip several tests when running in container
  src/test/test-execute.c
  src/test/test-fs-util.c
  src/test/test-process-util.c
Labels: tests

#10214 test: try system bus if user bus cannot be opened
  src/libsystemd/sd-bus/test-bus-cleanup.c
  src/libsystemd/sd-bus/test-bus-gvariant.c
  src/libsystemd/sd-bus/test-bus-marshal.c
  src/libsystemd/sd-bus/test-bus-match.c
  src/libsystemd/sd-bus/test-bus-track.c
Labels: tests

#10233 Add a simple code of conduct based on ruby community guidelines
  docs/code_of_conduct.md
Labels: documentation

#10218 Export functions in sd-device and sd-hwdb
  src/libsystemd/libsystemd.sym
  src/shared/tests.h
  src/systemd/meson.build
  src/test/meson.build
  src/test/test-sd-hwdb.c
Labels: good-to-merge/waiting-for-ci 👍, sd-device, sd-hwdb

#10238 po: update Turkish translation
  po/tr.po
Labels: l10n 🌍

#10203 test: fix tests for supplementary groups
  test/test-execute/exec-dynamicuser-fixeduser-one-supplementarygroup.service
  test/test-execute/exec-dynamicuser-fixeduser.service
  test/test-execute/exec-dynamicuser-supplementarygroups.service
  test/test-execute/exec-supplementarygroups-multiple-groups-default-group-user.service
  test/test-execute/exec-supplementarygroups-multiple-groups-withgid.service
  test/test-execute/exec-supplementarygroups-multiple-groups-withuid.service
  test/test-execute/exec-supplementarygroups-single-group-user.service
  test/test-execute/exec-supplementarygroups-single-group.service
  test/test-execute/exec-supplementarygroups.service
Labels: tests

#10245 code-of-conduct file rename
  docs/CODE_OF_CONDUCT.md
Labels: documentation

#10248 docs: add a simple, auto-generated index.md
  docs/index.md
  meson.build
  tools/make-index-md.sh
Labels: build-system, documentation

#10247 bus-unit-util: fix parsing of IPAddress{Allow,Deny}
  src/shared/bus-unit-util.c
Labels: good-to-merge/waiting-for-ci 👍

#10249 Fixes for issues found by LGTM
  src/basic/hexdecoct.c
  src/boot/efi/splash.c
  src/core/manager.c
  src/journal-remote/journal-upload-journal.c
  src/journal/journal-verify.c
  src/shared/install.c
  src/test/test-install-root.c
Labels: good-to-merge/waiting-for-ci 👍, tree-wide

#9898 Add a new tool 'systemd-id128'
  TODO
  man/rules/meson.build
  man/sd_id128_get_machine.xml
  man/systemd-id128.xml
  meson.build
  src/id128/id128.c
  src/journal/journalctl.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-id128/sd-id128.c
  src/shared/id128-print.c
  src/shared/id128-print.h
  src/shared/meson.build
  src/systemd/sd-id128.h
Labels: good-to-merge/waiting-for-ci 👍, sd-id128

#10255 drop references to "journalctl --new-id128"
  man/journalctl.xml
  man/sd-id128.xml
  man/sd_id128_randomize.xml
  man/systemd.journal-fields.xml
  src/journal/journalctl.c
  src/systemd/sd-messages.h
Labels: sd-id128

#10252 tiny sd-ravd/sd-ndisc logging fixes
  TODO
  src/libsystemd-network/radv-internal.h
  src/libsystemd-network/sd-ndisc.c
  src/libsystemd-network/sd-radv.c
Labels: network

#10240 udev: Allow acpi_index and index to be "0"
  src/udev/udev-builtin-net_id.c
Labels: udev

#10204 test: add test for sd_device
  src/libsystemd/sd-device/test-sd-device.c
  src/test/meson.build
Labels: tests

#10213 dhcp6: fix issue oss-fuzz#10746
  src/libsystemd-network/dhcp6-internal.h
  src/libsystemd-network/dhcp6-option.c
  src/libsystemd-network/sd-dhcp6-client.c
  test/fuzz/fuzz-dhcp6-client/oss-fuzz-10746
Labels: ci-failure-appears-unrelated, dhcp

#10137 test-execute: also tests under the condition that unshare() is filtered
  src/test/test-execute.c
  test/test-execute/exec-umask-0177.service
  test/test-execute/exec-umask-default.service
Labels: tests

#10261 test: small improvements for systemd-networkd-test.py
  test/test-network/systemd-networkd-tests.py
Labels: tests

#10257 DHCP6 PD enable later link
  src/network/networkd-dhcp6.c
  src/network/networkd-link.c
  src/network/networkd-link.h
Labels: ci-failure-appears-unrelated, network

#10251 rename_noreplace() fallback for file systems where neither RENAME_REPLACE nor link()/unlinkat() is available
  src/basic/fileio.c
  src/basic/fs-util.c
  src/test/test-fs-util.c
Labels: util-lib

#10270 Add DOCUMENTATION_URL as a standard value for /etc/os-release
  man/os-release.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#10277 dhcp6: don't include internal header "sparse-endian.h" in "sd-dhcp6-client.h"
  src/libsystemd-network/sd-dhcp6-client.c
  src/systemd/sd-dhcp6-client.h
Labels: dhcp, good-to-merge/waiting-for-ci 👍

#10273 test-execute: add a test for systemcall filter
  src/test/test-execute.c
  test/meson.build
  test/test-execute/exec-systemcallfilter-with-errno-multi.service
Labels: ci-failure-appears-unrelated, tests

#10258 networkd-link: Don't start a DHCPv6 informational exchange automatically
  src/network/networkd-link.c
Labels: bug 🐛, dhcp, network

#10152 udev: small cleanups
  src/basic/string-util.c
  src/basic/string-util.h
  src/basic/strv.c
  src/basic/strv.h
  src/test/meson.build
  src/test/test-strv.c
  src/test/test-udev-build-argv.c
  src/udev/udev-builtin.c
  src/udev/udev-event.c
  src/udev/udev-node.c
Labels: ci-failure-appears-unrelated, udev

#10094 Fix bogus fragment paths in units in .wants/.requires
  src/core/automount.c
  src/core/dbus-unit.c
  src/core/device.c
  src/core/load-dropin.c
  src/core/load-fragment.c
  src/core/mount.c
  src/core/path.c
  src/core/scope.c
  src/core/service.c
  src/core/slice.c
  src/core/socket.c
  src/core/swap.c
  src/core/target.c
  src/core/timer.c
  src/core/unit.c
  src/core/unit.h
Labels: pid1

#10086 man/systemd.exec: MountFlags=shared behaviour was changed (fixed?)
  man/systemd.exec.xml
Labels: documentation, pid1

#10117 Set DynamicUser=no for networkd, resolved, timesyncd
  src/network/networkd-manager.c
  src/resolve/resolved-bus.c
  src/shared/bus-util.c
  src/shared/bus-util.h
  src/test/test-bus-util.c
  src/timesync/timesyncd-bus.c
  test/networkd-test.py
  units/systemd-networkd.service.in
  units/systemd-resolved.service.in
  units/systemd-timesyncd.service.in
Labels: units

#10285 man: fix tempfiles.d(5)
  man/tmpfiles.d.xml
Labels: documentation, tmpfiles

#10134 Some test-related fixed and a test runner for installed tests
  src/basic/mount-util.c
  src/test/test-udev.c
  test/meson.build
  test/run-unit-tests.py
Labels: tests, udev

#10280 Hack around PR_SET_MM_ARG_* API deficiencies
  src/basic/process-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#10292 core/dbus-execute: fix parsing CPUScheduling* and Nice for transient services
  src/basic/process-util.h
  src/core/dbus-execute.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#10287 path-util: fix path_simplify() with kill_dots and "."
  src/basic/path-util.c
  src/test/test-path-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#10293 two tiny cryptsetup-generator fixes
  src/cryptsetup/cryptsetup-generator.c
Labels: ci-failure-appears-unrelated, cryptsetup

#10296 logind: ensure seat0 CanGraphical state is written
  src/login/logind-device.c
Labels: good-to-merge/waiting-for-ci 👍, login

#10304 libsystemd: drop *_unrefp from symbol list
  src/libsystemd/libsystemd.sym
Labels: sd-device, sd-hwdb

#10300 meson: only build src/shared/tests.c if tests are enabled
  src/shared/meson.build
Labels: meson, tests

#10294 nspawn: optionally don't mount a tmpfs over /tmp
  docs/ENVIRONMENT.md
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn-mount.h
  src/nspawn/nspawn.c
Labels: nspawn

#10289 meson: use c_args in generator scripts
  meson.build
Labels: fix-commit-message-on-merge, meson

#10281 meson: add more compile tests
  src/systemd/meson.build
  src/systemd/sd-netlink.h
  src/systemd/sd-resolve.h
Labels: meson, sd-netlink

#10159 killall.c fixes regarding kernel thread detection
  src/core/killall.c
Labels: pid1

#10310 ptyfwd: voidify more calls
  src/shared/ptyfwd.c
Labels: nspawn, util-lib

#10312 mount-util: show mount source in failure log message
  src/basic/mount-util.c
Labels: util-lib

#10262 Switches to disable hibernation and/or resuming
  TODO
  docs/ENVIRONMENT.md
  man/systemd-hibernate-resume-generator.xml
  man/systemd-sleep.conf.xml
  src/basic/proc-cmdline.c
  src/basic/proc-cmdline.h
  src/basic/util.c
  src/boot/bootctl.c
  src/hibernate-resume/hibernate-resume-generator.c
  src/login/logind-dbus.c
  src/shared/bootspec.c
  src/shared/bootspec.h
  src/shared/sleep-config.c
  src/shared/sleep-config.h
  src/sleep/sleep.c
  src/systemctl/systemctl.c
  src/test/test-proc-cmdline.c
  src/test/test-sleep.c
Labels: good-to-merge/waiting-for-ci 👍, hibernate-resume

#10175 the bootctl changes from PR #9437 (the boot counting PR)
  docs/ENVIRONMENT.md
  man/bootctl.xml
  src/basic/btrfs-util.c
  src/basic/chattr-util.c
  src/basic/chattr-util.h
  src/basic/copy.c
  src/boot/bootctl.c
  src/import/import-raw.c
  src/import/pull-raw.c
  src/journal/journal-file.c
  src/journal/journalctl.c
  src/shared/bootspec.c
  src/shared/bootspec.h
  src/shared/efivars.c
  src/shared/efivars.h
  src/shared/machine-image.c
  src/test/test-boot-timestamps.c
  src/tmpfiles/tmpfiles.c
Labels: good-to-merge/waiting-for-ci 👍, sd-boot, util-lib

#10311 logs-show: make highlight parameter const
  src/shared/logs-show.c
  src/shared/logs-show.h
Labels: ci-failure-appears-unrelated, journal

#10309 machine: use size_t for array sizes
  src/machine/machine.c
  src/machine/machine.h
  src/machine/machinectl.c
Labels: machine

#10314 terminal-util: extra safety checks when parsing $COLUMNS or $LINES
  src/basic/terminal-util.c
Labels: util-lib

#10315 ptyfwd: when we can't copy the window size from caller, use $LINES an…
  src/shared/ptyfwd.c
Labels: good-to-merge/waiting-for-ci 👍, nspawn, util-lib

#10323 Small cleanup for test-udev
  src/test/test-udev.c
Labels: tests

#10313 nspawn: add comments explaining the namespacing situation and the inn…
  src/nspawn/nspawn.c
Labels: nspawn

#10266 meson: use same compilers to build fuzzers
  test/fuzz/meson.build
  tools/meson-build.sh
Labels: meson

#10324 properly serialize in_audit boolean
  src/core/unit.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#10330 hwdb: Map 45 to bookmarks on the ThinkPad L380
  hwdb/60-keyboard.hwdb
Labels: hwdb

#10329 tree-wide: use CMP() macros where applicable
  src/journal/journald-context.c
  src/libsystemd/sd-bus/sd-bus.c
  src/libsystemd/sd-event/sd-event.c
  src/libsystemd/sd-netlink/sd-netlink.c
Labels: journal, sd-bus, sd-event, sd-netlink

#10328 sd-hwdb: update error log a bit
  src/libsystemd/sd-hwdb/sd-hwdb.c
Labels: sd-hwdb

#10307 finishing touches to portable services, and let's move portablectl to /usr/bin to make it official
  TODO
  docs/PORTABLE_SERVICES.md
  man/portablectl.xml
  man/systemd.unit.xml
  meson.build
  src/libsystemd/sd-bus/bus-common-errors.c
  src/libsystemd/sd-bus/bus-common-errors.h
  src/portable/portable.c
  src/portable/portabled-image-bus.c
  src/shared/path-lookup.c
  src/shared/path-lookup.h
Labels: portable

#10331 Test suite fix and README update
  test/README.testsuite
  test/test-execute/exec-privatenetwork-yes.service
Labels: documentation, good-to-merge/waiting-for-ci 👍, tests

#10342 core: add missing 'continue' statement
  src/core/unit.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#10341 device: clean up DeviceFound flags set
  src/core/device.h
Labels: good-to-merge/waiting-for-ci 👍, pid1

#10340 bpf-firewall: always use log_unit_xyz() insteadof log_xyz()
  src/core/bpf-firewall.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#10339 meson: we cannot call get_compiler('cpp') if we didn't "add" it
  meson.build
  test/fuzz/meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#10062 Support cgroup v2 bpf-based device controller
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/core/bpf-devices.c
  src/core/bpf-devices.h
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/main.c
  src/core/meson.build
  src/core/unit.c
  src/core/unit.h
  src/shared/linux/libbpf.h
  src/test/test-cgroup-mask.c
Labels: cgroups, pid1, reviewed/needs-rework 🔨

#10348 Fix typo in man page
  man/systemd.network.xml
Labels: documentation, network

#10350 tree-wide: various ubsan zero size memory fixes
  src/basic/bitmap.c
  src/basic/util.h
  src/test/test-hexdecoct.c
Labels: ci-failure-appears-unrelated, tree-wide

#10349 sd-bus creds bitshift overflow fix
  src/basic/capability-util.h
  src/libsystemd/sd-bus/bus-creds.c
Labels: ci-failure-appears-unrelated, sd-bus

#10343 various fixes for PID1's Manager object
  src/analyze/analyze-verify.c
  src/core/automount.c
  src/core/cgroup.c
  src/core/dbus-manager.c
  src/core/emergency-action.c
  src/core/main.c
  src/core/manager.c
  src/core/manager.h
  src/core/unit.c
  src/shared/path-lookup.c
  src/test/test-bpf.c
  src/test/test-watch-pid.c
Labels: ci-failure-appears-unrelated, pid1

#10351 Meson c++-related fixups
  meson.build
  test/fuzz/meson.build
Labels: meson

#10316 just the json stuff from #9762
  src/basic/json-internal.h
  src/basic/json.c
  src/basic/json.h
  src/basic/meson.build
  src/fuzz/fuzz-json.c
  src/fuzz/meson.build
  src/test/meson.build
  src/test/test-json.c
  tools/oss-fuzz.sh
Labels: ci-failure-appears-unrelated, tests, util-lib

#10344 Clarify documented behaviour of RandomizedDelaySec=
  man/systemd.timer.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#10354 tests: pass halt_on_error=1 to UBSan
  test/test-functions
Labels: tests

#10358 resolve: fix member access within null pointer
  src/resolve/resolved-manager.c
Labels: resolve

#10334 Use mempool only in progs linked to libsystemd-shared.so
  man/meson.build
  meson.build
  src/basic/hashmap.c
  src/basic/mempool.c
  src/basic/mempool.h
  src/libsystemd/disable-mempool.c
  src/libsystemd/meson.build
  src/shared/enable-mempool.c
  src/shared/meson.build
Labels: meson, util-lib

#10317 busctl --json switch
  man/busctl.xml
  src/busctl/busctl.c
Labels: sd-bus

#10365 Add LOGO to os-release
  man/os-release.xml
Labels: documentation

#10201 sd-netlink: add destroy_callback to sd_netlink_call_async() and fix memleaks in networkd
  src/core/loopback-setup.c
  src/libsystemd/sd-netlink/netlink-internal.h
  src/libsystemd/sd-netlink/sd-netlink.c
  src/libsystemd/sd-netlink/test-netlink.c
  src/network/netdev/bridge.c
  src/network/netdev/geneve.c
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/networkd-address-label.c
  src/network/networkd-address-label.h
  src/network/networkd-address.c
  src/network/networkd-brvlan.c
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-fdb.c
  src/network/networkd-ipv4ll.c
  src/network/networkd-ipv6-proxy-ndp.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-ndisc.c
  src/network/networkd-route.c
  src/network/networkd-routing-policy-rule.c
  src/systemd/sd-netlink.h
Labels: network, sd-netlink, tests

#10379 Hwdb updates
  hwdb/60-keyboard.hwdb
  hwdb/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#10356 assorted coverity/clang fixes
  src/basic/alloc-util.h
  src/boot/efi/console.h
  src/core/manager.c
  src/journal/journal-file.c
  src/login/logind-dbus.c
  src/login/logind-utmp.c
  src/login/pam_systemd.c
  src/nspawn/nspawn.c
  src/shared/dissect-image.c
  src/shared/efivars.c
  src/shared/fdset.c
  src/shared/firewall-util.c
Labels: ci-fails/needs-rework 🔥, reviewed/needs-rework 🔨, tree-wide

#10380 networkd: fix attribute length for wireguard
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/netdev/wireguard.c
Labels: network

#10371 trivial sd-event man page fixes
  TODO
  man/sd_event_new.xml
  man/sd_event_run.xml
  man/sd_event_set_watchdog.xml
  man/sd_event_source_get_event.xml
  man/sd_event_source_get_pending.xml
  man/sd_event_source_set_description.xml
  man/sd_event_source_set_enabled.xml
  man/sd_event_source_set_prepare.xml
  man/sd_event_source_set_priority.xml
  man/sd_event_source_set_userdata.xml
  man/sd_event_source_unref.xml
  man/sd_event_wait.xml
  src/systemd/sd-event.h
Labels: documentation, sd-event

#10375 man: systemctl: clarify that --lines=0 is allowed
  man/systemctl.xml
Labels: documentation

#10387 Revert "alloc-util: return NULL if 0-sized allocation is requested"
  src/basic/alloc-util.h
Labels: bug 🐛, util-lib

#10381 fixes for various recent coverity issues
  src/basic/format-table.c
  src/basic/json.c
  src/core/cgroup.c
  src/journal-remote/journal-upload.c
  src/journal/journald-audit.c
  src/journal/journald-native.c
  src/journal/journald-stream.c
  src/journal/journald-syslog.c
  src/libsystemd-network/sd-ndisc.c
  src/machine/machinectl.c
  src/network/wait-online/manager.c
  src/shared/efivars.c
  src/udev/udevadm-test.c
Labels: tree-wide

#10393 udev: use readlink_malloc() or its friend
  src/udev/udev-node.c
  src/udev/udev-watch.c
Labels: udev

#10394 Fix warnings reported by clang
  src/busctl/busctl.c
  src/core/manager.c
  src/test/test-json.c
Labels: pid1, tests

#10403 man/systemd.nspawn: fix reference to --timezone argument
  man/systemd.nspawn.xml
Labels: documentation

#10392 make sure /etc/localtime issues don't cause systemd to fail boot
  src/core/manager.c
Labels: pid1

#10373 adopt systemd.io urls
  man/bootctl.xml
  man/kernel-install.xml
  man/systemd-boot.xml
  man/systemd-portabled.service.xml
  man/systemd-sysusers.xml
  man/systemd.xml
Labels: documentation

#10391 systemctl exit code fixes
  src/systemctl/systemctl.c
Labels: systemctl

#9824 many logind improvements
  TODO
  man/logind.conf.xml
  man/rules/meson.build
  man/sd_bus_error.xml
  man/systemd-socket-proxyd.xml
  man/systemd.netdev.xml
  man/systemd.network.xml
  man/systemd.offline-updates.xml
  man/systemd.resource-control.xml
  man/systemd.socket.xml
  man/systemd.xml
  meson.build
  src/core/transaction.c
  src/core/unit.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-bus/bus-error.c
  src/login/logind-core.c
  src/login/logind-dbus.c
  src/login/logind-gperf.gperf
  src/login/logind-seat.c
  src/login/logind-seat.h
  src/login/logind-session-dbus.c
  src/login/logind-session.c
  src/login/logind-session.h
  src/login/logind-user-dbus.c
  src/login/logind-user.c
  src/login/logind-user.h
  src/login/logind.c
  src/login/logind.h
  src/login/meson.build
  src/login/pam_systemd.c
  src/login/user-runtime-dir.c
  src/systemd/sd-bus.h
  units/user-.slice.d/10-defaults.conf
  units/user-runtime-dir@.service.in
Labels: login

#10410 rules: Add ID_REVISION environment var for NVMe devices
  rules/60-persistent-storage.rules
Labels: needs-reporter-feedback ❓, udev

#10327 sd-device-enumerator: dedup enumerated devices and add test for subsystem filtering
  src/basic/hashmap.c
  src/basic/hashmap.h
  src/basic/set.h
  src/libsystemd/sd-device/device-enumerator.c
  src/libsystemd/sd-device/test-sd-device.c
Labels: sd-device, tests

#10388 networkd: type support for "throw" in [Route] section
  man/systemd.network.xml
  src/network/networkd-route.c
Labels: network

#10421 Set theme jekyll-theme-primer
  docs/_config.yml
Labels: website

#10420 tree-wide: CMP()ify all the things
  coccinelle/cmp.cocci
  src/basic/btrfs-util.c
  src/basic/format-table.c
  src/basic/string-util.c
  src/core/socket.c
  src/journal/journal-file.c
  src/libsystemd/sd-event/sd-event.c
  src/resolve/resolved-mdns.c
Labels: coccinelle, good-to-merge/waiting-for-ci 👍, tree-wide

#10422 man: systemd.network man page fix
  man/systemd.network.xml
Labels: documentation, network

#10424 adding Aiptek Hyperpen 12000U to hwdb
  hwdb/60-evdev.hwdb
Labels: hwdb, please-squash-on-merge

#10423 tree-wide: use CMP() macro where applicable
  src/basic/btrfs-util.c
  src/journal/journal-file.c
  src/journal/sd-journal.c
  src/libsystemd/sd-event/sd-event.c
Labels: good-to-merge/waiting-for-ci 👍, tree-wide

#10419 Fix segfault in prioq_remove() with empty Prioq object
  src/basic/prioq.c
  src/basic/prioq.h
  src/test/test-prioq.c
Labels: good-to-merge/waiting-for-ci 👍, tests, util-lib

#10429 udev: replace udev_list by Hashmap
  src/udev/udev-event.c
  src/udev/udev-node.c
  src/udev/udev-node.h
  src/udev/udev-rules.c
  src/udev/udev.h
  src/udev/udevadm-test.c
  src/udev/udevd.c
Labels: udev

#10244 bump RLIMIT_NOFILE
  .mkosi/mkosi.fedora
  NEWS
  TODO
  meson.build
  meson_options.txt
  src/basic/def.h
  src/basic/rlimit-util.c
  src/basic/rlimit-util.h
  src/core/main.c
  src/core/system.conf.in
  src/coredump/coredumpctl.c
  src/journal-remote/journal-remote-main.c
  src/journal-remote/journal-upload.c
  src/journal/journalctl.c
  src/login/loginctl.c
  src/machine/machinectl.c
  src/systemctl/systemctl.c
  units/systemd-journal-gatewayd.service.in
  units/systemd-journal-remote.service.in
  units/systemd-journal-upload.service.in
  units/systemd-journald.service.in
  units/systemd-logind.service.in
Labels: good-to-merge/waiting-for-ci 👍, journal, pid1, tree-wide, units

#10427 udev: make sd_device_get_devname() failure non-fatal
  src/udev/udev-watch.c
Labels: udev

#10397 sulogin-shell: Use force in rescue if SYSTEMD_SULOGIN_FORCE set
  docs/ENVIRONMENT.md
  src/sulogin-shell/sulogin-shell.c
Labels: reviewed/needs-rework 🔨, sulogin

#10428 Implement manager status changes using SuccessAction=
  TODO
  man/systemd.unit.xml
  src/basic/cgroup-util.c
  src/core/dbus-unit.c
  src/core/emergency-action.c
  src/core/emergency-action.h
  src/core/job.c
  src/core/load-fragment.c
  src/core/manager.c
  src/core/service.c
  src/core/unit.c
  src/systemctl/systemctl.c
  src/test/meson.build
  src/test/test-emergency-action.c
  units/meson.build
  units/systemd-exit.service
  units/systemd-poweroff.service
  units/systemd-reboot.service
  units/user/meson.build
  units/user/systemd-exit.service
Labels: documentation, good-to-merge/waiting-for-ci 👍, pid1, units

#10440 use fflush_and_check() and free_and_replace() where we can
  src/basic/exec-util.c
  src/core/service.c
Labels: easy-review 🍼, good-to-merge/waiting-for-ci 👍, pid1, util-lib

#10439 three trivial simplifications/clean-ups
  src/core/execute.c
  src/core/job.c
Labels: easy-review 🍼, good-to-merge/waiting-for-ci 👍, pid1

#10438 be a bit more carful when processing transient socket paths via the bus
  src/basic/list.h
  src/basic/path-util.c
  src/basic/path-util.h
  src/core/dbus-socket.c
Labels: pid1

#10425 resolve: set IP_RECVERR
  src/resolve/resolved-dns-scope.c
Labels: resolve

#10308 core: implement per unit journal rate limiting
  catalog/systemd.catalog.in
  docs/TRANSIENT-SETTINGS.md
  man/journald.conf.xml
  man/systemd.exec.xml
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.m4
  src/core/unit.c
  src/core/unit.h
  src/journal/journald-context.c
  src/journal/journald-context.h
  src/journal/journald-rate-limit.c
  src/journal/journald-rate-limit.h
  src/journal/journald-server.c
  src/shared/bus-unit-util.c
  test/fuzz/fuzz-unit-file/directives.service
Labels: pid1, reviewed/needs-rework 🔨

#10442 docs: use h2 headers
  docs/PORTABLE_SERVICES.md
  docs/TRANSLATORS.md
Labels: documentation

#10445 bus-unit-util: use streq() instead of STR_IN_SET()
  src/shared/bus-unit-util.c
Labels: easy-review 🍼, good-to-merge/waiting-for-ci 👍

#10174 the EFI changes from PR #9437 (the boot counting PR)
  mkosi.build
  src/boot/efi/boot.c
  src/boot/efi/stub.c
  src/boot/efi/util.c
  src/boot/efi/util.h
Labels: sd-boot

#10407 sd-netlink: introduce sd_netlink_slot object and relevant functions
  TODO
  src/core/loopback-setup.c
  src/libsystemd/meson.build
  src/libsystemd/sd-netlink/netlink-internal.h
  src/libsystemd/sd-netlink/netlink-slot.c
  src/libsystemd/sd-netlink/netlink-slot.h
  src/libsystemd/sd-netlink/sd-netlink.c
  src/libsystemd/sd-netlink/test-netlink.c
  src/network/netdev/bridge.c
  src/network/netdev/geneve.c
  src/network/netdev/netdev.c
  src/network/networkd-address-label.c
  src/network/networkd-address.c
  src/network/networkd-brvlan.c
  src/network/networkd-fdb.c
  src/network/networkd-ipv6-proxy-ndp.c
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/network/networkd-route.c
  src/network/networkd-routing-policy-rule.c
  src/network/wait-online/manager.c
  src/nspawn/nspawn-expose-ports.c
  src/resolve/resolved-manager.c
  src/systemd/sd-bus.h
  src/systemd/sd-netlink.h
Labels: network, nspawn, pid1, resolve, sd-netlink, tests

#10239 sd-device: introduce sd_device_monitor
  src/core/device.c
  src/core/manager.h
  src/libsystemd/libsystemd.sym
  src/libsystemd/meson.build
  src/libsystemd/sd-device/device-monitor-private.h
  src/libsystemd/sd-device/device-monitor.c
  src/libudev/libudev-monitor.c
  src/libudev/libudev-util.c
  src/login/logind.c
  src/login/logind.h
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/rfkill/rfkill.c
  src/systemd/sd-device.h
  src/udev/udevadm-info.c
  src/udev/udevadm-monitor.c
  src/udev/udevadm-trigger.c
  src/udev/udevadm-util.c
  src/udev/udevadm-util.h
Labels: login, network, pid1, rfkill, sd-device, udev

#10451 efi: rework OFFSETOF() based on __builtin_offsetof()
  src/boot/efi/util.h
Labels: easy-review 🍼, good-to-merge/waiting-for-ci 👍, sd-boot

#10453 job: add a comment that JOB_DONE also means skipped due to condition
  src/core/job.h
Labels: easy-review 🍼, pid1

#10446 tests: clean up again after running tests
  test/TEST-01-BASIC/Makefile
  test/TEST-13-NSPAWN-SMOKE/Makefile
  test/run-integration-tests.sh
Labels: easy-review 🍼, tests

#10447 let's get rid of fgets()
  src/basic/clock-util.c
  src/basic/terminal-util.c
  src/binfmt/binfmt.c
  src/cgtop/cgtop.c
  src/cryptsetup/cryptsetup-generator.c
  src/journal/catalog.c
  src/libsystemd/sd-hwdb/hwdb-util.c
  src/locale/keymap-util.c
  src/modules-load/modules-load.c
  src/reply-password/reply-password.c
  src/shared/condition.c
  src/udev/udev-rules.c
Labels: tree-wide

#10450 FOREACH_LINE excorcism
  src/basic/cgroup-util.c
  src/basic/mount-util.c
  src/basic/process-util.c
  src/basic/time-util.c
  src/core/cgroup.c
  src/core/ima-setup.c
  src/core/shutdown.c
  src/core/smack-setup.c
  src/coredump/coredump.c
  src/libsystemd/sd-bus/bus-creds.c
  src/libsystemd/sd-path/sd-path.c
  src/locale/localectl.c
  src/resolve/resolved-dns-trust-anchor.c
  src/resolve/resolved-etc-hosts.c
  src/resolve/resolved-resolv-conf.c
  src/shared/clean-ipc.c
  src/shared/install.c
  src/sysusers/sysusers.c
  src/sysv-generator/sysv-generator.c
  src/tmpfiles/tmpfiles.c
Labels: tree-wide

#10389 nspawn $PATH execvpe() fix
  src/basic/exec-util.c
  src/nspawn/nspawn.c
  src/test/test-proc-cmdline.c
Labels: easy-review 🍼, nspawn

#10437 some env-util.c love
  man/systemd.time.xml
  src/basic/env-util.c
Labels: util-lib

#10390 core: beautify per-unit consumed resources log message a bit.
  src/core/unit.c
Labels: pid1

#10460 tree-wide: use setsockopt_int() more
  src/basic/socket-util.c
  src/core/socket.c
  src/libsystemd-network/dhcp-network.c
  src/libsystemd-network/icmp6-util.c
  src/libsystemd/sd-device/device-monitor.c
  src/resolve/resolved-llmnr.c
  src/resolve/resolved-mdns.c
  src/timesync/timesyncd-manager.c
Labels: resolve, tree-wide

#10444 core: stop ignoring errors in connect_logger_as
  src/core/execute.c
Labels: journal, pid1

#10457 sd-dhcp: fixes oss-fuzz#11019 and several cleanups
  src/libsystemd-network/dhcp6-option.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/sd-dhcp6-lease.c
  src/libsystemd-network/test-dhcp6-client.c
  test/fuzz/fuzz-dhcp6-client/oss-fuzz-11019
Labels: dhcp, good-to-merge/waiting-for-ci 👍

#10463 tree-wide: some automatic coccinelle fixes
  src/basic/cgroup-util.c
  src/basic/json.c
  src/basic/time-util.c
  src/core/cgroup.c
  src/journal/journald-syslog.c
  src/libsystemd/sd-bus/sd-bus.c
  src/test/test-hexdecoct.c
Labels: coccinelle, good-to-merge/waiting-for-ci 👍, tree-wide

#10462 Add tests for sd_device_monitor and small cleanups
  src/libsystemd/sd-device/device-monitor.c
  src/libsystemd/sd-device/test-sd-device-monitor.c
  src/test/meson.build
Labels: good-to-merge/waiting-for-ci 👍, sd-device, tests

#10472 tree-wide: replace 'unsigned int' with 'unsigned'
  src/analyze/analyze.c
  src/basic/barrier.c
  src/basic/barrier.h
  src/basic/copy.c
  src/basic/macro.h
  src/core/kmod-setup.c
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/test-ndisc-ra.c
  src/libsystemd/sd-bus/bus-objects.c
  src/libsystemd/sd-netlink/netlink-message.c
  src/libudev/libudev-hwdb.c
  src/libudev/libudev-list.c
  src/libudev/libudev-private.h
  src/libudev/libudev.h
  src/login/loginctl.c
  src/login/logind-core.c
  src/login/logind-seat-dbus.c
  src/login/logind-seat.c
  src/login/logind-seat.h
  src/login/logind-session-device.c
  src/login/logind-session-device.h
  src/login/logind-session.c
  src/login/logind-session.h
  src/login/logind-utmp.c
  src/login/logind.c
  src/login/logind.h
  src/network/netdev/wireguard.c
  src/shared/bus-util.c
  src/shared/seccomp-util.c
  src/systemctl/systemctl.c
  src/test/test-af-list.c
  src/test/test-arphrd-list.c
  src/timesync/timesyncd-manager.c
  src/timesync/timesyncd-manager.h
  src/udev/ata_id/ata_id.c
  src/udev/cdrom_id/cdrom_id.c
  src/udev/net/ethtool-util.c
  src/udev/net/ethtool-util.h
  src/udev/scsi_id/scsi.h
  src/udev/scsi_id/scsi_serial.c
  src/udev/udev-builtin-net_id.c
  src/udev/udev-builtin-path_id.c
  src/udev/udev-builtin.c
  src/udev/udev-ctrl.c
  src/udev/udev-event.c
  src/udev/udev-rules.c
  src/udev/udev.h
  src/udev/udevadm-info.c
Labels: tree-wide

#10470 Log message updates
  src/analyze/analyze-verify.c
  src/analyze/analyze.c
  src/basic/fs-util.c
  src/boot/bootctl.c
  src/busctl/busctl.c
  src/cgtop/cgtop.c
  src/core/cgroup.c
  src/core/device.c
  src/core/machine-id-setup.c
  src/core/main.c
  src/core/mount.c
  src/core/service.c
  src/core/shutdown.c
  src/core/smack-setup.c
  src/coredump/coredump.c
  src/coredump/coredumpctl.c
  src/dissect/dissect.c
  src/firstboot/firstboot.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/import/pull.c
  src/nspawn/nspawn-settings.c
Labels: tree-wide

#10471 sd-dhcp: remove unreachable route after rebinding return NAK
  src/libsystemd-network/sd-dhcp-client.c
Labels: dhcp, good-to-merge/waiting-for-ci 👍

#10465 networkd: keep bond slave up if already attached
  src/network/networkd-link.c
  src/network/networkd-link.h
Labels: good-to-merge/waiting-for-reporter-feedback 👍, network

#9437 many sd-boot/bootctl fixes, and a new "boot counting" concept, for automatic fallback to older kernels on persistent failures
  TODO
  docs/AUTOMATIC_BOOT_ASSESSMENT.md
  man/kernel-install.xml
  man/rules/meson.build
  man/systemd-bless-boot-generator.xml
  man/systemd-bless-boot.service.xml
  man/systemd-boot-check-no-failures.service.xml
  man/systemd-boot.xml
  man/systemd.special.xml
  meson.build
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/boot/bless-boot-generator.c
  src/boot/bless-boot.c
  src/boot/boot-check-no-failures.c
  src/kernel-install/90-loaderentry.install
  units/boot-complete.target
  units/meson.build
  units/systemd-bless-boot.service.in
  units/systemd-boot-check-no-failures.service.in
Labels: good-to-merge/waiting-for-ci 👍, sd-boot

#10481 systemd-nspawn: do not crash on /var/log/journal creation if not required
  src/nspawn/nspawn.c
Labels: nspawn

#10415 docs: tweaks to the boot loader spec
  TODO
  docs/BOOT_LOADER_SPECIFICATION.md
Labels: boot-loader-spec, documentation

#10477 network: include linux/fou.h if it exists
  meson.build
  src/basic/missing.h
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/netdev/fou-tunnel.h
  src/network/netdev/tunnel.c
Labels: meson, network, sd-netlink

#10486 tests: update networkd-test.py to use resolvectl instead of systemd-r…
  test/networkd-test.py
Labels: good-to-merge/waiting-for-ci 👍, tests

#10490 tests: allow passing log_level via an environment variable
  test/test-functions
Labels: good-to-merge/waiting-for-ci 👍, tests

#10395 udev-builtin: replace udev_device by sd_device
  src/libsystemd/sd-device/device-util.h
  src/udev/udev-builtin-blkid.c
  src/udev/udev-builtin-btrfs.c
  src/udev/udev-builtin-hwdb.c
  src/udev/udev-builtin-input_id.c
  src/udev/udev-builtin-keyboard.c
  src/udev/udev-builtin-kmod.c
  src/udev/udev-builtin-net_id.c
  src/udev/udev-builtin-net_setup_link.c
  src/udev/udev-builtin-path_id.c
  src/udev/udev-builtin-uaccess.c
  src/udev/udev-builtin-usb_id.c
  src/udev/udev-builtin.c
  src/udev/udev-builtin.h
  src/udev/udev-event.c
  src/udev/udev-rules.c
  src/udev/udevadm-test-builtin.c
  src/udev/udevadm-util.c
Labels: ci-failure-appears-unrelated, udev

#10493 util: check overflow in parse_time() and parse_nsec()
  shell-completion/bash/systemd-analyze
  src/basic/time-util.c
  src/test/test-time-util.c
Labels: analyze, tests, util-lib

#10494 udevadm: normalize exit status
  src/udev/udevadm.c
Labels: udev

#10454 asan fix for strndup()
  src/journal/sd-journal.c
  src/journal/test-journal-match.c
Labels: good-to-merge/waiting-for-ci 👍, journal

#10476 journald: use the "driver" transport for logging a refused connection
  src/journal/journald-stream.c
Labels: journal

#10488 add ephemeral to nspawn-settings.
  man/systemd.nspawn.xml
  src/nspawn/nspawn-gperf.gperf
  src/nspawn/nspawn-settings.h
  src/nspawn/nspawn.c
Labels: good-to-merge/waiting-for-ci 👍, nspawn

#10461 Fixes recent defects reported by coverity
  src/core/unit.c
  src/modules-load/modules-load.c
  src/reply-password/reply-password.c
  src/udev/udevadm-info.c
  src/udev/udevadm-monitor.c
Labels: pid1

#10483 tree-wide: use log_device_*()
  src/backlight/backlight.c
  src/core/device.c
  src/fsck/fsck.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/libsystemd/sd-device/device-monitor.c
  src/login/logind-acl.c
  src/login/logind-core.c
  src/mount/mount-tool.c
  src/rfkill/rfkill.c
  src/udev/net/link-config.c
  src/udev/udev-node.c
  src/udev/udev-watch.c
Labels: tree-wide

#10498 udev-builtin: use log_device_*() macros
  src/libsystemd/sd-device/device-util.h
  src/libsystemd/sd-hwdb/sd-hwdb.c
  src/udev/udev-builtin-blkid.c
  src/udev/udev-builtin-btrfs.c
  src/udev/udev-builtin-hwdb.c
  src/udev/udev-builtin-input_id.c
  src/udev/udev-builtin-keyboard.c
  src/udev/udev-builtin-net_setup_link.c
  src/udev/udev-builtin-uaccess.c
  src/udev/udev-builtin-usb_id.c
Labels: sd-device, sd-hwdb, udev

#10502 units: drop systemd-user-sessions.service ordering dep on systemd-jou…
  units/systemd-journal-flush.service.in
Labels: units

#10505 skip various test-execute tests when we have no namespacing
  src/core/execute.c
  src/shared/tests.c
  src/shared/tests.h
  src/test/test-execute.c
  src/test/test-namespace.c
  src/test/test-process-util.c
  src/test/test-seccomp.c
Labels: good-to-merge/waiting-for-ci 👍, tests
