Repository systemd/systemd, pull requests merged in 2018-06, with the labels that each got.

#9146 networkd: enable to set IFF_ALLMULTI to network device
  man/systemd.network.xml
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
Labels: network

#9018 some extra safety checks for get_process_comm()
  src/basic/escape.c
  src/basic/missing.h
  src/basic/process-util.c
  src/basic/string-util.c
  src/test/test-process-util.c
  src/test/test-string-util.c
Labels: util-lib

#9152 netdev: fix parser for VRF.Table=
  src/network/netdev/netdev-gperf.gperf
Labels: network

#9156 time-util: fix build with gcc8 -Werror=format-truncation=
  src/basic/time-util.c
  src/test/test-time-util.c
Labels: ci-failure-appears-unrelated

#9166 network: avoid temporary variables for parsing, use TAKE_PTR
  src/network/networkd-route.c
Labels: network

#9175 test: fix function name
  src/test/test-systemd-tmpfiles.py
Labels: tests

#9149 path-util: introduce path_simplify()
  man/systemd.exec.xml
  src/basic/cgroup-util.c
  src/basic/fileio.c
  src/basic/mount-util.c
  src/basic/path-util.c
  src/basic/path-util.h
  src/basic/unit-name.c
  src/cgls/cgls.c
  src/cgtop/cgtop.c
  src/core/automount.c
  src/core/cgroup.c
  src/core/dbus-execute.c
  src/core/dbus-path.c
  src/core/dbus-socket.c
  src/core/load-fragment.c
  src/core/manager.c
  src/core/mount.c
  src/core/path.c
  src/core/service.c
  src/core/socket.c
  src/core/swap.c
  src/core/unit.c
  src/delta/delta.c
  src/fstab-generator/fstab-generator.c
  src/libsystemd/sd-device/sd-device.c
  src/mount/mount-tool.c
  src/portable/portable.c
  src/shared/conf-parser.c
  src/shared/install.c
  src/shared/machine-image.c
  src/sysusers/sysusers.c
  src/test/test-conf-parser.c
  src/test/test-execute.c
  src/test/test-path-util.c
  src/tmpfiles/tmpfiles.c
  test/meson.build
  test/test-execute/exec-runtimedirectory.service
  test/test-execute/exec-workingdirectory-trailing-dot.service
Labels: pid1, util-lib

#9173 Hwdb sensors3
  hwdb/60-sensor.hwdb
Labels: hwdb

#9160 login: log session state "closing" (as well as New/Removed)
  src/login/logind-session.c
Labels: login

#9159 core: go to failure state if RemainAfterExit=yes and the main service process fails
  src/core/service.c
Labels: pid1

#9147 Runtime enablement
  man/systemctl.xml
  src/core/dbus.c
  src/journal/journal-file.c
  src/shared/install.c
  src/systemctl/systemctl.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, install, pid1, systemctl

#9167 Ellipsization fixes based on unit-testing and fuzzing
  src/basic/string-util.c
  src/basic/string-util.h
  src/test/test-ellipsize.c
  src/test/test-string-util.c
  test/fuzz-regressions/fuzz-journal-remote/oss-fuzz-8686
Labels: tests, util-lib

#9176 Macro to check if flags are set
  coccinelle/flags-set.cocci
  coccinelle/run-coccinelle.sh
  src/basic/capability-util.h
  src/basic/copy.c
  src/basic/fs-util.c
  src/basic/macro.h
  src/basic/path-util.c
  src/basic/process-util.c
  src/basic/rm-rf.c
  src/core/cgroup.c
  src/core/unit.c
  src/import/curl-util.c
  src/shared/condition.c
  src/udev/udev-builtin-input_id.c
Labels: coccinelle, good-to-merge/waiting-for-ci 👍, tree-wide

#9179 basic/log: add the log_struct terminator to macro
  src/basic/log.h
  src/core/execute.c
  src/core/job.c
  src/core/manager.c
  src/core/service.c
  src/core/transaction.c
  src/core/unit.c
  src/coredump/coredump.c
  src/login/logind-button.c
  src/login/logind-dbus.c
  src/login/logind-seat.c
  src/login/logind-session.c
  src/machine/machine.c
  src/network/networkd-dhcp4.c
  src/network/networkd-link.c
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-dns-trust-anchor.c
  src/sleep/sleep.c
  src/test/test-log.c
  src/timedate/timedated.c
Labels: good-to-merge/waiting-for-ci 👍, tree-wide, util-lib

#9023 Update 60-sensor.hwdb with chuwi hibook sensor data
  hwdb/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#9177 conf-parser: fix memleak
  src/shared/conf-parser.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#9151 travis: use Travis CI only for running scheduled Coverity scans
  .travis.yml
  travis-ci/scripts/build-docker-image.sh
  travis-ci/tools/get-docker-remote.sh
Labels: ci

#9184 Travis CI follow ups
  travis-ci/requirements.txt
  travis-ci/scripts/build-docker-image.sh
Labels: ci

#9190 travis: use Fedora 27
  travis-ci/Dockerfile
Labels: ci

#9191 man: use entities for fedora number and update URL
  man/systemd-nspawn.xml
Labels: documentation

#9158 trigger OnFailure= only if Restart= is not in effect
  NEWS
  src/core/automount.c
  src/core/device.c
  src/core/mount.c
  src/core/path.c
  src/core/scope.c
  src/core/service.c
  src/core/slice.c
  src/core/socket.c
  src/core/swap.c
  src/core/target.c
  src/core/timer.c
  src/core/unit.c
  src/core/unit.h
Labels: pid1

#9148 make PID watching a bit less expensive
  src/core/cgroup.c
  src/core/scope.c
  src/core/service.c
  src/core/unit.c
  src/core/unit.h
Labels: good-to-merge/waiting-for-ci 👍, optimization, pid1

#9202 util: tighten on_tty() check a bit, also check stderr
  src/basic/terminal-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#9182 Fix DPI for Logitech M185, M510, and M705.
  hwdb/70-mouse.hwdb
Labels: hwdb

#9206 locale: add _unused_ attribute for dummy variable
  src/locale/localed.c
Labels: locale

#9209 NEWS: add note about --runtime
  NEWS
Labels: documentation

#9121 add "sd_event_add_inotify()" and use it for making PID 1 rescheduler .timer units properly on timezone change
  TODO
  man/rules/meson.build
  man/sd-event.xml
  man/sd_event_add_child.xml
  man/sd_event_add_defer.xml
  man/sd_event_add_inotify.xml
  man/sd_event_add_io.xml
  man/sd_event_add_signal.xml
  man/sd_event_add_time.xml
  man/sd_event_source_set_priority.xml
  src/basic/time-util.c
  src/basic/time-util.h
  src/core/manager.c
  src/core/manager.h
  src/core/timer.c
  src/core/unit.h
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-event/sd-event.c
  src/libsystemd/sd-event/test-event.c
  src/systemd/sd-event.h
  src/time-wait-sync/time-wait-sync.c
  src/timesync/timesyncd-manager.c
Labels: pid1, sd-event

#9210 make use of delete_trailing_chars() more
  src/basic/process-util.c
  src/basic/string-util.c
Labels: util-lib

#9211 man: add example for sd_event_add_inotify
  man/inotify-watch-tmp.c
  man/sd_event_add_inotify.xml
Labels: documentation

#9197 some smaller changes to make PID1's main() a bit shorter
  src/basic/capability-util.c
  src/basic/fd-util.c
  src/basic/fd-util.h
  src/basic/fileio.c
  src/basic/fileio.h
  src/core/main.c
  src/test/test-fd-util.c
Labels: pid1

#9201 make the integration tests great again
  test/TEST-03-JOBS/test-jobs.sh
  test/TEST-03-JOBS/test.sh
  test/TEST-06-SELINUX/test.sh
  test/TEST-16-EXTEND-TIMEOUT/test.sh
  test/test-functions
Labels: tests

#9203 hwdb: Logitech Anywhere MX wheel data
  hwdb/70-mouse.hwdb
Labels: hwdb

#9214 two small fixes for systemctl's process tree display
  src/core/dbus-unit.c
  src/systemctl/systemctl.c
Labels: good-to-merge/waiting-for-ci 👍, pid1, systemctl

#9208 Async callback memleak fix and documentation cleanups
  man/rules/meson.build
  man/sd_bus_creds_get_pid.xml
  man/sd_bus_creds_new_from_pid.xml
  man/sd_bus_default.xml
  man/sd_bus_error.xml
  man/sd_bus_message_append.xml
  man/sd_bus_message_append_array.xml
  man/sd_bus_message_append_basic.xml
  man/sd_bus_message_append_string_memfd.xml
  man/sd_bus_message_append_strv.xml
  man/sd_bus_message_get_cookie.xml
  man/sd_bus_message_get_monotonic_usec.xml
  man/sd_bus_message_set_destination.xml
  man/sd_bus_negotiate_fds.xml
  man/sd_bus_new.xml
  man/sd_bus_slot_set_destroy_callback.xml
  man/sd_bus_slot_set_floating.xml
  man/sd_bus_track_add_name.xml
  man/sd_bus_track_new.xml
  man/sd_get_seats.xml
  man/sd_id128_get_machine.xml
  man/sd_id128_randomize.xml
  man/sd_id128_to_string.xml
  man/sd_journal_add_match.xml
  man/sd_journal_enumerate_fields.xml
  man/sd_journal_get_catalog.xml
  man/sd_journal_get_cursor.xml
  man/sd_journal_get_cutoff_realtime_usec.xml
  man/sd_journal_get_data.xml
  man/sd_journal_get_realtime_usec.xml
  man/sd_journal_get_usage.xml
  man/sd_journal_has_runtime_files.xml
  man/sd_journal_next.xml
  man/sd_journal_print.xml
  man/sd_journal_query_unique.xml
  man/sd_journal_seek_head.xml
  man/sd_journal_stream_fd.xml
  man/sd_login_monitor_new.xml
  man/sd_machine_get_class.xml
  man/sd_pid_get_owner_uid.xml
  man/sd_seat_get_active.xml
  man/sd_session_is_active.xml
  man/sd_uid_get_state.xml
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-bus/bus-internal.h
  src/libsystemd/sd-bus/bus-slot.c
  src/shared/bus-util.c
  src/systemd/sd-bus.h
  src/test/meson.build
  src/test/test-bus-util.c
Labels: documentation, sd-bus

#9215 man: update url to latest 802.1AB (2016) standard
  man/systemd.network.xml
Labels: documentation, network

#9220 hwdb: HP ZBook Studio G4 wireless switch
  hwdb/60-keyboard.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#9222 let's document the code quality tools we have set up
  coccinelle/run-coccinelle.sh
  doc/CODE_QUALITY.md
  doc/HACKING
  tools/find-double-newline.sh
  tools/find-tabs.sh
Labels: documentation

#9223 CODING_STYLE: allow c99-style mixed code and declarations
  doc/CODING_STYLE
  meson.build
Labels: documentation

#9165 networkd: introduce netdev "Netdevsim" Driver
  man/systemd.netdev.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-types.h
  src/network/meson.build
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/netdev/netdevsim.c
  src/network/netdev/netdevsim.h
  src/network/netdev/vxcan.h
Labels: needs-discussion 🤔, network

#9200 core: rework device state serialization/enumeration
  TODO
  src/basic/conf-files.c
  src/basic/fs-util.c
  src/basic/selinux-util.c
  src/core/automount.c
  src/core/device.c
  src/core/device.h
  src/core/manager.c
  src/core/mount.c
  src/core/scope.c
  src/core/service.c
  src/core/slice.c
  src/core/swap.c
  src/core/unit.c
  src/core/unit.h
  src/journal/journalctl.c
  src/journal/journald-stream.c
  src/network/netdev/netdev.c
  src/nspawn/nspawn.c
  src/shared/bus-unit-util.c
  src/shared/conf-parser.c
  src/shared/dropin.c
  src/shared/udev-util.c
  src/shared/udev-util.h
Labels: good-to-merge/waiting-for-ci 👍, pid1

#9218 coverity.sh: check that coverity responds with 200
  .travis.yml
  README.md
  tools/coverity.sh
Labels: ci, ci-failure-appears-unrelated, coverity

#9231 udev-builtin-usb_id: Check full range of size returned by read()
  src/udev/udev-builtin-usb_id.c
Labels: udev

#9230 lldp: check that lldp neighbor raw data size is in expected range
  src/network/networkctl.c
Labels: ci-failure-appears-unrelated, network

#9213 copy() mount detection fixes
  src/basic/copy.c
  src/basic/copy.h
Labels: util-lib

#9235 resolved: document .local domain routing a bit more in detail
  man/systemd-resolved.service.xml
Labels: documentation, resolve

#9232 scsi_id: use _cleanup_free_ on buffer allocated by get_file_options
  src/udev/scsi_id/scsi_id.c
Labels: ci-failure-appears-unrelated

#9236 resolved: whenever a link starts/stops being relevant flush global DN…
  src/resolve/resolved-link.c
Labels: resolve

#9221 add sd_bus_track and sd_event_source destroy callbacks too
  man/rules/meson.build
  man/sd_bus_slot_set_destroy_callback.xml
  man/sd_event_add_io.xml
  man/sd_event_source_set_destroy_callback.xml
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-bus/bus-track.c
  src/libsystemd/sd-event/sd-event.c
  src/systemd/sd-bus.h
  src/systemd/sd-event.h
Labels: documentation, sd-bus, sd-event

#9238 networkd: tunnel ignore wrong conf rather than assert
  src/network/netdev/tunnel.c
Labels: network

#9237 mymachines: fix getgrnam()
  src/nss-mymachines/nss-mymachines.c
Labels: good-to-merge/waiting-for-ci 👍, machine, nss

#9240 resolved: fix DNSKEY validation by DS RR
  man/systemd-resolved.service.xml
  src/libsystemd-network/dhcp6-option.c
  src/resolve/resolved-dns-dnssec.c
  src/resolve/test-dnssec-complex.c
  src/shared/dns-domain.h
Labels: good-to-merge/waiting-for-ci 👍, resolve

#9245 meson: do not allow bit-shift overflows
  meson.build
Labels: meson

#9253 util-lib: reject too long path for timedate_is_valid()
  src/basic/time-util.c
  test/fuzz-regressions/fuzz-unit-file/oss-fuzz-8827
  test/fuzz-regressions/meson.build
Labels: util-lib

#9242 resolved: rework NSEC covering tests
  src/resolve/resolved-dns-dnssec.c
  src/resolve/test-dnssec-complex.c
  src/test/test-dns-domain.c
Labels: resolve

#9246 Fix invalid memory reference in ellipsize_mem()
  src/basic/format-table.c
  src/basic/string-util.c
  src/basic/utf8.c
  src/basic/utf8.h
  src/test/test-utf8.c
  test/fuzz-regressions/fuzz-journal-remote/oss-fuzz-8659
  test/fuzz-regressions/meson.build
Labels: util-lib

#9217 Add counter for socket unit refuse events
  src/core/dbus-socket.c
  src/core/socket.c
  src/core/socket.h
  src/systemctl/systemctl.c
Labels: pid1, reviewed/needs-rework 🔨

#9185 networkd: add support to configure CAN devices
  man/systemd.network.xml
  src/basic/parse-util.c
  src/basic/parse-util.h
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-types.h
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/shared/conf-parser.c
  src/shared/conf-parser.h
  src/test/test-parse-util.c
Labels: network, reviewed/needs-rework 🔨, sd-netlink

#9226 Table makes it easier to see Directories
  man/systemd.exec.xml
Labels: documentation

#9157 introduce a new "bad-setting" unit load state in order to improve "systemctl status" output when bad settings are used
  man/systemctl.xml
  src/basic/unit-def.c
  src/basic/unit-def.h
  src/core/automount.c
  src/core/dbus-manager.c
  src/core/dbus-unit.c
  src/core/dbus-unit.h
  src/core/load-fragment.c
  src/core/manager.c
  src/core/mount.c
  src/core/path.c
  src/core/scope.c
  src/core/service.c
  src/core/slice.c
  src/core/socket.c
  src/core/swap.c
  src/core/timer.c
  src/core/transaction.c
  src/core/unit.c
  src/libsystemd/sd-bus/bus-common-errors.c
  src/libsystemd/sd-bus/bus-common-errors.h
  src/systemctl/systemctl.c
Labels: pid1, systemctl

#9259 basic/path-util: fix ordering in error message
  src/basic/path-util.c
Labels: pid1

#9256 meson: also reject shifts that change the sign bit
  meson.build
Labels: meson

#9119 pid1: do not reset subtree_control on already-existing units with delegation
  src/basic/cgroup-util.c
  src/core/cgroup.c
Labels: ci-failure-appears-unrelated, pid1

#9255 some block device handling fixes
  src/basic/blockdev-util.c
  src/basic/blockdev-util.h
  src/basic/btrfs-util.c
  src/basic/path-util.c
  src/basic/path-util.h
  src/core/cgroup.c
  src/core/dbus-cgroup.c
  src/core/device.c
  src/core/load-fragment.c
Labels: cgroups, pid1

#9268 NEWS followup and a small man addition
  NEWS
  doc/CODE_QUALITY.md
  man/systemd-timesyncd.service.xml
Labels: documentation

#8849 resolve: Support for DNS-over-TLS
  man/resolvectl.xml
  man/resolved.conf.xml
  man/systemd.network.xml
  meson.build
  meson_options.txt
  src/basic/ordered-set.h
  src/libsystemd/sd-network/sd-network.c
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/resolve/resolvectl.c
  src/resolve/resolved-conf.c
  src/resolve/resolved-dns-packet.c
  src/resolve/resolved-dns-packet.h
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-scope.h
  src/resolve/resolved-dns-server.c
  src/resolve/resolved-dns-server.h
  src/resolve/resolved-dns-stream.c
  src/resolve/resolved-dns-stream.h
  src/resolve/resolved-dns-stub.c
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-dns-transaction.h
  src/resolve/resolved-gperf.gperf
  src/resolve/resolved-link-bus.c
  src/resolve/resolved-link-bus.h
  src/resolve/resolved-link.c
  src/resolve/resolved-link.h
  src/resolve/resolved-llmnr.c
  src/resolve/resolved-manager.c
  src/resolve/resolved-manager.h
  src/resolve/resolved.conf.in
  src/shared/resolve-util.c
  src/shared/resolve-util.h
  src/systemd/sd-network.h
Labels: good-to-merge/waiting-for-ci 👍, resolve

#9224 tree-wide: introduce ENUM_BIT() macro
  src/basic/conf-files.h
  src/basic/copy.h
  src/basic/fileio.h
  src/basic/fs-util.h
  src/basic/label.h
  src/basic/process-util.h
  src/basic/reboot-util.h
  src/basic/terminal-util.h
  src/core/execute.h
  src/core/mount-setup.c
  src/core/unit.h
  src/delta/delta.c
  src/libsystemd/sd-bus/bus-objects.c
  src/nspawn/nspawn-mount.h
  src/portable/portable.h
  src/shared/ask-password-api.h
  src/shared/bus-util.h
  src/shared/conf-parser.h
  src/shared/install.c
  src/shared/install.h
  src/shared/path-lookup.h
  src/shared/seccomp-util.h
Labels: tree-wide

#9275 core: when applying io/blkio per-device rules, don't remove them if t…
  src/core/cgroup.c
Labels: cgroups, good-to-merge/waiting-for-ci 👍, pid1

#9264 resolve: do not derive query timeout from RTT
  src/resolve/resolved-dns-server.c
  src/resolve/resolved-dns-server.h
  src/resolve/resolved-dns-transaction.c
Labels: good-to-merge/waiting-for-ci 👍

#9277 NEWS: announce DNS-over-TLS too
  NEWS
Labels: documentation

#9153 introduce PrivateMounts= setting and clean up documentation for MountFlags=
  NEWS
  man/systemd.exec.xml
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.m4
  src/core/namespace.c
  src/core/namespace.h
  src/shared/bus-unit-util.c
  units/systemd-udevd.service.in
Labels: pid1

#9282 NEWS: add more news
  NEWS
Labels: documentation

#9280 Several follow-ups for #8849
  man/resolvectl.xml
  shell-completion/bash/resolvectl
  shell-completion/bash/systemd-resolve
  src/resolve/resolvectl.c
  src/resolve/resolved-bus.c
  src/resolve/resolved-dns-server.c
  src/resolve/resolved-dns-server.h
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-manager.c
  src/shared/resolve-util.c
Labels: ci-failure-appears-unrelated, resolve, shell completion

#9172 timesync: check validity of NTP server name or address
  src/shared/conf-parser.c
  src/timesync/test-timesync.c
  src/timesync/timesyncd-conf.c
  src/timesync/timesyncd-manager.c
Labels: timesync

#8863 Shell completion fixes/perf improvements
  shell-completion/bash/systemctl.in
  shell-completion/zsh/_systemctl.in
Labels: shell completion

#9287 networkd: Don't try to close fd in sd_radv_stop if fd is closed.
  src/libsystemd-network/sd-radv.c
Labels: good-to-merge/waiting-for-ci 👍, network

#9288 machine: ignore containers which disable private user namespace in MapToMachine{User,Group}
  src/machine/machined-dbus.c
Labels: good-to-merge/waiting-for-ci 👍, machine

#9290 tiny sd-radv fixlets
  src/libsystemd-network/sd-radv.c
  src/systemd/sd-radv.h
Labels: good-to-merge/waiting-for-ci 👍, network

#9291 tiny nspawn fixlets
  src/nspawn/nspawn-register.c
  src/nspawn/nspawn.c
Labels: good-to-merge/waiting-for-ci 👍, nspawn

#9263 save/restore log level across daemon reexec
  man/systemd.xml
  src/core/dbus-manager.c
  src/core/main.c
  src/core/manager.c
  src/core/manager.h
Labels: pid1

#9295 resolve: Rename PrivateDNS to DNSOverTLS
  NEWS
  man/resolvectl.xml
  man/resolved.conf.xml
  man/systemd.network.xml
  meson.build
  meson_options.txt
  shell-completion/bash/resolvectl
  shell-completion/bash/systemd-resolve
  src/libsystemd/sd-network/sd-network.c
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/resolve/resolvectl.c
  src/resolve/resolved-bus.c
  src/resolve/resolved-conf.c
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-scope.h
  src/resolve/resolved-dns-server.c
  src/resolve/resolved-dns-server.h
  src/resolve/resolved-gperf.gperf
  src/resolve/resolved-link-bus.c
  src/resolve/resolved-link-bus.h
  src/resolve/resolved-link.c
  src/resolve/resolved-link.h
  src/resolve/resolved-manager.c
  src/resolve/resolved-manager.h
  src/resolve/resolved.conf.in
  src/shared/resolve-util.c
  src/shared/resolve-util.h
  src/systemd/sd-network.h
Labels: resolve

#9193 Coverity support for glibc-2.27
  .travis.yml
  src/test/test-sizeof.c
Labels: coverity

#9250 timedatectl: add 'show' command to display machine-readable output
  man/timedatectl.xml
  src/shared/bus-util.c
  src/timedate/timedatectl.c
Labels: timedate

#9294 locale-util: on overlayfs FTW_MOUNT causes nftw(3) to not list *any* …
  src/basic/locale-util.c
Labels: good-to-merge/waiting-for-ci 👍, locale

#9297 timesync: ignore any errors related to timestamp file
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/sysusers/sysusers.c
  src/timesync/timesyncd.c
Labels: sysusers, timesync, util-lib

#9199 make copy_file_atomic() use O_TMPFILE to create the destination file
  TODO
  src/basic/copy.c
  src/basic/fileio.c
  src/test/test-copy.c
Labels: util-lib

#9305 resolved: fix error handling in resolved-dns-stream
  src/resolve/resolved-dns-stream.c
Labels: good-to-merge/waiting-for-ci 👍, resolve

#9304 NEWS: update contributor list to current git
  .mailmap
  NEWS
Labels: documentation

#9299 NEWS: rework the description of device naming changes
  NEWS
Labels: documentation

#9303 tiny busctl fixlets
  src/busctl/busctl.c
Labels: sd-bus

#9306 namespace: drop protect_{home,system}_or_bool_from_string()
  src/core/dbus-execute.c
  src/core/load-fragment.c
  src/core/namespace.c
  src/core/namespace.h
Labels: pid1

#8766 add a new `@system-service` syscall group that is good as a starting point for whitelisting syscalls
  .mkosi/mkosi.ubuntu
  NEWS
  man/systemd.exec.xml
  src/portable/profile/default/service.conf
  src/portable/profile/nonetwork/service.conf
  src/portable/profile/strict/service.conf
  src/shared/seccomp-util.c
  src/shared/seccomp-util.h
  src/test/test-seccomp.c
  units/systemd-coredump@.service.in
  units/systemd-hostnamed.service.in
  units/systemd-importd.service.in
  units/systemd-journald.service.in
  units/systemd-localed.service.in
  units/systemd-logind.service.in
  units/systemd-machined.service.in
  units/systemd-networkd.service.in
  units/systemd-resolved.service.in
  units/systemd-timedated.service.in
  units/systemd-timesyncd.service.in
  units/systemd-udevd.service.in
Labels: pid1, seccomp

#9307 man: use systemd-boot instead of sd-boot
  man/bootctl.xml
  man/loader.conf.xml
  man/rules/meson.build
  man/systemd-boot.xml
Labels: documentation

#9314 do not filter out deprecated USER audit messages
  src/journal/journald-audit.c
Labels: journal

#9312 po: update Russian translation
  po/ru.po
Labels: l10n 🌍

#9321 Correct a number of trivial typos.
  src/core/dbus-manager.c
  src/core/execute.c
  src/core/main.c
  src/core/namespace.c
  src/core/unit.c
  src/journal/test-compress-benchmark.c
  src/libsystemd-network/sd-radv.c
  src/libsystemd/sd-event/test-event.c
  src/network/networkd-address-label.c
  src/network/networkd-manager.c
  src/shared/machine-image.c
  src/system-update-generator/system-update-generator.c
  src/systemd/sd-radv.h
  src/test/test-procfs-util.c
Labels: good-to-merge/waiting-for-ci 👍

#9329 mount: do not output (null) in option
  src/mount/mount-tool.c
Labels: mount

#9330 portable: update polkit messages
  po/ja.po
  src/portable/org.freedesktop.portable1.policy
Labels: l10n 🌍, portable

#7190 scsi_id: Fixup prefix for pre-SPC inquiry reply
  src/udev/scsi_id/scsi_serial.c
Labels: needs-external-reviewer, udev

#9338 po: update Polish translation
  po/pl.po
Labels: l10n 🌍

#9340 po: update French translation
  po/fr.po
Labels: l10n 🌍

#9310 networkd: Unify set MTU
  src/network/networkd-link.c
Labels: network

#9342 mention alias for poweroff in machinectl --help
  src/machine/machinectl.c
Labels: machine

#9349 fixes to the systemd-update-pre.target work
  NEWS
  man/systemd.special.xml
  units/system-update-pre.target
  units/system-update.target
Labels: documentation, units

#9351 update NEWS contributors list again
  .mailmap
  NEWS
Labels: documentation

#9354 tree-wide: drop MSG_NOSIGNAL flag from recvmsg() invocations
  src/basic/socket-util.c
  src/core/dynamic-user.c
  src/coredump/coredump.c
  src/libsystemd/sd-bus/bus-socket.c
  src/portable/portable.c
Labels: tree-wide

#9357 units: fix typo in After=
  units/system-update.target
Labels: good-to-merge/waiting-for-ci 👍, units

#9358 systemctl: mask always reports the same unit names when different unk…
  src/systemctl/systemctl.c
Labels: bug 🐛, good-to-merge/waiting-for-ci 👍, systemctl

#9350 various fixes to the systemd-boot documentation
  NEWS
  doc/BOOT_LOADER_SPECIFICATION.md
  man/bootctl.xml
  man/kernel-install.xml
  man/systemd-boot.xml
Labels: documentation, sd-boot

#9359 meson: make DNS-over-TLS support optional
  meson.build
  meson_options.txt
  src/resolve/meson.build
  src/resolve/resolved-conf.c
  src/resolve/resolved-dns-server.c
  src/resolve/resolved-dns-server.h
  src/resolve/resolved-dns-stream.c
  src/resolve/resolved-dns-stream.h
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-link.c
Labels: meson, resolve

#9363 core: add unit specifier for configuration directory root
  man/systemd.unit.xml
  src/core/unit-printf.c
  test/test-execute/exec-specifier.service
  test/test-execute/exec-specifier@.service
Labels: pid1

#9360 condition: add new conditon ConditionSecurity=uefi-secureboot
  man/systemd.unit.xml
  src/shared/condition.c
Labels: pid1

#9365 ConditionSecurity= followup
  NEWS
  src/test/test-condition.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, tests

#9366 udev SYSTEMD_WANTS property fix
  TODO
  src/analyze/analyze-verify.c
  src/core/device.c
  src/core/device.h
  src/core/manager.c
  src/test/test-cgroup-mask.c
  src/test/test-engine.c
  src/test/test-sched-prio.c
  units/systemd-udev-trigger.service.in
Labels: pid1

#9368 follow-ups for 'timedatectl show'
  NEWS
  shell-completion/bash/timedatectl
Labels: documentation, shell completion

#9345 man: systemd.offline-updates: Document system-update-pre.target usage
  man/systemd.offline-updates.xml
Labels: documentation

#9372 udev: exclude DRBD from block device ownership event locking
  src/udev/udevd.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#9341 journalctl: handle inotify exhaustion nicer
  src/journal/journalctl.c
Labels: good-to-merge/waiting-for-ci 👍, journal

#9376 tmpfile: do not specify mode and owner to /run/systemd/netif
  tmpfiles.d/systemd.conf.m4
Labels: tmpfiles

#9378 man: correct the meaning of TimeoutStopSec= (#9325)
  man/systemd.service.xml
Labels: documentation

#9385 core: Actually use the resolved path for TemporaryFileSystem.
  src/core/load-fragment.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#9394 docs: put LGTM on the list of QA tools and fix a couple typos
  doc/CODE_QUALITY.md
Labels: ci, documentation

#9395 Add resolution of Trust Flex Graphics Tablet to hwdb
  hwdb/60-evdev.hwdb
Labels: hwdb

#9390 hwdb: Fix secondary backslash on MSI GS65 laptops
  hwdb/60-keyboard.hwdb
Labels: hwdb

#9399 network: fix log message
  src/network/networkd-dhcp4.c
Labels: network

#9402 boot: do not assume the last character in cmdline is a newline
  src/boot/efi/boot.c
Labels: sd-boot

#9383 man: SystemMaxUse= clarification in journald.conf(5)
  man/journald.conf.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, journal

#9382 core/manager: Make sure jobs statistics are not double after daemon-reload
  src/core/manager.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#9398 fixes error handlings and several cleanups suggested by LGTM
  src/basic/crypt-util.h
  src/basic/exec-util.h
  src/boot/bootctl.c
  src/core/cgroup.c
  src/fuzz/fuzz.h
  src/import/pull-common.c
  src/journal/journald-server.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/locale/keymap-util.h
  src/portable/portable.c
  src/portable/portabled-image-bus.h
  src/portable/portabled-image.h
  src/resolve/resolvconf-compat.h
  src/resolve/resolvectl.h
  src/resolve/resolved-dns-answer.c
  src/resolve/resolved-dns-answer.h
  src/resolve/resolved-dns-cache.c
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-transaction.c
  src/shared/bus-util.c
  src/shared/install.c
  src/shared/journal-util.h
  src/shared/machine-pool.c
Labels: tree-wide

#9404 hwdb: added accelerometer quirk for Aspire Switch 10 (sw5-011)
  hwdb/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#9279 core/job: add check for return of job_type_merge_and_collapse()
  src/core/job.c
Labels: pid1

#9278 resolved: Check for non-NULL before setting GNUTLS credentials
  src/resolve/resolved-dns-transaction.c
Labels: resolve

#9260 [hwdb] Add support for HP ProBook 650 wifi switch key
  hwdb/60-keyboard.hwdb
Labels: hwdb

#9409 bls: allow firmware-supported file systems
  doc/BOOT_LOADER_SPECIFICATION.md
Labels: documentation

#9410 meson: check whether gnutls supports TCP fast open
  README
  meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#4522 escape: support --unescape with --template
  man/systemd-escape.xml
  src/escape/escape.c
Labels: escape

#9415 man: add comments about MTUBytes= and MACAddress= for tuntap devices
  man/systemd.netdev.xml
Labels: documentation, network

#9411 tiny systemctl fixes
  src/systemctl/systemctl.c
Labels: good-to-merge/waiting-for-ci 👍, systemctl

#9412 timedate: use gmtime_r() and localtime_r()
  src/timedate/timedated.c
Labels: good-to-merge/waiting-for-ci 👍, timedate

#9435 sleep: fix printf format of fiemap fields
  src/test/test-sleep.c
Labels: good-to-merge/waiting-for-ci 👍, sleep

#9425 resolvconf: fixes for the compatibility interface
  src/resolve/resolvconf-compat.c
  src/resolve/resolvectl.c
  src/resolve/resolvectl.h
Labels: resolve

#9438 small fixes suggested by LGTM
  src/analyze/analyze.c
  src/libsystemd/sd-bus/bus-introspect.c
Labels: analyze, sd-bus

#9440 journal-gateway: update browse.html
  src/journal-remote/browse.html
Labels: journal-remote

#9436 cryptsetup: Add dependency on loopback setup to generated units
  src/cryptsetup/cryptsetup-generator.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍

#9446 sleep: fix one more printf format of a fiemap field
  src/test/test-sleep.c
Labels: good-to-merge/waiting-for-ci 👍

#9455 sd-bus: stop using the result of an assignment as an operand of &&
  src/libsystemd/sd-bus/bus-internal.h
Labels: good-to-merge/waiting-for-ci 👍, sd-bus

#9460 meson: do not compare objects of different types
  meson.build
Labels: meson

#9459 resolve: warn when our stub listener is disabled but resolv.conf uses it
  src/resolve/resolved-resolv-conf.c
  src/resolve/resolved-resolv-conf.h
  src/resolve/resolved.c
Labels: resolve

#9452 coverity.sh: use a comma to separate module names
  tools/coverity.sh
Labels: ci, coverity

#9457 tree-wide: use 'signed int' instead of 'int' for bit field variables
  src/core/unit.h
  src/libsystemd/sd-event/sd-event.c
Labels: pid1, sd-bus

#9465 resolve: update log message
  src/resolve/resolved-resolv-conf.c
Labels: resolve
