Repository systemd/systemd, pull requests merged in 2018-07, with the labels that each got.

#9478 tests: up the image size a little, use twice that size with STRIP_BINARIES=no
  test/test-functions
Labels: tests

#9488 resolved: fix typo in log message
  src/resolve/resolved-resolv-conf.c
Labels: resolve

#9491 tree-wide: add a space after (void)
  src/libsystemd/sd-device/device-enumerator.c
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-device/sd-device.c
  src/network/networkd-link.c
Labels: tree-wide

#9458 tree-wide: use SIZE_MAX or friends for truncation checking
  src/login/logind-user.c
  src/shared/conf-parser.c
Labels: tree-wide

#9417 rpm: Fix typo in %_environmentdir
  src/core/macros.systemd.in
Labels: rpm

#9496 rpm: emit warning when macro with typo is used
  src/core/macros.systemd.in
Labels: rpm

#9490 Document sd_bus_message_read
  man/rules/meson.build
  man/sd_bus_error.xml
  man/sd_bus_message_append.xml
  man/sd_bus_message_append_basic.xml
  man/sd_bus_message_read.xml
  man/sd_bus_message_read_basic.xml
Labels: documentation, sd-bus

#9506 tests: add a wrapper for when systemd is built with ASAN
  test/test-functions
Labels: tests

#9509 man: Mention that paths in unit files must be fully normalized.
  man/systemd.exec.xml
Labels: documentation

#9043 show-status: add newline to ephemeral messages
  src/basic/terminal-util.h
  src/core/show-status.c
Labels: pid1

#9517 hwdb: Add accelerometer orientation quirk for Asus TP200SA
  hwdb/60-sensor.hwdb
Labels: hwdb

#9521 hwdb: add accelerometer mount matrix for Umax VisionBook 10Wi Plus
  hwdb/60-sensor.hwdb
Labels: hwdb

#9542 man: convert old compile option to meson option
  man/systemd.xml
Labels: documentation

#9555 rules: Add by-id symlinks for persistent memory
  rules/60-persistent-storage.rules
Labels: ci-failure-appears-unrelated, udev

#9533 core: Fix grammar in error message
  src/core/dbus-unit.c
Labels: pid1

#9571 hwdb: remove stray 'i' in hwdb match string for the HP Spectre
  hwdb/60-evdev.hwdb
Labels: hwdb

#9244 core: add MemoryMin
  doc/TRANSIENT-SETTINGS.md
  man/systemd.resource-control.xml
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-cgroup.c
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/shared/bus-unit-util.c
  src/systemctl/systemctl.c
Labels: cgroups, ci-failure-appears-unrelated, pid1

#9580 [man] minor systemd.target manual update
  man/systemd.target.xml
Labels: documentation

#9575 doc: list PrivateMounts= in TRANSIENT-SETTINGS.md
  doc/TRANSIENT-SETTINGS.md
Labels: documentation

#9572 resolve: fix heap-use-after-free and uninitialized memory
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-transaction.c
Labels: resolve

#9537 pull: initialize libgcrypt before calling any functions provided by libgcrypt
  src/import/pull-job.c
Labels: import

#9536 machinectl: fix verbosity of import-raw or friends
  src/machine/machinectl.c
Labels: machine

#9534 Fix networkd test
  test/networkd-test.py
Labels: network, tests

#9528 sd-bus: unref slot->match_callback.install_slot when slot is disconnected
  src/libsystemd/sd-bus/bus-slot.c
Labels: sd-bus

#9462 make strv_split() accept empty string and use it in pager_open()
  src/basic/pager.c
  src/basic/strv.c
  src/systemctl/systemctl.c
  src/test/test-strv.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#9543 login: use parse_uid() when unmounting user runtime directory
  src/login/user-runtime-dir.c
Labels: login

#9593 build-sys: Detect whether struct statx is defined in sys/stat.h
  meson.build
  src/basic/missing.h
  src/basic/xattr-util.c
Labels: build-system, meson

#9530 More documentation for sd-bus
  NEWS
  README
  man/meson.build
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_message_copy.xml
  man/sd_bus_message_new_method_error.xml
  man/sd_bus_reply_method_error.xml
  man/sd_bus_set_description.xml
  man/systemd-logind.service.xml
  meson_options.txt
  src/core/dbus-job.c
  src/systemctl/systemctl.c
Labels: documentation, meson, reviewed/needs-rework 🔨, sd-bus

#9579 make BUS_DEFAULT_TIMEOUT configurable
  doc/ENVIRONMENT.md
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-bus/bus-internal.h
  src/libsystemd/sd-bus/bus-message.c
  src/libsystemd/sd-bus/sd-bus.c
  src/systemd/sd-bus.h
Labels: sd-bus

#9550 format-table: make all widths be set properly
  src/basic/format-table.c
  src/test/test-format-table.c
Labels: util-lib

#9586 sysusers,tmpfiles: re-create systemd-network, systemd-resolve and systemd-timesync
  sysusers.d/systemd.conf.m4
  tmpfiles.d/systemd.conf.m4
Labels: network, resolve, sysusers, timesync, tmpfiles

#9597 Tests initrd
  test/TEST-08-ISSUE-2730/test.sh
  test/TEST-09-ISSUE-2691/test.sh
  test/TEST-10-ISSUE-2467/test.sh
  test/TEST-11-ISSUE-3166/test.sh
  test/TEST-13-NSPAWN-SMOKE/test.sh
  test/TEST-14-MACHINE-ID/test.sh
  test/TEST-19-DELEGATE/test.sh
Labels: tests

#9605 network: drop unused slots
  src/network/networkd-manager.c
  src/network/networkd-manager.h
Labels: network

#9601 Small fixes
  man/systemd.netdev.xml
  src/basic/process-util.c
  src/login/logind-user.c
Labels: documentation, login, util-lib

#9612 man: clarify that prefixing ExecStart= lines with "-" won't cause sys…
  man/systemd.service.xml
Labels: documentation

#9618 README: clarify that not only systemd should use prefix=/usr, but its…
  README
Labels: documentation

#9615 man: fix --ignore-inhibitors docs
  man/systemctl.xml
Labels: documentation, systemctl

#9603 Accept empty string argument in "resolvectl domain" to clear list of domains
  man/resolvectl.xml
  src/resolve/resolvectl.c
Labels: resolve

#9616 man: elaborate a bit on the effect of PrivateNetwork=
  man/systemd.exec.xml
Labels: documentation

#9611 sleep: tiny coding style updates
  src/sleep/sleep.c
Labels: sleep

#9625 bus-socket: Fix line_begins() to accept word matching full string
  src/libsystemd/sd-bus/bus-socket.c
Labels: good-to-merge/waiting-for-ci 👍, sd-bus

#9636 man/systemd.resource-control.xml: point user to correct url
  man/systemd.resource-control.xml
Labels: documentation

#9630 Add accelerometer mount matrix for Linx 12X64
  hwdb/60-sensor.hwdb
Labels: hwdb

#9645 hwdb: fix trailing whitespace
  hwdb/60-sensor.hwdb
Labels: hwdb

#9640 Move BUS_DONT_DESTROY
  src/libsystemd/sd-bus/bus-objects.c
  src/libsystemd/sd-bus/sd-bus.c
Labels: sd-bus

#9635 hwdb: Add force-release for Clevo W65_67SZ media keys
  hwdb/60-keyboard.hwdb
Labels: hwdb

#9633 network: fix memleak
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd.c
  src/network/test-network.c
Labels: network

#9643 Two meson fixmes
  meson.build
  src/basic/missing.h
Labels: good-to-merge/waiting-for-ci 👍, meson

#9607 sd-bus: make bus_slot_disconnect() also unref the slot object
  src/libsystemd/sd-bus/bus-slot.c
  src/libsystemd/sd-bus/bus-slot.h
  src/libsystemd/sd-bus/sd-bus.c
Labels: sd-bus

#9346 Store a copy of the input message if any stripping or truncation occurs
  man/systemd.journal-fields.xml
  src/journal/journald-syslog.c
  src/systemctl/systemctl.c
Labels: journal

#9600 Systemctl mask check
  .gitignore
  src/systemctl/systemctl.c
Labels: systemctl

#9646 Add HP Chromebook 14 (Falco) HWDB rule to fix scroll stutter
  hwdb/60-evdev.hwdb
Labels: hwdb

#9629 coverity: Add custom assertion macros for Coverity
  src/basic/macro.h
Labels: ci-failure-appears-unrelated, coverity

#9619 Micmute Key support of ThinkCentre M820z and M920z
  hwdb/60-keyboard.hwdb
Labels: hwdb, reviewed/needs-rework 🔨

#9654 man: fix list-files example
  man/systemctl.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#9661 Add sigprocmask to short lived daemons
  src/hostname/hostnamed.c
  src/locale/localed.c
  src/timedate/timedated.c
Labels: hostname, locale, timedate

#9659 fix networkd memleak and voidify several function calls
  src/network/networkd-manager.c
  src/resolve/resolved-manager.c
  src/timesync/timesyncd-manager.c
Labels: network, resolve, timesync

#9664 analyze: fix width calculation in plot command
  src/analyze/analyze.c
Labels: analyze

#9516 Module load unification
  man/os-release.xml
  src/basic/meson.build
  src/core/kmod-setup.c
  src/modules-load/modules-load.c
  src/shared/meson.build
  src/shared/module-util.c
  src/shared/module-util.h
  src/udev/udev-builtin-kmod.c
Labels: meson, modules-load, pid1, udev

#9500 Add support for opening files for appending
  man/systemd.exec.xml
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment.c
  src/core/main.c
  src/test/test-execute.c
  test/meson.build
  test/test-execute/exec-standardoutput-append.service
  test/test-execute/exec-standardoutput-file.service
Labels: ci-fails/needs-rework 🔥, pid1

#9670 tests: prefer MS_SLAVE over MS_PRIVATE for turning off mount propagation
  src/test/test-process-util.c
  src/test/test-udev.c
Labels: tests

#9671 Document user@.service and friends
  man/rules/meson.build
  man/systemd.special.xml
  man/user@.service.xml
  units/user-.slice.d/10-defaults.conf
  units/user-runtime-dir@.service.in
  units/user@.service.in
Labels: documentation, good-to-merge/waiting-for-ci 👍

#9676 Minor grammar changes
  doc/BOOT_LOADER_SPECIFICATION.md
Labels: documentation

#9675 systemctl: Only wait when there's something to wait for.
  src/systemctl/systemctl.c
Labels: systemctl

#9691 tree-wide: drop empty lines in comments
  src/boot/efi/measure.c
  src/boot/efi/measure.h
  src/boot/efi/stub.c
  src/core/bpf-firewall.c
  src/core/job.c
  src/journal/fsprg.h
  src/journal/journal-def.h
  src/libsystemd/sd-hwdb/sd-hwdb.c
  src/portable/portabled-image.c
  src/resolve/resolved-dns-dnssec.c
  src/shared/initreq.h
  src/shared/specifier.c
  src/time-wait-sync/time-wait-sync.c
  src/udev/ata_id/ata_id.c
  src/udev/cdrom_id/cdrom_id.c
  src/udev/collect/collect.c
  src/udev/scsi_id/scsi_id.c
  src/udev/scsi_id/scsi_id.h
  src/udev/scsi_id/scsi_serial.c
  src/udev/udev-builtin-blkid.c
  src/udev/udev-builtin-input_id.c
  src/udev/udev-builtin-kmod.c
  src/udev/udev-builtin-path_id.c
  src/udev/udev-builtin-uaccess.c
  src/udev/udev-builtin-usb_id.c
  src/udev/udev-ctrl.c
  src/udev/udev-event.c
  src/udev/udev-node.c
  src/udev/udev-rules.c
  src/udev/udev-watch.c
  src/udev/udev.h
  src/udev/udevadm-control.c
  src/udev/udevadm-info.c
  src/udev/udevadm-monitor.c
  src/udev/udevadm-settle.c
  src/udev/udevadm-test-builtin.c
  src/udev/udevadm-test.c
  src/udev/udevadm-trigger.c
  src/udev/udevadm-util.c
  src/udev/udevadm-util.h
  src/udev/udevadm.c
  src/udev/udevd.c
Labels: tree-wide

#9677 login1: policy: Authorize active users to boot to firmware
  src/login/org.freedesktop.login1.policy
Labels: login

#9655 tests: ignore EPERM and EACCESS returned by mount in test-process-util
  src/test/test-process-util.c
Labels: tests

#9693 check nobody user/group validity only when not cross compiling
  meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#9657 Make final kill signal configurable
  doc/TRANSIENT-SETTINGS.md
  man/systemd.kill.xml
  shell-completion/bash/systemd-run
  shell-completion/zsh/_systemd-run
  src/core/dbus-kill.c
  src/core/kill.c
  src/core/kill.h
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.h
  src/core/unit.c
  src/shared/bus-unit-util.c
Labels: pid1

#9658 nspawn: Miscellaneous touch-up
  src/basic/cgroup-util.c
  src/nspawn/nspawn-cgroup.c
  src/nspawn/nspawn-cgroup.h
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn-mount.h
  src/nspawn/nspawn.c
Labels: nspawn, reviewed/needs-rework 🔨

#9560 Re-add uaccess tag for /dev/kvm
  meson.build
  src/login/70-uaccess.rules.m4
  src/login/meson.build
Labels: needs-reporter-feedback ❓, udev

#9701 String table cleanups
  src/libsystemd/sd-device/device-internal.h
  src/network/test-network-tables.c
  src/resolve/resolved-dns-server.h
  src/resolve/test-resolve-tables.c
  src/systemctl/systemctl.c
  src/test/test-tables.c
Labels: good-to-merge/waiting-for-ci 👍, resolve, sd-device, systemctl, tests

#9685 core: serialize and deserialize current ShowStatus
  src/core/dbus-manager.c
  src/core/main.c
  src/core/manager.c
  src/core/show-status.c
  src/core/show-status.h
  src/test/test-tables.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#9687 analyze: several systemd-analyze plot improvements
  src/analyze/analyze.c
  src/core/dbus-manager.c
  src/core/main.c
  src/core/manager.c
  src/core/manager.h
Labels: analyze, good-to-merge/waiting-for-ci 👍, pid1

#9705 [manpage] fixed ugly colorcodes on brackets
  man/systemctl.xml
Labels: ci-failure-appears-unrelated, documentation

#9708 Copyright header removal continuation
  src/escape/escape.c
  src/network/netdev/vrf.c
  src/network/netdev/vrf.h
  tools/check-includes.pl
Labels: good-to-merge/waiting-for-ci 👍

#9707 Add one more enum to test-network-tables
  src/network/test-network-tables.c
Labels: good-to-merge/waiting-for-ci 👍, network, tests

#9706 resolve: add assert_not_reached()
  src/resolve/resolved-dns-server.c
Labels: good-to-merge/waiting-for-ci 👍, resolve

#8876 meson: bump minimum required version to 0.46
  .lgtm.yml
  README
  meson.build
  meson_options.txt
  tools/meson-link-test.c
Labels: good-to-merge/waiting-for-ci 👍, meson

#9709 Drop more copyright headers
  src/core/emergency-action.c
  src/core/emergency-action.h
Labels: good-to-merge/waiting-for-ci 👍

#9587 nss: do not set errno to ENOENT or ESRCH when NSS_STATUS_NOTFOUND
  src/nss-myhostname/nss-myhostname.c
  src/nss-mymachines/nss-mymachines.c
  src/nss-resolve/nss-resolve.c
  src/nss-systemd/nss-systemd.c
Labels: nss

#9703 network: make log level lower when operations are automatically re-tried later
  src/network/networkd-manager.c
Labels: network

#9668 introduce open_parent() helper
  src/basic/btrfs-util.c
  src/basic/fileio.c
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/basic/mount-util.c
  src/import/export-raw.c
  src/machine/machine-dbus.c
Labels: tree-wide, util-lib

#9617 units: make sure user@.service runs with dbus still up
  units/user@.service.in
Labels: units

#9613 networkd: fix overflow check
  src/network/networkd-dhcp6.c
Labels: network

#9713 core/main: use return log_*_errno more
  src/core/main.c
Labels: pid1

#9694 man: document CPUAffinity= in system.conf in more detail
  man/systemd-system.conf.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, pid1

#9698 Lenovo Miix3-830 sensor matrix to hwid + doc update
  hwdb/60-sensor.hwdb
Labels: hwdb

#9620 add new Type=exec service type
  NEWS
  TODO
  man/systemd-run.xml
  man/systemd.service.xml
  src/basic/util.c
  src/core/execute.c
  src/core/execute.h
  src/core/mount.c
  src/core/service.c
  src/core/service.h
  src/core/socket.c
  src/core/swap.c
  src/libsystemd/sd-bus/sd-bus.c
  src/libsystemd/sd-login/sd-login.c
  test/TEST-23-TYPE-EXEC/Makefile
  test/TEST-23-TYPE-EXEC/test.sh
  test/TEST-23-TYPE-EXEC/testsuite.sh
Labels: pid1

#9484 Permille everywhere
  src/basic/parse-util.c
  src/core/load-fragment.c
  src/login/logind-user.c
  src/login/pam_systemd.c
  src/shared/bus-unit-util.c
Labels: pid1, systemctl

#9504 some nss deadlock love
  NEWS
  doc/ENVIRONMENT.md
  src/basic/env-util.h
  src/basic/path-util.h
  src/core/execute.c
  src/nss-mymachines/nss-mymachines.c
  src/nss-resolve/nss-resolve.c
  src/partition/growfs.c
  src/shared/bus-unit-util.c
Labels: nss, pid1

#9717 shared/sleep-config: exclude zram devices from hibernation candidates
  src/shared/sleep-config.c
Labels: sleep

#9684 timedate, locale: fix barrier to suppress multiple function calls
  src/locale/keymap-util.c
  src/timedate/timedated.c
Labels: locale, timedate

#9720 Fix DynamicUser=yes with static User= whose UID and GID are different
  src/core/dynamic-user.c
  src/test/test-execute.c
  test/meson.build
  test/test-execute/exec-dynamicuser-fixeduser-adm.service
  test/test-execute/exec-dynamicuser-fixeduser-games.service
Labels: ci-failure-appears-unrelated, pid1, tests

#9719 require the kernel image to still exist before allowing hibernation
  hwdb/60-sensor.hwdb
  src/login/logind-dbus.c
  src/shared/sleep-config.c
Labels: good-to-merge/waiting-for-ci 👍, sleep

#9721 Fix resolve memleak
  src/resolve/resolved-etc-hosts.c
Labels: resolve

#9724 hwdb: Added correct ACCEL_MOUNT_MATRIX for the Asus TP412UA
  hwdb/60-sensor.hwdb
Labels: hwdb

#9726 signal safety fixes exit ->_exit, call of page_size to prevent call of sysconf from signal handler
  src/basic/sigbus.c
  src/udev/collect/collect.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#9742 resolve: add option to toggle reading /etc/hosts
  man/resolved.conf.xml
  src/resolve/resolved-etc-hosts.c
  src/resolve/resolved-etc-hosts.h
  src/resolve/resolved-gperf.gperf
  src/resolve/resolved-manager.c
  src/resolve/resolved-manager.h
  src/resolve/resolved.conf.in
Labels: resolve

#9746 Expanding evdev device match for Razer Blade Stealth (2017)
  hwdb/60-evdev.hwdb
Labels: hwdb

#9734 resolved: Add OpenSSL as alternative SSL library
  README
  meson.build
  meson_options.txt
  src/resolve/meson.build
  src/resolve/resolved-dns-server.c
  src/resolve/resolved-dns-server.h
  src/resolve/resolved-dns-stream.c
  src/resolve/resolved-dns-stream.h
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-dnstls-gnutls.c
  src/resolve/resolved-dnstls-gnutls.h
  src/resolve/resolved-dnstls-openssl.c
  src/resolve/resolved-dnstls-openssl.h
  src/resolve/resolved-dnstls.h
Labels: resolve

#9736 man: move explanations about boolean and time-span value from systemd…
  man/systemd.syntax.xml
  man/systemd.unit.xml
Labels: documentation

#9752 udev: net_id: document predictable names for SR-IOV virtual devices
  src/udev/udev-builtin-net_id.c
Labels: udev

#9760 resolve: several cleanups of handing /etc/hosts
  src/basic/in-addr-util.c
  src/basic/in-addr-util.h
  src/resolve/resolved-etc-hosts.c
  src/resolve/resolved-manager.h
Labels: resolve

#9761 meson: drop parens when appending to list
  man/meson.build
  meson.build
  src/boot/efi/meson.build
  src/resolve/meson.build
  src/shared/meson.build
Labels: meson
