Repository systemd/systemd, pull requests merged in 2019-12, with the labels that each got.

#14216 hwdb: sort Teclast sensors entries and add a new quirk for the Teclast X89
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#14230 Fixup typo in NEWS
  NEWS
Labels: documentation 📖

#14228 networkctl: fix to show BSSID
  src/network/networkctl.c
Labels: network, quick-review 🏃‍♂️

#14231 hwdb: Set trackball property for Logitech MX Ergo
  hwdb.d/70-mouse.hwdb
Labels: hwdb

#14240 core: swap priority can be negative
  src/core/swap.c
  src/core/swap.h
  src/shared/fstab-util.c
  src/test/test-fstab-util.c
Labels: pid1

#14233 Fix the ejectcd button on Alienware M17XR3 laptops.
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

#14227 network: do not return error but return UINT64_MAX if speed meter is disabled
  src/libsystemd/sd-bus/bus-common-errors.c
  src/libsystemd/sd-bus/bus-common-errors.h
  src/network/networkctl.c
  src/network/networkd-link-bus.c
Labels: network

#14211 Support NLMSGERR_ATTR_MSG
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/sd-netlink.c
  src/network/networkd-address-label.c
  src/network/networkd-address.c
  src/network/networkd-brvlan.c
  src/network/networkd-can.c
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-fdb.c
  src/network/networkd-ipv4ll.c
  src/network/networkd-ipv6-proxy-ndp.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-ndisc.c
  src/network/networkd-neighbor.c
  src/network/networkd-nexthop.c
  src/network/networkd-route.c
  src/network/networkd-routing-policy-rule.c
  src/network/tc/qdisc.c
Labels: good-to-merge/waiting-for-ci 👍, network, sd-netlink

#14207 Create parent directories when creating systemd-private subdirs
  src/core/namespace.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#14203 Fix DPI for MX Master 2s bluetooth mouse
  hwdb.d/70-mouse.hwdb
Labels: hwdb

#14154 pid1: add new kernel cmdline arg systemd.cpu_affinity=
  man/kernel-command-line.xml
  src/core/main.c
Labels: pid1, quick-review 🏃‍♂️

#14189 Selinux tmpfiles
  src/basic/copy.c
  src/basic/copy.h
  src/tmpfiles/tmpfiles.c
Labels: good-to-merge/after-next-release, selinux, tmpfiles

#14188 core: reload SELinux label cache on daemon-reload
  src/basic/selinux-util.c
  src/basic/selinux-util.h
  src/core/main.c
Labels: good-to-merge/after-next-release, pid1, selinux

#14177 Use initrd.target in the initramfs
  man/systemd.special.xml
  src/basic/special.h
  src/core/main.c
  src/debug-generator/debug-generator.c
  src/journal-remote/journal-upload.h
  src/libsystemd-network/sd-dhcp-server.c
  src/run-generator/run-generator.c
  src/shared/bus-wait-for-jobs.h
  src/shared/journal-importer.h
  src/sulogin-shell/sulogin-shell.c
Labels: documentation 📖, good-to-merge/after-next-release, pid1

#14133 Clear ambient inherited
  src/basic/capability-util.c
  src/core/execute.c
  src/test/test-capability.c
Labels: good-to-merge/after-next-release, pid1

#13941 udev: Ensure udev_event_spawn reads stdout
  src/udev/udev-event.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#14217 sd-boot: Add a 0.1 second delay before key-probing for showing menu
  src/boot/efi/boot.c
Labels: boot

#14100 man: document journal rate limit burst multiplier
  man/journald.conf.xml
Labels: documentation 📖

#13886 add pidfd support to sd-event (but not yet PID 1)
  TODO
  man/rules/meson.build
  man/sd_event_add_child.xml
  man/sd_event_add_signal.xml
  meson.build
  src/basic/missing_syscall.h
  src/basic/process-util.c
  src/basic/process-util.h
  src/basic/signal-util.c
  src/basic/signal-util.h
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-event/event-source.h
  src/libsystemd/sd-event/sd-event.c
  src/libsystemd/sd-event/test-event.c
  src/systemd/sd-event.h
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, sd-event, tests

#14218 Assorted smaller stuff split out from homed PR
  src/basic/errno-util.h
  src/basic/memory-util.h
  src/basic/ordered-set.h
  src/basic/parse-util.c
  src/basic/process-util.c
  src/basic/process-util.h
  src/basic/string-util.c
  src/basic/string-util.h
  src/basic/tmpfile-util.c
  src/basic/user-util.c
  src/basic/user-util.h
  src/shared/main-func.h
  src/test/test-string-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#13953 boot: Fix default/oneshot selection for EFISTUB entries
  src/boot/efi/boot.c
  src/shared/bootspec.c
  src/shared/bootspec.h
Labels: boot

#14111 Warn about unknown sections
  src/network/netdev/bond.c
  src/network/netdev/bridge.c
  src/network/netdev/dummy.c
  src/network/netdev/fou-tunnel.c
  src/network/netdev/geneve.c
  src/network/netdev/ipvlan.c
  src/network/netdev/l2tp-tunnel.c
  src/network/netdev/macsec.c
  src/network/netdev/macvlan.c
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/netdev/netdevsim.c
  src/network/netdev/nlmon.c
  src/network/netdev/tunnel.c
  src/network/netdev/tuntap.c
  src/network/netdev/vcan.c
  src/network/netdev/veth.c
  src/network/netdev/vlan.c
  src/network/netdev/vrf.c
  src/network/netdev/vxcan.c
  src/network/netdev/vxlan.c
  src/network/netdev/wireguard.c
  src/network/netdev/xfrm.c
  src/shared/conf-parser.c
  src/shared/conf-parser.h
  src/shared/install.c
  src/test/test-conf-parser.c
Labels: network, systemctl, tests

#14210 Implement SNI when using DNS-over-TLS
  man/resolved.conf.xml
  src/resolve/meson.build
  src/resolve/resolved-conf.c
  src/resolve/resolved-dns-server.c
  src/resolve/resolved-dns-server.h
  src/resolve/resolved-dnstls-gnutls.c
  src/resolve/resolved-dnstls-openssl.c
  src/resolve/resolved-link-bus.c
  src/resolve/resolved-link.c
  src/resolve/resolved-util.c
  src/resolve/resolved-util.h
  src/resolve/test-resolved-util.c
Labels: good-to-merge/waiting-for-ci 👍, resolve

#14219 preparatory /dev/loopN support split out of homed PR
  src/core/namespace.c
  src/dissect/dissect.c
  src/nspawn/nspawn.c
  src/portable/portable.c
  src/shared/dissect-image.c
  src/shared/loop-util.c
  src/shared/loop-util.h
  src/shared/machine-image.c
  src/test/test-dissect-image.c
Labels: util-lib

#14173 network: tc: introduce sfq and tbf
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-message.c
  src/network/meson.build
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/tc/netem.c
  src/network/tc/netem.h
  src/network/tc/qdisc.c
  src/network/tc/qdisc.h
  src/network/tc/sfq.c
  src/network/tc/sfq.h
  src/network/tc/tbf.c
  src/network/tc/tbf.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-qdisc-netem.network
  test/test-network/conf/25-qdisc-tbf-and-sfq.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network, new-feature

#14229 nspawn: do not fail if udev is not running
  src/network/networkd-link.c
  src/nspawn/nspawn-network.c
Labels: good-to-merge/waiting-for-ci 👍, network, nspawn

#14221 preparatory fs resizing support split out of homed PR
  src/basic/missing_magic.h
  src/basic/missing_xfs.h
  src/shared/meson.build
  src/shared/resize-fs.c
  src/shared/resize-fs.h
Labels: util-lib

#14209 sd-bus add "sensitive" flag and do not emit properties unnecessarilly
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-bus/bus-message.c
  src/libsystemd/sd-bus/bus-message.h
  src/libsystemd/sd-bus/bus-objects.c
  src/systemd/sd-bus-vtable.h
  src/systemd/sd-bus.h
Labels: sd-bus

#14167 Fix memory_deny_write_execute on x86 and s390 with libseccomp 2.4.2
  src/shared/seccomp-util.c
  src/test/test-seccomp.c
Labels: good-to-merge/waiting-for-ci 👍, seccomp, tests

#14253 Cleanups
  TODO
  src/basic/process-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#14252 Port growfs over to resizefs
  src/partition/growfs.c
  src/shared/resize-fs.c
  src/shared/resize-fs.h
Labels: good-to-merge/waiting-for-ci 👍, growfs

#14254 network: do not drop foreign config if interface is in initialized state
  src/network/networkd-link.c
Labels: network

#14265 shared/seccomp: avoid possibly writing bogus errno code in debug log
  src/shared/seccomp-util.c
Labels: good-to-merge/waiting-for-ci 👍, seccomp

#14102 network: introduce DAD for static IPV4 address
  man/systemd.network.xml
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-util.c
  src/network/networkd-util.h
  test/test-network/conf/25-address-dad-veth-peer.network
  test/test-network/conf/25-address-dad-veth99.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network, new-feature

#14275 network: fix copy and paste mistake
  src/network/tc/qdisc.c
Labels: good-to-merge/waiting-for-ci 👍, network, quick-review 🏃‍♂️

#14273 network: introduce IFB
  man/systemd.netdev.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-types.h
  src/network/meson.build
  src/network/netdev/ifb.c
  src/network/netdev/ifb.h
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  test/test-network/conf/25-ifb.netdev
  test/test-network/conf/netdev-link-local-addressing-yes.network
  test/test-network/systemd-networkd-tests.py
Labels: ci-failure-appears-unrelated, network

#14266 resolved: don't resolve the user if not root
  src/network/networkd.c
  src/resolve/resolved.c
  tmpfiles.d/systemd.conf.m4
Labels: ci-failure-appears-unrelated, network, resolve

#14286 test-network: make test_bind_carrier more stable
  test/test-network/systemd-networkd-tests.py
Labels: tests

#14287 test: do not fail if new device is plugged during enumeration
  src/libsystemd/sd-device/test-sd-device.c
Labels: ci-failure-appears-unrelated, tests

#14274 Add Cube iWork 11 Stylus
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#14268 seccomp: real syscall numbers are >= 0
  src/basic/missing_syscall.h
  src/test/test-seccomp.c
Labels: seccomp

#14284 network: fix segfault in parsing SendOption=
  src/network/networkd-dhcp-common.c
  test/test-network/conf/dhcp-client-ipv4-only-ipv6-disabled.network
Labels: network, quick-review 🏃‍♂️

#14295 add new GREEDY_ALLOC_ROUND_UP() to make strv_extend() a bit less slow
  src/basic/macro.h
  src/basic/strv.c
  src/test/test-util.c
Labels: util-lib

#14280 network: tc: add more options for TBF
  man/systemd.network.xml
  src/network/networkd-network-gperf.gperf
  src/network/tc/qdisc.c
  src/network/tc/tbf.c
  src/network/tc/tbf.h
  src/network/tc/tc-util.c
  src/network/tc/tc-util.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-qdisc-tbf-and-sfq.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#14300 ipv4ll: do not reset conflict counter on restart
  src/libsystemd-network/sd-ipv4acd.c
  src/libsystemd-network/sd-ipv4ll.c
  src/libsystemd-network/test-acd.c
  src/network/networkd-address.c
  src/systemd/sd-ipv4acd.h
Labels: good-to-merge/waiting-for-ci 👍, network

#14297 cleaning up id128 formatting buffer sizing
  src/journal-remote/journal-upload-journal.c
  src/journal/journal-file.c
  src/journal/sd-journal.c
  src/libsystemd/sd-bus/sd-bus.c
  src/libsystemd/sd-id128/id128-util.c
  src/libsystemd/sd-id128/id128-util.h
  src/nspawn/nspawn.c
  src/shared/logs-show.c
  src/test/test-id128.c
  src/veritysetup/veritysetup-generator.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, tree-wide, util-lib

#14278 network tc: qdisc parent add support to set ingress
  man/systemd.network.xml
  src/network/meson.build
  src/network/networkd-network-gperf.gperf
  src/network/tc/fq-codel.c
  src/network/tc/fq-codel.h
  src/network/tc/qdisc.c
  src/network/tc/qdisc.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-qdisc-netem-and-fqcodel.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#14306 beef up systemd.io pages with simple categorization
  docs/AUTOMATIC_BOOT_ASSESSMENT.md
  docs/BLOCK_DEVICE_LOCKING.md
  docs/BOOT_LOADER_INTERFACE.md
  docs/BOOT_LOADER_SPECIFICATION.md
  docs/CGROUP_DELEGATION.md
  docs/CODE_OF_CONDUCT.md
  docs/CODE_QUALITY.md
  docs/CODING_STYLE.md
  docs/CONTRIBUTING.md
  docs/DISTRO_PORTING.md
  docs/ENVIRONMENT.md
  docs/HACKING.md
  docs/PORTABLE_SERVICES.md
  docs/PREDICTABLE_INTERFACE_NAMES.md
  docs/RANDOM_SEEDS.md
  docs/RELEASE.md
  docs/SECURITY.md
  docs/TEMPORARY_DIRECTORIES.md
  docs/TESTING_WITH_SANITIZERS.md
  docs/TRANSIENT-SETTINGS.md
  docs/TRANSLATORS.md
  docs/UIDS-GIDS.md
  docs/_data/extra_pages.json
  docs/index.md
Labels: documentation 📖

#14303 network: tc: use typesafe functions
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-types.h
  src/network/tc/fq-codel.c
  src/network/tc/tbf.c
Labels: good-to-merge/waiting-for-ci 👍, network

#14317 hwdb: trivial indentation fix
  hwdb.d/70-mouse.hwdb
Labels: hwdb, quick-review 🏃‍♂️

#14307 locale-util: drop weird invisible unicode codepoints accidentally ins…
  src/basic/locale-util.c
Labels: quick-review 🏃‍♂️, util-lib

#14309 network: tc: introduce QDiscVTable
  src/network/tc/fq-codel.c
  src/network/tc/fq-codel.h
  src/network/tc/netem.c
  src/network/tc/netem.h
  src/network/tc/qdisc.c
  src/network/tc/qdisc.h
  src/network/tc/sfq.c
  src/network/tc/sfq.h
  src/network/tc/tbf.c
  src/network/tc/tbf.h
Labels: network

#14308 superficial fixes to network naming docs
  docs/PREDICTABLE_INTERFACE_NAMES.md
  man/systemd.net-naming-scheme.xml
  src/udev/udev-builtin-net_id.c
Labels: documentation 📖, quick-review 🏃‍♂️

#14305 network tc: inroduce FQ - Fair Queue traffic policing
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-types.h
  src/network/meson.build
  src/network/networkd-network-gperf.gperf
  src/network/tc/fq.c
  src/network/tc/fq.h
  src/network/tc/qdisc.c
  src/network/tc/qdisc.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-qdisc-fq.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#14321 network-generator: allow empty hostname
  src/network/generator/network-generator.c
  test/TEST-35-NETWORK-GENERATOR/test-03-issue-14319.expected/90-enp3s0.network
  test/TEST-35-NETWORK-GENERATOR/test-03-issue-14319.input
Labels: good-to-merge/waiting-for-ci 👍, network

#14290 nspawn: allow combination of private_network and network-namespace-path
  src/nspawn/nspawn.c
  test/TEST-13-NSPAWN-SMOKE/test.sh
Labels: nspawn

#14269 nspawn: Enable specifying root as the mount target directory.
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn-mount.h
  src/nspawn/nspawn.c
Labels: good-to-merge/waiting-for-ci 👍, nspawn

#14320 network: tc: introduce more FQ-CoDel settings
  man/systemd.network.xml
  src/network/networkd-network-gperf.gperf
  src/network/tc/fq-codel.c
  src/network/tc/fq-codel.h
  src/network/tc/qdisc.c
  src/network/tc/qdisc.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-qdisc-netem-and-fqcodel.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#13915 Set ipv6 mtu after link-up or device mtu change
  src/network/networkd-link.c
  src/network/networkd-link.h
  test/test-network/conf/12-dummy-mtu.link
  test/test-network/conf/12-dummy-mtu.netdev
  test/test-network/conf/12-dummy.network
  test/test-network/conf/12-dummy.network.d/ipv6-mtu-1400.conf
  test/test-network/conf/12-dummy.network.d/ipv6-mtu-1550.conf
  test/test-network/conf/12-dummy.network.d/mtu.conf
  test/test-network/systemd-networkd-tests.py
Labels: network, tests

#14327 blockdev-util: rework get_block_device()
  src/basic/blockdev-util.c
Labels: ci-failure-appears-unrelated, quick-review 🏃‍♂️, util-lib

#14333 docs: make sure there's only one # markdown header in each file
  docs/AUTOMATIC_BOOT_ASSESSMENT.md
  docs/CODING_STYLE.md
  docs/TRANSLATORS.md
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#14326 nspawn: fix overlay with automatic temporary tree
  src/nspawn/nspawn-mount.c
Labels: bug 🐛, ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, nspawn

#14335 hwdb: Add accel orientation quirk for Thundersoft TST168 tablet
  hwdb.d/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#14347 Add Acer Spin 1 SP111-33 to sensor hwdb
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#14350 network, udev: add altname support
  man/systemd.link.xml
  man/systemd.network.xml
  src/basic/linux/btrfs.h
  src/basic/linux/btrfs_tree.h
  src/basic/linux/can/vxcan.h
  src/basic/linux/if.h
  src/basic/linux/if_bridge.h
  src/basic/linux/if_ether.h
  src/basic/linux/if_link.h
  src/basic/linux/nexthop.h
  src/basic/linux/pkt_sched.h
  src/basic/linux/rtnetlink.h
  src/basic/linux/wireguard.h
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/libsystemd-network/network-internal.c
  src/libsystemd-network/network-internal.h
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-util.c
  src/libsystemd/sd-netlink/netlink-util.h
  src/libsystemd/sd-netlink/rtnl-message.c
  src/libsystemd/sd-netlink/test-netlink.c
  src/network/networkctl.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/test-network.c
  src/shared/conf-parser.c
  src/shared/conf-parser.h
  src/systemd/sd-netlink.h
  src/test/test-socket-util.c
  src/udev/net/link-config-gperf.gperf
  src/udev/net/link-config.c
  src/udev/net/link-config.h
  test/fuzz/fuzz-link-parser/directives.link
  test/test-network/conf/12-dummy.link
  test/test-network/conf/netdev-link-local-addressing-yes.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network, sd-netlink, udev

#14196 gpt-auto-generator debugging
  TODO
  man/systemd-gpt-auto-generator.xml
  src/boot/bootctl.c
  src/gpt-auto-generator/gpt-auto-generator.c
  test/README.testsuite
Labels: boot, gpt-auto

#14261 Fixes for networkd, shared/loop-util, basic/efivars
  src/basic/efivars.c
  src/network/networkd-brvlan.c
  src/shared/efi-loader.c
  src/shared/loop-util.c
  src/shared/loop-util.h
Labels: network, util-lib

#14354 two trivial doc fixes
  .github/ISSUE_TEMPLATE/Bug_report.md
  docs/style.css
Labels: documentation 📖, quick-review 🏃‍♂️

#14342 Added Trekstor Primetab S11B
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#14349 basic/tmpfile: avoid maybe-uninitialized warning in mkostemp_safe()
  src/basic/tmpfile-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#14357 efivars: properly NUL terminate EFI variables when reading
  src/basic/efivars.c
Labels: good-to-merge/waiting-for-ci 👍, priority, quick-review 🏃‍♂️, util-lib

#14351 util: constify arguments of strv_xxx()
  src/basic/strv.c
  src/basic/strv.h
Labels: quick-review 🏃‍♂️, util-lib

#14356 random-util: call initialize_srand() after fork()
  src/basic/random-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#14339 Small enhancements to logs for enabling of invalid units
  TODO
  src/core/dbus-manager.c
  src/shared/install.c
Labels: good-to-merge/waiting-for-ci 👍, install

#14241 Bump resume timeout to infinity
  src/cryptsetup/cryptsetup-generator.c
  src/hibernate-resume/hibernate-resume-generator.c
  src/shared/generator.c
Labels: hibernate-resume

#14361 systemctl: show what verbs support --dry-run in the help page
  src/systemctl/systemctl.c
Labels: systemctl

#14360 udev: introduce AlternativeNamesPolicy= setting
  man/systemd.link.xml
  network/99-default.link
  src/udev/net/link-config-gperf.gperf
  src/udev/net/link-config.c
  src/udev/net/link-config.h
  src/udev/udev-builtin-net_id.c
  test/fuzz/fuzz-link-parser/directives.link
Labels: good-to-merge/with-minor-suggestions, udev

#14344 hwdb: Add Bluetooth-attached Logitech MX Master
  hwdb.d/70-mouse.hwdb
Labels: hwdb

#14208 json bits from homed PR
  src/basic/fileio.c
  src/basic/fileio.h
  src/fuzz/fuzz-json.c
  src/network/netdev/macsec.c
  src/network/netdev/wireguard.c
  src/nspawn/nspawn-oci.c
  src/shared/json.c
  src/shared/json.h
  src/shared/varlink.c
  src/test/test-json.c
Labels: nspawn, util-lib

#14352 sd-netlink: tiny fixes
  src/libsystemd/sd-netlink/netlink-message.c
Labels: good-to-merge/waiting-for-ci 👍, sd-netlink

#14363 [import] fix stdin/stdout pipe behavior in import/export tar/raw
  src/import/importd.c
  test/TEST-25-IMPORT/testsuite.sh
Labels: good-to-merge/waiting-for-ci 👍, import

#14337 network: tc: introduce more FQ settings
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/networkd-network-gperf.gperf
  src/network/tc/fq.c
  src/network/tc/fq.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-qdisc-fq.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#14267 just the pkcs11 hookup for classic cryptsetup (/etc/crypttab) split out of the homed PR
  man/crypttab.xml
  man/yubikey-crypttab.sh
  meson.build
  meson_options.txt
  rules.d/60-fido-id.rules
  src/cryptsetup/cryptsetup-pkcs11.c
  src/cryptsetup/cryptsetup-pkcs11.h
  src/cryptsetup/cryptsetup.c
  src/shared/meson.build
  src/shared/openssl-util.h
  src/shared/pkcs11-util.c
  src/shared/pkcs11-util.h
Labels: cryptsetup, documentation 📖, good-to-merge/waiting-for-ci 👍, udev, util-lib

#14364 time-util: deal with systems where userspace has 64bit time_t but ker…
  src/basic/time-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#14296 Akoya E Models hwdb
  hwdb.d/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#14341 initrd: make udev cleanup service confict udev-trigger
  units/initrd-udevadm-cleanup-db.service.in
Labels: udev, units

#14369 PKCS#11 cryptsetup support followup
  man/crypttab.xml
  man/yubikey-crypttab.sh
  src/cryptsetup/cryptsetup-pkcs11.c
Labels: cryptsetup, documentation 📖, good-to-merge/waiting-for-ci 👍

#14370 four smaller preparation patches from the homed PR
  src/basic/meson.build
  src/basic/quota-util.c
  src/basic/quota-util.h
  src/core/meson.build
  src/shared/chown-recursive.c
  src/shared/chown-recursive.h
  src/shared/meson.build
  src/shared/varlink.c
  src/shared/varlink.h
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#14366 shared/dropin: fix assert for invalid drop-in
  src/shared/dropin.c
  test/TEST-15-DROPIN/test-dropin.sh
Labels: bug 🐛, systemctl

#14371 man: add man page for sd_bus_message_sensitive()
  man/rules/meson.build
  man/sd_bus_message_sensitive.xml
Labels: documentation 📖, sd-bus

#14365 network, udev: further alternative name support
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-util.c
  src/libsystemd/sd-netlink/netlink-util.h
  src/network/networkctl.c
  src/network/networkd-manager-bus.c
  src/udev/net/link-config.c
Labels: network, udev

#14377 Fixups
  src/libsystemd/sd-bus/bus-common-errors.c
  src/libsystemd/sd-bus/bus-common-errors.h
  src/network/networkctl.c
  src/shared/loop-util.c
  src/shared/loop-util.h
  src/shared/openssl-util.h
  src/shared/pkcs11-util.h
Labels: good-to-merge/waiting-for-ci 👍, meson, network, util-lib

#14276 network: introduce AddPrefixRoute= and deprecate PrefixRoute=
  man/systemd.network.xml
  src/network/networkd-address.c
  src/network/networkd-dhcp4.c
  src/network/networkd-network-gperf.gperf
  test/fuzz/fuzz-network-parser/directives.network
Labels: network

#14376 sd-event: don't use stack for event queue array
  TODO
  src/libsystemd/sd-event/sd-event.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, sd-event, squash-on-merge

#14382 analyze: badness if neither of RootImage and RootDirectory exists
  src/analyze/analyze-security.c
Labels: analyze, bug 🐛

#13823 core: PrivateUsers=true for (unprivileged) user managers
  man/systemd.exec.xml
  src/core/execute.c
  src/core/mount-setup.c
  src/core/namespace.c
  src/login/user-runtime-dir.c
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn.c
  src/shared/dev-setup.c
  src/shared/mount-util.c
  src/shared/mount-util.h
  src/test/test-dev-setup.c
  src/test/test-execute.c
  test/TEST-43-PRIVATEUSER-UNPRIV/Makefile
  test/TEST-43-PRIVATEUSER-UNPRIV/test.sh
  test/TEST-43-PRIVATEUSER-UNPRIV/testsuite.sh
  test/meson.build
  test/test-execute/exec-privatedevices-yes-with-group.service
  test/test-functions
Labels: pid1

#14388 man: document uids for user journals
  man/journald.conf.xml
  man/systemd-journald.service.xml
  man/tmpfiles.d.xml
Labels: documentation 📖, good-to-merge/with-minor-suggestions

#14379 time-util: also use 32bit hack on EOVERFLOW
  src/basic/time-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#14394 network: update log message in message_rtnl_process_xyz()
  src/network/networkd-manager.c
Labels: good-to-merge/waiting-for-ci 👍, network, quick-review 🏃‍♂️

#14378 Unit documentation and build-system tweaks
  man/bootup.xml
  units/local-fs-pre.target
  units/remote-fs-pre.target
Labels: documentation 📖, units

#14402 network: fix typo
  src/network/networkd-manager.c
Labels: network, quick-review 🏃‍♂️

#14329 export user units' InvocationID and use as _SYSTEMD_INVOCATION_ID
  man/systemd.journal-fields.xml
  src/core/manager.c
  src/core/unit.c
  src/journal/journald-context.c
Labels: journal, pid1

#14405 Revert "Drop dbus activation stub service"
  README
  src/core/meson.build
  src/core/org.freedesktop.systemd1.service
  units/meson.build
Labels: bug 🐛, good-to-merge/waiting-for-ci 👍, priority

#14407 network: DHCP4 introduce send decline
  man/systemd.network.xml
  src/libsystemd-network/sd-dhcp-client.c
  src/network/networkd-dhcp4.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/sd-dhcp-client.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/dhcp-client-decline.network
  test/test-network/conf/dhcp-server-decline.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#14409 some smaller modernizations to the shutdown loop
  src/shutdown/umount.c
Labels: good-to-merge/waiting-for-ci 👍, shutdown

#14403 bash-completion: move shell-completion for log-level, log-target, and service-watchdogs to systemctl
  shell-completion/bash/systemctl.in
  shell-completion/bash/systemd-analyze
Labels: shell completion

#14421 network: add one more log message
  src/network/networkd-link.c
Labels: good-to-merge/waiting-for-ci 👍, network, quick-review 🏃‍♂️

#14432 Fix typo
  src/core/main.c
Labels: pid1

#14427 test-condition: fix group check condition
  src/test/test-condition.c
Labels: good-to-merge/waiting-for-ci 👍, tests

#14414 network: tc introduce codel
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-types.h
  src/network/meson.build
  src/network/networkd-network-gperf.gperf
  src/network/tc/codel.c
  src/network/tc/codel.h
  src/network/tc/qdisc.c
  src/network/tc/qdisc.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: network

#14392 network: Add support to configure DHCPv4 route MTU
  man/systemd.network.xml
  src/network/networkd-dhcp4.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: network

#14425 travis: wait for the container to fully boot up
  travis-ci/managers/debian.sh
  travis-ci/managers/fedora.sh
Labels: ci, quick-review 🏃‍♂️
