Repository systemd/systemd, pull requests merged in 2019-07, with the labels that each got.

#12913 udev: accept lines which have only PROGRAM=
  src/udev/udev-rules.c
Labels: udev

#12888 network,udev: add Property= setting in [Match] section
  man/systemd.link.xml
  man/systemd.network.xml
  src/libsystemd-network/network-internal.c
  src/libsystemd-network/network-internal.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/test-networkd-conf.c
  src/udev/net/link-config-gperf.gperf
  src/udev/net/link-config.c
  src/udev/net/link-config.h
  test/fuzz/fuzz-link-parser/directives.link
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/13-not-match-udev-property.network
  test/test-network/conf/14-match-udev-property.network
  test/test-network/systemd-networkd-tests.py
Labels: network, new-feature, udev

#12728 test-network: add udev related tests for networkctl
  test/test-network/systemd-networkd-tests.py
Labels: tests

#12912 network: move functions
  src/network/meson.build
  src/network/networkd-brvlan.h
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp-common.h
  src/network/networkd-dhcp-server.c
  src/network/networkd-dhcp-server.h
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp4.h
  src/network/networkd-dhcp6.c
  src/network/networkd-dhcp6.h
  src/network/networkd-ipv4ll.c
  src/network/networkd-ipv4ll.h
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-ndisc.c
  src/network/networkd-network-bus.c
  src/network/networkd-network-bus.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-radv.c
  src/network/networkd-radv.h
  src/network/networkd-route.c
Labels: network

#12398 debug-generator: enable custom systemd.debug_shell tty
  man/custom-entities.ent.in
  man/systemd-debug-generator.xml
  meson.build
  src/debug-generator/debug-generator.c
Labels: debug-generator

#12935 man: document tmpfiles.d/ user/group resolvability needs
  man/tmpfiles.d.xml
Labels: documentation 📖, tmpfiles

#12940 Added ACCEL_MOUNT_MATRIX for Asus Q551LN in hwdb/60-sensor.hwdb
  hwdb/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#12942 logind: drop old-style header from .sym file in favour of SPDX
  src/login/pam_systemd.sym
Labels: good-to-merge/waiting-for-ci 👍, login, quick-review 🏃‍♂️

#12943 json: use JSON_VARIANT_ARRAY_FOREACH() where we can
  src/shared/json.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, util-lib

#12944 varlink: allow using varlink_wait() even with a server
  src/shared/varlink.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, util-lib

#12946 three small blockdev-util.[ch] tweaks
  src/basic/blockdev-util.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, util-lib

#12954 /var/log-related cleanups
  docs/var-log/README
  docs/var-log/README.in
  docs/var-log/meson.build
  meson.build
  meson_options.txt
  src/journal-remote/meson.build
  src/journal/meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#12949 sd-netlink: introduce sd_netlink_message_enter_array()
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-socket.c
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/test-netlink.c
  src/systemd/sd-netlink.h
Labels: good-to-merge/waiting-for-ci 👍, sd-netlink

#12937 man: Add some notes about variable $prefix for StateDirectory=
  man/systemd.exec.xml
Labels: documentation 📖

#12960 dissect: split out DM deferred remove into src/shared/dm-util.c
  src/shared/dissect-image.c
  src/shared/dm-util.c
  src/shared/dm-util.h
  src/shared/meson.build
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, util-lib

#12961 fsck: split out fsck return code definitions into a header file of it…
  src/fsck/fsck.c
  src/shared/fsck-util.h
  src/shared/meson.build
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, util-lib

#12962 portabled: Make use of SYNTHETIC_ERRNO()
  src/portable/portabled.c
Labels: good-to-merge/waiting-for-ci 👍, portable, quick-review 🏃‍♂️

#12941 test-network: show debug logs of networkd
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, tests

#12945 varlink: add varlink server to event loop only if there is one
  src/shared/varlink.c
Labels: quick-review 🏃‍♂️, util-lib

#12963 systemd-analyze dump fixup
  src/analyze/analyze.c
  src/basic/time-util.h
  src/core/job.c
  src/core/main.c
  src/core/manager.c
  src/run/run.c
  src/systemctl/systemctl.c
Labels: ci-failure-appears-unrelated, pid1, tree-wide

#12964 network: fix BridgeVLAN issue
  src/network/networkd-brvlan.c
  src/shared/vlan-util.c
  src/shared/vlan-util.h
  test/test-network/conf/26-bridge-vlan-master.network
  test/test-network/conf/26-bridge-vlan-slave.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#12966 login: move file definitions outside of the conditionalization
  src/login/meson.build
Labels: good-to-merge/waiting-for-ci 👍, login, meson

#12968 test-network: add tests for DHCP.UseRoutes=no with custom route settings
  test/test-network/conf/dhcp-client-use-routes-no.network
  test/test-network/systemd-networkd-tests.py
Labels: tests

#12980 semaphore: pass allow-releaseinfo-change to apt-get
  semaphoreci/semaphore-runner.sh
Labels: priority

#12979 units: add SystemCallErrorNumber=EPERM to systemd-portabled.service
  units/systemd-portabled.service.in
Labels: portable, quick-review 🏃‍♂️, units

#12978 Add accel mount matrix for Irbis TW90
  hwdb/60-sensor.hwdb
Labels: hwdb

#12970 src/network/networkd-dhcp4.c: set prefsrc for classless or static routes
  src/network/networkd-dhcp4.c
  test/test-network/conf/dhcp-client-with-static-address.network
  test/test-network/systemd-networkd-tests.py
Labels: dhcp, network

#12985 test: make ASAN/UBSAN_OPTIONS overridable from the outside
  test/test-functions
Labels: ci-failure-appears-unrelated, quick-review 🏃‍♂️, tests

#12972 cryptsetup: properly handle libcryptsetup debug logging
  src/basic/log.c
  src/cryptsetup/cryptsetup.c
  src/partition/growfs.c
Labels: good-to-merge/with-minor-suggestions

#12987 nspawn: fix abort when we cannot execve
  src/nspawn/nspawn.c
Labels: nspawn

#12986 pid1: fix serialization/deserialization of commmands with spaces
  src/core/service.c
Labels: pid1

#12992 Various test/test-functions fixes/improvements
  test/TEST-01-BASIC/test.sh
  test/TEST-02-CRYPTSETUP/test.sh
  test/TEST-03-JOBS/test.sh
  test/TEST-04-JOURNAL/test.sh
  test/TEST-05-RLIMITS/test.sh
  test/TEST-06-SELINUX/test.sh
  test/TEST-07-ISSUE-1981/test.sh
  test/TEST-08-ISSUE-2730/test.sh
  test/TEST-09-ISSUE-2691/test.sh
  test/TEST-10-ISSUE-2467/test.sh
  test/TEST-11-ISSUE-3166/test.sh
  test/TEST-12-ISSUE-3171/test.sh
  test/TEST-13-NSPAWN-SMOKE/test.sh
  test/TEST-14-MACHINE-ID/test.sh
  test/TEST-16-EXTEND-TIMEOUT/test.sh
  test/TEST-17-UDEV-WANTS/test.sh
  test/TEST-18-FAILUREACTION/test.sh
  test/TEST-19-DELEGATE/test.sh
  test/TEST-20-MAINPIDGAMES/test.sh
  test/TEST-23-TYPE-EXEC/test.sh
  test/TEST-24-UNIT-TESTS/test.sh
  test/TEST-25-IMPORT/test.sh
  test/TEST-26-SETENV/test.sh
  test/TEST-27-STDOUTFILE/test.sh
  test/TEST-28-PERCENTJ-WANTEDBY/test.sh
  test/TEST-29-UDEV-ID_RENAMING/test.sh
  test/TEST-30-ONCLOCKCHANGE/test.sh
  test/TEST-31-DEVICE-ENUMERATION/test.sh
  test/TEST-32-OOMPOLICY/test.sh
  test/TEST-34-DYNAMICUSERMIGRATE/test.sh
  test/test-functions
  travis-ci/managers/fuzzbuzz.sh
  travis-ci/managers/xenial.sh
Labels: good-to-merge/waiting-for-ci 👍, tests

#12993 test/udev-test.pl: cleanup if skipping test
  test/udev-test.pl
Labels: tests

#12856 util: fix sign-compare warning
  src/basic/time-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#12990 network: read sysctl value only once
  src/network/networkd-link.c
Labels: network

#12973 importd: Avoid need for fd translation table
  src/import/curl-util.c
  src/import/curl-util.h
Labels: import

#13001 fuzzbuzz: rename fuzz.yaml to fuzzbuzz.yaml
  fuzzbuzz.yaml
Labels: fuzzing

#12996 network: fix memleak
  src/network/networkd-ndisc.c
  test/fuzz/fuzz-network-parser/oss-fuzz-15678
Labels: good-to-merge/waiting-for-ci 👍, network

#12918 systemctl: allow "cat" on units with bad settings
  src/systemctl/systemctl.c
Labels: systemctl

#12939 make LGTM quiet
  src/basic/errno-util.h
  src/core/execute.c
  src/core/path.c
  src/core/selinux-access.c
  src/core/socket.c
  src/core/unit.c
  src/journal-remote/journal-gatewayd.c
  src/journal/journalctl.c
  src/journal/journald-server.c
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-dhcp6-lease.c
  src/libsystemd/sd-bus/bus-error.c
  src/libsystemd/sd-bus/test-bus-chat.c
  src/libsystemd/sd-bus/test-bus-error.c
  src/libsystemd/sd-event/sd-event.c
  src/login/logind-seat.c
  src/login/pam_systemd.c
  src/shared/firewall-util.c
  src/shared/journal-importer.c
  src/systemctl/systemctl.c
  src/systemd/sd-daemon.h
  src/test/test-calendarspec.c
  src/test/test-path-util.c
  src/test/test-sleep.c
  src/test/test-strxcpyx.c
Labels: tree-wide

#12863 Added support for xfrm interfaces
  man/systemd.netdev.xml
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-types.h
  src/network/meson.build
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/netdev/xfrm.c
  src/network/netdev/xfrm.h
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/fuzz/fuzz-netdev-parser/27-xfrm.netdev
  test/fuzz/fuzz-netdev-parser/directives.netdev
  test/fuzz/fuzz-network-parser/27-xfrm.network
  test/fuzz/fuzz-network-parser/directives.network
Labels: good-to-merge/waiting-for-ci 👍, network, new-feature

#13008 tmpfiles: use log_syntax() for complaining about configuration file e…
  src/tmpfiles/tmpfiles.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, tmpfiles

#13005 Fix two gcc warnings
  src/network/networkd-link.c
  src/shared/dm-util.c
Labels: good-to-merge/waiting-for-ci 👍, network, util-lib

#12965 _cleanup_(erase_and_freep)
  src/basic/memory-util.h
  src/network/netdev/macsec.c
  src/network/netdev/wireguard.c
  src/reply-password/reply-password.c
  src/shared/ask-password-api.c
  src/test/test-alloc-util.c
  src/tty-ask-password-agent/tty-ask-password-agent.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#13009 sd-boot feature xbootldr
  meson.build
  src/boot/bootctl.c
  src/boot/efi/boot.c
  src/boot/efi/loader-features.h
  src/shared/efivars.h
Labels: boot, good-to-merge/waiting-for-ci 👍

#12926 Urlify CONFIG_FILE and improve SYSTEMD_LOG_LOCATION
  TODO
  meson.build
  src/basic/hashmap.h
  src/basic/log.c
  src/basic/log.h
  src/basic/macro.h
  src/basic/terminal-util.h
  src/core/selinux-access.c
  src/core/unit.h
  src/journal/test-journal-interleaving.c
  src/libsystemd-network/dhcp-internal.h
  src/libsystemd-network/dhcp-server-internal.h
  src/libsystemd-network/dhcp6-internal.h
  src/libsystemd-network/lldp-internal.h
  src/libsystemd-network/ndisc-internal.h
  src/libsystemd-network/radv-internal.h
  src/libsystemd-network/sd-ipv4acd.c
  src/libsystemd-network/sd-ipv4ll.c
  src/libsystemd/sd-device/device-util.h
  src/network/netdev/netdev.h
  src/shared/condition.c
  src/shared/json.h
  src/shared/log-link.h
  src/shared/logs-show.c
  src/shared/udev-util.c
  src/test/test-log.c
  src/udev/udevd.c
Labels: good-to-merge/waiting-for-ci 👍, udev, util-lib

#12755 Allow using unit names in status messages
  TODO
  man/kernel-command-line.xml
  man/systemd-system.conf.xml
  man/systemd.xml
  meson.build
  meson_options.txt
  src/core/dbus-manager.c
  src/core/job.c
  src/core/main.c
  src/core/manager.c
  src/core/manager.h
  src/core/meson.build
  src/core/show-status.c
  src/core/show-status.h
  src/core/system.conf.in
  src/core/unit.c
  src/core/unit.h
  src/core/user.conf.in
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, pid1

#13016 network: support gre tunnel or friends with Local=any Remote=any
  src/network/netdev/tunnel.c
Labels: network

#13011 Remove string_erase and friends
  TODO
  src/basic/string-util.c
  src/basic/string-util.h
  src/basic/strv.c
  src/firstboot/firstboot.c
  src/journal/journalctl.c
  src/reply-password/reply-password.c
  src/test/test-string-util.c
  src/test/test-strv.c
Labels: good-to-merge/waiting-for-ci 👍, tests, tree-wide

#13013 network: follow-ups for XFRM netdevs and introduce AssignToLoopback= for Tunnel devices
  man/systemd.netdev.xml
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/tunnel.c
  src/network/netdev/tunnel.h
  src/network/netdev/xfrm.c
  test/fuzz/fuzz-netdev-parser/directives.netdev
  test/test-network/conf/25-ipip-tunnel-independent-loopback.netdev
  test/test-network/conf/25-xfrm-independent.netdev
  test/test-network/conf/25-xfrm.netdev
  test/test-network/conf/netdev-link-local-addressing-yes.network
  test/test-network/conf/xfrm.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network, tests

#13010 generator: downgrade Requires= → Wants= of fsck from /usr mount unit
  src/shared/generator.c
Labels: fsck

#13006 networkd: DHCPv6 - separate DHCPv6 options from DHCPv4 options
  man/systemd.network.xml
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp-common.h
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/dhcp-client-use-dns-ipv4-and-ra.network
  test/test-network/conf/dhcp-client-use-dns-ipv4.network
  test/test-network/conf/dhcp-client-use-dns-no.network
  test/test-network/conf/dhcp-client-use-dns-yes.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#12984 test-network: drop test_udev_driver as it is unstable
  test/test-network/systemd-networkd-tests.py
Labels: tests

#13018 network: drop assertions about Tunnel.family
  src/network/netdev/tunnel.c
  test/test-network/conf/25-gre-tunnel-any-any.netdev
  test/test-network/conf/25-ip6gre-tunnel-any-any.netdev
  test/test-network/conf/25-ipip-tunnel-any-any.netdev
  test/test-network/conf/25-sit-tunnel-any-any.netdev
  test/test-network/conf/25-tunnel-any-any.network
  test/test-network/conf/25-vti-tunnel-any-any.netdev
  test/test-network/conf/gretun.network
  test/test-network/conf/ip6gretun.network
  test/test-network/conf/ipip.network
  test/test-network/conf/sit.network
  test/test-network/conf/vti.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#13021 json: always allocate at least sizeof(JsonVariant) bytes
  src/shared/json.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#12176 add "systemctl clean" operation for clearing out StateDirectory=, CacheDirectory=, … of a service unit
  TODO
  man/systemctl.xml
  man/systemd.exec.xml
  man/systemd.service.xml
  man/systemd.timer.xml
  src/basic/rm-rf.c
  src/basic/rm-rf.h
  src/basic/unit-def.c
  src/basic/unit-def.h
  src/core/dbus-manager.c
  src/core/dbus-service.c
  src/core/dbus-unit.c
  src/core/dbus-unit.h
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.m4
  src/core/service.c
  src/core/service.h
  src/core/timer.c
  src/core/unit.c
  src/core/unit.h
  src/libsystemd/sd-bus/bus-common-errors.h
  src/libsystemd/sd-bus/bus-control.c
  src/libsystemd/sd-bus/bus-control.h
  src/libsystemd/sd-bus/bus-internal.h
  src/libsystemd/sd-bus/bus-match.c
  src/libsystemd/sd-bus/bus-message.h
  src/libsystemd/sd-bus/bus-socket.c
  src/libsystemd/sd-bus/sd-bus.c
  src/shared/bus-wait-for-units.c
  src/shared/bus-wait-for-units.h
  src/shared/meson.build
  src/systemctl/systemctl.c
  test/TEST-33-CLEAN-UNIT/Makefile
  test/TEST-33-CLEAN-UNIT/test.sh
  test/TEST-33-CLEAN-UNIT/testsuite.sh
Labels: good-to-merge/waiting-for-ci 👍, new-feature, pid1, sd-bus, systemctl, util-lib

#12461 Refactor job ordering implementation (and fix cycle detection)
  src/core/job.c
  src/core/job.h
  src/core/transaction.c
  src/test/test-engine.c
  test/a-conj.service
  test/i.service
  test/meson.build
Labels: pid1, reviewed/needs-rework 🔨

#12901 udevadm: ensure 'udevadm info -w' show updated result
  src/udev/udevadm-info.c
Labels: udev

#12750 Make tmpfiles C use --root
  man/tmpfiles.d.xml
  src/tmpfiles/tmpfiles.c
Labels: documentation 📖, tmpfiles

#13023 tests: turn on the "object-size" UBSan check on Fuzzit
  travis-ci/managers/fuzzit.sh
Labels: tests

#13017 network: rename Neighbor.MACAddress= and also support IPv4 address
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/networkctl.c
  src/network/networkd-fdb.c
  src/network/networkd-fdb.h
  src/network/networkd-neighbor.c
  src/network/networkd-neighbor.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-neighbor-ip-dummy.network
  test/test-network/conf/25-neighbor-ip.network
  test/test-network/conf/25-neighbor-section.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#13025 unbreak the build
  src/tmpfiles/tmpfiles.c
Labels: priority, tmpfiles

#13024 Errno or else
  src/basic/cgroup-util.c
  src/basic/errno-util.h
  src/basic/fileio.c
  src/basic/glob-util.c
  src/basic/in-addr-util.c
  src/basic/socket-util.c
  src/basic/user-util.c
  src/core/dbus-cgroup.c
  src/core/dynamic-user.c
  src/core/execute.c
  src/getty-generator/getty-generator.c
  src/login/logind-core.c
  src/login/logind-dbus.c
  src/machine/machine.c
  src/machine/machined-dbus.c
  src/shared/dissect-image.c
  src/udev/udev-builtin-blkid.c
Labels: good-to-merge/waiting-for-ci 👍, tree-wide

#12971 network: reassign static routes and process reply address messages
  src/basic/in-addr-util.c
  src/basic/in-addr-util.h
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-ndisc.c
  test/test-network/conf/dhcp-client-reassign-static-routes-ipv4.network
  test/test-network/conf/dhcp-client-reassign-static-routes-ipv6.network
  test/test-network/systemd-networkd-tests.py
Labels: ci-failure-appears-unrelated, network

#13031 network: make Route.Type= support local or friends
  man/systemd.network.xml
  src/network/networkd-manager.c
  src/network/networkd-route.c
  src/network/networkd-route.h
  test/test-network/conf/25-route-static.network
  test/test-network/conf/26-bridge-slave-interface-1.network
  test/test-network/conf/26-bridge-slave-interface-2.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#13022 Coverity cleanups
  src/core/unit.c
  src/shared/ask-password-api.c
  src/test/test-alloc-util.c
  src/test/test-copy.c
  src/test/test-fileio.c
  src/test/test-process-util.c
  src/udev/udevd.c
Labels: good-to-merge/with-minor-suggestions, pid1, tests, util-lib

#13033 util-lib: fix comment
  src/basic/cgroup-util.c
Labels: quick-review 🏃‍♂️, util-lib

#13034 memdup_suffix0_multiply fix
  src/basic/alloc-util.h
  src/test/test-alloc-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#13036 Six documentation fixes
  man/systemctl.xml
  man/systemd-analyze.xml
  man/systemd.exec.xml
  man/systemd.service.xml
  man/systemd.timer.xml
Labels: documentation 📖

#13030 an attempt to keep semaphore afloat
  semaphoreci/semaphore-runner.sh
Labels: ci

#13045 alloc-util: drop _alloc_ decorator from memdup_suffix0()
  src/basic/alloc-util.h
Labels: util-lib

#13043 util-lib: [static] array argument sizes are apparently not OK for NUL…
  src/basic/string-util.c
  src/core/execute.c
  src/core/namespace.c
  src/core/namespace.h
  src/network/netdev/wireguard.c
  src/shared/efivars.c
  src/shared/ethtool-util.c
  src/systemctl/systemctl.c
  src/udev/scsi_id/scsi_serial.c
  src/udev/udev-event.c
  src/udev/udev-rules.c
Labels: ci-failure-appears-unrelated, util-lib

#13044 udev: make Match.OriginalName=* matches all interfaces
  src/udev/net/link-config.c
Labels: ci-failure-appears-unrelated, udev

#13041 two systemd-firstboot fixes
  src/firstboot/firstboot.c
Labels: firstboot, good-to-merge/waiting-for-ci 👍

#13037 Shutdown log fixes
  src/core/killall.c
  src/core/main.c
  src/shared/sysctl-util.c
  src/shared/sysctl-util.h
  src/shutdown/shutdown.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#13048 po: update Polish translation 190713
  po/pl.po
Labels: l10n 🌍

#13049 po: Fix typo in German translation
  po/de.po
Labels: l10n 🌍

#13050 network: do not change to configuring state needlessly
  src/network/networkd-link.c
Labels: network

#13046 man: offline-updates: make dependence on system-update.target explicit
  man/systemd.offline-updates.xml
Labels: documentation 📖

#13042 Locale utf8 fix
  docs/ENVIRONMENT.md
  src/basic/locale-util.c
Labels: firstboot, good-to-merge/waiting-for-ci 👍, locale

#13055 NEWS: add some notes for v243
  NEWS
Labels: documentation 📖

#13053 network: show knwon route protocol name nicely in debugging logs
  man/systemd.network.xml
  src/network/networkd-route.c
  src/network/networkd-route.h
Labels: good-to-merge/waiting-for-ci 👍, network

#13054 network:dhcp4: request domain search list if UseDomains=yes
  src/network/networkd-dhcp4.c
  src/network/networkd-link.c
  test/test-network/conf/dhcp-client-use-domains.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#11052 systemctl: do not suggest passing --all if the user passed --state=
  src/systemctl/systemctl.c
Labels: systemctl

#13059 tree-wide: drop duplicated blank lines
  src/basic/missing_syscall.h
  src/boot/bootctl.c
  src/core/dbus-socket.c
  src/core/job.c
  src/journal/journal-def.h
  src/libsystemd/sd-bus/bus-message.c
  src/libsystemd/sd-netlink/netlink-message.c
  src/network/netdev/netdev.h
  src/network/networkd-fdb.c
  src/nspawn/nspawn-oci.c
  src/shared/bus-wait-for-units.c
  src/shared/journal-importer.c
  src/shared/logs-show.c
  src/shared/varlink.c
  src/systemctl/systemctl.c
  src/systemd/sd-id128.h
  src/test/test-execute.c
  src/test/test-fileio.c
  src/test/test-proc-cmdline.c
  src/udev/net/link-config.c
  src/udev/udev-rules.c
Labels: quick-review 🏃‍♂️, tree-wide

#13058 network: make link enter failed state when a configuration fails
  src/network/networkd-address-label.c
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-fdb.c
  src/network/networkd-ipv4ll.c
  src/network/networkd-link.c
  src/network/networkd-ndisc.c
  src/network/networkd-neighbor.c
  src/network/networkd-routing-policy-rule.c
  test/test-network/conf/25-l2tp.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network, tests

#13063 Cgroup path fixes
  src/basic/cgroup-util.c
  src/core/cgroup.c
  src/core/dbus-unit.c
  src/shared/bus-unit-procs.c
  src/systemctl/systemctl.c
Labels: pid1, systemctl

#13062 systemd-analyze: use Table
  shell-completion/bash/systemd-analyze
  src/analyze/analyze.c
  src/shared/format-table.c
  src/shared/format-table.h
Labels: analyze

#13068 doc: update explanation of IPv6AcceptRA=
  man/systemd.network.xml
Labels: documentation 📖

#13067 NEWS: update section name
  NEWS
Labels: documentation 📖, quick-review 🏃‍♂️

#13066 wait-online: change log level
  src/network/wait-online/manager.c
Labels: network, quick-review 🏃‍♂️

#13073 Variety galore
  coccinelle/empty-to-root.cocci
  src/cryptsetup/cryptsetup-generator.c
  src/shared/bus-unit-procs.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, tree-wide

#13074 table_add_many() improvements
  src/analyze/analyze-security.c
  src/shared/format-table.c
  src/shared/format-table.h
  src/test/test-format-table.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#12925 network-generator: introduce new tool systemd-network-generator
  meson.build
  src/network/generator/main.c
  src/network/generator/network-generator.c
  src/network/generator/network-generator.h
  src/network/generator/test-network-generator.c
  src/network/meson.build
  test/TEST-35-NETWORK-GENERATOR/Makefile
  test/TEST-35-NETWORK-GENERATOR/test-01-dhcp.expected/99-initrd-default.network
  test/TEST-35-NETWORK-GENERATOR/test-01-dhcp.input
  test/TEST-35-NETWORK-GENERATOR/test-02-bridge.expected/98-initrd-bridge99.netdev
  test/TEST-35-NETWORK-GENERATOR/test-02-bridge.expected/98-initrd-bridge99.network
  test/TEST-35-NETWORK-GENERATOR/test-02-bridge.expected/98-initrd-eth0.network
  test/TEST-35-NETWORK-GENERATOR/test-02-bridge.expected/98-initrd-eth1.network
  test/TEST-35-NETWORK-GENERATOR/test-02-bridge.input
  test/TEST-35-NETWORK-GENERATOR/test.sh
Labels: network, new-feature

#13038 tmpfiles factory PAM tweaks
  factory/etc/pam.d/system-auth
Labels: tmpfiles

#13076 Timer formatting fixes
  src/analyze/analyze.c
  src/core/dbus-timer.c
  src/network/networkctl.c
  src/run/run.c
  src/systemctl/systemctl.c
Labels: analyze, good-to-merge/waiting-for-ci 👍, network, run, systemctl

#13077 activate: move array allocation to heap
  src/activate/activate.c
  src/journal/compress.c
Labels: activate, good-to-merge/waiting-for-ci 👍, journal

#12851 tests: run TEST-01-BASIC under ASAN+UBSan again
  test/test-functions
  travis-ci/managers/xenial.sh
Labels: ci, good-to-merge/waiting-for-ci 👍, tests

#13012 pid1: make sure to restore correct default values for some rlimits
  src/core/main.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#13069 network: do not configure routes when dropping addresses
  src/network/networkd-dhcp4.c
  src/network/networkd-link.c
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#13087 Free up some resources on Azure Pipelines
  azure-pipelines.yml
  travis-ci/managers/xenial.sh
Labels: ci

#13082 Minor fixes in test framework
  test/TEST-01-BASIC/test.sh
  test/TEST-02-CRYPTSETUP/test.sh
  test/TEST-03-JOBS/test.sh
  test/TEST-04-JOURNAL/test.sh
  test/TEST-05-RLIMITS/test.sh
  test/TEST-06-SELINUX/test.sh
  test/TEST-07-ISSUE-1981/test.sh
  test/TEST-08-ISSUE-2730/test.sh
  test/TEST-09-ISSUE-2691/test.sh
  test/TEST-10-ISSUE-2467/test.sh
  test/TEST-11-ISSUE-3166/test.sh
  test/TEST-12-ISSUE-3171/test.sh
  test/TEST-13-NSPAWN-SMOKE/test.sh
  test/TEST-14-MACHINE-ID/test.sh
  test/TEST-15-DROPIN/test.sh
  test/TEST-16-EXTEND-TIMEOUT/test.sh
  test/TEST-17-UDEV-WANTS/test.sh
  test/TEST-18-FAILUREACTION/test.sh
  test/TEST-19-DELEGATE/test.sh
  test/TEST-20-MAINPIDGAMES/test.sh
  test/TEST-23-TYPE-EXEC/test.sh
  test/TEST-24-UNIT-TESTS/test.sh
  test/TEST-25-IMPORT/test.sh
  test/TEST-26-SETENV/test.sh
  test/TEST-27-STDOUTFILE/test.sh
  test/TEST-28-PERCENTJ-WANTEDBY/test.sh
  test/TEST-29-UDEV-ID_RENAMING/test.sh
  test/TEST-30-ONCLOCKCHANGE/test.sh
  test/TEST-31-DEVICE-ENUMERATION/test.sh
  test/TEST-32-OOMPOLICY/test.sh
  test/TEST-34-DYNAMICUSERMIGRATE/test.sh
  test/test-functions
Labels: good-to-merge/waiting-for-ci 👍, tests

#12927 Coredump cleanup part 2
  src/coredump/coredump.c
Labels: coredump, good-to-merge/waiting-for-ci 👍

#12933 core: ExecCondition= for services
  TODO
  catalog/systemd.catalog.in
  docs/TRANSIENT-SETTINGS.md
  man/systemd.service.xml
  src/basic/unit-def.c
  src/basic/unit-def.h
  src/core/dbus-service.c
  src/core/job.c
  src/core/job.h
  src/core/load-fragment-gperf.gperf.m4
  src/core/service.c
  src/core/service.h
  src/core/unit.c
  src/core/unit.h
  src/shared/bus-unit-util.c
  src/systemd/sd-messages.h
  src/test/test-execute.c
  test/fuzz/fuzz-unit-file/directives.service
  test/meson.build
  test/test-execute/exec-condition-failed.service
  test/test-execute/exec-condition-skip.service
Labels: new-feature, pid1

#12852 mount-util: bind_remount: don't call statvfs
  src/shared/mount-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#12675 resolvectl: support to modify interfaces managed by networkd
  man/resolvectl.xml
  man/timedatectl.xml
  shell-completion/bash/timedatectl
  src/network/meson.build
  src/network/networkd-link-bus.c
  src/network/networkd-link-bus.h
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager-bus.c
  src/network/networkd-manager-bus.h
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/org.freedesktop.network1.conf
  src/network/org.freedesktop.network1.policy
  src/resolve/resolvectl.c
  src/resolve/resolved-def.h
  src/resolve/resolved-dns-server.c
  src/resolve/resolved-dns-server.h
  src/resolve/resolved-manager.c
  src/shared/resolve-util.c
  src/shared/resolve-util.h
  src/timedate/timedatectl.c
  test/test-network/conf/state-file-tests.network
  test/test-network/systemd-networkd-tests.py
Labels: network, new-feature, resolve

#13091 nspawn: allow nspawn's copy operation to be abortable via C-c
  src/basic/btrfs-util.c
  src/basic/btrfs-util.h
  src/basic/copy.c
  src/basic/copy.h
  src/nspawn/nspawn.c
Labels: good-to-merge/with-minor-suggestions, nspawn

#13092 Coverity fixes
  src/basic/extract-word.c
  src/basic/terminal-util.c
  src/coredump/coredumpctl.c
  src/libsystemd-network/network-internal.c
  src/libsystemd/sd-bus/bus-track.c
  src/libsystemd/sd-device/sd-device.c
  src/network/test-networkd-conf.c
  src/nspawn/nspawn-oci.c
  src/nspawn/nspawn.c
  src/shared/bus-wait-for-units.c
  src/shared/conf-parser.c
  src/test/test-extract-word.c
Labels: coverity, good-to-merge/waiting-for-ci 👍, tree-wide

#13085 test/TEST-16: don't copy systemd-notify or lib from $BUILD_DIR
  test/TEST-16-EXTEND-TIMEOUT/test.sh
Labels: good-to-merge/waiting-for-ci 👍, tests

#13080 Firstboot fixes
  src/basic/fileio.c
  src/basic/terminal-util.c
  src/firstboot/firstboot.c
Labels: firstboot, good-to-merge/waiting-for-ci 👍

#13093 Two assert_cc cleanups
  src/basic/log.h
  src/basic/macro.h
  src/basic/process-util.h
  src/libsystemd-network/radv-internal.h
  src/resolve/resolved-dns-packet.c
  src/shared/json.h
Labels: good-to-merge/waiting-for-ci 👍

#13086 network: dhcp6 cleanups
  man/systemd.network.xml
  src/network/networkd-dhcp6.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#13047 resolved: add new option to only cache positive answers
  NEWS
  man/resolved.conf.xml
  src/resolve/resolved-dns-cache.c
  src/resolve/resolved-dns-cache.h
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-gperf.gperf
  src/resolve/resolved-manager.c
  src/resolve/resolved-manager.h
  src/resolve/resolved-mdns.c
  src/shared/resolve-util.c
  src/shared/resolve-util.h
Labels: good-to-merge/waiting-for-ci 👍, resolve

#13098 core: never propagate reload failure to service result
  src/core/service.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#13107 Better error messages for syntax errors
  src/shared/conf-parser.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#13106 man: add note about systemctl stop return value
  man/systemctl.xml
Labels: documentation 📖

#12639 make the run queue order deterministic
  src/basic/unit-def.h
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/job.c
  src/core/job.h
  src/core/manager.c
  src/core/manager.h
Labels: pid1, reviewed/needs-rework 🔨

#13102 meson: make nologin path build time configurable
  man/nss-mymachines.xml
  man/sysusers.d.xml
  meson.build
  meson_options.txt
  src/basic/user-util.c
  src/nss-mymachines/nss-mymachines.c
  src/nss-systemd/nss-systemd.c
  src/sysusers/sysusers.c
  src/test/test-user-util.c
  test/TEST-21-SYSUSERS/test-1.expected-passwd
  test/TEST-21-SYSUSERS/test-10.expected-passwd
  test/TEST-21-SYSUSERS/test-11.expected-passwd
  test/TEST-21-SYSUSERS/test-12.expected-passwd
  test/TEST-21-SYSUSERS/test-2.expected-passwd
  test/TEST-21-SYSUSERS/test-3.expected-passwd
  test/TEST-21-SYSUSERS/test-4.expected-passwd
  test/TEST-21-SYSUSERS/test-5.expected-passwd
  test/TEST-21-SYSUSERS/test-6.expected-passwd
  test/TEST-21-SYSUSERS/test-7.expected-passwd
  test/TEST-21-SYSUSERS/test-8.expected-passwd
  test/TEST-21-SYSUSERS/test-9.expected-passwd
  test/TEST-21-SYSUSERS/test.sh
  test/TEST-28-PERCENTJ-WANTEDBY/Makefile
Labels: build-system, reviewed/needs-rework 🔨

#13097 Scan /proc/self/mountinfo before waitid() handling
  src/core/mount.c
  src/core/swap.c
Labels: pid1

#13111 core: set shutdown watchdog on kexec too
  src/core/main.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#13113 meson: update hint in man/rules/
  man/rules/meson.build
  tools/make-man-rules.py
Labels: meson

#13114 docs: typo in arg name replace-irreversible -> replace-irreversibly
  man/systemd.xml
Labels: documentation 📖

#13100 networkd: Neighbor IPv6 support for LinkLayerAddress
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/networkd-neighbor.c
  src/network/networkd-neighbor.h
  test/test-network/conf/25-neighbor-ip-dummy.network
  test/test-network/conf/25-neighbor-ipv6.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#13115 test: convert all uses of '|| true' into '|| :'
  test/TEST-02-CRYPTSETUP/test.sh
  test/test-functions
Labels: good-to-merge/waiting-for-ci 👍, tests

#13112 pid1: order jobs that execute processes with lower priority
  src/core/cgroup.c
Labels: pid1

#12861 pstore: Tool to archive contents of pstore upon boot/shutdown
  man/pstore.conf.xml
  man/rules/meson.build
  man/systemd-pstore.xml
  meson.build
  meson_options.txt
  src/pstore/meson.build
  src/pstore/pstore.c
  src/pstore/pstore.conf
  units/meson.build
  units/systemd-pstore.service.in
Labels: ci-failure-appears-unrelated, new-feature

#13096 Preparatory work for the unit loading rework
  man/systemd.unit.xml
  src/basic/hash-funcs.c
  src/basic/hash-funcs.h
  src/basic/hashmap.c
  src/basic/hashmap.h
  src/basic/path-util.c
  src/basic/path-util.h
  src/basic/set.h
  src/basic/strv.c
  src/basic/strv.h
  src/basic/unit-name.c
  src/basic/unit-name.h
  src/core/bpf-firewall.c
  src/core/cgroup.c
  src/core/dbus-job.c
  src/core/dbus-unit.c
  src/core/dynamic-user.c
  src/core/load-dropin.h
  src/core/manager.c
  src/core/transaction.c
  src/core/unit.c
  src/core/unit.h
  src/environment-d-generator/environment-d-generator.c
  src/portable/portable.c
  src/shared/dropin.c
  src/shared/dropin.h
  src/shared/install.c
  src/shared/install.h
  src/shared/meson.build
  src/shared/path-lookup.h
  src/shared/unit-file.c
  src/shared/unit-file.h
  src/systemctl/systemctl.c
  src/sysusers/sysusers.c
  src/test/meson.build
  src/test/test-engine.c
  src/test/test-env-file.c
  src/test/test-fs-util.c
  src/test/test-hashmap-plain.c
  src/test/test-hashmap.c
  src/test/test-load-fragment.c
  src/test/test-path-util.c
  src/test/test-strv.c
  src/test/test-unit-name.c
Labels: pid1, tests, util-lib

#13126 man: describe $LESS options more fully
  man/less-variables.xml
Labels: documentation 📖

#13110 pid1: make sure we look at /proc/1/cmdline when parsing config
  src/basic/log.c
Labels: pid1

#13131 pstore: several minor follow-ups
  meson.build
  src/pstore/pstore.c
  units/systemd-pstore.service.in
Labels: good-to-merge/waiting-for-ci 👍, pstore

#13133 pstore: refuse to run if arguments are specified
  src/pstore/pstore.c
  tools/meson-check-help.sh
Labels: pstore, tests

#13139 hwdb: add entry for Zowie FK2 mouse
  hwdb/70-mouse.hwdb
Labels: hwdb

#13109 Revert of #12378 ("VT kbd reset check")
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/vconsole/vconsole-setup.c
Labels: login, util-lib, vconsole

#13136 ntp-units.d support
  man/systemd-timedated.service.xml
  man/timedatectl.xml
  meson.build
  src/shared/pretty-print.c
  src/timedate/timedated.c
  src/timesync/80-systemd-timesync.list
  src/timesync/meson.build
  units/systemd-timesyncd.service.in
Labels: timedate, timesync

#13148 more v243 news preparation
  NEWS
  meson.build
  src/systemd/sd-daemon.h
Labels: build-system, documentation 📖, good-to-merge/waiting-for-ci 👍, meson

#13149 hwdb: add HHKB Pro JP keyboard lack of LEDs
  hwdb/60-keyboard.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#12977 network: do not touch kernel-created multicast route
  src/network/networkd-link.c
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#13155 core: add spdx header to all-units.h
  src/core/all-units.h
Labels: pid1, quick-review 🏃‍♂️

#13153 libudev: Update list of possible actions
  src/libudev/libudev-device.c
Labels: ci-failure-appears-unrelated, udev

#13160 fuzzit: bump library version
  travis-ci/managers/fuzzit.sh
Labels: fuzzing

#13158 efi: remove trailing whitespace in string
  src/boot/efi/boot.c
Labels: boot, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#13157 efi: drop unused define
  src/boot/efi/shim.c
Labels: boot, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#13156 bootctl: show correct error code
  src/boot/bootctl.c
Labels: boot, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#13161 [systemctl] Don't print ExecXYZEx= when doing 'systemctl status'
  src/systemctl/systemctl.c
Labels: systemctl

#13143 logind restart inhibition fixes
  src/login/inhibit.c
  src/login/logind-core.c
  src/login/logind-dbus.c
  src/login/logind-inhibit.c
  src/login/logind-inhibit.h
  src/login/logind-seat.c
  src/login/logind-session.c
  src/login/logind.c
Labels: login

#13118 core: add KExecWatchdogSec and rename ShutdownWatchdogSec to RebootWatchdogSec
  man/systemd-system.conf.xml
  src/core/dbus-manager.c
  src/core/main.c
  src/core/manager.h
  src/core/system.conf.in
  test/fuzz/fuzz-unit-file/directives.service
Labels: good-to-merge/waiting-for-ci 👍, pid1

#13165 man: highlight the different concepts behind h/H and t/T
  man/tmpfiles.d.xml
Labels: documentation 📖, tmpfiles

#13145 filter _gateway NSS resolving to only use main routing table
  meson.build
  src/libsystemd/meson.build
  src/shared/local-addresses.c
  src/shared/local-addresses.h
  src/shared/meson.build
  src/test/meson.build
  src/test/test-local-addresses.c
Labels: ci-failure-appears-unrelated, nss

#13141 sysctl: Enable ping(8) inside rootless Podman containers
  NEWS
  sysctl.d/50-default.conf
Labels: good-to-merge/waiting-for-ci 👍, sysctl

#13168 network: fix DHCP route rumber parsing.
  src/network/networkd-dhcp-common.c
Labels: good-to-merge/waiting-for-ci 👍, network
