Repository systemd/systemd, pull requests merged in 2019-06, with the labels that each got.

#12710 networkctl: shorten Minimum/Maximum to min/max
  src/network/networkctl.c
Labels: ci-failure-appears-unrelated, network

#12700 udev: modernize code and propagate critical errors
  src/basic/fs-util.h
  src/basic/parse-util.h
  src/basic/strxcpyx.c
  src/basic/strxcpyx.h
  src/fuzz/fuzz-udev-rules.c
  src/shared/udev-util.c
  src/test/test-udev.c
  src/udev/meson.build
  src/udev/udev-builtin-blkid.c
  src/udev/udev-builtin-btrfs.c
  src/udev/udev-builtin-hwdb.c
  src/udev/udev-builtin-input_id.c
  src/udev/udev-builtin-keyboard.c
  src/udev/udev-builtin-kmod.c
  src/udev/udev-builtin-net_id.c
  src/udev/udev-builtin-net_setup_link.c
  src/udev/udev-builtin-path_id.c
  src/udev/udev-builtin-uaccess.c
  src/udev/udev-builtin-usb_id.c
  src/udev/udev-builtin.c
  src/udev/udev-builtin.h
  src/udev/udev-event.c
  src/udev/udev-event.h
  src/udev/udev-rules.c
  src/udev/udev-rules.h
  src/udev/udevadm-test-builtin.c
  src/udev/udevadm-test.c
  src/udev/udevd.c
Labels: udev

#12666 networkctl: show stats
  man/networkctl.xml
  shell-completion/bash/networkctl
  src/libsystemd/sd-bus/bus-common-errors.c
  src/libsystemd/sd-bus/bus-common-errors.h
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/meson.build
  src/network/networkctl.c
  src/network/networkd-conf.c
  src/network/networkd-gperf.gperf
  src/network/networkd-link-bus.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-speed-meter.c
  src/network/networkd-speed-meter.h
  src/network/networkd.conf
Labels: network, new-feature

#12715 sd-boot: Remove unnecessary call to GetEventLog
  src/boot/efi/measure.c
Labels: boot, ci-failure-appears-unrelated

#12619 systemd-sleep: refactor sleep conf parsing
  TODO
  src/shared/sleep-config.c
  src/shared/sleep-config.h
  src/sleep/sleep.c
  src/test/test-sleep.c
Labels: sleep

#12708 udevadm: add --wait-for-initialization option and use it in systemd-networkd-tests.py
  man/udevadm.xml
  shell-completion/bash/udevadm
  src/rfkill/rfkill.c
  src/shared/dissect-image.c
  src/shared/udev-util.c
  src/shared/udev-util.h
  src/udev/udevadm-info.c
  test/test-network/conf/11-dummy-mtu.netdev
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, tests, udev

#12727 test-sleep: also print parsed modes and states
  src/test/test-sleep.c
Labels: sleep, tests

#12732 networkctl: re-cast value stored in Set with INT_TO_PTR()
  src/network/networkctl.c
Labels: network

#12725 network: fix UBSAN issue
  src/network/networkd-address.c
Labels: network

#12735 bash-completion: support "networkctl delete"
  shell-completion/bash/networkctl
Labels: quick-review 🏃‍♂️, shell completion

#12734 Fixes for test-cpu-set-util on i386
  src/shared/generator.c
  src/test/test-cpu-set-util.c
Labels: tests

#12733 Bus error reporting improvements
  src/busctl/busctl.c
  src/libsystemd/sd-bus/bus-objects.c
  src/network/networkctl.c
Labels: network, sd-bus

#12737 meson: escape dots in man/man helper
  man/html.in
  man/man.in
Labels: good-to-merge/waiting-for-ci 👍, meson

#12741 Silence BPF firewall warning when not useful
  src/core/bpf-firewall.c
  src/core/bpf-firewall.h
  src/core/cgroup.c
  src/core/dbus-cgroup.c
  src/core/ip-address-access.c
Labels: ci-failure-appears-unrelated, pid1

#12740 man: mention quoting in description of Parameters=
  man/systemd.nspawn.xml
Labels: documentation 📖

#12743 udev: propagate errors in udev_event_execute_rules()
  src/udev/udev-event.c
  src/udev/udevd.c
Labels: udev

#11778 core: add ExecStartXYZEx= with dbus support for executable prefixes
  src/core/dbus-execute.c
  src/core/dbus-execute.h
  src/core/dbus-service.c
  src/core/execute.h
  src/core/service.c
  src/core/service.h
  src/shared/bus-unit-util.c
  src/shared/exec-util.c
  src/shared/exec-util.h
  src/systemctl/systemctl.c
  src/test/test-exec-util.c
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, pid1

#12744 test-network: improve stability of DHCP client tests
  test/test-network/systemd-networkd-tests.py
Labels: tests

#12508 Drop many root checks
  src/boot/bless-boot.c
  src/boot/bootctl.c
  src/shared/verbs.c
  src/shared/verbs.h
  src/systemctl/systemctl.c
  src/udev/udevadm-control.c
  src/udev/udevadm-trigger.c
Labels: boot, systemctl, udev

#12736 NEWS: add note about the CPUAffinity= changes
  NEWS
Labels: documentation 📖

#12748 Modernize networkd-tests.py style
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, tests

#12511 networkd: add new KeepConfiguration= setting
  man/systemd.network.xml
  src/network/networkd-dhcp4.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/24-keep-configuration-static.network
  test/test-network/conf/dhcp-client-keep-configuration-dhcp-on-stop.network
  test/test-network/conf/dhcp-client-keep-configuration-dhcp.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#12738 network: several cleanups for routing policy rule
  src/network/networkd-link.c
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-routing-policy-rule.h
Labels: network

#12756 a couple of correctness fixups
  src/core/cgroup.c
  src/systemctl/systemctl.c
Labels: cgroups, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, systemctl

#12759 man/systemd-veritysetup-generator: Fix grammar
  man/systemd-veritysetup-generator.xml
Labels: documentation 📖

#12765 systemd-mount: don't check for non-normalized WHAT for network FS
  src/mount/mount-tool.c
Labels: mount

#12685 network: assign new DHCP address before removing old lease address
  src/network/networkd-dhcp4.c
  src/network/networkd-link.c
  src/network/networkd-link.h
Labels: dhcp, network

#12772 man: fix reference to sd_bus_add_fallback_vtable
  man/sd_bus_add_object_vtable.xml
Labels: documentation 📖

#12773 resolved: Fix incorrect use of OpenSSL BUF_MEM
  src/resolve/resolved-dnstls-openssl.c
Labels: resolve

#12774 network: ignore ipv6 settings when sysctl disable ipv6
  src/network/networkd-address.c
  src/network/networkd-fdb.c
  src/network/networkd-link.c
  src/network/networkd-ndisc.c
  src/network/networkd-route.c
  src/network/networkd-routing-policy-rule.c
  test/test-network/conf/25-sysctl-disable-ipv6.network
  test/test-network/systemd-networkd-tests.py
Labels: ci-failure-appears-unrelated, network

#12424 logind: add SetBrightness() bus call as minimal API for setting "leds" and "backlight" kernel class device brightness
  TODO
  src/libsystemd/sd-bus/bus-common-errors.c
  src/libsystemd/sd-bus/bus-common-errors.h
  src/login/71-seat.rules.in
  src/login/loginctl.c
  src/login/logind-action.c
  src/login/logind-brightness.c
  src/login/logind-brightness.h
  src/login/logind-dbus.c
  src/login/logind-dbus.h
  src/login/logind-device.c
  src/login/logind-inhibit.c
  src/login/logind-seat-dbus.c
  src/login/logind-seat-dbus.h
  src/login/logind-seat.c
  src/login/logind-seat.h
  src/login/logind-session-dbus.c
  src/login/logind-session-dbus.h
  src/login/logind-session-device.c
  src/login/logind-session.c
  src/login/logind-session.h
  src/login/logind-user-dbus.c
  src/login/logind-user-dbus.h
  src/login/logind-user.c
  src/login/logind-user.h
  src/login/logind.c
  src/login/logind.h
  src/login/meson.build
  src/login/org.freedesktop.login1.conf
  src/shared/bus-util.c
  src/shared/bus-util.h
  units/systemd-logind.service.in
Labels: login

#12783 A few unrelated fixes
  shell-completion/zsh/_systemctl.in
  src/journal/lookup3.c
  src/libsystemd/sd-bus/test-bus-marshal.c
  src/system-update-generator/system-update-generator.c
Labels: shell completion, tests

#12777 libudev: rescan devices when filter is updated
  src/libudev/libudev-device-internal.h
  src/libudev/libudev-device.c
  src/libudev/libudev-enumerate.c
  src/libudev/libudev-hwdb.c
  src/libudev/libudev-list-internal.h
  src/libudev/libudev-list.c
  src/test/test-libudev.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#12789 networkctl: fix use of uninitialized value
  src/network/networkctl.c
Labels: network

#12787 Document that gpt-auto-generator supports decrypting rootfs
  man/systemd-gpt-auto-generator.xml
Labels: documentation 📖

#12792 udev: inherit mac address for bridge or vlan interface from physical interface
  NEWS
Labels: udev

#12771 Continuous Fuzzing Integration with Fuzzit
  .travis.yml
  README.md
  docs/HACKING.md
  travis-ci/managers/fuzzit.sh
Labels: ci, fuzzing

#12799 travis: run Coverity after Fuzzit-Fuzzing
  .travis.yml
  travis-ci/managers/fuzzit.sh
Labels: ci, dont-merge 💣, fuzzing

#12761 Turn on UBSan on Fuzzit
  travis-ci/managers/fuzzit.sh
Labels: ci, fuzzing

#12794 network: skip to check dynamic addresses when ConfigureWithoutCarrier=yes
  src/network/networkd-link.c
  test/test-network/conf/25-bridge-configure-without-carrier.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#12796 test-network: several cleanups
  test/test-network/conf/25-neighbor-section.network
  test/test-network/systemd-networkd-tests.py
Labels: tests

#12795 network: read link specific sysctl value
  src/network/networkd-address.c
  src/network/networkd-fdb.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-route.c
  src/network/networkd-routing-policy-rule.c
Labels: network

#12753 hibernate-resume: fix resume device timeout
  man/kernel-command-line.xml
  man/systemd-hibernate-resume-generator.xml
  src/hibernate-resume/hibernate-resume-generator.c
  test/fuzz/fuzz-unit-file/directives.service
Labels: hibernate-resume

#12802 resolved: fix DNS-over-TLS when using OpenSSL
  src/resolve/resolved-dnstls-openssl.c
  src/resolve/resolved-dnstls-openssl.h
Labels: resolve

#12804 meson: fix error message
  meson.build
Labels: meson, quick-review 🏃‍♂️

#12809 sleep: properly pass verb to sleep script
  src/sleep/sleep.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, sleep

#12810 travis: turn on nonnull-attribute on Fuzzit
  src/resolve/resolved-dns-rr.c
  test/fuzz/fuzz-dns-packet/crash-497be373856c321a8a7b06589df9b2ff2e0d866a
  travis-ci/managers/fuzzit.sh
Labels: ci, fuzzing, good-to-merge/waiting-for-ci 👍, resolve

#12808 core: set fs.file-max sysctl to LONG_MAX rather than ULONG_MAX
  src/core/main.c
Labels: pid1, quick-review 🏃‍♂️

#12812 travis: turn on all default UBSan checks except for pointer-overflow …
  travis-ci/managers/fuzzit.sh
Labels: ci, fuzzing

#12813 docs: CGROUP_DELEGATION: fix a typo in "that"
  docs/CGROUP_DELEGATION.md
Labels: documentation 📖

#12807 Extend naming scheme to mac address policy and introduce NAMING_STABLE_VIRTUAL_MACS
  man/systemd.net-naming-scheme.xml
  src/libsystemd-network/dhcp-identifier.c
  src/libsystemd-network/network-internal.c
  src/libsystemd-network/network-internal.h
  src/network/networkd-ipv4ll.c
  src/udev/net/link-config.c
  src/udev/net/naming-scheme.c
  src/udev/net/naming-scheme.h
Labels: documentation 📖, udev

#12805 test: further test-network cleanups
  src/network/networkd-link.c
  src/network/networkd-routing-policy-rule.c
  test/test-network/conf/23-test1-bond199.network
  test/test-network/conf/bridge99-ignore-carrier-loss.network
  test/test-network/systemd-networkd-tests.py
Labels: network, tests

#12817 dhcp: fix comparison with previous lease
  src/libsystemd-network/sd-dhcp-client.c
Labels: dhcp, good-to-merge/waiting-for-ci 👍

#12758 Create nspawn console tty in the child
  TODO
  src/basic/fs-util.c
  src/basic/namespace-util.c
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/machine/machine-dbus.c
  src/machine/machine.c
  src/machine/machine.h
  src/nspawn/nspawn.c
Labels: good-to-merge/waiting-for-ci 👍, nspawn

#12821 hashmap: avoid using TLS in a destructor
  src/basic/hashmap.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib, valgrind

#12824 journald: use memdup_suffix0() when copying string from potentially b…
  src/journal/journald-native.c
Labels: journal, quick-review 🏃‍♂️

#12822 tmpfiles: use common fd_is_mount_point() implementation
  src/tmpfiles/tmpfiles.c
Labels: quick-review 🏃‍♂️, tmpfiles

#12829 sd-bus,dhcp: use memdup_suffix0() instead of strndup()
  src/libsystemd-network/dhcp-option.c
  src/libsystemd/sd-bus/bus-message.c
Labels: dhcp, sd-bus

#12815 resolved: strict mode for DNS-over-TLS
  man/resolved.conf.xml
  man/systemd.network.xml
  meson.build
  meson_options.txt
  shell-completion/bash/resolvectl
  shell-completion/bash/systemd-resolve
  src/resolve/resolved-conf.c
  src/resolve/resolved-dns-server.c
  src/resolve/resolved-dns-server.h
  src/resolve/resolved-dns-stream.h
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-dnstls-gnutls.c
  src/resolve/resolved-dnstls-gnutls.h
  src/resolve/resolved-dnstls-openssl.c
  src/resolve/resolved-dnstls-openssl.h
  src/resolve/resolved-dnstls.h
  src/resolve/resolved-link.c
  src/resolve/resolved-manager.c
  src/resolve/resolved-manager.h
  src/shared/resolve-util.c
  src/shared/resolve-util.h
  src/systemd/sd-network.h
Labels: good-to-merge/waiting-for-ci 👍, new-feature, resolve

#12828 network: add missing entries in routing_policy_rule_{hash,compare}_func()
  src/basic/siphash24.c
  src/basic/siphash24.h
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-routing-policy-rule.h
Labels: good-to-merge/waiting-for-ci 👍, network

#12832 sd-resolve: suppress false positive MSan warnings
  src/libsystemd/sd-resolve/sd-resolve.c
Labels: good-to-merge/waiting-for-ci 👍, sd-resolve

#12806 networkctl: show speed, duplex, auto negotiation, and port
  src/basic/format-util.c
  src/basic/format-util.h
  src/basic/parse-util.c
  src/basic/parse-util.h
  src/import/import-fs.c
  src/import/pull-job.c
  src/journal/journal-file.c
  src/journal/journal-vacuum.c
  src/journal/journalctl.c
  src/network/networkctl.c
  src/network/networkd-link-bus.c
  src/shared/ethtool-util.c
  src/shared/ethtool-util.h
  src/shared/format-table.c
  src/shared/format-table.h
  src/shared/meson.build
  src/test/meson.build
  src/test/test-btrfs.c
  src/test/test-format-util.c
  src/test/test-procfs-util.c
  src/udev/meson.build
  src/udev/net/link-config-gperf.gperf
  src/udev/net/link-config.c
  src/udev/net/link-config.h
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, network, new-feature

#12833 cgroup: Continue unit reset if cgroup is busy
  src/core/cgroup.c
Labels: cgroups, good-to-merge/waiting-for-ci 👍, pid1

#12837 tree-wide: fix issues found by lgtm
  src/basic/cgroup-util.c
  src/basic/virt.c
  src/delta/delta.c
  src/getty-generator/getty-generator.c
  src/journal/journalctl.c
  src/journal/journald-audit.c
  src/libsystemd/sd-device/sd-device.c
  src/locale/keymap-util.c
  src/network/networkd-address.c
  src/shared/firewall-util.c
Labels: tree-wide

#12762 network: introduce carrier and address state to fix network_is_online()
  src/libsystemd/sd-network/network-util.c
  src/libsystemd/sd-network/network-util.h
  src/libsystemd/sd-network/sd-network.c
  src/network/meson.build
  src/network/networkd-link-bus.c
  src/network/networkd-link-bus.h
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager-bus.c
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-speed-meter.c
  src/systemd/sd-network.h
Labels: network, timesync

#12456 units: deny access to block devices
  units/systemd-journald.service.in
  units/systemd-logind.service.in
  units/systemd-networkd.service.in
  units/systemd-timedated.service.in
Labels: units

#12845 bpf: use more TAKE_FD()
  src/core/bpf-firewall.c
Labels: good-to-merge/waiting-for-ci 👍, pid1, quick-review 🏃‍♂️

#12846 cap_last_cap() off by one fixes
  src/basic/cap-list.c
  src/basic/capability-util.c
  src/libsystemd/sd-bus/bus-creds.c
Labels: sd-bus, util-lib

#12729 nspawn: don't hard fail when setting capabilities
  src/basic/capability-util.c
  src/basic/capability-util.h
  src/nspawn/nspawn.c
Labels: nspawn, reviewed/needs-rework 🔨

#12834 path-util: get rid of prefix_root()
  src/basic/conf-files.c
  src/basic/path-util.c
  src/basic/path-util.h
  src/core/namespace.c
  src/cryptsetup/cryptsetup-generator.c
  src/nspawn/nspawn-cgroup.c
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn.c
  src/shared/dev-setup.c
  src/shared/install.c
  src/shared/path-lookup.c
  src/test/test-conf-files.c
  src/test/test-path-util.c
  src/tmpfiles/tmpfiles.c
Labels: util-lib

#12855 coverity: stop setting _Float*
  .travis.yml
Labels: coverity

#12621 cgroup-util: kill also threads
  src/basic/cgroup-util.c
Labels: cgroups, needs-discussion 🤔, pid1

#12745 bpf-firewall: optimization for IPAddressXYZ="any" (and unprivileged u…
  src/core/bpf-firewall.c
  src/core/ip-address-access.c
  src/core/ip-address-access.h
Labels: pid1

#12836 tree-wide: replace strjoin() with path_join()
  src/basic/blockdev-util.c
  src/basic/btrfs-util.c
  src/basic/cgroup-util.c
  src/basic/conf-files.c
  src/basic/copy.c
  src/basic/fileio.c
  src/basic/path-util.c
  src/basic/tmpfile-util.c
  src/busctl/busctl-introspect.c
  src/cgls/cgls.c
  src/cgtop/cgtop.c
  src/core/cgroup.c
  src/core/dbus-service.c
  src/core/dbus-unit.c
  src/core/execute.c
  src/core/load-fragment.c
  src/core/main.c
  src/core/manager.c
  src/core/unit.c
  src/coredump/coredumpctl.c
  src/debug-generator/debug-generator.c
  src/delta/delta.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/import/import-tar.c
  src/journal/journald-server.c
  src/journal/sd-journal.c
  src/libsystemd/sd-bus/sd-bus.c
  src/libsystemd/sd-device/device-enumerator.c
  src/libsystemd/sd-device/sd-device.c
  src/libsystemd/sd-event/test-event.c
  src/libsystemd/sd-path/sd-path.c
  src/mount/mount-tool.c
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn.c
  src/portable/portable.c
  src/shared/bus-util.c
  src/shared/cgroup-show.c
  src/shared/dissect-image.c
  src/shared/install.c
  src/shared/machine-image.c
  src/shared/path-lookup.c
  src/systemctl/systemctl.c
  src/sysv-generator/sysv-generator.c
  src/udev/udev-builtin-net_id.c
Labels: tree-wide

#12862 man: fix references to VTABLE property flags
  man/sd_bus_add_object_vtable.xml
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, sd-bus

#12866 tree-wide: use _cleanup_ attributes
  src/basic/terminal-util.c
  src/core/dbus-execute.c
  src/import/pull-common.c
  src/libsystemd/sd-path/sd-path.c
  src/resolve/resolvectl.c
Labels: tree-wide

#12868 various man page fixes
  man/sd_bus_creds_get_pid.xml
  man/systemd.exec.xml
  man/systemd.service.xml
  man/systemd.xml
  src/core/main.c
Labels: documentation 📖

#12764 core: introduce NUMAPolicy and NUMAMask options
  NEWS
  man/systemd-system.conf.xml
  man/systemd.exec.xml
  meson.build
  src/basic/missing_syscall.h
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/main.c
  src/core/system.conf.in
  src/shared/bus-unit-util.c
  src/shared/cpu-set-util.c
  src/shared/cpu-set-util.h
  src/shared/exit-status.c
  src/shared/exit-status.h
  src/systemctl/systemctl.c
Labels: new-feature, pid1

#12847 man: beef up systemd.exec(5)
  man/systemd.exec.xml
Labels: documentation 📖

#12872 udevd: fix a reversed conditional on global property set
  src/udev/udevd.c
Labels: udev

#12873 sd-device: don't accept /sys as a device path
  src/libsystemd/sd-device/sd-device.c
Labels: sd-device, udev

#12871 Various printing/logging fixes
  src/boot/bootctl.c
  src/login/logind-action.c
  src/login/logind.c
  src/network/networkd-manager.c
Labels: boot, good-to-merge/waiting-for-ci 👍, login, network

#12870 tree-wide: further path_join() and path_joina() cleanups
  src/basic/fs-util.c
  src/basic/path-util.h
  src/boot/bootctl.c
  src/core/cgroup.c
  src/delta/delta.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/import/import-common.c
  src/import/import-fs.c
  src/import/pull-common.c
  src/journal/sd-journal.c
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-device/sd-device.c
  src/nspawn/nspawn.c
  src/portable/portable.c
  src/shared/generator.c
  src/systemctl/systemctl.c
  src/sysv-generator/sysv-generator.c
  src/test/test-path-util.c
  src/tmpfiles/tmpfiles.c
  src/veritysetup/veritysetup-generator.c
Labels: tree-wide

#12874 ethtool: make UBSan quiet and add missing link modes
  src/shared/ethtool-util.c
  src/shared/ethtool-util.h
  src/shared/linux/README
  src/shared/linux/bpf_insn.h
  src/shared/linux/dm-ioctl.h
  src/shared/linux/ethtool.h
Labels: util-lib

#12419 bpf-firewall: custom BPF programs through IP(Ingress|Egress)FilterPath=
  man/systemd.resource-control.xml
  src/analyze/analyze-security.c
  src/core/bpf-firewall.c
  src/core/bpf-firewall.h
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-cgroup.c
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/unit.c
  src/core/unit.h
  src/shared/bpf-program.c
  src/shared/bpf-program.h
  src/shared/bus-unit-util.c
  src/test/test-bpf.c
Labels: pid1, reviewed/needs-rework 🔨

#12869 DynamicUser=1 state directory back migration
  src/core/execute.c
Labels: good-to-merge/with-minor-suggestions, pid1

#12875 some CODING_STYLE additions
  docs/CODING_STYLE.md
Labels: documentation 📖

#12877 DynamicUser=1 → = 0 migration follow-up
  man/systemd.xml
  src/core/execute.c
  test/TEST-34-DYNAMICUSERMIGRATE/Makefile
  test/TEST-34-DYNAMICUSERMIGRATE/test.sh
  test/TEST-34-DYNAMICUSERMIGRATE/testsuite.sh
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, pid1, tests

#12848 core: move config_parse_* functions to a shared module
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/main.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#12860 core: factor root_directory application out of apply_working_directory
  src/core/execute.c
Labels: pid1

#12880 network: further log message update
  src/network/networkd-manager.c
Labels: good-to-merge/waiting-for-ci 👍, network

#12882 execute: drop SYNTHETIC_ERRNO because error code was received from the apply_numa_policy()
  src/core/execute.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#12892 test: fix argument type of test_format_bytes_one()
  src/basic/format-util.c
  src/test/test-format-util.c
Labels: tests

#12890 conf-parse: fix continuation handling
  src/shared/conf-parser.c
  src/test/test-conf-parser.c
Labels: quick-review 🏃‍♂️, util-lib

#12760 systemd-sleep: use resume_offset value if set
  TODO
  src/shared/sleep-config.c
  src/sleep/sleep.c
Labels: sleep

#12889 Add systemd-analyze condition
  man/systemd-analyze.xml
  man/systemd.unit.xml
  src/analyze/analyze-condition.c
  src/analyze/analyze-condition.h
  src/analyze/analyze.c
  src/analyze/meson.build
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/core/manager.c
  src/core/unit-printf.c
  src/shared/condition.c
Labels: analyze, new-feature, pid1

#12900 bash-completion: support systemd-analyze condition
  shell-completion/bash/systemd-analyze
Labels: quick-review 🏃‍♂️, shell completion

#12897 cryptsetup-generator: fix luks-* entry parsing from crypttab
  src/cryptsetup/cryptsetup-generator.c
Labels: ci-failure-appears-unrelated, cryptsetup

#12887 Coredump cleanup part 1
  src/basic/io-util.c
  src/basic/io-util.h
  src/coredump/coredump.c
  src/coredump/stacktrace.c
  src/coredump/stacktrace.h
  src/journal-remote/journal-remote-parse.c
  src/shared/journal-importer.c
  src/shared/journal-importer.h
  src/test/test-journal-importer.c
  sysctl.d/50-coredump.conf.in
Labels: coredump, good-to-merge/waiting-for-ci 👍

#12905 Udev warnings
  src/udev/udev-event.c
  src/udev/udev-event.h
  src/udev/udev-rules.c
  src/udev/udev-rules.h
Labels: good-to-merge/waiting-for-ci 👍, udev

#12908 udevadm: support special value 'help' for --action option
  man/udevadm.xml
  shell-completion/bash/udevadm
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-device/device-private.h
  src/udev/udevadm-test.c
  src/udev/udevadm-trigger.c
Labels: ci-failure-appears-unrelated, shell completion, udev

#12909 udev: fix wrong event source to set description
  src/udev/udev-ctrl.c
Labels: ci-failure-appears-unrelated, quick-review 🏃‍♂️, udev

#12907 meson: use libidn2 and drop udev debug option
  NEWS
  meson.build
  meson_options.txt
Labels: meson

#12903 Condition quoting
  man/systemd.unit.xml
  src/basic/cap-list.c
  src/basic/env-util.c
  src/basic/extract-word.c
  src/basic/extract-word.h
  src/basic/proc-cmdline.c
  src/core/device.c
  src/core/load-fragment.c
  src/journal-remote/journal-remote-main.c
  src/locale/keymap-util.c
  src/resolve/resolvconf-compat.c
  src/resolve/resolved-conf.c
  src/resolve/resolved-dns-trust-anchor.c
  src/shared/bus-unit-util.c
  src/shared/condition.c
  src/shared/conf-parser.c
  src/shared/cpu-set-util.c
  src/shared/mount-util.c
  src/shared/securebits-util.c
  src/sysusers/sysusers.c
  src/sysv-generator/sysv-generator.c
  src/test/test-condition.c
  src/test/test-extract-word.c
  src/test/test-string-util.c
  src/test/test-strv.c
  src/tmpfiles/tmpfiles.c
  test/test-execute/exec-basic.service
Labels: good-to-merge/waiting-for-ci 👍, pid1, tests

#12910 Fix permissions on /dev/kvm
  src/udev/udev-event.c
  src/udev/udev-node.c
Labels: ci-failure-appears-unrelated, regression ⚠️, udev

#12911 networkctl: do not show '(null)' in HW Address entry
  src/network/networkctl.c
Labels: network, quick-review 🏃‍♂️

#12916 meson: drop duplicated source
  src/network/meson.build
Labels: meson, quick-review 🏃‍♂️
