Repository systemd/systemd, pull requests merged in 2019-10, with the labels that each got.

#13689 cgroup: A bunch of protection-related fixes
  src/core/cgroup.c
  src/core/dbus-cgroup.c
Labels: cgroups, good-to-merge/waiting-for-ci 👍

#13664 cryptsetup: support keyfile offsets that are 64 bit wide
  meson.build
  src/cryptsetup/cryptsetup.c
  src/shared/crypt-util.h
Labels: cryptsetup

#13647 network: DHCPv6 client add support for prefix delegation hint
  man/systemd.network.xml
  src/libsystemd-network/dhcp6-internal.h
  src/libsystemd-network/dhcp6-option.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp-common.h
  src/network/networkd-dhcp6.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
  src/systemd/sd-dhcp6-client.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: dhcp, good-to-merge/waiting-for-reporter-feedback 👍, network

#13675 Use unified cgroup hierarchy with nspawn --as-pid2
  docs/ENVIRONMENT.md
  src/nspawn/nspawn.c
  test/TEST-13-NSPAWN-SMOKE/test.sh
  test/test-functions
Labels: nspawn

#13699 hwdb: Correct WWWW Pattern In Documentation Comment
  hwdb/60-keyboard.hwdb
Labels: hwdb

#13691 Coverity fixes for unchecked return values
  src/core/execute.c
  src/libsystemd/sd-event/sd-event.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, sd-event

#13613 basic: fix ASSERT_SIDE_EFFECT Coverity report in assert_se()
  src/basic/macro.h
Labels: ci, good-to-merge/waiting-for-ci 👍

#13656 udevadm trigger: do not propagate EACCES and ENODEV
  src/udev/udevadm-trigger.c
Labels: ci-failure-appears-unrelated, udev

#13684 src/core/automount: use DirectoryMode when calling mkdir -p
  src/core/automount.c
Labels: ci-failure-appears-unrelated, pid1

#13677 po: update Polish translation 190928
  po/pl.po
Labels: l10n 🌍

#13701 hwdb: Add trackpoint rules for Lenovo Thinkpad 70, 80, 90
  hwdb/70-pointingstick.hwdb
Labels: hwdb

#13702 pid1: fix DefaultTasksMax initialization
  src/core/main.c
Labels: bug 🐛, pid1

#13696 Add a way to differentiate restart from stop and keep dhcp config on restart
  man/systemd.kill.xml
  man/systemd.network.xml
  man/systemd.service.xml
  shell-completion/bash/systemd-run
  shell-completion/zsh/_systemd-run
  src/core/dbus-job.h
  src/core/dbus-kill.c
  src/core/dbus-unit.h
  src/core/kill.c
  src/core/kill.h
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.h
  src/core/mount.c
  src/core/service.c
  src/core/socket.c
  src/core/swap.c
  src/core/unit.c
  src/core/unit.h
  src/libsystemd-network/sd-dhcp-client.c
  src/network/networkd-dhcp4.c
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-network.c
  src/shared/bus-unit-util.c
  src/test/test-engine.c
  src/test/test-job-type.c
  test/TEST-23-TYPE-EXEC/testsuite.sh
  test/fuzz/fuzz-unit-file/directives.service
  units/systemd-networkd.service.in
Labels: network, pid1

#13572 nspawn: surrender controlling terminal to PID2 when using the PID1 stub
  src/nspawn/nspawn-stub-pid1.c
Labels: nspawn

#13599 fix build with compilers with default stack-protector enabled
  meson.build
Labels: ci-failure-appears-unrelated, meson

#13246 Add efi variable to augment /proc/cmdline
  docs/ENVIRONMENT.md
  man/bootctl.xml
  man/kernel-command-line.xml
  man/systemd.xml
  src/backlight/backlight.c
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/basic/efivars.c
  src/basic/efivars.h
  src/basic/meson.build
  src/basic/proc-cmdline.c
  src/basic/proc-cmdline.h
  src/basic/string-util.h
  src/basic/util.h
  src/boot/bless-boot-generator.c
  src/boot/bless-boot.c
  src/boot/bootctl.c
  src/core/cgroup.c
  src/core/execute.c
  src/core/load-fragment.c
  src/core/mount-setup.c
  src/core/unit.c
  src/debug-generator/debug-generator.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/libsystemd/sd-bus/test-bus-creds.c
  src/login/logind-dbus.c
  src/login/pam_systemd.c
  src/nspawn/nspawn-cgroup.c
  src/nspawn/nspawn.c
  src/nspawn/test-patch-uid.c
  src/rfkill/rfkill.c
  src/shared/boot-timestamps.c
  src/shared/bootspec.c
  src/shared/bus-unit-util.c
  src/shared/cgroup-setup.c
  src/shared/cgroup-setup.h
  src/shared/condition.c
  src/shared/efi-loader.c
  src/shared/efi-loader.h
  src/shared/meson.build
  src/shared/reboot-util.c
  src/shared/reboot-util.h
  src/shared/serialize.h
  src/shared/unit-file.c
  src/shared/unit-file.h
  src/shutdown/shutdown.c
  src/system-update-generator/system-update-generator.c
  src/test/meson.build
  src/test/test-boot-timestamps.c
  src/test/test-capability.c
  src/test/test-cgroup-setup.c
  src/test/test-cgroup-util.c
  src/test/test-cgroup.c
  src/test/test-condition.c
  src/test/test-helper.c
  src/test/test-proc-cmdline.c
  src/test/test-unit-file.c
  src/udev/udev-builtin-blkid.c
Labels: boot, pid1, util-lib

#12818 network: disable kernel creating prefix route when RouteTable= is set
  src/network/networkd-dhcp4.c
  src/network/networkd-link.h
  src/network/networkd-manager.h
  test/test-network/systemd-networkd-tests.py
Labels: network

#13715 cgroup: fix typo in BPF firewall support warning message
  src/core/dbus-cgroup.c
Labels: ci-failure-appears-unrelated, pid1

#13707 Update sd_journal_print.xml
  man/sd_journal_print.xml
Labels: documentation 📖

#13645 Add chromebook orientation quirk
  hwdb/60-sensor.hwdb
  rules/60-sensor.rules
Labels: hwdb, udev

#13693 pid1: restore the original environment passed by the kernel when swit…
  src/basic/util.c
  src/basic/util.h
  src/core/main.c
Labels: ci-failure-appears-unrelated, pid1

#13716 networkd: split out repeated code to a helper function
  src/network/networkd-dhcp4.c
Labels: network

#13690 cgroup: Add support to check systemd-internal cgroup limits against the kernel
  src/basic/memory-util.h
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/mount.c
  src/core/scope.c
  src/core/service.c
  src/core/slice.c
  src/core/socket.c
  src/core/swap.c
Labels: analyze, cgroups

#13556 systemctl: Default suffixes for timer and socket
  TODO
  src/systemctl/systemctl.c
Labels: systemctl

#13515 rules: Merge in content to enable automatic suspend from ChromeOS
  meson.build
  rules/61-autosuspend-manual.rules
  rules/meson.build
  tools/chromeos/gen_autosuspend_rules.py
  tools/make-autosuspend-rules.py
Labels: hwdb

#13698 man: document updated support newline support
  man/systemd.exec.xml
Labels: documentation 📖, reviewed/needs-rework 🔨

#13720 added working volume buttons for medion erazer...
  hwdb/60-keyboard.hwdb
Labels: hwdb

#13709 systemd-tmpfiles: allow appending content to file
  man/tmpfiles.d.xml
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles

#13654 ata_id: Add check for fixed format sense codes
  src/udev/ata_id/ata_id.c
Labels: udev

#13739 trivial: rename chromeos to chromiumos
  README
  rules/61-autosuspend-manual.rules
  rules/meson.build
  tools/chromiumos/LICENSE
  tools/chromiumos/gen_autosuspend_rules.py
  tools/make-autosuspend-rules.py
Labels: good-to-merge/waiting-for-ci 👍

#13632 Ask password some reworks
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/core/manager.c
  src/core/path.c
  src/shared/ask-password-api.c
  src/shared/ask-password-api.h
  src/time-wait-sync/time-wait-sync.c
  src/tty-ask-password-agent/tty-ask-password-agent.c
Labels: ask-password

#13746 Reduce test boilerplate
  test/TEST-02-CRYPTSETUP/test.sh
  test/TEST-03-JOBS/test.sh
  test/TEST-04-JOURNAL/test.sh
  test/TEST-05-RLIMITS/test.sh
  test/TEST-06-SELINUX/test.sh
  test/TEST-07-ISSUE-1981/test.sh
  test/TEST-08-ISSUE-2730/test.sh
  test/TEST-09-ISSUE-2691/test.sh
  test/TEST-10-ISSUE-2467/test.sh
  test/TEST-11-ISSUE-3166/test.sh
  test/TEST-12-ISSUE-3171/test.sh
  test/TEST-13-NSPAWN-SMOKE/test.sh
  test/TEST-14-MACHINE-ID/test.sh
  test/TEST-15-DROPIN/test.sh
  test/TEST-16-EXTEND-TIMEOUT/test.sh
  test/TEST-17-UDEV-WANTS/test.sh
  test/TEST-18-FAILUREACTION/test.sh
  test/TEST-19-DELEGATE/test.sh
  test/TEST-20-MAINPIDGAMES/test.sh
  test/TEST-22-TMPFILES/test.sh
  test/TEST-23-TYPE-EXEC/test.sh
  test/TEST-25-IMPORT/test.sh
  test/TEST-26-SETENV/test.sh
  test/TEST-27-STDOUTFILE/test.sh
  test/TEST-28-PERCENTJ-WANTEDBY/test.sh
  test/TEST-29-UDEV-ID_RENAMING/test.sh
  test/TEST-30-ONCLOCKCHANGE/test.sh
  test/TEST-31-DEVICE-ENUMERATION/test.sh
  test/TEST-31-DEVICE-ENUMERATION/testsuite.sh
  test/TEST-32-OOMPOLICY/test.sh
  test/TEST-33-CLEAN-UNIT/test.sh
  test/TEST-34-DYNAMICUSERMIGRATE/test.sh
  test/TEST-36-NUMAPOLICY/test.sh
  test/TEST-37-RUNTIMEDIRECTORYPRESERVE/test.sh
  test/TEST-39-EXECRELOAD/test.sh
  test/TEST-40-EXEC-COMMAND-EX/test.sh
  test/test-functions
Labels: tests

#13750 hwdb: Update Primebook C11B sensor entry to also work with older BIOS versions
  hwdb/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#13753 Change section ordering to have commands above options
  man/bootctl.xml
  man/busctl.xml
  man/coredumpctl.xml
  man/hostnamectl.xml
  man/localectl.xml
  man/loginctl.xml
  man/machinectl.xml
  man/networkctl.xml
  man/portablectl.xml
  man/resolvectl.xml
  man/systemctl.xml
  man/timedatectl.xml
  src/boot/bootctl.c
  src/busctl/busctl.c
  src/coredump/coredumpctl.c
  src/hostname/hostnamectl.c
  src/locale/localectl.c
  src/login/loginctl.c
  src/machine/machinectl.c
  src/network/networkctl.c
  src/portable/portablectl.c
  src/resolve/resolvectl.c
  src/systemctl/systemctl.c
  src/timedate/timedatectl.c
Labels: documentation 📖, tree-wide

#13727 Use greedy realloc in pstore
  src/pstore/pstore.c
Labels: ci-failure-appears-unrelated, pstore

#13568 test: add temporarily blacklisted tests
  test/README.testsuite
  test/TEST-24-UNIT-TESTS/blacklist-ubuntu-ci-ppc64el
  test/TEST-25-IMPORT/blacklist-ubuntu-ci
  test/TEST-30-ONCLOCKCHANGE/blacklist-ubuntu-ci-i386
  test/TEST-36-NUMAPOLICY/blacklist-ubuntu-ci-s390x
  test/TEST-40-EXEC-COMMAND-EX/blacklist-ubuntu-ci-arm64
Labels: tests

#13755 test: Pass personality test even when i686 userland runs on x86_64 kernel
  test/test-execute/exec-personality-x86.service
Labels: good-to-merge/waiting-for-ci 👍, tests

#13749 Compatibility with pyparsing 2.4
  hwdb.d/parse_hwdb.py
Labels: good-to-merge/waiting-for-ci 👍, hwdb, tests

#13765 udev,systemctl: fix memleak caused by wrong cleanup function
  src/systemctl/systemctl.c
  src/udev/udev-rules.c
Labels: systemctl, udev

#13761 udev: do not hardcode program name
  src/udev/ata_id/ata_id.c
  src/udev/cdrom_id/cdrom_id.c
  src/udev/fido_id/fido_id.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#13768 network: ndisc: do not drop all prefixes when a prefix matches a blacklist
  src/network/networkd-ndisc.c
Labels: network

#13740 udev: introduce CONST key name
  man/udev.xml
  src/udev/udev-rules.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#13735 network: introduce ip nexthop routing
  man/systemd.network.xml
  src/basic/linux/nexthop.h
  src/basic/linux/rtnetlink.h
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-util.h
  src/libsystemd/sd-netlink/rtnl-message.c
  src/libsystemd/sd-netlink/sd-netlink.c
  src/network/meson.build
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-nexthop.c
  src/network/networkd-nexthop.h
  src/network/networkd.c
  src/systemd/sd-netlink.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-nexthop.network
  test/test-network/conf/25-veth-peer.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#13760 Unit loading unification
  src/core/automount.c
  src/core/cgroup.c
  src/core/device.c
  src/core/mount.c
  src/core/path.c
  src/core/scope.c
  src/core/service.c
  src/core/slice.c
  src/core/socket.c
  src/core/swap.c
  src/core/target.c
  src/core/timer.c
  src/core/unit.c
  src/core/unit.h
  src/shared/bus-unit-util.c
Labels: pid1

#13726 portabled: allow to detach an image with a unit in linked-runtime state
  src/portable/portable.c
Labels: portable

#13777 logind: make session_prepare_vt() static
  src/login/logind-session.c
  src/login/logind-session.h
Labels: ci-failure-appears-unrelated, login, quick-review 🏃‍♂️

#13779 Add Acer Switch SW312-31 to sensor hwdb
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#13663 network: DHCPv4 client- add support to send arbitary option and data
  man/systemd.network.xml
  src/libsystemd-network/dhcp-client-internal.h
  src/libsystemd-network/meson.build
  src/libsystemd-network/sd-dhcp-client.c
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp4.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/sd-dhcp-client.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/dhcp-server-veth-peer.network
  test/test-network/conf/dhcp-v4-server-veth-peer.network
Labels: network

#13786 systemctl: emit warning if start is used with globs
  man/systemctl.xml
  src/systemctl/systemctl.c
Labels: systemctl

#13754 Allow restart for oneshot units
  man/systemd.service.xml
  src/core/service.c
  test/TEST-41-ONESHOT-RESTART/Makefile
  test/TEST-41-ONESHOT-RESTART/test.sh
  test/TEST-41-ONESHOT-RESTART/testsuite.sh
Labels: pid1, reviewed/needs-rework 🔨

#13784 Constify unit pointers
  src/core/load-fragment.c
  src/core/unit-printf.c
  src/core/unit-printf.h
Labels: pid1

#13743 core: support top level drop-ins through -.service.d for service units
  man/systemd.service.xml
  man/systemd.special.xml
  man/systemd.unit.xml
  src/basic/set.h
  src/basic/special.h
  src/basic/unit-name.c
  src/basic/unit-name.h
  src/core/service.c
  src/shared/dropin.c
  src/test/test-unit-name.c
  test/TEST-15-DROPIN/test-dropin.sh
Labels: good-to-merge/waiting-for-ci 👍, pid1

#13790 rule-syntax-check: add CONST
  test/rule-syntax-check.py
Labels: ci-failure-appears-unrelated, tests

#13798 coredump: Include module offsets in stack traces
  src/coredump/stacktrace.c
Labels: ci-failure-appears-unrelated, coredump

#13782 systemd-fsck: fix systemd-fsck/fsck pipe bad closure
  src/fsck/fsck.c
Labels: fsck

#13722 add test for ExecStopPost
  test/TEST-42-EXECSTOPPOST/Makefile
  test/TEST-42-EXECSTOPPOST/test.sh
  test/TEST-42-EXECSTOPPOST/testsuite.sh
Labels: tests

#13792 udev: tag any display devices as master-of-seat when nomodeset is used
  src/login/71-seat.rules.in
Labels: ci-failure-appears-unrelated, priority, udev

#13810 Add Schneider SCT101CTM to sensor hwdb
  hwdb.d/60-sensor.hwdb
Labels: ci-failure-appears-unrelated, hwdb

#13803 hwdb: Add Medion Akoya E2215T MD60198 sensor orientation quirk
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#13809 resolved: fix connection failures with TLS 1.3 and GnuTLS
  src/resolve/resolved-dnstls-gnutls.c
Labels: resolve

#13811 Logind signal emitting fix
  .mailmap
  NEWS
  src/login/logind-dbus.c
  src/login/logind-device.c
  src/login/logind-seat-dbus.c
  src/login/logind-user-dbus.c
Labels: login

#13818 Remove unprintable non-ASCII char from special glyph ASCII fallback t…
  src/basic/locale-util.c
Labels: util-lib

#13817 journal: Consistently capitalize printed header entries
  src/journal/journal-file.c
Labels: journal

#13813 Revert "sysusers: properly mark generated accounts as locked"
  src/sysusers/sysusers.c
Labels: regression ⚠️, sysusers

#13142 network: wifi ssid support with nl80211
  man/systemd.network.xml
  src/libsystemd-network/network-internal.c
  src/libsystemd-network/network-internal.h
  src/libsystemd/meson.build
  src/libsystemd/sd-netlink/generic-netlink.c
  src/libsystemd/sd-netlink/generic-netlink.h
  src/libsystemd/sd-netlink/netlink-internal.h
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-socket.c
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-types.h
  src/libsystemd/sd-netlink/sd-netlink.c
  src/libsystemd/sd-netlink/test-netlink.c
  src/network/meson.build
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-wifi.c
  src/network/networkd-wifi.h
  src/network/test-network.c
  src/shared/bus-util.c
  src/systemd/sd-netlink.h
  src/udev/net/link-config.c
  test/fuzz/fuzz-network-parser/directives.network
Labels: network, new-feature, sd-netlink

#13825 nspawn: fix handling of --console=help
  man/systemd-nspawn.xml
  src/nspawn/nspawn.c
Labels: good-to-merge/waiting-for-ci 👍, nspawn

#13824 run: add -u as a synonym for --unit
  man/systemd-run.xml
  src/run/run.c
Labels: ci-failure-appears-unrelated, run

#13827 l10n(zh_TW): update translations
  po/zh_TW.po
Labels: ci-failure-appears-unrelated, l10n 🌍

#13807 networkd: Set key (IFLA_GRE_IKEY,IFLA_GRE_OKEY) on ip6gre interfaces.
  man/systemd.netdev.xml
  src/network/netdev/tunnel.c
Labels: network

#13806 udev/cdrom_id: Do not open CD-rom in exclusive mode.
  src/udev/cdrom_id/cdrom_id.c
Labels: udev

#13828 networkctl support for ssid and bssid
  src/network/networkctl.c
  src/network/networkd-wifi.c
  src/shared/meson.build
  src/shared/wifi-util.c
  src/shared/wifi-util.h
Labels: ci-failure-appears-unrelated, network

#13831 test: drop duplicated 's'
  test/TEST-07-ISSUE-1981/test.sh
Labels: quick-review 🏃‍♂️, tests

#13452 network: add networkctl reload and reconfigure
  man/networkctl.xml
  src/basic/format-util.c
  src/basic/format-util.h
  src/network/fuzz-network-parser.c
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/networkctl.c
  src/network/networkd-link-bus.c
  src/network/networkd-link-bus.h
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager-bus.c
  src/network/networkd-manager.c
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/org.freedesktop.network1.policy
  test/test-network/systemd-networkd-tests.py
Labels: network, new-feature

#13832 test-socket-util: avoid writing past the defined buffer
  src/test/test-socket-util.c
Labels: good-to-merge/waiting-for-ci 👍, tests

#13833 basic/fs-util: change CHASE_OPEN flag into a separate output parameter
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/basic/mkdir.c
  src/basic/mountpoint-util.c
  src/basic/path-util.c
  src/basic/stat-util.c
  src/core/dbus-manager.c
  src/core/namespace.c
  src/core/service.c
  src/core/socket.c
  src/core/unit.c
  src/delta/delta.c
  src/fstab-generator/fstab-generator.c
  src/journal/journalctl.c
  src/libsystemd/sd-device/sd-device.c
  src/machine/machine-dbus.c
  src/mount/mount-tool.c
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn.c
  src/portable/portablectl.c
  src/shared/dissect-image.c
  src/shared/dropin.c
  src/shared/machine-image.c
  src/shared/os-util.c
  src/shared/switch-root.c
  src/shared/unit-file.c
  src/systemctl/systemctl.c
  src/test/test-chase-symlinks.c
  src/test/test-copy.c
  src/test/test-fs-util.c
  src/tmpfiles/tmpfiles.c
  src/udev/udev-builtin-net_id.c
  src/volatile-root/volatile-root.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#13835 machine-id-setup: avoid unexpected aborting
  src/machine-id-setup/machine-id-setup-main.c
Labels: good-to-merge/waiting-for-ci 👍

#13836 Assert cleanups and constification
  src/basic/def.h
  src/basic/meson.build
  src/basic/plymouth-util.c
  src/basic/plymouth-util.h
  src/core/manager.c
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd/sd-device/sd-device.c
  src/libsystemd/sd-netlink/generic-netlink.c
  src/libsystemd/sd-netlink/generic-netlink.h
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-slot.c
  src/libsystemd/sd-netlink/rtnl-message.c
  src/libsystemd/sd-netlink/sd-netlink.c
  src/shared/ask-password-api.c
  src/systemd/sd-netlink.h
Labels: dhcp, good-to-merge/waiting-for-ci 👍, sd-netlink, util-lib

#13838 resolved: set stream type during DnsStream creation
  src/resolve/resolved-dns-stream.c
Labels: good-to-merge/waiting-for-ci 👍, resolve

#13839 various tools: be more explicit when a glob is passed when not supported
  src/analyze/analyze-security.c
  src/basic/unit-name.c
  src/basic/unit-name.h
  src/fstab-generator/fstab-generator.c
  src/nspawn/nspawn-register.c
  src/run/run.c
  src/systemctl/systemctl.c
Labels: analyze, nspawn, run, systemctl

#13682 systemd-sleep: prefer resume device or file
  src/shared/sleep-config.c
  src/shared/sleep-config.h
  src/sleep/sleep.c
Labels: reviewed/needs-rework 🔨, sleep

#13819 fileio: introduce read_full_virtual_file() for reading virtual files …
  src/basic/fileio.c
  src/basic/fileio.h
  src/libsystemd/sd-device/sd-device.c
Labels: util-lib

#13843 meson: allow WatchdogSec= in services to be configured
  meson.build
  meson_options.txt
  units/systemd-hostnamed.service.in
  units/systemd-importd.service.in
  units/systemd-journal-remote.service.in
  units/systemd-journal-upload.service.in
  units/systemd-journald.service.in
  units/systemd-localed.service.in
  units/systemd-logind.service.in
  units/systemd-machined.service.in
  units/systemd-networkd.service.in
  units/systemd-nspawn@.service.in
  units/systemd-portabled.service.in
  units/systemd-resolved.service.in
  units/systemd-timedated.service.in
  units/systemd-timesyncd.service.in
  units/systemd-udevd.service.in
Labels: good-to-merge/waiting-for-ci 👍, meson

#13846 Sleep config fixups
  src/shared/sleep-config.c
Labels: ci-failure-appears-unrelated, sleep

#13851 meson: move ternary ops out of function args
  meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson, squash-on-merge

#13635 man: alias names can't be used with enable command
  man/systemd.unit.xml
  src/core/dbus-manager.c
  src/shared/install.c
Labels: documentation 📖, install

#13845 pid1: order .automount units after local-fs-pre.target
  src/core/automount.c
Labels: pid1

#13844 Emit dbus PropertyChanged notifications for systemd-resolved
  src/resolve/resolved-bus.c
  src/resolve/resolved-bus.h
  src/resolve/resolved-conf.c
  src/resolve/resolved-conf.h
  src/resolve/resolved-dns-server.c
  src/resolve/resolved-link-bus.c
  src/resolve/resolved-link-bus.h
  src/resolve/resolved-manager.c
  src/resolve/resolved-resolv-conf.c
Labels: resolve

#13856 modules-load: do not fail service if modules are not present
  src/modules-load/modules-load.c
Labels: modules-load

#13423 Add `RuntimeMaxSec=` support to scope units (time-limited login sessions)
  docs/TRANSIENT-SETTINGS.md
  man/pam_systemd.xml
  man/systemd.scope.xml
  src/core/dbus-scope.c
  src/core/load-fragment-gperf.gperf.m4
  src/core/scope.c
  src/core/scope.h
  src/login/pam_systemd.c
  src/shared/bus-unit-util.c
  test/TEST-03-JOBS/test-jobs.sh
  test/fuzz/fuzz-unit-file/directives.scope
Labels: good-to-merge/waiting-for-ci 👍, new-feature, pid1

#13863 network-generator: Add missing help for --root
  src/network/generator/main.c
Labels: network

#13801 boot-loader-spec: add devicetree-overlay key
  docs/BOOT_LOADER_SPECIFICATION.md
Labels: boot-loader-spec, documentation 📖

#13676 Update service result table
  man/systemd.exec.xml
Labels: documentation 📖

#13867 Refactor description of conditons
  man/systemd.unit.xml
  src/shared/module-util.c
Labels: documentation 📖

#13747 network: introduce Traffic Control
  man/systemd.network.xml
  src/basic/linux/pkt_sched.h
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-util.h
  src/libsystemd/sd-netlink/rtnl-message.c
  src/network/meson.build
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/tc/netem.c
  src/network/tc/netem.h
  src/network/tc/qdisc.c
  src/network/tc/qdisc.h
  src/network/tc/tc-util.c
  src/network/tc/tc-util.h
  src/systemd/sd-netlink.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-qdisc.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#13869 coverity: replace python with jq
  tools/coverity.sh
  travis-ci/managers/fedora.sh
Labels: coverity

#13866 Make 'machinectl reboot' functional
  src/basic/string-util.c
  src/core/service.c
  src/machine/machine-dbus.c
  src/machine/machine-dbus.h
  src/machine/machine.c
  src/machine/machine.h
  src/machine/machined-dbus.c
  src/machine/org.freedesktop.machine1.conf
  src/nspawn/nspawn-register.c
  src/nspawn/nspawn-register.h
  src/nspawn/nspawn.c
  src/test/test-strip-tab-ansi.c
  src/test/test-utf8.c
Labels: journal, machine, nspawn

#13879 NEWS for v244
  NEWS
  network/80-wifi-ap.network.example
  network/80-wifi-station.network.example
  network/meson.build
Labels: documentation 📖, network

#13880 NEWS: fix option name
  NEWS
Labels: documentation 📖, quick-review 🏃‍♂️

#13874 Network SendOption cleanups
  man/systemd.network.xml
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp4.h
  src/network/networkd-network-gperf.gperf
  test/fuzz/fuzz-network-parser/directives.network
Labels: network

#13870 resolved: validate IP address in certificate for DNS-over-TLS (GnuTLS)
  README
  meson.build
  src/resolve/resolved-dnstls-gnutls.c
  src/resolve/resolved-dnstls-gnutls.h
Labels: resolve

#13875 network: cleanup header inclusion
  meson.build
  src/network/meson.build
  src/network/netdev/bond.c
  src/network/netdev/bridge.c
  src/network/netdev/dummy.c
  src/network/netdev/dummy.h
  src/network/netdev/fou-tunnel.c
  src/network/netdev/fou-tunnel.h
  src/network/netdev/geneve.c
  src/network/netdev/geneve.h
  src/network/netdev/ipvlan.c
  src/network/netdev/ipvlan.h
  src/network/netdev/l2tp-tunnel.c
  src/network/netdev/macsec.c
  src/network/netdev/macvlan.c
  src/network/netdev/macvlan.h
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/netdev/netdevsim.c
  src/network/netdev/netdevsim.h
  src/network/netdev/nlmon.c
  src/network/netdev/nlmon.h
  src/network/netdev/tunnel.c
  src/network/netdev/tunnel.h
  src/network/netdev/tuntap.c
  src/network/netdev/tuntap.h
  src/network/netdev/vcan.c
  src/network/netdev/vcan.h
  src/network/netdev/veth.c
  src/network/netdev/veth.h
  src/network/netdev/vlan.c
  src/network/netdev/vlan.h
  src/network/netdev/vrf.c
  src/network/netdev/vrf.h
  src/network/netdev/vxcan.c
  src/network/netdev/vxcan.h
  src/network/netdev/vxlan.c
  src/network/netdev/vxlan.h
  src/network/netdev/wireguard.c
  src/network/netdev/xfrm.c
  src/network/netdev/xfrm.h
  src/network/networkd-fdb.c
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
  src/network/tc/netem.h
  src/network/tc/qdisc.h
  src/network/test-network-tables.c
Labels: good-to-merge/waiting-for-ci 👍, network

#13878 seccomp: add new Linux 5.3 syscalls to syscall filter lists
  src/shared/seccomp-util.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, seccomp

#13876 analyze: fix minor memleak
  src/analyze/analyze.c
Labels: analyze, quick-review 🏃‍♂️

#13872 calendarspec: fix calculation of timespec iterations that fall onto a DST change
  src/shared/calendarspec.c
Labels: analyze, pid1

#13884 sd-event: don't invalidate source type on disconnect
  src/libsystemd/sd-event/sd-event.c
Labels: bug 🐛, sd-event

#13606 networkd: dhcp server support vendor specific option 43
  man/systemd.network.xml
  src/libsystemd-network/dhcp-option.c
  src/libsystemd-network/dhcp-server-internal.h
  src/libsystemd-network/sd-dhcp-server.c
  src/network/networkd-dhcp-server.c
  src/network/networkd-dhcp-server.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/sd-dhcp-server.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: ci-failure-appears-unrelated, dhcp, network

#13887 meson: correct man page deps
  man/rules/meson.build
Labels: meson

#13510 sd-boot: Be silent on regular boots
  src/boot/efi/boot.c
  src/boot/efi/meson.build
  src/boot/efi/random-seed.c
Labels: boot

#13892 Fix mkosi on Arch Linux
  .mkosi/mkosi.arch
Labels: mkosi

#13894 Fix CID 1406578: Resource leaks (RESOURCE_LEAK)
  src/libsystemd-network/sd-dhcp-server.c
Labels: good-to-merge/waiting-for-ci 👍, network
