Repository systemd/systemd, pull requests merged in 2019-03, with the labels that each got.

#11814 semaphoreci: Run subset of autopkgtests in LXC
  semaphoreci/gcc-compilation.sh
  semaphoreci/setup.sh
Labels: tests

#11862 json: don't call va_end() twice in json_build()
  src/shared/json.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#11701 sd-boot,bootctl,gpt-auto: support Extended Boot Loader Partition
  TODO
  docs/BOOT_LOADER_SPECIFICATION.md
  man/bootctl.xml
  man/systemd-boot.xml
  man/systemd-gpt-auto-generator.xml
  mkosi.build
  src/basic/env-file.c
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/boot/bless-boot.c
  src/boot/bootctl.c
  src/boot/efi/boot.c
  src/boot/efi/crc32.c
  src/boot/efi/crc32.h
  src/boot/efi/meson.build
  src/boot/efi/stub.c
  src/boot/efi/util.c
  src/boot/efi/util.h
  src/gpt-auto-generator/gpt-auto-generator.c
  src/shared/bootspec.c
  src/shared/bootspec.h
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/shared/gpt.h
  src/shared/meson.build
  src/shared/pe-header.h
  src/systemctl/systemctl.c
Labels: boot, good-to-merge/waiting-for-ci 👍

#11243 add systemd-nspawn --volatile=overlay support, as well as the same for host systems
  man/kernel-command-line.xml
  man/systemd-fstab-generator.xml
  man/systemd-nspawn.xml
  src/basic/copy.c
  src/basic/copy.h
  src/boot/bootctl.c
  src/fstab-generator/fstab-generator.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/import/export-raw.c
  src/import/import-raw.c
  src/import/pull-raw.c
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn-mount.h
  src/nspawn/nspawn.c
  src/shared/machine-image.c
  src/shared/volatile-util.c
  src/shared/volatile-util.h
  src/volatile-root/volatile-root.c
Labels: good-to-merge/waiting-for-ci 👍, gpt-auto, nspawn

#11863 nspawn: don't descend into subvols on --ephemeral
  man/systemd-nspawn.xml
  src/basic/btrfs-util.c
Labels: nspawn, quick-review 🏃‍♂️, util-lib

#11472 try harder to detect when a bus and its queued messages are fully unreffed and free everything then
  src/libsystemd/sd-bus/bus-internal.h
  src/libsystemd/sd-bus/bus-message.c
  src/libsystemd/sd-bus/bus-message.h
  src/libsystemd/sd-bus/bus-socket.c
  src/libsystemd/sd-bus/sd-bus.c
  src/libsystemd/sd-bus/test-bus-address.c
  src/libsystemd/sd-bus/test-bus-queue-ref-cycle.c
  src/test/meson.build
Labels: ci-failure-appears-unrelated, sd-bus

#11872 xbootldr: multiple spaces between keys and values
  docs/BOOT_LOADER_SPECIFICATION.md
Labels: documentation 📖

#11882 Fix log_syntax()
  src/basic/log.c
  src/basic/log.h
  src/test/test-log.c
Labels: util-lib

#11866 fuzz-dhcp6-client: avoid assertion failure on samples which dont fit in pipe
  src/fuzz/fuzz-dhcp6-client.c
  src/fuzz/fuzz-dhcp6-client.options
Labels: fuzzing

#11833 login: HyperV requires master-of-seat to be set
  src/login/71-seat.rules.in
Labels: reviewed/needs-rework 🔨, udev

#11770 network: rework address pool
  man/systemd.network.xml
  src/basic/in-addr-util.c
  src/basic/in-addr-util.h
  src/network/networkd-address-pool.c
  src/network/networkd-address-pool.h
  src/network/networkd-address.c
  src/network/networkd-manager.c
  src/test/test-in-addr-util.c
  test/test-network/conf/25-address-section.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#11820 Allow tmpfiles to create files in a root under an unprivileged directory
  src/basic/fs-util.c
  src/test/test-fs-util.c
  src/tmpfiles/tmpfiles.c
  test/TEST-22-TMPFILES/test-08.sh
Labels: reviewed/needs-rework 🔨, tmpfiles

#11836 test: do not assume test-chown-rec is running as root
  src/test/test-chown-rec.c
Labels: ci-fails/needs-rework 🔥, needs-reporter-feedback ❓, tests

#11879 semaphoreci: caching and more robust creation of container image
  semaphoreci/setup.sh
Labels: tests

#11461 systemctl: show SELinuxContext=, AppArmorProfile= and SmackProcessLabel=
  src/systemctl/systemctl.c
Labels: reviewed/needs-rework 🔨, systemctl

#11888 Drop unused atomic operations
  src/basic/meson.build
  src/basic/refcnt.h
  src/libsystemd-network/test-lldp.c
  src/libsystemd/sd-bus/bus-internal.h
  src/libsystemd/sd-bus/sd-bus.c
  src/libsystemd/sd-bus/test-bus-address.c
  src/libsystemd/sd-bus/test-bus-cleanup.c
  src/libsystemd/sd-bus/test-bus-introspect.c
  src/libsystemd/sd-bus/test-bus-queue-ref-cycle.c
  src/libsystemd/sd-bus/test-bus-watch-bind.c
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-hwdb/sd-hwdb.c
  src/libsystemd/sd-netlink/netlink-internal.h
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-socket.c
  src/libsystemd/sd-netlink/rtnl-message.c
  src/libsystemd/sd-netlink/sd-netlink.c
  src/locale/test-keymap-util.c
  src/resolve/test-resolved-etc-hosts.c
  src/resolve/test-resolved-packet.c
  src/test/test-nss.c
Labels: good-to-merge/waiting-for-ci 👍, sd-bus, sd-hwdb, sd-netlink, util-lib

#11871 systemctl: format many entries in 'show' command
  src/basic/in-addr-util.c
  src/basic/in-addr-util.h
  src/core/dbus-service.c
  src/login/loginctl.c
  src/shared/bus-util.c
  src/shared/bus-util.h
  src/systemctl/systemctl.c
  src/test/test-in-addr-util.c
  src/timedate/timedatectl.c
Labels: good-to-merge/waiting-for-ci 👍, pid1, systemctl, util-lib

#11841 DNS packet speedup
  src/resolve/resolved-dns-answer.c
  src/resolve/resolved-dns-packet.c
  src/resolve/resolved-dns-question.c
  src/resolve/resolved-dns-question.h
  src/resolve/resolved-dns-rr.c
  src/resolve/resolved-dns-rr.h
  test/fuzz/fuzz-dns-packet/oss-fuzz-13422
Labels: fuzzing, good-to-merge/waiting-for-ci 👍, resolve

#11892 travis: use /bin/systemd instead of /usr/bin/systemd
  travis-ci/managers/debian.sh
Labels: ci, priority

#11874 hwdb: add touchpad resolutions for 2015-2017 MacBook(Pro)'s.
  hwdb/60-evdev.hwdb
Labels: hwdb

#11891 udev: run programs in the specified order
  src/udev/udev-event.c
  src/udev/udev-node.c
  src/udev/udev-node.h
  src/udev/udev-rules.c
  src/udev/udev.h
  src/udev/udevadm-test.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#11881 Networkd vs interface renaming
  src/libsystemd-network/dhcp-identifier.c
  src/libsystemd/sd-netlink/netlink-util.c
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/shared/udev-util.c
  src/shared/udev-util.h
  src/udev/udev-event.c
Labels: network, udev

#11895 udev: restore debug level when logging a failure in the external prog…
  src/udev/udev-rules.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#11890 core: warn if people use the undocumented/depreacted ConditionNull=
  src/core/load-fragment.c
Labels: good-to-merge/waiting-for-ci 👍, pid1, quick-review 🏃‍♂️

#11894 docs: add a note about compilation options
  docs/DISTRO_PORTING.md
Labels: documentation 📖

#11896 move src/core/shutdown.c and helpers to src/shutdown/
  TODO
  meson.build
  src/core/meson.build
  src/shutdown/meson.build
  src/shutdown/shutdown.c
  src/shutdown/umount.c
  src/shutdown/umount.h
  src/test/meson.build
Labels: pid1

#11899 pkgconfig: avoid double slash with split-usr configuration
  meson.build
  src/core/systemd.pc.in
Labels: build-system, good-to-merge/waiting-for-ci 👍

#10495 add "systemctl reboot --boot-loader-menu=" and "systemctl reboot --boot-loader-entry="
  TODO
  docs/ENVIRONMENT.md
  man/systemctl.xml
  src/boot/bootctl.c
  src/login/logind-dbus.c
  src/login/org.freedesktop.login1.conf
  src/login/org.freedesktop.login1.policy
  src/shared/bootspec.c
  src/shared/bootspec.h
  src/shared/efivars.c
  src/systemctl/systemctl.c
  units/systemd-logind.service.in
Labels: boot, documentation 📖, login, systemctl

#11901 json: log about the right line number
  src/shared/json.c
Labels: quick-review 🏃‍♂️, util-lib

#11898 Use a convenience library for the sources shared between core/ and shutdown/
  meson.build
  src/core/meson.build
  src/test/meson.build
Labels: meson

#11911 Bootspec handle invalid efi
  src/shared/bootspec.c
  src/shared/efivars.c
Labels: boot

#11906 hwdb: Add support for Alienware touchpad toggle
  hwdb/60-keyboard.hwdb
Labels: hwdb

#11912 remove "." path components from required mount paths
  src/core/unit.c
Labels: pid1

#11902 nspawn: move payload to sub-cgroup first, then sync cgroup trees
  src/nspawn/nspawn.c
Labels: nspawn

#11918 Two trivial changes to build with clang 8
  meson.build
  src/test/test-execute.c
Labels: good-to-merge/waiting-for-ci 👍, meson

#11916 core: handle ID_RENAMING= udev property
  TODO
  man/udevadm.xml
  src/core/device.c
  src/libsystemd/sd-device/device-internal.h
  src/libsystemd/sd-device/device-private.h
  src/test/test-tables.c
  src/udev/udevadm-trigger.c
  test/TEST-29-UDEV-ID_RENAMING/Makefile
  test/TEST-29-UDEV-ID_RENAMING/test.sh
  test/TEST-29-UDEV-ID_RENAMING/testsuite.sh
Labels: good-to-merge/waiting-for-ci 👍, pid1, tests, udev

#11905 various catalog fixes
  src/journal/catalog.c
  src/random-seed/random-seed.c
Labels: catalog, good-to-merge/waiting-for-ci 👍

#11917 core: check validity of paths for RequiresMountsFor=
  src/core/dbus-unit.c
Labels: pid1

#11922 be a bit more conservative with enabling ProtectHostname= for everything
  man/systemd.exec.xml
  units/systemd-journald.service.in
  units/systemd-networkd.service.in
  units/systemd-resolved.service.in
Labels: documentation 📖, quick-review 🏃‍♂️, units

#11938 Fix a typo in the man page for dhcpserver
  man/systemd.network.xml
Labels: documentation 📖

#11951 timedate: fix emitted value when ntp client is enabled/disabled
  src/timedate/timedated.c
Labels: good-to-merge/waiting-for-ci 👍, timedate

#11934 hwdb: label the trackpoint on IBM UltraNav keyboard as a pointing stick
  hwdb/60-input-id.hwdb
Labels: hwdb

#11948 Fix compilation without EFI being enabled
  src/shared/efivars.h
Labels: util-lib

#11924 execute: remove one aa profile output from context dump
  src/core/execute.c
Labels: pid1, quick-review 🏃‍♂️

#11958 network: update logs
  src/network/networkd-address.c
  src/network/networkd-route.c
Labels: ci-failure-appears-unrelated, network

#11937 Adding support for touchpad hotkey for Lenovo Y50-70
  hwdb/60-keyboard.hwdb
Labels: hwdb, squash-on-merge

#11955 import: do not try to set selinux related attributes if selinux is disabled
  src/import/import-common.c
Labels: import

#11953 journal-remote: do not request Content-Length if Transfer-Encoding is chunked
  src/journal-remote/journal-remote-main.c
Labels: ci-failure-appears-unrelated, journal-remote

#11954 machinectl: do not format size if freed disk space is "-1"
  src/machine/machinectl.c
Labels: good-to-merge/waiting-for-ci 👍, machine

#11930 test-network: add tests for issue #11921
  test/test-network/conf/21-vlan-test1.network
  test/test-network/conf/21-vlan-test1.network.d/override.conf
  test/test-network/conf/21-vlan.network
  test/test-network/conf/21-vlan.network.d/override.conf
  test/test-network/systemd-networkd-tests.py
Labels: tests

#11947 network: introduce TripleSampling= option in CAN section
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: good-to-merge/waiting-for-ci 👍, network

#11960 fuzz: introduce more fuzzers
  src/fuzz/fuzz-bus-label.c
  src/fuzz/fuzz-env-file.c
  src/fuzz/fuzz-hostname-util.c
  src/fuzz/fuzz-nspawn-settings.c
  src/fuzz/meson.build
  src/nspawn/nspawn-mount.c
  test/fuzz/fuzz-env-file/simple-env-file
  test/fuzz/fuzz-nspawn-settings/basic-config
  test/fuzz/fuzz-nspawn-settings/leak-4ff0e2498f596a77ea68d185c61e9e9ff9bb657f
Labels: fuzzing

#11962 efivars: make sure efi_loader_entry_name_valid() is always compiled in
  src/shared/efivars.c
  src/shared/efivars.h
Labels: ci-failure-appears-unrelated, util-lib

#11969 udev: fix memleak in 'udevadm trigger --settle'
  src/udev/udevadm-trigger.c
Labels: ci-failure-appears-unrelated, udev

#11965 lgtm: replace the query used for looking for fgets with a more general query
  .lgtm/cpp-queries/PotentiallyDangerousFunction.ql
  .lgtm/cpp-queries/fgets.ql
Labels: ci

#11897 test: parallelize tasks in TEST-24-UNIT-TESTS
  test/TEST-24-UNIT-TESTS/test.sh
  test/TEST-24-UNIT-TESTS/testsuite.sh
  test/test-functions
Labels: tests

#11956 bash-completion: also suggest units in reloading or activating
  shell-completion/bash/systemctl.in
Labels: shell completion

#11943 sd-device: store parsed SEQNUM and ACTION string
  src/core/device.c
  src/libsystemd/sd-device/device-internal.h
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/sd-device.c
  src/libudev/libudev-device.c
  src/login/logind-core.c
  src/login/logind.c
  src/network/networkd-manager.c
  src/shared/udev-util.c
  src/shared/udev-util.h
  src/udev/udev-event.c
  src/udev/udev-rules.c
  src/udev/udevadm-monitor.c
  src/udev/udevadm-test.c
  src/udev/udevd.c
  test/TEST-29-UDEV-ID_RENAMING/testsuite.sh
Labels: ci-failure-appears-unrelated, login, network, pid1, sd-device, udev

#11929 po: update French translation
  po/fr.po
Labels: l10n 🌍

#11927 Add NetworkNamespacePath= to unit files
  man/systemd.exec.xml
  man/systemd.unit.xml
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.m4
  src/core/namespace.c
  src/core/namespace.h
  src/core/socket.c
  src/shared/bus-unit-util.c
Labels: pid1

#11845 meson: scope more git invocations with current_source_dir()
  man/meson.build
  meson.build
  test/fuzz/meson.build
Labels: meson

#11964 fuzz: add fuzzers for calendar & time expressions
  src/fuzz/fuzz-calendarspec.c
  src/fuzz/fuzz-time-util.c
  src/fuzz/meson.build
Labels: fuzzing

#11919 various fixes to $HOME and $SHELL validation
  TODO
  src/basic/path-util.c
  src/basic/user-util.c
  src/core/execute.c
  src/login/logind-dbus.c
  src/login/logind-user.c
Labels: good-to-merge/waiting-for-ci 👍, login, pid1, util-lib

#11933 Minor tweaks to boot/efi code inspired by coverity
  src/boot/efi/boot.c
  src/boot/efi/util.h
  src/shared/bootspec.c
Labels: boot

#11957 cryptsetup: support same_cpu_crypt and submit_from_crypt_cpus options
  man/crypttab.xml
  src/cryptsetup/cryptsetup.c
  src/shared/crypt-util.h
Labels: cryptsetup

#11283 core/namespace: introduce new mount mode READWRITE_IMPLICIT
  src/core/namespace.c
  src/test/test-execute.c
  test/meson.build
  test/test-execute/exec-protecthome-tmpfs-vs-protectsystem-strict.service
Labels: pid1

#11893 wait-online: optionally take required minimum operational state
  man/networkctl.xml
  man/systemd-networkd-wait-online.service.xml
  man/systemd.network.xml
  src/basic/hashmap.h
  src/libsystemd/sd-network/network-util.c
  src/libsystemd/sd-network/network-util.h
  src/libsystemd/sd-network/sd-network.c
  src/network/networkctl.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/wait-online/link.c
  src/network/wait-online/link.h
  src/network/wait-online/manager.c
  src/network/wait-online/manager.h
  src/network/wait-online/wait-online.c
  src/shared/log-link.h
  src/shared/meson.build
  src/systemd/sd-network.h
  test/test-network/systemd-networkd-tests.py
Labels: looks-good/needs-rebase, network

#11861 network: config parser updates and wireguard refactoring
  man/systemd.netdev.xml
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/wireguard.c
  src/network/netdev/wireguard.h
  src/network/networkd-address-label.c
  src/network/networkd-address-label.h
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-fdb.c
  src/network/networkd-fdb.h
  src/network/networkd-ipv6-proxy-ndp.c
  src/network/networkd-ipv6-proxy-ndp.h
  src/network/networkd-neighbor.c
  src/network/networkd-neighbor.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-radv.c
  src/network/networkd-radv.h
  src/network/networkd-route.c
  src/network/networkd-route.h
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-routing-policy-rule.h
  src/network/networkd-util.c
  src/network/networkd-util.h
  src/network/test-networkd-conf.c
  test/fuzz/fuzz-netdev-parser/directives.netdev
  test/test-network/conf/25-address-section-miscellaneous.network
  test/test-network/conf/25-wireguard-23-peers.netdev
  test/test-network/conf/25-wireguard-private-key.txt
  test/test-network/conf/25-wireguard.netdev
  test/test-network/systemd-networkd-tests.py
Labels: ci-failure-appears-unrelated, network

#11981 test: don't overwrite TESTDIR if already set
  test/test-functions
Labels: tests

#11980 login: mark nomodeset fb devices as master-of-seat
  src/login/71-seat.rules.in
Labels: good-to-merge/waiting-for-ci 👍, login

#11952 networkd: Add bridge port capabilities
  man/systemd.network.xml
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/26-bridge-slave-interface-1.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#11987 man: clarify that sd_journal_seek_head() seeks *before* the first entry
  man/sd_journal_seek_head.xml
Labels: documentation 📖, journal

#11984 test: avoid double-fsck'ing of the rootfs on Arch
  test/test-functions
Labels: ci-failure-appears-unrelated, tests

#11979 bootspec: don't log in boot_entries_load_config_auto() about no ESP
  src/login/logind-dbus.c
  src/shared/bootspec.c
  src/systemctl/systemctl.c
Labels: login, quick-review 🏃‍♂️, util-lib

#11983 tests: add tests for embedded newlines in /proc/cmdline
  src/test/test-proc-cmdline.c
Labels: quick-review 🏃‍♂️, tests

#11932 virt: Detect WSL environment as a container (id: wsl)
  man/systemd-detect-virt.xml
  man/systemd.unit.xml
  src/basic/virt.c
  src/basic/virt.h
Labels: detect-virt, reviewed/needs-rework 🔨

#11994 man: be even more explicit that RestartPreventExitStatus= does not af…
  man/systemd.service.xml
Labels: documentation 📖

#11973 man: mention that DynamicUser= should not be mixed with ReadWriteDire…
  man/systemd.exec.xml
Labels: documentation 📖

#11945 hwdb: Fix airplane mode triggering when resuming HP Spectre x360 13
  hwdb/60-keyboard.hwdb
Labels: hwdb

#11968 network: introduce L2TP tunnel
  man/systemd.netdev.xml
  src/libsystemd/sd-netlink/generic-netlink.c
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/meson.build
  src/network/netdev/l2tp-tunnel.c
  src/network/netdev/l2tp-tunnel.h
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/systemd/sd-netlink.h
  test/fuzz/fuzz-netdev-parser/directives.netdev
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-l2tp-dummy.network
  test/test-network/conf/25-l2tp-ip.netdev
  test/test-network/conf/25-l2tp-udp.netdev
  test/test-network/systemd-networkd-tests.py
Labels: network

#11971 Make kernel-install create entry directory
  NEWS
  man/kernel-install.xml
  src/boot/bootctl.c
  src/kernel-install/00-entry-directory.install
  src/kernel-install/50-depmod.install
  src/kernel-install/90-loaderentry.install
  src/kernel-install/kernel-install
  src/kernel-install/meson.build
  src/shared/pretty-print.c
Labels: analyze, boot, kernel-install

#11998 man: provide an example how to plug systemd-mount into udev
  man/systemd-mount.xml
Labels: documentation 📖, mount

#11995 Re-add uaccess tag for /dev/dri/renderD*
  meson.build
  src/login/70-uaccess.rules.m4
Labels: udev

#11993 some resolved stub dns reply fixes
  src/resolve/resolved-dns-packet.h
  src/resolve/resolved-dns-stub.c
Labels: resolve

#11903 units: create random seed and update catalog after tmpfiles
  units/systemd-journal-catalog-update.service.in
Labels: units

#11985 some rafactoring in systemctl/bus-unit-util
  src/core/execute.c
  src/login/loginctl.c
  src/machine/machinectl.c
  src/mount/mount-tool.c
  src/nspawn/nspawn-register.c
  src/run/run.c
  src/shared/bus-unit-procs.c
  src/shared/bus-unit-procs.h
  src/shared/bus-unit-util.c
  src/shared/bus-unit-util.h
  src/shared/bus-wait-for-jobs.c
  src/shared/bus-wait-for-jobs.h
  src/shared/meson.build
  src/systemctl/systemctl.c
Labels: systemctl, util-lib

#11785 sd-bus: allow cross-uid-namespace connections
  src/libsystemd/sd-bus/bus-socket.c
Labels: bug 🐛, downstream/rhel, sd-bus

#11989 various documentation updates
  docs/BOOT_LOADER_SPECIFICATION.md
  docs/PORTABLE_SERVICES.md
  man/daemon.xml
  man/system-only.xml
  man/systemd-nspawn.xml
  man/systemd.exec.xml
  man/systemd.kill.xml
  man/systemd.network.xml
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍

#12003 hwdb: Add accelerometer orientation quirk for the MYRIA MY8307
  hwdb/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#11658 id128: several cleanups
  shell-completion/bash/systemd-id128
  src/id128/id128.c
  src/libsystemd/sd-id128/sd-id128.c
Labels: sd-id128

#12009 test: fix LUKS2 support
  test/TEST-02-CRYPTSETUP/test.sh
  test/test-functions
Labels: good-to-merge/waiting-for-ci 👍, tests

#11988 Install more requires binaries for tests
  test/test-functions
Labels: good-to-merge/waiting-for-ci 👍, tests

#12012 Generator and documentation improvements
  NEWS
  man/systemd-analyze.xml
  man/systemd.exec.xml
  man/systemd.generator.xml
  man/systemd.special.xml
  src/analyze/analyze.c
  src/fstab-generator/fstab-generator.c
  units/user/default.target
Labels: documentation 📖, fstab-generator

#11999 man: clarify that /run/media/system/ is where mounts are placed by de…
  man/systemd-mount.xml
Labels: documentation 📖, mount, quick-review 🏃‍♂️

#12015 Fix compilation and tests in Fedora rawhide
  src/activate/activate.c
  src/basic/fd-util.c
  src/basic/process-util.c
  src/nspawn/nspawn-setuid.c
  src/nspawn/nspawn-stub-pid1.c
  src/shared/bootspec.c
  src/shared/seccomp-util.c
  src/test/test-execute.c
  src/test/test-seccomp.c
  test/meson.build
  test/test-execute/exec-inaccessiblepaths-sys.service
Labels: boot, good-to-merge/waiting-for-ci 👍, seccomp, tests

#12016 Fix two memleaks found by oss fuzz
  src/network/netdev/l2tp-tunnel.c
  src/network/netdev/wireguard.c
  src/nspawn/nspawn-mount.c
  test/fuzz/fuzz-netdev-parser/oss-fuzz-13719
  test/fuzz/fuzz-nspawn-settings/oss-fuzz-13691
Labels: good-to-merge/waiting-for-ci 👍, network, nspawn

#12017 fuzz-calendarspec: actually run the second part of the fuzzer
  src/fuzz/fuzz-calendarspec.c
Labels: fuzzing

#12027 tree-wide: fix false search hits with ppp (typos)
  src/login/logind-dbus.c
  src/nspawn/nspawn-patch-uid.c
Labels: cosmetic, good-to-merge/waiting-for-ci 👍, tree-wide

#12025 bus: fix memleak on invalid message
  src/libsystemd/sd-bus/bus-socket.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#12029 Change Razer Abyssus DPI in 70-mouse.hwdb
  hwdb/70-mouse.hwdb
Labels: hwdb

#11915 journalctl: add --all-boots option
  man/journalctl.xml
  src/journal/journalctl.c
  test/TEST-04-JOURNAL/test-journal.sh
Labels: journal

#11991 units: turn off keyring handling for user@.service
  units/user@.service.in
Labels: good-to-merge/waiting-for-reporter-feedback 👍, units

#11990 Revert "Revert "units: lock down logind with fs namespacing options""
  units/systemd-logind.service.in
Labels: login, units

#12028 core: some start limit checking improvements + refactoring
  hwdb/60-sensor.hwdb
  src/core/automount.c
  src/core/emergency-action.c
  src/core/emergency-action.h
  src/core/mount.c
  src/core/path.c
  src/core/service.c
  src/core/socket.c
  src/core/swap.c
  src/core/timer.c
  src/core/unit.c
  src/core/unit.h
Labels: pid1

#12005 Some fixes to exec directory management
  src/basic/fs-util.c
  src/core/execute.c
Labels: ci-failure-appears-unrelated, pid1

#12034 small stdio-bridge and errno-util.h improvements and fixes
  src/basic/errno-util.h
  src/basic/fd-util.h
  src/core/manager.c
  src/libsystemd/sd-bus/sd-bus.c
  src/resolve/resolved-dns-transaction.c
  src/socket-proxy/socket-proxyd.c
  src/stdio-bridge/stdio-bridge.c
Labels: quick-review 🏃‍♂️, util-lib

#12024 use SO_BINDTOIFINDEX where appropriate
  src/basic/missing_socket.h
  src/basic/socket-label.c
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/libsystemd-network/dhcp-network.c
  src/libsystemd-network/icmp6-util.c
  src/resolve/resolved-dns-stub.c
Labels: quick-review 🏃‍♂️, tree-wide, util-lib

#12045 journal-file: handle SIGBUS on offlining thread
  src/journal/journal-file.c
Labels: ci-failure-appears-unrelated

#12047 some small cryptsetup, ask-password and allocation fixlets
  src/basic/alloc-util.c
  src/basic/alloc-util.h
  src/basic/memory-util.h
  src/cryptsetup/cryptsetup.c
  src/shared/ask-password-api.c
Labels: ask-password, ci-failure-appears-unrelated, cryptsetup, quick-review 🏃‍♂️, util-lib

#12033 Watched process improvments
  src/basic/process-util.c
  src/basic/process-util.h
  src/core/cgroup.c
  src/core/dbus-scope.c
  src/core/manager.c
  src/core/manager.h
  src/core/mount.c
  src/core/scope.c
  src/core/service.c
  src/core/socket.c
  src/core/swap.c
  src/core/unit.c
  src/core/unit.h
  src/test/test-watch-pid.c
Labels: ci-failure-appears-unrelated, pid1

#12049 Assorted fixups
  TODO
  src/libsystemd/sd-bus/bus-objects.c
  src/libsystemd/sd-bus/bus-socket.c
  src/test/test-alloc-util.c
  src/test/test-fileio.c
Labels: good-to-merge/waiting-for-ci 👍, sd-bus, tests

#9762 OCI runtime support for nspawn
  man/systemd-nspawn.xml
  man/systemd.nspawn.xml
  src/basic/capability-util.c
  src/basic/capability-util.h
  src/nspawn/meson.build
  src/nspawn/nspawn-cgroup.c
  src/nspawn/nspawn-gperf.gperf
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn-mount.h
  src/nspawn/nspawn-oci.c
  src/nspawn/nspawn-oci.h
  src/nspawn/nspawn-register.c
  src/nspawn/nspawn-register.h
  src/nspawn/nspawn-settings.c
  src/nspawn/nspawn-settings.h
  src/nspawn/nspawn-setuid.c
  src/nspawn/nspawn-setuid.h
  src/nspawn/nspawn.c
Labels: journal, login, nspawn, pid1, sd-bus, util-lib

#12058 Follow-ups for nspawn-oci review
  coccinelle/log-json.cocci
  src/basic/capability-util.c
  src/basic/string-util.h
  src/nspawn/nspawn-oci.c
  src/shared/json.h
Labels: good-to-merge/waiting-for-ci 👍, nspawn

#12059 some typo and other fixes result of the OCI nspawn merge
  man/systemd-nspawn.xml
  src/basic/capability-util.c
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn.c
  src/test/test-capability.c
Labels: nspawn, util-lib

#12057 chown TTY back to root:tty after a service terminates that used them
  TODO
  src/core/execute.c
  src/core/execute.h
  src/core/service.c
Labels: pid1

#12052 systemctl refactorings
  src/systemctl/systemctl.c
Labels: systemctl, tree-wide, util-lib

#12014 systemctl fallback error propagation fix
  src/systemctl/systemctl.c
Labels: systemctl

#12061 nspawn: add --no-pager switch
  man/systemd-nspawn.xml
  src/nspawn/nspawn.c
Labels: good-to-merge/waiting-for-ci 👍, nspawn

#12062 nspawn: port to DEFINE_MAIN_FUNCTION()
  src/nspawn/nspawn.c
Labels: good-to-merge/waiting-for-ci 👍, nspawn, quick-review 🏃‍♂️

#12020 test: test-functions improvements for debugging
  test/README.testsuite
  test/test-functions
Labels: tests

#11931 split static condition tests from net_match_config()
  man/systemd.link.xml
  man/systemd.netdev.xml
  man/systemd.network.xml
  man/systemd.unit.xml
  src/basic/log.c
  src/basic/log.h
  src/core/unit.c
  src/libsystemd-network/network-internal.c
  src/libsystemd-network/network-internal.h
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/shared/condition.c
  src/shared/condition.h
  src/udev/net/link-config-gperf.gperf
  src/udev/net/link-config.c
  src/udev/net/link-config.h
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, network, pid1, udev

#12065 hwdb: make ids_parser.py compatible with pyparsing-2.3.0+
  hwdb/ids_parser.py
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#12068 nspawn: conditionalize libseccomp use
  src/nspawn/nspawn-oci.c
Labels: nspawn, seccomp

#12067 meson: make systemd-nspawn depends on libseccomp
  meson.build
Labels: meson

#12071 network: add missing nulstr terminator
  src/network/netdev/l2tp-tunnel.c
Labels: good-to-merge/waiting-for-ci 👍, network

#12077 NEWS: prepare for v242
  NEWS
Labels: documentation 📖

#12072 three small string table fixes
  src/basic/string-table.h
  src/core/dbus-execute.c
  src/udev/udevadm-info.c
Labels: pid1, quick-review 🏃‍♂️, udev, util-lib

#12055 main-func.h and systemctl argc/argv improvements
  src/basic/util.h
  src/core/main.c
  src/nspawn/nspawn.c
  src/shared/main-func.h
  src/systemctl/systemctl.c
  src/test/test-process-util.c
Labels: tree-wide, util-lib

#12078 nspawn: don't free "fds" twice
  src/nspawn/nspawn.c
  src/shared/fdset.c
  src/shared/fdset.h
Labels: good-to-merge/waiting-for-ci 👍, nspawn

#12075 Two small man page enhancements
  NEWS
  man/bootup.xml
  man/systemd.service.xml
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍

#12079 Add fuzzer for nspawn-oci
  src/fuzz/fuzz-nspawn-oci.c
  src/fuzz/meson.build
  src/nspawn/nspawn-oci.c
  src/nspawn/nspawn-settings.c
  src/nspawn/nspawn-settings.h
  src/nspawn/nspawn.c
  src/test/test-tables.c
  src/udev/net/link-config-gperf.gperf
  src/udev/net/link-config.c
  src/udev/net/link-config.h
  test/fuzz/fuzz-nspawn-oci/basic.json
  test/fuzz/fuzz-nspawn-oci/crash-bffbd2085d4e95c47e9749b3f4a2dbc0580c20d3
  test/fuzz/fuzz-nspawn-oci/crash-db0595479ee2e625fa5419a821009b5eb4d809b7
Labels: fuzzing, good-to-merge/waiting-for-ci 👍, nspawn

#11602 dbus-manager: Add RebootWithParameters d-bus method
  src/core/emergency-action.c
  src/login/logind-dbus.c
  src/login/org.freedesktop.login1.conf
  src/login/org.freedesktop.login1.policy
  src/shared/reboot-util.c
  src/shared/reboot-util.h
  src/systemctl/systemctl.c
Labels: good-to-merge/waiting-for-ci 👍, login, pid1

#12087 util: fix condition_free_list_type()
  src/network/netdev/netdev.h
  src/network/networkd-network.h
  src/shared/condition.c
  src/udev/net/link-config.h
  test/fuzz/fuzz-link-parser/oss-fuzz-13878
  test/fuzz/fuzz-link-parser/oss-fuzz-13882
  test/fuzz/fuzz-netdev-parser/oss-fuzz-13884
  test/fuzz/fuzz-netdev-parser/oss-fuzz-13886
  test/fuzz/fuzz-network-parser/oss-fuzz-13888
Labels: util-lib

#12096 NEWS: various tweaks and updates for v242
  NEWS
Labels: documentation 📖

#12082 two trivial fixlets for PID 1
  src/core/dbus-unit.c
Labels: pid1, quick-review 🏃‍♂️

#12080 tree-wide: constify a few static string tables
  src/basic/cgroup-util.c
  src/core/manager.c
  src/core/unit.c
  src/network/netdev/bond.c
  src/shared/install.c
  src/test/test-path-util.c
  src/tmpfiles/tmpfiles.c
  src/udev/cdrom_id/cdrom_id.c
  src/udev/udev-builtin.c
  src/udev/udev-rules.c
  src/udev/udevadm.c
Labels: quick-review 🏃‍♂️, tree-wide

#12089 bash-completion: use the default completion for shell redirect operators
  shell-completion/bash/journalctl
Labels: shell completion

#12097 hwdb: update for v242
  hwdb/20-OUI.hwdb
  hwdb/20-acpi-vendor.hwdb.patch
  hwdb/20-pci-vendor-model.hwdb
  hwdb/20-usb-vendor-model.hwdb
  hwdb/ma-large.txt
  hwdb/ma-medium.txt
  hwdb/ma-small.txt
  hwdb/pci.ids
  hwdb/usb.ids
Labels: hwdb

#12081 various small systemctl modernizations and refactoring
  meson.build
  src/systemctl/systemctl.c
  src/systemctl/sysv-compat.c
  src/systemctl/sysv-compat.h
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, systemctl

#12104 man: rework timer docs to use a table for monotonic timers
  man/systemd.timer.xml
Labels: documentation 📖, pid1, quick-review 🏃‍♂️

#12108 Add completion of --no-hostname for zsh
  shell-completion/zsh/_journalctl
Labels: shell completion

#12107 nspawn: minor improvements to --help text
  src/nspawn/nspawn.c
Labels: nspawn, quick-review 🏃‍♂️

#12101 core: drop suid/sgid bit of files/dirs when doing recursive chown
  src/core/chown-recursive.c
  src/core/chown-recursive.h
  src/core/execute.c
  src/test/test-chown-rec.c
Labels: pid1

#12105 some API VFS mount flag tweaks
  src/nspawn/nspawn-mount.c
  units/dev-mqueue.mount
  units/proc-sys-fs-binfmt_misc.mount
  units/sys-fs-fuse-connections.mount
  units/sys-kernel-config.mount
  units/sys-kernel-debug.mount
Labels: nspawn, quick-review 🏃‍♂️, units

#12100 logind: reword the polkit prompt for reboot parameter
  src/login/org.freedesktop.login1.policy
Labels: ci-failure-appears-unrelated, login

#12106 add "nosuid" flag to exec directory mounts of DynamicUser=1 services
  src/core/execute.c
  src/core/namespace.c
  src/core/namespace.h
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn.c
  src/shared/mount-util.c
  src/shared/mount-util.h
  src/volatile-root/volatile-root.c
Labels: pid1

#12044 util-lib: use a fixed buffer size for terminal path
  src/basic/terminal-util.c
  src/test/test-terminal-util.c
Labels: util-lib

#12109 tiny fixes to sleep.c
  TODO
  src/shared/sleep-config.c
  src/sleep/sleep.c
Labels: quick-review 🏃‍♂️, sleep

#12116 Fixes for compilation in Fedora 30 mock
  src/shared/install.c
  src/test/test-execute.c
Labels: good-to-merge/waiting-for-ci 👍, install, tests

#12117 man: clarify the role of OnBootSec= in containers
  man/systemd.timer.xml
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍
