Repository systemd/systemd, pull requests merged in 2019-04, with the labels that each got.

#12162 po: update ja.po
  po/ja.po
Labels: l10n 🌍

#12156 bootspec: fix memleaks
  src/shared/bootspec.c
Labels: quick-review 🏃‍♂️, util-lib

#12157 network: handle NetDev.Name= conflict nicely
  src/network/netdev/netdev.c
  src/udev/net/link-config.c
  test/test-network/conf/15-name-conflict-test.netdev
  test/test-network/conf/25-wireguard.netdev.d/peer.conf
  test/test-network/conf/25-wireguard.network
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, udev

#12158 udev: move udev_ctrl_cleanup() into manager_free()
  src/udev/udevd.c
Labels: udev

#12164 Enable our units using presets in the usual fashion
  units/meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#12163 test: set longer StartLimitIntervalSec= and fewer StartLimitBurst=
  test/TEST-11-ISSUE-3166/test.sh
Labels: good-to-merge/waiting-for-ci 👍, tests

#12166 hwdb: Fix micmute on ASUS FX503VD
  hwdb/60-keyboard.hwdb
Labels: hwdb

#12173 sd-bus: add missing empty line
  src/libsystemd/sd-bus/bus-control.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, sd-bus

#12177 fs-util: suppress world-writable warnings if we read /dev/null
  src/basic/fs-util.c
Labels: quick-review 🏃‍♂️, util-lib

#12170 shared: add some minor comments
  src/shared/bus-wait-for-jobs.c
Labels: quick-review 🏃‍♂️, util-lib

#12171 core: export ReloadResult value on the bus
  src/core/dbus-service.c
Labels: pid1, quick-review 🏃‍♂️

#12172 rm-rf: refuse combining REMOVE_ONLY_DIRECTORIES and REMOVE_SUBVOLUME …
  src/basic/rm-rf.c
Labels: quick-review 🏃‍♂️, util-lib

#12174 systemctl: print a more accurate error message when we can
  src/systemctl/systemctl.c
Labels: quick-review 🏃‍♂️, systemctl

#12160 wait-online: add --any option
  man/systemd-networkd-wait-online.service.xml
  src/network/wait-online/manager.c
  src/network/wait-online/manager.h
  src/network/wait-online/wait-online.c
  test/test-network/conf/11-dummy.network
  test/test-network/conf/25-bridge.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#12179 NEWS: document the change to installation
  NEWS
Labels: documentation 📖

#12114 core: refactor transaction.c to use fewer gotos
  src/core/transaction.c
Labels: pid1, quick-review 🏃‍♂️

#12168 three minor tweaks to the man pages
  man/systemd.exec.xml
  man/systemd.timer.xml
Labels: documentation 📖, pid1, quick-review 🏃‍♂️

#12030 add ConditionCPUs= + ConditionMemory=
  man/systemd.unit.xml
  src/basic/process-util.c
  src/basic/process-util.h
  src/shared/condition.c
  src/shared/condition.h
  src/test/test-condition.c
Labels: new-feature, pid1

#12181 build: install /etc/systemd/{system,user}-generators
  meson.build
  src/core/meson.build
Labels: build-system, install, meson

#12007 .timer OnClockChange= and OnTimezoneChange= settings
  TODO
  docs/TRANSIENT-SETTINGS.md
  man/systemd-run.xml
  man/systemd.timer.xml
  src/core/dbus-timer.c
  src/core/load-fragment-gperf.gperf.m4
  src/core/timer.c
  src/core/timer.h
  src/run/run.c
  src/shared/bus-unit-util.c
  test/TEST-30-ONCLOCKCHANGE/Makefile
  test/TEST-30-ONCLOCKCHANGE/test.sh
  test/TEST-30-ONCLOCKCHANGE/testsuite.sh
Labels: good-to-merge/waiting-for-ci 👍, new-feature, pid1

#12150 ipv4ll: do not reset seed generation counter on restart
  src/libsystemd-network/sd-ipv4ll.c
Labels: network

#12006 journal-remote: use source's boot-id
  src/journal-remote/journal-remote-parse.c
  src/journal-remote/journal-remote-write.c
  src/journal-remote/journal-remote-write.h
  src/journal/journal-file.c
Labels: journal-remote

#12102 LGTM fixes
  src/journal/journal-verify.c
Labels: journal, udev

#12183 tty-ask-password: let's copy argv[] before forking
  src/tty-ask-password-agent/tty-ask-password-agent.c
Labels: ask-password

#12186 lgtm ruleset updates
  .lgtm/cpp-queries/PotentiallyDangerousFunction.ql
  src/login/test-inhibit.c
Labels: lgtm

#12185 logind: remove unused fds from fdstore
  src/login/logind-session-device.c
  src/login/logind.c
Labels: login

#12013 core: on switching root do not emit device state change based on enumeration results
  src/core/dbus-manager.c
  src/core/device.c
  src/core/main.c
  src/core/manager.c
  src/core/manager.h
  test/TEST-31-DEVICE-ENUMERATION/Makefile
  test/TEST-31-DEVICE-ENUMERATION/test.sh
  test/TEST-31-DEVICE-ENUMERATION/testsuite.sh
Labels: pid1

#12175 generic helper functions to forward bus calls from Manager to Unit object
  src/core/dbus-manager.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#12056 Introduce RestrictSUIDSGID= for disabling SUID/SGID file creation
  NEWS
  TODO
  docs/TRANSIENT-SETTINGS.md
  man/systemd.exec.xml
  src/analyze/analyze-security.c
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.m4
  src/core/unit.c
  src/shared/bus-unit-util.c
  src/shared/seccomp-util.c
  src/shared/seccomp-util.h
  src/test/test-seccomp.c
  test/fuzz/fuzz-unit-file/directives.service
  units/systemd-coredump@.service.in
  units/systemd-hostnamed.service.in
  units/systemd-journal-gatewayd.service.in
  units/systemd-journal-remote.service.in
  units/systemd-journal-upload.service.in
  units/systemd-journald.service.in
  units/systemd-localed.service.in
  units/systemd-logind.service.in
  units/systemd-networkd.service.in
  units/systemd-resolved.service.in
  units/systemd-timedated.service.in
  units/systemd-timesyncd.service.in
  units/systemd-udevd.service.in
Labels: good-to-merge/waiting-for-ci 👍, new-feature, pid1

#12188 tree-wide: let's run coccinelle again
  src/analyze/analyze-security.c
  src/basic/fs-util.c
  src/boot/bootctl.c
  src/boot/efi/boot.c
  src/boot/efi/util.c
  src/cgtop/cgtop.c
  src/libsystemd/sd-device/sd-device.c
  src/libsystemd/sd-event/sd-event.c
  src/libsystemd/sd-login/sd-login.c
  src/nspawn/nspawn.c
  src/resolve/resolvectl.c
  src/shared/bus-util.c
  src/shared/json.c
  src/udev/udev-rules.c
Labels: coccinelle, tree-wide

#12189 Revert "build: install /etc/systemd/{system,user}-generators"
  meson.build
  src/core/meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#12190 docs: fix path to unit files
  docs/PORTABLE_SERVICES.md
Labels: documentation 📖

#12197 kernel-install: add a check that the vmlinuz arg is sane
  src/kernel-install/kernel-install
Labels: kernel-install

#12202 Fixes for S[GU]ID filter on arm64
  src/shared/seccomp-util.c
  src/test/test-seccomp.c
Labels: seccomp, tests

#12205 docs: let's not close the milestone early
  docs/RELEASE.md
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍

#12198 Seccomp parsing logging cleanup
  src/basic/log.c
  src/core/dbus-execute.c
  src/core/load-fragment.c
  src/shared/seccomp-util.c
  src/shared/seccomp-util.h
  test/TEST-20-MAINPIDGAMES/testsuite.sh
  test/TEST-23-TYPE-EXEC/testsuite.sh
  test/TEST-27-STDOUTFILE/testsuite.sh
  test/TEST-30-ONCLOCKCHANGE/testsuite.sh
  test/networkd-test.py
Labels: ci-failure-appears-unrelated

#12204 udev-util: allocate an event loop of our own for waiting
  src/shared/udev-util.c
Labels: good-to-merge/waiting-for-ci 👍, portable, priority, udev

#12212 tty-ask-pw-agent: use right array
  src/tty-ask-password-agent/tty-ask-password-agent.c
Labels: ask-password

#12206 udevadm: drop unused option
  src/udev/udevadm-info.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, udev

#12207 portabled dbus policy fix
  src/portable/org.freedesktop.portable1.conf
  src/portable/portabled-bus.c
  src/portable/portabled-image-bus.c
Labels: portable

#12208 base-filesystem: be nicer to read-only fs images
  src/shared/base-filesystem.c
Labels: ci-failure-appears-unrelated, pid1

#12215 bus-util: treat org.freedesktop.DBus.Error.ServiceUnknown nicely when…
  src/shared/bus-util.c
Labels: ci-failure-appears-unrelated, util-lib

#12214 ask-passwd: slightly optimize handling arguments
  src/tty-ask-password-agent/tty-ask-password-agent.c
Labels: ask-password, quick-review 🏃‍♂️

#12216 test-journal: move tests to /var/tmp and set FS_NOCOW_FL
  src/journal/test-journal-flush.c
  src/journal/test-journal-init.c
  src/journal/test-journal-interleaving.c
  src/journal/test-journal-stream.c
  src/journal/test-journal-verify.c
  src/journal/test-journal.c
Labels: good-to-merge/waiting-for-ci 👍, journal, tests

#12213 hwdb: Add accelerometer orientation quirk for the Teclast F6 Pro
  hwdb/60-sensor.hwdb
Labels: ci-failure-appears-unrelated, hwdb

#12228 meson: sort source files again
  src/shared/meson.build
Labels: meson, quick-review 🏃‍♂️

#12227 lgtm: warn about strerror() use
  .lgtm/cpp-queries/PotentiallyDangerousFunction.ql
Labels: lgtm, quick-review 🏃‍♂️

#12229 nspawn: create boot_id and kmsg files for overmounting in /run, not /tmp
  src/nspawn/nspawn.c
Labels: nspawn

#12234 Calendarspec cleanups and fixes integer overflow
  src/shared/calendarspec.c
  test/fuzz/fuzz-calendarspec/oss-fuzz-14108
Labels: util-lib

#12232 meson: drop misplaced -Wl,--undefined argument
  meson.build
Labels: meson

#11388 Correct units path usage according to FHS
  man/systemd.unit.xml
Labels: documentation 📖, squash-on-merge

#12240 pam-systemd: use secure_getenv() rather than getenv()
  src/login/pam_systemd.c
Labels: good-to-merge/waiting-for-ci 👍, login

#12238 One genuine bugfix and lots of line wrapping
  src/login/logind-dbus.c
  src/login/logind-session.c
  src/sysusers/sysusers.c
Labels: login, sysusers

#12242 Fix typo in manual of systemd-sysusers
  man/systemd-sysusers.xml
Labels: documentation 📖, sysusers

#12248 man: elaborate on fd ownership in sd_event_add_io(3)
  man/sd_event_add_io.xml
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, sd-event

#12245 introduce empty_or_dash() helper
  coccinelle/empty-or-dash.cocci
  src/basic/string-util.h
  src/import/export.c
  src/import/import-fs.c
  src/import/import.c
  src/import/pull.c
  src/locale/keymap-util.c
  src/machine/machinectl.c
  src/sysusers/sysusers.c
  src/tmpfiles/tmpfiles.c
Labels: good-to-merge/waiting-for-ci 👍, tree-wide, util-lib

#12250 man: add references from the .mount and .service man pages to systemd…
  man/systemd.mount.xml
  man/systemd.service.xml
Labels: documentation 📖

#12244 final 242 NEWS tweaks + another hwdb update
  NEWS
  hwdb/20-OUI.hwdb
  hwdb/20-acpi-vendor.hwdb.patch
  hwdb/20-pci-vendor-model.hwdb
  hwdb/ma-large.txt
  hwdb/ma-medium.txt
  hwdb/ma-small.txt
  hwdb/pci.ids
Labels: ci-failure-appears-unrelated, documentation 📖, good-to-merge/waiting-for-ci 👍, hwdb

#12251 NEWS: add mention of time-set.target
  NEWS
Labels: documentation 📖

#12249 inhibit: fix argv[] usage
  src/login/inhibit.c
Labels: good-to-merge/waiting-for-ci 👍, login

#12241 Two man link additions
  man/systemd.link.xml
Labels: documentation 📖

#12254 l10n: Updated Lithuanian translation
  po/lt.po
Labels: good-to-merge/waiting-for-ci 👍, l10n 🌍

#12223 network: add PresharedKeyFile= setting and make reading key file failure fatal
  NEWS
  man/systemd.netdev.xml
  src/basic/fileio.c
  src/basic/fileio.h
  src/basic/hexdecoct.c
  src/basic/hexdecoct.h
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/wireguard.c
  src/network/netdev/wireguard.h
  test/fuzz/fuzz-netdev-parser/directives.netdev
  test/test-network/conf/25-wireguard-preshared-key.txt
  test/test-network/conf/25-wireguard.netdev
  test/test-network/conf/25-wireguard.netdev.d/peer.conf
  test/test-network/systemd-networkd-tests.py
Labels: ci-failure-appears-unrelated, network

#12252 Don't unescape paths from libmount
  src/core/mount.c
  src/shared/libmount-util.h
  src/shared/meson.build
  src/shutdown/umount.c
  src/test/meson.build
  src/test/test-libmount.c
Labels: ci-failure-appears-unrelated, pid1

#12260 Update UEFI URLs
  hwdb/20-acpi-vendor.hwdb
  hwdb/20-acpi-vendor.hwdb.patch
  hwdb/acpi-update.py
  man/systemd-gpt-auto-generator.xml
  tools/meson-hwdb-update.sh
Labels: build-system, documentation 📖

#12266 network: fix use-of-uninitialized-value or null dereference
  src/network/netdev/wireguard.c
  test/fuzz/fuzz-netdev-parser/oss-fuzz-14157
  test/fuzz/fuzz-netdev-parser/oss-fuzz-14158
Labels: good-to-merge/waiting-for-ci 👍, network

#12270 test: set longer timeout
  test/TEST-29-UDEV-ID_RENAMING/testsuite.sh
  test/TEST-30-ONCLOCKCHANGE/test.sh
Labels: tests

#12278 test: make directory for drop-in config
  test/TEST-30-ONCLOCKCHANGE/test.sh
Labels: tests

#12271 accept() errno fixes
  .lgtm/cpp-queries/PotentiallyDangerousFunction.ql
  src/activate/activate.c
  src/basic/errno-util.h
  src/basic/socket-util.c
  src/core/dbus.c
  src/core/socket.c
  src/journal-remote/journal-remote.c
  src/journal/journald-stream.c
  src/resolve/resolved-dns-stub.c
  src/resolve/resolved-llmnr.c
  src/socket-proxy/socket-proxyd.c
  src/udev/udev-ctrl.c
Labels: good-to-merge/waiting-for-ci 👍, tree-wide, util-lib

#12274 some nss module fixlets
  src/nss-myhostname/nss-myhostname.c
  src/nss-mymachines/nss-mymachines.c
  src/nss-resolve/nss-resolve.c
Labels: good-to-merge/waiting-for-ci 👍, nss

#12279 sd-bus: properly handle messages with overlong signatures
  src/libsystemd/sd-bus/bus-internal.c
  src/libsystemd/sd-bus/bus-message.c
  src/libsystemd/sd-bus/bus-signature.c
  src/systemd/sd-bus.h
  test/fuzz/fuzz-bus-message/oss-fuzz-14016
Labels: sd-bus

#12281 fstab-generator: use DefaultDependencies=no for /sysroot mounts
  src/fstab-generator/fstab-generator.c
Labels: fstab-generator, good-to-merge/waiting-for-ci 👍

#12282 hwdb: mark Apple Magic Trackpads as external
  hwdb/70-touchpad.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#12219 bootctl: check entries when showing them
  TODO
  man/rules/meson.build
  man/sd-id128.xml
  src/boot/bootctl.c
  src/libsystemd/sd-id128/id128-util.h
  src/shared/bootspec.c
  src/shared/bootspec.h
  src/shared/efivars.c
  src/shared/efivars.h
  src/shared/id128-print.c
  src/systemd/sd-id128.h
  src/test/test-id128.c
Labels: boot, good-to-merge/after-next-release

#12037 add cgroupv2 oom killer event handling to service management
  TODO
  catalog/systemd.catalog.in
  man/systemd-system.conf.xml
  man/systemd.exec.xml
  man/systemd.service.xml
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-manager.c
  src/core/dbus-manager.h
  src/core/dbus-service.c
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/main.c
  src/core/manager.c
  src/core/manager.h
  src/core/service.c
  src/core/service.h
  src/core/unit.c
  src/core/unit.h
  src/shared/bus-unit-util.c
  src/systemd/sd-messages.h
  test/TEST-31-OOMPOLICY/Makefile
  test/TEST-31-OOMPOLICY/test.sh
  test/TEST-31-OOMPOLICY/testsuite.sh
Labels: cgroups, good-to-merge/after-next-release, new-feature, pid1

#12226 sysctl: let's by default increase the numeric PID range from 2^16 to …
  TODO
  sysctl.d/50-default.conf
Labels: good-to-merge/after-next-release, sysctl

#12153 shutdown/killall: Show in the console the processes not yet killed
  src/core/killall.c
  src/core/killall.h
  src/shutdown/shutdown.c
Labels: good-to-merge/with-minor-suggestions, pid1

#12267 Udev settle warning
  man/rules/meson.build
  man/systemd-udev-settle.service.xml
  man/udevadm.xml
  src/udev/udevadm-settle.c
  units/systemd-udev-settle.service.in
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, udev

#12287 Patches for coverity warnings
  src/core/manager.c
  src/test/test-env-util.c
  src/test/test-exec-util.c
Labels: good-to-merge/waiting-for-ci 👍, tests

#12289 NEWS: explain the kernel.pid_max sysctl change
  NEWS
Labels: documentation 📖

#12217 Refactor how we do unlocked file operations
  coccinelle/fopen-unlocked.cocci
  src/basic/cgroup-util.c
  src/basic/env-file.c
  src/basic/fileio.c
  src/basic/fileio.h
  src/basic/mountpoint-util.c
  src/basic/process-util.c
  src/basic/string-util.c
  src/basic/tmpfile-util.c
  src/busctl/busctl.c
  src/core/dbus-cgroup.c
  src/core/dbus-execute.c
  src/core/dbus-service.c
  src/core/manager.c
  src/core/smack-setup.c
  src/coredump/coredump.c
  src/coredump/stacktrace.c
  src/cryptsetup/cryptsetup-generator.c
  src/fstab-generator/fstab-generator.c
  src/fuzz/fuzz-bus-message.c
  src/fuzz/fuzz-env-file.c
  src/fuzz/fuzz-hostname-util.c
  src/fuzz/fuzz-json.c
  src/fuzz/fuzz-nspawn-oci.c
  src/fuzz/fuzz-nspawn-settings.c
  src/fuzz/fuzz-unit-file.c
  src/journal/journal-qrcode.c
  src/libsystemd-network/sd-dhcp-lease.c
  src/libsystemd/sd-bus/bus-introspect.c
  src/libsystemd/sd-bus/bus-match.c
  src/libsystemd/sd-bus/test-bus-marshal.c
  src/locale/keymap-util.c
  src/login/logind-seat.c
  src/login/logind-session.c
  src/login/logind-user.c
  src/machine/machine.c
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/portable/portable.c
  src/portable/portablectl.c
  src/resolve/resolved-dns-dnssec.c
  src/resolve/resolved-link.c
  src/resolve/resolved-manager.c
  src/resolve/resolved-resolv-conf.c
  src/shared/bootspec.c
  src/shared/calendarspec.c
  src/shared/format-table.c
  src/shared/generator.c
  src/shared/json.c
  src/shared/mount-util.c
  src/test/test-fileio.c
  src/test/test-json.c
Labels: good-to-merge/waiting-for-ci 👍, tree-wide

#12222 network: introduce MACsec
  man/systemd.netdev.xml
  man/systemd.network.xml
  src/basic/fileio.c
  src/basic/fileio.h
  src/basic/hexdecoct.c
  src/basic/hexdecoct.h
  src/basic/linux/if_macsec.h
  src/basic/meson.build
  src/libsystemd/sd-netlink/generic-netlink.c
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-types.h
  src/network/meson.build
  src/network/netdev/macsec.c
  src/network/netdev/macsec.h
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/systemd/sd-netlink.h
  test/fuzz/fuzz-netdev-parser/directives.netdev
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-macsec.key
  test/test-network/conf/25-macsec.netdev
  test/test-network/conf/25-macsec.network
  test/test-network/conf/macsec.network
  test/test-network/systemd-networkd-tests.py
Labels: network, tests

#12211 cgroup: Implement default propagation of MemoryLow with DefaultMemoryLow
  docs/TRANSIENT-SETTINGS.md
  man/systemd.resource-control.xml
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-cgroup.c
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/shared/bus-unit-util.c
  src/shared/bus-util.c
  src/systemctl/systemctl.c
  src/test/meson.build
  src/test/test-cgroup-unit-default.c
  test/dml-discard-empty.service
  test/dml-discard-set-ml.service
  test/dml-discard.slice
  test/dml-override-empty.service
  test/dml-override.slice
  test/dml-passthrough-empty.service
  test/dml-passthrough-set-dml.service
  test/dml-passthrough-set-ml.service
  test/dml-passthrough.slice
  test/dml.slice
  test/meson.build
Labels: cgroups, new-feature, reviewed/needs-rework 🔨, units

#12201 code style format: clang-format applied to src/a*/*
  src/activate/activate.c
  src/analyze/analyze-security.c
  src/analyze/analyze-verify.h
  src/analyze/analyze.c
Labels: coding-style

#11211 service: handle abort stops with dedicated timeout
  docs/TRANSIENT-SETTINGS.md
  man/systemd-system.conf.xml
  man/systemd.service.xml
  src/core/dbus-manager.c
  src/core/dbus-service.c
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/main.c
  src/core/manager.h
  src/core/service.c
  src/core/service.h
  src/core/system.conf.in
  src/core/user.conf
  src/shared/conf-parser.h
  test/fuzz/fuzz-unit-file/directives.service
Labels: pid1, reviewed/needs-rework 🔨

#12293 four simple journal modernizations
  src/journal/journald-server.c
Labels: journal

#12290 some small JSON foreach macro love
  src/nspawn/nspawn-oci.c
  src/shared/json.h
Labels: util-lib

#12296 split CODING_STYLE document into multiple thematic sections
  docs/CODING_STYLE.md
Labels: documentation 📖

#12298 nspawn: Fix volatile SELinux label
  src/nspawn/nspawn.c
Labels: nspawn

#12288 resolve,network: tiny cleanups
  src/basic/ordered-set.h
  src/libsystemd-network/arp-util.h
  src/network/netdev/bond.c
  src/network/netdev/bond.h
  src/network/netdev/netdev.c
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-server.c
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-link-bus.c
  src/resolve/resolved-link.c
  src/resolve/resolved-link.h
  src/resolve/resolved-manager.c
Labels: good-to-merge/waiting-for-ci 👍, network, resolve

#12310 Document (final) assignment on the RUN
  man/udev.xml
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, squash-on-merge

#12309 Check for final assignments in RUN keys
  src/udev/udev-rules.c
Labels: good-to-merge/waiting-for-ci 👍, squash-on-merge, udev

#12311 core: several follow-ups for timeout PR #11211
  src/core/dbus-manager.c
  src/core/dbus-service.c
  src/core/manager.h
  src/core/service.c
  src/core/service.h
Labels: pid1

#12301 Silence alignment warning
  src/libsystemd/sd-netlink/generic-netlink.c
  src/network/netdev/macsec.c
Labels: network, sd-netlink

#12305 linux: import more headers from kernel-5.0
  src/basic/linux/in.h
  src/basic/linux/in6.h
  src/basic/linux/l2tp.h
  src/basic/linux/netdevice.h
  src/basic/meson.build
  src/shared/meson.build
Labels: build-system

#12323 Update 60-sensor.hwdb
  hwdb/60-sensor.hwdb
Labels: hwdb, squash-on-merge

#12307 bootspec: fix build when EFI support is disabled
  src/shared/bootspec.c
  src/shared/bootspec.h
  src/shared/efivars.h
Labels: boot

#12336 core: support DisableControllers= for transient units
  docs/TRANSIENT-SETTINGS.md
  src/core/cgroup.c
  src/core/dbus-cgroup.c
  src/shared/bus-unit-util.c
Labels: cgroups, ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍

#12348 udev-rules: add udmabuf to kvm group
  rules/50-udev-default.rules.in
Labels: udev

#12340 udev: net_id: introduce predictable names for netdevsim
  src/udev/net/naming-scheme.c
  src/udev/net/naming-scheme.h
  src/udev/udev-builtin-net_id.c
Labels: udev

#12359 catalog: update Polish translation 190420
  catalog/systemd.pl.catalog.in
Labels: catalog, l10n 🌍

#12346 socket-util: make sure accept_flush() doesn't hang on EOPNOTSUPP
  src/basic/socket-util.c
  src/test/test-socket-util.c
  src/udev/udev-rules.c
Labels: pid1, tests, util-lib

#12320 test: don't timeout while waiting for other test units
  test/TEST-16-EXTEND-TIMEOUT/testsuite.service
Labels: tests

#12365 semaphore: merge semaphore scripts to avoid code duplication
  semaphoreci/gcc-compilation.sh
  semaphoreci/semaphore-runner.sh
  semaphoreci/setup.sh
Labels: ci

#12367 Put a limit on the loop to flush connections
  src/basic/socket-util.c
Labels: util-lib

#12366 Add support for OLPC XO-1.75 keyboard
  hwdb/60-keyboard.hwdb
Labels: hwdb

#12333 core: immediately trigger watchdog action on WATCHDOG=trigger
  man/sd_notify.xml
  src/core/service.c
Labels: pid1

#12364 man: describe interaction with ProtectHome=/InaccessiblePaths= in BindMount=
  man/systemd.exec.xml
Labels: documentation 📖

#12351 Add symbol to tell the linker that new libsystemd version is needed
  man/busctl.xml
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_add_object_vtable.xml
  man/vtable-example.c
  man/vtable-example.xml
  src/busctl/busctl.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-bus/bus-introspect.c
  src/libsystemd/sd-bus/bus-introspect.h
  src/libsystemd/sd-bus/bus-objects.c
  src/libsystemd/sd-bus/bus-objects.h
  src/libsystemd/sd-bus/test-bus-introspect.c
  src/libsystemd/sd-bus/test-bus-vtable.c
  src/libsystemd/sd-bus/test-vtable-data.h
  src/systemd/sd-bus-vtable.h
  src/test/generate-sym-test.py
  src/test/meson.build
Labels: sd-bus, tests

#12374 List `getty@tty1.service` in NEWS
  NEWS
Labels: documentation 📖

#12376 bash-completion: properly autocomplete escaped unit names
  shell-completion/bash/journalctl
  shell-completion/bash/systemctl.in
Labels: shell completion

#12358 udev,network: refuse .link or .network files without [Match] section
  man/systemd.link.xml
  man/systemd.network.xml
  network/99-default.link
  src/network/networkd-network.c
  src/network/test-networkd-conf.c
  src/udev/net/link-config.c
Labels: good-to-merge/waiting-for-ci 👍, network, udev

#12316 network: prevent interfaces to be initialized multiple times
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
Labels: network

#12382 network: fix ListenPort= in [WireGuard] section
  src/network/netdev/wireguard.c
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#12361 hwdb: add axis range corrections for the Dell Latitude e7250
  hwdb/60-evdev.hwdb
Labels: hwdb

#12332 cgroup: Add support for propagation of memory.min
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-cgroup.c
  src/core/load-fragment.c
  src/systemctl/systemctl.c
Labels: cgroups, new-feature, units

#12299 run: check if the specified realtime timer is not in the past
  src/run/run.c
Labels: run

#12074 expose IO stats on the bus and in "systemctl status" and "systemd-run --wait"
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-unit.c
  src/core/scope.c
  src/core/slice.c
  src/core/unit.c
  src/core/unit.h
  src/run/run.c
  src/systemctl/systemctl.c
Labels: cgroups, new-feature, pid1

#12408 Document /etc/initrd-release
  man/bootup.xml
Labels: documentation 📖

#12404 bash-completion: don't sort syslog priorities
  shell-completion/bash/journalctl
Labels: shell completion

#12403 bash-completion: process only non-template units for systemctl isolate
  shell-completion/bash/systemctl.in
Labels: shell completion

#12405 bash-completion: accept files for --bind/--bind-ro options
  shell-completion/bash/systemd-nspawn
Labels: shell completion

#12397 json: make log message more focussed
  src/shared/json.c
Labels: util-lib

#12396 json: reject NUL bytes when allocating JSON strings
  src/shared/json.c
  src/shared/json.h
Labels: util-lib

#12395 chown-recursive: also check mode before we bypass
  src/core/chown-recursive.c
Labels: pid1

#12394 systemd-run --on-calendar= follow-up
  src/run/run.c
  src/shared/calendarspec.c
Labels: run

#12372 udevd: inform only once when max number value of children is reached
  src/udev/udevd.c
Labels: udev

#12387 sd-bus: bump message queue size again
  src/libsystemd/sd-bus/bus-internal.h
Labels: sd-bus

#12381 resolve: use bridge or bonding interfaces in degraded-carrier state
  src/resolve/resolved-link.c
Labels: resolve

#12417 nspawn-expose-ports: fix a typo in error message
  src/nspawn/nspawn-expose-ports.c
Labels: nspawn

#12407 Two unrelated cleanups
  src/core/cgroup.c
  src/network/networkd-link.c
Labels: good-to-merge/waiting-for-ci 👍, network, pid1

#12322 Add support for ACCEL_LOCATION udev property to deal with 2 sensors
  hwdb/60-sensor.hwdb
  hwdb/parse_hwdb.py
Labels: hwdb

#12423 network: drop invalid assertion
  src/network/networkd-link.c
Labels: network

#12433 units: drop reference to sushell man page
  units/debug-shell.service.in
Labels: units

#12427 networkd: Add back static routes after DHCPv4 lease expires.
  src/network/networkd-dhcp4.c
  src/network/networkd-link.c
  src/network/networkd-link.h
Labels: good-to-merge/waiting-for-ci 👍, network

#12414 Detect podman as separate container type
  man/systemd-detect-virt.xml
  man/systemd.unit.xml
  src/basic/virt.c
  src/basic/virt.h
Labels: detect-virt

#12435 Update Ukrainian translation
  po/uk.po
Labels: good-to-merge/waiting-for-ci 👍, l10n 🌍

#12428 Hwdb: Add key-mappings for various wireless Logitech keyboards
  hwdb/60-keyboard.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#12438 alloc-util: don't use malloc_usable_size() to determine allocated size
  src/basic/alloc-util.c
Labels: ci-failure-appears-unrelated

#12434 minor rm_rf_children() modernizations
  src/basic/rm-rf.c
  src/shared/switch-root.c
Labels: quick-review 🏃‍♂️, util-lib

#12439 simplify RUN_WITH_UMASK()
  src/basic/umask-util.h
  src/test/meson.build
  src/test/test-umask-util.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, util-lib

#12420 Coccinelle improvements
  coccinelle/const-strlen.disabled
  coccinelle/debug-logging.cocci
  coccinelle/dup-fcntl.cocci
  coccinelle/empty-to-null.cocci
  coccinelle/flags-set.cocci
  coccinelle/in_set.cocci
  coccinelle/isempty.cocci
  coccinelle/memzero.cocci
  coccinelle/mfree_return.cocci
  coccinelle/not_in_set.cocci
  coccinelle/run-coccinelle.sh
  coccinelle/strempty.cocci
  coccinelle/synthetic-errno.cocci
  coccinelle/systemd-definitions.iso
  coccinelle/take-fd.cocci
  man/vtable-example.c
  src/core/dbus-socket.c
  src/coredump/coredump.c
  src/import/importd.c
  src/journal-remote/journal-remote.c
  src/libsystemd-network/network-internal.c
  src/libsystemd/sd-bus/bus-message.c
  src/login/logind-core.c
  src/login/logind-user.c
  src/network/networkd-dhcp6.c
  src/network/networkd-radv.c
  src/shared/dns-domain.c
  src/shared/efivars.c
  src/shared/journal-importer.c
  src/shared/machine-image.c
  src/test/test-libudev.c
  src/test/test-nss.c
  src/timesync/timesyncd-manager.c
  src/tmpfiles/tmpfiles.c
  src/udev/ata_id/ata_id.c
  src/udev/cdrom_id/cdrom_id.c
  src/udev/scsi_id/scsi_id.c
  src/udev/scsi_id/scsi_serial.c
  src/udev/udev-builtin-usb_id.c
  src/udev/v4l_id/v4l_id.c
Labels: coccinelle, good-to-merge/waiting-for-ci 👍, tree-wide

#12443 udev: drop unnecessary brackets
  src/udev/cdrom_id/cdrom_id.c
  src/udev/scsi_id/scsi_id.c
  src/udev/scsi_id/scsi_serial.c
Labels: udev

#12442 meson: make source files including nspawn-settings.h depend on libsec…
  src/fuzz/meson.build
  src/nspawn/meson.build
Labels: good-to-merge/waiting-for-ci 👍, nspawn

#12218 Use libmount more
  meson.build
  src/core/mount.c
  src/mount/mount-tool.c
  src/shared/libmount-util.h
  src/shared/mount-util.c
  src/shutdown/umount.c
  src/test/test-libmount.c
Labels: mount, tests, util-lib
