Repository systemd/systemd, pull requests merged in 2019-08, with the labels that each got.

#13243 Two cryptsetup quickfixes
  src/cryptsetup/cryptsetup-generator.c
Labels: cryptsetup

#13253 udev: update log messages
  src/udev/udev-event.c
  src/udev/udev-node.c
Labels: ci-failure-appears-unrelated, udev

#13251 unit: make logind can access ESP
  units/systemd-logind.service.in
Labels: ci-failure-appears-unrelated, units

#13256 Minor sd-network cleanup and other coverity-inspired changes
  src/core/dbus-execute.c
  src/libsystemd-network/dhcp-option.c
  src/libsystemd/sd-hwdb/sd-hwdb.c
Labels: network, pid1, sd-hwdb

#13259 udev: do not try to import properties on commented out lines
  src/udev/udev-rules.c
Labels: udev

#13258 Revert "logind: remove unused check"
  src/login/logind-action.c
  src/login/logind-button.c
Labels: login

#12884 test: introduce TEST-36-NUMAPOLICY
  src/shared/exit-status.c
  src/test/test-exit-status.c
  test/TEST-36-NUMAPOLICY/Makefile
  test/TEST-36-NUMAPOLICY/test.sh
  test/TEST-36-NUMAPOLICY/testsuite.sh
  test/test-functions
Labels: good-to-merge/waiting-for-ci 👍, tests

#13267 meson: create (empty) /etc/systemd/system during installation
  src/core/meson.build
Labels: meson

#13263 unit: drop Before=sysinit.target from systemd-random-seed.service
  units/systemd-random-seed.service.in
Labels: units

#13268 Fix typo in resolvectl(1) man page
  man/resolvectl.xml
Labels: documentation 📖

#13269 systemctl: Add unit file states to state help message
  src/systemctl/systemctl.c
Labels: ci-failure-appears-unrelated, systemctl

#13265 Timedated logging and service priority
  src/timedate/timedated.c
Labels: timedate

#12350 networkd: Routes should take the gateway into account
  src/network/networkd-dhcp6.c
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/network/networkd-route.c
  src/network/networkd-route.h
  test/test-network/conf/25-gateway-next-static.network
  test/test-network/conf/25-gateway-static.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#13278 logind: set description for inhibitor event source
  src/login/logind-inhibit.c
Labels: login, quick-review 🏃‍♂️

#13280 man: Fix grammar in systemd.kill.xml
  man/systemd.kill.xml
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍

#13281 fuzzit: an attempt to unleash MSan on all the fuzzers
  README.md
  travis-ci/managers/fuzzit.sh
Labels: ci, fuzzing

#13290 get MSan to track origins
  travis-ci/managers/fuzzit.sh
Labels: ci, fuzzing

#13299 Fix "whitelits" typo in `src/analyze/analyze-security.c`.
  src/analyze/analyze-security.c
Labels: analyze, good-to-merge/waiting-for-ci 👍

#13285 docs: fix env var name in random seed markdown documentation
  docs/RANDOM_SEEDS.md
Labels: documentation 📖, quick-review 🏃‍♂️, random-seed

#13294 firstboot: drop duplicate trailing whitespace from root pw question
  src/firstboot/firstboot.c
Labels: firstboot, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#13292 man: add example for IPv6 Prefix Delegation
  man/systemd.network.xml
Labels: documentation 📖

#13282 networkd: Keep track of static neighbors
  src/libsystemd/sd-netlink/rtnl-message.c
  src/libsystemd/sd-netlink/sd-netlink.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-neighbor.c
  src/network/networkd-neighbor.h
  src/network/networkd.c
  test/test-network/conf/25-neighbor-next.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#13303 bootctl: fix segfaults
  src/boot/bootctl.c
Labels: boot

#13313 test: store coredumps in journal
  test/test-functions
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, tests

#13314 hwdb: Fix airplane mode spam on HP Spectre x360 Convertible
  hwdb/60-keyboard.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#13320 test: ppc64* qemu is qemu-system-ppc64
  test/test-functions
Labels: ci-failure-appears-unrelated, tests

#12957 core: Avoid race when starting dbus services
  src/core/dbus.c
  src/core/service.c
  src/core/unit.c
  src/core/unit.h
Labels: pid1

#13318 add s390 pkey_mprotect syscall number, and s390 mmap syscall definitions
  src/basic/missing_syscall.h
  src/shared/seccomp-util.c
Labels: ci-failure-appears-unrelated

#13302 network: fixes related to set_put()
  src/network/networkd-address.c
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/network/networkd-route.c
  src/network/networkd-routing-policy-rule.c
Labels: network

#13301 shared/unit-file: fix systemctl cat user@.service
  src/shared/unit-file.c
Labels: systemctl

#13310 hwdb: Added the acceleration mount matrix for a Medion Akoya E3221
  hwdb/60-sensor.hwdb
Labels: hwdb, squash-on-merge

#13298 zsh: add busctl completions
  shell-completion/zsh/_busctl
Labels: shell completion

#13277 sysusers: properly mark generated accounts as locked
  src/sysusers/sysusers.c
Labels: sysusers

#13273 Enable resolvectl zsh completions
  shell-completion/zsh/_resolvectl
  shell-completion/zsh/meson.build
Labels: shell completion

#13323 src/basic/missing_syscall: add comment lines for PR 13319 changes
  src/basic/missing_syscall.h
Labels: util-lib

#13326 networkctl: avoid outputting '(null)' for LLDP ports without description
  src/network/networkctl.c
Labels: network

#13327 unit-file: downgrade accidentaly high-prio debug log message
  src/shared/unit-file.c
Labels: pid1

#13329 po: update Ukrainian translation
  po/uk.po
Labels: l10n 🌍, squash-on-merge

#13339 man: trivial spelling fixes for systemd.network
  man/systemd.network.xml
Labels: documentation 📖, squash-on-merge

#13343 test: increase qemu timeout for TEST-18 and TEST-19
  test/TEST-18-FAILUREACTION/test.sh
  test/TEST-19-DELEGATE/test.sh
Labels: tests

#13344 Minor/cosmetic changes to test/test-functions, some test.sh
  test/TEST-02-CRYPTSETUP/test.sh
  test/TEST-24-UNIT-TESTS/test.sh
  test/TEST-33-CLEAN-UNIT/test.sh
  test/TEST-36-NUMAPOLICY/test.sh
  test/test-functions
Labels: tests

#13330 cgroup-util: update comment to reflect stable kernel fixes
  src/basic/cgroup-util.c
Labels: cgroups, cosmetic, pid1, quick-review 🏃‍♂️

#13322 Revert "shared/conf-parser,networkd: EXTRACT_UNQUOTE|EXTRACT_RETAIN_ESCAPE → EXTRACT_UNQUOTE"
  src/basic/extract-word.c
  src/libsystemd-network/network-internal.c
  src/network/test-networkd-conf.c
  src/shared/conf-parser.c
Labels: priority

#13345 network: fix PreferredLifetime=0
  src/network/networkd-address.c
  test/test-network/conf/25-address-preferred-lifetime-zero.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#13235 network: add RoutingPolicyRule.Family= setting
  man/systemd.network.xml
  src/network/networkd-dhcp-common.c
  src/network/networkd-ipv4ll.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-routing-policy-rule.h
  src/network/networkd-util.c
  src/network/networkd-util.h
  src/network/test-network-tables.c
  src/network/test-routing-policy-rule.c
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/routing-policy-rule-test1.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#13352 shared/seccomp: add sync_file_range2
  src/shared/seccomp-util.c
Labels: good-to-merge/waiting-for-ci 👍, seccomp

#13353 systemd-analyze cat-config relabel-extra.d/
  man/systemd-nspawn.xml
  src/shared/pretty-print.c
  src/systemctl/systemctl.c
Labels: analyze, documentation 📖, good-to-merge/waiting-for-ci 👍

#13356 Fix permissions on static nodes
  rules/50-udev-default.rules.in
  tmpfiles.d/meson.build
  tmpfiles.d/static-nodes-permissions.conf.in
  units/kmod-static-nodes.service.in
Labels: good-to-merge/waiting-for-ci 👍, tmpfiles, udev

#13335 cgroup: Also set io.bfq.weight
  NEWS
  src/core/cgroup.c
Labels: cgroups, good-to-merge/waiting-for-ci 👍, pid1

#13360 udev: set "watch" for more devices
  rules/60-block.rules
  rules/60-persistent-storage.rules
Labels: good-to-merge/waiting-for-ci 👍, udev

#13367 Fixes inspired by console=null
  src/basic/log.c
  src/basic/terminal-util.c
  src/core/load-fragment.c
  src/core/manager.c
  src/fsck/fsck.c
Labels: pid1

#13370 pid1: after creating transient drop-ins, put file in path cache
  src/core/unit.c
Labels: pid1

#13368 shared/watchdog: close watchdog device when done with it
  src/shared/watchdog.c
Labels: pid1

#13374 pid1: always log successfull process termination quietly
  src/core/mount.c
  src/core/service.c
  src/core/socket.c
  src/core/swap.c
  src/core/unit.c
  src/core/unit.h
Labels: good-to-merge/waiting-for-ci 👍, pid1

#13351 Add Chuwi Hi10 to 60-sensor.hwdb
  hwdb/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb, squash-on-merge

#13365 Fix commits from #13246
  src/basic/build.h
  src/id128/id128.c
  src/journal/test-journal-flush.c
  src/libsystemd/sd-event/test-event.c
  src/test/test-cgroup-util.c
Labels: good-to-merge/waiting-for-ci 👍

#13366 adjust oom slightly for journald
  TODO
  src/shutdown/shutdown.c
  units/systemd-journald.service.in
  units/systemd-udevd.service.in
Labels: journal, units

#13378 hwdb: add sensor location for HP ProBook4535s
  hwdb/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#13377 core: TAKE_PTR in timer_add_one_calendar_spec
  src/core/dbus-timer.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#13399 semaphore: switch back to the master branch
  semaphoreci/semaphore-runner.sh
Labels: ci

#13387 test/test-functions: use binaries from $BUILD_DIR or installed system
  test/test-functions
Labels: tests

#13388 test/test-functions: use truncate instead of dd to create testbed image
  test/test-functions
Labels: tests

#13342 test/TEST-18-FAILUREACTION: fix typo to actually run firstphase action
  test/TEST-18-FAILUREACTION/testsuite.sh
Labels: good-to-merge/waiting-for-ci 👍, tests

#13401 test/TEST-10-ISSUE-2467: remove testsuite.service TimeoutStartSec
  test/TEST-10-ISSUE-2467/test.sh
Labels: good-to-merge/waiting-for-ci 👍, tests

#13397 Add accel mount matrix for Medion Akoya E2293
  hwdb/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#13402 hwdb: Accel quirks for 2 devices
  hwdb/60-sensor.hwdb
Labels: hwdb

#13382 Network ipv6 enable
  src/network/networkd-address.c
  src/network/networkd-fdb.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-route.c
  src/network/networkd-routing-policy-rule.c
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#13404 core: stop removing non-existent and duplicate lookup paths
  src/core/manager.c
  src/shared/path-lookup.c
  src/shared/path-lookup.h
  src/test/test-path-lookup.c
Labels: pid1

#13406 manager: put bin before sbin for user instances
  man/systemd.exec.xml
  src/basic/path-util.h
  src/core/manager.c
Labels: user-session

#13391 kernel-install: do not require non-empty kernel cmdline
  src/kernel-install/90-loaderentry.install
Labels: kernel-install

#13412 network: check more static IPv6 configurations and add more warnings
  src/network/networkd-link.c
  src/network/networkd-network.c
  src/network/networkd-network.h
Labels: good-to-merge/waiting-for-ci 👍, network

#13414 zsh: update journalctl completions
  shell-completion/zsh/_journalctl
Labels: shell completion

#13415 hwdb: Add HP laptop accelerometer location quirk
  hwdb/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#13244 Allow dots in usernames
  src/basic/user-util.c
  src/basic/user-util.h
  src/core/dbus-execute.c
  src/core/dbus-socket.c
  src/core/dbus-util.c
  src/core/dbus-util.h
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/test/test-user-util.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#13424 meson: fix incomplete option descriptions
  meson_options.txt
Labels: meson

#13428 man: install runlevel.8 unconditionally
  man/runlevel.xml
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍

#13430 basic/virt: Fix current virtualbox detection
  src/basic/virt.c
Labels: detect-virt

#13433 docs: new systemd-security mailing list
  NEWS
  docs/CONTRIBUTING.md
  docs/SECURITY.md
Labels: documentation 📖

#13375 Add System76 touchpad toggle support
  hwdb/60-keyboard.hwdb
Labels: hwdb

#13384 core: make RuntimeDirectoryPreserve= works with non-service units
  src/core/mount.c
  src/core/service.c
  src/core/socket.c
  src/core/swap.c
  src/core/unit.c
  src/core/unit.h
  test/TEST-37-RUNTIMEDIRECTORYPRESERVE/Makefile
  test/TEST-37-RUNTIMEDIRECTORYPRESERVE/test.sh
  test/TEST-37-RUNTIMEDIRECTORYPRESERVE/testsuite.sh
Labels: bug 🐛, pid1

#13408 environment-d-generator: output logs in debug mode
  src/basic/env-file.c
  src/environment-d-generator/environment-d-generator.c
Labels: env-generator

#13435 shared/virt: update link to vmware article
  src/basic/virt.c
Labels: documentation 📖

#13436 Hidden units are good units
  man/systemd.unit.xml
  src/basic/strv.h
  src/shared/unit-file.c
  src/test/test-unit-name.c
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, pid1

#13438 Add HP Elite x2 1013 G3 touchpad as external
  hwdb/70-touchpad.hwdb
Labels: hwdb

#13444 man: list possible action string and default value
  man/udevadm.xml
Labels: documentation 📖, udev

#13385 core: also remove private directories by systemctl clean
  src/core/dbus-execute.c
  src/core/dbus-service.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.m4
  src/core/service.c
  src/core/service.h
  test/TEST-33-CLEAN-UNIT/testsuite.sh
Labels: pid1

#12321 Generate stable machine-id and DHCP client ID on POWER KVM
  man/machine-id.xml
  src/core/machine-id-setup.c
  src/hostname/hostnamed.c
Labels: hostname, pid1

#13450 network: adjust log level when DHCPv4 lease lost
  src/network/networkd-dhcp4.c
Labels: network, quick-review 🏃‍♂️
