Repository systemd/systemd, pull requests merged in 2019-05, with the labels that each got.

#12444 udev/cdrom_id: drop more unneeded parentheses
  src/udev/cdrom_id/cdrom_id.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#12441 networkd: add support for bridge fdb destination address.
  man/systemd.network.xml
  src/network/networkd-fdb.c
  src/network/networkd-fdb.h
  src/network/networkd-network-gperf.gperf
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/vxlan-test1.network
  test/test-network/conf/vxlan.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#12466 network: fix assertion when link get carrier
  src/network/networkd-link.c
Labels: good-to-merge/waiting-for-ci 👍, network

#12429 networkd: Option to use LinkLocalAddressing only when DHCP fails
  man/systemd.network.xml
  src/libsystemd-network/sd-dhcp-client.c
  src/network/networkd-dhcp4.c
  src/network/networkd-ipv4ll.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-util.c
  src/network/networkd-util.h
  src/network/test-network-tables.c
  test/test-network/conf/dhcp-client-with-ipv4ll-fallback.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#12488 test: return a non-zero return code when 'nobody' user doesn't exist
  src/test/test-capability.c
Labels: ci-failure-appears-unrelated, tests

#12485 Added Medion Akoya E3222 MD62450 to 60-sensor.hwdb
  hwdb/60-sensor.hwdb
Labels: hwdb

#12483 Systemd Catalog, Italian translation: minor updates
  catalog/systemd.it.catalog.in
Labels: l10n 🌍

#12479 Update Brazilian Portuguese translation
  po/pt_BR.po
Labels: l10n 🌍

#12469 Update the Chuwi HI13 trigger line
  hwdb/60-sensor.hwdb
Labels: hwdb

#12463 networkd: stop clients when networkd shuts down
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
Labels: network

#12459 basic/mountpoint-util: whitelist 'exfat' in fstype_can_uid_gid
  src/basic/mountpoint-util.c
Labels: mount, util-lib

#12440 another shot at the malloc_usable_size() thing
  src/basic/alloc-util.c
  src/test/test-alloc-util.c
Labels: util-lib

#12487 Acer series hwdb
  hwdb/60-keyboard.hwdb
Labels: hwdb

#12478 network: rename WireGuard.FwMark -> FirewallMark
  man/systemd.netdev.xml
  src/network/netdev/netdev-gperf.gperf
  test/fuzz/fuzz-netdev-parser/directives.netdev
Labels: network

#12481 networkd: Allow DHCP4 client to set the number to attempt to configure/reconfigure
  man/systemd.network.xml
  src/libsystemd-network/sd-dhcp-client.c
  src/network/networkd-dhcp4.c
  src/network/networkd-ipv4ll.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/sd-dhcp-client.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/dhcp-client-with-ipv4ll-fallback-with-dhcp-server.network
  test/test-network/conf/dhcp-client-with-ipv4ll-fallback-without-dhcp-server.network
  test/test-network/systemd-networkd-tests.py
Labels: dhcp, network

#12475 network: add network_ref/_unref() and make Link object take a reference of Network object
  src/libsystemd-network/sd-radv.c
  src/network/networkctl.c
  src/network/networkd-address-pool.c
  src/network/networkd-address.c
  src/network/networkd-dhcp6.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-ndisc.c
  src/network/networkd-network-bus.c
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/test-network.c
  src/network/test-networkd-conf.c
Labels: ci-failure-appears-unrelated, network

#12501 Silence strncpy warnings
  meson.build
  src/basic/macro.h
  src/basic/string-util.h
  src/network/networkd-link.c
  src/shared/utmp-wtmp.c
  src/udev/scsi_id/scsi_serial.c
Labels: good-to-merge/waiting-for-ci 👍, network, udev, util-lib

#12491 networkd: bridge fdb add support to configure VXLAN VNI
  man/systemd.network.xml
  src/network/networkd-fdb.c
  src/network/networkd-fdb.h
  src/network/networkd-network-gperf.gperf
  test/fuzz/fuzz-network-parser/directives.network
Labels: good-to-merge/waiting-for-ci 👍, network

#12507 three minor fixes to random-util.c
  src/basic/random-util.c
  src/basic/random-util.h
Labels: util-lib

#12489 networkd: VXLAN rename Id to VNI
  man/systemd.netdev.xml
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/vxlan.c
  src/network/netdev/vxlan.h
  test/fuzz/fuzz-netdev-parser/directives.netdev
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-vxlan.netdev
  tools/check-directives.sh
Labels: network

#11887 tests: hook up fuzz targets to FuzzBuzz
  .travis.yml
  fuzz.yaml
  meson.build
  meson_options.txt
  src/fuzz/fuzz.h
  src/fuzz/fuzzer-entry-point.c
  src/test/meson.build
  travis-ci/managers/fuzzbuzz.sh
Labels: ci, ci-failure-appears-unrelated, fuzzing, meson

#12445 cgroup: Some memory protection fixes
  NEWS
  docs/TRANSIENT-SETTINGS.md
  man/systemd.resource-control.xml
  src/core/dbus-cgroup.c
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/shared/bus-unit-util.c
  src/shared/bus-util.c
  src/test/test-cgroup-unit-default.c
  test/dml-passthrough-set-ml.service
Labels: cgroups, ci-failure-appears-unrelated, units

#12505 networkd: Fix Link up
  src/network/networkd-link.c
Labels: network

#12513 networkd: Allow users to set the IPv4 DF bit in outgoing packets
  man/systemd.netdev.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/vxlan.c
  src/network/netdev/vxlan.h
  test/fuzz/fuzz-netdev-parser/directives.netdev
Labels: good-to-merge/waiting-for-ci 👍, network

#12500 Minor fixes (post-update)
  catalog/systemd.it.catalog.in
  po/it.po
Labels: l10n 🌍

#12522 networkd: Log error if LLDP fails to start/stop
  src/network/networkd-link.c
Labels: network

#12230 add simple varlink implementation + allow to move journald logging back from /var to /run
  TODO
  man/journalctl.xml
  src/fuzz/fuzz-varlink.c
  src/fuzz/meson.build
  src/journal/journalctl.c
  src/journal/journald-server.c
  src/journal/journald-server.h
  src/shared/meson.build
  src/shared/varlink.c
  src/shared/varlink.h
  src/test/meson.build
  src/test/test-varlink.c
  test/fuzz/fuzz-varlink/array
  test/fuzz/fuzz-varlink/do-something
  test/fuzz/fuzz-varlink/huge-method
  test/fuzz/fuzz-varlink/method-call
  test/fuzz/fuzz-varlink/method-error
  test/fuzz/fuzz-varlink/method-reply
  test/fuzz/fuzz-varlink/timeout-d8a88bf4adea54537d21e3afb396e1a55c5b58bf
  units/systemd-journal-flush.service.in
Labels: ci-failure-appears-unrelated, journal, util-lib

#12446 networkd: Add DHCP support for blacklisting servers
  man/systemd.network.xml
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/test-dhcp-client.c
  src/network/networkd-dhcp4.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/sd-dhcp-client.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: dhcp, good-to-merge/waiting-for-ci 👍, network

#12480 network: bridge add support to configure proxy ARP/WIFI
  man/systemd.network.xml
  src/network/netdev/bond.h
  src/network/netdev/fou-tunnel.c
  src/network/netdev/fou-tunnel.h
  src/network/netdev/ipvlan.h
  src/network/netdev/l2tp-tunnel.c
  src/network/netdev/l2tp-tunnel.h
  src/network/netdev/macsec.c
  src/network/netdev/macsec.h
  src/network/netdev/tunnel.c
  src/network/netdev/tuntap.c
  src/network/netdev/vcan.h
  src/network/netdev/veth.c
  src/network/netdev/vlan.c
  src/network/netdev/wireguard.h
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-ipv4ll.c
  src/network/networkd-ipv6-proxy-ndp.c
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-ndisc.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-routing-policy-rule.h
  src/network/networkd.c
  src/network/test-network.c
  src/systemd/sd-netlink.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: network

#12521 test: don't preload libasan for systemd-remount-fs.service
  test/test-functions
Labels: tests

#12526 Some trivial follow ups for the varlink PR
  coccinelle/sd_event_source_disable_unref.cocci
  man/rules/meson.build
  man/sd_event_source_unref.xml
  src/core/service.c
  src/import/curl-util.c
  src/journal/journal-file.c
  src/journal/journalctl.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-event/sd-event.c
  src/shared/varlink.c
  src/systemd/sd-event.h
  src/test/test-alloc-util.c
Labels: good-to-merge/waiting-for-ci 👍, journal, sd-event, tests

#12520 networkd: Geneve add DF feature and allow TTL to bechosen by kernel
  man/systemd.netdev.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/netdev/geneve.c
  src/network/netdev/geneve.h
  src/network/netdev/netdev-gperf.gperf
  test/fuzz/fuzz-netdev-parser/directives.netdev
Labels: ci-failure-appears-unrelated, network

#12530 networkd: VXLAN support keyword 'inherit' for TTL
  man/systemd.netdev.xml
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/vxlan.c
  src/network/netdev/vxlan.h
Labels: good-to-merge/waiting-for-ci 👍, network

#12518 Document our naming schemes properly
  man/rules/meson.build
  man/sd_bus_set_description.xml
  man/sd_bus_slot_set_description.xml
  man/systemd-udevd.service.xml
  man/systemd.link.xml
  man/systemd.net-naming-scheme.xml
  src/udev/net/naming-scheme.h
  src/udev/udev-builtin-net_id.c
Labels: documentation 📖, udev

#12540 networkd: Geneve add support for keyword inherit for TTL
  man/systemd.netdev.xml
  src/network/netdev/geneve.c
  src/network/netdev/geneve.h
  src/network/netdev/netdev-gperf.gperf
Labels: network

#12516 networkd: split networkd-link.c
  src/network/meson.build
  src/network/netdev/bond.c
  src/network/netdev/bond.h
  src/network/netdev/bridge.c
  src/network/netdev/bridge.h
  src/network/netdev/netdev.c
  src/network/netdev/wireguard.c
  src/network/networkd-can.c
  src/network/networkd-can.h
  src/network/networkd-dhcp4.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-lldp-rx.c
  src/network/networkd-lldp-rx.h
  src/network/networkd-lldp-tx.c
  src/network/networkd-lldp-tx.h
  src/network/networkd-ndisc.c
  src/network/networkd-network.c
  src/network/networkd-network.h
Labels: network

#12524 journal: inject UB to see how it goes
  azure-pipelines.yml
  test/test-functions
  travis-ci/managers/xenial.sh
Labels: tests

#12546 Hwdb logitech s510
  hwdb/60-keyboard.hwdb
Labels: hwdb

#12553 man: mention garbage collection of failed conditions
  man/systemd.unit.xml
Labels: documentation 📖, pid1

#12543 tmpfiles: do not create /run/nologin if PAM is disabled
  tmpfiles.d/meson.build
Labels: build-system, tmpfiles

#12557 Travis: move the Xenial phase to Azure Pipelines
  .travis.yml
Labels: tests

#12537 network: do not send ipv6 token to kernel
  src/network/networkd-link.c
  test/test-network/conf/dhcp-client-ipv6-only.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#12503 networkd: bridge FDB support more NTF_* flags
  man/systemd.network.xml
  src/network/networkd-fdb.c
  src/network/networkd-fdb.h
  src/network/networkd-network-gperf.gperf
  test/fuzz/fuzz-network-parser/directives.network
Labels: network, reviewed/needs-rework 🔨

#12472 networkd: DHCP client add support to send RELEASE packet
  man/systemd.network.xml
  src/libsystemd-network/sd-dhcp-client.c
  src/network/networkd-dhcp4.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
  src/systemd/sd-dhcp-client.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: network

#12555 networkd: route add support to configure fastopen_no_cookie
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-route.c
  src/network/networkd-route.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: good-to-merge/waiting-for-ci 👍, network

#12536 random-util: eat up bad RDRAND values seen on AMD CPUs
  src/basic/random-util.c
Labels: util-lib

#12562 tests: set NSPAWN_TIMEOUT and QEMU_TIMEOUT explicitly
  travis-ci/managers/xenial.sh
Labels: good-to-merge/waiting-for-ci 👍

#12560 networkd: do not generate MAC for bridge device.
  src/network/netdev/netdev.c
Labels: network

#12566 ask-password: prevent buffer overrow when reading from keyring
  src/shared/ask-password-api.c
Labels: ask-password, good-to-merge/waiting-for-ci 👍

#12565 systemd-sleep: Fix typos in log messages
  src/shared/sleep-config.c
  src/sleep/sleep.c
Labels: good-to-merge/waiting-for-ci 👍, sleep

#12559 man: emphasize that journal does not validate syslog fields
  man/systemd.journal-fields.xml
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍

#12575 analyze: fix help message
  src/analyze/analyze.c
Labels: analyze, good-to-merge/waiting-for-ci 👍

#12496 network: add DefaultRouteOnDevice= setting in [Network] section
  man/systemd.network.xml
  src/network/networkd-ipv4ll.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-route.c
  src/network/networkd-route.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-route-static.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#12578 networkd: introduce netdev ipvtap
  man/systemd.netdev.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-types.h
  src/network/netdev/ipvlan.c
  src/network/netdev/ipvlan.h
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  test/fuzz/fuzz-netdev-parser/directives.netdev
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-ipvtap.netdev
  test/test-network/conf/ipvtap.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#12576 networkd: FOU tunnel support Local and Peer tunnel addresses
  man/systemd.netdev.xml
  src/basic/linux/README
  src/basic/linux/btrfs.h
  src/basic/linux/btrfs_tree.h
  src/basic/linux/fou.h
  src/basic/linux/if.h
  src/basic/linux/if_bonding.h
  src/basic/linux/if_ether.h
  src/basic/linux/if_link.h
  src/basic/linux/if_tun.h
  src/basic/linux/in.h
  src/basic/linux/in6.h
  src/basic/linux/update.sh
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/netdev/fou-tunnel.c
  src/network/netdev/fou-tunnel.h
  src/network/netdev/netdev-gperf.gperf
  test/fuzz/fuzz-netdev-parser/directives.netdev
Labels: good-to-merge/waiting-for-ci 👍, network

#12549 network: disable LinkLocalAddressing on sit devices
  src/network/networkd-link.c
  src/network/wait-online/manager.c
  test/test-network/conf/25-tunnel-local-any.network
  test/test-network/conf/25-tunnel-remote-any.network
  test/test-network/conf/25-tunnel.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#12548 network: do not use ordered_set_printf() for DOMAINS= or ROUTE_DOMAINS=
  src/network/networkd-link.c
Labels: network

#12574 network: do not always bump MTU with additional 4bytes
  src/network/networkd-dhcp4.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/test-network/systemd-networkd-tests.py
Labels: network

#12378 VT kbd reset check
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/vconsole/vconsole-setup.c
Labels: login, reviewed/needs-rework 🔨, util-lib, vconsole

#12584 varlink: initialize Varlink with 0
  src/shared/varlink.c
  test/fuzz/fuzz-varlink/oss-fuzz-14688
Labels: util-lib

#12581 journalctl: return a non-zero EC when --grep returns no matches
  src/journal/journalctl.c
Labels: journal

#12589 tests: make docker-run and helper.py happy by not using colons in fil…
  travis-ci/managers/fuzzbuzz.sh
Labels: good-to-merge/waiting-for-ci 👍

#12564 random-util: add a longer comment explaining our RDRAND use
  src/basic/random-util.c
Labels: util-lib

#12556 docs: add comment about high 32bit range and signed uids
  docs/UIDS-GIDS.md
Labels: documentation 📖

#12535 redefine how we select the ANSI color grey
  src/basic/terminal-util.h
  src/journal/journal-verify.c
  src/test/test-terminal-util.c
Labels: util-lib

#12515 travis: make sure the fuzzers can be built in "local" mode
  README.md
  meson.build
  tools/oss-fuzz.sh
  travis-ci/managers/fuzzbuzz.sh
Labels: build-system, ci, fuzzing

#12497 udevd: change the default value of udev.children-max (again)
  src/udev/udevd.c
Labels: udev

#12569 meson: stop creating .wants directories for {multi-user,getty}.target
  src/core/meson.build
Labels: meson

#12599 shared/varlink: add missing setting of output_buffer_allocated
  src/shared/varlink.c
  test/fuzz/fuzz-varlink/oss-fuzz-14708
Labels: fuzzing, priority

#12585 networkd: FOU netdev add support to configure peer port
  man/systemd.netdev.xml
  src/network/netdev/fou-tunnel.c
  src/network/netdev/fou-tunnel.h
  src/network/netdev/netdev-gperf.gperf
  test/fuzz/fuzz-netdev-parser/directives.netdev
Labels: network, reviewed/needs-rework 🔨

#12593 Small changes from Yocto/musl builds
  src/basic/fs-util.h
  src/basic/socket-util.h
  src/journal-remote/journal-remote-main.c
  src/shutdown/shutdown.c
  src/udev/udev-event.c
Labels: good-to-merge/waiting-for-ci 👍, tree-wide

#12586 Route properties
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-route.c
  src/network/networkd-route.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: network, reviewed/needs-rework 🔨

#12577 test-network: fix test_bond_operstate
  src/network/networkd-link.c
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network, tests

#12583 tests: catch broken fuzz targets as early as possible
  travis-ci/managers/fuzzbuzz.sh
Labels: good-to-merge/waiting-for-ci 👍

#12610 efivars: allow plus in the entry name
  src/shared/efivars.c
Labels: boot

#12603 networkd: Ability to selectively ignore IPv6 prefixes supplied via ro…
  man/systemd.network.xml
  src/basic/in-addr-util.c
  src/basic/in-addr-util.h
  src/network/networkd-manager.c
  src/network/networkd-ndisc.c
  src/network/networkd-ndisc.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: good-to-merge/waiting-for-ci 👍, network

#12602 Two man page tweaks
  man/systemd.mount.xml
  man/systemd.unit.xml
Labels: documentation 📖

#12622 small fixes: make get_process_state() static and fix typo
  src/basic/process-util.c
  src/basic/process-util.h
  src/core/manager.c
Labels: cosmetic, good-to-merge/waiting-for-ci 👍, optimization, pid1, quick-review 🏃‍♂️

#12625 json: fix minor memory leak on error path
  src/shared/json.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, util-lib

#12613 sysctl: bump pid range only on 64-bit systems
  sysctl.d/50-default.conf
  sysctl.d/50-pid-max.conf
  sysctl.d/meson.build
Labels: sysctl

#12612 Rename TEST-31-OOMPOLICY to avoid conflict and look in $BOOT for kernels
  man/bootctl.xml
  src/boot/bootctl.c
  test/TEST-32-OOMPOLICY/Makefile
  test/TEST-32-OOMPOLICY/test.sh
  test/TEST-32-OOMPOLICY/testsuite.sh
  test/test-functions
Labels: boot, good-to-merge/with-minor-suggestions

#12627 man: systemd-nspawn: Update syntax to launch an image
  man/systemd-nspawn.xml
Labels: documentation 📖

#12529 meson-vcs-tag: enhance show version info
  tools/meson-vcs-tag.sh
Labels: good-to-merge/waiting-for-ci 👍, meson

#12519 Build man pages on demand only
  man/html.in
  man/man.in
  man/meson.build
  meson.build
  meson_options.txt
  semaphoreci/semaphore-runner.sh
  travis-ci/managers/debian.sh
  travis-ci/managers/fedora.sh
  travis-ci/managers/xenial.sh
Labels: meson

#12510 test: run check-directives.sh as part of the test suite
  meson.build
  tools/check-directives.sh
  travis-ci/managers/debian.sh
  travis-ci/managers/fedora.sh
  travis-ci/managers/xenial.sh
  travis-ci/requirements.txt
Labels: tests

#12626 Make the check if oom-killer fired more robust
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/manager.c
  src/core/service.c
Labels: pid1

#12554 udev/scsi_id: fix incorrect page length when get device identification VPD page
  src/udev/scsi_id/scsi_serial.c
Labels: udev

#12632 button_open leak sd_event_source when udevadm trigger.
  src/login/logind-button.c
Labels: ci-failure-appears-unrelated, login

#12633 networkctl: add support to display Transmit/Recieve queue length
  src/network/networkctl.c
Labels: good-to-merge/waiting-for-ci 👍, network

#12630 loop-util: invoke LOOP_CTL_GET_FREE in a loop
  src/shared/loop-util.c
Labels: util-lib

#12637 login: use _cleanup_ to simplify error handling
  src/login/logind-button.c
Labels: good-to-merge/waiting-for-ci 👍, login

#12431 tmpfiles: run chown() before chmod()
  src/tmpfiles/tmpfiles.c
  test/TEST-22-TMPFILES/test-09.sh
  test/test-functions
Labels: tmpfiles

#12631 Doc and error message tweaks
  man/sd_bus_request_name.xml
  man/systemd-tmpfiles.xml
  man/systemd.socket.xml
  man/systemd.unit.xml
  src/core/execute.c
  src/core/main.c
  src/core/namespace.c
  src/core/namespace.h
  src/libsystemd/sd-bus/bus-objects.c
  src/test/test-ns.c
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, pid1

#12647 test: Remove superfluous error check
  src/test/test-cgroup-mask.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, tests

#12649 login: fixup button_open() fd
  src/login/logind-button.c
Labels: login

#12618 network: several cleanups
  man/systemd.netdev.xml
  src/network/netdev/ipvlan.c
  src/network/netdev/ipvlan.h
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/tuntap.c
  src/network/netdev/tuntap.h
  src/network/networkd-can.c
  src/network/networkd-dhcp4.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  test/fuzz/fuzz-netdev-parser/directives.netdev
  test/test-network/conf/25-bond-balanced-tlb.netdev
  test/test-network/conf/25-ipvlan.netdev
  test/test-network/conf/25-ipvtap.netdev
  test/test-network/conf/25-tap.netdev
  test/test-network/conf/25-tun.netdev
  test/test-network/conf/netdev-link-local-addressing-yes.network
  test/test-network/systemd-networkd-tests.py
Labels: network, tests

#12641 shared/machine-image: avoid passing NULL to log_debug_errno
  src/shared/machine-image.c
Labels: dissect

#12645 journald: output a proper error message when the journal is used on f…
  src/journal/journal-file.c
  src/journal/journald-server.c
Labels: journal, quick-review 🏃‍♂️

#12590 Use unicode for cmdline printing
  TODO
  src/basic/env-util.c
  src/basic/env-util.h
  src/basic/escape.c
  src/basic/escape.h
  src/basic/proc-cmdline.c
  src/basic/process-util.c
  src/basic/process-util.h
  src/basic/string-util.h
  src/basic/utf8.c
  src/basic/utf8.h
  src/cgtop/cgtop.c
  src/core/dbus-unit.c
  src/coredump/coredump.c
  src/journal/journald-context.c
  src/shared/cgroup-show.c
  src/shared/cgroup-show.h
  src/test/test-escape.c
  src/test/test-process-util.c
  src/test/test-utf8.c
  test/TEST-13-NSPAWN-SMOKE/test.sh
Labels: cgls, pid1, systemctl, tests

#12601 Two log color adjustments
  src/basic/terminal-util.h
  src/shared/logs-show.c
Labels: util-lib

#12430 use SCMP_ACT_KILL_PROCESS for SystemCallFilters=
  NEWS
  src/core/execute.c
  src/nspawn/nspawn-oci.c
  src/shared/seccomp-util.c
  src/shared/seccomp-util.h
  src/test/test-execute.c
  src/test/test-seccomp.c
  test/test-execute/exec-systemcallfilter-failing.service
  test/test-execute/exec-systemcallfilter-failing2.service
  units/system-update-cleanup.service
Labels: pid1, seccomp, tests

#12658 machine-image: openat() doesn't operate on the cwd if the first argum…
  src/shared/machine-image.c
Labels: util-lib

#10171 meson: let's make unified cgroupsv2 the default
  NEWS
  meson_options.txt
Labels: build-system, good-to-merge/waiting-for-ci 👍

#12662 tran: update Chinese (Traditional) translation to the latest.
  po/zh_TW.po
Labels: l10n 🌍

#12665 hwdb: Add support for Linx 12V64
  hwdb/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb, squash-on-merge

#12663 test: improve handling of ASan under clang
  docs/CODE_QUALITY.md
  docs/TESTING_WITH_SANITIZERS.md
  test/test-functions
Labels: tests

#12677 test: correctly fail when system is borked
  test/TEST-01-BASIC/test.sh
Labels: tests

#12678 coredumpctl: fix --debugger option
  src/coredump/coredumpctl.c
Labels: coredump

#12674 bash-completion: update options for bootctl
  shell-completion/bash/bootctl
Labels: quick-review 🏃‍♂️, shell completion

#12669 udev: suppress warning when interface matches 99-default.link
  src/udev/net/link-config.c
Labels: udev

#12664 zsh-completion: fix completion for systemd-inhibit --what
  shell-completion/zsh/_systemd-inhibit
Labels: shell completion

#12653 network: fix configuring vxcan devices and several test-network follow-ups
  src/network/networkd-link.c
  test/test-network/conf/21-vlan.network
  test/test-network/conf/25-macsec.network
  test/test-network/conf/25-netdevsim.netdev
  test/test-network/conf/25-vxcan.netdev
  test/test-network/conf/macsec.network
  test/test-network/conf/netdev-link-local-addressing-yes.network
  test/test-network/conf/vxlan-test1.network
  test/test-network/conf/vxlan.network
  test/test-network/systemd-networkd-tests.py
Labels: network, tests

#12643 udev: fix error message
  src/udev/udev-node.c
Labels: quick-review 🏃‍♂️, udev

#12679 journal: do not trigger assertion when journal_file_close() get NULL
  src/journal/journal-file.c
  src/journal/journal-file.h
  src/journal/journald-server.c
Labels: journal

#12391 capability-util: be more careful with types
  src/basic/capability-util.c
Labels: quick-review 🏃‍♂️, util-lib

#12681 NEWS: add some entries
  NEWS
Labels: documentation 📖

#12682 rules: enable hardware-related targets also for user instances
  rules/99-systemd.rules.in
Labels: udev

#12597 Analyze timestamps
  man/systemd-analyze.xml
  man/systemd.time.xml
  src/analyze/analyze.c
  src/basic/time-util.c
  src/shared/calendarspec.c
Labels: analyze

#12392 generalize crypt_r() salt generation code
  src/basic/user-util.c
  src/basic/user-util.h
  src/firstboot/firstboot.c
Labels: firstboot, util-lib

#12390 fileio: add a WRITE_STRING_FILE_MKDIR_0755 flag to write_string_file() that creates parent directories if needed
  src/basic/fileio.c
  src/basic/fileio.h
  src/binfmt/binfmt.c
  src/firstboot/firstboot.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/nspawn/nspawn-cgroup.c
  src/rfkill/rfkill.c
Labels: tree-wide, util-lib

#12437 chmod_and_chown() rewrite
  src/basic/fs-util.c
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/basic/tmpfile-util.c
  src/core/chown-recursive.c
  src/core/execute.c
  src/random-seed/random-seed.c
  src/test/test-fs-util.c
  src/udev/udev-node.c
  src/udev/udev-rules.c
Labels: tests, util-lib

#12684 test: exit cleanly on success
  src/test/test-ask-password-api.c
Labels: quick-review 🏃‍♂️, tests

#12591 systemd-sleep: replace rtc wakealarm with CLOCK_BOOTTIME_ALARM s2h
  TODO
  src/shared/sleep-config.c
  src/sleep/sleep.c
Labels: good-to-merge/waiting-for-ci 👍, sleep

#12573 network: set preferred source in removing route entry on address lost
  src/network/networkd-dhcp4.c
  test/test-network/conf/dhcp-client-gateway-onlink-implicit.network
  test/test-network/systemd-networkd-tests.py
Labels: dhcp, good-to-merge/waiting-for-ci 👍, network

#12635 network: add nlmon support
  man/systemd.netdev.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-types.h
  src/network/meson.build
  src/network/netdev/bond.c
  src/network/netdev/dummy.c
  src/network/netdev/geneve.c
  src/network/netdev/ipvlan.c
  src/network/netdev/macsec.c
  src/network/netdev/macvlan.c
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/netdev/netdevsim.c
  src/network/netdev/nlmon.c
  src/network/netdev/nlmon.h
  src/network/netdev/tunnel.c
  src/network/netdev/vcan.c
  src/network/netdev/veth.c
  src/network/netdev/vrf.c
  src/network/netdev/vxcan.c
  src/network/netdev/vxlan.c
  src/network/netdev/wireguard.c
  src/network/networkd-link.c
  test/test-network/conf/25-nlmon.netdev
  test/test-network/conf/25-nlmon.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#12638 networkctl: add support to delete virtual netdevs
  man/networkctl.xml
  src/network/networkctl.c
Labels: good-to-merge/waiting-for-ci 👍, network

#12687 util: introduce parse_ifindex_or_ifname() and use it in networkctl and resolvectl
  src/basic/parse-util.c
  src/basic/parse-util.h
  src/network/networkctl.c
  src/resolve/resolvectl.c
Labels: good-to-merge/waiting-for-ci 👍, network, resolve, util-lib

#12689 man: add vrf section
  man/systemd.netdev.xml
Labels: documentation 📖

#12449 hwdb: Add support for Teclast F6 Pro base sensor
  hwdb/60-sensor.hwdb
  hwdb/parse_hwdb.py
Labels: hwdb

#12688 test-network: bump time limit for wait_address()
  test/test-network/systemd-networkd-tests.py
Labels: quick-review 🏃‍♂️, tests

#12691 hwdb: add axis range corrections for the Asus N53SV
  hwdb/60-evdev.hwdb
Labels: hwdb

#12690 test-network,man: trivial cleanups
  man/systemd.netdev.xml
  test/test-network/conf/25-nlmon.network
  test/test-network/conf/netdev-link-local-addressing-yes.network
  test/test-network/systemd-networkd-tests.py
Labels: documentation 📖, tests

#12617 test-bpf: skip test when run inside containers
  src/test/test-bpf.c
  travis-ci/managers/debian.sh
Labels: tests

#12697 tests: skip test-bpf only when we're 100% sure it's run in containers
  src/test/test-bpf.c
Labels: good-to-merge/waiting-for-ci 👍, tests

#12672 cryptsetup: Add dependencies for detached header
  src/cryptsetup/cryptsetup-generator.c
Labels: cryptsetup

#12694 Fix deadlock when using built-in pager
  src/shared/pager.c
Labels: util-lib

#12696 dhcp4: use memdup_suffix0() instead of strndup() for binary data
  src/libsystemd-network/sd-dhcp-lease.c
Labels: dhcp

#12646 networkctl: use Table
  src/basic/format-util.c
  src/basic/format-util.h
  src/basic/meson.build
  src/basic/socket-util.c
  src/machine/machinectl.c
  src/network/networkctl.c
  src/resolve/resolvectl.c
  src/resolve/resolved-dns-cache.c
  src/shared/format-table.c
  src/shared/format-table.h
  src/test/test-nss.c
Labels: network

#12695 nspawn: also support ifindex when specifying network interface
  src/nspawn/nspawn-network.c
Labels: nspawn

#12628 Rework cpu affinity parsing
  man/systemd-system.conf.xml
  man/systemd.exec.xml
  src/basic/process-util.c
  src/basic/process-util.h
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment.c
  src/core/main.c
  src/nspawn/nspawn-oci.c
  src/nspawn/nspawn-settings.c
  src/nspawn/nspawn-settings.h
  src/nspawn/nspawn.c
  src/shared/bus-unit-util.c
  src/shared/condition.c
  src/shared/cpu-set-util.c
  src/shared/cpu-set-util.h
  src/systemctl/systemctl.c
  src/test/test-condition.c
  src/test/test-cpu-set-util.c
  src/test/test-execute.c
  src/test/test-sizeof.c
Labels: pid1, tests

#12636 Cryptsetup: call crypt_load() once for LUKS and support LUKS2 tokens
  src/cryptsetup/cryptsetup.c
Labels: cryptsetup

#12393 bash-completion: correctly react to an unescaped unit name
  shell-completion/bash/journalctl
  shell-completion/bash/systemctl.in
Labels: shell completion

#12699 test-network: make path to networkd or friends configurable
  src/network/networkctl.c
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, tests

#12280 systemctl: process inactive units matched by a glob in the cat verb by default
  src/systemctl/systemctl.c
Labels: systemctl

#12705 Varlink json fix and two cleanups
  src/basic/memory-util.h
  src/journal/sd-journal.c
  src/network/netdev/macsec.c
  src/network/networkd-link.c
  src/shared/json.c
  src/shared/varlink.c
  src/test/test-json.c
  src/test/test-user-util.c
Labels: good-to-merge/waiting-for-ci 👍, tests, util-lib

#12706 networkctl: do not show zero maximum MTU
  src/network/networkctl.c
Labels: network

#12707 test-network: add --lsan-options option
  test/test-network/systemd-networkd-tests.py
Labels: ci-failure-appears-unrelated, tests

#12225 coredump: some coredump temp (like .#core.**) files could be lost
  tmpfiles.d/systemd-tmp.conf
Labels: coredump, good-to-merge/waiting-for-ci 👍

#12711 dbus-execute: make transfer of CPUAffinity endian safe
  src/core/dbus-execute.c
Labels: fix-commit-message-on-merge
