Repository systemd/systemd, pull requests merged in 2019-01, with the labels that each got.

#11297 ask-password: fix assertion
  src/shared/ask-password-api.c
  src/shared/ask-password-api.h
Labels: ask-password

#11291 meson: check whether C.UTF-8 exists or not and use it if exists
  meson.build
  meson_options.txt
  src/core/locale-setup.c
  tools/choose-default-locale.sh
Labels: locale, meson

#11313 Docs: Add Missing Space Between Words
  man/systemd.exec.xml
Labels: documentation 📖

#11315 cgroup: s/cgroups? ?v?([0-9])/cgroup v\1/gI
  NEWS
  TODO
  docs/CGROUP_DELEGATION.md
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/cgtop/cgtop.c
  src/core/cgroup.c
  src/core/execute.c
  src/core/unit.h
  src/journal/journald-context.c
  test/TEST-19-DELEGATE/testsuite.sh
Labels: cgroups, documentation 📖, quick-review 🏃‍♂️

#11316 man: update color of journal logs in DEBUG level
  man/journalctl.xml
Labels: documentation 📖

#11230 Generate version string from git describe (alternative approach)
  meson.build
  meson_options.txt
  src/analyze/analyze.c
  src/basic/build.h
  src/basic/meson.build
  src/basic/util.c
  src/basic/version.h.in
  src/boot/efi/boot.c
  src/boot/efi/meson.build
  src/boot/efi/stub.c
  src/core/dbus-manager.c
  src/core/main.c
  src/core/meson.build
  src/core/systemd.pc.in
  src/import/curl-util.c
  src/journal-remote/journal-upload.c
  src/libsystemd/libsystemd.pc.in
  src/libsystemd/meson.build
  src/libsystemd/sd-hwdb/hwdb-util.c
  src/libudev/libudev.pc.in
  src/libudev/meson.build
  src/test/test-libudev.c
  src/test/test-path-util.c
  src/test/test-udev.c
  src/udev/meson.build
  src/udev/scsi_id/scsi_id.c
  src/udev/udev-ctrl.c
  src/udev/udev.pc.in
  src/udev/udevadm.h
  src/udev/udevd.c
  tools/meson-vcs-tag.sh
Labels: good-to-merge/waiting-for-ci 👍, meson

#11242 test-json: check absolute and relative difference in floating point test
  src/test/test-json.c
Labels: tests

#11312 sleep: install default sleep.conf
  meson.build
  src/sleep/sleep.conf
Labels: meson, sleep

#11309 po: update Italian translation
  po/it.po
Labels: l10n 🌍

#11275 hwdb: Add Lenovo IdeaPad D330 accel mount matrix
  hwdb/60-sensor.hwdb
Labels: hwdb

#11273 zsh/coredumpctl: additional completions
  shell-completion/zsh/_coredumpctl
Labels: shell completion

#11268 Pass seperate dev_t var to device_path_parse_major_minor
  src/core/cgroup.c
Labels: pid1

#11265 libudev-util: make util_replace_whitespace() read only len characters
  src/libudev/libudev-util.c
  src/test/test-libudev.c
Labels: udev

#11250 dhcp,network: trivial coding style fixes
  src/libsystemd-network/sd-dhcp-client.c
  src/network/networkd-dhcp4.c
Labels: dhcp, network

#11317 Improvements to systemd.io generation
  docs/AUTOMATIC_BOOT_ASSESSMENT.md
  docs/BLOCK_DEVICE_LOCKING.md
  docs/BOOT_LOADER_INTERFACE.md
  docs/BOOT_LOADER_SPECIFICATION.md
  docs/CGROUP_DELEGATION.md
  docs/CODE_OF_CONDUCT.md
  docs/CODE_QUALITY.md
  docs/CODING_STYLE.md
  docs/CONTRIBUTING.md
  docs/DISTRO_PORTING.md
  docs/ENVIRONMENT.md
  docs/HACKING.md
  docs/PORTABLE_SERVICES.md
  docs/PREDICTABLE_INTERFACE_NAMES.md
  docs/RELEASE.md
  docs/TRANSIENT-SETTINGS.md
  docs/TRANSLATORS.md
  docs/UIDS-GIDS.md
  docs/index.md
  meson.build
  tools/make-index-md.sh
Labels: documentation 📖

#11334 Disable tools/choose-default-locale.sh when cross compiling
  meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#11337 meson: declare version.h as dep for libbasic
  meson.build
  src/basic/meson.build
Labels: meson

#11339 man: systemctl: document effect of --all on journal output
  man/systemctl.xml
Labels: documentation 📖, systemctl

#11241 lldp: add 802.3 OUI subtype definitions
  src/libsystemd-network/test-lldp.c
  src/systemd/sd-lldp.h
Labels: lldp, network

#11252 travis: run PID1, journald and everything else under ASan+UBsan
  .travis.yml
  src/core/main.c
  src/journal/journald-context.c
  src/test/test-bpf.c
  test/TEST-01-BASIC/test.sh
  test/test-functions
  travis-ci/managers/debian.sh
  travis-ci/managers/xenial.sh
Labels: ci, journal, pid1, tests

#11327 Revert "pam_systemd: drop setting DBUS_SESSION_BUS_ADDRESS"
  README
  src/login/pam_systemd.c
Labels: good-to-merge/waiting-for-ci 👍, login

#11347 udev: rework how we handle the return value from spawned programs
  src/udev/udev-event.c
  src/udev/udev-rules.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#11356 NEWS: also mention that clock file for timesyncd may need to move
  NEWS
Labels: documentation 📖

#11346 udevadm: ignoring request when run in chroot
  src/udev/udevadm-control.c
  src/udev/udevadm-monitor.c
  src/udev/udevadm-settle.c
  src/udev/udevadm-trigger.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#11344 multiple trivial fixlets, across the tree
  src/basic/btrfs-util.h
  src/basic/cgroup-util.h
  src/basic/env-util.h
  src/basic/extract-word.h
  src/basic/stat-util.c
  src/basic/unit-name.h
  src/fsck/fsck.c
  src/libsystemd/sd-bus/bus-dump.h
  src/libsystemd/sd-bus/bus-protocol.h
  src/login/logind-inhibit.h
  src/resolve/resolved-dns-answer.h
  src/shared/json.c
  src/shared/json.h
  src/shared/loop-util.c
Labels: quick-review 🏃‍♂️, util-lib

#11336 systemd-cat: add --stderr-priority option
  man/systemd-cat.xml
  src/journal/cat.c
Labels: good-to-merge/waiting-for-ci 👍

#11304 Unchain not related mice in 70-mouse.hwdb
  hwdb/70-mouse.hwdb
Labels: hwdb

#11352 core/socket: logs address or path which fails to be initialized
  src/core/socket.c
Labels: good-to-merge/with-minor-suggestions, pid1

#11355 conf-parse: accept whitespaces before comments
  src/shared/conf-parser.c
  src/test/test-conf-parser.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#11358 Add Teclast X80 PLUS (H5C5) accel mount matrix
  hwdb/60-sensor.hwdb
Labels: hwdb

#11262 zsh completion: Prevent functions from clobbering each other, &c.
  shell-completion/zsh/_bootctl
  shell-completion/zsh/_busctl
  shell-completion/zsh/_coredumpctl
  shell-completion/zsh/_hostnamectl
  shell-completion/zsh/_journalctl
  shell-completion/zsh/_kernel-install
  shell-completion/zsh/_localectl
  shell-completion/zsh/_loginctl
  shell-completion/zsh/_machinectl
  shell-completion/zsh/_networkctl
  shell-completion/zsh/_sd_machines
  shell-completion/zsh/_systemctl.in
  shell-completion/zsh/_systemd-analyze
  shell-completion/zsh/_systemd-delta
  shell-completion/zsh/_systemd-inhibit
  shell-completion/zsh/_systemd-nspawn
  shell-completion/zsh/_systemd-resolve
  shell-completion/zsh/_systemd-run
  shell-completion/zsh/_udevadm
Labels: shell completion

#11363 udev-node: make link_find_prioritized() return negative value when nothing found
  src/udev/udev-node.c
Labels: quick-review 🏃‍♂️, udev

#11364 core/mount: make mount_setup_existing_unit() not drop MOUNT_PROC_JUST_MOUNTED flag from units
  src/core/mount.c
Labels: pid1

#11374 Journal/journal-remote/coredump fixes
  src/basic/io-util.c
  src/basic/io-util.h
  src/basic/process-util.c
  src/coredump/coredump.c
  src/journal-remote/journal-gatewayd.c
  src/journal-remote/journal-remote-main.c
  src/journal-remote/journal-remote.c
  src/journal-remote/microhttpd-util.c
  src/journal-remote/microhttpd-util.h
  src/journal/journald-native.c
  src/journal/journald-server.c
  src/shared/journal-importer.c
  src/shared/journal-importer.h
Labels: coredump, journal, journal-remote

#11376 udev: initialize sockets before fork()
  src/udev/udevd.c
Labels: udev

#11323 nss: prevent PROTECT_ERRNO from squashing changes to *errnop
  src/basic/util.h
  src/nss-myhostname/nss-myhostname.c
  src/nss-mymachines/nss-mymachines.c
  src/nss-resolve/nss-resolve.c
  src/nss-systemd/nss-systemd.c
  src/test/test-fs-util.c
  src/test/test-util.c
Labels: nss

#11367 pam_systemd: reword message about not creating a session
  src/login/pam_systemd.c
Labels: login

#11379 Revert "logind: become the controlling terminal process before restor…
  src/login/logind-session.c
Labels: ci-failure-appears-unrelated, login

#11380 meson: stop setting -fPIE globally
  meson.build
Labels: ci-failure-appears-unrelated, meson

#11383 docs: note that udev doesn't deal with binary attribute values
  man/udev_device_has_tag.xml
Labels: documentation 📖

#11400 Fix build with older kernels
  meson.build
  src/basic/capability-util.c
  src/basic/missing_if_link.h
  src/basic/missing_syscall.h
  src/basic/tmpfile-util.c
  src/shared/lockfile-util.c
  src/test/test-capability.c
  src/test/test-execute.c
Labels: good-to-merge/waiting-for-ci 👍, tree-wide

#11389 Set systemd-udevd monitor buffer size to 128MB
  src/libsystemd/sd-device/device-monitor.c
Labels: sd-device, udev

#11196 udev: tiny cleanups
  src/udev/udevd.c
Labels: udev

#11393 test: drop service masking in TEST-01-BASIC
  test/TEST-01-BASIC/test.sh
  test/test-functions
Labels: tests

#11409 udev: update logs
  src/udev/udev-builtin-blkid.c
  src/udev/udev-builtin-btrfs.c
  src/udev/udev-builtin-hwdb.c
  src/udev/udev-builtin-keyboard.c
  src/udev/udev-builtin-net_setup_link.c
  src/udev/udev-node.c
Labels: quick-review 🏃‍♂️, udev

#11407 man: fix reference
  man/sd_event_wait.xml
Labels: documentation 📖, quick-review 🏃‍♂️

#11417 udevadm: fix segfault
  src/udev/udevadm-monitor.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, udev

#11426 Remove 'inline' attributes from functions in .c files
  src/basic/hashmap.c
  src/basic/siphash24.c
  src/basic/user-util.c
  src/boot/efi/linux.c
  src/core/automount.c
  src/core/dbus-socket.c
  src/coredump/coredump.c
  src/journal-remote/journal-upload-journal.c
  src/journal-remote/microhttpd-util.c
  src/journal/mmap-cache.c
  src/libsystemd/sd-bus/bus-match.c
  src/libsystemd/sd-login/sd-login.c
  src/libsystemd/sd-network/sd-network.c
  src/libudev/libudev-list.c
  src/network/networkd-brvlan.c
  src/resolve/resolved-etc-hosts.c
  src/shared/bus-unit-util.c
  src/shared/install.c
  src/udev/udev-builtin-input_id.c
  src/udev/udev-builtin-keyboard.c
  src/udev/udev-rules.c
Labels: good-to-merge/waiting-for-ci 👍, tree-wide

#11429 udev: do logging before setting variables to NULL
  src/udev/udev-rules.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, udev

#11412 network: make Link and NetDev always have the valid poiter to Manager
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/netdev/wireguard.c
  src/network/networkd-link.c
Labels: network

#11345 tmpfiles: Make C still copy if the destination directory is empty
  man/tmpfiles.d.xml
  src/basic/copy.c
  src/basic/copy.h
  src/basic/stat-util.c
  src/basic/stat-util.h
  src/tmpfiles/tmpfiles.c
  test/TEST-22-TMPFILES/test-02.sh
Labels: tmpfiles

#11418 network: fix infinite loop in setting up wireguard
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/netdev/wireguard.c
  test/test-network/conf/25-wireguard-23-peers.netdev
  test/test-network/conf/25-wireguard-23-peers.network
  test/test-network/systemd-networkd-tests.py
Labels: network, sd-netlink

#11439 Fix small omission in docs
  man/sd_id128_get_machine.xml
Labels: documentation 📖

#11442 Enable regular file and FIFO protection
  NEWS
  sysctl.d/50-default.conf
Labels: good-to-merge/waiting-for-ci 👍, sysctl

#11435 Log the job being merged into an installed job
  src/core/job.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#11446 man: Fix a typo in systemd.exec.xml
  man/systemd.exec.xml
Labels: documentation 📖

#11445 seccomp: drop mincore() from @system-service syscall filter group
  NEWS
  src/shared/seccomp-util.c
Labels: seccomp

#11441 FOREACH_STRING() rework
  src/basic/strv.h
  src/nspawn/nspawn.c
  src/systemctl/systemctl.c
  src/test/test-execute.c
Labels: util-lib

#11437 ethtool: Make sure advertise is actually set when autonegotiation is used
  man/systemd.link.xml
  src/udev/net/ethtool-util.c
Labels: network

#11451 Fix invalid failaction parsing
  src/core/dbus-unit.c
Labels: pid1

#11406 hwdb: Add Huawei section and remap keys
  hwdb/60-keyboard.hwdb
Labels: hwdb, squash-on-merge

#11463 tools/choose-default-locale.sh: set shebang to /bin/sh
  tools/choose-default-locale.sh
Labels: build-system, good-to-merge/waiting-for-ci 👍

#11375 network: Fix IPv6 PreferredSource routes
  src/network/networkd-link.c
  src/network/networkd-link.h
  test/test-network/conf/25-route-ipv6-src.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#11378 Export dbus address conditionally
  src/login/pam_systemd.c
Labels: login

#11471 tree-wide: fix some trailing whitespace
  man/systemd.xml
  src/core/job.c
Labels: tree-wide

#11449 Make udev link re-renaming conditional
  NEWS
  man/systemd.link.xml
  network/99-default.link
  src/libsystemd-network/dhcp-identifier.c
  src/udev/meson.build
  src/udev/net/link-config.c
  src/udev/net/link-config.h
  src/udev/net/naming-scheme.c
  src/udev/net/naming-scheme.h
  src/udev/udev-builtin-net_id.c
  src/udev/udev-builtin.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#11465 flush+close bus connections explicitly when our daemons go down
  man/sd_bus_new.xml
  src/busctl/busctl.c
  src/core/dbus.c
  src/initctl/initctl.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-bus/sd-bus.c
  src/login/logind.c
  src/login/user-runtime-dir.c
  src/machine/machine-dbus.c
  src/machine/machined.c
  src/network/networkd-manager.c
  src/portable/portabled.c
  src/resolve/resolved-manager.c
  src/shared/bus-util.c
  src/stdio-bridge/stdio-bridge.c
  src/systemd/sd-bus.h
  src/timesync/timesyncd-manager.c
Labels: good-to-merge/waiting-for-ci 👍, network, sd-bus, tree-wide

#11475 add hwdb rule for Bangho touchpad
  hwdb/60-evdev.hwdb
Labels: hwdb, squash-on-merge

#11469 Add multiple initrd file support to kernel-install
  man/kernel-install.xml
  src/kernel-install/90-loaderentry.install
  src/kernel-install/kernel-install
Labels: good-to-merge/waiting-for-ci 👍, kernel-install

#11427 util-lib: follow shell syntax for escape in quotes
  src/basic/env-file.c
  src/boot/efi/boot.c
  src/shared/logs-show.c
  src/shared/xml.c
  src/test/test-fileio.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#11467 Change job mode of manager triggered restarts to JOB_REPLACE
  src/core/service.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#11450 Drop unused NOLEGACY define
  src/basic/env-util.c
  src/basic/user-util.c
Labels: good-to-merge/waiting-for-ci 👍, meson

#11477 sd-event: introduce event_free_signal_data()
  src/libsystemd/sd-event/sd-event.c
Labels: sd-event

#11481 NEWS: retroactively describe .include deprecation
  NEWS
Labels: documentation 📖

#11349 Add 'udevadm control --ping'
  man/udevadm.xml
  shell-completion/bash/udevadm
  src/udev/udev-ctrl.c
  src/udev/udev-ctrl.h
  src/udev/udevadm-control.c
  src/udev/udevadm-info.c
  src/udev/udevadm-settle.c
  src/udev/udevadm-trigger.c
  src/udev/udevadm.c
  src/udev/udevd.c
Labels: udev

#11424 timedate: refuse setting time when unit is in 'activating' or friends
  src/timedate/timedated.c
Labels: timedate

#11508 Revert "hwdb: Fix secondary backslash on MSI GS65 laptop"
  hwdb/60-keyboard.hwdb
Labels: hwdb

#11491 meson: bump timeout for test-udev to 180s
  test/meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson, tests

#11488 NEWS: add section about backslashes in EnvironmentFile
  NEWS
Labels: documentation 📖

#11489 test: mark plymouth as optional dependency
  test/test-functions
Labels: tests

#11490 Document weaknesses with MDWE and suggest hardening
  man/systemd.exec.xml
Labels: documentation 📖

#11470 Enable some more debug logging for transaction building
  src/core/transaction.c
Labels: pid1

#11504 test-process-util: do not assume PID 1 has UID=0
  src/test/test-process-util.c
Labels: good-to-merge/waiting-for-ci 👍, tests

#11455 man: mention that 'udevadm control --exit' restarts systemd-udevd.service
  man/udevadm.xml
Labels: documentation 📖

#11493 network: unset Network::manager when loading .network file fails
  src/network/networkd-network.c
Labels: network

#11494 wait-online: do not fail if we receive invalid messages
  src/network/wait-online/manager.c
Labels: network

#11515 man: document db_persist udev rules OPTION
  man/udev.xml
Labels: documentation 📖, udev

#11520 man: udevadm: clarify the behavior when multiple matching rules are specified
  man/udevadm.xml
Labels: documentation 📖, udev

#11485 resolved: make sure single-label lookups are bound preferable to unic…
  src/resolve/resolved-dns-scope.c
Labels: resolve

#11448 RLIMIT_MEMLOCK fixes
  src/basic/fd-util.c
  src/core/execute.c
  src/core/main.c
Labels: pid1

#11523 hwdb: update
  hwdb/20-OUI.hwdb
  hwdb/20-acpi-vendor.hwdb
  hwdb/20-acpi-vendor.hwdb.patch
  hwdb/20-pci-vendor-model.hwdb
  hwdb/20-sdio-classes.hwdb
  hwdb/20-sdio-vendor-model.hwdb
  hwdb/20-usb-vendor-model.hwdb
  hwdb/acpi_id_registry.html
  hwdb/ma-large.txt
  hwdb/ma-medium.txt
  hwdb/ma-small.txt
  hwdb/pci.ids
  hwdb/pnp_id_registry.html
  hwdb/usb.ids
Labels: hwdb

#11518 Fixes #11128
  src/core/execute.c
Labels: pid1

#11501 sd-device: do not save e.g., DEVPATH or INTERFACE properties to udev database
  src/core/device.c
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/sd-device.c
Labels: udev

#11514 meson: make version a dependency and use it in libbasic
  meson.build
  src/basic/meson.build
  src/version/version.h.in
Labels: meson

#11536 sd-device-monitor: use SO_DETACH_FILTER to remove BPF program
  src/libsystemd/sd-device/device-monitor.c
  src/libsystemd/sd-device/test-sd-device-monitor.c
Labels: sd-device, tests

#11543 test-bpf: check if we can mlock() before trying bpf
  src/test/test-bpf.c
Labels: ci-failure-appears-unrelated, tests

#11549 timesyncd: Improve sync log message
  src/timesync/timesyncd-manager.c
Labels: timesync

#11547 network: trivial fix and cleanup
  src/network/netdev/bridge.c
  src/network/networkd-link.c
  src/network/networkd-link.h
Labels: network, quick-review 🏃‍♂️

#11550 Update 60-sensor.hwdb
  hwdb/60-sensor.hwdb
Labels: hwdb

#11527 process-util: don't use overly large buffer to store process command line
  src/basic/process-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#11564 nspawn: ignore SIGPIPE for nspawn itself
  src/nspawn/nspawn.c
Labels: good-to-merge/waiting-for-ci 👍, nspawn

#11563 units: drop conditionalization of systemd-tmpfiles-setup-dev.service
  units/systemd-tmpfiles-setup-dev.service.in
Labels: good-to-merge/waiting-for-ci 👍, tmpfiles, units

#11545 test-functions: fixup PPC64 testing
  test/test-functions
Labels: good-to-merge/waiting-for-ci 👍, tests

#11530 Journal cache trimming
  src/basic/prioq.c
  src/basic/prioq.h
  src/basic/procfs-util.c
  src/basic/procfs-util.h
  src/cgtop/cgtop.c
  src/core/cgroup.c
  src/journal/journald-context.c
  src/journal/journald-server.h
  src/test/test-prioq.c
  src/test/test-procfs-util.c
Labels: good-to-merge/waiting-for-ci 👍, journal

#11466 pid1: fix cleanup of stale implicit deps based on /proc/self/mountinfo
  src/core/mount.c
Labels: pid1

#11562 core/mount: do not add Before=local-fs.target or remote-fs.target if nofail mount option is set
  man/systemd.mount.xml
  src/core/mount.c
Labels: pid1

#11387 Bump numbers for v241
  meson.build
Labels: build-system

#11460 network: update address when static address was already configured by DHCP
  src/network/networkd-link.c
  test/test-network/systemd-networkd-tests.py
Labels: network

#11513 improve cryptsetup messaging
  src/cryptsetup/cryptsetup.c
Labels: cryptsetup

#11570 kernel-install: fix dracut initrd detection (240 backward compatibility)
  src/kernel-install/90-loaderentry.install
  src/kernel-install/kernel-install
Labels: kernel-install

#11566 add a safety size assert() on most alloca() calls
  src/basic/alloc-util.h
  src/basic/path-util.h
  src/basic/process-util.h
  src/basic/string-util.h
  src/journal/audit-type.h
  src/journal/journal-send.c
  src/journal/journald-audit.c
  src/libsystemd-network/network-internal.c
  src/libsystemd/sd-bus/bus-objects.c
  src/libsystemd/sd-bus/bus-socket.c
  src/network/netdev/netdev.c
  src/nspawn/nspawn-network.c
  src/resolve/resolved-dns-dnssec.c
  src/tmpfiles/tmpfiles.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#11567 test-barrier: skip the test in virtualized/containerized environments
  src/test/test-barrier.c
Labels: good-to-merge/waiting-for-ci 👍, tests

#11580 network/wireguard: fix sending wireguard peers
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-types.h
  src/network/netdev/wireguard.c
  src/systemd/sd-netlink.h
  test/test-network/conf/25-wireguard.netdev
  test/test-network/systemd-networkd-tests.py
Labels: network, sd-netlink

#11569 util-lib: warn if address is specified without prefix length
  src/basic/in-addr-util.c
  src/basic/in-addr-util.h
  src/network/networkd-address.c
  src/test/test-in-addr-util.c
  test/test-network/conf/24-search-domain.network
  test/test-network/conf/dhcp-server-veth-peer.network
  test/test-network/conf/dhcp-v4-server-veth-peer.network
Labels: network, util-lib

#11582 travis: switch to the "official" systemd-ci repository
  travis-ci/managers/xenial.sh
Labels: ci

#11592 tests: ignore memory leaks in dbus-daemon and also crash PID1 if UBSan is unhappy
  test/test-functions
Labels: tests

#11599 test-network: skip erspan test if not available
  test/test-network/systemd-networkd-tests.py
Labels: tests

#11606 Add Lenovo Yoga 500-14IBD, 80N4 GlidePoint Touchpad
  hwdb/60-evdev.hwdb
Labels: hwdb, squash-on-merge

#11605 pager: improve english a bit
  src/shared/pager.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib
