Repository systemd/systemd, pull requests merged in 2020-01, with the labels that each got.

#14434 network: bump netlink receive buffer size to 128M
  src/network/networkd-manager.c
  units/systemd-networkd.socket
Labels: network, units

#14460 tree-wide: yet another batch of coccinelle recommendations
  src/basic/memory-util.h
  src/basic/unit-name.c
  src/cryptsetup/cryptsetup.c
  src/libsystemd/sd-event/sd-event.c
Labels: cryptsetup, sd-event, util-lib

#14455 systemd-analyze: fixed typo in documentation
  man/systemd-analyze.xml
Labels: analyze, documentation 📖

#14450 Update Galician translations
  po/gl.po
Labels: l10n 🌍

#14449 hwdb: 60-sensor.hwdb Chuwi Hi10 CWI515 accelerometer orientation.
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#14441 Fix type.d drop-in ordering for #14439 - duplicate against master
  src/shared/dropin.c
  test/TEST-15-DROPIN/test-dropin.sh
Labels: pid1

#14446 systemd.exec: document the file system for EnvironmentFile paths
  man/systemd.exec.xml
Labels: documentation 📖

#14444 network: more CoDel settings
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/networkd-network-gperf.gperf
  src/network/tc/codel.c
  src/network/tc/codel.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-qdisc-fq-codel.network
  test/test-network/systemd-networkd-tests.py
Labels: network, tests

#14443 systemctl: skip non-existent units in the 'cat' verb
  src/systemctl/systemctl.c
Labels: systemctl

#14445 systemctl: show 'VENDOR PRESET' column in 'list-unit-files'
  TODO
  src/systemctl/systemctl.c
Labels: good-to-merge/with-minor-suggestions, systemctl

#13748 Add LCD menu key mappings for the Logitech MX5000 and MX5500
  hwdb.d/60-keyboard.hwdb
  hwdb.d/parse_hwdb.py
Labels: hwdb

#14467 nspawn: change how we truncate --network-veth names
  man/systemd-nspawn.xml
  man/systemd.net-naming-scheme.xml
  src/nspawn/nspawn-network.c
  src/shared/meson.build
  src/shared/netif-naming-scheme.c
  src/shared/netif-naming-scheme.h
  src/udev/meson.build
  src/udev/net/link-config.c
  src/udev/udev-builtin-net_id.c
Labels: good-to-merge/waiting-for-ci 👍, nspawn

#14468 hwdb: Lenovo T490 Synaptics Touchpad hwdb entry
  hwdb.d/60-evdev.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#14401 nspawn: move virtual interfaces added with --network-interface back to the host
  src/nspawn/nspawn-network.c
  src/nspawn/nspawn-network.h
  src/nspawn/nspawn.c
Labels: good-to-merge/waiting-for-ci 👍, nspawn

#14469 man: tmpfiles.d: minor improvements
  man/tmpfiles.d.xml
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, tmpfiles

#14194 network: introduce multipath routing
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-util.c
  src/libsystemd/sd-netlink/netlink-util.h
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-route.c
  src/network/networkd-route.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-route-static.network
  test/test-network/systemd-networkd-tests.py
Labels: network, new-feature

#14086 job: Don't mark as redundant if deps are relevant
  src/core/job.c
  src/core/job.h
  src/core/transaction.c
Labels: pid1

#14471 test: use symlinks for Makefiles
  test/TEST-40-EXEC-COMMAND-EX/Makefile
  test/TEST-41-ONESHOT-RESTART/Makefile
  test/TEST-42-EXECSTOPPOST/Makefile
  test/TEST-43-PRIVATEUSER-UNPRIV/Makefile
Labels: quick-review 🏃‍♂️, tests

#14466 dbus-execute: avoid extra strdup()
  src/core/dbus-execute.c
Labels: pid1, reviewed/needs-rework 🔨

#14480 sd-netlink: use uint8_t* for non-character data
  src/libsystemd/sd-netlink/netlink-util.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, sd-netlink

#14490 sd-netlink: fix copy and paste mistake
  src/libsystemd/sd-netlink/rtnl-message.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, sd-netlink

#14482 meson: drop unnecessary linking of libudev_core
  src/network/meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson, quick-review 🏃‍♂️

#14486 network: lower the log-level of harmless message
  src/network/networkd-manager.c
Labels: good-to-merge/waiting-for-ci 👍, network, quick-review 🏃‍♂️

#14487 pkcs11-util: don't mask return value of the first asprintf()
  src/shared/pkcs11-util.c
Labels: ci-failure-appears-unrelated, quick-review 🏃‍♂️, util-lib

#14420 nspawn: Don't mount read-only if we have a custom mount on root.
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn-mount.h
  src/nspawn/nspawn.c
Labels: nspawn, reviewed/needs-rework 🔨

#14502 locale-util: extend comments on unicode glyph use, and drop mdash (th…
  src/basic/locale-util.c
  src/basic/locale-util.h
  src/test/test-locale-util.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, util-lib

#14500 man: drop unnecessary white space
  man/systemd-networkd-wait-online.service.xml
Labels: ci-failure-appears-unrelated, documentation 📖, quick-review 🏃‍♂️

#14477 nspawn: set original ifname as alternative if it is truncated
  src/libsystemd/sd-netlink/netlink-util.c
  src/libsystemd/sd-netlink/netlink-util.h
  src/nspawn/nspawn-network.c
Labels: good-to-merge/waiting-for-ci 👍, nspawn

#14481 virt: use string table to detect VM or container
  src/basic/virt.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#14503 udev: do not use exact match of file permission
  src/udev/udev-rules.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#14504 units: Split modprobing out into a separate service unit
  units/meson.build
  units/modprobe@.service
  units/systemd-logind.service.in
  units/systemd-nspawn@.service.in
Labels: good-to-merge/waiting-for-ci 👍, login, units

#14499 network: static route via DHCP gateway
  man/systemd.network.xml
  src/network/networkd-dhcp4.c
  src/network/networkd-link.c
  src/network/networkd-ndisc.c
  src/network/networkd-route.c
  src/network/networkd-route.h
  test/test-network/conf/dhcp-client-gateway-ipv4.network
  test/test-network/conf/dhcp-client-gateway-ipv6.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#14472 Various robustness fixes for TEST-43-PRIVATEUSER-UNPRIV
  test/TEST-43-PRIVATEUSER-UNPRIV/test.sh
  test/TEST-43-PRIVATEUSER-UNPRIV/testsuite.sh
Labels: tests

#14506 boot: fix osrel parser
  src/boot/efi/boot.c
Labels: boot, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#14423 zsh: Add missing completions
  shell-completion/zsh/_systemctl.in
Labels: shell completion

#14510 some net naming scheme documentation fixes
  man/systemd.net-naming-scheme.xml
  src/udev/udev-builtin-net_id.c
Labels: documentation 📖, udev

#14517 network, meson: allow statically linked build
  meson.build
  meson_options.txt
  src/network/meson.build
Labels: meson

#14509 gpt-auto: don't assume XBOOTLDR is vfat
  src/gpt-auto-generator/gpt-auto-generator.c
Labels: gpt-auto, quick-review 🏃‍♂️

#14516 Support Plugable UD-PRO8 dock
  src/login/71-seat.rules.in
Labels: ci-failure-appears-unrelated, hwdb

#14494 Let's import the container interface description text from the fdo wiki
  docs/CONTAINER_INTERFACE.md
  man/systemd-getty-generator.xml
  man/systemd-machine-id-setup.xml
  man/systemd-nspawn.xml
  man/systemd.xml
Labels: documentation 📖

#14488 networkctl: status command also shows logs of networkd
  man/networkctl.xml
  src/network/netdev/veth.c
  src/network/netdev/vlan.c
  src/network/netdev/vxcan.c
  src/network/networkctl.c
  src/network/networkd-address-label.c
  src/network/networkd-address.c
  src/network/networkd-dhcp-server.c
  src/network/networkd-dhcp4.c
  src/network/networkd-fdb.c
  src/network/networkd-ipv6-proxy-ndp.c
  src/network/networkd-neighbor.c
  src/network/networkd-route.c
  src/network/networkd-routing-policy-rule.c
  test/networkd-test.py
  test/test-network/systemd-networkd-tests.py
Labels: network

#14465 When Nice= is used, clamp to RLIMIT_NICE
  src/basic/process-util.c
  src/basic/process-util.h
  src/core/execute.c
  src/test/test-process-util.c
Labels: pid1, tests, util-lib

#14520 test: pin meson to 0.52.1 for fuzzit/fuzzbuzz
  fuzzbuzz.yaml
  tools/oss-fuzz.sh
  travis-ci/managers/fuzzbuzz.sh
  travis-ci/managers/fuzzit.sh
Labels: ci, good-to-merge/waiting-for-ci 👍

#14512 Make RootImage= work reliable with DeviceAllow= in the mix
  man/systemd.resource-control.xml
  src/core/bpf-devices.c
  src/core/unit.c
  units/modprobe@.service
Labels: documentation 📖, pid1, units

#14511 Sleep check rework
  src/shared/sleep-config.c
  src/shared/sleep-config.h
  src/sleep/sleep.c
Labels: good-to-merge/waiting-for-ci 👍, sleep

#14270 systemd-sleep: always attempt hibernation if configured
  src/shared/sleep-config.c
  src/shared/sleep-config.h
  src/sleep/sleep.c
Labels: sleep

#14518 doc: tweak grammar in CONTAINER_INTERFACE description
  docs/CONTAINER_INTERFACE.md
  man/systemd.unit.xml
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍

#14448 network, udev: support permanent mac address
  man/systemd.link.xml
  man/systemd.network.xml
  src/libsystemd-network/network-internal.c
  src/libsystemd-network/network-internal.h
  src/network/networkctl.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/test-network.c
  src/shared/ethtool-util.c
  src/shared/ethtool-util.h
  src/udev/net/link-config-gperf.gperf
  src/udev/net/link-config.c
  src/udev/net/link-config.h
  test/fuzz/fuzz-link-parser/directives.link
  test/fuzz/fuzz-network-parser/directives.network
Labels: good-to-merge/waiting-for-ci 👍, network, udev

#14521 test: minor typo fix
  src/test/test-process-util.c
Labels: quick-review 🏃‍♂️, tests

#14523 Refactorings inspired by recent pull requests
  man/systemd.link.xml
  man/systemd.network.xml
  src/libsystemd/sd-event/sd-event.c
  src/network/networkctl.c
  src/network/networkd-link.c
  src/shared/ethtool-util.c
  src/shared/ethtool-util.h
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, network, sd-event

#14485 udev: don't import parent ID_FS_ data on partitions
  rules.d/60-persistent-storage.rules
Labels: good-to-merge/waiting-for-ci 👍, udev

#14526 timedatectl: use format-table.[ch]
  src/timedate/timedatectl.c
Labels: good-to-merge/waiting-for-ci 👍, timedate

#14528 core: be more restrictive on the dependency types we allow to be crea…
  src/core/dbus-unit.c
Labels: good-to-merge/waiting-for-ci 👍, pid1, quick-review 🏃‍♂️

#14530 bash-completion: networkctl: support --full and --lines
  shell-completion/bash/networkctl
Labels: quick-review 🏃‍♂️, shell completion

#14525 systemd-mount: use format-table.[ch]
  man/systemd-mount.xml
  src/mount/mount-tool.c
  src/shared/format-table.c
  src/shared/format-table.h
Labels: mount

#14373 man: describe explicitly: don't create unit files outside of the root…
  man/systemd.unit.xml
Labels: documentation 📖, reviewed/needs-rework 🔨

#14527 core: propagate service state to socket in more load states
  src/core/socket.c
Labels: pid1, quick-review 🏃‍♂️

#14535 format-table: allow forcing arbitrary width tables
  src/shared/format-table.c
Labels: ci-failure-appears-unrelated, util-lib

#13927 networkd: set addr_gen_mode and check for tentative ipv6ll before dro…
  src/network/networkd-link.c
  src/network/networkd-link.h
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#14534 core: fix re-realization of cgroup siblings
  src/core/cgroup.c
Labels: cgroups, pid1

#14539 initctl: (void)ify epoll_ctl()
  src/initctl/initctl.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#14538 use table_set_width(table, 0) if --full is specified
  man/busctl.xml
  man/machinectl.xml
  man/networkctl.xml
  man/systemd-mount.xml
  shell-completion/bash/busctl
  shell-completion/bash/journalctl
  shell-completion/bash/loginctl
  shell-completion/bash/machinectl
  shell-completion/bash/networkctl
  shell-completion/bash/portablectl
  shell-completion/bash/systemctl.in
  shell-completion/bash/systemd-analyze
  shell-completion/bash/systemd-cgls
  shell-completion/bash/systemd-cgtop
  shell-completion/bash/systemd-nspawn
  shell-completion/bash/systemd-run
  shell-completion/bash/timedatectl
  src/analyze/analyze-security.c
  src/analyze/analyze.c
  src/busctl/busctl.c
  src/login/inhibit.c
  src/login/loginctl.c
  src/machine/machinectl.c
  src/mount/mount-tool.c
  src/network/networkctl.c
  src/portable/portablectl.c
  src/shared/format-table.h
  src/timedate/timedatectl.c
Labels: analyze, busctl, login, machine, mount, network, portable, shell completion

#14508 core: be nicer to read-only images
  src/basic/path-util.c
  src/basic/path-util.h
  src/core/namespace.c
  src/shared/install.c
  src/shared/loop-util.c
Labels: lgtm, pid1, util-lib

#14533 Fix Priority= parsing in .swap units
  src/core/dbus-swap.c
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/swap.c
Labels: ci-failure-appears-unrelated, pid1

#14546 man: XxxRate= are in bps
  man/systemd.network.xml
Labels: documentation 📖, quick-review 🏃‍♂️

#14549 Portability and stability
  docs/PORTABILITY_AND_STABILITY.md
  hwdb.d/60-sensor.hwdb
Labels: documentation 📖

#14553 man: small man page fixes
  man/systemd.mount.xml
Labels: documentation 📖, pid1, quick-review 🏃‍♂️

#14532 Make DynamicUser=1 work in a userns container
  src/core/namespace.c
  src/shared/mount-util.c
  src/shared/mount-util.h
Labels: ci-failure-appears-unrelated, pid1, util-lib

#14551 journalctl: Correctly handle --show-cursor (fix #13105)
  src/journal/journalctl.c
Labels: journal

#14552 journalctl: Correctly handle combination of --reverse and --lines (fixes #1596)
  src/journal/journalctl.c
Labels: journal

#14540 hwdb: Entry for Lenovo Ideapad 310S-14ISK Alps Touchpad
  hwdb.d/60-evdev.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#14293 systemctl: Add --with-dependencies switch
  man/systemctl.xml
  src/shared/bus-util.c
  src/systemctl/systemctl.c
Labels: good-to-merge/waiting-for-ci 👍, systemctl

#11199 Restore call to pam_setcred
  src/basic/user-util.c
  src/basic/user-util.h
  src/core/execute.c
  src/test/test-user-util.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#14381 Resolve alternative names
  src/activate/activate.c
  src/basic/in-addr-util.c
  src/basic/in-addr-util.h
  src/basic/parse-util.c
  src/basic/parse-util.h
  src/basic/socket-label.c
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/core/dbus-socket.c
  src/core/load-fragment.c
  src/core/socket.c
  src/journal-remote/journal-remote-main.c
  src/libsystemd/sd-device/sd-device.c
  src/libsystemd/sd-login/sd-login.c
  src/libsystemd/sd-netlink/netlink-util.c
  src/libsystemd/sd-netlink/netlink-util.h
  src/libsystemd/sd-network/sd-network.c
  src/machine/machine.c
  src/machine/machinectl.c
  src/network/networkctl.c
  src/network/networkd-link-bus.c
  src/network/networkd-manager-bus.c
  src/network/networkd-route.c
  src/nspawn/nspawn-network.c
  src/resolve/resolvectl.c
  src/resolve/resolved-bus.c
  src/resolve/resolved-etc-hosts.c
  src/resolve/resolved-link-bus.c
  src/resolve/resolved-manager.c
  src/resolve/resolved-util.c
  src/shared/meson.build
  src/shared/socket-netlink.c
  src/shared/socket-netlink.h
  src/test/meson.build
  src/test/test-socket-netlink.c
  src/test/test-socket-util.c
  src/timedate/timedatectl.c
Labels: network

#14400 Alias check rework
  man/systemd.unit.xml
  src/basic/unit-name.h
  src/core/load-dropin.c
  src/shared/install.c
  src/shared/install.h
  src/shared/unit-file.c
  src/shared/unit-file.h
  src/test/test-install-root.c
  src/test/test-unit-name.c
Labels: install

#14556 docs: various small fixes to PORTABILITY_AND_STABILITY markdown
  docs/PORTABILITY_AND_STABILITY.md
Labels: documentation 📖, quick-review 🏃‍♂️

#14558 docs: import initrd interface documentation from fdo wiki
  docs/INITRD_INTERFACE.md
Labels: documentation 📖, quick-review 🏃‍♂️

#14557 docs: convert root storage daemon doc to markdown
  docs/ROOT_STORAGE_DAEMONS.md
  src/core/killall.c
Labels: documentation 📖, quick-review 🏃‍♂️

#14555 format-table: proper multi-line support
  man/machinectl.xml
  src/basic/string-util.c
  src/basic/string-util.h
  src/machine/machinectl.c
  src/shared/format-table.c
  src/shared/format-table.h
  src/test/test-format-table.c
  src/test/test-string-util.c
Labels: machine, util-lib

#14561 Doc formatting fixes and link update
  docs/INITRD_INTERFACE.md
  docs/PORTABILITY_AND_STABILITY.md
  docs/ROOT_STORAGE_DAEMONS.md
Labels: documentation 📖

#14234 mount: mark an existing "mounting" unit from /proc/self/mountinfo as …
  src/core/mount.c
Labels: pid1

#14563 trivial markdown fixlets
  docs/BOOT_LOADER_INTERFACE.md
  docs/BOOT_LOADER_SPECIFICATION.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTAINER_INTERFACE.md
  docs/SECURITY.md
  docs/TESTING_WITH_SANITIZERS.md
  docs/TRANSIENT-SETTINGS.md
Labels: documentation 📖, quick-review 🏃‍♂️

#14505 refuse OnFailure= deps on units that have no failure state
  man/systemd.net-naming-scheme.xml
  man/systemd.scope.xml
  src/core/automount.c
  src/core/device.c
  src/core/mount.c
  src/core/path.c
  src/core/scope.c
  src/core/service.c
  src/core/socket.c
  src/core/swap.c
  src/core/timer.c
  src/core/unit.c
  src/core/unit.h
Labels: documentation 📖, pid1

#14470 Use format-table.[ch] stuff in systemctl.c
  src/systemctl/systemctl.c
Labels: systemctl

#14390 introduce GPT partition types for /var and /var/tmp and support them for auto-discovery
  TODO
  docs/DISCOVERABLE_PARTITIONS.md
  docs/PORTABLE_SERVICES.md
  man/systemd-gpt-auto-generator.xml
  man/systemd-nspawn.xml
  man/systemd.exec.xml
  src/core/execute.c
  src/dissect/dissect.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/nspawn/nspawn.c
  src/portable/portable.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/shared/gpt.h
  src/shared/machine-image.c
  src/test/test-dissect-image.c
Labels: documentation 📖, gpt-auto, new-feature

#14564 pid1: cgroup realization fix
  src/core/cgroup.c
Labels: cgroups, ci-failure-appears-unrelated, pid1

#14501 logind: refuse overriding idle hint on tty sessions
  src/login/logind-session-dbus.c
  src/login/logind-session.c
  src/login/logind-session.h
Labels: login

#14570 Modernize links to cgroups docs
  docs/CGROUP_DELEGATION.md
  man/systemd.resource-control.xml
  man/systemd.xml
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍

#14571 two minor fixes for recent merges
  docs/DISCOVERABLE_PARTITIONS.md
  src/core/cgroup.c
Labels: cgroups, documentation 📖, quick-review 🏃‍♂️

#14547 networkctl: return error or warning when interfaces are not matched
  src/analyze/analyze.c
  src/basic/strv.c
  src/basic/strv.h
  src/network/networkctl.c
  src/network/networkd-link.c
  src/network/wait-online/manager.c
  src/test/test-strv.c
Labels: ci-failure-appears-unrelated, network

#14573 Docs index
  docs/UIDS-GIDS.md
  docs/index.md
  man/systemd.scope.xml
Labels: documentation 📖

#14562 introduce TABLE_STRV and use it in networkctl and resolvectl
  src/basic/strv.c
  src/basic/strv.h
  src/network/networkctl.c
  src/resolve/resolvectl.c
  src/shared/format-table.c
  src/shared/format-table.h
  src/test/test-format-table.c
  src/test/test-strv.c
Labels: network, resolve, util-lib

#14579 Revert the test move and fix formatting on main page a bit
  docs/HACKING.md
  docs/index.md
  meson.build
Labels: documentation 📖

#14577 core: on each iteration processing /proc/self/mountinfo merge all dis…
  src/core/mount.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#14581 alternative pam_setcred() fix
  src/core/execute.c
Labels: pid1, priority

#14585 Downgrade sysctl message to log_debug in containers
  man/standard-conf.xml
  src/sysctl/sysctl.c
Labels: documentation 📖, sysctl

#14582 Disable reading SystemdOptions EFI Var when in SecureBoot mode
  src/basic/efivars.c
  src/basic/efivars.h
  src/basic/proc-cmdline.c
  src/shared/efi-loader.c
  src/shared/efi-loader.h
Labels: util-lib

#14592 Simplifications
  src/core/core-varlink.c
  src/login/logind-user.c
  src/shared/user-record-nss.c
Labels: good-to-merge/waiting-for-ci 👍, login, nss

#14590 A bunch of documentation fixes
  docs/BOOT_LOADER_SPECIFICATION.md
  docs/PORTABILITY_AND_STABILITY.md
  man/halt.xml
  man/systemd-fstab-generator.xml
  man/systemd-system.conf.xml
  man/systemd.exec.xml
  man/systemd.path.xml
  man/systemd.resource-control.xml
  man/systemd.timer.xml
  man/systemd.unit.xml
  man/udev.xml
Labels: documentation 📖

#14596 core: don't allow perpetual units to be masked
  src/core/load-fragment.c
  src/core/mount.c
Labels: ci-failure-appears-unrelated, pid1

#14597 tree-wide: we forgot to destroy some bus errors
  src/libsystemd/sd-bus/test-bus-server.c
  src/locale/localed.c
Labels: ci-failure-appears-unrelated, quick-review 🏃‍♂️, tree-wide

#14607 Italian: language update
  po/it.po
Labels: l10n 🌍

#14613 json: lower maximum allowed recursion to 2K
  src/shared/json.c
Labels: quick-review 🏃‍♂️, util-lib

#14616 virt: do not define vm_from_string() for non-x86 architecture
  src/basic/virt.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, util-lib

#14619 journal: don't use startswith() on something that is not a NUL-termin…
  src/journal/sd-journal.c
Labels: good-to-merge/waiting-for-ci 👍, journal, quick-review 🏃‍♂️

#14612 resolved: drop DNSSEC root key that is not valid anymore
  src/resolve/resolved-dns-trust-anchor.c
Labels: dnssec, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, resolve

#14627 Typos in the documentation
  docs/PORTABILITY_AND_STABILITY.md
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍

#14622 trivial uid ref counting clean-ups
  src/core/manager.c
  src/core/unit.c
  src/core/unit.h
Labels: good-to-merge/waiting-for-ci 👍, pid1, quick-review 🏃‍♂️

#14617 strv: remove strv_clear() and some other minor fixes
  src/basic/strv.c
  src/basic/strv.h
  src/libsystemd/sd-hwdb/hwdb-util.c
Labels: good-to-merge/waiting-for-ci 👍, hwdb, quick-review 🏃‍♂️, util-lib

#14623 timesyncd: log louder when we refuse a server due to root distance
  src/timesync/timesyncd-manager.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, timesync

#14624 network,udev: use uint64_t for bit rate
  src/core/load-fragment.c
  src/network/networkctl.c
  src/network/networkd-can.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
  src/shared/conf-parser.c
  src/shared/conf-parser.h
  src/shared/ethtool-util.c
  src/shared/ethtool-util.h
  src/test/test-conf-parser.c
  src/udev/net/link-config-gperf.gperf
  src/udev/net/link-config.c
  src/udev/net/link-config.h
Labels: good-to-merge/waiting-for-ci 👍, network, udev

#14630 man: fix typo in systemd.netdev Xfrm example
  man/systemd.netdev.xml
Labels: documentation 📖, network

#14605 Implemented x-systemd.{required,wanted}-by= options
  man/systemd.mount.xml
  src/fstab-generator/fstab-generator.c
Labels: fstab-generator, good-to-merge/waiting-for-ci 👍

#14626 loginctl: use /org/freedesktop/login1/session/auto when "lock-session…
  src/login/loginctl.c
Labels: login, quick-review 🏃‍♂️

#14628 hwdb: add asus tp500la
  hwdb.d/60-sensor.hwdb
Labels: hwdb, quick-review 🏃‍♂️

#14614 three small importd fixes
  src/import/curl-util.c
  src/import/import-raw.c
  src/import/pull-raw.c
  src/shared/import-util.c
  src/shared/import-util.h
Labels: import, quick-review 🏃‍♂️

#14618 generator: order growfs for the root fs after systemd-remount-fs
  src/shared/generator.c
Labels: fstab-generator, quick-review 🏃‍♂️

#14663 test: unpin meson from v0.52.1
  fuzzbuzz.yaml
  tools/oss-fuzz.sh
  travis-ci/managers/fuzzbuzz.sh
  travis-ci/managers/fuzzit.sh
Labels: tests

#14665 Update copyright notice
  docs/_includes/footer.html
Labels: documentation 📖

#14654 man: tmpfiles.d: list missing q
  man/tmpfiles.d.xml
Labels: documentation 📖

#14673 Protect clock
  docs/TRANSIENT-SETTINGS.md
  man/systemd.exec.xml
  src/analyze/analyze-security.c
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.m4
  src/core/unit.c
  src/shared/bus-unit-util.c
Labels: analyze, good-to-merge/waiting-for-ci 👍, pid1

#14681 test: Synchronize journal before reading from it
  test/TEST-21-SYSUSERS/test.sh
Labels: good-to-merge/waiting-for-ci 👍, tests

#14677 test: drop sector-size line from output of sfdisk
  test/TEST-45-REPART/test.sh
  test/TEST-45-REPART/testsuite.sh
Labels: good-to-merge/waiting-for-ci 👍, repart, tests

#14675 network: accept NUL character in SendOption=
  src/basic/escape.c
  src/basic/escape.h
  src/basic/extract-word.c
  src/network/networkd-dhcp-common.c
  src/test/test-escape.c
Labels: network, tests, util-lib

#14670 unit: add AF_ALG to systemd-networkd.service
  units/systemd-networkd.service.in
Labels: units

#14667 boot: parse random-seed-mode
  src/boot/efi/boot.c
  src/shared/bootspec.c
  src/shared/bootspec.h
Labels: boot

#14633 add polkit hookup for VT switching in logind
  src/core/dbus-unit.c
  src/core/dbus.c
  src/hostname/hostnamed.c
  src/import/importd.c
  src/locale/keymap-util.c
  src/locale/localed.c
  src/login/logind-dbus.c
  src/login/logind-seat-dbus.c
  src/login/logind-session-dbus.c
  src/login/logind-user-dbus.c
  src/login/logind.c
  src/login/org.freedesktop.login1.policy
  src/machine/image-dbus.c
  src/machine/machine-dbus.c
  src/machine/machined-dbus.c
  src/machine/machined.c
  src/network/networkd-link-bus.c
  src/network/networkd-manager-bus.c
  src/network/networkd-manager.c
  src/portable/portabled-bus.c
  src/portable/portabled-image-bus.c
  src/portable/portabled.c
  src/resolve/resolved-bus.c
  src/resolve/resolved-dnssd-bus.c
  src/resolve/resolved-link-bus.c
  src/resolve/resolved-manager.c
  src/shared/bus-polkit.c
  src/shared/bus-polkit.h
  src/shared/bus-util.c
  src/shared/bus-util.h
  src/shared/meson.build
  src/timedate/timedated.c
Labels: login

#14611 network: fix reconfigure
  src/network/networkd-link-bus.c
  src/network/networkd-link.c
Labels: network

#14686 Fix erroneous "`" in boot loader spec
  docs/BOOT_LOADER_SPECIFICATION.md
Labels: documentation 📖

#14594 Print gpt table values in systemd-id128
  docs/DISCOVERABLE_PARTITIONS.md
  man/systemd-id128.xml
  src/id128/id128.c
  src/partition/repart.c
  src/shared/gpt.c
  src/shared/gpt.h
  src/shared/id128-print.c
  src/shared/id128-print.h
  src/shared/meson.build
Labels: sd-id128

#14685 sd-bus documentation: highlight bool vs. int situation
  man/sd_bus_message_read.xml
  man/sd_bus_message_read_array.xml
  man/sd_bus_message_read_basic.xml
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, sd-bus

#14688 test-network: fix test_qdisc2()
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, tests

#14683 udev: on systemd systems, the netlink socket buffer size is configure…
  src/udev/udevd.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#14689 various chase_symlink() fixes
  src/basic/fs-util.c
  src/test/test-fs-util.c
Labels: util-lib

#14690 po: update French translation
  po/fr.po
Labels: l10n 🌍

#14693 id128: change table header from "uuid" to just "id"
  src/id128/id128.c
Labels: sd-id128

#14669 pam_systemd: don't try to resolve the tty of display
  src/login/pam_systemd.c
Labels: bug 🐛, login, reviewed/needs-rework 🔨

#14692 network: fix implicit type conversion warning by GCC-10
  src/network/netdev/tunnel.c
Labels: good-to-merge/waiting-for-ci 👍, network

#14694 po: update Polish translation 200129
  po/pl.po
Labels: l10n 🌍

#14704 fix link to JSON User Records
  docs/HOME_DIRECTORY.md
Labels: documentation 📖

#14706 fix links to GROUP_RECORD and USER_GROUP_API
  docs/USER_RECORD.md
Labels: documentation 📖

#14703 po: add src/home/org.freedesktop.home1.policy to POTFILES.in
  po/POTFILES.in
Labels: good-to-merge/waiting-for-ci 👍, l10n 🌍

#14707 fix fomatting in USER_RECORD docs
  docs/USER_RECORD.md
Labels: documentation 📖

#14701 Trivial homed fixups
  TODO
  man/homectl.xml
  man/pam_systemd_home.xml
  meson_options.txt
  po/fr.po
  po/pl.po
  src/home/home-util.c
  src/login/org.freedesktop.login1.policy
  src/shared/userdb.c
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, homed, meson

#14696 various tweaks to the image dissection logic
  TODO
  src/core/execute.c
  src/dissect/dissect.c
  src/nspawn/nspawn.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/shared/gpt.h
Labels: dissect, good-to-merge/waiting-for-ci 👍, nspawn

#14718 man: do not install man pages for systemd-repart if it is disabled
  man/repart.d.xml
  man/rules/meson.build
  man/systemd-repart.xml
Labels: documentation 📖, meson, quick-review 🏃‍♂️

#14715 tests: unset LD_PRELOAD in testsuite.service when it's run under ASan
  test/test-functions
Labels: good-to-merge/waiting-for-ci 👍, tests

#14721 homed,nspawn,userdb: trivial tiny fixes
  src/basic/user-util.c
  src/home/homed-manager.c
  src/home/homework-cifs.c
  src/home/user-record-util.c
  src/nspawn/nspawn-mount.c
  src/test/test-user-util.c
  src/userdb/userdbd-manager.c
Labels: homed, nspawn, quick-review 🏃‍♂️, userdb, util-lib
