Repository systemd/systemd, pull requests merged in 2020-05, with the labels that each got.

#13512 core: introduce support for cgroup freezer
  NEWS
  man/systemctl.xml
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/basic/unit-def.c
  src/basic/unit-def.h
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-manager.c
  src/core/dbus-unit.c
  src/core/dbus-unit.h
  src/core/dbus.c
  src/core/scope.c
  src/core/selinux-access.h
  src/core/service.c
  src/core/slice.c
  src/core/unit.c
  src/core/unit.h
  src/libsystemd/sd-bus/bus-common-errors.h
  src/systemctl/systemctl.c
  src/test/test-cgroup-util.c
  test/TEST-38-FREEZER/Makefile
  test/TEST-38-FREEZER/test.sh
  test/test-functions
  test/units/testsuite-38-sleep.service
  test/units/testsuite-38.service
  test/units/testsuite-38.sh
Labels: cgroups, new-feature, pid1

#15547 Introduce sd_notify_barrier
  man/rules/meson.build
  man/sd_notify.xml
  man/systemd-notify.xml
  man/systemd.service.xml
  man/systemd.xml
  src/core/manager.c
  src/libsystemd/sd-daemon/sd-daemon.c
  src/notify/notify.c
  src/systemd/sd-daemon.h
Labels: good-to-merge/waiting-for-ci 👍, notify, sd-daemon

#15652 Fix Chromebook Caroline board accelerometer not having correct orientation
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#15639 repart: fix partition maximum size segfault
  src/partition/repart.c
Labels: quick-review 🏃‍♂️, repart

#15631 cifuzz: upload artifacts only when the "run fuzzers" step fails
  .github/workflows/main.yml
Labels: ci

#15664 man: fix few spelling errors
  man/sd_bus_message_open_container.xml
  man/sd_notify.xml
  src/core/main.c
Labels: documentation 📖, quick-review 🏃‍♂️

#15649 basic: add STRCASE_IN_SET() which is to STR_IN_SET() what strcaseeq()…
  src/basic/hostname-util.c
  src/basic/parse-util.c
  src/basic/strv.c
  src/basic/strv.h
  src/shared/calendarspec.c
Labels: tree-wide, util-lib

#15422 coredump: add zstandard support for coredumps
  .mkosi/mkosi.arch
  .mkosi/mkosi.debian
  .mkosi/mkosi.fedora
  .mkosi/mkosi.ubuntu
  README
  meson.build
  meson_options.txt
  src/basic/build.h
  src/coredump/coredump.c
  src/coredump/coredumpctl.c
  src/journal/compress.c
  src/journal/compress.h
  src/journal/test-compress.c
  src/shared/meson.build
  src/test/meson.build
  travis-ci/managers/debian.sh
Labels: coredump, good-to-merge/waiting-for-ci 👍

#15674 test: fix potential use-after-free
  src/test/test-cgroup-util.c
Labels: quick-review 🏃‍♂️, tests

#15687 Add Kensington SlimBlade Trackball
  hwdb.d/70-mouse.hwdb
Labels: hwdb

#15647 docs: Change prefix for desktop applications to app-
  docs/DESKTOP_ENVIRONMENTS.md
Labels: documentation 📖

#15636 be more careful when setting json variant + dbus message sensitive flag
  src/home/home-util.c
  src/home/homectl.c
  src/home/user-record-util.c
  src/shared/json.c
  src/shared/json.h
Labels: sd-bus, util-lib

#15690 nspawn: mount custom paths before writing to /etc
  src/nspawn/nspawn.c
Labels: nspawn

#15702 shutdown: fix spacing in shutdown error message
  src/shutdown/shutdown.c
Labels: quick-review 🏃‍♂️, shutdown

#15700 hwdb: Fix brightness keys for Logitech K811
  hwdb.d/60-keyboard.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#15695 correct evdev dimensions for T490 trackpad
  hwdb.d/60-evdev.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#15701 systemctl: optionally output tables as json
  src/shared/format-table.c
  src/systemctl/systemctl.c
Labels: systemctl

#15643 man: migrate more specifier explanations to standard-specifiers.xml
  man/standard-specifiers.xml
  man/systemd.dnssd.xml
  man/systemd.unit.xml
  man/sysusers.d.xml
  man/tmpfiles.d.xml
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#15648 journalctl: honour --output-fields= in -o cat mode
  man/journalctl.xml
  src/shared/logs-show.c
  src/shared/logs-show.h
Labels: ci-failure-appears-unrelated, journal

#15707 Revert "logs-show: declare [static 2] on all highlight parameters"
  src/shared/logs-show.c
  src/shared/logs-show.h
Labels: good-to-merge/waiting-for-ci 👍

#15645 some calendar expression fixes and documentation updates
  man/systemd.time.xml
  src/shared/calendarspec.c
  src/shared/calendarspec.h
  src/test/test-calendarspec.c
Labels: ci-failure-appears-unrelated, documentation 📖, pid1, util-lib

#15708 Add Zowie ZA12 details to mouse hwdb
  hwdb.d/70-mouse.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#15715 man: systemd.service: systemd-analyze exit-codes -> exit-status
  man/systemd.service.xml
Labels: analyze, documentation 📖, quick-review 🏃‍♂️

#15692 Make systemctl list-unit-files output more useful
  man/systemctl.xml
  man/systemd.exec.xml
  src/core/unit.c
  src/shared/install.c
  src/shared/install.h
  src/shared/unit-file.c
  src/shared/unit-file.h
  src/shared/verbs.c
  src/shared/verbs.h
  src/systemctl/systemctl.c
  src/test/test-install-root.c
Labels: good-to-merge/waiting-for-ci 👍, pid1, systemctl

#15717 sysusers: be extra careful when locking accounts
  src/sysusers/sysusers.c
Labels: ci-failure-appears-unrelated, sysusers

#15704 build-system: bring back 'nonnull'
  meson.build
Labels: ci-failure-appears-unrelated

#15605 sd-bus: Add a better way of specifying sd-bus vtable parameter names
  man/sd_bus_add_object.xml
  man/vtable-example.c
  src/resolve/resolved-bus.c
  src/resolve/resolved-link-bus.c
  src/systemd/sd-bus-vtable.h
Labels: sd-bus

#15711 hwdb: Force "mouse" type on Logitech Ultrathin Touch Mouse
  hwdb.d/60-input-id.hwdb
Labels: hwdb

#15728 test: Skip test-boot-timestamps on permission denied
  src/test/test-boot-timestamps.c
Labels: good-to-merge/waiting-for-ci 👍, tests

#15727 systemctl: some table output tweaks
  src/basic/terminal-util.h
  src/shared/format-table.c
  src/shared/format-table.h
  src/systemctl/systemctl.c
Labels: systemctl, util-lib

#15735 Slightly update our shipped and suggested PAM snippets, so that pam_systemd_home.so is more likely to just work
  man/pam_systemd.xml
  man/pam_systemd_home.xml
  src/login/systemd-user.m4
Labels: documentation 📖, homed, login

#15731 resolved: Break include cycles
  src/resolve/resolved-conf.c
  src/resolve/resolved-conf.h
  src/resolve/resolved-dns-query.h
  src/resolve/resolved-dns-scope.h
  src/resolve/resolved-dns-search-domain.c
  src/resolve/resolved-dns-search-domain.h
  src/resolve/resolved-dns-server.c
  src/resolve/resolved-dns-server.h
  src/resolve/resolved-dns-stream.c
  src/resolve/resolved-dns-stream.h
  src/resolve/resolved-dns-transaction.h
  src/resolve/resolved-dns-zone.c
  src/resolve/resolved-dnssd-bus.c
  src/resolve/resolved-dnstls-gnutls.c
  src/resolve/resolved-dnstls.h
  src/resolve/resolved-gperf.gperf
  src/resolve/resolved-link.h
  src/resolve/resolved-manager.h
Labels: good-to-merge/waiting-for-ci 👍, resolve

#15737 homed: open up home dir Acquire operation to unpriv clients
  src/home/homed-manager-bus.c
Labels: homed

#15734 tree-wide: Workaround -Wnonnull GCC bug
  src/core/manager.c
  src/shared/install.c
Labels: good-to-merge/waiting-for-ci 👍

#15736 homectl: show disk free in percent in 'inspect'
  src/shared/user-record-show.c
Labels: homed, quick-review 🏃‍♂️

#15720 netlink socket correct check
  src/libsystemd/sd-netlink/netlink-socket.c
Labels: good-to-merge/with-minor-suggestions

#15741 Revert "Add Kensington SlimBlade Trackball"
  hwdb.d/70-mouse.hwdb
Labels: hwdb

#15714 man: document homed key management
  TODO
  man/systemd-homed.service.xml
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, homed

#15635 Let set_put_strdup() allocate the set and related changes
  src/analyze/analyze-security.c
  src/analyze/analyze.c
  src/basic/conf-files.c
  src/basic/hash-funcs.c
  src/basic/hash-funcs.h
  src/basic/hashmap.c
  src/basic/set.h
  src/busctl/busctl.c
  src/core/dbus-unit.c
  src/core/mount.c
  src/core/unit.c
  src/libsystemd/sd-device/device-enumerator.c
  src/libsystemd/sd-device/sd-device.c
  src/login/logind-acl.c
  src/network/networkd-link-bus.c
  src/nspawn/nspawn-cgroup.c
  src/portable/portable.c
  src/resolve/resolved-dns-trust-anchor.c
  src/resolve/resolved-link-bus.c
  src/resolve/resolved-link.c
  src/shared/bus-util.c
  src/shared/bus-wait-for-jobs.c
  src/shared/logs-show.c
  src/shared/mount-util.c
  src/shared/unit-file.c
  src/test/meson.build
  src/test/test-hashmap.c
  src/test/test-prioq.c
  src/test/test-set.c
  src/udev/udevadm-trigger.c
Labels: sd-device, tests, util-lib

#15681 *: switch to BusLocator-oriented helpers
  src/analyze/analyze.c
  src/home/homectl.c
  src/home/pam_systemd_home.c
  src/locale/localectl.c
  src/login/loginctl.c
  src/login/logind-dbus.c
  src/login/logind.c
  src/login/pam_systemd.c
  src/machine/machine-dbus.c
  src/machine/machinectl.c
  src/machine/machined-dbus.c
  src/machine/machined.c
  src/mount/mount-tool.c
  src/network/networkctl.c
  src/nspawn/nspawn-register.c
  src/nss-mymachines/nss-mymachines.c
  src/nss-resolve/nss-resolve.c
  src/portable/portablectl.c
  src/resolve/resolvectl.c
  src/run/run.c
  src/shared/bus-locator.c
  src/shared/bus-locator.h
  src/shared/bus-util.h
  src/shared/meson.build
  src/systemctl/systemctl.c
  src/timedate/timedatectl.c
  src/timedate/timedated.c
Labels: good-to-merge/with-minor-suggestions

#15743 meson: re-run ninja update-man-rules
  man/rules/meson.build
Labels: meson

#15713 homed: optionally, issue FITRIM ioctl when logging out
  TODO
  docs/HOME_DIRECTORY.md
  docs/USER_RECORD.md
  man/homectl.xml
  src/home/homectl.c
  src/home/homed-home.c
  src/home/homework-luks.c
  src/home/homework-luks.h
  src/home/homework.c
  src/home/homework.h
  src/shared/user-record-show.c
  src/shared/user-record.c
  src/shared/user-record.h
Labels: good-to-merge/waiting-for-ci 👍, homed

#15745 Add %l as specifier for short hostname
  man/directives-template.xml
  man/meson.build
  man/pam_systemd.xml
  man/rules/meson.build
  man/standard-specifiers.xml
  man/systemd.dnssd.xml
  man/systemd.mount.xml
  man/systemd.swap.xml
  man/systemd.unit.xml
  man/sysusers.d.xml
  man/tmpfiles.d.xml
  meson.build
  src/basic/hostname-util.c
  src/basic/hostname-util.h
  src/core/unit-printf.c
  src/shared/specifier.c
  src/shared/specifier.h
  src/sysusers/sysusers.c
  src/test/test-hostname-util.c
  src/test/test-specifier.c
  src/tmpfiles/tmpfiles.c
  tools/autosuspend-update.sh
  tools/check-api-docs.sh
  tools/check-compilation.sh
  tools/check-help.sh
  tools/git-contrib.sh
  tools/hwdb-update.sh
  tools/make-directive-index.py
  tools/update-man-rules.py
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, tree-wide

#15746 core/cgroup: fix return value of unit_cgorup_freezer_action()
  src/core/cgroup.c
Labels: bug 🐛, good-to-merge/waiting-for-ci 👍, pid1, quick-review 🏃‍♂️

#15623 various CMSG_xyz clean-ups, split out of #15571
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/core/manager.c
  src/coredump/coredump.c
  src/home/homed-manager.c
  src/import/importd.c
  src/journal/journald-server.c
  src/journal/journald-stream.c
  src/journal/journald-syslog.c
  src/libsystemd-network/icmp6-util.c
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-dhcp-server.c
  src/libsystemd/sd-bus/bus-socket.c
  src/libsystemd/sd-device/device-monitor.c
  src/nspawn/nspawn.c
  src/portable/portable.c
  src/resolve/resolved-dns-stream.c
  src/resolve/resolved-manager.c
  src/shared/ask-password-api.c
  src/timesync/timesyncd-manager.c
  src/udev/udev-ctrl.c
  src/udev/udevd.c
Labels: ci-failure-appears-unrelated, tree-wide, util-lib

#15718 tmpfiles: read /etc/passwd + /etc/group with fgetpwent()/fgetgrent() if --root= is specified
  man/systemd-tmpfiles.xml
  meson.build
  src/sysusers/sysusers.c
  src/tmpfiles/offline-passwd.c
  src/tmpfiles/offline-passwd.h
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles

#15747 homectl: color disk free output if low on free space
  src/shared/user-record-show.c
Labels: homed, quick-review 🏃‍♂️

#15651 check if locales are installed before using them
  src/basic/locale-util.c
  src/basic/locale-util.h
  src/firstboot/firstboot.c
  src/home/homectl.c
  src/locale/localed.c
  src/login/pam_systemd.c
  src/test/test-locale-util.c
Labels: ci-failure-appears-unrelated, tree-wide, util-lib

#15703 homed: avoid double encryption
  TODO
  man/directives-template.xml
  man/homectl.xml
  man/homed.conf.xml
  man/rules/meson.build
  man/systemd-homed.service.xml
  meson.build
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/home/home-util.c
  src/home/home-util.h
  src/home/homed-conf.c
  src/home/homed-conf.h
  src/home/homed-gperf.gperf
  src/home/homed-home.c
  src/home/homed-manager.c
  src/home/homed-manager.h
  src/home/homed.conf
  src/home/homework-luks.c
  src/home/homework.c
  src/home/meson.build
  src/home/user-record-util.c
  src/shared/user-record.c
  src/shared/user-record.h
  src/test/test-fs-util.c
Labels: homed

#15756 cifuzz: run only for relevant PRs
  .github/workflows/main.yml
Labels: ci, fuzzing

#15760 cifuzz: fuzz the master branch on push
  .github/workflows/main.yml
Labels: ci, fuzzing

#15750 networkctl: fix "Speed: 4Gbps" when ethtool returns SPEED_UNKNOWN on 32-bit-pointer ABIs
  src/shared/ethtool-util.c
  src/shared/format-table.c
Labels: ci-failure-appears-unrelated, network

#15752 tree-wide: Replace assert() by assert_se() when there is side effect
  src/core/unit.c
  src/import/import-fs.c
  src/test/test-sleep.c
Labels: good-to-merge/waiting-for-ci 👍, import, pid1, tests

#15744 fs-util: beef up path_is_encrypted()
  src/basic/fs-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#15766 seccomp-util: add new syscalls from kernel 5.6 to syscall filter table
  src/shared/seccomp-util.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, seccomp

#15776 man: clarify that exit status name mappings are unaffected by Success…
  man/systemd.service.xml
Labels: documentation 📖, pid1

#15769 man: document how "!" and conflicting lines play together in tmpfiles.d
  man/tmpfiles.d.xml
Labels: documentation 📖, tmpfiles

#15768 random-util: make use of GRND_INSECURE if we have it
  TODO
  src/basic/missing_random.h
  src/basic/random-util.c
  src/basic/random-util.h
  src/test/test-random-util.c
Labels: util-lib

#15460 network: fallback on resolve1 DNS for DHCP
  src/network/networkd-dhcp-server.c
  src/resolve/meson.build
  src/resolve/resolved-conf.c
  src/resolve/resolved-util.c
  src/resolve/resolved-util.h
  src/resolve/test-resolved-util.c
  src/shared/socket-netlink.c
  src/shared/socket-netlink.h
  src/test/test-socket-util.c
Labels: dhcp, good-to-merge/waiting-for-ci 👍, network

#15663 DHCP client: make SendOption work for DHCPv6 too
  man/systemd.network.xml
  src/libsystemd-network/dhcp-server-internal.h
  src/libsystemd-network/dhcp6-internal.h
  src/libsystemd-network/dhcp6-option.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp-common.h
  src/network/networkd-dhcp6.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
  src/systemd/sd-dhcp6-client.h
  src/systemd/sd-dhcp6-option.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: good-to-merge/waiting-for-ci 👍, network

#15762 Fix build with -O3 with gcc 10
  meson.build
  src/core/path.c
  src/shared/ethtool-util.c
Labels: pid1, util-lib

#15761 Fix misuse of PAM_PROMPT_ECHO_OFF in systemd-homed
  src/home/pam_systemd_home.c
Labels: homed, needs-reporter-feedback ❓

#15571 netlink: port to recvmsg_safe() + tree-wide cmsghdr fixes
  src/libsystemd/sd-netlink/netlink-socket.c
  src/resolve/resolved-manager.h
Labels: sd-netlink

#15789 man: document homed bus API
  man/org.freedesktop.home1.xml
  man/org.freedesktop.systemd1.xml
  man/systemd-homed.service.xml
  src/home/homed-home-bus.c
  src/home/homed-manager-bus.c
Labels: documentation 📖, homed

#15785 some simple PAM fixes split out of #15742
  TODO
  src/home/pam_systemd_home.c
  src/login/pam_systemd.c
Labels: good-to-merge/waiting-for-ci 👍, homed, login, quick-review 🏃‍♂️

#15793 core: don't bind varlink socket if running in test mode
  src/core/core-varlink.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#15424 tree-wide: add size limits for tmpfs mounts
  src/core/mount-setup.c
  src/core/namespace.c
  src/fstab-generator/fstab-generator.c
  src/nspawn/nspawn-cgroup.c
  src/nspawn/nspawn-mount.c
  src/shared/mount-util.h
  src/volatile-root/volatile-root.c
  units/tmp.mount
Labels: fstab-generator, nspawn, pid1, reviewed/needs-rework 🔨, tree-wide, units

#15791 Add libzstd to the Fedora mkosi Package list
  .mkosi/mkosi.fedora
Labels: mkosi, reviewed/needs-rework 🔨

#15796 systemctl: fix indentation of 'Active:' field in status output
  src/systemctl/systemctl.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, systemctl

#15335 semaphore: use dots instead of dashes
  semaphoreci/semaphore-runner.sh
Labels: ci

#15808 ci: install fdisk on Debian
  semaphoreci/semaphore-runner.sh
  travis-ci/managers/debian.sh
Labels: ci, priority

#15805 selinux: add parenthesis to function names in log messages
  src/core/selinux-access.c
Labels: good-to-merge/waiting-for-ci 👍, pid1, selinux

#15801 journald: stream pid change newline fix
  man/systemd.journal-fields.xml
  src/journal/journald-stream.c
  test/units/testsuite-04.sh
Labels: good-to-merge/waiting-for-ci 👍, journal

#15660 Faster manager_process_barrier_fd and drop message if BARRIER=1 found
  src/basic/strv.h
  src/core/manager.c
  src/core/service.c
  src/core/unit.h
Labels: pid1, reviewed/needs-rework 🔨

#15765 Various bug fixes
  src/journal/test-audit-type.c
  src/libsystemd-network/sd-radv.c
  src/libsystemd-network/test-sd-dhcp-lease.c
  src/libsystemd/sd-bus/test-bus-chat.c
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/test-netlink.c
  src/network/netdev/macsec.c
  src/network/test-network.c
  src/resolve/resolved-dnstls-gnutls.c
  src/shared/seccomp-util.c
  src/systemctl/systemctl.c
  src/test/test-fstab-util.c
  src/udev/net/link-config.c
Labels: reviewed/needs-rework 🔨, tree-wide

#15806 cifuzz: set allowed-broken-targets-percentage to 0
  .github/workflows/main.yml
Labels: ci

#15813 sd-dhcp-server: some function prototype fix-ups
  src/libsystemd-network/dhcp-server-internal.h
  src/libsystemd-network/sd-dhcp-server.c
  src/systemd/sd-dhcp-server.h
Labels: dhcp, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#15815 man: document $LOG_NAMESPACE
  man/systemd.exec.xml
Labels: documentation 📖, pid1, quick-review 🏃‍♂️

#15174 network: allow setting Vlan protocol on bridges
  man/systemd.netdev.xml
  src/network/netdev/bridge.c
  src/network/netdev/bridge.h
  src/network/netdev/netdev-gperf.gperf
  src/shared/conf-parser.c
  src/shared/conf-parser.h
  test/fuzz/fuzz-netdev-parser/directives.netdev
Labels: network, reviewed/needs-rework 🔨

#15799 sysctl: check correct error code
  src/sysctl/sysctl.c
Labels: quick-review 🏃‍♂️, sysctl

#15816 sd-netlink: remove unused RTNL_WQUEUE_MAX define
  src/libsystemd/sd-netlink/netlink-internal.h
Labels: good-to-merge/waiting-for-ci 👍, sd-netlink

#15819 hwdb: fix microphone shortcut on HP EliteBook 840 G1
  hwdb.d/60-keyboard.hwdb
Labels: good-to-merge/waiting-for-reporter-feedback 👍, hwdb

#15812 Get rid of StandardOutput=syslog
  man/sd-daemon.xml
  man/systemd.exec.xml
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment.c
  src/core/unit.c
Labels: ci-failure-appears-unrelated, pid1

#15052 journal-send: Fix the limitation of LINE_MAX
  src/journal/journal-send.c
  src/journal/test-journal-send.c
Labels: journal

#15265 Mount fixes
  man/systemd.automount.xml
  src/core/automount.c
  src/core/device.c
  src/core/mount.c
  src/core/unit.c
  src/core/unit.h
  src/fstab-generator/fstab-generator.c
  src/shared/fstab-util.c
  src/shared/fstab-util.h
  src/shared/generator.c
Labels: fstab-generator, mount, pid1

#15792 repart: add --size= and --empty=create options for growing/creating disk images from scratch
  TODO
  man/systemd-repart.xml
  src/partition/repart.c
  src/partition/test-repart.sh
Labels: repart

#15355 network: Add support to group links.
  man/systemd.network.xml
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: network

#15824 shared: fix integer overflow in calendarspec
  src/shared/calendarspec.c
  test/fuzz/fuzz-calendarspec/oss-fuzz-22208
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#15800 udev: get rid of "Could not set flow control of" message on "lo" inte…
  src/udev/net/link-config.c
Labels: quick-review 🏃‍♂️, udev

#15817 Add ConditionEnvironment= and ConditionIsEncrypted=
  TODO
  man/systemd.unit.xml
  src/analyze/analyze-condition.c
  src/basic/limits-util.c
  src/core/unit.c
  src/network/netdev/netdev.c
  src/network/networkd-network.c
  src/network/networkd-util.c
  src/shared/condition.c
  src/shared/condition.h
  src/test/test-condition.c
  src/udev/net/link-config.c
Labels: good-to-merge/waiting-for-ci 👍, new-feature, pid1

#15826 docs: policy for systemd-security subscriptions
  docs/SECURITY.md
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍

#15825 Increase size of /run to 20%
  src/shared/mount-util.h
Labels: good-to-merge/waiting-for-ci 👍, pid1

#15272 pstore: options to enable kernel writing into the pstore
  man/systemd-pstore.service.xml
  tmpfiles.d/meson.build
  tmpfiles.d/systemd-pstore.conf
Labels: good-to-merge/with-minor-suggestions, pstore

#15203 networkctl: VXLan - display more properties
  src/network/networkctl.c
Labels: network, reviewed/needs-rework 🔨

#15827 meson: initialize time-epoch to reproducible builds compatible value
  TODO
  meson.build
Labels: meson

#15165 network: Move common functions of bonding to bond-util
  src/network/netdev/bond.c
  src/network/netdev/bond.h
  src/network/networkctl.c
  src/shared/bond-util.c
  src/shared/bond-util.h
  src/shared/meson.build
Labels: ci-failure-appears-unrelated, network

#15494 DHCPv6: Allow to add arbitrary request option
  man/systemd.network.xml
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/test-dhcp6-client.c
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp-common.h
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp4.h
  src/network/networkd-dhcp6.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: network

#15804 four likely safe commits split out of #15624
  man/sd_bus_add_object.xml
  src/basic/stat-util.c
  src/basic/stat-util.h
  src/libsystemd/sd-bus/bus-objects.c
  src/resolve/resolved-manager.h
  src/resolve/resolved-resolv-conf.c
  src/systemd/sd-bus-vtable.h
Labels: documentation 📖, resolve, sd-bus, util-lib

#15838 more hostnamed fixes, split out of #15624
  src/hostname/hostnamed.c
Labels: ci-failure-appears-unrelated, hostname

#15809 journal: fix dropping first record during upload to remote journal
  src/journal-remote/journal-upload-journal.c
Labels: ci-failure-appears-unrelated, journal-remote

#15839 dhcp6: slightly improve log message
  src/libsystemd-network/sd-dhcp6-client.c
Labels: dhcp, quick-review 🏃‍♂️

#15810 core: allow overriding needs-update/first-boot/system clock via kernel cmdline
  TODO
  man/kernel-command-line.xml
  man/systemd-update-done.service.xml
  man/systemd.unit.xml
  src/basic/proc-cmdline.c
  src/basic/proc-cmdline.h
  src/core/hostname-setup.c
  src/core/main.c
  src/shared/condition.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#15797 homed: use right config section in example config
  src/home/homed.conf
Labels: homed, quick-review 🏃‍♂️

#15166 networkctl: Add support to display ipvlan
  src/network/netdev/ipvlan.c
  src/network/netdev/ipvlan.h
  src/network/networkctl.c
  src/shared/ipvlan-util.c
  src/shared/ipvlan-util.h
  src/shared/meson.build
Labels: network, reviewed/needs-rework 🔨

#15794 pam_systemd/pam_systemd_home: fix caching
  src/home/pam_systemd_home.c
  src/login/pam_systemd.c
Labels: homed, login

#15602 allow removal of initrd services
  meson.build
  meson_options.txt
  units/meson.build
Labels: build-system

#15842 cifuzz: protect forks from CIFuzz
  .github/workflows/main.yml
  README.md
Labels: ci

#15844 repart: don't insist on coming up on partition label ourselves
  src/partition/repart.c
Labels: repart

#15836 lock whole block device file running makefs
  src/basic/blockdev-util.c
  src/basic/blockdev-util.h
  src/cryptsetup/cryptsetup-generator.c
  src/partition/makefs.c
  src/shared/dissect-image.c
Labels: cryptsetup, util-lib

#15798 journalctl,elsewhere: make sure --file=foo fails with sane error msg …
  src/basic/glob-util.c
  src/basic/glob-util.h
  src/basic/path-util.c
  src/coredump/coredumpctl.c
  src/journal-remote/journal-upload.c
  src/journal/journalctl.c
  src/sysctl/sysctl.c
Labels: journal

#15848 A few tweaks to docs
  NEWS
  TODO
  man/sysctl.d.xml
Labels: documentation 📖

#15843 busctl: improve log messages on duplicate members or interfaces
  src/busctl/busctl.c
Labels: busctl

#15845 make path_is_encrypted() test pass on btrfs inside container
  src/basic/btrfs-util.c
  src/test/test-fs-util.c
Labels: btrfs, ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, tests

#15637 a number of cryptsetup fixes and additions
  man/crypttab.xml
  man/systemd-cryptsetup@.service.xml
  man/yubikey-crypttab.sh
  meson.build
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/cryptsetup/cryptsetup-generator.c
  src/cryptsetup/cryptsetup-pkcs11.c
  src/cryptsetup/cryptsetup-pkcs11.h
  src/cryptsetup/cryptsetup-util.c
  src/cryptsetup/cryptsetup-util.h
  src/cryptsetup/cryptsetup.c
  src/test/test-fs-util.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍, util-lib

#15851 systemctl: Fix frozen state coloring
  src/systemctl/systemctl.c
Labels: systemctl

#15482 network: DHCPv6 Introduce user class
  man/systemd.network.xml
  src/libsystemd-network/dhcp6-internal.h
  src/libsystemd-network/dhcp6-option.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp-common.h
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp4.h
  src/network/networkd-dhcp6.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/sd-dhcp6-client.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: good-to-merge/waiting-for-ci 👍, network

#15856 udev: when random MACs are requested, generate them with genuine rand…
  src/udev/net/link-config.c
Labels: udev

#15861 load-fragment: fix a typo
  src/core/load-fragment.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#15535 pid1: update RuntimeWatchogSec setting on daemon-reload as well
  src/core/dbus-manager.c
  src/core/main.c
  src/core/manager.c
  src/core/manager.h
Labels: pid1

#15488 sd-network: DHCPv4 - Add user class, extra option and send generic o…
  src/libsystemd-network/sd-dhcp-client.c
Labels: dhcp, network

#15661 Mount read write only
  docs/TRANSIENT-SETTINGS.md
  man/systemd.mount.xml
  src/core/dbus-mount.c
  src/core/load-fragment-gperf.gperf.m4
  src/core/mount.c
  src/core/mount.h
  src/fstab-generator/fstab-generator.c
  src/shared/bus-unit-util.c
  test/fuzz/fuzz-unit-file/directives.service
Labels: new-feature, pid1

#15860 Fix crash on message with empty fields structure
  src/libsystemd/sd-bus/bus-message.c
  test/fuzz/fuzz-bus-message/oss-fuzz-19446
Labels: ci-failure-appears-unrelated, sd-bus

#15490 network: DHCPv6 - Add support to send vendor class information
  man/systemd.network.xml
  src/libsystemd-network/dhcp-identifier.c
  src/libsystemd-network/dhcp-identifier.h
  src/libsystemd-network/dhcp6-internal.h
  src/libsystemd-network/dhcp6-option.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp-common.h
  src/network/networkd-dhcp6.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/sd-dhcp6-client.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: dhcp, good-to-merge/waiting-for-ci 👍, network

#15274 DHCP4: Allow lease time to be set when missing from offer
  man/systemd.network.xml
  src/libsystemd-network/sd-dhcp-client.c
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp4.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
  src/systemd/sd-dhcp-client.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: dhcp, network

#15868 Fix bad errno checks
  src/basic/efivars.c
  src/basic/fileio.c
  src/boot/bootctl.c
  src/home/homework.c
Labels: good-to-merge/waiting-for-ci 👍, tree-wide

#15864 two more pam_systemd fixes, split out of #15742
  man/pam_systemd_home.xml
  src/home/pam_systemd_home.c
  src/login/pam_systemd.c
Labels: homed, login

#15854 explain async bus method callback ret_error parameter
  man/sd_bus_add_match.xml
  man/sd_bus_add_object.xml
  man/sd_bus_call.xml
  man/sd_bus_call_method.xml
  man/sd_bus_get_current_handler.xml
  man/sd_bus_request_name.xml
  man/sd_bus_slot_get_bus.xml
Labels: documentation 📖, sd-bus

#15865 build-system: build the fuzz targets with both ASan and UBSan
  meson.build
  test/fuzz/meson.build
  travis-ci/managers/fuzzit.sh
Labels: build-system, good-to-merge/waiting-for-ci 👍

#15557 journal: deal better with reading from zeroed out journal mmaps
  src/basic/macro.h
  src/basic/memory-util.h
  src/journal/journal-file.c
  src/journal/journal-internal.h
  src/journal/sd-journal.c
Labels: journal

#15871 homed: fix return value mix-up
  src/home/homed-home.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#15870 udev /proc/cmdline handling fixes
  src/basic/proc-cmdline.c
  src/basic/proc-cmdline.h
  src/udev/udev-rules.c
Labels: udev, util-lib

#15857 rules: automatically pull in smartcard.target from all CCID devices
  rules.d/99-systemd.rules.in
Labels: udev

#15537 udev: rename the persistent link for ATA devices
  rules.d/60-persistent-storage.rules
  src/udev/udev-builtin-path_id.c
Labels: ci-failure-appears-unrelated, udev

#15829 shared: treat generator units as vendor units
  src/shared/install.c
Labels: pid1

#15873 oss-fuzz: turn on the pointer-overflow check
  docs/CODE_QUALITY.md
  tools/oss-fuzz.sh
Labels: good-to-merge/waiting-for-ci 👍

#15433 test: copy the test image instead of symlinking it
  test/TEST-03-JOBS/test.sh
  test/TEST-13-NSPAWN-SMOKE/test.sh
  test/TEST-14-MACHINE-ID/test.sh
  test/TEST-21-SYSUSERS/test.sh
  test/test-functions
Labels: tests

#15877 meson: add fuzz-tests= option
  meson.build
  meson_options.txt
Labels: build-system, tests

#15869 homed: fix logging into unfixated home directories
  src/basic/fileio.c
  src/home/homed-home.c
  src/home/homed-manager.c
  src/home/homework-luks.c
  src/home/homework.c
  src/home/homework.h
  src/libsystemd/sd-bus/bus-common-errors.c
  src/libsystemd/sd-bus/bus-common-errors.h
  src/shared/bus-util.c
Labels: homed

#15889 network: Fix crash when SendOption= is invalid
  src/network/networkd-dhcp-common.c
  test/fuzz/fuzz-network-parser/github-15885
Labels: good-to-merge/waiting-for-ci 👍, network

#15886 travis: enable fuzzer regression tests under sanitizers
  test/fuzz/meson.build
  travis-ci/managers/debian.sh
Labels: ci

#15874 hwdb: remove support for MOUSE_WHEEL_TILT_*
  hwdb.d/70-mouse.hwdb
  hwdb.d/parse_hwdb.py
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#15897 home: respect user record nosuid, nodev and noexec flags
  src/home/homework-cifs.c
  src/home/homework-luks.c
  src/home/homework-mount.c
  src/home/homework-mount.h
Labels: good-to-merge/waiting-for-ci 👍, homed

#15898 login: limit nr_inodes for /run/user/$UID
  man/logind.conf.xml
  man/org.freedesktop.login1.xml
  src/login/logind-core.c
  src/login/logind-dbus.c
  src/login/logind-gperf.gperf
  src/login/logind.conf.in
  src/login/logind.h
  src/login/user-runtime-dir.c
  test/fuzz/fuzz-unit-file/directives.service
Labels: login, user-session

#15881 ACCEL_MOUNT_MATRIX for additional Acer Spin model
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#15904 tree-wide: codespell fixes
  TODO
  man/homed.conf.xml
  man/sd_bus_close.xml
  src/basic/fs-util.c
  src/journal/journal-send.c
  src/resolve/resolved-manager.h
Labels: good-to-merge/waiting-for-ci 👍, tree-wide

#15872 Type and parsing fixes for networkd
  src/libsystemd/sd-path/sd-path.c
  src/network/networkd-address.c
  src/network/networkd-dhcp-server.c
  src/network/networkd-dhcp4.c
Labels: coverity, good-to-merge/waiting-for-ci 👍, network

#15167 networkctl: Add a range to address genmode
  man/systemd.network.xml
  src/network/networkctl.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: good-to-merge/waiting-for-ci 👍, network

#15862 repart: Add Uuid option to config files
  man/repart.d.xml
  src/nspawn/nspawn-settings.c
  src/nspawn/nspawn-settings.h
  src/partition/repart.c
  src/partition/test-repart.sh
  src/shared/conf-parser.c
  src/shared/conf-parser.h
Labels: good-to-merge/waiting-for-ci 👍, repart

#15840 mkosi: openSUSE updates
  .mkosi/mkosi.opensuse
Labels: mkosi

#15914 json: disable ubsan float checking
  src/basic/macro.h
  src/core/dbus-cgroup.c
  src/core/selinux-access.c
  src/fstab-generator/fstab-generator.c
  src/journal-remote/microhttpd-util.c
  src/locale/localed.c
  src/shared/json.c
  src/test/test-fileio.c
  src/test/test-json.c
  src/test/test-sizeof.c
  src/timedate/timedatectl.c
  src/udev/udev-builtin-net_id.c
  test/fuzz/fuzz-json/github-15907
Labels: good-to-merge/waiting-for-ci 👍, tree-wide, util-lib
