Repository systemd/systemd, pull requests merged in 2020-04, with the labels that each got.

#15253 sd-bus: Add error handling info to sd_bus_add_object_vtable docs
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_add_object.xml
Labels: documentation 📖

#15238 network: can: add support for CAN-FD related properties
  man/systemd.network.xml
  src/network/networkd-can.c
  src/network/networkd-can.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: good-to-merge/waiting-for-ci 👍, network

#15300 udev: Fix SIGSEGV in AlternativeNamesPolicy handling
  src/udev/net/link-config.c
Labels: network, udev

#15109 Make homed/userdbd/repart services installable (to allow uninstalling)
  presets/90-systemd.preset
  test/test-functions
  test/units/testsuite-46.service
  units/meson.build
  units/systemd-homed.service.in
  units/systemd-repart.service.in
  units/systemd-userdbd.service.in
  units/systemd-userdbd.socket
Labels: ci-failure-appears-unrelated, units

#15252 DHCPv6: Add support to send MUD URL
  man/systemd.network.xml
  src/libsystemd-network/sd-dhcp6-client.c
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp-common.h
  src/network/networkd-dhcp6.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/sd-dhcp6-client.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: dhcp, good-to-merge/waiting-for-ci 👍, network

#15210 networkctl: Add support to set link up and down
  man/networkctl.xml
  src/network/networkctl.c
Labels: network

#15309 remove dead-lock in strv_split()
  TODO
  src/basic/string-util.c
  src/basic/string-util.h
  src/test/test-strv.c
Labels: good-to-merge/waiting-for-ci 👍, tests, util-lib

#15207 resolve: reload /etc/hosts on inode change
  src/resolve/resolved-etc-hosts.c
  src/resolve/resolved-manager.c
  src/resolve/resolved-manager.h
Labels: good-to-merge/waiting-for-ci 👍, resolve

#15308 shared/dissect-image: log messages from cryptsetup
  src/shared/dissect-image.c
Labels: ci-failure-appears-unrelated, dissect, pid1, util-lib

#15310 make systemd-repart static again, but condition it out if no config
  presets/90-systemd.preset
  units/meson.build
  units/systemd-repart.service.in
Labels: ci-failure-appears-unrelated, units

#15311 capability: don't skip ambient caps setup if we actually have somethi…
  src/basic/capability-util.c
Labels: pid1, util-lib

#15297 homed: fall back to ftruncate() if fallocate() is not supported on ba…
  src/home/homework-luks.c
Labels: homed

#15290 Three unrelated minor tweaks
  man/journalctl.xml
  src/journal-remote/journal-remote-main.c
  src/libsystemd/sd-bus/bus-internal.c
Labels: documentation 📖, journal-remote, sd-bus

#15321 dbus-execute: show also ProtectClock
  src/core/dbus-execute.c
Labels: pid1

#15298 systemctl --property-value as shortcut for --property --value
  man/systemctl.xml
  src/systemctl/systemctl.c
  test/units/testsuite-05.sh
  test/units/testsuite-20.sh
  test/units/testsuite-32.sh
  test/units/testsuite-41.sh
Labels: good-to-merge/waiting-for-ci 👍, systemctl

#15325 detect-virt: also detect "microsoft" and WSL
  src/basic/virt.c
Labels: ci-failure-appears-unrelated, detect-virt

#15333 semaphore: switch to upstream-ci
  semaphoreci/semaphore-runner.sh
Labels: ci, priority

#15349 Remove stray file and fix two minor issues in man pages
  man/rules/meson.build
  man/systemd.special.xml
  network/networkd-dhcp-server.c
Labels: documentation 📖

#15341 hwdb: Add accel orientation quirk for MPMAN MPWIN895CL tablet
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#15330 fix manager_state
  src/core/manager.c
Labels: pid1

#15327 sysctl: enable coredump for suid binaries
  NEWS
  sysctl.d/50-coredump.conf.in
Labels: coredump

#15323 Remove message->priority field
  man/sd_bus_message_dump.xml
  src/busctl/busctl.c
  src/libsystemd/sd-bus/bus-dump.c
  src/libsystemd/sd-bus/bus-message.c
  src/libsystemd/sd-bus/bus-message.h
Labels: sd-bus

#15313 units: add ProtectClock=yes
  units/systemd-journal-remote.service.in
  units/systemd-journald.service.in
  units/systemd-logind.service.in
  units/systemd-networkd.service.in
  units/systemd-resolved.service.in
  units/systemd-udevd.service.in
Labels: units

#14930 Canonicalise names in DNS responses per RFC4034 requirements
  src/resolve/resolved-dns-dnssec.c
  src/resolve/resolved-dns-dnssec.h
  src/resolve/resolved-dns-packet.c
  src/resolve/test-dnssec.c
Labels: resolve

#15358 preset: let's clean up preset list a bit
  presets/90-systemd.preset
Labels: units

#15234 LLDP : Introduce Manufacturer Usage Description (MUD)
  man/systemd.network.xml
  src/libsystemd-network/lldp-neighbor.c
  src/libsystemd-network/lldp-neighbor.h
  src/network/networkd-lldp-tx.c
  src/network/networkd-lldp-tx.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/sd-lldp.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: lldp, network, reviewed/needs-rework 🔨

#15367 man: correct the default slice for systemd-run units
  man/systemd-run.xml
Labels: documentation 📖, run

#15362 systemd-run: add --slice-inherit
  man/systemd-run.xml
  src/run/run.c
Labels: good-to-merge/waiting-for-ci 👍, run

#15331 bus: introduce some sd-bus convenience helpers
  src/shared/bus-util.c
  src/shared/bus-util.h
Labels: sd-bus

#15196 mount-setup: change the system mount propagation to shared by default…
  src/core/main.c
  src/core/mount-setup.c
  src/core/mount-setup.h
Labels: pid1, reviewed/needs-rework 🔨

#15368 minor terminal ansi color seq fixes
  src/basic/terminal-util.h
  src/test/test-terminal-util.c
Labels: quick-review 🏃‍♂️, tests, util-lib

#15369 sleep: improve log msg slightly
  src/shared/sleep-config.c
Labels: quick-review 🏃‍♂️, sleep

#15345 Show Environment= entries with spaces in systemctl
  src/basic/escape.c
  src/basic/escape.h
  src/shared/bus-util.c
  src/test/test-escape.c
Labels: good-to-merge/waiting-for-ci 👍, systemctl

#15372 hwdb: Fix kbd brightness keys on Acer Predator PH 315-52
  hwdb.d/60-keyboard.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#15332 CoredumpFilter=
  docs/TRANSIENT-SETTINGS.md
  man/systemd.exec.xml
  src/basic/parse-util.c
  src/basic/parse-util.h
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/shared/bus-unit-util.c
  src/shared/bus-util.c
  src/shared/coredump-util.c
  src/shared/coredump-util.h
  src/shared/meson.build
  src/test/meson.build
  src/test/test-coredump-util.c
  src/test/test-parse-util.c
  test/fuzz/fuzz-unit-file/directives.service
Labels: coredump, good-to-merge/waiting-for-ci 👍, new-feature, pid1

#15318 pid1: by default make user units inherit their umask from the user ma…
  man/systemd.exec.xml
  src/basic/process-util.c
  src/basic/process-util.h
  src/core/unit.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#15352 user/group name validity rework
  catalog/systemd.catalog.in
  docs/USER_NAMES.md
  docs/USER_RECORD.md
  man/homectl.xml
  man/systemd.exec.xml
  man/sysusers.d.xml
  src/basic/user-util.c
  src/basic/user-util.h
  src/core/dbus-execute.c
  src/core/dbus-manager.c
  src/core/dbus-socket.c
  src/core/dbus-util.c
  src/core/dbus-util.h
  src/core/dynamic-user.c
  src/core/load-fragment.c
  src/core/unit.c
  src/home/home-util.c
  src/home/homectl.c
  src/home/homed-manager-bus.c
  src/home/pam_systemd_home.c
  src/nss-systemd/nss-systemd.c
  src/shared/group-record.c
  src/shared/json.c
  src/shared/json.h
  src/shared/user-record.c
  src/shared/userdb.c
  src/systemd/sd-messages.h
  src/sysusers/sysusers.c
  src/test/test-user-util.c
  src/userdb/userdbctl.c
Labels: documentation 📖, util-lib

#15385 bootctl: fix assert issue
  src/boot/bootctl.c
Labels: boot

#15361 test: wait a bit after stopping the test service
  test/units/testsuite-47.sh
Labels: quick-review 🏃‍♂️, tests

#15379 man: reference pam_systemd_home man page from systemd-homed man page
  man/systemd-homed.service.xml
Labels: documentation 📖, homed, quick-review 🏃‍♂️

#15382 bus: s/BusAddress/BusLocator/
  src/shared/bus-util.c
  src/shared/bus-util.h
Labels: good-to-merge/waiting-for-ci 👍, sd-bus

#15337 [RFC] Declare that non-seat0 seats can support multisession.
  src/login/logind-seat.c
Labels: login

#15380 docs: add brief document how to convert home directories to homed
  docs/CONVERTING_TO_HOMED.md
Labels: documentation 📖, homed

#15373 man: extend documentation of the suspend= switch of pam_systemd_home
  man/pam_systemd_home.xml
Labels: documentation 📖, homed

#15383 docs: add some documentation about hooking up userdb/homed to desktop…
  docs/USERDB_AND_DESKTOPS.md
Labels: documentation 📖, homed

#15392 Flag setting helper and some other minor cleanups
  man/systemd.network.xml
  src/basic/btrfs-util.c
  src/basic/fd-util.c
  src/basic/macro.h
  src/busctl/busctl.c
  src/shared/efi-loader.c
Labels: busctl, documentation 📖

#15377 don't try to access shadow from logind
  src/home/pam_systemd_home.c
  src/login/logind-core.c
  src/nss-systemd/nss-systemd.c
  src/nss-systemd/userdb-glue.c
  src/shared/group-record-nss.c
  src/shared/group-record-nss.h
  src/shared/user-record-nss.c
  src/shared/user-record-nss.h
  src/shared/userdb.c
  src/shared/userdb.h
  src/userdb/userwork.c
Labels: login, userdb

#15376 homed: when doing luks homedir with btrfs inside, place subvol at top of fs
  src/basic/btrfs-util.c
  src/basic/btrfs-util.h
  src/home/homework-luks.c
  src/import/import-tar.c
  src/import/pull-tar.c
Labels: btrfs, homed

#15365 pid1: automatically generate systemd-remount-fs.service deps, plus enable systemd-pstore from sysinit.target
  src/core/unit.c
  units/systemd-backlight@.service.in
  units/systemd-coredump@.service.in
  units/systemd-pstore.service.in
  units/systemd-rfkill.service.in
  units/systemd-timesyncd.service.in
Labels: pid1, units

#15404 hwdb: Add accel orientation quirk for Geoflex laptop
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#15336 home: switch to BusLocator-oriented helpers
  src/home/homectl.c
  src/home/pam_systemd_home.c
Labels: ci-failure-appears-unrelated, homed

#15406 Add sd_bus_set_exec docs
  man/rules/meson.build
  man/sd_bus_set_address.xml
  src/libsystemd/sd-bus/sd-bus.c
  src/systemd/sd-bus.h
Labels: documentation 📖, good-to-merge/with-minor-suggestions

#15281 Post-merge tweaks to the functional tests
  test/TEST-02-CRYPTSETUP/test.sh
  test/TEST-06-SELINUX/test.sh
  test/TEST-13-NSPAWN-SMOKE/test.sh
  test/TEST-24-UNIT-TESTS/test.sh
  test/run-integration-tests.sh
  test/test-functions
  test/units/testsuite-13.sh
Labels: tests

#15413 Remove unneded {}s
  src/boot/efi/measure.c
  src/core/transaction.c
  src/home/homectl.c
  src/import/curl-util.c
  src/journal/test-catalog.c
  src/locale/keymap-util.c
  src/test/test-strv.c
  src/udev/ata_id/ata_id.c
  src/udev/scsi_id/scsi_id.c
  src/udev/udev-builtin-input_id.c
  src/update-utmp/update-utmp.c
Labels: tree-wide

#15397 network: VXlan group and remote fixes
  src/network/netdev/vxlan.c
  src/network/networkctl.c
Labels: network

#15418 core: make sure ProtectHostname= is handled gracefully in containers …
  src/core/execute.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#15419 sd-network: DHCPv6 - Add status codes
  src/libsystemd-network/dhcp6-protocol.h
  src/libsystemd-network/sd-dhcp6-client.c
Labels: dhcp, good-to-merge/waiting-for-ci 👍

#15409 [pam_systemd_home] Fix debug parameter to match man page description
  src/home/pam_systemd_home.c
Labels: homed, reviewed/needs-rework 🔨

#15414 coredumpctl: support --file=PATH
  man/coredumpctl.xml
  src/coredump/coredumpctl.c
Labels: coredump, good-to-merge/waiting-for-ci 👍

#15417 fileio: fileno() can realistically return -1
  src/basic/fileio.c
  src/basic/fileio.h
  src/basic/terminal-util.c
  src/libsystemd/sd-hwdb/hwdb-util.c
  src/shared/conf-parser.c
Labels: ci-failure-appears-unrelated, util-lib

#15403 Add meson build option to prevent building kernel-install
  meson_options.txt
  src/kernel-install/meson.build
Labels: meson

#15359 verify: ignore nonexistent executables if required
  src/analyze/analyze-verify.c
  src/analyze/analyze-verify.h
  src/analyze/test-verify.c
  src/test/meson.build
Labels: analyze, good-to-merge/with-minor-suggestions

#15430 meson,resolved: make default LLMNR= and MulticastDNS= values configurable
  meson.build
  meson_options.txt
  src/resolve/resolved-manager.c
  src/resolve/resolved.conf.in
Labels: good-to-merge/waiting-for-ci 👍, meson, resolve

#15416 man: update os-release(5) to use 24bit ANSI color in example
  man/os-release.xml
Labels: documentation 📖

#15431 display lock/key emoji when prompting for passwords
  src/basic/locale-util.c
  src/basic/locale-util.h
  src/shared/ask-password-api.c
  src/test/test-locale-util.c
Labels: ask-password, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, util-lib

#15426 virt: Detect proot virtualisation by ptrace metadata
  man/systemd-detect-virt.xml
  man/systemd.unit.xml
  src/basic/virt.c
  src/basic/virt.h
Labels: detect-virt, good-to-merge/waiting-for-ci 👍

#15432 sd-boot: Add → as alternative to boot selected entry
  man/systemd-boot.xml
  src/boot/efi/boot.c
Labels: boot, good-to-merge/waiting-for-ci 👍

#15429 Add Logitech G502 HERO to mouse hwdb
  hwdb.d/70-mouse.hwdb
Labels: hwdb

#15438 virt: Use cache for VIRTUALIZATION_PROOT
  src/basic/virt.c
Labels: detect-virt, quick-review 🏃‍♂️

#15363 network: Allow DHCPv6 client to be started even if no O or M bit in RA.
  man/systemd.network.xml
  src/network/networkd-ndisc.c
  src/network/networkd-ndisc.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
Labels: network

#15441 systemd-analyze: Add new meson configure option for controlling systemd-analyze support
  meson.build
  meson_options.txt
Labels: good-to-merge/waiting-for-ci 👍, meson

#15437 Move "files" and "dns" later in the recommended hosts: lines
  man/nss-myhostname.xml
  man/nss-mymachines.xml
  man/nss-resolve.xml
  man/nss-systemd.xml
Labels: documentation 📖, nss

#15304 watchdog: reduce watchdog pings in timeout interval
  src/core/manager.c
  src/shared/watchdog.c
  src/shared/watchdog.h
Labels: good-to-merge/waiting-for-ci 👍, pid1

#15353 units: use correct path to refer to plymouth
  test/test-functions
  units/emergency.service.in
  units/rescue.service.in
Labels: build-system

#15448 logind: avoid polkit query for SetWallMessage()
  src/login/loginctl.c
  src/login/logind-dbus.c
Labels: good-to-merge/waiting-for-ci 👍, login

#15449 resolved: tone down comment in /run/systemd/{stub-,}resolve.conf
  src/resolve/resolved-resolv-conf.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, resolve

#15452 Fix static assertion failure with recent glibc
  src/network/netdev/fou-tunnel.c
Labels: ci-failure-appears-unrelated, network, priority

#15347 Support journal-upload HTTPS without key and certificate
  man/systemd-journal-upload.service.xml
  src/journal-remote/journal-upload.c
Labels: ci-failure-appears-unrelated, journal-remote

#15454 Spelling fixes based on codespell suggestions
  src/basic/fs-util.h
  src/basic/unit-def.h
  src/boot/bootctl.c
  src/core/job.c
  src/core/main.c
  src/core/service.c
  src/core/systemd.pc.in
  src/core/unit.c
  src/cryptsetup/cryptsetup-generator.c
  src/home/homectl.c
  src/home/homed-home.c
  src/home/homed-manager-bus.c
  src/home/homed-manager.c
  src/home/homed-manager.h
  src/home/homework.c
  src/home/user-record-util.c
  src/journal/journald-kmsg.c
  src/journal/journald-server.c
  src/libsystemd/sd-bus/bus-message.c
  src/libsystemd/sd-bus/bus-objects.c
  src/nspawn/nspawn.c
  src/nss-systemd/userdb-glue.c
  src/partition/repart.c
  src/resolve/resolved-dns-answer.c
  src/shared/bridge-util.c
  src/shared/chown-recursive.c
  src/shared/format-table.c
  src/shared/install.c
  src/shared/json.c
  src/shared/pkcs11-util.c
  src/shared/sleep-config.c
  src/shared/sysctl-util.h
  src/shared/tests.c
  src/shared/user-record.c
  src/test/test-install-root.c
  src/udev/udev-rules.c
  src/userdb/userdbctl.c
  src/version/version.h.in
Labels: tree-wide

#15446 Add .clang-format file
  .clang-format
Labels: good-to-merge/waiting-for-ci 👍

#15447 network: make ve-* rule also apply to tun devices
  network/80-vm-vt.network
  network/meson.build
Labels: good-to-merge/waiting-for-ci 👍, network

#15459 Remove seat_can_multi_session
  man/rules/meson.build
  man/sd_seat_get_active.xml
  src/libsystemd/sd-login/sd-login.c
  src/libsystemd/sd-login/test-login.c
  src/login/logind-seat-dbus.c
  src/login/logind-seat.c
  src/login/logind-seat.h
  src/systemd/sd-bus.h
  src/systemd/sd-journal.h
  src/systemd/sd-login.h
  tools/meson-check-api-docs.sh
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, login

#15458 systemctl: hide first column with --plain instead of with --no-legend
  NEWS
  shell-completion/bash/systemctl.in
  shell-completion/bash/systemd-analyze
  shell-completion/bash/systemd-cgls
  shell-completion/bash/systemd-nspawn
  shell-completion/bash/systemd-run
  shell-completion/bash/udevadm
  shell-completion/zsh/_systemctl.in
  shell-completion/zsh/_systemd-run
  src/systemctl/systemctl.c
Labels: good-to-merge/waiting-for-ci 👍, systemctl

#15396 D-bus API docs
  TODO
  man/custom-entities.ent.in
  man/org.freedesktop.hostname1.xml
  man/org.freedesktop.import1.xml
  man/org.freedesktop.locale1.xml
  man/org.freedesktop.login1.xml
  man/org.freedesktop.machine1.xml
  man/org.freedesktop.resolve1.xml
  man/org.freedesktop.systemd1.xml
  man/org.freedesktop.timedate1.xml
  man/rules/meson.build
  man/systemd-hostnamed.service.xml
  man/systemd-localed.service.xml
  man/systemd-logind.service.xml
  man/systemd-machined.service.xml
  man/systemd-resolved.service.xml
  man/systemd-timedated.service.xml
  man/systemd.xml
  src/core/dbus-job.c
  src/core/dbus-manager.c
  src/core/dbus-unit.c
  src/hostname/hostnamed.c
  src/import/importd.c
  src/locale/localed.c
  src/login/logind-dbus.c
  src/login/logind-seat-dbus.c
  src/login/logind-session-dbus.c
  src/login/logind-user-dbus.c
  src/machine/machine-dbus.c
  src/machine/machined-dbus.c
  src/resolve/resolved-bus.c
  src/resolve/resolved-link-bus.c
  src/shared/reboot-util.c
  src/timedate/timedated.c
  tools/update-dbus-docs.py
Labels: documentation 📖

#15444 journald: make whether we enable auditing at start-up optional
  man/journald.conf.xml
  src/basic/errno-util.h
  src/journal/journald-audit.c
  src/journal/journald-gperf.gperf
  src/journal/journald-server.c
  src/journal/journald-server.h
  src/journal/journald.conf
Labels: good-to-merge/waiting-for-ci 👍, journal

#15463 Fix resolvectl query formatting
  src/basic/hexdecoct.c
  test/test-resolve/com~20200417.pkts
  test/test-resolve/google.com~20160131.pkts
  test/test-resolve/google.com~20200417.pkts
  test/test-resolve/michigan.gov~20200417.pkts
  test/test-resolve/org~20200417.pkts
  test/test-resolve/vdwaa.nl~20200417.pkts
Labels: good-to-merge/waiting-for-ci 👍, resolve, tests

#15484 sd-bus: Add sd_bus_add_filter docs
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_add_object.xml
Labels: documentation 📖

#15486 sd-bus: Add sd_bus_set_server, sd_bus_get_bus_id docs
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_set_server.xml
Labels: documentation 📖

#15485 sd-bus: Add sd_bus_emit_* docs
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_add_object.xml
  man/sd_bus_add_object_manager.xml
  man/sd_bus_call_method.xml
  man/sd_bus_emit_signal.xml
  man/sd_bus_message_new_signal.xml
Labels: documentation 📖

#15478 D-Bus api docs fixes
  man/org.freedesktop.import1.xml
  man/org.freedesktop.locale1.xml
  man/org.freedesktop.login1.xml
  man/org.freedesktop.machine1.xml
  man/org.freedesktop.systemd1.xml
Labels: documentation 📖

#15480 sd-bus: Add sd_bus_add_node_enumerator docs
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_add_node_enumerator.xml
  man/sd_bus_add_object.xml
  man/sd_bus_add_object_manager.xml
Labels: documentation 📖

#15491 Two tweaks to the description of resolvconf compatibility
  man/custom-html.xsl
  man/resolvectl.xml
  src/resolve/resolved-dns-scope.c
Labels: documentation 📖

#15439 Fix formatting in in resolved.conf(5) and nss-resolve(8)
  man/resolved.conf.xml
  man/systemd-resolved.service.xml
Labels: documentation 📖, resolve

#15503 sd-bus: Add sd_bus_get_scope/tid/unique_name docs
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_get_fd.xml
  man/sd_bus_set_description.xml
Labels: ci-failure-appears-unrelated, documentation 📖

#15314 Define network server access functions
  src/libsystemd-network/sd-dhcp-lease.c
  src/libsystemd-network/sd-dhcp-server.c
  src/network/networkd-dhcp-server.c
  src/network/networkd-util.c
  src/network/networkd-util.h
  src/systemd/sd-dhcp-lease.h
  src/systemd/sd-dhcp-server.h
Labels: ci-failure-appears-unrelated, dhcp

#15495 Resolve debugging and stub handling
  TODO
  man/org.freedesktop.resolve1.xml
  man/resolvectl.xml
  man/systemctl.xml
  src/resolve/resolvectl.c
  src/resolve/resolved-bus.c
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-resolv-conf.c
Labels: documentation 📖, resolve

#15476 Generate systemd.directive entries from dbus documentation
  tools/make-directive-index.py
  tools/update-dbus-docs.py
Labels: documentation 📖

#15509 man: document how to get the boot menu with zero time-out
  man/systemd-boot.xml
Labels: boot, documentation 📖

#15505 Document remaining sd-journal and sd-hwdb functions
  man/hwdb-usb-device.c
  man/rules/meson.build
  man/sd-hwdb.xml
  man/sd_hwdb_get.xml
  man/sd_hwdb_new.xml
  man/sd_journal_open.xml
  man/sd_journal_print.xml
  tools/meson-check-api-docs.sh
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍

#15508 Add dbus entities to index
  man/org.freedesktop.hostname1.xml
  man/org.freedesktop.import1.xml
  man/org.freedesktop.locale1.xml
  man/org.freedesktop.login1.xml
  man/org.freedesktop.machine1.xml
  man/org.freedesktop.resolve1.xml
  man/org.freedesktop.systemd1.xml
  man/org.freedesktop.timedate1.xml
Labels: ci-failure-appears-unrelated, documentation 📖

#15510 core: automatically add udev dependency for units using RootImage=
  man/systemd.exec.xml
  src/basic/special.h
  src/core/unit.c
Labels: good-to-merge/with-minor-suggestions, pid1

#15481 test: drop Disk (Size|Free|Floor|Ceiling) fields prior comparing
  test/units/testsuite-46.sh
Labels: homed, tests

#15518 sd-bus: Add sd_bus_list_names docs
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_list_names.xml
Labels: documentation 📖

#15443 Make UseGateway= default backwards compatible, and fix UseGateway/RoutesToDNS
  man/systemd.network.xml
  src/network/networkd-dhcp4.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/test-network/conf/dhcp-client-ipv4-use-gateway-no.network
  test/test-network/conf/dhcp-client-ipv4-use-routes-use-gateway.network
  test/test-network/conf/dhcp-client-ipv4-use-routes-use-gateway.network.d/use-dns-routes-False.conf
  test/test-network/conf/dhcp-client-ipv4-use-routes-use-gateway.network.d/use-dns-routes-True.conf
  test/test-network/conf/dhcp-client-ipv4-use-routes-use-gateway.network.d/use-gateway-False.conf
  test/test-network/conf/dhcp-client-ipv4-use-routes-use-gateway.network.d/use-gateway-True.conf
  test/test-network/conf/dhcp-client-ipv4-use-routes-use-gateway.network.d/use-routes-False.conf
  test/test-network/conf/dhcp-client-ipv4-use-routes-use-gateway.network.d/use-routes-True.conf
  test/test-network/systemd-networkd-tests.py
Labels: network, tests

#15515 core: minor error code handling fixes
  src/core/manager.c
Labels: ci-failure-appears-unrelated, pid1, quick-review 🏃‍♂️

#15514 util: return the correct correct wd from inotify helpers
  src/basic/fs-util.c
Labels: ci-failure-appears-unrelated, util-lib

#15511 test: correctly clean up test artifacts
  test/test-functions
Labels: tests

#15519 sd-bus: Add sd_bus_message_read_strv docs
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_list_names.xml
  man/sd_bus_message_read_array.xml
  man/sd_bus_message_read_strv.xml
Labels: documentation 📖

#15526 Add debug log when a job in the activation queue is not runnable
  src/core/job.c
  src/core/unit.h
Labels: ci-failure-appears-unrelated, pid1

#15536 man: document that VirtualEthernetExtra= has nothing to do with Bridge=
  man/systemd.nspawn.xml
Labels: documentation 📖, nspawn, quick-review 🏃‍♂️

#15548 core: make sure we don't get confused when setting TERM for a tty fd
  src/core/execute.c
Labels: pid1

#15507 add generic bus interface for setting log level that can be implemented by any daemon
  src/core/dbus-manager.c
  src/core/dbus-manager.h
  src/core/dbus.c
  src/home/homed-manager.c
  src/hostname/hostnamed.c
  src/import/importd.c
  src/locale/localed.c
  src/login/logind.c
  src/machine/machined.c
  src/network/networkd-manager.c
  src/portable/portabled.c
  src/resolve/resolvectl.c
  src/resolve/resolved-bus.c
  src/shared/bus-log-control-api.c
  src/shared/bus-log-control-api.h
  src/shared/meson.build
  src/timedate/timedated.c
  src/timesync/timesyncd-bus.c
Labels: resolve, tree-wide

#15541 nspawn: some minor modernizations
  src/nspawn/nspawn-expose-ports.c
Labels: ci-failure-appears-unrelated, nspawn, quick-review 🏃‍♂️

#15516 beef up --resolv-conf= options of systemd-nspawn
  man/systemd-nspawn.xml
  src/nspawn/nspawn-settings.c
  src/nspawn/nspawn-settings.h
  src/nspawn/nspawn.c
  src/resolve/resolved-resolv-conf.c
  src/shared/resolve-util.h
Labels: ci-failure-appears-unrelated, nspawn

#15546 core: make sure to restore the control command id, too
  src/core/service.c
Labels: good-to-merge/waiting-for-reporter-feedback 👍, pid1

#15540 sd-bus: Add sd_bus_get/set_allow_interactive_authorization docs
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_message_set_expect_reply.xml
Labels: documentation 📖

#15542 sd-bus: Add sd_bus_message_get_error/errno docs
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_message_get_type.xml
Labels: documentation 📖

#15530 network: add support to DHCPv4 server/client option 9 LPR
  man/systemd.network.xml
  src/libsystemd-network/dhcp-lease-internal.h
  src/libsystemd-network/dhcp-server-internal.h
  src/libsystemd-network/sd-dhcp-lease.c
  src/libsystemd-network/sd-dhcp-server.c
  src/libsystemd/sd-network/sd-network.c
  src/network/networkctl.c
  src/network/networkd-dhcp-server.c
  src/network/networkd-dhcp-server.h
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
  src/network/networkd-util.c
  src/systemd/sd-dhcp-client.h
  src/systemd/sd-dhcp-lease.h
  src/systemd/sd-dhcp-server.h
  src/systemd/sd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: network

#15545 run: don't wait for start job to complete when running interactively …
  src/run/run.c
Labels: run

#15527 Add mkosi config for openSUSE Tumbleweed
  .mkosi/mkosi.fedora
  .mkosi/mkosi.opensuse
  mkosi.build
  test/test-execute/exec-specifier.service
  test/test-execute/exec-specifier@.service
Labels: mkosi

#15538 nspawn: politely refuse --image= when run inside non-host netns
  src/nspawn/nspawn.c
Labels: good-to-merge/waiting-for-ci 👍, nspawn

#15544 sd-journal: fix namespace check
  src/journal/sd-journal.c
  test/units/testsuite-04.sh
Labels: good-to-merge/waiting-for-ci 👍, journal, quick-review 🏃‍♂️

#15525 shared: Don't try calling NULL callback in bus_wait_for_units_clear
  src/shared/bus-wait-for-units.c
Labels: pid1, reviewed/needs-rework 🔨

#15543 sd-bus: work around ubsan warning
  src/basic/strv.h
  src/core/namespace.c
  src/libsystemd/sd-bus/bus-message.c
  src/libsystemd/sd-bus/bus-objects.c
  src/shared/acpi-fpdt.c
  src/systemctl/systemctl.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, sd-bus

#15504 just the recvmsg_safe() stuff from #15457
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/core/manager.c
  src/coredump/coredump.c
  src/home/homed-manager.c
  src/import/importd.c
  src/journal/journald-server.c
  src/journal/journald-stream.c
  src/libsystemd/sd-bus/bus-socket.c
  src/nspawn/nspawn.c
  src/portable/portable.c
  src/resolve/resolved-manager.c
  src/shared/ask-password-api.c
  src/timesync/timesyncd-manager.c
  src/udev/udev-ctrl.c
  src/udev/udevd.c
Labels: tree-wide

#15561 udev: nulstr NUL termination fix
  src/udev/udev-rules.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#15563 Add NULL callback check in one more place
  src/core/execute.c
  src/shared/bus-wait-for-units.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#15501 man: add a description of handling of single-label names
  man/systemd-resolved.service.xml
Labels: documentation 📖

#15550 sd-bus: Add sd_bus_open/close/enter/exit_container docs
  man/rules/meson.build
  man/sd-bus-container-append.c
  man/sd-bus-container-read.c
  man/sd-bus.xml
  man/sd_bus_message_append.xml
  man/sd_bus_message_append_array.xml
  man/sd_bus_message_open_container.xml
  man/sd_bus_message_read.xml
Labels: documentation 📖

#15565 networkd: don't do lldp rx nor tx on bond devices
  src/network/networkd-lldp-rx.c
  src/network/networkd-lldp-tx.c
Labels: good-to-merge/waiting-for-ci 👍, network

#15569 sd-bus: Add sd_bus_message_peek_type docs
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_message_read.xml
Labels: documentation 📖

#15562 home: fix strv NUL termination
  src/home/pwquality-util.c
Labels: good-to-merge/waiting-for-ci 👍, homed, quick-review 🏃‍♂️

#15566 unregister binary formats during shutdown
  man/systemd-binfmt.service.xml
  src/binfmt/binfmt.c
  src/shared/binfmt-util.c
  src/shared/binfmt-util.h
  src/shared/meson.build
  src/shutdown/shutdown.c
  units/systemd-binfmt.service.in
Labels: binfmt, good-to-merge/waiting-for-ci 👍, shutdown

#15575 sd-bus: Add sd_bus_send_to docs
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_send.xml
Labels: documentation 📖

#15578 sd-bus: Add sd_bus_get_name_machine_id docs
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_get_name_machine_id.xml
Labels: documentation 📖

#15582 sd-bus: Add sd_bus_message_get_creds docs
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_message_get_type.xml
Labels: documentation 📖

#15553 nss-systemd: don't synthesize root/nobody when iterating
  src/nss-systemd/nss-systemd.c
Labels: ci-failure-appears-unrelated, nss, quick-review 🏃‍♂️, userdb

#15573 dhcp-client: port to recvmsg_safe()
  src/libsystemd-network/sd-dhcp-client.c
Labels: ci-failure-appears-unrelated, dhcp

#15572 icmp6-util: port to recvmsg_safe()
  src/libsystemd-network/icmp6-util.c
Labels: ci-failure-appears-unrelated, network

#15574 dhcp-server: port to recvmsg_safe()
  src/libsystemd-network/sd-dhcp-server.c
Labels: ci-failure-appears-unrelated, dhcp

#15568 tree-wide: use structured initialization at various places
  src/basic/btrfs-util.c
  src/initctl/initctl.c
  src/journal/journalctl.c
  src/journal/mmap-cache.c
  src/libsystemd/sd-bus/bus-introspect.c
  src/libsystemd/sd-bus/bus-socket.c
  src/shared/ask-password-api.c
  src/shared/socket-netlink.c
Labels: tree-wide

#15570 CMSG_FIND_DATA() and cmsg_find() work
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/coredump/coredump.c
  src/import/importd.c
  src/journal/journald-stream.c
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd/sd-netlink/netlink-socket.c
  src/nspawn/nspawn.c
  src/shared/ask-password-api.c
  src/udev/udevd.c
Labels: tree-wide, util-lib

#15564 util-lib: check for /proc being mounted in some really basic fs operations
  src/basic/fd-util.c
  src/basic/fs-util.c
  src/basic/stat-util.c
  src/basic/stat-util.h
  src/sysusers/sysusers.c
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles, util-lib

#15590 ci: introduce CIFuzz
  .github/workflows/main.yml
Labels: ci, fuzzing

#15595 sd-bus: Cite sd_bus_creds_unref in sd_bus_get_name_creds docs
  man/sd_bus_get_name_creds.xml
Labels: documentation 📖

#15560 tests: various small fixes for strict systems
  src/journal/test-compress.c
  src/journal/test-journal-send.c
  src/test/test-capability.c
  src/test/test-cgroup-setup.c
  src/test/test-cgroup-util.c
  src/test/test-clock.c
  src/test/test-condition.c
  src/test/test-copy.c
  src/test/test-exec-util.c
  src/test/test-execute.c
  src/test/test-fileio.c
  src/test/test-proc-cmdline.c
  src/test/test-procfs-util.c
  src/test/test-sd-hwdb.c
  src/test/test-seccomp.c
  src/test/test-umount.c
Labels: tests

#15612 zsh: fix disable/enable completion
  shell-completion/zsh/_systemctl.in
Labels: shell completion

#15598 efivars: retry open and read operations
  src/basic/efivars.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#15614 Revert "detect-virt: also detect "microsoft" as WSL"
  src/basic/virt.c
Labels: util-lib

#15580 sd-bus: Add sd_bus_get_creds_mask docs
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_negotiate_fds.xml
Labels: ci-failure-appears-unrelated, documentation 📖
