Repository systemd/systemd, pull requests merged in 2020-03, with the labels that each got.

#14966 journalctl: filtering by facility
  man/journalctl.xml
  src/basic/string-table.h
  src/journal/journalctl.c
Labels: journal

#14962 italian: language updates
  po/it.po
Labels: l10n 🌍

#14840 resolve: error handling improvements
  src/resolve/resolved-dnstls-openssl.c
Labels: resolve

#14839 rules.d: import the keyboard builtin instead of running it
  rules.d/60-evdev.rules
Labels: udev

#14976 core: fix message about show status state
  TODO
  man/systemd.xml
  src/core/job.c
  src/core/main.c
  src/core/manager.c
  src/core/manager.h
  src/core/show-status.c
  src/core/show-status.h
  src/core/transaction.c
  src/core/unit.c
  src/core/unit.h
Labels: ci-failure-appears-unrelated, pid1

#14983 network: Allow to configure GW even if UseRoutes=false
  src/network/networkd-dhcp4.c
  test/test-network/conf/dhcp-client-ipv4-use-routes-no.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#14984 l10n: update Czech Translation
  po/cs.po
Labels: good-to-merge/waiting-for-ci 👍, l10n 🌍

#14986 po: update Polish translation 200301
  po/pl.po
Labels: good-to-merge/waiting-for-ci 👍, l10n 🌍

#14988 random-seed: add missing header for GRND_NONBLOCK
  src/random-seed/random-seed.c
Labels: good-to-merge/waiting-for-ci 👍, random-seed

#14989 units: disable ProtectKernelLogs for machined
  units/systemd-machined.service.in
Labels: good-to-merge/waiting-for-ci 👍, machine, units

#14990 Fix for lookup of groups defined by homed
  src/home/home-util.c
  src/nss-systemd/nss-systemd.c
  src/nss-systemd/userdb-glue.c
Labels: ci-failure-appears-unrelated, homed

#14957 network: make Type=ether match based on iftype
  man/systemd.link.xml
  src/libsystemd-network/network-internal.c
  src/libsystemd-network/network-internal.h
  src/libsystemd/sd-netlink/netlink-util.c
  src/libsystemd/sd-netlink/netlink-util.h
  src/network/networkctl.c
  src/network/networkd-link.c
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/test-network.c
  src/udev/net/link-config.c
Labels: good-to-merge/waiting-for-ci 👍, network

#14985 shared/logs-show: Remove unused OUTPUT_FOLLOW
  src/shared/logs-show.c
  src/shared/output-mode.h
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#14991 assorted tiny fixes
  man/systemd.network.xml
  test/test-network/systemd-networkd-tests.py
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, tests

#14932 RequireMountsFor in systemd-nspawn should wait for machine mount
  units/systemd-nspawn@.service.in
Labels: units

#14992 Syslog address length fix
  src/core/dbus.c
  src/core/execute.c
  src/core/manager.c
  src/home/homed-manager.c
  src/journal/journald-native.c
  src/journal/journald-server.c
  src/journal/journald-stream.c
  src/journal/journald-syslog.c
  src/libsystemd/sd-bus/test-bus-watch-bind.c
  src/libsystemd/sd-daemon/sd-daemon.c
  src/login/pam_systemd.c
  src/shared/ask-password-api.c
  src/shared/varlink.c
  src/socket-proxy/socket-proxyd.c
  src/test/test-sizeof.c
  src/tty-ask-password-agent/tty-ask-password-agent.c
  src/userdb/userdbctl.c
  src/userdb/userdbd-manager.c
Labels: journal, sd-daemon, tree-wide

#14996 network: Move config_parse_ip_service_type to networkd-dhcp4.c and rename
  src/network/networkd-conf.c
  src/network/networkd-conf.h
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp4.h
  src/network/networkd-network-gperf.gperf
Labels: good-to-merge/waiting-for-ci 👍, network

#14999 update Russian translation
  po/ru.po
Labels: l10n 🌍

#14993 selinux: check return value of string_to_security_class()
  src/basic/selinux-util.c
Labels: selinux

#14845 hwdb: 60-sensor.hwdb: Add proximity sensor udev property
  hwdb.d/60-sensor.hwdb
  hwdb.d/parse_hwdb.py
Labels: good-to-merge/waiting-for-ci 👍, hwdb, squash-on-merge

#14874 portablectl: block when stopping a unit on detach (--now)
  man/portablectl.xml
  src/portable/portablectl.c
Labels: portable

#15005 hwdb: add corrections for Olimex Teres-I to keyboard hwdb
  hwdb.d/60-keyboard.hwdb
Labels: ci-failure-appears-unrelated, hwdb

#15006 lgtm: drop the TMPDIR/meson workaround
  .lgtm.yml
Labels: ci

#15002 Make systemd-sysusers work if /proc is unavailable
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/sysusers/sysusers.c
  src/test/test-fs-util.c
Labels: downstream/fedora, good-to-merge/waiting-for-ci 👍, sysusers

#15009 Version and doc updates
  .mkosi/mkosi.fedora
  docs/PORTABILITY_AND_STABILITY.md
  man/journald.conf.xml
  man/systemd-nspawn.xml
  man/systemd.link.xml
  man/systemd.netdev.xml
  man/systemd.network.xml
  man/systemd.syntax.xml
  src/core/dbus-manager.c
  src/core/namespace.c
  src/nspawn/nspawn.c
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-mdns.c
  src/shared/module-util.c
  src/systemctl/systemctl.c
  src/test/test-btrfs.c
  src/test/test-ns.c
  src/timesync/timesyncd-manager.c
  src/udev/udev-builtin-hwdb.c
  test/mkosi.default.networkd-test
  test/test-functions
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍

#15007 make namespace_flags_to_string() not return empty string
  src/core/dbus-util.h
  src/core/execute.c
  src/shared/bus-util.c
  src/shared/nsflags.c
  src/test/test-seccomp.c
Labels: good-to-merge/waiting-for-ci 👍, pid1, util-lib

#14827 timesync, meson: allow statically linked build
  meson.build
  meson_options.txt
Labels: meson, timesync

#15016 pid1, nspawn: voidify loopback_setup()
  src/core/main.c
  src/nspawn/nspawn.c
Labels: nspawn, pid1

#15017 units: do not ignore return value from systemd --user
  units/user@.service.in
Labels: units, user-session

#15021 man: update list of supported controllers
  man/supported-controllers.xml
  man/systemd.resource-control.xml
Labels: documentation 📖, quick-review 🏃‍♂️

#15023 Man page for systemd-network-generator
  man/rules/meson.build
  man/systemd-network-generator.service.xml
  man/systemd-networkd.service.xml
  units/systemd-network-generator.service.in
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍

#15013 systemctl list-dependencies: fix duplicate output and take multiple arguments
  man/systemctl.xml
  src/systemctl/systemctl.c
Labels: good-to-merge/waiting-for-ci 👍, regression ⚠️, systemctl

#14851 Use Finished instead of Started for Type=oneshot services
  src/core/job.c
  src/core/service.c
  src/core/unit.h
Labels: pid1, squash-on-merge

#15027 units: skip modprobe@.service if the unit appears to be already loaded
  units/modprobe@.service
Labels: good-to-merge/waiting-for-ci 👍, units

#15022 Make units remain after exit
  src/core/execute.c
  units/systemd-network-generator.service.in
  units/systemd-vconsole-setup.service.in
Labels: good-to-merge/waiting-for-ci 👍, pid1, units, vconsole

#15035 Fix typo on bootup manpage
  man/bootup.xml
Labels: documentation 📖

#15024 core: Fix resolution of nested DM devices for cgroups
  src/core/cgroup.c
Labels: cgroups, ci-failure-appears-unrelated, good-to-merge/after-next-release, pid1

#15010 SELinux: add trigger for policy reload and cache enforced status
  src/basic/selinux-util.c
  src/basic/selinux-util.h
  src/core/main.c
  src/core/selinux-access.c
Labels: good-to-merge/after-next-release, selinux

#14956 nettwork: introduce delegated prefix assign
  man/systemd.network.xml
  src/libsystemd-network/sd-radv.c
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-link.c
  src/network/networkd-ndisc.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-radv.c
  src/network/networkd-radv.h
  src/systemd/sd-radv.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/ipv6ra-prefix.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/after-next-release, network

#14904 network: Introduce force renew for DHCP server
  man/networkctl.xml
  src/network/networkctl.c
  src/network/networkd-link-bus.c
  src/network/networkd-link-bus.h
  src/network/networkd-manager-bus.c
  src/network/org.freedesktop.network1.policy
Labels: ci-failure-appears-unrelated, good-to-merge/after-next-release, network

#14893 Generator path environment variables
  man/systemd.xml
  src/core/manager.c
  src/shared/path-lookup.c
  src/shared/path-lookup.h
  src/test/test-path-lookup.c
Labels: good-to-merge/after-next-release, pid1

#15012 systemd-resolved: use hostname for certificate validation in DoT
  man/resolved.conf.xml
  src/resolve/resolved-dnstls-gnutls.c
  src/resolve/resolved-dnstls-openssl.c
Labels: good-to-merge/after-next-release, resolve

#14894 network: Allow DHCPv6 client to start without router's managed flag.
  man/systemd.network.xml
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: good-to-merge/after-next-release, network

#14887 network: add setting to support RA without DHCPv6 client
  man/systemd.network.xml
  src/network/networkd-ndisc.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: good-to-merge/after-next-release, network

#14858 network: Add support to ignore foreign routes
  man/networkd.conf.xml
  src/network/networkd-gperf.gperf
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd.conf
Labels: good-to-merge/after-next-release, network

#14821 udev: support to update flow control parameter
  man/systemd.link.xml
  src/shared/ethtool-util.c
  src/shared/ethtool-util.h
  src/udev/net/link-config-gperf.gperf
  src/udev/net/link-config.c
  src/udev/net/link-config.h
  test/fuzz/fuzz-link-parser/directives.link
Labels: good-to-merge/after-next-release, udev

#14890 network: tc-next
  man/systemd.network.xml
  src/basic/parse-util.h
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-types.h
  src/libsystemd/sd-netlink/netlink-util.h
  src/libsystemd/sd-netlink/rtnl-message.c
  src/network/meson.build
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/tc/cake.c
  src/network/tc/cake.h
  src/network/tc/fifo.c
  src/network/tc/fifo.h
  src/network/tc/gred.c
  src/network/tc/gred.h
  src/network/tc/htb.c
  src/network/tc/htb.h
  src/network/tc/qdisc.c
  src/network/tc/qdisc.h
  src/network/tc/sfb.c
  src/network/tc/sfb.h
  src/network/tc/tc-util.c
  src/network/tc/tc-util.h
  src/network/tc/tc.c
  src/network/tc/tc.h
  src/network/tc/tclass.c
  src/network/tc/tclass.h
  src/systemd/sd-netlink.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-qdisc-cake.network
  test/test-network/conf/25-qdisc-clsact-and-htb.network
  test/test-network/conf/25-qdisc-clsact-root-compat.network
  test/test-network/conf/25-qdisc-fq-codel.network
  test/test-network/conf/25-qdisc-ingress-root.network
  test/test-network/conf/25-qdisc-netem-and-fqcodel.network
  test/test-network/conf/25-qdisc-tbf-and-sfq.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/after-next-release, network

#15036 network: add CAN Termination tristate option
  man/systemd.network.xml
  src/basic/linux/can/netlink.h
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/networkd-can.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: good-to-merge/waiting-for-ci 👍, network

#15041 boot: Ensure ARM UEFI binary does not contain FP/SIMD instructions
  src/boot/efi/meson.build
Labels: boot, good-to-merge/waiting-for-ci 👍, meson

#15042 Update Croatian translation
  catalog/systemd.hr.catalog.in
  po/hr.po
Labels: l10n 🌍, squash-on-merge

#15045 meson.build: drop unused SYSTEMD_SLEEP_BINARY_PATH
  meson.build
Labels: ci-failure-appears-unrelated, meson

#15044 Support compiling with clang and gnu11 standard
  src/shared/json-internal.h
Labels: build-system, util-lib

#15048 analyze: fix TABLE_TIME{SPAN,STAMP} output
  src/analyze/analyze.c
Labels: analyze, bug 🐛, ci-failure-appears-unrelated

#15033 execute: Fix migration from DynamicUser=yes to no
  src/core/execute.c
  src/test/test-execute.c
Labels: pid1

#15049 test: ignore IAB capabilities in `test-execute`
  test/test-execute/exec-capabilityboundingset-invert.service
  test/test-execute/exec-privatedevices-no-capability-mknod.service
  test/test-execute/exec-privatedevices-no-capability-sys-rawio.service
  test/test-execute/exec-privatedevices-yes-capability-mknod.service
  test/test-execute/exec-privatedevices-yes-capability-sys-rawio.service
  test/test-execute/exec-protectkernellogs-no-capabilities.service
  test/test-execute/exec-protectkernellogs-yes-capabilities.service
  test/test-execute/exec-protectkernelmodules-no-capabilities.service
  test/test-execute/exec-protectkernelmodules-yes-capabilities.service
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, tests

#15040 mount-setup: make /dev noexec
  src/core/mount-setup.c
Labels: initrd, pid1

#15051 dissect-image: avoid scanning partitions
  src/shared/dissect-image.c
Labels: dissect, optimization, pid1

#15071 Modified line 197 for readability.
  man/systemd.xml
Labels: documentation 📖, good-to-merge/with-minor-suggestions, squash-on-merge

#15064 udev: fix SECLABEL{selinux} issue
  src/udev/udev-rules.c
Labels: udev

#15054 udev: add debug logs for delaying and delegation of events
  src/udev/udevd.c
Labels: ci-failure-appears-unrelated, udev

#15063 Execute: don't create temp dirs if inaccessible
  src/basic/path-util.c
  src/basic/path-util.h
  src/core/execute.c
  src/core/namespace.c
Labels: pid1

#14913 journalctl: show duplicate entries if they are from the same file (#14898)
  src/journal/sd-journal.c
Labels: journal

#14871 core: transition to FINAL_SIGTERM state after ExecStopPost=
  src/core/service.c
  test/TEST-47-ISSUE-14566/Makefile
  test/TEST-47-ISSUE-14566/repro.sh
  test/TEST-47-ISSUE-14566/test.sh
  test/TEST-47-ISSUE-14566/testsuite.sh
Labels: ci-failure-appears-unrelated, pid1

#14901 test: fix some failures in test-cgroup
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/test/meson.build
  src/test/test-cgroup.c
Labels: cgroups, good-to-merge/waiting-for-ci 👍, tests

#15081 systemctl: hide the 'glyph' column when --no-legend is requested
  src/shared/format-table.c
  src/shared/format-table.h
  src/systemctl/systemctl.c
Labels: good-to-merge/waiting-for-ci 👍, systemctl, util-lib

#15084 network: tc-next take2
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-types.h
  src/network/meson.build
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/tc/drr.c
  src/network/tc/drr.h
  src/network/tc/fifo.c
  src/network/tc/fifo.h
  src/network/tc/hhf.c
  src/network/tc/hhf.h
  src/network/tc/pie.c
  src/network/tc/pie.h
  src/network/tc/qdisc.c
  src/network/tc/qdisc.h
  src/network/tc/tclass.c
  src/network/tc/tclass.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-qdisc-clsact-and-htb.network
  test/test-network/conf/25-qdisc-drr.network
  test/test-network/conf/25-qdisc-hhf.network
  test/test-network/conf/25-qdisc-pie.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#15039 namespace: fix MAC labels of /dev when PrivateDevices=yes
  src/basic/label.c
  src/basic/label.h
  src/basic/selinux-util.c
  src/basic/selinux-util.h
  src/basic/smack-util.c
  src/basic/smack-util.h
  src/core/namespace.c
Labels: pid1, selinux, smack

#15094 linux: update headers from v5.6
  src/basic/linux/hdlc/ioctl.h
  src/basic/linux/if.h
  src/basic/linux/if_bonding.h
  src/basic/linux/if_bridge.h
  src/basic/linux/if_link.h
  src/basic/linux/if_macsec.h
  src/basic/linux/in.h
  src/basic/linux/pkt_sched.h
  src/basic/linux/rtnetlink.h
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, util-lib

#15095 network, man: tiny trivial cleanups
  man/systemd.network.xml
  man/tc.xml
  src/network/tc/pie.c
  src/network/tc/pie.h
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, network

#14860 Don't generate swap units in fstab-generator if systemd.swap=no
  man/systemd-fstab-generator.xml
  src/fstab-generator/fstab-generator.c
Labels: fstab-generator

#15089 shared/ask-password-api: do not show hint on echo
  src/shared/ask-password-api.c
Labels: ask-password

#15097 Job logging and news update
  NEWS
  man/systemd-homed.service.xml
  man/systemd.preset.xml
  src/core/main.c
  units/systemd-homed.service.in
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, pid1

#15100 fix journalctl regression (#15099)
  src/journal/sd-journal.c
Labels: good-to-merge/waiting-for-ci 👍, journal

#15104 networkctl: Add support to display qdisc
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/networkctl.c
Labels: good-to-merge/waiting-for-ci 👍, network

#15114 test: wait a bit after starting the test service
  test/TEST-47-ISSUE-14566/testsuite.sh
Labels: quick-review 🏃‍♂️, tests

#15130 sd-bus: Add sd_bus_set_fd documentation along with some cleanups.
  man/sd_bus_get_fd.xml
Labels: documentation 📖

#15132 home: fix segfault when parsing arguments in PAM module
  src/home/pam_systemd_home.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#15135 networkctl: Add support to display master device
  src/network/networkctl.c
Labels: good-to-merge/waiting-for-ci 👍, network

#15133 network: can: add support for listen-only mode
  man/systemd.network.xml
  src/network/networkd-can.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: good-to-merge/waiting-for-ci 👍, network

#15134 network: do not re-attach sd-event object
  src/network/networkd-dhcp4.c
  src/network/networkd-ipv4ll.c
Labels: good-to-merge/waiting-for-ci 👍, network

#15139 sd-bus: Remove unused man cite of `sd_bus_slot_new_signal`.
  man/sd_bus_slot_ref.xml
Labels: documentation 📖

#15138 networkctl: Add support to display vlan ID
  src/network/networkctl.c
Labels: good-to-merge/waiting-for-ci 👍, network

#15140 sd-bus: Add sd_bus_method_call/sd_bus_method_call_async docs + cleanups.
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_call_method.xml
  man/sd_bus_message_new_method_call.xml
  man/sd_bus_message_read.xml
Labels: documentation 📖

#15142 networkctl: Add support to show tunnel (ipip/sit) local and remote ad…
  src/network/networkctl.c
Labels: good-to-merge/waiting-for-ci 👍, network

#15128 Fix volume control keys on Lenovo Yoga S940
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

#15123 po: update Polish translation 200315
  po/pl.po
Labels: l10n 🌍

#15127 Update 60-evdev.hwdb
  hwdb.d/60-evdev.hwdb
Labels: hwdb, squash-on-merge

#15108 Make systemctl set-default hint about some common issues
  src/core/main.c
  src/systemctl/systemctl.c
Labels: good-to-merge/waiting-for-ci 👍, systemctl

#15136 network: add a flag to ignore gateway provided by DHCP server
  man/systemd.network.xml
  src/network/networkd-dhcp4.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/dhcp-client-ipv4-use-gateway-no.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#15066 docs: Add syntax for templated units to systemd.preset man page
  man/systemd.preset.xml
Labels: documentation 📖

#15143 networkctl: Add support to display geneve tunnel info
  src/network/networkctl.c
Labels: good-to-merge/waiting-for-ci 👍, network

#15148 sd-bus: sd_bus_call/sd_bus_call_async_docs + cleanups
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_call.xml
  man/sd_bus_call_method.xml
  man/sd_bus_message_new_method_call.xml
  man/sd_bus_message_read.xml
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍

#14749 core: add support for setting CPUAffinity= to special "numa" value
  man/systemd.exec.xml
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment.c
  src/shared/bus-unit-util.c
  src/shared/cpu-set-util.c
  src/shared/cpu-set-util.h
  src/shared/meson.build
  src/shared/numa-util.c
  src/shared/numa-util.h
  src/systemctl/systemctl.c
  src/test/test-cpu-set-util.c
  test/TEST-36-NUMAPOLICY/testsuite.sh
Labels: ci-failure-appears-unrelated, pid1

#15152 networkctl: Add support to display bond
  src/network/networkctl.c
Labels: network

#15157 sd-bus: sd_bus_set/get_method_call_timeout docs + cleanups.
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_call.xml
  man/sd_bus_set_description.xml
  man/sd_bus_set_method_call_timeout.xml
Labels: documentation 📖

#15156 selinux: delay mac_selinux_enforcing call after SELinux was determined to be enabled
  src/core/selinux-access.c
Labels: ci-failure-appears-unrelated, selinux

#15155 networkctl: Add support to display IPv6 addrgenmode
  src/network/networkctl.c
Labels: network

#15151 network: Fix split in `SendOption=` on client and server
  man/systemd.network.xml
  src/libsystemd-network/dhcp-server-internal.h
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-dhcp-server.c
  src/network/networkd-dhcp-server.c
  src/network/networkd-dhcp4.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/sd-dhcp-client.h
  src/systemd/sd-dhcp-server.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: network

#15153 Add two man pages for sd-bus
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_close.xml
  man/sd_bus_default.xml
  man/sd_bus_new.xml
  man/sd_bus_set_address.xml
  man/sd_bus_set_description.xml
  man/sd_bus_start.xml
  src/libsystemd/sd-bus/sd-bus.c
  src/shared/bus-util.c
  src/systemd/sd-bus.h
  tools/meson-check-api-docs.sh
Labels: documentation 📖, sd-bus

#15147 logind: log a more accurate error when we failed at session creation
  src/login/logind-dbus.c
Labels: login

#15111 login: allow non-console sessions to change vt
  src/login/org.freedesktop.login1.policy
Labels: login

#15088 Fix keys on Medion Akoya P6669
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

#15159 sd-bus: add sd_bus_message_seal docs
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_message_seal.xml
  man/sd_bus_set_method_call_timeout.xml
Labels: documentation 📖

#15168 sd-bus: Add sd_bus_send docs + cleanups.
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_call.xml
  man/sd_bus_send.xml
  man/sd_bus_set_method_call_timeout.xml
Labels: documentation 📖

#15177 swap: check p->what for NULL
  src/core/swap.c
Labels: priority, quick-review 🏃‍♂️

#15189 Fall back to reboot(RB_KEXEC) when no kexec binary exists
  src/shutdown/shutdown.c
Labels: shutdown

#15199 davfs is a network file system
  src/basic/mountpoint-util.c
Labels: ci-failure-appears-unrelated

#15185 network: DHCP lease load SIP copy paste error
  src/libsystemd-network/sd-dhcp-lease.c
  src/libsystemd/sd-network/sd-network.c
  src/network/networkctl.c
  src/systemd/sd-network.h
Labels: ci-failure-appears-unrelated, network

#15190 networkctl: Add more bridge properties
  src/network/networkctl.c
Labels: ci-failure-appears-unrelated, network

#15215 network: attach sd-event in link_load() when creating link dhcp_client or ipv4ll
  src/network/networkd-link.c
Labels: ci-failure-appears-unrelated, network

#15191 systemctl: exit with 1 if no unit files found
  src/systemctl/systemctl.c
Labels: systemctl

#15209 cgroup-utils: convenience helpers
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/basic/limits-util.c
  src/core/cgroup.c
Labels: cgroups, ci-failure-appears-unrelated

#15170 sd-bus: resolve SD_BUS_DEFAULT_* in more places
  src/libsystemd/sd-bus/bus-convenience.c
  src/libsystemd/sd-bus/bus-message.c
  src/libsystemd/sd-bus/sd-bus.c
Labels: ci-failure-appears-unrelated, sd-bus

#15214 network: Introduce bridge util
  src/network/networkctl.c
  src/shared/bridge-util.c
  src/shared/bridge-util.h
  src/shared/meson.build
Labels: network

#15228 po: update Ukrainian translation
  po/uk.po
Labels: l10n 🌍

#15236 shared- bride util allign bridge_state_table
  src/shared/bridge-util.c
Labels: network

#15241 Add `shell` to machinectl ZSH completion
  shell-completion/zsh/_machinectl
Labels: shell completion

#15240 systemd-network-generator.service: network-pre.target is a passive ta…
  units/systemd-network-generator.service.in
Labels: units

#15227 Remove stale doc about PrivateNetwork and type
  man/systemd.service.xml
Labels: documentation 📖

#15222 core/unit: print info when unit_add_name failed
  src/core/unit.c
Labels: pid1

#15201 user-util: Allow names starting with a digit
  src/basic/user-util.c
  src/test/test-user-util.c
Labels: good-to-merge/waiting-for-ci 👍

#15181 Add Lenovo IdeaPad Miix 300 ACCEL_MOUNT_MATRIX
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#14621 Added Star Lite Mk II and Star LabTop Mk III
  hwdb.d/60-evdev.hwdb
Labels: ci-failure-appears-unrelated, hwdb, squash-on-merge

#14846 docs: Add some notes about managing graphical user sessions
  docs/DESKTOP_ENVIRONMENTS.md
Labels: documentation 📖

#15195 DHCP: Add support to emit and retrieve POP3 server
  man/systemd.network.xml
  src/libsystemd-network/dhcp-lease-internal.h
  src/libsystemd-network/dhcp-server-internal.h
  src/libsystemd-network/sd-dhcp-lease.c
  src/libsystemd-network/sd-dhcp-server.c
  src/libsystemd/sd-network/sd-network.c
  src/network/networkctl.c
  src/network/networkd-dhcp-server.c
  src/network/networkd-dhcp-server.h
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
  src/systemd/sd-dhcp-client.h
  src/systemd/sd-dhcp-lease.h
  src/systemd/sd-dhcp-server.h
  src/systemd/sd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: dhcp

#15237 SELinux cache updates
  src/basic/selinux-util.c
  src/core/selinux-access.c
Labels: selinux

#15243 sd-journal: remove the dead code and actually fix #14695
  src/journal/sd-journal.c
Labels: ci-failure-appears-unrelated, journal

#15247 Add a device to 60-sensor.hwdb
  hwdb.d/60-sensor.hwdb
Labels: ci-failure-appears-unrelated, hwdb

#15233 device: make sure we don't generate bogus PropertiesChanged signals
  src/core/device.c
Labels: pid1

#15246 basic: Fix capability_ambient_set_apply for kernels < 4.3
  src/basic/capability-util.c
Labels: pid1

#15249 README.md: add repology badge
  README.md
Labels: cosmetic, downstream, website

#15254 sd-bus: Add sd_bus_slot_get_current_* docs
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_slot_get_bus.xml
  man/sd_bus_slot_ref.xml
Labels: documentation 📖

#15217 Export sd-path functions and beef up systemd-path to show more items
  man/custom-entities.ent.in
  man/html.in
  man/man.in
  man/path-documents.c
  man/rules/meson.build
  man/sd_path_lookup.xml
  man/sysctl.d.xml
  meson.build
  src/basic/meson.build
  src/basic/path-lookup.c
  src/basic/path-lookup.h
  src/basic/strv.h
  src/core/generator-setup.c
  src/core/generator-setup.h
  src/core/manager.c
  src/core/meson.build
  src/core/systemd.pc.in
  src/environment-d-generator/environment-d-generator.c
  src/libsystemd-network/network-internal.h
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-path/sd-path.c
  src/network/netdev/netdev.c
  src/network/networkd-manager.c
  src/network/networkd-network.c
  src/path/path.c
  src/shared/meson.build
  src/systemd/meson.build
  src/systemd/sd-path.h
  src/test/meson.build
  src/test/test-install-root.c
  src/test/test-sd-path.c
  src/tmpfiles/tmpfiles.c
  src/udev/net/link-config.c
  src/udev/udev.pc.in
Labels: good-to-merge/waiting-for-ci 👍

#15261 travis: install ninja with pip
  travis-ci/managers/fuzzit.sh
Labels: ci, priority

#15263 ci: turn off FuzzBuzz
  fuzzbuzz.yaml
  meson.build
  meson_options.txt
  src/fuzz/fuzz.h
  src/fuzz/fuzzer-entry-point.c
  src/test/meson.build
  travis-ci/managers/fuzzbuzz.sh
Labels: build-system, ci

#15251 A few small fixups for stuff found by coverity
  src/basic/meson.build
  src/basic/pthread-util.h
  src/nss-systemd/nss-systemd.c
  src/test/test-strv.c
Labels: nss, tests

#14853 safe_fork: unblock most signals before waiting for child
  src/basic/process-util.c
Labels: util-lib

#15194 import: Only keep RO copy if ETag header is set
  src/import/pull-raw.c
Labels: import

#13084 log: add support for prefixing console log messages with current timestamp
  man/systemd-socket-activate.xml
  man/systemd-system.conf.xml
  man/systemd.xml
  src/basic/log.c
  src/basic/log.h
  src/core/main.c
  src/core/system.conf.in
  src/core/user.conf.in
  src/shutdown/shutdown.c
Labels: pid1

#15197 DHCP4: Add support to emit and receive SMTP servers.
  man/systemd.network.xml
  network/networkd-dhcp-server.c
  src/libsystemd-network/dhcp-lease-internal.h
  src/libsystemd-network/dhcp-server-internal.h
  src/libsystemd-network/sd-dhcp-lease.c
  src/libsystemd-network/sd-dhcp-server.c
  src/libsystemd/sd-network/sd-network.c
  src/network/networkctl.c
  src/network/networkd-dhcp-server.c
  src/network/networkd-dhcp-server.h
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/sd-dhcp-client.h
  src/systemd/sd-dhcp-lease.h
  src/systemd/sd-dhcp-server.h
  src/systemd/sd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: good-to-merge/waiting-for-ci 👍, network

#15270 homectl: fix a typo
  src/home/homectl.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#15271 user-util: switch order of checks in valid_user_group_name_or_id_full()
  src/basic/user-util.c
Labels: quick-review 🏃‍♂️, util-lib

#15279 home: fix several typos
  src/home/homectl.c
  src/home/homed-home-bus.c
  src/home/homed-home.c
  src/home/homed-manager-bus.c
  src/home/homed-manager.c
  src/home/homed-operation.c
  src/home/homework-luks.c
  src/home/homework-pkcs11.c
  src/home/homework.c
  src/home/pam_systemd_home.c
  src/home/pwquality-util.c
Labels: homed

#15277 units: do not pull in home.mount from systemd-homed.service
  units/systemd-homed.service.in
Labels: homed, quick-review 🏃‍♂️, units

#15268 userwork: fix signal worker sends to manager requesting more workers
  src/userdb/userwork.c
Labels: quick-review 🏃‍♂️, userdb

#15229 network: Introduce MUD
  man/systemd.network.xml
  src/libsystemd-network/sd-dhcp-client.c
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp4.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/sd-dhcp-client.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: dhcp, network

#15289 sd-bus: Add sd_bus_get/set_priority docs + fixes
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_message_set_destination.xml
Labels: documentation 📖

#15288 sd-bus: sd_bus_call docs improvements
  man/sd_bus_call.xml
Labels: documentation 📖

#15283 man: mention that stdout logging works the same as stderr logging
  man/sd-daemon.xml
Labels: documentation 📖, sd-daemon

#15278 Expand use of _cleanup_close_ where trivial
  src/basic/copy.c
  src/basic/fileio.c
  src/basic/fileio.h
  src/basic/stat-util.c
  src/basic/tmpfile-util.c
  src/boot/bootctl.c
  src/core/manager.c
  src/coredump/coredump.c
  src/home/homed-home.c
  src/home/homework-cifs.c
  src/home/homework.c
  src/journal-remote/journal-gatewayd.c
  src/journal/sd-journal.c
  src/machine/machine-dbus.c
  src/machine/machined-dbus.c
  src/nspawn/nspawn-patch-uid.c
  src/nspawn/nspawn-setuid.c
  src/portable/portable.c
  src/portable/portabled-image-bus.c
  src/shared/ask-password-api.c
  src/shared/dissect-image.c
  src/shared/install.c
  src/shared/os-util.c
Labels: ci-failure-appears-unrelated, tree-wide
