Repository systemd/systemd, pull requests merged in 2020-06, with the labels that each got.

#15884 DHCPv6: Introduce vendor specific
  man/systemd.network.xml
  src/libsystemd-network/dhcp6-internal.h
  src/libsystemd-network/dhcp6-option.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp6.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/meson.build
  src/systemd/sd-dhcp6-client.h
  src/systemd/sd-dhcp6-option.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: dhcp, network

#15982 Shell completion and udevd help update
  shell-completion/bash/bootctl
  shell-completion/zsh/_bootctl
  src/udev/udevd.c
  units/systemd-udevd.service.in
Labels: shell completion, udev

#15990 Hwdb accel quirks
  hwdb.d/60-sensor.hwdb
Labels: ci-failure-appears-unrelated, hwdb

#16029 network: configure wireguard without no peers
  src/network/netdev/wireguard.c
  test/test-network/conf/25-wireguard-no-peer.netdev
  test/test-network/conf/25-wireguard-no-peer.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#15963 network: fix double free in macsec_receive_channel_free()
  src/network/netdev/macsec.c
  test/fuzz/fuzz-netdev-parser/oss-fuzz-22547
Labels: network

#15918 udev: single binary for udevd into udevadm
  meson.build
  src/udev/meson.build
  src/udev/udevadm.c
  src/udev/udevd.c
  src/udev/udevd.h
Labels: good-to-merge/waiting-for-ci 👍, udev

#16030 network: also read mtime of drop-in configs
  src/network/netdev/netdev.c
  src/network/networkd-network.c
  src/resolve/resolved-dnssd.c
  src/shared/conf-parser.c
  src/shared/conf-parser.h
Labels: network

#16031 test: temporarily block test 48 on Ubuntu's autopkgtest
  test/TEST-48-START-STOP-NO-RELOAD/blacklist-ubuntu-ci
Labels: ci-failure-appears-unrelated, tests

#16041 fd-util: be more careful with fclose() errnos
  src/basic/fd-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#15986 basic/efivars: try re-reading efivars without delay first
  src/basic/efivars.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#15996 network: add RouteMetric= in [DHCPv6] section
  man/systemd.network.xml
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp-common.h
  src/network/networkd-dhcp6.c
  src/network/networkd-dhcp6.h
  src/network/networkd-ndisc.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: good-to-merge/waiting-for-ci 👍, network

#15989 core: set source_mtime after load dropins
  src/core/load-fragment.c
  src/core/unit.c
Labels: pid1

#16048 conf-parser: automatically pick up newest mtime when parsing configuration files
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/core/load-dropin.c
  src/core/load-fragment.c
  src/core/main.c
  src/coredump/coredump.c
  src/fuzz/fuzz-unit-file.c
  src/home/homed-conf.c
  src/journal-remote/journal-remote-main.c
  src/journal-remote/journal-upload.c
  src/journal/journald-server.c
  src/login/logind-core.c
  src/network/netdev/netdev.c
  src/network/networkd-conf.c
  src/network/networkd-network.c
  src/nspawn/nspawn-settings.c
  src/partition/repart.c
  src/pstore/pstore.c
  src/resolve/resolved-conf.c
  src/resolve/resolved-dnssd.c
  src/shared/conf-parser.c
  src/shared/conf-parser.h
  src/shared/install.c
  src/shared/sleep-config.c
  src/test/test-conf-parser.c
  src/timesync/timesyncd-conf.c
  src/tty-ask-password-agent/tty-ask-password-agent.c
  src/udev/net/link-config.c
  src/xdg-autostart-generator/xdg-autostart-service.c
Labels: pid1, tree-wide, util-lib

#16054 network: read driver name from ethtool
  src/libsystemd-network/network-internal.c
  src/libsystemd-network/network-internal.h
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/test-network.c
  src/udev/net/link-config.c
Labels: good-to-merge/waiting-for-ci 👍, network

#16043 core: remove support for ".include" stanza
  NEWS
  man/systemd.unit.xml
  src/core/load-fragment.c
  src/fuzz/fuzz-unit-file.c
  src/shared/conf-parser.c
  src/shared/conf-parser.h
  src/shared/install.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#15171 network: TC- Introduce Quick Fair Queueing (QFQ)
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-types.h
  src/network/meson.build
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/tc/qdisc.c
  src/network/tc/qdisc.h
  src/network/tc/qfq.c
  src/network/tc/qfq.h
  src/network/tc/tclass.c
  src/network/tc/tclass.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-qdisc-qfq.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#16057 Drop NTA lists from resolvectl status and sort output by link number
  src/basic/sort-util.h
  src/basic/string-util.c
  src/basic/string-util.h
  src/pstore/pstore.c
  src/resolve/resolvectl.c
  src/systemctl/systemctl.c
Labels: resolve

#16063 change fs/file-max to LONG_MAX instead of ULONG_MAX
  meson_options.txt
Labels: build-system, good-to-merge/waiting-for-ci 👍

#16055 network: make link become configured state when at least one dynamic …
  src/network/networkd-link.c
Labels: ci-failure-appears-unrelated, network

#16064 turn off fuzzit
  .travis.yml
Labels: ci

#15466 networkctl: print DHCP leases
  src/basic/macro.h
  src/libsystemd-network/dhcp-server-internal.h
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-dhcp-server.c
  src/network/meson.build
  src/network/networkctl.c
  src/network/networkd-dhcp-server-bus.c
  src/network/networkd-dhcp-server-bus.h
  src/network/networkd-link-bus.c
  src/network/networkd-manager.c
  src/systemd/sd-dhcp-client.h
  src/systemd/sd-dhcp-server.h
Labels: ci-failure-appears-unrelated, dhcp, network

#15378 udev: make signal that we use to kill workers on timeout configurable
  NEWS
  man/kernel-command-line.xml
  man/systemd-udevd.service.xml
  man/udev.conf.xml
  src/shared/udev-util.c
  src/shared/udev-util.h
  src/test/test-udev.c
  src/udev/udev-event.c
  src/udev/udev-event.h
  src/udev/udev-rules.c
  src/udev/udev-rules.h
  src/udev/udev.conf
  src/udev/udevadm-test.c
  src/udev/udevd.c
  test/TEST-49-UDEV-EVENT-TIMEOUT/Makefile
  test/TEST-49-UDEV-EVENT-TIMEOUT/test.sh
  test/units/testsuite-49.service
  test/units/testsuite-49.sh
Labels: udev

#16072 resolve: enable RES_TRUSTAD towards the 127.0.0.53 stub resolver
  src/resolve/resolv.conf
  src/resolve/resolved-resolv-conf.c
Labels: good-to-merge/waiting-for-ci 👍, resolve

#16033 various fixes and tweaks for integer parsing
  src/basic/parse-util.c
  src/basic/parse-util.h
  src/basic/user-util.c
  src/test/test-parse-util.c
  src/test/test-user-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#16081 test: avoid failing due to unexpected precision
  test/test-network/systemd-networkd-tests.py
Labels: network, tests

#16092 network: introduce IPv4AcceptLocal= setting
  man/systemd.network.xml
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-sysctl.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#16094 hwdb: add HP Spectre x360's mic mute switch
  hwdb.d/60-keyboard.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#15979 Add 'bitlk' option to mount Bitlocker drives with cryptsetup.
  man/crypttab.xml
  src/cryptsetup/cryptsetup.c
Labels: cryptsetup, reviewed/needs-rework 🔨

#16085 networkctl: add support to display DHCPv4 client ID
  src/libsystemd/sd-network/sd-network.c
  src/network/networkctl.c
  src/network/networkd-link.c
  src/systemd/sd-network.h
Labels: good-to-merge/waiting-for-ci 👍, network

#16047 udev: optionally mark all block devices popping up read-only by default
  man/kernel-command-line.xml
  man/systemd-udevd.service.xml
  src/udev/udevd.c
  units/initrd-udevadm-cleanup-db.service
  units/systemd-udev-settle.service
  units/systemd-udev-trigger.service
Labels: good-to-merge/waiting-for-ci 👍, new-feature, udev

#15953 Update gdb script to match current sources and other hashmap improvements
  .gitignore
  src/basic/hashmap.c
  src/basic/hashmap.h
  src/basic/ordered-set.h
  src/basic/set.h
  src/basic/strv.c
  src/basic/strv.h
  tools/gdb-sd_dump_hashmaps.py
Labels: ci-failure-appears-unrelated, util-lib

#16073 Bash completion for homectl and help improvement for kernel-install
  shell-completion/bash/homectl
  shell-completion/bash/loginctl
  src/kernel-install/kernel-install
Labels: kernel-install, shell completion

#12334 core: let user define start-/stop-timeout behaviour
  man/systemd.service.xml
  src/basic/unit-def.c
  src/basic/unit-def.h
  src/core/dbus-service.c
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/service.c
  src/core/service.h
  src/shared/bus-unit-util.c
Labels: needs-rebase, new-feature, pid1, reviewed/needs-rework 🔨

#16091 login: allow individual USB ports to be assigned to seats
  src/login/71-seat.rules.in
Labels: login

#16109 Update 60-sensor.hwdb
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#16074 Freezer test flakes
  src/core/slice.c
  test/units/testsuite-38.sh
Labels: cgroups

#16117 docs: use bool in varlink interface definition
  docs/USER_GROUP_API.md
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍

#16108 test-network: wait 2min for the bridge being in configured state
  test/test-network/systemd-networkd-tests.py
Labels: tests

#16088 man: udevadm: mention non-zero exit code on settle
  man/udevadm.xml
Labels: documentation 📖, udev

#16046 dissect: single-filesystem verity images with external hashdevice
  man/systemd-nspawn.xml
  src/core/namespace.c
  src/dissect/dissect.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/nspawn/nspawn.c
  src/portable/portable.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/shared/machine-image.c
  src/test/test-dissect-image.c
  test/TEST-50-DISSECT/Makefile
  test/TEST-50-DISSECT/test.sh
  test/units/testsuite-50.service
  test/units/testsuite-50.sh
Labels: dissect, good-to-merge/waiting-for-ci 👍, nspawn

#16058 Fix memory protection default setting
  src/core/dbus-cgroup.c
  src/core/load-fragment.c
  src/shared/bus-unit-util.c
  src/test/test-cgroup-unit-default.c
Labels: good-to-merge/with-minor-suggestions

#15905 AppArmor: Support for loading a pre-compiled profile
  meson.build
  src/core/apparmor-setup.c
  src/core/apparmor-setup.h
  src/core/main.c
  src/core/meson.build
Labels: apparmor

#16104 networkctl: Display DHCPv6 IAID
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd/sd-network/sd-network.c
  src/network/networkctl.c
  src/network/networkd-link.c
  src/systemd/sd-dhcp6-client.h
  src/systemd/sd-network.h
Labels: good-to-merge/waiting-for-ci 👍, network

#16110 tree-wide: check POLLNVAL everywhere
  src/basic/io-util.c
  src/basic/socket-util.c
  src/journal/journalctl.c
  src/libsystemd/sd-bus/bus-socket.c
  src/libsystemd/sd-bus/sd-bus.c
  src/libsystemd/sd-daemon/sd-daemon.c
  src/libsystemd/sd-netlink/sd-netlink.c
  src/libudev/libudev-monitor.c
  src/shared/ask-password-api.c
  src/shared/barrier.c
  src/shared/utmp-wtmp.c
  src/shared/varlink.c
  src/sleep/sleep.c
  src/stdio-bridge/stdio-bridge.c
  src/tty-ask-password-agent/tty-ask-password-agent.c
  src/udev/udevadm-settle.c
  src/userdb/userwork.c
Labels: ci-failure-appears-unrelated, tree-wide, util-lib

#16087 travis: check build with various compiler options
  .travis.yml
  src/core/dbus-manager.c
  src/journal/journal-send.c
  travis-ci/managers/fedora.sh
Labels: ci

#16120 minor udev fixlets
  src/udev/udevd.c
Labels: udev

#16118 move $XDG_RUNTIME_DIR/inaccessible/ to $XDG_RUNTIME_DIR/systemd/inaccessible
  src/basic/mkdir.c
  src/core/mount-setup.c
  src/core/namespace.c
  src/login/user-runtime-dir.c
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn.c
  src/shared/dev-setup.c
  src/shared/mount-util.c
  src/test/test-dev-setup.c
Labels: ci-failure-appears-unrelated, pid1

#16111 bitlocker cryptsetup fix
  src/cryptsetup/cryptsetup.c
Labels: cryptsetup

#16102 docs: point contributors to list of most recent systemd releases
  .github/ISSUE_TEMPLATE/Bug_report.md
  docs/CONTRIBUTING.md
Labels: documentation 📖

#16101 pager: set PR_DEATHSIG for pager to SIGINT rather than SIGTERM
  src/basic/process-util.c
  src/basic/process-util.h
  src/shared/pager.c
Labels: util-lib

#16124 network: Display DHCPv6 DUID
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd/sd-network/sd-network.c
  src/network/networkctl.c
  src/network/networkd-link.c
  src/systemd/sd-dhcp6-client.h
  src/systemd/sd-network.h
Labels: network, reviewed/needs-rework 🔨

#16136 Move the gcc/clang build check to GitHub Actions
  .github/workflows/build_test.yml
  .github/workflows/cifuzz.yml
  .travis.yml
  src/journal/journal-send.c
  travis-ci/managers/ubuntu-build-check.sh
Labels: ci

#16137 some log fixes in the sleep code
  src/shared/sleep-config.c
  src/shared/sleep-config.h
  src/sleep/sleep.c
Labels: good-to-merge/waiting-for-ci 👍, sleep

#16154 turn off fuzzit part 2
  README.md
  docs/HACKING.md
  travis-ci/managers/fuzzit.sh
Labels: ci

#16150 build Fuzz targets with UBsan and MSan on CIFuzz
  .github/workflows/cifuzz.yml
Labels: ci, fuzzing

#16153 login: filenames in /run/systemd/users are uids
  src/login/logind.c
Labels: login, reviewed/needs-rework 🔨

#16165 test: in test_bridge_configure_without_carrier, ignore setup_state
  test/test-network/systemd-networkd-tests.py
Labels: tests

#16139 efi: Cache contents of EFI variable SystemdOptions
  src/basic/efivars.c
  src/basic/efivars.h
  src/core/main.c
Labels: pid1, reviewed/needs-rework 🔨

#16131 Print "Shutdown.." or "Reboot scheduled for Thu 2020-06-11 06:00:00 CEST, use 'shutdown -c' to cancel." depending on what'll happen
  src/systemctl/systemctl.c
Labels: good-to-merge/waiting-for-ci 👍, pid1, squash-on-merge

#16163 resolved: Don't complain too much when downgrading from EDNS
  src/resolve/resolved-dns-server.c
Labels: quick-review 🏃‍♂️, resolve

#16162 networkd: Add missing match_wlan_iftype check to network_verify
  src/network/networkd-network.c
Labels: network, quick-review 🏃‍♂️

#16170 Better documentation for user@ services
  man/directives-template.xml
  man/rules/meson.build
  man/user@.service.xml
  tools/make-man-index.py
  tools/update-man-rules.py
Labels: documentation 📖, good-to-merge/with-minor-suggestions

#16169 hwdb: Add accel orientation quirk for Odys Fusion Win 12 2in1
  hwdb.d/60-sensor.hwdb
Labels: ci-fails/needs-rework 🔥, hwdb

#16147 hwdb: Mask rfkill event from intel-hid on HP platforms
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

#16189 README: add reference to systemd.io
  README.md
Labels: documentation 📖

#16192 USER_RECORD: fix typo
  docs/USER_RECORD.md
Labels: documentation 📖

#16185 efi: use stub for cache_efi_options_variable if !ENABLE_EFI
  src/basic/efivars.h
Labels: good-to-merge/waiting-for-ci 👍

#16067 network: DHCPv6 - Add support to set token on the LAN interface
  man/systemd.network.xml
  src/network/networkd-dhcp6.c
  src/network/networkd-dhcp6.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: network

#16061 meson: add a new -Dstandalone-binaries=true option
  meson.build
  meson_options.txt
  src/tmpfiles/meson.build
Labels: build-system

#16198 network: clean-up DHCP lease server data configuration
  NEWS
  man/systemd.network.xml
  src/libsystemd/sd-network/sd-network.c
  src/network/networkctl.c
  src/network/networkd-dhcp-server.c
  src/network/networkd-dhcp-server.h
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/sd-dhcp-server.h
  src/systemd/sd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: dhcp, network

#16210 network: drop casting in memcpy()ing IPv6 address
  src/network/networkd-ndisc.c
Labels: network, quick-review 🏃‍♂️

#16200 network: do not fail to configure non-nl80211 wifi interfaces
  src/shared/wifi-util.c
Labels: network

#16208 udev: fixes error handling of sd_device_get_parent()
  src/udev/udev-event.c
  src/udev/udev-event.h
  src/udev/udevadm-test.c
Labels: udev

#16191 repart: add specifier expansion to Label= + bump default mininum size to 10M
  man/repart.d.xml
  src/partition/repart.c
  src/partition/test-repart.sh
Labels: repart

#16182 sd-boot: Add small comments after device-specific key macros
  src/boot/efi/boot.c
Labels: boot

#16236 network: add missing break
  src/network/networkd-dhcp-server.c
Labels: network, quick-review 🏃‍♂️

#16218 man: add note regarding editing user groups
  man/homectl.xml
Labels: documentation 📖, homed

#15926 Rework show status
  src/core/dbus-manager.c
  src/core/manager.c
  src/core/manager.h
  src/core/org.freedesktop.systemd1.conf
Labels: pid1

#16059 Optionally resolve single label names
  NEWS
  man/resolved.conf.xml
  man/systemd-resolved.service.xml
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-query.h
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-scope.h
  src/resolve/resolved-gperf.gperf
  src/resolve/resolved-manager.h
  src/resolve/resolved.conf.in
Labels: documentation 📖, resolve

#15977 Prefer logging to console unless JOURNAL_STREAM is set
  src/basic/log.c
  test/TEST-21-SYSUSERS/test.sh
Labels: ci-fails/needs-rework 🔥, reviewed/needs-rework 🔨, util-lib

#16235 network: fix compile error
  .github/workflows/ubuntu-build-check.sh
  src/network/networkd-dhcp6.c
Labels: ci, network

#16179 Convert autosuspend rules to hwdb
  hwdb.d/60-autosuspend.hwdb
  hwdb.d/meson.build
  hwdb.d/parse_hwdb.py
  rules.d/50-udev-default.rules.in
  rules.d/60-autosuspend.rules
  rules.d/60-serial.rules
  rules.d/61-autosuspend-manual.rules
  rules.d/meson.build
  tools/make-autosuspend-rules.py
Labels: hwdb, udev

#16237 Revert "bus-message: immediately reject messages with invalid type"
  src/basic/memory-util.h
  src/libsystemd/sd-bus/bus-message.c
  test/fuzz/fuzz-bus-message/zero-offset-to-null-pointer
Labels: ci-failure-appears-unrelated, sd-bus

#16241 selinux-util: tweak log_enforcing_errno() to return the errno passed …
  src/basic/selinux-util.c
Labels: pid1, selinux

#16196 travis: use a matrix for similar jobs
  .travis.yml
  travis-ci/managers/debian.sh
  travis-ci/managers/fedora.sh
Labels: ci

#16194 nspawn: mkdir selinux mount point once, but not twice
  src/nspawn/nspawn-mount.c
Labels: nspawn, selinux

#16132 core: add RootHash and RootVerity service parameters
  man/systemd.exec.xml
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/namespace.c
  src/core/namespace.h
  src/dissect/dissect.c
  src/nspawn/nspawn.c
  src/shared/bus-unit-util.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/test/test-namespace.c
  src/test/test-ns.c
  test/fuzz/fuzz-unit-file/directives.service
Labels: good-to-merge/waiting-for-ci 👍, pid1

#16248 Revert "cgroup: Allow empty assignments of Memory{Low,Min}="
  src/core/dbus-cgroup.c
  src/core/load-fragment.c
  src/shared/bus-unit-util.c
Labels: cgroups, pid1

#16253 man: s/PROGRAMM/PROGRAM/
  man/systemd.resource-control.xml
Labels: documentation 📖

#16254 man: replace perl bug tracker link that went away with link to paper
  docs/RANDOM_SEEDS.md
Labels: documentation 📖, quick-review 🏃‍♂️

#16251 make-autosuspend-rules: restore compatibility with Python3 < 3.6
  tools/make-autosuspend-rules.py
Labels: good-to-merge/waiting-for-ci 👍

#16213 network: cleanup link state file
  src/libsystemd-network/dhcp-lease-internal.h
  src/libsystemd-network/network-internal.h
  src/libsystemd-network/sd-dhcp-lease.c
  src/libsystemd/sd-network/sd-network.c
  src/network/networkctl.c
  src/network/networkd-link.c
  src/systemd/sd-network.h
Labels: dhcp, good-to-merge/waiting-for-ci 👍, network

#16256 hwdb: add another Logitech G502 Hero variant
  hwdb.d/70-mouse.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#16250 selinux: drop mac_selinux_use() condition from mac_selinux_free()
  src/basic/selinux-util.c
Labels: good-to-merge/waiting-for-ci 👍, selinux

#16223 Initialize SELinux in user instances
  src/basic/selinux-util.c
  src/core/main.c
  src/hostname/hostnamed.c
  src/hwdb/hwdb.c
  src/locale/localed.c
  src/login/logind.c
  src/login/user-runtime-dir.c
  src/resolve/resolved.c
  src/sysusers/sysusers.c
  src/timedate/timedated.c
  src/tmpfiles/tmpfiles.c
  src/udev/udevadm.c
  src/udev/udevd.c
  src/update-done/update-done.c
  src/user-sessions/user-sessions.c
Labels: good-to-merge/waiting-for-ci 👍, pid1, selinux

#16112 rework nss-systemd recursion lock
  meson.build
  src/basic/dlfcn-util.h
  src/basic/meson.build
  src/locale/localed.c
  src/locale/meson.build
  src/nss-systemd/nss-systemd.c
  src/nss-systemd/nss-systemd.h
  src/nss-systemd/nss-systemd.sym
  src/nss-systemd/userdb-glue.c
  src/shared/userdb.c
  src/shared/userdb.h
  src/userdb/userwork.c
Labels: good-to-merge/waiting-for-ci 👍, nss, userdb

#15400 honor-first-shutdown-request
  src/core/emergency-action.c
  test/TEST-52-HONORFIRSTSHUTDOWN/Makefile
  test/TEST-52-HONORFIRSTSHUTDOWN/fini.sh
  test/TEST-52-HONORFIRSTSHUTDOWN/test.sh
  test/meson.build
  test/testsuite-52.units/testsuite-52.service
  test/testsuite-52.units/testsuite-52.sh
  test/units/test-honor-first-shutdown.service
  test/units/test-honor-first-shutdown.sh
Labels: pid1

#16238 Fix handling of cases where a duplicate item is added to a set and related cleanups
  coccinelle/set_ensure_put.cocci
  src/basic/hashmap.c
  src/basic/hashmap.h
  src/basic/set.h
  src/core/automount.c
  src/core/bpf-firewall.c
  src/core/dbus-execute.c
  src/core/load-fragment.c
  src/core/manager.c
  src/core/unit.c
  src/journal/journalctl.c
  src/libsystemd/sd-device/device-monitor.c
  src/libsystemd/sd-event/sd-event.c
  src/login/logind-brightness.c
  src/network/netdev/wireguard.c
  src/network/networkd-address.c
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp4.c
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/network/networkd-ndisc.c
  src/network/networkd-neighbor.c
  src/network/networkd-network.c
  src/network/networkd-nexthop.c
  src/network/networkd-route.c
  src/network/networkd-routing-policy-rule.c
  src/portable/portable.c
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-stub.c
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-dns-transaction.h
  src/resolve/resolved-dns-trust-anchor.c
  src/resolve/resolved-dns-zone.c
  src/resolve/resolved-etc-hosts.c
  src/shared/bus-util.c
  src/shared/seccomp-util.c
  src/shared/seccomp-util.h
  src/shared/userdb.c
  src/socket-proxy/socket-proxyd.c
  src/sysv-generator/sysv-generator.c
  src/test/test-set.c
  src/tmpfiles/tmpfiles.c
  src/udev/udevadm-monitor.c
  test/fuzz/fuzz-netdev-parser/wireguard-duplicated-endpoint
  test/fuzz/fuzz-network-parser/dns-trust-anchor-duplicate.network
Labels: good-to-merge/with-minor-suggestions, tree-wide

#16106 network: tc: introduce ETS
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-types.h
  src/network/meson.build
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/tc/ets.c
  src/network/tc/ets.h
  src/network/tc/qdisc.c
  src/network/tc/qdisc.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-qdisc-ets.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#16093 network: tc: add several settings for HTB
  man/systemd.network.xml
  src/network/networkd-network-gperf.gperf
  src/network/tc/htb.c
  src/network/tc/htb.h
  src/network/tc/tc-util.c
  src/network/tc/tc-util.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-qdisc-clsact-and-htb.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#16262 tree-wide: avoid some loaded terms
  NEWS
  docs/USER_NAMES.md
  man/systemd-nspawn.xml
  man/systemd.exec.xml
  man/systemd.network.xml
  man/systemd.resource-control.xml
  src/analyze/analyze-security.c
  src/basic/device-nodes.c
  src/basic/device-nodes.h
  src/basic/efivars.c
  src/basic/fs-util.c
  src/core/bpf-devices.c
  src/core/bpf-devices.h
  src/core/cgroup.c
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment.c
  src/core/namespace.c
  src/cryptsetup/cryptsetup-generator.c
  src/libudev/libudev-util.c
  src/login/logind-core.c
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp4.h
  src/network/networkd-ndisc.c
  src/network/networkd-ndisc.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/nspawn/nspawn-oci.c
  src/nspawn/nspawn-seccomp.c
  src/nspawn/nspawn-seccomp.h
  src/nspawn/nspawn-settings.c
  src/nspawn/nspawn-settings.h
  src/nspawn/nspawn.c
  src/partition/growfs.c
  src/resolve/test-resolved-etc-hosts.c
  src/shared/bus-unit-util.c
  src/shared/module-util.c
  src/shared/mount-util.c
  src/shared/mount-util.h
  src/shared/seccomp-util.c
  src/shared/seccomp-util.h
  src/systemctl/systemctl.c
  src/test/test-bpf-devices.c
  src/test/test-execute.c
  src/test/test-seccomp.c
  src/tmpfiles/tmpfiles.c
  test/fuzz/fuzz-network-parser/directives.network
  test/fuzz/fuzz-network-parser/oss-fuzz-15678
  test/test-execute/exec-restrictnamespaces-mnt-deny-list.service
Labels: good-to-merge/waiting-for-ci 👍, tree-wide

#16261 missing: Add new Linux capabilities
  src/basic/missing_capability.h
Labels: good-to-merge/waiting-for-ci 👍

#16271 network: several tiny cleanups around link_get()
  src/network/netdev/netdev.c
  src/network/networkd-link.c
  src/network/networkd-manager.c
Labels: network, quick-review 🏃‍♂️

#16269 ci: switch to Ubuntu Bionic on Semaphore
  semaphoreci/semaphore-runner.sh
Labels: ci

#16270 ci: free up some resources on Pipelines
  travis-ci/managers/fuzzbuzz.sh
Labels: ci

#16249 Verity: add support for root hash signature
  README
  man/systemd-nspawn.xml
  man/systemd.exec.xml
  meson.build
  shell-completion/bash/systemd-nspawn
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/namespace.c
  src/core/namespace.h
  src/dissect/dissect.c
  src/nspawn/nspawn.c
  src/shared/bus-unit-util.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/systemctl/systemctl.c
  src/test/test-namespace.c
  src/test/test-ns.c
  src/veritysetup/veritysetup.c
  test/fuzz/fuzz-unit-file/directives.service
Labels: cryptsetup, dissect, good-to-merge/waiting-for-ci 👍, pid1

#16257 Two fuzzer issues
  src/fuzz/fuzz-udev-rules.c
  src/shared/logs-show.c
  src/test/test-udev.c
  src/udev/udev-rules.c
  src/udev/udev-rules.h
  src/udev/udevadm-test.c
  src/udev/udevd.c
  test/fuzz/fuzz-journal-remote/oss-fuzz-21122
  test/fuzz/fuzz-udev-rules/line-too-long
Labels: fuzzing, journal

#15697 Recheck PathExists=, PathExistsGlob=, DirectoryNotEmpty= when triggered unit terminates
  src/core/path.c
  src/core/path.h
  src/test/test-path.c
  test/test-path/path-changed.service
  test/test-path/path-directorynotempty.service
  test/test-path/path-exists.service
  test/test-path/path-existsglob.service
  test/test-path/path-makedirectory.service
  test/test-path/path-modified.service
  test/test-path/path-mycustomunit.service
Labels: pid1

#15624 hostnamed: stop caching so much
  src/hostname/hostnamed.c
Labels: good-to-merge/waiting-for-ci 👍, hostname

#16278 Fix html links
  man/bootup.xml
  man/coredumpctl.xml
  man/journalctl.xml
  man/kernel-command-line.xml
  man/kernel-install.xml
  man/networkctl.xml
  man/org.freedesktop.LogControl1.xml
  man/org.freedesktop.home1.xml
  man/org.freedesktop.import1.xml
  man/org.freedesktop.login1.xml
  man/org.freedesktop.machine1.xml
  man/org.freedesktop.systemd1.xml
  man/pam_systemd.xml
  man/resolvectl.xml
  man/sd-bus.xml
  man/sd_bus_interface_name_is_valid.xml
  man/sd_bus_message_get_type.xml
  man/sd_bus_message_new_method_error.xml
  man/sd_bus_message_new_signal.xml
  man/sd_bus_negotiate_fds.xml
  man/sd_bus_reply_method_error.xml
  man/sd_bus_set_watch_bind.xml
  man/sd_hwdb_get.xml
  man/sd_hwdb_new.xml
  man/sysctl.d.xml
  man/systemd-analyze.xml
  man/systemd-journald.service.xml
  man/systemd-machined.service.xml
  man/systemd-network-generator.service.xml
  man/systemd-networkd.service.xml
  man/systemd.exec.xml
  man/systemd.link.xml
  man/systemd.service.xml
Labels: documentation 📖

#16277 selinux: check mac_selinux_init() in tests
  src/test/test-udev.c
Labels: selinux, tests

#16276 portabled: create temp file for unit, not directory
  src/portable/portable.c
Labels: portable

#16264 udev: split attribute assignment for MMC cards
  rules.d/60-persistent-storage.rules
Labels: udev

#16275 network: deprecate netdevsim support
  man/systemd.netdev.xml
  test/test-network/conf/25-netdevsim.netdev
Labels: documentation 📖

#16096 journal file hash table hardening + zstd support
  TODO
  docs/JOURNAL_FILE_FORMAT.md
  docs/PORTABILITY_AND_STABILITY.md
  meson.build
  src/basic/macro.h
  src/coredump/coredump.c
  src/coredump/coredumpctl.c
  src/journal/compress.c
  src/journal/compress.h
  src/journal/journal-def.h
  src/journal/journal-file.c
  src/journal/journal-file.h
  src/journal/journal-internal.h
  src/journal/journal-verify.c
  src/journal/lookup3.h
  src/journal/sd-journal.c
  src/journal/test-compress-benchmark.c
  src/journal/test-compress.c
  src/journal/test-journal-stream.c
  src/journal/test-journal.c
Labels: documentation 📖, journal

#16283 util: add missing header guard
  src/shared/bus-log-control-api.h
Labels: quick-review 🏃‍♂️, util-lib

#16286 Add quotes for -n
  test/units/testsuite-36.sh
Labels: good-to-merge/waiting-for-ci 👍

#16281 logind: cache two more EFI variables in logind
  src/basic/tmpfile-util.c
  src/login/logind-dbus.c
  src/login/logind.c
  src/login/logind.h
  src/shared/efi-loader.c
  src/shared/efi-loader.h
Labels: good-to-merge/waiting-for-ci 👍, login

#16290 core: add device mapper to allow-list with DevicePolicy=closed and RootImage
  src/core/unit.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#16294 tree-wide: spellcheck fixes
  NEWS
  TODO
  docs/DESKTOP_ENVIRONMENTS.md
  man/html.in
  man/man.in
  man/resolved.conf.xml
  man/systemd-udevd.service.xml
  src/home/homectl.c
  src/udev/udevd.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, tree-wide

#16292 efi: define cache functions inside EFI_ENABLE ifdef
  src/shared/efi-loader.c
Labels: good-to-merge/waiting-for-ci 👍

#16293 pid1: warn if people use User=nobody
  TODO
  catalog/systemd.catalog.in
  src/core/load-fragment.c
  src/systemd/sd-messages.h
Labels: pid1

#16142 pid1: add support for allowing to pass in random seed via kernel cmdline
  TODO
  docs/RANDOM_SEEDS.md
  man/kernel-command-line.xml
  src/basic/random-util.c
  src/basic/random-util.h
  src/core/efi-random.c
  src/core/main.c
  src/random-seed/random-seed.c
Labels: new-feature, pid1, random-seed

#16304 test: bump the timeout for systemd-hwdb-update.service under ASan
  test/test-functions
Labels: quick-review 🏃‍♂️, tests

#16311 shell-completion: add missing verbs for networkctl
  shell-completion/bash/networkctl
Labels: quick-review 🏃‍♂️, shell completion

#16309 test-repart: allow the test to pass on non-amd64 architectures
  src/partition/test-repart.sh
Labels: tests

#16312 NEWS: add several entries about networkd
  NEWS
Labels: documentation 📖

#16310 Adjust touchpad edge detection for X1Tab3
  hwdb.d/60-evdev.hwdb
Labels: good-to-merge/waiting-for-ci 👍, squash-on-merge

#16282 repart: add new CopyBlocks= setting
  TODO
  man/repart.d.xml
  src/partition/repart.c
  src/partition/test-repart.sh
Labels: new-feature, repart

#16313 network: move IPv6LinkLocalAddressGenerationMode= to [Network] section
  NEWS
  man/systemd.network.xml
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: good-to-merge/waiting-for-ci 👍, network
