Repository systemd/systemd, pull requests merged in 2020-07, with the labels that each got.

#16316 backlight: use actual_brightness attribute to get current backlight level
  src/backlight/backlight.c
Labels: backlight, good-to-merge/waiting-for-ci 👍

#16314 Fix build with µhttpd 0.9.71
  src/journal-remote/journal-gatewayd.c
  src/journal-remote/journal-remote-main.c
  src/journal-remote/microhttpd-util.h
Labels: good-to-merge/waiting-for-ci 👍, journal-remote

#16306 udev: spi: include chip select number in ID_PATH
  src/udev/udev-builtin-path_id.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#16323 doc: add recentry introduced transient settings
  docs/TRANSIENT-SETTINGS.md
Labels: documentation 📖

#16326 l10n: update Czech Translation
  po/cs.po
Labels: l10n 🌍

#16331 network: Allow DHCPv6 client to start solicit mode
  man/systemd.network.xml
  src/network/networkd-dhcp6.c
  src/network/networkd-dhcp6.h
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
Labels: good-to-merge/waiting-for-ci 👍, network

#16219 network: Introduce SR-IOV
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/meson.build
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-sriov.c
  src/network/networkd-sriov.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-sriov.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#16337 NEWS: update document about WithoutRA=
  NEWS
Labels: documentation 📖

#16336 tiny cleanups related to ifindex
  src/basic/socket-util.c
  src/libsystemd-network/dhcp6-internal.h
  src/libsystemd-network/dhcp6-network.c
  src/libsystemd-network/icmp6-util.c
  src/libsystemd-network/icmp6-util.h
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/sd-radv.c
  src/libsystemd-network/test-dhcp-client.c
  src/libsystemd-network/test-dhcp6-client.c
  src/libsystemd-network/test-ipv4ll.c
  src/libsystemd-network/test-ndisc-ra.c
  src/libsystemd-network/test-ndisc-rs.c
  src/resolve/resolved-dns-stream.c
Labels: dhcp, good-to-merge/waiting-for-ci 👍, resolve, util-lib

#16338 Tree-wide spelling fixes
  docs/BOOT_LOADER_SPECIFICATION.md
  docs/HOME_DIRECTORY.md
  docs/INITRD_INTERFACE.md
  docs/RANDOM_SEEDS.md
  man/homectl.xml
  man/org.freedesktop.LogControl1.xml
  man/sd_hwdb_get.xml
  man/standard-conf.xml
  man/systemd.service.xml
  man/userdbctl.xml
  src/core/bpf-firewall.c
  src/core/execute.c
  src/core/load-fragment.c
  src/core/namespace.c
  src/home/pam_systemd_home.c
  src/home/user-record-util.c
  src/login/pam_systemd.c
  src/resolve/resolved-dns-packet.c
  src/resolve/resolved-dns-rr.c
  src/resolve/resolved-dns-rr.h
  src/shared/varlink.c
Labels: ci-failure-appears-unrelated, tree-wide

#16343 hwdb: Add accel orientation quirk for UMAX VisionBook 10Wi Pro
  hwdb.d/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#16324 network: tc: rename several settings which take size in bytes
  man/systemd.network.xml
  src/network/networkd-network-gperf.gperf
  src/network/tc/cake.c
  src/network/tc/drr.c
  src/network/tc/fifo.c
  src/network/tc/fq-codel.c
  src/network/tc/fq.c
  src/network/tc/qfq.c
  src/network/tc/tbf.c
  src/network/tc/tbf.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-qdisc-cake.network
  test/test-network/conf/25-qdisc-clsact-and-htb.network
  test/test-network/conf/25-qdisc-drr.network
  test/test-network/conf/25-qdisc-qfq.network
Labels: network

#16348 NEWS: two updates about networkd
  NEWS
Labels: documentation 📖

#15442 add fido2 authentication support to homed
  TODO
  docs/USER_RECORD.md
  man/homectl.xml
  meson.build
  meson_options.txt
  src/basic/locale-util.c
  src/basic/locale-util.h
  src/basic/macro.h
  src/home/homectl-fido2.c
  src/home/homectl-fido2.h
  src/home/homectl-pkcs11.c
  src/home/homectl-pkcs11.h
  src/home/homectl.c
  src/home/homed-home.c
  src/home/homework-cifs.c
  src/home/homework-cifs.h
  src/home/homework-directory.c
  src/home/homework-directory.h
  src/home/homework-fido2.c
  src/home/homework-fido2.h
  src/home/homework-fscrypt.c
  src/home/homework-fscrypt.h
  src/home/homework-luks.c
  src/home/homework-luks.h
  src/home/homework-pkcs11.c
  src/home/homework.c
  src/home/homework.h
  src/home/meson.build
  src/home/pam_systemd_home.c
  src/home/user-record-util.c
  src/home/user-record-util.h
  src/libsystemd/sd-bus/bus-common-errors.c
  src/libsystemd/sd-bus/bus-common-errors.h
  src/shared/pkcs11-util.c
  src/shared/pkcs11-util.h
  src/shared/user-record-show.c
  src/shared/user-record.c
  src/shared/user-record.h
  src/test/test-locale-util.c
  src/test/test-util.c
Labels: homed, new-feature

#16354 hwdb: Pavilion 13 x360: Tablet mode and SYSRQ key
  hwdb.d/60-keyboard.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#16342 fix TimeoutIdleSec= and DirectoryMode= for automount transient units
  src/core/automount.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#16355 test: use KILL instead of SIGKILL in TEST-52-HONORFIRSTSHUTDOWN
  test/units/test-honor-first-shutdown.service
Labels: quick-review 🏃‍♂️, tests

#16287 udevadm: make --attribute-walk show subdir attributes
  src/libsystemd/sd-device/sd-device.c
  src/udev/udevadm-info.c
Labels: good-to-merge/waiting-for-ci 👍, sd-device, udev

#16369 travis: install missing deps for the Coverity run
  travis-ci/managers/fedora.sh
Labels: ci, coverity

#16368 network: tc: fix n_prio bounds check
  src/network/tc/ets.c
  test/fuzz/fuzz-network-parser/oss-fuzz-23895
Labels: good-to-merge/waiting-for-ci 👍, network

#16372 unit-name: fix a potential memory leak
  src/basic/unit-name.c
  src/test/test-unit-name.c
Labels: util-lib

#16360 hwdb: add another Logitech M705 mouse variant
  hwdb.d/70-mouse.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#16344 Make update-utmp not fail if it only fails to write wtmp records
  src/home/homed.c
  src/initctl/initctl.c
  src/journal-remote/journal-remote-main.c
  src/journal-remote/journal-upload.c
  src/login/logind-core.c
  src/network/networkd.c
  src/network/wait-online/wait-online.c
  src/resolve/resolved.c
  src/shared/utmp-wtmp.c
  src/shared/utmp-wtmp.h
  src/timesync/timesyncd.c
  src/update-utmp/update-utmp.c
  src/userdb/userdbd.c
Labels: good-to-merge/waiting-for-ci 👍, login

#16240 DHCPv4: client add support for DHCP server allow list
  man/systemd.network.xml
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp4.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: network

#16374 Docs and networkd
  docs/USER_RECORD.md
  man/homectl.xml
  src/network/networkd-link.c
Labels: documentation 📖, network

#16358 network: Don't send RA with zero router lifetime when restarting radv
  src/libsystemd-network/sd-radv.c
  src/libsystemd-network/test-ndisc-ra.c
  src/network/networkd-dhcp6.c
  src/network/networkd-link.c
  src/systemd/sd-radv.h
Labels: dhcp, network

#16382 fix typo
  docs/CODING_STYLE.md
Labels: documentation 📖

#16387 network: fix memleak
  src/network/tc/qdisc.c
  src/network/tc/tclass.c
Labels: network

#16377 hwdb: Add Google Pixel Slate (nocturne)
  hwdb.d/60-sensor.hwdb
Labels: hwdb, squash-on-merge

#16383 network: do not restart radv engine when adding prefix
  src/libsystemd-network/sd-radv.c
  src/libsystemd-network/test-ndisc-ra.c
  src/network/networkd-dhcp6.c
  src/network/networkd-link.c
  src/network/networkd-radv.c
  src/network/networkd-radv.h
  src/systemd/sd-radv.h
Labels: dhcp, network

#16381 dhcp4: fixes around renewing address
  src/libsystemd-network/sd-dhcp-client.c
Labels: dhcp

#16380 Network: update acquired dhcp6 prefix routes
  src/network/networkd-dhcp6.c
Labels: network

#16389 all: fix minor typos
  src/basic/process-util.c
  src/basic/random-util.c
  src/basic/socket-util.c
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/systemd/sd-lldp.h
Labels: tree-wide

#16376 man: match parentheses
  man/org.freedesktop.home1.xml
  man/org.freedesktop.hostname1.xml
  man/org.freedesktop.systemd1.xml
  man/repart.d.xml
  man/sd_bus_creds_get_pid.xml
  man/sd_event_new.xml
  man/sd_login_monitor_new.xml
  man/systemd-boot.xml
  man/systemd-nspawn.xml
Labels: cosmetic, documentation 📖

#16390 One coverity-inspired fix and spelling
  docs/USER_RECORD.md
  man/org.freedesktop.home1.xml
  man/sd_bus_get_fd.xml
  man/systemd.exec.xml
  src/core/unit.c
  src/journal/compress.c
  src/journal/journald-kmsg.c
  src/network/netdev/bond.c
  src/network/networkd-dhcp4.c
  src/network/networkd-routing-policy-rule.c
  src/shared/dropin.c
  src/shared/linux/nl80211.h
  src/test/test-process-util.c
Labels: ci-failure-appears-unrelated, tree-wide

#16388 xdg-desktop fuzz case
  src/sleep/sleep.c
  src/test/test-xdg-autostart.c
  src/xdg-autostart-generator/xdg-autostart-service.c
  test/fuzz/fuzz-network-parser/oss-fuzz-23950
  test/fuzz/fuzz-xdg-desktop/oss-fuzz-22812
Labels: ci-failure-appears-unrelated, fuzzing, xdg-autostart

#16301 Add --image= switch to firstboot, similar to --root= but with support for operating on disk image
  TODO
  man/systemd-firstboot.xml
  src/basic/namespace-util.c
  src/basic/namespace-util.h
  src/core/machine-id-setup.c
  src/firstboot/firstboot.c
  src/shared/mount-util.c
  src/shared/mount-util.h
  src/shared/tests.c
  src/test/test-udev.c
Labels: ci-failure-appears-unrelated, firstboot, new-feature

#16143 fstab-generator: make sure explicit deps configured via mount options apply to .mount, not .automount unit
  man/systemd.mount.xml
  src/fstab-generator/fstab-generator.c
Labels: fstab-generator

#16394 docs: update information where to file bugs against RHEL/CentOS versi…
  docs/CONTRIBUTING.md
Labels: documentation 📖, downstream/rhel

#16379 network: fix assertion in assigning dhcp6 delegated prefix
  src/network/networkd-dhcp6.c
  src/network/networkd-link.c
  src/network/networkd-link.h
Labels: good-to-merge/waiting-for-ci 👍, network

#16395 sd-device: use log_device_debug_errno()
  src/libsystemd/sd-device/sd-device.c
Labels: quick-review 🏃‍♂️, sd-device

#16385 table add table_log_xx_error()
  src/busctl/busctl.c
  src/home/homectl.c
  src/id128/id128.c
  src/login/inhibit.c
  src/login/loginctl.c
  src/machine/machinectl.c
  src/mount/mount-tool.c
  src/network/networkctl.c
  src/portable/portablectl.c
  src/resolve/resolvectl.c
  src/shared/format-table.h
  src/systemctl/systemctl.c
  src/timedate/timedatectl.c
  src/userdb/userdbctl.c
Labels: good-to-merge/waiting-for-ci 👍, squash-on-merge, tree-wide

#16399 test: bump the TEST-47 sleeps once again
  test/units/testsuite-47.sh
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, tests

#16404 Prepare v246-rc1
  .mailmap
  NEWS
  meson.build
  tools/git-contrib.sh
Labels: documentation 📖, meson

#15955 core: check null_or_empty_path for masked units instead of /dev/null
  src/core/unit.c
  src/shared/install.c
  src/test/test-install-root.c
Labels: install

#16405 network: add support for MACVLAN source mode
  man/systemd.netdev.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/netdev/macvlan.c
  src/network/netdev/macvlan.h
  src/network/netdev/netdev-gperf.gperf
  src/shared/macvlan-util.c
  src/shared/macvlan-util.h
  test/fuzz/fuzz-netdev-parser/directives.netdev
Labels: good-to-merge/waiting-for-ci 👍, network

#15891 Container Interface: expose the host's os-release metadata to nspawn and portable guests
  docs/CONTAINER_INTERFACE.md
  man/os-release.xml
  src/basic/mkdir-label.c
  src/basic/mkdir.c
  src/basic/mkdir.h
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn-mount.h
  src/nspawn/nspawn.c
  src/portable/portable.c
  src/shared/os-util.c
  src/shared/os-util.h
  test/TEST-13-NSPAWN-SMOKE/test.sh
  test/units/testsuite-13.sh
Labels: nspawn, portable

#16411 Bridge without carrier fails
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network, tests

#16409 userdb: fix dlopen call
  src/shared/userdb.c
Labels: userdb

#16402 install: fix wrong data type
  src/shared/install.c
  src/shared/install.h
Labels: good-to-merge/waiting-for-ci 👍, install

#16418 Added MSI Prestige15 A10SC specific keycodes
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

#16427 man: fix some manvolnum
  man/homectl.xml
  man/journal-remote.conf.xml
  man/journal-upload.conf.xml
  man/journalctl.xml
  man/journald.conf.xml
  man/logind.conf.xml
  man/systemd-bless-boot.service.xml
  man/systemd-boot-check-no-failures.service.xml
  man/systemd-environment-d-generator.xml
  man/systemd-sleep.conf.xml
  man/systemd-system.conf.xml
  man/systemd-sysv-generator.xml
  man/systemd-xdg-autostart-generator.xml
  man/systemd.link.xml
  man/systemd.netdev.xml
  man/systemd.network.xml
  man/systemd.slice.xml
  man/systemd.unit.xml
  man/systemd.xml
  man/timesyncd.conf.xml
  man/user@.service.xml
Labels: documentation 📖, quick-review 🏃‍♂️

#16424 Handle new capabilities gracefully
  src/basic/cap-list.c
  src/basic/capability-util.c
  src/basic/capability-util.h
  src/libsystemd/sd-bus/bus-creds.c
  src/test/test-cap-list.c
  src/test/test-capability.c
Labels: ci-failure-appears-unrelated, tests, util-lib

#16429 bus: use bus_log_parse_error to print message
  src/busctl/busctl.c
  src/network/networkd-manager.c
  src/resolve/resolved-bus.c
  src/timedate/timedatectl.c
Labels: good-to-merge/waiting-for-ci 👍

#16436 NEWS: mention source mode for MACVLAN or MACVTAP
  NEWS
Labels: documentation 📖

#16435 fix multi matches when use "||"
  src/udev/udev-rules.c
  test/udev-test.pl
Labels: good-to-merge/waiting-for-ci 👍, udev

#16431 repart: include more relevant information in the warning message, fix test
  src/partition/repart.c
  src/partition/test-repart.sh
Labels: repart, tests

#16437 coverity: switch back to Fedora 31
  .travis.yml
  travis-ci/managers/fedora.sh
Labels: coverity, priority

#16452 meson: do not install testdata when -Dinstall-tests=false
  test/meson.build
Labels: ci-failure-appears-unrelated, meson

#16455 analyze: make testing ConditionPathExistsGlob= work
  src/analyze/analyze-condition.c
Labels: analyze, good-to-merge/waiting-for-ci 👍

#16430 Fix RPM *_create_package macros
  src/core/macros.systemd.in
Labels: rpm

#16340 Create ro private /var/tmp dir when /var/tmp is read-only
  src/core/execute.c
  src/core/execute.h
  src/core/manager.c
  src/core/namespace.c
  src/core/namespace.h
  src/core/service.c
  src/test/test-namespace.c
Labels: ci-failure-appears-unrelated, pid1

#16460 ci: turn off the "upstream-systemd-ci" ppa
  .github/workflows/ubuntu-build-check.sh
Labels: ci, dont-merge 💣

#16462 Emit better errors for rpm macro misuse
  src/core/macros.systemd.in
Labels: ci-failure-appears-unrelated, rpm

#16465 test: Add "finish" rule to .PHONY
  test/TEST-52-HONORFIRSTSHUTDOWN/Makefile
Labels: tests

#16466 Revert "ci: turn off the "upstream-systemd-ci" ppa"
  .github/workflows/ubuntu-build-check.sh
Labels: ci

#16428 timer: Adjust calendar timers based on monotonic timer instead of realtime
  src/core/timer.c
  test/TEST-53-ISSUE-16347/Makefile
  test/TEST-53-ISSUE-16347/test.sh
  test/units/testsuite-53.service
  test/units/testsuite-53.sh
Labels: ci-failure-appears-unrelated, pid1

#16398 machined: move UID/GID resolution logic to userdb, i.e. from nss-mymachines to nss-systemd
  README
  TODO
  docs/UIDS-GIDS.md
  docs/USER_GROUP_API.md
  factory/etc/nsswitch.conf
  man/nss-myhostname.xml
  man/nss-mymachines.xml
  man/nss-resolve.xml
  man/nss-systemd.xml
  man/systemd-machined.service.xml
  man/userdbctl.xml
  src/basic/process-util.h
  src/machine/machine.c
  src/machine/machine.h
  src/machine/machined-core.c
  src/machine/machined-dbus.c
  src/machine/machined-varlink.c
  src/machine/machined-varlink.h
  src/machine/machined.c
  src/machine/machined.h
  src/machine/meson.build
  src/nspawn/nspawn.c
  src/nss-mymachines/nss-mymachines.c
  src/shared/userdb.c
Labels: ci-failure-appears-unrelated, machine, nss, userdb

#16453 logs: when embedding catalog info in log output use a dash of color a…
  src/shared/logs-show.c
Labels: catalog, ci-failure-appears-unrelated, journal

#16468 Two unrelated patches
  man/systemd-boot.xml
  src/test/test-fs-util.c
Labels: documentation 📖, tests

#16396 network: about xxx_configured flags
  src/network/netdev/bond.c
  src/network/netdev/bridge.c
  src/network/networkctl.c
  src/network/networkd-address.c
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-dhcp6.h
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-ndisc.c
  src/network/networkd-network.c
  src/network/tc/tc-util.c
  src/network/wait-online/manager.c
  test/networkd-test.py
  test/test-network/conf/23-bond199.network
  test/test-network/conf/23-emit-lldp.network
  test/test-network/conf/24-keep-configuration-static.network
  test/test-network/conf/24-lldp.network
  test/test-network/conf/24-search-domain.network
  test/test-network/conf/25-address-link-section.network
  test/test-network/conf/25-address-preferred-lifetime-zero.network
  test/test-network/conf/25-fibrule-invert.network
  test/test-network/conf/25-fibrule-port-range.network
  test/test-network/conf/25-fibrule-uidrange.network
  test/test-network/conf/25-gateway-next-static.network
  test/test-network/conf/25-gateway-static.network
  test/test-network/conf/25-ipv6-address-label-section.network
  test/test-network/conf/25-route-vrf.network
  test/test-network/conf/25-vrf.network
  test/test-network/conf/6rd.network
  test/test-network/conf/erspan.network
  test/test-network/conf/gretap.network
  test/test-network/conf/gretun.network
  test/test-network/conf/ip6gretap.network
  test/test-network/conf/ip6gretun.network
  test/test-network/conf/ip6tnl.network
  test/test-network/conf/ipip.network
  test/test-network/conf/ipvlan.network
  test/test-network/conf/ipvtap.network
  test/test-network/conf/isatap.network
  test/test-network/conf/macvlan.network
  test/test-network/conf/macvtap.network
  test/test-network/conf/routing-policy-rule-dummy98.network
  test/test-network/conf/routing-policy-rule-test1.network
  test/test-network/conf/sit.network
  test/test-network/conf/state-file-tests.network
  test/test-network/conf/vti.network
  test/test-network/conf/vti6.network
  test/test-network/systemd-networkd-tests.py
Labels: ci-failure-appears-unrelated, network

#16473 network: fix typo
  src/network/networkd-dhcp6.c
Labels: good-to-merge/waiting-for-ci 👍, network

#16477 core: fix invalid assertion
  src/core/execute.c
Labels: pid1

#16474 mountpoint-util: fix error handling
  src/basic/mountpoint-util.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, util-lib

#16475 load-fragment: downgrade log messages we ignore to LOG_WARNING
  src/core/load-fragment.c
Labels: ci-failure-appears-unrelated, pid1, quick-review 🏃‍♂️

#16470 dhcp4: only renewing lease when the client already has a lease
  src/libsystemd-network/sd-dhcp-client.c
Labels: dhcp

#16458 Revert "selinux: cache enforced status and treat retrieve failure as …
  src/basic/selinux-util.c
  src/basic/selinux-util.h
  src/core/selinux-access.c
Labels: pid1, selinux

#16480 network: fix two minor races in DHCP4 handling
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp4.h
  src/network/networkd-link.c
  src/network/networkd-link.h
Labels: network

#16483 man: three minor fixes to environment.d/ man page
  man/environment.d.xml
Labels: documentation 📖, quick-review 🏃‍♂️

#16482 two coverity fixes
  src/core/execute.c
  src/machine/machined-varlink.c
Labels: good-to-merge/waiting-for-ci 👍, machine, pid1, quick-review 🏃‍♂️

#16485 Follow-up for comments on #15891
  src/basic/mkdir.c
  src/nspawn/nspawn-mount.c
  src/shared/os-util.c
  test/units/testsuite-13.sh
Labels: good-to-merge/waiting-for-ci 👍, nspawn

#16481 network: downgrade log level in conf parsers
  src/network/netdev/bond.c
  src/network/netdev/bridge.c
  src/network/netdev/fou-tunnel.c
  src/network/netdev/geneve.c
  src/network/netdev/l2tp-tunnel.c
  src/network/netdev/macsec.c
  src/network/netdev/netdev.c
  src/network/netdev/tunnel.c
  src/network/netdev/vxlan.c
  src/network/netdev/wireguard.c
  src/network/networkd-address-label.c
  src/network/networkd-address.c
  src/network/networkd-brvlan.c
  src/network/networkd-can.c
  src/network/networkd-conf.c
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp-server.c
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-fdb.c
  src/network/networkd-ipv4ll.c
  src/network/networkd-ipv6-proxy-ndp.c
  src/network/networkd-lldp-tx.c
  src/network/networkd-ndisc.c
  src/network/networkd-neighbor.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-nexthop.c
  src/network/networkd-radv.c
  src/network/networkd-route.c
  src/network/networkd-route.h
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-sriov.c
  src/network/networkd-util.c
  src/network/tc/cake.c
  src/network/tc/codel.c
  src/network/tc/drr.c
  src/network/tc/ets.c
  src/network/tc/fifo.c
  src/network/tc/fq-codel.c
  src/network/tc/fq.c
  src/network/tc/gred.c
  src/network/tc/hhf.c
  src/network/tc/htb.c
  src/network/tc/netem.c
  src/network/tc/pie.c
  src/network/tc/qdisc.c
  src/network/tc/qfq.c
  src/network/tc/sfb.c
  src/network/tc/sfq.c
  src/network/tc/tbf.c
  src/network/tc/tclass.c
  src/network/tc/teql.c
  src/shared/conf-parser.c
  src/shared/conf-parser.h
Labels: good-to-merge/waiting-for-ci 👍, network, util-lib

#16493 analyze: CAP_RAWIO -> CAP_SYS_RAWIO
  src/analyze/analyze-security.c
Labels: analyze, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#16491 Improvements to udev logging and related code
  man/udev.xml
  src/basic/string-table.c
  src/libsystemd/sd-device/device-internal.h
  src/libsystemd/sd-device/device-monitor.c
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-device/device-util.h
  src/libsystemd/sd-device/sd-device.c
  src/mount/mount-tool.c
  src/udev/udev-node.c
  src/udev/udev-rules.c
  src/udev/udev-watch.c
  src/udev/udevadm-info.c
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, sd-device, udev

#16490 network: cleanups for radv and ndisc
  src/network/networkd-ndisc.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-radv.c
Labels: good-to-merge/waiting-for-ci 👍, network

#16476 Add autosuspend rules for emulated QEMU devices
  hwdb.d/60-autosuspend.hwdb
  hwdb.d/parse_hwdb.py
  src/udev/udev-builtin-hwdb.c
  tools/make-autosuspend-rules.py
Labels: good-to-merge/waiting-for-ci 👍, udev

#16508 build: dont install files if their feature is not enabled
  man/systemd-initctl.service.xml
  meson.build
  units/meson.build
Labels: ci-failure-appears-unrelated, meson

#16512 Support alternate passwd/group locations in tmpfiles
  src/shared/offline-passwd.c
  src/shared/offline-passwd.h
  src/test/meson.build
  src/test/test-offline-passwd.c
  src/tmpfiles/meson.build
  src/tmpfiles/offline-passwd.c
Labels: tests, tmpfiles

#16516 networkd: Use NLM_F_ACK on the netlink message to add a neighbor.
  src/network/networkd-neighbor.c
Labels: good-to-merge/waiting-for-ci 👍, network

#16515 nspawn: set container_host env vars before user arguments
  src/nspawn/nspawn.c
Labels: nspawn

#16505 network: do not enumerate foreign routes when ManageForeignRoutes=no, and tiny cleanups
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/network/networkd-ndisc.c
Labels: network

#16517 sd-netlink: make timeout message sealed
  src/libsystemd/sd-netlink/netlink-util.c
Labels: sd-netlink

#16503 vconsole-setup: downgrade log message when setting font fails on dumm…
  src/vconsole/vconsole-setup.c
Labels: vconsole

#16501 udev: fix issues in renaming interface vs alternative names
  src/libsystemd/sd-netlink/netlink-util.c
  src/libsystemd/sd-netlink/netlink-util.h
  src/udev/net/link-config.c
Labels: sd-netlink, udev

#16497 mkosi: Keep mkosi.default out of the repository
  .gitignore
  .mkosi/mkosi.arch
  .mkosi/mkosi.debian
  .mkosi/mkosi.fedora
  .mkosi/mkosi.opensuse
  .mkosi/mkosi.ubuntu
  docs/HACKING.md
  mkosi.default
Labels: mkosi

#16522 docs: Update section about XDG autostart generator
  docs/DESKTOP_ENVIRONMENTS.md
Labels: documentation 📖

#16478 Expand TEST-50-DISSECT to cover dm-verity features
  test/TEST-50-DISSECT/test.sh
  test/units/testsuite-50.sh
Labels: tests

#16527 travis: compile with -O1 with clang
  travis-ci/managers/debian.sh
Labels: ci, priority

#16518 network: fix failures in updating MAC address
  src/libsystemd-network/sd-radv.c
  src/network/networkd-link.c
  src/systemd/sd-radv.h
Labels: network

#16523 bus: use bus_log_connect_error to print error message
  src/analyze/analyze.c
  src/cgls/cgls.c
  src/hostname/hostnamectl.c
  src/locale/localectl.c
  src/login/loginctl.c
  src/machine/machinectl.c
  src/mount/mount-tool.c
  src/run/run.c
  src/shared/bus-util.h
  src/shared/cgroup-show.c
  src/timedate/timedatectl.c
Labels: tree-wide

#16525 logind: Fix org.freedesktop.login1.set-reboot-to-boot-loader-menu saving to the wrong file in the non EFI case
  src/login/logind-dbus.c
Labels: ci-failure-appears-unrelated, login

#16526 test: run systemd-dissect and systemd-run with log level debug in TEST-50-DISSECT
  test/units/testsuite-50.sh
Labels: ci-failure-appears-unrelated, tests

#16353 resolve, network: more SNI and port number support
  man/resolvectl.xml
  man/resolved.conf.xml
  man/systemd.network.xml
  src/basic/in-addr-util.c
  src/basic/in-addr-util.h
  src/network/networkd-dhcp-server.c
  src/network/networkd-link-bus.c
  src/network/networkd-link-bus.h
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager-bus.c
  src/network/networkd-manager.c
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-radv.c
  src/resolve/resolvectl.c
  src/resolve/resolved-bus.c
  src/resolve/resolved-bus.h
  src/resolve/resolved-conf.c
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-scope.h
  src/resolve/resolved-dns-server.c
  src/resolve/resolved-dns-server.h
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-link-bus.c
  src/resolve/resolved-link-bus.h
  src/resolve/resolved-link.c
  src/shared/bus-get-properties.h
  src/shared/bus-message-util.c
  src/shared/bus-message-util.h
  src/shared/meson.build
  src/shared/socket-netlink.c
  src/shared/socket-netlink.h
  src/test/test-socket-util.c
  test/test-network/conf/state-file-tests.network
  test/test-network/systemd-networkd-tests.py
Labels: network, resolve

#16519 networkctl: tiny cleanups about alternative names
  src/network/networkctl.c
Labels: network

#16533 import: always prefer GNU tar, to avoid cmdline incompatibilities
  src/import/import-common.c
Labels: good-to-merge/waiting-for-ci 👍, import, quick-review 🏃‍♂️

#16504 fileio: teach read_full_file() the ability to read data from AF_UNIX stream socket
  man/systemd-journal-gatewayd.service.xml
  man/systemd-journal-remote.service.xml
  man/systemd.netdev.xml
  src/basic/fileio.c
  src/basic/fileio.h
  src/journal-remote/journal-gatewayd.c
  src/journal-remote/journal-remote-main.c
  src/network/netdev/macsec.c
  src/network/netdev/wireguard.c
  src/test/test-fileio.c
  src/veritysetup/veritysetup.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#16534 offline-passwd: use chase_symlinks()
  src/shared/offline-passwd.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, tmpfiles

#16540 two ACL handling fixes
  src/coredump/coredump.c
  src/shared/acl-util.c
Labels: ci-failure-appears-unrelated, coredump, util-lib

#16514 Fix coredumpctl operation with zstd-compressed journals
  TODO
  man/sd_journal_get_data.xml
  man/sd_journal_query_unique.xml
  src/home/homectl-pkcs11.c
  src/journal/compress.c
  src/journal/journal-internal.h
  src/journal/sd-journal.c
  src/journal/test-compress.c
  src/libsystemd/libsystemd.sym
  src/systemd/sd-journal.h
Labels: ci-failure-appears-unrelated, homed, journal

#16539 test: adapt test-functions for SUSE
  test/test-functions
Labels: ci-failure-appears-unrelated, tests

#16520 Revert "man: add note about systemd-vconsole-setup.service and tty as…
  man/systemd.exec.xml
Labels: documentation 📖

#16407 verity: re-use already open devices if the hashes match
  src/home/homework-luks.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/shared/dm-util.c
  src/shared/dm-util.h
  test/units/testsuite-50.sh
Labels: dissect, pid1, reviewed/needs-rework 🔨

#16530 udev: fix race in renaming network interface
  src/network/networkd-manager.c
  src/udev/udev-event.c
Labels: network, udev

#16536 time-util: clock mapping improvements
  src/basic/time-util.c
  src/basic/time-util.h
  src/core/timer.c
  src/test/test-time-util.c
Labels: ci-failure-appears-unrelated, util-lib

#16541 execute: take ownership of more fields in ExecParameters
  src/core/execute.c
  src/core/service.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#16542 Make targets fail again
  src/core/job.c
  src/core/target.c
  src/test/meson.build
  src/test/test-path.c
  units/initrd-fs.target
  units/initrd-root-device.target
  units/initrd-root-fs.target
  units/initrd.target
  units/local-fs.target
Labels: good-to-merge/waiting-for-ci 👍, pid1, tests, units

#16498 Get SOURCE_EPOCH from the latest git tag timestamp instead of NEWS
  meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#16496 firstboot: Add --root-shell option and tighten up passwd/shadow handling
  man/systemd-firstboot.xml
  src/firstboot/firstboot.c
Labels: firstboot, reviewed/needs-rework 🔨

#16557 Two ci fixes
  meson.build
  semaphoreci/semaphore-runner.sh
Labels: ci, meson, priority

#16552 man: do not say that isolate is like switching runlevels
  TODO
  man/systemctl.xml
Labels: documentation 📖

#16532 network: sync link state file on dbus call, and ndisc cleanups
  src/basic/in-addr-util.c
  src/basic/siphash24.c
  src/basic/siphash24.h
  src/journal/catalog.c
  src/network/networkd-link-bus.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-ndisc.c
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-util.c
  src/resolve/resolved-dns-server.c
  test/test-network/conf/ipv6-prefix-veth-token-static-multiple.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#16538 network: compare with peer address if it is specified
  src/network/networkd-link.c
Labels: network

#16459 Update mkosi.ubuntu (Bump from 18.04 LTS to 20.04 LTS)
  .mkosi/mkosi.ubuntu
Labels: mkosi, squash-on-merge

#16555 nspawn: fix MS_SHARED mount propagation for userns containers
  src/nspawn/nspawn.c
Labels: good-to-merge/waiting-for-ci 👍, nspawn

#16562 firstboot: fix mode of /etc/passwd
  src/firstboot/firstboot.c
Labels: firstboot, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#16551 core: clean more env vars from env block pid1 receives
  src/core/manager.c
Labels: good-to-merge/waiting-for-ci 👍, pid1, quick-review 🏃‍♂️

#16561 test: clarify that ordered_set_put() returns -EEXIST if entry is duplicated
  src/test/test-ordered-set.c
Labels: good-to-merge/waiting-for-ci 👍, tests

#16545 semaphoreci: update Debian release to bullseye
  semaphoreci/semaphore-runner.sh
Labels: ci, ci-fails/needs-rework 🔥

#16571 selinux: handle getcon_raw producing a NULL pointer, despite returning 0
  src/core/selinux-setup.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#16566 nspawn: os-release reorganization, second try
  NEWS
  TODO
  man/os-release.xml
  src/nspawn/nspawn-def.h
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn-mount.h
  src/portable/portable.c
  test/units/testsuite-13.sh
Labels: good-to-merge/waiting-for-ci 👍, nspawn

#16574 resolvectl: fix older resolved or networkd support to set DNS servers
  src/resolve/resolvectl.c
Labels: good-to-merge/waiting-for-ci 👍, resolve

#16586 Clang-11 issues
  src/network/test-networkd-conf.c
  src/test/test-alloc-util.c
  src/test/test-clock.c
Labels: ci-failure-appears-unrelated

#16587 network: radv: Send RA on newly-added dynamic prefix
  src/libsystemd-network/sd-radv.c
Labels: ci-failure-appears-unrelated, network

#16588 firstboot: Check if the given shell exists
  src/firstboot/firstboot.c
Labels: firstboot, good-to-merge/waiting-for-ci 👍

#16606 firstboot: Update help string with --root-shell options
  src/firstboot/firstboot.c
Labels: firstboot, good-to-merge/waiting-for-ci 👍

#16593 test-cgroup-util: Handle result=NULL as empty string
  src/test/test-cgroup-util.c
Labels: good-to-merge/waiting-for-ci 👍, tests

#16576 Increase /tmp size to 50% of RAM
  NEWS
  src/shared/mount-util.h
  units/tmp.mount
Labels: documentation 📖, units

#16590 Small adjustements to let various tests pass in overloaded Fedora infra and related changes
  src/libsystemd-network/test-ndisc-rs.c
  src/shared/sleep-config.c
  src/test/test-fs-util.c
  src/test/test-path.c
  src/test/test-sleep.c
Labels: tests

#16585 network: fix several DHCP6 PD issues, and cleanup DHCP4 and NDISC
  man/systemd.network.xml
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-dhcp6.h
  src/network/networkd-ipv4ll.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-ndisc.c
  src/network/networkd-ndisc.h
  src/network/networkd-neighbor.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-radv.c
  src/network/networkd-radv.h
  src/network/networkd-route.c
  src/network/networkd-route.h
  src/network/networkd-routing-policy-rule.c
  src/network/test-routing-policy-rule.c
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-prefix-route-with-vrf.network
  test/test-network/conf/25-prefix-route-without-vrf.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#16611 man: fix link markup
  man/systemd.exec.xml
Labels: documentation 📖, quick-review 🏃‍♂️

#16608 meson: run 'ninja man/update-man-rules' again
  man/rules/meson.build
Labels: build-system, good-to-merge/waiting-for-ci 👍

#16613 NEWS: mention about [DHCPv6PrefixDelegation] section
  NEWS
Labels: documentation 📖

#16616 network: Fix "Unknown section 'DHCPv6PrefixDelegation'." message
  src/network/networkd-network.c
Labels: ci-failure-appears-unrelated, network

#16619 network: fix use of uninitialized value
  src/network/networkd-dhcp4.c
Labels: network, quick-review 🏃‍♂️

#16615 added alternative version of SurfTab Twin
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#16620 repart: log fixes
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, repart

#16188 hwdb: Add EliteBook to use micmute hotkey
  hwdb.d/60-keyboard.hwdb
Labels: ci-failure-appears-unrelated, hwdb

#16623 path-util: make use of TAKE_PTR() where we can
  src/basic/path-util.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, util-lib

#16622 pid1: stop limiting size of /dev/shm
  src/core/mount-setup.c
  src/core/namespace.c
  src/nspawn/nspawn-mount.c
  src/shared/mount-util.h
Labels: good-to-merge/waiting-for-ci 👍, pid1

#16625 udev: fix codesonar warnings
  src/udev/udevadm-info.c
Labels: good-to-merge/waiting-for-ci 👍, udev
