Repository systemd/systemd, pull requests merged in 2020-09, with the labels that each got.

#16917 CONTRIBUTING: be clearer about versions and RFE process
  docs/CONTRIBUTING.md
Labels: documentation 📖, quick-review 🏃‍♂️

#16885 Rework cache timestamps
  src/basic/siphash24.h
  src/core/load-fragment.c
  src/core/manager.c
  src/core/manager.h
  src/core/transaction.c
  src/core/unit.c
  src/core/unit.h
  src/shared/unit-file.c
  src/shared/unit-file.h
Labels: good-to-merge/waiting-for-ci 👍, pid1, priority

#16918 doc: cross link sd_listen_fd() docs a bit
  man/sd_listen_fds.xml
  man/systemd.service.xml
  man/systemd.socket.xml
Labels: documentation 📖

#16877 tmpfiles: use statx()
  src/basic/missing_stat.h
  src/basic/time-util.c
  src/basic/time-util.h
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles

#16835 socket: New option 'FlushPending' (boolean) to flush socket before entering listening state
  docs/TRANSIENT-SETTINGS.md
  man/org.freedesktop.systemd1.xml
  man/systemd.socket.xml
  src/core/dbus-socket.c
  src/core/load-fragment-gperf.gperf.m4
  src/core/socket.c
  src/core/socket.h
  src/shared/bus-unit-util.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#16727 core: fix securebits setting
  src/basic/capability-util.c
  src/basic/capability-util.h
  src/core/execute.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#16922 Ordered set ensure allocated
  src/basic/hashmap.c
  src/basic/hashmap.h
  src/basic/ordered-set.c
  src/basic/ordered-set.h
  src/basic/set.h
Labels: ci-failure-appears-unrelated, util-lib

#16911 Deal properly with invalid utf-8 in userdb entries
  TODO
  man/userdbctl.xml
  src/basic/escape.c
  src/basic/escape.h
  src/basic/utf8.c
  src/basic/utf8.h
  src/nss-systemd/nss-systemd.c
  src/nss-systemd/userdb-glue.c
  src/shared/group-record-nss.c
  src/shared/group-record-nss.h
  src/shared/group-record-show.c
  src/shared/group-record-show.h
  src/shared/json.c
  src/shared/libcrypt-util.c
  src/shared/libcrypt-util.h
  src/shared/meson.build
  src/shared/user-record-nss.c
  src/shared/user-record-nss.h
  src/shared/user-record-show.c
  src/shared/user-record-show.h
  src/shared/userdb.c
  src/shared/varlink.c
  src/test/test-json.c
  src/test/test-utf8.c
  src/userdb/userdbctl.c
  src/userdb/userdbd.c
  src/userdb/userwork.c
Labels: good-to-merge/waiting-for-ci 👍, userdb

#16925 selinux/core: create several file objects with default SELinux context
  src/basic/label.c
  src/basic/label.h
  src/core/core-varlink.c
  src/core/manager.c
  src/core/unit.c
  src/shared/varlink.c
Labels: selinux

#16934 firstboot: fill empty color if ansi_color unavailable from os-release
  src/firstboot/firstboot.c
Labels: firstboot, good-to-merge/waiting-for-ci 👍

#16931 coredump: don't convert s → µs twice
  src/coredump/coredump.c
Labels: coredump

#16853 udev: make uevents "sticky"
  NEWS
  man/udev_device_has_tag.xml
  meson.build
  src/core/device.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-device/device-internal.h
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/device-util.h
  src/libsystemd/sd-device/sd-device.c
  src/libudev/libudev-device.c
  src/libudev/libudev.h
  src/libudev/libudev.sym
  src/login/logind-acl.c
  src/login/logind-core.c
  src/login/logind-dbus.c
  src/login/sysfs-show.c
  src/systemd/sd-device.h
  src/udev/udev-event.c
  src/udev/udev-rules.c
  test/TEST-55-UDEV-TAGS/Makefile
  test/TEST-55-UDEV-TAGS/test.sh
  test/test-functions
  test/units/testsuite-55.service
  test/units/testsuite-55.sh
Labels: ci-failure-appears-unrelated, udev

#16882 Translations update from Weblate
  po/fr.po
  po/hr.po
  po/uk.po
Labels: l10n 🌍

#16935 nspawn: let's make LinkJournal an extended boolean
  src/nspawn/nspawn-settings.c
Labels: nspawn, quick-review 🏃‍♂️

#16930 import: make sure gnu tar complains on tar files with trailing garbage
  src/import/import-common.c
Labels: import

#16849 homed: remember the secret even when the for_state is FIXATING_FOR_ACQUIRE
  src/home/homed-home.c
Labels: homed

#16936 firstboot: don't create/modify passwd and shadow if not asked
  src/firstboot/firstboot.c
Labels: firstboot

#16940 Cleanup socket enotconn handling
  src/core/socket.c
Labels: pid1

#16821 selinux: use SELinux status page
  src/basic/selinux-util.c
  src/basic/selinux-util.h
  src/core/execute.c
  src/core/selinux-access.c
  src/udev/udevd.c
Labels: reviewed/needs-rework 🔨, selinux

#16915 pid1,repart,growfs: make libcryptsetup a dlopen() style dep
  TODO
  meson.build
  src/cryptsetup/cryptsetup-keyfile.c
  src/cryptsetup/cryptsetup-keyfile.h
  src/cryptsetup/cryptsetup-pkcs11.c
  src/cryptsetup/cryptsetup.c
  src/home/homework-luks.h
  src/partition/growfs.c
  src/partition/repart.c
  src/shared/crypt-util.c
  src/shared/crypt-util.h
  src/shared/cryptsetup-util.c
  src/shared/cryptsetup-util.h
  src/shared/dissect-image.c
  src/shared/meson.build
  src/veritysetup/veritysetup.c
Labels: cryptsetup, dissect, util-lib

#16945 fix udev-test when used with selinux
  src/test/meson.build
  src/test/test-udev.c
Labels: good-to-merge/waiting-for-ci 👍, priority, selinux, tests, udev

#16044 systemd-resolved: allow configurable bind address
  man/resolved.conf.xml
  src/resolve/resolved-conf.c
  src/resolve/resolved-conf.h
  src/resolve/resolved-dns-stub.c
  src/resolve/resolved-dns-stub.h
  src/resolve/resolved-gperf.gperf
  src/resolve/resolved-manager.c
  src/resolve/resolved-manager.h
  src/shared/socket-netlink.c
  src/shared/socket-netlink.h
  src/test/test-socket-netlink.c
  test/fuzz/fuzz-unit-file/directives.service
Labels: resolve

#16946 resolved: ttl/hopcount sockopt is not a boolean
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-stub.c
  src/resolve/resolved-llmnr.c
Labels: good-to-merge/waiting-for-ci 👍, resolve

#16846 network: fixes gateway assignment through DHCPv4
  src/network/networkd-dhcp4.c
Labels: network

#16952 resolvectl: update help message
  shell-completion/bash/resolvectl
  src/resolve/resolvectl.c
Labels: good-to-merge/waiting-for-ci 👍, resolve, shell completion

#16881 network: routing policy rule cleanups
  src/network/networkd-routing-policy-rule.c
  src/network/test-routing-policy-rule.c
Labels: ci-failure-appears-unrelated, network

#16880 network: DHCPv4 cleanups
  man/networkctl.xml
  src/libsystemd-network/sd-ipv4acd.c
  src/network/networkd-dhcp4.c
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, network

#16954 util: constify the second argument of set_get()
  src/basic/set.h
Labels: quick-review 🏃‍♂️, util-lib

#16927 core: add [Enable|Disable]UnitFilesWithFlags DBUS methods
  man/org.freedesktop.systemd1.xml
  src/core/dbus-manager.c
  src/portable/portablectl.c
  src/shared/install.c
  src/shared/install.h
Labels: good-to-merge/waiting-for-ci 👍, new-feature, pid1

#16957 three unrelated, minor fixes
  src/shared/ptyfwd.c
  src/shared/varlink.c
  src/systemd/sd-bus-protocol.h
  src/systemd/sd-bus.h
Labels: sd-bus, util-lib

#16854 sd-bus: rework sd_bus_error_set_errnofv()
  src/libsystemd/sd-bus/bus-error.c
  src/libsystemd/sd-bus/test-bus-error.c
Labels: sd-bus

#16951 resolve: follow-ups for extra DNS stub listener
  man/resolved.conf.xml
  src/basic/in-addr-util.c
  src/basic/in-addr-util.h
  src/basic/missing_socket.h
  src/basic/socket-util.h
  src/resolve/resolved-conf.c
  src/resolve/resolved-conf.h
  src/resolve/resolved-dns-packet.h
  src/resolve/resolved-dns-stub.c
  src/resolve/resolved-dns-stub.h
  src/resolve/resolved-manager.c
  src/resolve/resolved-manager.h
  src/shared/socket-netlink.c
  src/shared/socket-netlink.h
  src/test/test-in-addr-util.c
  src/test/test-socket-netlink.c
  src/test/test-socket-util.c
Labels: documentation 📖, resolve, tests, util-lib

#16961 selinux: early exit in mac_selinux_maybe_reload if not initialized
  src/basic/selinux-util.c
Labels: good-to-merge/waiting-for-ci 👍, selinux

#16960 selinux: create /run/user/${USERID}/systemd with default context
  src/core/main.c
Labels: selinux

#16928 stat-util: provide single statx() fallback on top of fstatat()
  src/basic/missing_stat.h
  src/basic/mountpoint-util.c
  src/basic/stat-util.c
  src/basic/stat-util.h
  src/basic/xattr-util.c
  src/tmpfiles/tmpfiles.c
Labels: util-lib

#16923 core: introduce support for setting NUMAMask= to special "all" value
  man/systemd.exec.xml
  src/core/load-fragment.c
  src/shared/bus-unit-util.c
  src/shared/cpu-set-util.c
  src/shared/cpu-set-util.h
  src/shared/numa-util.c
  src/shared/numa-util.h
Labels: ci-failure-appears-unrelated, pid1

#16725 network: fix NDisc behavior when multiple routers exist
  src/basic/in-addr-util.c
  src/basic/in-addr-util.h
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-ndisc.c
  src/network/networkd-ndisc.h
  src/network/networkd-route.c
  src/network/networkd-route.h
Labels: ci-failure-appears-unrelated, network

#16618 network: make prefixstable mode of IPv6Token= can be applied any received prefixes
  man/systemd.network.xml
  src/network/networkd-ndisc.c
  test/test-network/conf/ipv6-prefix-veth-token-prefixstable-without-address.network
  test/test-network/conf/ipv6-prefix-veth-token-static-multiple.network
  test/test-network/conf/ipv6-prefix-veth-token-static.network
  test/test-network/conf/ipv6-prefix.network
  test/test-network/systemd-networkd-tests.py
Labels: network, new-feature

#16974 man: fix quickhelp listing in sysusers.d(5)
  man/sysusers.d.xml
Labels: documentation 📖

#16955 One patch for test-execute and assorted cleanups
  src/core/execute.c
  src/core/manager.c
  src/test/test-execute.c
  src/test/test-sizeof.c
  test/test-execute/exec-dynamicuser-statedir.service
  test/udev-test.pl
Labels: tests

#16980 cgroup: freezer action must be NOP when cgroup v2 freezer is not available
  src/core/cgroup.c
Labels: cgroups, good-to-merge/waiting-for-ci 👍, pid1, quick-review 🏃‍♂️

#16979 Fix 'return log_error()' and 'return log_warning()' patterns
  src/basic/log.h
  src/core/execute.c
  src/escape/escape.c
  src/resolve/resolved-manager.c
  src/sleep/sleep.c
  src/systemctl/systemctl.c
  src/update-done/update-done.c
  src/update-utmp/update-utmp.c
Labels: good-to-merge/waiting-for-ci 👍, tree-wide

#16973 print friendly error message if btrfs tells us /dev/root was backing block device of root fs
  src/basic/btrfs-util.c
  src/basic/btrfs-util.h
  src/basic/quota-util.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/partition/growfs.c
  src/partition/repart.c
  src/shared/sleep-config.c
  src/volatile-root/volatile-root.c
Labels: btrfs, good-to-merge/waiting-for-ci 👍, tree-wide

#16982 Fixes for socket buffer size
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/core/socket.c
  src/libsystemd/sd-device/device-monitor.c
  src/network/networkd-manager.c
  src/udev/udevd.c
Labels: good-to-merge/waiting-for-ci 👍, network, pid1, sd-device, util-lib

#16984 Make log_xxx_error() or friends return void
  src/core/bpf-firewall.c
  src/core/cgroup.c
  src/core/service.c
  src/core/slice.c
  src/core/swap.c
  src/core/transaction.c
  src/core/unit.h
  src/libsystemd/sd-device/device-util.h
  src/network/networkd-dhcp6.c
  src/network/networkd-link.c
  src/shared/log-link.h
  src/udev/net/link-config.c
  src/udev/udev-builtin-keyboard.c
  src/udev/udev-builtin-uaccess.c
  src/udev/udev-event.c
  src/udev/udev-node.c
  src/udev/udev-rules.c
  src/udev/udev-watch.c
Labels: good-to-merge/waiting-for-ci 👍, network, pid1, sd-device, udev

#16972 Ambient capabilities documenation and keep-caps usage corrections
  src/core/execute.c
Labels: pid1, reviewed/needs-rework 🔨

#16635 Drop FOREACH_WORD
  .clang-format
  man/sd_machine_get_class.xml
  man/sd_seat_get_active.xml
  src/basic/cgroup-util.c
  src/basic/env-util.c
  src/basic/extract-word.c
  src/basic/macro.h
  src/basic/string-util.c
  src/basic/string-util.h
  src/basic/strv.c
  src/basic/strv.h
  src/core/load-fragment.c
  src/cryptsetup/cryptsetup.c
  src/delta/delta.c
  src/getty-generator/getty-generator.c
  src/journal-remote/journal-remote-main.c
  src/journal/sd-journal.c
  src/libsystemd/sd-daemon/sd-daemon.c
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-login/sd-login.c
  src/locale/keymap-util.c
  src/login/logind-inhibit.c
  src/login/logind-inhibit.h
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn-setuid.c
  src/shared/bus-unit-util.c
  src/shared/conf-parser.h
  src/shared/fstab-util.c
  src/shared/sleep-config.c
  src/systemd/sd-login.h
  src/test/test-extract-word.c
  src/test/test-string-util.c
  src/test/test-strv.c
  src/udev/udev-builtin.c
  src/udev/udev-event.c
  src/xdg-autostart-generator/xdg-autostart-service.c
Labels: tests, tree-wide

#16990 logind.conf: document UserStopDelaySec in logind.conf
  src/login/logind.conf.in
Labels: login, quick-review 🏃‍♂️

#16664 login: Add KEY_RESTART handling
  man/logind.conf.xml
  src/login/logind-button.c
  src/login/logind-core.c
  src/login/logind-dbus.c
  src/login/logind-gperf.gperf
  src/login/logind-inhibit.c
  src/login/logind-inhibit.h
  src/login/logind.conf.in
  src/login/logind.h
  src/login/org.freedesktop.login1.policy
  src/systemd/sd-messages.h
Labels: good-to-merge/waiting-for-ci 👍, login

#16994 logind: fix merge issue
  src/login/logind-inhibit.c
Labels: good-to-merge/waiting-for-ci 👍, login, priority, quick-review 🏃‍♂️

#16987 cryptsetup: Fix null pointer dereference
  src/shared/pkcs11-util.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍, squash-on-merge

#16997 fix two coverity issues
  src/core/socket.c
  src/libsystemd/sd-login/sd-login.c
Labels: coverity, good-to-merge/waiting-for-ci 👍, login, pid1, quick-review 🏃‍♂️

#16985 resolved: dns stub listener extra fixes
  src/resolve/resolved-conf.c
  src/resolve/resolved-conf.h
  src/resolve/resolved-dns-packet.h
  src/resolve/resolved-dns-query.h
  src/resolve/resolved-dns-stream.h
  src/resolve/resolved-dns-stub.c
  src/resolve/resolved-dns-stub.h
  src/resolve/resolved-dnssd.c
  src/resolve/resolved-manager.c
  src/resolve/resolved-manager.h
Labels: resolve

#16995 man: document EBUSY on sd_bus_message_close_container()
  man/sd_bus_message_open_container.xml
Labels: documentation 📖, sd-bus

#17000 network: a bunch of unimportant cleanups across the board
  src/libsystemd-network/arp-util.c
  src/libsystemd-network/lldp-network.c
  src/libsystemd/sd-netlink/rtnl-message.c
  src/libsystemd/sd-netlink/test-netlink.c
  src/libsystemd/sd-resolve/sd-resolve.c
  src/libsystemd/sd-resolve/test-resolve.c
  src/network/netdev/bridge.c
  src/network/netdev/macsec.c
  src/network/netdev/wireguard.c
  src/network/networkd-brvlan.c
  src/network/networkd-fdb.c
  src/network/networkd-lldp-tx.c
  src/shared/ethtool-util.c
Labels: network

#17001 bootctl: don't accidentally propagate errors in "bootctl status"
  src/boot/bootctl.c
Labels: boot, good-to-merge/waiting-for-ci 👍

#16996 systemd-user: move pam snippet default location to /usr/lib/pam.d
  NEWS
  meson.build
Labels: good-to-merge/waiting-for-ci 👍, login

#16999 fs-util,tmpfiles: fix error handling of fchmod_opath()
  src/basic/fs-util.c
  src/tmpfiles/tmpfiles.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, tmpfiles, tree-wide, util-lib

#16986 network: fix routing policy rule issue
  src/network/networkd-manager.c
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-routing-policy-rule.h
  src/network/test-routing-policy-rule.c
  test/test-network/conf/routing-policy-rule-reconfigure.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#17003 tree-wide: downgrade log level in conf-parsers
  src/core/load-fragment.c
  src/home/homed-conf.c
  src/journal/journald-server.c
  src/login/logind-core.c
  src/login/logind-user.c
  src/network/netdev/macsec.c
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/wireguard.c
  src/network/netdev/wireguard.h
  src/nspawn/nspawn-settings.c
  src/partition/repart.c
  src/resolve/resolved-bus.c
  src/resolve/resolved-conf.c
  src/resolve/resolved-dnssd.c
  src/resolve/resolved-dnssd.h
  src/shared/conf-parser.c
  src/shared/ethtool-util.c
  src/shared/vlan-util.c
  src/timesync/timesyncd-conf.c
  src/udev/udev-builtin.c
  src/xdg-autostart-generator/xdg-autostart-service.c
Labels: ci-failure-appears-unrelated, tree-wide

#16947 Socket parsing rework
  man/systemd.socket.xml
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/network/networkd-network-gperf.gperf
  src/resolve/resolved-conf.c
  src/resolve/resolved-dns-stub.c
  src/shared/socket-netlink.c
  src/shared/socket-netlink.h
  src/test/test-in-addr-util.c
  src/test/test-socket-netlink.c
  src/test/test-socket-util.c
  src/udev/net/link-config-gperf.gperf
Labels: resolve, util-lib

#16933 copy: optionally recreate hardlinks when copying file trees
  src/basic/btrfs-util.c
  src/basic/copy.c
  src/basic/copy.h
  src/dissect/dissect.c
  src/machine/machine-dbus.c
  src/partition/repart.c
  src/test/test-copy.c
  src/tmpfiles/tmpfiles.c
Labels: dissect, machine, repart

#17005 rework how we call per-ipv4/per-ipv6 sockopts that conceptually exist on both
  man/daemon.xml
  man/systemd.socket.xml
  src/basic/missing_network.h
  src/basic/socket-label.c
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/core/socket.c
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-stream.c
  src/resolve/resolved-dns-stub.c
  src/timesync/timesyncd-manager.c
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, tree-wide, util-lib

#17018 hostnamed: add various debugging log messages when we determine chass…
  src/hostname/hostnamed.c
Labels: good-to-merge/waiting-for-ci 👍, hostname, quick-review 🏃‍♂️

#17020 backlight: validate sysattr value
  src/backlight/backlight.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-device/sd-device.c
  src/systemd/sd-device.h
Labels: backlight, good-to-merge/waiting-for-ci 👍, sd-device

#17021 unit: declare BusName= in all our units that are on the bus, event if…
  units/systemd-networkd.service.in
  units/systemd-resolved.service.in
  units/systemd-timesyncd.service.in
Labels: units

#17016 test-network: add test for ENOBUFS issue #17012
  test/test-network/conf/25-address-static.network
  test/test-network/systemd-networkd-tests.py
Labels: ci-failure-appears-unrelated, network, tests

#16992 cryptsetup: generate the unit to umount keydev filesystem
  src/cryptsetup/cryptsetup-generator.c
Labels: cryptsetup

#17022 network: do not add prefix to RA if radv is not configured
  src/network/networkd-dhcp6.c
  src/network/networkd-radv.c
Labels: network

#17028 logind: make TerminateSession() count
  src/login/logind-dbus.c
  src/login/logind-dbus.h
  src/login/logind-seat-dbus.c
  src/login/logind-session-dbus.c
  src/login/logind-session.c
  src/login/logind-user-dbus.c
  src/login/logind-user.c
  src/login/logind.c
Labels: good-to-merge/waiting-for-ci 👍, login

#17029 mkosi: include libfido2 in fedora mkosi image
  .mkosi/mkosi.fedora
Labels: mkosi

#17032 test-acl-util: skip test if /tmp doesn't do ACLs
  src/test/test-acl-util.c
Labels: tests

#17030 socket: downgrade log warnings about inability to set socket buffer s…
  src/core/socket.c
Labels: pid1

#17033 hashmap: make sure to initialize shared hash key atomically
  src/basic/hashmap.c
Labels: ci-failure-appears-unrelated, util-lib

#17009 remove duplicate slashes in systemd-path output if rootprefixdir is "/"
  meson.build
  src/core/systemd.pc.in
  src/libsystemd/sd-path/sd-path.c
Labels: build-system, sd-path

#17010 man: document that RemainAfterElapse=no means that also the triggered…
  man/systemd.timer.xml
Labels: documentation 📖, pid1

#17027 make sure we our env file writer, parser and shell agree on things
  src/basic/env-file.c
  src/test/test-env-file.c
  src/test/test-fileio.c
Labels: good-to-merge/waiting-for-ci 👍, hostname, pid1, util-lib

#17048 bootctl: handle if LoaderSystemToken is invalid for some reason
  src/boot/bootctl.c
Labels: boot

#17051 tree-wide: don't needlessly negate error number passed to bus_error_m…
  src/core/service.c
  src/hostname/hostnamectl.c
  src/initctl/initctl.c
  src/libsystemd/sd-bus/bus-error.c
  src/libsystemd/sd-bus/test-bus-chat.c
  src/libsystemd/sd-bus/test-bus-server.c
  src/locale/localectl.c
  src/login/loginctl.c
  src/machine/machinectl.c
  src/run/run.c
Labels: quick-review 🏃‍♂️, sd-bus, tree-wide

#17046 man: rework UMask= explanation
  man/systemd.exec.xml
Labels: documentation 📖, pid1

#17039 tweak when we synthesize dbus deps for service units
  src/core/service.c
Labels: pid1, priority

#17031 core: propagate start limit hit from triggered unit to path unit
  src/basic/unit-def.h
  src/core/automount.c
  src/core/path.c
  src/core/path.h
  src/core/socket.c
  src/core/timer.c
  src/core/transaction.c
  src/core/unit.h
Labels: ci-failure-appears-unrelated, pid1

#17049 tree-wide: assorted cleanups/fixes
  NEWS
  man/networkctl.xml
  man/systemd-repart.xml
  man/systemd.socket.xml
  man/tc.xml
  src/basic/copy.c
  src/basic/io-util.c
  src/core/execute.c
  src/core/mount-setup.c
  src/core/unit.c
  src/home/homectl-fido2.c
  src/home/homectl-pkcs11.c
  src/home/homework-luks.c
  src/libsystemd/sd-netlink/sd-netlink.c
  src/network/networkd-dhcp4.c
  src/partition/repart.c
  src/resolve/resolved-dns-stub.c
  src/shared/offline-passwd.c
  src/shared/user-record.h
  src/shared/varlink.c
  src/tmpfiles/tmpfiles.c
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, homed, pid1, repart, sd-netlink, tmpfiles, tree-wide, varlink

#17055 Two coverity fixes
  src/basic/copy.c
  src/test/test-env-file.c
  src/test/test-fileio.c
Labels: coverity, good-to-merge/waiting-for-ci 👍, tests

#16976 systemctl: add service-log-{level,target} verbs
  man/org.freedesktop.LogControl1.xml
  man/systemctl.xml
  man/systemd.service.xml
  src/systemctl/systemctl.c
Labels: good-to-merge/waiting-for-ci 👍, systemctl

#17054 socket-util: reset length argument for second getsockopt call in fd_[gs]et_rcvbuf
  src/basic/socket-util.c
Labels: good-to-merge/waiting-for-ci 👍

#16998 network: add support for setting MDB entries
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-util.h
  src/libsystemd/sd-netlink/rtnl-message.c
  src/network/meson.build
  src/network/networkd-link.c
  src/network/networkd-mdb.c
  src/network/networkd-mdb.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/sd-netlink.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: network, new-feature

#17057 core: use strv_free_and_replace() at one more place
  src/core/device.c
Labels: pid1, quick-review 🏃‍♂️

#17058 busctl: add missing shortopt -l
  src/busctl/busctl.c
Labels: busctl

#17052 tests: try to allocate a delegated scope unit for our cgroup tests
  src/shared/tests.c
Labels: good-to-merge/waiting-for-ci 👍, tests

#17063 fstab-generator: add 'nofail' when NFS 'bg' option is used
  src/fstab-generator/fstab-generator.c
Labels: pid1

#17074 man: reorder autogenerated dbus api lists
  man/org.freedesktop.LogControl1.xml
  man/org.freedesktop.systemd1.xml
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍

#16675 SystemCallFilter, SystemCallErrorAction error actions kill and log
  docs/TRANSIENT-SETTINGS.md
  man/systemd.exec.xml
  src/basic/parse-util.c
  src/basic/parse-util.h
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/shared/bus-unit-util.c
  src/shared/seccomp-util.c
  src/shared/seccomp-util.h
  src/systemctl/systemctl.c
  src/test/test-execute.c
  src/test/test-parse-util.c
  test/test-execute/exec-systemcallfilter-override-error-action.service
  test/test-execute/exec-systemcallfilter-override-error-action2.service
Labels: ci-failure-appears-unrelated, new-feature, pid1, reviewed/needs-rework 🔨, seccomp

#17066 Allow loopback addresses
  TODO
  src/libsystemd/sd-bus/sd-bus.c
  src/socket-proxy/socket-proxyd.c
Labels: good-to-merge/waiting-for-ci 👍, sd-bus, socket-proxy

#17075 test-execute: kill Waldo and Quux
  src/test/test-execute.c
Labels: good-to-merge/waiting-for-ci 👍, tests

#17076 minor cleanups to the dissector code
  src/core/dbus-execute.c
  src/core/load-fragment.c
  src/dissect/dissect.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/shared/gpt.h
  src/test/meson.build
  src/test/test-dissect-image.c
Labels: dissect, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#17067 Expose the path to rc.local in the man page
  man/custom-entities.ent.in
  man/systemd-rc-local-generator.xml
  meson.build
  src/rc-local-generator/rc-local-generator.c
  units/rc-local.service.in
Labels: documentation 📖, meson

#17080 repart: don't mark image files generated with --empty=create executable
  src/partition/repart.c
Labels: quick-review 🏃‍♂️, repart

#17059 network: follow ups for bridge MDB support
  src/basic/in-addr-util.c
  src/basic/in-addr-util.h
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-mdb.c
  src/network/networkd-mdb.h
  src/network/networkd-network.c
  test/test-network/conf/26-bridge-mdb-master.network
  test/test-network/conf/26-bridge-mdb-slave.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network, tests

#17071 Fix Compile break for machines which do not have libcryptsetup installed
  src/partition/repart.c
Labels: repart, squash-on-merge

#17083 udev: if a tablet has BTN_0, label it as ID_INPUT_TABLET_PAD
  src/udev/udev-builtin-input_id.c
Labels: udev

#17073 network: Allow vxlan to be created without .network file
  man/systemd.netdev.xml
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/netdev.c
  src/network/netdev/vxlan.c
  src/network/netdev/vxlan.h
  test/fuzz/fuzz-netdev-parser/directives.netdev
  test/test-network/conf/25-vxlan-independent.netdev
  test/test-network/conf/netdev-link-local-addressing-yes.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#16929 network: introduce Bare UDP Tunnelling
  man/systemd.netdev.xml
  src/basic/linux/btrfs.h
  src/basic/linux/btrfs_tree.h
  src/basic/linux/if.h
  src/basic/linux/if_bridge.h
  src/basic/linux/if_ether.h
  src/basic/linux/if_link.h
  src/basic/linux/if_macsec.h
  src/basic/linux/in.h
  src/basic/linux/in6.h
  src/basic/linux/netlink.h
  src/basic/linux/nexthop.h
  src/basic/linux/pkt_sched.h
  src/basic/linux/rtnetlink.h
  src/basic/linux/update.sh
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-types.h
  src/network/meson.build
  src/network/netdev/bareudp.c
  src/network/netdev/bareudp.h
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/networkd-link.c
  test/fuzz/fuzz-netdev-parser/directives.netdev
  test/test-network/conf/25-bareudp.netdev
  test/test-network/conf/netdev-link-local-addressing-yes.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network, new-feature

#17081 dissect: wrap verity settings in new VeritySettings structure
  src/core/namespace.c
  src/dissect/dissect.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/nspawn/nspawn.c
  src/portable/portable.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/shared/machine-image.c
Labels: dissect, good-to-merge/waiting-for-ci 👍

#17090 po: update Japanese translation
  po/ja.po
Labels: l10n 🌍

#17061 Translations update from Weblate
  po/it.po
Labels: l10n 🌍

#17042 Update 60-sensor.hwdb
  hwdb.d/60-sensor.hwdb
Labels: hwdb, squash-on-merge

#15050 network: tc: add support for FQ-PIE packet scheduler
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-types.h
  src/network/meson.build
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/tc/fq-pie.c
  src/network/tc/fq-pie.h
  src/network/tc/qdisc.c
  src/network/tc/qdisc.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-qdisc-fq_pie.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#17093 dissect: some more tweaks
  src/dissect/dissect.c
  src/shared/dissect-image.c
Labels: dissect, good-to-merge/waiting-for-ci 👍

#17092 Libtool excorcism
  .mkosi/mkosi.arch
  .mkosi/mkosi.debian
  .mkosi/mkosi.fedora
  .mkosi/mkosi.ubuntu
  test/mkosi.default.networkd-test
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#17094 socket: unified documentation for Accept to use 'yes/no' everywhere
  man/org.freedesktop.systemd1.xml
  man/systemd.socket.xml
Labels: documentation 📖

#17085 network: allow to configure mdb entries on bridge master
  src/network/networkd-manager.h
  src/network/networkd-mdb.c
  src/network/networkd-network.c
  test/test-network/conf/26-bridge-mdb-master.network
  test/test-network/systemd-networkd-tests.py
Labels: ci-failure-appears-unrelated, network

#13695 test: add test cases for RuntimeDirectoryPreserve=yes
  src/test/test-execute.c
  test/test-execute/exec-dynamicuser-runtimedirectory1.service
  test/test-execute/exec-dynamicuser-runtimedirectory2.service
  test/test-execute/exec-dynamicuser-runtimedirectory3.service
Labels: tests

#17091 Update 60-sensor.hwdb
  hwdb.d/60-sensor.hwdb
Labels: ci-failure-appears-unrelated, hwdb

#16981 Use crypt_ra to allocate scratch area for password hashing
  meson.build
  src/firstboot/firstboot.c
  src/home/home-util.c
  src/home/home-util.h
  src/home/homectl-fido2.c
  src/home/homectl-pkcs11.c
  src/home/homectl-recovery-key.c
  src/home/homework.c
  src/home/user-record-pwquality.c
  src/home/user-record-util.c
  src/shared/libcrypt-util.c
  src/shared/libcrypt-util.h
  src/test/meson.build
  src/test/test-libcrypt-util.c
Labels: firstboot, homed, util-lib

#17082 nspawn controlling tty tweaks
  man/systemd-nspawn.xml
  src/nspawn/nspawn-stub-pid1.c
  src/nspawn/nspawn.c
Labels: nspawn

#17099 mkosi: include libfido2 binary package in mkosi manually for now
  .mkosi/mkosi.fedora
Labels: mkosi

#17100 various homed fixes
  man/homectl.xml
  src/home/homectl.c
  src/home/homed-bus.c
  src/home/homed-home.c
  src/home/homed-home.h
  src/home/homed-manager.c
  src/home/homed-manager.h
  src/home/homed-varlink.c
  src/home/homed.c
  units/systemd-homed.service.in
Labels: homed

#17101 add gpt types for /usr/, similar to how we have it for root partitions
  TODO
  docs/DISCOVERABLE_PARTITIONS.md
  man/repart.d.xml
  man/systemd-dissect.xml
  man/systemd-nspawn.xml
  man/systemd.exec.xml
  src/core/namespace.c
  src/dissect/dissect.c
  src/nspawn/nspawn.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/shared/gpt.c
  src/shared/gpt.h
Labels: dissect, good-to-merge/waiting-for-ci 👍, repart

#17114 meson: remove multi-line statement with trailing '\'
  meson.build
Labels: meson, quick-review 🏃‍♂️

#17106 Try stopping MD RAID devices in shutdown too
  src/shutdown/shutdown.c
  src/shutdown/umount.c
  src/shutdown/umount.h
Labels: shutdown

#17086 Update dbus docs, make developer mode default
  docs/HACKING.md
  man/org.freedesktop.systemd1.xml
  meson.build
  meson_options.txt
  tools/update-dbus-docs.py
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, meson

#17109 Udev opts tweaks
  man/kernel-command-line.xml
  man/systemd-udevd.service.xml
  man/udevadm.xml
  src/udev/udevadm-control.c
  src/udev/udevd.c
  test/fuzz/fuzz-unit-file/directives.service
Labels: udev

#16938 homed: don't refuse logins when RTC is wrong
  src/home/homed-home.c
  src/home/homework-luks.c
  src/home/pam_systemd_home.c
  src/home/user-record-util.c
  src/shared/user-record-show.c
  src/shared/user-record.c
Labels: ci-failure-appears-unrelated, homed

#17127 make more use of errno-util.h macros
  src/core/cgroup.c
  src/core/execute.c
  src/libsystemd/sd-bus/bus-creds.c
  src/nspawn/nspawn.c
  src/shared/mount-util.c
  src/shared/ptyfwd.c
Labels: good-to-merge/waiting-for-ci 👍, tree-wide

#17124 dissect-image: use correct path variable when reading verity signatures, do not refuse verity GPT without /usr partition
  src/shared/dissect-image.c
Labels: dissect, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#17130 Trivial cleanups based on static analysis
  src/activate/activate.c
  src/backlight/backlight.c
  src/core/namespace.h
  src/libsystemd-network/sd-radv.c
  src/libsystemd/sd-bus/test-bus-chat.c
  src/libsystemd/sd-login/sd-login.c
  src/libsystemd/sd-netlink/sd-netlink.c
  src/libsystemd/sd-network/sd-network.c
  src/login/logind-dbus.c
  src/shared/conf-parser.c
Labels: ci-failure-appears-unrelated

#17137 machine: fix error code propagation in two cases
  src/machine/machine-dbus.c
Labels: good-to-merge/waiting-for-ci 👍, machine, quick-review 🏃‍♂️

#17141 sd-radv: fix indentation
  src/libsystemd-network/sd-radv.c
Labels: network, quick-review 🏃‍♂️

#17144 tree-wide: mostly avoid following symlinks when mounting
  TODO
  src/core/automount.c
  src/core/execute.c
  src/core/machine-id-setup.c
  src/core/mount-setup.c
  src/core/namespace.c
  src/home/homework-directory.c
  src/home/homework-luks.c
  src/home/homework-mount.c
  src/home/homework.c
  src/login/user-runtime-dir.c
  src/machine/machine-dbus.c
  src/nspawn/nspawn-cgroup.c
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn-mount.h
  src/nspawn/nspawn.c
  src/partition/repart.c
  src/shared/dissect-image.c
  src/shared/mount-util.c
  src/shared/mount-util.h
  src/test/test-udev.c
  src/volatile-root/volatile-root.c
Labels: good-to-merge/waiting-for-ci 👍, tree-wide, util-lib

#17118 fsync() block devices before detaching them during shutdown
  src/shutdown/umount.c
Labels: good-to-merge/waiting-for-ci 👍, shutdown

#17146 use proc_mounted() more
  src/basic/fd-util.c
  src/basic/fs-util.c
Labels: util-lib

#17142 catalog: add missing @ to German catalog file
  catalog/systemd.de.catalog.in
Labels: catalog, l10n 🌍, quick-review 🏃‍♂️

#17115 random-util: Add an environment variable to disable RDRAND.
  docs/ENVIRONMENT.md
  src/basic/random-util.c
Labels: reviewed/needs-rework 🔨, util-lib

#17151 Translations update from Weblate
  po/zh_CN.po
Labels: l10n 🌍

#17147 Update 60-sensor.hwdb
  hwdb.d/60-sensor.hwdb
Labels: fix-commit-message-on-merge, hwdb

#17145 remove chmod_and_chown_unsafe()
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/sysusers/sysusers.c
  src/test/test-fs-util.c
Labels: sysusers, util-lib

#17136 sd-dhcp6-client: Fix sending prefix delegation request
  src/libsystemd-network/sd-dhcp6-client.c
Labels: dhcp, network

#17132 Test suite updates
  src/test/test-seccomp.c
  test/TEST-02-UNITTESTS/Makefile
  test/TEST-02-UNITTESTS/deny-list-ubuntu-ci-ppc64el
  test/TEST-02-UNITTESTS/test.sh
  test/TEST-24-CRYPTSETUP/Makefile
  test/TEST-24-CRYPTSETUP/test.sh
  test/run-integration-tests.sh
  test/units/testsuite-02.service
  test/units/testsuite-02.sh
  test/units/testsuite-24.service
Labels: ci-failure-appears-unrelated, tests

#17148 cryptsetup-generator: use "/proc/cmdline" as source when appropriate
  src/cryptsetup/cryptsetup-generator.c
Labels: cryptsetup, reviewed/needs-rework 🔨

#17166 two minor fixes to the loop block device handling
  src/shared/loop-util.c
Labels: quick-review 🏃‍♂️, util-lib

#17165 mount-util: show mount source in mount_verbose_full() debug output
  src/shared/mount-util.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, util-lib

#17164 Add Chinese translation
  po/zh_CN.po
Labels: l10n 🌍

#17167 repart: use proper API to check if block device can do partition scan…
  src/partition/repart.c
Labels: repart

#17163 libcrypt-util: use build-time check for crypt_preferred_method
  meson.build
  src/shared/libcrypt-util.c
Labels: good-to-merge/waiting-for-ci 👍, meson

#17169 core: ensure that namespace tmp directories always get the correct label
  src/core/namespace.c
Labels: ci-failure-appears-unrelated, pid1, selinux

#17168 Add accel mount matrix for Irbis NB111 transformer
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#17088 core: move reset_arguments() to the end of main's finish
  src/core/main.c
Labels: ci-failure-appears-unrelated, pid1

#17174 Fix rfkill button behaviour on HP Elite x2 1013 G3 and assign five other hotkeys
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

#17186 man: fix reference to unit file
  man/tmpfiles.d.xml
Labels: documentation 📖, quick-review 🏃‍♂️, tmpfiles
