Repository systemd/systemd, pull requests merged in 2020-12, with the labels that each got.

#17785 scope: on unified, make sure to unwatch all PIDs once they've been mo…
  src/core/scope.c
Labels: pid1, regression ⚠️

#17524 cryptsetup: if keyfile is specified as AF_UNIX socket in the fs, connect to it, and read key data from it
  TODO
  man/crypttab.xml
  man/systemd-journal-gatewayd.service.xml
  man/systemd-journal-remote.service.xml
  src/basic/fileio.c
  src/basic/fileio.h
  src/core/execute.c
  src/cryptsetup/cryptsetup-keyfile.c
  src/cryptsetup/cryptsetup-keyfile.h
  src/cryptsetup/cryptsetup-pkcs11.c
  src/cryptsetup/cryptsetup-pkcs11.h
  src/cryptsetup/cryptsetup.c
  src/journal-remote/journal-gatewayd.c
  src/journal-remote/journal-remote-main.c
  src/network/netdev/macsec.c
  src/network/netdev/wireguard.c
  src/nspawn/nspawn.c
  src/partition/repart.c
  src/shared/dissect-image.c
  src/shared/json.c
  src/test/test-fileio.c
  src/veritysetup/veritysetup.c
Labels: cryptsetup, new-feature, util-lib

#17703 sd-event: add a concept of ratelimiting
  man/rules/meson.build
  man/sd-event.xml
  man/sd_event_source_set_enabled.xml
  man/sd_event_source_set_ratelimit.xml
  src/core/mount.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-event/event-source.h
  src/libsystemd/sd-event/sd-event.c
  src/libsystemd/sd-event/test-event.c
  src/systemd/sd-event.h
Labels: pid1, sd-event, tests

#17692 network: fold ipv4ll fallback modes into normal ipv4ll addressing
  man/systemd.network.xml
  src/basic/string-table.h
  src/libsystemd-network/sd-dhcp-client.c
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp4.c
  src/network/networkd-ipv4ll.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-network.c
  src/network/networkd-util.c
  src/network/networkd-util.h
  src/systemd/sd-dhcp-client.h
  test/test-network/conf/dhcp-client-vrf.network
  test/test-network/conf/dhcp-client-with-ipv4ll-with-dhcp-server.network
  test/test-network/conf/dhcp-client-with-ipv4ll-without-dhcp-server.network
  test/test-network/systemd-networkd-tests.py
Labels: dhcp, network

#17776 pager: stop disabling urlification under a pager
  src/shared/pretty-print.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#17801 tree-wide: fix typos
  man/crypttab.xml
  src/libsystemd/sd-event/test-event.c
  test/units/testsuite-16.sh
Labels: documentation 📖, quick-review 🏃‍♂️, tests

#17802 meson: use '_' as separator in fuzz test names
  meson.build
Labels: meson, quick-review 🏃‍♂️

#17798 network: improve debug logs and add tests for IPv4LL
  src/libsystemd-network/sd-ipv4acd.c
  src/libsystemd-network/sd-ipv4ll.c
  src/libsystemd-network/test-ipv4ll.c
  src/network/networkd-dhcp4.c
  src/shared/log-link.h
  src/systemd/sd-ipv4acd.h
  src/systemd/sd-ipv4ll.h
  test/test-network/conf/dhcp-client-with-ipv4ll-without-dhcp-server.network
  test/test-network/conf/dhcp-client-with-ipv4ll.network
  test/test-network/systemd-networkd-tests.py
Labels: ci-failure-appears-unrelated, network, tests

#17707 network: fix race in reconfiguring link
  src/network/networkd-dhcp-common.c
  src/network/networkd-link.c
  src/network/networkd-manager.c
Labels: bug 🐛, network

#17805 resolved: properly check per-link NTA list
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-link.c
  src/resolve/resolved-link.h
Labels: ci-failure-appears-unrelated, resolve

#17804 write resolv.conf less often
  src/basic/copy.c
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/resolve/resolved-resolv-conf.c
  src/test/test-fs-util.c
Labels: ci-failure-appears-unrelated, resolve

#17808 resolved: log when a bus client changes per-link DNS info
  src/resolve/resolved-link-bus.c
Labels: resolve

#17811 virt: Properly detect nested UML inside another hypervisor
  src/basic/virt.c
Labels: detect-virt, good-to-merge/waiting-for-ci 👍

#17806 resolved: automatically flush caches on clock change
  src/resolve/resolved-bus.c
  src/resolve/resolved-manager.c
  src/resolve/resolved-manager.h
Labels: good-to-merge/waiting-for-ci 👍, resolve

#17810 meson: always allow fuzzers to be built
  meson.build
  src/core/cgroup.c
Labels: good-to-merge/waiting-for-ci 👍, meson

#17825 Adds missing documentation for Assertions
  man/systemd.unit.xml
Labels: documentation 📖, squash-on-merge

#17819 dns-domain: try IDN2003 rules if IDN2008 doesn't work
  src/shared/dns-domain.c
Labels: resolve

#17815 resolved: insert large dgram size into EDNS0 only when in LARGE UDP mode
  src/resolve/resolved-dns-server.c
Labels: resolve

#17807 use SO_BINDTOIFINDEX while connect()
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved.c
Labels: resolve

#17814 resolved: lower SERVFAIL cache timeout from 30s to 10s
  src/resolve/resolved-dns-cache.c
Labels: quick-review 🏃‍♂️, resolve

#17816 resolved: never allow _gateway lookups to go to the network
  src/resolve/resolved-dns-scope.c
Labels: resolve

#17820 resolved: use stat_inode_unmodified() to detect /etc/hosts changes
  src/resolve/resolved-etc-hosts.c
  src/resolve/resolved-manager.c
  src/resolve/resolved-manager.h
Labels: resolve

#17817 resolved: beef up logic for suppressing "localhost" entry in /etc/hosts
  src/resolve/resolved-etc-hosts.c
Labels: resolve

#17822 stub: don't ever respond to datagrams coming in on non-localhost addr…
  src/resolve/resolved-dns-stub.c
Labels: resolve

#17079 Resolve executable paths before execution, use fexecve()
  meson.build
  meson_options.txt
  src/basic/missing_syscall.h
  src/basic/path-util.c
  src/basic/path-util.h
  src/core/execute.c
  src/shared/exec-util.c
  src/shared/exec-util.h
  src/test/test-path-util.c
  test/meson.build
  test/test-execute/exec-systemcallfilter-failing.service
  test/test-execute/exec-systemcallfilter-failing2.service
  test/test-path-util/script.sh
Labels: pid1, run, tests

#17836 Add ConditionSecurity=tpm2
  TODO
  man/systemd.unit.xml
  src/shared/condition.c
Labels: pid1, quick-review 🏃‍♂️

#17835 random-util: open /dev/urandom implicitly in random_write_entropy() i…
  src/basic/random-util.c
  src/core/efi-random.c
  src/core/main.c
  src/shared/pkcs11-util.c
Labels: quick-review 🏃‍♂️, util-lib

#17809 network: two fixes for configuring address correctly
  src/network/networkd-address.c
  src/network/networkd-dhcp4.c
Labels: network

#17818 resolved: improve log message when we use TCP a bit
  src/resolve/resolved-dns-transaction.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, resolve

#17821 fix ipv4/ipv6 NXDOMAIN/NODATA confusion for synthesized local addresses
  src/resolve/resolved-dns-synthesize.c
  src/shared/local-addresses.c
Labels: resolve

#17840 meson: check that cxx variable is set before using it
  src/systemd/meson.build
Labels: ci-failure-appears-unrelated, meson

#17843 add DLSYM_ARG() macro helper
  src/basic/dlfcn-util.h
  src/journal/pcre2-dlopen.c
  src/shared/cryptsetup-util.c
  src/shared/idn-util.c
  src/shared/pwquality-util.c
  src/shared/qrcode-util.c
Labels: good-to-merge/waiting-for-ci 👍, tree-wide, util-lib

#17797 mmap-cache: replace stats accessors with log func
  src/journal/mmap-cache.c
  src/journal/mmap-cache.h
  src/journal/sd-journal.c
Labels: journal

#17834 network: handle IPv6 routes with reject type correctly
  src/network/networkd-dhcp6.c
  src/network/networkd-route.c
  test/test-network/conf/25-route-static.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#17829 test: fix TEST-56-OOMD thresholds for linux 5.9 changes
  test/units/testsuite-56-testbloat.service
  test/units/testsuite-56-workload.slice
  test/units/testsuite-56.sh
Labels: tests

#17854 dns-domain: fix some coding style issues
  src/shared/dns-domain.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, resolve

#17856 cryptsetup: give command line parameters proper names
  src/cryptsetup/cryptsetup.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#17847 socket-util: make several socket_set_xxx() functions inline
  src/basic/socket-util.c
  src/basic/socket-util.h
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#17844 dissect: don't declare unused variables on archs that have no GPT dis…
  src/shared/dissect-image.c
Labels: dissect, good-to-merge/waiting-for-ci 👍

#17787 CI: Add mkosi boot tests
  .github/workflows/mkosi.yml
  .github/workflows/test_mkosi_boot.py
  .mkosi/mkosi.debian
  .mkosi/mkosi.fedora
Labels: ci, good-to-merge/waiting-for-ci 👍, mkosi

#17846 Don't assume /run/systemd exists when creating unit-root
  src/core/namespace.c
Labels: good-to-merge/waiting-for-ci 👍, nspawn, pid1

#17760 Revert "semaphore: temporarily disable the timedated test suite"
  semaphoreci/semaphore-runner.sh
Labels: ci, good-to-merge/waiting-for-ci 👍, tests

#17875 missing: Define several syscall numbers for Alpha arch
  src/basic/missing_syscall.h
Labels: good-to-merge/waiting-for-ci 👍

#17878 network: mtu is neither a boolean nor a pointer
  src/network/netdev/netdev.c
Labels: network, quick-review 🏃‍♂️

#17873 nss-resolve: varlink_call() set error_id only when r >= 0
  src/nss-resolve/nss-resolve.c
Labels: resolve

#17874 Reduce mkosi build script verbosity
  mkosi.build
  tools/meson-make-symlink.sh
  units/meson-add-wants.sh
Labels: mkosi

#17879 Make support for nscd flushing optional
  meson.build
  meson_options.txt
  src/machine/machined-core.c
  src/machine/machined.c
  src/machine/machined.h
  src/shared/meson.build
  src/shared/nscd-flush.h
  src/test/meson.build
Labels: ci-failure-appears-unrelated, hostname, machine, meson, pid1

#17766 Translations update from Weblate
  po/tr.po
  po/zh_CN.po
Labels: l10n 🌍

#17585 systemd-nspawn: Allow setting ambient capability set
  man/systemd-nspawn.xml
  man/systemd.nspawn.xml
  src/nspawn/nspawn-gperf.gperf
  src/nspawn/nspawn-settings.h
  src/nspawn/nspawn.c
Labels: nspawn

#17855 socket-util: some helpers for various sockopts
  src/basic/missing_socket.h
  src/basic/socket-util.c
  src/basic/socket-util.h
Labels: util-lib

#17892 man: synthetize(d) -> synthesize(d)
  man/systemd-resolved.service.xml
Labels: documentation 📖, quick-review 🏃‍♂️

#17880 hwdb: add funcional keys for MSI Modern series (tested on Modern 14)
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, squash-on-merge

#17871 sd-device: keep escaped strings in DEVLINK= property
  src/basic/hashmap.c
  src/basic/set.h
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-device/sd-device.c
  src/libsystemd/sd-device/test-sd-device.c
  src/test/test-set.c
  test/units/testsuite-55.sh
Labels: regression ⚠️, sd-device

#17718 cgroup: Also set blkio.bfq.weight
  src/core/cgroup.c
Labels: ci-failure-appears-unrelated

#17907 mount-util: fix typo
  src/shared/mount-util.h
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#17904 unit: make systemd-networkd.service support reload command
  units/systemd-networkd.service.in
Labels: good-to-merge/waiting-for-ci 👍, network, units

#17895 manager: Fix HW watchdog when systemd starts before driver loaded
  src/core/manager.c
  src/core/manager.h
Labels: ci-failure-appears-unrelated

#17889 Silence cgroups v1 read-only filesystem warning
  src/core/cgroup.c
Labels: ci-failure-appears-unrelated

#17882 logind: fix closing of button input devices
  src/basic/async.h
  src/login/logind-button.c
Labels: ci-failure-appears-unrelated, login

#17911 log: open journal when cli program run in a service unit
  src/basic/log.c
Labels: ci-failure-appears-unrelated, util-lib

#17916 man: document that automount units are privileged
  man/systemd.automount.xml
  man/systemd.swap.xml
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, pid1

#17914 log: add helper set sets log level in all realms
  src/basic/log.h
  src/udev/udevd.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#17917 virt: drop /proc/1/sched hack
  src/basic/virt.c
Labels: detect-virt, good-to-merge/waiting-for-ci 👍

#17912 udev: link_update() should fail if the entry in symlink dir couldn't …
  src/udev/udev-node.c
Labels: bug 🐛, good-to-merge/waiting-for-ci 👍, udev

#17884 tests: add test that dlopen()s our weak shared library deps once
  meson.build
  src/shared/qrcode-util.c
  src/shared/qrcode-util.h
  src/test/meson.build
  src/test/test-dlopen-so.c
  test/test-functions
Labels: good-to-merge/waiting-for-ci 👍, tests

#17869 mkosi: Add gdb to final images
  .mkosi/mkosi.arch
  .mkosi/mkosi.debian
  .mkosi/mkosi.fedora
  .mkosi/mkosi.opensuse
  .mkosi/mkosi.ubuntu
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#17877 missing: sort architectures in missing_syscall.h
  src/basic/missing_syscall.h
Labels: good-to-merge/waiting-for-ci 👍

#17915 udev: Fix sound.target dependency
  rules.d/99-systemd.rules.in
Labels: bug 🐛, good-to-merge/waiting-for-ci 👍, udev

#17913 networkd-test: add final newlines in generated files, use .format()
  test/networkd-test.py
Labels: good-to-merge/waiting-for-ci 👍, tests

#17868 mmap-cache: separate context and window list cache hit accounting
  src/journal/mmap-cache.c
Labels: journal, needs-review, quick-review 🏃‍♂️

#17851 network: revert previous changes to address_compare_func()
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-dhcp6.c
  src/network/networkd-manager.c
  src/network/networkd-ndisc.c
  src/network/test-network.c
Labels: needs-review, network

#17924 three spdx header fixes
  src/shared/initreq.h
  src/shared/net-condition.c
  src/shared/net-condition.h
Labels: tree-wide

#17832 mmap-cache: bind prot(ection) to MMapFileDescriptor
  src/journal/journal-file.c
  src/journal/journal-file.h
  src/journal/journal-verify.c
  src/journal/mmap-cache.c
  src/journal/mmap-cache.h
  src/journal/test-mmap-cache.c
Labels: journal, needs-review

#17483 seccomp: don't install filters for archs that can't use syscalls
  TODO
  src/shared/seccomp-util.c
  src/shared/seccomp-util.h
Labels: needs-review, seccomp

#17927 veritysetup: also place udev socket dep
  src/veritysetup/veritysetup-generator.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, veritysetup

#17923 Drop compat "gateway" name
  meson.build
  meson_options.txt
  src/basic/hostname-util.c
  src/basic/hostname-util.h
  src/resolve/resolved-dns-scope.c
Labels: good-to-merge/waiting-for-ci 👍, resolve

#17903 udev: introduce OPTIONS="log_level=xxx" rule
  man/udev.xml
  src/shared/udev-util.c
  src/shared/udev-util.h
  src/test/test-udev.c
  src/udev/udev-ctrl.c
  src/udev/udev-event.c
  src/udev/udev-event.h
  src/udev/udev-rules.c
  src/udev/udevadm-test.c
  src/udev/udevd.c
Labels: good-to-merge/waiting-for-ci 👍, new-feature, udev

#17848 cryptsetup: Fix crypto device missing issue after booting up
  src/shared/generator.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍

#17935 network: do not reconfigure interface when the link gains carrier but udev not initialized it yet
  src/network/networkd-link-bus.c
  src/network/networkd-link.c
Labels: network

#17921 network: drop assertions to check link state in netlink callback handlers
  src/network/networkd-address.c
  src/network/networkd-mdb.c
  src/network/networkd-neighbor.c
  src/network/networkd-nexthop.c
  src/network/networkd-route.c
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-sriov.c
  src/network/tc/tc.c
Labels: ci-failure-appears-unrelated, network

#17925 udev-builtin-blkid: add VOLUME_ID, LOGICAL_VOLUME_ID, VOLUME_SET_ID and DATA_PREPARER_ID
  src/udev/udev-builtin-blkid.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#17940 pid1: stop making /dev noexec
  src/core/mount-setup.c
Labels: ci-failure-appears-unrelated, pid1

#17948 Update 60-keyboard.hwdb
  hwdb.d/60-keyboard.hwdb
Labels: ci-failure-appears-unrelated

#17952 mmap-cache: drop ret_size from mmap_cache_get()
  src/journal/journal-file.c
  src/journal/journal-verify.c
  src/journal/mmap-cache.c
  src/journal/mmap-cache.h
  src/journal/test-mmap-cache.c
Labels: ci-failure-appears-unrelated, journal

#17945 Add workflow for pull request labeler using github actions.
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: ci, needs-review

#17928 Enable logging in nss modules
  src/basic/static-destruct.h
  src/nss-mymachines/nss-mymachines.c
  src/nss-resolve/nss-resolve.c
  src/nss-systemd/nss-systemd.c
  src/shared/json.c
Labels: ci-failure-appears-unrelated, machine, nss, resolve

#17933 sd-device: make TAGS= property prefixed and suffixed with ":"
  src/basic/hashmap.c
  src/basic/set.h
  src/libsystemd/sd-device/sd-device.c
  src/test/test-set.c
  test/units/testsuite-55.sh
Labels: good-to-merge/waiting-for-ci 👍, sd-device

#17955 tree-wide: fix typo
  NEWS
  TODO
  man/org.freedesktop.resolve1.xml
  src/home/pam_systemd_home.c
  src/shared/calendarspec.c
  src/shared/dissect-image.c
  src/udev/udev-builtin-net_id.c
  src/udev/udevadm-trigger.c
  test/sd-script.py
Labels: ci-failure-appears-unrelated, quick-review 🏃‍♂️, tree-wide

#17957 core/namespace: ignore ENOENT for /proc/sys/kernel/domainname and hostname
  src/core/namespace.c
Labels: ci-failure-appears-unrelated, pid1

#17872 core/namespace: do not remount /proc for user services
  src/core/namespace.c
Labels: good-to-merge/waiting-for-ci 👍, needs-review, pid1

#17971 time-util: fix typo
  src/basic/time-util.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, util-lib

#17978 core: detect_container() may return negative errno
  src/core/bpf-firewall.c
Labels: good-to-merge/waiting-for-ci 👍, pid1, quick-review 🏃‍♂️

#17958 network: introduce log_route_debug()
  src/network/networkd-route.c
Labels: ci-failure-appears-unrelated, network

#17959 network: introduce log_address_debug()
  src/network/networkd-address.c
Labels: ci-failure-appears-unrelated, network

#17960 network: introduce log_routing_policy_rule()
  src/network/networkd-link.h
  src/network/networkd-routing-policy-rule.c
Labels: ci-failure-appears-unrelated, network

#17611 timesync: Make delaying attempts to contact servers configurable
  man/timesyncd.conf.xml
  src/timesync/timesyncd-conf.c
  src/timesync/timesyncd-gperf.gperf
  src/timesync/timesyncd-manager.c
  src/timesync/timesyncd-manager.h
Labels: good-to-merge/waiting-for-ci 👍, timesync

#17936 Add debug logging for varlink
  src/basic/log.c
  src/basic/log.h
  src/shared/varlink.c
Labels: good-to-merge/waiting-for-ci 👍, varlink

#17934 Support gcc 8 on armhf
  src/boot/efi/meson.build
Labels: boot, good-to-merge/waiting-for-ci 👍, meson

#17977 core/namespace: do not ignore non-EPERM mount error
  src/core/namespace.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#17976 resolved: create stub-resolv.conf symlink with correct security label
  src/resolve/resolved-resolv-conf.c
Labels: needs-reporter-feedback ❓, resolve, selinux

#17954 Translations update from Weblate
  po/de.po
Labels: l10n 🌍, needs-review

#17857 sd-bus: Detect special character in dbus interface name
  src/libsystemd/sd-bus/bus-internal.c
Labels: good-to-merge/waiting-for-ci 👍, sd-bus, squash-on-merge

#17926 journalctl: don't skip the duplicate entries for avoiding missing logs
  src/journal/journal-file.c
  src/journal/sd-journal.c
Labels: journal, needs-review

#17908 Fix dhcpv4 renew/rebind intervals to match rfc2131
  src/libsystemd-network/sd-dhcp-client.c
  test/test-network/systemd-networkd-tests.py
Labels: dhcp, good-to-merge/waiting-for-ci 👍, network

#17969 busctl: add a timestamp to the output of the busctl monitor command
  src/busctl/busctl.c
  src/libsystemd/sd-bus/bus-dump.c
Labels: busctl, good-to-merge/waiting-for-ci 👍

#17967 add support for "systemctl --user --machine=foobar@.host" for connecting to user bus of user "foobar"
  man/sd_bus_default.xml
  man/user-system-options.xml
  src/basic/hostname-util.c
  src/basic/hostname-util.h
  src/basic/util.c
  src/busctl/busctl.c
  src/core/hostname-setup.c
  src/firstboot/firstboot.c
  src/hostname/hostnamectl.c
  src/hostname/hostnamed.c
  src/import/export.c
  src/import/import-fs.c
  src/import/import-raw.c
  src/import/import-tar.c
  src/import/import.c
  src/import/importd.c
  src/import/pull-raw.c
  src/import/pull-tar.c
  src/import/pull.c
  src/journal/sd-journal.c
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-bus/bus-container.c
  src/libsystemd/sd-bus/bus-control.c
  src/libsystemd/sd-bus/bus-convenience.c
  src/libsystemd/sd-bus/bus-internal.h
  src/libsystemd/sd-bus/sd-bus.c
  src/libsystemd/sd-login/sd-login.c
  src/machine/machine-dbus.c
  src/machine/machinectl.c
  src/machine/machined-dbus.c
  src/machine/machined.c
  src/network/generator/network-generator.c
  src/network/networkd-network.c
  src/nspawn/nspawn-oci.c
  src/nspawn/nspawn-settings.c
  src/nspawn/nspawn.c
  src/shared/bus-util.c
  src/shared/bus-util.h
  src/shared/logs-show.c
  src/stdio-bridge/stdio-bridge.c
  src/systemctl/systemctl.c
  src/systemd/sd-bus.h
  src/test/test-hostname-util.c
Labels: busctl, documentation, good-to-merge/waiting-for-ci 👍, journal, network, sd-bus, systemctl

#17987 test: use modern qemu numa arguments
  test/TEST-36-NUMAPOLICY/test.sh
  test/test-functions
Labels: good-to-merge/waiting-for-ci 👍, tests

#17633 network: Allow to configure interface's promiscuous
  man/systemd.network.xml
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: ci-failure-appears-unrelated, network, new-feature

#17968 udev: do not link with libudev
  meson.build
  rules.d/99-systemd.rules.in
  src/fuzz/meson.build
  src/libudev/libudev-queue.c
  src/libudev/libudev-util.c
  src/libudev/libudev-util.h
  src/libudev/libudev.h
  src/network/meson.build
  src/shared/meson.build
  src/shared/udev-util.c
  src/shared/udev-util.h
  src/test/meson.build
  src/test/test-libudev.c
  src/test/test-udev-util.c
  src/udev/ata_id/ata_id.c
  src/udev/meson.build
  src/udev/scsi_id/scsi_id.c
  src/udev/udev-builtin-path_id.c
  src/udev/udev-builtin-usb_id.c
  src/udev/udev-ctrl.c
  src/udev/udev-event.c
  src/udev/udev-event.h
  src/udev/udev-node.c
  src/udev/udev-rules.c
  src/udev/udevadm-settle.c
  src/udev/udevadm-test.c
  src/udev/udevd.c
  test/fuzz/fuzz-udev-rules/99-systemd.rules
Labels: good-to-merge/waiting-for-ci 👍, meson, udev

#17975 coredumpctl: Add --debugger-args= option
  man/coredumpctl.xml
  shell-completion/bash/coredumpctl
  src/coredump/coredumpctl.c
Labels: documentation, good-to-merge/waiting-for-ci 👍

#17990 sd-dhcp-client: fix renew/rebind timeout calculation to avoid infinit…
  src/libsystemd-network/sd-dhcp-client.c
Labels: dhcp, good-to-merge/waiting-for-ci 👍, network

#17853 resolved: always take a timestamp when first seeing a packet
  src/resolve/resolved-dns-packet.h
  src/resolve/resolved-dns-stream.c
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-manager.c
Labels: needs-review, quick-review 🏃‍♂️, resolve

#17994 sd-netlink: routing policy rule port to fib_rule_hdr
  src/libsystemd/sd-netlink/rtnl-message.c
  src/network/networkd-routing-policy-rule.c
  src/systemd/sd-netlink.h
Labels: network, sd-netlink

#17859 Export hostname origin and simplify logic in hostamed
  man/hostname.xml
  man/hostnamectl.xml
  man/org.freedesktop.hostname1.xml
  man/systemd-hostnamed.service.xml
  src/basic/hostname-util.c
  src/basic/hostname-util.h
  src/basic/string-table.h
  src/core/hostname-setup.c
  src/core/hostname-setup.h
  src/core/main.c
  src/core/meson.build
  src/fuzz/fuzz-hostname-setup.c
  src/fuzz/meson.build
  src/hostname/hostnamed.c
  src/network/networkd-dhcp4.c
  src/network/test-network.c
  src/nspawn/nspawn.c
  src/shared/dissect-image.c
  src/shared/hostname-setup.c
  src/shared/hostname-setup.h
  src/shared/machine-image.c
  src/shared/meson.build
  src/test/meson.build
  src/test/test-hostname-setup.c
  src/test/test-hostname-util.c
  src/test/test-hostname.c
  units/systemd-hostnamed.service.in
Labels: documentation, good-to-merge/waiting-for-ci 👍, hostname, meson, network, units

#17999 tree-wide: fix typo
  man/sd_bus_default.xml
  man/user-system-options.xml
  src/core/namespace.c
  src/journal/journal-file.c
Labels: quick-review 🏃‍♂️, tree-wide

#17996 Translations update from Weblate
  po/sv.po
Labels: l10n 🌍, needs-review

#17799 logs-show: skip non-utf8 name entries
  src/core/dbus-execute.c
  src/core/load-fragment.c
  src/journal/journal-file.c
  src/journal/journal-file.h
  src/shared/journal-util.c
  src/shared/journal-util.h
  src/shared/logs-show.c
  src/systemctl/systemctl-show.c
  test/fuzz/fuzz-journal-remote/oss-fuzz-25353
Labels: journal, needs-review

#17962 networkd: handle ignoring ll gateway being link ll
  src/network/networkd-ndisc.c
Labels: network

#17997 test-login: skip consistency checks when logind is not active
  src/libsystemd/sd-login/test-login.c
Labels: good-to-merge/waiting-for-ci 👍, tests

#18000 tree-wide: fix typo
  TODO
  man/homectl.xml
  test/units/testsuite-36.sh
Labels: documentation, quick-review 🏃‍♂️

#17837 udev: Extract RAM properties from DMI information
  .gitattributes
  rules.d/70-memory.rules
  rules.d/meson.build
  src/udev/dmi_memory_id/dmi_memory_id.c
  src/udev/meson.build
  test/dmidecode-dumps/Lenovo-ThinkPad-X280-dmidecode-dump.bin
  test/dmidecode-dumps/Lenovo-ThinkPad-X280-dmidecode-dump.bin.txt
  test/dmidecode-dumps/Lenovo-Thinkcentre-m720s-dmidecode-dump.bin
  test/dmidecode-dumps/Lenovo-Thinkcentre-m720s-dmidecode-dump.bin.txt
  test/meson.build
  test/udev-dmi-memory-id-test.sh
Labels: good-to-merge/waiting-for-ci 👍, meson, udev

#17026 add networkd/nspawn nftables backend
  src/basic/linux/netfilter/nf_tables.h
  src/basic/linux/netfilter/nfnetlink.h
  src/libsystemd/meson.build
  src/libsystemd/sd-netlink/netlink-internal.h
  src/libsystemd/sd-netlink/netlink-socket.c
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-types.h
  src/libsystemd/sd-netlink/nfnl-message.c
  src/libsystemd/sd-netlink/sd-netlink.c
  src/network/networkd-address.c
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd.c
  src/nspawn/nspawn-expose-ports.c
  src/nspawn/nspawn-expose-ports.h
  src/nspawn/nspawn.c
  src/shared/firewall-util-iptables.c
  src/shared/firewall-util-nft.c
  src/shared/firewall-util-private.h
  src/shared/firewall-util.c
  src/shared/firewall-util.h
  src/shared/meson.build
  src/systemd/sd-netlink.h
  src/test/meson.build
  src/test/test-firewall-util.c
Labels: meson, needs-review, network, nspawn, sd-netlink

#17998 test: drop the trailing whitespace from the QEMU version check
  test/TEST-36-NUMAPOLICY/test.sh
  test/test-functions
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, tests

#18002 terminal-util: use 256 color mode for PID 1 output, too
  src/basic/terminal-util.c
Labels: good-to-merge/waiting-for-ci 👍, pid1, util-lib

#18001 meson: Disable dmi_memory_id on arches without DMI
  rules.d/meson.build
  src/udev/meson.build
  test/meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson, udev

#17939 tree-wide: suggest meson command lines instead of ninja ones
  README
  docs/CODE_QUALITY.md
  docs/HACKING.md
  docs/RELEASE.md
  docs/TRANSLATORS.md
Labels: documentation, good-to-merge/waiting-for-ci 👍

#18008 test: fix fd_is_mount_point() check
  src/basic/mountpoint-util.c
  src/test/test-mountpoint-util.c
  src/test/test-path-util.c
Labels: good-to-merge/waiting-for-ci 👍, tests, util-lib

#17984 network: Allow to configure unreachable/blackhole RoutingPolicyRule
  man/systemd.network.xml
  src/network/networkd-network-gperf.gperf
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-routing-policy-rule.h
  src/network/test-routing-policy-rule.c
  test/fuzz/fuzz-network-parser/directives.network
Labels: documentation, needs-review, network

#18009 tweaks for time-sync.target and time-set.target
  man/systemd.timer.xml
  src/basic/special.h
  src/core/timer.c
  units/systemd-timesyncd.service.in
Labels: documentation, good-to-merge/waiting-for-ci 👍, pid1, units

#17693 tmpfiles: try to set file attributes one by one
  src/basic/chattr-util.c
  src/basic/chattr-util.h
  src/tmpfiles/tmpfiles.c
Labels: good-to-merge/waiting-for-ci 👍, tmpfiles

#18011 Trivial fixes for recently merged PRs
  man/systemd-cryptenroll.xml
  src/basic/meson.build
  src/cryptenroll/cryptenroll-wipe.c
  src/cryptenroll/cryptenroll.c
  src/cryptsetup/cryptsetup-fido2.c
  src/cryptsetup/cryptsetup.c
  src/libsystemd/sd-netlink/netlink-internal.h
  src/libsystemd/sd-netlink/netlink-socket.c
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/nfnl-message.c
  src/libsystemd/sd-netlink/sd-netlink.c
  src/network/networkd-ndisc.c
  src/nspawn/nspawn-expose-ports.h
  src/shared/firewall-util-nft.c
  src/shared/meson.build
  src/systemd/sd-netlink.h
  src/test/test-mountpoint-util.c
  src/udev/dmi_memory_id/dmi_memory_id.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, tree-wide

#18015 Dmi test mesonification2
  src/udev/meson.build
  test/dmidecode-dumps/HP-Z600.bin
  test/dmidecode-dumps/HP-Z600.bin.txt
  test/dmidecode-dumps/Lenovo-ThinkPad-X280.bin
  test/dmidecode-dumps/Lenovo-ThinkPad-X280.bin.txt
  test/dmidecode-dumps/Lenovo-Thinkcentre-m720s.bin
  test/dmidecode-dumps/Lenovo-Thinkcentre-m720s.bin.txt
  test/meson.build
  test/udev-dmi-memory-id-test.sh
Labels: good-to-merge/waiting-for-ci 👍, meson, tests, udev

#17983 networkd: add RouteDenyList
  man/systemd.network.xml
  src/network/networkd-ndisc.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: documentation, good-to-merge/waiting-for-ci 👍, network

#15531 hostnamed: Add "Model" field
  hwdb.d/20-dmi-id.hwdb
  hwdb.d/meson.build
  rules.d/50-udev-default.rules.in
  src/hostname/hostnamectl.c
  src/hostname/hostnamed.c
Labels: hostname, reviewed/needs-rework 🔨

#18016 memory-id: fix never hit condition
  src/udev/dmi_memory_id/dmi_memory_id.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#18019 hostname: fix build failure
  man/org.freedesktop.hostname1.xml
  src/hostname/hostnamed.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, hostname, quick-review 🏃‍♂️

#18020 tmpfiles: fix typo
  src/tmpfiles/tmpfiles.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, tmpfiles

#17729 man: Advertise systemd-time-wait-sync.service more
  man/systemd.special.xml
Labels: documentation, squash-on-merge, timesync

#18024 mkosi: Use --only-changed meson option when installing
  mkosi.build
Labels: mkosi

#18026 mkosi: Add basic editors to final images
  .mkosi/mkosi.arch
  .mkosi/mkosi.debian
  .mkosi/mkosi.fedora
  .mkosi/mkosi.opensuse
  .mkosi/mkosi.ubuntu
Labels: mkosi

#18029 Minor test script runner and labeller bot fixes
  .github/labeler.yml
  test/run-integration-tests.sh
Labels: quick-review 🏃‍♂️

#18040 cryptenroll: drop an unused variable
  .github/workflows/ubuntu-build-check.sh
  src/cryptenroll/cryptenroll-tpm2.c
  travis-ci/managers/debian.sh
  travis-ci/managers/fedora.sh
Labels: ci, cryptsetup, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#18037 man/systemd.netdev: clarify the wireguard AllowedIPs= setting
  man/systemd.netdev.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#18046 man/localtime: document default timezone
  man/localtime.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#18043 journal-importer: ignore invalid field at one more place
  src/shared/journal-importer.c
  test/fuzz/fuzz-journal-remote/oss-fuzz-28817
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, journal-remote

#18042 udev: fix memleak
  src/udev/udev-node.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#18030 basic: add make_mount_point_inode helper
  src/basic/mountpoint-util.c
  src/basic/mountpoint-util.h
  src/core/namespace.c
  src/machine/machine-dbus.c
  src/test/test-mountpoint-util.c
Labels: ci-failure-appears-unrelated, mount, needs-review, pid1

#18027 udev: Updates for cdrom_id helper
  src/udev/cdrom_id/cdrom_id.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#18064 man/systemd-nspawn: document hashing machine name for uid base
  man/systemd-nspawn.xml
Labels: ci-failure-appears-unrelated, documentation

#18062 cryptsetup: add support for workqueue options
  man/crypttab.xml
  src/cryptsetup/cryptsetup.c
  src/shared/cryptsetup-util.h
Labels: ci-failure-appears-unrelated, cryptsetup
