Repository systemd/systemd, pull requests merged in 2020-08, with the labels that each got.

#16641 man: fix typo in systemd.service
  man/systemd.service.xml
Labels: documentation 📖

#16645 nspawn: Fix incorrect usage of putenv
  src/nspawn/nspawn.c
Labels: nspawn

#16639 kernel-install/90-loaderentry: fix when /boot is not mountpoint
  src/kernel-install/90-loaderentry.install
Labels: kernel-install

#16609 units: some initrd unit fixes
  units/initrd-cleanup.service
  units/initrd-fs.target
  units/initrd-parse-etc.service
  units/initrd-root-device.target
  units/initrd-root-fs.target
  units/initrd-switch-root.service
  units/initrd-switch-root.target
  units/initrd-udevadm-cleanup-db.service
  units/initrd.target
  units/systemd-hibernate-resume@.service.in
Labels: good-to-merge/after-next-release, units

#16569 machine: Pass machine, user, command values to polkit on OpenMachineShell
  src/machine/machine-dbus.c
Labels: ci-failure-appears-unrelated, good-to-merge/after-next-release, machine

#16308 service: add new RootImageOptions feature
  man/systemd.exec.xml
  src/basic/list.h
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/namespace.c
  src/core/namespace.h
  src/dissect/dissect.c
  src/firstboot/firstboot.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/nspawn/nspawn.c
  src/portable/portable.c
  src/shared/bus-unit-util.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/shared/machine-image.c
  src/test/test-dissect-image.c
  src/test/test-list.c
  src/test/test-namespace.c
  src/test/test-ns.c
  test/TEST-50-DISSECT/test.sh
  test/units/testsuite-50.sh
Labels: good-to-merge/after-next-release, new-feature, pid1

#16258 systemd-repart: Add an option to generate a JSON report
  man/systemd-repart.xml
  meson.build
  src/partition/repart.c
  src/partition/test-repart.sh
Labels: good-to-merge/after-next-release, repart

#16649 doc: Put proot under "container" section
  man/systemd-detect-virt.xml
Labels: detect-virt, documentation 📖, quick-review 🏃‍♂️

#16595 dhcp6: parse the FQDN option
  src/libsystemd-network/dhcp6-internal.h
  src/libsystemd-network/dhcp6-lease-internal.h
  src/libsystemd-network/dhcp6-option.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/sd-dhcp6-lease.c
  src/libsystemd-network/test-dhcp6-client.c
  src/systemd/sd-dhcp6-lease.h
Labels: ci-failure-appears-unrelated

#16648 core: reset bus error before reuse
  src/core/transaction.c
Labels: ci-failure-appears-unrelated, pid1

#16659 home: use ID128_UUID_STRING_MAX where appropriate
  src/home/homework-luks.c
  src/home/user-record-util.c
Labels: homed, quick-review 🏃‍♂️

#16145 journalctl: make libqrencode a weak (dlopen() style) dependency
  meson.build
  src/basic/dlfcn-util.c
  src/basic/dlfcn-util.h
  src/basic/meson.build
  src/journal/journal-qrcode.c
  src/journal/journal-qrcode.h
  src/journal/journalctl.c
Labels: journal

#16596 sd-event: add relative timer API
  TODO
  man/sd_event_add_time.xml
  src/core/automount.c
  src/core/manager.c
  src/import/curl-util.c
  src/journal/journal-file.c
  src/journal/journald-server.c
  src/libsystemd-network/test-dhcp-client.c
  src/libsystemd-network/test-dhcp6-client.c
  src/libsystemd-network/test-ndisc-ra.c
  src/libsystemd-network/test-ndisc-rs.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-event/sd-event.c
  src/login/logind-dbus.c
  src/login/logind-session.c
  src/network/networkd-lldp-tx.c
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-stream.c
  src/shared/udev-util.c
  src/socket-proxy/socket-proxyd.c
  src/systemd/sd-event.h
  src/timesync/timesyncd-manager.c
  src/udev/udev-ctrl.c
  src/udev/udevd.c
Labels: new-feature, sd-event, tree-wide

#16650 Two doc updates
  docs/DISCOVERABLE_PARTITIONS.md
  man/journald.conf.xml
Labels: documentation 📖

#16556 Test terminal colors
  src/basic/terminal-util.h
  src/test/test-terminal-util.c
Labels: tests, util-lib

#16674 Update DISCOVERABLE_PARTITIONS.md
  docs/DISCOVERABLE_PARTITIONS.md
Labels: documentation 📖

#16654 selinux: improve comment about getcon_raw semantics
  src/core/selinux-setup.c
Labels: selinux

#16642 analyze: fix 'cat-config systemd/zram-generator.conf'
  src/shared/pretty-print.c
Labels: analyze

#16679 _sd-common.h: avoid parsing errors with Coverity
  src/systemd/_sd-common.h
Labels: good-to-merge/waiting-for-ci 👍

#16321 core: new feature MountImages
  man/systemd.exec.xml
  src/basic/extract-word.c
  src/basic/extract-word.h
  src/basic/strv.c
  src/basic/strv.h
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/namespace.c
  src/core/namespace.h
  src/core/unit.c
  src/shared/bus-unit-util.c
  src/systemctl/systemctl.c
  src/test/test-extract-word.c
  src/test/test-namespace.c
  src/test/test-ns.c
  src/test/test-strv.c
  test/units/testsuite-50.sh
Labels: new-feature, pid1

#16680 man: clarify that LogNamespace= is for system services only
  man/systemd.exec.xml
Labels: documentation 📖, quick-review 🏃‍♂️

#16688 journalctl: in "-o cat" mode show color
  src/shared/logs-show.c
Labels: journal

#16604 add --image= switch to tmpfiles, sysusers, journalctl
  TODO
  man/journalctl.xml
  man/systemd-sysusers.xml
  man/systemd-tmpfiles.xml
  src/firstboot/firstboot.c
  src/journal/journalctl.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/sysusers/sysusers.c
  src/tmpfiles/tmpfiles.c
Labels: journal, new-feature, sysusers, tmpfiles

#16682 userdb: mangle GECOS field if necessary
  src/basic/user-util.c
  src/basic/user-util.h
  src/shared/user-record-nss.c
  src/shared/user-record.c
  src/test/test-user-util.c
Labels: good-to-merge/waiting-for-ci 👍, userdb, util-lib

#16698 hwdb: Add ACCEL_MOUNT_MATRIX quirk for Asus M80TA
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#16684 Assorted cleanups
  docs/AUTOMATIC_BOOT_ASSESSMENT.md
  man/org.freedesktop.systemd1.xml
  src/boot/bless-boot.c
  src/journal/journal-qrcode.c
  src/journal/journalctl.c
  src/test/test-nss.c
  src/test/test-seccomp.c
Labels: documentation 📖, journal, tests

#16697 network: fix suspend issue
  src/network/networkd-address.c
  src/network/networkd-link.c
  src/network/networkd-link.h
Labels: good-to-merge/waiting-for-ci 👍, network

#16707 units: order volatile-root after repart
  units/systemd-volatile-root.service.in
Labels: good-to-merge/waiting-for-ci 👍, repart, units, volatile

#16690 description field for group records
  TODO
  docs/GROUP_RECORD.md
  docs/USER_RECORD.md
  src/core/core-varlink.c
  src/home/user-record-util.c
  src/machine/machined-varlink.c
  src/shared/group-record-show.c
  src/shared/group-record.c
  src/shared/group-record.h
  src/shared/user-record.c
  src/shared/user-record.h
  src/userdb/userdbctl.c
Labels: new-feature, userdb

#16712 man: fix incorrectly placed full stop
  man/systemd.service.xml
Labels: documentation 📖, quick-review 🏃‍♂️

#16678 loop-util: use new LOOP_CONFIGURE ioctl added in kernel 5.8
  TODO
  src/basic/blockdev-util.c
  src/basic/blockdev-util.h
  src/basic/missing_loop.h
  src/shared/dissect-image.c
  src/shared/loop-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#16612 teach systemd-dissect file copying, and make it officially supported, move to /usr/bin + man page
  TODO
  man/rules/meson.build
  man/systemd-dissect.xml
  meson.build
  src/basic/copy.c
  src/basic/copy.h
  src/basic/mkdir.c
  src/dissect/dissect.c
  src/firstboot/firstboot.c
  src/nspawn/nspawn.c
  src/partition/repart.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/shared/json.c
  src/shared/json.h
  test/units/testsuite-50.sh
Labels: dissect, new-feature

#16726 namespace: fix minor memory leak
  src/core/namespace.c
Labels: pid1, quick-review 🏃‍♂️

#16705 Verity: use udev to wait for symlink creation on concurrent activations
  src/cryptsetup/cryptsetup.c
  src/home/homework-luks.c
  src/partition/growfs.c
  src/shared/crypt-util.c
  src/shared/crypt-util.h
  src/shared/dissect-image.c
  src/shared/udev-util.c
  src/shared/udev-util.h
  src/veritysetup/veritysetup.c
Labels: dissect, good-to-merge/waiting-for-ci 👍, udev

#16739 Newer Glibc use faccessat2 to implement faccessat
  src/shared/seccomp-util.c
Labels: good-to-merge/waiting-for-ci 👍, seccomp

#16753 README: fix indentation
  README
Labels: documentation 📖

#16756 test-fs-util: skip encrypted path test if we get EACCES
  src/test/test-fs-util.c
Labels: good-to-merge/waiting-for-ci 👍, tests

#16754 man: move 'files' module in NSS 'hosts:' line before myhostname
  factory/etc/nsswitch.conf
  man/nss-myhostname.xml
  man/nss-mymachines.xml
  man/nss-resolve.xml
  man/nss-systemd.xml
Labels: documentation 📖, nss

#16755 socket-netlink: make address argument const
  src/shared/socket-netlink.c
  src/shared/socket-netlink.h
Labels: quick-review 🏃‍♂️, util-lib

#16750 hwdb: ACCEL_MOUNT_MATRIX quirk for Acer SP111-32*
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#16734 test: accept that char device 0/0 can now be created witout privileges
  src/test/test-fs-util.c
  src/test/test-stat-util.c
Labels: tests

#16761 Missing syscall cleanup
  src/basic/missing_syscall.h
Labels: ci-failure-appears-unrelated

#16691 resolve: lift limits on search domains count or length
  src/resolve/resolved-resolv-conf.c
  test/networkd-test.py
Labels: resolve

#16653 log: don't explicitly re-open log for failed assertions
  src/basic/log.c
Labels: pid1

#16687 Allow bootctl and kernel-install to be called without /etc/machine-id present
  man/kernel-install.xml
  src/boot/bootctl.c
  src/kernel-install/kernel-install
Labels: boot, ci-failure-appears-unrelated

#16770 network: do not fail if UseMTU=yes on DHCP lease lost
  src/network/networkd-dhcp4.c
Labels: good-to-merge/waiting-for-ci 👍, network

#16779 Fix function description in logind man page
  man/org.freedesktop.login1.xml
Labels: documentation 📖

#16766 meson: min version for libfdisk
  README
  meson.build
Labels: documentation 📖, meson

#16640 Improve systemd-analyze security a bit and other assorted bits
  NEWS
  man/journalctl.xml
  man/systemd-run.xml
  src/analyze/analyze-security.c
  src/basic/string-util.h
  src/basic/utf8.c
  src/basic/utf8.h
  src/journal/journalctl.c
  src/shared/cgroup-setup.c
Labels: analyze, documentation 📖, journal

#16762 homed: five fixlets
  src/home/homed-manager.c
  src/home/homework-luks.c
Labels: homed, quick-review 🏃‍♂️

#16771 make libpwquality a dlopen() dependency + use it in systemd-firstboot, too
  TODO
  meson.build
  src/firstboot/firstboot.c
  src/home/homectl.c
  src/home/homed-home.c
  src/home/meson.build
  src/home/pwquality-util.c
  src/home/pwquality-util.h
  src/home/user-record-pwquality.c
  src/home/user-record-pwquality.h
  src/shared/meson.build
  src/shared/pwquality-util.c
  src/shared/pwquality-util.h
Labels: firstboot, homed, reviewed/needs-rework 🔨, util-lib

#16772 homed: default to "btrfs" as fs type in the LUKS backend
  man/homectl.xml
  man/homed.conf.xml
  shell-completion/bash/homectl
  src/home/homectl.c
  src/home/homed.conf
  src/shared/user-record.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#16795 man: Fix typo in systemd-tmpfiles
  man/systemd-tmpfiles.xml
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, tmpfiles

#16793 path-lookup: path_join() all the things!
  src/basic/path-lookup.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#16792 machine-id-setup: don't use KVM or container manager supplied uuid if…
  src/core/machine-id-setup.c
Labels: pid1, quick-review 🏃‍♂️

#16783 basic/virt: treat "pouch" as a container type (id: pouch)
  man/systemd-detect-virt.xml
  man/systemd.unit.xml
  src/basic/virt.c
  src/basic/virt.h
Labels: detect-virt

#16790 core: merge a few if blocks
  src/core/main.c
  src/core/mount-setup.c
Labels: ci-failure-appears-unrelated, pid1

#16786 hwdb: ACCEL_MOUNT_MATRIX for Irbis TW118
  hwdb.d/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, squash-on-merge

#16782 Use less iffedeffery around syscall names and _cleanup_ in one more place
  src/nspawn/nspawn-seccomp.h
  src/shared/seccomp-util.c
Labels: ci-failure-appears-unrelated, seccomp

#16677 make use of new kernel 5.8 statx() mount id/mountpoint APIs
  TODO
  src/basic/missing_stat.h
  src/basic/missing_syscall.h
  src/basic/mountpoint-util.c
Labels: util-lib

#16559 mount-setup: Enable memory_recursiveprot for cgroup2
  man/systemd.resource-control.xml
  src/core/mount-setup.c
Labels: cgroups, needs-rebase, pid1

#16791 user-runtime-dir: deal gracefully with missing logind properties
  src/login/user-runtime-dir.c
Labels: login

#16221 systemctl: add --timestamp to change timestamp print format
  man/systemctl.xml
  shell-completion/bash/systemctl.in
  shell-completion/zsh/_systemctl.in
  src/basic/time-util.c
  src/basic/time-util.h
  src/journal/journalctl.c
  src/shared/format-table.c
  src/shared/logs-show.c
  src/systemctl/systemctl.c
  src/test/test-calendarspec.c
  src/test/test-date.c
  src/test/test-time-util.c
  src/time-wait-sync/time-wait-sync.c
  src/tmpfiles/tmpfiles.c
Labels: good-to-merge/waiting-for-ci 👍, systemctl

#16800 man: fix xml tags
  man/systemd.resource-control.xml
Labels: documentation 📖, priority, quick-review 🏃‍♂️

#16799 coding style: document how to break a function declaration
  docs/CODING_STYLE.md
Labels: documentation 📖

#16798 sd-bus: fix error handling on readv()
  src/libsystemd/sd-bus/bus-socket.c
Labels: ci-failure-appears-unrelated, quick-review 🏃‍♂️, sd-bus

#16543 nspawn: /run/host/ tweaks
  docs/CONTAINER_INTERFACE.md
  src/basic/virt.c
  src/core/main.c
  src/core/mount-setup.c
  src/login/user-runtime-dir.c
  src/machine/machine-dbus.c
  src/nspawn/nspawn.c
  src/shared/dev-setup.c
  src/shared/dev-setup.h
  src/test/test-dev-setup.c
  test/units/testsuite-13.sh
Labels: good-to-merge/waiting-for-ci 👍, nspawn

#16794 mount-util: tweak how we find inaccessible device nodes
  src/shared/mount-util.c
Labels: util-lib

#16803 support missing conditions/asserts everywhere
  man/systemd.unit.xml
  src/analyze/analyze-condition.c
  src/core/dbus-unit.c
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/shared/condition.c
  src/shared/condition.h
  src/test/test-condition.c
  test/fuzz/fuzz-unit-file/systemd-machined.service
Labels: analyze, ci-failure-appears-unrelated, pid1

#16807 seccomp: add support for riscv64
  src/nspawn/nspawn-oci.c
  src/shared/seccomp-util.c
  src/test/test-seccomp.c
Labels: ci-failure-appears-unrelated, seccomp

#16686 core: add mount options support for MountImages
  man/systemd.exec.xml
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/load-fragment.c
  src/core/namespace.c
  src/core/namespace.h
  src/shared/bus-unit-util.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/systemctl/systemctl.c
  test/units/testsuite-50.sh
Labels: ci-failure-appears-unrelated, pid1

#16817 Update bus api docs
  docs/RELEASE.md
  man/org.freedesktop.LogControl1.xml
  man/org.freedesktop.home1.xml
  man/org.freedesktop.login1.xml
  man/org.freedesktop.machine1.xml
  man/org.freedesktop.resolve1.xml
  man/org.freedesktop.systemd1.xml
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍

#16810 network: can: Fix CAN initialization
  src/network/networkd-network.c
Labels: network

#16826 man: fix a fix of a typo in systemd.service example
  man/systemd.service.xml
Labels: documentation 📖

#16827 man: drop reference to long gone .busname unit type
  man/systemd.unit.xml
Labels: documentation 📖, pid1, quick-review 🏃‍♂️

#16681 core: introduce ProtectProc= unit file setting for exposing procfs' hidepid= mount option
  docs/TRANSIENT-SETTINGS.md
  man/systemd.exec.xml
  src/analyze/analyze-security.c
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/namespace.c
  src/core/namespace.h
  src/shared/bus-unit-util.c
  src/test/test-namespace.c
  src/test/test-ns.c
  test/fuzz/fuzz-unit-file/directives.service
  units/systemd-hostnamed.service.in
  units/systemd-journal-gatewayd.service.in
  units/systemd-journal-remote.service.in
  units/systemd-journal-upload.service.in
  units/systemd-localed.service.in
  units/systemd-logind.service.in
  units/systemd-networkd.service.in
  units/systemd-resolved.service.in
  units/systemd-timedated.service.in
  units/systemd-timesyncd.service.in
  units/systemd-userdbd.service.in
Labels: good-to-merge/waiting-for-ci 👍, new-feature, pid1

#16828 core: drop redundant comment
  src/core/load-fragment-gperf.gperf.m4
Labels: good-to-merge/waiting-for-ci 👍, pid1, quick-review 🏃‍♂️

#16824 Add sd_bus_error_has_names() and use it to catch BUS_ERROR_NO_SUCH_UNIT
  man/rules/meson.build
  man/sd_bus_error.xml
  src/home/pam_systemd_home.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-bus/bus-error.c
  src/libsystemd/sd-bus/test-bus-error.c
  src/login/logind-dbus.c
  src/machine/machined-dbus.c
  src/network/networkctl.c
  src/nss-resolve/nss-resolve.c
  src/shared/bus-polkit.c
  src/shared/bus-util.c
  src/shared/bus-util.h
  src/sleep/sleep.c
  src/systemctl/systemctl.c
  src/systemd/sd-bus.h
Labels: ci-failure-appears-unrelated, homed, nss, sd-bus

#16819 Return ENOSYS in nspawn for "unknown" syscalls
  man/systemd.exec.xml
  meson.build
  src/nspawn/nspawn-seccomp.c
  src/shared/generate-syscall-list.py
  src/shared/meson.build
  src/shared/seccomp-util.c
  src/shared/seccomp-util.h
  src/shared/syscall-names.text
  src/test/test-seccomp.c
  tools/syscall-names-update.sh
Labels: ci-failure-appears-unrelated, nspawn, seccomp

#16816 Fix preset operation for non-service templates
  src/shared/install.c
Labels: ci-failure-appears-unrelated, install

#16767 missing_syscall: verify our fallback numbers when possible
  src/basic/missing_syscall.h
Labels: ci-failure-appears-unrelated, util-lib

#16831 zsh: correct journalctl command completion parsing
  shell-completion/zsh/_journalctl
Labels: shell completion

#16777 kernel-install: "Linux" => "Default" and reuse $BOOT/Default if it already exists
  src/kernel-install/kernel-install
Labels: ci-failure-appears-unrelated, kernel-install

#16646 rules: don't install 80-drivers.rules when kmod is disabled
  rules.d/meson.build
Labels: ci-failure-appears-unrelated, meson

#16676 repart: add new settings Format=, CopyFiles=, Encrypt= and teach --size= a new value "auto"
  TODO
  man/repart.d.xml
  man/systemd-repart.xml
  src/basic/mkdir.c
  src/basic/mkdir.h
  src/basic/path-util.c
  src/basic/path-util.h
  src/home/homework-luks.c
  src/partition/makefs.c
  src/partition/repart.c
  src/partition/test-repart.sh
  src/shared/dissect-image.c
  src/shared/loop-util.c
  src/shared/loop-util.h
  src/shared/meson.build
  src/shared/mkfs-util.c
  src/shared/mkfs-util.h
Labels: new-feature, repart, util-lib

#16833 analyze-verify: drop pointless zero initialization
  src/analyze/analyze-verify.c
  src/analyze/analyze.c
Labels: analyze, good-to-merge/waiting-for-ci 👍

#16832 Added sensor configuration for One-netbook OneMix 3 Pro
  hwdb.d/60-sensor.hwdb
Labels: ci-failure-appears-unrelated, hwdb

#16765 homed: add "recovery key" concept plus track "dirty" state of LUKS volumes
  TODO
  docs/USER_RECORD.md
  man/homectl.xml
  meson.build
  src/home/homectl-recovery-key.c
  src/home/homectl-recovery-key.h
  src/home/homectl.c
  src/home/homed-home-bus.c
  src/home/homed-home.c
  src/home/homed-home.h
  src/home/homework-luks.c
  src/home/homework-luks.h
  src/home/homework.c
  src/home/homework.h
  src/home/meson.build
  src/home/modhex.c
  src/home/modhex.h
  src/home/test-modhex.c
  src/home/user-record-util.c
  src/home/user-record-util.h
  src/journal/journal-qrcode.c
  src/libsystemd/sd-bus/bus-common-errors.h
  src/shared/meson.build
  src/shared/qrcode-util.c
  src/shared/qrcode-util.h
  src/shared/user-record-show.c
  src/shared/user-record.c
  src/shared/user-record.h
Labels: good-to-merge/waiting-for-ci 👍, homed, new-feature

#16837 sd-journal: narrow scope of boot id variable
  src/journal/sd-journal.c
Labels: journal

#16838 path: Skip directories when finalising $PATH search
  src/basic/path-util.c
Labels: quick-review 🏃‍♂️, util-lib

#16568 credentials logic to pass privileged data to services
  TODO
  docs/CONTAINER_INTERFACE.md
  man/systemd-nspawn.xml
  man/systemd.exec.xml
  src/basic/path-util.c
  src/basic/path-util.h
  src/basic/rm-rf.c
  src/basic/rm-rf.h
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/manager.c
  src/core/manager.h
  src/core/meson.build
  src/core/mount-setup.c
  src/core/mount.c
  src/core/namespace.c
  src/core/namespace.h
  src/core/service.c
  src/core/socket.c
  src/core/swap.c
  src/core/unit.c
  src/core/unit.h
  src/coredump/coredump.c
  src/journal/journald-server.c
  src/nspawn/meson.build
  src/nspawn/nspawn-creds.c
  src/nspawn/nspawn-creds.h
  src/nspawn/nspawn-settings.h
  src/nspawn/nspawn.c
  src/shared/acl-util.c
  src/shared/acl-util.h
  src/shared/bus-unit-util.c
  src/shared/exit-status.c
  src/shared/exit-status.h
  src/test/meson.build
  src/test/test-acl-util.c
  src/test/test-namespace.c
  src/test/test-ns.c
  src/test/test-rm-rf.c
  test/TEST-54-CREDS/Makefile
  test/TEST-54-CREDS/test.sh
  test/units/testsuite-54.service
  test/units/testsuite-54.sh
Labels: ci-failure-appears-unrelated, new-feature, pid1

#16757 resolved: use varlink for communication between nss-resolve and resolved
  src/basic/in-addr-util.h
  src/nss-resolve/nss-resolve.c
  src/resolve/meson.build
  src/resolve/resolved-bus.c
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-query.h
  src/resolve/resolved-manager.c
  src/resolve/resolved-manager.h
  src/resolve/resolved-varlink.c
  src/resolve/resolved-varlink.h
  src/shared/json.c
  src/shared/json.h
  src/shared/varlink.c
  src/shared/varlink.h
Labels: resolve, util-lib, varlink

#16857 path: Improve $PATH search directory case
  src/basic/path-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#16844 Replace gendered pronouns with gender neutral ones.
  docs/JOURNAL_FILE_FORMAT.md
  src/basic/path-lookup.h
  src/basic/procfs-util.c
  src/core/execute.c
  src/login/loginctl.c
  src/machine/machinectl.c
  src/timedate/timedatectl.c
  src/udev/udev-builtin-net_id.c
Labels: good-to-merge/waiting-for-ci 👍, squash-on-merge, tree-wide

#16851 udev: use path_startswith() instead of startswith() in two more cases
  src/udev/udev-rules.c
  src/udev/udevadm-test.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, udev

#16847 shell-completion/zsh: add missing verbs for networkctl
  shell-completion/zsh/_networkctl
Labels: shell completion

#16862 Add sensor configuration for Acer SW5-017-17BU
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#16860 tty-ask-password-agent: three fixes
  src/shared/ask-password-api.c
  src/tty-ask-password-agent/tty-ask-password-agent.c
Labels: ask-password

#16870 missing: Add new Linux capability
  src/basic/missing_capability.h
Labels: good-to-merge/waiting-for-ci 👍

#16866 networkctl: tiny cleanups
  man/networkctl.xml
  src/network/networkctl.c
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, network

#16864 Two coverity fixes
  src/core/execute.c
  src/journal/compress.c
Labels: good-to-merge/waiting-for-ci 👍, journal, pid1

#16861 Don't run test-repart when loop devices are not available
  src/partition/test-repart.sh
Labels: good-to-merge/waiting-for-ci 👍, tests

#16863 Translations update from Weblate
  po/fr.po
  po/sv.po
Labels: l10n 🌍

#16738 network: dhcp6: logs only new address
  src/network/networkd-dhcp6.c
Labels: good-to-merge/waiting-for-ci 👍, network

#16871 fix size lenovo x240 touchpad
  hwdb.d/60-evdev.hwdb
Labels: hwdb, squash-on-merge

#16872 Improve handling of os-release in tests
  test/TEST-50-DISSECT/test.sh
  test/create-busybox-container
  test/test-functions
  test/units/testsuite-50.sh
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, tests

#16879 Add "developer mode" and test last cap and dbus docs
  man/meson.build
  man/org.freedesktop.systemd1.xml
  meson.build
  meson_options.txt
  src/basic/missing_capability.h
  src/test/test-capability.c
  src/test/test-path.c
  tools/update-dbus-docs.py
Labels: ci-failure-appears-unrelated, documentation 📖, meson, tests

#16855 device: propagate reload events from devices on everything but "add",…
  src/core/device.c
Labels: pid1, udev

#16876 partition/makefs: Include missing sys/file.h header
  src/partition/makefs.c
Labels: ci-failure-appears-unrelated, growfs

#16709 Add simple usage message to systemd-backlight
  man/systemd-backlight@.service.xml
  src/backlight/backlight.c
Labels: backlight, squash-on-merge

#16887 login/logind: Include sys/stat.h for struct stat usage
  src/login/logind.h
Labels: good-to-merge/waiting-for-ci 👍, login

#16856 networkd: consider any uevent other than "remove" sufficient for the …
  src/network/networkd-manager.c
Labels: good-to-merge/waiting-for-ci 👍, network, udev

#16884 drop pointless zero initialization
  src/basic/smack-util.c
  src/boot/bootctl.c
  src/busctl/busctl.c
  src/core/dbus-job.c
  src/core/dbus.c
  src/core/swap.c
  src/coredump/coredump.c
  src/shared/cgroup-setup.c
Labels: good-to-merge/waiting-for-ci 👍

#16875 man: extend on the usec/sec discrepancy
  man/org.freedesktop.systemd1.xml
  man/systemctl.xml
  man/systemd.time.xml
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, pid1

#16892 units: add missing usb-gadget.target
  units/meson.build
Labels: build-system, good-to-merge/waiting-for-ci 👍

#16891 clock-util: read timestamp from /usr/lib/clock-epoch
  src/shared/clock-util.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#16874 introduce "systemd-analyze capability" command for dumping locally defined caps
  man/systemd-analyze.xml
  man/systemd.exec.xml
  src/analyze/analyze.c
  src/basic/cap-list.h
Labels: analyze, good-to-merge/waiting-for-ci 👍, new-feature

#16895 sym: fix bad symbol file addition
  src/libsystemd/libsystemd.sym
Labels: build-system

#16850 networkd: use socket activation when starting networkd
  test/networkd-test.py
  test/test-network/systemd-networkd-tests.py
  units/systemd-networkd.service.in
Labels: network, units

#16901 src/shared/dissect-image.c: fix build without blkdid
  src/shared/dissect-image.c
Labels: dissect

#16900 drop pointless zero initialization
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd/sd-hwdb/hwdb-util.c
  src/libsystemd/sd-resolve/test-resolve.c
  src/login/logind-core.c
  src/login/logind-session.c
  src/machine/machined.c
  src/network/generator/main.c
  src/shared/module-util.c
  src/shared/seccomp-util.c
  src/systemctl/systemctl.c
Labels: squash-on-merge, tree-wide

#16904 homed: fix log message to honor real homework path
  src/home/homed-home.c
Labels: homed

#16898 make sure we have `answer_errno` always properly initialized before we end a transaction with ERRNO cause
  src/resolve/resolved-dns-transaction.c
  src/tmpfiles/tmpfiles.c
Labels: resolve

#16897 man: document fd ownership for sd-bus fd marshalling
  man/sd_bus_message_append.xml
  man/sd_bus_message_read.xml
  man/sd_bus_message_read_basic.xml
Labels: documentation 📖, sd-bus

#16841 Use a bitmask in fd_add_uid_acl_permission()
  man/systemd-nspawn.xml
  src/core/execute.c
  src/coredump/coredump.c
  src/journal/journald-server.c
  src/shared/acl-util.c
  src/shared/acl-util.h
  src/test/test-acl-util.c
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, util-lib

#16914 dissect-image: generate nice error when we can't detect any file system
  src/shared/dissect-image.c
Labels: dissect, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️
