Repository systemd/systemd, pull requests merged in 2020-02, with the labels that each got.

#14720 test: don't install /etc/securetty
  test/test-functions
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, tests

#14727 meson, man: do not install pam_systemd_home(8) when pam or homed is disabled
  man/pam_systemd_home.xml
  man/rules/meson.build
  meson.build
Labels: documentation 📖, meson

#14672 network: support UID based routing policy
  man/systemd.network.xml
  src/basic/user-util.c
  src/basic/user-util.h
  src/network/networkd-manager.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-routing-policy-rule.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-fibrule-uidrange.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#14710 sysusers: support creating users with a specific primary group
  man/sysusers.d.xml
  src/sysusers/sysusers.c
  test/TEST-21-SYSUSERS/test-13.expected-group
  test/TEST-21-SYSUSERS/test-13.expected-passwd
  test/TEST-21-SYSUSERS/test-13.input
  test/TEST-21-SYSUSERS/test-14.expected-group
  test/TEST-21-SYSUSERS/test-14.expected-passwd
  test/TEST-21-SYSUSERS/test-14.initial-group
  test/TEST-21-SYSUSERS/test-14.input
  test/TEST-21-SYSUSERS/test.sh
  test/TEST-21-SYSUSERS/unhappy-3.expected-err
  test/TEST-21-SYSUSERS/unhappy-3.input
Labels: sysusers

#14719 sd-boot: fix warnings
  src/boot/efi/boot.c
  src/boot/efi/stub.c
  src/boot/efi/util.c
Labels: boot, ci-fails/needs-rework 🔥

#14708 meson: fix feature list
  meson.build
Labels: meson, quick-review 🏃‍♂️

#14705 util: uid_t, gid_t, and pid_t must be 32bit
  meson.build
  src/basic/format-util.h
  src/basic/process-util.h
  src/core/dbus-manager.c
  src/test/test-process-util.c
Labels: util-lib

#14699 dhcp6: do not use T1 and T2 longer than one provided by the lease
  src/libsystemd-network/sd-dhcp6-client.c
Labels: dhcp

#14645 sd_bus_message_dump
  man/rules/meson.build
  man/sd-bus.xml
  man/sd_bus_message_dump.xml
  src/busctl/busctl.c
  src/fuzz/fuzz-bus-message.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-bus/bus-dump.c
  src/libsystemd/sd-bus/bus-dump.h
  src/libsystemd/sd-bus/test-bus-chat.c
  src/libsystemd/sd-bus/test-bus-gvariant.c
  src/libsystemd/sd-bus/test-bus-marshal.c
  src/libsystemd/sd-bus/test-bus-objects.c
  src/systemd/sd-bus.h
Labels: sd-bus

#14737 po: update Polish translation 200202
  po/pl.po
Labels: l10n 🌍

#14738 po: update Japanese translation
  po/ja.po
Labels: l10n 🌍

#14736 network: add SuppressPrefixLength option to RoutingPolicyRule
  man/systemd.network.xml
  src/basic/parse-util.c
  src/basic/parse-util.h
  src/network/networkd-manager.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-routing-policy-rule.h
  test/fuzz/fuzz-network-parser/directives.network
  test/fuzz/fuzz-unit-file/directives.service
Labels: good-to-merge/waiting-for-ci 👍, network, squash-on-merge

#14676 udev: add {Receive,Transmit}ChecksumOffload= settings
  man/systemd.link.xml
  src/shared/ethtool-util.c
  src/shared/ethtool-util.h
  src/udev/net/link-config-gperf.gperf
  test/fuzz/fuzz-link-parser/directives.link
Labels: good-to-merge/waiting-for-ci 👍, udev

#14742 po: update French translation
  po/fr.po
Labels: l10n 🌍

#14740 journal: drop unreachable path
  src/journal/journald.c
Labels: journal, quick-review 🏃‍♂️

#14747 core: call dynamic_user_acquire() only when 'group' is non-null
  src/core/dynamic-user.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#14752 l10n: update Czech Translation
  po/cs.po
Labels: good-to-merge/waiting-for-ci 👍, l10n 🌍

#14589 sysctl: add glob patterns to set network settings more flexibly
  man/sysctl.d.xml
  src/shared/sysctl-util.c
  src/shared/sysctl-util.h
  src/sysctl/sysctl.c
  src/test/meson.build
  src/test/test-sysctl-util.c
  sysctl.d/50-default.conf
Labels: documentation 📖, good-to-merge/with-minor-suggestions, sysctl

#14750 presets: "disable" all passive targets by default
  presets/90-systemd.preset
  presets/user/90-systemd.preset
Labels: good-to-merge/waiting-for-ci 👍, units

#14758 Fix generator name in hibernate-resume-generator's drop-in
  src/hibernate-resume/hibernate-resume-generator.c
Labels: ci-failure-appears-unrelated, hibernate-resume

#14761 Refuse .network and .link files with no matches
  src/network/networkd-network.c
  src/network/test-network.c
  src/udev/net/link-config.c
Labels: good-to-merge/waiting-for-ci 👍, network, udev

#14759 Fix build of efi stuff in Fedora rawhide
  meson.build
  meson_options.txt
  src/boot/efi/meson.build
Labels: boot, ci-failure-appears-unrelated

#14771 NEWS: correct indenting for two entries
  NEWS
Labels: documentation 📖

#14717 network: make DNS= in [IPv6PrefixDelegation] section take special value '_link_local'
  man/systemd.network.xml
  src/network/networkd-link.c
  src/network/networkd-radv.c
  test/test-network/conf/ipv6-prefix.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#14767 network: split TrafficControlQueueingDiscipline section into small pieces
  NEWS
  man/systemd.network.xml
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/tc/codel.c
  src/network/tc/codel.h
  src/network/tc/fq-codel.c
  src/network/tc/fq-codel.h
  src/network/tc/fq.c
  src/network/tc/fq.h
  src/network/tc/netem.c
  src/network/tc/netem.h
  src/network/tc/qdisc.c
  src/network/tc/qdisc.h
  src/network/tc/sfq.c
  src/network/tc/sfq.h
  src/network/tc/tbf.c
  src/network/tc/tbf.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-qdisc-fq-codel.network
  test/test-network/conf/25-qdisc-netem-and-fqcodel.network
  test/test-network/conf/25-qdisc-tbf-and-sfq.network
Labels: good-to-merge/waiting-for-ci 👍, network

#14774 network: change "Gateway=dhcp" to "Gateway=_dhcp"
  NEWS
  man/systemd.network.xml
  src/network/networkd-route.c
  test/test-network/conf/dhcp-client-gateway-ipv4.network
  test/test-network/conf/dhcp-client-gateway-ipv6.network
Labels: network

#14778 Improve SELinux logging in permissive mode
  src/basic/selinux-util.c
  src/core/selinux-access.c
Labels: good-to-merge/waiting-for-ci 👍, selinux

#14772 test-network: use udevd in build directory
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, tests

#14768 test: adapt to the new capsh format
  test/test-execute/exec-capabilityboundingset-invert.service
  test/test-execute/exec-privatedevices-no-capability-mknod.service
  test/test-execute/exec-privatedevices-no-capability-sys-rawio.service
  test/test-execute/exec-privatedevices-yes-capability-mknod.service
  test/test-execute/exec-privatedevices-yes-capability-sys-rawio.service
  test/test-execute/exec-protectkernellogs-no-capabilities.service
  test/test-execute/exec-protectkernellogs-yes-capabilities.service
  test/test-execute/exec-protectkernelmodules-no-capabilities.service
  test/test-execute/exec-protectkernelmodules-yes-capabilities.service
Labels: ci-failure-appears-unrelated, tests

#14783 NEWS: mention SuppressPrefixLength=
  NEWS
Labels: documentation 📖

#14536 wait-online: add maximum operational state option
  man/networkctl.xml
  man/systemd-networkd-wait-online.service.xml
  man/systemd.network.xml
  src/libsystemd/sd-network/network-util.c
  src/libsystemd/sd-network/network-util.h
  src/network/networkd-link.c
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/wait-online/link.c
  src/network/wait-online/link.h
  src/network/wait-online/manager.c
  src/network/wait-online/manager.h
  src/network/wait-online/wait-online.c
Labels: network

#14790 github: remove direct paypal link
  .github/FUNDING.yml
Labels: documentation 📖

#14785 polkit: remove unused variable
  src/shared/bus-polkit.c
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, util-lib

#14415 network: Allow to specify multiple IPv6Token for SLAAC
  man/systemd.network.xml
  src/network/networkd-ndisc.c
  src/network/networkd-ndisc.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/test-network/conf/ipv6-prefix-veth-token-eui64.network
  test/test-network/conf/ipv6-prefix-veth-token-prefixstable.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#14795 docs: Correct resource weight range
  docs/USER_RECORD.md
Labels: cgroups, documentation 📖, good-to-merge/waiting-for-ci 👍

#14791 cgroup: systemctl: Don't display NULL if protection was set to max
  src/basic/format-util.h
  src/systemctl/systemctl.c
Labels: cgroups, ci-failure-appears-unrelated, quick-review 🏃‍♂️, systemctl

#14787 units: drop OnFailure= from .target units
  units/initrd-fs.target
  units/initrd-root-device.target
  units/initrd-root-fs.target
  units/initrd.target
  units/local-fs.target
Labels: ci-failure-appears-unrelated, units

#14769 sd-journal: close journal files that were deleted by journald before we've setup inotify watch
  src/journal/journal-file.c
  src/journal/journal-file.h
  src/journal/sd-journal.c
Labels: good-to-merge/waiting-for-ci 👍, journal

#14775 core: do not prepare a SELinux context for dummy files for devicenode…
  src/core/namespace.c
Labels: pid1, selinux

#14156 Consider aliases in /usr when disabling units
  src/core/unit.c
  src/shared/install.c
Labels: install

#14802 sysctl: fix segfault
  src/sysctl/sysctl.c
Labels: good-to-merge/waiting-for-ci 👍, sysctl

#14800 ask-password: give a hint to cancel echo
  src/firstboot/firstboot.c
  src/shared/ask-password-api.c
  src/test/test-ask-password-api.c
Labels: ask-password, good-to-merge/waiting-for-ci 👍

#14803 selinux: update log message to suppress warning by coverity
  src/core/selinux-access.c
Labels: ci-failure-appears-unrelated, quick-review 🏃‍♂️, selinux

#14807 repart: quit earlier if no .conf file exists
  src/partition/repart.c
Labels: repart

#14813 Rename follow-up and gcc warning fix
  src/basic/selinux-util.c
  src/basic/selinux-util.h
  src/core/selinux-access.c
  src/network/networkd-network-gperf.gperf
  src/network/tc/fq.c
  src/network/tc/fq.h
Labels: ci-failure-appears-unrelated, network, pid1

#14809 chromiumos: sync auto suspend rules with chromeos commit e348a229bacc3
  tools/chromiumos/gen_autosuspend_rules.py
Labels: hwdb

#14815 core: sync SeccompParseFlags between dbus-execute and load-fragment
  src/core/dbus-execute.c
Labels: good-to-merge/waiting-for-ci 👍, pid1, quick-review 🏃‍♂️

#14820 l10n: update Ukrainian translation
  po/uk.po
Labels: l10n 🌍

#14818 repart: do not quit earlier when --empty=force
  src/partition/repart.c
Labels: priority, repart

#14817 journal: fix log message
  src/journal/journald-stream.c
Labels: journal, quick-review 🏃‍♂️

#14816 hwdb: Fix touchpad toggle on WeiHeng P325J
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

#14784 network: introduce [QDisc] section to support Parent=ingress or clsact
  man/systemd.network.xml
  src/network/meson.build
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/tc/qdisc.c
  src/network/tc/qdisc.h
  src/network/tc/teql.c
  src/network/tc/teql.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-qdisc-clsact-root-compat.network
  test/test-network/conf/25-qdisc-ingress-netem-compat.network
  test/test-network/conf/25-qdisc-ingress-root.network
  test/test-network/conf/25-qdisc-teql.network
  test/test-network/systemd-networkd-tests.py
Labels: ci-failure-appears-unrelated, network

#14805 network: rename eui64 to static
  man/systemd.network.xml
  src/network/networkd-ndisc.c
  src/network/networkd-ndisc.h
  test/fuzz/fuzz-network-parser/oss-fuzz-20548
  test/test-network/conf/ipv6-prefix-veth-token-static.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#14651 Add --now/--enable to portablectl
  man/portablectl.xml
  shell-completion/bash/portablectl
  src/portable/portablectl.c
Labels: portable

#14826 test: give systemd chance to actually start the unit
  test/test-exec-deserialization.py
Labels: good-to-merge/waiting-for-ci 👍, tests

#14836 network: fix IPv6Token= parser
  src/network/networkd-ndisc.c
  test/test-network/conf/ipv6-prefix-veth-token-static-explicit.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#14841 fix typo in object field
  src/home/homectl.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#14584 network:tc add support for qdisc handle
  man/systemd.network.xml
  src/network/networkd-network-gperf.gperf
  src/network/tc/qdisc.c
  src/network/tc/qdisc.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-qdisc-fq-codel.network
  test/test-network/conf/25-qdisc-netem-and-fqcodel.network
  test/test-network/conf/25-qdisc-tbf-and-sfq.network
  test/test-network/conf/25-qdisc-teql.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#14849 lgtm: set TMPDIR to /var/tmp
  .lgtm.yml
Labels: ci, quick-review 🏃‍♂️

#14833 Support multiple IPv6Token 'static' addreses on an interface
  man/systemd.network.xml
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-ndisc.c
  test/test-network/conf/ipv6-prefix-veth-token-static-multiple.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#14873 makefs: strdup arguments to mkfs
  src/partition/makefs.c
Labels: good-to-merge/waiting-for-ci 👍

#14880 systemd: Fix busctl crash on aarch64 when setting output table format
  src/analyze/analyze-security.c
  src/analyze/analyze.c
  src/busctl/busctl.c
  src/mount/mount-tool.c
  src/network/networkctl.c
  src/partition/repart.c
  src/systemctl/systemctl.c
  src/userdb/userdbctl.c
Labels: busctl, tree-wide

#14892 fixed typo in systemd.netdev Documentation for L2TP
  man/systemd.netdev.xml
Labels: documentation 📖

#14852 docs: fix HACKING.md broken links
  docs/HACKING.md
Labels: documentation 📖

#14896 ci: pass max_total_time to libFuzzer
  travis-ci/managers/fuzzbuzz.sh
Labels: ci

#14883 man: tmpfiles.d: z/Z ignore the argument
  man/tmpfiles.d.xml
Labels: cosmetic, documentation 📖, quick-review 🏃‍♂️

#14910 hwdb.d: actually install the 60-input-id.hwdb
  hwdb.d/meson.build
Labels: hwdb

#14934 Add missing article to manual page systemd.unit(5)
  man/systemd.unit.xml
Labels: documentation 📖

#14941 network: use VRF's route table if VRF= is set
  src/network/networkd-route.c
  test/test-network/conf/25-route-vrf.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#14942 Rename "home" to "home area"
  po/be.po
  po/be@latin.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/da.po
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/gl.po
  po/hr.po
  po/hu.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/lt.po
  po/pl.po
  po/pt_BR.po
  po/ro.po
  po/ru.po
  po/sk.po
  po/sr.po
  po/sv.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
  po/zh_TW.po
  src/home/home-util.c
  src/home/homectl.c
  src/home/homed-home.h
  src/home/homed-manager-bus.c
  src/home/org.freedesktop.home1.policy
  src/login/org.freedesktop.login1.policy
Labels: good-to-merge/waiting-for-ci 👍, homed, l10n 🌍

#14948 userdb: fix memleak
  src/userdb/userdbctl.c
Labels: userdb

#14946 po: update Japanese translation of "home area"
  po/ja.po
Labels: l10n 🌍

#14918 typo: stringy -> string
  man/sd_bus_message_read_basic.xml
Labels: documentation 📖

#14916 units: add mount for tracefs
  units/meson.build
  units/sys-kernel-tracing.mount
Labels: units

#14944 userdb: make userdb_all() always set iterator when it returns >= 0
  src/shared/userdb.c
Labels: userdb

#14950 kernel-install: strip BOOT_IMAGE= from kernel options
  src/kernel-install/90-loaderentry.install
Labels: kernel-install

#14933 ata_id: Add support for host managed zone block devices
  src/udev/ata_id/ata_id.c
Labels: squash-on-merge, udev

#13182 swap: finish the secondary swap units' jobs if deactivation of the pr…
  src/core/swap.c
Labels: downstream/rhel, pid1

#14870 hwdb: Fix rotation for Nuvision Encite Split 11
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#14924 userdb: allow dots in username
  src/shared/json.c
  src/shared/user-record.c
  src/shared/userdb.c
Labels: userdb

#14923 hwdb: fix ACCEL_MOUNT_MATRIX for Thinkpad Yoga 11e 3rd gen
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#14953 userdb: make groupdb_all() always set iterator when it returns >= 0
  src/shared/userdb.c
Labels: good-to-merge/waiting-for-ci 👍, userdb

#14914 udev-builtin-input_id: any i2c mouse is a pointing stick
  src/udev/udev-builtin-input_id.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#14834 network: remove redundant %m in error message
  src/network/networkd-dhcp4.c
Labels: network, quick-review 🏃‍♂️

#14867 pstore: Don't start systemd-pstore.service in containers
  units/systemd-pstore.service.in
Labels: pstore, units

#14955 hwdb: add cube i7
  hwdb.d/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#14960 udevadm: show more error message during exporting database
  src/udev/udevadm-info.c
Labels: udev

#14965 systemctl: be more specific when emitting warning about rotated journal
  src/shared/journal-util.c
  src/shared/journal-util.h
  src/shared/logs-show.c
Labels: systemctl

#14964 conf-parser: fix line number in error message
  src/shared/conf-parser.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#14963 network: assume Scope=host when Address= is loopback address
  src/network/networkd-address.c
  src/network/networkd-address.h
Labels: network

#14900 namespace: fix MAC labels of /dev when PrivateDevices=yes
  src/basic/label.c
  src/basic/label.h
  src/basic/selinux-util.c
  src/basic/selinux-util.h
  src/basic/smack-util.c
  src/basic/smack-util.h
  src/core/namespace.c
Labels: ci-failure-appears-unrelated, pid1, selinux, smack

#14969 network: fix typo in comment
  src/network/networkd-link.c
Labels: network, quick-review 🏃‍♂️

#14968 Assorted updates to documentation
  docs/BOOT_LOADER_INTERFACE.md
  docs/BOOT_LOADER_SPECIFICATION.md
  man/environment.d.xml
  man/rules/meson.build
  man/systemd-bless-boot.service.xml
  man/systemd-boot-check-no-failures.service.xml
  man/user@.service.xml
  man/userdbctl.xml
  meson.build
  src/version/version.h.in
Labels: documentation 📖

#14978 execute: Make '+' exec prefix ignore PrivateTmp=yes
  src/core/execute.c
  src/test/test-execute.c
  test/meson.build
  test/test-execute/exec-basic.service
  test/test-execute/exec-privatetmp-disabled-by-prefix.service
Labels: pid1

#14970 pid1: do not fail if we get EPERM while setting up network name
  src/core/execute.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#14973 Revert "namespace: fix MAC labels of /dev when PrivateDevices=yes"
  src/basic/label.c
  src/basic/label.h
  src/basic/selinux-util.c
  src/basic/selinux-util.h
  src/basic/smack-util.c
  src/basic/smack-util.h
  src/core/namespace.c
Labels: selinux

#14979 Enable pstore by default
  man/rules/meson.build
  man/systemd-pstore.service.xml
  presets/90-systemd.preset
Labels: documentation 📖, good-to-merge/waiting-for-ci 👍, units

#14980 homed: fix typo
  po/cs.po
  po/fr.po
  po/ja.po
  po/pl.po
  po/uk.po
  src/home/org.freedesktop.home1.policy
Labels: homed, l10n 🌍, quick-review 🏃‍♂️

#14856 hwdb: Add Medion Akoya E1239T MD60568 to 60-sensor.hwdb
  hwdb.d/60-sensor.hwdb
Labels: hwdb
