Repository systemd/systemd, pull requests merged in 2021-05, with the labels that each got.

#18904 udev: several inotify watch fixups
  src/libsystemd/sd-device/device-internal.h
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/sd-device.c
  src/test/test-udev.c
  src/udev/udev-event.c
  src/udev/udev-event.h
  src/udev/udev-node.c
  src/udev/udev-watch.c
  src/udev/udev-watch.h
  src/udev/udevadm-test.c
  src/udev/udevd.c
  test/TEST-17-UDEV/test.sh
  test/units/testsuite-17.01.sh
  test/units/testsuite-17.02.sh
  test/units/testsuite-17.03.sh
  test/units/testsuite-17.04.sh
  test/units/testsuite-17.06.sh
  test/units/testsuite-17.sh
Labels: good-to-merge/waiting-for-ci 👍, sd-device, udev

#19476 network: several CAN device related updates
  src/network/networkd-can.c
  src/network/networkd-link.c
  src/network/networkd-link.h
Labels: good-to-merge/waiting-for-ci 👍, network

#19482 test: fix a yet another pipefail + pipe race
  test/test-functions
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, tests

#19487 test: don't mask "supporting" services in TEST-01-BASIC
  test/test-functions
  test/units/testsuite-01.service
Labels: good-to-merge/waiting-for-ci 👍, tests

#19493 Revert "sysusers/firstboot: temporarily disable LoadCredential"
  units/systemd-firstboot.service
  units/systemd-sysusers.service
Labels: good-to-merge/waiting-for-ci 👍, tests, units

#19481 Documenting the need to do journalctl --flush for persistent logging
  man/journald.conf.xml
  man/systemd-journald.service.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, journal, squash-on-merge

#19403 virt: differentiate Amazon EC2 bare-metal from VM instances using SMBIOS data
  man/systemd-detect-virt.xml
  man/systemd.unit.xml
  src/basic/virt.c
  src/basic/virt.h
  src/shared/machine-id-setup.c
  src/test/test-condition.c
Labels: detect-virt, good-to-merge/waiting-for-ci 👍

#19050 core: apply LogLevelMax to messages about units
  man/systemd.exec.xml
  src/core/cgroup.c
  src/core/execute.c
  src/core/job.c
  src/core/service.c
  src/core/unit.c
  src/core/unit.h
  test/testsuite-04.units/silent-success.service
  test/units/testsuite-04.sh
Labels: good-to-merge/waiting-for-ci 👍, pid1

#19207 hostnamectl: introduce get-hostname, get-icon-name, get-chassis, etc.
  man/hostnamectl.xml
  shell-completion/bash/hostnamectl
  shell-completion/zsh/_hostnamectl
  src/hostname/hostnamectl.c
Labels: good-to-merge/waiting-for-ci 👍, hostname

#19495 Adds correct rotation support for Mediacom Winpad 7.0 W700
  hwdb.d/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#19501 tree-wide: fix typo
  docs/CONTAINER_INTERFACE.md
  src/core/bpf/socket_bind/socket-bind-api.bpf.h
Labels: documentation, quick-review 🏃‍♂️

#19499 hostnamectl: fix hyperlink in "Operating System" field
  src/hostname/hostnamectl.c
Labels: good-to-merge/waiting-for-ci 👍, hostname, regression ⚠️

#19503 tests: use "H" as the hostname
  test/test-functions
  test/units/testsuite-48.sh
Labels: good-to-merge/waiting-for-ci 👍, tests

#19454 Assorted cleanups
  src/basic/io-util.h
  src/basic/log.c
  src/boot/efi/meson.build
  src/core/automount.c
  src/core/cgroup.c
  src/core/main.c
  src/resolve/resolved-dns-stream.c
Labels: ci-failure-appears-unrelated, resolve

#19453 Consider instance aliases
  src/basic/unit-file.c
  src/core/manager.c
  src/test/test-unit-file.c
  test/test-functions
  test/units/testsuite-15.sh
Labels: good-to-merge/waiting-for-ci 👍, install, pid1, tests

#19505 hwdb: Add 2 new accel quirks
  hwdb.d/60-sensor.hwdb
Labels: ci-failure-appears-unrelated, hwdb

#19511 udev: make /dev/vfio/vfio 0666
  rules.d/50-udev-default.rules.in
Labels: udev

#19498 selinux: use mallocinfo2() if it exists
  TODO
  meson.build
  src/basic/selinux-util.c
Labels: good-to-merge/waiting-for-ci 👍, selinux

#19517 ci: cover more stuff in the GH Actions build test
  .github/workflows/build_test.sh
Labels: ci, good-to-merge/waiting-for-ci 👍

#19507 bootctl: take --make-machine-id-directory=yes|no|auto and make/remove \$MACHINE_ID accordingly
  man/bootctl.xml
  meson.build
  src/boot/bootctl.c
Labels: good-to-merge/waiting-for-ci 👍

#19513 hwdb: ieee1394-unit-function: add entries to obsolete existent udev rules for video function
  hwdb.d/80-ieee1394-unit-function.hwdb
  hwdb.d/parse_hwdb.py
  rules.d/50-udev-default.rules.in
  src/login/70-uaccess.rules.m4
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#19514 Return UnitNameFlags from unit_name_to_instance()
  src/basic/time-util.c
  src/basic/unit-file.c
  src/basic/unit-name.c
  src/basic/unit-name.h
  src/shared/install.c
  src/test/test-unit-name.c
Labels: good-to-merge/waiting-for-ci 👍

#19515 Fix crashes in config parsing
  src/basic/log.c
  src/core/load-fragment.c
  src/journal/fuzz-journald-kmsg.c
  src/libsystemd/sd-device/sd-device.c
  test/fuzz/fuzz-journald-kmsg/oss-fuzz-33881
  test/fuzz/fuzz-unit-file/oss-fuzz-33270
  test/fuzz/fuzz-unit-file/oss-fuzz-33876
Labels: fuzzing, good-to-merge/waiting-for-ci 👍, journal, pid1, sd-device

#19516 test: drop log_trace() in test-random-util
  src/test/test-random-util.c
Labels: good-to-merge/waiting-for-ci 👍, tests

#19520 docs: Fix typos in PORTABLE_SERVICES.md
  docs/PORTABLE_SERVICES.md
Labels: documentation

#19500 hwdb: sensor: Unify pn81H3 and cvrLenovoideapadD330-10IGM
  hwdb.d/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#19521 test: do not set default ACL but set ACL for test results
  test/test-functions
Labels: good-to-merge/waiting-for-ci 👍, tests

#19508 boot/efi: add ARM (THUMB) and RISCV64 machine types
  src/boot/efi/pe.c
  src/shared/pe-header.h
Labels: boot, ci-failure-appears-unrelated

#19527 various minor userdb fixes
  src/shared/userdb.c
Labels: good-to-merge/waiting-for-ci 👍, userdb

#19524 Fix indent prefix being used as a suffix in systemd-analyze dump for some properties
  src/core/execute.c
Labels: analyze, good-to-merge/waiting-for-ci 👍

#19526 user-util: add generic definition for special password hash values in…
  src/basic/user-util.h
  src/firstboot/firstboot.c
  src/nss-systemd/nss-systemd.c
  src/nss-systemd/userdb-glue.c
  src/sysusers/sysusers.c
Labels: firstboot, good-to-merge/waiting-for-ci 👍, nss, sysusers, userdb

#19523 docs/COREDUMP_PACKAGE_METADATA.md: Add debuginfod key
  docs/COREDUMP_PACKAGE_METADATA.md
Labels: documentation

#19532 nspawn: fix the sections .nspawn settings are placed in
  src/nspawn/nspawn-settings.h
Labels: nspawn, quick-review 🏃‍♂️

#19530 string-util: add strextendf() helper, that allows extending some allo…
  src/basic/string-util.c
  src/basic/string-util.h
  src/nspawn/nspawn.c
  src/test/test-string-util.c
Labels: ci-failure-appears-unrelated, tests, util-lib

#19531 nss-systemd: two minor fixes
  src/nss-systemd/nss-systemd.c
  src/nss-systemd/userdb-glue.c
Labels: good-to-merge/waiting-for-ci 👍, nss

#19536 fileio: optionally, return discovered path of file in search_and_fopen()
  src/basic/fileio.c
  src/basic/fileio.h
  src/binfmt/binfmt.c
  src/home/homed-manager.c
  src/modules-load/modules-load.c
  src/sysctl/sysctl.c
  src/sysusers/sysusers.c
  src/test/test-fileio.c
  src/tmpfiles/tmpfiles.c
Labels: good-to-merge/waiting-for-ci 👍, tests, tree-wide, util-lib

#19535 userdbd: reverse which path is a socket and which a symlink
  src/userdb/userdbd-manager.c
Labels: good-to-merge/waiting-for-ci 👍, userdb

#19534 nss-systemd: make llvm work-around for used _cleanup_ explicit
  src/nss-systemd/nss-systemd.c
Labels: good-to-merge/waiting-for-ci 👍, nss, util-lib

#19134 introduce a new synthetic hostname "_outbound" that maps to "the" local IP address
  man/nss-myhostname.xml
  man/resolvectl.xml
  man/systemd-resolved.service.xml
  src/basic/hostname-util.h
  src/nss-myhostname/nss-myhostname.c
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-synthesize.c
  src/shared/local-addresses.c
  src/shared/local-addresses.h
  src/test/test-local-addresses.c
  src/test/test-nss-hosts.c
Labels: new-feature, nss-myhostname, resolve

#18863 Escape command lines properly
  man/coredumpctl.xml
  src/basic/escape.c
  src/basic/escape.h
  src/basic/fileio.c
  src/basic/fileio.h
  src/basic/process-util.c
  src/basic/process-util.h
  src/basic/string-util.c
  src/basic/string-util.h
  src/basic/utf8.c
  src/basic/utf8.h
  src/core/dbus-unit.c
  src/core/job.c
  src/coredump/coredump.c
  src/environment-d-generator/environment-d-generator.c
  src/journal/journald-context.c
  src/shared/bus-print-properties.c
  src/shared/bus-wait-for-jobs.c
  src/systemctl/systemctl-set-environment.c
  src/test/test-escape.c
  src/test/test-fileio.c
  src/test/test-process-util.c
  src/test/test-utf8.c
Labels: journal, systemctl, util-lib

#19541 test: fix partition check in TEST-58-REPART
  test/units/testsuite-58.sh
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, repart, tests

#19544 string-util: fix build error on aarch64
  src/basic/string-util.h
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#19540 Added Teclast X4 ACCEL_MOUNT_MATRIX
  hwdb.d/60-sensor.hwdb
Labels: hwdb, squash-on-merge

#19538 userdbd: refactoring to simplify NSS user listing
  src/login/logind-core.c
  src/nss-systemd/nss-systemd.c
  src/nss-systemd/userdb-glue.c
  src/shared/userdb.c
  src/shared/userdb.h
  src/userdb/userdbctl.c
  src/userdb/userwork.c
Labels: good-to-merge/waiting-for-ci 👍, userdb

#19438 nspawn: add support for kernel 5.12 ID mapping mounts
  TODO
  man/systemd-nspawn.xml
  man/systemd.nspawn.xml
  shell-completion/bash/systemd-nspawn
  src/basic/namespace-util.h
  src/basic/process-util.c
  src/basic/process-util.h
  src/core/namespace.c
  src/dissect/dissect.c
  src/nspawn/nspawn-gperf.gperf
  src/nspawn/nspawn-settings.c
  src/nspawn/nspawn-settings.h
  src/nspawn/nspawn.c
  src/portable/portable.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/shared/mount-util.c
  src/shared/mount-util.h
  src/sysext/sysext.c
  src/test/test-loop-block.c
Labels: good-to-merge/waiting-for-ci 👍, new-feature, nspawn, portable

#19384 network: RFC3046 implementation
  man/systemd.network.xml
  src/libsystemd-network/dhcp-internal.h
  src/libsystemd-network/dhcp-option.c
  src/libsystemd-network/dhcp-server-internal.h
  src/libsystemd-network/sd-dhcp-server.c
  src/libsystemd-network/test-dhcp-option.c
  src/network/networkd-dhcp-server.c
  src/network/networkd-dhcp-server.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/sd-dhcp-client.h
  src/systemd/sd-dhcp-server.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/agent-client-peer.network
  test/test-network/systemd-networkd-tests.py
Labels: dhcp, good-to-merge/waiting-for-ci 👍, network

#19547 string-util: explicitly cast character to unsigned
  src/basic/string-util.h
Labels: quick-review 🏃‍♂️, util-lib

#19539 networkd: batman-adv parameter corrected (GatewayBandwidth)
  src/network/netdev/netdev-gperf.gperf
  test/fuzz/fuzz-netdev-parser/28-batadv.netdev
  test/fuzz/fuzz-netdev-parser/directives.netdev
  test/test-network/conf/25-batadv.netdev
Labels: good-to-merge/waiting-for-ci 👍, network, squash-on-merge

#19552 Fix typo and coverity issues
  src/basic/process-util.c
  src/libsystemd-network/sd-dhcp-server.c
  src/shared/dissect-image.h
  src/test/test-strbuf.c
  src/userdb/userwork.c
Labels: network, tree-wide

#19298 cryptsetup: add 'headless' parameter to skip password/pin query, allow pin-less enroll on FIDO2, support user presence/verification flags
  man/crypttab.xml
  man/systemd-cryptenroll.xml
  man/systemd-cryptsetup@.service.xml
  src/cryptenroll/cryptenroll-fido2.c
  src/cryptenroll/cryptenroll-fido2.h
  src/cryptenroll/cryptenroll.c
  src/cryptsetup/cryptsetup-fido2.c
  src/cryptsetup/cryptsetup-fido2.h
  src/cryptsetup/cryptsetup-pkcs11.c
  src/cryptsetup/cryptsetup-pkcs11.h
  src/cryptsetup/cryptsetup.c
  src/home/homectl-fido2.c
  src/home/homework-fido2.c
  src/shared/libfido2-util.c
  src/shared/libfido2-util.h
  src/shared/pkcs11-util.c
  src/shared/pkcs11-util.h
Labels: ci-failure-appears-unrelated, cryptsetup, good-to-merge/waiting-for-ci 👍

#19545 nss-systemd: also expose shadow/gshadow entries from userdb records
  factory/etc/nsswitch.conf
  man/nss-myhostname.xml
  man/nss-mymachines.xml
  man/nss-resolve.xml
  man/nss-systemd.xml
  src/basic/nss-util.h
  src/nss-systemd/nss-systemd.c
  src/nss-systemd/nss-systemd.sym
  src/nss-systemd/userdb-glue.c
  src/nss-systemd/userdb-glue.h
Labels: good-to-merge/waiting-for-ci 👍, nss, userdb

#19436 boot: add optional EFI SBAT support
  meson_options.txt
  src/basic/macro.h
  src/boot/efi/meson.build
  src/boot/efi/secure-boot.c
  src/fundamental/macro-fundamental.h
Labels: boot, good-to-merge/waiting-for-ci 👍

#19553 hwdb: Add Asus TP550LA accel matrix
  hwdb.d/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#19415 Include user journal in journal-gateway output
  man/systemd-journal-gatewayd.service.xml
  src/journal-remote/journal-gatewayd.c
  src/journal-remote/journal-upload.c
Labels: journal-remote, needs-review

#19484 resolve: remove RRs from zones before an update
  src/resolve/resolved-manager.c
Labels: resolve

#19556 network: update documentation and examples to use correct interface type and lookup command
  man/systemd.link.xml
  network/80-wifi-adhoc.network
  network/80-wifi-ap.network.example
  network/80-wifi-station.network.example
Labels: documentation, reviewed/needs-rework 🔨

#19542 network, timesync, resolve: check bus is ready before emitting property change or signal
  src/network/networkd-dhcp-server-bus.c
  src/resolve/resolved-bus.c
  src/resolve/resolved-dns-zone.c
  src/resolve/resolved-dnssd.c
  src/resolve/resolved-dnssd.h
  src/shared/local-addresses.c
  src/timesync/timesyncd-manager.c
Labels: ci-failure-appears-unrelated, network, resolve, timesync

#19570 two minor userdb fixes
  src/shared/userdb.c
Labels: good-to-merge/waiting-for-ci 👍, userdb

#19549 hwdb: add accel matrix for One-netbook OneMix 3s
  hwdb.d/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb, squash-on-merge

#19575 hwdb: remove trailing whitespace
  hwdb.d/60-sensor.hwdb
  man/coredump.conf.xml
  man/journald.conf.xml
  man/systemd-journald.service.xml
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#19574 test-user-util: fix line break confusion
  src/test/test-user-util.c
Labels: good-to-merge/waiting-for-ci 👍, tests

#19578 hwdb: sensor: D330-IGM use pvr instead cvr
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#19583 netlink,network: drop "const" from opaque object parameters in suppos…
  src/libsystemd-network/network-internal.h
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-dhcp-lease.c
  src/libsystemd/sd-netlink/generic-netlink.c
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-slot.c
  src/libsystemd/sd-netlink/rtnl-message.c
  src/libsystemd/sd-netlink/sd-netlink.c
  src/systemd/sd-dhcp-client.h
  src/systemd/sd-dhcp-lease.h
  src/systemd/sd-netlink.h
Labels: dhcp, network, sd-netlink

#19581 specifier: refuse too long results
  src/basic/creds-util.h
  src/basic/fd-util.c
  src/basic/fd-util.h
  src/core/load-fragment.c
  src/core/unit-printf.c
  src/core/unit-printf.h
  src/partition/repart.c
  src/resolve/resolved-conf.c
  src/resolve/resolved-dnssd.c
  src/shared/dns-domain.c
  src/shared/gpt.c
  src/shared/gpt.h
  src/shared/install-printf.c
  src/shared/install-printf.h
  src/shared/install.c
  src/shared/specifier.c
  src/shared/specifier.h
  src/sysusers/sysusers.c
  src/test/test-load-fragment.c
  src/test/test-specifier.c
  src/test/test-strv.c
  src/tmpfiles/tmpfiles.c
Labels: needs-review, resolve, tree-wide

#19506 boot/efi: install ELF linux.elf.stub in addition to PE linux.efi.stub
  src/boot/efi/meson.build
  test/test-efi-create-disk.sh
Labels: boot, meson

#18986 varlink ref fix
  src/core/core-varlink.c
  src/shared/varlink.c
Labels: util-lib, varlink

#19533 network: introduce queue to configure address, route, etc
  src/basic/hashmap.h
  src/basic/in-addr-util.h
  src/basic/ordered-set.h
  src/basic/set.h
  src/libsystemd/sd-netlink/netlink-util.c
  src/libsystemd/sd-netlink/netlink-util.h
  src/network/meson.build
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-dhcp6.h
  src/network/networkd-ipv4ll.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-ndisc.c
  src/network/networkd-neighbor.c
  src/network/networkd-neighbor.h
  src/network/networkd-network.h
  src/network/networkd-nexthop.c
  src/network/networkd-nexthop.h
  src/network/networkd-queue.c
  src/network/networkd-queue.h
  src/network/networkd-route.c
  src/network/networkd-route.h
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-routing-policy-rule.h
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#19588 pam: fix typo try_authtok → use_authtok
  factory/etc/pam.d/system-auth
  man/pam_systemd.xml
  man/pam_systemd_home.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, homed

#19585 resolved: be more careful with weird links with low MTUs
  src/resolve/resolved-manager.c
Labels: good-to-merge/waiting-for-ci 👍, resolve

#19582 resolved.conf.in: add missing Quad9 servers
  src/resolve/resolved.conf.in
Labels: resolve

#19567 various follow-ups to socket-bind logic
  man/systemd.resource-control.xml
  src/basic/af-list.c
  src/basic/af-list.h
  src/core/cgroup.c
  src/core/load-fragment.c
  src/journal-remote/journal-remote.c
  src/libsystemd/sd-bus/sd-bus.c
  src/shared/bus-unit-util.c
  src/systemctl/systemctl-show.c
  src/test/test-socket-bind.c
Labels: bpf, ci-failure-appears-unrelated, journal-remote, pid1, systemctl

#19590 Comments and service modernization
  docs/HACKING.md
  src/basic/time-util.c
  src/basic/time-util.h
  src/core/service.c
  src/libsystemd/sd-event/sd-event.c
  src/test/test-bpf-foreign-programs.c
  src/timedate/timedated.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, pid1, sd-event, timedate

#19083 Update Korean translation
  po/ko.po
Labels: l10n 🌍, needs-rebase

#19593 Add Microsoft Pro Intellimouse MOUSE_DPI to hwdb
  hwdb.d/70-mouse.hwdb
Labels: hwdb

#19589 tools/make-directive-index: parallelize
  tools/make-directive-index.py
Labels: build-system, ci-failure-appears-unrelated

#19595 run: update checks to allow running with a user's bus
  src/run/run.c
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, run

#19592 network: introduce Describe() bus method and use it in networkctl
  man/networkctl.xml
  shell-completion/bash/hostnamectl
  shell-completion/bash/networkctl
  shell-completion/zsh/_hostnamectl
  shell-completion/zsh/_networkctl
  src/libsystemd/sd-network/network-util.c
  src/libsystemd/sd-network/network-util.h
  src/network/meson.build
  src/network/networkctl.c
  src/network/networkd-json.c
  src/network/networkd-json.h
  src/network/networkd-link-bus.c
  src/network/networkd-link-bus.h
  src/network/networkd-link.c
  src/network/networkd-manager-bus.c
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/test-network.c
  src/shared/json.h
  src/shared/net-condition.c
  src/shared/net-condition.h
  src/udev/net/link-config.c
Labels: good-to-merge/with-minor-suggestions, network, udev

#19602 network: shorten code a bit and update log message
  src/network/networkd-routing-policy-rule.c
Labels: network, quick-review 🏃‍♂️

#19609 Tweak man page ordering for DHCPv[46] options
  man/systemd.network.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#19616 fix typo
  src/nss-systemd/userdb-glue.c
  src/resolve/resolved-manager.c
Labels: quick-review 🏃‍♂️, resolve, tree-wide

#19614 Revert "tools/make-directive-index: parallelize"
  tools/make-directive-index.py
Labels: build-system, good-to-merge/waiting-for-ci 👍

#19607 resolved: fix braino with reference counting and linked lists
  src/resolve/resolved-dns-query.c
Labels: good-to-merge/waiting-for-ci 👍, priority, resolve

#19612 Make meson output quiet again
  catalog/meson.build
  hwdb.d/meson.build
  man/meson.build
  meson.build
  src/boot/efi/meson.build
  src/locale/meson.build
  src/test/meson.build
  test/fuzz/meson.build
  test/meson.build
  units/meson.build
Labels: good-to-merge/with-minor-suggestions, hwdb, meson, units

#19615 test: combine stdout/stderr from failed test
  test/run-unit-tests.py
Labels: ci-failure-appears-unrelated, tests

#19211 basic: get_timezone not able to resolve path
  src/network/networkd-dhcp-server.c
Labels: dhcp, network

#19621 docs: Update link to journal-def.h
  docs/JOURNAL_FILE_FORMAT.md
Labels: documentation

#19624 ci: build with gcc-11 as well
  .github/workflows/build_test.yml
Labels: ci, quick-review 🏃‍♂️

#19632 mkosi: stop pulling in workaround packages
  .mkosi/mkosi.fedora
Labels: mkosi

#19633 test: Allow running only a subset of integration tests by setting SELECTED_TESTS
  test/run-integration-tests.sh
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, tests

#19636 nspawn: bring back the word `may` in error text
  src/nspawn/nspawn.c
Labels: good-to-merge/waiting-for-ci 👍, nspawn

#19638 fix bash shebangs
  src/basic/generate-af-list.sh
  src/basic/generate-arphrd-list.sh
  src/basic/generate-cap-list.sh
  src/basic/generate-errno-list.sh
  src/libsystemd/sd-journal/generate-audit_type-list.sh
  src/shared/generate-ip-protocol-list.sh
  src/udev/generate-keyboard-keys-list.sh
  tools/meson-apply-m4.sh
Labels: good-to-merge/waiting-for-ci 👍, udev

#19642 man: only the system manager does not pass vars in ManagerEnvironment=
  man/systemd-system.conf.xml
Labels: documentation

#19641 test/run-unit-tests: make script compatible with python3.6
  test/run-unit-tests.py
Labels: ci-failure-appears-unrelated, priority, tests

#19631 network: fix reference counting issues
  src/network/networkd-address.c
  src/network/networkd-link.c
  src/network/networkd-neighbor.c
  src/network/networkd-nexthop.c
  src/network/networkd-route.c
  src/network/networkd-routing-policy-rule.c
Labels: good-to-merge/waiting-for-ci 👍, network

#19611 network: dhcp-server: introduce ServerAddress= setting
  man/systemd.network.xml
  src/network/networkd-address-label.c
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-dhcp-server.c
  src/network/networkd-dhcp-server.h
  src/network/networkd-dhcp6.c
  src/network/networkd-dhcp6.h
  src/network/networkd-ipv4ll.c
  src/network/networkd-ndisc.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/shared/conf-parser.c
  src/shared/conf-parser.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/dhcp-server-timezone-router.network
  test/test-network/conf/dhcp-server.network
Labels: dhcp, good-to-merge/waiting-for-ci 👍, network

#19658 test: reintroduce m4 dependency for TEST-06-SELINUX
  test/TEST-06-SELINUX/test.sh
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, selinux, tests

#19661 Restore liquid compatibility
  docs/HACKING.md
Labels: documentation, good-to-merge/waiting-for-ci 👍

#19659 Mkosi dependency naming adjustment
  .mkosi/mkosi.arch
  .mkosi/mkosi.debian
  .mkosi/mkosi.fedora
  .mkosi/mkosi.opensuse
  .mkosi/mkosi.ubuntu
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#19163 network: introduce an online state that respects RequiredForOnline=
  man/networkctl.xml
  man/systemd.network.xml
  src/libsystemd/sd-network/network-util.c
  src/libsystemd/sd-network/network-util.h
  src/libsystemd/sd-network/sd-network.c
  src/network/networkctl.c
  src/network/networkd-json.c
  src/network/networkd-link-bus.c
  src/network/networkd-link-bus.h
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager-bus.c
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-state-file.c
  src/systemd/sd-network.h
  test/networkd-test.py
Labels: good-to-merge/waiting-for-ci 👍, network

#19608 Pahole optimization for resolved's DnsQuery
  src/resolve/resolved-dns-dnssec.c
  src/resolve/resolved-dns-packet.c
  src/resolve/resolved-dns-packet.h
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-query.h
  src/resolve/resolved-dns-rr.c
  src/resolve/resolved-dns-rr.h
  src/resolve/resolved-dns-scope.h
  src/resolve/resolved-dns-server.c
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-dns-transaction.h
  src/shared/dns-domain.c
Labels: resolve

#19664 systemctl: re-align colon in status output
  src/systemctl/systemctl-show.c
Labels: good-to-merge/waiting-for-ci 👍, systemctl

#19657 test: reduce debugging logs in test-event
  src/libsystemd/sd-event/test-event.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, tests

#19655 test-keymap-util: behave correctly when "es-dvorak" kbd mode map is a…
  src/locale/kbd-model-map
  src/locale/test-keymap-util.c
Labels: good-to-merge/waiting-for-ci 👍, tests

#19656 network: several trivial cleanups
  src/network/networkd-address-label.c
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-ipv4ll.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-ndisc.c
  src/network/networkd-route.c
  src/network/networkd-route.h
Labels: good-to-merge/waiting-for-ci 👍, network

#19603 network: introduce link_get_by_name() and use it in resolving interface name specifier in MultiPathRoute=
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-route.c
Labels: good-to-merge/waiting-for-ci 👍, network

#19662 util: make memdup() or friends safer
  src/basic/alloc-util.c
  src/basic/alloc-util.h
  src/basic/memory-util.h
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#19665 build tests: check that Github pages can be built successfully
  .github/workflows/unit_tests.sh
  meson.build
Labels: good-to-merge/waiting-for-ci 👍, tests

#19591 five terminal handling fixes
  src/basic/terminal-util.c
  src/core/execute.c
  src/test/test-terminal-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#19555 nspawn: add --bind-user= feature for binding host user+homedir into a container
  docs/UIDS-GIDS.md
  man/systemd-nspawn.xml
  man/systemd.nspawn.xml
  src/nspawn/meson.build
  src/nspawn/nspawn-bind-user.c
  src/nspawn/nspawn-bind-user.h
  src/nspawn/nspawn-gperf.gperf
  src/nspawn/nspawn-settings.c
  src/nspawn/nspawn-settings.h
  src/nspawn/nspawn.c
  src/nspawn/nspawn.h
  src/shared/user-record.c
  src/shared/user-record.h
Labels: documentation, good-to-merge/waiting-for-ci 👍, nspawn

#19667 test: enable fuzz regression tests by default
  meson.build
  meson_options.txt
Labels: fuzzing, good-to-merge/waiting-for-ci 👍, meson

#19660 man: document default rlimits
  man/custom-entities.ent.in
  man/systemd-system.conf.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#19673 nspawn: fix build failure
  src/nspawn/nspawn-bind-user.c
Labels: good-to-merge/waiting-for-ci 👍, nspawn, priority

#19669 ci: work around #19442 to make CI happy again
  .github/workflows/mkosi.yml
  .github/workflows/test_mkosi_boot.py
Labels: ci, mkosi

#19605 network: bridge-fdb: add support to specify outgoing interface
  man/systemd.network.xml
  src/network/meson.build
  src/network/networkd-bridge-fdb.c
  src/network/networkd-bridge-fdb.h
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-queue.c
  src/network/networkd-queue.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/vxlan.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#19551 selinux: reload label db on policy load with libselinux 3.2
  src/basic/selinux-util.c
  src/core/selinux-access.c
  src/core/selinux-setup.c
Labels: reviewed/needs-rework 🔨, selinux

#19671 man: prevent race condition when generating systemd.directives.xml
  man/meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#19675 network: fix an infinite loop
  src/network/networkd-link.c
Labels: good-to-merge/waiting-for-ci 👍, network, quick-review 🏃‍♂️

#19647 handle lack of kernel support for some cgroup files
  src/basic/fileio.c
  src/basic/log.h
  src/fundamental/macro-fundamental.h
  src/oom/oomd-util.c
  src/shared/psi-util.c
Labels: cgroups, good-to-merge/waiting-for-ci 👍, oomd

#19672 tree-wide: introduce strextendf_with_separator() and use strextend() or freinds
  src/basic/env-util.c
  src/basic/string-util.c
  src/basic/string-util.h
  src/core/dbus-util.c
  src/escape/escape.c
  src/libsystemd/sd-bus/sd-bus.c
  src/network/networkctl.c
  src/network/networkd-route.c
  src/nspawn/nspawn-mount.c
  src/run/run.c
  src/systemctl/systemctl-show.c
  src/sysv-generator/sysv-generator.c
  src/test/test-string-util.c
Labels: good-to-merge/waiting-for-ci 👍, network, systemctl, tree-wide

#19676 Fix two new coverity issues
  src/libsystemd/sd-journal/journal-vacuum.c
  src/resolve/resolved-dns-dnssec.c
Labels: coverity, good-to-merge/waiting-for-ci 👍, resolve

#19566 sd-device: use strjoina() more again in sd_device_new_from_subsystem_…
  src/libsystemd/sd-device/sd-device.c
  src/test/test-udev-util.c
Labels: good-to-merge/waiting-for-ci 👍, sd-device, udev

#19688 test-env-util: use streq_ptr when comparing directly the result of getenv
  src/test/test-env-util.c
Labels: coverity, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, tests

#19687 units: skip some units in the initrd
  units/systemd-journal-flush.service
  units/systemd-random-seed.service.in
  units/systemd-tmpfiles-clean.timer
Labels: good-to-merge/waiting-for-ci 👍, initrd, units

#19691 tweaks to read_virtual_file()
  src/basic/fileio.c
  src/test/test-fileio.c
Labels: good-to-merge/waiting-for-ci 👍, tests, util-lib

#19594 network: nexthop: add Group= setting to configure multipath route with group nexthop
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-util.c
  src/network/networkd-address.c
  src/network/networkd-neighbor.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-nexthop.c
  src/network/networkd-nexthop.h
  src/network/networkd-route.c
  src/network/networkd-routing-policy-rule.c
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-nexthop-dummy.network
  test/test-network/conf/25-nexthop.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#19694 units: make sure importd has CAP_LINUX_IMMUTABLE flag
  units/systemd-importd.service.in
Labels: good-to-merge/waiting-for-ci 👍, import, quick-review 🏃‍♂️, units

#19693 sleep code refactoring + automatic fallback from hybrid sleep to suspend
  src/login/logind-action.c
  src/login/logind-dbus.c
  src/shared/sleep-config.c
  src/shared/sleep-config.h
  src/sleep/sleep.c
  src/test/test-sleep.c
Labels: good-to-merge/waiting-for-ci 👍, sleep

#19686 os-release modernization and examples
  man/check-os-release.py
  man/check-os-release.sh
  man/os-release.xml
  man/rules/meson.build
Labels: documentation, reviewed/needs-rework 🔨

#19699 hwdb: keyboard: Ignore duplicate atkbd keypresses on touchpad on/off …
  hwdb.d/60-keyboard.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#19697 Hwdb more accel quirks
  hwdb.d/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#19681 ethtool-util: several cleanups
  src/shared/ethtool-util.c
  src/shared/ethtool-util.h
  src/udev/net/link-config.c
Labels: good-to-merge/waiting-for-ci 👍, network, udev

#19704 network: several tiny cleanups
  man/systemd.network.xml
  src/basic/ordered-set.h
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-network.c
Labels: good-to-merge/waiting-for-ci 👍, network

#19701 udev: do not manage loopback interfaces
  src/libsystemd/sd-netlink/netlink-util.c
  src/libsystemd/sd-netlink/netlink-util.h
  src/udev/net/fuzz-link-parser.c
  src/udev/net/link-config-gperf.gperf
  src/udev/net/link-config.c
  src/udev/net/link-config.h
  src/udev/udev-builtin-net_setup_link.c
  test/test-network/systemd-networkd-tests.py
Labels: sd-netlink, udev

#19706 rules.d: Properly quote $env{MODALIAS}
  rules.d/80-drivers.rules
  test/fuzz/fuzz-udev-rules/80-drivers.rules
Labels: good-to-merge/waiting-for-ci 👍, udev

#19713 The "obviously good stuff" from #19006 again
  src/kernel-install/90-loaderentry.install
  src/kernel-install/kernel-install
Labels: kernel-install

#19714 systemctl: avoid crash when pattern expands to empty unit list
  src/systemctl/systemctl-edit.c
Labels: good-to-merge/waiting-for-ci 👍, systemctl

#19715 network: allow to set Group=0 in [Link] section
  man/systemd.network.xml
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
Labels: good-to-merge/waiting-for-ci 👍, network

#19709 Add more logs and make sysusers works in dnf --installroot
  src/basic/copy.c
  src/basic/copy.h
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/sysusers/sysusers.c
Labels: good-to-merge/with-minor-suggestions, sysusers

#19718 test-parse-argument: Include signal.h
  src/test/test-parse-argument.c
Labels: good-to-merge/waiting-for-ci 👍, tests

#19716 sd-netlink: enable NETLINK_GET_STRICT_CHK socket option to filter out message on kernel
  src/libsystemd/sd-netlink/rtnl-message.c
  src/libsystemd/sd-netlink/sd-netlink.c
  src/libsystemd/sd-netlink/test-netlink.c
  src/network/networkd-address.c
  src/network/networkd-route.c
  src/network/networkd-routing-policy-rule.c
  src/shared/local-addresses.c
  src/test/test-local-addresses.c
Labels: good-to-merge/waiting-for-ci 👍, network, resolve, sd-netlink

#19705 core: make libbpf a dlopen() dependency
  meson.build
  src/core/meson.build
  src/core/socket-bind.c
  src/shared/bpf-dlopen.c
  src/shared/bpf-dlopen.h
  src/shared/bpf-link.c
  src/shared/meson.build
  src/test/meson.build
  src/test/test-dlopen-so.c
  test/test-functions
  tools/build-bpf-skel.py
Labels: bpf, good-to-merge/waiting-for-ci 👍, pid1

#19322 core: rework dependency system to be based on atoms + add three new dep types
  man/org.freedesktop.systemd1.xml
  man/systemd.unit.xml
  src/basic/hashmap.h
  src/basic/unit-def.c
  src/basic/unit-def.h
  src/core/bpf-firewall.c
  src/core/cgroup.c
  src/core/dbus-unit.c
  src/core/device.c
  src/core/job.c
  src/core/job.h
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/core/manager.c
  src/core/manager.h
  src/core/meson.build
  src/core/mount.c
  src/core/service.c
  src/core/slice.c
  src/core/socket.c
  src/core/target.c
  src/core/transaction.c
  src/core/unit-dependency-atom.c
  src/core/unit-dependency-atom.h
  src/core/unit-printf.c
  src/core/unit-serialize.c
  src/core/unit.c
  src/core/unit.h
  src/test/test-cgroup-mask.c
  src/test/test-cgroup-unit-default.c
  src/test/test-engine.c
  test/TEST-57-ONSUCCESS-UPHOLD/Makefile
  test/TEST-57-ONSUCCESS-UPHOLD/test.sh
  test/fuzz/fuzz-unit-file/directives.service
  test/units/testsuite-57-binds-to.service
  test/units/testsuite-57-bound-by.service
  test/units/testsuite-57-fail.service
  test/units/testsuite-57-prop-stop-one.service
  test/units/testsuite-57-prop-stop-two.service
  test/units/testsuite-57-short-lived.service
  test/units/testsuite-57-short-lived.sh
  test/units/testsuite-57-success.service
  test/units/testsuite-57-uphold.service
  test/units/testsuite-57.service
  test/units/testsuite-57.sh
Labels: good-to-merge/waiting-for-ci 👍, pid1

#19721 load-fragment: validate paths properly
  src/core/load-fragment.c
Labels: pid1

#19722 document that "loginctl kill-session" takes an empty string + add the same for per-user stuff
  man/loginctl.xml
  src/login/loginctl.c
Labels: documentation, login

#19727 Allow PCRs to be separated by "+" instead of ","
  man/crypttab.xml
  man/systemd-cryptenroll.xml
  src/cryptenroll/cryptenroll.c
  src/partition/repart.c
  src/shared/tpm2-util.c
  src/test/meson.build
  src/test/test-tpm2.c
Labels: good-to-merge/waiting-for-ci 👍, tpm2

#19726 teach .path units to notice events on paths with components that are symlinks
  src/core/path.c
Labels: pid1

#19732 man: explicit say for priority/weight values whether more is more or …
  man/systemd.exec.xml
  man/systemd.resource-control.xml
Labels: documentation, pid1

#19730 man: document udevadm info output prefixes
  man/udevadm.xml
Labels: ci-failure-appears-unrelated, documentation, udev

#19734 hexdecoct: make return parameters of unbase64mem() and unhexmem() opt…
  src/basic/hexdecoct.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#19729 networkctl: check that client netns matches networkd netns
  src/network/networkctl.c
  src/network/networkd-manager-bus.c
  test/test-network/conf/25-activation-policy.network
  test/test-network/conf/25-nexthop-dummy.network
  test/test-network/conf/25-wireguard-23-peers.network
  test/test-network/conf/25-wireguard.network
  test/test-network/conf/agent-client-peer.network
  test/test-network/conf/agent-client.network
  test/test-network/conf/agent-server-peer.network
  test/test-network/conf/agent-server.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network
