Repository systemd/systemd, pull requests merged in 2021-06, with the labels that each got.

#19767 udevadm: output trigger UUID in UUID format, instead of ID128
  src/udev/udevadm-trigger.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#19766 Fuzz fixes
  src/basic/alloc-util.h
  src/journal-remote/fuzz-journal-remote.c
  src/journal-remote/journal-remote-parse.c
  src/shared/journal-importer.c
  src/systemctl/systemctl-kill.c
  src/systemctl/systemctl-start-unit.c
  src/systemctl/systemctl.c
  src/systemctl/systemctl.h
  test/fuzz/fuzz-systemctl-parse-argv/oss-fuzz-31714
Labels: good-to-merge/waiting-for-ci 👍, journal-remote, systemctl

#17096 ask-password: allow to control emoji
  man/systemd-ask-password.xml
  src/ask-password/ask-password.c
  src/shared/ask-password-api.c
  src/shared/ask-password-api.h
Labels: ask-password, good-to-merge/waiting-for-ci 👍

#19769 cryptsetup-util: disable pbkdf benchmark in cryptsetup_set_minimal_pb…
  src/shared/cryptsetup-util.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍

#19768 homed: catch up with FIDO2 features in cryptsetup + other fixes
  docs/USER_RECORD.md
  man/homectl.xml
  meson.build
  src/cryptenroll/cryptenroll.c
  src/cryptsetup/cryptsetup.c
  src/home/homectl-fido2.c
  src/home/homectl-fido2.h
  src/home/homectl.c
  src/home/homed-bus.c
  src/home/homed-home-bus.c
  src/home/homed-home.c
  src/home/homed-manager-bus.c
  src/home/homed-manager.c
  src/home/homed-varlink.c
  src/home/homework-cifs.c
  src/home/homework-directory.c
  src/home/homework-fido2.c
  src/home/homework-fscrypt.c
  src/home/homework-luks.c
  src/home/homework-luks.h
  src/home/homework.c
  src/home/pam_systemd_home.c
  src/home/user-record-sign.c
  src/home/user-record-util.c
  src/home/user-record-util.h
  src/libsystemd/sd-bus/bus-common-errors.c
  src/libsystemd/sd-bus/bus-common-errors.h
  src/login/pam_systemd.c
  src/nspawn/nspawn-bind-user.c
  src/shared/cryptsetup-util.c
  src/shared/cryptsetup-util.h
  src/shared/dissect-image.c
  src/shared/user-record.c
  src/shared/user-record.h
  src/shared/userdb-dropin.c
  src/userdb/userwork.c
  src/veritysetup/veritysetup.c
Labels: documentation, fido2, good-to-merge/waiting-for-ci 👍, homed, userdb

#19772 cryptsetup: add missing error branch
  src/cryptsetup/cryptsetup.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍

#19775 logind-dbus: correctly calculate when to create /etc/nologin file in …
  src/login/logind-dbus.c
Labels: good-to-merge/waiting-for-ci 👍, login

#19774 cryptsetup: two minor tpm2 tweaks
  src/cryptsetup/cryptsetup.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍, tpm2

#19773 Use pam_unix no_pass_expiry
  src/login/systemd-user.in
Labels: downstream/rhel, good-to-merge/waiting-for-ci 👍

#19777 dissect: if dissecting without udev, don't look for usec timestamp on…
  src/shared/dissect-image.c
Labels: dissect, good-to-merge/waiting-for-ci 👍, gpt-auto

#19785 cryptsetup: fix typo
  src/shared/cryptsetup-util.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#19779 improve logging when encountering mount points we cannot convert to unit names due to length
  src/basic/unit-name.c
  src/core/mount.c
  src/core/swap.c
  src/core/unit.c
  src/test/test-unit-name.c
Labels: ci-failure-appears-unrelated, pid1

#19783 efi: constify several functions and enable more warnings
  meson.build
  src/boot/efi/boot.c
  src/boot/efi/meson.build
  src/boot/efi/random-seed.c
  src/boot/efi/sha256.c
  src/boot/efi/sha256.h
  src/boot/efi/util.c
  src/boot/efi/util.h
  src/fundamental/string-util-fundamental.c
Labels: boot, good-to-merge/waiting-for-ci 👍

#19795 Translations update from Weblate
  po/da.po
Labels: l10n 🌍

#19791 udev: update several log messages
  src/udev/udev-builtin-blkid.c
  src/udev/udev-node.c
  src/udev/udev-watch.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, udev

#19792 More logging tweaks
  TODO
  src/basic/path-util.c
  src/core/dbus-manager.c
  src/core/execute.c
  src/core/fuzz-unit-file.c
  src/core/main.c
  src/core/manager-dump.c
  src/core/manager-dump.h
  src/core/manager.c
  src/core/manager.h
  src/core/meson.build
  src/shared/varlink.c
  src/test/test-engine.c
Labels: good-to-merge/waiting-for-ci 👍, pid1, varlink

#19784 sd-device: do not use ::subsystem member directly
  src/libsystemd/sd-device/device-private.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, sd-device

#19802 efi: drop glibc header and use pre-defined macros
  src/boot/efi/sha256.c
  src/boot/efi/sha256.h
Labels: boot, quick-review 🏃‍♂️

#19800 make our testsuite pass in a podman container with default privs
  src/test/test-capability.c
  src/test/test-exec-util.c
  src/test/test-execute.c
  src/test/test-mount-util.c
  src/test/test-seccomp.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, tests

#19806 systemd-ask-password: make pw echo fully configurable
  man/systemd-ask-password.xml
  src/ask-password/ask-password.c
Labels: ask-password, good-to-merge/waiting-for-ci 👍

#19801 pid1: reduce amount of warnings about sysfs device paths we cannot convert into device unit names
  src/core/device.c
  src/core/swap.c
  src/systemd/sd-messages.h
Labels: good-to-merge/waiting-for-ci 👍, pid1

#19808 docs: add ARCHITECTURE.md with code map
  README.md
  docs/ARCHITECTURE.md
  docs/CODING_STYLE.md
Labels: documentation

#19813 fix typo
  NEWS
  src/core/unit.c
Labels: documentation, quick-review 🏃‍♂️

#19794 tools/analyze-dump-sort: a helper to compare two 'systemd-analyze dump's
  tools/analyze-dump-sort.py
Labels: good-to-merge/with-minor-suggestions

#19816 test: don't expect that clone() always makes it to the kernel
  src/test/test-util.c
Labels: good-to-merge/waiting-for-ci 👍, tests

#19814 hwdb: Add ProBook to use micmute hotkey
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

#19796 udev: several cleanups about creating device symlink
  src/basic/btrfs-util.c
  src/basic/device-nodes.h
  src/basic/hexdecoct.c
  src/basic/hexdecoct.h
  src/basic/meson.build
  src/nspawn/nspawn-network.c
  src/shared/device-nodes.c
  src/shared/device-nodes.h
  src/shared/meson.build
  src/test/test-device-nodes.c
  src/udev/meson.build
  src/udev/test-udev-node.c
  src/udev/udev-node.c
  src/udev/udev-node.h
Labels: good-to-merge/waiting-for-ci 👍, udev

#19818 shell-completion: udevadm: support --uuid option
  shell-completion/bash/udevadm
  shell-completion/zsh/_udevadm
Labels: good-to-merge/waiting-for-ci 👍, shell completion, udev

#19823 conf-parser: make config_parse_tristate() accept an empty string
  src/shared/conf-parser.c
Labels: util-lib

#19793 tmpfiles: better handling of autofs and globs
  TODO
  src/basic/glob-util.c
  src/basic/glob-util.h
  src/test/test-glob-util.c
  src/tmpfiles/tmpfiles.c
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, tmpfiles

#19805 Rename crypttab opt silent to password-echo
  man/crypttab.xml
  src/cryptsetup/cryptsetup-fido2.c
  src/cryptsetup/cryptsetup-fido2.h
  src/cryptsetup/cryptsetup.c
Labels: cryptsetup, good-to-merge/with-minor-suggestions

#16894 pid1: only add a Wants= type dependency on /tmp when PrivateTmp=yes
  src/core/unit.c
Labels: bug 🐛, pid1, reviewed/needs-rework 🔨

#19820 udev: fix conflict of hashed string
  src/udev/test-udev-node.c
  src/udev/udev-node.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#19815 sd-device: make cloned sd_device object can read udev database without uevent file
  src/libsystemd/sd-device/device-internal.h
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-device/sd-device.c
Labels: good-to-merge/waiting-for-ci 👍, sd-device

#19837 Disable more units
  src/shared/condition.c
  units/proc-sys-fs-binfmt_misc.automount
Labels: good-to-merge/waiting-for-ci 👍, units

#19840 udevadm: fix --tag-match help + description
  man/udevadm.xml
  src/udev/udevadm-trigger.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, udev

#19835 Silence errors about BPF object permissions in user manager
  src/core/socket-bind.c
Labels: bpf, good-to-merge/waiting-for-ci 👍, user-session

#19821 install: allow adding plain templates to .wants/ or .requires/
  src/shared/install.c
Labels: good-to-merge/waiting-for-ci 👍, install

#19839 network: fix address flag handling
  src/network/networkd-address.c
Labels: good-to-merge/waiting-for-ci 👍, network

#19639 network: bunch of fixes and new features
  man/systemd.network.xml
  src/basic/in-addr-util.c
  src/basic/in-addr-util.h
  src/libsystemd-network/sd-dhcp-server.c
  src/libsystemd-network/test-dhcp-server.c
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/meson.build
  src/network/netdev/bond.c
  src/network/netdev/bond.h
  src/network/netdev/bridge.c
  src/network/netdev/bridge.h
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/networkd-address-label.c
  src/network/networkd-address-label.h
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-bridge-mdb.c
  src/network/networkd-bridge-mdb.h
  src/network/networkd-bridge-vlan.c
  src/network/networkd-bridge-vlan.h
  src/network/networkd-can.c
  src/network/networkd-dhcp-server.c
  src/network/networkd-dhcp-server.h
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-ipv6-proxy-ndp.c
  src/network/networkd-ipv6-proxy-ndp.h
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-ndisc.c
  src/network/networkd-neighbor.c
  src/network/networkd-neighbor.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-nexthop.c
  src/network/networkd-nexthop.h
  src/network/networkd-queue.c
  src/network/networkd-queue.h
  src/network/networkd-radv.c
  src/network/networkd-route.c
  src/network/networkd-route.h
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-routing-policy-rule.h
  src/network/networkd-setlink.c
  src/network/networkd-setlink.h
  src/network/networkd-sysctl.c
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/dhcp-server-timezone-router.network
  test/test-network/conf/dhcp-server-uplink.network
  test/test-network/conf/dhcp-server.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#19846 Update docs on systemd-system.conf logging (LogTime=)
  man/common-variables.xml
  man/systemd.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#19844 meson: do not share compiler flags except for emitting warnings
  meson.build
  src/boot/efi/meson.build
Labels: boot, good-to-merge/waiting-for-ci 👍, meson

#19836 man: explain ConditionNeedsUpdate a bit more
  man/systemd.unit.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#19847 Translations update from Weblate
  po/es.po
Labels: l10n 🌍

#19771 man: add details on disabling a top-level drop in for specific units.
  man/systemd.unit.xml
Labels: documentation, good-to-merge/with-minor-suggestions

#19223 tmpfiles: add '=' action modifier
  man/tmpfiles.d.xml
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/basic/rm-rf.c
  src/basic/rm-rf.h
  src/tmpfiles/tmpfiles.c
  test/test-systemd-tmpfiles.py
Labels: new-feature, tmpfiles

#19817 Drop serialization of mounts and automounts over root switch
  src/core/automount.c
  src/core/manager.c
  src/core/mount.c
  src/core/unit-serialize.c
  src/core/unit.h
Labels: good-to-merge/waiting-for-ci 👍, pid1

#19845 core/socket: do not assign another fd to SocketPort which already has a fd on deserialization
  src/core/socket.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#19848 udev: make WakeOnLan= take multiple features
  man/systemd.link.xml
  src/network/test-network-tables.c
  src/shared/ethtool-util.c
  src/shared/ethtool-util.h
  src/udev/net/link-config.c
  src/udev/net/link-config.h
Labels: good-to-merge/waiting-for-ci 👍, network, udev

#19166 coredump: compress on the fly
  man/coredump.conf.xml
  man/org.freedesktop.systemd1.xml
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-unit.c
  src/coredump/coredump.c
  src/libsystemd/sd-journal/compress.c
  src/libsystemd/sd-journal/compress.h
  src/libsystemd/sd-journal/test-compress.c
  src/shared/bus-print-properties.c
  src/systemctl/systemctl-show.c
Labels: coredump, good-to-merge/waiting-for-ci 👍, systemctl

#19440 tmpfiles: extend "Age" to accept an "age-by" argument
  man/tmpfiles.d.xml
  src/tmpfiles/tmpfiles.c
  test/units/testsuite-22.12.sh
Labels: good-to-merge/waiting-for-ci 👍, tmpfiles

#17615 journal-file: truncate archived journals
  src/libsystemd/sd-journal/journal-file.c
Labels: journal

#19850 resolved: fix strange function recursion
  src/resolve/resolved-dns-server.c
Labels: good-to-merge/waiting-for-ci 👍, resolve

#19849 test-libcrypt-util: print out default for password settings,
  src/test/meson.build
  src/test/test-libcrypt-util.c
Labels: good-to-merge/waiting-for-ci 👍, tests

#19831 network: several interface up/down and setting MTU related updates
  src/network/networkd-bridge-mdb.c
  src/network/networkd-can.c
  src/network/networkd-can.h
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp-server.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-nexthop.c
  src/network/networkd-queue.c
  src/network/networkd-queue.h
  src/network/networkd-route.c
  src/network/networkd-setlink.c
  src/network/networkd-setlink.h
  src/network/networkd-sysctl.c
Labels: good-to-merge/waiting-for-ci 👍, network

#19853 journald: when journald namespace instances log, they can do so safel…
  src/journal/journald.c
  units/systemd-journald@.service.in
Labels: good-to-merge/waiting-for-ci 👍, journal, units

#19852 network: introduce IPv6StableSecretAddress= to configure secret key for generating IPv6LL address
  man/systemd.network.xml
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-setlink.c
  src/network/networkd-sysctl.c
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-link-local-addressing-yes.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#19851 close bpf firewall reload gap
  src/core/bpf-firewall.c
  src/core/bpf-firewall.h
  src/core/bpf-socket-bind.c
  src/core/bpf-socket-bind.h
  src/core/cgroup.c
  src/core/load-fragment.c
  src/core/meson.build
  src/core/socket-bind.h
  src/core/unit-serialize.c
  src/core/unit.c
  src/core/unit.h
  src/shared/bpf-dlopen.c
  src/shared/bpf-link.c
  src/shared/bpf-link.h
  src/shared/bpf-program.c
  src/shared/bpf-program.h
  src/test/test-socket-bind.c
Labels: bpf, good-to-merge/waiting-for-ci 👍, pid1

#19860 docs/CGROUP_DELEGATION: fix some typos
  docs/CGROUP_DELEGATION.md
Labels: documentation

#19862 seccomp: add some recently added syscalls to filter groups
  src/shared/seccomp-util.c
Labels: good-to-merge/waiting-for-ci 👍, seccomp

#19854 fix journalctl -F
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-journal/sd-journal.c
Labels: good-to-merge/waiting-for-ci 👍, journal

#19868 man: fix missing markdown & minor errors
  man/systemd.unit.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#19871 man: add missing settings
  man/systemd.network.xml
  src/network/networkd-network-gperf.gperf
Labels: documentation, good-to-merge/waiting-for-ci 👍, network

#19873 Clarify help information for --global
  shell-completion/zsh/_systemctl.in
  src/systemctl/systemctl.c
Labels: systemctl

#19876 man: add note about operation without swap in systemd-oomd
  man/systemd-oomd.service.xml
Labels: documentation

#19867 ether-addr-util: introduce hw_addr_equal() and friends
  src/basic/ether-addr-util.c
  src/basic/ether-addr-util.h
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-util.h
  src/network/generator/network-generator.c
  src/network/networkctl.c
  src/network/networkd-address.c
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-ipv4ll.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-lldp-rx.c
  src/network/networkd-lldp-tx.c
  src/network/networkd-ndisc.c
  src/network/networkd-network-bus.c
  src/network/networkd-radv.c
  src/network/networkd-wifi.c
Labels: good-to-merge/waiting-for-ci 👍, network, util-lib

#19863 Drop some -Wmaybe-unitialized workarounds to help coverity
  src/cryptsetup/cryptsetup.c
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-setlink.c
  src/test/test-capability.c
Labels: coverity, good-to-merge/waiting-for-ci 👍, network

#19857 tmpfiles: fix an issue found by Coverity
  src/tmpfiles/tmpfiles.c
Labels: coverity, good-to-merge/waiting-for-ci 👍, tmpfiles

#19884 docs/CODING_STYLE: fix some typos
  docs/CODING_STYLE.md
Labels: documentation

#19878 add back support for large key files to systemd-cryptsetup
  src/basic/fileio.c
  src/cryptsetup/cryptsetup-keyfile.c
  src/cryptsetup/cryptsetup.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍, util-lib

#19870 Tweak the install logic again
  src/core/dbus-manager.c
  src/shared/install.c
  src/shared/install.h
Labels: ci-failure-appears-unrelated, systemctl

#18851 dissect: try to find partition more frequently
  src/shared/dissect-image.c
Labels: ci-failure-appears-unrelated, dissect

#19877 kbd-model-map: add Latvian keyboard layout mapping
  src/locale/kbd-model-map
Labels: good-to-merge/waiting-for-ci 👍

#19864 Serialization cleanup
  src/core/execute.c
  src/core/unit-serialize.c
  src/core/unit.c
  src/core/unit.h
Labels: good-to-merge/waiting-for-ci 👍, pid1

#19811 sd-event: fix failure to exit rate limiting state
  src/libsystemd/sd-event/sd-event.c
  test/TEST-60-MOUNT-RATELIMIT/Makefile
  test/TEST-60-MOUNT-RATELIMIT/test.sh
  test/units/testsuite-60.service
  test/units/testsuite-60.sh
Labels: good-to-merge/waiting-for-ci 👍, pid1

#19893 man: clarify that global search domains apply to global servers, not all interfaces
  man/systemd-resolved.service.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, resolve

#19886 core: Avoid spurious realization of unit cgroups
  src/core/unit-serialize.c
Labels: good-to-merge/waiting-for-ci 👍, pid1

#19882 Add a test for path_is_read_only_fs()
  src/test/test-stat-util.c
Labels: ci-failure-appears-unrelated, tests

#19897 docs: update coding style a bit
  docs/CODING_STYLE.md
Labels: documentation

#19892 test/TEST-17-UDEV: use default image
  test/TEST-17-UDEV/test.sh
  test/test-functions
Labels: ci-failure-appears-unrelated, tests

#19912 doc: Add RISC-V to FAQ
  docs/DISCOVERABLE_PARTITIONS.md
Labels: documentation

#19827 Add a network timeout option to journal-upload
  man/journal-upload.conf.xml
  src/journal-remote/journal-upload.c
Labels: journal-remote, reviewed/needs-rework 🔨

#19916 network: drop misleading debugging logs about MTU
  src/network/networkd-link.c
Labels: good-to-merge/waiting-for-ci 👍, network, quick-review 🏃‍♂️

#19866 sd-device: introduce sd_device_new_from_ifindex()
  src/libsystemd-network/dhcp-identifier.c
  src/libsystemd-network/dhcp-identifier.h
  src/libsystemd-network/dhcp-internal.h
  src/libsystemd-network/dhcp6-internal.h
  src/libsystemd-network/fuzz-dhcp6-client.c
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/test-dhcp-client.c
  src/libsystemd-network/test-dhcp6-client.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-device/sd-device.c
  src/libsystemd/sd-netlink/netlink-util.c
  src/libsystemd/sd-netlink/netlink-util.h
  src/network/networkctl.c
  src/network/networkd-link.c
  src/network/networkd-manager-bus.c
  src/network/networkd-route.c
  src/nspawn/nspawn-network.c
  src/resolve/resolvectl.c
  src/shared/socket-netlink.c
  src/shared/socket-netlink.h
  src/systemd/sd-device.h
Labels: dhcp, good-to-merge/waiting-for-ci 👍, network, nspawn, resolve, sd-device

#19894 network: always check dynamic address assignments before entering con…
  src/network/networkd-link.c
  test/test-network/conf/25-bridge-configure-without-carrier.network
  test/test-network/conf/25-test1.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#19898 network: set link ifindex when multi-path routes specified without interface name
  src/network/networkd-route.c
  test/test-network/conf/25-route-static.network
Labels: good-to-merge/waiting-for-ci 👍, network

#19902 Revert "Mount all fs nosuid when NoNewPrivileges=yes"
  man/systemd.exec.xml
  src/core/execute.c
  src/core/namespace.c
  src/core/namespace.h
Labels: pid1, selinux

#19905 network: try to bring down interface before setting MAC address
  src/network/networkd-link.c
  src/network/networkd-setlink.c
  src/network/networkd-setlink.h
Labels: good-to-merge/waiting-for-ci 👍, network

#19919 test: correctly configure the NUMA node memory pool
  test/TEST-36-NUMAPOLICY/test.sh
Labels: good-to-merge/waiting-for-ci 👍, tests

#19923 repart: minor tweaks to table summarizing what we'll do with the partitions
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#19913 network: add missing increment of Link::set_flags_messages
  src/network/networkd-link-bus.c
  src/network/networkd-link.c
  src/network/networkd-manager-bus.c
  src/network/networkd-setlink.c
  src/network/networkd-wifi.c
Labels: good-to-merge/waiting-for-ci 👍, network

#19858 test-seccomp: Check for __NR_ppoll before use
  src/test/test-seccomp.c
Labels: seccomp, tests

#19924 sd-event: fix assrtion in sleep_between()
  src/libsystemd/sd-event/sd-event.c
Labels: good-to-merge/waiting-for-ci 👍, sd-event

#19930 Update comments
  man/sd_bus_error.xml
  src/basic/process-util.c
  src/basic/random-util.c
  src/basic/socket-util.c
  src/basic/time-util.c
  src/core/execute.c
  src/core/manager.c
  src/core/mount.c
  src/core/unit.c
  src/coredump/stacktrace.c
  src/cryptsetup/cryptsetup.c
  src/home/homed-home.h
  src/home/homework-luks.c
  src/home/user-record-util.c
  src/journal/journald-server.c
  src/libsystemd/sd-bus/sd-bus.c
  src/libsystemd/sd-journal/journal-file.c
  src/login/user-runtime-dir.c
  src/network/networkd-link.c
  src/network/networkd-lldp-rx.c
  src/network/networkd-manager.h
  src/network/networkd-network.h
  src/network/networkd-setlink.c
  src/nspawn/nspawn.c
  src/partition/repart.c
  src/resolve/resolved-dns-query.c
  src/shared/format-table.c
  src/shutdown/umount.c
  src/sysusers/sysusers.c
  src/test/test-fs-util.c
  src/test/test-libcrypt-util.c
  src/test/test-path-util.c
  src/test/test-psi-util.c
  src/udev/udev-builtin-input_id.c
  src/udev/udev-builtin-path_id.c
  src/udev/udevd.c
Labels: journal, network, resolve, tree-wide, udev

#19933 man: add an example to configure default route on device with table
  man/systemd.network.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#19929 man: fix sd_bus_add_node_enumerator() ret_nodes
  man/sd_bus_add_node_enumerator.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#19925 unit: use alias name of man page
  units/systemd-ask-password-console.path
  units/systemd-ask-password-wall.path
  units/systemd-ask-password-wall.service
  units/systemd-hibernate.service.in
  units/systemd-hybrid-sleep.service.in
  units/systemd-initctl.socket
  units/systemd-kexec.service
  units/systemd-poweroff.service
  units/systemd-reboot.service
  units/systemd-suspend-then-hibernate.service.in
  units/systemd-udevd-control.socket
  units/systemd-udevd-kernel.socket
  units/systemd-update-utmp-runlevel.service.in
Labels: documentation, units

#19921 core/service: fix assertion when Type=dbus but BusName= is not specified
  src/core/service.c
  test/units/testsuite-42.sh
Labels: good-to-merge/waiting-for-ci 👍, pid1

#19934 Revert "journal-file: truncate archived journals" (without testcase)
  src/libsystemd/sd-journal/journal-file.c
Labels: good-to-merge/waiting-for-ci 👍, journal

#19015 udev: add basic set USDTs
  meson.build
  src/shared/udev-util.h
  src/udev/udev-event.c
  src/udev/udev-rules.c
  src/udev/udevd.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#19914 network: do not set value to an element in union through another element
  src/network/netdev/netdev.c
  src/network/networkd-queue.c
  src/network/networkd-queue.h
  src/network/networkd-setlink.c
  src/network/networkd-setlink.h
Labels: good-to-merge/waiting-for-ci 👍, network

#19935 test: fix syscall existence check
  src/test/test-seccomp.c
Labels: ci-failure-appears-unrelated, tests

#19938 seccomp: drop quotactl_path() again from filter sets
  src/shared/seccomp-util.c
Labels: good-to-merge/waiting-for-ci 👍, seccomp

#19945 update NEWS
  NEWS
Labels: documentation, quick-review 🏃‍♂️

#19896 Print hint in bootctl when systemd-efi-options output is out-of-date
  man/rules/meson.build
  man/sd-id128.xml
  src/basic/efivars.c
  src/basic/efivars.h
  src/boot/bless-boot-generator.c
  src/boot/bless-boot.c
  src/boot/bootctl.c
  src/core/efi-random.c
  src/login/logind-dbus.c
  src/partition/repart.c
  src/shared/bootspec.c
  src/shared/efi-loader.c
  src/systemd/sd-id128.h
Labels: boot, good-to-merge/waiting-for-ci 👍, sd-id128

#19932 test: add a testcase for issue #19895
  test/test-functions
  test/units/testsuite-04.sh
Labels: good-to-merge/waiting-for-ci 👍, journal, tests

#19942 dbus: extend SocktBind{Allow|Deny}= with ip proto
  man/org.freedesktop.systemd1.xml
  src/core/cgroup.h
  src/core/dbus-cgroup.c
  src/core/load-fragment.c
  src/shared/bus-unit-util.c
  src/systemctl/systemctl-show.c
Labels: good-to-merge/waiting-for-ci 👍, pid1, systemctl

#19948 A minor refactoring to sd-device internals
  src/libsystemd/sd-device/device-internal.h
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-device/sd-device.c
Labels: good-to-merge/waiting-for-ci 👍, sd-device

#19950 meson: allow "soft-static" allocations for uids and gids in the initrd
  meson.build
  meson_options.txt
  sysusers.d/basic.conf.in
  sysusers.d/systemd.conf.in
Labels: build-system, sysusers

#19958 NEWS: fix typos
  NEWS
Labels: documentation

#19956 test: do not run 'meson configure' if NO_BUILD is set
  test/test-functions
Labels: quick-review 🏃‍♂️, tests

#19936 core: Hide "Deactivated successfully" message for regular users
  src/core/unit.c
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, pid1

#19960 hwdb: Add mic mute key mapping for HP Elite Dragonfly
  hwdb.d/60-keyboard.hwdb
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, hwdb

#19971 Update systemd-resolved.service.8 help
  man/systemd-resolved.service.xml
Labels: documentation

#19967 test: wait until the unit leaves the 'inactive' state as well
  test/units/testsuite-11.sh
Labels: good-to-merge/waiting-for-ci 👍, tests

#19963 path-util: make path_equal() an inline wrapper around path_compare()
  src/basic/path-util.c
  src/basic/path-util.h
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#19962 repart: make No-Auto GPT partition flag configurable too
  man/repart.d.xml
  src/partition/repart.c
  src/shared/gpt.c
  src/shared/gpt.h
Labels: good-to-merge/waiting-for-ci 👍, new-feature, repart

#19968 Revert "ci: work around #19442 to make CI happy again"
  .github/workflows/mkosi.yml
Labels: ci

#19975 hwdb: add rules for Lenovo U41-70 (80JV)
  hwdb.d/60-evdev.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#19979 virt: improve log message when we cannot read /sys/firmware/dmi/entries/0-0/raw
  src/basic/virt.c
Labels: ci-failure-appears-unrelated, detect-virt, util-lib

#19984 time-util: coding style fixes
  src/basic/time-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#19985 cryptenroll: fix minor type in --help
  src/cryptenroll/cryptenroll.c
Labels: cryptsetup, quick-review 🏃‍♂️

#19977 nspawn: replace strextend_with_separator() -> strextendf_with_separator()
  src/basic/extract-word.c
  src/basic/extract-word.h
  src/basic/meson.build
  src/basic/missing_mount.h
  src/nspawn/nspawn-mount.c
  src/shared/mount-util.c
  src/test/test-extract-word.c
  src/test/test-mount-util.c
Labels: nspawn

#19989 Translations update from Weblate
  po/ko.po
Labels: good-to-merge/waiting-for-ci 👍, l10n 🌍

#19988 networkd: Permit all-zero RoutingPolicyRule prefixes
  src/network/networkd-routing-policy-rule.c
  test/test-network/conf/routing-policy-rule-test1.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#19986 Add smoke test for mount_flags_to_string()
  src/shared/mount-util.c
  src/shared/mount-util.h
  src/test/test-mount-util.c
Labels: good-to-merge/waiting-for-ci 👍, tests

#19991 completion: fix 'unbound variables' errors
  shell-completion/bash/bootctl
  shell-completion/bash/busctl
  shell-completion/bash/coredumpctl
  shell-completion/bash/homectl
  shell-completion/bash/hostnamectl
  shell-completion/bash/localectl
  shell-completion/bash/loginctl
  shell-completion/bash/machinectl
  shell-completion/bash/networkctl
  shell-completion/bash/portablectl
  shell-completion/bash/resolvectl
  shell-completion/bash/systemctl.in
  shell-completion/bash/systemd-analyze
  shell-completion/bash/systemd-delta
  shell-completion/bash/systemd-id128
  shell-completion/bash/systemd-resolve
  shell-completion/bash/timedatectl
  shell-completion/bash/udevadm
Labels: shell completion

#19990 A couple of stability-related test tweaks
  test/TEST-01-BASIC/test.sh
  test/test-functions
  test/units/testsuite-38.sh
Labels: good-to-merge/waiting-for-ci 👍, tests

#20005 docs: add coding style example
  docs/CODING_STYLE.md
Labels: documentation

#20002 sd-dhcp-client: ignore FORCERENEW
  src/libsystemd-network/sd-dhcp-client.c
Labels: dhcp, good-to-merge/waiting-for-ci 👍, network

#20008 ask-password: add "-n" switch for disabling trailing newline
  man/systemd-ask-password.xml
  src/ask-password/ask-password.c
Labels: ask-password, good-to-merge/waiting-for-ci 👍, new-feature

#20009 openssl-util: include the headers the file actually uses definitions …
  src/shared/openssl-util.h
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#20004 dirent-util: introduce readdir_ensure_type()
  src/basic/dirent-util.c
  src/basic/dirent-util.h
  src/basic/fs-util.c
  src/basic/locale-util.c
  src/basic/unit-file.c
  src/core/smack-setup.c
  src/delta/delta.c
  src/libsystemd/sd-login/sd-login.c
  src/login/logind-dbus.c
  src/login/logind.c
  src/mount/mount-tool.c
  src/portable/portable.c
  src/shared/bootspec.c
  src/shared/install.c
  src/shared/numa-util.c
  src/test/test-process-util.c
Labels: ci-failure-appears-unrelated, portable, tree-wide, util-lib

#20000 replace strtoul by safe_ato*
  src/udev/scsi_id/scsi_id.c
  src/udev/udev-builtin-input_id.c
  src/udev/udev-builtin-keyboard.c
  src/udev/udev-builtin-net_id.c
  src/udev/udev-builtin-path_id.c
  src/udev/udev-builtin-usb_id.c
Labels: good-to-merge/with-minor-suggestions, udev

#20012 sd-journal: add missing bracket in journal verify log message
  src/libsystemd/sd-journal/journal-verify.c
Labels: good-to-merge/waiting-for-ci 👍, journal

#20001 Do not call path_simplify() when not needed
  TODO
  man/50-xdg-data-dirs.sh
  src/core/manager.c
  src/core/unit.c
  src/test/meson.build
  src/test/test-hash-funcs.c
  src/test/test-path-util.c
Labels: good-to-merge/waiting-for-ci 👍

#20010 test: correctly mask supporting services in tests, take #2
  test/TEST-01-BASIC/test.sh
  test/test-functions
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, tests

#20018 docs: EFI separator needs to be backslash-escaped in markdown
  docs/BOOT_LOADER_SPECIFICATION.md
Labels: documentation

#20017 tree-wide: make specifier expansion --root= aware
  src/core/load-fragment.c
  src/core/unit-printf.c
  src/partition/repart.c
  src/resolve/resolved-conf.c
  src/resolve/resolved-dnssd.c
  src/shared/install-printf.c
  src/shared/install-printf.h
  src/shared/install.c
  src/shared/install.h
  src/shared/specifier.c
  src/shared/specifier.h
  src/sysusers/sysusers.c
  src/test/test-load-fragment.c
  src/test/test-specifier.c
  src/test/test-unit-name.c
  src/tmpfiles/tmpfiles.c
Labels: good-to-merge/waiting-for-ci 👍, install, repart, resolve, sysusers, tmpfiles, tree-wide, util-lib

#19941 core: add ConditionOSRelease= directive
  man/systemd.unit.xml
  src/basic/extract-word.c
  src/basic/extract-word.h
  src/core/load-fragment-gperf.gperf.in
  src/shared/condition.c
  src/shared/condition.h
  src/test/test-condition.c
  src/test/test-extract-word.c
  test/fuzz/fuzz-unit-file/directives-all.service
  test/fuzz/fuzz-unit-file/directives.service
Labels: good-to-merge/waiting-for-ci 👍, new-feature, pid1

#19883 Activation policy down required for online no
  man/systemd.network.xml
  src/network/networkctl.c
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/test-network/conf/25-activation-policy.network.d/bound.conf
  test/test-network/conf/25-activation-policy.network.d/required-no.conf
  test/test-network/conf/25-activation-policy.network.d/required-yes.conf
  test/test-network/systemd-networkd-tests.py
Labels: network

#19312 udev: make OPTIONS="string_escape=replace" take effect on ENV{key}= assiginment
  man/udev.xml
  rules.d/60-persistent-storage.rules
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/shared/netif-naming-scheme.h
  src/shared/udev-util.c
  src/shared/udev-util.h
  src/udev/udev-event.c
  src/udev/udev-rules.c
Labels: udev

#20015 resolvectl: Only strip ifname suffixes when being resolvconf
  src/resolve/resolvconf-compat.c
  src/resolve/resolvectl.c
  src/resolve/resolvectl.h
Labels: resolve

#20022 udev/scsi: use the scsi device type number directly
  src/udev/scsi_id/scsi_id.c
  src/udev/scsi_id/scsi_id.h
  src/udev/scsi_id/scsi_serial.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#19996 ExtensionImages: log explicit error when extension-release metadata does not match
  src/core/namespace.c
Labels: pid1, quick-review 🏃‍♂️

#20024 remove a left-over break
  src/shared/copy.c
Labels: good-to-merge/waiting-for-ci 👍

#20023 core: reenable nosuid mount flag when NoNewPrivileges=yes
  man/systemd.exec.xml
  src/core/execute.c
  src/core/namespace.c
  src/core/namespace.h
Labels: good-to-merge/waiting-for-ci 👍, pid1

#20027 dbus-socket: fix check of Listen* arguments
  src/core/dbus-socket.c
Labels: good-to-merge/waiting-for-ci 👍

#20029 man: document about NAMING_REPLACE_STRICTLY network interface naming policy
  man/systemd.net-naming-scheme.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#20031 networkctl: drop unused member in struct VxLanInfo
  src/network/networkctl.c
Labels: good-to-merge/waiting-for-ci 👍, network
