Repository systemd/systemd, pull requests merged in 2021-04, with the labels that each got.

#19169 Fix a bunch of maybe-unitialized warnings but don't enable the warning yet
  man/sd_bus_error.xml
  src/basic/cgroup-util.c
  src/basic/env-util.c
  src/basic/fileio.c
  src/basic/socket-util.h
  src/core/main.c
  src/cryptsetup/cryptsetup.c
  src/libsystemd/sd-bus/bus-error.c
  src/libsystemd/sd-event/sd-event.c
  src/resolve/resolved-dns-query.c
  src/shared/bus-message-util.c
  src/shared/conf-parser.c
  src/shared/pretty-print.c
  src/shared/varlink.c
  src/systemctl/systemctl-start-unit.c
  src/test/test-capability.c
Labels: ci-failure-appears-unrelated, resolve, systemctl

#19168 Fix nss-resolve reverse alias lookups
  src/nss-resolve/nss-resolve.c
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, priority, resolve

#19173 libudev: fix return of udev_monitor_filter_add_match_subsystem_devtype()
  src/libudev/libudev-monitor.c
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, priority, udev

#19174 resolved: go through gcry_md_close on error
  src/resolve/resolved-dns-dnssec.c
Labels: ci-failure-appears-unrelated, coverity, good-to-merge/waiting-for-ci 👍, resolve

#19175 Third batch of fixes and suppressions for maybe-unitialized warnings
  src/backlight/backlight.c
  src/basic/efivars.c
  src/home/homework-luks.c
  src/libsystemd/meson.build
  src/libsystemd/sd-device/device-util.h
  src/libsystemd/sd-device/test-device-util.c
  src/libsystemd/sd-netlink/generic-netlink.c
  src/resolve/resolved-dns-cache.c
  src/shared/dissect-image.c
  src/shared/sleep-config.c
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, resolve, tree-wide

#19158 systemd-notify: Fix return value of --booted
  src/notify/notify.c
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, notify

#19181 docs: use current spelling "macOS" not "OS X" etc.
  docs/BOOT_LOADER_INTERFACE.md
  docs/BOOT_LOADER_SPECIFICATION.md
  man/systemd-boot.xml
Labels: documentation

#18717 sd-device-monitor: introduce two new filters and use them in dissect-image.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/meson.build
  src/libsystemd/sd-device/device-enumerator.c
  src/libsystemd/sd-device/device-monitor.c
  src/libsystemd/sd-device/device-util.c
  src/libsystemd/sd-device/device-util.h
  src/libsystemd/sd-device/test-sd-device-monitor.c
  src/shared/dissect-image.c
  src/systemd/sd-device.h
Labels: dissect, good-to-merge/waiting-for-ci 👍, sd-device

#19017 udev: fix slot based network names on s390
  man/systemd.net-naming-scheme.xml
  src/shared/netif-naming-scheme.c
  src/shared/netif-naming-scheme.h
  src/udev/udev-builtin-net_id.c
Labels: predictable-ifnames, udev

#19179 test-oomd-util: fix running in mkosi
  src/oom/test-oomd-util.c
  src/test/meson.build
Labels: ci-failure-appears-unrelated, meson, tests

#19185 fuzzer: add a test case for #19178
  test/fuzz/fuzz-unit-file/github-19178
Labels: ci-failure-appears-unrelated, fuzzing, good-to-merge/waiting-for-ci 👍

#19126 systemd-oomd post-test week improvements
  man/oomd.conf.xml
  src/oom/oomd-manager.c
  src/oom/oomd-manager.h
  src/oom/oomd-util.c
  src/oom/oomd-util.h
  src/oom/oomd.c
  src/oom/test-oomd-util.c
Labels: good-to-merge/with-minor-suggestions, oomd

#19182 test-firewall-util: skip if iptables nat table does not exist
  src/shared/firewall-util-iptables.c
  src/shared/firewall-util-private.h
  src/test/test-firewall-util.c
Labels: good-to-merge/with-minor-suggestions

#19184 sysusers/firstboot: temporarily disable LoadCredential
  units/systemd-firstboot.service
  units/systemd-sysusers.service
Labels: tests, units

#19199 resolve: copy rd flag from the query to response
  src/resolve/resolved-dns-stub.c
Labels: resolve

#19218 recovery-key: add some extra asserts
  src/basic/recovery-key.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍

#19216 tpm2-util: properly load tpm2 libraries befre unsealing
  src/shared/tpm2-util.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍, tpm2

#19135 coredump: parse build-id and .note.package
  docs/COREDUMP_PACKAGE_METADATA.md
  man/systemd-coredump.xml
  src/coredump/coredump.c
  src/coredump/coredumpctl.c
  src/coredump/stacktrace.c
  src/coredump/stacktrace.h
Labels: coredump, documentation, new-feature

#19233 man/systemd-cryptenroll: Fix sd-boot manvolnum from 8 to 7
  man/systemd-cryptenroll.xml
Labels: cryptsetup, documentation, good-to-merge/waiting-for-ci 👍

#19232 proc-cmdline: allow backslash escapes when parsing /proc/cmdline
  src/basic/proc-cmdline.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#19228 mkosi: work-around to make systemd build in Fedora images that lack p…
  mkosi.build
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#19231 coredump: follow-ups for #19135
  docs/COREDUMP_PACKAGE_METADATA.md
  man/systemd-coredump.xml
  src/basic/path-util.c
  src/basic/path-util.h
  src/coredump/coredump.c
  src/coredump/coredumpctl.c
  src/coredump/stacktrace.c
  src/test/test-path-util.c
Labels: coredump, documentation, good-to-merge/waiting-for-ci 👍

#19238 core: fix memleak of ipc_namespace_path
  src/core/execute.c
  test/fuzz/fuzz-unit-file/oss-fuzz-32991
Labels: good-to-merge/waiting-for-ci 👍

#19237 udev: fix several issues around hotplug slot detection
  src/udev/udev-builtin-net_id.c
Labels: udev

#19239 test: move check of nat table existence
  src/test/test-firewall-util.c
Labels: tests

#19240 network: do not emit changed properties when bus connection is not ready
  src/network/networkd-link-bus.c
  src/network/networkd-manager-bus.c
Labels: network

#19249 tests: allow for os-release quote variability in TEST-50-DISSECT
  test/units/testsuite-50.sh
Labels: dissect, good-to-merge/waiting-for-ci 👍, tests

#19250 Simplify how sd_bus_is_ready() is used
  man/sd_bus_is_open.xml
  src/libsystemd/sd-bus/sd-bus.c
  src/network/networkd-dhcp-common.c
  src/network/networkd-link-bus.c
  src/network/networkd-manager-bus.c
  src/network/networkd-manager.c
Labels: ci-failure-appears-unrelated, network, sd-bus

#19226 meson: re-enable -Wmaybe-uninitialized
  meson.build
  src/basic/cgroup-util.c
  src/basic/copy.c
  src/basic/strbuf.c
  src/core/dbus-cgroup.c
  src/core/dbus-execute.c
  src/core/dbus-manager.c
  src/core/dbus-scope.c
  src/core/dbus-service.c
  src/core/dbus-timer.c
  src/core/dbus-unit.c
  src/core/dbus.c
  src/core/main.c
  src/core/manager.c
  src/core/selinux-access.c
  src/home/homed-bus.c
  src/home/homed-home.c
  src/home/homed-manager.c
  src/home/user-record-util.c
  src/import/importd.c
  src/libsystemd/sd-bus/bus-error.c
  src/libsystemd/sd-bus/sd-bus.c
  src/libsystemd/sd-device/sd-device.c
  src/locale/localed.c
  src/login/logind-dbus.c
  src/login/logind-seat-dbus.c
  src/login/logind-session-dbus.c
  src/machine/image-dbus.c
  src/machine/machine-dbus.c
  src/machine/machined-dbus.c
  src/machine/operation.c
  src/network/networkd-link-bus.c
  src/portable/portabled-bus.c
  src/portable/portabled-image-bus.c
  src/portable/portabled-operation.c
  src/resolve/resolved-bus.c
  src/resolve/resolved-link-bus.c
  src/shared/base-filesystem.c
  src/shared/bus-message-util.c
  src/shared/format-table.c
  src/test/test-capability.c
  src/timedate/timedatectl.c
Labels: ci-failure-appears-unrelated, meson, network, portable, resolve, selinux, timedate

#19248 Make tests test
  man/homectl.xml
  man/systemd-tmpfiles.xml
  src/home/homectl.c
  src/tmpfiles/tmpfiles.c
  test/TEST-52-HONORFIRSTSHUTDOWN/test.sh
  test/test-execute/exec-standardoutput-append.service
  test/test-execute/exec-standardoutput-file.service
  test/test-execute/exec-standardoutput-truncate.service
  test/test-functions
  test/testsuite-28.units/specifier-j-wants.service
  test/testsuite-52.units/testsuite-52.sh
  test/units/testsuite-03.sh
  test/units/testsuite-04.sh
  test/units/testsuite-12.sh
  test/units/testsuite-13.sh
  test/units/testsuite-15.sh
  test/units/testsuite-17.01.sh
  test/units/testsuite-17.02.sh
  test/units/testsuite-17.03.sh
  test/units/testsuite-17.04.sh
  test/units/testsuite-17.05.sh
  test/units/testsuite-18.sh
  test/units/testsuite-19.sh
  test/units/testsuite-20.sh
  test/units/testsuite-22.01.sh
  test/units/testsuite-22.02.sh
  test/units/testsuite-22.03.sh
  test/units/testsuite-22.04.sh
  test/units/testsuite-22.06.sh
  test/units/testsuite-22.07.sh
  test/units/testsuite-22.08.sh
  test/units/testsuite-23.sh
  test/units/testsuite-25.sh
  test/units/testsuite-26.sh
  test/units/testsuite-29.sh
  test/units/testsuite-30.sh
  test/units/testsuite-31.sh
  test/units/testsuite-33.sh
  test/units/testsuite-34.sh
  test/units/testsuite-36.sh
  test/units/testsuite-37.sh
  test/units/testsuite-38.sh
  test/units/testsuite-39.sh
  test/units/testsuite-40.sh
  test/units/testsuite-41.sh
  test/units/testsuite-42.sh
  test/units/testsuite-43.sh
  test/units/testsuite-44.sh
  test/units/testsuite-46.sh
  test/units/testsuite-47-repro.sh
  test/units/testsuite-47.sh
  test/units/testsuite-48.sh
  test/units/testsuite-49.sh
  test/units/testsuite-50.sh
  test/units/testsuite-54.sh
  test/units/testsuite-55.sh
  test/units/testsuite-56.sh
Labels: homed, tests, tmpfiles

#19255 some SpecialGlyph tweaks
  src/basic/locale-util.c
  src/basic/locale-util.h
  src/basic/unit-def.c
Labels: ci-failure-appears-unrelated, util-lib

#19254 document native journal protocol
  docs/JOURNAL_NATIVE_PROTOCOL.md
  man/sd_journal_print.xml
  man/systemd-journald.service.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, journal

#19241 network: do not require DHCPv6 addresses when UseAddress=no
  src/network/networkd-dhcp6.c
  src/network/networkd-dhcp6.h
  src/network/networkd-link.c
Labels: good-to-merge/with-minor-suggestions, network

#19260 man: document system-systemd\x2dcryptsetup.slice
  man/systemd-cryptsetup@.service.xml
  units/system-systemd\x2dcryptsetup.slice
Labels: documentation, good-to-merge/waiting-for-ci 👍, units

#19162 login: logind-dbus: support scheduled kexec
  src/login/logind-dbus.c
Labels: login, needs-review

#19190 hwdb: 60-keyboard:: Update MSI Modern backslash and hotkeys
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

#19243 Fix various issues reported by LGTM
  src/basic/errno-util.h
  src/basic/in-addr-util.c
  src/test/test-extract-word.c
  src/timedate/timedated.c
  src/udev/scsi_id/scsi_id.c
Labels: good-to-merge/waiting-for-ci 👍, lgtm, timedate, udev

#19214 gpt-auto-generator: don't generate systemd-cryptsetup@.service when -…
  src/gpt-auto-generator/gpt-auto-generator.c
Labels: ci-failure-appears-unrelated, cryptsetup, gpt-auto

#19265 sd-device: fix error code returned by sd_device_get_sysattr_value() f…
  src/libsystemd/sd-device/sd-device.c
Labels: bug 🐛, good-to-merge/waiting-for-ci 👍, sd-device

#19276 units: install dbus-org.freedesktop.oom1.service alias
  units/meson.build
Labels: units

#19272 network: drop unnecessary bitfield specifier
  src/network/networkd-manager.h
Labels: network, quick-review 🏃‍♂️

#19273 network: adjust log message
  src/network/networkd-link.c
Labels: network, quick-review 🏃‍♂️

#19274 sd-dhcp6-client: do not use IN_SET() macro when only one target value
  src/libsystemd-network/dhcp6-option.c
  src/libsystemd-network/sd-dhcp6-client.c
Labels: dhcp, network, quick-review 🏃‍♂️

#19278 openssl: make RSA struct const
  src/shared/openssl-util.c
Labels: quick-review 🏃‍♂️, util-lib

#19279 resolved: add RFC 8375 "home.arpa" to list of default NTA
  src/resolve/resolved-dns-trust-anchor.c
Labels: quick-review 🏃‍♂️, resolve

#19275 network: refuse to configure NDISC twice
  src/network/networkd-ndisc.c
Labels: ci-failure-appears-unrelated, network, quick-review 🏃‍♂️

#19280 Extend characters set for PKCS11 URI
  src/shared/pkcs11-util.c
Labels: ci-failure-appears-unrelated, pkcs11

#19282 mkosi.arch: add rsync build dependency
  .mkosi/mkosi.arch
Labels: mkosi, quick-review 🏃‍♂️, tests

#19164 tmpfiles: use a entry in hashmap as ItemArray in read_config_file()
  man/tmpfiles.d.xml
  src/tmpfiles/tmpfiles.c
  test/units/testsuite-22.11.sh
Labels: ci-failure-appears-unrelated, tmpfiles

#19268 scsi_id: use read_line instead of fgets
  src/udev/scsi_id/scsi_id.c
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, lgtm, udev

#19262 test-repart: use cryptsetup and losetup autoclose
  src/partition/test-repart.sh
Labels: ci-failure-appears-unrelated, quick-review 🏃‍♂️, tests

#19288 networkctl: drop unused variables
  src/network/networkctl.c
Labels: network, quick-review 🏃‍♂️

#19292 sd-dhcp-client: constify argument in sd_dhcp_lease_get_xxx()
  src/libsystemd-network/network-internal.h
  src/libsystemd-network/sd-dhcp-lease.c
  src/systemd/sd-dhcp-lease.h
Labels: dhcp, network, quick-review 🏃‍♂️

#19294 man: fix discriptions for --exec-delay
  man/systemd-udevd.service.xml
  man/udev.conf.xml
Labels: udev

#13496 bpf: extend bpf cgroup program support
  man/org.freedesktop.systemd1.xml
  man/systemd.resource-control.xml
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/core/bpf-firewall.c
  src/core/bpf-foreign.c
  src/core/bpf-foreign.h
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-cgroup.c
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/meson.build
  src/core/unit.c
  src/core/unit.h
  src/shared/bpf-program.c
  src/shared/bpf-program.h
  src/shared/bus-unit-util.c
  src/systemctl/systemctl-show.c
  src/test/meson.build
  src/test/test-bpf-foreign-programs.c
  src/test/test-cgroup-mask.c
  test/fuzz/fuzz-unit-file/directives.mount
  test/fuzz/fuzz-unit-file/directives.scope
  test/fuzz/fuzz-unit-file/directives.service
  test/fuzz/fuzz-unit-file/directives.slice
  test/fuzz/fuzz-unit-file/directives.socket
  test/fuzz/fuzz-unit-file/directives.swap
Labels: bpf, cgroups, documentation, good-to-merge/with-minor-suggestions, hwdb, pid1, systemctl, timedate, udev

#18701 resolved: reply using unicast mDNS when appropriate
  src/resolve/resolved-bus.c
  src/resolve/resolved-dns-packet.c
  src/resolve/resolved-dns-packet.h
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-question.c
  src/resolve/resolved-dns-question.h
  src/resolve/resolved-dns-rr.h
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-stub.c
  src/resolve/resolved-dns-transaction.h
  src/resolve/resolved-mdns.c
Labels: needs-rebase, resolve

#19299 packit: drop the 'sources' file after cloning the Fedora repo
  .packit.yml
Labels: ci, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#19297 meson: do not fail if rsync is not installed with meson 0.57.2
  man/meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#19281 load-fragment: parse specifiers in CPUAffinity=
  src/core/load-fragment.c
Labels: good-to-merge/waiting-for-ci 👍, pid1, squash-on-merge

#19303 tree-wide: fix typo
  TODO
  man/org.freedesktop.portable1.xml
  man/os-release.xml
  man/systemd-coredump.xml
  src/basic/tmpfile-util.c
  src/cryptsetup/cryptsetup.c
Labels: quick-review 🏃‍♂️

#18940 bind dhcp sockets to IP addresses instead of the interfaces
  man/systemd.network.xml
  src/libsystemd-network/dhcp-network.c
  src/libsystemd-network/dhcp-server-internal.h
  src/libsystemd-network/sd-dhcp-server.c
  src/libsystemd-network/test-dhcp-server.c
  src/network/networkd-dhcp-server.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/sd-dhcp-server.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: dhcp, network

#19307 udev: delete useless codes
  src/udev/udevadm-info.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#19069 systemd-networkd-wait-online: wait for specific address family
  man/systemd-networkd-wait-online.service.xml
  man/systemd.network.xml
  src/libsystemd/sd-network/network-util.c
  src/libsystemd/sd-network/network-util.h
  src/libsystemd/sd-network/sd-network.c
  src/network/networkd-link-bus.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager-bus.c
  src/network/networkd-manager.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-state-file.c
  src/network/networkd-util.h
  src/network/wait-online/link.c
  src/network/wait-online/link.h
  src/network/wait-online/manager.c
  src/network/wait-online/manager.h
  src/network/wait-online/wait-online.c
  src/systemd/sd-network.h
  test/fuzz/fuzz-network-parser/directives.network
  test/fuzz/fuzz-unit-file/directives-all.service
  test/test-network/conf/dhcp-client-ipv4-ipv6ra-prefix-client-with-delay.network
  test/test-network/conf/dhcp-server-with-ipv6-prefix.network
  test/test-network/conf/ipv6-prefix-with-delay.network
  test/test-network/conf/ipv6ra-prefix-client-with-static-ipv4-address.network
  test/test-network/conf/state-file-tests.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#19287 network: add ManageForeignRoutingPolicyRules= boolean setting
  man/networkd.conf.xml
  src/network/networkd-gperf.gperf
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-routing-policy-rule.c
  src/network/networkd.conf
Labels: good-to-merge/waiting-for-ci 👍, network

#19311 util: shorten allow_listed_char_for_devnode()
  src/basic/device-nodes.c
Labels: util-lib

#19266 test: make the test scripts shellcheck-compliant
  test/TEST-50-DISSECT/test.sh
  test/units/testsuite-02.sh
  test/units/testsuite-03.sh
  test/units/testsuite-04.sh
  test/units/testsuite-05.sh
  test/units/testsuite-06.sh
  test/units/testsuite-07.sh
  test/units/testsuite-11.sh
  test/units/testsuite-12.sh
  test/units/testsuite-13.sh
  test/units/testsuite-14.sh
  test/units/testsuite-15.sh
  test/units/testsuite-16.sh
  test/units/testsuite-17.03.sh
  test/units/testsuite-17.sh
  test/units/testsuite-18.sh
  test/units/testsuite-19.sh
  test/units/testsuite-20.sh
  test/units/testsuite-22.01.sh
  test/units/testsuite-22.02.sh
  test/units/testsuite-22.03.sh
  test/units/testsuite-22.04.sh
  test/units/testsuite-22.05.sh
  test/units/testsuite-22.06.sh
  test/units/testsuite-22.07.sh
  test/units/testsuite-22.08.sh
  test/units/testsuite-22.09.sh
  test/units/testsuite-22.10.sh
  test/units/testsuite-22.sh
  test/units/testsuite-23.sh
  test/units/testsuite-25.sh
  test/units/testsuite-26.sh
  test/units/testsuite-27.sh
  test/units/testsuite-29.sh
  test/units/testsuite-30.sh
  test/units/testsuite-31.sh
  test/units/testsuite-32.sh
  test/units/testsuite-33.sh
  test/units/testsuite-34.sh
  test/units/testsuite-36.sh
  test/units/testsuite-37.sh
  test/units/testsuite-38.sh
  test/units/testsuite-39.sh
  test/units/testsuite-40.sh
  test/units/testsuite-41.sh
  test/units/testsuite-42.sh
  test/units/testsuite-43.sh
  test/units/testsuite-44.sh
  test/units/testsuite-46.sh
  test/units/testsuite-47.sh
  test/units/testsuite-48.sh
  test/units/testsuite-49.sh
  test/units/testsuite-50.sh
  test/units/testsuite-51.sh
  test/units/testsuite-53.sh
  test/units/testsuite-54.sh
  test/units/testsuite-55-slowgrowth.sh
  test/units/testsuite-55.sh
  test/units/testsuite-56.sh
Labels: ci-failure-appears-unrelated, tests

#19315 network: several follow-ups for #19069
  src/network/networkd-link.c
  src/network/networkd-state-file.c
  src/network/wait-online/manager.c
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, network

#19291 sd-dhcp-client: introduce sd_dhcp_client_is_running()
  src/libsystemd-network/sd-dhcp-client.c
  src/systemd/sd-dhcp-client.h
Labels: dhcp, needs-review, network

#19323 meson.build: typo
  meson.build
Labels: meson

#19313 libsystemd-network: fix dhcp option buffer confusion
  src/libsystemd-network/dhcp-option.c
Labels: dhcp, good-to-merge/waiting-for-ci 👍, network

#19321 test: use systemd-run --wait in TEST-44-LOG-NAMESPACE
  test/units/testsuite-44.sh
Labels: quick-review 🏃‍♂️

#19328 core: drop pointless assert()
  src/core/manager.c
Labels: pid1, quick-review 🏃‍♂️

#19329 Translations update from Weblate
  po/ko.po
Labels: l10n 🌍

#19318 udev: ignore additional newline at the end on verify
  src/basic/fileio.c
  src/basic/fileio.h
  src/udev/udev-rules.c
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, udev, util-lib

#19326 Reorder meson status output
  meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#19327 core: use UNIT_TRIGGER at more places
  src/core/load-fragment.c
  src/core/path.c
  src/core/timer.c
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, pid1

#19335 man: correct requirements for systemd-oomd.service
  man/systemd-oomd.service.xml
Labels: documentation, quick-review 🏃‍♂️

#19310 network: dhcp4: several fixes and cleanups for Anonymize=
  man/systemd.network.xml
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp4.h
  src/network/networkd-network.c
Labels: dhcp, network

#19290 network: refuse to configure DHCP client more than once
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-ipv4ll.c
  src/network/networkd-link.c
  src/network/networkd-lldp-rx.c
  src/network/networkd-lldp-tx.c
  src/network/networkd-ndisc.c
  src/network/networkd-radv.c
Labels: dhcp, network

#19325 hwdb: 60-keyboard:: merge Micro Star in MSI and merge MSI Prestige And MSI Modern FnKeys and Special keys definitions
  hwdb.d/60-keyboard.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#19332 core,timedate,network: make log_unit_error_errno() or friends refuse zero errno
  src/core/unit.h
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/netdev/wireguard.c
  src/timedate/timedated.c
Labels: good-to-merge/waiting-for-ci 👍, network, pid1, timedate

#19333 fileio: fix maybe uninitialized warning
  src/basic/fileio.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#19348 systemd-networkd.socket: Add conflict with shutdown.target
  units/systemd-networkd.socket
Labels: good-to-merge/waiting-for-ci 👍, units

#19330 test: make test-functions shellcheck-compliant
  test/test-functions
Labels: ci-failure-appears-unrelated, tests

#19342 60-autosuspend.hwdb: Add Sierra Wireless EM7345-LTE modem to autosuspend list
  hwdb.d/60-autosuspend.hwdb
Labels: hwdb

#19343 hwdb: Add accel orientation quirk for the Teclast Tbook 11 tablet
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#19351 Log message tweaks
  src/basic/log.h
  src/login/logind.c
  src/udev/cdrom_id/cdrom_id.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#19340 core: add RestrictAddressFamilies=none to deny all address families
  man/systemd.exec.xml
  src/core/dbus-execute.c
  src/core/load-fragment.c
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, pid1

#19355 udev/cdrom_id: add forgotten return and fix typo
  src/udev/cdrom_id/cdrom_id.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#19096 repart: four new features: CopyBlocks=auto + --image= + ReadOnly=/Flags= + MakeDirectories=
  TODO
  man/repart.d.xml
  man/systemd-repart.xml
  src/core/namespace.c
  src/dissect/dissect.c
  src/partition/repart.c
  src/shared/cryptsetup-util.h
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/shared/gpt.c
  src/shared/gpt.h
  src/shared/loop-util.c
  src/shared/loop-util.h
  test/TEST-58-REPART/Makefile
  test/TEST-58-REPART/test.sh
  test/units/testsuite-58.service
  test/units/testsuite-58.sh
Labels: documentation, journal, needs-review, new-feature, portable, repart

#19360 mount-util: make umount_and_rmdir_and_freep() cleanup handler deal wi…
  src/shared/mount-util.h
Labels: util-lib

#19352 test: make the test entrypoint scripts shellcheck-compliant
  test/TEST-01-BASIC/test.sh
  test/TEST-02-UNITTESTS/test.sh
  test/TEST-03-JOBS/test.sh
  test/TEST-04-JOURNAL/test.sh
  test/TEST-05-RLIMITS/test.sh
  test/TEST-06-SELINUX/test.sh
  test/TEST-07-ISSUE-1981/test.sh
  test/TEST-08-ISSUE-2730/test.sh
  test/TEST-09-ISSUE-2691/test.sh
  test/TEST-10-ISSUE-2467/test.sh
  test/TEST-11-ISSUE-3166/test.sh
  test/TEST-12-ISSUE-3171/test.sh
  test/TEST-13-NSPAWN-SMOKE/test.sh
  test/TEST-14-MACHINE-ID/test.sh
  test/TEST-15-DROPIN/test.sh
  test/TEST-16-EXTEND-TIMEOUT/test.sh
  test/TEST-17-UDEV/test.sh
  test/TEST-18-FAILUREACTION/test.sh
  test/TEST-19-DELEGATE/test.sh
  test/TEST-20-MAINPIDGAMES/test.sh
  test/TEST-22-TMPFILES/test.sh
  test/TEST-23-TYPE-EXEC/test.sh
  test/TEST-24-CRYPTSETUP/test.sh
  test/TEST-25-IMPORT/test.sh
  test/TEST-26-SETENV/test.sh
  test/TEST-27-STDOUTFILE/test.sh
  test/TEST-28-PERCENTJ-WANTEDBY/test.sh
  test/TEST-29-PORTABLE/test.sh
  test/TEST-30-ONCLOCKCHANGE/test.sh
  test/TEST-31-DEVICE-ENUMERATION/test.sh
  test/TEST-32-OOMPOLICY/test.sh
  test/TEST-33-CLEAN-UNIT/test.sh
  test/TEST-34-DYNAMICUSERMIGRATE/test.sh
  test/TEST-36-NUMAPOLICY/test.sh
  test/TEST-37-RUNTIMEDIRECTORYPRESERVE/test.sh
  test/TEST-38-FREEZER/test.sh
  test/TEST-39-EXECRELOAD/test.sh
  test/TEST-40-EXEC-COMMAND-EX/test.sh
  test/TEST-41-ONESHOT-RESTART/test.sh
  test/TEST-42-EXECSTOPPOST/test.sh
  test/TEST-43-PRIVATEUSER-UNPRIV/test.sh
  test/TEST-44-LOG-NAMESPACE/test.sh
  test/TEST-46-HOMED/test.sh
  test/TEST-47-ISSUE-14566/test.sh
  test/TEST-48-START-STOP-NO-RELOAD/test.sh
  test/TEST-49-RUNTIME-BIND-PATHS/test.sh
  test/TEST-50-DISSECT/test.sh
  test/TEST-51-ISSUE-16115/test.sh
  test/TEST-52-HONORFIRSTSHUTDOWN/test.sh
  test/TEST-53-ISSUE-16347/test.sh
  test/TEST-54-CREDS/test.sh
  test/TEST-55-OOMD/test.sh
  test/TEST-56-EXIT-TYPE/test.sh
Labels: good-to-merge/waiting-for-ci 👍, tests

#19361 wifi-util: do not set zero errno to log_debug_errno()
  src/shared/wifi-util.c
Labels: network, quick-review 🏃‍♂️, util-lib

#19366 man: fix typo
  man/repart.d.xml
Labels: documentation, quick-review 🏃‍♂️

#19094 Dhcp.relay
  man/systemd.network.xml
  src/libsystemd-network/dhcp-server-internal.h
  src/libsystemd-network/sd-dhcp-server.c
  src/network/networkd-dhcp-server-bus.c
  src/network/networkd-dhcp-server.c
  src/network/networkd-dhcp-server.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
  src/systemd/sd-dhcp-server.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/agent-client-peer.network
  test/test-network/conf/agent-client.network
  test/test-network/conf/agent-server-peer.network
  test/test-network/conf/agent-server.network
  test/test-network/conf/agent-veth-client.netdev
  test/test-network/conf/agent-veth-server.netdev
  test/test-network/systemd-networkd-tests.py
Labels: dhcp, network

#19368 loop-util: let's try harder to avoid loopback block device recycle issues
  src/core/namespace.c
  src/dissect/dissect.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-device/device-internal.h
  src/libsystemd/sd-device/sd-device.c
  src/nspawn/nspawn.c
  src/portable/portable.c
  src/shared/discover-image.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/shared/loop-util.c
  src/shared/loop-util.h
  src/sysext/sysext.c
  src/systemd/sd-device.h
  src/test/test-loop-block.c
  test/TEST-50-DISSECT/deny-list-ubuntu-ci
Labels: dissect, good-to-merge/waiting-for-ci 👍, portable, sd-device, util-lib

#19371 two /sysusr/ changes for repart, split out of #19234
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#19378 doc: fix typo
  TODO
  man/systemd.special.xml
Labels: documentation, quick-review 🏃‍♂️

#19379 units: fix repart conditions to run if definitions exist in /sysroot …
  units/systemd-repart.service.in
Labels: repart, units

#19344 network: add RouteMetric= setting in [Address] and more
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-types.c
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-ipv4ll.c
  src/network/networkd-ndisc.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-radv.c
  src/network/networkd-radv.h
  src/network/networkd-route.c
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/systemd-networkd-tests.py
Labels: good-to-merge/waiting-for-ci 👍, network

#19337 journald: enforce longer line length limit during "setup" phase of st…
  src/journal/journald-stream.c
Labels: good-to-merge/waiting-for-ci 👍, journal

#19370 More shellcheck shenanigans
  src/basic/generate-af-list.sh
  src/basic/generate-arphrd-list.sh
  src/basic/generate-cap-list.sh
  src/basic/generate-errno-list.sh
  src/basic/linux/update.sh
  src/boot/efi/no-undefined-symbols.sh
  src/libsystemd/sd-journal/generate-audit_type-list.sh
  src/partition/test-repart.sh
  src/shared/generate-ip-protocol-list.sh
  src/udev/generate-keyboard-keys-gperf.sh
  src/udev/generate-keyboard-keys-list.sh
  tools/add-git-hook.sh
  tools/check-api-docs.sh
  tools/check-directives.sh
  tools/check-help.sh
  tools/find-build-dir.sh
  tools/find-double-newline.sh
  tools/find-tabs.sh
  tools/meson-apply-m4.sh
  tools/meson-make-symlink.sh
  tools/meson-vcs-tag.sh
  tools/update-hwdb-autosuspend.sh
  tools/update-hwdb.sh
  tools/update-syscall-tables.sh
Labels: udev

#19362 network: dhcp6: add logs about delegated prefix
  src/basic/in-addr-util.c
  src/basic/in-addr-util.h
  src/network/networkd-dhcp6.c
  src/network/networkd-link.c
  src/network/networkd-link.h
Labels: dhcp, network

#19386 generator: write out special systemd-fsck-usr.service
  src/basic/special.h
  src/shared/generator.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#19381 generator: two minor tweaks
  src/shared/generator.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#19365 Add sd_id128_in_set()
  man/rules/meson.build
  man/sd-id128.xml
  src/partition/repart.c
  src/shared/gpt.c
  src/systemd/sd-id128.h
  src/test/test-id128.c
Labels: good-to-merge/waiting-for-ci 👍, repart, sd-id128

#19271 network: fix issues arround DHCP DUID-UUID
  man/networkd.conf.xml
  man/systemd.network.xml
  src/network/networkd-conf.c
  src/network/networkd-conf.h
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp-common.h
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp4.h
  src/network/networkd-dhcp6.c
  src/network/networkd-dhcp6.h
  src/network/networkd-gperf.gperf
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-ndisc.c
  src/network/networkd-ndisc.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd.conf
  test/fuzz/fuzz-network-parser/directives.network
Labels: dhcp, good-to-merge/waiting-for-ci 👍, network

#19373 journald: Retry if posix_fallocate returned -1 (EINTR)
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/journal/journald-kmsg.c
  src/libsystemd/sd-journal/journal-file.c
  src/test/test-sigbus.c
Labels: ci-failure-appears-unrelated, journal

#19387 minor doc fixes
  docs/DISCOVERABLE_PARTITIONS.md
  man/systemd-dissect.xml
Labels: dissect, documentation, quick-review 🏃‍♂️

#19388 gpt: we actually honour the ReadOnly= flag on XBOOTLDR partitions too
  src/shared/gpt.c
Labels: ci-failure-appears-unrelated, dissect, good-to-merge/waiting-for-ci 👍, util-lib

#19389 fix: point to the correct drop-ins subdirectory for confs
  src/core/user.conf.in
  src/coredump/coredump.conf
  src/home/homed.conf
  src/journal-remote/journal-remote.conf.in
  src/journal-remote/journal-upload.conf.in
  src/journal/journald.conf
  src/login/logind.conf.in
  src/network/networkd.conf
  src/oom/oomd.conf
  src/pstore/pstore.conf
  src/resolve/resolved.conf.in
  src/sleep/sleep.conf
  src/timesync/timesyncd.conf.in
Labels: good-to-merge/waiting-for-ci 👍, journal, journal-remote, network, resolve, timesync

#19397 dissect-image: prefer PARTN= uevent property over "partition" sysfs attr
  src/shared/dissect-image.c
Labels: dissect, good-to-merge/with-minor-suggestions

#19395 boot/efi: compile on riscv64
  meson.build
  src/boot/efi/meson.build
Labels: boot, good-to-merge/waiting-for-ci 👍

#19400 dissect: fix two minor typos in comments
  src/shared/dissect-image.c
Labels: dissect, quick-review 🏃‍♂️

#19390 repart: fix CopyFiles= corner case when copying into root dir of newly formatted fs
  src/partition/repart.c
Labels: repart

#19346 network: enable DHCP broadcast flag if required by interface
  rules.d/81-net-dhcp.rules
  rules.d/meson.build
  src/network/networkd-dhcp4.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
Labels: network, reviewed/needs-rework 🔨, udev

#19336 core,test: services in reloading state should exit without waiting TimeoutStartSec
  src/core/service.c
  test/TEST-59-RELOADING-RESTART/Makefile
  test/TEST-59-RELOADING-RESTART/test.sh
  test/units/testsuite-59.service
  test/units/testsuite-59.sh
Labels: ci-failure-appears-unrelated, needs-review, pid1

#19392 network: split link_set_dhcp_routes() into smaller functions
  src/network/networkd-dhcp4.c
Labels: good-to-merge/waiting-for-ci 👍, network, quick-review 🏃‍♂️

#19217 Show the Ctrl-Alt-Delete action
  man/org.freedesktop.systemd1.xml
  src/core/dbus-manager.c
  src/core/dbus-manager.h
  src/core/dbus-unit.c
Labels: ci-fails/needs-rework 🔥, pid1, reviewed/needs-rework 🔨, squash-on-merge

#19124 hwdb/rule: add database and rules for known audio and music unit in IEEE 1394 bus
  hwdb.d/80-ieee1394-unit-function.hwdb
  hwdb.d/meson.build
  hwdb.d/parse_hwdb.py
  rules.d/50-udev-default.rules.in
  src/login/70-uaccess.rules.m4
Labels: hwdb, reviewed/needs-rework 🔨

#19405 logind:add missing equal sign
  src/login/logind-user-dbus.c
Labels: login

#19402 test: configure swap for TEST-55-OOMD
  test/TEST-55-OOMD/test.sh
  test/units/testsuite-55-slowgrowth.sh
Labels: oomd, tests

#19401 fstab-generator: clean up mount point flags handling
  src/fstab-generator/fstab-generator.c
Labels: fstab-generator

#19156 install: warn if WantedBy targets don't exist
  src/shared/install.c
  src/shared/install.h
  src/test/test-install-root.c
Labels: good-to-merge/waiting-for-ci 👍, install, units

#19382 tests: use setfacl to give $SUDO_USER read permissions on artifacts
  test/test-functions
Labels: ci-failure-appears-unrelated, tests

#19412 test: use systemd-run -P instead of -t in TEST-50
  test/units/testsuite-50.sh
Labels: good-to-merge/waiting-for-ci 👍, tests

#19411 homectl password caching fixes
  src/basic/user-util.c
  src/basic/user-util.h
  src/home/homectl.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#19419 network: add missing sections
  src/network/networkd-conf.c
Labels: network, quick-review 🏃‍♂️

#19421 core, network: Fix typo
  src/core/service.c
  src/network/networkd-dhcp6.c
Labels: network, pid1, quick-review 🏃‍♂️

#19420 network: update comment and log message
  src/network/networkd-link.c
Labels: network, quick-review 🏃‍♂️

#19286 network: dhcp4: set gateway for route to dns server if it is not in the same network
  src/network/networkd-dhcp4.c
  test/test-network/systemd-networkd-tests.py
Labels: ci-failure-appears-unrelated, dhcp, network

#19383 Fixes for TEST-58-REPART and ExecStart deserialization logic
  TODO
  src/core/main.c
  src/core/service.c
  src/core/service.h
  src/dissect/dissect.c
  src/portable/portable.c
  src/shared/dissect-image.c
  src/sysext/sysext.c
  src/test/meson.build
  src/test/test-unit-serialize.c
  test/TEST-02-UNITTESTS/test.sh
  test/TEST-24-CRYPTSETUP/test.sh
  test/TEST-55-OOMD/test.sh
  test/TEST-58-REPART/test.sh
  test/test-functions
  test/units/testsuite-58.service
  test/units/testsuite-58.sh
Labels: good-to-merge/waiting-for-ci 👍, portable, repart, tests

#19429 systemctl: hide some empty properties without --all
  src/shared/bus-print-properties.c
  src/systemctl/systemctl-show.c
Labels: good-to-merge/waiting-for-ci 👍, systemctl

#17655 Introduce SocketBind{Allow|Deny}= properties powered by source compiled BPF
  README
  man/org.freedesktop.systemd1.xml
  man/systemd.resource-control.xml
  meson.build
  meson_options.txt
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/core/bpf/socket_bind/meson.build
  src/core/bpf/socket_bind/socket-bind-api.bpf.h
  src/core/bpf/socket_bind/socket-bind.bpf.c
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-cgroup.c
  src/core/load-fragment-gperf.gperf.m4
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/meson.build
  src/core/socket-bind.c
  src/core/socket-bind.h
  src/core/unit-serialize.c
  src/core/unit.c
  src/core/unit.h
  src/shared/bpf-link.c
  src/shared/bpf-link.h
  src/shared/bus-unit-util.c
  src/shared/meson.build
  src/systemctl/systemctl-show.c
  src/test/meson.build
  src/test/test-cgroup-mask.c
  src/test/test-socket-bind.c
  test/fuzz/fuzz-unit-file/directives.mount
  test/fuzz/fuzz-unit-file/directives.scope
  test/fuzz/fuzz-unit-file/directives.service
  test/fuzz/fuzz-unit-file/directives.slice
  test/fuzz/fuzz-unit-file/directives.socket
  test/fuzz/fuzz-unit-file/directives.swap
  tools/build-bpf-skel.py
Labels: bpf, new-feature, pid1, systemctl

#19435 system-conf: drop reference to ShutdownWatchdogUsec=
  src/core/system.conf.in
Labels: good-to-merge/waiting-for-ci 👍, pid1, quick-review 🏃‍♂️

#19432 network: neighbor: Always add neighbors with replace
  src/libsystemd/sd-netlink/rtnl-message.c
  src/network/networkd-neighbor.c
Labels: network

#17293 Add support for conditions on the device tree machine compatible
  docs/TRANSIENT-SETTINGS.md
  man/systemd.link.xml
  man/systemd.netdev.xml
  man/systemd.unit.xml
  src/core/load-fragment-gperf.gperf.m4
  src/network/netdev/netdev-gperf.gperf
  src/network/networkd-network-gperf.gperf
  src/shared/condition.c
  src/shared/condition.h
  test/fuzz/fuzz-netdev-parser/directives.netdev
  test/fuzz/fuzz-network-parser/directives.network
  test/fuzz/fuzz-unit-file/directives.service
Labels: documentation, network, new-feature, pid1, reviewed/needs-rework 🔨

#19261 hwdb: 60-keyboard:: Update Dell Privacy Local Mic Mute Hotkey
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, reviewed/needs-rework 🔨

#19446 logind/dissect: use sd_device_trigger() more
  src/login/logind-dbus.c
  src/shared/dissect-image.c
Labels: good-to-merge/waiting-for-ci 👍, sd-device, tree-wide

#19316 Bump mkosi config for F34
  .mkosi/mkosi.fedora
  man/custom-entities.ent.in
  meson.build
  test/hwdb-test.sh
  test/meson.build
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#19452 docs: document that one shouldn't pass the audit caps to containers
  docs/CONTAINER_INTERFACE.md
Labels: documentation, good-to-merge/waiting-for-ci 👍

#19431 bus-print-property: introduce BusPrintPropertyFlags
  src/login/loginctl.c
  src/machine/machinectl.c
  src/shared/bus-print-properties.c
  src/shared/bus-print-properties.h
  src/systemctl/systemctl-show.c
  src/systemctl/systemctl.c
  src/systemctl/systemctl.h
  src/timedate/timedatectl.c
Labels: login, machine, systemctl, timedate

#19455 systemctl: fix build failure
  src/systemctl/systemctl-show.c
Labels: good-to-merge/waiting-for-ci 👍, priority, quick-review 🏃‍♂️, systemctl

#19441 Add syscall list for riscv
  meson.build
  src/basic/meson.build
  src/basic/missing_syscall.h
  src/basic/missing_syscall_def.h
  src/basic/missing_syscalls.py
  src/basic/syscalls-riscv64.txt
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#19374 network: dhcp4: introduce RoutesToNTP= boolean setting
  man/systemd.network.xml
  src/network/networkd-dhcp4.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/dhcp-client-ipv4-use-routes-use-gateway.network.d/use-dns-and-ntp-routes-False.conf
  test/test-network/conf/dhcp-client-ipv4-use-routes-use-gateway.network.d/use-dns-and-ntp-routes-True.conf
  test/test-network/systemd-networkd-tests.py
Labels: dhcp, network

#19449 network: downgrade log level and fix typo
  src/network/networkd-dhcp4.c
  src/network/networkd-link.c
  src/network/networkd-ndisc.c
  src/network/networkd-neighbor.c
Labels: good-to-merge/waiting-for-ci 👍, network, quick-review 🏃‍♂️

#19444 set boot time from monotonic time
  src/update-utmp/update-utmp.c
Labels: good-to-merge/waiting-for-ci 👍, pid1, squash-on-merge

#19451 hostnamed: add JSON output to hostnamectl
  man/hostnamectl.xml
  man/org.freedesktop.hostname1.xml
  src/hostname/hostnamectl.c
  src/hostname/hostnamed.c
  src/libsystemd/sd-id128/id128-util.c
  src/libsystemd/sd-id128/id128-util.h
  src/shared/machine-id-setup.c
Labels: good-to-merge/waiting-for-ci 👍, hostname

#19448 udev: allow onboard index up to 64K-1
  man/systemd.net-naming-scheme.xml
  src/shared/netif-naming-scheme.h
  src/udev/udev-builtin-net_id.c
Labels: good-to-merge/waiting-for-ci 👍, predictable-ifnames, udev

#19458 network: fix route removal logic a bit
  src/network/networkd-dhcp4.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.h
  src/network/networkd-route.c
  src/network/networkd-route.h
  src/network/networkd-util.c
  src/network/networkd-util.h
Labels: good-to-merge/waiting-for-ci 👍, network
