Repository systemd/systemd, pull requests merged in 2021-09, with the labels that each got.

#20521 analyze: Support passing unit files to systemd-analyze condition
  .mkosi/mkosi.arch
  man/systemd-analyze.xml
  shell-completion/bash/systemd-analyze
  src/analyze/analyze-condition.c
  src/analyze/analyze-condition.h
  src/analyze/analyze.c
Labels: analyze, good-to-merge/waiting-for-ci 👍, mkosi

#20537 udev: use link info obtained through netlink
  src/basic/linux/cfm_bridge.h
  src/basic/linux/mrp_bridge.h
  src/basic/meson.build
  src/basic/missing_network.h
  src/libsystemd/sd-netlink/netlink-internal.h
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-types-genl.c
  src/libsystemd/sd-netlink/netlink-types-rtnl.c
  src/network/netdev/netdev.c
  src/systemd/sd-netlink.h
  src/udev/meson.build
  src/udev/net/link-config.c
  src/udev/net/link-config.h
  src/udev/test-udev-builtin-net_id-netlink.c
  src/udev/udev-builtin-blkid.c
  src/udev/udev-builtin-btrfs.c
  src/udev/udev-builtin-hwdb.c
  src/udev/udev-builtin-input_id.c
  src/udev/udev-builtin-keyboard.c
  src/udev/udev-builtin-kmod.c
  src/udev/udev-builtin-net_id-netlink.c
  src/udev/udev-builtin-net_id-netlink.h
  src/udev/udev-builtin-net_id.c
  src/udev/udev-builtin-net_setup_link.c
  src/udev/udev-builtin-path_id.c
  src/udev/udev-builtin-uaccess.c
  src/udev/udev-builtin-usb_id.c
  src/udev/udev-builtin.c
  src/udev/udev-builtin.h
  src/udev/udev-event.c
  src/udev/udev-rules.c
  src/udev/udevadm-test-builtin.c
Labels: udev, network, sd-netlink, good-to-merge/waiting-for-ci 👍

#20596 udev: do not remove control socket on exit
  src/udev/udev-ctrl.c
  src/udev/udev-ctrl.h
  src/udev/udevd.c
Labels: udev

#20575 sd-journal: verify field object hash
  src/libsystemd/sd-journal/journal-verify.c
Labels: journal

#20597 test: make sure to include all haveged unit files
  test/test-functions
Labels: tests, good-to-merge/waiting-for-ci 👍

#20612 repart: Support volatile-root for finding the root partition
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#20613 nspawn: fix type to pass to connect()
  src/nspawn/nspawn.c
Labels: nspawn, good-to-merge/waiting-for-ci 👍

#20614 two minor clean-ups for the efi code
  src/boot/efi/boot.c
  src/boot/efi/console.c
  src/boot/efi/graphics.c
  src/boot/efi/measure.c
  src/boot/efi/random-seed.c
  src/boot/efi/sha256.c
  src/boot/efi/shim.c
  src/boot/efi/splash.c
  src/boot/efi/util.c
Labels: boot, good-to-merge/waiting-for-ci 👍

#20587 sd-journal: use FILE streams to buffer write_uint64()
  src/libsystemd/sd-journal/journal-verify.c
Labels: journal, good-to-merge/waiting-for-ci 👍, optimization

#20603 udev: cleanups for creating/removing device node symlinks
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/sd-device.c
  src/udev/udev-event.c
  src/udev/udev-node.c
  src/udev/udev-node.h
Labels: udev, good-to-merge/waiting-for-ci 👍

#20620 journalctl: Use constants in some more places
  src/journal/journalctl.c
Labels: journal

#20630 format-table: allow to explicitly override JSON field names
  src/shared/format-table.c
  src/shared/format-table.h
  src/test/test-format-table.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#20629 mkosi: build for the host distro by default
  .gitignore
  docs/HACKING.md
  mkosi.build
  mkosi.default.d/arch/mkosi.arch
  mkosi.default.d/debian/mkosi.debian
  mkosi.default.d/fedora/mkosi.fedora
  mkosi.default.d/opensuse/mkosi.opensuse
  mkosi.default.d/ubuntu/mkosi.ubuntu
Labels: documentation, mkosi, ci-failure-appears-unrelated

#20633 meson.build: change operator combining bools from + to and
  meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#20626 network: introduce KeepMaster= setting
  man/systemd.network.xml
  network/80-container-vb.network
  src/network/networkd-bridge-mdb.c
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-setlink.c
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/23-keep-master.network
  test/test-network/systemd-networkd-tests.py
Labels: network, good-to-merge/waiting-for-ci 👍

#20638 tree-wide: fix typo
  mkosi.default.d/fedora/mkosi.fedora
  src/analyze/analyze-security.c
  src/basic/socket-util.h
  src/libsystemd/sd-netlink/netlink-types-rtnl.c
  test/units/testsuite-63.sh
Labels: tree-wide, quick-review 🏃‍♂️

#20640 home: 'secret' argument of handle_generic_user_record_error may be null
  src/home/pam_systemd_home.c
Labels: homed

#20637 tmpfiles: minor cealnups
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles

#20636 Fix volume control keys for Lenovo Ideapad Flex 5
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

#20643 Fix esc, volume control keys and Fn+F1 for Samsung Galaxy Book
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

#20644 Fix volume control keys for LG Gram
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, squash-on-merge

#20645 systemd-analyze: use config value in RestrictNamespaces id
  man/systemd-analyze.xml
  src/analyze/analyze-security.c
  test/units/testsuite-63.sh
Labels: analyze, good-to-merge/waiting-for-ci 👍, squash-on-merge

#20544 systemd-analyze: add a new option to generate JSON output for security analysis table
  man/systemd-analyze.xml
  shell-completion/bash/systemd-analyze
  shell-completion/zsh/_systemd-analyze
  src/analyze/analyze-security.c
  src/analyze/analyze-security.h
  src/analyze/analyze.c
  src/shared/format-table.c
  src/shared/format-table.h
Labels: analyze, good-to-merge/waiting-for-ci 👍

#20527 hwdb: Allow end-users root-less access to USB analysers
  hwdb.d/70-analyzers.hwdb
  hwdb.d/meson.build
  hwdb.d/parse_hwdb.py
  rules.d/50-udev-default.rules.in
  src/login/70-uaccess.rules.in
Labels: hwdb, needs-review

#20465 portabled: validate SYSEXT_LEVEL when attaching
  src/portable/portable.c
  src/portable/portable.h
  src/shared/dissect-image.c
  src/shared/dissect-image.h
Labels: portable, needs-review

#20618 use path_find_{first,last}_component() at more several places
  src/basic/fs-util.c
  src/basic/mkdir.c
  src/test/test-fs-util.c
  src/test/test-udev.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#20656 network: fix wrong flag: manage_foreign_routes -> manage_foreign_rules
  src/network/networkd-routing-policy-rule.c
Labels: network, good-to-merge/waiting-for-ci 👍

#20351 test: udev storage tests
  test/TEST-64-UDEV-STORAGE/Makefile
  test/TEST-64-UDEV-STORAGE/test.sh
  test/units/testsuite-64.service
  test/units/testsuite-64.sh
Labels: udev, tests, good-to-merge/waiting-for-ci 👍

#20659 test: rename TEST-63-ANALYZE to solve conflict
  test/TEST-65-ANALYZE/Makefile
  test/TEST-65-ANALYZE/test.sh
  test/units/testsuite-65.service
  test/units/testsuite-65.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#20667 Tweaks to documentation about portable services
  docs/PORTABLE_SERVICES.md
Labels: documentation, good-to-merge/waiting-for-ci 👍

#20665 explicitly close FIDO2 devices
  src/shared/libfido2-util.c
  src/shared/libfido2-util.h
Labels: good-to-merge/waiting-for-ci 👍, fido2

#20669 test: rename `dracut_install` to `image_install`
  test/TEST-06-SELINUX/test.sh
  test/TEST-13-NSPAWN-SMOKE/test.sh
  test/TEST-55-OOMD/test.sh
  test/test-functions
Labels: tests, good-to-merge/waiting-for-ci 👍

#20662 core: fix free undefined pointer when strdup failed in the first loop
  src/core/load-fragment.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#20670 sd-event: take ref on event loop object before dispatching event sources
  src/libsystemd/sd-event/sd-event.c
Labels: bug 🐛, sd-event, good-to-merge/waiting-for-ci 👍

#20671 analyze: ignore dependencies with security --offline
  src/analyze/analyze-security.c
Labels: analyze, good-to-merge/waiting-for-ci 👍

#20686 cryptsetup-tokens: fix typo in tpm2 token dump output
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-systemd-tpm2.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍, tpm2

#20693 nss-systemd: ensure returned strings point into provided buffer
  src/nss-systemd/nss-systemd.c
  src/nss-systemd/userdb-glue.c
Labels: nss

#20689 shared: Extract common LogControl CLI code to verb-log-control.h
  src/analyze/analyze.c
  src/resolve/resolvectl.c
  src/shared/meson.build
  src/shared/verb-log-control.c
  src/shared/verb-log-control.h
  src/systemctl/systemctl-log-setting.c
Labels: resolve, systemctl, good-to-merge/waiting-for-ci 👍

#20695 basic/linux: Sync if_arp.h with Linux 5.14
  src/basic/linux/if_arp.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#19417 sd-boot: Support installing new devicetree
  src/boot/efi/boot.c
  src/boot/efi/devicetree.c
  src/boot/efi/devicetree.h
  src/boot/efi/meson.build
  src/boot/efi/missing_efi.h
Labels: new-feature, boot, good-to-merge/waiting-for-ci 👍

#20698 id128: clarify that the "well-known" IDs are about GPT partition types
  man/systemd-id128.xml
  src/id128/id128.c
Labels: good-to-merge/waiting-for-ci 👍, sd-id128

#20658 core: Parse log environment settings again after applying manager environment
  src/core/main.c
Labels: pid1

#20703 dissect: various small tweaks/tougher checks/refactoring of GPT dissection code
  src/dissect/dissect.c
  src/nspawn/nspawn.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
Labels: good-to-merge/waiting-for-ci 👍, dissect

#20696 network: fix handling of network interface renaming
  src/network/networkd-link.c
Labels: network, good-to-merge/waiting-for-ci 👍

#20702 network: several trivial cleanups
  src/network/networkd-ipv4acd.c
  src/network/networkd-ipv4acd.h
  src/network/networkd-link.c
  src/network/networkd-route.c
  src/network/networkd-routing-policy-rule.c
Labels: network, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#20699 network: do not drop foreign configs when carrier of unmanaged interface is lost
  src/network/networkd-link.c
  src/network/networkd-neighbor.c
  src/network/networkd-nexthop.c
  src/network/networkd-routing-policy-rule.c
Labels: network, good-to-merge/waiting-for-ci 👍

#20709 tpm-util: fix TPM parameter handling
  src/shared/tpm2-util.c
Labels: good-to-merge/waiting-for-ci 👍, tpm2

#20710 sd-boot: Fix assertion fail
  src/boot/efi/shim.c
Labels: boot, good-to-merge/waiting-for-ci 👍

#20714 test: tweak parameters for TEST-55-OOMD
  test/units/testsuite-55-workload.slice
  test/units/testsuite-55.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, oomd

#20705 test: skip oomd test on a unified container on a hybrid host
  src/basic/cgroup-util.c
  src/nspawn/nspawn-cgroup.c
  src/oom/oomd.c
  src/oom/test-oomd-util.c
  src/shared/mount-setup.c
  units/systemd-oomd.service.in
Labels: cgroups, tests, good-to-merge/waiting-for-ci 👍, units, oomd

#20672 test: more storage-related tests
  test/TEST-64-UDEV-STORAGE/test.sh
  test/test-functions
  test/units/testsuite-64.sh
Labels: udev, tests

#20715 udev-node: several follow-ups
  src/udev/udev-node.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#20701 network: several address_update() related cleanups
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-link.c
  src/network/networkd-link.h
Labels: network

#20716 tpm2: be smarter when picking primary key algorithm and PCR bank
  TODO
  src/basic/memory-util.c
  src/basic/memory-util.h
  src/cryptenroll/cryptenroll-tpm2.c
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-systemd-tpm2.c
  src/cryptsetup/cryptsetup-tokens/luks2-tpm2.c
  src/cryptsetup/cryptsetup-tokens/luks2-tpm2.h
  src/cryptsetup/cryptsetup-tpm2.c
  src/cryptsetup/cryptsetup-tpm2.h
  src/cryptsetup/cryptsetup.c
  src/partition/repart.c
  src/shared/creds-util.c
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
Labels: util-lib, cryptsetup, good-to-merge/waiting-for-ci 👍, tpm2

#20628 virt: Improve detection of EC2 metal instances
  src/basic/virt.c
Labels: good-to-merge/waiting-for-ci 👍, detect-virt

#20719 escape: improve logging when escaping paths that are slightly non-con…
  src/escape/escape.c
Labels: good-to-merge/waiting-for-ci 👍, escape

#20722 test-network: kernel treats the lowest IP address as unicast since 5.14
  test/test-network/systemd-networkd-tests.py
Labels: tests

#20713 udev-watch: retry to save watch handle on error
  src/libsystemd/sd-device/device-private.c
  src/udev/udev-watch.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#20661 Add additional Dell models that require ACCEL_LOCATION=base
  hwdb.d/60-sensor.hwdb
Labels: hwdb, please-review

#20700 network: several DHCP related cleanups
  man/systemd.network.xml
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp-common.h
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-ndisc.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
  src/network/networkd-route.c
  src/network/networkd-route.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#20720 docs: generic info about adding directives in ARCHITECTURE.md
  docs/ARCHITECTURE.md
Labels: documentation, good-to-merge/waiting-for-ci 👍

#20697 core: rewrite IPAddressAllow/Deny= parser
  src/analyze/analyze-security.c
  src/basic/in-addr-util.c
  src/basic/in-addr-util.h
  src/core/bpf-firewall.c
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-cgroup.c
  src/core/ip-address-access.c
  src/core/ip-address-access.h
  src/core/load-fragment-gperf.gperf.in
  src/core/manager.h
  src/core/meson.build
  src/core/unit.h
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp-common.h
  src/network/networkd-dhcp6.c
  src/network/networkd-network-gperf.gperf
  src/shared/in-addr-prefix-util.c
  src/shared/in-addr-prefix-util.h
  src/shared/meson.build
  src/test/meson.build
  src/test/test-bpf-firewall.c
  src/test/test-in-addr-prefix-util.c
  src/test/test-in-addr-util.c
Labels: network, pid1, util-lib, good-to-merge/waiting-for-ci 👍, optimization

#20730 man: extend documentation about TPM2 PCRs
  man/systemd-cryptenroll.xml
Labels: documentation, cryptsetup, good-to-merge/waiting-for-ci 👍, tpm2

#20740 Translations update from Weblate
  po/fi.po
Labels: l10n 🌍

#20739 Fix error building repart with no libcryptsetup
  src/partition/repart.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍, squash-on-merge

#20732 sd-journal: Don't compare hashes from different journal files
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#20726 Respect install_sysconfdir
  src/core/meson.build
  src/login/meson.build
Labels: meson, please-review

#20745 meson: add missing include directory when using xkbcommon
  meson.build
Labels: good-to-merge/waiting-for-ci 👍

#20742 add StartupAllowedCPUs= and StartupAllowedMemoryNodes= directives
  docs/TRANSIENT-SETTINGS.md
  man/org.freedesktop.systemd1.xml
  man/systemd.resource-control.xml
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-cgroup.c
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/shared/bus-unit-util.c
  test/fuzz/fuzz-unit-file/directives.mount
  test/fuzz/fuzz-unit-file/directives.scope
  test/fuzz/fuzz-unit-file/directives.service
  test/fuzz/fuzz-unit-file/directives.slice
  test/fuzz/fuzz-unit-file/directives.socket
  test/fuzz/fuzz-unit-file/directives.swap
Labels: cgroups, documentation, pid1, good-to-merge/waiting-for-ci 👍

#20728 network: introduce NetworkConfigSource/State
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-neighbor.c
  src/network/networkd-neighbor.h
  src/network/networkd-nexthop.c
  src/network/networkd-nexthop.h
  src/network/networkd-route.c
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-routing-policy-rule.h
  src/network/networkd-util.c
  src/network/networkd-util.h
Labels: network, good-to-merge/waiting-for-ci 👍

#20729 ethtool-util: support more offloading feature settings
  src/shared/ethtool-util.c
  src/shared/ethtool-util.h
  src/udev/net/link-config-gperf.gperf
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#20750 test: document autopkgtest CI infrastructure
  test/README.testsuite
Labels: documentation, tests, quick-review 🏃‍♂️

#20376 journalctl: never fail at flushing when the flushed flag is set
  src/journal/journalctl.c
Labels: journal, quick-review 🏃‍♂️, please-review

#20650 Watchdog rework
  src/core/main.c
  src/core/manager.c
  src/core/manager.h
  src/shared/watchdog.c
  src/shared/watchdog.h
  src/shutdown/shutdown.c
  src/test/test-watchdog.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, watchdog

#20749 sd-journal: Ignore data threshold if set to zero in sd_journal_enumerate_fields()
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#20751 two minor watchdog tweaklets
  src/shared/watchdog.c
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍, watchdog

#20746 various sysctl-util.c cleanups
  src/basic/fileio.c
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/basic/sysctl-util.c
  src/test/test-sysctl-util.c
Labels: util-lib, sysctl, good-to-merge/waiting-for-ci 👍

#20731 hostnamed: add support for getting the chassis type from device-tree
  src/basic/nulstr-util.c
  src/basic/nulstr-util.h
  src/hostname/hostnamed.c
Labels: hostname, good-to-merge/waiting-for-ci 👍

#20483 sd-boot: Add support for changing console mode at runtime
  man/systemd-boot.xml
  src/boot/efi/boot.c
  src/boot/efi/console.c
  src/boot/efi/console.h
  src/boot/efi/util.c
  src/boot/efi/util.h
Labels: boot, good-to-merge/waiting-for-ci 👍

#20738 ci: build with clang-13
  .github/workflows/build_test.yml
  src/basic/process-util.c
  src/basic/unit-file.c
  src/core/manager.c
  src/core/namespace.c
  src/cryptsetup/cryptsetup.c
  src/home/homed.c
  src/initctl/initctl.c
  src/journal-remote/journal-remote-main.c
  src/journal-remote/journal-remote.c
  src/journal-remote/journal-upload.c
  src/journal/journald-server.c
  src/libsystemd/sd-device/sd-device.c
  src/libsystemd/sd-journal/test-catalog.c
  src/login/logind-core.c
  src/login/logind-session.c
  src/login/logind.c
  src/network/networkd-dhcp-common.c
  src/network/networkd.c
  src/network/wait-online/wait-online.c
  src/nspawn/nspawn.c
  src/nss-systemd/userdb-glue.c
  src/oom/oomd-manager.c
  src/oom/oomd.c
  src/partition/repart.c
  src/resolve/resolved-dns-cache.c
  src/resolve/resolved-dns-query.c
  src/resolve/resolved.c
  src/shared/barrier.c
  src/shared/dev-setup.c
  src/shared/utmp-wtmp.c
  src/timesync/timesyncd.c
  src/tty-ask-password-agent/tty-ask-password-agent.c
  src/udev/udevd.c
  src/userdb/userdbd.c
Labels: udev, network, journal, resolve, timesync, journal-remote, good-to-merge/waiting-for-ci 👍, ci

#20721 test: udev/LVM storage tests
  test/TEST-64-UDEV-STORAGE/test.sh
  test/test-functions
  test/units/testsuite-64.sh
Labels: udev, tests, good-to-merge/waiting-for-ci 👍

#20758 test: several cleanups for TEST-17-UDEV
  test/units/testsuite-17.01.sh
  test/units/testsuite-17.03.sh
  test/units/testsuite-17.04.sh
  test/units/testsuite-17.05.sh
  test/units/testsuite-17.06.sh
Labels: tests

#20743 fileio: start with 4k buffer for procfs
  src/basic/fileio.c
Labels: util-lib, please-review

#20752 journal,network,timesync: fix segfault on 32bit timeval/timespec systems
  src/journal/journald-server.c
  src/libsystemd-network/icmp6-util.c
  src/timesync/timesyncd-manager.c
Labels: network, journal, timesync

#20763 test-fileio: test read_virtual_file() with more files from /proc
  src/basic/fileio.c
  src/test/test-fileio.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#20769 Translations update from Weblate
  po/de.po
  po/pt.po
Labels: l10n 🌍

#20773 ci: temporarily set -Wno-deprecated-declarations in Packit
  .packit.yml
Labels: ci

#20780 test: btrfs-related udev tests
  test/TEST-64-UDEV-STORAGE/test.sh
  test/test-functions
  test/units/testsuite-64.service
  test/units/testsuite-64.sh
Labels: udev, tests, good-to-merge/waiting-for-ci 👍

#20770 add fuzz for Asus UX362FA
  hwdb.d/60-evdev.hwdb
Labels: hwdb, ci-failure-appears-unrelated

#20591 boot: don't build bootctl when -Dgnu-efi=false is set
  meson.build
  shell-completion/bash/meson.build
  shell-completion/zsh/meson.build
  units/meson.build
Labels: boot, units, meson, downstream/rhel, please-review

#20791 units: hookup systemd-boot-update.service
  units/meson.build
Labels: boot, units, quick-review 🏃‍♂️

#20790 various EFI/boot fixes
  src/boot/efi/boot.c
  src/boot/efi/measure.c
  src/boot/efi/missing_efi.h
  src/boot/efi/stub.c
Labels: boot

#20690 oom: Support for user services
  src/basic/def.h
  src/core/core-varlink.c
  src/core/manager.c
  src/core/manager.h
  src/oom/oomd-manager.c
  src/oom/oomd-manager.h
  src/oom/oomd.c
  test/test-functions
  test/units/testsuite-55.service
  test/units/testsuite-55.sh
  units/meson.build
  units/systemd-oomd.service.in
  units/systemd-oomd.socket
Labels: cgroups, pid1, good-to-merge/waiting-for-ci 👍, units, ci-failure-appears-unrelated, oomd

#20774 mkosi: Fix CI
  .github/workflows/mkosi.yml
Labels: mkosi

#20804 unit: install the systemd-bless-boot.service only if we have gnu-efi
  units/meson.build
Labels: good-to-merge/waiting-for-ci 👍, units

#20652 Some Fixes for SYSTEMD.NETDEV(5)
  man/systemd.netdev.xml
Labels: network, documentation

#20756 hwdb: Permit unsetting power/persist for USB devices
  hwdb.d/60-autosuspend-fingerprint-reader.hwdb
  hwdb.d/60-autosuspend.hwdb
  hwdb.d/parse_hwdb.py
  rules.d/60-autosuspend.rules
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#20805 Add Logitech USB-PS/2 M-BT96A to hwdb
  hwdb.d/70-mouse.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#20767 portable: copy SELinux label when extracting units from images
  meson.build
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/portable/portable.c
  src/portable/portable.h
  src/shared/selinux-util.c
  src/shared/selinux-util.h
Labels: selinux, ci-failure-appears-unrelated, portable, please-review

#20806 test: make the installation of the debug tools optional in the image
  test/test-functions
Labels: tests, good-to-merge/waiting-for-ci 👍

#20807 sd-dhcp6-client: ignore IAs which do not match IAID
  src/libsystemd-network/dhcp6-internal.h
  src/libsystemd-network/dhcp6-option.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/test-dhcp6-client.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#20810 userdb: fix if-else to allow NameServiceSwitch lookups
  src/userdb/userwork.c
Labels: good-to-merge/waiting-for-ci 👍, userdb

#20819 docs: clarify order of events in cgroup scope creation
  docs/CGROUP_DELEGATION.md
Labels: documentation, good-to-merge/waiting-for-ci 👍

#20817 bootctl: Fix update not adding EFI entry if Boot IDs are non-consecutive
  src/boot/bootctl.c
Labels: boot

#20821 smack-util: tiny simplification
  src/shared/smack-util.c
Labels: smack, good-to-merge/waiting-for-ci 👍

#20789 efi-stub: when booting a kernel foo.efi then pack foo.efi.extra.d/*.{cred,raw} as an initrd
  man/rules/meson.build
  man/systemd-boot.xml
  man/systemd-stub.xml
  meson.build
  meson_options.txt
  src/boot/bootctl.c
  src/boot/efi/boot.c
  src/boot/efi/cpio.c
  src/boot/efi/cpio.h
  src/boot/efi/devicetree.c
  src/boot/efi/drivers.c
  src/boot/efi/drivers.h
  src/boot/efi/linux.c
  src/boot/efi/measure.c
  src/boot/efi/measure.h
  src/boot/efi/meson.build
  src/boot/efi/random-seed.c
  src/boot/efi/splash.c
  src/boot/efi/splash.h
  src/boot/efi/stub.c
  src/boot/efi/util.c
  src/boot/efi/util.h
  src/fundamental/efi-loader-features.h
Labels: new-feature, boot, good-to-merge/waiting-for-ci 👍

#20826 network: disable event sources before unref them
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-dhcp-server.c
  src/libsystemd-network/sd-ipv4acd.c
  src/libsystemd-network/sd-lldp.c
  src/libsystemd-network/sd-ndisc.c
  src/libsystemd-network/sd-radv.c
  src/network/networkd-lldp-tx.c
  src/network/networkd-route.c
Labels: network, dhcp, lldp, ndisc

#20828 link: connect 5 more properties to ethtool features
  man/systemd.link.xml
  src/udev/net/link-config-gperf.gperf
  test/fuzz/fuzz-link-parser/directives.link
Labels: udev

#20832 Translations update from Weblate
  po/id.po
Labels: l10n 🌍

#20827 main: use strv_extendf() where appropriate
  src/core/main.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#20834 man: fix a reference in timedatectl man page
  man/timedatectl.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#20831 user-record: switch the default LUKS PBKDF to argon2id to match cryptsetup
  src/shared/user-record.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, userdb

#20839 basic: delete loadavg.h copy
  src/basic/linux/loadavg.h
  src/basic/linux/update.sh
  src/basic/meson.build
  src/basic/parse-util.c
  src/basic/parse-util.h
  src/oom/oomd-manager.c
  src/oom/oomd-util.c
  src/test/test-parse-util.c
  src/test/test-psi-util.c
Labels: good-to-merge/waiting-for-ci 👍

#20838 meson: refuse implicit int <-> pointer conversion
  meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#20843 hwbd: 60-sensor.hwdb: Add Lenovo ThinkPad Yoga 11e 5th Gen.
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#20849 Add license tags to doc pages, fixups and more internal links in man pages
  docs/ARCHITECTURE.md
  docs/AUTOMATIC_BOOT_ASSESSMENT.md
  docs/BLOCK_DEVICE_LOCKING.md
  docs/BOOT_LOADER_INTERFACE.md
  docs/BOOT_LOADER_SPECIFICATION.md
  docs/CGROUP_DELEGATION.md
  docs/CODE_OF_CONDUCT.md
  docs/CODE_QUALITY.md
  docs/CODING_STYLE.md
  docs/CONTAINER_INTERFACE.md
  docs/CONTRIBUTING.md
  docs/CONVERTING_TO_HOMED.md
  docs/COREDUMP_PACKAGE_METADATA.md
  docs/DESKTOP_ENVIRONMENTS.md
  docs/DISCOVERABLE_PARTITIONS.md
  docs/DISTRO_PORTING.md
  docs/ENVIRONMENT.md
  docs/GROUP_RECORD.md
  docs/GVARIANT-SERIALIZATION.md
  docs/HACKING.md
  docs/HOME_DIRECTORY.md
  docs/INITRD_INTERFACE.md
  docs/JOURNAL_FILE_FORMAT.md
  docs/JOURNAL_NATIVE_PROTOCOL.md
  docs/PASSWORD_AGENTS.md
  docs/PORTABILITY_AND_STABILITY.md
  docs/PORTABLE_SERVICES.md
  docs/PREDICTABLE_INTERFACE_NAMES.md
  docs/RANDOM_SEEDS.md
  docs/RELEASE.md
  docs/RESOLVED-VPNS.md
  docs/ROOT_STORAGE_DAEMONS.md
  docs/SECURITY.md
  docs/TEMPORARY_DIRECTORIES.md
  docs/TESTING_WITH_SANITIZERS.md
  docs/TRANSIENT-SETTINGS.md
  docs/TRANSLATORS.md
  docs/UIDS-GIDS.md
  docs/USERDB_AND_DESKTOPS.md
  docs/USER_GROUP_API.md
  docs/USER_NAMES.md
  docs/USER_RECORD.md
  docs/index.md
  man/systemd-cryptenroll.xml
  man/systemd-sysv-generator.xml
  man/systemd.automount.xml
  man/systemd.device.xml
  man/systemd.exec.xml
  man/systemd.mount.xml
  man/systemd.path.xml
  man/systemd.resource-control.xml
  man/systemd.scope.xml
  man/systemd.service.xml
  man/systemd.slice.xml
  man/systemd.socket.xml
  man/systemd.swap.xml
  man/systemd.target.xml
  man/systemd.timer.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#20768 cgroups: apply StartupAllowedCPUs= and StartupAllowedMemoryNodes= during shutdown
  man/systemd.resource-control.xml
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/job.c
  src/core/unit.c
  test/fuzz/fuzz-unit-file/directives.mount
  test/fuzz/fuzz-unit-file/directives.scope
  test/fuzz/fuzz-unit-file/directives.service
  test/fuzz/fuzz-unit-file/directives.slice
  test/fuzz/fuzz-unit-file/directives.socket
  test/fuzz/fuzz-unit-file/directives.swap
Labels: cgroups, pid1, good-to-merge/waiting-for-ci 👍

#20854 parse-util: prefix load average macros with LOAD_AVG_
  src/basic/parse-util.c
  src/basic/parse-util.h
  src/oom/oomd-manager.c
  src/oom/oomd-util.c
  src/test/test-parse-util.c
  src/test/test-psi-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#20858 resolved: suppress writing DNS server info into /etc/resolv.conf for …
  src/resolve/resolved-resolv-conf.c
Labels: resolve

#20855 Update net name schemes
  meson_options.txt
  src/shared/netif-naming-scheme.c
Labels: good-to-merge/waiting-for-ci 👍, meson, predictable-ifnames

#20846 network: move LLDP transmission feature to libsystemd-network
  src/basic/hostname-util.h
  src/libsystemd-network/fuzz-lldp-rx.c
  src/libsystemd-network/fuzz-lldp-rx.options
  src/libsystemd-network/lldp-neighbor.c
  src/libsystemd-network/lldp-neighbor.h
  src/libsystemd-network/lldp-rx-internal.h
  src/libsystemd-network/meson.build
  src/libsystemd-network/sd-lldp-rx.c
  src/libsystemd-network/sd-lldp-tx.c
  src/libsystemd-network/sd-lldp.c
  src/libsystemd-network/test-lldp-rx.c
  src/network/networkctl.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-lldp-rx.c
  src/network/networkd-lldp-tx.c
  src/network/networkd-lldp-tx.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/test-network-tables.c
  src/systemd/meson.build
  src/systemd/sd-lldp-rx.h
  src/systemd/sd-lldp-tx.h
  src/systemd/sd-lldp.h
  test/fuzz/fuzz-lldp-rx/basic
  test/fuzz/fuzz-lldp-rx/incomplete
  test/fuzz/fuzz-lldp-rx/oui
Labels: network, lldp, good-to-merge/waiting-for-ci 👍

#20861 sd-lldp-rx: several trivial cleanups
  src/basic/prioq.c
  src/basic/prioq.h
  src/libsystemd-network/lldp-neighbor.c
  src/libsystemd-network/lldp-network.c
  src/libsystemd-network/sd-lldp-rx.c
  src/systemd/sd-lldp-rx.h
Labels: network, lldp, good-to-merge/waiting-for-ci 👍

#20837 CI: add code coverage reports via lcov and coveralls.io
  .github/workflows/unit_tests.sh
  .github/workflows/unit_tests.yml
  README.md
  src/test/meson.build
Labels: tests

#20262 Add ExecSearchPath= parameter to specify a directory where binaries e…
  man/org.freedesktop.systemd1.xml
  man/systemd.exec.xml
  src/analyze/analyze-verify.c
  src/basic/path-util.c
  src/basic/path-util.h
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/run/run.c
  src/shared/bus-unit-util.c
  src/test/test-execute.c
  src/test/test-path-util.c
  test/fuzz/fuzz-unit-file/directives.mount
  test/fuzz/fuzz-unit-file/directives.service
  test/fuzz/fuzz-unit-file/directives.socket
  test/fuzz/fuzz-unit-file/directives.swap
  test/test-execute/exec-execsearchpath-environment-path-set.service
  test/test-execute/exec-execsearchpath-environment.service
  test/test-execute/exec-execsearchpath-environmentfile-set.service
  test/test-execute/exec-execsearchpath-environmentfile.service
  test/test-execute/exec-execsearchpath-passenvironment-set.service
  test/test-execute/exec-execsearchpath-passenvironment.service
  test/test-execute/exec-execsearchpath-unit-specifier.service
  test/test-execute/exec-execsearchpath.service
Labels: pid1, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#20864 mkosi: Remove build script umask workaround
  mkosi.build
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#20218 core: implement RuntimeMaxDeltaSec directive
  docs/TRANSIENT-SETTINGS.md
  man/org.freedesktop.systemd1.xml
  man/systemd.scope.xml
  man/systemd.service.xml
  src/core/dbus-scope.c
  src/core/dbus-service.c
  src/core/load-fragment-gperf.gperf.in
  src/core/scope.c
  src/core/scope.h
  src/core/service.c
  src/core/service.h
  src/shared/bus-unit-util.c
  test/fuzz/fuzz-unit-file/directives.scope
  test/fuzz/fuzz-unit-file/directives.service
Labels: documentation, pid1, good-to-merge/waiting-for-ci 👍

#20863 cryptsetup: handle more gracefully if "keyslots" LUKS2 JSON header fi…
  src/cryptenroll/cryptenroll-tpm2.c
  src/cryptsetup/cryptsetup-fido2.c
  src/cryptsetup/cryptsetup-pkcs11.c
  src/cryptsetup/cryptsetup-tpm2.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍

#20691 dissect: add support for GPT images with embedded dm-verity signatures
  TODO
  docs/DISCOVERABLE_PARTITIONS.md
  docs/ENVIRONMENT.md
  src/core/namespace.c
  src/dissect/dissect.c
  src/nspawn/nspawn.c
  src/resolve/resolved-dnstls-openssl.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/shared/gpt.c
  src/shared/gpt.h
  src/shared/openssl-util.h
  src/sysext/sysext.c
  test/TEST-50-DISSECT/test.sh
  test/units/testsuite-50.sh
Labels: resolve, documentation, new-feature, good-to-merge/waiting-for-ci 👍, dissect

#20870 Hwdb 2 accel quirks
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#20860 libsystemd-network: make sd_dhcp_client_get_ifname() or friends return negative errno
  src/basic/format-util.c
  src/basic/format-util.h
  src/basic/socket-util.c
  src/libsystemd-network/dhcp-internal.h
  src/libsystemd-network/dhcp-server-internal.h
  src/libsystemd-network/dhcp6-internal.h
  src/libsystemd-network/lldp-rx-internal.h
  src/libsystemd-network/ndisc-internal.h
  src/libsystemd-network/network-common.c
  src/libsystemd-network/network-common.h
  src/libsystemd-network/radv-internal.h
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-dhcp-server.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/sd-ipv4acd.c
  src/libsystemd-network/sd-ipv4ll.c
  src/libsystemd-network/sd-lldp-rx.c
  src/libsystemd-network/sd-lldp-tx.c
  src/libsystemd-network/sd-ndisc.c
  src/libsystemd-network/sd-radv.c
  src/libsystemd/sd-device/sd-device.c
  src/libsystemd/sd-netlink/netlink-util.c
  src/machine/machinectl.c
  src/network/networkctl.c
  src/network/networkd-link.c
  src/resolve/resolvectl.c
  src/resolve/resolved-dns-cache.c
  src/shared/format-table.c
  src/shared/log-link.h
  src/systemd/sd-dhcp-client.h
  src/systemd/sd-dhcp-server.h
  src/systemd/sd-dhcp6-client.h
  src/systemd/sd-ipv4acd.h
  src/systemd/sd-ipv4ll.h
  src/systemd/sd-lldp-rx.h
  src/systemd/sd-lldp-tx.h
  src/systemd/sd-ndisc.h
  src/systemd/sd-radv.h
  src/test/test-nss-hosts.c
Labels: network, resolve, good-to-merge/waiting-for-ci 👍

#20873 core: fix the return type for xxx_running_timeout() functions
  src/core/scope.c
  src/core/service.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#20865 Allow defining new naming scheme entries as configuration time
  meson.build
  meson_options.txt
  src/shared/netif-naming-scheme.c
  src/shared/netif-naming-scheme.h
  src/test/meson.build
  src/test/test-net-naming-scheme.c
Labels: good-to-merge/waiting-for-ci 👍, predictable-ifnames

#20676 sysctl: minimize side effects when running `systemd-sysctl`
  src/basic/fileio.c
  src/basic/fileio.h
  src/basic/string-util.c
  src/basic/string-util.h
  src/basic/sysctl-util.c
  src/test/test-string-util.c
Labels: sysctl, good-to-merge/waiting-for-ci 👍

#20880 CI: run GCC unit test job on push to main
  .github/workflows/unit_tests.yml
Labels: tests

#20802 network: receive nl80211 multicast messages
  src/basic/linux/nl80211.h
  src/basic/missing_network.h
  src/libsystemd/sd-netlink/netlink-genl.c
  src/libsystemd/sd-netlink/netlink-internal.h
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-socket.c
  src/libsystemd/sd-netlink/netlink-types-genl.c
  src/libsystemd/sd-netlink/netlink-util.h
  src/libsystemd/sd-netlink/sd-netlink.c
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-wifi.c
  src/network/networkd-wifi.h
  src/network/networkd.c
  src/network/test-network.c
  src/shared/net-condition.c
  src/shared/net-condition.h
  src/shared/wifi-util.c
  src/shared/wifi-util.h
  src/systemd/sd-netlink.h
Labels: network, sd-netlink, good-to-merge/waiting-for-ci 👍

#20879 resolvconf-compat: make "-u" operation a NOP
  src/resolve/resolvconf-compat.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#20878 core: drop "const" from NeedsDaemonReload unit dbus property
  man/org.freedesktop.systemd1.xml
  src/core/dbus-unit.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#20875 basic/unit-file: don't filter out names starting with dot
  src/basic/unit-file.c
  test/units/testsuite-65.sh
Labels: pid1, good-to-merge/with-minor-suggestions

#20599 hwdb: sensors: Fix some modalias matches no longer working with newer kernels
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#20823 test: iSCSI-related udev tests
  test/TEST-64-UDEV-STORAGE/test.sh
  test/test-functions
  test/units/testsuite-64.sh
Labels: udev, tests, good-to-merge/waiting-for-ci 👍

#20881 network: [doc] Move "Independent=" flag to the VXLAN section
  man/systemd.netdev.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, squash-on-merge

#20877 network: do not update state files when running in test mode
  .github/workflows/unit_tests.sh
  src/network/fuzz-netdev-parser.c
  src/network/fuzz-network-parser.c
  src/network/networkd-link.c
  src/network/networkd-lldp-rx.c
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-state-file.c
  src/network/networkd.c
  src/network/test-network.c
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#20871 udev: teach udevadm --property=NAME and --value options
  man/udevadm.xml
  shell-completion/bash/udevadm
  shell-completion/zsh/_udevadm
  src/basic/strv.c
  src/basic/strv.h
  src/test/test-strv.c
  src/udev/udevadm-info.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#20226 network: introduce NetworkConfigSource and NetworkConfigState
  src/network/netdev/l2tp-tunnel.c
  src/network/networkd-address-pool.c
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-dhcp-server.c
  src/network/networkd-dhcp-server.h
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-dhcp6.h
  src/network/networkd-ipv4acd.c
  src/network/networkd-ipv4acd.h
  src/network/networkd-ipv4ll.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-ndisc.c
  src/network/networkd-ndisc.h
  src/network/networkd-network.c
  src/network/networkd-nexthop.c
  src/network/networkd-queue.c
  src/network/networkd-queue.h
  src/network/networkd-radv.c
  src/network/networkd-radv.h
  src/network/networkd-route.c
  src/network/networkd-route.h
  src/network/networkd-setlink.c
  src/network/test-network.c
  src/network/test-networkd-conf.c
Labels: network, good-to-merge/waiting-for-ci 👍

#20824 sd-dhcp6-client: several cleanups for parsing options
  src/libsystemd-network/dhcp6-internal.h
  src/libsystemd-network/dhcp6-lease-internal.h
  src/libsystemd-network/dhcp6-option.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/sd-dhcp6-lease.c
  src/libsystemd-network/test-dhcp6-client.c
  src/systemd/sd-dhcp6-lease.h
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#20568 core/mount: add implicit unit dependencies even if when mount unit is…
  src/core/mount.c
Labels: pid1, please-review

#20219 hwdb: Remove intel-hid rfkill mask
  NEWS
  hwdb.d/60-keyboard.hwdb
Labels: documentation, hwdb, please-review

#20883 headers: update bpf_insn.h to dual license
  docs/CONTRIBUTING.md
  src/shared/linux/bpf_insn.h
Labels: documentation, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#20876 creds-util: switch to OpenSSL 3.0 APIs
  .packit.yml
  src/shared/creds-util.c
  src/shared/openssl-util.c
  src/shared/openssl-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#20884 tree-wide: the last batch of shellcheck shenanigans
  .github/workflows/build_test.sh
  .github/workflows/linter.yml
  .github/workflows/unit_tests.sh
  .semaphore/semaphore-runner.sh
  coccinelle/run-coccinelle.sh
  configure
  test/TEST-13-NSPAWN-SMOKE/test.sh
  test/TEST-57-ONSUCCESS-UPHOLD/test.sh
  test/TEST-58-REPART/test.sh
  test/TEST-59-RELOADING-RESTART/test.sh
  test/TEST-60-MOUNT-RATELIMIT/test.sh
  test/TEST-62-RESTRICT-IFACES/test.sh
  test/hwdb-test.sh
  test/mocks/fsck
  test/run-integration-tests.sh
  test/test-functions
  test/test-network-generator-conversion.sh
  test/test-path-util/script.sh
  test/testsuite-16.units/extend-timeout.sh
  test/udev-dmi-memory-id-test.sh
  test/units/testsuite-04.sh
  test/units/testsuite-17.06.sh
  test/units/testsuite-54.sh
  test/units/testsuite-61.sh
  test/units/testsuite-62.sh
  test/units/testsuite-64.sh
  tools/get-coverity.sh
  tools/meson-build.sh
  tools/oss-fuzz.sh
  units/meson-add-wants.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, units, ci, coccinelle
