Repository systemd/systemd, pull requests merged in 2021-11, with the labels that each got.

#21201 core: ignore failure on setting smack process label when allowed
  src/core/execute.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#21198 sd-dhcp6: drop unused functions
  src/libsystemd-network/dhcp6-lease-internal.h
  src/libsystemd-network/sd-dhcp6-lease.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#21197 sd-lldp-tx: drop unused and useless function
  src/libsystemd-network/sd-lldp-tx.c
  src/systemd/sd-lldp-tx.h
Labels: network, lldp, good-to-merge/waiting-for-ci 👍

#21199 sd-dhcp6-client: trivial cleanups
  src/libsystemd-network/sd-dhcp6-client.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#21200 sd-dhcp6-client: introduce sd_dhcp6_lease_get_server_address()
  src/libsystemd-network/dhcp6-lease-internal.h
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/sd-dhcp6-lease.c
  src/network/networkd-dhcp6.c
  src/systemd/sd-dhcp6-lease.h
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#21204 sd-dhcp6-client: further cleanups
  src/libsystemd-network/dhcp6-lease-internal.h
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/sd-dhcp6-lease.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#21209 network: also set MTU for veth peer interface
  src/network/netdev/veth.c
  test/test-network/conf/25-veth-mtu.netdev
  test/test-network/conf/netdev-link-local-addressing-yes.network
  test/test-network/systemd-networkd-tests.py
Labels: network, good-to-merge/waiting-for-ci 👍

#21207 test: support the new lvm udev autoactivation
  test/test-functions
  test/units/testsuite-64.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#21212 man: document cryptenroll limitations
  man/systemd-cryptenroll.xml
Labels: documentation, cryptsetup, good-to-merge/waiting-for-ci 👍

#19670 test-keymap-util: always use kbd-model-map we ship
  src/locale/test-keymap-util.c
  src/test/meson.build
  test/meson.build
  test/test-keymap-util/kbd-model-map
Labels: tests

#21219 missing: add missing header inclusions
  src/basic/missing_keyctl.h
  src/basic/missing_syscall.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#21218 percent-util: clamp percent range before converting to 2^32 scale
  src/basic/percent-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#21210 network: dhcp-server: introduce Router= setting to specify router address
  man/systemd.network.xml
  src/libsystemd-network/dhcp-server-internal.h
  src/libsystemd-network/sd-dhcp-server.c
  src/network/networkd-dhcp-server.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
  src/systemd/sd-dhcp-server.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/dhcp-server.network
  test/test-network/systemd-networkd-tests.py
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#21216 fd-util: make TAKE_FD free of double evaluation
  src/basic/fd-util.h
  src/basic/process-util.c
  src/basic/process-util.h
  src/core/execute.c
  src/core/mount.c
  src/core/service.c
  src/core/socket.c
  src/core/swap.c
  src/fundamental/macro-fundamental.h
  src/import/export-tar.c
  src/import/import-tar.c
  src/import/importd.c
  src/import/pull-common.c
  src/import/pull-tar.c
  src/libsystemd/sd-bus/sd-bus.c
  src/nspawn/nspawn.c
  src/shared/pager.c
  src/shared/spawn-ask-password-agent.c
  src/shared/spawn-polkit-agent.c
  src/test/test-fd-util.c
Labels: util-lib

#21213 tree-wide: always use TAKE_FD() when calling rearrange_stdio()
  src/core/execute.c
  src/home/homed-home.c
  src/import/import-common.c
  src/import/importd.c
  src/import/pull-common.c
  src/journal-remote/journal-remote-main.c
  src/libsystemd/sd-bus/bus-socket.c
  src/nspawn/nspawn-setuid.c
  src/shared/exec-util.c
  src/test/test-execute.c
  src/udev/udev-event.c
Labels: udev, tree-wide, journal-remote, good-to-merge/waiting-for-ci 👍

#21228 update-helper: add missing loop over user units
  src/rpm/systemd-update-helper.in
Labels: rpm, good-to-merge/waiting-for-ci 👍

#21030 core: Propagate condition failed state from service to path unit.
  mkosi.default.d/fedora/10-mkosi.fedora
  src/core/automount.c
  src/core/automount.h
  src/core/path.c
  src/core/path.h
  src/core/socket.c
  src/core/socket.h
  src/core/timer.c
  src/core/timer.h
  src/core/unit.c
  src/core/unit.h
  test/testsuite-63.units/test63.service
  test/units/testsuite-10.service
  test/units/testsuite-63.service
Labels: pid1, please-review

#21070 sd-boot: Add support to boot last select entry
  man/bootctl.xml
  man/loader.conf.xml
  src/boot/bootctl.c
  src/boot/efi/boot.c
Labels: reviewed/needs-rework 🔨, needs-rebase, boot

#21229 Improve hint to use -M in various tools
  src/analyze/analyze.c
  src/busctl/busctl.c
  src/cgls/cgls.c
  src/home/homectl.c
  src/hostname/hostnamectl.c
  src/locale/localectl.c
  src/login/inhibit.c
  src/login/loginctl.c
  src/machine/machinectl.c
  src/mount/mount-tool.c
  src/portable/portablectl.c
  src/run/run.c
  src/shared/bus-util.c
  src/shared/bus-util.h
  src/shared/cgroup-show.c
  src/systemctl/systemctl-util.c
  src/timedate/timedatectl.c
Labels: systemctl, timedate, ci-failure-appears-unrelated, portable, busctl

#21233 loop-util: reopen device node if we shortcut loop device creation
  src/shared/loop-util.c
Labels: util-lib, ci-failure-appears-unrelated

#21238 basic/mountpoint-util: detect erofs as a read-only FS
  src/basic/mountpoint-util.c
Labels: quick-review 🏃‍♂️

#21225 Boot cleanup
  src/basic/macro.h
  src/boot/efi/boot.c
  src/boot/efi/cpio.c
  src/boot/efi/drivers.c
  src/boot/efi/meson.build
  src/boot/efi/no-undefined-symbols.sh
  src/boot/efi/pe.c
  src/boot/efi/stub.c
  src/boot/efi/util.c
  src/fundamental/macro-fundamental.h
Labels: boot, ci-failure-appears-unrelated

#21244 meson-render-jinja2: use ast.literal_eval()
  tools/meson-render-jinja2.py
Labels: ci-failure-appears-unrelated, meson

#20138 A coding style tweak and checking of sd_notify() calls and voidification of pager_open()
  docs/CODING_STYLE.md
  src/analyze/analyze.c
  src/binfmt/binfmt.c
  src/boot/bootctl.c
  src/busctl/busctl.c
  src/cgls/cgls.c
  src/core/main.c
  src/core/manager.c
  src/coredump/coredumpctl.c
  src/delta/delta.c
  src/dissect/dissect.c
  src/home/homectl.c
  src/journal/journalctl.c
  src/journal/journald-server.c
  src/locale/localectl.c
  src/login/inhibit.c
  src/login/loginctl.c
  src/login/logind-session-device.c
  src/login/logind.c
  src/machine/machinectl.c
  src/machine/machined.c
  src/mount/mount-tool.c
  src/network/networkctl.c
  src/nspawn/nspawn.c
  src/oom/oomctl.c
  src/portable/portablectl.c
  src/portable/portabled.c
  src/resolve/resolvectl.c
  src/rfkill/rfkill.c
  src/shared/format-table.c
  src/shared/pager.c
  src/shared/pager.h
  src/sysctl/sysctl.c
  src/systemctl/systemctl-edit.c
  src/systemctl/systemctl-list-dependencies.c
  src/systemctl/systemctl-list-jobs.c
  src/systemctl/systemctl-list-machines.c
  src/systemctl/systemctl-list-unit-files.c
  src/systemctl/systemctl-list-units.c
  src/systemctl/systemctl-set-environment.c
  src/systemctl/systemctl-show.c
  src/systemctl/systemctl.c
  src/sysusers/sysusers.c
  src/timedate/timedatectl.c
  src/timesync/timesyncd-manager.c
  src/tmpfiles/tmpfiles.c
  src/udev/udevd.c
  src/userdb/userdbctl.c
Labels: udev, network, journal, resolve, documentation, systemctl, timesync, timedate, journal-remote, portable, busctl

#20056 sysusers: split up systemd.conf
  sysusers.d/meson.build
  sysusers.d/systemd-coredump.conf
  sysusers.d/systemd-journal.conf.in
  sysusers.d/systemd-network.conf.in
  sysusers.d/systemd-oom.conf
  sysusers.d/systemd-remote.conf
  sysusers.d/systemd-resolve.conf.in
  sysusers.d/systemd-timesync.conf.in
  sysusers.d/systemd.conf.in
Labels: sysusers

#21245 test: Add test for flag macros
  src/test/test-macro.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#21250 user-record: show fs/luks/gpt UUIDs as proper UUIDs
  src/shared/user-record-show.c
Labels: good-to-merge/waiting-for-ci 👍, homed, userdb

#21251 user-record: fix display of access mode
  src/shared/user-record-show.c
Labels: good-to-merge/waiting-for-ci 👍, userdb

#21252 homed: add env var to override dir where we fine stored user records
  docs/ENVIRONMENT.md
  src/home/home-util.c
  src/home/home-util.h
  src/home/homed-home.c
  src/home/homed-manager.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, homed

#21231 sd-boot: Add .osrel section
  src/boot/efi/boot.c
  src/boot/efi/meson.build
Labels: boot

#21239 test: exercise sytemd-integritysetup & generator
  test/TEST-67-INTEGRITY/Makefile
  test/TEST-67-INTEGRITY/test.sh
  test/units/testsuite-67.service
  test/units/testsuite-67.sh
Labels: tests

#21249 coredump: fix filename in journal when not compressed
  src/coredump/coredump.c
Labels: coredump

#21254 test: wait until `lvm-activate-$vgroup.service` finishes
  test/units/testsuite-64.sh
Labels: udev, tests

#21248 user-record: show CIFS extra mount options, in output too
  src/shared/user-record-show.c
Labels: good-to-merge/waiting-for-ci 👍, homed, userdb

#21171 exec: Add TTYRows and TTYColumns properties to set TTY dimensions
  docs/TRANSIENT-SETTINGS.md
  man/org.freedesktop.systemd1.xml
  man/systemd.exec.xml
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/shared/bus-unit-util.c
  test/fuzz/fuzz-unit-file/directives-all.service
  test/fuzz/fuzz-unit-file/directives.mount
  test/fuzz/fuzz-unit-file/directives.service
  test/fuzz/fuzz-unit-file/directives.socket
  test/fuzz/fuzz-unit-file/directives.swap
  units/console-getty.service.in
  units/container-getty@.service.in
  units/getty@.service.in
  units/serial-getty@.service.in
Labels: documentation, pid1, good-to-merge/waiting-for-ci 👍, units

#21237 analyze: allow a custom policy to skip a check
  man/systemd-analyze.xml
  src/analyze/analyze-security.c
  test/units/testsuite-65.sh
Labels: analyze, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#21261 Translations update from Weblate
  po/de.po
Labels: l10n 🌍

#21262 hwdb: remove the tablet pad entry for the UC-Logic 1060N
  hwdb.d/60-input-id.hwdb
Labels: hwdb

#21246 build: preserve correct mode when generating files via jinja2
  docs/sysvinit/meson.build
  man/meson.build
  rules.d/meson.build
  shell-completion/bash/meson.build
  shell-completion/zsh/meson.build
  src/core/meson.build
  src/journal-remote/meson.build
  src/libsystemd/meson.build
  src/libudev/meson.build
  src/login/meson.build
  src/resolve/meson.build
  src/rpm/meson.build
  src/timesync/meson.build
  src/udev/meson.build
  src/vconsole/meson.build
  sysctl.d/meson.build
  sysusers.d/meson.build
  tmpfiles.d/meson.build
  tools/meson-render-jinja2.py
  units/meson.build
Labels: udev, resolve, timesync, journal-remote, good-to-merge/waiting-for-ci 👍, units

#20813 Reintroduce ExitType
  docs/TRANSIENT-SETTINGS.md
  man/org.freedesktop.systemd1.xml
  man/systemd.service.xml
  shell-completion/bash/systemd-run
  shell-completion/zsh/_systemd-run
  src/core/dbus-service.c
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/service.c
  src/core/service.h
  src/shared/bus-unit-util.c
  src/xdg-autostart-generator/xdg-autostart-service.c
  test/TEST-56-EXIT-TYPE/Makefile
  test/TEST-56-EXIT-TYPE/test.sh
  test/fuzz/fuzz-unit-file/directives.service
  test/units/testsuite-56.service
  test/units/testsuite-56.sh
Labels: documentation, pid1, new-feature, good-to-merge/waiting-for-ci 👍

#21266 man: extend os-release docs a bit regarding quotes
  man/os-release.xml
Labels: documentation

#21265 userdb: various userdb fixes and minor feature additions
  man/userdbctl.xml
  src/userdb/userdbctl.c
  src/userdb/userwork.c
Labels: good-to-merge/waiting-for-ci 👍, userdb

#21268 network: ndisc: introduce UseGateway= and UseRoutePrefix=
  man/systemd.network.xml
  src/network/networkd-ndisc.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: network, good-to-merge/waiting-for-ci 👍, ndisc

#21226 network: add several CAKE settings
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-types-rtnl.c
  src/network/networkd-network-gperf.gperf
  src/network/tc/cake.c
  src/network/tc/cake.h
  test/fuzz/fuzz-network-parser/directives.network
  test/test-network/conf/25-qdisc-cake.network
  test/test-network/systemd-networkd-tests.py
Labels: network, good-to-merge/waiting-for-ci 👍

#21274 arp-util: drop redundant line
  src/libsystemd-network/arp-util.c
Labels: network

#21272 netif-util: move several functions from network-util.c to netif-util.c
  src/basic/arphrd-list.c
  src/basic/arphrd-util.c
  src/basic/arphrd-util.h
  src/basic/meson.build
  src/libsystemd-network/dhcp-identifier.c
  src/libsystemd/sd-network/network-util.c
  src/libsystemd/sd-network/network-util.h
  src/network/networkctl.c
  src/network/networkd-ipv4ll.c
  src/network/networkd-json.c
  src/shared/meson.build
  src/shared/net-condition.c
  src/shared/netif-util.c
  src/shared/netif-util.h
  src/test/meson.build
  src/test/test-arphrd-util.c
  src/udev/net/link-config.c
  src/udev/test-udev-netlink.c
Labels: udev, network, util-lib

#21271 ether-addr-util: introduce several helper functions
  src/basic/ether-addr-util.h
  src/network/networkctl.c
  src/network/networkd-link.c
Labels: network, util-lib

#21269 network/netdev: several trivial cleanups
  src/network/netdev/bareudp.c
  src/network/netdev/bridge.c
  src/network/netdev/bridge.h
  src/network/netdev/geneve.c
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/netdev/vrf.c
  src/network/networkd-bridge-mdb.c
  src/network/networkd-network.c
  src/network/networkd-setlink.c
Labels: network, good-to-merge/waiting-for-ci 👍

#21270 sd-event: fix memory corruption
  man/rules/meson.build
  man/sd_event_add_inotify.xml
  src/basic/inotify-util.c
  src/journal/journald-stream.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-bus/sd-bus.c
  src/libsystemd/sd-event/event-source.h
  src/libsystemd/sd-event/sd-event.c
  src/libsystemd/sd-event/test-event.c
  src/libsystemd/sd-resolve/sd-resolve.c
  src/login/logind-core.c
  src/shared/varlink.c
  src/systemd/sd-event.h
Labels: journal, login, sd-event, good-to-merge/waiting-for-ci 👍

#21279 docs: Clarify systemctl show manual
  man/systemctl.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#21280 analyze: basename -> path_extract_filename and other minor fixes
  src/analyze/analyze.c
Labels: analyze, good-to-merge/waiting-for-ci 👍

#21283 nspawn: make empty settings files true NOPs
  src/nspawn/nspawn-gperf.gperf
  src/nspawn/nspawn-settings.c
  src/nspawn/nspawn-settings.h
  src/nspawn/nspawn.c
Labels: nspawn, good-to-merge/waiting-for-ci 👍

#21281 repart: fixes when operating on unaligned partitions
  src/partition/repart.c
  test/units/testsuite-58.sh
Labels: good-to-merge/waiting-for-ci 👍, repart

#21276 ether-addr-util: introduce parse_hw_addr() and related conf parsers
  src/basic/ether-addr-util.c
  src/basic/ether-addr-util.h
  src/network/generator/network-generator.c
  src/network/netdev/bond.c
  src/network/netdev/macsec.c
  src/network/netdev/macvlan.c
  src/network/netdev/netdev-gperf.gperf
  src/network/networkd-bridge-fdb.c
  src/network/networkd-dhcp-server-static-lease.c
  src/network/networkd-neighbor.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-sriov.c
  src/network/test-networkd-conf.c
  src/shared/conf-parser.c
  src/shared/conf-parser.h
  src/shared/net-condition.c
  src/test/test-ether-addr-util.c
  src/udev/net/link-config-gperf.gperf
  src/udev/net/link-config.c
Labels: udev, network, util-lib, good-to-merge/waiting-for-ci 👍

#21286 network: cake: fix copy-and-paste error
  src/network/tc/cake.c
Labels: network, quick-review 🏃‍♂️

#21287 man: cleanups for [Match] section
  man/systemd.netdev.xml
  man/systemd.network.xml
Labels: documentation, quick-review 🏃‍♂️

#21221 Replace Slice= dependencies when specified more than once
  src/core/dbus-unit.c
  src/core/load-fragment.c
  src/core/unit-serialize.c
  src/core/unit.c
  src/core/unit.h
  src/test/test-engine.c
Labels: pid1, please-review

#20270 fsck: no emergency.target on nofail mounts
  man/systemd-fsck@.service.xml
  src/fsck/fsck.c
  units/systemd-fsck-root.service.in
Labels: fsck, units, please-review

#21293 ci: cancel previous jobs on ref update
  .github/workflows/build_test.yml
  .github/workflows/cifuzz.yml
  .github/workflows/linter.yml
  .github/workflows/mkosi.yml
  .github/workflows/unit_tests.yml
Labels: ci

#21278 meson: Rework gnu-efi detection
  meson.build
  src/boot/efi/meson.build
Labels: boot, good-to-merge/waiting-for-ci 👍, meson

#21290 some docs/tweaks regarding porting to new archs
  docs/DISCOVERABLE_PARTITIONS.md
  docs/PORTING_TO_NEW_ARCHITECTURES.md
  src/basic/architecture.c
  src/basic/architecture.h
  src/shared/base-filesystem.c
  src/shared/gpt.c
Labels: documentation, util-lib, gpt-auto, good-to-merge/waiting-for-ci 👍

#21296 ci: take CIFuzz's matrix into consideration
  .github/workflows/cifuzz.yml
Labels: good-to-merge/waiting-for-ci 👍, ci

#21295 netif-util: fix stack-use-after-scope
  src/shared/netif-util.c
Labels: util-lib

#21273 hostnamed: use /proc/device-tree to get chassis type
  src/hostname/hostnamed.c
  src/libsystemd/sd-id128/id128-util.c
  src/shared/condition.c
Labels: pid1, hostname, good-to-merge/waiting-for-ci 👍, sd-id128

#21300 test: use kbd-mode-map we ship in one more test case
  src/locale/test-keymap-util.c
Labels: tests

#21301 network: neighbor: use "struct hw_addr_data"
  src/basic/ether-addr-util.c
  src/basic/ether-addr-util.h
  src/libsystemd/sd-netlink/netlink-types-rtnl.c
  src/network/networkd-neighbor.c
  src/network/networkd-neighbor.h
  src/network/networkd-network-gperf.gperf
Labels: network, ci-failure-appears-unrelated

#21304 userdbctl: add support for chaining other ssh-authorized-keys commands from userdbctl
  man/userdbctl.xml
  src/basic/escape.c
  src/basic/escape.h
  src/basic/process-util.c
  src/core/execute.c
  src/libsystemd/sd-bus/bus-socket.c
  src/test/test-escape.c
  src/userdb/userdbctl.c
Labels: good-to-merge/waiting-for-ci 👍, userdb

#21302 udev: drop colon from ID_NET_NAME_MAC
  src/basic/ether-addr-util.c
  src/basic/ether-addr-util.h
  src/udev/udev-builtin-net_id.c
Labels: bug 🐛, udev, good-to-merge/waiting-for-ci 👍

#21305 man: remove unintentionally repetitive words
  man/org.freedesktop.systemd1.xml
  man/repart.d.xml
  man/resolved.conf.xml
  man/systemd.exec.xml
  man/systemd.journal-fields.xml
  man/systemd.network.xml
  man/systemd.nspawn.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#21298 scope: count successful cgroup additions when delegating via D-Bus
  src/core/cgroup.c
Labels: cgroups, pid1, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#21241 core, bpf: fix bpf-foreign cgroup controller realization
  src/core/bpf-foreign.c
  src/core/bpf-foreign.h
Labels: pid1, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#21285 sd-boot/bootspec: os-release parsing fixes
  src/boot/efi/boot.c
  src/fundamental/bootspec-fundamental.c
  src/fundamental/bootspec-fundamental.h
  src/fundamental/macro-fundamental.h
  src/fundamental/meson.build
  src/fundamental/sha256.h
  src/fundamental/type.h
  src/fundamental/types-fundamental.h
  src/shared/bootspec.c
  src/shared/bootspec.h
Labels: boot, good-to-merge/waiting-for-ci 👍

#21310 macro-fundamental: fix bool → sd_bool
  src/fundamental/macro-fundamental.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#21312 test: add regression test for systemd-run --scope [--user]
  test/units/testsuite-20.sh
Labels: tests, user-session, run, good-to-merge/waiting-for-ci 👍

#20953 Delay running mount start jobs when we /p/s/mountinfo event source is rate limited
  man/sd_event_source_set_ratelimit.xml
  src/core/automount.c
  src/core/mount.c
  src/core/path.c
  src/core/service.c
  src/core/socket.c
  src/core/swap.c
  src/core/timer.c
  src/core/unit.c
  src/core/unit.h
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-event/event-source.h
  src/libsystemd/sd-event/sd-event.c
  src/libsystemd/sd-event/test-event.c
  src/systemd/sd-event.h
Labels: pid1, sd-event, good-to-merge/waiting-for-ci 👍

#21318 pid1: add a manager_trigger_run_queue() helper
  src/core/job.c
  src/core/manager.c
  src/core/manager.h
  src/core/mount.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#21325 Changed gendered terms to be gender-neutral
  docs/CODING_STYLE.md
  docs/PREDICTABLE_INTERFACE_NAMES.md
  man/sd_bus_add_object.xml
  src/core/manager.h
  src/hostname/hostnamectl.c
  src/libsystemd/sd-bus/bus-socket.c
  src/libsystemd/sd-bus/sd-bus.c
  src/udev/dmi_memory_id/dmi_memory_id.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, squash-on-merge

#21313 ci: run codeql-analysis daily
  .github/workflows/codeql-analysis.yml
Labels: ci

#21321 ether-addr-util: fix ether_addr_is_local()
  src/basic/ether-addr-util.h
  src/test/test-ether-addr-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#21314 execute: log a warning when setting SELinux context fails
  man/systemd.exec.xml
  src/core/execute.c
Labels: pid1, selinux, good-to-merge/waiting-for-ci 👍

#21316 ci: pin labeler
  .github/dependabot.yml
  .github/workflows/build_test.yml
  .github/workflows/cifuzz.yml
  .github/workflows/labeler.yml
  .github/workflows/linter.yml
Labels: good-to-merge/waiting-for-ci 👍, ci

#21320 make pid1 namespace code independent of umask
  src/basic/umask-util.h
  src/core/namespace.c
  src/nspawn/nspawn.c
  src/shared/dev-setup.c
  src/test/test-execute.c
  src/test/test-fs-util.c
  test/test-execute/exec-umask-namespace.service
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍

#21299 tree-wide: voidify sd_event_source_set_enabled() calls
  src/journal-remote/journal-remote.c
  src/libsystemd/sd-event/sd-event.c
Labels: journal-remote, good-to-merge/waiting-for-ci 👍, coverity

#21328 homework: turn off compression for files backing LUKS volumes
  src/home/homework-luks.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#21294 Improve systemd-binfmt logging, fix exit value
  src/binfmt/binfmt.c
Labels: good-to-merge/waiting-for-ci 👍, binfmt

#21327 keyring-util: add new keyring-util.h helpers
  src/shared/ask-password-api.c
  src/shared/keyring-util.c
  src/shared/keyring-util.h
  src/shared/meson.build
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#21332 homework: add a const where appropriate
  src/home/homework-luks.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#21329 homed: default to btrfs compression
  docs/ENVIRONMENT.md
  src/home/homework-mount.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, homed

#21334 homework: split out password cache logic into its own .c/.h file
  src/home/homework-password-cache.c
  src/home/homework-password-cache.h
  src/home/homework.c
  src/home/homework.h
  src/home/meson.build
Labels: good-to-merge/waiting-for-ci 👍, homed

#21330 ci: run the unit_tests and mkosi jobs on stable branches as well
  .github/workflows/linter.yml
  .github/workflows/mkosi.yml
  .github/workflows/unit_tests.yml
Labels: good-to-merge/waiting-for-ci 👍, ci

#21324 test: Create convenience macros to declare tests
  src/shared/tests.h
  src/test/test-macro.c
Labels: tests

#21331 homed: allow per-user additional LUKS mount options
  docs/USER_RECORD.md
  man/homectl.xml
  src/home/homectl.c
  src/home/homework-luks.c
  src/home/homework-mount.c
  src/home/homework-mount.h
  src/shared/user-record-show.c
  src/shared/user-record.c
  src/shared/user-record.h
Labels: documentation, good-to-merge/waiting-for-ci 👍, homed

#21333 homed: report actual home dir access mode and fs type in effect
  TODO
  docs/USER_RECORD.md
  src/home/homed-home.c
  src/home/homed-home.h
  src/shared/user-record.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, homed

#21335 homework: sync dir after moving file in, not before
  src/home/homework-luks.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#21337 split out UID allocation range stuff from user-record.c/h (i.e. login.defs parsing)
  src/core/dynamic-user.c
  src/coredump/coredump.c
  src/home/homectl.c
  src/home/homed-home.c
  src/journal/journald-server.c
  src/login/logind-user.c
  src/shared/condition.c
  src/shared/group-record.c
  src/shared/meson.build
  src/shared/uid-alloc-range.c
  src/shared/uid-alloc-range.h
  src/shared/user-record.c
  src/shared/user-record.h
  src/sysusers/sysusers.c
  src/test/meson.build
  src/test/test-condition.c
  src/test/test-uid-alloc-range.c
Labels: journal, util-lib, good-to-merge/waiting-for-ci 👍

#21342 ci: try to fix a Dependabot error
  .github/dependabot.yml
  .github/workflows/build_test.yml
Labels: ci

#21341 network: manage route and nexthop flags
  src/libsystemd/sd-netlink/netlink-message-rtnl.c
  src/network/networkd-nexthop.c
  src/network/networkd-nexthop.h
  src/network/networkd-route.c
  src/network/networkd-route.h
  src/systemd/sd-netlink.h
Labels: network

#21349 ci: tighten several GHActions a bit more
  .github/workflows/build_test.yml
  .github/workflows/cifuzz.yml
  .github/workflows/coverity.yml
  .github/workflows/labeler.yml
  .github/workflows/linter.yml
  .github/workflows/mkosi.yml
  .github/workflows/unit_tests.yml
Labels: good-to-merge/waiting-for-ci 👍, ci

#21350 seccomp: move mprotect to @default
  src/shared/seccomp-util.c
Labels: good-to-merge/waiting-for-ci 👍, seccomp

#21351 meson: Use fs module
  meson.build
  src/boot/efi/meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#21354 meson: drop mode setting on systemd-update-helper
  src/rpm/meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#21355 Coverity and CodeQL fixes
  src/journal-remote/journal-remote.c
  src/libsystemd/sd-event/sd-event.c
  src/test/test-strxcpyx.c
Labels: journal-remote, coverity

#21358 ci: mimic the "restricted" mode
  .github/workflows/build_test.yml
  .github/workflows/cifuzz.yml
  .github/workflows/coverity.yml
  .github/workflows/linter.yml
  .github/workflows/mkosi.yml
  .github/workflows/unit_tests.yml
Labels: ci

#21356 ci: pin the codeql action to SHAs
  .github/workflows/codeql-analysis.yml
Labels: ci

#21366 ci: LGPLv2+ify dependapot config and codeql action and tighten codeql and labeler even more
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
Labels: good-to-merge/waiting-for-ci 👍, ci

#21346 network: extend Token=prefixstable setting
  man/systemd.network.xml
  src/network/networkd-address-generation.c
  test/test-network/conf/ipv6-prefix-veth-token-prefixstable-without-address.network
  test/test-network/conf/ipv6-prefix-veth-token-prefixstable.network
  test/test-network/systemd-networkd-tests.py
Labels: network, good-to-merge/waiting-for-ci 👍

#21359 network: log route or nexthop flags
  src/network/meson.build
  src/network/networkd-dhcp-server.c
  src/network/networkd-gperf.gperf
  src/network/networkd-nexthop.c
  src/network/networkd-radv.c
  src/network/networkd-route-util.c
  src/network/networkd-route-util.h
  src/network/networkd-route.c
  src/network/networkd-route.h
  src/network/networkd-routing-policy-rule.c
  src/network/test-network.c
Labels: network, good-to-merge/waiting-for-ci 👍

#21361 resolve: do not clear DNS servers or friends on link which is not managed by networkd
  src/resolve/resolved-link.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#21362 hwdb: Add Kensington Expert Mouse Wireless Trackball
  hwdb.d/70-mouse.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#21277 network, udev: several improvement of permanent hardware address handling
  src/libsystemd/sd-netlink/netlink-util.c
  src/libsystemd/sd-netlink/netlink-util.h
  src/network/networkctl.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/shared/ethtool-util.c
  src/shared/ethtool-util.h
  src/shared/net-condition.c
  src/udev/net/link-config.c
  src/udev/udev-event.c
Labels: udev, network

#21336 homework: rework how we disassemble a home dir in home_deactivate()
  src/home/homework-luks.c
  src/home/homework-luks.h
  src/home/homework.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#21376 ci: pin mkosi to SHAs as well
  .github/workflows/mkosi.yml
Labels: ci

#21235 Add suppress_ifgroup option in routing policy
  man/systemd.network.xml
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-routing-policy-rule.h
  src/network/networkd-setlink.c
  test/fuzz/fuzz-network-parser/directives.network
  test/fuzz/fuzz-unit-file/directives-all.service
Labels: network, good-to-merge/waiting-for-ci 👍

#21344 network: make IgnoreCarrierLoss= also take a timespan
  man/systemd.network.xml
  src/libsystemd/sd-event/event-util.c
  src/libsystemd/sd-event/event-util.h
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-wifi.c
Labels: network, good-to-merge/waiting-for-ci 👍

#21377 meson: stop using -ffast-math
  meson.build
  src/test/test-json.c
Labels: build-system, tests, meson

#21379 homed: reset HomeSetup.undo_dm field when deactivating home dir the o…
  src/home/homework-luks.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#21378 units: relax sandbox so that uidmap stuff can work
  units/systemd-homed.service.in
Labels: good-to-merge/waiting-for-ci 👍, units, homed

#21373 some file system tables/magic love
  src/analyze/analyze.c
  src/basic/filesystems-gperf.gperf
  src/basic/filesystems.c
  src/basic/filesystems.h
  src/basic/generate-filesystem-list.py
  src/basic/generate-filesystem-switch-case.py
  src/basic/meson.build
  src/basic/missing_magic.h
  src/basic/mountpoint-util.c
  src/home/homed-home.c
  src/home/homework.c
Labels: util-lib, homed

#21387 umount: fix log message
  src/shutdown/umount.c
Labels: good-to-merge/waiting-for-ci 👍, shutdown

#21380 homed: make sure homed tests actually run in qemu, too
  src/home/homework-luks.c
  src/home/homework-luks.h
  src/home/homework.c
  src/home/homework.h
  test/TEST-46-HOMED/test.sh
  test/units/testsuite-46.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, homed

#21383 network: use route_scope_from_string() at one more place
  src/network/networkd-address.c
Labels: network, good-to-merge/waiting-for-ci 👍

#21384 network: tuntap: drop unnecessary minus
  src/network/netdev/tuntap.c
Labels: network, good-to-merge/waiting-for-ci 👍

#21385 hwdb: ieee1394-unit-function: add entry for MOTU Track 16
  hwdb.d/80-ieee1394-unit-function.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#21386 Order binfmt.service after local-fs.target
  man/binfmt.d.xml
  src/basic/errno-util.h
  units/systemd-binfmt.service.in
Labels: good-to-merge/waiting-for-ci 👍, units, binfmt

#21275 Makefs quiet output
  man/systemd-makefs@.service.xml
  src/basic/utf8.c
  src/basic/utf8.h
  src/partition/makefs.c
  src/shared/mkfs-util.c
  src/test/test-utf8.c
Labels: good-to-merge/waiting-for-ci 👍, partition

#21374 meson: Downgrade unused function from error to warning in local builds
  meson.build
Labels: ci-failure-appears-unrelated, meson

#21389 TEST-08: don't force ext4 for /
  test/TEST-08-ISSUE-2730/test.sh
  test/testsuite-08.units/-.mount
Labels: tests, ci-failure-appears-unrelated

#21399 sysext: fix tmpfs mount source
  src/sysext/sysext.c
Labels: good-to-merge/waiting-for-ci 👍, sysext

#21392 Memleak fix and assorted fs code cleanups
  man/systemd-analyze.xml
  shell-completion/bash/systemd-analyze
  shell-completion/zsh/_systemd-analyze
  shell-completion/zsh/_udevadm
  src/analyze/analyze.c
  src/basic/generate-filesystem-switch-case.py
  src/basic/mountpoint-util.c
Labels: shell completion, analyze, util-lib, ci-failure-appears-unrelated

#21398 tree-wide: use WRITE_STRING_FILE_MKDIR_0755 at more places
  src/test/test-conf-files.c
  src/test/test-copy.c
  src/test/test-install-root.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#21400 coredump: tweak which dir we create
  src/coredump/coredump.c
Labels: coredump, good-to-merge/waiting-for-ci 👍

#21391 homed: add ability to "minimize" home dirs, i.e. shrink to smallest possible size
  src/home/home-util.h
  src/home/homework-luks.c
  src/home/homework.h
  src/home/user-record-util.c
  src/shared/resize-fs.c
  src/shared/resize-fs.h
  src/shared/user-record.c
  src/shared/user-record.h
  test/units/testsuite-46.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, homed

#21395 network: accept all values provided by kernel
  src/network/networkd-routing-policy-rule.c
Labels: network

#21406 test-network: check alternative name
  test/test-network/conf/00-debug-net.rules
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, please-review

#21413 ci: run codeql on PRs from Dependabot
  .github/workflows/codeql-analysis.yml
Labels: ci

#21415 ci: switch to weekly dependabot updates
  .github/dependabot.yml
Labels: good-to-merge/waiting-for-ci 👍, ci

#21418 hwdb: voidify call to mkdir_parents_label
  src/shared/hwdb-util.c
Labels: good-to-merge/waiting-for-ci 👍, coverity

#21421 homed: handle password changing for accounts that have recovery keys correctly
  src/home/homectl.c
  src/home/pam_systemd_home.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#21417 meson: add check:true/false to all run_command() invocations
  meson.build
Labels: ci-failure-appears-unrelated, meson

#21401 add open_mkdir_at() helper and use it
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/core/namespace.c
  src/home/homework-cifs.c
  src/shared/copy.c
  src/shared/creds-util.c
  src/test/test-fs-util.c
Labels: util-lib, tests, tree-wide, good-to-merge/waiting-for-ci 👍

#21422 getty-generator: add kernel cmdline and env vars to disable it
  man/systemd-getty-generator.xml
  src/getty-generator/getty-generator.c
Labels: good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#21424 Use double and int64_t types in json
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-systemd-tpm2.c
  src/cryptsetup/cryptsetup-tokens/luks2-tpm2.c
  src/cryptsetup/cryptsetup-tpm2.c
  src/home/homectl.c
  src/network/networkctl.c
  src/network/networkd-json.c
  src/nspawn/nspawn-oci.c
  src/nss-resolve/nss-resolve.c
  src/resolve/resolved-varlink.c
  src/shared/json-internal.h
  src/shared/json.c
  src/shared/json.h
  src/shared/user-record.c
  src/test/test-json.c
  src/test/test-sizeof.c
  src/test/test-varlink.c
Labels: network, resolve, good-to-merge/waiting-for-ci 👍

#21430 man/kernel-command-line: add reference to getty_auto variable
  man/kernel-command-line.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#21429 TEST-12: make sure 'adm' group exist
  test/units/testsuite-12.sh
Labels: good-to-merge/waiting-for-ci 👍

#20982 journal: Don't discard kmsg messages coming from journald itself
  src/basic/log.c
  src/basic/log.h
  src/journal/journald-kmsg.c
  src/journal/journald-server.c
  src/journal/journald-server.h
Labels: journal, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#21433 test: make the diff regex BRE-compatible
  test/units/testsuite-46.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#21434 network: always try to reconfigure when carrier gained
  src/network/networkd-link.c
Labels: network, good-to-merge/waiting-for-ci 👍

#21435 network: cleanups for alternative names
  src/network/networkd-link.c
Labels: network, good-to-merge/waiting-for-ci 👍

#21411 homed: add concept for "maximizing" home dirs
  man/homectl.xml
  src/home/homectl.c
  src/home/homework-luks.c
  src/home/homework.h
  test/units/testsuite-46.sh
Labels: new-feature, good-to-merge/waiting-for-ci 👍, homed

#21420 journal: Skip over corrupt entry items in enumerate_data()
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal, good-to-merge/waiting-for-ci 👍
