Repository systemd/systemd, pull requests merged in 2021-12, with the labels that each got.

#21288 Add support for the LoongArch architecture.
  src/basic/architecture.c
  src/basic/architecture.h
  src/shared/gpt.c
  test/units/testsuite-50.sh
Labels: good-to-merge/waiting-for-ci 👍

#21536 test: Introduce TEST_RET macro
  src/shared/tests.h
  src/test/test-acl-util.c
  src/test/test-barrier.c
  src/test/test-cgroup-mask.c
  src/test/test-cgroup-unit-default.c
  src/test/test-cgroup-util.c
  src/test/test-load-fragment.c
  src/test/test-namespace.c
  src/test/test-parse-util.c
  src/test/test-sleep.c
  src/test/test-unit-name.c
  src/test/test-unit-serialize.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#21564 tree-wide: introduce ERRNO_IS_TRANSIENT() and use it
  src/basic/errno-util.h
  src/basic/terminal-util.c
  src/core/cgroup.c
  src/core/manager.c
  src/core/path.c
  src/home/homed-manager.c
  src/import/importd.c
  src/journal/journald-kmsg.c
  src/journal/journald-server.c
  src/journal/journald-stream.c
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-dhcp-server.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/sd-ipv4acd.c
  src/libsystemd-network/sd-lldp-rx.c
  src/libsystemd/sd-bus/bus-socket.c
  src/libsystemd/sd-device/device-monitor.c
  src/libsystemd/sd-event/sd-event.c
  src/libsystemd/sd-journal/sd-journal.c
  src/libsystemd/sd-netlink/netlink-socket.c
  src/libsystemd/sd-network/sd-network.c
  src/libsystemd/sd-resolve/sd-resolve.c
  src/nspawn/nspawn.c
  src/resolve/resolved-dns-stream.c
  src/resolve/resolved-manager.c
  src/shared/ask-password-api.c
  src/shared/barrier.c
  src/socket-proxy/socket-proxyd.c
  src/timesync/wait-sync.c
  src/udev/udevd.c
Labels: udev, network, journal, resolve, timesync, tree-wide, good-to-merge/waiting-for-ci 👍

#21581 Really random fixlets
  man/check-os-release.py
  src/oom/oomd-manager.c
  src/shared/rm-rf.c
  src/test/test-sizeof.c
Labels: good-to-merge/waiting-for-ci 👍

#21437 core: add Condition[Memory/CPU]Pressure
  man/systemd.unit.xml
  src/core/load-fragment-gperf.gperf.in
  src/shared/condition.c
  src/shared/condition.h
  src/test/test-condition.c
  test/fuzz/fuzz-unit-file/directives-all.service
  test/fuzz/fuzz-unit-file/directives.service
Labels: new-feature, good-to-merge/waiting-for-ci 👍

#21587 docs: document that systemd closes console during normal runtime
  docs/CONTAINER_INTERFACE.md
Labels: documentation, good-to-merge/with-minor-suggestions

#21595 Fixed typo in systemd.network documentation.
  man/systemd.network.xml
Labels: documentation

#21596 tree-wide: fix typo
  docs/CONTAINER_INTERFACE.md
  src/boot/efi/meson.build
Labels: documentation, tree-wide, good-to-merge/waiting-for-ci 👍

#21590 elf-util: do not ignore prctl() errors
  src/shared/elf-util.c
Labels: good-to-merge/waiting-for-ci 👍, coverity

#21591 core/bpf-firewall: make bpf_firewall_supported() always set unsupport…
  src/core/bpf-firewall.c
  src/core/cgroup.c
  src/core/restrict-ifaces.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, bpf

#21583 cgroup: don't emit BPF firewall warning when manager is in test mode
  src/core/bpf-firewall.c
  test/units/testsuite-65.sh
Labels: cgroups, pid1, tests, good-to-merge/waiting-for-ci 👍, bpf

#21601 Revert "network: address: drop deprecated temporary address"
  src/network/networkd-address.c
Labels: network, good-to-merge/waiting-for-ci 👍

#21584 network: cleanups for wireguard
  src/basic/parse-util.c
  src/network/netdev/wireguard.c
  src/network/netdev/wireguard.h
Labels: network, good-to-merge/waiting-for-ci 👍

#21594 core: support user manager with Condition[Memory/CPU/IO]Pressure
  src/shared/condition.c
Labels: cgroups, pid1, good-to-merge/waiting-for-ci 👍

#21606 meson: correctly display enabled features
  meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#21611 cryptenroll: fix wrong error messages
  src/cryptenroll/cryptenroll-fido2.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍

#21170 Allow systemd-resolved and systemd-importd to use libgcrypt or libopenssl
  .github/workflows/unit_tests.sh
  .github/workflows/unit_tests.yml
  .packit.yml
  TODO
  meson.build
  meson_options.txt
  src/basic/build.c
  src/basic/gcrypt-util.c
  src/basic/gcrypt-util.h
  src/import/pull-job.c
  src/import/pull-job.h
  src/partition/repart.c
  src/resolve/meson.build
  src/resolve/resolvectl.c
  src/resolve/resolved-conf.c
  src/resolve/resolved-dns-dnssec.c
  src/resolve/resolved-dns-packet.c
  src/resolve/resolved-link.c
  src/resolve/test-dnssec.c
  src/shared/openssl-util.c
  src/shared/openssl-util.h
  src/test/meson.build
  src/test/test-cryptolib.c
Labels: resolve, good-to-merge/waiting-for-reporter-feedback 👍

#21613 Bump the max number of inodes for /dev to 128k
  src/shared/mount-util.h
Labels: pid1, good-to-merge/waiting-for-ci 👍

#21582 lgtm: enable more queries
  .lgtm.yml
  .lgtm/cpp-queries/PotentiallyDangerousFunction.ql
  .lgtm/cpp-queries/UninitializedVariableWithCleanup.ql
Labels: ci, lgtm

#21607 ci: run build test with BPF-related stuff as well
  .github/workflows/build_test.sh
  meson.build
  src/analyze/analyze.c
Labels: analyze, good-to-merge/waiting-for-ci 👍, meson, ci, bpf

#21616 ci: consider `cryptolib` in the group identifier
  .github/workflows/unit_tests.yml
Labels: good-to-merge/waiting-for-ci 👍, ci

#21563 network: IPoIB support
  man/systemd.netdev.xml
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-types-rtnl.c
  src/network/meson.build
  src/network/netdev/ipoib.c
  src/network/netdev/ipoib.h
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/netdev/veth.c
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-setlink.c
  src/network/networkd-setlink.h
  test/fuzz/fuzz-netdev-parser/directives.netdev
  test/fuzz/fuzz-network-parser/directives.network
Labels: network, good-to-merge/waiting-for-ci 👍

#21619 tree-wide: check for NULLs in more places
  src/core/automount.c
  src/core/device.c
  src/core/mount.c
  src/core/swap.c
  src/network/netdev/macsec.c
  src/network/networkd-network.c
  src/resolve/resolved-dns-scope.c
Labels: network, resolve, analyze, good-to-merge/waiting-for-ci 👍, lgtm

#21622 meson: remove openssl dependency from repart
  meson.build
Labels: meson, quick-review 🏃‍♂️, repart

#21628 man: network: fix default values for DNSSEC= and DNSOverTLS=
  man/systemd.network.xml
Labels: documentation

#21629 man: netdev: several cleanups
  man/systemd.netdev.xml
Labels: documentation

#21623 man/kernel-install clarifications
  man/kernel-install.xml
Labels: documentation

#21615 sd_bus_get_timeout: fix timeout value doc
  man/sd_bus_get_fd.xml
Labels: documentation

#21605 hwdb: Allow console users access to rfkill
  src/login/70-uaccess.rules.in
Labels: udev, user-session, ci-failure-appears-unrelated

#21621 lgtm: ignore certain cleanup functions
  .lgtm/cpp-queries/UninitializedVariableWithCleanup.ql
Labels: lgtm

#21597 systemctl: support JSON output for "show-environment"
  src/systemctl/systemctl-set-environment.c
  test/units/testsuite-26.sh
Labels: systemctl

#21588 journal: don't remove the flushed flag when journald is stopped
  units/systemd-journal-flush.service
Labels: journal, units

#21604 man: fix description of sd_uid_get_sessions
  man/sd_uid_get_state.xml
Labels: documentation

#21454 analyze: add inspect-elf verb to parse package metadata
  man/systemd-analyze.xml
  meson.build
  shell-completion/bash/systemd-analyze
  shell-completion/zsh/_systemd-analyze
  src/analyze/analyze-elf.c
  src/analyze/analyze-elf.h
  src/analyze/analyze.c
  src/analyze/meson.build
  src/shared/elf-util.c
  test/units/testsuite-65.sh
Labels: analyze, new-feature, please-review

#21631 network: eui64 address is supported only ethernet or infiniband
  man/systemd.network.xml
  src/network/networkd-address-generation.c
Labels: network, good-to-merge/waiting-for-ci 👍

#21630 test-network: trivial cleanups
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#21634 dhcp: trivial header cleanups
  src/libsystemd-network/dhcp6-lease-internal.h
  src/systemd/sd-dhcp-client.h
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#21633 network: route: fix null destination handling
  src/network/networkd-route-util.c
  src/network/networkd-route.c
Labels: network, good-to-merge/waiting-for-ci 👍

#21620 udev/path_id: fix skip_subsystem()
  src/udev/udev-builtin-path_id.c
Labels: udev, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#21636 fix DirectoryNotEmpty when it comes to a Non-directory file
  src/core/path.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#21638 network: dhcp6pd: fix prefix lost handling
  src/network/networkd-dhcp-prefix-delegation.c
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-ndisc.c
  src/network/networkd-route.c
  src/network/networkd-route.h
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#21372 journal-file: truncate archived journals
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-journal/journal-file.h
Labels: journal, ci-failure-appears-unrelated

#21640 core: use correct level for CPU time log message
  src/core/unit.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#21408 TEST-10: don't attempt to write a byte to the socket
  test/test-functions
  test/units/testsuite-10.service
Labels: tests, good-to-merge/waiting-for-ci 👍

#21196 process-util: handle double NUL as the end of command line
  src/basic/process-util.c
  src/basic/process-util.h
  src/test/test-process-util.c
Labels: pid1, systemctl, util-lib, good-to-merge/waiting-for-ci 👍

#21639 network: dhcp6pd: use dhcp6 pd prefix acquired() and drop dhcp6_pd_distribute_prefix()
  src/network/networkd-dhcp-prefix-delegation.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#21646 LGTM follow-ups
  src/analyze/analyze.c
  src/core/target.c
  src/resolve/resolved-dns-answer.c
Labels: resolve, good-to-merge/waiting-for-ci 👍, lgtm

#21642 network: state-file: ignore dynamic entries when specified by DBus method
  src/network/networkd-state-file.c
Labels: network, good-to-merge/waiting-for-ci 👍

#21650 network,udev: do not adjust local assignment bit of specified MAC address
  src/network/netdev/netdev.c
  src/network/networkd-setlink.c
  src/shared/netif-util.c
  src/shared/netif-util.h
  src/udev/net/link-config.c
  test/test-network/systemd-networkd-tests.py
Labels: udev, network, good-to-merge/waiting-for-ci 👍

#21598 journal: Fix re-enabling COW for archived journal files on BTRFS
  meson.build
  mkosi.default.d/fedora/10-mkosi.fedora
  src/basic/chattr-util.c
  src/journal-remote/journal-remote-write.c
  src/journal-remote/journal-remote-write.h
  src/journal-remote/journal-remote.c
  src/journal-remote/meson.build
  src/journal/journald-file.c
  src/journal/journald-file.h
  src/journal/journald-server.c
  src/journal/journald-server.h
  src/journal/journald.c
  src/journal/meson.build
  src/journal/test-journal-flush.c
  src/journal/test-journal-interleaving.c
  src/journal/test-journal-stream.c
  src/journal/test-journal-verify.c
  src/journal/test-journal.c
  src/libsystemd/meson.build
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-journal/journal-file.h
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal, journal-remote

#21576 units/systemd-udevd: allow bpf() syscall
  units/systemd-udevd.service.in
Labels: udev, units

#21307 sd-boot: Non-failing allocators
  src/boot/efi/boot.c
  src/boot/efi/cpio.c
  src/boot/efi/drivers.c
  src/boot/efi/initrd.c
  src/boot/efi/linux.c
  src/boot/efi/measure.c
  src/boot/efi/pe.c
  src/boot/efi/random-seed.c
  src/boot/efi/splash.c
  src/boot/efi/stub.c
  src/boot/efi/util.c
  src/boot/efi/util.h
  src/boot/efi/xbootldr.c
Labels: boot, please-review

#21456 ci: pin python dependencies and let Dependabot keep track of them
  .github/dependabot.yml
  .github/workflows/build_test.sh
  .github/workflows/requirements.txt
  .lgtm.yml
  tools/oss-fuzz.sh
Labels: ci

#20522 core/cgroup: fix io.weight and blkio.weight
  src/core/cgroup.c
Labels: cgroups, pid1, please-review

#21651 network: dhcp6pd: drop link_has_preferred_subnet_id() and inline condition
  src/network/networkd-dhcp-prefix-delegation.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#21656 network: fix memleak
  src/network/networkd-address-generation.c
Labels: network, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#21652 network: dhcp6pd: do not check Announce= setting when the link does n…
  src/network/networkd-dhcp-prefix-delegation.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#21654 network: dhcp6pd: assign addresses in the delegated prefix instead of…
  src/network/networkd-address-generation.c
  src/network/networkd-address-generation.h
  src/network/networkd-dhcp-prefix-delegation.c
  test/test-network/systemd-networkd-tests.py
Labels: network, dhcp

#21655 network: cleanups for creating or enslaving netdevs
  src/network/netdev/netdev.c
  src/network/networkd-link.c
  src/network/networkd-setlink.c
Labels: network, good-to-merge/waiting-for-ci 👍

#21653 network: dhcp6pd: cleanups for unreachable route
  man/systemd.network.xml
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp-common.h
  src/network/networkd-dhcp-prefix-delegation.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#21264 sd-boot: LTO support
  meson_options.txt
  src/boot/efi/console.c
  src/boot/efi/meson.build
Labels: boot

#21657 ci: sync the list of CodeQL queries with LGTM
  .github/codeql-config.yml
  .github/codeql-custom.qls
  .github/workflows/codeql-analysis.yml
  .lgtm.yml
  .lgtm/cpp-queries/qlpack.yml
Labels: ci, lgtm

#21661 github: mention the systemd-devel ML in the new issue tab
  .github/ISSUE_TEMPLATE/config.yml
Labels: quick-review 🏃‍♂️

#21609 core: add StartUnitWithFlags DBUS method
  man/org.freedesktop.systemd1.xml
  src/core/dbus-manager.c
  src/core/dbus-unit.c
  src/core/dbus-unit.h
  src/core/job.c
  src/core/job.h
Labels: pid1, ci-failure-appears-unrelated

#20429 bpf: refactor skeleton generation
  meson.build
  src/core/bpf-socket-bind.c
  src/core/bpf/meson.build
  src/core/bpf/restrict_fs/meson.build
  src/core/bpf/restrict_fs/restrict-fs-skel.h
  src/core/bpf/restrict_ifaces/meson.build
  src/core/bpf/restrict_ifaces/restrict-ifaces-skel.h
  src/core/bpf/socket_bind/meson.build
  src/core/bpf/socket_bind/socket-bind-skel.h
  src/core/meson.build
  src/core/restrict-ifaces.c
  tools/build-bpf-skel.py
Labels: meson, bpf

#20476 core: indicate the time when units were loaded
  man/org.freedesktop.systemd1.xml
  src/core/dbus-manager.c
  src/core/manager.c
  src/core/manager.h
Labels: pid1, ci-failure-appears-unrelated, downstream/rhel

#21674 dhcp: fix assertion
  src/libsystemd-network/sd-dhcp-lease.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#21662 meson: drop libgcrypt dep from resolved tests
  src/resolve/meson.build
Labels: resolve, good-to-merge/waiting-for-ci 👍, meson

#21672 network: old kernel support
  src/network/networkd-address.c
  src/network/networkd-route.c
Labels: network, good-to-merge/waiting-for-ci 👍

#21624 kernel-install: respect $MACHINE_ID, ignore /etc/machine-id if on tmpfs
  man/kernel-install.xml
  src/kernel-install/kernel-install
Labels: kernel-install, ci-failure-appears-unrelated

#21527 journal-file: get rid of JournalFile.mmap
  src/journal-remote/journal-remote-write.c
  src/journal/journald-file.c
  src/journal/journald-file.h
  src/journal/journald-server.c
  src/journal/test-journal-flush.c
  src/journal/test-journal-interleaving.c
  src/journal/test-journal-stream.c
  src/journal/test-journal-verify.c
  src/journal/test-journal.c
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-journal/journal-file.h
  src/libsystemd/sd-journal/journal-verify.c
  src/libsystemd/sd-journal/mmap-cache.c
  src/libsystemd/sd-journal/mmap-cache.h
Labels: journal, needs-rebase, journal-remote

#21663 network: call link_check_ready() when all stacked netdevs are created
  src/network/netdev/netdev.c
  src/network/networkd-link.c
Labels: network, quick-review 🏃‍♂️

#21677 ci: ignore FIXME alerts in the CodeQL Action
  .github/codeql-custom.qls
Labels: ci, quick-review 🏃‍♂️

#21676 Rename variables to make codeql happy
  src/libsystemd-network/test-dhcp-option.c
  src/test/test-exec-util.c
Labels: network, good-to-merge/waiting-for-ci 👍

#21679 docs: Clarify that the fd store is discarded when a service is stopped
  man/sd_notify.xml
Labels: documentation

#21667 resolve: do not re-read settings from networkd when link state file is unmodified
  src/libsystemd/sd-network/sd-network.c
  src/resolve/resolved-link.c
  src/resolve/resolved-link.h
  src/systemd/sd-network.h
Labels: resolve, good-to-merge/waiting-for-ci 👍

#21678 Make it easier to figure out what sysusers is doing and why
  .gitignore
  man/systemd-sysusers.xml
  src/sysusers/sysusers.c
Labels: sysusers, good-to-merge/waiting-for-ci 👍

#21686 network: do not reconfigure wireless interface when previously not connected to any APs
  src/network/networkd-link.c
  src/network/networkd-wifi.c
Labels: network, good-to-merge/waiting-for-ci 👍

#21566 bootctl: optionally install .signed efi file
  man/bootctl.xml
  src/boot/bootctl.c
Labels: boot

#21693 doc: fix typo
  docs/RELEASE.md
Labels: documentation, quick-review 🏃‍♂️

#21688 network: refuse empty or numeric route table names
  src/network/networkd-route-util.c
  src/network/test-network.c
Labels: network, quick-review 🏃‍♂️

#21687 libsystemd-network: ignore -ENETDOWN or friends in recv()
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-dhcp-server.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/sd-ipv4acd.c
  src/libsystemd-network/sd-lldp-rx.c
  src/libsystemd-network/sd-ndisc.c
  src/libsystemd-network/sd-radv.c
Labels: network, dhcp, lldp, ndisc

#21691 network: route: several tiny cleanups
  src/network/networkd-json.c
  src/network/networkd-route.c
Labels: network

#21692 network: wireguard: allow to start ndisc or radv
  src/network/networkd-address.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-ndisc.c
  src/network/networkd-radv.c
Labels: network, good-to-merge/waiting-for-ci 👍

#21695 meson: add missing final newline in jinja2 outputs
  tools/meson-render-jinja2.py
Labels: good-to-merge/waiting-for-ci 👍

#21696 Suppress openssl-3.0 warnings
  .packit.yml
  src/resolve/resolved-dns-dnssec.c
  src/shared/openssl-util.h
Labels: resolve, ci-failure-appears-unrelated

#21697 Allow more inodes in /dev and /tmp
  src/shared/mount-util.h
  units/tmp.mount
Labels: units

#21694 network: sd-ipv4ll and sd-ipv4acd only support ethernet interfaces
  src/network/networkd-link.c
Labels: network

#21703 mkosi: Build Fedora 35 images
  mkosi.default.d/fedora/10-mkosi.fedora
Labels: mkosi

#21702 network: dhcp: make IPServiceType= accept "none" to disable tos in th…
  man/systemd.network.xml
  src/network/networkd-dhcp4.c
Labels: network, dhcp, ci-failure-appears-unrelated

#21680 systemctl: add shutdown --show option
  man/shutdown.xml
  src/systemctl/systemctl-compat-shutdown.c
  src/systemctl/systemctl-logind.c
  src/systemctl/systemctl-logind.h
  src/systemctl/systemctl.c
  src/systemctl/systemctl.h
Labels: systemctl

#21704 Adjust news and version numbers for v250-rc1
  NEWS
  man/custom-entities.ent.in
  meson.build
Labels: documentation, good-to-merge/waiting-for-ci 👍

#21705 process-util: Fix memory leak
  src/basic/process-util.c
Labels: good-to-merge/waiting-for-ci 👍

#21714 shared: avoid x86_64-specific size assertion on x32
  src/shared/json.c
Labels: good-to-merge/waiting-for-ci 👍

#21711 journalctl: have -f and -e imply no-value -b
  src/journal/journalctl.c
Labels: journal

#21710 man: fix typo
  man/kernel-install.xml
  man/systemd.network.xml
Labels: documentation

#21716 meson: exclude .gitattributes when using install_subdir
  test/meson.build
Labels: meson, quick-review 🏃‍♂️

#20294 D-Bus introspection XML export
  meson.build
  meson_options.txt
  tools/dbus_exporter.py
Labels: meson

#21721 RFC: network: change "SetupState" to "AdministrativeState"
  src/network/networkd-json.c
Labels: network

#21708 ci: check for failed services after boot
  .github/workflows/mkosi.yml
  .github/workflows/run_mkosi.sh
  .github/workflows/test_mkosi_boot.py
  mkosi.build
  mkosi.default.d/opensuse/10-mkosi.opensuse
  mkosi.postinst
  test/mkosi-check-and-shutdown.service
  test/mkosi-check-and-shutdown.sh
Labels: good-to-merge/waiting-for-ci 👍, mkosi, ci

#21722 build: include BPF_FRAMEWORK in version string
  src/basic/build.c
  src/core/bpf/meson.build
  src/core/bpf/restrict_fs/meson.build
  src/core/bpf/restrict_ifaces/meson.build
  src/core/bpf/socket_bind/meson.build
  test/units/testsuite-62.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, meson

#21726 Export systemd-networkd D-Bus XML introspection
  meson.build
Labels: network, good-to-merge/waiting-for-ci 👍, meson

#21729 network-generator: support link6 network configuration
  src/network/generator/network-generator.c
  src/network/generator/network-generator.h
Labels: network

#21731 test: fix TEST-62
  test/units/testsuite-62.service
  test/units/testsuite-62.sh
Labels: tests, quick-review 🏃‍♂️

#20598 fstab-generator, core/mount: Avoid special fs target before dependency only if nofail is used
  src/core/mount.c
  src/fstab-generator/fstab-generator.c
Labels: fstab-generator

#21727 ci: Build test with different linkers
  .github/workflows/build_test.sh
  .github/workflows/build_test.yml
  meson.build
  meson_options.txt
  src/boot/efi/meson.build
Labels: ci-failure-appears-unrelated, ci

#21673 namespace: allow overriding /run with a TemporaryFileSystem=
  src/core/namespace.c
Labels: pid1

#21570 stub: Load credentials from \loader\credentials\*.cred
  man/systemd-stub.xml
  src/boot/efi/cpio.c
  src/boot/efi/cpio.h
  src/boot/efi/stub.c
Labels: boot

#21664 network: several cleanups for tunnel device
  src/network/netdev/tunnel.c
  src/network/netdev/tunnel.h
Labels: network, ci-failure-appears-unrelated

#21735 meson: Fix gnu-efi detection for clang
  src/boot/efi/meson.build
Labels: boot, good-to-merge/waiting-for-ci 👍, meson, ci

#21740 meson: Drop meson version compare for fuzz test
  test/fuzz/meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#21614 boot: Add BCD store parser
  meson.build
  src/boot/efi/bcd.c
  src/boot/efi/bcd.h
  src/boot/efi/boot.c
  src/boot/efi/measure.c
  src/boot/efi/meson.build
  src/boot/efi/pe.c
  src/boot/efi/test-bcd.c
  src/boot/efi/util.c
  src/boot/efi/util.h
  test/meson.build
  test/test-bcd/.gitattributes
  test/test-bcd/corrupt.bcd.zst
  test/test-bcd/description-bad-type.bcd.zst
  test/test-bcd/description-empty.bcd.zst
  test/test-bcd/description-missing.bcd.zst
  test/test-bcd/description-too-small.bcd.zst
  test/test-bcd/displayorder-bad-name.bcd.zst
  test/test-bcd/displayorder-bad-size.bcd.zst
  test/test-bcd/displayorder-bad-type.bcd.zst
  test/test-bcd/empty.bcd.zst
  test/test-bcd/win10.bcd.zst
Labels: boot

#21732 Enable /dev/sgx_vepc access for the group 'sgx'
  rules.d/50-udev-default.rules.in
Labels: udev, good-to-merge/waiting-for-ci 👍

#21733 Disable exporting D-Bus Introspection XML if cross-compiling
  meson.build
Labels: meson

#21750 test: bump timeout for TEST-50-DISSECT and TEST-67-INTEGRITY
  test/TEST-50-DISSECT/test.sh
  test/TEST-67-INTEGRITY/test.sh
Labels: tests

#21749 Shebang bash via env
  .github/workflows/build_test.sh
  .github/workflows/run_mkosi.sh
  .github/workflows/unit_tests.sh
  .semaphore/semaphore-runner.sh
  coccinelle/run-coccinelle.sh
  man/50-xdg-data-dirs.sh
  man/systemd-notify.xml
  man/systemd-run.xml
  src/basic/check-filesystems.sh
  src/rpm/systemd-update-helper.in
  tools/check-api-docs.sh
  tools/check-help.sh
  tools/get-coverity.sh
Labels: good-to-merge/waiting-for-ci 👍

#21752 Small improvements to systemd-creds output and man page
  man/systemd-creds.xml
  man/systemd-cryptenroll.xml
  src/shared/creds-util.c
Labels: documentation, util-lib, good-to-merge/waiting-for-ci 👍

#21758 man: how to unset CPUQuota=
  man/systemd.resource-control.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#21759 man: do not install sd-boot man pages when -Dgnu-efi=false is set
  man/bootctl.xml
  man/loader.conf.xml
  man/rules/meson.build
  man/systemd-bless-boot-generator.xml
  man/systemd-bless-boot.service.xml
  man/systemd-boot-system-token.service.xml
  man/systemd-boot.xml
  man/systemd-stub.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#21741 boot, meson: allow statically linked build
  meson.build
  meson_options.txt
Labels: boot, good-to-merge/waiting-for-ci 👍, meson

#21768 Fix loading of graphs
  README.md
Labels: documentation

#21756 wait-online: also use address state even when operational state is below degraded
  man/systemd-networkd-wait-online.service.xml
  src/network/wait-online/manager.c
Labels: network

#21769 home: fix heap-use-after-free
  src/home/homed-home-bus.c
  src/home/homed-manager.c
  src/shared/bus-polkit.c
  src/shared/bus-polkit.h
Labels: good-to-merge/waiting-for-ci 👍, homed

#21771 hostnamectl: add a chassis symbol in status output
  src/hostname/hostnamectl.c
Labels: hostname, good-to-merge/waiting-for-ci 👍

#21775 journalct: show info about journal range only at debug level
  src/journal/journalctl.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#21773 hwdb: Add accel orientation quirk for the Chuwi Hi10 Go tablet
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#21763 udevadm: also show write-only attributes
  src/libsystemd/sd-device/sd-device.c
  src/udev/udevadm-info.c
Labels: udev, sd-device

#21788 network: route: update comment
  src/network/networkd-route.c
Labels: network, good-to-merge/waiting-for-ci 👍

#21784 journal: Hole punching improvements
  src/journal/journald-file.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#21766 network-generator: support setting NamePolicy=
  man/rules/meson.build
  man/systemd-network-generator.service.xml
  man/systemd-udevd.service.xml
  meson.build
  src/network/generator/main.c
  src/network/generator/network-generator.c
  src/network/generator/network-generator.h
  src/network/generator/test-network-generator.c
  src/shared/netif-naming-scheme.c
  src/shared/netif-naming-scheme.h
  src/udev/net/link-config.c
  src/udev/net/link-config.h
  units/meson.build
  units/systemd-network-generator.service.in
Labels: udev, network, units, ci-failure-appears-unrelated

#20559 resolved: filter stub listeners in manager_get_dns_server()
  src/resolve/resolved-conf.c
  src/resolve/resolved-conf.h
  src/resolve/resolved-dns-server.c
  src/resolve/resolved-manager.c
  src/resolve/resolved-manager.h
  src/resolve/resolved-resolv-conf.c
Labels: resolve

#21757 kernel-install: Introduce KERNEL_INSTALL_MACHINE_ID in /etc/machine-info
  NEWS
  man/kernel-install.xml
  man/machine-info.xml
  src/kernel-install/kernel-install
Labels: documentation, good-to-merge/waiting-for-ci 👍, kernel-install

#21791 A couple of TEST-64-UDEV-STORAGE tweaks
  test/TEST-64-UDEV-STORAGE/test.sh
  test/units/testsuite-64.sh
Labels: udev, tests, good-to-merge/waiting-for-ci 👍

#21790 Enable systemd-network-generator by default
  man/systemd-udevd.service.xml
  presets/90-systemd.preset
  units/systemd-networkd.service.in
Labels: good-to-merge/waiting-for-ci 👍, units

#21736 network: cleanups for dropping foreign configs
  src/network/networkd-address.c
  src/network/networkd-route.c
  test/test-network/systemd-networkd-tests.py
Labels: network, good-to-merge/waiting-for-ci 👍

#21796 test: record missing openssl as a failure
  test/units/testsuite-50.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#21797 test: mark TEST-46-HOMED as skipped if feature is disabled
  test/units/testsuite-46.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#21798 network: dhcp: logs received 6rd option
  src/network/networkd-dhcp-prefix-delegation.c
Labels: network, good-to-merge/waiting-for-ci 👍

#21785 logind: allow to read /proc
  units/systemd-logind.service.in
Labels: units, good-to-merge/with-minor-suggestions

#21801 logind: add a comment with a reminder why we don't use ProtrectProc=
  units/systemd-logind.service.in
Labels: units, quick-review 🏃‍♂️

#19006 boot/kernel-install: hopefully the final word w.r.t. $MACHINE_ID creation
  man/kernel-install.xml
  meson.build
  src/kernel-install/00-entry-directory.install
  src/kernel-install/90-loaderentry.install
  src/kernel-install/install.conf
  src/kernel-install/kernel-install
  src/kernel-install/meson.build
Labels: boot, kernel-install, ci-failure-appears-unrelated

#21803 test: adjust MemoryHigh= on oomd extended test units
  test/units/testsuite-55-testbloat.service
  test/units/testsuite-55-testchill.service
  test/units/testsuite-55-testmunch.service
Labels: tests, good-to-merge/waiting-for-ci 👍

#21800 Add more debugging info to udev builtin net_id
  man/sd_journal_next.xml
  man/systemd-journald.service.xml
  man/systemd.net-naming-scheme.xml
  src/basic/string-util.h
  src/udev/udev-builtin-net_id.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#21810 man: fix machine-id(5) man page reference
  man/machine-info.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#21811 network: dhcp4: pass IPServiceType=none to dhcp client
  src/network/networkd-dhcp4.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#21809 network: a couple of tweaks suggested by Coccinelle
  src/network/netdev/ipoib.c
  src/network/networkd-address-generation.c
Labels: network, good-to-merge/waiting-for-ci 👍

#21804 homed: Use new SD_BUS_METHOD_WITH_ARGS macro
  src/home/homed-home-bus.c
  src/home/homed-manager-bus.c
Labels: homed

#21808 core: Add trigger limit for path units
  src/core/automount.c
  src/core/automount.h
  src/core/path.c
  src/core/path.h
  src/core/socket.c
  src/core/socket.h
  src/core/timer.c
  src/core/timer.h
  src/core/unit.c
  src/core/unit.h
  test/units/testsuite-10.service
  test/units/testsuite-63.service
Labels: pid1, good-to-merge/with-minor-suggestions

#21814 network: several fixes for DHCP prefix delegation
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-radv.c
  src/network/netdev/tunnel.c
  src/network/networkd-dhcp-prefix-delegation.c
  src/network/networkd-route.c
  test/test-network/conf/isc-dhcpd-6rd.conf
  test/test-network/systemd-networkd-tests.py
Labels: network

#21806 logind: Use new macros
  src/login/logind-dbus.c
  src/login/logind-seat-dbus.c
  src/login/logind-session-dbus.c
  src/login/logind-user-dbus.c
Labels: login, good-to-merge/waiting-for-ci 👍
