Repository systemd/systemd, pull requests merged in 2021-03, with the labels that each got.

#18811 udev rules: add rule to create /dev/ptp_hyperv
  rules.d/50-udev-default.rules.in
Labels: udev

#18828 Three small fixes
  NEWS
  src/core/execute.c
  src/test/test-socket-netlink.c
Labels: ci-failure-appears-unrelated

#18827 A bunch of man page updates
  TODO
  man/common-variables.xml
  man/coredumpctl.xml
  man/homectl.xml
  man/journalctl.xml
  man/localectl.xml
  man/loginctl.xml
  man/machine-info.xml
  man/machinectl.xml
  man/portablectl.xml
  man/systemctl.xml
  man/systemd-analyze.xml
  man/systemd-coredump.xml
  man/systemd-inhibit.xml
  man/systemd-nspawn.xml
  man/systemd-resolved.service.xml
  man/systemd-sysv-generator.xml
  man/systemd-tmpfiles.xml
  man/systemd.exec.xml
  man/systemd.service.xml
  man/systemd.syntax.xml
  man/systemd.unit.xml
  man/systemd.xml
  man/timedatectl.xml
  man/timesyncd.conf.xml
  man/udev.xml
  man/userdbctl.xml
  src/basic/log.c
  src/basic/syslog-util.c
  src/coredump/coredump.c
Labels: ci-failure-appears-unrelated, documentation

#18831 A bunch of man page updates
  docs/ENVIRONMENT.md
  man/systemd-coredump.xml
  man/systemd-sysv-generator.xml
  man/systemd.syntax.xml
  man/systemd.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#18833 test-signal-util: add test for signal_is_blocked()
  src/test/test-signal-util.c
Labels: good-to-merge/waiting-for-ci 👍, tests, util-lib

#18835 btrfs-util: add helper that abstracts "might be btrfs subvol?" check
  src/basic/btrfs-util.c
  src/basic/btrfs-util.h
  src/basic/rm-rf.c
  src/import/export-tar.c
  src/shared/discover-image.c
Labels: quick-review 🏃‍♂️, util-lib

#18837 fs-util: use ERRNO_IS_NOT_SUPPORTED() at two more places where we can…
  src/basic/fs-util.c
Labels: util-lib

#18832 Always stop sd-event sources in resolved when unreffing them
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-stream.c
  src/resolve/resolved-dns-stub.c
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-llmnr.c
  src/resolve/resolved-manager.c
  src/resolve/resolved-mdns.c
  src/resolve/resolved-socket-graveyard.c
Labels: good-to-merge/waiting-for-ci 👍, resolve

#18838 tree-wide: fix typo
  man/common-variables.xml
  man/systemd-coredump.xml
  src/core/namespace.c
Labels: quick-review 🏃‍♂️, tree-wide

#18805 sd-device: don't use BPF filtering for kernel monitors
  src/libsystemd/sd-device/device-monitor.c
Labels: sd-device

#18808 add i2c subsystem to 60-persistent-input.rules for by-path
  rules.d/60-persistent-input.rules
Labels: squash-on-merge, udev

#18841 Two minor small man page updates
  man/systemd-coredump.xml
Labels: coredump, documentation, good-to-merge/waiting-for-ci 👍

#18836 util: add helpers for generating colored check mark glyphs from bools
  src/basic/locale-util.h
  src/basic/terminal-util.h
  src/boot/bootctl.c
Labels: util-lib

#18834 Beef up path_extract_filename() a bit, and introduce path_extract_directory()
  src/basic/path-util.c
  src/basic/path-util.h
  src/basic/tmpfile-util.c
  src/machine/machinectl.c
  src/test/meson.build
  src/test/test-path-util.c
  src/test/test-tmpfile-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#18849 time-util: simplify overflow check
  src/basic/time-util.h
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#18847 fstab-generator: add new root=tmpfs option
  man/systemd-fstab-generator.xml
  src/fstab-generator/fstab-generator.c
Labels: fstab-generator, good-to-merge/waiting-for-ci 👍, new-feature

#18816 rules: Move ID_SMARTCARD_READER definition to a <70 configuration.
  rules.d/60-fido-id.rules
  rules.d/99-systemd.rules.in
Labels: good-to-merge/waiting-for-ci 👍, udev

#18859 fs-util: port open_parent() to path_extract_directory()
  src/basic/fs-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#18857 gpt: generalize validator for GPT partition labels
  src/partition/repart.c
  src/shared/gpt.c
  src/shared/gpt.h
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#18861 fs-util: when opening arbitrary inodes, better use O_NONBLOCK
  src/basic/fs-util.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, util-lib

#18862 rm-rf: fstatat() might fail if containing dir has limited access mode…
  src/basic/rm-rf.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#18864 make sure fsync_directory_of_file() + fsync_full() work on more inode types reasonably
  src/basic/fs-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#18870 coredumpctl: show container hostame
  src/coredump/coredumpctl.c
Labels: coredump

#18871 run: update dbus unique names check
  src/run/run.c
Labels: run

#18773 network: move several functions
  src/libsystemd-network/sd-dhcp-lease.c
  src/network/meson.build
  src/network/networkd-dhcp4.c
  src/network/networkd-link-bus.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-lldp-rx.c
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-ndisc.c
  src/network/networkd-state-file.c
  src/network/networkd-state-file.h
Labels: network

#18840 io-util: introduce ppoll_usec()
  src/basic/io-util.c
  src/basic/io-util.h
  src/journal/journalctl.c
  src/libsystemd/sd-bus/sd-bus.c
  src/libudev/libudev-monitor.c
  src/shared/ask-password-api.c
  src/shared/barrier.c
  src/stdio-bridge/stdio-bridge.c
  src/tty-ask-password-agent/tty-ask-password-agent.c
Labels: journal, needs-review, tree-wide, udev

#18394 npt msg member trans_time sec is int32,it will overflow if local system time is later than 2038.
  src/timesync/timesyncd-manager.c
Labels: reviewed/needs-rework 🔨, timesync

#18615 New directives PrivateIPC and IPCNamespacePath
  man/org.freedesktop.systemd1.xml
  man/systemd.exec.xml
  man/systemd.unit.xml
  src/basic/namespace-util.c
  src/basic/namespace-util.h
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.m4
  src/core/namespace.c
  src/core/namespace.h
  src/core/socket.c
  src/nspawn/nspawn.c
  src/shared/bus-unit-util.c
  src/shared/nsflags.c
  src/shared/nsflags.h
  src/test/test-namespace.c
  src/test/test-stat-util.c
  test/fuzz/fuzz-unit-file/directives.service
Labels: needs-rebase, new-feature, pid1, reviewed/needs-rework 🔨

#18879 fileio: minor read_full_stream_full() optimization
  src/basic/fileio.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#18858 man: document how to use --network-interface= during boot
  man/systemd-nspawn.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, nspawn

#18878 rm-rf: fix up chmod in the _cleanup_ rm_rf() destructors
  src/basic/rm-rf.h
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#18880 run: tweak algorithm for generating unit name from dbus unique name
  src/run/run.c
Labels: good-to-merge/waiting-for-ci 👍, run

#18882 copy: simplify error paths when creating temporary files
  src/basic/copy.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, util-lib

#18883 copy: move sync_rights() to copy.c and rename copy_rights()
  src/basic/copy.c
  src/basic/copy.h
  src/basic/fileio.c
  src/basic/fileio.h
  src/firstboot/firstboot.c
  src/sysusers/sysusers.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#18876 hwdb: add fuzz for Dell Latitude E7470
  hwdb.d/60-evdev.hwdb
Labels: hwdb

#18874 dhcp-server: also append specified additional options and vendor specific option on DHCP_OFFER
  src/libsystemd-network/sd-dhcp-server.c
Labels: dhcp, good-to-merge/waiting-for-ci 👍, network

#18873 tree-wide: use config_parse_many() and null_or_empty_path()
  man/journald.conf.xml
  man/systemd.link.xml
  src/journal/journald-server.c
  src/network/netdev/netdev.c
  src/network/networkd-network.c
  src/shared/install.c
  src/udev/net/link-config.c
Labels: good-to-merge/waiting-for-ci 👍, install, journal, network, udev

#18885 udev: fix importing program result
  src/basic/strv.c
  src/basic/strv.h
  src/test/test-device-nodes.c
  src/test/test-strv.c
  src/udev/udev-event.c
  src/udev/udev-rules.c
  test/TEST-17-UDEV-WANTS/test.sh
  test/TEST-17-UDEV/Makefile
  test/TEST-17-UDEV/test.sh
  test/TEST-29-PORTABLE/Makefile
  test/TEST-29-PORTABLE/test.sh
  test/TEST-49-RUNTIME-BIND-PATHS/Makefile
  test/TEST-49-RUNTIME-BIND-PATHS/test.sh
  test/TEST-49-UDEV-EVENT-TIMEOUT/test.sh
  test/TEST-55-OOMD/Makefile
  test/TEST-55-OOMD/test.sh
  test/TEST-55-UDEV-TAGS/test.sh
  test/TEST-56-OOMD/Makefile
  test/TEST-57-RUNTIME-BIND-PATHS/Makefile
  test/TEST-58-PORTABLE/Makefile
  test/units/testsuite-17.01.sh
  test/units/testsuite-17.02.sh
  test/units/testsuite-17.03.sh
  test/units/testsuite-17.04.sh
  test/units/testsuite-17.05.sh
  test/units/testsuite-17.service
  test/units/testsuite-17.sh
  test/units/testsuite-29.service
  test/units/testsuite-29.sh
  test/units/testsuite-49-namespaced.service
  test/units/testsuite-49-non-namespaced.service
  test/units/testsuite-49.service
  test/units/testsuite-49.sh
  test/units/testsuite-55-slowgrowth.sh
  test/units/testsuite-55-testbloat.service
  test/units/testsuite-55-testchill.service
  test/units/testsuite-55-testmunch.service
  test/units/testsuite-55-workload.slice
  test/units/testsuite-55.service
  test/units/testsuite-55.sh
  test/units/testsuite-56-testmunch.service
  test/units/testsuite-56.service
  test/units/testsuite-56.sh
  test/units/testsuite-57.service
  test/units/testsuite-57.sh
  test/units/testsuite-58.service
  test/units/testsuite-58.sh
Labels: udev

#18884 Update 60-sensor.hwdb
  hwdb.d/60-sensor.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb, squash-on-merge

#18875 localed: return error when setting a non-installed keymap
  TODO
  src/basic/kbd-util.c
  src/basic/meson.build
  src/locale/localed.c
  src/shared/kbd-util.c
  src/shared/kbd-util.h
  src/shared/meson.build
Labels: good-to-merge/with-minor-suggestions, keymap

#18895 socket-util: refuse "all" and "default" as valid ifnames
  src/basic/socket-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#18897 dissect: avoid overflow access by NULLSTR_FOREACH
  src/shared/dissect-image.c
Labels: dissect, good-to-merge/waiting-for-ci 👍

#18899 test: disable at_exit LSan check for dbus.service
  test/test-functions
Labels: good-to-merge/waiting-for-ci 👍, tests

#18896 if ipv6 is turned off, don't synthesize localhost as ::1 ever
  src/basic/meson.build
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/basic/sysctl-util.c
  src/basic/sysctl-util.h
  src/resolve/resolved-dns-synthesize.c
  src/shared/meson.build
  src/test/test-socket-util.c
Labels: good-to-merge/waiting-for-ci 👍, resolve

#18881 udev: run link_update() with increased retry count in second invocation
  src/udev/udev-event.c
Labels: bug 🐛, udev

#18901 fstab-generator: fix typo
  src/fstab-generator/fstab-generator.c
Labels: quick-review 🏃‍♂️

#18890 Add fuzzers for bus match parsing code
  docs/ENVIRONMENT.md
  src/fuzz/fuzz-main.c
  src/fuzz/meson.build
  src/libsystemd/meson.build
  src/libsystemd/sd-bus/bus-internal.h
  src/libsystemd/sd-bus/bus-match.c
  src/libsystemd/sd-bus/bus-match.h
  src/libsystemd/sd-bus/fuzz-bus-match.c
  src/libsystemd/sd-bus/fuzz-bus-message.c
  src/libsystemd/sd-bus/test-bus-chat.c
  src/libsystemd/sd-bus/test-bus-match.c
  test/fuzz/fuzz-bus-match/bugzilla1935084.input
  test/fuzz/fuzz-bus-match/test.input
Labels: documentation, fuzzing, sd-bus

#18891 size_t cast removal
  src/basic/audit-util.h
  src/basic/cgroup-util.h
  src/basic/string-util.c
  src/libsystemd/sd-bus/bus-message.c
  src/network/wait-online/manager.c
  src/shared/format-table.h
  src/shared/nsflags.h
  src/systemd/sd-lldp.h
Labels: good-to-merge/waiting-for-ci 👍, network

#18906 Manual page fixes.
  man/sd_bus_add_match.xml
  man/sd_bus_request_name.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, squash-on-merge

#18905 dissect: fix memleak
  src/shared/dissect-image.c
Labels: dissect, good-to-merge/waiting-for-ci 👍

#18892 resolved: properly handle stub replies for chains of multiple CNAMEs
  src/resolve/resolved-dns-answer.c
  src/resolve/resolved-dns-answer.h
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-query.h
  src/resolve/resolved-dns-rr.c
  src/resolve/resolved-dns-stub.c
Labels: good-to-merge/waiting-for-ci 👍, resolve

#18910 socket-util: initialize variable with cleanup attribute
  src/basic/socket-util.c
Labels: quick-review 🏃‍♂️, util-lib

#18907 test: fix TEST-50-DISSECT under sanitizers
  test/test-functions
Labels: dissect, good-to-merge/waiting-for-ci 👍, tests

#18911 Coverity inspired fixes
  src/basic/namespace-util.c
  src/basic/os-util.c
  src/core/socket.c
  src/journal-remote/journal-gatewayd.c
  src/journal-remote/microhttpd-util.c
  test/units/testsuite-15.sh
Labels: coverity, good-to-merge/waiting-for-ci 👍, journal-remote

#18908 ci: correctly drop patches with non four digit indexes
  .packit.yml
Labels: ci, needs-review

#18920 hwdb: 60-keyboard:: Update Dell Privacy Micmute Hotkey Map
  hwdb.d/60-keyboard.hwdb
Labels: good-to-merge/waiting-for-ci 👍, hwdb

#18923 test: fix the last subtest of TEST-50-DISSECT under sanitizers
  test/units/testsuite-50.sh
Labels: dissect, good-to-merge/waiting-for-ci 👍, tests

#18924 Homed inotify crash
  src/home/homed-home-bus.c
  src/home/homed-home.c
  src/home/homed-manager-bus.c
  src/home/homed-manager.c
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, homed

#18921 seccomp: fix issue in system call filter with errno
  src/core/dbus-execute.c
  src/core/load-fragment.c
  src/shared/seccomp-util.c
  src/test/meson.build
  src/test/test-execute.c
  src/test/test-parse-util.c
  src/test/test-seccomp.c
  test/test-execute/exec-systemcallfilter-with-errno-in-allow-list.service
Labels: good-to-merge/waiting-for-ci 👍, pid1, seccomp

#18918 man: update documents about NoNewPrivileges=
  man/systemd.exec.xml
  src/core/execute.c
Labels: ci-failure-appears-unrelated, documentation, good-to-merge/waiting-for-ci 👍, pid1

#18928 format-table: simplify table_set_display_all() and keep it private
  src/shared/format-table.c
  src/shared/format-table.h
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#18927 dissect-image: don't mix two forms of stack allocation in one line
  src/shared/dissect-image.c
Labels: dissect, good-to-merge/waiting-for-ci 👍, util-lib

#18931 timedated: fix skipping of comments in config file
  src/timedate/timedated.c
Labels: good-to-merge/waiting-for-ci 👍, timedate

#18930 oomd: fix memory leak
  src/oom/oomd-manager.c
  src/oom/oomd-util.c
  src/oom/test-oomd-util.c
Labels: good-to-merge/waiting-for-ci 👍, oomd

#18938 Translations update from Weblate
  po/ko.po
Labels: l10n 🌍

#18933 logind: add …WithFlags methods to policy
  src/login/org.freedesktop.login1.conf
Labels: good-to-merge/waiting-for-ci 👍, login

#18934 fs-util: port symlink_idempotent() to path_extract_directory()
  src/basic/fs-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#18945 socket-util: refuse ifnames with embedded '%' as invalid
  src/basic/socket-util.c
  src/test/test-socket-netlink.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#18942 sd-nelink prettification
  src/libsystemd/sd-netlink/generic-netlink.c
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-socket.c
  src/libsystemd/sd-netlink/nfnl-message.c
Labels: sd-netlink

#18553 Make (user) instance aware of delegated cgroup controllers
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/core/cgroup.c
Labels: cgroups, pid1

#18946 test: disable nss-systemd for TEST-22 under ASan
  test/TEST-22-TMPFILES/test.sh
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, nss, tests

#18950 Revert "udev: do not execute hwdb builtin import twice or thrice"
  rules.d/50-udev-default.rules.in
  rules.d/60-serial.rules
Labels: good-to-merge/waiting-for-ci 👍, regression ⚠️, udev

#18954 coredump: omit coredump info when -q is used with the `debug` verb
  src/coredump/coredumpctl.c
Labels: coredump, quick-review 🏃‍♂️

#18944 udev: add default group for sgx enclave access
  rules.d/50-udev-default.rules.in
  sysusers.d/basic.conf.in
Labels: udev

#18959 coredumpctl: fflush() stdout before invoking gdb
  src/basic/process-util.c
  src/basic/process-util.h
  src/coredump/coredumpctl.c
Labels: coredump, good-to-merge/waiting-for-ci 👍

#18961 man: shorten list of partition types a bit
  man/systemd.exec.xml
Labels: documentation, quick-review 🏃‍♂️

#18943 install: refactor find_symlinks() and don't search for symlinks recursively
  src/shared/install.c
Labels: units

#18962 three image dissection fixes
  src/dissect/dissect.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
Labels: ci-failure-appears-unrelated, dissect

#18966 repart: fix the loop dev support check
  src/partition/test-repart.sh
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, repart, tests

#18955 Fix handling of escaped characters in fstab
  src/basic/extract-word.c
  src/basic/extract-word.h
  src/core/mount.c
  src/cryptsetup/cryptsetup-generator.c
  src/fstab-generator/fstab-generator.c
  src/resolve/resolved-conf.c
  src/shared/fstab-util.c
  src/shared/fstab-util.h
  src/shared/generator.c
  src/test/test-extract-word.c
  src/test/test-fstab-util.c
  src/test/test-strv.c
Labels: resolve

#18915 Fix crash during daemon-reexec with systemd-oomd running
  src/core/core-varlink.c
  src/oom/oomd.c
  src/shared/varlink.c
Labels: ci-failure-appears-unrelated, needs-review, pid1, varlink

#18922 sd-event: re-check new epoll events when a child event is queued
  src/libsystemd/sd-event/sd-event.c
  src/libsystemd/sd-event/test-event.c
Labels: needs-review, sd-event

#18967 Revert "sd-event: re-check new epoll events when a child event is que…
  src/libsystemd/sd-event/sd-event.c
Labels: good-to-merge/waiting-for-ci 👍, priority, udev

#18979 Man page links
  man/sd-bus.xml
  man/systemd.exec.xml
  man/systemd.netdev.xml
Labels: documentation

#18978 Suggest network-online.target for rc.local
  man/rules/meson.build
  man/systemd-rc-local-generator.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#18985 ask-password-api: fix error handling on invalid unicode character
  src/shared/ask-password-api.c
Labels: ask-password

#18992 fstab-util: fix typo in comment
  src/shared/fstab-util.c
Labels: quick-review 🏃‍♂️

#18987 boot: Move console declarations to missing_efi.h
  src/boot/efi/console.c
  src/boot/efi/console.h
  src/boot/efi/missing_efi.h
Labels: boot, ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍

#18984 sd-event: add test for timeout parameter of sd_event_wait()
  src/libsystemd/sd-event/sd-event.c
  src/libsystemd/sd-event/test-event.c
Labels: quick-review 🏃‍♂️, sd-event

#18991 man: DNS/NTP servers received from DHCP server are concatenated with …
  man/systemd.network.xml
Labels: ci-failure-appears-unrelated, documentation

#19001 man: specify that ProtectProc= does not work with root/cap_sys_ptrace
  man/systemd.exec.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#19012 Translations update from Weblate
  po/ko.po
Labels: l10n 🌍

#19013 meson.build: make xinitrcdir configurable
  meson.build
  meson_options.txt
Labels: good-to-merge/waiting-for-ci 👍, meson, quick-review 🏃‍♂️

#18976 sd-event: re-check new epoll events when a child event is queued
  src/libsystemd/sd-event/sd-event.c
Labels: sd-event

#19022 journald: don't lose facility of log streams on journald restart
  src/journal/journald-stream.c
Labels: good-to-merge/waiting-for-reporter-feedback 👍, journal

#19009 resolved: more CNAME redirect fixes
  src/resolve/resolved-dns-answer.c
  src/resolve/resolved-dns-answer.h
  src/resolve/resolved-dns-cache.c
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-question.c
  src/resolve/resolved-dns-question.h
  src/resolve/resolved-dns-stub.c
Labels: good-to-merge/waiting-for-reporter-feedback 👍, resolve

#19023 dhcp6: fix wrong length for IA_PD dhcp6 option
  src/libsystemd-network/dhcp6-option.c
Labels: dhcp, good-to-merge/waiting-for-ci 👍, network

#19025 cg_unified_cached: return ENOMEDIUM if we cannot find a known hierarchy
  src/basic/cgroup-util.c
Labels: cgroups, good-to-merge/after-next-release

#19027 hwdb: unifying receiver match keys for Logitech MX Ergo
  hwdb.d/70-mouse.hwdb
Labels: hwdb

#19024 man: Specify that only d-bus methods can be answered async
  man/sd_bus_add_object.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, sd-bus

#19032 doc/RELEASE.md: document hwdb update step
  docs/RELEASE.md
Labels: documentation, quick-review 🏃‍♂️

#19029 resolved: simplify min_ttl check
  src/resolve/resolved-dns-cache.c
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, resolve

#19034 read_virtual_file() tweaks
  src/basic/cgroup-util.c
  src/basic/fileio.c
  src/basic/mountpoint-util.c
  src/basic/process-util.c
  src/coredump/coredump.c
  src/libsystemd/sd-bus/bus-creds.c
  src/libsystemd/sd-device/sd-device.c
  src/pstore/pstore.c
  src/shared/acpi-fpdt.c
  src/systemctl/systemctl-edit.c
Labels: good-to-merge/waiting-for-ci 👍, systemctl, tree-wide, util-lib

#19011 oomd: update pressure based kills to use pgscan rate
  src/oom/oomd-manager.c
  src/oom/oomd-manager.h
  src/oom/oomd-util.c
  src/oom/oomd-util.h
  src/oom/test-oomd-util.c
Labels: good-to-merge/waiting-for-ci 👍, oomd

#19035 shutdown: fix typo
  src/shutdown/shutdown.c
Labels: good-to-merge/waiting-for-ci 👍, shutdown

#19036 tree-wide: coccinelle fixes
  coccinelle/flags-set.cocci
  coccinelle/run-coccinelle.sh
  coccinelle/strjoina.cocci
  src/basic/fs-util.h
  src/basic/rm-rf.h
  src/core/namespace.c
  src/network/netdev/batadv.c
  src/test/test-copy.c
  src/veritysetup/veritysetup-generator.c
Labels: coccinelle, good-to-merge/waiting-for-ci 👍, network

#19030 a bunch of small fixes and clenups based on initial RHEL-9 covscan run
  src/journal-remote/journal-gatewayd.c
  src/journal-remote/journal-upload.c
  src/resolve/resolved-dns-rr.c
  src/systemctl/systemctl-edit.c
Labels: good-to-merge/waiting-for-ci 👍, journal-remote, resolve, systemctl

#19046 homepage: fix year in footer to 2021
  docs/_includes/footer.html
Labels: documentation, good-to-merge/waiting-for-ci 👍

#19047 udev: do not try to assign invalid ifname
  src/udev/net/link-config.c
Labels: good-to-merge/waiting-for-ci 👍, udev

#19045 Wrong index in error message
  src/network/networkctl.c
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, network

#19048 correct typo and incorrect command in NEWS
  NEWS
Labels: documentation, reviewed/needs-rework 🔨

#19056 repart: make sure to grow partition table after growing backing loopb…
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#19055 blockdev-util: fix access to possibly invalidated dirent struct
  src/basic/blockdev-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#19037 systemd-boot: LLVM/lld does not support PE/COFF relocations.
  src/boot/efi/meson.build
Labels: boot, build-system, meson

#19066 meson: fix build error of test-dnssec-complex
  src/resolve/meson.build
Labels: meson, resolve

#19070 logs-show: add missing newline in warning message
  src/shared/logs-show.c
Labels: good-to-merge/waiting-for-ci 👍, journal

#19074 meson: fix warning about comparison between different types
  meson_options.txt
  src/boot/efi/meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#19057 shell-completion: systemd-run: add missing options
  shell-completion/bash/systemd-run
  shell-completion/zsh/_systemd-run
Labels: shell completion

#19058 Save errno over log_open() calls
  src/basic/log.c
  src/basic/process-util.c
  src/home/homed-home.c
  src/home/homework-fscrypt.c
  src/home/homework-luks.c
  src/login/logind-brightness.c
  src/shared/dissect-image.c
Labels: good-to-merge/waiting-for-ci 👍, tree-wide

#19081 Three comment updates
  NEWS
  man/systemd.device.xml
  src/basic/log.c
Labels: documentation, good-to-merge/waiting-for-ci 👍

#19079 fix CNAME/DNAME following in combined A/AAAA replies
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-query.h
Labels: good-to-merge/waiting-for-ci 👍, resolve

#19075 Fix infinite loop in calendarspec calculation when timezone has negative DST save value
  src/shared/calendarspec.c
  src/test/test-calendarspec.c
  test/test-functions
Labels: good-to-merge/waiting-for-ci 👍, pid1, priority

#19080 sd-event: disable epoll_pwait2 for now
  src/libsystemd/sd-event/sd-event.c
Labels: ci-failure-appears-unrelated, pid1

#19084 man: rate limited services can be restartet from timer or socket
  man/systemd.unit.xml
Labels: documentation

#19054 man: document differences in clean exit status for Type=oneshot
  man/systemd.service.xml
Labels: documentation, needs-review

#19086 Translations update from Weblate
  po/LINGUAS
  po/nl.po
Labels: l10n 🌍

#19088 blockdev-util: actually specify an access mode on open()
  src/basic/blockdev-util.c
Labels: good-to-merge/waiting-for-ci 👍, util-lib

#19090 repart: remove spurious empty double newlines
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#19087 fix: ipv6 tunnel encaplimit
  src/network/netdev/tunnel.c
Labels: network

#19098 Do not pass generated strings to xprintf
  src/core/transaction.c
Labels: pid1

#19085 process-util: handle RLIMIT_STACK=infinity more gracefully in get_process_cmdline()
  src/basic/process-util.c
  src/test/test-process-util.c
Labels: util-lib

#19100 Translations update from Weblate
  po/nl.po
Labels: l10n 🌍

#19103 local-addresses: fix use of uninitialized value
  src/shared/local-addresses.c
Labels: good-to-merge/waiting-for-ci 👍, network

#19076 firewall-util: modernize code and improve test
  src/network/networkd.c
  src/shared/firewall-util-nft.c
  src/shared/firewall-util-private.h
  src/shared/firewall-util.c
  src/shared/firewall-util.h
  src/test/test-firewall-util.c
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, network, tests, util-lib

#19108 resolved: don't suppress OPT if we have no OPT
  src/resolve/resolved-dns-packet.c
Labels: good-to-merge/waiting-for-ci 👍, resolve

#19114 Translations update from Weblate
  po/ko.po
Labels: l10n 🌍

#19110 resolved: upgrade log level to LOG_NOTICE if we switch to fallback se…
  src/resolve/resolved-dns-server.c
Labels: resolve

#19107 resolved: pass mDNS reply packets to each transaction exactly once
  src/resolve/resolved-mdns.c
Labels: resolve

#19117 Two small coverity issues
  src/libsystemd-network/test-dhcp6-client.c
  src/test/test-firewall-util.c
Labels: ci-failure-appears-unrelated, good-to-merge/waiting-for-ci 👍, tests

#19112 resolved: two more tweaks to the stub
  src/resolve/resolved-bus.c
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-query.h
  src/resolve/resolved-dns-stub.c
  src/resolve/resolved-varlink.c
Labels: resolve

#19121 docs: link to stable releases in the bug template
  .github/ISSUE_TEMPLATE/Bug_report.md
Labels: documentation

#19127 use the right member to define property
  src/core/dbus-manager.c
Labels: bug 🐛, good-to-merge/waiting-for-ci 👍, pid1

#18783 resolved: tweak how we signal authoritative answers
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-query.h
  src/resolve/resolved-dns-stub.c
Labels: resolve

#19125 config files: recommend systemd-analyze cat-config
  hwdb.d/README
  hwdb.d/meson.build
  meson.build
  modprobe.d/README
  rules.d/README
  rules.d/meson.build
  src/core/system.conf.in
  src/coredump/coredump.conf
  src/home/homed.conf
  src/journal/journald.conf
  src/login/logind.conf.in
  src/oom/oomd.conf
  src/resolve/resolved.conf.in
  sysctl.d/README
  sysctl.d/meson.build
  sysusers.d/README
  sysusers.d/meson.build
  tmpfiles.d/README
  tmpfiles.d/meson.build
Labels: documentation, hwdb, journal, resolve

#19128 test-dhcp6-client: add one more assert on memory mapping
  src/libsystemd-network/test-dhcp6-client.c
Labels: ci-failure-appears-unrelated, coverity, network, tests

#19129 Test random_u64_range()
  src/basic/log.h
  src/test/test-random-util.c
Labels: ci-failure-appears-unrelated, tests

#19116 Optimize read_full_virtual_file() and another coverity issue
  src/basic/fileio.c
  src/libsystemd/sd-device/test-sd-device-thread.c
  src/libudev/test-udev-device-thread.c
Labels: ci-failure-appears-unrelated, tests, udev, util-lib

#19144 sd-bus: set retain attribute on BUS_ERROR_MAP_ELF_REGISTER
  src/libsystemd/sd-bus/bus-error.h
Labels: ci-failure-appears-unrelated

#19139 units: make locale directory writable for systemd-localed
  meson.build
  units/systemd-localed.service.in
Labels: units

#19146 fix wrong statement JOURNAL_FILE_FORMAT.md doc
  docs/JOURNAL_FILE_FORMAT.md
Labels: documentation
