Repository systemd/systemd, pull requests merged in 2022-08, with the labels that each got.

#24162 gcrypt: switch to system rng before gcry_check_version
  src/basic/gcrypt-util.c
Labels: util-lib

#24174 network: fix link local address handling
  src/network/networkd-address.c
  src/network/networkd-ipv4acd.c
  src/network/networkd-ipv4acd.h
  src/network/networkd-ipv4ll.c
  src/network/networkd-ipv4ll.h
  src/network/networkd-ipv6ll.c
  src/network/networkd-ipv6ll.h
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-ndisc.c
  src/network/networkd-radv.c
  test/test-network/conf/25-wireguard.network
  test/test-network/systemd-networkd-tests.py
Labels: network, good-to-merge/waiting-for-ci 👍

#24176 mkosi: Update to latest commit
  .github/workflows/mkosi.yml
Labels: good-to-merge/waiting-for-ci 👍, mkosi, ci

#24146 stub: measure kernel/initrd/parameters into clean PCRs 11/12/13, and add "systemd-measure" tool to be able to pre-calculate values
  TODO
  man/rules/meson.build
  man/systemd-cryptenroll.xml
  man/systemd-measure.xml
  man/systemd-stub.xml
  meson.build
  src/boot/bootctl.c
  src/boot/efi/boot.c
  src/boot/efi/cpio.c
  src/boot/efi/cpio.h
  src/boot/efi/measure.c
  src/boot/efi/measure.h
  src/boot/efi/stub.c
  src/boot/efi/util.c
  src/boot/efi/util.h
  src/boot/measure.c
  src/fundamental/efivars-fundamental.h
  src/fundamental/meson.build
  src/fundamental/tpm-pcr.c
  src/fundamental/tpm-pcr.h
  src/shared/efi-loader.c
  src/shared/efi-loader.h
  test/units/testsuite-70.sh
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#24133 resolved: fix single-label resolution over DNS
  src/resolve/resolved-dns-scope.c
Labels: resolve

#24184 mkosi: Update to latest
  .github/workflows/mkosi.yml
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#24183 repart: when keeping ref to backing inode/devnode, use fd_reopen() ra…
  src/partition/repart.c
Labels: repart, needs-stable-backport

#24182 systemctl: clarify that "status" is about the most recent invocation …
  man/systemctl.xml
Labels: documentation, systemctl, good-to-merge/waiting-for-ci 👍

#24178 test: install libgcc_s.so.1 explicitly if available
  test/TEST-70-TPM2/test.sh
  test/test-functions
Labels: tests, good-to-merge/waiting-for-ci 👍

#20255 Adding auto-enrollement of secure boot variables.
  man/loader.conf.xml
  man/systemd-boot.xml
  src/boot/efi/boot.c
  src/boot/efi/meson.build
  src/boot/efi/missing_efi.h
  src/boot/efi/secure-boot.c
  src/boot/efi/secure-boot.h
Labels: documentation, needs-rebase, sd-boot/sd-stub/bootctl

#24173 Added DERE DBook D10
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, squash-on-merge

#24188 Fix 24172: __STDC_VERSION__ may be defined in C++
  src/systemd/_sd-common.h
Labels: good-to-merge/waiting-for-ci 👍

#24164 bpf: fix is_allow_list section
  src/core/bpf/restrict_ifaces/restrict-ifaces.bpf.c
Labels: pid1, bpf

#24193 repart: Remove unnecessary newlines from output
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#24194 man: Clarify that tools should prefer mount units over editing fstab
  man/systemd.mount.xml
Labels: documentation, fstab-generator, good-to-merge/waiting-for-ci 👍

#24196 integritysetup: do not use crypt_init_data_device after crypt_init
  src/integritysetup/integritysetup.c
  test/units/testsuite-67.sh
Labels: good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, integritysetup

#24141 dissect: Add systemd-dissect --umount
  man/systemd-dissect.xml
  src/dissect/dissect.c
  src/shared/blockdev-util.c
  src/shared/blockdev-util.h
  src/shared/dissect-image.c
  src/shared/loop-util.c
  src/shared/loop-util.h
  src/udev/udevadm-lock.c
  test/units/testsuite-50.sh
Labels: udev, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, dissect

#24187 repart: Only lock block device once
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, repart

#24126 docs: add disabled PR template for code freeze
  .github/pull_request_template.md.disabled
  docs/RELEASE.md
Labels: documentation

#24198 test: skip the relevant test case if systemd-measure is not present
  test/units/testsuite-70.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#23639 scope: allow unprivileged delegation on scopes
  src/basic/unit-def.c
  src/basic/unit-def.h
  src/core/dbus-scope.c
  src/core/scope.c
  src/core/scope.h
  src/shared/bus-unit-util.c
  test/units/testsuite-19.sh
Labels: cgroups, pid1, reviewed/needs-rework 🔨

#24200 analyze: Migrate to bus-locator.h
  src/analyze/analyze-security.c
Labels: analyze, good-to-merge/waiting-for-ci 👍

#24192 pull: fix PullFlags numbering
  src/import/pull-common.h
Labels: import, good-to-merge/waiting-for-ci 👍, needs-stable-backport, sysupdate

#24189 boot: Follow-up fixes for #20255
  man/loader.conf.xml
  man/systemd-boot.xml
  src/boot/efi/boot.c
  src/boot/efi/secure-boot.c
  src/boot/efi/ticks.c
  src/boot/efi/util.c
  src/boot/efi/util.h
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#24205 test-network: support the case that l2tp module is not supported
  test/test-network/systemd-networkd-tests.py
Labels: tests, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#23367 core/mount: fix dependency issues
  src/core/mount.c
  src/core/swap.c
  src/core/unit-serialize.c
  src/core/unit.c
  src/core/unit.h
  test/units/testsuite-60.sh
Labels: pid1, good-to-merge/waiting-for-ci 👍

#24213 ci: set a timeout for each mkosi stage
  .github/workflows/run_mkosi.sh
Labels: good-to-merge/waiting-for-ci 👍, mkosi, ci

#24203 man,journalctl: introduce man/--help sections
  man/journalctl.xml
  src/journal/journalctl.c
Labels: journal, documentation

#24216 add ISPOWEROF2() macro and use it
  src/fundamental/macro-fundamental.h
  src/partition/repart.c
  src/test/test-macro.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#23869 bus: use inline trace argument for ANONYMOUS auth
  src/libsystemd/sd-bus/bus-socket.c
Labels: sd-bus, good-to-merge/waiting-for-ci 👍

#24211 mkosi: Add package libfdisk to Ubuntu dependencies
  mkosi.default.d/ubuntu/10-mkosi.ubuntu
Labels: good-to-merge/waiting-for-ci 👍, mkosi, squash-on-merge

#23340 network: check SR-IOV PF state
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-device/sd-device.c
  src/network/netdev/l2tp-tunnel.c
  src/network/netdev/netdev-util.c
  src/network/netdev/netdev.c
  src/network/networkd-dhcp-server.c
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-ndisc.c
  src/network/networkd-radv.c
  src/network/networkd-route.c
  src/network/networkd-setlink.c
  src/network/networkd-sriov.c
  src/network/networkd-sriov.h
  src/network/networkd-wiphy.c
  src/systemd/sd-device.h
  src/udev/udev-builtin-net_id.c
Labels: udev, network, sd-device, good-to-merge/waiting-for-ci 👍

#24109 sd-netlink: rename NLType and friends
  src/libsystemd/sd-netlink/netlink-genl.c
  src/libsystemd/sd-netlink/netlink-internal.h
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-socket.c
  src/libsystemd/sd-netlink/netlink-types-genl.c
  src/libsystemd/sd-netlink/netlink-types-internal.h
  src/libsystemd/sd-netlink/netlink-types-nfnl.c
  src/libsystemd/sd-netlink/netlink-types-rtnl.c
  src/libsystemd/sd-netlink/netlink-types.c
  src/libsystemd/sd-netlink/netlink-types.h
  src/systemd/sd-netlink.h
Labels: sd-netlink

#24225 boot: Build with at least -O1 as workaround
  src/boot/efi/meson.build
Labels: sd-boot/sd-stub/bootctl

#24239 docs: mkosi-13 or newer required
  docs/HACKING.md
Labels: documentation, good-to-merge/waiting-for-ci 👍

#24224 shared/generator: Ensure growfs unit runs after repart
  src/shared/generator.c
Labels: gpt-auto, fstab-generator, good-to-merge/waiting-for-ci 👍

#24131 Fix issue with system time set back
  src/core/timer.c
  test/units/testsuite-53.sh
Labels: pid1, good-to-merge/waiting-for-ci 👍, squash-on-merge

#24044 Add a configuration option for setting default device timeout
  man/org.freedesktop.systemd1.xml
  man/systemd-system.conf.xml
  src/core/dbus-manager.c
  src/core/device.c
  src/core/main.c
  src/core/manager.c
  src/core/manager.h
  src/core/system.conf.in
Labels: pid1, new-feature, good-to-merge/waiting-for-ci 👍

#24238 stub: Use EfiLoaderCode for kernel memory
  src/boot/efi/linux.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#24220 udev-util: assume running on AC power when no battery found
  src/shared/udev-util.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#23511 cryptsetup: make systemd-gpt-auto-generator work with TPM2 and PIN
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-systemd-fido2.c
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-systemd-tpm2.c
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-util.c
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-util.h
  src/cryptsetup/cryptsetup-tokens/luks2-tpm2.c
  src/cryptsetup/cryptsetup-tokens/luks2-tpm2.h
  src/cryptsetup/cryptsetup.c
  test/units/testsuite-70.sh
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍

#24221 dhcp: use struct hw_addr_data
  src/basic/ether-addr-util.c
  src/basic/ether-addr-util.h
  src/libsystemd-network/dhcp-identifier.c
  src/libsystemd-network/dhcp-identifier.h
  src/libsystemd-network/dhcp-internal.h
  src/libsystemd-network/dhcp-network.c
  src/libsystemd-network/dhcp-protocol.h
  src/libsystemd-network/fuzz-dhcp-client.c
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-dhcp-lease.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/test-dhcp-client.c
  src/network/networkd-dhcp4.c
  src/systemd/sd-dhcp-client.h
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#24229 cryptsetup: support keyfile-timeout for using a device as the key file
  man/crypttab.xml
  src/cryptsetup/cryptsetup-generator.c
Labels: cryptsetup

#24245 kmod-setup: load dmi-sysfs if it's a module
  src/core/kmod-setup.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#24244 sd-device-enumerator: fix sysattr match
  src/basic/hash-funcs.c
  src/basic/hash-funcs.h
  src/libsystemd/sd-device/device-enumerator.c
  src/libsystemd/sd-device/device-monitor.c
  src/libsystemd/sd-device/device-util.c
  src/libsystemd/sd-device/device-util.h
  src/libsystemd/sd-device/test-sd-device.c
Labels: sd-device, good-to-merge/waiting-for-ci 👍

#24246 sysusers: only check whether the requested GID is available
  src/sysusers/sysusers.c
Labels: sysusers, good-to-merge/waiting-for-ci 👍

#24249 sysusers: properly process user entries with an explicit GID
  src/sysusers/sysusers.c
Labels: sysusers, good-to-merge/waiting-for-ci 👍

#24252 Reduce sd_bus verbosity with bus functions
  src/network/networkd-manager.c
  src/portable/portablectl.c
  src/shared/bus-unit-procs.c
  src/sulogin-shell/sulogin-shell.c
Labels: network, good-to-merge/waiting-for-ci 👍, squash-on-merge, portable

#24251 Migrate cgroups to bus-locator.h
  src/core/cgroup.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#24142 sleep: support multiple battery instead of only BAT0
  src/shared/sleep-config.c
  src/shared/sleep-config.h
  src/sleep/sleep.c
Labels: good-to-merge/waiting-for-ci 👍, sleep

#24222 network: wait for teql netdev before setting qdisc
  src/network/tc/qdisc.c
  src/network/tc/qdisc.h
  src/network/tc/teql.c
  test/test-network/conf/25-qdisc-clsact-and-htb.network
  test/test-network/conf/25-qdisc-clsact.network
  test/test-network/conf/25-qdisc-codel.network
  test/test-network/conf/25-qdisc-fq.network
  test/test-network/conf/25-qdisc-fq_codel.network
  test/test-network/conf/25-qdisc-gred.network
  test/test-network/conf/25-qdisc-htb-fifo.network
  test/test-network/conf/25-qdisc-ingress.network
  test/test-network/conf/25-qdisc-netem-compat.network
  test/test-network/conf/25-qdisc-netem.network
  test/test-network/conf/25-qdisc-qfq.network
  test/test-network/conf/25-qdisc-sfb.network
  test/test-network/conf/25-qdisc-sfq.network
  test/test-network/conf/25-qdisc-tbf.network
  test/test-network/conf/25-qdisc-teql.network
  test/test-network/conf/25-tap.netdev
  test/test-network/conf/25-tun.netdev
  test/test-network/systemd-networkd-tests.py
Labels: network, tests

#24257 meson: use 'not in'
  meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#24266 Translations update from Fedora Weblate
  po/hu.po
Labels: l10n 🌍

#24253 meson: Test correct efi linker for supported args
  src/boot/efi/meson.build
Labels: sd-boot/sd-stub/bootctl, meson

#23848 core: fix SYSTEMD_WANTS and StopWhenUnneeded=
  src/core/device.c
  src/core/unit.c
  test/units/assert.sh
  test/units/testsuite-17.07.sh
Labels: pid1, please-review

#24256 hwdb: Add Greaseweazle "drives" to the list of analyzers
  hwdb.d/70-analyzers.hwdb
  rules.d/70-uaccess.rules.in
Labels: hwdb

#24271 oom: drop invalid %m in the log message
  src/oom/oomd-manager.c
Labels: quick-review 🏃‍♂️, oomd

#24264 mkosi settings tweaks
  mkosi.default.d/10-systemd.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#24269 core/scope: Adding oom-kill status for scope units
  src/core/scope.c
  src/core/scope.h
Labels: pid1, good-to-merge/waiting-for-ci 👍, oomd

#24210 oomd: notify via dbus what have been killed
  man/org.freedesktop.oom1.xml
  src/oom/oomd-manager-bus.c
  src/oom/oomd-manager.c
Labels: good-to-merge/waiting-for-ci 👍, oomd

#24274 resolvctl: only remove protocol after last dot when mangling ifname for resolvconf
  src/resolve/resolvectl.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#24260 ci: fetch the latest Coverity build script
  .github/workflows/coverity.yml
  .github/workflows/linter.yml
  tools/coverity.sh
  tools/get-coverity.sh
Labels: ci, coverity

#23299 cgroup: support config cgroup cpu.idle by systemd
  .gitignore
  man/systemd.resource-control.xml
  src/basic/cgroup-util.h
  src/core/cgroup.c
  src/core/dbus-cgroup.c
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/login/pam_systemd.c
  src/shared/bus-print-properties.c
  src/shared/bus-unit-util.c
  src/shared/cgroup-setup.c
  src/shared/cgroup-setup.h
  src/shared/user-record-show.c
Labels: cgroups, pid1, good-to-merge/waiting-for-ci 👍

#24280 A couple of Semaphore CI fixes for recent fails
  .semaphore/semaphore-runner.sh
Labels: ci

#24265 udev: net_id: Use devicetree aliases when available
  man/systemd.net-naming-scheme.xml
  src/shared/netif-naming-scheme.c
  src/shared/netif-naming-scheme.h
  src/udev/udev-builtin-net_id.c
Labels: udev, new-feature, good-to-merge/waiting-for-ci 👍

#24288 sd-device-monitor: two fixlets
  src/libsystemd/sd-device/device-monitor.c
Labels: sd-device, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#24287 sd-device-enumerator: drop noisy log messages
  src/libsystemd/sd-device/device-enumerator.c
Labels: sd-device, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#24273 Refactor sysuser creds
  docs/CREDENTIALS.md
  src/firstboot/firstboot.c
  src/shared/creds-util.c
  src/shared/creds-util.h
  src/sysusers/sysusers.c
Labels: documentation, util-lib, firstboot, sysusers, good-to-merge/waiting-for-ci 👍

#24295 cryptenroll: fix memory leak
  src/cryptenroll/cryptenroll.c
Labels: cryptsetup

#24296 tpm2-util: lower indentation level a tiny bit
  src/shared/tpm2-util.c
Labels: quick-review 🏃‍♂️, tpm2

#24297 tpm2-util: rename tpmKey → primary
  src/shared/tpm2-util.c
Labels: tpm2

#24289 sd-device-monitor: introduce sd_device_monitor_{set,get}_description()
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-device/device-monitor.c
  src/libsystemd/sd-device/test-sd-device-monitor.c
  src/systemd/sd-device.h
  src/udev/udevd.c
Labels: udev, sd-device, good-to-merge/waiting-for-ci 👍

#24285 sd-device: make sd_device_new_from_path() support symlink outside of /sys
  src/libsystemd/sd-device/sd-device.c
  src/libsystemd/sd-device/test-sd-device.c
  src/udev/udev-builtin-net_id.c
Labels: udev, sd-device, good-to-merge/waiting-for-ci 👍

#24290 Network: Replace usage of sd_bus_call_method_async to bus_call_method_async
  src/network/networkd-dhcp-common.c
  src/network/networkd-manager.c
  src/shared/bus-locator.c
  src/shared/bus-locator.h
Labels: network, good-to-merge/waiting-for-ci 👍, squash-on-merge

#24276 hwdb: Apply existing accel orientation quirk to all Chromebooks
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#24138 adding the option to use a keyfile to unlock the device
  man/systemd-cryptenroll.xml
  src/cryptenroll/cryptenroll.c
  test/units/testsuite-70.sh
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍

#24305 test-network: also set StartLimitIntervalSec=0 for systemd-networkd.socket
  test/test-network/systemd-networkd-tests.py
Labels: tests, good-to-merge/waiting-for-ci 👍

#24300 network/bridge: fix UseBPDU= and AllowPortToBeRoot=
  src/network/networkd-setlink.c
  test/networkd-test.py
  test/test-network/systemd-networkd-tests.py
Labels: network, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#24303 firstboot: fix can't overwrite timezone
  src/firstboot/firstboot.c
Labels: firstboot, good-to-merge/waiting-for-ci 👍

#24309 udev/cdrom_id: check last track info
  src/udev/cdrom_id/cdrom_id.c
Labels: udev, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#24312 tpm2-util: reduce unnecessary indentation
  src/shared/tpm2-util.c
Labels: good-to-merge/waiting-for-ci 👍, tpm2

#24263 sysext: Support distribution-independent extensions with static binaries
  man/os-release.xml
  man/systemd-sysext.xml
  src/shared/extension-release.c
  test/test-functions
  test/units/testsuite-50.sh
Labels: good-to-merge/waiting-for-ci 👍, sysext

#24317 tpm2: typo fix selecion → selection
  src/shared/tpm2-util.c
Labels: good-to-merge/waiting-for-ci 👍, tpm2

#24321 Fix typo in net-naming-scheme man page
  man/systemd.net-naming-scheme.xml
Labels: documentation

#24299 dhcp6: gracefully handle NoBinding error
  src/libsystemd-network/dhcp6-protocol.c
  src/libsystemd-network/dhcp6-protocol.h
  src/libsystemd-network/fuzz-dhcp6-client.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/sd-dhcp6-lease.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#24314 creds-tool: don't declare variable in switch body
  src/creds/creds.c
Labels: good-to-merge/waiting-for-ci 👍, creds

#24315 cryptenroll: drop unnecessary {}
  src/cryptenroll/cryptenroll.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍

#24313 shutdown: trivial modernizations
  src/shutdown/shutdown.c
Labels: good-to-merge/waiting-for-ci 👍, shutdown

#24294 repart: add support for list of definitions directories
  man/systemd-repart.xml
  src/partition/repart.c
  src/partition/test-repart.sh
Labels: good-to-merge/waiting-for-ci 👍, repart

#24316 tpm-util: use trial session where appropriate
  src/shared/tpm2-util.c
Labels: tpm2

#24324 Add fsync for sysusers passwd
  src/sysusers/sysusers.c
Labels: sysusers, good-to-merge/waiting-for-ci 👍

#24328 ci(lint): add shell linter - Differential ShellCheck
  .github/workflows/differential-shellcheck.yml
Labels: good-to-merge/waiting-for-ci 👍, ci

#24326 man: Correct information on sysext masking
  man/systemd-sysext.xml
  test/units/testsuite-50.sh
Labels: documentation, good-to-merge/waiting-for-ci 👍

#24331 test-network: add tests for MTUBytes= for bridge master and ports
  test/test-network/conf/25-bridge99.network
  test/test-network/conf/26-bridge-slave-interface-1.network
  test/test-network/conf/26-bridge-slave-interface-2.network
  test/test-network/systemd-networkd-tests.py
Labels: tests

#24301 network/tuntap: introduce KeepFileDescriptor= setting
  man/systemd.netdev.xml
  src/login/logind-session-device.c
  src/login/logind.c
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/netdev/tuntap.c
  src/network/netdev/tuntap.h
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/shared/daemon-util.c
  src/shared/daemon-util.h
  src/shared/meson.build
  test/fuzz/fuzz-netdev-parser/directives.netdev
  test/test-network/conf/25-tap.netdev
  test/test-network/conf/25-tun.netdev
  test/test-network/conf/26-netdev-link-local-addressing-yes.network
  test/test-network/systemd-networkd-tests.py
  units/systemd-networkd.service.in
Labels: network, new-feature, good-to-merge/waiting-for-ci 👍, units

#24332 test-network: add/update module check
  test/test-network/systemd-networkd-tests.py
Labels: tests, good-to-merge/waiting-for-ci 👍

#24333 sysctl: improve performance for applying glob pattern
  src/basic/path-util.c
  src/basic/path-util.h
  src/sysctl/sysctl.c
  src/test/test-path-util.c
  test/units/testsuite-76.sh
Labels: sysctl, good-to-merge/waiting-for-ci 👍

#24335 udev: rename various validate() -> should_reload() for builtin commands
  src/shared/hwdb-util.c
  src/shared/hwdb-util.h
  src/udev/udev-builtin-hwdb.c
  src/udev/udev-builtin-kmod.c
  src/udev/udev-builtin-net_setup_link.c
  src/udev/udev-builtin.c
  src/udev/udev-builtin.h
  src/udev/udevd.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#24337 tpm2-util: credit TPM2 RNG entropy only once per boot
  src/shared/tpm2-util.c
Labels: good-to-merge/waiting-for-ci 👍, tpm2

#24338 fs-util: make touch() an inline function
  src/basic/fs-util.c
  src/basic/fs-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#24250 backlight: support multiple graphics cards system
  src/backlight/backlight.c
Labels: backlight, good-to-merge/waiting-for-ci 👍

#24339 random-util: drop unnecessary header file
  src/basic/random-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#24340 tpm2-util: more structure initialization simplifications
  src/shared/tpm2-util.c
Labels: good-to-merge/waiting-for-ci 👍, tpm2

#24341 Adjust constant names for recently-added shutdown messages
  src/login/logind-dbus.c
  src/login/logind-utmp.c
  src/systemd/sd-messages.h
Labels: login, good-to-merge/waiting-for-ci 👍

#24342 test: expect libdevmapper failure in TEST-50-DISSECT
  test/units/testsuite-50.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#24334 bash-completion: autocomplete cgroup names in systemd-cgtop
  shell-completion/bash/systemd-cgtop
Labels: shell completion, good-to-merge/waiting-for-ci 👍

#24054 Don't do daemon-reload in the initrd
  TODO
  man/bootup.xml
  meson.build
  src/basic/def.h
  src/boot/bootctl.c
  src/fsck/fsck.c
  src/fstab-generator/fstab-generator.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/initctl/initctl.c
  src/portable/portablectl.c
  src/sulogin-shell/sulogin-shell.c
  src/systemctl/systemctl-daemon-reload.c
  units/initrd-parse-etc.service
  units/initrd-parse-etc.service.in
  units/meson.build
Labels: documentation, systemctl, good-to-merge/waiting-for-ci 👍, units, ci-failure-appears-unrelated, portable

#24348 network: fix IPv4ACD issues on DHCP renewal or reconfiguring interface
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-ipv4acd.c
  src/network/networkd-ipv4acd.h
  src/network/networkd-util.c
  src/network/networkd-util.h
  test/test-network/conf/25-dhcp-client-decline.network
  test/test-network/conf/25-dhcp4-6rd-upstream.network
  test/test-network/systemd-networkd-tests.py
Labels: network, good-to-merge/waiting-for-ci 👍

#24353 udev: hwdb: Add orientation quirk for base-mounted accelerometers on Chromebooks
  hwdb.d/60-sensor.hwdb
  hwdb.d/parse_hwdb.py
  rules.d/60-sensor.rules
Labels: hwdb

#21641 Remove limits on number of inodes for /run and /dev
  src/core/namespace.c
  src/nspawn/nspawn-mount.c
  src/shared/mount-util.h
Labels: nspawn, pid1, good-to-merge/waiting-for-ci 👍

#24359 cryptsetup: use right internal helper when checking whether to use to…
  src/cryptsetup/cryptsetup.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍

#24354 cryptsetup: make sure all token-based codepaths are effected by SYSTEMD_CRYPTSETUP_USE_TOKEN_MODULE env var
  src/cryptsetup/cryptsetup.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍

#24355 TEST-70-TPM2: actually enable systemd-measure test
  test/units/testsuite-70.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, tpm2

#24307 Add --efi-boot-option-description argument to bootctl to control the name of the boot entry.
  man/bootctl.xml
  src/boot/bootctl.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#23653 cryptsetup: improve password prompt text
  TODO
  src/cryptsetup/cryptsetup.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍

#24358 tree-wide: pass proper values (not bools) to sd_event_source_set_enab…
  src/journal/journald-server.c
  src/libsystemd/sd-bus/sd-bus.c
Labels: journal, tree-wide, sd-event, good-to-merge/waiting-for-ci 👍

#24362 some tweaks to the sha256 implementation
  src/basic/hmac.c
  src/boot/efi/random-seed.c
  src/fundamental/sha256.c
  src/fundamental/sha256.h
  src/random-seed/random-seed.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#24361 TEST-70-TPM2: use "truncate" to generate disk image
  test/units/testsuite-70.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, tpm2

#24364 tpm2-util: add TPM2_PCR_MASK_VALID() helper
  src/cryptenroll/cryptenroll-tpm2.c
  src/shared/creds-util.c
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
Labels: good-to-merge/waiting-for-ci 👍, tpm2

#24365 tpm2-util: expose more hash algorithms
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
Labels: good-to-merge/waiting-for-ci 👍, tpm2

#24177 rules: do not "unready" suspended encrypted devices w/o superblock info
  rules.d/99-systemd.rules.in
  test/fuzz/fuzz-udev-rules/99-systemd.rules
Labels: udev, good-to-merge/waiting-for-ci 👍

#24363 tpm2-util: introduce tpm2_parse_pcr_argument() helper
  src/creds/creds.c
  src/cryptenroll/cryptenroll.c
  src/cryptsetup/cryptsetup.c
  src/partition/repart.c
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍, tpm2, creds

#24350 docs: Recommend pkexec over using an askpass program with sudo
  docs/HACKING.md
Labels: documentation

#24368 tpm2: add helpers for building/parsing JSON arrays of PCR indexes
  src/cryptsetup/cryptsetup-tokens/luks2-tpm2.c
  src/cryptsetup/cryptsetup-tpm2.c
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
Labels: good-to-merge/waiting-for-ci 👍, tpm2

#24367 measure: add json output
  man/systemd-measure.xml
  src/boot/measure.c
Labels: good-to-merge/with-minor-suggestions, tpm2

#24372 test: correctly process multiline strings in $KERNEL_APPEND
  test/test-functions
Labels: tests, good-to-merge/waiting-for-ci 👍

#24375 test: wait for whole block device instead of partition
  test/units/testsuite-60.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#24374 measure: store bank name in PcrState structure
  src/boot/measure.c
Labels: good-to-merge/waiting-for-ci 👍, tpm2

#24376 hwdb: Add Avita Liber NS13A2
  hwdb.d/60-evdev.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, squash-on-merge

#24356 Small improvements to the sd-netlink api
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-netlink/netlink-message-rtnl.c
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-util.c
  src/libsystemd/sd-netlink/netlink-util.h
  src/libsystemd/sd-netlink/sd-netlink.c
  src/libsystemd/sd-netlink/test-netlink.c
  src/network/networkctl.c
  src/network/networkd-address.c
  src/network/networkd-manager.c
  src/network/networkd-speed-meter.c
  src/network/wait-online/manager.c
  src/resolve/resolvectl.c
  src/resolve/resolved-manager.c
  src/shared/local-addresses.c
  src/systemd/sd-netlink.h
  src/udev/test-udev-netlink.c
Labels: udev, network, resolve, sd-netlink, good-to-merge/with-minor-suggestions

#24378 test-network: add test case for issue #24377
  test/test-network/conf/21-bond-802.3ad.netdev
  test/test-network/conf/21-bond-802.3ad.network
  test/test-network/conf/21-dummy-bond-slave.network
  test/test-network/conf/21-vlan-on-bond.netdev
  test/test-network/conf/21-vlan-on-bond.network
  test/test-network/systemd-networkd-tests.py
Labels: tests, good-to-merge/waiting-for-ci 👍

#24327 mkosi: Install tests in final image
  mkosi.build
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#24379 ci: build with clang-15; drop clang-12
  .github/workflows/build_test.yml
  src/basic/hashmap.c
  src/coredump/coredump.c
  src/libsystemd/sd-journal/journal-verify.c
  src/machine/machine-dbus.c
  src/network/networkd-dhcp-server.c
Labels: network, good-to-merge/waiting-for-ci 👍, ci

#24383 cgroup: take jointly mounted controllers into account when migrate v1 controllers
  src/shared/cgroup-setup.c
Labels: cgroups

#24380 Add support for Fn+PrtSc on Thinkpads
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

#24391 ci: Drop `actions/setup-node` - unused
  .github/workflows/issue_labeler.yml
Labels: good-to-merge/waiting-for-ci 👍, ci

#24385 hostname: fix fallback chassis type
  src/hostname/hostnamed.c
  test/units/testsuite-71.sh
Labels: hostname, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#24393 sysext: add missing COMMAND to the help output and man synopsis
  man/systemd-sysext.xml
  src/sysext/sysext.c
Labels: good-to-merge/waiting-for-ci 👍, sysext

#24395 bash-completion: add systemd-sysext support
  shell-completion/bash/systemd-sysext
Labels: shell completion, good-to-merge/waiting-for-ci 👍

#24392 some tweaks to chase_symlinks() and port some code from prefix_roota() over
  src/basic/chase-symlinks.c
  src/basic/chase-symlinks.h
  src/basic/conf-files.c
  src/boot/bootctl.c
  test/hwdb-test.sh
Labels: util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#24397 tree-wide: use path_join() instead of prefix_roota() in various cases
  src/core/cgroup.c
  src/delta/delta.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/libsystemd/sd-device/sd-device.c
  src/libsystemd/sd-journal/sd-journal.c
  src/portable/portable.c
  src/shared/generator.c
  src/sysv-generator/sysv-generator.c
Labels: util-lib, tree-wide, good-to-merge/waiting-for-ci 👍, portable

#24399 measure: add --current switch for "systemd-measure calculate"
  man/systemd-measure.xml
  src/boot/measure.c
Labels: good-to-merge/waiting-for-ci 👍, tpm2

#24398 chase-symlinks: refuse more chase_symlink() flags in the open/stat fl…
  src/basic/chase-symlinks.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#24402 bootctl: Allow uneven length BootXXXX variables
  src/shared/efi-api.c
Labels: sd-boot/sd-stub/bootctl

#24409 fix typos
  NEWS
  man/org.freedesktop.resolve1.xml
  src/resolve/resolved-dns-cache.c
  src/udev/dmi_memory_id/dmi_memory_id.c
  test/units/testsuite-62-4.service
  test/units/testsuite-62-5.service
Labels: udev, resolve, documentation

#24352 mkosi: Update to latest commit
  .github/workflows/mkosi.yml
  .github/workflows/run_mkosi.sh
Labels: tests, mkosi, ci-failure-appears-unrelated

#24403 test: install /etc/default/knot if available as well
  test/TEST-75-RESOLVED/test.sh
Labels: resolve, tests

#23893 core/mount: adjust deserialized state based on if the corresponding mountinfo entry exists or not
  src/core/mount.c
  test/units/testsuite-60.sh
Labels: pid1, good-to-merge/waiting-for-ci 👍

#24412 man: grammar cleanups
  man/bootctl.xml
  man/crypttab.xml
  man/journalctl.xml
  man/machinectl.xml
  man/org.freedesktop.import1.xml
  man/org.freedesktop.login1.xml
  man/repart.d.xml
  man/sd_bus_add_match.xml
  man/sd_bus_enqueue_for_read.xml
  man/sd_pid_get_owner_uid.xml
  man/systemd-analyze.xml
  man/systemd-ask-password.xml
  man/systemd-cat.xml
  man/systemd-debug-generator.xml
  man/systemd-nspawn.xml
  man/systemd-run.xml
  man/systemd.exec.xml
  man/systemd.network.xml
  man/systemd.path.xml
  man/systemd.service.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#24394 mkosi: Ensure we build all features/components in mkosi
  .github/workflows/mkosi.yml
  mkosi.build
  mkosi.default.d/10-systemd.conf
  mkosi.default.d/arch/10-mkosi.arch
  mkosi.default.d/centos_epel/10-mkosi.centos_epel
  mkosi.default.d/debian/10-mkosi.debian
  mkosi.default.d/fedora/10-mkosi.fedora
  mkosi.default.d/opensuse/10-mkosi.opensuse
  mkosi.default.d/ubuntu/10-mkosi.ubuntu
  mkosi.postinst
Labels: mkosi
