Repository systemd/systemd, pull requests merged in 2022-09, with the labels that each got.

#24523 tree-wide: Use "unmet" for condition checks, not "failed"
  man/systemd.unit.xml
  src/core/job.c
  src/core/job.h
  src/core/path.c
  src/core/unit.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#24525 man: remove reference to mkinitrd
  man/localectl.xml
Labels: locale, good-to-merge/waiting-for-ci 👍

#24531 loopback block device resize partition modernizations
  src/shared/blockdev-util.c
  src/shared/blockdev-util.h
  src/shared/loop-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#24533 github: update differential shellcheck to v3
  .github/workflows/differential-shellcheck.yml
Labels: ci

#24534 sysusers: make sp_lstchg shadow field reproducible
  docs/ENVIRONMENT.md
  src/basic/env-util.c
  src/basic/env-util.h
  src/sysusers/sysusers.c
Labels: documentation, sysusers, good-to-merge/waiting-for-ci 👍

#24491 condition: unify operator parsing handling
  NEWS
  man/systemd.unit.xml
  src/analyze/analyze-compare-versions.c
  src/shared/compare-operator.c
  src/shared/compare-operator.h
  src/shared/condition.c
  src/shared/meson.build
  src/test/test-condition.c
Labels: documentation, pid1, util-lib, good-to-merge/waiting-for-ci 👍

#24543 find-esp: call the right function
  src/shared/find-esp.c
Labels: util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#24536 dissect-image: introduce dissect_loop_device() which takes LoopDevice object
  src/core/namespace.c
  src/core/swap.c
  src/dissect/dissect.c
  src/libsystemd/sd-device/device-util.c
  src/libsystemd/sd-device/device-util.h
  src/libsystemd/sd-device/test-sd-device.c
  src/nspawn/nspawn-oci.c
  src/nspawn/nspawn.c
  src/partition/growfs.c
  src/partition/repart.c
  src/portable/portable.c
  src/shared/discover-image.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/shared/find-esp.c
  src/shared/loop-util.c
  src/shared/quota-util.c
  src/sysext/sysext.c
  src/sysupdate/sysupdate-resource.c
  src/test/test-loop-block.c
  src/udev/udevadm-lock.c
Labels: udev, util-lib, sd-device, good-to-merge/waiting-for-ci 👍, dissect, portable

#24544 log: don't attempt to duplicate closed fd
  src/basic/log.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#24545 mkosi: update to latest commit
  .github/workflows/mkosi.yml
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#24541 bootspec: slightly stricter validation + process tries-left/tries-done counters in filenames
  TODO
  src/shared/bootspec.c
  src/shared/bootspec.h
  src/test/test-bootspec.c
Labels: sd-boot/sd-stub/bootctl, please-review

#24546 A couple of tweaks for test-exec-deserialization
  test/test-exec-deserialization.py
Labels: tests

#24538 test: forward nspawn logs to journal
  test/TEST-13-NSPAWN-SMOKE/test.sh
  test/units/testsuite-13.sh
Labels: nspawn, tests, good-to-merge/waiting-for-ci 👍

#24547 test: extend ConditionFirmware tests
  src/test/test-condition.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#24548 tmpfile-util: truncate original filename if the result filename is too long
  src/basic/tmpfile-util.c
  src/test/test-tmpfile-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#24549 loop-util: fix memleak when fd is for a block device with non-zero offset or size
  src/shared/loop-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#24550 bootspec: do not build too many json object at once
  src/shared/bootspec.c
  src/shared/json.c
  src/shared/json.h
  src/test/test-bootspec.c
  src/test/test-json.c
  test/fuzz/fuzz-bootspec/clusterfuzz-testcase-minimized-fuzz-bootspec-5421682902302720
Labels: util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#24552 test: actually set SYSTEMD_DISSECT_VERITY_TIMEOUT_SEC=30
  test/units/testsuite-29.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, portable

#24554 man: fix static bridge example
  man/systemd.network.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#24558 mount-util: fix error code
  src/shared/mount-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#24561 loop-util: several follow ups for recent changes
  src/shared/loop-util.c
  src/shared/loop-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#24560 repart: Add support for setting a partition's UUID to zero
  man/repart.d.xml
  src/partition/repart.c
  test/units/testsuite-58.sh
Labels: good-to-merge/waiting-for-ci 👍, repart

#24404 job: Don't discard propagated restart jobs when unit is activating
  src/core/job.c
  test/meson.build
  test/testsuite-03.units/always-activating.service
  test/testsuite-03.units/always-activating.socket
  test/testsuite-03.units/hello-after-sleep.target
  test/testsuite-03.units/hello.service
  test/testsuite-03.units/sleep.service
  test/testsuite-03.units/unstoppable.service
  test/units/testsuite-03.sh
Labels: pid1

#24567 homed: don't wait for workers without time limit
  src/home/homed-home.c
  units/systemd-homed.service.in
Labels: units, ci-failure-appears-unrelated, homed

#24566 test: mark knot.conf tmpfiles config as optional
  test/TEST-75-RESOLVED/test.sh
  test/units/testsuite-75.sh
Labels: resolve, tests, good-to-merge/waiting-for-ci 👍, ci-blocker 🚧

#24447 udev/rules: filter out mostly meaningless default strings
  hwdb.d/20-dmi-id.hwdb
  rules.d/50-udev-default.rules.in
Labels: udev, hwdb, good-to-merge/waiting-for-ci 👍

#24568 parse-util: simplify safe_atou8() + safe_atou16()
  src/basic/parse-util.c
  src/basic/parse-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#24467 nspawn: add rootidmap as --bind option
  man/systemd-nspawn.xml
  src/basic/user-util.h
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn.c
  src/shared/dissect-image.c
  src/shared/mount-util.c
  src/shared/mount-util.h
Labels: nspawn, good-to-merge/waiting-for-ci 👍

#24322 Use original filename for extension name check
  src/core/namespace.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/portable/portable.c
  src/shared/discover-image.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/test/test-loop-block.c
  test/units/testsuite-50.sh
Labels: good-to-merge/waiting-for-ci 👍, portable

#24504 hwdb: Add accel orientation quirk for the Aya Neo Air
  hwdb.d/60-sensor.hwdb
Labels: hwdb

#24569 test: kill plymouthd after initrd transition if it's still running
  test/test-functions
Labels: tests, good-to-merge/waiting-for-ci 👍

#24520 udevadm-wait: also listen kernel uevents
  src/udev/udevadm-wait.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#24582 README: clarify baseline situation a bit (add emojis!)
  README
Labels: documentation

#15833 busctl: Add introspect support for methods with same name but different signature
  src/busctl/busctl.c
Labels: good-to-merge/waiting-for-ci 👍, busctl

#24590 loop-util: fix leak of file descriptor on failure
  src/shared/loop-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#24592 more coding style documentation additions
  README
  docs/CODING_STYLE.md
Labels: documentation

#24594 README: we don't use crypto API in kernel anymore
  README
Labels: documentation

#24571 dissect: save image path to LoopDevice and use it when dissect loop device
  src/core/namespace.c
  src/dissect/dissect.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/nspawn/nspawn.c
  src/portable/portable.c
  src/shared/blockdev-util.c
  src/shared/blockdev-util.h
  src/shared/discover-image.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/shared/loop-util.c
  src/shared/loop-util.h
  src/sysext/sysext.c
  src/test/test-loop-block.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, dissect, portable

#24598 uid-range: error code tweak for uid_range_load_userns()
  src/shared/uid-range.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#24587 sd-device-monitor: relax sender uid check when running in user namespace
  src/basic/meson.build
  src/basic/uid-range.c
  src/basic/uid-range.h
  src/libsystemd/sd-device/device-monitor.c
  src/shared/meson.build
Labels: sd-device, good-to-merge/waiting-for-ci 👍

#24434 boot: Small fixes
  docs/BOOT_LOADER_INTERFACE.md
  man/systemd-boot.xml
  src/boot/efi/boot.c
  src/boot/efi/console.c
  src/boot/efi/cpio.c
  src/boot/efi/disk.c
  src/boot/efi/efi-string.h
  src/boot/efi/stub.c
  src/boot/efi/util.c
  src/boot/efi/xbootldr.c
Labels: documentation, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#24603 test: check the numa-test.service status directly
  test/units/testsuite-36.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#24600 bootspec: more chase_symlinks()
  TODO
  src/shared/bootspec.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#24608 docs: mention tmpfiles.d in CREDENTIALS.md and add example for ssh provisioning (to manpage too)
  docs/CREDENTIALS.md
  man/tmpfiles.d.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#24606 basic/missing_loop.h: fix missing lo_flags LO_FLAGS_DIRECT_IO definition
  src/basic/missing_loop.h
Labels: good-to-merge/waiting-for-ci 👍, needs-stable-backport

#24604 measure: print a helpful message if TPM2 PCR sysfs attributes are mis…
  src/boot/measure.c
Labels: good-to-merge/waiting-for-ci 👍, tpm2

#24351 support for signed TPM2 PCR policies in cryptsetup/cryptenrolls/credentials
  man/crypttab.xml
  man/systemd-creds.xml
  man/systemd-cryptenroll.xml
  man/systemd-measure.xml
  man/systemd-repart.xml
  src/boot/measure.c
  src/core/execute.c
  src/creds/creds.c
  src/cryptenroll/cryptenroll-tpm2.c
  src/cryptenroll/cryptenroll-tpm2.h
  src/cryptenroll/cryptenroll.c
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-systemd-tpm2.c
  src/cryptsetup/cryptsetup-tokens/luks2-tpm2.c
  src/cryptsetup/cryptsetup-tokens/luks2-tpm2.h
  src/cryptsetup/cryptsetup-tpm2.c
  src/cryptsetup/cryptsetup-tpm2.h
  src/cryptsetup/cryptsetup.c
  src/partition/repart.c
  src/shared/creds-util.c
  src/shared/creds-util.h
  src/shared/cryptsetup-util.c
  src/shared/cryptsetup-util.h
  src/shared/openssl-util.c
  src/shared/openssl-util.h
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
  test/TEST-70-TPM2/test.sh
  test/units/testsuite-70.sh
Labels: new-feature, cryptsetup, good-to-merge/waiting-for-ci 👍, tpm2, creds

#24601 sd-device-enumerator: do not recursively find child devices
  src/libsystemd/sd-device/device-enumerator.c
  src/libsystemd/sd-device/test-sd-device.c
Labels: sd-device, good-to-merge/waiting-for-ci 👍

#24557 repart: fix partition size calculation
  src/partition/repart.c
  test/units/testsuite-58.sh
Labels: good-to-merge/waiting-for-ci 👍, repart

#22845 Implement DNS notifications from systemd-resolved using varlink
  man/org.freedesktop.resolve1.xml
  man/resolved.conf.xml
  src/resolve/resolved-bus.c
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-query.h
  src/resolve/resolved-gperf.gperf
  src/resolve/resolved-manager.c
  src/resolve/resolved-manager.h
  src/resolve/resolved-varlink.c
  src/resolve/resolved.conf.in
  test/knot-data/zones/onlinesign.test.zone
  test/units/testsuite-75.sh
Labels: resolve, good-to-merge/waiting-for-ci 👍

#24610 blockdevi-util: also check sysname when enumerating partitions
  src/shared/blockdev-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#24611 loop-util: several cleanups
  src/shared/blockdev-util.c
  src/shared/loop-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#24609 sd-device-enumerator: check sysname earlier
  src/libsystemd/sd-device/device-enumerator.c
Labels: sd-device, good-to-merge/waiting-for-ci 👍

#24458 optionally, embed PCR signature and public key in new sd-stub PE sections
  TODO
  man/systemd-measure.xml
  man/systemd-stub.xml
  src/boot/efi/cpio.c
  src/boot/efi/cpio.h
  src/boot/efi/stub.c
  src/boot/measure.c
  src/fundamental/tpm-pcr.c
  src/fundamental/tpm-pcr.h
  tmpfiles.d/systemd.conf.in
Labels: new-feature, tmpfiles, sd-boot/sd-stub/bootctl, good-to-merge/with-minor-suggestions

#24618 udev: shorten synthesize_change() a bit
  src/shared/blockdev-util.c
  src/shared/blockdev-util.h
  src/udev/udevd.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#24623 test-29-portable: set timeout for 'portablectl reattach'
  test/units/testsuite-29.sh
Labels: tests

#24626 tpm2-util: avoid trial
  src/shared/tpm2-util.c
Labels: tpm2

#24637 test: make the resolved notifications check a bit more robust
  test/TEST-58-REPART/test.sh
  test/test-functions
  test/units/testsuite-75.sh
Labels: resolve, tests

#24642 hwdb: Fix Acer Aspire One AOD270/Packard Bell Dot keymappings
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

#24643 base-filesystem.c: add trailing zero byte for s390x entry
  src/shared/base-filesystem.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#23043 udev-node: use flock() for symlink stack directory
  src/basic/path-util.c
  src/basic/path-util.h
  src/test/test-path-util.c
  src/udev/udev-node.c
  src/udev/udev-node.h
  src/udev/udevd.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#23087 udev: resolve race in saving inotify watch handle
  src/libsystemd/sd-device/device-internal.h
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/sd-device.c
  src/udev/udev-event.c
  src/udev/udev-event.h
  src/udev/udev-watch.c
  src/udev/udev-watch.h
  src/udev/udevd.c
  test/units/testsuite-64.sh
Labels: udev, good-to-merge/waiting-for-ci 👍

#24652 creds-util: fix NULL pointer dereference
  src/shared/creds-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#24651 openssl-util: trivial cleanups
  src/shared/openssl-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#24650 boot: fix missing initialization
  src/boot/efi/cpio.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#24615 logind: schedule idle check full interval from now if we couldn't figure out atime timestamp
  src/login/logind-session.c
Labels: login, good-to-merge/waiting-for-ci 👍

#24656 xdg-autostart-service: Use common boolean parser
  src/xdg-autostart-generator/test-xdg-autostart.c
  src/xdg-autostart-generator/xdg-autostart-service.c
Labels: good-to-merge/waiting-for-ci 👍, xdg-autostart

#24660 ci: run CodeQL on every PR
  .github/workflows/codeql-analysis.yml
Labels: ci

#24662 test: drop the use of `tempfile.mktemp()`
  test/test-exec-deserialization.py
Labels: tests, good-to-merge/waiting-for-ci 👍

#24599 pstore: do not try to load all known pstore modules
  units/systemd-pstore.service.in
Labels: good-to-merge/waiting-for-ci 👍, units, pstore

#24663 A couple of CodeQL tweaks and follow ups
  .github/codeql-config.yml
  .github/codeql-queries/PotentiallyDangerousFunction.ql
  .github/codeql-queries/UninitializedVariableWithCleanup.ql
  .github/codeql-queries/qlpack.yml
  .github/workflows/codeql-analysis.yml
  .lgtm.yml
Labels: ci

#24669 Use nested ASSERT_PTR
  src/core/job.c
  src/core/unit.c
  src/fundamental/macro-fundamental.h
  src/socket-proxy/socket-proxyd.c
  src/udev/udev-event.c
Labels: tree-wide, good-to-merge/waiting-for-ci 👍

#24666 pid1: introduce dbus properties WatchdogDevice and friends
  man/org.freedesktop.systemd1.xml
  src/core/dbus-manager.c
  src/shared/watchdog.c
  src/shared/watchdog.h
Labels: pid1, good-to-merge/with-minor-suggestions, watchdog

#24672 oom: include a header file instead of a source file
  src/oom/oomd.c
Labels: good-to-merge/waiting-for-ci 👍, oomd

#24671 ci: enable a couple more possibly useful CodeQL queries
  .github/codeql-custom.qls
  .github/codeql-queries/UninitializedVariableWithCleanup.ql
  .github/workflows/codeql.yml
Labels: ci, codeql

#24676 bash-completion: add missing options to systemd-cryptenroll
  shell-completion/bash/systemd-cryptenroll
Labels: shell completion

#24657 meson: add libatomic dependency
  meson.build
  src/network/meson.build
  src/oom/meson.build
Labels: network, meson

#24645 test-seccomp: support systems that sched_setscheduler() is already limited
  src/shared/seccomp-util.c
  src/shared/seccomp-util.h
  src/test/test-seccomp.c
Labels: tests, seccomp

#24638 test-date: do not fail even on ~50 years later
  src/test/test-date.c
Labels: tests, quick-review 🏃‍♂️

#24679 fix typo in log
  src/core/service.c
  src/libsystemd/sd-event/sd-event.c
Labels: good-to-merge/waiting-for-ci 👍

#24673 unit: drop ProtectClock=yes from systemd-udevd.service
  units/systemd-udevd.service.in
Labels: udev, units, good-to-merge/with-minor-suggestions

#24658 xdg-autostart-service: expand tilde in Exec lines
  src/xdg-autostart-generator/test-xdg-autostart.c
  src/xdg-autostart-generator/xdg-autostart-service.c
Labels: good-to-merge/waiting-for-ci 👍, xdg-autostart

#24683 Fix Positivo DUO k116 key toggle touchpad
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

#24684 sd-device-monitor: do not trigger assertion when uid_map is not empty
  src/libsystemd/sd-device/device-monitor.c
Labels: sd-device, quick-review 🏃‍♂️

#24685 uid-range: several cleanups
  src/basic/uid-range.c
  src/basic/uid-range.h
  src/core/manager.c
  src/libsystemd/sd-device/device-monitor.c
  src/sysusers/sysusers.c
  src/test/test-uid-range.c
  src/userdb/userdbctl.c
Labels: util-lib, sd-device, sysusers, good-to-merge/waiting-for-ci 👍, userdb

#24687 journalctl: respect --quiet flag during file concistency verification
  src/journal/journalctl.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#24688 pid1: follow-ups for watchdog DBus properties
  man/org.freedesktop.systemd1.xml
  src/core/dbus-manager.c
  src/shared/watchdog.c
  src/shared/watchdog.h
Labels: pid1, good-to-merge/waiting-for-ci 👍, watchdog

#24664 watchdog: open /dev/watchdog0 only if it exists
  src/shared/watchdog.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, watchdog

#24689 tmpfiles: drop redundant forward declarations
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles, good-to-merge/waiting-for-ci 👍

#24690 tmpfiles: let's suffix path to dirs with '/' also in log messages
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles, good-to-merge/waiting-for-ci 👍

#24692 dissect-image: fix memleak
  src/shared/dissect-image.c
Labels: good-to-merge/waiting-for-ci 👍, dissect

#24694 sd-netlink: unexport sd-netlink
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-netlink/netlink-genl.c
  src/libsystemd/sd-netlink/netlink-message-rtnl.c
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/sd-netlink.c
  src/systemd/meson.build
Labels: sd-netlink, good-to-merge/waiting-for-ci 👍

#24699 nspawn: fix two error strings
  src/nspawn/nspawn.c
Labels: nspawn, good-to-merge/waiting-for-ci 👍

#24698 man: explicitly document that "reboot -f" is different from "systemctl reboot -f"
  man/halt.xml
Labels: documentation, systemctl, good-to-merge/waiting-for-ci 👍

#24705 fd-util: rename CLOSE_AND_REPLACE() -> close_and_replace()
  src/basic/chase-symlinks.c
  src/basic/fd-util.c
  src/basic/fd-util.h
  src/core/execute.c
  src/home/homed-home.c
  src/import/import-raw.c
  src/import/pull-raw.c
  src/libsystemd-network/sd-ipv4acd.c
  src/login/logind-session-device.c
  src/shared/data-fd-util.c
  src/tmpfiles/tmpfiles.c
Labels: network, util-lib, tree-wide

#24703 dissect-image: make verity_partition() actually fail when all attempts of activation failed
  src/shared/dissect-image.c
Labels: dissect

#24670 Early boot ordering
  units/initrd-switch-root.service
  units/ldconfig.service
  units/sysinit.target
  units/system-update-cleanup.service
  units/systemd-ask-password-console.path
  units/systemd-ask-password-console.service
  units/systemd-ask-password-wall.path
  units/systemd-boot-system-token.service
  units/systemd-network-generator.service.in
  units/systemd-sysext.service
  units/systemd-sysusers.service
  units/systemd-tmpfiles-clean.service
  units/systemd-tmpfiles-setup-dev.service
  units/systemd-tmpfiles-setup.service
Labels: units

#24708 various: use "-" instead of "n/a" in tables
  man/coredumpctl.xml
  man/systemctl.xml
  src/coredump/coredumpctl.c
  src/shared/format-table.c
Labels: ci-failure-appears-unrelated

#24622 udev: open with O_NOCTTY
  src/udev/ata_id/ata_id.c
  src/udev/cdrom_id/cdrom_id.c
  src/udev/fido_id/fido_id.c
  src/udev/mtd_probe/mtd_probe.c
  src/udev/scsi_id/scsi_serial.c
  src/udev/udev-builtin-blkid.c
  src/udev/udev-builtin-btrfs.c
  src/udev/udev-builtin-input_id.c
  src/udev/udev-builtin-net_id.c
  src/udev/udev-builtin-usb_id.c
  src/udev/udevadm-lock.c
  src/udev/udevd.c
Labels: udev, please-review

#24704 cryptsetup-util: introduce crypt_free_and_replace()
  src/shared/cryptsetup-util.h
  src/shared/dissect-image.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍

#24713 measure: rename measure_pcr() to measure_kernel()
  src/boot/measure.c
Labels: good-to-merge/waiting-for-ci 👍, tpm2

#24693 dissect-image: lazily deactivate decrypted DM volumes
  src/shared/dissect-image.c
Labels: good-to-merge/waiting-for-ci 👍, dissect

#24718 udev: downgrade log level when device node is already removed
  src/udev/udev-event.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#24716 dissect-image: free crypt_device object before trying to activate with unique name
  src/shared/dissect-image.c
Labels: dissect

#24710 TEST-50-DISSECT: cleanups
  test/units/testsuite-50.sh
Labels: tests, dissect

#24691 udev: check existence of device node
  src/udev/udev-node.c
Labels: udev

#24724 sd-device: refuse block device without subsystem
  src/libsystemd/sd-device/sd-device.c
Labels: sd-device, good-to-merge/waiting-for-ci 👍

#24719 dissect-image: introduce dissected_image_new()
  src/shared/dissect-image.c
  src/shared/dissect-image.h
Labels: good-to-merge/waiting-for-ci 👍, dissect

#24720 dissect-image: make DissectedImage object take reference to DecryptedImage and LoopDevice
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/shared/loop-util.c
  src/shared/loop-util.h
Labels: reviewed/needs-rework 🔨, dissect

#24729 path-util: add examples for path_make_relative() and path_make_relati…
  src/basic/path-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#24726 man/systemd-run: Refer to man-pages project (man7.org) for bash(1)
  man/systemd-run.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#24730 dissect-image: introduce dissected_image_relinquish()
  src/analyze/analyze.c
  src/boot/bootctl.c
  src/core/namespace.c
  src/dissect/dissect.c
  src/firstboot/firstboot.c
  src/journal/journalctl.c
  src/machine-id-setup/machine-id-setup-main.c
  src/nspawn/nspawn.c
  src/partition/repart.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/sysext/sysext.c
  src/sysupdate/sysupdate.c
  src/sysusers/sysusers.c
  src/tmpfiles/tmpfiles.c
Labels: journal, tree-wide, good-to-merge/waiting-for-ci 👍, dissect

#24725 blockdev-util: introduce block_device_get_whole_disk()
  src/shared/blockdev-util.c
  src/shared/blockdev-util.h
  src/udev/udevd.c
Labels: udev, util-lib, good-to-merge/waiting-for-ci 👍

#24646 udev: introduce symlink_atomic_full() and use it
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/shared/label.c
  src/shared/label.h
  src/udev/udev-node.c
Labels: udev, util-lib, good-to-merge/waiting-for-ci 👍

#24732 test: add testcase for link priority
  test/TEST-64-UDEV-STORAGE/test.sh
  test/units/testsuite-64.sh
Labels: udev, tests, good-to-merge/waiting-for-ci 👍

#24731 sd-device: introduce device_opendir()
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/sd-device.c
  src/udev/udev-builtin-net_id.c
Labels: udev, sd-device, good-to-merge/waiting-for-ci 👍

#24744 mkdir: chase_symlinks_and_stat() does not return 0
  src/basic/mkdir.c
  src/test/test-mkdir.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#24745 meson: make several tests run sequentially
  meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#24752 cryptsetup: use TPM flags over bool
  src/cryptsetup/cryptsetup.c
Labels: cryptsetup

#24755 udev: use block_device_is_whole_disk()
  src/shared/blockdev-util.c
  src/shared/blockdev-util.h
  src/udev/udevd.c
Labels: udev

#24632 boot: Change the way we provide builtins
  src/boot/efi/efi-string.c
  src/boot/efi/efi-string.h
  src/boot/efi/util.h
Labels: sd-boot/sd-stub/bootctl

#24741 docs: add a note about selectively overriding default dependencies
  docs/AUTOMATIC_BOOT_ASSESSMENT.md
  man/systemd.unit.xml
Labels: documentation

#24763 recurse-dir: use fd_reopen() at one more place
  src/basic/recurse-dir.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#24711 find-esp: rework verify_fsroot_dir() a bit
  src/basic/chase-symlinks.c
  src/basic/stat-util.c
  src/basic/stat-util.h
  src/shared/blockdev-util.c
  src/shared/find-esp.c
  src/test/test-blockdev-util.c
Labels: util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#24521 boot loader spec fixes
  docs/BOOT_LOADER_SPECIFICATION.md
Labels: documentation, sd-boot/sd-stub/bootctl, good-to-merge/with-minor-suggestions

#24767 mkosi: Set ExtraSearchPaths=build/ by default
  mkosi.default.d/10-systemd.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#24765 test: don't overwrite existing $QEMU_OPTIONS
  test/TEST-36-NUMAPOLICY/test.sh
  test/TEST-53-ISSUE-16347/test.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#24772 kernel-install/90-loaderentry: fix chown
  src/kernel-install/90-loaderentry.install
Labels: good-to-merge/waiting-for-ci 👍, kernel-install

#24773 kernel-install.8: fix -h/-v ordering in SYNOPSIS
  man/kernel-install.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, kernel-install

#24522 core/device: drop nonexistent devlink units
  src/core/device.c
  test/units/testsuite-17.08.sh
  test/units/testsuite-64.sh
Labels: pid1, please-review

#24751 stub: Several fixes
  src/boot/efi/boot.c
  src/boot/efi/linux.c
  src/boot/efi/linux.h
  src/boot/efi/linux_x86.c
  src/boot/efi/meson.build
  src/boot/efi/pe.c
  src/boot/efi/pe.h
  src/boot/efi/stub.c
  src/boot/efi/util.h
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#24778 stub: fix conditionalization of initrd assembly
  src/boot/efi/stub.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#24770 Fix inverted rotation in the Positivo DUO #24769
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, squash-on-merge

#24753 repart: Add squashfs support
  man/repart.d.xml
  src/home/homework-luks.c
  src/partition/makefs.c
  src/partition/repart.c
  src/shared/mkfs-util.c
  src/shared/mkfs-util.h
  src/test/test-loop-block.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#24709 Expose various GPT UUIDs as public contants and link them up in docs
  TODO
  docs/DISCOVERABLE_PARTITIONS.md
  man/bootctl.xml
  man/bootup.xml
  man/kernel-command-line.xml
  man/kernel-install.xml
  man/org.freedesktop.systemd1.xml
  man/os-release.xml
  man/systemctl.xml
  man/systemd-boot.xml
  man/systemd-creds.xml
  man/systemd-cryptenroll.xml
  man/systemd-cryptsetup-generator.xml
  man/systemd-fstab-generator.xml
  man/systemd-gpt-auto-generator.xml
  man/systemd-modules-load.service.xml
  man/systemd-nspawn.xml
  man/systemd-random-seed.service.xml
  man/systemd-remount-fs.service.xml
  man/systemd-repart.xml
  man/systemd-stub.xml
  src/home/homed-manager.c
  src/home/homework-luks.c
  src/partition/repart.c
  src/shared/dissect-image.c
  src/shared/find-esp.c
  src/shared/gpt.c
  src/shared/gpt.h
  src/systemd/meson.build
  src/systemd/sd-gpt.h
  src/sysupdate/sysupdate-partition.c
  src/test/test-loop-block.c
  src/udev/udev-builtin-blkid.c
  tools/list-discoverable-partitions.py
Labels: udev, documentation, good-to-merge/waiting-for-ci 👍

#24782 man: don't mention Socket files in Scope man page
  man/systemd.scope.xml
Labels: documentation

#24780 systemd-run: refuse --working-directory option with --scope
  src/run/run.c
Labels: run

#24620 measure: some tweaks
  src/boot/efi/stub.c
  src/boot/measure.c
Labels: sd-boot/sd-stub/bootctl

#24768 Adjust table n/a text in more places
  src/busctl/busctl.c
  src/coredump/coredumpctl.c
  src/dissect/dissect.c
  src/hostname/hostnamectl.c
  src/locale/localectl.c
  src/machine/machinectl.c
  src/network/networkctl.c
  src/shared/format-table.c
  src/shared/format-table.h
  src/sysext/sysext.c
  src/systemctl/systemctl-list-jobs.c
  src/systemctl/systemctl-list-machines.c
  src/systemctl/systemctl-list-unit-files.c
  src/systemctl/systemctl-list-units.c
  src/sysupdate/sysupdate.c
  src/userdb/userdbctl.c
  test/test-network/systemd-networkd-tests.py
  test/units/testsuite-73.sh
Labels: network, systemctl, good-to-merge/waiting-for-ci 👍, busctl

#24781 systemctl: Remove check that linked unit files must contain a "/"
  src/systemctl/systemctl-enable.c
Labels: systemctl, good-to-merge/waiting-for-ci 👍

#24746 repart: Add --split option to generate split artifacts
  man/repart.d.xml
  man/systemd-repart.xml
  src/partition/repart.c
  src/shared/gpt.h
  src/shared/specifier.c
  src/shared/specifier.h
Labels: good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, repart

#24791 man/portablectl: fix references to options
  man/portablectl.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, portable

#24771 extend boot phase information into PCR 11 during boot
  TODO
  catalog/systemd.catalog.in
  man/rules/meson.build
  man/systemd-measure.xml
  man/systemd-pcrphase.service.xml
  meson.build
  src/boot/measure.c
  src/boot/pcrphase.c
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
  src/systemd/sd-messages.h
  test/units/testsuite-70.sh
  units/meson.build
  units/systemd-pcrphase-initrd.service.in
  units/systemd-pcrphase.service.in
Labels: sd-boot/sd-stub/bootctl, units, tpm2

#24795 kbd-model-map: add a mapping for switched czech qwerty/us
  src/locale/kbd-model-map
Labels: keymap, locale, good-to-merge/waiting-for-ci 👍

#24790 run: let's make --working-directory= just work with --scope
  src/run/run.c
Labels: run, good-to-merge/waiting-for-ci 👍

#24766 udev: support by-path devlink for multipath nvme block devices
  rules.d/60-persistent-storage.rules
  src/udev/udev-builtin-path_id.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#24797 networkctl: several table format updates
  src/network/networkctl.c
  test/test-network/systemd-networkd-tests.py
Labels: network

#24779 Updated Lenovo ThinkPad T440p/T440 touchpad fuzz
  hwdb.d/60-evdev.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, squash-on-merge

#24794 repart: Extend squashfs logic to all read-only filesystems
  src/partition/repart.c
  src/shared/mkfs-util.c
  src/shared/mkfs-util.h
Labels: good-to-merge/waiting-for-ci 👍, repart

#24796 documentation updates
  README.md
  docs/ARCHITECTURE.md
  docs/CODE_QUALITY.md
  test/README.testsuite
Labels: documentation, good-to-merge/waiting-for-ci 👍
