Repository systemd/systemd, pull requests merged in 2022-12, with the labels that each got.

#25578 test: give the container time to properly shut down on exception
  test/test-shutdown.py
Labels: tests, good-to-merge/waiting-for-ci 👍

#25583 terminal-util: Set OPOST when setting ONLCR
  src/basic/terminal-util.c
Labels: util-lib

#25580 dissect: rework DISSECT_IMAGE_ADD_PARTITION_DEVICES + DISSECT_IMAGE_OPEN_PARTITION_DEVICES
  src/core/namespace.c
  src/dissect/dissect.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/nspawn/nspawn.c
  src/portable/portable.c
  src/shared/discover-image.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/sysext/sysext.c
  src/test/test-loop-block.c
Labels: gpt-auto, good-to-merge/waiting-for-ci 👍, dissect, needs-stable-backport

#25554 oomd: only check prefix_uid when uid != 0
  man/systemd.resource-control.xml
  src/oom/oomd-util.c
  src/oom/oomd-util.h
Labels: good-to-merge/waiting-for-ci 👍, oomd

#25579 repart: Ignore copy failures for unsupported file types
  man/repart.d.xml
  src/partition/repart.c
  src/shared/copy.c
  src/shared/copy.h
Labels: good-to-merge/waiting-for-ci 👍, repart

#25593 define symbolic enum for blkid_do_safeprobe() return values
  src/home/homework-luks.c
  src/partition/repart.c
  src/shared/blkid-util.h
  src/shared/dissect-image.c
  src/shared/find-esp.c
Labels: util-lib, tree-wide, good-to-merge/waiting-for-ci 👍

#25568 network: tiny cleanups
  src/network/networkd-address.c
  src/network/networkd-util.h
Labels: network

#25569 network: unset Link.ndisc_configured only when a new address or route is requested
  src/network/networkd-ndisc.c
Labels: network, ndisc, needs-stable-backport

#25582 nspawn: Use "ctrl-" rather than "^" in info msg
  src/nspawn/nspawn.c
Labels: nspawn, good-to-merge/waiting-for-ci 👍

#25591 dissect-image: probe file system via main block device fd/image file fd
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/test/test-loop-block.c
Labels: good-to-merge/waiting-for-ci 👍, dissect

#25594 virt: Support detection of LMHS SRE guests
  man/systemd-detect-virt.xml
  man/systemd.unit.xml
  src/basic/virt.c
  src/basic/virt.h
Labels: good-to-merge/waiting-for-ci 👍, detect-virt

#25597 hwdb: add Dell Inspiron N4010 touchpad corrections
  hwdb.d/60-evdev.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#25598 fuzz-systemctl: limit the size of input
  src/systemctl/fuzz-systemctl-parse-argv.c
Labels: systemctl, quick-review 🏃‍♂️, fuzzing

#25600 dissect-image: log expected UUID for /var
  src/shared/dissect-image.c
Labels: gpt-auto, dissect

#25605 test: check if we can use SHA1 MD for signing before using it
  test/units/testsuite-70.sh
Labels: tests

#25541 boot: Fix huge boot delay
  src/boot/efi/boot.c
  src/boot/efi/console.c
  src/boot/efi/missing_efi.h
  src/boot/efi/part-discovery.c
  src/boot/efi/vmm.c
Labels: sd-boot/sd-stub/bootctl, needs-stable-backport

#25570 dissect: support to unmount image without root partition
  src/dissect/dissect.c
Labels: dissect

#25610 dissect: pick up gpt partition flags
  src/shared/dissect-image.c
  src/shared/dissect-image.h
Labels: good-to-merge/waiting-for-ci 👍, dissect

#25609 dissect: add new helper verity_settings_data_covers()
  src/shared/dissect-image.c
  src/shared/dissect-image.h
Labels: dissect

#25618 Write sysctl values without newlines and as fixed strings
  meson.build
  src/basic/constants.h
  src/core/main.c
Labels: sysctl, ci-failure-appears-unrelated

#25619 gpt-auto-generator: do not write "noauto" in unit options
  src/gpt-auto-generator/gpt-auto-generator.c
Labels: gpt-auto

#25237 Revert "update credentials when reloading a service"
  src/core/service.c
Labels: pid1, ci-failure-appears-unrelated

#25614 chase-symlinks: Fix regression
  src/basic/chase-symlinks.c
Labels: util-lib, ci-failure-appears-unrelated

#25437 systemctl: warn if trying to disable a unit with no install info
  man/org.freedesktop.systemd1.xml
  man/systemctl.xml
  src/core/dbus-manager.c
  src/rpm/systemd-update-helper.in
  src/shared/install.c
  src/systemctl/systemctl-enable.c
  src/systemctl/systemctl.c
  src/systemctl/systemctl.h
Labels: systemctl

#25629 acl-util: several cleanups
  src/shared/acl-util.c
  src/shared/acl-util.h
Labels: util-lib, ci-failure-appears-unrelated

#25537 tests: fuzz dns resource records
  src/resolve/fuzz-resource-record.c
  src/resolve/meson.build
  src/resolve/resolved-dns-rr.c
  test/fuzz/fuzz-resource-record/crash-type-bitmap-to-json
  test/fuzz/fuzz-resource-record/ub-zero-length-rdata
Labels: resolve, good-to-merge/waiting-for-ci 👍

#25639 doc: update link to systemd-rhel GitHub repository - `CONTRIBUTING.md`
  docs/CONTRIBUTING.md
Labels: documentation

#25633 journald: Ratelimit a few more log messages
  src/journal/journald-audit.c
  src/journal/journald-context.c
  src/journal/journald-kmsg.c
  src/journal/journald-native.c
  src/journal/journald-server.c
  src/journal/journald-server.h
  src/journal/journald-stream.c
  src/journal/journald-syslog.c
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-journal/journal-internal.h
  src/libsystemd/sd-journal/journal-vacuum.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#25637 log: Switch logging to runtime when FS becomes read-only
  src/journal/journald-server.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#25513 nspawn: support pivot_root()
  src/core/namespace.c
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn-mount.h
  src/nspawn/nspawn.c
  src/shared/mount-util.c
  src/shared/mount-util.h
Labels: nspawn, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#25638 pid1: add env var to override default mount rate limit burst
  docs/ENVIRONMENT.md
  src/core/mount.c
  test/test-functions
Labels: documentation, pid1, good-to-merge/waiting-for-ci 👍

#25642 journald: fix build error
  src/journal/journald-server.c
Labels: journal, priority, quick-review 🏃‍♂️

#25611 dissect: show color
  src/dissect/dissect.c
Labels: good-to-merge/waiting-for-ci 👍, dissect

#25559 import: wire up SYSTEMD_IMPORT_BTRFS_{SUBVOL,QUOTA} to importd
  src/import/importd.c
  src/machine/machined-dbus.c
  src/shared/machine-pool.c
  src/shared/machine-pool.h
Labels: import

#25621 homed: Implement --luks-pbkdf-force-iterations for homed
  docs/USER_RECORD.md
  man/homectl.xml
  shell-completion/bash/homectl
  src/home/homectl.c
  src/home/homework-luks.c
  src/shared/user-record-show.c
  src/shared/user-record.c
  src/shared/user-record.h
Labels: documentation, good-to-merge/waiting-for-ci 👍, homed

#25645 boot: fix false maybe-uninitialized warning
  src/boot/efi/boot.c
  src/boot/efi/cpio.c
  src/boot/efi/secure-boot.c
  src/boot/efi/util.c
  src/boot/efi/util.h
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#25476 network: drop REMOVING flag when a netlink message is sent to kernel
  src/network/networkd-util.h
Labels: network, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#25652 gpt: add helpers for deriving data partition from verity or verity si…
  src/shared/gpt.c
  src/shared/gpt.h
  src/test/test-gpt.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#25616 chase-symlinks/systemctl: let's handle cases without /proc/ better
  src/basic/chase-symlinks.c
  src/basic/glyph-util.c
  src/basic/glyph-util.h
  src/systemctl/systemctl.c
  src/test/test-locale-util.c
Labels: systemctl, util-lib, needs-stable-backport

#25628 network: Fix set bond device MAC address failed
  src/network/networkd-setlink.c
  src/network/networkd-setlink.h
  test/test-network/conf/23-bond199.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#25657 fuzz-systemctl: adjust size limit
  src/systemctl/fuzz-systemctl-parse-argv.c
Labels: systemctl, fuzzing

#25659 core: use correct scope of looking up units
  src/core/dbus-manager.c
Labels: pid1, systemctl, user-session, ci-failure-appears-unrelated, needs-stable-backport

#25502 Add pam_namespace to user@.service pam stack
  src/login/systemd-user.in
Labels: login

#25663 packit: ignore unpackaged files
  .packit.yml
Labels: ci

#25660 test-network: try to change MAC address more
  test/test-network/conf/23-bond199.network
  test/test-network/systemd-networkd-tests.py
Labels: network, tests

#25551 network: manage addresses in the way the kernel does
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-dhcp6.c
  src/network/test-network.c
Labels: network, needs-stable-backport

#25465 repart: Cleanup created files on failure
  src/partition/repart.c
Labels: ci-failure-appears-unrelated, repart

#25632 Add trivial check for preset operation in chroot
  test/test-functions
  test/units/testsuite-64.sh
  test/units/testsuite-65.sh
Labels: tests

#25664 journald: prevent segfault on empty attr/current
  src/journal/journald-context.c
Labels: journal, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#25673 test: wait for the monitoring service to become active
  test/units/testsuite-75.sh
Labels: resolve, tests, good-to-merge/waiting-for-ci 👍

#25666 selinux getXYZcon() NULL return fixes
  src/core/selinux-access.c
  src/core/selinux-setup.c
  src/shared/selinux-util.c
Labels: selinux, tree-wide, good-to-merge/waiting-for-ci 👍

#25564 systemd-dissect: add simple "--discover" command
  man/systemd-dissect.xml
  src/dissect/dissect.c
  src/shared/discover-image.c
  src/shared/discover-image.h
  test/units/testsuite-50.sh
Labels: new-feature, good-to-merge/waiting-for-ci 👍, dissect

#25672 Extend hostnamed DMI firmware properties
  man/org.freedesktop.hostname1.xml
  src/hostname/hostnamed.c
Labels: hostname, good-to-merge/waiting-for-ci 👍

#25675 man: mention that DefaultRouteOnDevice= create the IPv4 default route
  man/systemd.network.xml
Labels: documentation

#25612 cryptsetup: retry TPM2 unseal operation if it fails with TPM2_RC_PCR_CHANGED
  src/shared/tpm2-util.c
Labels: cryptsetup, ci-failure-appears-unrelated, tpm2

#25180 ukify: add helper to create UKIs
  .github/workflows/build_test.sh
  .github/workflows/unit_tests.sh
  README
  man/rules/meson.build
  man/ukify.xml
  meson.build
  meson_options.txt
  src/shared/bootspec.c
  src/shared/json.c
  src/shared/json.h
  src/test/test-json.c
  src/ukify/test/example.signing.crt.base64
  src/ukify/test/example.signing.key.base64
  src/ukify/test/example.tpm2-pcr-private.pem.base64
  src/ukify/test/example.tpm2-pcr-private2.pem.base64
  src/ukify/test/example.tpm2-pcr-public.pem.base64
  src/ukify/test/example.tpm2-pcr-public2.pem.base64
  src/ukify/test/meson.build
  src/ukify/test/setup.cfg
  src/ukify/test/test_ukify.py
  src/ukify/ukify.py
  test/meson.build
  test/test-bootctl-json.sh
Labels: good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, uki

#25656 fs-util: path must be specified when chmod_and_chown_at() is called with AT_FDCWD
  src/basic/fs-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#25665 dissect: add a mode for operating on an in-memory copy of a DDI, inst…
  man/systemd-dissect.xml
  src/dissect/dissect.c
  src/shared/data-fd-util.c
  src/shared/data-fd-util.h
  src/shared/loop-util.c
  src/shared/loop-util.h
  test/units/testsuite-50.sh
Labels: new-feature, good-to-merge/waiting-for-ci 👍, dissect

#25667 sha256 alignment fixes/rework
  src/basic/unaligned.h
  src/fundamental/macro-fundamental.h
  src/fundamental/sha256.c
  src/fundamental/sha256.h
  src/fundamental/unaligned-fundamental.h
  src/test/test-macro.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#25662 sleep: always thaw user.slice even if freezing failed
  src/core/cgroup.c
  src/core/dbus-unit.c
  src/core/dbus-unit.h
  src/core/dbus.c
  src/core/slice.c
  src/core/unit.c
  src/core/unit.h
  src/libsystemd/sd-bus/bus-common-errors.h
  src/sleep/sleep.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, sleep, needs-stable-backport

#25678 ci: Add/Drop labels on pull request activity and comment
  .github/workflows/labeler.yml
Labels: please-review

#25669 Fix Positivo-vaio Pro PW key toggle touchpad
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, squash-on-merge

#25653 hexdecoct: several fixes for base64_append()
  src/basic/hexdecoct.c
  src/basic/hexdecoct.h
  src/resolve/resolved-dns-rr.c
  src/test/test-hexdecoct.c
  test/fuzz/fuzz-bootspec/oss-fuzz-53578
  test/fuzz/fuzz-resource-record/oss-fuzz-54059
  test/fuzz/fuzz-resource-record/oss-fuzz-54065
  test/fuzz/fuzz-resource-record/oss-fuzz-54080
  test/fuzz/fuzz-resource-record/oss-fuzz-54090
Labels: resolve, util-lib, fuzzing, needs-stable-backport

#25636 all: avoid various "-Wcast-align=strict" warnings
  src/basic/fd-util.c
  src/basic/hashmap.c
  src/basic/socket-util.h
  src/fundamental/macro-fundamental.h
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/sd-dhcp6-lease.c
Labels: network, tree-wide

#25685 ci: Labeler improvements
  .github/workflows/labeler.yml
  docs/CONTRIBUTING.md
Labels: documentation, please-review

#25684 mount-setup: don't need to mount /sys/fs/pstore if there is no ENABLE_PSTORE
  src/shared/mount-setup.c
Labels: pid1, pstore

#25696 github labeller: Also drop 'needs-rebase' on updates
  src/shared/mount-setup.c
Labels: please-review

#25686 repart: support erofs
  docs/PORTABLE_SERVICES.md
  man/repart.d.xml
  man/systemd-sysext.xml
  src/shared/mkfs-util.c
  test/TEST-58-REPART/test.sh
  test/units/testsuite-58.sh
Labels: documentation, good-to-merge/waiting-for-ci 👍, repart

#25701 Add mount matrix for VisionBook 12Wr Tab
  hwdb.d/60-sensor.hwdb
Labels: hwdb, please-review

#25705 Translations update from Fedora Weblate
  po/pt.po
Labels: l10n 🌍

#25707 sd-device: fix double-free
  src/libsystemd/sd-device/sd-device.c
  src/libsystemd/sd-device/test-sd-device.c
Labels: sd-device, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#25692 resolve: drop recurstion from TXT field handling
  src/resolve/resolved-dns-rr.c
Labels: resolve, please-review

#25646 sd-id128: make sd_id128_get_machine() return -ENOMEDIUM when not initialized
  man/sd_id128_get_machine.xml
  src/boot/bootctl.c
  src/fundamental/string-util-fundamental.h
  src/libsystemd/sd-id128/id128-util.c
  src/libsystemd/sd-id128/id128-util.h
  src/libsystemd/sd-id128/sd-id128.c
  src/libsystemd/sd-journal/journal-file.c
  src/machine-id-setup/machine-id-setup-main.c
  src/nspawn/nspawn.c
  src/partition/repart.c
  src/shared/discover-image.c
  src/shared/machine-id-setup.c
  src/shared/specifier.c
  src/test/test-condition.c
  src/test/test-fs-util.c
  src/test/test-id128.c
Labels: good-to-merge/waiting-for-ci 👍, sd-id128

#25710 sysroot: Support x-systemd.makefs
  src/fstab-generator/fstab-generator.c
Labels: fstab-generator, good-to-merge/waiting-for-ci 👍

#25714 udevadm: emit deprecation notice in udevadm hwdb
  src/udev/udevadm-hwdb.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#25704 Update 60-evdev.hwdb
  hwdb.d/60-evdev.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, fix-commit-message-on-merge

#25375 Fixups for FIDO2 pre-flight checks
  src/shared/libfido2-util.c
Labels: good-to-merge/waiting-for-ci 👍, fido2

#25367 cryptsetup-fido2: Try all FIDO2 key slots when opening LUKS volume
  src/cryptsetup/cryptsetup-fido2.c
  src/cryptsetup/cryptsetup-fido2.h
  src/cryptsetup/cryptsetup.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍

#25713 Restore backwards compat in 60-evdev.rules
  rules.d/60-evdev.rules
  src/udev/udev-builtin-keyboard.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#25722 mkosi: Drop i686 packages
  mkosi.conf.d/fedora/10-mkosi.fedora
Labels: mkosi

#25721 execute: Pass AT_FDCWD instead of -1
  src/core/execute.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, needs-stable-backport, creds

#25499 doc: add an example code to lock the whole disk
  docs/BLOCK_DEVICE_LOCKING.md
Labels: documentation, good-to-merge/with-minor-suggestions

#25724 hwdb: Add additional Dell models that require ACCEL_LOCATION=base
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#25720 coredump: cescape invalid json data before logging
  src/coredump/coredumpctl.c
  src/shared/elf-util.c
Labels: good-to-merge/waiting-for-ci 👍, needs-stable-backport

#25658 resolve: dedup entries in /etc/hosts
  src/basic/in-addr-util.c
  src/basic/in-addr-util.h
  src/resolve/fuzz-etc-hosts.c
  src/resolve/resolved-etc-hosts.c
  src/resolve/resolved-etc-hosts.h
  src/resolve/test-resolved-etc-hosts.c
  src/shared/dns-domain.c
  src/shared/dns-domain.h
  test/fuzz/fuzz-etc-hosts/oss-fuzz-47708
Labels: resolve, good-to-merge/waiting-for-ci 👍, fuzzing

#25729 mkosi: Enable CONFIG_ZBOOT
  mkosi.kernel.config
Labels: please-review

#25725 Add missing integration of OOMPolicy in scope units
  man/systemd.scope.xml
  man/systemd.service.xml
  src/core/load-fragment-gperf.gperf.in
Labels: documentation, pid1, good-to-merge/waiting-for-ci 👍

#25706 hwdb: several fixes for pointing stick
  hwdb.d/60-evdev.hwdb
  hwdb.d/60-keyboard.hwdb
  hwdb.d/70-pointingstick.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#25731 repart: Rename --skip-partitions to --defer-partitions
  man/systemd-repart.xml
  src/partition/repart.c
  test/units/testsuite-58.sh
Labels: good-to-merge/waiting-for-ci 👍, repart

#25689 systemctl: make is-* return EXIT_PROGRAM_OR_SERVICES_STATUS_UNKNOWN(4) when no unit file is found
  src/systemctl/systemctl-is-active.c
  src/systemctl/systemctl-is-enabled.c
  src/systemctl/systemctl-sysv-compat.c
  src/systemctl/systemctl-sysv-compat.h
  test/units/testsuite-26.sh
Labels: systemctl

#25717 manager: log reload() sender and allow rate-limiting
  man/kernel-command-line.xml
  man/systemd-system.conf.xml
  src/core/dbus-manager.c
  src/core/main.c
  src/core/manager.h
  src/core/system.conf.in
  src/core/user.conf.in
  test/units/testsuite-59.sh
Labels: pid1, good-to-merge/waiting-for-ci 👍

#25716 Tell swapon to reinitialize swap if needed
  src/core/swap.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#25688 Use dummy allocator to make accesses defined as per standard
  src/basic/alloc-util.c
  src/basic/alloc-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#25744 hwdb: Add mount matrix for CSL Panther Tab HD
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#25740 timesync: Keep trying to connect even if the socket cannot be opened
  src/timesync/timesyncd-manager.c
Labels: timesync, good-to-merge/waiting-for-ci 👍

#25734 sd-id128: several followups
  man/sd_id128_get_machine.xml
  src/libsystemd/sd-id128/id128-util.c
  src/libsystemd/sd-id128/sd-id128.c
  src/test/test-id128.c
Labels: good-to-merge/waiting-for-ci 👍, sd-id128

#25575 nspawn: reduce number of sockets
  src/nspawn/nspawn.c
Labels: nspawn, please-review

#25747 pam: actually align the columns
  src/login/systemd-user.in
Labels: please-review

#25693 binfmt: several cleanups
  src/basic/stat-util.c
  src/binfmt/binfmt.c
  src/shared/binfmt-util.c
  src/shared/binfmt-util.h
  units/systemd-binfmt.service.in
Labels: good-to-merge/waiting-for-ci 👍, units, binfmt

#25723 Run generators with / ro and /tmp mounted
  coccinelle/macros.h
  docs/INITRD_INTERFACE.md
  src/basic/mountpoint-util.c
  src/basic/mountpoint-util.h
  src/basic/process-util.c
  src/basic/process-util.h
  src/basic/umask-util.h
  src/boot/bootctl.c
  src/core/dbus.c
  src/core/main.c
  src/core/manager.c
  src/core/namespace.c
  src/core/unit.c
  src/fstab-generator/fstab-generator.c
  src/home/homework-directory.c
  src/nspawn/nspawn-cgroup.c
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn-seccomp.c
  src/shared/ask-password-api.c
  src/shared/base-filesystem.c
  src/shared/copy.c
  src/shared/machine-id-setup.c
  src/shared/mount-setup.c
  src/shared/mount-util.c
  src/shared/mount-util.h
  src/shared/reboot-util.c
  src/shared/socket-label.c
  src/shared/varlink.c
  src/test/test-install-file.c
  src/test/test-mount-util.c
  src/test/test-umask-util.c
  src/tmpfiles/tmpfiles.c
  src/userdb/userdbd-manager.c
  src/volatile-root/volatile-root.c
  test/udev-test.pl
Labels: documentation, good-to-merge/waiting-for-ci 👍

#25732 unit tests: do not fail when `/etc/machine-id` is empty
  src/journal/test-journal-interleaving.c
  src/test/test-fs-util.c
  src/test/test-id128.c
  src/test/test-load-fragment.c
  src/test/test-unit-name.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#25742 basic: do not output emojis if not on a proper terminal
  src/basic/glyph-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#25743 timesync: ignore IPv6 addresses when the kernel does not support it
  src/timesync/timesyncd-manager.c
Labels: timesync, good-to-merge/waiting-for-ci 👍

#25730 repart: Rework Minimize= option settings
  man/repart.d.xml
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#25602 localed: reload PID1 configuration after modifying /etc/locale.conf
  src/locale/localed.c
  test/units/testsuite-73.sh
Labels: pid1, locale, please-review

#25350 efi: add efi_guid_equal() helper
  src/boot/efi/devicetree.c
  src/boot/efi/part-discovery.c
  src/boot/efi/random-seed.c
  src/boot/efi/util.c
  src/boot/efi/util.h
  src/boot/efi/vmm.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#25752 hwdb: Fix mount matrix for CSL Panther Tab HD
  hwdb.d/60-sensor.hwdb
Labels: hwdb, please-review

#25735 mount-util: several follow-ups for recent mount_switch_root() changes
  src/basic/mountpoint-util.c
  src/basic/mountpoint-util.h
  src/core/dbus-execute.c
  src/core/load-fragment.c
  src/core/namespace.c
  src/nspawn/nspawn.c
  src/shared/bus-print-properties.c
  src/shared/bus-unit-util.c
  src/shared/mount-util.c
  src/shared/mount-util.h
  src/test/test-mountpoint-util.c
Labels: nspawn, pid1, util-lib, good-to-merge/waiting-for-ci 👍

#25224 add --append= switch to systemd-measure
  TODO
  man/systemd-measure.xml
  src/boot/measure.c
  src/shared/json.c
  src/shared/json.h
  src/test/test-json.c
  test/units/testsuite-70.sh
Labels: good-to-merge/waiting-for-ci 👍, tpm2, uki

#25754 packit: drop/replace deprecated directives
  .packit.yml
Labels: good-to-merge/waiting-for-ci 👍, ci

#24058 Allow for journald logs filtering on a per-unit basis
  docs/TRANSIENT-SETTINGS.md
  man/org.freedesktop.systemd1.xml
  man/systemd.exec.xml
  src/basic/nulstr-util.c
  src/basic/nulstr-util.h
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/journal/journald-client.c
  src/journal/journald-client.h
  src/journal/journald-context.c
  src/journal/journald-context.h
  src/journal/journald-native.c
  src/journal/journald-stream.c
  src/journal/journald-syslog.c
  src/journal/meson.build
  src/shared/bus-unit-util.c
  src/shared/pcre2-util.c
  src/shared/pcre2-util.h
  src/systemctl/systemctl-show.c
  src/test/test-load-fragment.c
  src/test/test-nulstr-util.c
  test/fuzz/fuzz-unit-file/directives-all.service
  test/testsuite-04.units/logs-filtering.service
  test/units/testsuite-04.sh
Labels: journal, documentation, pid1, systemctl, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#25760 repart: Use "defer" in docs instead of "skip"
  man/systemd-repart.xml
Labels: documentation, repart

#25757 mkosi: work around a file conflict between systemd and systemd-boot
  .github/workflows/mkosi.yml
Labels: ci, please-review

#25718 locale: avoid TOCTOU in reading config files
  src/basic/env-file.c
  src/basic/env-file.h
  src/locale/localectl.c
  src/locale/localed-util.c
  src/locale/localed-util.h
  src/locale/localed.c
  src/shared/locale-setup.c
  src/shared/locale-setup.h
Labels: locale

#25756 test: several cleanups for TEST-75-RESOLVE
  test/units/testsuite-75.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#25758 man: add two signature key example to systemd-measure
  man/systemd-measure.xml
Labels: documentation, tpm2

#25488 network: wifi: check SSID when AP interfaces go up
  src/network/networkd-link.c
  src/network/networkd-wifi.c
  src/network/networkd-wifi.h
Labels: network, good-to-merge/waiting-for-ci 👍

#25748 TEST-75-RESOLVE: show and check all relevant journal entries
  test/units/testsuite-75.sh
Labels: resolve, tests, good-to-merge/waiting-for-ci 👍

#25762 pcrphase: gracefully exit if TPM2 support is incomplete
  man/systemd-pcrphase.service.xml
  src/boot/pcrphase.c
  units/systemd-pcrphase-initrd.service.in
  units/systemd-pcrphase-sysinit.service.in
  units/systemd-pcrphase.service.in
Labels: good-to-merge/waiting-for-ci 👍, units, tpm2, needs-stable-backport

#25759 repart: Always derive fs/luks UUIDs from generated partition UUID
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍

#25697 homed: Implement SYSTEMD_HOME_MKFS_OPTIONS_* envvars to configure mkfs options for homed LUKS directories
  docs/ENVIRONMENT.md
  src/home/homework-luks.c
  src/partition/makefs.c
  src/partition/repart.c
  src/shared/mkfs-util.c
  src/shared/mkfs-util.h
  src/test/test-loop-block.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, homed

#25487 systemctl: simplify trim_edit_markers()
  src/systemctl/systemctl-edit.c
Labels: systemctl, good-to-merge/waiting-for-ci 👍

#25763 test: systemd-mount --list and systemd-umount requires the device is …
  test/units/testsuite-74.mount.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, mount

#25475 Add basic systemctl edit test
  test/TEST-26-SYSTEMCTL/test.sh
  test/units/testsuite-26.sh
Labels: systemctl, tests, please-review

#25387 core: fix logic of merging units
  src/core/unit.c
  test/units/testsuite-26.sh
Labels: pid1, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#25221 udev: set link alternative name if link is already up during rename
  src/libsystemd/sd-netlink/netlink-util.c
  src/libsystemd/sd-netlink/test-netlink.c
  src/udev/net/link-config.c
  src/udev/udev-event.c
  test/test-network/conf/12-dummy-rename-to-altname.link
  test/test-network/systemd-networkd-tests.py
Labels: udev, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#25076 vacuum journal remote
  man/journal-remote.conf.xml
  src/journal-remote/journal-remote-main.c
  src/journal-remote/journal-remote-write.c
  src/journal-remote/journal-remote-write.h
  src/journal-remote/journal-remote.conf.in
  src/journal-remote/journal-remote.h
Labels: new-feature, journal-remote, good-to-merge/waiting-for-ci 👍, squash-on-merge

#25774 meson: fix cross-compilation of LONG_MAX
  meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#25779 journal-remote: follow-ups for #25076
  src/journal-remote/journal-remote-main.c
  src/journal-remote/journal-remote-write.c
Labels: journal-remote, good-to-merge/waiting-for-ci 👍, coverity

#25784 bootctl: split up bootctl.c into multiple files
  meson.build
  src/boot/bootctl-install.c
  src/boot/bootctl-install.h
  src/boot/bootctl-random-seed.c
  src/boot/bootctl-random-seed.h
  src/boot/bootctl-reboot-to-firmware.c
  src/boot/bootctl-reboot-to-firmware.h
  src/boot/bootctl-set-efivar.c
  src/boot/bootctl-set-efivar.h
  src/boot/bootctl-status.c
  src/boot/bootctl-status.h
  src/boot/bootctl-systemd-efi-options.c
  src/boot/bootctl-systemd-efi-options.h
  src/boot/bootctl-util.c
  src/boot/bootctl-util.h
  src/boot/bootctl.c
  src/boot/bootctl.h
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#25771 p11kit: switch to dlopen()
  TODO
  meson.build
  src/shared/meson.build
  src/shared/pkcs11-util.c
  src/shared/pkcs11-util.h
  src/test/meson.build
  src/test/test-dlopen-so.c
  test/test-functions
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍

#25783 Trivial cleanups
  src/basic/hashmap.c
  src/boot/efi/util.h
  src/shared/dns-domain.c
  src/shared/userdb.c
Labels: good-to-merge/waiting-for-ci 👍

#25788 Fn+F5 fix for MSI Bravo 15-B5DX
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, squash-on-merge

#25787 units: allow systemd-userdbd to change process name
  src/basic/argv-util.c
  units/systemd-userdbd.service.in
Labels: good-to-merge/waiting-for-ci 👍, units, userdb

#25797 resolve: fix enumerator name for DNS search domain
  src/resolve/resolved-dns-search-domain.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#25807 Resolves #25806 - Move nspawn to new section in systemd.syntax
  man/systemd.syntax.xml
Labels: please-review

#25812 rules: add missing line continuation
  rules.d/60-evdev.rules
Labels: udev, quick-review 🏃‍♂️, needs-stable-backport, please-review

#25815 systemctl: fix typo
  src/systemctl/systemctl-start-unit.c
Labels: systemctl, please-review

#25820 hwdb: change definition of PROXIMITY_NEAR_LEVEL for sensors
  hwdb.d/60-sensor.hwdb
Labels: hwdb, please-review

#25824 hwdb: Add mic-mute, control-center and screen-rotation mappings for M…
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

#25816 gpt-auto-generator: honour rootfstype= and rootflags= kernel cmdline …
  man/kernel-command-line.xml
  man/systemd-gpt-auto-generator.xml
  src/gpt-auto-generator/gpt-auto-generator.c
Labels: gpt-auto, good-to-merge/waiting-for-ci 👍

#25829 string-util: don't add `const` to return pointer of empty_to_null() if input didn't have it
  src/basic/string-util.h
  src/creds/creds.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#25817 dissect-image: let's lock down fstypes a bit
  docs/ENVIRONMENT.md
  src/gpt-auto-generator/gpt-auto-generator.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
Labels: documentation, good-to-merge/waiting-for-ci 👍, dissect

#25785 macro: introduce a macro to define cleanup function with a free funct…
  src/basic/macro.h
Labels: util-lib, quick-review 🏃‍♂️, please-review

#25791 ukify: check inputs
  src/ukify/ukify.py
Labels: please-review

#25814 ukify: Prefer using llvm-objcopy instead of objcopy
  man/ukify.xml
  src/ukify/ukify.py
Labels: good-to-merge/waiting-for-ci 👍, uki

#25838 import-creds: don't try to import VM creds in a container
  src/core/import-creds.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, creds

#25777 cryptenroll: Implement support for unlocking via FIDO2 tokens
  src/cryptenroll/cryptenroll-fido2.c
  src/cryptenroll/cryptenroll-fido2.h
  src/cryptenroll/cryptenroll-password.c
  src/cryptenroll/cryptenroll-password.h
  src/cryptenroll/cryptenroll.c
  src/cryptenroll/cryptenroll.h
  src/cryptsetup/cryptsetup.c
  src/cryptsetup/meson.build
  src/shared/cryptsetup-fido2.c
  src/shared/cryptsetup-fido2.h
  src/shared/meson.build
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍, fido2

#25830 wait-online: exit with success when all interfaces are ready or unmanaged
  src/network/wait-online/manager.c
  test/test-network/systemd-networkd-tests.py
Labels: network, good-to-merge/waiting-for-ci 👍

#25845 tree-wide: have_effective_cap() may return negative errno
  src/basic/argv-util.c
  src/core/audit-fd.c
  src/core/execute.c
  src/core/kmod-setup.c
  src/sysext/sysext.c
  src/test/test-capability.c
  src/tmpfiles/tmpfiles.c
Labels: tree-wide, good-to-merge/waiting-for-ci 👍
