Repository systemd/systemd, pull requests merged in 2022-01, with the labels that each got.

#21915 tests: add fuzz-bcd
  src/boot/efi/fuzz-bcd.c
  src/boot/efi/meson.build
  tools/oss-fuzz.sh
Labels: boot, fuzzing

#21958 make HP 15s-eq0xxx changes specific to sku9MG38EA#ABZ
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, needs-stable-backport

#21959 boot: Add disabled secure boot mode without setup mode
  src/fundamental/efivars-fundamental.c
  src/fundamental/efivars-fundamental.h
Labels: boot

#21928 meson: Boot
  meson_options.txt
  src/boot/efi/meson.build
Labels: boot, meson

#21944 nss-systemd: fix pointer calculation
  src/nss-myhostname/nss-myhostname.c
  src/nss-systemd/nss-systemd.c
Labels: nss, needs-stable-backport

#21960 boot: Use objcopy to align sections
  .github/workflows/build_test.sh
  src/boot/efi/meson.build
  src/boot/efi/secure-boot.c
Labels: boot, ci-failure-appears-unrelated, needs-stable-backport

#21978 ci: bump mkosi to v12 with libsolv workaround
  .github/workflows/mkosi.yml
Labels: dependencies, github_actions

#21970 seccomp-util: fix build failure
  src/basic/missing_syscall_def.h
  src/basic/missing_syscalls.py
  src/basic/syscalls-alpha.txt
  src/basic/syscalls-ia64.txt
  src/basic/syscalls-loongarch64.txt
  src/basic/syscalls-m68k.txt
  src/basic/syscalls-mips64.txt
  src/basic/syscalls-mips64n32.txt
  src/basic/syscalls-mipso32.txt
  src/basic/syscalls-powerpc.txt
  src/basic/syscalls-powerpc64.txt
  src/basic/syscalls-s390.txt
  src/basic/syscalls-s390x.txt
  src/basic/syscalls-sparc.txt
  src/shared/seccomp-util.c
Labels: seccomp, needs-stable-backport

#21968 boot: Do not warn if an initializing driver returns EFI_ABORTED
  src/boot/efi/drivers.c
Labels: boot

#21941 hostname-setup: support kernel with empty CONFIG_DEFAULT_HOSTNAME
  src/basic/hostname-util.c
  src/basic/hostname-util.h
  src/shared/hostname-setup.c
  src/test/test-sysctl-util.c
Labels: util-lib, needs-stable-backport

#21985 elf-util: several cleanups
  src/coredump/coredump.c
  src/shared/elf-util.c
Labels: coredump

#21976 coredump: do not crash if we failed to acquire exe path
  src/coredump/coredump.c
Labels: coredump, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#21984 basic/log: allow errno values higher than 255
  src/basic/log.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#21989 meson: generate better arch defines for clang bpf compilation
  src/core/bpf/meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#21994 fuzz: no longer skip empty files
  src/core/fuzz-unit-file.c
  src/fuzz/fuzz-env-file.c
  src/fuzz/fuzz-hostname-setup.c
  src/fuzz/fuzz-json.c
  src/fuzz/fuzz.h
  src/nspawn/fuzz-nspawn-oci.c
  src/nspawn/fuzz-nspawn-settings.c
Labels: tests, fuzzing

#21778 tests: run nss-{users|hosts} by default
  src/test/meson.build
  src/test/test-nss-hosts.c
  src/test/test-nss-users.c
Labels: tests, nss

#21996 fuzz-bcd: silence warning about always-true comparison
  src/boot/efi/fuzz-bcd.c
Labels: good-to-merge/waiting-for-ci 👍, fuzzing

#21998 test: build fuzzers with --werror if set
  test/fuzz/meson.build
Labels: tests, good-to-merge/waiting-for-ci 👍, meson

#21977 hwdb: Allow end-users root-less access to TL866 EPROM readers
  hwdb.d/70-analyzers.hwdb
  hwdb.d/parse_hwdb.py
  rules.d/50-udev-default.rules.in
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#21825 boot: Add gdb support and documentation
  docs/HACKING.md
  src/boot/efi/boot.c
  src/boot/efi/stub.c
  src/boot/efi/util.c
  src/boot/efi/util.h
  tools/debug-sd-boot.sh
Labels: documentation, boot

#21986 random-seed: hash together old seed and new seed before writing out file
  src/random-seed/random-seed.c
Labels: random-seed, good-to-merge/waiting-for-ci 👍

#22003 oss-fuzz: drop line-tables-only
  tools/oss-fuzz.sh
Labels: fuzzing

#22008 resolve: add missing initialization of libgcrypt
  src/resolve/resolved-dns-dnssec.c
Labels: resolve, quick-review 🏃‍♂️, needs-stable-backport

#22010 sd-boot: select newest kernel entry matching with the default glob pattern
  src/boot/efi/boot.c
Labels: boot, quick-review 🏃‍♂️, needs-stable-backport

#21981 boot: Cleanup
  src/boot/efi/boot.c
  src/boot/efi/console.c
  src/boot/efi/cpio.c
  src/boot/efi/devicetree.c
  src/boot/efi/drivers.c
  src/boot/efi/pe.c
  src/boot/efi/random-seed.c
  src/boot/efi/util.c
  src/boot/efi/util.h
Labels: boot

#21974 test-repart: find sfdisk
  src/partition/test-repart.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#22011 backlight: ignore error if the backlight device is already removed
  src/backlight/backlight.c
Labels: backlight, good-to-merge/waiting-for-ci 👍

#22014 Drop detailed error messages for netlink message append operations
  src/libsystemd/sd-device/test-sd-device-monitor.c
  src/network/netdev/bareudp.c
  src/network/netdev/batadv.c
  src/network/netdev/bond.c
  src/network/netdev/bridge.c
  src/network/netdev/fou-tunnel.c
  src/network/netdev/geneve.c
  src/network/netdev/ipoib.c
  src/network/netdev/ipvlan.c
  src/network/netdev/l2tp-tunnel.c
  src/network/netdev/macsec.c
  src/network/netdev/macvlan.c
  src/network/netdev/netdev.c
  src/network/netdev/tunnel.c
  src/network/netdev/veth.c
  src/network/netdev/vlan.c
  src/network/netdev/vrf.c
  src/network/netdev/vxcan.c
  src/network/netdev/vxlan.c
  src/network/netdev/xfrm.c
  src/network/networkd-bridge-fdb.c
  src/network/networkd-bridge-vlan.c
  src/network/networkd-can.c
  src/network/networkd-neighbor.c
  src/network/networkd-route.c
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-setlink.c
  src/network/tc/cake.c
  src/network/tc/codel.c
  src/network/tc/drr.c
  src/network/tc/ets.c
  src/network/tc/fifo.c
  src/network/tc/fq-codel.c
  src/network/tc/fq-pie.c
  src/network/tc/fq.c
  src/network/tc/gred.c
  src/network/tc/hhf.c
  src/network/tc/htb.c
  src/network/tc/netem.c
  src/network/tc/pie.c
  src/network/tc/qdisc.c
  src/network/tc/qfq.c
  src/network/tc/sfb.c
  src/network/tc/sfq.c
  src/network/tc/tbf.c
  src/network/tc/tc.c
  src/network/tc/tclass.c
  src/test/test-bpf-foreign-programs.c
  src/test/test-bpf-lsm.c
  src/test/test-socket-bind.c
Labels: network, good-to-merge/waiting-for-ci 👍

#22016 assorted trivial cleanups
  src/coredump/coredump.c
  src/shared/watchdog.c
Labels: util-lib, coredump, good-to-merge/waiting-for-ci 👍

#22018 Make logind survive aborted suspend
  man/event-quick-child.c
  man/sd_event_add_child.xml
  man/sd_event_add_defer.xml
  man/sd_event_add_inotify.xml
  man/sd_event_add_io.xml
  man/sd_event_add_signal.xml
  man/sd_event_add_time.xml
  src/login/logind-dbus.c
Labels: login, documentation, good-to-merge/waiting-for-ci 👍

#22017 random-seed: cleanup code nits
  src/random-seed/random-seed.c
Labels: random-seed, good-to-merge/waiting-for-ci 👍

#22009 test-watchdog: mark as unsafe
  src/test/meson.build
Labels: tests, good-to-merge/waiting-for-ci 👍

#21308 userdbctl: fix "Password OK" shown even when password is empty or locked
  TODO
  src/basic/user-util.h
  src/shared/user-record-show.c
Labels: squash-on-merge, userdb

#22031 test-watchdog adjustments
  src/test/test-watchdog.c
Labels: tests, good-to-merge/waiting-for-ci 👍, watchdog

#22025 bpf: do not freeze if bpf lsm fails to set up
  src/core/bpf-lsm.c
  src/core/execute.c
  src/core/manager.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, bpf, needs-stable-backport

#22006 udev-util: ignore USB-C ports in power source mode
  src/ac-power/ac-power.c
  src/basic/util.c
  src/basic/util.h
  src/shared/condition.c
  src/shared/udev-util.c
  src/shared/udev-util.h
  src/test/test-condition.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#21999 homed: stop before stopping dbus
  units/systemd-homed.service.in
Labels: units, homed

#22024 kernel-install: prefer /boot over /boot/efi for $BOOT_ROOT
  src/kernel-install/kernel-install
Labels: kernel-install, needs-stable-backport

#22013 fstab-generator: skip root directory handling when nfsroot is requested
  meson.build
  src/fstab-generator/fstab-generator.c
  test/meson.build
  test/test-fstab-generator.sh
  test/test-fstab-generator/.gitattributes
  test/test-fstab-generator/test-01-dev-nfs.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-01-dev-nfs.input
  test/test-fstab-generator/test-02-dhcp.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-02-dhcp.input
  test/test-fstab-generator/test-03-dhcp6.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-03-dhcp6.input
  test/test-fstab-generator/test-04-nfs.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-04-nfs.input
  test/test-fstab-generator/test-05-nfs4.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-05-nfs4.input
  test/test-fstab-generator/test-06-ipv4.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-06-ipv4.input
  test/test-fstab-generator/test-07-ipv6.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-07-ipv6.input
  test/test-fstab-generator/test-08-implicit-nfs.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-08-implicit-nfs.input
  test/test-fstab-generator/test-09-cifs.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-09-cifs.input
  test/test-fstab-generator/test-10-iscsi.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-10-iscsi.input
  test/test-fstab-generator/test-11-live.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-11-live.input
  test/test-fstab-generator/test-12-dev-sdx.expected/initrd-root-device.target.d/50-root-device.conf
  test/test-fstab-generator/test-12-dev-sdx.expected/initrd-root-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-12-dev-sdx.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-12-dev-sdx.expected/sysroot.mount
  test/test-fstab-generator/test-12-dev-sdx.expected/systemd-fsck-root.service
  test/test-fstab-generator/test-12-dev-sdx.input
  test/test-fstab-generator/test-13-label.expected/initrd-root-device.target.d/50-root-device.conf
  test/test-fstab-generator/test-13-label.expected/initrd-root-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-13-label.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-13-label.expected/sysroot.mount
  test/test-fstab-generator/test-13-label.expected/systemd-fsck-root.service
  test/test-fstab-generator/test-13-label.input
  test/test-fstab-generator/test-14-uuid.expected/initrd-root-device.target.d/50-root-device.conf
  test/test-fstab-generator/test-14-uuid.expected/initrd-root-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-14-uuid.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-14-uuid.expected/sysroot.mount
  test/test-fstab-generator/test-14-uuid.expected/systemd-fsck-root.service
  test/test-fstab-generator/test-14-uuid.input
  test/test-fstab-generator/test-15-partuuid.expected/initrd-root-device.target.d/50-root-device.conf
  test/test-fstab-generator/test-15-partuuid.expected/initrd-root-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-15-partuuid.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-15-partuuid.expected/sysroot.mount
  test/test-fstab-generator/test-15-partuuid.expected/systemd-fsck-root.service
  test/test-fstab-generator/test-15-partuuid.input
  test/test-fstab-generator/test-16-tmpfs.expected/initrd-root-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-16-tmpfs.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-16-tmpfs.expected/sysroot.mount
  test/test-fstab-generator/test-16-tmpfs.input
Labels: fstab-generator, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#22039 seccomp: move arch_prctl to @default
  src/shared/seccomp-util.c
Labels: good-to-merge/waiting-for-ci 👍

#22044 Minor man page adjustments
  man/bootup.xml
  man/locale.conf.xml
  man/machine-info.xml
  man/os-release.xml
  man/systemd.network.xml
  man/vconsole.conf.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#20293 core: teach LoadCredential= to load from a directory
  TODO
  man/systemd.exec.xml
  src/core/execute.c
  test/units/testsuite-54.sh
Labels: pid1, good-to-merge/waiting-for-ci 👍

#22028 boot: Cleanup
  src/boot/efi/boot.c
  src/boot/efi/util.c
Labels: boot

#22048 meson: Use files() for source lists for boot and fundamental
  src/boot/efi/meson.build
  src/fundamental/meson.build
Labels: boot, meson

#22064 test: store empty files rather than symlinks for test-fstab-generator
  test/test-fstab-generator.sh
  test/test-fstab-generator/test-01-dev-nfs.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-02-dhcp.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-03-dhcp6.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-04-nfs.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-05-nfs4.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-06-ipv4.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-07-ipv6.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-08-implicit-nfs.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-09-cifs.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-10-iscsi.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-11-live.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-12-dev-sdx.expected/initrd-root-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-12-dev-sdx.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-13-label.expected/initrd-root-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-13-label.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-14-uuid.expected/initrd-root-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-14-uuid.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-15-partuuid.expected/initrd-root-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-15-partuuid.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-16-tmpfs.expected/initrd-root-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-16-tmpfs.expected/initrd-usr-fs.target.requires/sysroot.mount
Labels: tests

#22032 test: configure oomd using a dropin
  test/units/testsuite-55.sh
Labels: tests, oomd

#22062 bpf: actually skip RestrictFileSystems= when not supported
  src/core/execute.c
Labels: priority, downstream/fedora

#22063 boot-timestamps: Discard firmware init time when running in a VM
  src/shared/boot-timestamps.c
Labels: boot, good-to-merge/waiting-for-ci 👍

#22045 units: start systemd-resolved in basic.target
  units/systemd-resolved.service.in
Labels: units, ci-failure-appears-unrelated

#22069 meson: no longer skip dependencies when fuzzers are built locally
  meson.build
Labels: tests

#22019 shutdown command fixes
  src/systemctl/systemctl-logind.c
Labels: systemctl, needs-stable-backport

#22070 Simplify recursive removal code and replace stack recursion with a heap queue
  src/shared/rm-rf.c
Labels: tmpfiles, good-to-merge/waiting-for-ci 👍, priority

#22071 Improve logs in systemd-xdg-autostart-generator
  docs/DESKTOP_ENVIRONMENTS.md
  src/xdg-autostart-generator/xdg-autostart-generator.c
  src/xdg-autostart-generator/xdg-autostart-service.c
  src/xdg-autostart-generator/xdg-autostart-service.h
Labels: documentation, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, xdg-autostart

#22066 boot: Change boot entry sorting
  man/systemd-boot.xml
  src/boot/efi/boot.c
Labels: boot

#22050 bpf: check if lsm link ptr is libbpf error
  src/core/bpf-lsm.c
  src/shared/bpf-link.c
Labels: bpf

#22074 boot: Fix readdir_harder() on VirtualBox
  src/boot/efi/boot.c
  src/boot/efi/util.c
Labels: boot, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#21954 sd-bus/man: document EBUSY error in bus_message_read
  man/sd_bus_message_read.xml
  man/sd_bus_message_read_basic.xml
Labels: documentation

#22082 bootctl: skip update if sd-boot wasn't installed
  src/boot/bootctl.c
Labels: boot, good-to-merge/waiting-for-ci 👍, downstream/fedora

#22086 Avoid looking at /prcc/cmdline from nss modules
  src/basic/log.c
  src/basic/log.h
  src/nss-mymachines/nss-mymachines.c
  src/nss-resolve/nss-resolve.c
  src/nss-systemd/nss-systemd.c
Labels: nss, good-to-merge/waiting-for-ci 👍

#22083 network: dhcp6: do not request address if UseAddress=no
  src/network/networkd-dhcp6.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#22085 fix test-string-util failed when locale is not utf8
  src/test/test-string-util.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#22088 meson: Small improvements
  man/meson.build
  meson.build
  src/analyze/meson.build
  src/basic/meson.build
  src/boot/efi/meson.build
  src/busctl/meson.build
  src/core/meson.build
  src/coredump/meson.build
  src/fuzz/meson.build
  src/import/meson.build
  src/journal-remote/meson.build
  src/journal/meson.build
  src/libsystemd-network/meson.build
  src/libsystemd/meson.build
  src/libudev/meson.build
  src/locale/meson.build
  src/login/meson.build
  src/machine/meson.build
  src/network/meson.build
  src/nspawn/meson.build
  src/oom/meson.build
  src/resolve/meson.build
  src/shutdown/meson.build
  src/systemctl/meson.build
  src/test/meson.build
  src/timesync/meson.build
  src/tmpfiles/meson.build
  src/udev/meson.build
  src/xdg-autostart-generator/meson.build
  test/fuzz/meson.build
  test/meson.build
Labels: udev, network, journal, resolve, systemctl, timesync, journal-remote, meson, busctl

#22043 boot: Add BitLocker TPM key sealing workaround
  man/loader.conf.xml
  src/boot/efi/boot.c
  src/boot/efi/measure.c
  src/boot/efi/measure.h
Labels: boot, good-to-merge/waiting-for-reporter-feedback 👍

#22079 shutdown: release the watchdog finally
  src/shutdown/shutdown.c
Labels: watchdog

#22037 Watchdog minor improvements
  src/core/dbus-manager.c
  src/core/manager.c
  src/core/manager.h
  src/shared/watchdog.c
Labels: watchdog

#21728 bfq.io.weight followups and cleanup
  src/basic/cgroup-util.h
  src/core/cgroup.c
  src/test/test-cgroup-util.c
Labels: cgroups, pid1, please-review

#22090 units: don't install dbus-org.freedesktop.oom1.service alias
  test/units/testsuite-55.sh
  units/meson.build
Labels: good-to-merge/waiting-for-ci 👍, units, ci-failure-appears-unrelated

#22072 xdg-autostart-service: Ignore missing desktop-sepcific condition binary
  src/xdg-autostart-generator/xdg-autostart-service.c
Labels: xdg-autostart

#22094 journal: Skip data objects with invalid offsets
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal, ci-failure-appears-unrelated

#22100 Fix TEST-58-REPART on ppc64el
  test/units/testsuite-50.sh
  test/units/testsuite-58.sh
Labels: tests, repart

#22105 Translations update from Fedora Weblate
  po/pt.po
Labels: l10n 🌍

#22103 build-test: show meson-log.txt when meson fails
  .github/workflows/build_test.sh
  .github/workflows/unit_tests.sh
Labels: ci

#22102 boot: add missing error check
  src/boot/efi/boot.c
Labels: boot, quick-review 🏃‍♂️

#22110 journal: Don't discard -b arg when followed by -e
  src/journal/journalctl.c
Labels: journal, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#22106 sd-dhcp6-client: handle broken NTP server option gracefully
  src/libsystemd-network/dhcp6-internal.h
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/test-dhcp6-client.c
Labels: network, dhcp, needs-stable-backport

#22111 boot: Cleanup
  src/boot/efi/boot.c
  src/boot/efi/cpio.c
  src/boot/efi/devicetree.c
  src/boot/efi/devicetree.h
  src/boot/efi/drivers.c
  src/boot/efi/drivers.h
  src/boot/efi/pe.c
  src/boot/efi/random-seed.c
  src/boot/efi/shim.c
  src/boot/efi/util.c
  src/boot/efi/util.h
  src/boot/efi/xbootldr.c
Labels: boot

#22104 ci: turn meson warnings into errors
  .github/workflows/build_test.sh
  .github/workflows/unit_tests.sh
Labels: good-to-merge/waiting-for-ci 👍, ci

#22115 man: Add more details about desktop file processing
  man/systemd-xdg-autostart-generator.xml
Labels: documentation

#22117 ci: switch to requirements.txt in the unit tests workflow
  .github/workflows/unit_tests.sh
Labels: ci

#22096 Open the bus once in networkctl
  src/fundamental/macro-fundamental.h
  src/network/networkctl.c
Labels: network, good-to-merge/waiting-for-ci 👍

#22098 journal: Fixes for handling of corrupt entry objects
  src/journal/test-journal.c
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-journal/journal-file.h
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#22130 Silence gcc warning in sd-device
  src/libsystemd/sd-device/sd-device.c
Labels: good-to-merge/waiting-for-ci 👍

#22122 boot: Add PC speaker support
  man/loader.conf.xml
  src/boot/efi/boot.c
  src/boot/efi/util.c
  src/boot/efi/util.h
Labels: boot, good-to-merge/waiting-for-ci 👍

#22138 ci: install libbpf-dev in the unit_tests workflow
  .github/workflows/unit_tests.sh
Labels: ci

#22136 network: wireguard: disable adding routes to allowed ips by default
  man/systemd.netdev.xml
  src/network/netdev/wireguard.c
Labels: network, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#22137 core: update log message
  src/core/restrict-ifaces.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, coverity

#22134 core: add missing dependency DBus properties
  docs/TRANSIENT-SETTINGS.md
  man/org.freedesktop.systemd1.xml
  src/core/dbus-unit.c
Labels: documentation, pid1, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#22139 man: change 'allow[s] to' -> 'allow[s] one to'
  man/org.freedesktop.resolve1.xml
  man/systemd.netdev.xml
  man/systemd.network.xml
Labels: documentation

#22140 boot: Beep n times for n-th entry
  man/loader.conf.xml
  src/boot/efi/boot.c
  src/boot/efi/util.c
  src/boot/efi/util.h
Labels: boot, good-to-merge/waiting-for-ci 👍

#22141 systemd-stdio-bridge: add manpage
  man/rules/meson.build
  man/systemd-stdio-bridge.xml
Labels: documentation

#22127 kernel-install: also remove modules.builtin.alias.bin
  src/kernel-install/50-depmod.install
Labels: kernel-install, quick-review 🏃‍♂️, needs-stable-backport

#22147 More docs for systemd-stdio-bridge
  man/systemd-stdio-bridge.xml
  meson.build
  src/stdio-bridge/stdio-bridge.c
Labels: documentation, good-to-merge/waiting-for-ci 👍

#22125 shared: Copy holes in sparse files in copy_bytes_full()
  src/journal/journald-file.c
  src/shared/copy.c
  src/shared/copy.h
  src/test/test-copy.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#22142 ci: get Coverity and CodeQL to analyze the "libxkbcommon" part
  .github/workflows/codeql-analysis.yml
  .github/workflows/unit_tests.sh
Labels: good-to-merge/waiting-for-ci 👍, ci

#22150 man: add more references for extensions to portablectl
  man/portablectl.xml
Labels: documentation, portable

#22154 test: fix a copy-and-paste error
  src/test/test-copy.c
Labels: tests, quick-review 🏃‍♂️

#22095 core,cgroup-show: ignore -EOPNOTSUPP in cg_read_pid()
  src/core/dbus-unit.c
  src/shared/cgroup-show.c
Labels: cgroups, pid1, cgls, needs-stable-backport

#22153 ci: switch Debian from unstable to testing on mkosi
  .github/workflows/mkosi.yml
  mkosi.default.d/debian/10-mkosi.debian
Labels: ci

#22135 meson: force ctags to use absolute paths
  meson.build
Labels: meson

#22093 meson: require bpftool version >= 5.6
  meson.build
Labels: meson, bpf

#21805 Port kernel-install to /bin/sh
  src/kernel-install/50-depmod.install
  src/kernel-install/90-loaderentry.install
  src/kernel-install/kernel-install
Labels: kernel-install

#22160 machined: provide more details to polkit auth
  src/machine/image-dbus.c
  src/machine/machine-dbus.c
  src/machine/machined-dbus.c
Labels: machine

#22159 boot: xbootldr improvements
  src/boot/efi/xbootldr.c
Labels: boot

#22161 bootctl: Ignore boot entries (continue #22041)
  src/boot/bootctl.c
  src/login/logind-dbus.c
  src/shared/bootspec.c
  src/shared/bootspec.h
Labels: boot

#22164 sysext: use LO_FLAGS_PARTSCAN when opening image
  src/sysext/sysext.c
Labels: ci-failure-appears-unrelated, sysext

#22163 Improve ExtensionImages validation
  src/core/namespace.c
  src/shared/dissect-image.c
Labels: pid1, needs-stable-backport

#22166 test: wait for newly created btrfs triggered
  test/units/testsuite-64.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#22171 meson: skip to search clang, llvm-string, and bpftool, if libbpf not found
  meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson, quick-review 🏃‍♂️, bpf

#22176 boot: Use -ffile-prefix-map when present
  src/boot/efi/meson.build
Labels: boot, good-to-merge/waiting-for-ci 👍, meson

#21865 udev/net: support configuring SR-IOV virtual functions through .link file
  man/systemd.link.xml
  man/systemd.network.xml
  src/network/netdev/l2tp-tunnel.c
  src/network/netdev/l2tp-tunnel.h
  src/network/netdev/macsec.c
  src/network/netdev/macsec.h
  src/network/netdev/wireguard.c
  src/network/netdev/wireguard.h
  src/network/networkd-address-label.c
  src/network/networkd-address-label.h
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-bridge-fdb.c
  src/network/networkd-bridge-fdb.h
  src/network/networkd-bridge-mdb.c
  src/network/networkd-bridge-mdb.h
  src/network/networkd-dhcp-server-static-lease.c
  src/network/networkd-dhcp-server-static-lease.h
  src/network/networkd-link.c
  src/network/networkd-neighbor.c
  src/network/networkd-neighbor.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-nexthop.c
  src/network/networkd-nexthop.h
  src/network/networkd-radv.c
  src/network/networkd-radv.h
  src/network/networkd-route.c
  src/network/networkd-route.h
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-routing-policy-rule.h
  src/network/networkd-sriov.c
  src/network/networkd-sriov.h
  src/network/networkd-util.c
  src/network/networkd-util.h
  src/network/tc/qdisc.c
  src/network/tc/qdisc.h
  src/network/tc/tclass.c
  src/network/tc/tclass.h
  src/shared/conf-parser.c
  src/shared/conf-parser.h
  src/shared/meson.build
  src/shared/netif-sriov.c
  src/shared/netif-sriov.h
  src/udev/net/link-config-gperf.gperf
  src/udev/net/link-config.c
  src/udev/net/link-config.h
  test/fuzz/fuzz-link-parser/directives.link
  test/test-network/conf/25-sriov-udev.network
  test/test-network/conf/25-sriov.link
  test/test-network/systemd-networkd-tests.py
Labels: udev, network, new-feature

#22174 bus: Use OrderedSet for introspection
  src/libsystemd/sd-bus/bus-introspect.c
  src/libsystemd/sd-bus/bus-introspect.h
  src/libsystemd/sd-bus/bus-objects.c
  src/shared/bus-object.c
Labels: sd-bus, build-system

#22179 resolve: fix assertion triggered when r == 0
  src/resolve/resolved-etc-hosts.c
Labels: resolve, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#22185 tests: fuzz etc_hosts_parse
  src/resolve/fuzz-etc-hosts.c
  src/resolve/meson.build
  tools/oss-fuzz.sh
Labels: resolve, tests

#22184 hwdb: CH Pro Pedals not classified correctly due to no buttons
  hwdb.d/60-input-id.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#22188 hwdb: Add accel orientation quirk for the GPD Pocket 3
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#22189 ci: switch to fedora-35 on i386 on Packit
  .packit.yml
Labels: ci

#22194 tests: make fuzz-journal-remote less flaky
  src/journal-remote/fuzz-journal-remote.c
Labels: tests, journal-remote, good-to-merge/waiting-for-ci 👍

#22198 meson: Add missing boot headers and use @INPUT@ for linking
  src/boot/efi/meson.build
Labels: boot, good-to-merge/waiting-for-ci 👍, meson

#22183 oomd: fix potential race between killing cgroups and cleaning up cgroups
  src/oom/oomd-manager.c
  src/oom/oomd-util.c
Labels: good-to-merge/waiting-for-ci 👍, oomd, needs-stable-backport

#22197 resolve: refuse to resolve empty hostname
  src/resolve/resolved-bus.c
  src/resolve/resolved-varlink.c
  src/shared/dns-domain.h
Labels: resolve, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#22199 resolve: reduce attempts of reading networkd's link file
  src/libsystemd/sd-network/network-util.c
  src/libsystemd/sd-network/network-util.h
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/wait-online/link.c
  src/resolve/resolved-link.c
  src/resolve/resolved-link.h
  src/shared/netif-util.c
  src/shared/netif-util.h
Labels: network, resolve, good-to-merge/waiting-for-ci 👍

#22195 Add unit specifiers for fragment path and directory
  man/systemd.unit.xml
  src/core/unit-printf.c
  src/shared/install-printf.c
  src/shared/specifier.c
  src/shared/specifier.h
  src/test/test-specifier.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#22143 core: add ExtensionDirectories= setting
  man/org.freedesktop.systemd1.xml
  man/systemd.exec.xml
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.in
  src/core/namespace.c
  src/core/namespace.h
  src/shared/bus-unit-util.c
  src/test/test-namespace.c
  src/test/test-ns.c
  test/fuzz/fuzz-unit-file/directives-all.service
  test/fuzz/fuzz-unit-file/directives.mount
  test/fuzz/fuzz-unit-file/directives.service
  test/fuzz/fuzz-unit-file/directives.socket
  test/fuzz/fuzz-unit-file/directives.swap
  test/units/testsuite-50.sh
Labels: pid1, new-feature, please-review

#22202 udevadm info --cleanup-db: don't delete information for kept db entries
  src/udev/udevadm-info.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#22204 meson: Add missing test dependencies
  catalog/meson.build
  man/meson.build
  meson.build
  src/udev/meson.build
  test/meson.build
Labels: udev, tests, good-to-merge/waiting-for-ci 👍, meson

#22205 udevadm: keep watch directory and several cleanups
  src/udev/udevadm-info.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#22208 boot: Only build with debug symbols in developer mode
  src/boot/efi/meson.build
Labels: boot, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, meson

#22210 Fix journald audit logging with fields > N_IOVEC_AUDIT_FIELDS.
  src/journal/journald-audit.c
Labels: journal, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#22214 bpf: name unnamed bpf programs
  src/core/bpf-devices.c
  src/core/bpf-firewall.c
  src/shared/bpf-program.c
  src/shared/bpf-program.h
  src/test/test-bpf-firewall.c
  src/test/test-bpf-foreign-programs.c
Labels: pid1, bpf

#22209 hostname: Allow overriding the chassis type from hwdb
  hwdb.d/20-dmi-id.hwdb
  src/hostname/hostnamed.c
Labels: hwdb, hostname, good-to-merge/waiting-for-ci 👍

#22220 packit: switch the remaining jobs to F35
  .packit.yml
Labels: good-to-merge/waiting-for-ci 👍, ci

#22216 sd-event: workaround maybe-uninitalized warning in sd_event_add_inotify()
  src/libsystemd/sd-event/sd-event.c
Labels: sd-event, good-to-merge/waiting-for-ci 👍

#22218 man: note more clearly that $SYSTEMD_PAGER requires $SYSTEMD_PAGERSECURE
  man/common-variables.xml
Labels: documentation

#22212 portable: add support for ExtensionDirectories in --extension
  docs/PORTABLE_SERVICES.md
  man/portablectl.xml
  src/portable/portable.c
  test/units/testsuite-29.sh
Labels: documentation, new-feature, good-to-merge/waiting-for-ci 👍, portable

#21908 man: clarify Environmentfile format
  man/systemd.exec.xml
  src/core/execute.c
  src/test/test-env-file.c
  src/test/test-load-fragment.c
Labels: documentation, tests, good-to-merge/waiting-for-ci 👍

#22222 dhcp-server: support packets from non-Ethernet interfaces
  src/libsystemd-network/dhcp-internal.h
  src/libsystemd-network/dhcp-packet.c
  src/libsystemd-network/dhcp-server-internal.h
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-dhcp-server.c
  src/libsystemd-network/test-dhcp-option.c
  src/libsystemd-network/test-dhcp-server.c
Labels: network, dhcp

#22232 github: point to "tags" instead of "releases" in systemd-stable
  .github/ISSUE_TEMPLATE/Bug_report.md
Labels: quick-review 🏃‍♂️

#22227 sd-dhcp-server: fix heap buffer overflow
  src/libsystemd-network/sd-dhcp-server.c
  test/fuzz/fuzz-dhcp-server/crash-64c861ad981838e509920e8538640ef46feaae66
  test/fuzz/fuzz-dhcp-server/crash-e13ccbc34d0fa5add0ee1eb69ed630dd2cdfb1ca
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#22226 hostname: allow to override hardware vendor and model
  man/machine-info.xml
  rules.d/50-udev-default.rules.in
  src/hostname/hostnamed.c
Labels: hostname, good-to-merge/waiting-for-ci 👍

#22231 resolve: synthesize several filtered name
  src/resolve/resolved-bus.c
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-synthesize.c
  src/resolve/resolved-varlink.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#22203 core/namespace: allow using ProtectSubset=pid and ProtectHostname=tru…
  src/core/namespace.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#22149 Update systemd.netdev.xml
  man/systemd.netdev.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#22236 fuzz-dhcp-server: three fixes or improvements
  src/libsystemd-network/fuzz-dhcp-server.c
  test/fuzz/fuzz-dhcp-server/clusterfuzz-testcase-minimized-fuzz-dhcp-server-4916534286352384
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍, fuzzing

#22219 hostname: also expose hardware serial number
  man/org.freedesktop.hostname1.xml
  src/hostname/hostnamed.c
  src/hostname/org.freedesktop.hostname1.policy
Labels: udev, new-feature, hostname, good-to-merge/waiting-for-ci 👍

#22240 portable: add GetImageStateWithExtensions method
  man/org.freedesktop.portable1.xml
  src/portable/portable.c
  src/portable/portable.h
  src/portable/portablectl.c
  src/portable/portabled-bus.c
  src/portable/portabled-image-bus.c
  test/units/testsuite-29.sh
Labels: good-to-merge/waiting-for-ci 👍, portable

#22245 portable: add flag to return extension-releases in GetImageMetadataWithExtensions
  man/org.freedesktop.portable1.xml
  src/portable/portable.c
  src/portable/portable.h
  src/portable/portablectl.c
  src/portable/portabled-image-bus.c
  test/units/testsuite-29.sh
Labels: good-to-merge/waiting-for-ci 👍, portable

#22250 shared: Ensure COPY_HOLES copies trailing holes
  src/shared/copy.c
  src/test/test-copy.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#22249 wait-online: fix handling of unmanaged state
  src/network/wait-online/link.c
  src/network/wait-online/manager.c
  src/network/wait-online/manager.h
Labels: network, good-to-merge/waiting-for-ci 👍

#22252 meson: Boot build/test changes
  meson.build
  src/boot/efi/meson.build
  test/splash.bmp
  test/test-efi-create-disk.sh
  tools/debug-sd-boot.sh
Labels: boot, good-to-merge/waiting-for-ci 👍, meson

#22251 boot: Small improvements
  src/boot/efi/boot.c
  src/boot/efi/console.c
  src/boot/efi/console.h
  src/boot/efi/util.c
  src/boot/efi/util.h
Labels: boot, good-to-merge/with-minor-suggestions
