Repository systemd/systemd, pull requests merged in 2022-06, with the labels that each got.

#23531 sd-bus: drop version 2 format support
  TODO
  docs/GVARIANT-SERIALIZATION.md
  meson.build
  src/basic/macro.h
  src/basic/static-destruct.h
  src/boot/efi/cpio.c
  src/boot/efi/stub.c
  src/fundamental/macro-fundamental.h
  src/libsystemd/meson.build
  src/libsystemd/sd-bus/bus-dump.c
  src/libsystemd/sd-bus/bus-error.c
  src/libsystemd/sd-bus/bus-gvariant.c
  src/libsystemd/sd-bus/bus-gvariant.h
  src/libsystemd/sd-bus/bus-message.c
  src/libsystemd/sd-bus/bus-message.h
  src/libsystemd/sd-bus/bus-protocol.h
  src/libsystemd/sd-bus/bus-socket.c
  src/libsystemd/sd-bus/sd-bus.c
  src/libsystemd/sd-bus/test-bus-error.c
  src/libsystemd/sd-bus/test-bus-gvariant.c
  src/shared/tests.h
Labels: documentation, sd-bus

#23423 src: The return value of server_vacuum () is not used and could be mo…
  src/journal/journald-server.c
  src/journal/journald-server.h
Labels: journal

#23575 Cleanup wall messages emitted by logind and systemctl
  man/systemctl.xml
  src/login/logind-action.c
  src/login/logind-action.h
  src/login/logind-dbus.c
  src/login/logind-utmp.c
  src/login/logind.c
  src/shared/pager.c
  src/systemctl/systemctl-logind.c
  src/systemctl/systemctl-logind.h
  src/systemctl/systemctl.c
  test/test-shutdown.py
Labels: login, systemctl, good-to-merge/waiting-for-ci 👍

#23582 resolved: define source address for proxy-only stub replies
  src/resolve/resolved-dns-stub.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#23601 man: add missing argument to systemd-creds synopsis
  man/systemd-creds.xml
Labels: documentation

#23597 test: enable virtio-rng device for QEMU guests
  test/test-functions
Labels: tests, good-to-merge/waiting-for-ci 👍

#23609 sha256: fix compilation on efi-ia32
  src/fundamental/sha256.c
Labels: needs-stable-backport

#23297 meson: Compile with -ftrivial-auto-var-init
  meson.build
  src/core/manager.c
Labels: meson

#23613 meson: Switch default-locale default to C.UTF-8
  meson.build
  meson_options.txt
  tools/choose-default-locale.sh
Labels: good-to-merge/waiting-for-ci 👍, meson

#23633 shared/microhttp-util: silence gcc warning
  src/journal-remote/microhttpd-util.c
Labels: journal-remote, needs-stable-backport

#23621 ci: build systemd with clang with -Dmode=release --optimization=2
  .github/workflows/unit_tests.sh
  .github/workflows/unit_tests.yml
  src/basic/alloc-util.h
Labels: util-lib, ci

#23269 networkd: NetLabel integration
  man/systemd.network.xml
  src/basic/in-addr-util.c
  src/basic/in-addr-util.h
  src/basic/missing_network.h
  src/libsystemd/sd-netlink/netlink-types-genl.c
  src/libsystemd/sd-netlink/test-netlink.c
  src/network/meson.build
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-netlabel.c
  src/network/networkd-netlabel.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/test/test-in-addr-util.c
  test/fuzz/fuzz-network-parser/directives
Labels: network, new-feature, please-review

#23643 test: fix (not only) TEST-70 under sanitizers
  test/test-functions
  test/units/testsuite-70.sh
Labels: tests, cryptsetup, ci-failure-appears-unrelated, tpm2

#23645 journalctl: Use STATIC_DESTRUCTOR_REGISTER()
  src/journal/journalctl.c
  src/shared/meson.build
  src/shared/pcre2-util.c
  src/shared/pcre2-util.h
  src/test/test-dlopen-so.c
Labels: journal

#23641 Janitorial cleanups
  src/activate/activate.c
  src/basic/socket-util.c
  src/boot/bootctl.c
  src/core/mount.c
  src/shared/condition.c
Labels: good-to-merge/waiting-for-ci 👍

#23673 Translations update from Fedora Weblate
  po/LINGUAS
  po/et.po
Labels: l10n 🌍

#23675 Use udev_available() where appropriate
  src/libsystemd-network/dhcp-identifier.c
  src/nspawn/nspawn-network.c
Labels: network, nspawn

#23612 meson: Add nspawn-locale meson option
  meson.build
  meson_options.txt
  src/nspawn/nspawn.c
Labels: nspawn, meson

#23668 hwdb: Add HP Dev One
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#23616 Add macros that allocate a fixed buffer for in_addr_to_string(), in_addr_prefix+to_string()
  docs/CODING_STYLE.md
  src/basic/in-addr-util.c
  src/basic/in-addr-util.h
  src/basic/socket-util.c
  src/core/cgroup.c
  src/core/dbus-cgroup.c
  src/core/socket.c
  src/libsystemd-network/network-internal.c
  src/libsystemd-network/sd-dhcp-lease.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/sd-ipv4ll.c
  src/libsystemd-network/sd-ndisc.c
  src/libsystemd-network/sd-radv.c
  src/libsystemd-network/test-ipv4ll-manual.c
  src/libsystemd-network/test-ndisc-rs.c
  src/machine/machinectl.c
  src/network/generator/network-generator.c
  src/network/netdev/l2tp-tunnel.c
  src/network/netdev/wireguard.c
  src/network/networkctl.c
  src/network/networkd-address-pool.c
  src/network/networkd-address.c
  src/network/networkd-bridge-mdb.c
  src/network/networkd-dhcp-prefix-delegation.c
  src/network/networkd-dhcp6.c
  src/network/networkd-ipv6ll.c
  src/network/networkd-link.c
  src/network/networkd-ndisc.c
  src/network/networkd-neighbor.c
  src/network/networkd-nexthop.c
  src/network/networkd-radv.c
  src/network/networkd-route.c
  src/network/networkd-routing-policy-rule.c
  src/nspawn/nspawn-expose-ports.c
  src/resolve/resolved-bus.c
  src/resolve/resolved-dns-cache.c
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-manager.c
  src/resolve/test-resolved-stream.c
  src/shared/logs-show.c
  src/systemctl/systemctl-show.c
  src/test/test-in-addr-prefix-util.c
  src/test/test-in-addr-util.c
  src/test/test-time-util.c
  src/test/test-utmp.c
Labels: network, resolve, documentation, systemctl, journal-remote, good-to-merge/waiting-for-ci 👍

#23678 bash-completion: add systemd-cryptenroll support
  shell-completion/bash/homectl
  shell-completion/bash/meson.build
  shell-completion/bash/systemd-cryptenroll
  shell-completion/bash/systemd-id128
Labels: good-to-merge/waiting-for-ci 👍

#23654 Fixes for NULL-pointer arguments based on gcc warnings
  src/basic/unit-file.c
  src/libsystemd/sd-bus/test-bus-address.c
  src/libsystemd/sd-hwdb/sd-hwdb.c
  src/libsystemd/sd-journal/sd-journal.c
  src/test/test-load-fragment.c
  src/test/test-mountpoint-util.c
Labels: tree-wide, good-to-merge/waiting-for-ci 👍

#23680 Move boot counting into BLS proper
  docs/AUTOMATIC_BOOT_ASSESSMENT.md
  docs/BOOT_LOADER_SPECIFICATION.md
Labels: documentation, good-to-merge/waiting-for-ci 👍

#23672 meson: Build with frame pointers in developer mode
  meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#23677 bpf: use __always_inline macro in restrict-ifaces.bpf.c
  src/core/bpf/restrict_ifaces/restrict-ifaces.bpf.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, bpf

#23658 Fixes for NULL-pointer arguments based on gcc warnings
  src/core/dynamic-user.c
  src/shared/bus-util.c
  src/shared/bus-util.h
  src/shared/libfido2-util.c
  src/systemctl/systemctl-util.c
  src/test/test-dns-domain.c
  src/test/test-fstab-util.c
  src/test/test-process-util.c
  src/test/test-udev-util.c
Labels: systemctl, good-to-merge/waiting-for-ci 👍

#23685 Translations update from Fedora Weblate
  po/et.po
Labels: l10n 🌍

#23628 fix: sd_id128_get_invocation now works for user services if keyring is unavailable
  src/libsystemd/sd-id128/sd-id128.c
Labels: good-to-merge/waiting-for-ci 👍, sd-id128

#23589 boot: Drop use of several gnu-efi functions
  man/loader.conf.xml
  src/boot/efi/boot.c
  src/boot/efi/console.c
  src/boot/efi/cpio.c
  src/boot/efi/devicetree.c
  src/boot/efi/disk.c
  src/boot/efi/drivers.c
  src/boot/efi/efi-string.c
  src/boot/efi/efi-string.h
  src/boot/efi/graphics.c
  src/boot/efi/initrd.c
  src/boot/efi/measure.c
  src/boot/efi/pe.c
  src/boot/efi/random-seed.c
  src/boot/efi/shim.c
  src/boot/efi/splash.c
  src/boot/efi/stub.c
  src/boot/efi/test-efi-string.c
  src/boot/efi/util.c
  src/boot/efi/util.h
  src/boot/efi/xbootldr.c
  src/fundamental/macro-fundamental.h
Labels: boot

#23688 boot/efi-string: check the end of haystack before testing remaining pattern
  src/boot/efi/efi-string.c
  src/boot/efi/test-efi-string.c
Labels: boot

#23698 docs: desaturate dark-mode background color
  docs/style.css
Labels: documentation

#23665 meson: add experimental bpf-gcc compiler support
  meson.build
  meson_options.txt
  src/core/bpf/meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson, bpf

#23683 Default to default-status-unit-format=name in developer mode
  meson.build
  meson_options.txt
Labels: good-to-merge/waiting-for-ci 👍, meson

#23692 efi-string: Remove one more |= for bool
  src/boot/efi/efi-string.c
Labels: boot, good-to-merge/waiting-for-ci 👍

#23690 test: several tweaks for test-sd-device
  src/libsystemd/sd-device/test-sd-device.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#23584 test: import logind test from debian/ubuntu test suite
  src/shared/devnode-acl.c
  test/TEST-35-LOGIN/Makefile
  test/TEST-35-LOGIN/test.sh
  test/test-functions
  test/units/testsuite-35.service
  test/units/testsuite-35.sh
Labels: login, tests, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, needs-sanitizer-coverage

#23687 dns-domain: trivial cleanups
  src/shared/dns-domain.c
  src/shared/dns-domain.h
Labels: util-lib

#23700 shared/condition: accept size suffixes for ConditionMemory
  src/shared/condition.c
  src/test/test-condition.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#23695 boot: use efi_memcpy inplace of memcpy
  src/boot/efi/util.h
Labels: boot, good-to-merge/waiting-for-ci 👍

#23701 boot: Use memcpy/memset provided by firmware
  src/boot/efi/efi-string.c
Labels: boot

#23704 systemctl: add `edit` verb to arguments' help text
  src/systemctl/systemctl.c
Labels: systemctl

#23708 Update kernel headers
  src/basic/linux/btrfs.h
  src/basic/linux/btrfs_tree.h
  src/basic/linux/can/netlink.h
  src/basic/linux/if_addr.h
  src/basic/linux/if_bridge.h
  src/basic/linux/if_ether.h
  src/basic/linux/if_link.h
  src/basic/linux/if_tunnel.h
  src/basic/linux/netlink.h
  src/basic/linux/nl80211.h
  src/basic/linux/rtnetlink.h
  src/shared/linux/bpf.h
  src/shared/linux/dm-ioctl.h
  src/shared/linux/ethtool.h
Labels: util-lib

#23718 Translations update from Fedora Weblate
  po/et.po
Labels: l10n 🌍

#23716 meson: add build targets for libudev, libsystemd and pkg-config
  meson.build
  src/libsystemd/meson.build
  src/libudev/meson.build
Labels: meson

#23714 A couple of assorted tweaks for the systemd-networkd test suite
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#23707 dns-domain: fix buffer-overflow
  src/shared/dns-domain.c
  src/shared/dns-domain.h
  src/test/test-dns-domain.c
Labels: util-lib

#23725 network: l2tp: initialize a to NULL
  src/network/netdev/l2tp-tunnel.c
Labels: network

#23736 Translations update from Fedora Weblate
  po/et.po
Labels: l10n 🌍

#23734 sysctl: increase log severity on failed write
  src/sysctl/sysctl.c
Labels: sysctl

#23735 hwdb: analyzers: remove generic "STM Device in DFU Mode"
  hwdb.d/70-analyzers.hwdb
Labels: hwdb

#23682 pstore: Run after modules are loaded
  units/systemd-pstore.service.in
Labels: units

#23743 man: Add some punctuation; remove double spaces.
  man/systemd.exec.xml
Labels: documentation

#23709 test: import hostname and locale tests from debian/ubuntu test suite
  src/basic/locale-util.c
  src/basic/locale-util.h
  src/core/locale-setup.c
  src/core/locale-setup.h
  src/core/meson.build
  src/locale/localectl.c
  src/locale/localed-util.c
  src/locale/localed-util.h
  src/locale/localed.c
  src/locale/meson.build
  src/locale/test-localed-util.c
  src/shared/locale-setup.c
  src/shared/locale-setup.h
  src/shared/meson.build
  test/TEST-71-HOSTNAME/Makefile
  test/TEST-71-HOSTNAME/test.sh
  test/TEST-73-LOCALE/Makefile
  test/TEST-73-LOCALE/test.sh
  test/test-functions
  test/units/assert.sh
  test/units/testsuite-17.06.sh
  test/units/testsuite-35.sh
  test/units/testsuite-45.sh
  test/units/testsuite-46.sh
  test/units/testsuite-60.sh
  test/units/testsuite-71.service
  test/units/testsuite-71.sh
  test/units/testsuite-73.service
  test/units/testsuite-73.sh
Labels: pid1, tests, locale, good-to-merge/waiting-for-ci 👍, needs-sanitizer-coverage

#23733 homework: initialize we_detached
  src/home/homework-luks.c
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal, good-to-merge/waiting-for-ci 👍, coverity, homed

#23754 nspawn: fix UID map string
  src/nspawn/nspawn.c
Labels: nspawn, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, needs-stable-backport

#23741 test: wrap certain uninstrumented binaries to make them work w/ ASan
  test/test-functions
  test/units/testsuite-70.sh
Labels: tests, sanitizer

#23766 test: send stdout/stderr of testsuite units to journal & console
  test/test-functions
  test/units/testsuite-22.service
  test/units/testsuite-35.service
  test/units/testsuite-45.service
  test/units/testsuite-64.service
  test/units/testsuite-71.service
  test/units/testsuite-73.service
Labels: tests, good-to-merge/waiting-for-ci 👍

#23765 meson: Reorder cflags for sd-boot
  src/boot/efi/meson.build
Labels: boot, good-to-merge/waiting-for-ci 👍, meson

#23756 analyze: fix seccomp filter handling in security command
  src/analyze/analyze-security.c
  src/basic/hashmap.c
  src/basic/set.h
  src/core/dbus-execute.c
  src/shared/seccomp-util.c
  src/test/test-set.c
  test/units/testsuite-65.sh
Labels: pid1, analyze, good-to-merge/waiting-for-ci 👍, seccomp, needs-stable-backport

#23779 cryptenroll: fix typo in manpage
  man/systemd-cryptenroll.xml
Labels: documentation

#23778 add program name to log line
  src/udev/udevd.c
Labels: udev

#23775 networkctl: fix output of "status": replace "Queue Length" by "Number of Queues"
  src/network/networkctl.c
Labels: network, good-to-merge/waiting-for-ci 👍

#23771 A couple of test-output-related tweaks
  test/TEST-52-HONORFIRSTSHUTDOWN/test.sh
  test/test-functions
  test/units/testsuite-02.sh
  test/units/testsuite-20.sh
  test/units/testsuite-23.sh
  test/units/testsuite-27.sh
  test/units/testsuite-30.sh
  test/units/testsuite-32.sh
  test/units/testsuite-34.sh
  test/units/testsuite-38.sh
  test/units/testsuite-39.sh
  test/units/testsuite-40.sh
  test/units/testsuite-41.sh
  test/units/testsuite-46.sh
  test/units/testsuite-47.sh
  test/units/testsuite-52.sh
  test/units/testsuite-55.sh
  test/units/testsuite-59.sh
  test/units/testsuite-62.sh
  test/units/testsuite-66.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#23780 locale: drop unnecessary allocation
  src/locale/localed.c
Labels: locale

#22547 test: fuzz our dbus interfaces with dfuzzer
  test/TEST-01-BASIC/test.sh
  test/TEST-21-DFUZZER/Makefile
  test/TEST-21-DFUZZER/test.sh
  test/test-functions
  test/units/testsuite-21.service
  test/units/testsuite-21.sh
Labels: tests, fuzzing

#23786 test: use saved process PID instead of %%
  test/units/testsuite-04.sh
Labels: journal, tests, good-to-merge/waiting-for-ci 👍

#23787 pkgconfig,rpm: expose vars for user-tmpfiles.d location
  meson.build
  src/core/systemd.pc.in
  src/rpm/macros.systemd.in
Labels: good-to-merge/waiting-for-ci 👍

#23790 Add sys/file.h for LOCK_
  src/core/namespace.c
  src/dissect/dissect.c
  src/shared/dissect-image.c
  src/sysext/sysext.c
  src/test/test-loop-block.c
Labels: tree-wide, good-to-merge/waiting-for-ci 👍

#23753 units: remove the restart limit on the modprobe@.service
  units/modprobe@.service
Labels: units

#23791 Several dfuzzer-related follow-ups
  test/TEST-21-DFUZZER/test.sh
  test/TEST-36-NUMAPOLICY/test.sh
  test/test-functions
  test/units/testsuite-21.sh
Labels: tests, fuzzing

#23798 mkosi: Update CI to mkosi 13
  .github/workflows/mkosi.yml
Labels: tests, mkosi

#23793 core: Fix memory leaks
  src/core/main.c
Labels: good-to-merge/waiting-for-ci 👍

#22753 resolved: make maximum transaction attempts 1 for non-probe MDNS requests
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-dns-transaction.h
Labels: resolve, please-review

#23806 Pager for udevadm info
  man/udevadm.xml
  src/udev/udevadm-info.c
Labels: udev, ci-failure-appears-unrelated

#23774 network, core: revert NFTSet and NetLabel features
  man/org.freedesktop.systemd1.xml
  man/systemd.exec.xml
  man/systemd.network.xml
  man/systemd.resource-control.xml
  src/basic/in-addr-util.c
  src/basic/in-addr-util.h
  src/basic/missing_network.h
  src/basic/parse-util.c
  src/basic/parse-util.h
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-cgroup.c
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/service.c
  src/libsystemd/sd-netlink/netlink-types-genl.c
  src/libsystemd/sd-netlink/test-netlink.c
  src/network/meson.build
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-netlabel.c
  src/network/networkd-netlabel.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/shared/bus-unit-util.c
  src/shared/firewall-util-nft.c
  src/shared/firewall-util.h
  src/test/meson.build
  src/test/test-in-addr-util.c
  src/test/test-nft-set.c
  test/fuzz/fuzz-network-parser/directives
  test/fuzz/fuzz-unit-file/directives.mount
  test/fuzz/fuzz-unit-file/directives.scope
  test/fuzz/fuzz-unit-file/directives.service
  test/fuzz/fuzz-unit-file/directives.slice
  test/fuzz/fuzz-unit-file/directives.socket
  test/fuzz/fuzz-unit-file/directives.swap
Labels: network, pid1, sd-netlink, good-to-merge/waiting-for-ci 👍

#23784 bootspec: Add PE file name to log messages
  src/shared/bootspec.c
Labels: sd-boot, good-to-merge/waiting-for-ci 👍

#23749 logind-session-dbus: allow to set display name via dbus
  man/org.freedesktop.login1.xml
  src/login/logind-session-dbus.c
  src/login/logind-session.c
  src/login/logind-session.h
  src/login/org.freedesktop.login1.conf
Labels: login, ci-failure-appears-unrelated

#23802 core: cleanups for watchdog
  src/core/main.c
Labels: pid1

#23809 logind: simplify code
  src/login/logind-session.c
Labels: login, ci-failure-appears-unrelated

#23812 boot: Fix calls to ResetSystem
  src/boot/efi/boot.c
Labels: sd-boot, quick-review 🏃‍♂️

#23819 ci: set top-level permissions as well
  .github/workflows/issue_labeler.yml
Labels: ci

#23818 udev: allow to execute longer command line
  src/udev/udev-rules.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#23822 sha256: Use stdbool and uintptr_t
  src/fundamental/sha256.c
  src/fundamental/sha256.h
Labels: sd-boot, good-to-merge/waiting-for-ci 👍

#23834 A couple of tweaks to allow running TEST-21-DFUZZER in a container
  test/TEST-21-DFUZZER/test.sh
  test/units/testsuite-21.sh
Labels: tests, fuzzing

#23830 hwdb: Add Lenovo ThinkPad C13 Yoga
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#23833 emacs: ignore .dir-locals-2.el (personal customization) versioning
  .gitignore
Labels: good-to-merge/waiting-for-ci 👍

#23837 meson: show default nspawn locale in summary
  meson.build
Labels: meson, quick-review 🏃‍♂️

#23839 test-sd-hwdb: adjust the test to actually do anything
  src/test/test-sd-hwdb.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#23842 boot: Use standard types
  src/boot/efi/bcd.c
  src/boot/efi/bcd.h
  src/boot/efi/boot.c
  src/boot/efi/console.c
  src/boot/efi/console.h
  src/boot/efi/cpio.c
  src/boot/efi/cpio.h
  src/boot/efi/devicetree.c
  src/boot/efi/devicetree.h
  src/boot/efi/disk.c
  src/boot/efi/disk.h
  src/boot/efi/drivers.c
  src/boot/efi/graphics.c
  src/boot/efi/graphics.h
  src/boot/efi/initrd.c
  src/boot/efi/linux.c
  src/boot/efi/linux.h
  src/boot/efi/linux_x86.c
  src/boot/efi/measure.c
  src/boot/efi/measure.h
  src/boot/efi/pe.c
  src/boot/efi/pe.h
  src/boot/efi/random-seed.c
  src/boot/efi/random-seed.h
  src/boot/efi/secure-boot.c
  src/boot/efi/secure-boot.h
  src/boot/efi/shim.c
  src/boot/efi/shim.h
  src/boot/efi/splash.c
  src/boot/efi/splash.h
  src/boot/efi/stub.c
  src/boot/efi/ticks.c
  src/boot/efi/ticks.h
  src/boot/efi/util.c
  src/boot/efi/util.h
  src/boot/efi/xbootldr.c
  src/fundamental/bootspec-fundamental.c
  src/fundamental/bootspec-fundamental.h
  src/fundamental/efivars-fundamental.c
  src/fundamental/efivars-fundamental.h
  src/fundamental/macro-fundamental.h
  src/fundamental/meson.build
  src/fundamental/string-util-fundamental.c
  src/fundamental/string-util-fundamental.h
  src/fundamental/types-fundamental.h
Labels: sd-boot, good-to-merge/waiting-for-ci 👍

#23816 network: grouping elements in network_free()
  src/network/networkd-network.c
Labels: network

#23181 Add seccomp support for PARISC (HPPA)
  docs/DISCOVERABLE_PARTITIONS.md
  src/basic/meson.build
  src/basic/missing_syscall_def.h
  src/basic/missing_syscalls.py
  src/basic/syscalls-loongarch64.txt
  src/basic/syscalls-parisc.txt
  src/basic/syscalls-riscv32.txt
  src/basic/syscalls-riscv64.txt
  src/shared/gpt.c
  src/shared/gpt.h
  src/shared/seccomp-util.c
  src/test/test-seccomp.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, seccomp

#23827 sd-event: process buffered inotify data
  src/libsystemd/sd-event/sd-event.c
  src/libsystemd/sd-event/test-event.c
Labels: sd-event, needs-stable-backport
