Repository systemd/systemd, pull requests merged in 2022-11, with the labels that each got.

#25206 hwdb: Add Lenovo G580
  hwdb.d/60-evdev.hwdb
  hwdb.d/parse_hwdb.py
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#25210 resolved: fix typo in feature level table
  src/resolve/resolved-dns-server.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#25213 coverage: Mark _coverage__exit as noreturn
  src/basic/coverage.h
Labels: good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#25211 test-network: add a testcase that all bound interfaces removed
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#25208 network: forcibly reconfigure all interfaces after sleep
  src/network/networkd-link.c
  src/network/networkd-manager.c
Labels: network, needs-stable-backport

#25157 condition: Check that subsystem is enabled in ConditionSecurity=tpm2
  man/systemd-creds.xml
  src/creds/creds.c
  src/shared/condition.c
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
Labels: pid1, good-to-merge/waiting-for-ci 👍, tpm2, creds

#25150 namespace: Add hidepid support check
  meson.build
  src/basic/missing_syscall.h
  src/core/namespace.c
Labels: pid1

#25192 wait-online: support alternative interface names
  src/network/networkd-link.c
  src/network/wait-online/link.c
  src/network/wait-online/link.h
  src/network/wait-online/manager.c
  test/test-network/conf/25-default.link
  test/test-network/systemd-networkd-tests.py
Labels: network, new-feature, good-to-merge/waiting-for-ci 👍

#25160 update credentials when reloading a service
  src/core/service.c
Labels: pid1, creds

#25231 docs: DPS and BLS have moved to uapi-group.org
  docs/BOOT_LOADER_SPECIFICATION.md
  docs/DISCOVERABLE_PARTITIONS.md
Labels: documentation, good-to-merge/waiting-for-ci 👍

#25230 test-network: wait for bound interface to be processed by udevd
  test/test-network/systemd-networkd-tests.py
Labels: tests, good-to-merge/waiting-for-ci 👍

#25229 test: extend the sanity coverage a bit
  test/TEST-26-SYSTEMCTL/Makefile
  test/TEST-26-SYSTEMCTL/test.sh
  test/units/testsuite-04.sh
  test/units/testsuite-26.service
  test/units/testsuite-26.sh
  test/units/testsuite-35.sh
Labels: journal, login, systemctl, tests, good-to-merge/waiting-for-ci 👍

#25232 core: fix memleak in GetUnitFileLinks method
  src/core/dbus-manager.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#25234 man: use the correct 'Markers' property name for marking units
  man/org.freedesktop.systemd1.xml
  man/systemctl.xml
Labels: documentation

#25236 test: further extend systemctl's sanity coverage
  test/units/testsuite-26.sh
Labels: systemctl, tests, good-to-merge/waiting-for-ci 👍

#25226 shutdown: Add Xen kexec support
  .github/workflows/build_test.sh
  meson.build
  meson_options.txt
  mkosi.default.d/debian/10-mkosi.debian
  mkosi.default.d/fedora/10-mkosi.fedora
  mkosi.default.d/opensuse/10-mkosi.opensuse
  mkosi.default.d/ubuntu/10-mkosi.ubuntu
  src/basic/util.c
  src/basic/util.h
  src/initctl/initctl.c
  src/shared/meson.build
  src/shared/reboot-util.c
  src/shared/reboot-util.h
  src/systemctl/systemctl-compat-shutdown.c
  src/systemctl/systemctl.c
Labels: systemctl, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, shutdown

#25239 test: add a sanity coverage for systemd-analyze verbs
  test/units/testsuite-65.sh
Labels: analyze, tests, good-to-merge/waiting-for-ci 👍

#25253 firstboot: fix segfault when --locale-messages= is passed without --locale=
  src/firstboot/firstboot.c
Labels: firstboot, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#25250 test: provide coverage for auxiliary utilities
  test/TEST-74-AUX-UTILS/Makefile
  test/TEST-74-AUX-UTILS/test.sh
  test/units/testsuite-65.sh
  test/units/testsuite-74.cgls.sh
  test/units/testsuite-74.cgtop.sh
  test/units/testsuite-74.delta.sh
  test/units/testsuite-74.firstboot.sh
  test/units/testsuite-74.service
  test/units/testsuite-74.sh
Labels: analyze, delta, cgtop, tests, cgls, firstboot, good-to-merge/waiting-for-ci 👍

#25246 udev: fix by-id symlinks
  rules.d/60-serial.rules
Labels: udev, needs-stable-backport

#25244 reboot-util: several cleanups
  src/shared/meson.build
  src/shared/reboot-util.c
Labels: util-lib, quick-review 🏃‍♂️

#25255 resolve: enable per-link mDNS setting by default
  src/resolve/resolved-link-bus.c
  src/resolve/resolved-link.c
Labels: resolve

#25256 kernel-install/90-loaderentry: do not add multiple systemd.machine_id options
  src/kernel-install/90-loaderentry.install
Labels: kernel-install, needs-stable-backport

#25257 Fix test execute on opensuse
  test/test-execute/exec-dynamicuser-fixeduser-one-supplementarygroup.service
  test/test-execute/exec-dynamicuser-fixeduser.service
  test/test-execute/exec-dynamicuser-supplementarygroups.service
  test/test-execute/exec-supplementarygroups-multiple-groups-default-group-user.service
  test/test-execute/exec-supplementarygroups-multiple-groups-withgid.service
  test/test-execute/exec-supplementarygroups-multiple-groups-withuid.service
  test/test-execute/exec-supplementarygroups-single-group-user.service
  test/test-execute/exec-supplementarygroups-single-group.service
  test/test-execute/exec-supplementarygroups.service
Labels: tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#25260 test: fstab-generator: adjust PATH for fsck
  test/test-fstab-generator.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#24977 ci(dev-freeze): Use GitHub Action for PR comments
  .github/development-freeze.yml
  .github/pull_request_template.md.disabled
  .github/workflows/development_freeze.yml
Labels: ci, github_actions

#25262 dissect: get rid of basename() use
  src/dissect/dissect.c
Labels: good-to-merge/waiting-for-ci 👍, dissect

#25263 core: update audit messages
  src/core/selinux-access.c
Labels: selinux, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#25267 loop-util: open lock fd read-only
  src/shared/loop-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, dissect

#25107 sysusers: cross-check user and group names too
  src/sysusers/sysusers.c
  test/test-sysusers/test-15.expected-group
  test/test-sysusers/test-15.expected-passwd
  test/test-sysusers/test-15.initial-passwd
  test/test-sysusers/test-15.input
Labels: sysusers, good-to-merge/waiting-for-ci 👍

#25266 dissect: fix fsck invocation
  src/basic/fd-util.c
  src/basic/fd-util.h
  src/basic/process-util.c
  src/basic/process-util.h
  src/shared/dissect-image.c
Labels: dissect, good-to-merge/with-minor-suggestions, needs-stable-backport

#25278 test: compile test-utmp.c only if UTMP is enabled
  src/test/meson.build
Labels: tests, good-to-merge/waiting-for-ci 👍, meson

#25282 Trivial cleanups
  man/systemd.network.xml
  src/libsystemd/sd-event/sd-event.c
  src/udev/udevadm-settle.c
Labels: udev

#25289 semaphore: remove the Semaphore repositories recursively
  .semaphore/semaphore-runner.sh
Labels: good-to-merge/waiting-for-ci 👍, ci

#25279 test: cover some interactive/error paths in firstboot
  test/test-functions
  test/units/testsuite-74.firstboot.sh
Labels: tests, firstboot, good-to-merge/waiting-for-ci 👍

#25285 kernel-install/90-loaderentry: do not override an existing systemd.machine_id
  src/kernel-install/90-loaderentry.install
Labels: good-to-merge/waiting-for-ci 👍, kernel-install

#25286 test: replace tmpfs with vfat when testing --owner=
  src/basic/mountpoint-util.c
  test/units/testsuite-74.mount.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, mount

#25290 kernel-install: skip 50-depmod if depmod is not available
  src/kernel-install/50-depmod.install
Labels: good-to-merge/waiting-for-ci 👍, kernel-install

#25288 Fix key toggle and programmable button for Positivo N14ZP
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#25292 hwdb: Add accel orientation quirk for the Acer Switch V 10 SW5-017 2-in-1
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#25295 man: add note that network-generator is not a generator
  man/systemd-network-generator.service.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#25301 dissect: grey out trailing slash in --list output
  src/dissect/dissect.c
Labels: good-to-merge/waiting-for-ci 👍, dissect

#25297 test: fix a race in the systemd-mount test
  test/test-functions
  test/units/testsuite-74.mount.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, mount

#25304 networkd-ipv4acd.c: Use net/if.h for getting IFF_LOOPBACK definition
  src/network/networkd-ipv4acd.c
Labels: network, good-to-merge/waiting-for-ci 👍

#25171 Fix chroot detection
  src/basic/virt.c
Labels: udev, detect-virt, downstream/rhel, downstream/fedora

#25300 mkosi: Build and install kernel selftests
  mkosi.build
  mkosi.conf.d/10-systemd.conf
  mkosi.conf.d/arch/10-mkosi.arch
  mkosi.conf.d/centos_epel/10-mkosi.centos_epel
  mkosi.conf.d/debian/10-mkosi.debian
  mkosi.conf.d/fedora/10-mkosi.fedora
  mkosi.conf.d/opensuse/10-mkosi.opensuse
  mkosi.conf.d/ubuntu/10-mkosi.ubuntu
Labels: mkosi

#25314 dissect: minor tweaks to "systemd-dissect --list"
  src/dissect/dissect.c
Labels: good-to-merge/waiting-for-ci 👍, dissect

#25302 dissect: add new --with command for excuting commands with a DDI mounted
  man/systemd-dissect.xml
  src/dissect/dissect.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  test/TEST-50-DISSECT/test.sh
  test/units/testsuite-50.sh
Labels: good-to-merge/waiting-for-ci 👍, dissect

#25321 acp-fpdt: minor tweaks/fixes
  src/shared/acpi-fpdt.c
  src/shared/acpi-fpdt.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#25247 Random seed fixes
  src/random-seed/random-seed.c
Labels: random-seed, good-to-merge/waiting-for-ci 👍

#25317 meson: add version.h dependency to more components
  meson.build
Labels: good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, dissect, meson

#25280 Initrd with overlayfs
  docs/ENVIRONMENT.md
  src/basic/initrd-util.c
  src/shared/libmount-util.c
  src/shared/libmount-util.h
  src/shared/meson.build
  src/shared/mount-util.c
  src/shared/switch-root.c
  src/test/test-fd-util.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, downstream/fedora

#25315 dissect: add new --mtree switch to generate BSD comaptible mtree manifests of DDIs
  man/systemd-dissect.xml
  src/basic/recurse-dir.c
  src/basic/recurse-dir.h
  src/dissect/dissect.c
  test/units/testsuite-50.sh
Labels: new-feature, good-to-merge/waiting-for-ci 👍, dissect

#24813 Add more openat() style variants for existing stuff
  src/basic/chase-symlinks.c
  src/basic/chase-symlinks.h
  src/basic/fileio.c
  src/basic/fileio.h
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/basic/mkdir.c
  src/basic/mkdir.h
  src/basic/path-util.c
  src/basic/path-util.h
  src/basic/tmpfile-util.c
  src/basic/tmpfile-util.h
  src/shared/mkdir-label.c
  src/shared/mkdir-label.h
  src/shared/rm-rf.h
  src/test/test-copy.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#25326 test-network: skip test_match if alternative name is not supported by kernel
  test/test-network/systemd-networkd-tests.py
Labels: tests, good-to-merge/waiting-for-ci 👍

#25323 build: Use -fstrict-flex-arrays=1 if supported
  meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#25330 meson: install systemd-ac-power under /usr/bin
  meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#25261 systemd-dissect: show image UUID in output
  docs/ENVIRONMENT.md
  src/basic/locale-util.c
  src/dissect/dissect.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/shared/format-table.c
  src/shared/json.c
  src/shared/json.h
  test/units/testsuite-58.sh
Labels: documentation, good-to-merge/waiting-for-ci 👍, dissect

#25325 resolve: provide effective mDNS or LLMNR settings
  src/resolve/resolvectl.c
  src/resolve/resolved-link-bus.c
  src/resolve/resolved-link.c
  src/resolve/resolved-link.h
  src/shared/resolve-util.h
  test/units/testsuite-75.sh
Labels: resolve, good-to-merge/waiting-for-ci 👍

#25328 format-table: add concept of "vertical" table
  src/resolve/resolvectl.c
  src/shared/format-table.c
  src/shared/format-table.h
  src/test/test-format-table.c
  src/timedate/timedatectl.c
Labels: resolve, util-lib, timedate, good-to-merge/waiting-for-ci 👍

#24803 repart: Don't descend into directories assigned to other partitions
  src/basic/stat-util.c
  src/basic/stat-util.h
  src/dissect/dissect.c
  src/home/homework.c
  src/import/pull-tar.c
  src/machine/machine-dbus.c
  src/partition/repart.c
  src/shared/bootspec.c
  src/shared/copy.c
  src/shared/copy.h
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/shared/gpt.c
  src/shared/gpt.h
  src/test/test-copy.c
  src/tmpfiles/tmpfiles.c
  test/units/testsuite-58.sh
Labels: good-to-merge/waiting-for-ci 👍, repart

#25335 resolve: Use only C99 flex arrays
  src/resolve/resolved-dns-question.h
Labels: resolve, good-to-merge/waiting-for-ci 👍, squash-on-merge

#25341 sd-bus: Use goto finish instead of return in bus_add_match_full
  src/libsystemd/sd-bus/sd-bus.c
Labels: sd-bus, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#25342 strv: Make sure strv_make_nulstr() always returns a valid nulstr
  src/basic/strv.c
Labels: good-to-merge/waiting-for-ci 👍, needs-stable-backport

#25345 nulstr-util: Declare NULSTR_FOREACH() iterator inline
  src/analyze/analyze-cat-config.c
  src/analyze/analyze-filesystems.c
  src/analyze/analyze-security.c
  src/analyze/analyze-syscall-filter.c
  src/basic/filesystems.c
  src/basic/nulstr-util.c
  src/basic/nulstr-util.h
  src/basic/path-lookup.c
  src/basic/strv.c
  src/core/bpf-devices.c
  src/core/bpf-lsm.c
  src/core/load-fragment.c
  src/core/namespace.c
  src/cryptsetup/cryptsetup.c
  src/delta/delta.c
  src/home/homework-fscrypt.c
  src/journal/journalctl.c
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-device/test-sd-device.c
  src/libsystemd/sd-hwdb/sd-hwdb.c
  src/libsystemd/sd-journal/sd-journal.c
  src/locale/localed-util.c
  src/machine/machinectl.c
  src/nspawn/nspawn.c
  src/resolve/resolved-dns-trust-anchor.c
  src/shared/base-filesystem.c
  src/shared/cgroup-show.c
  src/shared/conf-parser.c
  src/shared/copy.c
  src/shared/dev-setup.c
  src/shared/discover-image.c
  src/shared/dissect-image.c
  src/shared/fstab-util.c
  src/shared/hwdb-util.c
  src/shared/import-util.c
  src/shared/kbd-util.c
  src/shared/seccomp-util.c
  src/test/test-compress-benchmark.c
  src/test/test-condition.c
  src/test/test-hashmap-plain.c
  src/test/test-sd-hwdb.c
  src/test/test-seccomp.c
  src/test/test-strv.c
  src/udev/udev-rules.c
Labels: util-lib, tree-wide, good-to-merge/waiting-for-ci 👍

#25353 repart: fix build
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, priority, repart

#25351 Fix gcc 13 -Wenum-int-mismatch warnings
  src/journal-remote/microhttpd-util.h
  src/resolve/resolved-dns-server.h
  src/shared/install.h
Labels: resolve, journal-remote, good-to-merge/waiting-for-ci 👍

#25358 man/systemd-dissect.xml: fix trivial error
  man/systemd-dissect.xml
Labels: documentation

#25268 libfido2-util: Perform pre-flight check for credentials in token
  src/shared/libfido2-util.c
Labels: good-to-merge/waiting-for-ci 👍, fido2

#25334 ac-power: check battery existence and status
  src/shared/udev-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#25349 format-table: add TABLE_HEADER cell table
  src/shared/format-table.c
  src/shared/format-table.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#25355 chase_symlinks(): add CHASE_PROHIBIT_SYMLINKS
  src/basic/chase-symlinks.c
  src/basic/chase-symlinks.h
  src/boot/bootctl.c
  src/shared/bootspec.c
  src/test/test-fs-util.c
Labels: util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#25360 nulstr fixes
  src/basic/conf-files.c
  src/basic/fileio.c
  src/basic/nulstr-util.c
  src/basic/nulstr-util.h
  src/basic/process-util.c
  src/basic/strv.c
  src/basic/strv.h
  src/libsystemd/sd-bus/bus-creds.c
  src/libsystemd/sd-path/sd-path.c
  src/shared/ask-password-api.c
  src/shared/condition.c
  src/systemctl/fuzz-systemctl-parse-argv.c
  src/test/meson.build
  src/test/test-nulstr-util.c
  src/test/test-strbuf.c
  src/test/test-strv.c
  src/tmpfiles/tmpfiles.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#25339 Port more tools to vertical table
  src/analyze/analyze-calendar.c
  src/analyze/analyze-inspect-elf.c
  src/analyze/analyze-timespan.c
  src/analyze/analyze-timestamp.c
  src/hostname/hostnamectl.c
  src/locale/localectl.c
Labels: analyze, locale, hostname, good-to-merge/waiting-for-ci 👍

#25338 Followups for #24813
  src/basic/chase-symlinks.c
  src/basic/fs-util.c
  src/basic/path-util.c
  src/basic/path-util.h
  src/basic/tmpfile-util.c
  src/shared/rm-rf.h
  src/test/test-copy.c
Labels: util-lib, ci-failure-appears-unrelated

#25370 dissect-image: do not try to close invalid fd
  src/shared/dissect-image.c
  src/shared/dissect-image.h
Labels: dissect, needs-stable-backport

#25373 boot: Small fixes
  src/boot/efi/boot.c
  src/boot/efi/drivers.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#25368 bootctl: ignore invalid boot entries
  src/boot/bootctl.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#25357 module-util: use the blacklist from module_blacklist= in cmdline
  src/shared/module-util.c
Labels: modules-load, good-to-merge/waiting-for-ci 👍

#25329 tmpfiles: log at info level when some allowed failures occur
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles, needs-stable-backport

#25372 systemctl: do not show unit properties with --all
  src/systemctl/systemctl-show.c
Labels: systemctl, needs-stable-backport

#25382 measure: fix section names in 'objcopy' example in systemd-measure man
  man/systemd-measure.xml
Labels: good-to-merge/waiting-for-ci 👍

#25361 README: note a couple more kconfigs
  README
  mkosi.build
Labels: documentation, mkosi

#25327 Skip mkosi runs on docs-only changes and some small cleanups
  .github/workflows/mkosi.yml
  mkosi.build
  mkosi.postinst
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#24908 repart: Add Minimize setting
  man/repart.d.xml
  src/partition/repart.c
  src/shared/resize-fs.h
  test/TEST-58-REPART/test.sh
  test/test-functions
  test/units/testsuite-58.sh
Labels: good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, repart

#25001 repart: Add --include/--exclude-partitions
  man/systemd-repart.xml
  src/id128/id128.c
  src/partition/repart.c
  src/shared/dissect-image.c
  src/shared/gpt.c
  src/shared/gpt.h
  src/sysupdate/sysupdate-partition.c
  src/sysupdate/sysupdate-resource.c
  src/sysupdate/sysupdate-resource.h
  src/sysupdate/sysupdate-transfer.c
  src/test/test-gpt.c
  test/units/testsuite-58.sh
Labels: good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, repart

#22426 MemoryZSwapMax directive to configure new memory.zswap.max cgroup file
  man/org.freedesktop.systemd1.xml
  man/systemd.resource-control.xml
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-cgroup.c
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/shared/bus-print-properties.c
  src/shared/bus-unit-util.c
  src/systemctl/systemctl-show.c
  test/fuzz/fuzz-unit-file/directives-all.service
Labels: cgroups, pid1, systemctl, good-to-merge/waiting-for-ci 👍

#25396 Update hostnamectl.xml
  man/hostnamectl.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#25388 Fix reading /etc/machine-id in kernel-install
  src/kernel-install/kernel-install.in
Labels: good-to-merge/waiting-for-ci 👍, kernel-install, squash-on-merge

#25383 Revert "journal: Make sd_journal_previous/next() return 0 at HEAD/TAIL"
  src/journal/test-journal-interleaving.c
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal, needs-stable-backport

#24944 repart: Add support for running without root privileges
  meson.build
  mkosi.conf.d/10-systemd.conf
  mkosi.conf.d/arch/10-mkosi.arch
  mkosi.conf.d/debian/10-mkosi.debian
  mkosi.conf.d/fedora/10-mkosi.fedora
  mkosi.conf.d/opensuse/10-mkosi.opensuse
  mkosi.conf.d/ubuntu/10-mkosi.ubuntu
  src/partition/repart.c
  src/shared/btrfs-util.c
  src/shared/cryptsetup-util.c
  src/shared/cryptsetup-util.h
  src/shared/mkfs-util.c
  src/shared/mkfs-util.h
  test/TEST-58-REPART/test.sh
  test/test-functions
  test/units/testsuite-58.sh
Labels: good-to-merge/waiting-for-ci 👍, repart

#25346 format-table: more refactoring
  src/analyze/analyze-inspect-elf.c
  src/locale/localectl.c
Labels: analyze, locale, good-to-merge/waiting-for-ci 👍

#24555 bootctl: Small improvements
  src/shared/bootspec.c
Labels: sd-boot/sd-stub/bootctl

#24855 better qemu support (handle direct kernel boot etc).
  man/systemd-boot.xml
  src/boot/efi/boot.c
  src/boot/efi/meson.build
  src/boot/efi/vmm.c
  src/boot/efi/vmm.h
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#25400 mkfs-util: Add support for rootless xfs population
  src/shared/mkfs-util.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#25096 journal: Ratelimit more journald log messages
  src/basic/log.h
  src/journal/journald-audit.c
  src/journal/journald-console.c
  src/journal/journald-context.c
  src/journal/journald-kmsg.c
  src/journal/journald-native.c
  src/journal/journald-server.c
  src/journal/journald-server.h
  src/journal/journald-stream.c
  src/journal/journald-syslog.c
  src/journal/journald-wall.c
  src/libsystemd/sd-journal/journal-file.c
Labels: journal, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#25399 crash-handler: Make sure we propagate the original siginfo
  meson.build
  src/basic/missing_syscall.h
  src/basic/sigbus.c
  src/core/crash-handler.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#25406 shared/tpm2-util: Fix "Error: Esys invalid ESAPI handle (40000001)" warning
  meson.build
  src/shared/tpm2-util.c
Labels: good-to-merge/waiting-for-ci 👍, tpm2

#25392 pcrphase: add $SYSTEMD_PCRPHASE_STUB_VERIFY= env var for overriding stub check
  docs/ENVIRONMENT.md
  src/boot/pcrphase.c
Labels: documentation, tpm2

#25407 Handle MACHINE_ID=uninitialized
  src/kernel-install/kernel-install.in
Labels: good-to-merge/waiting-for-ci 👍, kernel-install, needs-stable-backport

#25421 log: Remove log_ratelimit_debug() macros
  src/basic/log.h
  src/journal/journald-audit.c
  src/journal/journald-console.c
  src/journal/journald-kmsg.c
  src/journal/journald-native.c
  src/journal/journald-server.c
  src/journal/journald-syslog.c
  src/journal/journald-wall.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#25404 Fix Compaq N14KP6 key toggle touchpad
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, squash-on-merge

#25413 signal-util: add common implementation for propagating a signal
  src/basic/sigbus.c
  src/basic/signal-util.c
  src/basic/signal-util.h
  src/core/crash-handler.c
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍

#25333 find-esp: downgrade and ignore error on retrieving PART_ENTRY_SCHEME
  src/shared/find-esp.c
Labels: sd-boot/sd-stub/bootctl, needs-stable-backport

#25426 Update NEWS and TODO with sd-boot random seed developments
  NEWS
  TODO
Labels: documentation

#25422 kmod-setup: Make sure the tpm module is available early
  src/core/kmod-setup.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#25410 Followups for #25400
  src/basic/tmpfile-util.c
  src/basic/tmpfile-util.h
  src/home/homework-cifs.c
  src/partition/repart.c
  src/shared/mkfs-util.c
  src/shared/tmpfile-util-label.c
  src/test/test-uid-range.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#25242 sysupdate: Support volatile-root for finding the root partition
  src/sysupdate/sysupdate-resource.c
Labels: sysupdate

#25439 bootctl: rework how we handle referenced but absent EFI boot entries
  src/boot/bootctl.c
Labels: sd-boot/sd-stub/bootctl, quick-review 🏃‍♂️

#25389 Update test/ for openSUSE
  meson.build
  test/README.testsuite
  test/test-functions
Labels: tests, ci-fails/needs-rework 🔥, needs-stable-backport

#25442 dbus-manager: add comments about booleans in function calls
  src/core/dbus-manager.c
Labels: pid1

#25423 network: tc-cake: support controlling RTT and ACK filter
  man/systemd.network.xml
  src/network/networkd-network-gperf.gperf
  src/network/tc/cake.c
  src/network/tc/cake.h
  test/test-network/conf/25-qdisc-cake.network
  test/test-network/systemd-networkd-tests.py
Labels: network, new-feature, good-to-merge/waiting-for-ci 👍

#25438 resolved: fix ifindex for contacting per-interface DNS server if it is 127.0.0.1
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-server.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#25447 remove obsolete translate in zh_CN.po
  po/zh_CN.po
Labels: l10n 🌍

#25454 Translations update from Fedora Weblate
  po/nl.po
Labels: l10n 🌍

#25409 boot: Several fixes
  src/boot/efi/boot.c
  src/boot/efi/linux.c
  src/boot/efi/secure-boot.c
  src/boot/efi/secure-boot.h
  src/boot/efi/shim.c
  src/boot/efi/util.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#25452 man/sd_bus_default: Refer to man-pages project (man7.org) for ssh(1)
  man/sd_bus_default.xml
Labels: documentation, sd-bus

#25461 repart followups
  src/partition/repart.c
  src/shared/mkfs-util.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#25425 bootctl: install system token on virtualized systems
  docs/RANDOM_SEEDS.md
  src/boot/bootctl.c
  units/systemd-boot-system-token.service
Labels: documentation, units

#25395 dlfcn-util: add static asserts ensuring our sym_xyz() func ptrs match …
  mkosi.conf.d/debian/10-mkosi.debian
  src/shared/bpf-compat.h
  src/shared/bpf-dlopen.c
  src/shared/bpf-dlopen.h
  src/shared/cryptsetup-util.c
  src/shared/dlfcn-util.h
  src/shared/idn-util.c
  src/shared/idn-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#25379 Update doc links
  docs/AUTOMATIC_BOOT_ASSESSMENT.md
  docs/BOOT_LOADER_INTERFACE.md
  docs/BUILDING_IMAGES.md
  docs/ENVIRONMENT.md
  docs/PORTABLE_SERVICES.md
  docs/PORTING_TO_NEW_ARCHITECTURES.md
  man/bootctl.xml
  man/coredumpctl.xml
  man/journalctl.xml
  man/kernel-install.xml
  man/loader.conf.xml
  man/repart.d.xml
  man/systemctl.xml
  man/systemd-bless-boot.service.xml
  man/systemd-boot.xml
  man/systemd-dissect.xml
  man/systemd-firstboot.xml
  man/systemd-gpt-auto-generator.xml
  man/systemd-nspawn.xml
  man/systemd-stub.xml
  man/systemd-sysext.xml
  man/systemd-sysusers.xml
  man/systemd-tmpfiles.xml
  man/systemd.exec.xml
  man/sysupdate.d.xml
  src/basic/efivars.c
  src/nspawn/nspawn.c
  tools/list-discoverable-partitions.py
Labels: documentation, good-to-merge/waiting-for-ci 👍

#25467 boot: remove random-seed-mode
  docs/RANDOM_SEEDS.md
  man/loader.conf.xml
  src/boot/efi/boot.c
  src/boot/efi/random-seed.c
  src/boot/efi/random-seed.h
  src/shared/bootspec.c
  src/shared/bootspec.h
Labels: documentation, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#25460 tree-wide: make constant ratelimit compound actually const
  src/basic/fs-util.c
  src/core/manager.c
  src/core/unit.c
  src/import/import-fs.c
  src/journal/journald-server.c
  src/journal/journald-server.h
  src/libsystemd/sd-journal/journal-file.c
  src/resolve/resolved-dns-scope.c
  src/test/test-ratelimit.c
  src/timesync/timesyncd-manager.c
Labels: journal, resolve, timesync, tree-wide, good-to-merge/waiting-for-ci 👍

#25466 udev: make sure auto-root logic also works in UKIs booted from XBOOTLDR
  src/udev/udev-builtin-blkid.c
Labels: udev, gpt-auto, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#25402 bootctl: use grey-and-slash prefix for source in list too
  src/shared/bootspec.c
Labels: sd-boot/sd-stub/bootctl

#25305 systemctl: edit: write override files as text files, instead of stripping the newline off the final would-be line
  src/systemctl/systemctl-edit.c
Labels: systemctl

#25470 Improve check for strv_extendf() format string
  src/basic/strv.h
  src/core/timer.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#25427 resolved: Fix OpenSSL error messages
  src/resolve/resolved-dnstls-openssl.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#25479 man: update docs for MemoryZSwapMax=
  man/systemd.resource-control.xml
Labels: documentation

#25481 man/journalctl: mention systemd-cat, make the description more direct
  man/journalctl.xml
Labels: documentation

#25477 network: wifi: try to reconfigure when connected
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-wifi.c
Labels: network, needs-stable-backport

#25485 gpt: Specify designator array sizes explicitly
  src/shared/dissect-image.c
  src/shared/gpt.c
  src/shared/gpt.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, quick-review 🏃‍♂️, repart

#25484 sd-event: reenable epoll_pwait2()
  src/basic/missing_syscall.h
  src/basic/missing_syscall_def.h
  src/basic/missing_syscalls.py
  src/libsystemd/sd-event/sd-event.c
Labels: sd-event, good-to-merge/waiting-for-ci 👍

#25429 stub: handle random seed like sd-boot does
  TODO
  src/boot/bootctl.c
  src/boot/efi/boot.c
  src/boot/efi/meson.build
  src/boot/efi/part-discovery.c
  src/boot/efi/part-discovery.h
  src/boot/efi/stub.c
  src/boot/efi/xbootldr.h
  src/fundamental/efivars-fundamental.h
  units/systemd-boot-system-token.service
Labels: documentation, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#25491 Update changelog with latest sd-boot, sd-stub, and bootctl changes
  NEWS
Labels: documentation

#25489 repart: respect --discard=no also for block devices
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart, needs-stable-backport

#25471 find-esp: Relax filesystem root directory check
  src/shared/find-esp.c
Labels: util-lib

#25486 Add "File created by …" header to BLS entries
  src/kernel-install/90-loaderentry.install.in
  src/kernel-install/meson.build
Labels: kernel-install

#25501 hwdb: remove fuzz and deadzone for Simucube wheel bases.
  hwdb.d/60-evdev.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#25497 Revert "find-esp: Relax filesystem root directory check"
  src/shared/find-esp.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#25504 portable: add a few more useful debug log messages
  src/portable/portable.c
Labels: good-to-merge/waiting-for-ci 👍, portable, needs-stable-backport

#23792 core: introduce env variable that makes user manager to not enumerate devices
  docs/ENVIRONMENT.md
  src/core/unit.c
Labels: documentation, pid1, good-to-merge/waiting-for-ci 👍

#25483 ppoll() + EINTR fixes
  src/basic/io-util.c
  src/home/homework-luks.c
  src/libsystemd/sd-bus/bus-socket.c
  src/libsystemd/sd-bus/sd-bus.c
  src/libsystemd/sd-netlink/sd-netlink.c
  src/resolve/resolved-manager.c
  src/shared/ask-password-api.c
  src/shared/barrier.c
  src/shared/utmp-wtmp.c
  src/shared/varlink.c
  src/stdio-bridge/stdio-bridge.c
Labels: resolve, sd-bus, tree-wide

#25506 shared: use move_pivot_root() for services
  src/core/namespace.c
  src/shared/mount-util.c
  src/shared/mount-util.h
Labels: util-lib

#25509 Fix `oomd_fetch_cgroup_oom_preference()` for unprivileged LXD containers
  src/oom/oomd-util.c
  src/oom/test-oomd-util.c
Labels: good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, oomd, needs-stable-backport

#25495 mkfs-util: Check if mcopy is installed
  src/shared/mkfs-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#25500 mkfs-util: Skip symlinks when calling mcopy
  src/basic/dirent-util.c
  src/basic/dirent-util.h
  src/basic/recurse-dir.c
  src/shared/mkfs-util.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#25514 units: fix typo in Condition in systemd-boot-system-token
  units/systemd-boot-system-token.service
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, units, quick-review 🏃‍♂️

#25473 mount-tool: several cleanups
  src/mount/mount-tool.c
Labels: good-to-merge/waiting-for-ci 👍, mount

#25518 resolved: remove inappropriate assert()
  src/resolve/resolved-dns-rr.c
Labels: resolve, good-to-merge/waiting-for-ci 👍, needs-stable-backport
