Repository systemd/systemd, pull requests merged in 2022-02, with the labels that each got.

#22330 meson: use full argument names for bpftool gen commands
  src/core/bpf/meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson, bpf

#22319 network: also use link_reconfigure_impl() to initially assign .network file
  src/basic/in-addr-util.c
  src/basic/in-addr-util.h
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-link.c
  src/network/networkd-neighbor.c
  src/network/networkd-neighbor.h
  src/network/networkd-nexthop.c
  src/network/networkd-nexthop.h
  src/network/networkd-route.c
  src/network/networkd-route.h
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-routing-policy-rule.h
  test/test-network/systemd-networkd-tests.py
Labels: network, good-to-merge/waiting-for-ci 👍

#22254 sd-dhcp-server: remove lease with hashmap_remove_value()
  src/libsystemd-network/fuzz-dhcp-server.c
  src/libsystemd-network/sd-dhcp-server.c
  src/libsystemd-network/test-dhcp-server.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#22333 network: dhcp-server: also refuse link local address to use as the server address
  src/network/networkd-dhcp-server.c
Labels: network, dhcp, ci-failure-appears-unrelated

#22331 network: xfrm: refuse zero interface ID
  man/systemd.netdev.xml
  src/network/netdev/xfrm.c
  test/test-network/conf/25-xfrm-independent.netdev
  test/test-network/conf/25-xfrm.netdev
  test/test-network/conf/netdev-link-local-addressing-yes.network
  test/test-network/conf/xfrm.network
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#22337 util: another set of CVE-2021-4034 assert()s
  src/basic/util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#22341 pid1: pam_end() PAM_DATA_SILENT fix
  src/core/execute.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#22347 analyze: correctly mention that --json= is also understood by inspect…
  src/analyze/analyze.c
Labels: analyze, good-to-merge/waiting-for-ci 👍

#22343 efi: add/user assert_se()/ASSERT_SE_PTR() for OOM handling
  src/boot/efi/assert.c
  src/boot/efi/util.h
  src/boot/efi/xbootldr.c
  src/fundamental/macro-fundamental.h
Labels: boot, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#22310 sd-dhcp-lease: two fixes
  src/libsystemd-network/sd-dhcp-lease.c
Labels: network, dhcp, needs-stable-backport

#22349 units: we need systemd-journald.service from systemd-journal-flush.se…
  units/systemd-journal-flush.service
Labels: journal, good-to-merge/waiting-for-ci 👍, units, needs-stable-backport

#22327 resolved: misc. small DnsStream refactors and improvements
  src/resolve/resolved-dns-stream.c
  src/resolve/resolved-dns-stream.h
  src/resolve/resolved-dnstls-gnutls.c
  src/resolve/resolved-dnstls-openssl.c
  src/resolve/resolved-dnstls.h
  src/resolve/test-resolved-stream.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#22344 core: warn on ExitType=cgroup with legacy cgroup setup
  src/core/service.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#22346 resolve: add missing OOM check
  src/resolve/resolved-dns-scope.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#22353 sd-dhcp-lease: store static routes and classless static routes in dif…
  src/libsystemd-network/dhcp-lease-internal.h
  src/libsystemd-network/network-internal.h
  src/libsystemd-network/sd-dhcp-lease.c
  src/network/networkd-dhcp4.c
  src/systemd/sd-dhcp-lease.h
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#22354 network: dhcp-server: make empty string to DNS= or friends clear prev…
  man/systemd.network.xml
  src/network/networkd-dhcp-server.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#22338 tests: rework test macros to not take code as parameters
  src/shared/tests.h
  src/test/test-barrier.c
  src/test/test-cgroup-setup.c
  src/test/test-chown-rec.c
  src/test/test-format-table.c
  src/test/test-fs-util.c
  src/test/test-hashmap.c
  src/test/test-install-root.c
  src/test/test-load-fragment.c
  src/test/test-mountpoint-util.c
  src/test/test-namespace.c
  src/test/test-proc-cmdline.c
  src/test/test-process-util.c
  src/test/test-sd-hwdb.c
  src/test/test-serialize.c
  src/test/test-sleep.c
  src/test/test-stat-util.c
  src/test/test-time-util.c
  src/test/test-unit-file.c
  src/test/test-unit-name.c
  src/test/test-unit-serialize.c
  src/test/test-utf8.c
Labels: tests

#22345 systemctl: strings returned by sd_bus_message_read_basic() are immutable
  src/systemctl/systemctl-set-environment.c
Labels: systemctl, good-to-merge/waiting-for-ci 👍

#22350 journal: various fixes to journal_file_read_object()
  src/journal/journald-file.c
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-journal/journal-file.h
Labels: journal, good-to-merge/waiting-for-ci 👍

#22359 mkdir: allow to create directory whose path contains symlink
  src/basic/mkdir.c
  src/core/mount.c
  src/test/meson.build
  src/test/test-mkdir.c
Labels: pid1, util-lib, needs-stable-backport

#22356 test: allow to set NULL to intro or outro
  src/shared/tests.h
  src/test/test-barrier.c
  src/test/test-cgroup-setup.c
  src/test/test-chown-rec.c
  src/test/test-format-table.c
  src/test/test-fs-util.c
  src/test/test-hashmap.c
  src/test/test-install-root.c
  src/test/test-load-fragment.c
  src/test/test-mountpoint-util.c
  src/test/test-namespace.c
  src/test/test-proc-cmdline.c
  src/test/test-process-util.c
  src/test/test-sd-hwdb.c
  src/test/test-serialize.c
  src/test/test-sleep.c
  src/test/test-stat-util.c
  src/test/test-time-util.c
  src/test/test-unit-file.c
  src/test/test-unit-name.c
  src/test/test-unit-serialize.c
  src/test/test-utf8.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#22365 dhcp-identifier: always use a fixed machine-id while fuzzing
  src/libsystemd-network/dhcp-identifier.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍, fuzzing

#22362 network: update operational state when we remove an address
  src/network/networkd-address.c
Labels: network, good-to-merge/waiting-for-ci 👍

#22361 test: use rm_rf_physical_and_freep cleanup function
  src/test/test-exec-util.c
  src/test/test-path-lookup.c
Labels: tests, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#22358 udevadm: test,test-builtin: support /dev path or device unit
  man/udevadm.xml
  src/libsystemd/sd-device/device-internal.h
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-device/device-private.h
  src/test/test-udev.c
  src/udev/udev-builtin-input_id.c
  src/udev/udevadm-test-builtin.c
  src/udev/udevadm-trigger.c
  src/udev/udevadm-util.c
Labels: udev, sd-device, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#22373 journal: Rename JournaldFile to ManagedJournalFile
  src/journal-remote/journal-remote-write.c
  src/journal-remote/journal-remote-write.h
  src/journal-remote/journal-remote.c
  src/journal/journald-file.h
  src/journal/journald-server.c
  src/journal/journald-server.h
  src/journal/managed-journal-file.c
  src/journal/managed-journal-file.h
  src/journal/meson.build
  src/journal/test-journal-flush.c
  src/journal/test-journal-interleaving.c
  src/journal/test-journal-stream.c
  src/journal/test-journal-verify.c
  src/journal/test-journal.c
Labels: journal, journal-remote

#22372 udevadm: don't claim a sysattr was write only just because we get EPE…
  src/udev/udevadm-info.c
Labels: udev, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#22381 tests: fuzz client_send_message
  src/libsystemd-network/fuzz-dhcp6-client-send.c
  src/libsystemd-network/meson.build
  test/fuzz/fuzz-dhcp6-client-send/12ad30d317800d7f731c1c8bc0854e531d5ef928
  test/fuzz/fuzz-dhcp6-client-send/crash-a93b8ba024ada36014c29c25cc90c668fd91ce7f
  test/fuzz/fuzz-dhcp6-client-send/f202c4dff34d15e41c032a66ed25d89154be1f6d
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#22380 sd-boot: rename LOADER_STUB → LOADER_UNIFIED_LINUX
  src/boot/efi/boot.c
Labels: boot, good-to-merge/waiting-for-ci 👍

#22382 tests: pass FUZZING_BUILD_MODE_UNSAFE_FOR_PRODUCTION to fuzzers
  test/fuzz/meson.build
Labels: tests, meson

#22371 journal: when copying journal file to undo NOCOW flag, go via fd
  src/journal/managed-journal-file.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#22387 boot: fix pretty nasty typo
  src/boot/efi/boot.c
Labels: boot, good-to-merge/waiting-for-ci 👍

#22393 fix italian translations to display unit name
  po/it.po
Labels: l10n 🌍

#22397 systemctl: use STR_IN_SET() where appropriate
  src/systemctl/systemctl-logind.c
Labels: systemctl, good-to-merge/waiting-for-ci 👍

#22394 man: explicitly mention that Requires propagates restarts
  man/systemd.unit.xml
Labels: documentation

#22403 hostnamed: drop "interactive" parameter from GetHardwareSerial()
  man/org.freedesktop.hostname1.xml
  src/hostname/hostnamed.c
Labels: hostname, good-to-merge/waiting-for-ci 👍

#22400 resolved: maintain only a single list of "dont-resolve" domain names
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-synthesize.c
  src/shared/dns-domain.c
  src/shared/dns-domain.h
Labels: resolve, quick-review 🏃‍♂️

#22409 boot: Fix some error messages
  src/boot/efi/drivers.c
Labels: boot, good-to-merge/waiting-for-ci 👍

#22355 network: tunnel: support external mode
  man/systemd.netdev.xml
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/tunnel.c
  src/network/netdev/tunnel.h
  test/fuzz/fuzz-netdev-parser/directives.netdev
  test/test-network/conf/25-ip6tnl-external.netdev
  test/test-network/conf/netdev-link-local-addressing-yes.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#22408 test-network: code cleanup
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#22405 portable: reopen socket with O_RDONLY
  src/portable/portable.c
Labels: good-to-merge/waiting-for-ci 👍, portable

#22399 hostnamed: trivial optimization
  src/hostname/hostnamed.c
Labels: hostname, good-to-merge/waiting-for-ci 👍

#22402 hwdb: add HP calculators
  hwdb.d/70-pda.hwdb
Labels: hwdb

#22419 systemd.netdev(5): fix acronym for DOVE extensions
  man/systemd.netdev.xml
Labels: documentation

#22375 fix watchdog handling during reboot
  src/shared/watchdog.c
  src/shutdown/shutdown.c
Labels: good-to-merge/waiting-for-ci 👍, watchdog

#22378 Follow-ups for #20833
  src/core/job.c
  src/core/service.c
Labels: pid1, ci-failure-appears-unrelated

#22396 man: systemd-stdio-bridge doesn't connect "two busses"
  man/systemd-stdio-bridge.xml
  src/stdio-bridge/stdio-bridge.c
Labels: documentation, sd-bus, good-to-merge/waiting-for-ci 👍

#22395 oomd: Dump top offenders after a kill action
  src/oom/oomd-util.c
  src/oom/oomd-util.h
Labels: ci-failure-appears-unrelated, oomd

#22416 Misc
  src/basic/unit-name.c
  src/udev/udev-builtin-net_id.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#22406 sd-dhcp6-client: fix sending prefix delegation request during rebind
  src/libsystemd-network/sd-dhcp6-client.c
Labels: network, dhcp

#22420 tests: also fuzz packets sent in the DHCP6_STATE_SOLICITATION state
  src/libsystemd-network/fuzz-dhcp6-client-send.c
Labels: network, tests

#22435 Update CODING_STYLE.md
  docs/CODING_STYLE.md
Labels: documentation

#22438 man: fix typo
  man/systemd.network.xml
Labels: documentation

#22383 network: enable KeepConfiguration= when running on network filesystem
  man/systemd.network.xml
  src/basic/stat-util.c
  src/basic/stat-util.h
  src/network/generator/network-generator.c
  src/network/generator/network-generator.h
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-network.c
  src/network/test-networkd-conf.c
Labels: network, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#22434 watchdog: fix bad memory access
  src/shared/watchdog.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, watchdog

#22439 oom: Cleanup of information dump code after kill
  src/oom/oomd-util.c
Labels: good-to-merge/waiting-for-ci 👍, oomd

#22422 hwbd: 60-sensor.hwdb: Add Pipo W2Pro
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#22447 README: CONFIG_KCMP is the new kernel compile time option for kcmp()
  README
Labels: documentation, quick-review 🏃‍♂️

#22449 docs: Improve HOME_DIRECTORY.md
  docs/HOME_DIRECTORY.md
Labels: documentation, good-to-merge/waiting-for-ci 👍

#22366 journald: some journal file hole punching fixes
  src/journal/managed-journal-file.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#22442 journal: Fix entry array iteration in case of corruption
  src/libsystemd/sd-journal/journal-file.c
Labels: journal, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#22423 repart: fix sector size handling
  src/partition/repart.c
  test/units/testsuite-58.sh
Labels: good-to-merge/waiting-for-ci 👍, repart

#22415 udev/net: support to set MDI-X mode
  man/systemd.link.xml
  src/shared/ethtool-util.c
  src/shared/ethtool-util.h
  src/udev/net/link-config-gperf.gperf
  src/udev/net/link-config.c
  src/udev/net/link-config.h
  test/fuzz/fuzz-link-parser/directives.link
Labels: udev, new-feature, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#22191 Revert "ci: switch to fedora-35 on i386 on Packit"
  .packit.yml
Labels: ci

#22448 coredump: raise limits
  man/coredump.conf.xml
  src/coredump/coredump.c
Labels: coredump, good-to-merge/waiting-for-ci 👍

#22446 sd-boot: don't read TSC in VM environments, and other TSC fixes
  src/boot/efi/boot.c
  src/boot/efi/meson.build
  src/boot/efi/ticks.c
  src/boot/efi/ticks.h
  src/boot/efi/util.c
  src/boot/efi/util.h
  src/shared/boot-timestamps.c
Labels: boot, good-to-merge/waiting-for-ci 👍

#22407 Update year to 2022.
  docs/_includes/footer.html
Labels: documentation, quick-review 🏃‍♂️, please-review

#22456 ci: validate actions and fix actionlint warnings
  .github/workflows/coverity.yml
  .github/workflows/linter.yml
  .github/workflows/mkosi.yml
Labels: ci

#22454 Add support for `isolated` parameter
  man/systemd.network.xml
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-setlink.c
  test/fuzz/fuzz-network-parser/26-bridge-slave-interface-1.network
  test/fuzz/fuzz-network-parser/directives.network
  test/fuzz/fuzz-unit-file/directives-all.service
  test/networkd-test.py
  test/test-network/conf/26-bridge-slave-interface-1.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#22248 network: tc: use request queue to configure QDisc or TClass
  src/libsystemd/sd-netlink/netlink-message-rtnl.c
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-util.h
  src/libsystemd/sd-netlink/sd-netlink.c
  src/network/netdev/l2tp-tunnel.c
  src/network/networkd-dhcp-common.c
  src/network/networkd-ipv4ll.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-nexthop.c
  src/network/networkd-queue.c
  src/network/networkd-queue.h
  src/network/networkd-wifi.c
  src/network/tc/fifo.c
  src/network/tc/qdisc.c
  src/network/tc/qdisc.h
  src/network/tc/tc.c
  src/network/tc/tc.h
  src/network/tc/tclass.c
  src/network/tc/tclass.h
  src/network/tc/teql.c
  src/systemd/sd-netlink.h
Labels: network, sd-netlink, good-to-merge/waiting-for-ci 👍

#22461 ci: remove MULTI_STATUS from superlinter
  .github/workflows/linter.yml
Labels: good-to-merge/waiting-for-ci 👍, ci

#22451 meson: disable export-dbus-interfaces target when cross-compiling
  meson.build
Labels: ci-failure-appears-unrelated, meson, needs-stable-backport

#22458 some safety tweaks to conf-parser.[ch]
  src/core/load-fragment.c
  src/journal-remote/journal-upload.c
  src/network/netdev/netdev-gperf.gperf
  src/network/networkd-network-gperf.gperf
  src/nspawn/nspawn-gperf.gperf
  src/shared/conf-parser.c
  src/shared/conf-parser.h
  src/tty-ask-password-agent/tty-ask-password-agent.c
  src/xdg-autostart-generator/xdg-autostart-service.c
Labels: network, util-lib, journal-remote, good-to-merge/waiting-for-ci 👍

#22465 Clarify protocol used in systemd-journal-upload
  man/systemd-journal-upload.service.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, squash-on-merge

#22467 test: lvm 2.03.15 dropped the static autoactivation
  test/test-functions
Labels: tests, ci-failure-appears-unrelated

#22462 network: support Match.Firmware= in .link files
  src/udev/net/link-config-gperf.gperf
  test/fuzz/fuzz-link-parser/directives.link
  test/fuzz/fuzz-unit-file/directives-all.service
Labels: udev

#22452 network: use sysctl to set IPv6LL address generation mode when the interface is already up
  src/network/meson.build
  src/network/networkd-ipv6ll.c
  src/network/networkd-ipv6ll.h
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-setlink.c
  src/network/networkd-sysctl.c
  test/test-network/systemd-networkd-tests.py
Labels: network, good-to-merge/waiting-for-ci 👍

#22471 network: bridge: fix vlan protocol
  src/network/netdev/bridge.c
  test/test-network/conf/25-bridge.netdev
  test/test-network/systemd-networkd-tests.py
Labels: network, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#22472 test: document how to manually run Ubuntu CI stuff
  test/README.testsuite
Labels: documentation, tests

#22476 tree-wide: move `unsigned` to the start of type declaration
  src/basic/parse-util.c
  src/basic/parse-util.h
  src/basic/process-util.c
  src/core/bpf/restrict_fs/restrict-fs.bpf.c
  src/shared/mount-util.c
  src/shared/mount-util.h
  src/test/test-mountpoint-util.c
  src/test/test-sizeof.c
Labels: ci-failure-appears-unrelated, quick-review 🏃‍♂️

#22479 resolve: describe mdns event sources
  src/resolve/resolved-mdns.c
Labels: resolve

#22470 basic: do not warn in mkdir_p() when parent directory exists
  src/basic/mkdir.c
  src/basic/mkdir.h
Labels: util-lib

#22482 ci: run all fuzz targets on CIFuzz
  .github/workflows/cifuzz.yml
Labels: ci

#22485 cgroup: downgrade warnings of "cgroup ID" can't be read (on old kernels)
  man/org.freedesktop.systemd1.xml
  src/basic/cgroup-util.c
  src/core/cgroup.c
  src/core/dbus-unit.c
Labels: cgroups, pid1, good-to-merge/waiting-for-ci 👍

#22484 boot: Correctly check the return value of CheckEvent
  src/boot/efi/console.c
Labels: boot, regression ⚠️, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#22495 NEWS: clarify that ForceDHCPv6PDOtherInformation= is removed
  NEWS
Labels: documentation

#22499 A couple of Packit/Super-Linter tweaks
  .github/workflows/linter.yml
  .packit.yml
Labels: good-to-merge/waiting-for-ci 👍, ci

#22489 do not call __register_atfork directly
  src/basic/process-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#22501 test: check if running in container earlier
  src/libsystemd/sd-device/test-sd-device-monitor.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#22505 A couple of coverage-related tweaks
  test/test-functions
Labels: tests, good-to-merge/waiting-for-ci 👍

#22506 gpt-auto: some (primarily cosmetic) fixes to backing block device detection in gpt-auto-generator/sd-device
  src/gpt-auto-generator/gpt-auto-generator.c
  src/libsystemd/sd-device/sd-device.c
Labels: gpt-auto, sd-device, good-to-merge/waiting-for-ci 👍

#22507 sd-id128: comparison tweaks
  man/rules/meson.build
  man/sd_id128_to_string.xml
  src/home/homed-manager.c
  src/home/homework-luks.c
  src/home/user-record-util.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-device/sd-device.c
  src/libsystemd/sd-id128/id128-util.c
  src/libsystemd/sd-id128/id128-util.h
  src/libsystemd/sd-id128/sd-id128.c
  src/nspawn/nspawn.c
  src/partition/repart.c
  src/shared/bootspec.c
  src/shared/format-table.c
  src/shared/gpt.c
  src/shared/gpt.h
  src/shared/logs-show.c
  src/shared/mkfs-util.c
  src/shared/udev-util.c
  src/systemd/sd-id128.h
  src/test/test-id128.c
  src/veritysetup/veritysetup-generator.c
Labels: good-to-merge/waiting-for-ci 👍, sd-id128

#22508 stat-util: add new stat_inode_same() helper
  src/basic/fd-util.c
  src/basic/fs-util.c
  src/basic/mountpoint-util.c
  src/basic/stat-util.c
  src/basic/stat-util.h
  src/coredump/coredump-vacuum.c
  src/coredump/coredump.c
  src/libsystemd/sd-daemon/sd-daemon.c
  src/libsystemd/sd-device/device-monitor.c
  src/libsystemd/sd-journal/sd-journal.c
  src/resolve/resolved-resolv-conf.c
  src/shared/mount-util.c
Labels: resolve, util-lib

#22487 bootctl: show all discovered entries, but show state + type in details
  TODO
  src/basic/stat-util.h
  src/boot/bless-boot.c
  src/boot/bootctl.c
  src/login/logind-dbus.c
  src/shared/bootspec.c
  src/shared/bootspec.h
Labels: boot, good-to-merge/waiting-for-ci 👍

#22510 test: set `ReadWritePaths=$BUILD_DIR` when running w/ coverage
  test/test-functions
Labels: tests, good-to-merge/waiting-for-ci 👍

#22412 sd-dhcp6-client: several fixes and cleanups
  src/basic/ordered-set.h
  src/libsystemd-network/dhcp-identifier.c
  src/libsystemd-network/dhcp-identifier.h
  src/libsystemd-network/dhcp6-internal.h
  src/libsystemd-network/dhcp6-lease-internal.h
  src/libsystemd-network/dhcp6-option.c
  src/libsystemd-network/dhcp6-option.h
  src/libsystemd-network/dhcp6-protocol.c
  src/libsystemd-network/dhcp6-protocol.h
  src/libsystemd-network/fuzz-dhcp6-client-send.c
  src/libsystemd-network/fuzz-dhcp6-client.c
  src/libsystemd-network/meson.build
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/sd-dhcp6-lease.c
  src/libsystemd-network/test-dhcp-client.c
  src/libsystemd-network/test-dhcp6-client.c
  src/network/networkd-dhcp6.c
  src/systemd/sd-dhcp6-client.h
  test/fuzz/fuzz-dhcp6-client/12ad30d317800d7f731c1c8bc0854e531d5ef928
  test/fuzz/fuzz-dhcp6-client/crash-a93b8ba024ada36014c29c25cc90c668fd91ce7f
  test/fuzz/fuzz-dhcp6-client/f202c4dff34d15e41c032a66ed25d89154be1f6d
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#22516 Post-review fixups and other tiny improvements
  NEWS
  docs/DISCOVERABLE_PARTITIONS.md
  src/home/homework-luks.c
  src/shared/gpt.h
  src/systemctl/systemctl-show.c
Labels: documentation, systemctl, good-to-merge/waiting-for-ci 👍

#22517 test: Stop using TextTestRunner in systemd-networkd-tests.py
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#22500 Documentation on WantedBy for template units
  man/systemd.unit.xml
Labels: documentation

#22525 tests: allow running all the services with SYSTEMD_LOG_LEVEL
  test/test-functions
Labels: tests, good-to-merge/waiting-for-ci 👍

#22529 man: fix virtualization table
  man/systemd-detect-virt.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, detect-virt, quick-review 🏃‍♂️

#22271 Freeze manager if reexec fails
  src/core/main.c
  test/units/testsuite-36.sh
Labels: pid1, good-to-merge/waiting-for-ci 👍

#22520 sd-dhcp6-client: several cosmetic follow-ups
  src/basic/memory-util.h
  src/libsystemd-network/dhcp-identifier.c
  src/libsystemd-network/dhcp6-lease-internal.h
  src/libsystemd-network/dhcp6-option.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#22502 network: add virtual wlan interface support
  man/systemd.netdev.xml
  src/network/meson.build
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/netdev/tunnel.c
  src/network/netdev/vxlan.c
  src/network/netdev/wlan.c
  src/network/netdev/wlan.h
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-queue.c
  src/network/networkd-queue.h
  src/network/networkd-wifi.c
  src/network/networkd-wiphy.c
  src/network/networkd-wiphy.h
  src/shared/wifi-util.c
  src/shared/wifi-util.h
  test/fuzz/fuzz-netdev-parser/directives.netdev
Labels: network, new-feature, good-to-merge/waiting-for-ci 👍

#22533 timesync: add missing setting in template
  src/timesync/timesyncd.conf.in
Labels: timesync, good-to-merge/waiting-for-ci 👍

#22512 virt: Fix Xen Dom0 detection logic to no longer report as VM
  src/basic/virt.c
Labels: good-to-merge/waiting-for-ci 👍, detect-virt, needs-stable-backport

#22498 cgroup: ignore error in attaching process when threaded mode is used
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/core/execute.c
  src/shared/cgroup-setup.c
Labels: cgroups, pid1, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#22374 resolved: don't filter extra DNS stubs on parse
  src/resolve/resolved-conf.c
  src/resolve/resolved-conf.h
  src/resolve/resolved-manager.c
  src/resolve/resolved-manager.h
  src/resolve/resolved-resolv-conf.c
Labels: resolve, good-to-merge/with-minor-suggestions

#22531 coccinelle: add semantic patch for using more mempcpy() instead of memcpy()
  coccinelle/mempcpy.cocci
  src/basic/hexdecoct.c
  src/libsystemd/sd-journal/catalog.c
  src/network/tc/tc.c
  src/resolve/test-resolved-stream.c
Labels: network, resolve, good-to-merge/waiting-for-ci 👍, coccinelle

#22543 logind: fix some sd-bus int/bool/unsigned mixups
  src/login/logind-dbus.c
  src/login/logind.h
Labels: login, good-to-merge/waiting-for-ci 👍

#22542 sd-dhcp-server: do not offer server address
  src/libsystemd-network/sd-dhcp-server.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, needs-stable-backport

#22535 userdbctl: show UID ranges in output too
  src/analyze/analyze-security.c
  src/basic/chase-symlinks.c
  src/basic/glyph-util.c
  src/basic/glyph-util.h
  src/basic/user-util.h
  src/delta/delta.c
  src/home/home-util.h
  src/nspawn/nspawn-bind-user.c
  src/partition/repart.c
  src/portable/portable.c
  src/portable/portablectl.c
  src/shared/cgroup-show.c
  src/shared/install.c
  src/test/test-locale-util.c
  src/userdb/userdbctl.c
Labels: good-to-merge/waiting-for-ci 👍, portable, userdb

#22540 network: call ethtool after link is initialized by udevd
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/shared/udev-util.c
  src/shared/udev-util.h
Labels: network, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#22537 test: set `ReadWritePaths=` only for units from TEST-20
  test/test-functions
Labels: tests

#22548 packit: drop unnumbered patches as well
  .packit.yml
Labels: tests, good-to-merge/waiting-for-ci 👍

#22545 network, udev: introduce Kind= setting in [Match] section
  man/systemd.link.xml
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-util.c
  src/libsystemd/sd-netlink/netlink-util.h
  src/network/networkctl.c
  src/network/networkd-link.c
  src/network/networkd-network-gperf.gperf
  src/shared/net-condition.c
  src/shared/net-condition.h
  src/udev/net/link-config-gperf.gperf
  src/udev/net/link-config.c
  src/udev/net/link-config.h
  src/udev/udev-event.c
  test/fuzz/fuzz-link-parser/directives.link
  test/fuzz/fuzz-network-parser/directives.network
Labels: udev, network, new-feature, good-to-merge/waiting-for-ci 👍

#22551 mkosi: Add more packages required to run systemd-networkd-tests.py
  mkosi.default.d/arch/10-mkosi.arch
  mkosi.default.d/debian/10-mkosi.debian
  mkosi.default.d/fedora/10-mkosi.fedora
  mkosi.default.d/ubuntu/10-mkosi.ubuntu
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#22544 hwdb: 60-keyboard: Support the buttons on CZC P10T tablet
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

#22558 udev-util: add parentheses to make coverity silent
  src/shared/udev-util.c
Labels: util-lib, quick-review 🏃‍♂️

#22552 fix nss deadlock between dbus-daemon and PID 1
  docs/ENVIRONMENT.md
  src/core/execute.c
  src/core/execute.h
  src/core/service.c
  src/core/service.h
Labels: documentation, pid1, good-to-merge/waiting-for-ci 👍

#22562 machined: fix confusion around "bool" and sd-bus
  src/machine/image-dbus.c
Labels: machine, good-to-merge/waiting-for-ci 👍

#22546 resolved: rework how we reply to D-Bus messages for resolution requests
  src/resolve/resolved-bus.c
Labels: resolve, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#22565 generator: Rename password arg
  src/cryptsetup/cryptsetup-generator.c
  src/cryptsetup/cryptsetup.c
  src/shared/generator.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍

#22568 systemctl: make `--timestamp=` affect the `show` verb as well
  src/systemctl/systemctl-show.c
Labels: systemctl

#22569 mkosi CI: mask isc-dhcp-server units
  .github/workflows/run_mkosi.sh
Labels: good-to-merge/waiting-for-ci 👍, mkosi, ci

#22570 env-util: replace unsetenv_erase() by new getenv_steal_erase() helper
  src/basic/env-util.c
  src/basic/env-util.h
  src/cryptenroll/cryptenroll-password.c
  src/cryptenroll/cryptenroll.c
  src/cryptsetup/cryptsetup-fido2.c
  src/cryptsetup/cryptsetup.c
  src/home/homectl.c
  src/shared/pkcs11-util.c
  src/test/test-env-util.c
Labels: util-lib

#22579 docs: fix discoverable partitions table
  docs/DISCOVERABLE_PARTITIONS.md
  tools/list-discoverable-partitions.py
Labels: documentation

#22586 env-util: drop unsetenv_erase()
  src/basic/env-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#22583 hwdb: add CST Laser Trackball
  hwdb.d/70-mouse.hwdb
Labels: hwdb

#22588 hwdb: Force release calculator key on all HP OMEN laptops
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#22561 core: skip automatic restart when a JOB_STOP is pending
  src/core/service.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#22584 systemctl: rename "verb" entrypoint functions systematically to verb_xyz()
  src/systemctl/systemctl-add-dependency.c
  src/systemctl/systemctl-add-dependency.h
  src/systemctl/systemctl-cancel-job.c
  src/systemctl/systemctl-cancel-job.h
  src/systemctl/systemctl-clean-or-freeze.c
  src/systemctl/systemctl-clean-or-freeze.h
  src/systemctl/systemctl-compat-telinit.c
  src/systemctl/systemctl-daemon-reload.c
  src/systemctl/systemctl-daemon-reload.h
  src/systemctl/systemctl-edit.c
  src/systemctl/systemctl-edit.h
  src/systemctl/systemctl-enable.c
  src/systemctl/systemctl-enable.h
  src/systemctl/systemctl-is-active.c
  src/systemctl/systemctl-is-active.h
  src/systemctl/systemctl-is-enabled.c
  src/systemctl/systemctl-is-enabled.h
  src/systemctl/systemctl-is-system-running.c
  src/systemctl/systemctl-is-system-running.h
  src/systemctl/systemctl-kill.c
  src/systemctl/systemctl-kill.h
  src/systemctl/systemctl-list-dependencies.c
  src/systemctl/systemctl-list-dependencies.h
  src/systemctl/systemctl-list-jobs.c
  src/systemctl/systemctl-list-jobs.h
  src/systemctl/systemctl-list-machines.c
  src/systemctl/systemctl-list-machines.h
  src/systemctl/systemctl-list-unit-files.c
  src/systemctl/systemctl-list-unit-files.h
  src/systemctl/systemctl-list-units.c
  src/systemctl/systemctl-list-units.h
  src/systemctl/systemctl-log-setting.c
  src/systemctl/systemctl-log-setting.h
  src/systemctl/systemctl-mount.c
  src/systemctl/systemctl-mount.h
  src/systemctl/systemctl-preset-all.c
  src/systemctl/systemctl-preset-all.h
  src/systemctl/systemctl-reset-failed.c
  src/systemctl/systemctl-reset-failed.h
  src/systemctl/systemctl-service-watchdogs.c
  src/systemctl/systemctl-service-watchdogs.h
  src/systemctl/systemctl-set-default.c
  src/systemctl/systemctl-set-default.h
  src/systemctl/systemctl-set-environment.c
  src/systemctl/systemctl-set-environment.h
  src/systemctl/systemctl-set-property.c
  src/systemctl/systemctl-set-property.h
  src/systemctl/systemctl-show.c
  src/systemctl/systemctl-show.h
  src/systemctl/systemctl-start-special.c
  src/systemctl/systemctl-start-special.h
  src/systemctl/systemctl-start-unit.c
  src/systemctl/systemctl-start-unit.h
  src/systemctl/systemctl-switch-root.c
  src/systemctl/systemctl-switch-root.h
  src/systemctl/systemctl-trivial-method.c
  src/systemctl/systemctl-trivial-method.h
  src/systemctl/systemctl.c
Labels: systemctl, good-to-merge/waiting-for-ci 👍

#22574 network: dhcp-pd: fix two issues
  src/network/networkd-address-generation.c
  src/network/networkd-address-generation.h
  src/network/networkd-dhcp-prefix-delegation.c
  test/test-network/conf/25-dhcp-pd-downstream-dummy98.network
  test/test-network/systemd-networkd-tests.py
Labels: network, dhcp, ci-failure-appears-unrelated, needs-stable-backport

#22597 ci: fix clang-13 installation
  .github/workflows/build_test.sh
Labels: ci, needs-stable-backport

#22592 test: test-oomd-util fixlets
  src/oom/test-oomd-util.c
Labels: tests, good-to-merge/waiting-for-ci 👍, oomd

#22596 test: fix fd leaks
  src/libsystemd-network/test-dhcp-client.c
  src/libsystemd-network/test-dhcp6-client.c
  src/libsystemd-network/test-ndisc-ra.c
  src/libsystemd-network/test-ndisc-rs.c
  src/libsystemd/sd-journal/test-catalog.c
  src/oom/test-oomd-util.c
  src/test/test-fs-util.c
  src/test/test-psi-util.c
  src/test/test-tmpfiles.c
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#22602 units: drop After=systemd-networkd.service from systemd-resolved.service
  units/systemd-resolved.service.in
Labels: resolve, good-to-merge/waiting-for-ci 👍, units, needs-stable-backport

#22604 unit: escape %
  units/tmp.mount
Labels: good-to-merge/waiting-for-ci 👍, units

#19970 watchdog: Add watchdog pretimeout support
  man/kernel-command-line.xml
  man/org.freedesktop.systemd1.xml
  man/systemd-system.conf.xml
  src/core/dbus-manager.c
  src/core/main.c
  src/core/manager-serialize.c
  src/core/manager.c
  src/core/manager.h
  src/core/system.conf.in
  src/shared/watchdog.c
  src/shared/watchdog.h
  test/fuzz/fuzz-unit-file/directives-all.service
Labels: pid1, new-feature, good-to-merge/waiting-for-ci 👍, watchdog

#22582 boot: Minor input fixes
  src/boot/efi/boot.c
  src/boot/efi/console.c
  src/boot/efi/console.h
  src/boot/efi/missing_efi.h
Labels: boot, good-to-merge/waiting-for-ci 👍

#22600 make more use of timestamp_is_set()
  coccinelle/timestamp-is-set.cocci
  src/basic/fileio.c
  src/basic/time-util.c
  src/basic/xattr-util.c
  src/core/service.c
  src/libsystemd-network/lldp-neighbor.c
  src/libsystemd/sd-daemon/sd-daemon.c
  src/libsystemd/sd-journal/journal-vacuum.c
  src/login/loginctl.c
  src/login/logind-user.c
  src/machine/machinectl.c
  src/systemctl/systemctl-show.c
Labels: network, systemctl, tree-wide, good-to-merge/waiting-for-ci 👍, coccinelle

#22609 udev-builtin-input_id: don't label absolute mice as pointing sticks
  src/udev/udev-builtin-input_id.c
Labels: udev

#22414 resolve: follow-up for synthesizing empty name
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-scope.h
Labels: resolve, please-review

#22608 Man page cleanups
  man/homectl.xml
  man/integritytab.xml
  man/nss-resolve.xml
  man/os-release.xml
  man/systemd-analyze.xml
  man/systemd-integritysetup@.service.xml
  man/systemd-nspawn.xml
  man/systemd-stub.xml
  man/systemd.exec.xml
  man/systemd.link.xml
  man/systemd.network.xml
  man/systemd.nspawn.xml
  man/systemd.path.xml
  man/userdbctl.xml
Labels: documentation

#22605 test-journal-send: fix fd leaks
  src/libsystemd/meson.build
  src/libsystemd/sd-journal/journal-send.c
  src/libsystemd/sd-journal/journal-send.h
  src/libsystemd/sd-journal/test-journal-send.c
Labels: tests

#22591 ci: build systemd without optional dependencies
  .github/workflows/unit_tests.sh
  .github/workflows/unit_tests.yml
  meson.build
  meson_options.txt
  test/fuzz/meson.build
Labels: meson, ci

#22590 systemctl: Show how long a service ran for after it exited in status output
  src/systemctl/systemctl-show.c
Labels: systemctl, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#22607 network: compare addresses more strictly
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-dhcp-server.c
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-ipv4ll.c
  src/network/networkd-ndisc.c
  src/network/test-network.c
  test/test-network/systemd-networkd-tests.py
Labels: network, ci-failure-appears-unrelated

#22613 meson: Drop required libfdisk version to 2.32
  README
  meson.build
Labels: good-to-merge/waiting-for-ci 👍

#22615 network: dhcp server: support pxe boot systems
  man/systemd.network.xml
  src/libsystemd-network/dhcp-server-internal.h
  src/libsystemd-network/sd-dhcp-server.c
  src/network/networkd-dhcp-server.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/sd-dhcp-client.h
  src/systemd/sd-dhcp-server.h
  test/fuzz/fuzz-network-parser/directives.network
Labels: network, dhcp
