Repository systemd/systemd, pull requests merged in 2023-12, with the labels that each got.

#30272 hwdb: ieee1394-unit-function: arrangement for Sony DVMC-DA1
  hwdb.d/80-ieee1394-unit-function.hwdb
Labels: hwdb, good-to-merge/waiting-for-reporter-feedback 👍

#30211 sd-journal: fix generic_array_bisect()
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-journal/test-journal-interleaving.c
  test/units/testsuite-04.journal.sh
Labels: journal, tests, good-to-merge/waiting-for-ci 👍

#30274 core: do not drop CAP_SETUID if it is in AmbientCapabilities=
  src/core/exec-invoke.c
  src/test/test-execute.c
  test/test-execute/exec-ambientcapabilities-dynuser.service
Labels: pid1, tests, good-to-merge/waiting-for-ci 👍

#30281 ukify: avoid deprecated datetime call
  src/ukify/ukify.py
Labels: good-to-merge/waiting-for-ci 👍, uki

#30290 homework-quota.c: correct error message in home_update_quota_btrfs
  src/home/homework-quota.c
Labels: please-review

#30285 fix: prefix of dmesg pstore files
  src/pstore/pstore.c
Labels: good-to-merge/waiting-for-ci 👍, pstore

#30268 network: fix issue caused by too many waiting replies
  src/libsystemd/sd-netlink/netlink-util.h
  src/libsystemd/sd-netlink/sd-netlink.c
  src/network/networkd-queue.c
  src/shared/firewall-util.c
  src/shared/firewall-util.h
Labels: network, util-lib, sd-netlink, ci-failure-appears-unrelated

#30292 core/cgroup: for non-cached attrs, don't return ENODATA blindly
  src/core/cgroup.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#30291 Backwardscompatibly handle syscalls unknown to us or libseccomp
  src/core/exec-invoke.c
  src/nspawn/nspawn-seccomp.c
  src/shared/seccomp-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, seccomp

#30297 A few unrelated fixups for recent commits
  src/run/run.c
  src/stdio-bridge/stdio-bridge.c
  src/test/test-macro.c
Labels: tests, run, good-to-merge/waiting-for-ci 👍

#30298 tests: fix section mapping in test_ukify.py
  src/ukify/test/test_ukify.py
Labels: tests, good-to-merge/waiting-for-ci 👍, uki

#30305 seccomp: override the default action only when the filter is allow-list
  src/shared/seccomp-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, seccomp, ci-failure-appears-unrelated

#30311 tools/meson-vcs-tag: the third argument is optional
  tools/meson-vcs-tag.sh
Labels: build-system, quick-review 🏃‍♂️, please-review

#30329 fix: The example2 in hwdb.xml is unreasonable
  man/hwdb.xml
Labels: documentation, please-review

#30310 selinux: downgrade log about state to trace
  src/shared/selinux-util.c
Labels: pid1, util-lib, selinux, good-to-merge/waiting-for-ci 👍

#30327 test: load the io controller before checking if io.latency exists
  test/units/testsuite-07.exec-context.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#30315 fixed ukify valid days option
  src/ukify/ukify.py
Labels: uki

#30349 README: mention Matrix channel
  README.md
Labels: documentation, please-review

#30334 repart: Add Minimize=best to --make-ddi= partition definitions
  src/partition/definitions/confext.repart.d/10-root.conf
  src/partition/definitions/confext.repart.d/20-root-verity.conf
  src/partition/definitions/portable.repart.d/10-root.conf
  src/partition/definitions/portable.repart.d/20-root-verity.conf
  src/partition/definitions/sysext.repart.d/10-root.conf
  src/partition/definitions/sysext.repart.d/20-root-verity.conf
  test/units/testsuite-50.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, repart, needs-stable-backport

#30332 switch-root: also check that mount IDs are the same, not just inodes
  src/basic/fd-util.c
  src/basic/fd-util.h
  src/shared/switch-root.c
  src/test/test-fd-util.c
Labels: util-lib, tests, good-to-merge/after-next-release

#30343 Raise error if 'ukify genkey' is called with no output arguments
  src/ukify/test/test_ukify.py
  src/ukify/ukify.py
Labels: good-to-merge/after-next-release, uki

#30342 loginctl: show a nicer error message when no session/seat is available
  src/login/loginctl.c
Labels: login, good-to-merge/after-next-release

#30296 shared/killall: correctly warn about rootfs daemon's root
  src/shared/killall.c
Labels: pid1, util-lib, good-to-merge/after-next-release, needs-stable-backport

#30303 core: add specifier expansion to AllowedCPUs= and friends
  src/core/load-fragment.c
Labels: pid1, good-to-merge/after-next-release

#30335 coredump: keep core files for two weeks
  tmpfiles.d/systemd.conf.in
Labels: good-to-merge/after-next-release, downstream/rhel

#30255 pid1: add ProtectSystem= as system-wide configuration, and default it…
  man/systemd-system.conf.xml
  src/core/main.c
  src/core/system.conf.in
Labels: documentation, pid1, new-feature, good-to-merge/after-next-release

#30061 userdbctl: enable ssh-authorized-keys logic by default
  TODO
  meson.build
  meson_options.txt
  src/userdb/20-systemd-userdb.conf.in
  src/userdb/meson.build
  tmpfiles.d/20-systemd-userdb.conf.in
  tmpfiles.d/meson.build
Labels: build-system, good-to-merge/after-next-release, meson, userdb

#30100 mime: register confext/sysext images in shared-mime-info
  meson.build
  mime/io.systemd.xml
  mime/meson.build
Labels: build-system, good-to-merge/after-next-release, meson

#30253 user-util: add new helper fully_set_uid_gid()
  src/basic/user-util.c
  src/basic/user-util.h
  src/core/exec-invoke.c
  src/home/homed-home.c
  src/home/homework-fscrypt.c
  src/nspawn/nspawn-setuid.c
  src/test/test-socket-util.c
Labels: util-lib, tests, good-to-merge/after-next-release

#30190 show-status: suffix output ith CRNL rather than just NL
  src/core/show-status.c
Labels: pid1, good-to-merge/after-next-release

#30183 NL → CRNL conversion fixes when logging at the same time as ptyfwd runs
  src/basic/log.c
  src/basic/stat-util.c
  src/shared/ptyfwd.c
Labels: util-lib, good-to-merge/after-next-release

#30147 recurse-dir: add new readdir_all_by_path() helper
  src/basic/recurse-dir.c
  src/basic/recurse-dir.h
  src/core/import-creds.c
  src/shared/mkfs-util.c
Labels: util-lib, tree-wide, good-to-merge/after-next-release

#30198 systemctl-whoami: use pidfd to refer to processes
  src/systemctl/systemctl-whoami.c
Labels: systemctl, good-to-merge/after-next-release

#29219 udev: generate storage symlinks containing device path and partlabel
  rules.d/60-persistent-storage.rules.in
Labels: udev, good-to-merge/after-next-release

#29465 journal-gatewayd: add since/until parameters for /entries
  man/systemd-journal-gatewayd.service.xml
  src/journal-remote/journal-gatewayd.c
  test/units/testsuite-04.journal-gatewayd.sh
Labels: documentation, tests, journal-remote, good-to-merge/after-next-release

#30338 Fix fwrite() error handling
  src/analyze/analyze-srk.c
  src/creds/creds.c
  src/libsystemd/sd-journal/catalog.c
  src/libsystemd/sd-journal/journal-verify.c
  src/network/networkd-lldp-rx.c
  src/tpm2-setup/tpm2-setup.c
Labels: network, journal, good-to-merge/after-next-release, tpm2

#29853 logind: support Sleep() that automatically choose a sleep operation
  TODO
  man/logind.conf.xml
  man/org.freedesktop.login1.xml
  man/systemctl.xml
  src/login/logind-action.c
  src/login/logind-action.h
  src/login/logind-core.c
  src/login/logind-dbus.c
  src/login/logind-gperf.gperf
  src/login/logind-wall.c
  src/login/logind.c
  src/login/logind.conf.in
  src/login/logind.h
  src/login/test-login-tables.c
  src/systemctl/systemctl-logind.c
  src/systemctl/systemctl-start-special.c
  src/systemctl/systemctl-start-unit.c
  src/systemctl/systemctl.c
  src/systemctl/systemctl.h
  test/units/testsuite-21.sh
  test/units/testsuite-35.sh
Labels: documentation, systemctl, util-lib, tests, sleep, good-to-merge/after-next-release, logind

#30271 fdset,core/executor: ocloexecification ™️
  src/core/exec-invoke.c
  src/core/execute-serialize.c
  src/core/executor.c
  src/core/main.c
  src/notify/notify.c
  src/shared/fdset.c
  src/test/test-fdset.c
Labels: pid1, util-lib, tests, good-to-merge/after-next-release

#30085 networkctl: introduce --runtime for editing network config under /run/
  man/networkctl.xml
  src/network/networkctl.c
  test/units/testsuite-74.networkctl.sh
Labels: network, documentation, tests, good-to-merge/after-next-release

#30302 systemctl edit --stdin
  man/systemctl.xml
  src/shared/edit-util.c
  src/shared/edit-util.h
  src/shared/verbs.c
  src/systemctl/systemctl-edit.c
  src/systemctl/systemctl.c
  src/systemctl/systemctl.h
  test/units/testsuite-26.sh
Labels: documentation, systemctl, util-lib, tests, good-to-merge/after-next-release

#30316 Revert "sysusers.d: create the user for systemd-journal-upload.service"
  sysusers.d/systemd-remote.conf
  test/test-functions
  test/units/testsuite-04.journal-remote.sh
Labels: tests, sysusers, good-to-merge/after-next-release

#30322 A few improvements for hibernate-util/hibernate-resume
  src/hibernate-resume/hibernate-resume-config.c
  src/hibernate-resume/hibernate-resume-config.h
  src/hibernate-resume/hibernate-resume.c
  src/shared/hibernate-util.c
  src/sleep/sleep.c
Labels: util-lib, sleep, good-to-merge/after-next-release, hibernate-resume

#30309 gpt-auto-generator: Pass cryptsetup credentials to cryptsetup
  man/systemd-cryptsetup.xml
  src/shared/generator.c
Labels: documentation, util-lib, please-review

#30324 nspawn: Check later whether to keep/drop CAP_NET_BIND_SERVICE
  src/nspawn/nspawn.c
Labels: nspawn, needs-stable-backport, please-review

#30312 journal: several cleanups
  src/journal/fuzz-journald-audit.c
  src/journal/fuzz-journald-kmsg.c
  src/journal/fuzz-journald-native-fd.c
  src/journal/fuzz-journald-stream.c
  src/journal/fuzz-journald.c
  src/journal/journald-server.c
  src/journal/journald-server.h
  src/journal/journald.c
Labels: journal

#30336 journalctl: don't skip over messages not matching the cursor
  src/journal/journalctl.c
  test/units/testsuite-04.journal.sh
Labels: journal, tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#30060 analyze: add "archs" verb that lists all known architectures
  man/systemd-analyze.xml
  man/systemd.unit.xml
  src/analyze/analyze-architectures.c
  src/analyze/analyze-architectures.h
  src/analyze/analyze-capability.c
  src/analyze/analyze-exit-status.c
  src/analyze/analyze.c
  src/analyze/meson.build
  test/units/testsuite-65.sh
Labels: documentation, analyze, build-system, new-feature, tests, good-to-merge/waiting-for-ci 👍, meson

#30371 various: don't log synthetic EIO for fwrite
  src/creds/creds.c
  src/shared/edit-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#30365 Update test-oomd-util.c to avoid NO_CAST.INTEGER_OVERFLOW
  src/oom/test-oomd-util.c
Labels: tests, good-to-merge/waiting-for-ci 👍, squash-on-merge

#30344 repart: Re-open file descriptor to partition target after mkfs
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#30375 core: do not make private /dev/ read-only too soon
  src/core/namespace.c
  src/test/test-execute.c
  test/test-execute/exec-privatedevices-bind.service
Labels: tests, needs-stable-backport, please-review

#30355 core: relax dependency on RootImage= storage from Requires= to Wants=
  src/core/unit.c
  test/TEST-82-SOFTREBOOT/test.sh
  test/units/testsuite-82.sh
Labels: pid1, tests, good-to-merge/waiting-for-ci 👍

#30367 repart: Don't look for --make-ddi= definitions inside --root=
  src/partition/repart.c
Labels: repart, please-review

#30388 Revert "packit: don't take ownership of /etc/ssh/sshd_config.d/"
  .packit.yml
Labels: good-to-merge/waiting-for-ci 👍

#30362 shared: highlight directives when dumping configs
  src/analyze/analyze-cat-config.c
  src/shared/pretty-print.c
Labels: systemctl, util-lib, good-to-merge/with-minor-suggestions

#30384 core/executor: save argv for later use by rename_process()
  src/core/exec-invoke.c
  src/core/executor.c
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, needs-stable-backport

#30387 test: a couple of tweaks for TEST-17-UDEV
  test/units/testsuite-17.03.sh
  test/units/testsuite-17.06.sh
Labels: udev, tests, good-to-merge/waiting-for-ci 👍

#30398 NEWS: fix typo s/show/shown/
  NEWS
Labels: documentation, please-review

#30400 Assorted coverity fixes
  src/core/mount.c
  src/journal-remote/journal-gatewayd.c
  src/journal-remote/journal-remote-main.c
  src/journal-remote/journal-remote.h
  src/login/logind-action.c
  src/login/test-login-tables.c
  src/systemctl/systemctl-list-units.c
Labels: systemctl, tests, journal-remote, good-to-merge/waiting-for-ci 👍, coverity

#30401 hibernate-util: de-duplicate clear_efi_hibernate_location
  src/hibernate-resume/hibernate-resume-config.c
  src/hibernate-resume/hibernate-resume-config.h
  src/hibernate-resume/hibernate-resume.c
  src/shared/hibernate-util.c
  src/shared/hibernate-util.h
  src/sleep/sleep.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, sleep

#30399 systemctl-show: always show memory peak if available
  src/core/cgroup.c
  src/systemctl/systemctl-show.c
Labels: systemctl, good-to-merge/waiting-for-ci 👍

#30396 core/executor: do destruct static variables and selinux before exiting
  src/core/executor.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#30390 core/exec-invoke: sigwait() returns positive errno and never EINTR
  src/core/exec-invoke.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#30405 resolve: fix wrong error cause assignment to log_debug_errno()
  src/resolve/resolved-dns-stub.c
Labels: resolve, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#30409 elf2efi: remove outdated comment mentioning linker script
  tools/elf2efi.py
Labels: quick-review 🏃‍♂️, please-review

#30408 test: update log message and use SYNTHETIC_ERRNO()
  src/libsystemd/sd-bus/test-bus-chat.c
Labels: sd-bus, tests, good-to-merge/waiting-for-ci 👍

#30407 network: make networkd exit cleanly
  src/libsystemd-network/sd-ipv4acd.c
  src/network/networkd-dhcp4.c
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, please-review

#30404 network/route: fix reachability check when peer address is specified
  src/network/networkd-route-util.c
  test/test-network/conf/25-route-static.network
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, needs-stable-backport, please-review

#30406 resolve: make resolved exit cleanly
  src/resolve/resolved-dns-scope.c
  test/units/testsuite-75.sh
Labels: resolve, tests, please-review

#30416 mkosi: Copy /boot into the ESP as well
  mkosi.images/system/mkosi.repart/00-esp.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#30415 Adding Trekstor Primebook C13 rotation to 60-sensor.hwdb
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, squash-on-merge

#30410 kernel-install: Look for uki.conf in /usr/lib/kernel as well
  src/kernel-install/60-ukify.install.in
Labels: good-to-merge/waiting-for-ci 👍, kernel-install, needs-stable-backport, uki

#30389 Remove temporary directories created by test_ukify
  src/ukify/test/meson.build
  src/ukify/test/test_ukify.py
Labels: tests, uki

#30347 bootctl: fix case-sensitive comparisons in reporting bootloader entries
  src/shared/bootspec.c
  src/test/test-bootspec.c
Labels: util-lib, tests, sd-boot/sd-stub/bootctl

#30413 kernel-install: Fix inspect with --root= when no version is specified
  src/kernel-install/kernel-install.c
Labels: good-to-merge/waiting-for-ci 👍, kernel-install, needs-stable-backport

#30422 network: tiny fixes
  src/network/networkd-address.c
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-neighbor.c
Labels: network, good-to-merge/waiting-for-ci 👍

#30419 executor: don't duplicate FD array to avoid double closing
  src/core/exec-invoke.c
  test/TEST-07-PID1/test.sh
  test/units/testsuite-07.issue-30412.sh
Labels: pid1, tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#30432 network: drop redundant 'struct'
  src/network/networkd-address.c
Labels: network, good-to-merge/waiting-for-ci 👍

#30423 Translations update from Fedora Weblate
  po/tr.po
Labels: l10n 🌍, good-to-merge/waiting-for-ci 👍, please-review

#30426 network: show the reason why NFT operation failed
  src/network/networkd-address.c
Labels: network, good-to-merge/waiting-for-ci 👍

#30438 hibernate-resume: don't wait forever if hibernate info is from EFI
  src/hibernate-resume/hibernate-resume-generator.c
Labels: hibernate-resume, please-review

#30441 nspawn: two trivial nspawn tweaklets
  src/nspawn/nspawn.c
Labels: nspawn, good-to-merge/waiting-for-ci 👍

#30443 execute: handle gracefully if we cannot lock /dev/console when resett…
  src/core/execute.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#30445 Temporarily skip tests with known issues in the systemd-networkd test suite
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#30446 test: "never" is not a valid value for Restart=
  test/units/testsuite-07.issue-30412.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#30442 execute: improve log message about TTY ownership reset failures
  src/core/execute.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#30449 openssl-util: avoid freeing invalid pointer
  src/shared/openssl-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#30451 dissect-tool: right-align the partition number
  src/dissect/dissect.c
Labels: good-to-merge/waiting-for-ci 👍, dissect

#30457 man: make minor corrections to `smbios-type-11(7)`
  man/smbios-type-11.xml
Labels: documentation, please-review

#30456 test: mask the mdmonitor.service
  test/units/testsuite-64.sh
Labels: tests, quick-review 🏃‍♂️, please-review

#30453 dissect-image: various fixes
  src/shared/dissect-image.c
  src/shared/dissect-image.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍, dissect

#30433 network: introduce ManageForeignNextHops=
  man/networkd.conf.xml
  man/systemd.network.xml
  src/network/networkd-gperf.gperf
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-nexthop.c
  src/network/networkd.conf
  test/test-network/conf/networkd-manage-foreign-nexthops-no.conf
  test/test-network/systemd-networkd-tests.py
Labels: network, documentation, tests, please-review

#30452 varlink: improve compat with varlink C reference implementation
  src/shared/varlink.c
Labels: util-lib, good-to-merge/with-minor-suggestions, varlink

#30232 Use exec() to import ukify
  man/ukify.xml
  src/kernel-install/60-ukify.install.in
  src/ukify/ukify.py
Labels: documentation, kernel-install, ci-failure-appears-unrelated, uki

#30450 cgroup: bring list of delegated cgroup attributes up-to-date with cur…
  src/nspawn/nspawn-cgroup.c
  src/shared/cgroup-setup.c
  test/units/testsuite-19.delegate.sh
Labels: cgroups, util-lib, tests, good-to-merge/waiting-for-ci 👍

#30461 test: install all necessary units & generators for LVM on Debian
  test/test-functions
Labels: tests, good-to-merge/waiting-for-reporter-feedback 👍

#30466 mount-util: make sure mount_switch_root() works as clean NOP when '/' is specified as target
  src/shared/mount-util.c
  src/test/test-mount-util.c
Labels: util-lib, tests, please-review

#30472 docs/CREDENTIALS: Don't write authorized_keys with executable bits
  docs/CREDENTIALS.md
Labels: documentation, please-review

#30469 userdb: some smaller userdb tweaks
  src/userdb/userdbd-manager.c
  src/userdb/userwork.c
Labels: userdb, please-review

#30468 rlimit-util: add pid_getrlimit() helper
  src/basic/rlimit-util.c
  src/basic/rlimit-util.h
  src/nspawn/nspawn.c
  src/test/test-rlimit-util.c
Labels: nspawn, util-lib, tests, please-review

#30467 various tweaks to block device ioctls, and loop device mgmt
  src/dissect/dissect.c
  src/home/homework-luks.c
  src/partition/growfs.c
  src/partition/repart.c
  src/shared/blockdev-util.c
  src/shared/blockdev-util.h
  src/shared/discover-image.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/shared/loop-util.c
  src/shared/loop-util.h
Labels: util-lib, dissect, repart, growfs, please-review

#30476 Add three Dell platforms to sensor accel location base
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#30417 core/unit: clean up unit_log_resources
  src/basic/iovec-util.c
  src/basic/iovec-util.h
  src/core/unit.c
  src/fundamental/macro-fundamental.h
  src/libsystemd/sd-journal/journal-file.c
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍

#30444 machine-credential: introduce MachineCredentialContext
  src/nspawn/nspawn.c
  src/shared/machine-credential.c
  src/shared/machine-credential.h
  src/vmspawn/vmspawn.c
Labels: util-lib, please-review

#30463 Add $SYSTEMD_HWDB_UPDATE_BYPASS
  docs/ENVIRONMENT.md
  src/hwdb/hwdb.c
  src/shared/hwdb-util.c
  src/shared/hwdb-util.h
  src/udev/udevadm-hwdb.c
Labels: udev, documentation, util-lib, good-to-merge/waiting-for-ci 👍

#30440 network/nexthop: several cleanups
  src/libsystemd/sd-netlink/netlink-message-rtnl.c
  src/network/networkd-json.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-nexthop.c
  src/network/networkd-nexthop.h
  src/network/networkd-queue.c
  src/network/networkd-route.c
Labels: network, sd-netlink, good-to-merge/waiting-for-ci 👍

#30486 Fix a typo in the org.freedesktop.systemd1 man page
  man/org.freedesktop.systemd1.xml
Labels: documentation, please-review

#30484 A couple of test-related tweaks
  src/test/test-bootspec.c
  test/test-functions
  test/units/testsuite-04.bsod.sh
  test/units/testsuite-75.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#30487 meson: make lines more consistent
  meson.build
Labels: build-system, meson, good-to-merge/with-minor-suggestions

#30505 resolved-util: NUL-terminate host label
  src/resolve/resolved-util.c
Labels: resolve, please-review

#30503 Add Bosto BT-12HD series to hwdb
  hwdb.d/60-evdev.hwdb
Labels: hwdb, please-review

#30494 Trivial cleanups
  NEWS
  test/test-systemctl-enable.sh
Labels: documentation, tests, good-to-merge/waiting-for-ci 👍

#30482 A few fixes for ferror() handling
  src/basic/cgroup-util.c
  src/basic/uid-range.c
  src/basic/uid-range.h
  src/basic/virt.c
  src/fsck/fsck.c
  src/machine/machine.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#30479 Man pages synopsis layout
  man/binfmt.d.xml
  man/coredump.conf.xml
  man/dnssec-trust-anchors.d.xml
  man/environment.d.xml
  man/homed.conf.xml
  man/journal-remote.conf.xml
  man/journald.conf.xml
  man/logind.conf.xml
  man/modules-load.d.xml
  man/networkd.conf.xml
  man/oomd.conf.xml
  man/os-release.xml
  man/repart.d.xml
  man/resolved.conf.xml
  man/sd-bus.xml
  man/sd-device.xml
  man/sysctl.d.xml
  man/systemd-ask-password-console.service.xml
  man/systemd-fsck@.service.xml
  man/systemd-journald.service.xml
  man/systemd-sleep.conf.xml
  man/systemd-stub.xml
  man/systemd-suspend.service.xml
  man/systemd-sysext.xml
  man/systemd-tmpfiles.xml
  man/systemd.environment-generator.xml
  man/systemd.generator.xml
  man/systemd.nspawn.xml
  man/systemd.pcrlock.xml
  man/systemd.preset.xml
  man/systemd.unit.xml
  man/sysupdate.d.xml
  man/sysusers.d.xml
  man/timesyncd.conf.xml
  man/tmpfiles.d.xml
Labels: resolve, documentation, timesync, coredump, sysctl, sleep, binfmt, env-generator, repart, sysupdate, please-review

#30511 shutdown: Send EXIT_STATUS before final sync
  src/shutdown/shutdown.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, needs-stable-backport

#30150 add "homectl firstboot" verb, that runs at first boot and can create a user, interactively or from creds
  TODO
  man/homectl.xml
  man/kernel-command-line.xml
  man/rules/meson.build
  man/systemd.system-credentials.xml
  mkosi.conf
  src/firstboot/firstboot.c
  src/home/homectl.c
  src/shared/creds-util.c
  src/shared/creds-util.h
  units/meson.build
  units/systemd-homed-firstboot.service
  units/systemd-homed.service.in
Labels: documentation, build-system, new-feature, util-lib, good-to-merge/waiting-for-ci 👍, units, meson, homed

#30321 find-esp: gracefully handle btrfs RAID
  src/shared/find-esp.c
  test/TEST-24-CRYPTSETUP/test.sh
  test/TEST-64-UDEV-STORAGE/test.sh
  test/TEST-74-AUX-UTILS/test.sh
  test/test-functions
  test/units/testsuite-64.sh
  test/units/testsuite-74.bootctl.sh
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#30515 extend most DNS label buffers by one
  src/resolve/resolved-dns-dnssec.c
  src/resolve/resolved-dns-packet.c
  src/resolve/resolved-manager.c
  src/shared/dns-domain.c
  src/shared/specifier.c
Labels: resolve, util-lib, good-to-merge/waiting-for-ci 👍

#30509 test-network: accept kernel versions like 1.2.3+ (self-built)
  test/test-network/systemd-networkd-tests.py
Labels: tests, please-review

#30508 test-network: fix racy test for address_static
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, please-review

#30492 test: skip TEST-08-INITRD if systemd didn't run in the initrd
  test/TEST-08-INITRD/deny-list-ubuntu-ci
  test/TEST-08-INITRD/test.sh
  test/units/testsuite-08.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#30464 Misc integration test fixes
  mkosi.conf
  mkosi.images/base/mkosi.build.chroot
  mkosi.images/system/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-fedora.conf
  mkosi.images/system/mkosi.postinst.chroot
  test/units/testsuite-15.sh
  test/units/testsuite-26.sh
  test/units/testsuite-31.sh
  test/units/testsuite-60.sh
  test/units/testsuite-65.sh
  test/units/testsuite-73.sh
  test/units/util.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#30522 typo: transer -> transfer
  src/resolve/dns-type.c
  src/resolve/dns-type.h
  src/resolve/resolved-bus.c
  src/resolve/resolved-dns-stub.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#30520 test: add missing operators
  test/units/testsuite-04.bsod.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#30519 ether-addr-util: split out logic to mark MAC addresses as random
  src/basic/ether-addr-util.c
  src/basic/ether-addr-util.h
  src/nspawn/nspawn-network.c
Labels: network, util-lib, good-to-merge/waiting-for-ci 👍

#30518 A couple of assorted tweaks
  man/systemctl.xml
  src/analyze/analyze-verify-util.c
  src/journal/journalctl.c
  src/pcrlock/pcrlock.c
Labels: journal, documentation, systemctl, good-to-merge/waiting-for-ci 👍

#30517 siphash: make sure siphash24_compress_usec_t() works the same on LE/B…
  src/basic/siphash24.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#30491 vconsole-setup: handle the case where the vc is in KD_GRAPHICS mode m…
  src/vconsole/vconsole-setup.c
Labels: vconsole, good-to-merge/waiting-for-ci 👍

#30397 udev: allow/denylist for reading sysfs attributes when composing a NIC name
  man/systemd.net-naming-scheme.xml
  rules.d/75-net-description.rules
  src/shared/netif-naming-scheme.c
  src/shared/netif-naming-scheme.h
  src/udev/udev-builtin-net_id.c
Labels: udev, documentation, util-lib, good-to-merge/waiting-for-ci 👍, predictable-ifnames

#30523 find-esp: add debugging log about failure in parsing env variable
  src/shared/find-esp.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#30527 test: Skip various tests when /sys is not mounted
  mkosi.images/base/mkosi.conf
  src/libsystemd/sd-bus/test-bus-creds.c
  src/libsystemd/sd-device/test-sd-device-monitor.c
  src/libsystemd/sd-device/test-sd-device-thread.c
  src/libsystemd/sd-device/test-sd-device.c
  src/libsystemd/sd-login/test-login.c
  src/libudev/test-udev-device-thread.c
  src/shared/tests.c
  src/test/meson.build
  src/test/test-cgroup-util.c
  src/test/test-cgroup.c
  src/test/test-condition.c
  src/test/test-mountpoint-util.c
  src/test/test-watch-pid.c
  src/udev/test-udev-format.c
  src/udev/test-udev-spawn.c
  test/hwdb-test.sh
Labels: udev, sd-bus, build-system, util-lib, tests, sd-device, good-to-merge/waiting-for-ci 👍, meson

#30531 Trivial cleanups
  src/basic/signal-util.c
  src/basic/time-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#30528 varlink: these two errors where added to the spec, we aren't squattin…
  src/shared/varlink.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍, varlink

#30530 test: reset systemd-resolved.service's restart counter
  test/units/testsuite-75.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#30493 Add verbose output on unit start #5717
  src/firstboot/firstboot.c
  src/mount/mount-tool.c
  src/network/networkctl.c
  src/nspawn/nspawn-register.c
  src/run/run.c
  src/shared/bus-wait-for-jobs.c
  src/shared/bus-wait-for-jobs.h
  src/shared/tests.c
  src/systemctl/systemctl-start-unit.c
  src/test/test-mempress.c
Labels: network, systemctl, util-lib, tests, run, good-to-merge/waiting-for-ci 👍

#30529 test: trigger /boot mount if it's an automount
  test/units/testsuite-07.exec-context.sh
Labels: tests, please-review

#30534 Man page update and fix typo
  man/systemd.net-naming-scheme.xml
  src/userdb/userwork.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, userdb

#30525 networkctl: introduce verb mask and unmask
  man/networkctl.xml
  src/network/meson.build
  src/network/networkctl-config-file.c
  src/network/networkctl-config-file.h
  src/network/networkctl.c
  src/network/networkctl.h
  src/shared/install.c
  test/units/testsuite-74.networkctl.sh
Labels: network, documentation, build-system, util-lib, tests, good-to-merge/waiting-for-ci 👍, meson

#30526 rules: set up tty permissions and group for /dev/hvc* nodes
  rules.d/50-udev-default.rules.in
Labels: udev, good-to-merge/waiting-for-ci 👍

#30418 bootctl: update/list/remove all instances of systemd-boot in /EFI/BOOT
  src/boot/bootctl-install.c
  src/boot/bootctl-status.c
Labels: sd-boot/sd-stub/bootctl, please-review

#30536 network/bridge-vlan: add debugging logs and documentation update
  NEWS
  man/systemd.network.xml
  src/network/networkd-bridge-vlan.c
Labels: network, documentation, good-to-merge/waiting-for-ci 👍

#30537 run: arg_service_type is not supposed to be allocated from heap
  src/run/run.c
Labels: run, good-to-merge/waiting-for-ci 👍

#30543 core/execute: trivial cleanup
  src/core/execute.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#30538 ptyfwd: reset colors when we exit the pty forwarding logic
  src/shared/ptyfwd.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#30551 network/neighbor: fix log message and comment
  src/network/networkd-neighbor.c
Labels: network, good-to-merge/waiting-for-ci 👍

#30548 analyze: check all executables
  src/analyze/analyze-verify-util.c
  test/units/testsuite-65.sh
Labels: analyze, tests, good-to-merge/waiting-for-ci 👍

#30544 network: also log drop-in config files
  src/network/networkd-link.c
  test/test-network/conf/11-test-unit-file.link
  test/test-network/conf/11-test-unit-file.link.d/dropin.conf
  test/test-network/conf/11-test-unit-file.netdev
  test/test-network/conf/11-test-unit-file.netdev.d/dropin.conf
  test/test-network/conf/11-test-unit-file.network
  test/test-network/conf/11-test-unit-file.network.d/dropin.conf
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#30552 core: imply SetLoginEnvironment= if PAMName= is set
  man/systemd.exec.xml
  src/core/exec-invoke.c
  src/core/execute.c
  src/core/execute.h
Labels: documentation, pid1, good-to-merge/waiting-for-ci 👍

#30549 resolved: actually check authenticated flag of SOA transaction
  src/resolve/resolved-dns-transaction.c
Labels: resolve, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#30559 dbus-execute: use new exec_context_get_set_login_environment() helper…
  src/core/dbus-execute.c
Labels: pid1, good-to-merge/waiting-for-ci 👍
