Repository systemd/systemd, pull requests merged in 2023-01, with the labels that each got.

#25895 Update 60-sensor.hwdb
  hwdb.d/60-sensor.hwdb
Labels: hwdb, please-review

#25903 ukify: Fix section offset calculation
  src/ukify/ukify.py
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, uki

#25884 manager: perform objective->shutdown_verb mapping locally
  src/core/main.c
Labels: good-to-merge/waiting-for-ci 👍, shutdown

#25912 ukify fixes
  src/ukify/ukify.py
Labels: good-to-merge/waiting-for-ci 👍, downstream/suse, uki

#25913 core: rework operation_to_signal() to rename return parameter ret_xyz
  src/core/unit.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#25914 fundamental: rework IN_SET() to require at least three arguments
  src/basic/fileio.c
  src/core/timer.c
  src/core/unit.c
  src/fundamental/macro-fundamental.h
  src/resolve/resolved-dns-rr.h
  src/shared/varlink.c
  src/systemctl/systemctl-start-special.c
  src/test/test-macro.c
  src/tmpfiles/offline-passwd.c
Labels: resolve, systemctl, tree-wide, good-to-merge/waiting-for-ci 👍

#25919 man: Fix systemd-boot man page wrong secure keys location
  man/systemd-boot.xml
Labels: sd-boot/sd-stub/bootctl, please-review

#25848 Revert "boot: Use EFI_BOOT_MANAGER_POLICY_PROTOCOL to connect console devices"
  src/boot/efi/console.c
  src/boot/efi/missing_efi.h
Labels: sd-boot/sd-stub/bootctl, needs-stable-backport, please-review

#25858 efi-api: check the EFI_TCG2_FINAL_EVENTS_TABLE in efi_has_tpm2()
  src/shared/efi-api.c
Labels: good-to-merge/waiting-for-ci 👍

#25908 Added Tablet Teclast X98 Air 3G (C5J6)
  hwdb.d/60-sensor.hwdb
Labels: hwdb, please-review

#25869 udev: match device tags in rules using current device tags
  src/udev/udev-rules.c
Labels: udev, please-review

#25910 Fix FTBS when -std=gnu2x
  src/basic/cgroup-util.c
  src/basic/hashmap.c
  src/libsystemd-network/sd-dhcp-lease.c
Labels: network, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#25922 efi: skip Read() calls with zero sizes
  src/boot/efi/boot.c
  src/boot/efi/util.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#25926 hwdb: remove spurious whitespace
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, priority

#25802 move EFI random seed update logic from systemd-random-seed.service into separate service
  man/bootctl.xml
  man/rules/meson.build
  man/systemd-boot-random-seed.service.xml
  man/systemd-boot-system-token.service.xml
  man/systemd-boot.xml
  man/systemd-random-seed.service.xml
  src/boot/bootctl-random-seed.c
  src/fundamental/sha256.h
  src/random-seed/random-seed.c
  units/meson.build
  units/systemd-boot-random-seed.service
  units/systemd-boot-update.service
  units/systemd-random-seed.service.in
Labels: sd-boot/sd-stub/bootctl, random-seed, good-to-merge/waiting-for-ci 👍, units

#25879 man: note that DynamicUser=yes is incompatible with D-Bus
  man/systemd.exec.xml
Labels: documentation, pid1, good-to-merge/waiting-for-ci 👍

#25866 udev: Fix some tablet pads being classified as mouse or joysticks
  src/udev/udev-builtin-input_id.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#25871 systemctl: edit: rephrase edit markers to avoid misunderstanding
  src/systemctl/systemctl-edit.c
Labels: systemctl, good-to-merge/waiting-for-ci 👍

#25929 resolvectl: show 127.0.0.1 among global DNS servers again
  src/resolve/resolvectl.c
  src/resolve/resolved-bus.c
Labels: resolve, ci-failure-appears-unrelated, needs-stable-backport

#25945 resolvectl: remove duplicate ':' from output
  src/resolve/resolvectl.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#25942 dns-domain: dns_name_is_empty() is redundant
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-synthesize.c
  src/shared/dns-domain.c
  src/shared/dns-domain.h
Labels: resolve, good-to-merge/waiting-for-ci 👍

#25943 units: condition systemd-networkd-wait-online.service like systemd-ne…
  units/systemd-networkd-wait-online.service.in
Labels: network, good-to-merge/waiting-for-ci 👍, units

#25938 bootctl: print entry token as well
  src/boot/bootctl-install.c
  src/boot/bootctl-status.c
  src/boot/bootctl-util.c
  src/boot/bootctl-util.h
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#25941 virt: fix container detection
  src/basic/virt.c
Labels: good-to-merge/waiting-for-ci 👍, detect-virt, needs-stable-backport

#25940 kernel-install: run depmod only if writeable
  src/kernel-install/50-depmod.install
Labels: good-to-merge/waiting-for-ci 👍, kernel-install

#25935 hwdb: Add Dell models that require ACCEL_LOCATION=base
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#25949 bootspec: show default/selected entry info in JSON output
  src/shared/bootspec.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#25953 bootctl: Fix NULL pointer dereference
  src/shared/bootspec.c
Labels: sd-boot/sd-stub/bootctl, quick-review 🏃‍♂️, needs-stable-backport, please-review

#25958 CODING_STYLE: fix 'better' typo
  docs/CODING_STYLE.md
Labels: documentation, good-to-merge/waiting-for-ci 👍

#25955 gpt-auto-generator: improve log messages a bit
  src/gpt-auto-generator/gpt-auto-generator.c
Labels: gpt-auto, good-to-merge/waiting-for-ci 👍

#25947 resolved: add support for reading DNS config from kernel cmdline + service credentials
  TODO
  man/kernel-command-line.xml
  man/systemd-resolved.service.xml
  man/systemd.system-credentials.xml
  src/resolve/resolved-conf.c
  units/systemd-resolved.service.in
Labels: resolve, new-feature, units, please-review

#25956 man: document explicitly that LogRateLimit= has no effect on Standard…
  man/systemd.exec.xml
Labels: documentation, pid1, quick-review 🏃‍♂️, please-review

#25957 tmpfiles: avoid null free() for acl attributes
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles, good-to-merge/waiting-for-ci 👍

#25959 nspawn: guard acl_free() with a NULL check
  src/nspawn/nspawn-patch-uid.c
Labels: nspawn, good-to-merge/waiting-for-ci 👍

#25954 journald: fix followup comments on regex feature
  src/core/cgroup.c
  src/core/load-fragment.c
  src/shared/pcre2-util.c
  src/test/test-nulstr-util.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#25918 Support AF_VSOCK in sd_notify and pick up notify_socket from creds
  TODO
  docs/CREDENTIALS.md
  man/sd_notify.xml
  man/systemd.system-credentials.xml
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/core/import-creds.c
  src/libsystemd/sd-daemon/sd-daemon.c
  src/shared/socket-netlink.c
Labels: documentation, pid1, new-feature, notify, good-to-merge/with-minor-suggestions, creds

#25964 man: improve docs about systemd-notify invocations and NotifyAccess= …
  man/systemd-notify.xml
Labels: documentation, pid1, notify

#25969 oss-fuzz: include generated corpora in the final zip file
  tools/oss-fuzz.sh
Labels: fuzzing

#25936 EmergencyAction parsing fix
  src/core/load-fragment.c
  src/core/main.c
Labels: pid1, please-review

#25915 pid1: rework service_arm_timer() to optionally take a relative time v…
  src/core/service.c
  src/libsystemd/sd-event/sd-event.c
Labels: pid1

#25974 boot: Remove option TPM PCR compat option
  TODO
  meson.build
  meson_options.txt
  src/boot/efi/cpio.c
  src/boot/efi/cpio.h
  src/boot/efi/measure.c
  src/boot/efi/meson.build
  src/boot/efi/stub.c
  src/fundamental/tpm-pcr.h
Labels: sd-boot/sd-stub/bootctl, please-review

#25979 Coverity fixes
  src/boot/bootctl-random-seed.c
  src/tmpfiles/offline-passwd.c
Labels: tmpfiles, sd-boot/sd-stub/bootctl, coverity, please-review

#25985 man: make clearer that sd_bus_get_timeout() returns an absolute time-out
  man/sd_bus_get_fd.xml
Labels: documentation, sd-bus

#25973 boot: Simplify object erasure
  .github/codeql-queries/UninitializedVariableWithCleanup.ql
  src/basic/memory-util.c
  src/basic/memory-util.h
  src/boot/efi/efi-string.h
  src/boot/efi/random-seed.c
  src/boot/efi/util.h
  src/fundamental/memory-util-fundamental.h
  src/fundamental/meson.build
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#25982 Fix build with the latest libcurl
  src/import/curl-util.c
  src/import/pull-job.c
Labels: import, good-to-merge/waiting-for-ci 👍

#25987 shutdown: propagate mount() failures from child to parent
  src/basic/process-util.c
  src/basic/process-util.h
  src/shutdown/umount.c
Labels: good-to-merge/waiting-for-ci 👍, shutdown

#25994 Small Typo Fix in Manpages ``systemd.exec`` & ``systemd-nspawn``
  man/systemd-nspawn.xml
  man/systemd.exec.xml
Labels: please-review

#25980 udev,pid1: gracefully handle failure in renaming network interface
  src/core/device.c
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/sd-device.c
  src/udev/udev-event.c
  test/units/testsuite-17.02.sh
Labels: udev, pid1, good-to-merge/waiting-for-ci 👍

#25990 Fix Positivo MASTER-N1110 key toggle touchpad
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#25995 hwdb: Mark Dell platform accel sensor location to base
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#25997 shutdown: propagate the original errno
  src/shutdown/umount.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, shutdown

#25992 kernel-install: refactor some variables
  src/kernel-install/90-loaderentry.install.in
Labels: kernel-install, ci-failure-appears-unrelated

#24939 journal: enforce strict consistency for realtime timestamps on write
  src/journal/journald-server.c
  src/journal/managed-journal-file.c
  src/journal/test-journal-flush.c
  src/libsystemd/sd-journal/journal-file.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#26002 man: restore example formatting in systemd-coredump(8)
  man/systemd-coredump.xml
Labels: good-to-merge/waiting-for-ci 👍

#26000 shutdown: don't close pipe fds.
  src/shutdown/umount.c
Labels: good-to-merge/waiting-for-ci 👍, shutdown

#26001 ci: Remove a bunch of labels when a PR is merged
  .github/workflows/labeler.yml
Labels: good-to-merge/waiting-for-ci 👍

#25318 core: add OpenFile setting
  man/org.freedesktop.systemd1.xml
  man/systemd.service.xml
  src/core/dbus-service.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/service.c
  src/core/service.h
  src/shared/bus-unit-util.c
  src/shared/meson.build
  src/shared/open-file.c
  src/shared/open-file.h
  src/systemctl/systemctl-show.c
  src/test/meson.build
  src/test/test-load-fragment.c
  src/test/test-open-file.c
  test/TEST-77-OPENFILE/Makefile
  test/TEST-77-OPENFILE/test.sh
  test/units/testsuite-77-netcat.service
  test/units/testsuite-77-netcat.sh
  test/units/testsuite-77-run.sh
  test/units/testsuite-77-socket.service
  test/units/testsuite-77-socket.sh
  test/units/testsuite-77.service
  test/units/testsuite-77.sh
Labels: pid1, systemctl, good-to-merge/waiting-for-ci 👍

#25993 bootctl: honor $KERNEL_INSTALL_CONF_ROOT
  docs/ENVIRONMENT.md
  src/basic/path-util.h
  src/boot/bootctl-install.c
  src/boot/bootctl-util.c
  src/boot/bootctl-util.h
Labels: documentation, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#26003 Fix one compile-time conditional and refactor SD_BOOT definition
  meson.build
  src/boot/efi/efi-string.c
  src/boot/efi/efi-string.h
  src/boot/efi/meson.build
  src/fundamental/macro-fundamental.h
  src/fundamental/memory-util-fundamental.h
  src/fundamental/sha256.c
  src/fundamental/string-util-fundamental.c
  src/fundamental/string-util-fundamental.h
Labels: util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, meson

#25986 test-netlink: cleanups
  src/libsystemd/sd-netlink/test-netlink.c
Labels: tests, sd-netlink, please-review

#25916 pid1: add new Type=notify-reload service type for a service reload protocol based on SIGHUP
  TODO
  man/org.freedesktop.systemd1.xml
  man/sd_notify.xml
  man/systemd-notify.xml
  man/systemd.service.xml
  src/basic/unit-def.c
  src/basic/unit-def.h
  src/core/dbus-service.c
  src/core/load-fragment-gperf.gperf.in
  src/core/main.c
  src/core/manager.c
  src/core/manager.h
  src/core/service.c
  src/core/service.h
  src/login/logind.c
  src/network/networkd-manager-bus.c
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd.c
  src/notify/notify.c
  src/shared/bus-unit-util.c
  src/udev/udevd.c
  test/units/testsuite-59.sh
  units/systemd-logind.service.in
  units/systemd-networkd.service.in
  units/systemd-udevd.service.in
  units/user@.service.in
Labels: udev, network, login, documentation, pid1, new-feature, notify, good-to-merge/waiting-for-ci 👍, units

#26007 ukify: Fix tools detection if --tools was not passed
  src/ukify/ukify.py
Labels: ci-failure-appears-unrelated, uki

#26014 network: L2TP fixlets
  src/network/netdev/l2tp-tunnel.c
Labels: network, quick-review 🏃‍♂️, needs-stable-backport, please-review

#26016 base64mem() return type fix
  src/basic/hexdecoct.c
  src/cryptenroll/cryptenroll-fido2.c
  src/cryptenroll/cryptenroll-pkcs11.c
  src/cryptenroll/cryptenroll-tpm2.c
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-systemd-tpm2.c
  src/cryptsetup/cryptsetup-tokens/luks2-fido2.c
  src/cryptsetup/cryptsetup-tokens/luks2-pkcs11.c
  src/cryptsetup/cryptsetup.c
  src/home/homectl-fido2.c
  src/home/homectl-pkcs11.c
  src/home/homework-fido2.c
  src/home/homework-fscrypt.c
  src/partition/repart.c
Labels: tree-wide, good-to-merge/waiting-for-ci 👍

#26015 hwdb: Add mount matrix for Linx 1020
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#26020 github: use 'meson setup'
  .github/workflows/build_test.sh
Labels: good-to-merge/waiting-for-ci 👍

#26008 man: Use ukify instead of objcopy in examples
  man/systemd-measure.xml
  man/systemd-stub.xml
Labels: documentation, uki

#26019 man: explain what kind of data is actually included in "systemd-analy…
  man/systemd-analyze.xml
Labels: documentation, analyze, quick-review 🏃‍♂️

#26025 coredump: re-document raised default dump sizes
  src/coredump/coredump.conf
Labels: documentation

#26023 Man page updates
  catalog/systemd.catalog.in
  man/bootctl.xml
  man/journalctl.xml
  man/kernel-install.xml
  man/loader.conf.xml
  man/nss-myhostname.xml
  man/os-release.xml
  man/pam_systemd_home.xml
  man/portablectl.xml
  man/repart.d.xml
  man/systemd-boot.xml
  man/systemd-creds.xml
  man/systemd-cryptenroll.xml
  man/systemd-cryptsetup-generator.xml
  man/systemd-integritysetup-generator.xml
  man/systemd-measure.xml
  man/systemd-nspawn.xml
  man/systemd-oomd.service.xml
  man/systemd-pcrphase.service.xml
  man/systemd-portabled.service.xml
  man/systemd-sysext.xml
  man/systemd-veritysetup-generator.xml
  man/systemd-volatile-root.service.xml
  man/systemd.exec.xml
  man/systemd.link.xml
  man/systemd.network.xml
  man/systemd.path.xml
  man/systemd.resource-control.xml
  man/systemd.timer.xml
  man/sysupdate.d.xml
  man/tmpfiles.d.xml
  man/udevadm.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#25904 optionally set linux socket priority on DHCPv4 raw socket
  NEWS
  man/systemd.network.xml
  src/libsystemd-network/dhcp-internal.h
  src/libsystemd-network/dhcp-network.c
  src/libsystemd-network/fuzz-dhcp-client.c
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/test-dhcp-client.c
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp4.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
  src/systemd/sd-dhcp-client.h
Labels: network, documentation, dhcp, please-review

#25825 network: fix race between RTM_NEWLINK and NL82011_CMD_NEW_INTERFACE
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-wifi.c
Labels: network, please-review

#25577 network: Show network and link file dropins in networkctl status
  src/libsystemd/sd-network/sd-network.c
  src/network/networkctl.c
  src/network/networkd-json.c
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-state-file.c
  src/systemd/sd-network.h
  src/udev/net/link-config.c
  src/udev/net/link-config.h
  src/udev/udev-builtin-net_setup_link.c
  test/networkd-test.py
Labels: udev, network, please-review

#25661 systemctl: suppress warning about missing /proc/ when --no-warn
  man/systemctl.xml
  shell-completion/bash/systemctl.in
  shell-completion/zsh/_systemctl.in
  src/systemctl/systemctl.c
Labels: systemctl, good-to-merge/waiting-for-ci 👍

#26031 ci: Fix PR labeling
  .github/workflows/labeler.yml
Labels: good-to-merge/waiting-for-ci 👍

#26022 dissect-image: Notify btrfs when we're done using a loop device
  src/shared/blockdev-util.c
  src/shared/btrfs-util.c
  src/shared/btrfs-util.h
  src/shared/dissect-image.c
Labels: btrfs, good-to-merge/waiting-for-ci 👍, dissect

#26041 cgroup: Do not emit compat message without memory limit
  src/core/cgroup.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#26040 test: explicitly create the /etc/init.d directory
  test/units/testsuite-26.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#26036 bootspec: show efi entry too
  src/shared/bootspec.c
Labels: good-to-merge/waiting-for-ci 👍

#26047 udev: several cleanups
  src/udev/udev-node.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#26058 test: support a non-default SysV directory
  test/units/testsuite-26.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#26049 busctl: fix introspecting DBus properties
  src/busctl/busctl.c
Labels: busctl, please-review

#26063 man: libudev: fix typo
  man/libudev.xml
Labels: please-review

#26068 docs/man: remove reference to default vsock CID
  docs/CREDENTIALS.md
  man/systemd.system-credentials.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#26062 ukify: Fix version string
  src/ukify/ukify.py
Labels: good-to-merge/waiting-for-ci 👍, uki

#26073 man: udev_enumerate_new: fix typo
  man/udev_enumerate_new.xml
Labels: please-review

#26072 gpt-auto: harden ESP/XBOOTLDR mounts with "noexec,nosuid,nodev"
  src/gpt-auto-generator/gpt-auto-generator.c
Labels: gpt-auto, good-to-merge/waiting-for-ci 👍

#26074 man: clarify applicability of IPv6AcceptRA option
  man/systemd.network.xml
Labels: documentation, please-review

#26056 Handle bind mount of a file with a non-existing target
  man/systemd.mount.xml
  src/core/mount.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#25999 ci: Update mkosi action to latest commit
  .github/workflows/mkosi.yml
  mkosi.build
  mkosi.conf.d/centos/10-mkosi.centos
  src/boot/efi/meson.build
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#26051 systemctl: list-dependencies: support --type= and --state=
  man/systemctl.xml
  src/systemctl/systemctl-list-dependencies.c
  src/systemctl/systemctl-util.c
  src/systemctl/systemctl-util.h
  test/units/testsuite-26.sh
Labels: systemctl, good-to-merge/waiting-for-ci 👍

#26054 creds-util: some fixes related with TPM2 and capabilities
  src/shared/creds-util.c
Labels: good-to-merge/waiting-for-ci 👍, creds

#26071 network: make TCP quick ACK mode for dynamic routes configurable
  NEWS
  man/systemd.network.xml
  src/network/networkd-dhcp4.c
  src/network/networkd-ndisc.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.h
Labels: network, documentation, good-to-merge/waiting-for-ci 👍

#26075 network: fix memleak
  src/network/networkd-address.c
  src/network/networkd-route.c
Labels: network, good-to-merge/waiting-for-ci 👍

#26069 sd-dhcp6: always append the default status message generated from status code
  src/libsystemd-network/dhcp6-option.c
  src/libsystemd-network/sd-dhcp6-lease.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#26070 sd-dhcp-client: gracefully handle invalid ether type client ID
  src/libsystemd-network/sd-dhcp-client.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#26004 tree-wide: use CLEANUP_ERASE() at many places
  src/basic/hexdecoct.c
  src/fundamental/memory-util-fundamental.h
  src/home/homework-fscrypt.c
  src/shared/ask-password-api.c
  src/shared/creds-util.c
  src/shared/ethtool-util.c
  src/shared/tpm2-util.c
  src/test/test-hexdecoct.c
Labels: util-lib, tree-wide, please-review

#26005 boot: Detect hypervisors using SMBIOS info
  src/boot/efi/meson.build
  src/boot/efi/secure-boot.c
  src/boot/efi/ticks.c
  src/boot/efi/util.c
  src/boot/efi/util.h
  src/boot/efi/vmm.c
  src/boot/efi/vmm.h
Labels: sd-boot/sd-stub/bootctl, please-review

#25006 cryptsetup: measure LUKS volume keys to PCR 15
  TODO
  docs/ENVIRONMENT.md
  man/crypttab.xml
  man/rules/meson.build
  man/systemd-cryptenroll.xml
  man/systemd-gpt-auto-generator.xml
  man/systemd-pcrphase.service.xml
  man/systemd.mount.xml
  meson.build
  src/basic/special.h
  src/boot/pcrphase.c
  src/cryptsetup/cryptsetup.c
  src/fstab-generator/fstab-generator.c
  src/fundamental/tpm-pcr.h
  src/gpt-auto-generator/gpt-auto-generator.c
  src/shared/efi-loader.c
  src/shared/efi-loader.h
  src/shared/generator.c
  src/shared/generator.h
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
  test/TEST-70-TPM2/test.sh
  test/units/testsuite-70.sh
  units/meson.build
  units/systemd-growfs-root.service.in
  units/systemd-growfs@.service.in
  units/systemd-pcrfs-root.service.in
  units/systemd-pcrfs@.service.in
  units/systemd-pcrmachine.service.in
Labels: documentation, cryptsetup, units, please-review

#26043 send dhcpv6 release message on stop
  NEWS
  man/systemd.network.xml
  src/libsystemd-network/dhcp6-internal.h
  src/libsystemd-network/dhcp6-protocol.c
  src/libsystemd-network/dhcp6-protocol.h
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/test-dhcp6-client.c
  src/network/networkd-dhcp6.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/sd-dhcp6-client.h
Labels: network, documentation, dhcp, good-to-merge/waiting-for-ci 👍

#26084 units: don't install pcrphase-related units without gnu-efi
  units/meson.build
Labels: units

#26087 boot: Fix missed argument to Print()
  src/boot/efi/secure-boot.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#26091 doc: document how we expect empty lines to be used
  docs/CODING_STYLE.md
Labels: documentation

#26086 coredump: use fstatvfs to check the available space
  src/coredump/coredump.c
Labels: coredump, good-to-merge/waiting-for-reporter-feedback 👍

#26081 udev: support -= operator for SYMLINK
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/sd-device.c
  src/udev/udev-rules.c
  test/udev-test.pl
Labels: udev, good-to-merge/waiting-for-ci 👍

#26088 test: bump D-Bus service start timeout if we run without accel
  test/test-functions
Labels: tests, good-to-merge/waiting-for-ci 👍

#26044 repart: Allow configuring sector size
  man/systemd-repart.xml
  src/basic/parse-util.c
  src/basic/parse-util.h
  src/home/homectl.c
  src/home/homework-luks.c
  src/partition/makefs.c
  src/partition/repart.c
  src/shared/mkfs-util.c
  src/shared/mkfs-util.h
  src/test/test-loop-block.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#26093 hwdb: Add mic mute key mappings for Dell G16 Series
  hwdb.d/60-keyboard.hwdb
Labels: hwdb

#26077 core: add GetUnitByPIDFD method and use it in systemctl
  man/org.freedesktop.systemd1.xml
  src/core/dbus-manager.c
  src/core/org.freedesktop.systemd1.conf
  src/systemctl/systemctl-show.c
  test/units/testsuite-26.sh
Labels: pid1, systemctl, rc-blocker 🚧

#26092 auto-detect intended sector size from DDI disk images, and configure loopback devices for it
  src/core/namespace.c
  src/dissect/dissect.c
  src/home/homework-luks.c
  src/nspawn/nspawn.c
  src/partition/repart.c
  src/portable/portable.c
  src/shared/blockdev-util.c
  src/shared/blockdev-util.h
  src/shared/discover-image.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/shared/fdisk-util.c
  src/shared/fdisk-util.h
  src/shared/loop-util.c
  src/shared/loop-util.h
  src/sysext/sysext.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, dissect, portable

#26021 Some journald improvements
  src/journal/journald-server.c
  src/libsystemd/meson.build
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-journal/journal-file.h
  src/libsystemd/sd-journal/test-journal-file.c
Labels: journal, please-review

#26095 test-network: reprocess the loopback network interface
  test/test-network/systemd-networkd-tests.py
Labels: udev, tests, good-to-merge/waiting-for-ci 👍

#26082 bootctl: add is-uki command
  man/bootctl.xml
  meson.build
  src/boot/bootctl-uki.c
  src/boot/bootctl-uki.h
  src/boot/bootctl.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#25790 systemd-analyze: Add JSON and table output to systemd-analyze's plot
  man/systemd-analyze.xml
  shell-completion/bash/systemd-analyze
  shell-completion/zsh/_systemd-analyze
  src/analyze/analyze-plot.c
  src/analyze/analyze.c
  src/analyze/analyze.h
  test/units/testsuite-65.sh
Labels: analyze, good-to-merge/waiting-for-ci 👍

#26065 man: note that cgroup-based sandboxing is not bypassed by '+'
  man/cgroup-sandboxing.xml
  man/systemd.exec.xml
  man/systemd.resource-control.xml
  man/systemd.service.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#23706 boot: Add printf functions
  src/basic/macro.h
  src/boot/efi/assert.c
  src/boot/efi/boot.c
  src/boot/efi/console.c
  src/boot/efi/cpio.c
  src/boot/efi/devicetree.c
  src/boot/efi/drivers.c
  src/boot/efi/efi-string.c
  src/boot/efi/efi-string.h
  src/boot/efi/fuzz-efi-printf.c
  src/boot/efi/graphics.c
  src/boot/efi/linux.c
  src/boot/efi/linux_x86.c
  src/boot/efi/log.c
  src/boot/efi/log.h
  src/boot/efi/measure.c
  src/boot/efi/meson.build
  src/boot/efi/missing_efi.h
  src/boot/efi/pe.c
  src/boot/efi/random-seed.c
  src/boot/efi/secure-boot.c
  src/boot/efi/stub.c
  src/boot/efi/test-efi-string.c
  src/boot/efi/util.c
  src/boot/efi/util.h
  src/boot/efi/vmm.c
  src/fundamental/macro-fundamental.h
  src/journal/test-journal-interleaving.c
Labels: journal, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#26094 meson: ukify depends on GNU_EFI
  meson.build
Labels: meson

#26050 bpf: disable -fstack-protector in meson
  src/core/bpf/meson.build
Labels: good-to-merge/waiting-for-ci 👍, bpf

#26108 Fix typo in parameter name
  man/sd_bus_wait.xml
Labels: good-to-merge/waiting-for-ci 👍

#26109 mkosi: Rename the configuration files to use ".conf" as extension
  mkosi.conf.d/arch/10-arch.conf
  mkosi.conf.d/centos/10-centos.conf
  mkosi.conf.d/debian/10-debian.conf
  mkosi.conf.d/fedora/10-fedora.conf
  mkosi.conf.d/opensuse/10-opensuse.conf
  mkosi.conf.d/ubuntu/10-ubuntu.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#26103 bootctl: unlink and cleanup functions
  man/bootctl.xml
  meson.build
  shell-completion/bash/bootctl
  shell-completion/zsh/_bootctl
  src/basic/chase-symlinks.c
  src/basic/chase-symlinks.h
  src/boot/bootctl-status.c
  src/boot/bootctl-status.h
  src/boot/bootctl.c
  src/boot/bootctl.h
  src/kernel-install/90-loaderentry.install.in
  src/kernel-install/test-kernel-install.sh
  src/test/meson.build
  src/test/test-fs-util.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, kernel-install

#26057 hostnamed: expose FirmwareDate as uint64 in dbus
  man/org.freedesktop.hostname1.xml
  src/hostname/hostnamectl.c
  src/hostname/hostnamed.c
  test/units/testsuite-71.sh
Labels: hostname, good-to-merge/waiting-for-ci 👍

#25977 core: propagate stop too if restart is issued
  src/core/transaction.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#25921 core: mount namespaces: Remove auxiliary directory after unit termination
  src/core/execute.c
  src/core/execute.h
  src/core/unit.c
Labels: bug 🐛, pid1, good-to-merge/waiting-for-ci 👍

#26105 network: make config_parse_address() assume full prefix length
  NEWS
  src/basic/in-addr-util.c
  src/basic/in-addr-util.h
  src/network/networkd-address.c
  src/network/test-networkd-conf.c
  src/test/test-in-addr-util.c
  test/test-network/conf/25-dhcp-client-ipv4-only.network
  test/test-network/conf/25-dhcp-client-with-static-address.network
Labels: network, documentation, good-to-merge/waiting-for-ci 👍

#26115 test: fix memleak and fd leak
  src/libsystemd-network/test-ndisc-ra.c
  src/libsystemd-network/test-ndisc-rs.c
  src/test/test-unit-name.c
Labels: network, tests, please-review

#26107 ukify: Downgrade required python version to 3.9
  meson.build
  src/ukify/ukify.py
Labels: uki, please-review

#26116 hwdb: Add Chuwi Hi10X (N4120 version) iio matrix
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#26120 bootctl: add kernel-inspect to --help text
  src/boot/bootctl.c
Labels: sd-boot/sd-stub/bootctl

#23309 basic: Add log context
  docs/ENVIRONMENT.md
  src/basic/list.h
  src/basic/log.c
  src/basic/log.h
  src/basic/stdio-util.h
  src/basic/strv.c
  src/basic/strv.h
  src/core/execute.c
  src/core/load-fragment.c
  src/libsystemd/sd-bus/bus-message.c
  src/libsystemd/sd-bus/bus-message.h
  src/libsystemd/sd-bus/sd-bus.c
  src/libsystemd/sd-device/device-monitor.c
  src/libsystemd/sd-device/device-util.c
  src/libsystemd/sd-device/device-util.h
  src/resolve/resolved-dns-search-domain.c
  src/resolve/resolved-dns-server.c
  src/systemctl/systemctl-show.c
  src/test/test-list.c
  src/test/test-log.c
  src/test/test-strv.c
  src/timesync/timesyncd-server.c
Labels: journal, documentation

#26122 string-util: add new strdupcspn()/strdupspn()
  src/basic/fileio.c
  src/basic/hostname-util.c
  src/basic/string-util.c
  src/basic/string-util.h
  src/binfmt/binfmt.c
  src/locale/localed-util.c
  src/shared/discover-image.c
  src/shared/logs-show.c
Labels: util-lib, tree-wide, good-to-merge/waiting-for-ci 👍

#26114 sd-login: add sd_pidfd_* APIs
  man/rules/meson.build
  man/sd_pid_get_owner_uid.xml
  src/basic/process-util.c
  src/basic/process-util.h
  src/core/dbus-manager.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-login/sd-login.c
  src/libsystemd/sd-login/test-login.c
  src/systemd/sd-login.h
Labels: login, good-to-merge/waiting-for-ci 👍, rc-blocker 🚧

#26121 boot: Properly strip EFI binaries
  src/boot/efi/meson.build
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#26126 hostnamectl: show firmware date as date only, with now time
  src/basic/time-util.c
  src/basic/time-util.h
  src/hostname/hostnamectl.c
  src/shared/format-table.c
  src/shared/format-table.h
  src/test/test-time-util.c
Labels: util-lib, hostname, good-to-merge/waiting-for-ci 👍

#26129 logs-show: use json_variant_unref_many() where appropriate
  src/shared/logs-show.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#26128 journalctl: don't convert between strv/Set for each log line
  src/journal/journalctl.c
  src/shared/logs-show.c
  src/shared/logs-show.h
Labels: journal, good-to-merge/waiting-for-ci 👍

#26130 journal: modernize match_make_string()
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#26127 journal: use compound initializors at one more place
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#26131 bootctl --help fixes
  man/bootctl.xml
  src/boot/bootctl.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#26132 logs-show: move strlen() handling into update_json_data() so that we …
  src/shared/logs-show.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#26134 hwdb: Add touchpad toggle mapping for System76 Pangolin 12
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#26125 string-util: add common implementation of function that converts size…
  src/basic/string-util.c
  src/basic/string-util.h
  src/creds/creds.c
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-util.c
  src/libsystemd-network/dhcp-option.c
  src/libsystemd-network/sd-dhcp-lease.c
  src/resolve/resolved-dns-packet.c
  src/shared/creds-util.c
  src/test/test-string-util.c
Labels: network, resolve, util-lib, tree-wide, good-to-merge/waiting-for-ci 👍

#26135 sd-journal: validate monotonic timestamp before returning it
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#26136 logs-show: minor modernizations
  src/shared/logs-show.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#26133 logs-show: add a splash of colour to verbose output
  src/shared/logs-show.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#26137 timesync: some tweaks to saved timestamp file handling
  catalog/systemd.catalog.in
  src/systemd/sd-messages.h
  src/timesync/timesyncd.c
Labels: timesync, good-to-merge/waiting-for-ci 👍

#26140 systemctl,test: -EBADF instead of -EBADFD
  src/libsystemd/sd-login/test-login.c
  src/systemctl/systemctl-show.c
Labels: systemctl, tests, quick-review 🏃‍♂️, please-review

#26139 test-load-fragment: fix memleak
  src/test/test-load-fragment.c
Labels: tests, quick-review 🏃‍♂️, please-review

#26123 sd-path: export env. generators paths
  man/sd_path_lookup.xml
  src/libsystemd/sd-path/sd-path.c
  src/path/path.c
  src/systemd/sd-path.h
Labels: good-to-merge/waiting-for-ci 👍, sd-path

#26144 Prevent toggling of airplane mode by HP ENVY x360 laptop lid
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, ci-failure-appears-unrelated
