Repository systemd/systemd, pull requests merged in 2023-08, with the labels that each got.

#28608 meson: use template (part 3)
  meson.build
  src/backlight/meson.build
  src/cryptenroll/meson.build
  src/cryptsetup/meson.build
  src/home/meson.build
  src/hostname/meson.build
  src/integritysetup/meson.build
  src/locale/meson.build
  src/portable/meson.build
  src/rc-local-generator/meson.build
  src/rfkill/meson.build
  src/sysext/meson.build
  src/system-update-generator/meson.build
  src/systemctl/meson.build
  src/sysv-generator/meson.build
  src/timedate/meson.build
  src/timesync/meson.build
  src/userdb/meson.build
  src/veritysetup/meson.build
  src/xdg-autostart-generator/meson.build
Labels: build-system, meson, please-review

#28556 repart: Allow combining CopyBlocks= and CopyFiles=
  man/repart.d.xml
  man/systemd-repart.xml
  src/partition/repart.c
  src/shared/creds-util.c
  src/shared/creds-util.h
  test/units/testsuite-58.sh
  units/systemd-repart.service.in
Labels: documentation, util-lib, tests, good-to-merge/waiting-for-ci 👍, units, repart

#28488 watchdog: Allow the watchdog to be disabled at runtime
  src/core/manager.c
Labels: pid1, watchdog, please-review

#28609 udev: several cleanups and fixes for net_id builtin (part2)
  src/udev/udev-builtin-net_id.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#28612 core: free the strings in the set in other places too
  src/core/dbus-cgroup.c
  src/core/dbus-execute.c
  src/core/load-fragment.c
  src/journal/journald-context.c
Labels: journal, pid1, good-to-merge/waiting-for-ci 👍

#28611 meson: use template (part 4)
  meson.build
  src/ac-power/meson.build
  src/battery-check/meson.build
  src/binfmt/meson.build
  src/cgroups-agent/meson.build
  src/coredump/meson.build
  src/creds/meson.build
  src/delta/meson.build
  src/detect-virt/meson.build
  src/escape/meson.build
  src/firstboot/meson.build
  src/fsck/meson.build
  src/id128/meson.build
  src/import/meson.build
  src/journal-remote/meson.build
  src/machine-id-setup/meson.build
  src/machine/meson.build
  src/notify/meson.build
  src/oom/meson.build
  src/partition/meson.build
  src/path/meson.build
  src/pstore/meson.build
  src/random-seed/meson.build
  src/remount-fs/meson.build
  src/sleep/meson.build
  src/sysctl/meson.build
  src/sysupdate/meson.build
  src/vconsole/meson.build
  src/volatile-root/meson.build
Labels: build-system, good-to-merge/waiting-for-ci 👍, meson

#28423 basic/memfd: untangle historic `sealed` property
  src/basic/memfd-util.c
  src/basic/memfd-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#28619 udev: several cleanups and fixlets for net_id builtin (part 3)
  src/udev/udev-builtin-net_id.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#28620 meson: use template to declare executables (part 5)
  meson.build
  src/ask-password/meson.build
  src/busctl/meson.build
  src/cgls/meson.build
  src/cgtop/meson.build
  src/hwdb/meson.build
  src/initctl/meson.build
  src/kernel-install/meson.build
  src/modules-load/meson.build
  src/mount/meson.build
  src/network/meson.build
  src/nspawn/meson.build
  src/quotacheck/meson.build
  src/reply-password/meson.build
  src/run/meson.build
  src/shutdown/meson.build
  src/socket-proxy/meson.build
  src/stdio-bridge/meson.build
  src/sulogin-shell/meson.build
  src/sysusers/meson.build
  src/tmpfiles/meson.build
  src/tty-ask-password-agent/meson.build
  src/udev/meson.build
  src/update-done/meson.build
  src/update-utmp/meson.build
Labels: build-system, meson, please-review

#28625 test: skip tests earlier when we do not have enough privileges
  src/test/test-bpf-devices.c
Labels: tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#28607 ukify: Only run systemd-measure after adding all sections
  src/ukify/ukify.py
Labels: good-to-merge/waiting-for-ci 👍, needs-stable-backport, uki

#28630 Update testsuite for opensuse
  test/test-functions
Labels: tests, good-to-merge/waiting-for-ci 👍

#28623 udev: several cleanups for net_id builtin (part 4)
  src/udev/udev-builtin-net_id.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#28647 include sys/file.h for LOCK_EX
  src/basic/user-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#28646 network-generator: make ip=dhcp works with container manager
  src/network/generator/network-generator.c
  src/network/generator/test-network-generator.c
  src/network/meson.build
  test/test-network-generator-conversion/test-01-dhcp.expected/91-default.network
Labels: network, build-system, tests, good-to-merge/waiting-for-ci 👍, meson

#28639 varlink: allocate the buffer for varlink FDs on the heap
  src/shared/varlink.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, varlink, needs-stable-backport

#28644 journalctl: do not add io event source for stdout if it is a file
  src/journal/journalctl.c
Labels: journal, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#28640 bless-boot: Actually return successfully
  src/boot/bless-boot.c
  src/boot/efi/boot.c
  src/boot/efi/proto/file-io.h
  src/boot/efi/util.c
Labels: sd-boot/sd-stub/bootctl, needs-stable-backport, please-review

#28651 Add missing system includes for `LOCK_EX` and `struct timex`
  src/core/execute.c
  src/shared/btrfs-util.c
  src/shared/copy.c
  src/test/test-btrfs.c
  src/test/test-fs-util.c
  src/test/test-lock-util.c
  src/test/test-sizeof.c
  src/vconsole/vconsole-setup.c
Labels: tree-wide, good-to-merge/waiting-for-ci 👍

#28632 repart: Add --copy-from option
  man/systemd-repart.xml
  src/partition/repart.c
  src/shared/fdisk-util.c
  src/shared/fdisk-util.h
  src/sysupdate/sysupdate-partition.c
  test/units/testsuite-58.sh
Labels: good-to-merge/waiting-for-ci 👍, repart, sysupdate

#28628 meson: use template to declare executables (part 6)
  meson.build
  rules.d/meson.build
  src/analyze/meson.build
  src/boot/efi/meson.build
  src/busctl/meson.build
  src/core/meson.build
  src/coredump/meson.build
  src/import/meson.build
  src/journal-remote/meson.build
  src/journal/meson.build
  src/libsystemd-network/meson.build
  src/libsystemd/meson.build
  src/libudev/meson.build
  src/locale/meson.build
  src/login/meson.build
  src/machine/meson.build
  src/network/meson.build
  src/nspawn/meson.build
  src/oom/meson.build
  src/resolve/meson.build
  src/shutdown/meson.build
  src/systemctl/meson.build
  src/test/meson.build
  src/timesync/meson.build
  src/tmpfiles/meson.build
  src/udev/meson.build
  src/udev/test-udev-rule-runner.c
  src/ukify/test/meson.build
  src/xdg-autostart-generator/meson.build
  test/fuzz/meson.build
  test/meson.build
  test/test-udev.py
Labels: build-system, tests, good-to-merge/waiting-for-ci 👍, meson

#28661 hwdb: Mute SW rfkill keys on MSI Wind U100
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, please-review

#28660 vconsole: support KEYMAP=kernel for preserving kernel keymap
  man/vconsole.conf.xml
  meson.build
  src/vconsole/vconsole-setup.c
Labels: build-system, vconsole, good-to-merge/waiting-for-ci 👍, meson

#28077 Add tool to display emergency log message full-sceen on boot failure.
  man/rules/meson.build
  man/systemd-bsod.xml
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/journal/bsod.c
  src/journal/meson.build
  src/shared/qrcode-util.c
  src/shared/qrcode-util.h
Labels: journal, util-lib, good-to-merge/waiting-for-ci 👍, 🙋🏽‍♀️ outreachy 🙋

#28664 tree-wide: Fix -Wmaybe-uninitialized compilation warnings
  src/home/homework-luks.c
  src/libudev/test-libudev.c
  src/test/test-core-unit.c
  src/test/test-ellipsize.c
  src/test/test-mempress.c
Labels: udev, tests, good-to-merge/waiting-for-ci 👍

#28648 shutdown: several fixlets
  src/shared/switch-root.c
  src/shared/switch-root.h
  src/shutdown/shutdown.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, shutdown, needs-stable-backport

#28663 tpm2: use CreatePrimary() to create legacy transient primary keys instead of Create()
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
Labels: good-to-merge/waiting-for-ci 👍, tpm2, needs-stable-backport

#28667 debug-generator: Use generator_add_symlink()
  src/debug-generator/debug-generator.c
Labels: debug-generator, good-to-merge/waiting-for-ci 👍

#28670 man/systemd-fsck@.service: clarify passno and noauto combination in /etc/fstab
  man/systemd-fsck@.service.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#27845 timesyncd: emit signal when timesyncd LinkNTPServers property changes
  src/timesync/timesyncd-bus.c
  src/timesync/timesyncd-manager.c
  src/timesync/timesyncd-manager.h
  src/timesync/timesyncd-server.c
Labels: timesync, good-to-merge/waiting-for-ci 👍

#28673 hibernate-resume-generator: escape device path passed to hibernate-resume
  man/systemd.unit.xml
  src/hibernate-resume/hibernate-resume-generator.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, hibernate-resume, needs-stable-backport

#28672 portablectl: fix regression when using --force without extension parameters
  src/portable/portablectl.c
  test/units/testsuite-29.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, portable, needs-stable-backport

#28674 tmpfiles: Consider ENOPKG as information not available
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#28669 mkosi: Make sure our systemd build always overrides the distros
  .github/workflows/mkosi.yml
  mkosi.presets/00-base/mkosi.build
  mkosi.presets/00-base/mkosi.conf
  mkosi.presets/00-base/mkosi.conf.d/10-arch.conf
  mkosi.presets/00-base/mkosi.conf.d/10-debian-ubuntu.conf
  mkosi.presets/00-base/mkosi.conf.d/10-opensuse.conf
  mkosi.presets/10-initrd/mkosi.conf
  mkosi.presets/20-final/mkosi.conf
  mkosi.presets/20-final/mkosi.extra/usr/lib/systemd/mkosi-check-and-shutdown.sh
  mkosi.presets/20-final/mkosi.extra/usr/lib/systemd/system/mkosi-check-and-shutdown.service
  mkosi.presets/20-final/mkosi.postinst
  src/test/test-user-util.c
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#28680 journalctl: fix loggging invocation
  src/journal/journalctl.c
Labels: journal, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#28398 Tpm2 specify pcr value
  man/systemd-cryptenroll.xml
  src/basic/macro.h
  src/boot/measure.c
  src/creds/creds.c
  src/cryptenroll/cryptenroll-tpm2.c
  src/cryptenroll/cryptenroll-tpm2.h
  src/cryptenroll/cryptenroll.c
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-systemd-tpm2.c
  src/cryptsetup/cryptsetup.c
  src/partition/repart.c
  src/resolve/resolved-dns-dnssec.c
  src/shared/creds-util.c
  src/shared/openssl-util.c
  src/shared/openssl-util.h
  src/shared/tests.h
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
  src/test/meson.build
  src/test/test-openssl.c
  src/test/test-tpm2.c
  test/units/testsuite-70.sh
Labels: util-lib, good-to-merge/waiting-for-ci 👍, tpm2

#28681 Udev vs tmpfiles
  test/units/testsuite-17.00.sh
  test/units/testsuite-17.10.sh
  tmpfiles.d/static-nodes-permissions.conf.in
  units/systemd-udevd.service.in
Labels: udev, tests, units, needs-stable-backport, please-review

#28682 tpm2: use ELEMENTSOF() instead of sizeof() for TPML_PCR_SELECTION pcr…
  src/shared/tpm2-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, coverity, tpm2

#28676 test: ignore missing libudev when creating the test image
  test/test-functions
Labels: tests, good-to-merge/waiting-for-ci 👍

#28683 man/systemd: avoid duplicate variable name
  man/systemd.xml
Labels: documentation, quick-review 🏃‍♂️, please-review

#28689 ukify: don't panic when prepending to an undefined list
  src/ukify/ukify.py
Labels: uki, please-review

#28690 shared/fstab-util: use is_device_path instead of is_device_node
  src/shared/fstab-util.c
Labels: util-lib, fstab-generator, needs-stable-backport, please-review

#28693 repart: Stat temporary file again after mkfs
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#28627 udev: allow to set 0 for the maximum number of worker process
  man/udev.conf.xml
  man/udevadm.xml
  src/udev/udev-manager.c
  src/udev/udevd.c
Labels: udev, documentation, good-to-merge/waiting-for-ci 👍

#28592 Taught 60-ukify.install to search the staging directory
  src/kernel-install/60-ukify.install.in
Labels: kernel-install, uki, please-review

#28582 90-loaderentry: support installing device trees
  src/kernel-install/90-loaderentry.install.in
Labels: good-to-merge/waiting-for-ci 👍, kernel-install

#28703 repart: Extend check for read-only verity partitions
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#28695 repart: derive verity salt and uuid from seed
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, repart

#28521 rpm: add %systemd_postun_with_reload and %systemd_user_postun_with_reload
  src/core/dbus-unit.c
  src/rpm/macros.systemd.in
  src/rpm/systemd-update-helper.in
  src/rpm/triggers.systemd.in
Labels: pid1, rpm, good-to-merge/waiting-for-ci 👍

#28702 ci(lint): exclude `.in` files from ShellCheck lint
  .github/workflows/differential-shellcheck.yml
Labels: tests, good-to-merge/waiting-for-ci 👍, ci

#28709 mkosi: Unmount /etc/resolv.conf if it's a mountpoint
  mkosi.presets/20-final/mkosi.postinst
Labels: mkosi

#28704 varlink: don't allocate fd control buffer on each read()
  src/shared/varlink.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, varlink

#28705 shutdown: handle gracefully if MD_LEVEL udev propery is not set
  src/shutdown/detach-md.c
Labels: good-to-merge/waiting-for-ci 👍, shutdown, needs-stable-backport

#28715 udev: set ID_NAME and ID_SERIAL to MMC/memstick devices again
  rules.d/60-persistent-storage.rules.in
Labels: udev, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#28710 zsh completion speedups
  shell-completion/zsh/_systemctl.in
Labels: shell completion, good-to-merge/waiting-for-reporter-feedback 👍

#28717 libfido2: pick up debug logging from libfido2, and funnel it through …
  src/shared/libfido2-util.c
  src/shared/libfido2-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍, fido2

#28726 Translations update from Fedora Weblate
  po/fi.po
Labels: l10n 🌍, please-review

#28708 openssl: add log_openssl_errors()
  src/shared/openssl-util.c
  src/test/test-openssl.c
Labels: tests, good-to-merge/waiting-for-ci 👍, tpm2

#28718 units/initrd-parse-etc.service: Conflict with emergency.target
  units/initrd-parse-etc.service.in
Labels: good-to-merge/waiting-for-ci 👍, units, needs-stable-backport

#28730 man: fix typo in journalctl
  man/journalctl.xml
Labels: documentation, please-review

#28712 meson: use install_emptydir() and drop meson-make-symlink.sh
  hwdb.d/meson.build
  man/meson.build
  meson.build
  network/meson.build
  src/binfmt/meson.build
  src/core/meson.build
  src/creds/meson.build
  src/dissect/meson.build
  src/environment-d-generator/meson.build
  src/fstab-generator/meson.build
  src/journal-remote/meson.build
  src/journal/meson.build
  src/kernel-install/meson.build
  src/modules-load/meson.build
  src/mount/meson.build
  src/resolve/meson.build
  src/sysext/meson.build
  src/systemctl/meson.build
  src/udev/meson.build
  sysctl.d/meson.build
  test/meson.build
  tmpfiles.d/meson.build
  tools/meson-make-symlink.sh
  units/meson-add-wants.sh
  units/meson.build
Labels: build-system, meson, please-review

#28727 tree-wide: fixlet and optimization for parsing kernel command line
  src/fstab-generator/fstab-generator.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/hibernate-resume/hibernate-resume-generator.c
  src/resolve/resolved-conf.c
  src/run-generator/run-generator.c
  src/veritysetup/veritysetup-generator.c
Labels: resolve, fstab-generator, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#28731 sd-dhcp-server: cleanups
  src/libsystemd-network/dhcp-internal.h
  src/libsystemd-network/dhcp-option.c
  src/libsystemd-network/sd-dhcp-server.c
  src/libsystemd-network/test-dhcp-server.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#28729 veritysetup-generator: fix ordering of generated units
  src/shared/generator.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, veritysetup, needs-stable-backport

#28724 Revert "Revert "tmpfiles.d: adjust /dev/vfio/vfio access mode""
  tmpfiles.d/static-nodes-permissions.conf.in
Labels: tmpfiles, good-to-merge/waiting-for-ci 👍

#28739 bootctl: don't advertise systemd-efi-options in --help/man anymore
  man/bootctl.xml
  src/boot/bootctl-systemd-efi-options.c
  src/boot/bootctl.c
Labels: documentation, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#28722 sysusers: move global variables into a Context object
  src/sysusers/sysusers.c
Labels: sysusers, good-to-merge/waiting-for-ci 👍

#28728 gpt-auto, remount-fs: parse fstab= kernel command line option
  src/basic/proc-cmdline.c
  src/basic/proc-cmdline.h
  src/core/main.c
  src/firstboot/firstboot.c
  src/fstab-generator/fstab-generator.c
  src/partition/repart.c
  src/remount-fs/remount-fs.c
  src/shared/cgroup-setup.c
  src/shared/condition.c
  src/shared/fstab-util.c
  src/shared/fstab-util.h
  src/shared/reboot-util.c
  src/sulogin-shell/sulogin-shell.c
  src/test/test-proc-cmdline.c
  src/udev/net/link-config.c
Labels: udev, util-lib, tests, gpt-auto, fstab-generator, good-to-merge/waiting-for-ci 👍, remount-fs, repart, needs-stable-backport

#28735 tree-wide: drop _pure_ + _const_ from local, static functions
  src/basic/fd-util.c
  src/basic/prioq.c
  src/core/device.c
  src/core/mount.c
  src/core/path.c
  src/core/scope.c
  src/core/service.c
  src/core/slice.c
  src/core/socket.c
  src/core/swap.c
  src/core/target.c
  src/core/timer.c
  src/core/transaction.c
  src/libsystemd/sd-journal/fsprg.c
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-journal/mmap-cache.c
  src/login/logind-utmp.c
  src/shared/bus-polkit.c
Labels: journal, util-lib, tree-wide, good-to-merge/waiting-for-ci 👍

#28742 mkosi: Update to latest
  .github/workflows/mkosi.yml
  mkosi.presets/base/mkosi.build
  mkosi.presets/base/mkosi.conf
  mkosi.presets/base/mkosi.conf.d/10-arch.conf
  mkosi.presets/base/mkosi.conf.d/10-centos-fedora.conf
  mkosi.presets/base/mkosi.conf.d/10-debian-ubuntu.conf
  mkosi.presets/base/mkosi.conf.d/10-debian.conf
  mkosi.presets/base/mkosi.conf.d/10-fedora.conf
  mkosi.presets/base/mkosi.conf.d/10-opensuse.conf
  mkosi.presets/base/mkosi.conf.d/10-ubuntu.conf
  mkosi.presets/base/mkosi.extra/usr/lib/systemd/system-preset/00-mkosi.preset
  mkosi.presets/base/mkosi.extra/usr/lib/systemd/system-preset/99-mkosi.preset
  mkosi.presets/base/mkosi.extra/usr/lib/tmpfiles.d/locale.conf
  mkosi.presets/initrd/mkosi.conf
  mkosi.presets/initrd/mkosi.conf.d/10-centos.conf
  mkosi.presets/initrd/mkosi.conf.d/10-default.conf
  mkosi.presets/initrd/mkosi.conf.d/10-opensuse.conf
  mkosi.presets/initrd/mkosi.postinst
  mkosi.presets/system/mkosi.conf
  mkosi.presets/system/mkosi.conf.d/10-arch.conf
  mkosi.presets/system/mkosi.conf.d/10-centos-fedora.conf
  mkosi.presets/system/mkosi.conf.d/10-centos/mkosi.conf
  mkosi.presets/system/mkosi.conf.d/10-centos/mkosi.extra/usr/lib/repart.d/20-root.conf.d/xfs.conf
  mkosi.presets/system/mkosi.conf.d/10-centos/mkosi.repart/10-usr.conf.d/squashfs.conf
  mkosi.presets/system/mkosi.conf.d/10-debian-ubuntu.conf
  mkosi.presets/system/mkosi.conf.d/10-debian.conf
  mkosi.presets/system/mkosi.conf.d/10-fedora.conf
  mkosi.presets/system/mkosi.conf.d/10-opensuse.conf
  mkosi.presets/system/mkosi.conf.d/10-ubuntu.conf
  mkosi.presets/system/mkosi.conf.d/20-kernel-arch.conf
  mkosi.presets/system/mkosi.conf.d/20-kernel-centos-fedora.conf
  mkosi.presets/system/mkosi.conf.d/20-kernel-debian-ubuntu.conf
  mkosi.presets/system/mkosi.conf.d/20-kernel-fedora.conf
  mkosi.presets/system/mkosi.conf.d/20-kernel-opensuse.conf
  mkosi.presets/system/mkosi.conf.d/20-kernel.conf
  mkosi.presets/system/mkosi.extra/etc/issue
  mkosi.presets/system/mkosi.extra/root/.gdbinit
  mkosi.presets/system/mkosi.extra/usr/lib/repart.d/20-root.conf
  mkosi.presets/system/mkosi.extra/usr/lib/systemd/journald.conf.d/50-persistent.conf
  mkosi.presets/system/mkosi.extra/usr/lib/systemd/mkosi-check-and-shutdown.sh
  mkosi.presets/system/mkosi.extra/usr/lib/systemd/system/mkosi-check-and-shutdown.service
  mkosi.presets/system/mkosi.extra/usr/lib/tmpfiles.d/99-mkosi.conf
  mkosi.presets/system/mkosi.finalize
  mkosi.presets/system/mkosi.kernel.build
  mkosi.presets/system/mkosi.postinst
  mkosi.presets/system/mkosi.repart/00-esp.conf
  mkosi.presets/system/mkosi.repart/10-usr.conf
  mkosi.presets/system/mkosi.repart/11-usr-verity.conf
  mkosi.presets/system/mkosi.repart/12-usr-verity-sig.conf
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#28734 seccomp: add LoongArch 64bit support
  src/basic/architecture.c
  src/basic/missing_syscall_def.h
  src/basic/missing_syscalls.py
  src/basic/virt.c
  src/nspawn/nspawn-oci.c
  src/shared/base-filesystem.c
  src/shared/seccomp-util.c
  src/systemd/sd-gpt.h
  src/test/test-execute.c
  src/test/test-seccomp.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#28478 udev: re-introduce symlinks for loopback block device
  NEWS
  man/systemd-dissect.xml
  rules.d/60-persistent-storage.rules.in
  src/shared/loop-util.c
  test/units/testsuite-50.sh
Labels: udev, documentation, util-lib, tests, good-to-merge/waiting-for-ci 👍, please-review

#28741 Minor tweaks for recent patches
  src/kernel-install/60-ukify.install.in
  src/ukify/test/test_ukify.py
Labels: good-to-merge/waiting-for-ci 👍

#28732 Udev vs tmpfiles take 2
  test/units/testsuite-17.00.sh
  units/systemd-tmpfiles-setup.service
  units/systemd-udevd.service.in
Labels: udev, tmpfiles, tests, good-to-merge/waiting-for-ci 👍, units, needs-stable-backport

#28736 some minor polkit handling tweaks
  src/shared/bus-polkit.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#28756 repart --copy-from followups
  man/systemd-repart.xml
  src/partition/repart.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, repart

#28759 execute: Chown credentials files and directories to service group
  src/core/execute.c
Labels: good-to-merge/waiting-for-ci 👍, needs-stable-backport

#28745 man: let's tone down the recommendation to use Type=exec a bit
  man/systemd.service.xml
Labels: documentation, pid1, please-review

#28768 mkosi: Move python3dist(pytest-flakes) to base preset build packages
  mkosi.presets/base/mkosi.conf.d/10-fedora.conf
Labels: mkosi, please-review

#28716 test: testsuite-35.sh needs manual/test-session-properties to be inst…
  test/test-functions
Labels: tests, please-review

#28738 tmpfiles: move static vars into Context object
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles, good-to-merge/waiting-for-ci 👍

#28743 tools: lint Python scripts
  .pylintrc
  src/kernel-install/60-ukify.install.in
  src/ukify/test/test_ukify.py
  src/ukify/ukify.py
  test/test-exec-deserialization.py
  test/test-network/systemd-networkd-tests.py
  test/test-shutdown.py
  test/test-udev.py
  tools/analyze-dump-sort.py
  tools/catalog-report.py
  tools/check-includes.py
  tools/dbus_exporter.py
  tools/dump-auxv.py
  tools/elf2efi.py
  tools/gdb-sd_dump_hashmaps.py
  tools/generate-gperfs.py
  tools/list-discoverable-partitions.py
  tools/make-autosuspend-rules.py
  tools/make-directive-index.py
  tools/make-man-index.py
  tools/meson-render-jinja2.py
  tools/update-dbus-docs.py
  tools/update-man-rules.py
  tools/xml_helper.py
Labels: tests, good-to-merge/waiting-for-ci 👍, ci, uki

#28748 mkosi: Copy integration tests into image
  mkosi.presets/system/mkosi.conf
  mkosi.presets/system/mkosi.extra/usr/share/factory/mkosi/gdbinit.d/systemd.gdb
Labels: tests, mkosi, please-review

#28767 journalctl epoll/EPERM follow-up
  man/sd_event_add_io.xml
  src/journal/journalctl.c
Labels: journal, documentation, sd-event, please-review

#28773 ukify: Use length= instead of ignore_padding= in inspect
  src/ukify/ukify.py
Labels: needs-stable-backport, uki, please-review

#28749 udev-builtin-net_id: fix and cleanups
  src/udev/udev-builtin-net_id.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#28757 file-io: let's use offsetof() rather than sizeof() for determining EF…
  src/boot/efi/proto/file-io.h
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#28760 coredump: minor tweaks/modernizations
  man/coredump.conf.xml
  src/basic/io-util.h
  src/coredump/coredump.c
Labels: documentation, util-lib, coredump, good-to-merge/with-minor-suggestions

#28769 vconsole-setup: use "@kernel" rather than "kernel" as special string …
  man/vconsole.conf.xml
  meson.build
  src/vconsole/vconsole-setup.c
Labels: documentation, build-system, vconsole, meson, good-to-merge/with-minor-suggestions

#28687 Make ukify the default if UKI_GENERATOR is unset
  src/kernel-install/60-ukify.install.in
Labels: kernel-install, uki, please-review

#28779 io-util, coredump: introduce iovw_append() and use it
  src/basic/io-util.c
  src/basic/io-util.h
  src/coredump/coredump.c
Labels: util-lib, coredump, good-to-merge/waiting-for-ci 👍

#28786 test-mountpoint-util: /root might be mounted
  src/test/test-mountpoint-util.c
Labels: tests, please-review

#28788 docs: update link to RHEL/CentOS Stream tracker
  docs/CONTRIBUTING.md
Labels: documentation, please-review

#28785 file-io: Fix copying sparse files
  src/shared/copy.c
  src/test/test-copy.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#28766 repart: Allow specifying --copy-from more than once
  man/systemd-repart.xml
  src/partition/repart.c
  test/units/testsuite-58.sh
Labels: documentation, tests, good-to-merge/waiting-for-ci 👍, repart

#28800 man: don't claim BindPaths= file systems would remain "in memory", th…
  man/systemd-soft-reboot.service.xml
Labels: documentation, quick-review 🏃‍♂️, please-review

#28789 iovec-util: add iovw_isempty() helper
  src/basic/io-util.c
  src/basic/io-util.h
  src/journal-remote/journal-remote-write.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#28805 man: systemd-repart can now create filesystems, update manpage
  man/systemd-repart.xml
Labels: documentation, quick-review 🏃‍♂️, repart, please-review

#28799 core: some fixlets
  src/core/main.c
  src/core/unit.c
  test/units/testsuite-82.sh
Labels: pid1, tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#28811 man: kernel-install(8) add uki.conf in FILES & add ukify(1) in SEE ALSO
  man/kernel-install.xml
Labels: documentation, please-review

#28801 test: introduce TEST-08-INITRD
  test/TEST-01-BASIC/test.sh
  test/TEST-08-INITRD/Makefile
  test/TEST-08-INITRD/test.sh
  test/test-functions
  test/units/testsuite-01.sh
  test/units/testsuite-08.service
  test/units/testsuite-08.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#28810 meson: drop unnecessary dependency on libidn
  src/udev/meson.build
Labels: udev, build-system, good-to-merge/waiting-for-ci 👍, meson

#28808 test: fix expected result of systemd-repart
  test/units/testsuite-58.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#28813 test: disable TEST-08-INITRD on ubuntu CI
  test/TEST-08-INITRD/deny-list-ubuntu-ci
Labels: tests, good-to-merge/waiting-for-ci 👍

#28816 mkosi: disable key check on Fedora for now
  mkosi.conf.d/10-fedora-rawhide.conf
Labels: mkosi, ci, quick-review 🏃‍♂️, please-review

#28815 test: skip test-path on Salsa CI
  src/shared/tests.c
  src/test/test-path.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#28821 basic: add comment for LFS assert in dirent-util.h
  src/basic/dirent-util.h
Labels: util-lib, please-review

#28809 proc-cmdline: introduce PROC_CMDLINE_TRUE_WHEN_MISSING and use it where appropriate
  src/backlight/backlight.c
  src/basic/proc-cmdline.c
  src/basic/proc-cmdline.h
  src/battery-check/battery-check.c
  src/rfkill/rfkill.c
  src/shared/fstab-util.c
  src/shared/reboot-util.c
  src/shared/reboot-util.h
  src/test/test-proc-cmdline.c
Labels: util-lib, tests, rfkill, good-to-merge/waiting-for-ci 👍

#28744 battery-util: minor follow-ups
  src/shared/battery-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#28820 core: drop redundant assignment of UNIT_MERGED in unit_load_fragment()
  src/core/load-fragment.c
Labels: pid1, please-review

#28823 sleep: clear EFI HibernateLocation if writing kernel config fails
  src/sleep/sleep.c
Labels: good-to-merge/waiting-for-ci 👍, sleep

#28473 network: ndisc - Ignore route information if reserved (10) value is rec…
  src/libsystemd-network/ndisc-router.c
  src/network/networkd-ndisc.c
Labels: network, good-to-merge/waiting-for-ci 👍

#28827 docs/NETWORK_ONLINE: Move `Type=`, `RemainAfterExit=` to `[Service]` + Use `until` instead of `while !`
  docs/NETWORK_ONLINE.md
Labels: documentation, please-review

#28824 dissect-image: Fix mount_point_is_available()
  src/shared/dissect-image.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, dissect, needs-stable-backport

#28828 fdisk-util: Make fdisk_new_context_fd() more generic
  src/home/homework-luks.c
  src/partition/repart.c
  src/shared/fdisk-util.c
  src/shared/fdisk-util.h
  src/sysupdate/sysupdate-partition.c
  src/sysupdate/sysupdate-resource.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, repart, sysupdate

#28835 test: add coverage for #27953
  test/testsuite-07.units/issue27953.service
  test/units/testsuite-07.issue-14566.sh
  test/units/testsuite-07.issue-27953.sh
  test/units/testsuite-07.main-PID-change.sh
  test/units/testsuite-07.mount-invalid-chars.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#28829 tree-wide: Mount file descriptors via /proc/<pid>/fd
  src/basic/fd-util.h
  src/libsystemd-network/sd-dhcp6-client.c
  src/network/networkd-dhcp-server.c
  src/network/networkd-manager.c
  src/network/networkd-state-file.c
  src/resolve/resolved-link.c
  src/test/test-fd-util.c
  src/udev/net/link-config.c
Labels: udev, network, resolve, util-lib, tests, good-to-merge/waiting-for-ci 👍

#28795 sysupdate: Use sector size for partition size calculations
  src/sysupdate/sysupdate-partition.c
  test/units/testsuite-72.sh
Labels: tests, sysupdate, please-review

#28833 repart: Add Subvolumes= setting
  man/repart.d.xml
  src/basic/btrfs.c
  src/basic/btrfs.h
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/basic/meson.build
  src/basic/mkdir.c
  src/basic/mkdir.h
  src/basic/path-util.c
  src/dissect/dissect.c
  src/home/homework-directory.c
  src/home/homework-luks.c
  src/home/homework.c
  src/import/import-tar.c
  src/import/pull-tar.c
  src/machine/machine-dbus.c
  src/partition/repart.c
  src/shared/btrfs-util.c
  src/shared/btrfs-util.h
  src/shared/copy.c
  src/shared/copy.h
  src/shared/dissect-image.c
  src/shared/label-util.c
  src/test/test-btrfs.c
  src/test/test-copy.c
  src/test/test-mkdir.c
  src/tmpfiles/tmpfiles.c
Labels: documentation, btrfs, build-system, util-lib, good-to-merge/waiting-for-ci 👍, repart

#28812 repart: Use 4096 as the fallback sector size for verity/luks/filesystems
  src/partition/repart.c
  src/shared/mkfs-util.c
Labels: util-lib, repart, please-review

#28837 When checking PKCS#11 slot flags, check against slot_info, not token_info
  src/shared/pkcs11-util.c
Labels: util-lib, fix-commit-message-on-merge, please-review

#28838 mkosi: Create a few subvolumes in the root partition
  .github/workflows/mkosi.yml
  mkosi.presets/system/mkosi.extra/usr/lib/repart.d/20-root.conf
  src/partition/repart.c
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi, repart

#28790 repart: Add verity configuration section and options
  man/repart.d.xml
  src/partition/repart.c
  test/TEST-58-REPART/test.sh
  test/units/testsuite-58.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, repart

#28839 Repart followups
  src/partition/repart.c
  src/shared/mkfs-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, repart

#28847 tools: update-hwdb-autosuspend.sh: Point at HEAD, not master branch
  tools/update-hwdb-autosuspend.sh
Labels: hwdb, please-review

#28733 core: add confext support for ExtensionImages= and ExtensionDirectories=
  src/analyze/analyze-image-policy.c
  src/core/namespace.c
  src/shared/extension-util.c
  test/test-functions
  test/units/testsuite-50.sh
Labels: pid1, good-to-merge/waiting-for-ci 👍

#28851 hwdb: update autosuspend rules
  tools/chromiumos/gen_autosuspend_rules.py
Labels: hwdb, please-review

#28854 Mailmap and license info
  .gitattributes
  .mailmap
  src/journal/bsod.c
Labels: documentation, good-to-merge/waiting-for-ci 👍

#28777 journalctl: support --lines=+N for showing the oldest N entries
  man/journalctl.xml
  src/journal/journalctl.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#28859 btrfs: create subvol fix
  src/basic/btrfs.c
Labels: btrfs, util-lib, good-to-merge/waiting-for-ci 👍

#28825 core: stage /run/host/os-release with a symlink to avoid possible race condition
  src/core/execute.c
  src/core/main.c
  src/core/namespace.c
  src/core/namespace.h
  test/units/testsuite-82.sh
Labels: pid1, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#28860 journalctl: minor follow-up for --lines=
  src/journal/journalctl.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#28758 Use macros to reduce indentation in errno error handling
  coccinelle/errno-wrapper.cocci
  src/basic/errno-util.h
  src/basic/fd-util.c
  src/basic/os-util.c
  src/basic/psi-util.c
  src/boot/bootctl-install.c
  src/boot/bootctl-status.c
  src/core/dbus-manager.c
  src/core/execute.c
  src/core/manager.c
  src/cryptenroll/cryptenroll-password.c
  src/cryptsetup/cryptsetup.c
  src/firstboot/firstboot.c
  src/home/homework-directory.c
  src/home/homework-luks.c
  src/home/homework-quota.c
  src/journal/journald-client.c
  src/kernel-install/kernel-install.c
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-dhcp-server.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/sd-lldp-rx.c
  src/libsystemd-network/sd-ndisc.c
  src/libsystemd-network/sd-radv.c
  src/libsystemd/sd-bus/bus-socket.c
  src/libsystemd/sd-bus/sd-bus.c
  src/libsystemd/sd-device/sd-device.c
  src/libsystemd/sd-id128/id128-util.h
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-netlink/netlink-socket.c
  src/libsystemd/sd-netlink/sd-netlink.c
  src/network/networkd-wiphy.c
  src/nspawn/nspawn-seccomp.c
  src/nspawn/nspawn.c
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-manager.c
  src/shared/ask-password-api.c
  src/shared/barrier.c
  src/shared/cgroup-show.c
  src/shared/copy.c
  src/shared/kbd-util.c
  src/shared/seccomp-util.c
  src/shared/seccomp-util.h
  src/shared/userdb-dropin.c
  src/shared/utmp-wtmp.c
  src/shared/varlink.c
  src/stdio-bridge/stdio-bridge.c
  src/test/test-architecture.c
  src/test/test-barrier.c
  src/test/test-blockdev-util.c
  src/test/test-capability.c
  src/test/test-condition.c
  src/test/test-errno-util.c
  src/test/test-fileio.c
  src/test/test-mount-util.c
  src/test/test-procfs-util.c
  src/tmpfiles/tmpfiles.c
Labels: tree-wide, good-to-merge/waiting-for-ci 👍, coccinelle

#28862 mkosi: Add a swap partition
  mkosi.presets/system/mkosi.extra/usr/lib/repart.d/15-swap.conf
  src/partition/repart.c
  test/TEST-58-REPART/test.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi, repart

#28763 systemd-stub: ignore EFI shell unauthenticated kernel command line if we are in confidential vms
  src/boot/efi/stub.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/with-minor-suggestions

#28867 bus-polkit: don't propagate error from polkit
  src/shared/bus-polkit.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#28865 meson: Use rsync to copy test data directories
  test/meson.build
Labels: build-system, good-to-merge/waiting-for-ci 👍, meson

#28751 Revert "mount: check right before invoking /bin/umount if it makes sense"
  src/basic/unit-def.c
  src/basic/unit-def.h
  src/core/mount.c
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#28869 repart: Make sure we keep trailing slashes in ExcludeFiles=
  src/basic/path-util.c
  src/basic/path-util.h
  src/partition/repart.c
  src/shared/parse-helpers.c
  src/shared/parse-helpers.h
  src/test/test-path-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, repart, needs-stable-backport

#28832 Add LIST_CLEAR() helper that empties the list
  src/basic/list.h
  src/core/cgroup.c
  src/core/execute.c
  src/core/manager.c
  src/core/path.c
  src/core/socket.c
  src/core/timer.c
  src/libsystemd-network/sd-dhcp-lease.c
  src/libsystemd-network/sd-radv.c
  src/login/logind.c
  src/machine/machined.c
  src/network/netdev/wireguard.c
  src/nspawn/nspawn-expose-ports.c
  src/rfkill/rfkill.c
  src/shared/bus-polkit.c
  src/shared/dissect-image.c
  src/shared/open-file.c
  src/shared/varlink.c
  src/systemctl/systemctl-show.c
  src/sysupdate/sysupdate-pattern.c
  src/test/test-list.c
  src/timedate/timedated.c
Labels: util-lib, tree-wide, good-to-merge/waiting-for-ci 👍

#28868 test: Check that SELinux policy is available before running SELinux test
  test/TEST-06-SELINUX/test.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, squash-on-merge

#28872 dissect: Set SYSTEMD_DISSECT_DEVICE to path of loop device
  man/systemd-dissect.xml
  src/dissect/dissect.c
Labels: good-to-merge/waiting-for-ci 👍, dissect

#28697 systemd-bsod: Add "--continuous" option
  man/systemd-bsod.xml
  src/journal/bsod.c
  src/journal/meson.build
  units/meson.build
  units/systemd-bsod.service.in
Labels: journal, good-to-merge/waiting-for-ci 👍, units, 🙋🏽‍♀️ outreachy 🙋

#28846 network: DHCP6 client- Allow to send manual DUID
  man/networkd.conf.xml
  src/libsystemd-network/dhcp-identifier.c
  src/libsystemd-network/dhcp-identifier.h
  src/libsystemd-network/sd-dhcp6-client.c
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp6.c
  test/test-network/conf/25-dhcp-client-ipv6-only-custom-client-identifier.network
  test/test-network/systemd-networkd-tests.py
Labels: network, good-to-merge/waiting-for-ci 👍

#28870 network: Route - allow to set TCP RTO
  man/systemd.network.xml
  src/network/networkd-network-gperf.gperf
  src/network/networkd-route.c
  src/network/networkd-route.h
  test/test-network/conf/25-route-congctl.network
  test/test-network/systemd-networkd-tests.py
Labels: network, good-to-merge/waiting-for-ci 👍

#28874 core/socket: don't consider service active when in SERVICE_AUTO_RESTART_QUEUED
  src/core/socket.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, needs-stable-backport, test-candidate

#28884 tpm2: give PCR 6 a name
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍, tpm2

#28882 homed: reuse openssl-util.h cleanup helpers
  src/home/homed-manager.c
  src/home/user-record-sign.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#28880 install: Drop install_info_may_process() from unit_file_get_default()
  src/shared/install.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#28871 network: static route - Allow to configure per route hop limit
  man/systemd.network.xml
  src/network/networkd-network-gperf.gperf
  src/network/networkd-route.c
  src/network/networkd-route.h
  test/test-network/conf/25-route-static.network
  test/test-network/systemd-networkd-tests.py
Labels: network, good-to-merge/waiting-for-ci 👍
