Repository systemd/systemd, pull requests merged in 2023-04, with the labels that each got.

#27084 ukify: Strip symbol/string table for old stubs
  src/ukify/ukify.py
Labels: good-to-merge/waiting-for-ci 👍, uki

#25836 firstboot: Add --reset option
  man/systemd-firstboot.xml
  src/firstboot/firstboot.c
  test/units/testsuite-74.firstboot.sh
Labels: documentation, tests, firstboot, good-to-merge/waiting-for-ci 👍

#27067 find-esp: Add openat() like helpers that operate on fds
  src/basic/stat-util.c
  src/basic/stat-util.h
  src/shared/btrfs-util.c
  src/shared/btrfs-util.h
  src/shared/find-esp.c
  src/shared/find-esp.h
Labels: btrfs, util-lib, good-to-merge/waiting-for-ci 👍, repart

#27087 test: set ReadWritePaths= for test-.services when built w/ coverage
  test/README.testsuite
  test/TEST-78-SIGQUEUE/test.sh
  test/TEST-79-MEMPRESS/test.sh
  test/test-functions
  test/units/testsuite-19.sh
  test/units/testsuite-20.sh
  test/units/testsuite-33.sh
  test/units/testsuite-54.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#27104 Translations update from Fedora Weblate
  po/ru.po
Labels: l10n 🌍, please-review

#27086 Do not pull in systemd-oomd on v1 to avoid repeated message in logs
  man/systemd.unit.xml
  src/core/unit.c
Labels: documentation, oomd, please-review

#27096 networkctl: modernize
  src/network/networkctl.c
Labels: network, please-review

#27100 Added unit test for strv_env_name_is_valid() function listed in env-util.c
  src/test/test-env-util.c
Labels: tests, please-review

#27107 core: do early setup check for arguments with '=' too
  src/core/main.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#27103 update 60-sensor.hwdb with toshiba tablet
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, squash-on-merge

#26981 user-sessions: do not remove /etc/nologin
  src/shared/fileio-label.c
  src/user-sessions/user-sessions.c
Labels: util-lib, user-session, please-review

#27044 Ensure sysexts do not contain an os-release file, do not load sysexts from /usr[/local]/lib/extensions/
  man/systemd-sysext.xml
  src/core/namespace.c
  src/portable/portable.c
  src/shared/discover-image.c
  src/shared/dissect-image.c
  src/shared/extension-util.c
  src/shared/extension-util.h
  src/shared/meson.build
  src/sysext/sysext.c
  test/units/testsuite-50.sh
  units/systemd-sysext.service
Labels: documentation, util-lib, good-to-merge/waiting-for-ci 👍, portable

#26185 tpm2: add support for a trusted SRK
  TODO
  src/cryptenroll/cryptenroll-tpm2.c
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-systemd-tpm2.c
  src/cryptsetup/cryptsetup-tokens/luks2-tpm2.c
  src/cryptsetup/cryptsetup-tokens/luks2-tpm2.h
  src/cryptsetup/cryptsetup-tpm2.c
  src/cryptsetup/cryptsetup-tpm2.h
  src/cryptsetup/cryptsetup.c
  src/partition/repart.c
  src/shared/creds-util.c
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
  src/test/test-tpm2.c
Labels: util-lib, tests, cryptsetup, repart, tpm2, please-review

#27112 core/main: also check the argument terminator
  src/core/main.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, needs-stable-backport

#27114 Trivial cleanups
  man/systemd-sysext.xml
  src/basic/fs-util.c
  src/basic/mkdir.c
  src/core/service.c
  src/shared/exec-util.c
Labels: documentation, util-lib, good-to-merge/waiting-for-ci 👍

#27102 src: changed usage of basename() to path_extract_filename().
  src/basic/unit-file.c
  src/network/networkd-network-bus.c
Labels: tree-wide, good-to-merge/waiting-for-ci 👍, 🙋🏽‍♀️ outreachy 🙋

#27120 chase: fix error handling
  src/basic/chase.c
Labels: util-lib, quick-review 🏃‍♂️, please-review

#27122 sd-id128: introduce id128_{read,write}_at()
  src/libsystemd/sd-id128/id128-util.c
  src/libsystemd/sd-id128/id128-util.h
  src/libsystemd/sd-id128/sd-id128.c
  src/machine-id-setup/machine-id-setup-main.c
  src/nspawn/nspawn.c
  src/test/test-id128.c
Labels: tests, sd-id128, please-review

#27115 service: dump fdstore contents also in free-form debug dump
  src/core/service.c
Labels: pid1, analyze, good-to-merge/waiting-for-ci 👍

#27129 service: minor modernizations
  src/core/service.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#27136 man: mention -o option for systemd-journal-remote
  man/systemd-journal-remote.service.xml
Labels: documentation, quick-review 🏃‍♂️, please-review

#27128 Improvements to man pages for systemd.service, sd-bus, and better error messages
  man/rules/meson.build
  man/sd-bus-errors.xml
  man/sd_bus_message_open_container.xml
  man/systemd.service.xml
  src/core/dbus-service.c
  src/core/dbus-unit.c
  src/core/execute.c
  src/core/unit.c
  src/core/unit.h
  src/libsystemd/sd-bus/bus-control.c
  src/libsystemd/sd-bus/bus-error.c
  src/systemd/sd-bus-protocol.h
Labels: documentation, sd-bus, ci-failure-appears-unrelated, meson

#27131 test/test-functions: fix typo in install_suse_systemd()
  test/test-functions
Labels: tests, good-to-merge/waiting-for-ci 👍

#27138 tpm2: fix nits from PR #26185
  src/cryptenroll/cryptenroll-tpm2.c
  src/shared/creds-util.c
  src/shared/tpm2-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, tpm2

#27141 various: simplify calls to parse_boolean_argument()
  src/ask-password/ask-password.c
  src/boot/bootctl.c
  src/creds/creds.c
  src/cryptenroll/cryptenroll.c
  src/home/homectl.c
Labels: tree-wide, good-to-merge/waiting-for-ci 👍

#27137 sd-id128: introduce id128_get_machine() and _at()
  src/basic/chase.c
  src/basic/fd-util.h
  src/libsystemd/sd-id128/id128-util.c
  src/libsystemd/sd-id128/id128-util.h
  src/libsystemd/sd-id128/sd-id128.c
  src/machine-id-setup/machine-id-setup-main.c
  src/nspawn/nspawn.c
  src/partition/repart.c
  src/shared/discover-image.c
  src/shared/find-esp.c
  src/shared/machine-id-setup.c
  src/shared/specifier.c
  src/test/test-id128.c
  src/test/test-specifier.c
Labels: nspawn, util-lib, tests, sd-id128, good-to-merge/with-minor-suggestions, repart

#27134 service: use newdup() where appropriate
  src/core/service.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#27149 Revert "mkosi: Drop python-docutils"
  mkosi.conf.d/arch/10-arch.conf
  mkosi.conf.d/centos/10-centos.conf
  mkosi.conf.d/debian/10-debian.conf
  mkosi.conf.d/fedora/10-fedora.conf
  mkosi.conf.d/opensuse/10-opensuse.conf
  mkosi.conf.d/ubuntu/10-ubuntu.conf
Labels: good-to-merge/with-minor-suggestions

#27143 cryptsetup: fix build without TPM2
  .github/workflows/build_test.sh
  src/cryptsetup/cryptsetup-tpm2.h
Labels: good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, ci, tpm2

#27000 resolved: don't query mdns for the broadcast address
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-link.c
  src/resolve/resolved-link.h
  src/resolve/resolved-manager.c
Labels: resolve, util-lib, please-review

#27146 test: add tests for dir_fd_is_root_or_cwd()
  src/test/test-fd-util.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#27151 test: use kbd-mode-map we ship in TEST-73-LOCALE
  test/units/testsuite-73.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#27154 mkosi kernel build updates
  mkosi.build
  mkosi.kernel.config
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#27117 repart: Add some more logging
  src/partition/repart.c
  src/shared/mkfs-util.c
Labels: util-lib, sd-netlink, good-to-merge/waiting-for-ci 👍, repart

#26013 confext: extension of sysext
  TODO
  docs/ENVIRONMENT.md
  man/os-release.xml
  man/rules/meson.build
  man/systemd-sysext.xml
  shell-completion/bash/systemd-confext
  src/basic/os-util.c
  src/basic/os-util.h
  src/core/namespace.c
  src/portable/portable.c
  src/shared/discover-image.c
  src/shared/discover-image.h
  src/shared/dissect-image.c
  src/shared/extension-util.c
  src/shared/extension-util.h
  src/sysext/meson.build
  src/sysext/sysext.c
  src/test/test-os-util.c
  test/units/testsuite-50.sh
  units/meson.build
  units/systemd-confext.service
Labels: new-feature, util-lib, good-to-merge/waiting-for-ci 👍, sysext

#27168 test: check if we skip the full setup on daemon-reexec
  test/test-functions
  test/units/testsuite-01.service
  test/units/testsuite-01.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#27158 test: introduce TEST-81-GENERATORS
  src/fstab-generator/fstab-generator.c
  test/TEST-81-GENERATORS/Makefile
  test/TEST-81-GENERATORS/test.sh
  test/units/generator-utils.sh
  test/units/testsuite-74.modules-load.sh
  test/units/testsuite-81.debug-generator.sh
  test/units/testsuite-81.environment-d-generator.sh
  test/units/testsuite-81.fstab-generator.sh
  test/units/testsuite-81.service
  test/units/testsuite-81.sh
Labels: tests, fstab-generator, good-to-merge/waiting-for-ci 👍, env-generator, please-review

#27172 mkosi: Update to latest
  .github/workflows/mkosi.yml
  mkosi.conf.d/10-systemd.conf
  mkosi.conf.d/20-arch.conf
  mkosi.conf.d/20-centos.conf
  mkosi.conf.d/20-debian.conf
  mkosi.conf.d/20-fedora.conf
  mkosi.conf.d/20-opensuse.conf
  mkosi.conf.d/20-ubuntu.conf
  mkosi.conf.d/21-centos-8/mkosi.conf
  mkosi.conf.d/21-centos-8/mkosi.reposdir/powertools.repo
  mkosi.conf.d/21-centos-9.conf
Labels: tests, please-review

#27170 man: netdev: Clarify wireguard IPv6 endpoint format
  man/systemd.netdev.xml
Labels: documentation, please-review

#27126 sd-journal: allow to specify compression algorithm through env
  docs/ENVIRONMENT.md
  src/basic/compress.c
  src/basic/compress.h
  src/journal/journald-server.c
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-journal/journal-file.h
  test/units/testsuite-04.sh
Labels: journal, documentation, util-lib, tests, ci-failure-appears-unrelated

#27171 resolve: change DNS_PACKET_UNICAST_SIZE_LARGE_MAX to 1232
  src/resolve/resolved-dns-packet.h
Labels: resolve, please-review

#27162 bootctl: show report state and type in json output
  src/shared/bootspec.c
  src/shared/bootspec.h
Labels: util-lib, ci-failure-appears-unrelated

#27163 bootctl: Gracefully handle missing bootloader directory
  src/boot/bootctl-install.c
Labels: sd-boot/sd-stub/bootctl, please-review

#27161 systemd-sysext/confext.service: Refresh on start/reload
  man/systemd-dissect.xml
  units/systemd-confext.service
  units/systemd-sysext.service
Labels: documentation, units, please-review

#26887 proc-cmdline: filter PID1 arguments on container
  src/activate/activate.c
  src/ask-password/ask-password.c
  src/basic/getopt-defs.h
  src/basic/proc-cmdline.c
  src/basic/proc-cmdline.h
  src/cgls/cgls.c
  src/core/main.c
  src/journal/cat.c
  src/login/inhibit.c
  src/machine/machinectl.c
  src/nspawn/nspawn.c
  src/run/run.c
  src/shared/condition.c
  src/shutdown/shutdown.c
  src/test/test-proc-cmdline.c
  src/udev/udevadm-lock.c
  src/udev/udevadm.c
  src/userdb/userdbctl.c
Labels: udev, journal, pid1, util-lib, tests, cgls, run, debug-generator, userdb, needs-stable-backport, please-review

#27180 mkosi: Update to latest
  .github/workflows/mkosi.yml
Labels: tests, please-review

#27150 man/systemd-mount: Clearify documentation about --bind-device
  man/systemd-mount.xml
Labels: documentation, good-to-merge/with-minor-suggestions

#27179 localed: fix invalid free after shifting pointers using strstrip
  src/locale/localed-util.c
Labels: locale, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#27176 test: handle one more error gracefully
  src/test/test-fileio.c
Labels: tests, quick-review 🏃‍♂️, please-review

#27181 test: check if we skip the full setup on daemon-reexec (again)
  test/units/testsuite-01.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#27174 edit-util: several improvements
  src/machine/machinectl.c
  src/shared/edit-util.c
  src/shared/edit-util.h
  src/systemctl/systemctl-edit.c
Labels: systemctl, util-lib, good-to-merge/waiting-for-ci 👍

#27160 conf-files: introduce _at() variants of conf file enumerator
  src/basic/conf-files.c
  src/basic/conf-files.h
  src/basic/path-util.c
  src/basic/path-util.h
  src/test/test-conf-files.c
  src/test/test-path-util.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#27191 fileio: introduce read_one_line_file_at()
  src/basic/fileio.c
  src/basic/fileio.h
Labels: util-lib, quick-review 🏃‍♂️, please-review

#27190 kernel-image: make inspect_kernel() optionally take directory fd
  src/boot/bootctl-uki.c
  src/shared/kernel-image.c
  src/shared/kernel-image.h
Labels: util-lib, sd-boot/sd-stub/bootctl, quick-review 🏃‍♂️, please-review

#27194 chase: several cleanups
  src/basic/chase.c
  src/basic/chase.h
  src/basic/fd-util.c
  src/basic/path-util.c
  src/test/test-path-util.c
Labels: util-lib, tests, please-review

#27193 analyze: make 'blame' work even the default target not reached
  src/analyze/analyze-blame.c
  src/analyze/analyze-critical-chain.c
  src/analyze/analyze-plot.c
  src/analyze/analyze-time-data.c
  src/analyze/analyze-time-data.h
  test/units/testsuite-01.sh
  test/units/testsuite-65.sh
Labels: analyze, tests, good-to-merge/waiting-for-ci 👍

#27110 ci: add permissions to make a release
  .github/workflows/make_release.yml
Labels: tests, good-to-merge/with-minor-suggestions, needs-stable-backport

#27184 fileio: introduce xfopenat_full()
  src/basic/fileio.c
  src/basic/fileio.h
Labels: util-lib, please-review

#27182 test: a couple of stability tweaks
  test/units/testsuite-29.sh
  test/units/testsuite-75.sh
Labels: tests, quick-review 🏃‍♂️, please-review

#27200 env-file: introduce parse_env_file_fdv()
  src/basic/env-file.c
  src/basic/env-file.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#27202 os-util: tiny cleanups
  src/basic/os-util.c
  src/basic/os-util.h
  src/shared/discover-image.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#27199 path-util: introduce path_prefix_root_cwd(), and use it in find_esp() and friends
  src/basic/path-util.c
  src/basic/path-util.h
  src/shared/find-esp.c
  src/test/test-path-util.c
Labels: util-lib, tests, please-review

#27203 tree-wide: A few more uses of "unmet" for conditions
  man/org.freedesktop.systemd1.xml
  src/core/unit.c
  src/systemctl/systemctl-show.c
Labels: documentation, systemctl, good-to-merge/waiting-for-ci 👍

#27201 Support O_PATH more
  src/portable/portabled-image-bus.c
  src/shared/copy.c
  src/test/test-copy.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍, portable

#27198 chase: drop redundant call of delete_trailing_chars()
  src/basic/chase.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#27206 udev: rename arguments and options, update comments
  rules.d/60-persistent-storage-tape.rules
  rules.d/60-persistent-storage.rules.in
  src/shared/device-nodes.c
  src/udev/scsi_id/scsi_id.c
  src/udev/scsi_id/scsi_serial.c
  test/fuzz/fuzz-udev-rules/60-persistent-storage-tape.rules
  test/fuzz/fuzz-udev-rules/60-persistent-storage.rules
  test/udev-test.pl
Labels: udev, util-lib, tests, quick-review 🏃‍♂️, please-review

#27185 compress: replace compress_blob() with compress_blob_explicit()
  src/basic/compress.c
  src/basic/compress.h
  src/fuzz/fuzz-compress.c
  src/libsystemd/sd-journal/journal-file.c
  src/test/test-compress-benchmark.c
  src/test/test-compress.c
Labels: journal, util-lib, tests, please-review

#27211 hwdb: fix ambiguous glob pattern for Lenovo machines
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, needs-stable-backport

#27169 sd-device,udev: refuse unsafe path in SYMLINK= and TAG=
  rules.d/60-persistent-storage.rules.in
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/sd-device.c
  src/udev/udev-rules.c
  test/TEST-64-UDEV-STORAGE/test.sh
  test/test-functions
  test/udev-test.pl
  test/units/testsuite-64.sh
Labels: udev, tests, sd-device, please-review

#27186 os-util: several cleanups and introduce _at() variants of os-release parsers
  docs/ENVIRONMENT.md
  src/basic/os-util.c
  src/basic/os-util.h
  src/test/test-os-util.c
  test/test-systemctl-enable.sh
Labels: documentation, util-lib, tests, good-to-merge/waiting-for-ci 👍

#27196 boot: Fix alignment of long long inside structs on x86
  src/boot/efi/meson.build
  src/boot/efi/util.h
Labels: sd-boot/sd-stub/bootctl, meson, please-review

#27133 systemctl: suppress error for try-* if unit is masked
  src/systemctl/systemctl-start-unit.c
Labels: systemctl, please-review

#27209 Don't run release workflow on `systemd-security` & drop checkout action
  .github/workflows/make_release.yml
Labels: tests

#27130 Modified to use STRV_MAKE() in unit test for strv_env_name_is_valid() function listed in env-util.c
  src/test/test-env-util.c
Labels: tests, 🙋🏽‍♀️ outreachy 🙋, please-review

#27215 test: drop binary stripping stuff
  test/test-functions
Labels: tests, good-to-merge/waiting-for-ci 👍

#27033 Use CLEANUP_ARRAY more
  src/core/dbus-manager.c
  src/core/execute.c
  src/libsystemd/sd-bus/sd-bus.c
  src/machine/machinectl.c
  src/portable/portablectl.c
  src/portable/portabled-bus.c
  src/portable/portabled-image-bus.c
  src/systemctl/systemctl-add-dependency.c
  src/systemctl/systemctl-enable.c
  src/systemctl/systemctl-preset-all.c
  src/systemctl/systemctl-set-default.c
Labels: journal, sd-bus, systemctl, util-lib, portable, please-review

#27220 sd-device: several follow-ups about devlink creation
  src/libsystemd/sd-device/sd-device.c
  test/udev-test.pl
Labels: tests, sd-device, good-to-merge/waiting-for-ci 👍

#27165 service: tell service processes that the fdstore is available via an e…
  man/sd_notify.xml
  man/systemd.exec.xml
  man/systemd.service.xml
  src/core/service.c
  test/units/testsuite-80.sh
Labels: documentation, pid1, tests, good-to-merge/waiting-for-ci 👍

#24579 systemd-nspawn: support colon-separated pair of host / container network interface names
  man/systemd-nspawn.xml
  man/systemd.nspawn.xml
  src/nspawn/nspawn-gperf.gperf
  src/nspawn/nspawn-network.c
  src/nspawn/nspawn-network.h
  src/nspawn/nspawn-settings.c
  src/nspawn/nspawn-settings.h
  src/nspawn/nspawn.c
Labels: nspawn, documentation, new-feature, please-review

#27227 Fix compilation error
  src/shared/discover-image.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, priority, ci-blocker 🚧

#27217 boot-entry: introduce _at() variant
  src/boot/bootctl-util.c
  src/shared/boot-entry.c
  src/shared/boot-entry.h
Labels: util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#27239 man: link to Fedora 37
  man/custom-entities.ent.in
Labels: documentation, please-review

#27229 dissect: follow-up for image policy merge
  man/systemd-sysext.xml
  src/shared/discover-image.c
  src/shared/image-policy.c
  src/shared/image-policy.h
  src/sysext/sysext.c
Labels: documentation, util-lib, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, dissect

#27212 core: Propagate exit status via notify socket when running in VM
  man/sd_notify.xml
  src/core/main.c
  src/shared/main-func.h
  src/shutdown/shutdown.c
Labels: documentation, pid1, util-lib, notify, good-to-merge/waiting-for-ci 👍

#27153 varlink: implement file descriptor passing
  src/shared/varlink.c
  src/shared/varlink.h
  src/test/test-varlink.c
Labels: new-feature, util-lib, tests, good-to-merge/waiting-for-ci 👍, varlink, please-review

#27240 man: add util-linux to the package list for Fedora container
  man/systemd-nspawn.xml
Labels: documentation, please-review

#27249 Fix cross-reference of manual for LogsDirectory
  man/file-hierarchy.xml
Labels: documentation, please-review

#27243 core: fix property getter method for NFileDescriptorStore bus property
  src/core/dbus-service.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#27135 Allow the per-service fdstore to be "pinned", i.e. preserved as long as the unit info remains in memory
  TODO
  man/org.freedesktop.systemd1.xml
  man/systemctl.xml
  man/systemd.service.xml
  src/basic/unit-def.c
  src/basic/unit-def.h
  src/core/dbus-execute.c
  src/core/dbus-execute.h
  src/core/dbus-service.c
  src/core/dbus-unit.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/manager.c
  src/core/manager.h
  src/core/service.c
  src/core/service.h
  src/core/socket.c
  src/core/timer.c
  src/core/unit.c
  src/core/unit.h
  src/shared/bus-unit-util.c
  src/systemctl/systemctl-clean-or-freeze.c
  src/systemctl/systemctl.c
  test/testsuite-80.units/fdstore-nopin.service
  test/testsuite-80.units/fdstore-pin.service
  test/testsuite-80.units/fdstore-pin.sh
  test/testsuite-80.units/fdstore-pin.target
  test/units/testsuite-80.service
  test/units/testsuite-80.sh
Labels: documentation, pid1, systemctl, new-feature, util-lib, tests, good-to-merge/waiting-for-ci 👍

#27242 repart: always take BSD lock when whole block device is opened
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#27027 Use _cleanup_ for UnitFileList hash
  src/core/dbus-manager.c
  src/shared/install.c
  src/shared/install.h
  src/systemctl/systemctl-is-enabled.c
  src/systemctl/systemctl-list-unit-files.c
  src/test/test-install-root.c
  src/test/test-install.c
  src/test/test-load-fragment.c
  test/units/testsuite-26.sh
Labels: systemctl, util-lib, tests, tree-wide, good-to-merge/waiting-for-ci 👍

#26565 repart: Discard beginning gap from first usable lba
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#18789 veritysetup: Add options for parity support with the cryptsetup's verity utility
  man/systemd-veritysetup-generator.xml
  man/veritytab.xml
  src/veritysetup/veritysetup.c
Labels: documentation, veritysetup, please-review

#27251 test: add several assertions
  src/test/test-varlink.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#27091 systemd-cryptenroll: add string aliases for tpm2 PCRs
  man/systemd-cryptenroll.xml
  src/basic/string-table.h
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
  src/test/test-tpm2.c
  test/units/testsuite-70.sh
Labels: util-lib, good-to-merge/waiting-for-ci 👍, tpm2, 🙋🏽‍♀️ outreachy 🙋

#27238 mkosi: Update to latest
  .github/workflows/mkosi.yml
  mkosi.conf.d/10-systemd.conf
  mkosi.conf.d/20-arch.conf
  mkosi.conf.d/20-centos.conf
  mkosi.conf.d/20-debian.conf
  mkosi.conf.d/20-fedora.conf
  mkosi.conf.d/20-opensuse.conf
  mkosi.conf.d/20-ubuntu.conf
  mkosi.postinst
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#27166 systemd-confext: mount confext as noexec/nosuid
  man/systemd-sysext.xml
  src/sysext/sysext.c
  test/units/testsuite-50.sh
Labels: good-to-merge/waiting-for-ci 👍, extension

#27259 core/main: fix a typo for --log-target
  src/core/main.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#27264 Synposis and description of networkctl man page reflecting only part of its functionality
  man/networkctl.xml
Labels: documentation, please-review

#27244 Uphold/StopWhenUnneeded/BindsTo: add retry timer on rate limit
  src/basic/ratelimit.c
  src/basic/ratelimit.h
  src/core/job.c
  src/core/manager.c
  src/core/unit.c
  src/core/unit.h
  test/units/testsuite-57-retry-fail.service
  test/units/testsuite-57-retry-upheld.service
  test/units/testsuite-57-retry-uphold.service
  test/units/testsuite-57.sh
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#25233 user units: implicitly enable PrivateUsers= when sandboxing options are set
  man/system-or-user-ns.xml
  src/core/execute.c
  src/test/test-execute.c
  test/units/testsuite-43.sh
Labels: documentation, pid1, tests, user-session, good-to-merge/waiting-for-ci 👍

#27144 scope: do not disable timer event source when state is SCOPE_RUNNING
  src/core/scope.c
  test/units/testsuite-16.sh
Labels: pid1, tests, good-to-merge/waiting-for-ci 👍

#27254 socket-util: tighten CMSG_TYPED_DATA() alignment checks
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/core/manager.c
  src/coredump/coredump.c
  src/home/homed-manager.c
  src/journal/journald-server.c
  src/libsystemd-network/icmp6-util.c
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-dhcp-server.c
  src/libsystemd/sd-bus/bus-socket.c
  src/libsystemd/sd-device/device-monitor.c
  src/resolve/resolved-dns-stream.c
  src/resolve/resolved-manager.c
  src/udev/udev-ctrl.c
Labels: udev, network, journal, resolve, sd-bus, util-lib, coredump, sd-device, tree-wide, good-to-merge/waiting-for-reporter-feedback 👍

#27265 Fix memory leak if GREEDY_REALLOC() fails
  src/shared/install.c
  src/shared/install.h
  src/systemctl/systemctl-list-unit-files.c
Labels: systemctl, good-to-merge/waiting-for-ci 👍

#27266 Use TAKE_STRUCT() to copy and reset structs
  src/locale/localed-util.c
  src/nspawn/nspawn.c
  src/resolve/resolved-etc-hosts.c
  src/shared/bootspec.c
  src/shared/cpu-set-util.c
  src/shared/install.c
  src/shared/numa-util.c
  src/tmpfiles/tmpfiles.c
Labels: tree-wide, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#27252 chase: refuse CHASE_MKDIR_0755 without CHASE_NONEXISTENT or CHASE_PARENT
  src/basic/chase.c
  src/basic/chase.h
  src/test/test-chase.c
Labels: util-lib, tests, please-review

#27270 string-util: add strstrafter()
  src/basic/mountpoint-util.c
  src/basic/string-util.h
  src/libsystemd/sd-device/device-enumerator.c
  src/shared/bus-get-properties.c
  src/shared/edit-util.c
  src/shared/xml.c
  src/test/test-string-util.c
Labels: util-lib, tree-wide, good-to-merge/waiting-for-ci 👍

#27269 mountpoint-util: don't go to the network when doing statx() to detect mountpoints/mnt_id
  src/basic/mountpoint-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#27272 man/systemd-cryptenroll: update list of PCRs, link to uapi docs
  man/systemd-cryptenroll.xml
Labels: documentation, please-review

#27276 Translations update from Fedora Weblate
  po/gl.po
Labels: l10n 🌍, please-review

#27263 preset: Add ignore directive
  man/systemd.preset.xml
  src/core/dbus-unit.c
  src/core/unit.c
  src/core/unit.h
  src/shared/install.c
  src/shared/install.h
  src/systemctl/systemctl-list-unit-files.c
  src/test/test-install-root.c
Labels: systemctl, util-lib, good-to-merge/waiting-for-ci 👍

#27273 test: add a couple of tests for getty/run/system-update generators
  test/test-functions
  test/units/generator-utils.sh
  test/units/testsuite-81.debug-generator.sh
  test/units/testsuite-81.fstab-generator.sh
  test/units/testsuite-81.getty-generator.sh
  test/units/testsuite-81.run-generator.sh
  test/units/testsuite-81.sh
  test/units/testsuite-81.system-update-generator.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#27274 fsck: look for fsck binary not just in /sbin
  man/systemd-fsck@.service.xml
  src/fsck/fsck.c
  src/home/homework-luks.c
  src/shared/dissect-image.c
Labels: util-lib, fsck, good-to-merge/waiting-for-ci 👍

#27281 mkosi: Update to latest
  .github/workflows/mkosi.yml
  mkosi.conf.d/20-debian.conf
  mkosi.conf.d/20-ubuntu.conf
Labels: tests, please-review

#27282 mkosi: Always disable sshd and dnsmasq
  mkosi.extra/usr/lib/systemd/system-preset/00-mkosi.preset
  mkosi.postinst
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#27253 socket-util: introduce CMSG_FIND_AND_COPY_DATA()
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/boot/efi/pe.c
  src/fundamental/macro-fundamental.h
  src/journal/journald-server.c
  src/libsystemd-network/icmp6-util.c
  src/libsystemd-network/sd-dhcp-server.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd/sd-daemon/sd-daemon.c
  src/network/networkd-nexthop.c
  src/resolve/resolved-manager.c
  src/test/test-sizeof.c
  src/timesync/timesyncd-manager.c
Labels: udev, network, journal, resolve, sd-bus, util-lib, tests, timesync, sd-boot/sd-stub/bootctl, coredump, sd-device, sd-daemon, dhcp, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#27283 test: a bunch of assorted tweaks, Saturday edition
  docs/ENVIRONMENT.md
  src/shared/securebits-util.h
  src/test/meson.build
  src/test/test-env-file.c
  src/test/test-env-util.c
  src/test/test-format-table.c
  src/test/test-secure-bits.c
  src/test/test-specifier.c
  test/units/testsuite-01.sh
  test/units/testsuite-04.sh
  test/units/testsuite-45.sh
  test/units/testsuite-65.sh
Labels: documentation, util-lib, tests, meson, good-to-merge/with-minor-suggestions

#27285 exec-util: make execute_strv() optionally take root directory
  src/shared/exec-util.c
  src/shared/exec-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#27290 mkosi: default to Fedora 38
  mkosi.conf.d/20-centos.conf
  mkosi.conf.d/20-fedora.conf
Labels: good-to-merge/waiting-for-ci 👍

#27297 process-util: make safe_fork() unset $NOTIFY_SOCKET
  src/basic/process-util.c
  src/basic/process-util.h
  src/sysupdate/sysupdate-resource.c
  src/sysupdate/sysupdate-transfer.c
  src/udev/udevd.c
Labels: udev, util-lib, good-to-merge/waiting-for-ci 👍, sysupdate

#27298 test: modernize test-async a bit
  docs/ENVIRONMENT.md
  src/test/test-async.c
Labels: documentation, tests, good-to-merge/waiting-for-ci 👍

#27295 hwdb: add accelerometer mount matrix for Lenovo Yoga Tablet 2 851F/L
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#27300 mkosi: Use kernel-core for Fedora and CentOS images
  mkosi.conf.d/20-centos.conf
  mkosi.conf.d/20-fedora.conf
Labels: ci-failure-appears-unrelated

#27267 virt: Further improve detection of EC2 metal instances
  src/basic/virt.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, detect-virt

#27305 user-util:remove duplicate includes
  src/basic/user-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#27306 fsck: use execv_p_ and execl_p_
  src/fsck/fsck.c
  src/home/homework-luks.c
  src/shared/dissect-image.c
Labels: util-lib, tree-wide, good-to-merge/waiting-for-ci 👍

#27308 process-util: be more careful with pidfd_get_pid() special cases
  src/basic/process-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#27286 bpf-firewall: give a name to maps used
  src/core/bpf-firewall.c
  src/shared/bpf-program.c
  src/shared/bpf-program.h
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍, bpf

#27310 lsm-util: move detection of support of LSMs into a new lsm-util.[ch] …
  src/core/bpf-lsm.c
  src/shared/lsm-util.c
  src/shared/lsm-util.h
  src/shared/meson.build
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#27317 getty-generator: Use device hotplug to instantiate virtualizer consoles
  src/getty-generator/getty-generator.c
Labels: good-to-merge/waiting-for-ci 👍

#27316 gpt-auto: do not fail when no suitable partitions found
  src/gpt-auto-generator/gpt-auto-generator.c
Labels: gpt-auto, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#27319 Revert "getty-generator: Use device hotplug to instantiate virtualizer consoles"
  src/getty-generator/getty-generator.c
Labels: please-review

#27312 hwdb: Fix accel orientation for BMAX Y13
  hwdb.d/60-sensor.hwdb
Labels: hwdb, please-review

#27320 minor tweaks to kmod-setup.c
  src/core/kmod-setup.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#27324 test: prefix the transient unit with test- to make coverage runs happy
  test/units/testsuite-54.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#27323 gpt-auto-generator: do not error out when no partitions are found
  src/fstab-generator/fstab-generator.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
Labels: util-lib, gpt-auto, fstab-generator, good-to-merge/waiting-for-ci 👍, please-review

#27333 dissect-image: fix log level in dissect_log_error
  src/shared/dissect-image.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#27334 core: add one missing assertion for release_resource_queue
  src/core/manager.c
Labels: pid1, quick-review 🏃‍♂️, please-review

#27336 hwdb: disable entry for Logitech USB receiver used by G502 X
  hwdb.d/70-mouse.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#27299 chase: return absolute path when dir_fd points to the root directory
  src/basic/chase.c
  src/basic/chase.h
  src/basic/fd-util.c
  src/basic/mountpoint-util.c
  src/basic/os-util.c
  src/basic/path-util.c
  src/basic/path-util.h
  src/shared/find-esp.c
  src/test/test-chase.c
  src/test/test-path-util.c
  test/test-bootctl-json.sh
Labels: util-lib, tests, please-review

#27339 list: fix double evaluation
  src/basic/list.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#27338 core/device: rewrite how device unit is removed from Manager.devices_by_sysfs
  src/core/device.c
Labels: pid1, please-review

#27313 networkd: fallback to chaddr for static lease lookup when not found
  src/libsystemd-network/sd-dhcp-server.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#27344 dissect-image: issue BLKFLSBUF before probing an fs at block device o…
  src/shared/dissect-image.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, dissect

#27343 man: try to make clearer that /var/ is generally not available in /us…
  man/systemd-poweroff.service.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, shutdown

#27342 ratelimit: handle counter overflows somewhat sanely
  src/basic/ratelimit.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#27345 dissect: let's check for crypto_LUKS before fstype allowlist check
  src/shared/dissect-image.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, dissect, needs-stable-backport

#27327 kmod-setup: Add early loading for virtio_console
  man/common-variables.xml
  man/kernel-command-line.xml
  man/systemd.xml
  mkosi.conf.d/10-systemd.conf
  src/basic/log.c
  src/basic/string-util.c
  src/basic/string-util.h
  src/basic/strv.h
  src/core/kmod-setup.c
  src/core/main.c
Labels: documentation, pid1, util-lib, good-to-merge/waiting-for-ci 👍

#23325 Apply known iocost solutions to block devices
  man/iocost.conf.xml
  man/rules/meson.build
  rules.d/90-iocost.rules
  rules.d/meson.build
  src/udev/iocost/iocost.c
  src/udev/iocost/iocost.conf
  src/udev/meson.build
Labels: udev, cgroups, documentation, new-feature, meson, please-review

#27348 detect-virt: add message at debug level
  src/basic/stat-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍
