Repository systemd/systemd, pull requests merged in 2023-03, with the labels that each got.

#26393 watch and act on memory pressure in most of our long-running services, including PID 1
  TODO
  docs/MEMORY_PRESSURE.md
  man/org.freedesktop.systemd1.xml
  man/sd_event_add_memory_pressure.xml
  man/systemd-system.conf.xml
  man/systemd.exec.xml
  man/systemd.resource-control.xml
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-cgroup.c
  src/core/dbus-cgroup.h
  src/core/dbus-manager.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/main.c
  src/core/manager.c
  src/core/manager.h
  src/core/mount.c
  src/core/service.c
  src/core/socket.c
  src/core/swap.c
  src/core/unit.c
  src/home/homed-manager.c
  src/home/homed.c
  src/import/importd.c
  src/journal/journald-context.c
  src/journal/journald-context.h
  src/journal/journald-server.c
  src/journal/journald-server.h
  src/login/logind.c
  src/machine/machined.c
  src/network/networkd-manager.c
  src/nspawn/nspawn.c
  src/portable/portabled.c
  src/resolve/resolved-manager.c
  src/resolve/resolved-manager.h
  src/resolve/resolved.c
  src/shared/bus-unit-util.c
  src/shared/common-signal.c
  src/shared/common-signal.h
  src/shared/meson.build
  src/timesync/timesyncd-manager.c
  src/timesync/timesyncd.c
  src/udev/udevd.c
  src/userdb/userdbd-manager.c
  src/userdb/userdbd.c
  test/TEST-79-MEMPRESS/Makefile
  test/TEST-79-MEMPRESS/test.sh
  test/units/testsuite-79.service
  test/units/testsuite-79.sh
  units/user@.service.in
Labels: udev, network, journal, resolve, systemctl, util-lib, timesync, sd-event, good-to-merge/waiting-for-ci 👍, units, portable, userdb

#26630 virt: correctly detect QEMU emulated pSeries guests
  src/basic/virt.c
Labels: good-to-merge/waiting-for-ci 👍, detect-virt

#26631 tree-wide: error handling modernizations
  src/core/execute.c
  src/nspawn/nspawn.c
Labels: nspawn, pid1, tree-wide, good-to-merge/waiting-for-ci 👍

#26632 dissect: determine arch from DDI and use it for nspawn
  src/dissect/dissect.c
  src/nspawn/nspawn.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
Labels: nspawn, util-lib, good-to-merge/waiting-for-ci 👍, dissect

#26627 test: skip the hwdb update related tests w/ sanitizers and w/o accel
  test/units/testsuite-17.10.sh
Labels: tests, please-review

#26633 meson: Copy files with git only in true git repository
  meson.build
  test/fuzz/meson.build
  test/meson.build
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi, meson

#26628 escape: Ensure that output is always valid UTF-8
  src/basic/escape.c
  src/test/test-escape.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#26642 nspawn: drop unused arg
  src/nspawn/nspawn.c
Labels: nspawn, good-to-merge/waiting-for-ci 👍

#26355 journald: support ordering journal entries by boot ID if no RTC is available
  TODO
  docs/JOURNAL_FILE_FORMAT.md
  src/libsystemd/sd-journal/journal-def.h
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-journal/journal-file.h
  src/libsystemd/sd-journal/journal-internal.h
  src/libsystemd/sd-journal/sd-journal.c
  test/TEST-04-JOURNAL/test.sh
  test/test-journals/1/system.journal.zst
  test/test-journals/1/system@0005ebbfd42fc981-39a8842ec948769a.journal~.zst
  test/test-journals/1/system@0005ebbfd4346b9f-43185b46162d9fa5.journal~.zst
  test/test-journals/1/system@0005ebbfd4385848-2e5dff5354ab9bcf.journal~.zst
  test/test-journals/1/user-1000.journal.zst
  test/test-journals/1/user-1000@0005ebbfd660bcbe-dbef2eee11f4b575.journal~.zst
  test/test-journals/1/user-1000@0005ebbfe89faec4-a5e890e7b00bedd1.journal~.zst
  test/units/testsuite-04.sh
Labels: journal, documentation, util-lib, tests, journal-remote, good-to-merge/waiting-for-ci 👍, meson

#26655 --print-booth-path
  man/bootctl.xml
Labels: documentation, sd-boot/sd-stub/bootctl, please-review

#26649 test: fix and extend test for parse_timestamp()
  src/basic/time-util.c
  src/test/meson.build
  src/test/test-time-util.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍, meson

#26653 teach link_tmpfile() to optionally replace files
  src/basic/tmpfile-util.c
  src/basic/tmpfile-util.h
  src/boot/bootctl-install.c
  src/coredump/coredump.c
  src/portable/portable.c
  src/shared/copy.c
  src/shared/hwdb-util.c
  src/test/test-tmpfiles.c
Labels: hwdb, util-lib, tests, sd-boot/sd-stub/bootctl, coredump, tree-wide, good-to-merge/waiting-for-ci 👍, portable

#26668 man: add/update example in systemd.link
  man/systemd.link.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#26680 mkosi: Install dnf on centos and fedora
  mkosi.conf.d/centos/10-centos.conf
  mkosi.conf.d/fedora/10-fedora.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#26651 Several meson cleanups
  man/meson.build
  man/rules/meson.build
  meson.build
  tools/meson-build.sh
  tools/oss-fuzz.sh
Labels: documentation, ci-failure-appears-unrelated, meson

#26677 Revert "hwdb: fix swapped buttons for Logitech Lift left"
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, quick-review 🏃‍♂️, needs-stable-backport

#26659 meson: adjust for removal of gnu-efi compat
  src/boot/efi/meson.build
Labels: sd-boot/sd-stub/bootctl, meson, please-review

#26650 test: generate debugging logs for udevd after restart
  man/udevadm.xml
  test/units/testsuite-17.10.sh
Labels: tests, ci-failure-appears-unrelated

#26682 udev_rules_parse_file: do not skip ENOENT
  src/udev/udev-rules.c
Labels: udev, please-review

#26694 mkosi: Update to latest
  .github/workflows/mkosi.yml
Labels: tests, please-review

#26643 gpt-auto: Check for /boot before putting ESP there
  src/gpt-auto-generator/gpt-auto-generator.c
Labels: gpt-auto, please-review

#26692 time-util: drop redundant call of tzset()
  src/basic/time-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#26687 C2X support
  meson.build
  src/basic/capability-util.c
  src/basic/cgroup-util.c
  src/basic/log.c
  src/basic/macro.h
  src/basic/memory-util.c
  src/basic/missing_threads.h
  src/basic/process-util.c
  src/basic/psi-util.c
  src/basic/random-util.c
  src/basic/signal-util.c
  src/basic/time-util.c
  src/basic/virt.c
  src/libsystemd/sd-bus/sd-bus.c
  src/libsystemd/sd-event/sd-event.c
  src/libsystemd/sd-id128/sd-id128.c
  src/libsystemd/sd-resolve/sd-resolve.c
  src/login/logind-inhibit.c
  src/network/networkd-route-util.c
  src/nss-systemd/nss-systemd.c
  src/shared/cgroup-setup.c
  src/shared/uid-alloc-range.c
  src/systemd/meson.build
Labels: network, resolve, sd-bus, util-lib, sd-event, good-to-merge/waiting-for-ci 👍, sd-id128, meson, sd-resolve

#26502 Several chase_symlinks() additions
  src/basic/chase-symlinks.c
  src/basic/chase-symlinks.h
  src/test/test-fs-util.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#26645 base-filesystem: Support Arch-style multilib
  src/shared/base-filesystem.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#26672 network: geneve: add InheritInnerProtocol flag
  man/systemd.netdev.xml
  src/libsystemd/sd-netlink/netlink-types-rtnl.c
  src/network/netdev/geneve.c
  src/network/netdev/geneve.h
  src/network/netdev/netdev-gperf.gperf
Labels: network, documentation, sd-netlink, good-to-merge/waiting-for-ci 👍

#26686 tree-wide: replace IOVEC_INIT with IOVEC_MAKE
  src/basic/io-util.h
  src/core/dynamic-user.c
  src/core/execute.c
  src/libsystemd/sd-journal/journal-send.c
  src/portable/portable.c
  src/test/test-socket-util.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍, portable

#26666 udev: Don't mark as tablet if device has relative coordinates
  src/udev/udev-builtin-input_id.c
Labels: udev, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#26669 journalctl: fix output when --lines is used with --since or --until
  src/journal/journalctl.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#26684 conf-files: fix potential memleak in conf_files_list_strv_internal()
  src/basic/conf-files.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#26648 kernel-install: also try to find $BOOT by partition GUID
  src/kernel-install/kernel-install.in
Labels: good-to-merge/waiting-for-ci 👍, kernel-install, ci-failure-appears-unrelated

#26695 make "systemd-dissect --mount" available as /sbin/mount.ddi
  man/rules/meson.build
  man/systemd-dissect.xml
  meson.build
  src/dissect/dissect.c
  test/units/testsuite-50.sh
Labels: new-feature, good-to-merge/waiting-for-ci 👍, dissect

#26706 doc: various orthographic fixes
  .github/ISSUE_TEMPLATE/bug_report.yml
  NEWS
  TODO
  docs/NETWORK_ONLINE.md
  man/systemd-dissect.xml
  src/basic/chase-symlinks.c
  src/core/job.c
  src/core/unit.c
  src/home/homed-manager.c
  src/home/homework-luks.c
  src/libsystemd/sd-bus/bus-creds.c
  src/shared/bus-unit-util.c
  units/systemd-time-wait-sync.service.in
Labels: documentation, sd-bus, util-lib, units, please-review

#26712 test: add a couple of tests for busctl
  test/units/testsuite-74.busctl.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, busctl

#26685 man: mention two missing services
  man/rules/meson.build
  man/systemd-fsck@.service.xml
  man/systemd-makefs@.service.xml
Labels: documentation, meson

#26714 localed: skip verification when libxkbcommon is not installed
  src/locale/localed.c
Labels: locale, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#26708 timesync: stop re-sync on network configuration change when no link servers are configured
  src/timesync/timesyncd-manager.c
Labels: timesync, good-to-merge/waiting-for-ci 👍, fix-commit-message-on-merge, needs-stable-backport

#26713 Add note to docs that setenv() cannot be called in parallel with getenv()
  man/libsystemd-pkgconfig.xml
  man/libudev.xml
  man/sd_bus_add_match.xml
  man/sd_is_fifo.xml
  man/sd_listen_fds.xml
  man/sd_notify.xml
  man/sd_watchdog_enabled.xml
  man/threads-aware.xml
Labels: udev, documentation, please-review

#26678 macro: introduce FOREACH_ARRAY() macro
  src/basic/macro.h
  src/systemctl/systemctl-list-units.c
  src/test/test-macro.c
Labels: systemctl, util-lib, tests

#26716 test: add a couple of tests for systemd-escape and systemd-id128
  src/random-seed/random-seed.c
  test/units/testsuite-74.escape.sh
  test/units/testsuite-74.id128.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, sd-id128, escape

#26711 Man page tweaks
  man/resolved.conf.xml
  man/systemd-system.conf.xml
  man/systemd.resource-control.xml
  src/core/system.conf.in
Labels: resolve, documentation, please-review

#26718 CODING_STYLE: note that 'unsigned' form is preferred over 'unsigned int'
  docs/CODING_STYLE.md
Labels: documentation, please-review

#26656 mkdir: fix error code
  src/basic/mkdir.c
  src/test/test-mkdir.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#26119 kernel-install: improve uki handling
  man/kernel-install.xml
  src/boot/bootctl-uki.c
  src/kernel-install/90-uki-copy.install
  src/kernel-install/kernel-install.in
Labels: documentation, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, kernel-install

#26717 localed: print a custom message if libxkbcommon.so is unvailable
  src/locale/localed.c
Labels: locale, good-to-merge/waiting-for-ci 👍

#26698 udevadm verify
  man/udevadm.xml
  meson.build
  rules.d/60-persistent-storage.rules.in
  rules.d/meson.build
  shell-completion/bash/udevadm
  shell-completion/zsh/_udevadm
  src/udev/meson.build
  src/udev/udev-rules.c
  src/udev/udev-rules.h
  src/udev/udevadm-verify.c
  src/udev/udevadm.c
  src/udev/udevadm.h
  test/units/testsuite-17.11.sh
Labels: udev, documentation, tests, meson, please-review

#26724 macro: support the case that the number of elements has const qualifier
  src/basic/macro.h
Labels: util-lib, quick-review 🏃‍♂️, please-review

#26038 fstab-generator: use correct targets when /sysroot is specificied in fstab only
  docs/ENVIRONMENT.md
  man/systemd-fstab-generator.xml
  src/fstab-generator/fstab-generator.c
  test/test-fstab-generator.sh
  test/test-fstab-generator/test-17-initrd-sysroot.fstab.expected/initrd-fs.target.requires/sysroot-usr.mount
  test/test-fstab-generator/test-17-initrd-sysroot.fstab.expected/initrd-root-device.target.d/50-root-device.conf
  test/test-fstab-generator/test-17-initrd-sysroot.fstab.expected/initrd-root-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-17-initrd-sysroot.fstab.expected/initrd-usr-fs.target.requires/sysroot.mount
  test/test-fstab-generator/test-17-initrd-sysroot.fstab.expected/initrd-usr-fs.target.requires/sysusr-usr.mount
  test/test-fstab-generator/test-17-initrd-sysroot.fstab.expected/sysroot-usr.mount
  test/test-fstab-generator/test-17-initrd-sysroot.fstab.expected/sysroot.mount
  test/test-fstab-generator/test-17-initrd-sysroot.fstab.expected/systemd-fsck-root.service
  test/test-fstab-generator/test-17-initrd-sysroot.fstab.expected/sysusr-usr.mount
  test/test-fstab-generator/test-17-initrd-sysroot.fstab.input
Labels: documentation, fstab-generator, please-review

#26729 tests: merge test-tmpfiles.c into test-tmpfile-util.c
  src/test/meson.build
  src/test/test-tmpfile-util.c
  src/test/test-tmpfiles.c
Labels: tests, good-to-merge/waiting-for-ci 👍, meson

#26725 manager: in dump, show controllers in "Delegate:"
  src/core/cgroup.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#26732 man: fix typo in ukify manpage
  man/ukify.xml
Labels: documentation, uki, please-review

#26730 mempress: change default PSI window duration to 2s
  man/systemd-system.conf.xml
  man/systemd.resource-control.xml
  src/basic/psi-util.h
  src/libsystemd/sd-event/sd-event.c
  test/units/testsuite-79.sh
Labels: documentation, util-lib, tests, sd-event, good-to-merge/waiting-for-ci 👍

#26731 Mempressure follow ups
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/main.c
  src/core/system.conf.in
  src/core/user.conf.in
  test/fuzz/fuzz-unit-file/directives-all.service
Labels: pid1, tests, good-to-merge/waiting-for-ci 👍

#26734 Assorted test tweaks
  test/test-functions
  test/units/testsuite-17.10.sh
  test/units/testsuite-64.sh
  test/units/testsuite-74.busctl.sh
  test/units/testsuite-74.cgls.sh
Labels: tests, cgls, good-to-merge/waiting-for-ci 👍, busctl

#26675 load-fragment: add user and home specifier to user.conf
  man/systemd-system.conf.xml
  src/core/load-fragment.c
  src/core/main.c
Labels: documentation, pid1, good-to-merge/waiting-for-ci 👍

#26741 trivial fixes to acquire_data_fd()
  src/basic/fd-util.h
  src/shared/data-fd-util.c
  src/shared/data-fd-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#26704 Set MS_NOSYMFOLLOW for ESP + XBOOTLDR and many mount option clean-ups
  meson.build
  src/basic/missing_syscall.h
  src/basic/mountpoint-util.c
  src/basic/mountpoint-util.h
  src/core/namespace.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/test/test-mountpoint-util.c
Labels: util-lib, tests, gpt-auto, good-to-merge/waiting-for-ci 👍, dissect, meson

#26331 Tpm2 pcr read
  src/basic/bitfield.h
  src/basic/macro.h
  src/boot/measure.c
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-systemd-tpm2.c
  src/cryptsetup/cryptsetup.c
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
  src/test/meson.build
  src/test/test-bitfield.c
  src/test/test-macro.c
  src/test/test-tpm2.c
Labels: util-lib, tests, sd-boot/sd-stub/bootctl, meson, good-to-merge/with-minor-suggestions, tpm2

#26736 test: run script from /tmp, not /run
  test/units/testsuite-79.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#26747 minor clean-ups for src/dissect/dissect.c
  src/dissect/dissect.c
Labels: good-to-merge/waiting-for-ci 👍, dissect

#26726 Various small cleanups
  src/basic/lock-util.c
  src/basic/lock-util.h
  src/basic/memfd-util.c
  src/basic/memfd-util.h
  src/basic/meson.build
  src/basic/user-util.c
  src/core/dynamic-user.c
  src/journal/fuzz-journald-native-fd.c
  src/nspawn/nspawn-network.c
  src/shared/data-fd-util.c
  src/shared/discover-image.c
  src/shared/discover-image.h
  src/shared/meson.build
Labels: journal, util-lib, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, meson

#26348 mount: Include After=local-fs-pre.target by default in initrd
  src/core/mount.c
Labels: hibernate-resume, good-to-merge/with-minor-suggestions

#26750 generator: fix comment
  src/shared/generator.c
Labels: util-lib, quick-review 🏃‍♂️, please-review

#26752 src: Fixup copy-paste error for terminal_urlify_man
  man/systemd-measure.xml
  man/ukify.xml
  src/boot/pcrphase.c
  src/oom/oomd.c
  src/partition/repart.c
  src/sysext/sysext.c
  src/sysupdate/sysupdate.c
Labels: documentation, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, repart, sysupdate, uki

#26739 udevadm verify: introduce --root option
  man/udevadm.xml
  shell-completion/bash/udevadm
  shell-completion/zsh/_udevadm
  src/udev/udev-rules.c
  src/udev/udevadm-verify.c
  test/units/testsuite-17.11.sh
Labels: udev, documentation, tests, good-to-merge/waiting-for-ci 👍

#26303 shared: add edit-util (part of which extracted from systemctl-edit)
  src/shared/edit-util.c
  src/shared/edit-util.h
  src/shared/meson.build
  src/systemctl/systemctl-edit.c
Labels: systemctl, util-lib, good-to-merge/waiting-for-ci 👍, meson

#26641 boot: Drop gnu-efi / Add elf2efi.py
  .github/workflows/build_test.sh
  .github/workflows/unit_tests.sh
  README
  man/bootctl.xml
  man/loader.conf.xml
  man/rules/meson.build
  man/systemd-bless-boot-generator.xml
  man/systemd-bless-boot.service.xml
  man/systemd-boot-random-seed.service.xml
  man/systemd-boot.xml
  man/systemd-measure.xml
  man/systemd-pcrphase.service.xml
  man/systemd-stub.xml
  meson.build
  meson_options.txt
  mkosi.build
  mkosi.conf.d/10-systemd.conf
  mkosi.conf.d/arch/10-arch.conf
  mkosi.conf.d/centos/10-centos.conf
  mkosi.conf.d/debian/10-debian.conf
  mkosi.conf.d/fedora/10-fedora.conf
  mkosi.conf.d/opensuse/10-opensuse.conf
  mkosi.conf.d/ubuntu/10-ubuntu.conf
  shell-completion/bash/meson.build
  shell-completion/zsh/meson.build
  src/basic/meson.build
  src/boot/efi/boot.c
  src/boot/efi/efi-string.h
  src/boot/efi/meson.build
  src/boot/efi/pe.c
  src/boot/efi/stub.c
  src/boot/efi/util.c
  src/boot/efi/util.h
  src/core/meson.build
  src/cryptsetup/cryptsetup-tokens/meson.build
  src/fundamental/meson.build
  src/fundamental/sbat.h
  src/import/meson.build
  src/journal-remote/meson.build
  src/journal/meson.build
  src/libsystemd-network/meson.build
  src/libsystemd/meson.build
  src/libudev/meson.build
  src/login/meson.build
  src/machine/meson.build
  src/network/meson.build
  src/nspawn/meson.build
  src/resolve/meson.build
  src/shared/meson.build
  src/test/meson.build
  src/timesync/meson.build
  src/udev/meson.build
  test/meson.build
  test/mkosi.default.networkd-test
  tools/debug-sd-boot.sh
  tools/elf2efi.lds
  tools/elf2efi.py
  tools/oss-fuzz.sh
  units/meson.build
Labels: udev, network, journal, documentation, util-lib, tests, sd-boot/sd-stub/bootctl, journal-remote, units, mkosi, meson, please-review

#26758 mkosi: Update to latest
  .github/workflows/mkosi.yml
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#26768 sd-boot: fix incompatible type
  src/boot/efi/vmm.c
Labels: sd-boot/sd-stub/bootctl

#26756 edit-util: several cleanups
  src/shared/edit-util.c
  src/shared/edit-util.h
  src/systemctl/systemctl-edit.c
Labels: systemctl, util-lib, please-review

#26776 edit-util: some more cleanups
  src/shared/edit-util.c
  src/shared/edit-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#26775 mkfs-util: Always use "default" usage type for ext filesystems
  src/shared/mkfs-util.c
Labels: util-lib, please-review

#26760 added a unit test for a function in "argv-utils.c"
  src/test/test-argv-util.c
Labels: tests, good-to-merge/waiting-for-ci 👍, squash-on-merge

#26772 time-util: adjust formattable timestamp max
  src/basic/time-util.c
  src/basic/time-util.h
  src/test/test-date.c
  src/test/test-time-util.c
Labels: util-lib, tests, priority, please-review

#26755 systemctl: refuse to acquire dbus connection with --global
  src/systemctl/systemctl-util.c
  test/fuzz/fuzz-systemctl-parse-argv/oss-fuzz-56915
Labels: systemctl, tests, good-to-merge/waiting-for-ci 👍

#26780 man: Fix user generator output paths
  man/systemd.generator.xml
Labels: documentation, please-review

#26782 Update 70-mouse.hwdb
  hwdb.d/70-mouse.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, squash-on-merge

#26781 test: add a couple of tests for systemd-path
  test/units/testsuite-74.busctl.sh
  test/units/testsuite-74.path.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, busctl, sd-path

#26749 execute: Some modernizations
  src/basic/lock-util.c
  src/basic/lock-util.h
  src/core/dynamic-user.c
  src/core/execute.c
  src/core/namespace.c
  src/core/namespace.h
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍

#25276 execute: use prctl(PR_SET_MDWE) for MemoryDenyWriteExecute=yes
  man/systemd.exec.xml
  src/basic/missing_prctl.h
  src/core/execute.c
Labels: documentation, util-lib, seccomp, ci-failure-appears-unrelated, please-review

#26786 man: add missing tags in udevadm(8)
  man/udevadm.xml
Labels: udev, documentation, quick-review 🏃‍♂️, please-review

#26792 userbd: manager doesn't actually use varlink, only workers do
  src/userdb/userdbd-manager.h
Labels: quick-review 🏃‍♂️, userdb, please-review

#26787 test: testsuite-26: remove duplicate source
  test/units/testsuite-26.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#26789 namespace: use ERRNO_IS_PRIVILEGE()/ERRNO_IS_NOT_SUPPORTED() where ap…
  src/core/namespace.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#26791 core: rename "mount_flags" → "mount_propagation_flag" internally wher…
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/namespace.c
  src/core/namespace.h
Labels: pid1, good-to-merge/waiting-for-ci 👍

#26790 namespace-util: set mounts back to MS_SHARED in detach_mount_namespace()
  src/basic/namespace-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#26797 Translations update from Fedora Weblate
  po/pa.po
Labels: l10n 🌍

#26767 udev-rule: rework logging about udev rules
  src/udev/fuzz-udev-rules.c
  src/udev/udev-rules.c
  src/udev/udev-rules.h
  src/udev/udevadm-verify.c
  src/udev/udevadm.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#26788 test-process-util: port to detach_mount_namespace()
  src/test/test-process-util.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#26795 hwdb: 60-keyboard.hwdb: Fix modalias for Thinkpad X200 Tablet
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, fix-commit-message-on-merge

#26807 dissect: mark UID/GIDs that are surprising in DDIs with colors
  src/dissect/dissect.c
Labels: good-to-merge/waiting-for-ci 👍, dissect

#26806 core: fix mount flag help output, it only takes one argument
  src/core/load-fragment.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#26793 dissect: make all paths we operation on absolute
  src/dissect/dissect.c
Labels: good-to-merge/waiting-for-ci 👍, dissect

#26819 src: changed instances of sd_bus_call_method() to bus_call_method()
  src/fsck/fsck.c
  src/fstab-generator/fstab-generator.c
  src/initctl/initctl.c
  src/locale/localed.c
  src/login/logind-core.c
Labels: util-lib, fstab-generator, good-to-merge/waiting-for-ci 👍, squash-on-merge

#26683 systemctl: add --when for scheduled poweroff/halt/reboot/kexec support
  man/systemctl.xml
  src/systemctl/systemctl-compat-halt.c
  src/systemctl/systemctl-logind.c
  src/systemctl/systemctl-logind.h
  src/systemctl/systemctl-start-special.c
  src/systemctl/systemctl.c
  src/test/test-time-util.c
Labels: documentation, systemctl, tests, good-to-merge/waiting-for-ci 👍

#26810 mkfs-util: Redirect mksquashfs output to /dev/null
  src/shared/mkfs-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, repart

#26808 Docs and dump output follow-up for the case of delegation with no controllers
  man/systemd.resource-control.xml
  src/core/cgroup.c
  src/core/load-fragment.c
Labels: documentation, good-to-merge/waiting-for-ci 👍

#26815 Do not show xattrs and cgroup ids in cgls by default
  man/systemd-cgls.xml
  src/cgls/cgls.c
  src/cgtop/cgtop.c
Labels: cgtop, cgls, good-to-merge/waiting-for-ci 👍

#26812 stub: Remove overlapping PE section warning
  src/boot/efi/pe.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#26821 core: make the memory pressure cgroup path writable when ProtectControlGroups=yes
  src/core/execute.c
  test/units/testsuite-79.sh
Labels: pid1, good-to-merge/waiting-for-ci 👍

#26794 core: append LogExtraFields= values to log_unit* messages
  man/systemd.exec.xml
  src/basic/log.c
  src/basic/log.h
  src/core/unit.h
  src/test/test-log.c
Labels: journal, pid1, util-lib, good-to-merge/waiting-for-ci 👍

#26800 memfd: add support for exec flags
  src/basic/memfd-util.c
  src/basic/memfd-util.h
  src/basic/missing_mman.h
  src/home/homed-home.c
  src/shared/data-fd-util.c
  src/shared/serialize.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#26825 Log message fix
  src/core/dbus-manager.c
  src/core/load-fragment.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#26804 Fixes for test 58 repart
  test/TEST-58-REPART/test.sh
  test/units/testsuite-58.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#26823 Add rebrands of Medion Akoya notebooks/tablets
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#26830 fs-util: Drop unlink_noerrno()
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/basic/lock-util.c
  src/boot/bootctl-install.c
  src/home/homed-manager.c
  src/test/test-fs-util.c
Labels: util-lib, tests, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#26784 Allow creating files and directories with chase_symlinks_open() and further improvements
  src/basic/chase-symlinks.c
  src/basic/chase-symlinks.h
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/basic/stat-util.c
  src/boot/bootctl-install.c
  src/boot/bootctl-status.c
  src/core/dbus-manager.c
  src/coredump/coredumpctl.c
  src/nspawn/nspawn-mount.c
  src/partition/repart.c
  src/shared/bootspec.c
  src/systemctl/systemctl-switch-root.c
  src/test/test-fs-util.c
Labels: udev, systemctl, util-lib, tests, sd-boot/sd-stub/bootctl, coredump, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, repart

#26837 Update github issue template to include systemd-dissect
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/advanced-issue-labeler.yml
Labels: ci, please-review

#26801 udevadm verify: check for conflicting and duplicate tokens
  src/udev/udev-rules.c
  test/units/testsuite-17.11.sh
Labels: udev, tests, good-to-merge/waiting-for-ci 👍

#26831 edit-util: follow-ups
  src/shared/edit-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#26834 test: fix testsuite-17.10.sh
  test/units/testsuite-17.10.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#26833 manager: fix scope for environment generators
  src/core/manager.c
Labels: good-to-merge/waiting-for-ci 👍

#26771 machinectl: add verb edit and cat to operate on .nspawn files
  man/machinectl.xml
  src/machine/machinectl.c
  test/TEST-74-AUX-UTILS/test.sh
  test/units/testsuite-74.machinectl.sh
Labels: machine, documentation, tests, good-to-merge/waiting-for-ci 👍

#26841 github: update default and example in template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: ci, please-review

#26840 updated usage of SD_BUS_METHOD_WITH_NAMES macros to SD_BUS_METHOD_WIT…
  src/locale/localed.c
Labels: locale, good-to-merge/waiting-for-ci 👍, squash-on-merge, 🙋🏽‍♀️ outreachy 🙋

#26835 various userdbd modernizations
  src/userdb/userdbd-manager.c
  src/userdb/userdbd-manager.h
  src/userdb/userdbd.c
Labels: userdb, please-review

#26824 sd-journal: fix segfault
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#26846 doc: update ELF_PACKAGE_METADATA to use linker flag instead of manual script
  docs/ELF_PACKAGE_METADATA.md
Labels: documentation, quick-review 🏃‍♂️, please-review

#26851 mkosi: Use default timeout of 10s
  .github/workflows/mkosi.yml
  mkosi.build
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#26858 fix: misspelled executable name
  man/systemd-bless-boot.service.xml
Labels: documentation

#26853 mkosi: Enable some debugging options by default
  .github/workflows/mkosi.yml
  mkosi.conf.d/10-systemd.conf
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#26803 udevadm-verify: print a short summary
  src/udev/udevadm-verify.c
  test/units/testsuite-17.11.sh
Labels: udev, documentation, tests, good-to-merge/waiting-for-ci 👍

#26842 test: add a testcase that dir_fd_is_root() is not confused by bind mount
  src/test/test-fd-util.c
Labels: tests, please-review

#26849 journald-console: Add colors when forwarding to console
  src/basic/terminal-util.c
  src/journal/journald-console.c
  units/systemd-journald.service.in
Labels: journal, util-lib, units, please-review

#26871 Translations update from Fedora Weblate
  po/bg.po
Labels: l10n 🌍

#26863 kernel-install: cleanups
  src/kernel-install/kernel-install.in
Labels: good-to-merge/waiting-for-ci 👍, kernel-install

#26855 Repart fixes
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#26861 exec-util: introduce execute_strv() and EXEC_DIR_SKIP_REMAINING
  src/shared/exec-util.c
  src/shared/exec-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#26862 uki-util: export functions of inspecting kernel
  src/basic/os-util.h
  src/boot/bootctl-reboot-to-firmware.c
  src/boot/bootctl-uki.c
  src/boot/bootctl.c
  src/shared/meson.build
  src/shared/uki-util.c
  src/shared/uki-util.h
Labels: util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, meson

#26869 units: Order user@.service after systemd-oomd.service
  units/user@.service.in
Labels: good-to-merge/waiting-for-ci 👍, units

#26759 boot: Add support for stack protector/trapping math/ubsan
  meson.build
  src/boot/efi/efi-string.c
  src/boot/efi/log.c
  src/boot/efi/log.h
  src/boot/efi/meson.build
  src/boot/efi/ubsan.c
  src/boot/efi/util.h
  src/boot/efi/vmm.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, meson

#26876 man: explicitly list three command syntax at the beginning
  man/kernel-install.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, kernel-install

#26879 tree-wide: simplify x ? x : y to x ?: y where applicable
  coccinelle/cond-omit-middle.cocci
  coccinelle/run-coccinelle.sh
  src/analyze/analyze-plot.c
  src/basic/strv.h
  src/core/execute.c
  src/core/service.c
  src/core/transaction.c
  src/coredump/coredump.c
  src/fundamental/bootspec-fundamental.c
  src/journal-remote/journal-gatewayd.c
  src/journal-remote/journal-upload.c
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd/sd-device/device-enumerator.c
  src/libsystemd/sd-event/event-util.c
  src/nspawn/nspawn.c
  src/shared/bus-wait-for-jobs.c
Labels: network, util-lib, coredump, sd-device, sd-event, journal-remote, good-to-merge/waiting-for-ci 👍, coccinelle

#26880 tmpfiles: cleanups
  src/tmpfiles/tmpfiles.c
  test/test-systemd-tmpfiles.py
Labels: tmpfiles, tests, good-to-merge/waiting-for-ci 👍

#26884 Update references to obsolete systemd-tmpfiles.service
  README
  docs/UIDS-GIDS.md
  units/systemd-sysext.service
Labels: documentation, good-to-merge/waiting-for-ci 👍, units, needs-stable-backport

#26878 hwdb: Fixed Wifi toggling for Haier 7G-Series/JWU (#25293)
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, please-review

#26888 loop-util: add more debugging logs in loop_configure()
  src/shared/loop-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, please-review

#26886 udev-rules: fix matching of token types that support alternative patterns
  src/shared/udev-util.c
  src/test/test-udev-util.c
  src/udev/udev-rules.c
  test/units/testsuite-17.11.sh
Labels: udev, util-lib, tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#26892 bootctl: fix wrong type comparison
  src/boot/bootctl-install.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#26895 ci: drop clang-13, add clang-16
  .github/workflows/build_test.yml
Labels: tests, good-to-merge/waiting-for-ci 👍, ci

#26894 strv: introduce strv_print_full()
  src/basic/strv.c
  src/basic/strv.h
Labels: util-lib

#26875 core/transaction: several fixes for merge_unit_ids()
  src/core/transaction.c
Labels: pid1, needs-stable-backport

#26891 compare-operator: added unit tests
  src/test/meson.build
  src/test/test-compare-operator.c
Labels: tests, please-review

#26900 udev-rules: add another check for conflicting expressions
  src/udev/udev-rules.c
  test/units/testsuite-17.11.sh
Labels: udev, tests, good-to-merge/waiting-for-ci 👍

#26910 gpt-auto-generator: fix typo
  src/gpt-auto-generator/gpt-auto-generator.c
Labels: good-to-merge/waiting-for-ci 👍, please-review

#26907 man/network-generator: replace dracut.kernel reference with dracut.cmdline
  man/systemd-network-generator.service.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#26911 mkosi: Default to debug log level for udev as well
  .github/workflows/mkosi.yml
  mkosi.conf.d/10-systemd.conf
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#26889 execute: Add kernel cmdline arguments for tty term, rows and columns
  man/kernel-command-line.xml
  src/core/execute.c
Labels: documentation, pid1, good-to-merge/waiting-for-ci 👍

#26866 chase-symlinks: Add CHASE_FILENAME and more at() helpers
  src/basic/chase-symlinks.c
  src/basic/chase-symlinks.h
  src/test/test-fs-util.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#26917 fd-util: make sure fd_reopen() works with AT_FDCWD systematically
  src/basic/fd-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍
