Repository systemd/systemd, pull requests merged in 2023-02, with the labels that each got.

#26255 network: dhcp-server: do not create DHCPServer object when the DHCP server is running in relaying mode
  src/network/networkd-link-bus.c
Labels: network, needs-stable-backport

#26267 meson: fail build on implicit int warnings
  meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#26270 sysusers: insist that root group is 0
  sysusers.d/basic.conf.in
Labels: tmpfiles, good-to-merge/waiting-for-ci 👍

#26264 glibc: Conditionally #include <linux/fs.h> to resolve fsconfig_comman d/mount_attr conflict with glibc 2.36
  src/basic/linux/README
  src/basic/linux/btrfs.h
  src/basic/linux/update.sh
Labels: btrfs, util-lib, good-to-merge/waiting-for-ci 👍

#26278 journal-file: refuse writing to journal files where the header size i…
  src/libsystemd/sd-journal/journal-file.c
Labels: journal, quick-review 🏃‍♂️, please-review

#26277 journal: generate a clean message when we try to write to a journal f…
  src/libsystemd/sd-journal/journal-file.c
Labels: journal, please-review

#26276 journald: some minor modernizations
  src/journal/managed-journal-file.c
  src/libsystemd/sd-journal/journal-file.c
Labels: journal, quick-review 🏃‍♂️, please-review

#26236 meson: Fixes
  catalog/meson.build
  meson.build
  network/meson.build
  rules.d/meson.build
  shell-completion/bash/meson.build
  src/kernel-install/meson.build
  src/sysupdate/meson.build
  src/test/meson.build
Labels: tests, ci-failure-appears-unrelated, meson

#26242 core: split system/user job timeouts and make them configurable
  man/custom-entities.ent.in
  man/systemd-system.conf.xml
  man/systemd.service.xml
  meson.build
  meson_options.txt
  src/basic/constants.h
  src/core/main.c
  src/core/manager.c
  src/core/manager.h
  src/core/system.conf.in
  src/core/user.conf.in
  src/rpm/systemd-update-helper.in
  units/user@.service.in
Labels: documentation, util-lib, rpm, units, ci-failure-appears-unrelated, meson

#26279 fix pid 1 segv triggered by status query
  src/shared/install.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, fix-commit-message-on-merge, downstream/rhel

#26284 id128: introduce ERRNO_IS_MACHINE_ID_UNSET() helper macro
  src/boot/bootctl-install.c
  src/libsystemd/sd-id128/id128-util.h
  src/libsystemd/sd-journal/journal-file.c
  src/nspawn/nspawn.c
  src/partition/repart.c
  src/test/test-condition.c
Labels: tests, sd-boot/sd-stub/bootctl, tree-wide, good-to-merge/waiting-for-ci 👍, sd-id128, repart

#26280 test-journal-flush: minor modernizations
  src/journal/test-journal-flush.c
Labels: journal, tests, good-to-merge/waiting-for-ci 👍

#26286 Two doc updates
  NEWS
  man/systemd.generator.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#26219 locale: check conversion before polkit
  src/locale/localed-util.c
  src/locale/localed-util.h
  src/locale/localed.c
  src/locale/test-localed-util.c
  test/units/testsuite-73.sh
Labels: tests, locale, please-review

#26268 tpm2: rename tpm2 alg id<->string functions
  src/boot/measure.c
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-systemd-tpm2.c
  src/shared/creds-util.c
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
Labels: util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, tpm2

#26297 docs: tweak rsync flags for moving existing home dir to systemd-homed
  docs/CONVERTING_TO_HOMED.md
Labels: documentation

#26285 test: add a testcase for lvextend
  test/units/testsuite-64.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#26287 ci: Test with secure boot enabled under mkosi
  .github/workflows/mkosi.yml
  .gitignore
  man/loader.conf.xml
  src/boot/efi/boot.c
  src/boot/efi/secure-boot.c
  src/boot/efi/secure-boot.h
  test/mkosi-check-and-shutdown.sh
Labels: documentation, tests, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, mkosi

#26293 man: add page for systemd-ac-power
  man/rules/meson.build
  man/systemd-ac-power.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, meson

#26269 sysusers: improve messages and autocreate /etc
  src/basic/path-util.c
  src/basic/user-util.c
  src/core/load-fragment.c
  src/firstboot/firstboot.c
  src/sysusers/sysusers.c
  test/test-sysusers.sh.in
Labels: util-lib, tests, sysusers, please-review

#26180 Add struct tpm2_handle and use _cleanup_ instead of goto
  src/boot/measure.c
  src/boot/pcrphase.c
  src/cryptsetup/cryptsetup.c
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
Labels: util-lib, sd-boot/sd-stub/bootctl, tpm2, please-review

#26288 udev: make get_virtfn_info() provide physical PCI device
  src/udev/udev-builtin-net_id.c
Labels: udev, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#26295 test-time-util: skip test for TIMESTAMP_DATE if the timestamp is too old
  src/test/test-time-util.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#26292 locale: fix ENOENT handling for vconsole.conf or xorg.conf
  src/locale/localed-util.c
Labels: locale, ci-failure-appears-unrelated

#26308 man: correct path for systemd-pcrphase
  man/systemd-pcrphase.service.xml
Labels: documentation

#26309 Fix Development Freeze Automation
  .github/workflows/development_freeze.yml
  .github/workflows/gather-pr-metadata.yml
Labels: tests, please-review

#26319 hwdb: ieee1394-unit-function: add MOTU 896 mk3 Hybrid
  hwdb.d/80-ieee1394-unit-function.hwdb
Labels: hwdb

#26317 Add hwdb sensor entry for Lenovo IdeaPad Duet 3 10IGL5 (82AT).
  hwdb.d/60-sensor.hwdb
Labels: hwdb, please-review

#26326 NEWS: fix typo
  NEWS
Labels: documentation, please-review

#26320 Drop whitespace after shell redirection operators
  .github/workflows/gather-pr-metadata.yml
  .semaphore/semaphore-runner.sh
  docs/CODING_STYLE.md
  docs/HACKING.md
  man/fido2-crypttab.sh
  man/loader.conf.xml
  man/systemd-creds.xml
  man/systemd-dissect.xml
  man/systemd-measure.xml
  man/systemd-run.xml
  man/tpm2-crypttab.sh
  man/yubikey-crypttab.sh
  src/udev/generate-keyboard-keys-gperf.sh
  test/TEST-24-CRYPTSETUP/test.sh
  test/TEST-77-OPENFILE/test.sh
  test/mkosi.build.networkd-test
  test/test-exec-deserialization.py
  test/test-execute/exec-standardinput-data.service
  test/test-functions
  test/units/testsuite-26.sh
  test/units/testsuite-29.sh
  test/units/testsuite-41.sh
  test/units/testsuite-43.sh
  test/units/testsuite-45.sh
  test/units/testsuite-50.sh
  test/units/testsuite-54.sh
  test/units/testsuite-57-short-lived.sh
  test/units/testsuite-58.sh
  test/units/testsuite-60.sh
  test/units/testsuite-62.sh
  test/units/testsuite-66-deviceisolation.service
  test/units/testsuite-67.sh
  test/units/testsuite-70.sh
  test/units/testsuite-71.sh
  test/units/testsuite-73.sh
  test/units/testsuite-76.sh
  test/units/testsuite-77.sh
  tools/debug-sd-boot.sh
  tools/update-hwdb-autosuspend.sh
Labels: udev, documentation, tests, run, good-to-merge/waiting-for-ci 👍, tpm2

#26321 Enable new compiler diagnostics for invalid array accesses
  meson.build
  src/fundamental/macro-fundamental.h
  src/libsystemd-network/dhcp-protocol.h
  src/libsystemd/sd-journal/journal-def.h
  src/shared/json.c
  src/shared/linux/README
  src/shared/linux/auto_dev-ioctl.h
  src/shared/linux/bpf.h
  src/shared/linux/bpf_common.h
  src/shared/linux/dm-ioctl.h
  src/shared/linux/ethtool.h
Labels: network, util-lib, good-to-merge/waiting-for-ci 👍, meson

#26322 Log errno fix
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#26324 argv-util: also update short invocation name
  src/basic/argv-util.c
  test/testsuite-04.units/logs-filtering.service
  test/units/testsuite-04.sh
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#26338 ci: Fix automatic removing of labels when PR is closed
  .github/workflows/labeler.yml
Labels: tests, please-review

#26333 Fix Positivo-vaio VJPW12F11X key toggle touchpad
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, please-review

#26335 resolve: adjust message for NXDOMAIN lookup result
  src/libsystemd/sd-bus/bus-common-errors.c
  src/libsystemd/sd-bus/bus-common-errors.h
  src/resolve/resolvectl.c
  src/resolve/resolved-bus.c
  src/resolve/test-dnssec-complex.c
Labels: resolve, sd-bus, tests, good-to-merge/waiting-for-ci 👍

#26336 journal: print nicer log message when limit of open journal files during display is hit
  TODO
  src/libsystemd/sd-journal/journal-internal.h
  src/libsystemd/sd-journal/sd-journal.c
  src/shared/journal-util.c
Labels: journal, util-lib, good-to-merge/waiting-for-ci 👍

#26337 logs-show: rename "ts" paramater/variable to "display_ts"
  src/shared/logs-show.c
  src/shared/logs-show.h
Labels: journal, util-lib, good-to-merge/waiting-for-ci 👍

#26339 journal: minor modernizations
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#26328 udev: set worker process name
  src/fsck/fsck.c
  src/import/pull-common.c
  src/journal-remote/journal-remote-main.c
  src/libsystemd/sd-bus/bus-socket.c
  src/nspawn/nspawn-setuid.c
  src/shared/exec-util.c
  src/udev/udev-event.c
  src/udev/udevd.c
Labels: udev, sd-bus, util-lib, journal-remote, ci-failure-appears-unrelated

#26347 cryptenroll: do not implicitly verify with default tpm policy signature
  src/cryptenroll/cryptenroll-tpm2.c
  test/units/testsuite-70.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, tpm2

#26346 core: imply DeviceAllow=/dev/tpmrm0 with LoadCredentialEncrypted
  man/systemd.exec.xml
  src/core/unit.c
  test/units/testsuite-70.sh
Labels: good-to-merge/waiting-for-ci 👍, tpm2, creds

#26301 hwdb: Add HP Envy x360 Convertible 15-cn0xxx
  hwdb.d/60-evdev.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#26351 ci: Add names to steps in labeler workflow
  .github/workflows/labeler.yml
Labels: ci

#26360 docs/NETWORK_ONLINE: fix example
  docs/NETWORK_ONLINE.md
Labels: documentation

#26350 Improve messages emitted when Reload or Reexec is requested
  src/core/dbus-manager.c
  src/core/service.c
  src/libsystemd/sd-bus/sd-bus.c
  src/test/test-parse-util.c
Labels: sd-bus, tests, good-to-merge/waiting-for-ci 👍

#26352 journal: modernize sd_journal_get_realtime_usec() a bit
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#26359 ukify: add explanatory message when import fails
  src/ukify/ukify.py
Labels: good-to-merge/waiting-for-ci 👍, uki

#26225 Fix delegate cgroup logs filtering
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/journal/journald-client.c
  src/test/test-cgroup-util.c
  test/testsuite-04.units/delegated-cgroup-filtering.service
  test/units/delegated_cgroup_filtering_payload.sh
  test/units/delegated_cgroup_filtering_payload_child.sh
  test/units/testsuite-04.sh
Labels: journal, util-lib, tests, good-to-merge/waiting-for-ci 👍

#26362 hwdb: add override for IdeaPad5 insert key
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#26363 process-util: add missing error check
  src/basic/process-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#26354 NEWS: add future incompatible changes notice
  NEWS
Labels: documentation, please-review

#26366 nss-myhostname: two fixlets
  src/nss-myhostname/nss-myhostname.c
Labels: good-to-merge/waiting-for-ci 👍, nss-myhostname, needs-stable-backport

#26373 bootctl: Add missing %m
  src/boot/bootctl-install.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#26368 units: change assert to condition to skip running in initrd
  units/systemd-pcrfs-root.service.in
  units/systemd-pcrfs@.service.in
  units/systemd-pcrmachine.service.in
  units/systemd-pcrphase-initrd.service.in
  units/systemd-pcrphase-sysinit.service.in
  units/systemd-pcrphase.service.in
Labels: good-to-merge/waiting-for-ci 👍, units

#26377 Fix links in man pages
  man/loader.conf.xml
  man/sd_bus_message_new_signal.xml
  man/systemd-pcrphase.service.xml
  man/systemd.system-credentials.xml
  man/tmpfiles.d.xml
  man/ukify.xml
Labels: documentation, uki, please-review

#26374 boot: Make sure we take --root into account everywhere.
  src/boot/bootctl-install.c
  src/boot/bootctl-util.c
  src/kernel-install/test-kernel-install.sh
Labels: tests, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#26378 various: boldify version output
  src/basic/build.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#26382 boot: Fix undefined reference to raise() on arm
  src/boot/efi/util.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#26372 mkosi: Update to latest
  .github/workflows/mkosi.yml
  mkosi.build
  mkosi.conf.d/10-systemd.conf
  mkosi.prepare
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#26385 cryptenroll: drop deadcode
  src/cryptenroll/cryptenroll-tpm2.c
Labels: cryptsetup, coverity, tpm2

#26387 README/NEWS: note that we now explicitly require util-linux's swapon due to new option
  NEWS
  README
Labels: documentation, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#26390 mkosi: Use globs instead of prepare script to install extra packages
  mkosi.conf.d/centos/10-centos.conf
  mkosi.prepare
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#26386 userdb: Skip unsafe characters check parsing memberships
  src/shared/userdb.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, userdb

#26388 core: when isolating to a unit, also keep units running that are trig…
  src/core/transaction.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#26391 dissect-image: unknown/unsupported diskseq is indicated by 0, not by …
  src/shared/dissect-image.c
Labels: util-lib, dissect

#26398 ci(labeler): fix missing emojis in `quick-review` and `dont-merge` labels
  .github/workflows/labeler.yml
Labels: tests, please-review

#26400 Fix directory for user home bind mounts in log error and man page
  man/org.freedesktop.hostname1.xml
  man/systemd-nspawn.xml
  man/tmpfiles.d.xml
  src/nspawn/nspawn-bind-user.c
Labels: documentation, good-to-merge/waiting-for-ci 👍

#26403 mkosi: Stop installing kernel headers to /usr
  mkosi.build
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#26404 boot: Ensure raise() is not dropped by LTO
  src/boot/efi/util.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#26407 fileio: Remove timestamp_is_set() check
  src/test/test-boot-timestamps.c
Labels: tests, good-to-merge/with-minor-suggestions

#26412 bootctl: avoid using __WORDSIZE macro
  src/boot/bootctl-util.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#26415 hwdb: Add HP ENVY x360 2-in-1
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#26421 NEWS: mention that the default mDNS mode is now "yes"
  NEWS
Labels: documentation, please-review

#26423 man/tc: Fix hexadecimals being with an O
  man/tc.xml
Labels: documentation, please-review

#26424 Fix a few typos in NEWS, docs and comments
  NEWS
  TODO
  docs/CREDENTIALS.md
  docs/NETWORK_ONLINE.md
  docs/USER_RECORD.md
  man/systemd-boot-random-seed.service.xml
  src/basic/macro.h
  src/basic/unit-file.c
  src/core/device.c
  src/core/manager.c
  src/home/homed-home.c
  src/nspawn/nspawn-oci.c
  src/nspawn/nspawn.c
  src/pstore/pstore.c
  src/resolve/resolved-dns-dnssec.c
  src/shared/install.c
  src/shared/libfido2-util.c
  src/test/test-escape.c
  src/ukify/ukify.py
  test/test-network/conf/25-bridge.netdev
Labels: resolve, documentation, util-lib, tests, tree-wide, uki

#26417 sysusers: also create root group
  sysusers.d/basic.conf.in
  test/test-sysusers/test-00-basic.expected-group
  test/test-sysusers/test-00-basic.expected-passwd
  test/test-sysusers/test-00-basic.input
Labels: tests, sysusers

#26416 cryptsetup: do not assert when unsealing token without salt
  src/cryptsetup/cryptsetup-tokens/luks2-tpm2.c
  src/cryptsetup/cryptsetup-tpm2.c
  src/shared/tpm2-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, tpm2

#26410 Copy symlink xattrs
  src/basic/xattr-util.c
  src/basic/xattr-util.h
  src/dissect/dissect.c
  src/import/export-raw.c
  src/import/import-raw.c
  src/import/pull-raw.c
  src/locale/localed-util.c
  src/partition/repart.c
  src/shared/copy.c
  src/shared/copy.h
  src/shared/mount-setup.c
Labels: util-lib, good-to-merge/after-next-release, repart

#26213 journal sequence number rework
  docs/JOURNAL_EXPORT_FORMATS.md
  man/rules/meson.build
  man/sd_journal_get_realtime_usec.xml
  man/sd_journal_get_seqnum.xml
  man/systemd.journal-fields.xml
  src/journal-remote/journal-remote-write.c
  src/journal/journald-kmsg.c
  src/journal/journald-server.c
  src/journal/journald-server.h
  src/journal/test-journal-flush.c
  src/journal/test-journal-interleaving.c
  src/journal/test-journal-stream.c
  src/journal/test-journal-verify.c
  src/journal/test-journal.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-journal/journal-file.h
  src/libsystemd/sd-journal/sd-journal.c
  src/shared/journal-importer.c
  src/shared/logs-show.c
  src/systemd/sd-journal.h
  test/units/testsuite-04.sh
Labels: journal, documentation, util-lib, tests, journal-remote, good-to-merge/after-next-release, meson

#26307 test-execute: drop capabilities when testing with user manager
  src/test/test-execute.c
  test/test-execute/exec-credentials-dir-specifier.service
  test/test-execute/exec-dynamicuser-statedir-migrate-step1.service
  test/test-execute/exec-dynamicuser-statedir-migrate-step2.service
  test/test-execute/exec-dynamicuser-statedir.service
  test/test-execute/exec-load-credential.service
  test/test-execute/exec-privatenetwork-yes.service
  test/test-execute/exec-set-credential.service
  test/test-execute/exec-specifier-system.service
  test/test-execute/exec-specifier-user.service
  test/test-execute/exec-specifier.service
  test/test-execute/exec-specifier@.service
Labels: tests, good-to-merge/after-next-release

#26340 journal: cat: set JOURNAL_STREAM before exec-ing
  src/journal/cat.c
Labels: journal, good-to-merge/after-next-release

#26089 vconsole: allow setting default keymap through build option
  factory/templates/meson.build
  factory/templates/vconsole.conf.in
  meson.build
  meson_options.txt
  src/vconsole/vconsole-setup.c
  tmpfiles.d/etc.conf.in
Labels: locale, vconsole, good-to-merge/after-next-release, meson

#26384 core: add support for Startup memory limits
  man/org.freedesktop.systemd1.xml
  man/systemd.resource-control.xml
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-cgroup.c
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/systemctl/systemctl-show.c
  test/TEST-55-OOMD/test.sh
Labels: cgroups, pid1, new-feature, good-to-merge/after-next-release

#26405 resolved: Fall back to TCP if UDP is blocked
  src/resolve/resolved-dns-transaction.c
Labels: resolve, good-to-merge/after-next-release

#26426 journalctl: actually run the static destructors
  src/journal/journalctl.c
Labels: journal, good-to-merge/after-next-release

#26420 mkosi: Enable debug logging in CI
  .github/workflows/mkosi.yml
Labels: tests, please-review

#26432 tpm2: fix build failure without openssl
  src/shared/tpm2-util.c
Labels: util-lib, tpm2, please-review

#26431 mkosi: configure multiarch libdir in debian/ubuntu builds
  mkosi.build
  mkosi.conf.d/debian/10-debian.conf
  mkosi.conf.d/ubuntu/10-ubuntu.conf
Labels: mkosi, please-review

#26444 man: Fix spelling mistake
  man/sd_bus_message_open_container.xml
Labels: documentation, please-review

#26418 core/mount: fix default target for /sysusr/usr and its child
  src/core/mount.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#26435 pid1: fix handling of SystemCallArchitectures= if seccomp is off
  src/core/execute.c
  src/core/main.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#26439 log: add common helper log_set_target_and_open()
  src/basic/log.c
  src/basic/log.h
  src/core/main.c
  src/coredump/coredump.c
  src/shared/bus-log-control-api.c
Labels: util-lib, coredump, tree-wide, good-to-merge/waiting-for-ci 👍

#26445 boot: Fix assertion failure
  src/boot/efi/measure.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#26271 sulogin: fix control lost of the current terminal when default.target…
  src/sulogin-shell/sulogin-shell.c
Labels: good-to-merge/waiting-for-ci 👍, sulogin

#26449 test: avoid matching other fields than __SEQNUM=
  test/units/testsuite-04.sh
Labels: journal, tests, good-to-merge/waiting-for-ci 👍

#26452 journalctl: use DEFINE_MAIN_FUNCTION() macro
  src/journal/journalctl.c
Labels: journal, please-review

#26453 activate: use DEFINE_MAIN_FUNCTION() macro
  src/activate/activate.c
Labels: activate, please-review

#26451 cryptsetup: check the existence of salt by salt_size > 0
  src/cryptsetup/cryptsetup-tokens/luks2-tpm2.c
Labels: cryptsetup, quick-review 🏃‍♂️, tpm2, please-review

#26455 test-execute: also mount tmpfs on /dev/shm
  src/test/test-execute.c
Labels: tests, quick-review 🏃‍♂️, please-review

#26450 util: introduce fd_is_opath() and use it in xsetxattr()
  src/basic/fd-util.c
  src/basic/fd-util.h
  src/basic/xattr-util.c
  src/test/test-xattr-util.c
Labels: util-lib, tests, good-to-merge/with-minor-suggestions

#26343 Bus debug
  src/shared/bus-map-properties.c
  src/shared/bus-util.h
Labels: util-lib, please-review

#26441 socket-util: make connect_unix_path() work with a NULL path
  src/basic/socket-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#26447 pid1/systemctl: add ability to enqueue POSIX RT sigs with associated value to service processes
  man/org.freedesktop.systemd1.xml
  man/systemctl.xml
  man/systemd-notify.xml
  src/basic/strv.c
  src/basic/strv.h
  src/core/dbus-manager.c
  src/core/dbus-unit.c
  src/core/mount.c
  src/core/org.freedesktop.systemd1.conf
  src/core/scope.c
  src/core/service.c
  src/core/slice.c
  src/core/socket.c
  src/core/swap.c
  src/core/unit.c
  src/core/unit.h
  src/notify/notify.c
  src/systemctl/systemctl-kill.c
  src/systemctl/systemctl.c
  src/systemctl/systemctl.h
  src/test/test-execute.c
  src/test/test-strv.c
  test/TEST-78-SIGQUEUE/Makefile
  test/TEST-78-SIGQUEUE/test.sh
  test/units/testsuite-78.service
  test/units/testsuite-78.sh
Labels: documentation, pid1, systemctl, util-lib, tests, notify, good-to-merge/waiting-for-ci 👍

#26341 chase-symlinks fixes
  src/basic/chase-symlinks.c
  src/test/test-fs-util.c
Labels: util-lib, tests

#26438 sd-event: reduce memory use of sd_event_source objects
  src/basic/macro.h
  src/libsystemd/sd-event/sd-event.c
Labels: util-lib, sd-event, good-to-merge/waiting-for-ci 👍

#26462 sync-util: port fsync_directory_of_file() to fd_is_opath()
  src/basic/sync-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#26463 Hacking
  docs/HACKING.md
Labels: documentation

#26440 process-util: add helper get_process_threads()
  src/basic/hashmap.c
  src/basic/process-util.c
  src/basic/process-util.h
  src/test/meson.build
  src/test/test-fileio.c
  src/test/test-process-util.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍, meson

#26464 dissect-image: Return mount point fd if requested
  src/analyze/analyze.c
  src/boot/bootctl.c
  src/coredump/coredumpctl.c
  src/firstboot/firstboot.c
  src/journal/journalctl.c
  src/machine-id-setup/machine-id-setup-main.c
  src/partition/repart.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/systemctl/systemctl.c
  src/sysupdate/sysupdate.c
  src/sysusers/sysusers.c
  src/tmpfiles/tmpfiles.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#26266 tpm2: simplify tpm2_seal() blob creation
  src/shared/tpm2-util.c
Labels: util-lib, sd-boot/sd-stub/bootctl, tpm2, please-review

#26443 mempool tweaks
  src/basic/hashmap.c
  src/basic/hashmap.h
  src/basic/mempool.c
  src/basic/mempool.h
  src/test/meson.build
  src/test/test-mempool.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#26470 Correct misspell in journal warning
  src/journal/journald-server.c
Labels: journal, please-review

#26471 hashmap: fix build with valgrind
  src/basic/hashmap.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, priority

#26468 util: move mallinfo compat glue from selinux code into generic code
  src/basic/mallinfo-util.h
  src/shared/selinux-util.c
Labels: util-lib, selinux, good-to-merge/waiting-for-ci 👍

#26469 shared: move psi-util.[ch] to basic/ so that we can use it in sd-event
  src/basic/meson.build
  src/basic/psi-util.c
  src/basic/psi-util.h
  src/shared/meson.build
Labels: util-lib, good-to-merge/waiting-for-ci 👍, meson

#26480 loop-util: fix error condition and return value
  src/shared/loop-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#26476 journalctl: fix output when --lines is used with --grep
  man/journalctl.xml
  src/journal/journalctl.c
Labels: journal, documentation, good-to-merge/waiting-for-ci 👍

#26483 systemctl: edit: fix double free of instanced name
  src/systemctl/systemctl-edit.c
Labels: systemctl, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#26487 core: permit sending augmented enable/disable methods
  src/core/org.freedesktop.systemd1.conf
Labels: pid1, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#26486 udev-node: drop unnecessary initialization
  src/udev/udev-node.c
Labels: udev, quick-review 🏃‍♂️, please-review

#26479 exec-util: several cleanups
  src/basic/process-util.c
  src/shared/exec-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#26497 udev-node: make stack_directory_read_one() accept NULL for devnode
  src/udev/udev-node.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#26465 Add more openat() helpers of utility functions
  src/basic/env-file.c
  src/basic/env-file.h
  src/shared/copy.c
  src/shared/copy.h
  src/shared/smack-util.c
  src/shared/smack-util.h
  src/shared/tmpfile-util-label.c
  src/shared/tmpfile-util-label.h
Labels: util-lib, smack, good-to-merge/waiting-for-ci 👍

#26501 man: document DefaultStartupMemoryLow=
  man/systemd.resource-control.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#26437 repart: Add ExcludeFiles= option
  man/repart.d.xml
  src/partition/repart.c
  test/units/testsuite-58.sh
Labels: documentation, tests, good-to-merge/waiting-for-ci 👍, repart

#26508 various fixes to capability handling
  src/basic/cap-list.c
  src/basic/cap-list.h
  src/basic/capability-util.c
  src/basic/capability-util.h
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/load-fragment.c
  src/core/main.c
  src/shared/bus-print-properties.c
  src/test/test-cap-list.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#26504 ukify: Set fast_load option when parsing PE files
  src/ukify/ukify.py
Labels: good-to-merge/waiting-for-ci 👍, needs-stable-backport, uki

#26499 A couple of test tweaks for recent CI fails
  test/TEST-78-SIGQUEUE/test.sh
  test/units/testsuite-74.firstboot.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#26506 Various trivial cleanups and follow-ups
  TODO
  man/tmpfiles.d.xml
  src/basic/constants.h
  src/boot/efi/measure.c
  src/boot/measure.c
  src/shared/hwdb-util.c
  src/sleep/sleep.c
Labels: documentation, util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, sleep

#26507 meson: adjust whitespace handling in jinja2 rendering
  tools/meson-render-jinja2.py
Labels: good-to-merge/waiting-for-ci 👍, meson

#26509 man: add DefaultStartupMemoryLow= as term in term list
  man/systemd.resource-control.xml
Labels: documentation

#26514 homectl: add missing break
  src/home/homectl.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, homed, needs-stable-backport

#26433 mkosi: Add more debugging
  .github/workflows/mkosi.yml
Labels: tests, please-review

#26265 journal: journal file header IDs refresh fixes and corrections
  docs/JOURNAL_FILE_FORMAT.md
  src/journal/journald-server.c
  src/journal/managed-journal-file.c
  src/journal/test-journal-interleaving.c
  src/libsystemd/sd-journal/journal-authenticate.c
  src/libsystemd/sd-journal/journal-def.h
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-journal/journal-file.h
  src/libsystemd/sd-journal/journal-verify.c
Labels: journal, documentation, tests, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, sd-id128, repart

#26513 bootctl: add new --print-root-device option
  man/bootctl.xml
  src/boot/bootctl.c
  src/boot/bootctl.h
  src/gpt-auto-generator/gpt-auto-generator.c
  src/shared/blockdev-util.c
  src/shared/blockdev-util.h
  test/test-bootctl-json.sh
Labels: documentation, new-feature, util-lib, tests, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#26518 mkosi: Drop build script workarounds
  .editorconfig
  .github/workflows/mkosi.yml
  mkosi.build
  mkosi.conf.d/10-systemd.conf
  mkosi.extra/etc/issue
  mkosi.extra/etc/systemd/system/mkosi-check-and-shutdown.service
  mkosi.extra/etc/systemd/system/mkosi-check-and-shutdown.sh
  mkosi.extra/root/.gdbinit
  mkosi.postinst
Labels: tests, mkosi, ci-failure-appears-unrelated, please-review

#26521 install: fail early if specifier expansion failed
  src/shared/install.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#26503 sleep: check if we're on AC power before checking battery capacity
  src/shared/sleep-config.c
  src/shared/sleep-config.h
  src/sleep/sleep.c
Labels: util-lib, sleep

#26515 logind-session: make stopping of idle session visible to admins
  src/login/logind-session.c
Labels: login, ci-failure-appears-unrelated, downstream/rhel

#26511 efi: drop executable-stack bit from .elf file
  src/boot/efi/meson.build
Labels: sd-boot/sd-stub/bootctl, ci-failure-appears-unrelated, meson

#26446 boot: Provide our own EFI API headers
  src/boot/efi/bcd.h
  src/boot/efi/boot.c
  src/boot/efi/console.c
  src/boot/efi/console.h
  src/boot/efi/cpio.c
  src/boot/efi/cpio.h
  src/boot/efi/devicetree.c
  src/boot/efi/devicetree.h
  src/boot/efi/disk.c
  src/boot/efi/disk.h
  src/boot/efi/drivers.c
  src/boot/efi/drivers.h
  src/boot/efi/efi-string.c
  src/boot/efi/efi-string.h
  src/boot/efi/efi.h
  src/boot/efi/graphics.c
  src/boot/efi/graphics.h
  src/boot/efi/initrd.c
  src/boot/efi/initrd.h
  src/boot/efi/linux.c
  src/boot/efi/linux.h
  src/boot/efi/linux_x86.c
  src/boot/efi/log.c
  src/boot/efi/measure.c
  src/boot/efi/measure.h
  src/boot/efi/meson.build
  src/boot/efi/missing_efi.h
  src/boot/efi/part-discovery.c
  src/boot/efi/part-discovery.h
  src/boot/efi/pe.c
  src/boot/efi/pe.h
  src/boot/efi/proto/block-io.h
  src/boot/efi/proto/console-control.h
  src/boot/efi/proto/device-path.h
  src/boot/efi/proto/dt-fixup.h
  src/boot/efi/proto/file-io.h
  src/boot/efi/proto/graphics-output.h
  src/boot/efi/proto/load-file.h
  src/boot/efi/proto/loaded-image.h
  src/boot/efi/proto/rng.h
  src/boot/efi/proto/security-arch.h
  src/boot/efi/proto/shell-parameters.h
  src/boot/efi/proto/simple-text-io.h
  src/boot/efi/proto/tcg.h
  src/boot/efi/random-seed.c
  src/boot/efi/random-seed.h
  src/boot/efi/secure-boot.c
  src/boot/efi/secure-boot.h
  src/boot/efi/shim.c
  src/boot/efi/shim.h
  src/boot/efi/splash.c
  src/boot/efi/splash.h
  src/boot/efi/stub.c
  src/boot/efi/ticks.c
  src/boot/efi/util.c
  src/boot/efi/util.h
  src/boot/efi/vmm.c
  src/boot/efi/vmm.h
  src/fundamental/string-util-fundamental.h
Labels: util-lib, sd-boot/sd-stub/bootctl, ci-failure-appears-unrelated, meson

#26524 stub: Fix unaligned read
  src/boot/efi/splash.c
Labels: sd-boot/sd-stub/bootctl, ci-failure-appears-unrelated, needs-stable-backport

#26522 core: also imply DeviceAllow=/dev/tpmrm0 with SetCredentialEncrypted
  src/core/unit.c
  test/units/testsuite-70.sh
Labels: pid1, tests, ci-failure-appears-unrelated, tpm2

#26526 journal: move journal_file_compare_locations() from journal-file.c → …
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-journal/journal-file.h
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal, ci-failure-appears-unrelated

#26525 pam-systemd: split up weight helper funcs
  src/login/pam_systemd.c
Labels: login, good-to-merge/waiting-for-ci 👍, homed

#26349 process-util: introduce FORK_REARRANGE_STDIO
  src/basic/process-util.c
  src/basic/process-util.h
  src/home/homed-home.c
  src/import/import-common.c
  src/import/importd.c
  src/import/pull-common.c
  src/journal-remote/journal-remote-main.c
  src/libsystemd/sd-bus/bus-socket.c
  src/login/logind-brightness.c
  src/nspawn/nspawn-setuid.c
  src/resolve/test-resolved-stream.c
  src/shared/dissect-image.c
  src/shared/elf-util.c
  src/shared/exec-util.c
  src/shared/pager.c
  src/shutdown/umount.c
  src/sysupdate/sysupdate-resource.c
  src/test/test-execute.c
  src/test/test-process-util.c
  src/udev/udev-event.c
Labels: udev, resolve, sd-bus, util-lib, tests, journal-remote, good-to-merge/waiting-for-ci 👍, sysupdate

#26291 socket-proxyd: support Type=notify
  man/systemd-socket-proxyd.xml
  src/socket-proxy/socket-proxyd.c
Labels: documentation, socket-proxy, good-to-merge/waiting-for-ci 👍

#26527 test: provide coverage for #26467 and #26483
  test/units/testsuite-26.sh
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#26532 Translations update from Fedora Weblate
  po/lt.po
Labels: l10n 🌍
