Repository systemd/systemd, pull requests merged in 2023-07, with the labels that each got.

#28226 A couple of Coverity-related fixes
  src/basic/process-util.c
  src/basic/virt.c
  src/core/unit.c
  src/libsystemd/sd-device/sd-device.c
  src/libsystemd/sd-journal/test-mmap-cache.c
  src/test/test-execute.c
  src/test/test-io-util.c
  src/test/test-watchdog.c
  src/udev/udev-watch.c
Labels: udev, journal, util-lib, tests, sd-device, good-to-merge/waiting-for-ci 👍, coverity

#28224 hwdb: Add override for headset form-factors
  hwdb.d/70-sound-card.hwdb
  hwdb.d/meson.build
  hwdb.d/parse_hwdb.py
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#28132 Implement RFC8910: captive portal dhcp options
  man/systemd.network.xml
  src/basic/string-util.h
  src/libsystemd-network/dhcp-lease-internal.h
  src/libsystemd-network/dhcp6-lease-internal.h
  src/libsystemd-network/dhcp6-option.c
  src/libsystemd-network/dhcp6-option.h
  src/libsystemd-network/ndisc-router.c
  src/libsystemd-network/sd-dhcp-lease.c
  src/libsystemd-network/sd-dhcp6-lease.c
  src/libsystemd/sd-network/sd-network.c
  src/network/networkctl.c
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-json.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-ndisc.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-state-file.c
  src/systemd/sd-dhcp-lease.h
  src/systemd/sd-dhcp6-lease.h
  src/systemd/sd-ndisc.h
  src/systemd/sd-network.h
  test/test-network/systemd-networkd-tests.py
Labels: network, documentation, util-lib, tests, please-review

#28230 network: delay to configure address untill it is removed on reconfigure
  src/network/networkd-address.c
  src/network/networkd-util.h
  test/test-network/conf/25-route-preferred-source.network
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#28236 units: skip systemd-battery-check in environments where it doesn't ma…
  units/systemd-battery-check.service.in
Labels: good-to-merge/waiting-for-ci 👍, units, battery-check 🪫

#28235 loginctl,machinectl: use same ansi formatting in --help texts as in s…
  src/login/loginctl.c
  src/machine/machinectl.c
Labels: login, machine, good-to-merge/waiting-for-ci 👍

#28232 ndisc: clear ndisc captive portal value on bogus zero-len option
  src/network/networkd-ndisc.c
Labels: network, please-review

#28215 pid1: enqueue auto-restart job for the unit itself as JOB_START and for dependending units as JOB_RESTART
  src/basic/unit-def.c
  src/basic/unit-def.h
  src/core/job.c
  src/core/job.h
  src/core/manager.c
  src/core/service.c
  src/core/transaction.c
  src/core/transaction.h
  test/units/success-failure-test-failure.service
  test/units/success-failure-test-success.service
  test/units/success-failure-test.service
  test/units/testsuite-23.success-failure.sh
Labels: pid1, util-lib, tests, good-to-merge/waiting-for-ci 👍

#28245 relax data assert in dchp6_option_parse_string
  src/libsystemd-network/dhcp6-option.c
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, please-review

#28244 test: wait for the interface to become routable after reconfiguring
  test/units/testsuite-75.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#28234 systemctl: implement a new "whoami" verb, that just returns unit of c…
  man/systemctl.xml
  src/systemctl/meson.build
  src/systemctl/systemctl-whoami.c
  src/systemctl/systemctl-whoami.h
  src/systemctl/systemctl.c
  test/units/testsuite-23.whoami.sh
Labels: documentation, systemctl, new-feature, tests, good-to-merge/waiting-for-ci 👍, meson

#28247 hibernate-resume-generator: downgrade 'noresume' log message
  src/hibernate-resume/hibernate-resume-generator.c
Labels: good-to-merge/waiting-for-ci 👍, hibernate-resume

#28248 NEWS/--help: correct/be clearer on bootclt -R vs. -RR
  NEWS
  src/boot/bootctl.c
Labels: documentation, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#28249 hwdb : add support for Archos 101 Cesium Educ to 60-sensor.hwdb
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#28241 Upload remote journals from namespace
  man/systemd-journal-upload.service.xml
  src/journal-remote/journal-upload.c
Labels: journal-remote, good-to-merge/waiting-for-ci 👍

#28251 units: condition out a few services in the initrd
  units/systemd-boot-update.service
  units/systemd-rfkill.service.in
  units/systemd-rfkill.socket
  units/systemd-update-utmp-runlevel.service.in
  units/systemd-update-utmp.service.in
Labels: rfkill, good-to-merge/waiting-for-ci 👍, units

#28254 unit: also condition out systemd-backlight in initrd
  units/systemd-backlight@.service.in
Labels: units, please-review

#28228 repart: fix free area calculation
  src/partition/repart.c
  test/units/testsuite-58.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, repart, needs-stable-backport

#28253 hwdb: several cleanups
  hwdb.d/60-keyboard.hwdb
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#28207 various credential improvements (including initrd creds, creds in generators, fstab + getty creds)
  TODO
  docs/CREDENTIALS.md
  man/directives-template.xml
  man/kernel-command-line.xml
  man/systemd-firstboot.xml
  man/systemd-fstab-generator.xml
  man/systemd-getty-generator.xml
  man/systemd-resolved.service.xml
  man/systemd-sysctl.service.xml
  man/systemd-sysusers.xml
  man/systemd-tmpfiles.xml
  man/systemd-vconsole-setup.service.xml
  man/systemd.exec.xml
  man/systemd.generator.xml
  man/systemd.system-credentials.xml
  man/systemd.xml
  src/boot/bless-boot-generator.c
  src/core/execute.c
  src/core/import-creds.c
  src/core/main.c
  src/firstboot/firstboot.c
  src/fstab-generator/fstab-generator.c
  src/getty-generator/getty-generator.c
  src/rc-local-generator/rc-local-generator.c
  src/shared/acl-util.c
  src/shared/acl-util.h
  src/shared/creds-util.c
  src/shared/creds-util.h
  src/shared/machine-id-setup.c
  src/shared/meson.build
  src/shared/mount-util.c
  src/shared/mount-util.h
  src/system-update-generator/system-update-generator.c
  src/sysv-generator/sysv-generator.c
  src/test/test-acl-util.c
  test/TEST-54-CREDS/test.sh
  test/test-functions
  test/units/testsuite-54.sh
Labels: documentation, pid1, util-lib, sysv-generator, fstab-generator, units, rc-local-generator, rc-blocker 🚧

#26844 core: introduce UNIT_ATOM_PROPAGATE_STOP_GRACEFUL for PropagatesStopTo=
  man/systemctl.xml
  src/core/transaction.c
  src/core/transaction.h
  src/core/unit-dependency-atom.c
  src/core/unit-dependency-atom.h
  test/testsuite-03.units/propagatestopto-and-pullin.target
  test/testsuite-03.units/propagatestopto-only.target
  test/testsuite-03.units/sleep-infinity-simple.service
  test/units/testsuite-03.sh
Labels: documentation, pid1, tests, please-review, rc-blocker 🚧

#28252 journal: introduce journal_open_machine()
  man/sd_journal_open.xml
  src/journal-remote/journal-upload.c
  src/journal/journalctl.c
  src/libsystemd/sd-journal/sd-journal.c
  src/shared/journal-util.c
  src/shared/journal-util.h
  src/systemd/sd-journal.h
Labels: journal, util-lib, journal-remote, good-to-merge/waiting-for-ci 👍

#28259 hostname-setup: don't pass "true" to a flags parameter
  src/shared/hostname-setup.c
Labels: pid1, util-lib, hostname, good-to-merge/waiting-for-ci 👍

#28261 test: replace readfp() with read_file()
  test/sysv-generator-test.py
Labels: tests, sysv-generator, good-to-merge/waiting-for-ci 👍, sysvcompat

#28255 sd-device: fix device_clone_with_db()
  src/libsystemd/sd-device/device-private.c
  test/units/testsuite-64.sh
Labels: tests, sd-device, good-to-merge/waiting-for-ci 👍, needs-stable-backport, rc-blocker 🚧

#28258 sd-boot/sd-stub boot feature flag catchup
  src/boot/bootctl-status.c
  src/boot/efi/boot.c
  src/boot/efi/stub.c
  src/fundamental/efivars-fundamental.h
Labels: util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, rc-blocker 🚧

#28262 Follow-ups for PropagatesStopTo= fix
  src/core/transaction.c
  test/testsuite-03.units/propagatestopto-indirect.target
  test/units/testsuite-03.sh
Labels: pid1, tests, good-to-merge/waiting-for-ci 👍

#28243 ukify: enable --sbat for UKIs too
  man/ukify.xml
  src/ukify/test/test_ukify.py
  src/ukify/ukify.py
Labels: good-to-merge/waiting-for-ci 👍, uki

#28266 core/service: make restart delay increase more smoothly
  src/core/service.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#28265 network: several follow-ups for captive portal support
  src/network/networkctl.c
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp-common.h
  src/network/networkd-json.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-ndisc.c
  src/network/networkd-ndisc.h
  src/network/networkd-state-file.c
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, please-review

#28267 network/json: introduce PreferredLifetimeUSec and ValidLifetimeUSec
  src/network/networkd-json.c
Labels: network, please-review

#28273 tpm2-util: remove unnecessary semicolon
  src/shared/tpm2-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, tpm2

#28270 hwdb : add support for Archos 101 Cesium to 60-sensor.hwdb
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, squash-on-merge

#28272 Hwdb: Add Sanwa Direct 400-MA128 external trackpad
  hwdb.d/60-evdev.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, squash-on-merge

#28276 treewide: fix "an" before consonant U sounds
  NEWS
  TODO
  docs/HOME_DIRECTORY.md
  docs/UIDS-GIDS.md
  man/homectl.xml
  man/machinectl.xml
  man/org.freedesktop.import1.xml
  man/systemd-cryptsetup-generator.xml
  man/systemd-id128.xml
  man/systemd.journal-fields.xml
  man/systemd.netdev.xml
  src/ask-password/ask-password.c
  src/home/homework-luks.c
  src/machine/machine-dbus.c
  src/resolve/resolved-dns-server.c
  src/resolve/resolved-dns-transaction.c
  src/shared/ask-password-api.c
  src/shared/dns-domain.c
  src/shared/pretty-print.c
  src/shared/qrcode-util.c
  src/sysupdate/sysupdate-transfer.c
Labels: tree-wide, good-to-merge/waiting-for-ci 👍

#28274 dissect: Allow a few verbs to operate on directories as well as image files
  man/systemd-dissect.xml
  src/dissect/dissect.c
  test/units/testsuite-50.sh
Labels: good-to-merge/waiting-for-ci 👍, dissect

#28242 Detect and expose the confidential virtualization technology in various places
  man/org.freedesktop.systemd1.xml
  man/systemd-detect-virt.xml
  man/systemd.generator.xml
  man/systemd.unit.xml
  man/udev.xml
  shell-completion/bash/systemd-detect-virt
  src/basic/confidential-virt.c
  src/basic/confidential-virt.h
  src/basic/meson.build
  src/core/dbus-manager.c
  src/core/main.c
  src/core/manager.c
  src/detect-virt/detect-virt.c
  src/shared/condition.c
  src/test/test-condition.c
  src/test/test-tables.c
  src/udev/udev-rules.c
Labels: udev, util-lib, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, detect-virt

#28278 network,ndisc: use correct free function for captive portal
  src/network/networkd-ndisc.c
Labels: network, good-to-merge/waiting-for-ci 👍

#20425 Add passwdqc support
  meson.build
  meson_options.txt
  src/cryptenroll/cryptenroll-password.c
  src/firstboot/firstboot.c
  src/home/homectl.c
  src/home/homed-home.c
  src/home/meson.build
  src/home/user-record-password-quality.c
  src/home/user-record-password-quality.h
  src/shared/meson.build
  src/shared/password-quality-util-passwdqc.c
  src/shared/password-quality-util-passwdqc.h
  src/shared/password-quality-util-pwquality.c
  src/shared/password-quality-util-pwquality.h
  src/shared/password-quality-util.h
  src/test/test-dlopen-so.c
Labels: new-feature, util-lib, tests, good-to-merge/waiting-for-ci 👍

#27584 service: add new RestartMode option
  man/org.freedesktop.systemd1.xml
  man/systemd.service.xml
  src/core/dbus-service.c
  src/core/job.c
  src/core/job.h
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/service.c
  src/core/service.h
  src/core/transaction.c
  src/shared/bus-unit-util.c
  src/test/test-tables.c
  test/testsuite-03.units/fails-on-restart-restartdirect.service
  test/testsuite-03.units/fails-on-restart-restartdirect.target
  test/testsuite-03.units/fails-on-restart.service
  test/testsuite-03.units/fails-on-restart.target
  test/testsuite-03.units/succeeds-on-restart-restartdirect.service
  test/testsuite-03.units/succeeds-on-restart-restartdirect.target
  test/testsuite-03.units/succeeds-on-restart.service
  test/testsuite-03.units/succeeds-on-restart.sh
  test/testsuite-03.units/succeeds-on-restart.target
  test/units/testsuite-03.sh
Labels: pid1, new-feature, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#28282 Translations update from Fedora Weblate
  po/be.po
  po/be@latin.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/da.po
  po/de.po
  po/el.po
  po/es.po
  po/et.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/gl.po
  po/hr.po
  po/hu.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/kab.po
  po/ko.po
  po/lt.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ro.po
  po/ru.po
  po/si.po
  po/sk.po
  po/sr.po
  po/sv.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
  po/zh_TW.po
Labels: please-review

#28285 network,ndisc: use ndisc_captive_portal_free() at one more place
  src/network/networkd-ndisc.c
Labels: network, good-to-merge/waiting-for-ci 👍, ndisc

#28286 network,dhcp4: do not ignore gateway in classless static routes option
  src/network/networkd-dhcp4.c
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, dhcp, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#28233 test: append to corrupted journals
  src/journal/meson.build
  src/journal/test-journal-append.c
  test/units/test-control.sh
  test/units/testsuite-04.journal-append.sh
Labels: journal, tests, good-to-merge/waiting-for-ci 👍, meson

#28284 fstab-generator: unify initrd-root-device.target dependency handling code
  src/fstab-generator/fstab-generator.c
Labels: fstab-generator, good-to-merge/waiting-for-ci 👍

#28288 man/systemd.unit: document restart behavior on Upholds=
  man/systemd.unit.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#28290 test: add +x to generator-utils.sh
  test/units/generator-utils.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#28291 typo: dont -> don't
  src/test/test-mountpoint-util.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#28292 test: remove +x from some units
  test/testsuite-03.units/fails-on-restart-restartdirect.target
  test/testsuite-03.units/fails-on-restart.target
  test/testsuite-03.units/succeeds-on-restart-restartdirect.service
  test/testsuite-03.units/succeeds-on-restart-restartdirect.target
  test/testsuite-03.units/succeeds-on-restart.service
  test/testsuite-03.units/succeeds-on-restart.target
Labels: tests, good-to-merge/waiting-for-ci 👍

#28293 meson: allow to fallback to use libxcrypt.pc or glibc's libcrypt
  meson.build
Labels: good-to-merge/waiting-for-ci 👍, meson

#28295 shell-completion/zsh: misc verbs
  shell-completion/zsh/_resolvectl
  shell-completion/zsh/_systemctl.in
Labels: resolve, please-review

#28296 Add new verbs to bash shell completions
  shell-completion/bash/resolvectl
  shell-completion/bash/systemctl.in
Labels: shell completion, quick-review 🏃‍♂️, please-review

#28287 network: fix null address handling
  src/network/networkd-address.c
  src/network/networkd-address.h
  test/test-network/conf/25-address-null.network
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#28298 dissect: add new verbs to brief version of cmline in --help
  src/dissect/dissect.c
Labels: good-to-merge/waiting-for-ci 👍, dissect

#28297 test-proc-cmdline: run tests only with efi
  src/test/test-proc-cmdline.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#28300 test: Add DA lockout handling to TEST-70-TPM2
  test/TEST-70-TPM2/test.sh
  test/units/testsuite-70.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, tpm2

#28303 fuzz: switch fuzz-manager-serialize to MANAGER_TEST_RUN_MINIMAL
  src/core/fuzz-manager-serialize.c
Labels: tests, good-to-merge/waiting-for-ci 👍, fuzzing

#28309 Translations update from Fedora Weblate
  po/cs.po
  po/ka.po
  po/ko.po
  po/sv.po
  po/uk.po
Labels: l10n 🌍, please-review

#28307 seccomp: add riscv_hwprobe to @default
  src/shared/seccomp-util.c
Labels: good-to-merge/waiting-for-ci 👍, seccomp

#28313 LICENSES/README.md: fix syntax
  LICENSES/README.md
Labels: quick-review 🏃‍♂️, please-review

#28311 coccinelle/take-fd: match for -EBADF instead of -1
  coccinelle/take-fd.cocci
Labels: good-to-merge/waiting-for-ci 👍, coccinelle

#28312 hibernate-resume: refuse resume if resume_offset= is set but not resume=
  src/hibernate-resume/hibernate-resume-generator.c
Labels: hibernate-resume, please-review

#28321 hibernate-resume: follow-ups
  src/hibernate-resume/hibernate-resume-generator.c
Labels: hibernate-resume, quick-review 🏃‍♂️, please-review

#28319 efi: skip libefitest if 'bootloader' is explicitly set to false
  meson.build
Labels: sd-boot/sd-stub/bootctl, meson, please-review

#28324 test: mount_option_supported() returns EAGAIN when new mount API is not supported
  src/test/test-mountpoint-util.c
Labels: tests, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#28322 boot: Fix build for x32
  meson.build
  src/boot/efi/efi.h
  src/boot/efi/meson.build
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, meson

#28334 Network generator fixes
  src/network/generator/main.c
Labels: network, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#28308 Fix compilation on mipsel, ia64 and x32
  src/basic/confidential-virt.c
  src/basic/missing_syscall.h
  src/basic/process-util.c
  src/journal/cat.c
  src/sleep/sleep.c
Labels: journal, util-lib, good-to-merge/waiting-for-ci 👍, sleep, meson

#28341 sd-gpt: add missing SD_GPT_*NATIVE* defines for mips/mips64/parisc
  src/systemd/sd-gpt.h
Labels: gpt-auto, good-to-merge/waiting-for-ci 👍

#28318 test-fstab-generator: use test_env
  meson.build
Labels: tests, fstab-generator, good-to-merge/waiting-for-ci 👍, meson

#28343 tree-wide: add common implementation of Reload() bus call to PID 1
  src/firstboot/firstboot.c
  src/fstab-generator/fstab-generator.c
  src/locale/localed.c
  src/machine/machinectl.c
  src/portable/portablectl.c
  src/shared/bus-unit-util.c
  src/shared/bus-unit-util.h
  src/sulogin-shell/sulogin-shell.c
  src/test/test-cgroup-mask.c
  src/test/test-daemon.c
  src/test/test-id128.c
  src/test/test-json.c
  src/test/test-load-fragment.c
  src/test/test-process-util.c
Labels: util-lib, tests, tree-wide, fstab-generator, good-to-merge/waiting-for-ci 👍, portable

#28348 shared/async: don't use WEXITED for waitpid()
  src/shared/async.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#28351 seccomp: add arm_fadvise64_64 to system-service group
  src/shared/seccomp-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, seccomp, needs-stable-backport

#28299 import-creds: don't import creds from SMBIOS/qemu in confidential VMs
  src/core/import-creds.c
Labels: pid1, good-to-merge/waiting-for-reporter-feedback 👍, creds

#28357 test: overmount /root after we copy out necessary test files
  src/test/test-execute.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#28364 mkosi: Make sure we build kernel headers
  mkosi.presets/20-final/mkosi.kernel.build
Labels: mkosi, please-review

#28356 docs: cleanups to ROOT_STORAGE_DAEMONS
  docs/ROOT_STORAGE_DAEMONS.md
Labels: documentation, please-review

#28306 core: refuse late merge only for anchor job when JOB_RESTART_DEPENDENCIES
  src/core/job.c
  src/core/job.h
  src/core/transaction.c
Labels: pid1, please-review

#28365 Various fixes and improvements
  src/backlight/backlight.c
  src/basic/terminal-util.h
  src/busctl/busctl.c
  src/core/device.c
  src/core/swap.c
  src/dissect/dissect.c
  src/home/homed-manager.c
  src/journal/journald-kmsg.c
  src/libsystemd/sd-device/device-enumerator.c
  src/libsystemd/sd-device/device-monitor.c
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-device/device-util.h
  src/libsystemd/sd-device/test-sd-device-monitor.c
  src/libsystemd/sd-device/test-sd-device-thread.c
  src/libsystemd/sd-device/test-sd-device.c
  src/libudev/libudev-device.c
  src/login/logind-core.c
  src/login/logind-dbus.c
  src/login/logind.c
  src/mount/mount-tool.c
  src/network/networkd-json.c
  src/network/networkd-sriov.c
  src/shared/battery-util.c
  src/shared/blockdev-util.c
  src/shared/devnode-acl.c
  src/shared/format-table.c
  src/shared/json.c
  src/shared/logs-show.c
  src/shared/sleep-util.c
  src/shared/tpm2-util.c
  src/shared/udev-util.c
  src/shutdown/detach-dm.c
  src/shutdown/detach-loopback.c
  src/shutdown/detach-md.c
  src/udev/udev-builtin-keyboard.c
  src/udev/udev-builtin-net_id.c
  src/udev/udev-event.c
  src/udev/udev-node.c
  src/udev/udev-rules.c
  src/udev/udevadm-info.c
  src/udev/udevadm-monitor.c
  src/udev/udevadm-test.c
  src/udev/udevadm-wait.c
  src/udev/udevd.c
Labels: udev, network, journal, util-lib, tests, sd-device, good-to-merge/waiting-for-ci 👍, sleep, busctl, tpm2

#28374 Add alternate name for MX Ergo as found on some devices
  hwdb.d/70-mouse.hwdb
Labels: hwdb, please-review

#28368 test: a couple of clean ups
  test/units/testsuite-01.sh
  test/units/testsuite-02.sh
  test/units/testsuite-04.sh
  test/units/testsuite-07.sh
  test/units/testsuite-13.sh
  test/units/testsuite-15.sh
  test/units/testsuite-16.sh
  test/units/testsuite-17.sh
  test/units/testsuite-19.sh
  test/units/testsuite-21.sh
  test/units/testsuite-22.sh
  test/units/testsuite-23.sh
  test/units/testsuite-24.sh
  test/units/testsuite-25.sh
  test/units/testsuite-26.sh
  test/units/testsuite-29.sh
  test/units/testsuite-30.sh
  test/units/testsuite-31.sh
  test/units/testsuite-32.sh
  test/units/testsuite-34.sh
  test/units/testsuite-35.sh
  test/units/testsuite-36.sh
  test/units/testsuite-38.sh
  test/units/testsuite-43.sh
  test/units/testsuite-44.sh
  test/units/testsuite-45.sh
  test/units/testsuite-46.sh
  test/units/testsuite-50.sh
  test/units/testsuite-52.sh
  test/units/testsuite-54.sh
  test/units/testsuite-55.sh
  test/units/testsuite-58.sh
  test/units/testsuite-59.sh
  test/units/testsuite-60.sh
  test/units/testsuite-62.sh
  test/units/testsuite-63.sh
  test/units/testsuite-64.sh
  test/units/testsuite-65.sh
  test/units/testsuite-66.sh
  test/units/testsuite-67.sh
  test/units/testsuite-68.sh
  test/units/testsuite-70.sh
  test/units/testsuite-71.sh
  test/units/testsuite-72.sh
  test/units/testsuite-73.sh
  test/units/testsuite-74.sh
  test/units/testsuite-75.sh
  test/units/testsuite-78.sh
  test/units/testsuite-79.sh
  test/units/testsuite-80.sh
  test/units/testsuite-81.sh
  test/units/testsuite-82.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#28362 ndisc: honour MTU for onlink prefix
  src/network/networkd-ndisc.c
Labels: network, good-to-merge/waiting-for-ci 👍, ndisc

#28375 loop-write: do strlen() implicitly if size is specified as SIZE_MAX
  src/basic/io-util.c
  src/shared/ask-password-api.c
  src/shared/machine-id-setup.c
  src/vconsole/vconsole-setup.c
Labels: util-lib, tree-wide, good-to-merge/waiting-for-ci 👍

#28378 docs: fix order
  docs/CREDENTIALS.md
Labels: documentation, please-review

#28337 ukify: Derive public key from private key if not specified
  src/ukify/test/test_ukify.py
  src/ukify/ukify.py
Labels: uki, please-review

#28385 fstab-generator: resolve bind mount source when in initrd
  src/core/mount.c
  src/fstab-generator/fstab-generator.c
  src/shared/fstab-util.c
  src/shared/fstab-util.h
Labels: util-lib, fstab-generator, good-to-merge/waiting-for-ci 👍

#28314 core: fix race condition during startup of a service with ExitType=cgroup
  src/core/service.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#27526 journal: clean up the FSS related code a bit & add a couple of tests
  src/libsystemd/sd-journal/journal-authenticate.c
  test/units/testsuite-04.fss.sh
Labels: journal, tests, good-to-merge/waiting-for-ci 👍

#28361 network: check lifetime of address and route before configure
  src/network/networkd-address.c
  src/network/networkd-route-util.c
Labels: network, please-review

#28376 Use json_append() and json_variant_append_array()
  src/basic/hashmap.c
  src/basic/hashmap.h
  src/busctl/busctl.c
  src/network/networkd-json.c
  src/shared/logs-show.c
  src/shared/tpm2-util.c
  src/test/test-hashmap-plain.c
Labels: network, util-lib, tests, busctl, tpm2, please-review

#28380 homed: make all pam_prompt strings translatable
  po/POTFILES.in
  po/systemd.pot
  src/home/pam_systemd_home.c
Labels: l10n 🌍, squash-on-merge, good-to-merge/with-minor-suggestions, homed

#28388 kernel-install: Avoid reopening file descriptor via /proc
  src/kernel-install/kernel-install.c
Labels: good-to-merge/waiting-for-ci 👍, kernel-install

#28392 packit: temporarily use older Rawhide spec
  .packit.yml
Labels: please-review

#28390 Translations update from Fedora Weblate
  po/be.po
  po/be@latin.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/da.po
  po/de.po
  po/el.po
  po/es.po
  po/et.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/gl.po
  po/hr.po
  po/hu.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/kab.po
  po/ko.po
  po/lt.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ro.po
  po/ru.po
  po/si.po
  po/sk.po
  po/sr.po
  po/sv.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
  po/zh_TW.po
Labels: l10n 🌍, please-review

#28395 Translations update from Fedora Weblate
  po/uk.po
Labels: please-review

#26365 Allow D-Bus methods to auth. for more than one polkit action
  src/shared/bus-polkit.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#28397 mkosi: Stop using python3.9 on CentOS 8
  .github/workflows/mkosi.yml
  meson.build
  mkosi.conf.d/10-centos.conf
  mkosi.conf.d/10-systemd.conf
  mkosi.conf.d/11-centos-8/mkosi.conf
  mkosi.conf.d/11-centos-8/mkosi.reposdir/CentOS-Stream-Hyperscale.repo
  mkosi.conf.d/11-centos-8/mkosi.reposdir/powertools.repo
  mkosi.presets/00-base/mkosi.build
  mkosi.presets/00-base/mkosi.conf.d/10-centos-fedora.conf
  mkosi.presets/00-base/mkosi.conf.d/10-fedora.conf
  mkosi.presets/00-base/mkosi.conf.d/11-centos-8.conf
  mkosi.presets/00-base/mkosi.conf.d/11-centos-9.conf
  mkosi.presets/00-base/mkosi.prepare
  mkosi.presets/20-final/mkosi.conf.d/10-centos-fedora.conf
  mkosi.presets/20-final/mkosi.conf.d/10-fedora.conf
  mkosi.presets/20-final/mkosi.conf.d/11-centos-8.conf
  mkosi.presets/20-final/mkosi.conf.d/11-centos-9.conf
  tools/elf2efi.py
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi, meson, needs-stable-backport

#28355 unit: skip battery check when systemd.skip-battery-check specified on boot
  NEWS
  man/systemd-battery-check.service.xml
  src/basic/proc-cmdline.c
  src/battery-check/battery-check.c
  src/test/test-proc-cmdline.c
  units/systemd-battery-check.service.in
Labels: documentation, util-lib, tests, units, please-review, battery-check 🪫

#28320 catalog: update Polish translation 230709
  catalog/systemd.pl.catalog.in
Labels: l10n 🌍, please-review

#28301 Avoid using SMBIOS for kernel cmdline injection in sd-stub in confidential VMs
  src/basic/confidential-virt.c
  src/boot/efi/stub.c
  src/boot/efi/vmm.c
  src/boot/efi/vmm.h
  src/fundamental/confidential-virt-fundamental.h
Labels: util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#28370 resolved: fix canonical names returned by hosts lookups
  src/resolve/resolved-etc-hosts.c
  src/resolve/resolved-etc-hosts.h
  src/resolve/test-resolved-etc-hosts.c
  test/units/testsuite-75.sh
Labels: resolve, tests, good-to-merge/waiting-for-ci 👍

#28400 tree-wide: a bunch of Coccinelle-suggested tweaks
  src/analyze/analyze-pcrs.c
  src/basic/string-util.c
  src/shared/creds-util.c
  src/socket-activate/socket-activate.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, coccinelle

#28399 test: reduce the number of loops in tpm2 test_tpms_pcr_selection_mask…
  src/test/test-tpm2.c
Labels: tests, good-to-merge/waiting-for-ci 👍, tpm2

#28402 tpm2: handle older tpm enrollments without a saved pcr bank
  src/shared/tpm2-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, tpm2

#28403 po: update Japanese translation
  po/ja.po
Labels: l10n 🌍, please-review

#28387 network: cleanups for route table name
  man/networkd.conf.xml
  src/network/networkd-json.c
  src/network/networkd-route-util.c
  src/network/networkd-route-util.h
  src/network/networkd-route.c
  src/network/networkd-routing-policy-rule.c
  src/network/test-network.c
Labels: network, documentation, tests, good-to-merge/waiting-for-ci 👍

#28097 systemd-confext: image-based systemd-wide config update including dm-verity support​
  src/basic/os-util.c
  src/basic/os-util.h
  src/dissect/dissect.c
  src/portable/portable.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  src/sysext/sysext.c
  src/test/test-image-policy.c
  test/TEST-50-DISSECT/test.sh
  test/units/testsuite-29.sh
  test/units/testsuite-50.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, portable, sysext

#28401 Set console size when we reset it
  mkosi.conf.d/10-systemd.conf
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/core/execute.c
  src/core/main.c
Labels: util-lib, vconsole, good-to-merge/waiting-for-ci 👍

#27867 Restore ordering between vconsole-setup and firstboot services
  man/systemd-vconsole-setup.service.xml
  man/systemd.exec.xml
  src/basic/fs-util.c
  src/basic/special.h
  src/core/execute.c
  src/core/execute.h
  src/core/mount.c
  src/core/service.c
  src/core/socket.c
  src/core/swap.c
  src/shared/exit-status.c
  src/vconsole/vconsole-setup.c
  units/systemd-firstboot.service
  units/systemd-vconsole-setup.service.in
Labels: documentation, util-lib, vconsole, good-to-merge/waiting-for-ci 👍, units

#28406 Translations update from Fedora Weblate
  po/ka.po
Labels: please-review

#28412 NEWS: fix typo
  NEWS
Labels: documentation, please-review

#28413 Translations update from Fedora Weblate
  po/pl.po
Labels: please-review

#28416 Two more fixes for MIPS and sd-gpt
  src/systemd/sd-gpt.h
Labels: gpt-auto, good-to-merge/waiting-for-ci 👍

#28414 tpm2: add tpm2_get_pin_auth()
  src/shared/tpm2-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, tpm2

#28418 test: avoid TEST-70 passphrase file mode complaints
  test/units/testsuite-70.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, please-review

#28425 Translations update from Fedora Weblate
  po/cs.po
  po/ko.po
  po/sv.po
Labels: l10n 🌍, good-to-merge/waiting-for-ci 👍

#28422 units: Add --graceful flag to pcrphase units
  units/systemd-pcrfs-root.service.in
  units/systemd-pcrfs@.service.in
  units/systemd-pcrmachine.service.in
Labels: units, ci-failure-appears-unrelated

#28384 treewide: fix use of ERRNO_IS_*(r)
  src/core/socket.c
  src/libsystemd/sd-bus/sd-bus.c
  src/resolve/resolved-dns-transaction.c
  src/shared/kbd-util.c
  src/test/test-capability.c
  src/test/test-fileio.c
Labels: resolve, sd-bus, util-lib, tests, ci-failure-appears-unrelated

#28427 ci: drop super-linter's shellcheck
  .github/workflows/linter.yml
Labels: tests, good-to-merge/waiting-for-ci 👍

#28429 test: exit early from TEST-70-TPM2 on ppc64el
  test/units/testsuite-70.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#28441 test-resolved-stream: Use a random port number
  src/resolve/test-resolved-stream.c
Labels: resolve, tests, good-to-merge/waiting-for-ci 👍

#28424 test-network: check for captive portals received via NDISC
  test/test-network/conf/25-veth-bridge-captive.network
  test/test-network/conf/25-veth-client-captive.network
  test/test-network/conf/25-veth-router-captive.netdev
  test/test-network/conf/25-veth-router-captive.network
  test/test-network/conf/radvd/captive-portal.conf
  test/test-network/systemd-networkd-tests.py
Labels: tests, good-to-merge/waiting-for-ci 👍, ndisc

#28377 Don't warn that a valid version spec is invalid
  src/analyze/analyze-compare-versions.c
  src/basic/string-util.c
  src/basic/string-util.h
Labels: analyze, util-lib, good-to-merge/waiting-for-ci 👍

#28407 Include in manual what DNSSEC=no means in detail
  man/resolved.conf.xml
Labels: resolve, documentation, good-to-merge/with-minor-suggestions, dnssec

#28431 Deprecate efivar SystemdOptions
  NEWS
  man/bootctl.xml
  man/systemd.xml
  src/boot/bootctl-systemd-efi-options.c
Labels: documentation, sd-boot/sd-stub/bootctl, ci-failure-appears-unrelated

#28444 repart: Always take --offline into account
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#28450 kernel-install: silently ignore unexpected arguments for 'remove' command
  src/kernel-install/kernel-install.c
  src/kernel-install/test-kernel-install.sh
Labels: tests, kernel-install, please-review

#28447 network: fix fetching link properties
  src/network/networkctl.c
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#28445 core: copy the host's os-release for /run/host/os-release
  NEWS
  man/systemd-soft-reboot.service.xml
  man/systemd.exec.xml
  src/core/execute.c
  src/core/main.c
  src/core/namespace.c
  src/core/namespace.h
  src/portable/portable.c
  src/test/test-namespace.c
  src/test/test-ns.c
  test/units/testsuite-50.sh
  test/units/testsuite-82.sh
Labels: pid1, good-to-merge/waiting-for-ci 👍, portable

#28443 locale-util: fix _() definition
  src/basic/locale-util.h
Labels: util-lib, homed, please-review

#28455 man: clarify DNSSEC= again
  man/resolved.conf.xml
Labels: resolve, documentation, good-to-merge/waiting-for-ci 👍

#28467 test: fix a syntax error in test-ukify
  src/ukify/test/test_ukify.py
Labels: tests, uki, please-review

#28465 test: use XDG_STATE_HOME for %S and %L
  test/test-systemd-tmpfiles.py
Labels: tests, good-to-merge/waiting-for-ci 👍

#28476 Revert "udev: add /dev/loop/ symlinks"
  rules.d/60-persistent-storage.rules.in
  test/units/testsuite-50.sh
Labels: udev, tests, please-review

#28477 udev: downgrade log level when running without cgroup
  src/udev/udevd.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#28479 repart: Set sector size of loopback devices
  src/partition/repart.c
Labels: repart, please-review

#28481 udev: decrease devlink priority for iso disks
  rules.d/60-persistent-storage.rules.in
Labels: udev, good-to-merge/waiting-for-reporter-feedback 👍

#28483 homework-luks: fix typos
  src/home/homework-luks.c
Labels: cosmetic, good-to-merge/waiting-for-ci 👍, homed

#28460 run: disable --expand-environment by default for --scope
  NEWS
  man/systemd-run.xml
  src/run/run.c
Labels: documentation, run, ci-failure-appears-unrelated

#28463 core: add IgnoreOnSoftReboot= unit option
  man/org.freedesktop.systemd1.xml
  man/systemd-soft-reboot.service.xml
  man/systemd.unit.xml
  src/core/dbus-unit.c
  src/core/load-fragment-gperf.gperf.in
  src/core/path.c
  src/core/scope.c
  src/core/service.c
  src/core/slice.c
  src/core/socket.c
  src/core/target.c
  src/core/timer.c
  src/core/transaction.c
  src/core/unit-serialize.c
  src/core/unit.c
  src/core/unit.h
  src/shared/bus-unit-util.c
  test/units/testsuite-82.sh
Labels: documentation, pid1, ci-failure-appears-unrelated, please-review

#28436 zsh systemctl completion fixups
  shell-completion/zsh/_systemctl.in
Labels: shell completion, good-to-merge/waiting-for-reporter-feedback 👍

#26541 mkfs-util: Escape spaces with slashes in protofile format
  man/repart.d.xml
  src/shared/mkfs-util.c
  src/shared/resize-fs.h
Labels: documentation, util-lib, good-to-merge/waiting-for-ci 👍, repart

#28485 Revert "cryptenroll: drop unmet condition"
  src/cryptenroll/cryptenroll-password.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍

#28487 util: fix error handling of statx()
  src/basic/fd-util.c
  src/basic/mountpoint-util.c
  src/basic/mountpoint-util.h
  src/basic/stat-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#28486 tpm2: instead of adjusting authValue trailing 0(s), trim them as required by spec
  src/shared/tpm2-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, tpm2

#28494 Translations update from Fedora Weblate
  po/cs.po
Labels: please-review

#28493 Revert "network: delay to configure address until it is removed on reconfigure"
  src/network/networkd-address.c
  src/network/networkd-util.h
Labels: network, needs-stable-backport, please-review

#28497 switch-root: use MS_REC for /run, unless we are soft-rebooting
  src/core/main.c
  src/shared/switch-root.c
  src/shared/switch-root.h
  test/TEST-01-BASIC/test.sh
  test/units/testsuite-01.sh
Labels: pid1, tests, good-to-merge/waiting-for-ci 👍

#28498 softreboot: ensure all processes are killed
  NEWS
  man/org.freedesktop.systemd1.xml
  man/systemd-soft-reboot.service.xml
  man/systemd.unit.xml
  src/core/dbus-unit.c
  src/core/load-fragment-gperf.gperf.in
  src/core/main.c
  src/core/path.c
  src/core/scope.c
  src/core/service.c
  src/core/slice.c
  src/core/socket.c
  src/core/target.c
  src/core/timer.c
  src/core/transaction.c
  src/core/unit-serialize.c
  src/core/unit.c
  src/core/unit.h
  src/shared/bus-unit-util.c
  test/units/testsuite-82.sh
Labels: documentation, pid1, good-to-merge/waiting-for-ci 👍

#28505 vconsole-setup: don't fail with an empty keymap
  mkosi.presets/00-base/mkosi.build
  src/vconsole/vconsole-setup.c
Labels: vconsole, good-to-merge/waiting-for-ci 👍
