Repository systemd/systemd, pull requests merged in 2024-09, with the labels that each got.

#34211 basic/raw-clone: refuse CLONE_PIDFD too
  src/basic/raw-clone.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#34213 network/route: fix adjustment of nexthop weight
  src/network/networkd-dhcp-prefix-delegation.c
  src/network/networkd-dhcp4.c
  src/network/networkd-ndisc.c
  src/network/networkd-route-nexthop.c
  src/network/networkd-route.c
  src/network/networkd-route.h
Labels: network, ci-failure-appears-unrelated, please-review

#34196 portable: ensure PORTABLE_FORCE_ATTACH works even when there is a leftover unit
  src/portable/portable.c
  test/units/TEST-29-PORTABLE.sh
Labels: good-to-merge/waiting-for-ci 👍, portable, downstream/azure

#34231 test: don't install Python scripts from systemd-test RPM
  test/test-functions
Labels: tests

#34202 sysupdated: Bugfixes & improvements
  src/sysupdate/sysupdate-transfer.c
  src/sysupdate/sysupdated.c
Labels: good-to-merge/waiting-for-ci 👍, sysupdate

#34140 conf-parser: introduce log_syntax_parse_error() and use it
  src/basic/log.c
  src/basic/log.h
  src/core/load-fragment.c
  src/core/main.c
  src/coredump/coredump.c
  src/home/homed-conf.c
  src/journal-remote/journal-remote-main.c
  src/journal/journald-server.c
  src/login/logind-action.c
  src/network/netdev/bareudp.c
  src/network/netdev/batadv.c
  src/network/netdev/bond.c
  src/network/netdev/bridge.c
  src/network/netdev/fou-tunnel.c
  src/network/netdev/geneve.c
  src/network/netdev/ipoib.c
  src/network/netdev/ipvlan.c
  src/network/netdev/l2tp-tunnel.c
  src/network/netdev/macvlan.c
  src/network/netdev/tunnel.c
  src/network/netdev/vxlan.c
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-dns.c
  src/network/networkd-ipv6ll.c
  src/network/networkd-lldp-rx.c
  src/network/networkd-ndisc.c
  src/network/networkd-network.c
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-sysctl.c
  src/network/networkd-util.c
  src/network/test-networkd-conf.c
  src/nspawn/nspawn-settings.c
  src/partition/repart.c
  src/pstore/pstore.c
  src/resolve/resolved-conf.c
  src/shared/conf-parser.c
  src/shared/conf-parser.h
  src/shared/ethtool-util.c
  src/shared/resolve-util.c
  src/sysupdate/sysupdate-transfer.c
  src/test/test-conf-parser.c
  src/udev/net/link-config.c
  src/udev/udevd.c
Labels: util-lib, tree-wide, good-to-merge/waiting-for-ci 👍

#34105 resolved: include Varlink error on inconsistent DNS-SD services in in…
  src/libsystemd/sd-bus/bus-common-errors.c
  src/libsystemd/sd-bus/bus-common-errors.h
  src/resolve/resolved-bus.c
  src/resolve/resolved-varlink.c
  src/shared/varlink-io.systemd.Resolve.c
Labels: resolve, sd-bus, util-lib, please-review

#34149 repart: Switch to new mkfs.btrfs subvolume API
  man/repart.d.xml
  src/partition/repart.c
  src/shared/image-policy.c
Labels: documentation, util-lib, good-to-merge/waiting-for-ci 👍, dont-merge 💣, repart, rc-blocker 🚧

#34228 Two preparatory EFI library additions
  src/boot/efi/efi-string.c
  src/boot/efi/efi-string.h
  src/boot/efi/util.c
  src/boot/efi/util.h
Labels: util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#34190 repart: Add compression support
  man/repart.d.xml
  mkosi.sanitizers/mkosi.postinst
  src/home/homework-luks.c
  src/partition/makefs.c
  src/partition/repart.c
  src/shared/mkfs-util.c
  src/shared/mkfs-util.h
  src/test/test-loop-block.c
  test/TEST-58-REPART/meson.build
  test/units/TEST-58-REPART.sh
Labels: documentation, build-system, util-lib, tests, good-to-merge/waiting-for-ci 👍, mkosi, meson, repart

#34236 json-util: Add more builders
  src/libsystemd/sd-json/json-util.h
  src/libsystemd/sd-json/sd-json.c
  src/test/test-json.c
Labels: tests, good-to-merge/waiting-for-ci 👍, sd-json

#34240 mkosi: Rework debian/ubuntu prepare script to install dependencies
  mkosi.conf.d/10-arch/mkosi.prepare
  mkosi.conf.d/10-centos-fedora/mkosi.prepare
  mkosi.conf.d/10-debian-ubuntu/mkosi.prepare
  mkosi.conf.d/10-opensuse/mkosi.prepare
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#32487 core: introduce BindJournalSockets=
  man/org.freedesktop.systemd1.xml
  man/systemd.exec.xml
  src/core/dbus-execute.c
  src/core/exec-invoke.c
  src/core/execute-serialize.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.in
  src/core/namespace.c
  src/core/namespace.h
  src/portable/profile/default/service.conf
  src/portable/profile/nonetwork/service.conf
  src/portable/profile/strict/service.conf
  src/shared/bus-unit-util.c
  test/test-functions
  test/units/TEST-50-DISSECT.dissect.sh
  test/units/TEST-82-SOFTREBOOT.sh
Labels: documentation, pid1, util-lib, tests, dissect, portable, please-review, rc-blocker 🚧

#34224 network: make qdisc reconfigurable
  src/libsystemd/sd-netlink/netlink-message-rtnl.c
  src/network/networkd-neighbor.c
  src/network/networkd-network.c
  src/network/tc/cake.c
  src/network/tc/codel.c
  src/network/tc/drr.c
  src/network/tc/ets.c
  src/network/tc/fifo.c
  src/network/tc/fq-codel.c
  src/network/tc/fq-pie.c
  src/network/tc/fq.c
  src/network/tc/gred.c
  src/network/tc/hhf.c
  src/network/tc/htb.c
  src/network/tc/netem.c
  src/network/tc/pie.c
  src/network/tc/qdisc.c
  src/network/tc/qdisc.h
  src/network/tc/qfq.c
  src/network/tc/sfb.c
  src/network/tc/sfq.c
  src/network/tc/tbf.c
  src/network/tc/tc.c
  src/network/tc/tclass.c
  src/network/tc/tclass.h
  src/network/tc/teql.c
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, sd-netlink, good-to-merge/waiting-for-ci 👍, rc-blocker 🚧

#34205 pretty-print: introduce WITH_BUFFERED_STDERR macro to enable buffering
  src/shared/pretty-print.c
  src/shared/pretty-print.h
  src/sysupdate/updatectl.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, sysupdate

#34251 network: Add support for multiq qdisc
  man/systemd.network.xml
  src/network/meson.build
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/tc/mq.c
  src/network/tc/mq.h
  src/network/tc/multiq.c
  src/network/tc/multiq.h
  src/network/tc/qdisc.c
  src/network/tc/qdisc.h
  test/test-network/conf/25-qdisc-mq.network
  test/test-network/conf/25-qdisc-multiq.network
  test/test-network/systemd-networkd-tests.py
Labels: network, documentation, build-system, tests, good-to-merge/waiting-for-ci 👍, meson

#34212 tree-wide: handle MSG_TRUNC with recvmsg_safe()
  src/basic/audit-util.c
  src/basic/fd-util.c
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/core/manager.c
  src/import/importd.c
  src/journal/journald-server.c
  src/libsystemd/sd-device/device-monitor.c
  src/libsystemd/sd-netlink/netlink-socket.c
  src/libsystemd/sd-varlink/sd-varlink.c
  src/machine/machine-dbus.c
  src/nspawn/nspawn.c
  src/resolve/resolved-manager.c
  src/resolve/test-resolved-dummy-server.c
  src/shared/ask-password-api.c
  src/sysupdate/sysupdate-transfer.c
  src/sysupdate/sysupdated.c
  src/timesync/timesyncd-manager.c
  src/udev/udev-ctrl.c
Labels: util-lib, tree-wide, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#34090 Rework COW <=> NOCOW copying behavior
  src/basic/chattr-util.c
  src/core/exec-invoke.c
  src/nspawn/nspawn.c
  src/shared/copy.c
  src/shared/copy.h
  src/shared/discover-image.c
Labels: nspawn, util-lib, good-to-merge/waiting-for-ci 👍

#34221 man: ARP=no also disables IPv6 Neighbor Discovery Protocol
  man/systemd.network.xml
Labels: network, documentation, good-to-merge/waiting-for-ci 👍

#34256 core: follow-ups for recent PRs
  man/org.freedesktop.systemd1.xml
  man/systemd.exec.xml
  src/core/dbus-execute.c
  src/core/exec-invoke.c
  src/core/execute-serialize.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.in
  src/core/namespace.c
  src/core/namespace.h
  src/core/service.c
  src/core/unit-serialize.c
  src/core/unit.c
  src/core/unit.h
  src/portable/profile/default/service.conf
  src/portable/profile/nonetwork/service.conf
  src/portable/profile/strict/service.conf
  src/shared/bus-unit-util.c
  test/units/TEST-50-DISSECT.dissect.sh
Labels: pid1, good-to-merge/with-minor-suggestions

#34266 mkfs-util: Make sure we pass non option arguments last
  src/shared/mkfs-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#34263 udev: allow persistent storage rules for rbd devices
  rules.d/60-block.rules
  rules.d/60-persistent-storage.rules.in
Labels: udev, good-to-merge/waiting-for-ci 👍

#34264 edit-util: EditFileContext: avoid reserved 'stdin'
  src/network/networkctl-config-file.c
  src/shared/edit-util.c
  src/shared/edit-util.h
  src/systemctl/systemctl-edit.c
Labels: network, systemctl, util-lib, good-to-merge/waiting-for-ci 👍

#34261 repart: initialize seed earlier
  src/partition/repart.c
  test/units/TEST-58-REPART.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, repart

#34064 src: Include <sys/file.h> where LOCK_* are used
  src/basic/lock-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#34155 handle gmtime_r() errors more robustly
  src/basic/log.c
  src/basic/os-util.c
  src/basic/time-util.c
  src/basic/time-util.h
  src/hostname/hostnamed.c
  src/import/curl-util.c
  src/journal/journald-syslog.c
  src/resolve/resolved-dns-rr.c
  src/shared/calendarspec.c
  src/shared/clock-util.c
  src/shared/logs-show.c
  src/systemctl/systemctl-sysv-compat.c
  src/test/test-time-util.c
  src/timedate/hwclock-util.c
  src/timedate/hwclock-util.h
  src/timedate/timedatectl.c
  src/timedate/timedated.c
Labels: journal, resolve, systemctl, util-lib, tests, timedate, tree-wide, hostname, sysvcompat, please-review

#34265 hwdb: Mark Apple Wireless keyboards as not having NumLock LED
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#34267 mkosi: Install util-linux-script on Rawhide
  mkosi.conf.d/10-fedora/mkosi.conf.d/rawhide.conf
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.build.chroot
Labels: mkosi, please-review

#34203 network: several cleanups for conf parser
  src/network/networkd-address-label.c
  src/network/networkd-address-label.h
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-gperf.gperf
  src/network/networkd-network-gperf.gperf
  src/network/networkd-routing-policy-rule.c
  src/network/test-networkd-conf.c
  src/shared/conf-parser.c
  src/shared/conf-parser.h
  src/shared/firewall-util-nft.c
Labels: network, util-lib, tests, good-to-merge/waiting-for-ci 👍

#34259 nspawn: refuse to bind mount device node from host when --private-users= is specified
  src/nspawn/nspawn.c
Labels: nspawn, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#34277 sd-netlink: fix typo
  src/systemd/sd-netlink.h
Labels: sd-netlink, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#34280 tree-wide: trivial cleanups
  src/nspawn/nspawn.c
  src/shared/base-filesystem.c
  src/shared/mount-util.c
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, util-lib, tests, good-to-merge/waiting-for-ci 👍, mount

#34276 network/route: ignore EEXIST reply when the corresponding request is already detached
  src/network/networkd-route.c
Labels: network, good-to-merge/waiting-for-ci 👍

#34287 Translations update from Fedora Weblate
  po/fr.po
Labels: l10n 🌍, please-review

#34285 measure: introduce support for a new ".profile" section
  man/systemd-measure.xml
  src/boot/measure.c
  src/fundamental/uki.c
  src/fundamental/uki.h
  tools/command_ignorelist
Labels: documentation, util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#34279 ask-password: refuse empty password strv
  src/home/homectl.c
  src/shared/ask-password-api.c
  src/shared/dissect-image.c
  src/tty-ask-password-agent/tty-ask-password-agent.c
Labels: util-lib, ask-password, good-to-merge/waiting-for-ci 👍, dissect, needs-stable-backport

#34286 coredump: set ProtectHome to read-only
  units/systemd-coredump@.service.in
Labels: coredump, good-to-merge/waiting-for-ci 👍, units

#34290 man: document that sd_bus_message_read_strv() happily spits out empty…
  man/sd_bus_message_read_strv.xml
Labels: documentation, sd-bus, good-to-merge/waiting-for-ci 👍

#34293 NEWS: extend the userdb sshd_config NEWS entry a bit
  NEWS
Labels: documentation, good-to-merge/waiting-for-ci 👍, userdb

#34292 journald: mention the access mode we tried to open /dev/kmsg in
  src/journal/journald-kmsg.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#34177 cryptenroll/cryptsetup: support combined signed PCR + pcrlock policies
  src/basic/iovec-util.c
  src/basic/iovec-util.h
  src/cryptenroll/cryptenroll-tpm2.c
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-systemd-tpm2.c
  src/cryptsetup/cryptsetup-tokens/luks2-tpm2.c
  src/cryptsetup/cryptsetup-tokens/luks2-tpm2.h
  src/cryptsetup/cryptsetup.c
  src/partition/repart.c
  src/shared/creds-util.c
  src/shared/cryptsetup-tpm2.c
  src/shared/cryptsetup-tpm2.h
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
  src/test/test-iovec-util.c
  src/test/test-tpm2.c
  test/units/TEST-70-TPM2.pcrlock.sh
Labels: new-feature, util-lib, tests, cryptsetup, good-to-merge/waiting-for-ci 👍, dissect, repart, tpm2, creds

#34296 man: CAP_SYS_ADMIN does NOT grant any permission for dbus API
  man/org.freedesktop.systemd1.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#34302 dm-util: get rid of flex array in middle of structure
  src/shared/dm-util.c
Labels: util-lib, please-review

#34301 varlinkctl: add --timeout= switch to tweak time-out behaviour
  man/varlinkctl.xml
  src/varlinkctl/varlinkctl.c
Labels: documentation, varlink, please-review

#34295 ukify: add multi-profile UKI support
  man/ukify.xml
  src/ukify/ukify.py
Labels: documentation, uki, please-review

#34305 docs: use actual docs/HACKING.md URL
  test/README.testsuite
Labels: tests, quick-review 🏃‍♂️, please-review

#34306 mkosi: Drop _fixperms workaround
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/opensuse/mkosi.build.chroot
Labels: mkosi, please-review

#34311 Fix grammar in udevadm settle timeout message
  src/udev/udevadm-settle.c
Labels: udev, please-review

#34312 fix typo in TODO
  TODO
Labels: please-review

#34314 Fix typo in escape.c
  src/escape/escape.c
Labels: escape, please-review

#34317 terminal-util: correct fd validity check
  src/basic/terminal-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#34067 nspawn: enable FUSE in containers
  src/nspawn/nspawn-register.c
  src/nspawn/nspawn-register.h
  src/nspawn/nspawn.c
  test/TEST-13-NSPAWN/test.sh
  test/units/TEST-13-NSPAWN.nspawn.sh
  units/systemd-nspawn@.service.in
Labels: nspawn, tests, good-to-merge/waiting-for-ci 👍, units

#34307 linux: import more network headers
  meson.build
  src/basic/generate-arphrd-list.sh
  src/basic/linux/filter.h
  src/basic/linux/if_addrlabel.h
  src/basic/linux/if_arp.h
  src/basic/linux/if_infiniband.h
  src/basic/linux/if_packet.h
  src/basic/linux/if_vlan.h
  src/basic/linux/ip.h
  src/basic/linux/ip6_tunnel.h
  src/basic/linux/ipv6.h
  src/basic/linux/neighbour.h
  src/basic/linux/net_namespace.h
  src/basic/linux/netfilter/nf_conntrack_common.h
  src/basic/linux/netfilter/nf_conntrack_tuple_common.h
  src/basic/linux/netfilter/nf_nat.h
  src/basic/linux/netfilter/nfnetlink_compat.h
  src/basic/linux/netfilter/x_tables.h
  src/basic/linux/netfilter/xt_addrtype.h
  src/basic/linux/netfilter/xt_tcpudp.h
  src/basic/linux/netfilter_ipv4.h
  src/basic/linux/netfilter_ipv4/ip_tables.h
  src/basic/linux/socket.h
  src/basic/linux/sockios.h
  src/basic/linux/veth.h
  src/basic/linux/vm_sockets.h
  src/basic/meson.build
  src/basic/missing_network.h
  src/basic/missing_socket.h
  src/basic/parse-util.c
  src/basic/socket-util.h
  src/libsystemd-network/ndisc-option.c
  src/network/networkd-setlink.c
  src/resolve/resolved-manager.c
  src/shared/conf-parser.c
Labels: network, resolve, build-system, util-lib, good-to-merge/waiting-for-ci 👍, meson

#34313 repart: Initialize split_name_format in copy_from_one()
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#33833 core/manager: do not re-init Manager.lookup_paths when manager_reload(), minor assorted cleanups
  src/basic/chattr-util.c
  src/core/manager.c
  src/varlinkctl/varlinkctl.c
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍

#34315 sysupdate: Add --transfer-source=
  man/systemd-sysupdate.xml
  man/sysupdate.d.xml
  src/sysupdate/sysupdate-resource.c
  src/sysupdate/sysupdate-resource.h
  src/sysupdate/sysupdate-transfer.c
  src/sysupdate/sysupdate.c
  src/sysupdate/sysupdate.h
Labels: documentation, good-to-merge/waiting-for-ci 👍, sysupdate

#34258 nspawn: make --volatile work with -U
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn-mount.h
  src/nspawn/nspawn.c
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, util-lib, tests, mount, needs-stable-backport, please-review

#34321 core: Add support for PrivateUsers=identity
  man/org.freedesktop.systemd1.xml
  man/systemd.exec.xml
  src/core/dbus-execute.c
  src/core/exec-invoke.c
  src/core/execute-serialize.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/namespace.c
  src/core/namespace.h
  src/shared/bus-unit-util.c
  test/units/TEST-07-PID1.private-users.sh
Labels: documentation, pid1, tests, good-to-merge/waiting-for-ci 👍

#34326 machinectl: suppress redirection notice if --quiet is specified
  src/machine/machinectl.c
Labels: machine, good-to-merge/waiting-for-ci 👍

#34330 shutdown: make all fsync()s asynchronous and apply timeout
  src/shared/async.c
  src/shared/async.h
  src/shutdown/detach-dm.c
  src/shutdown/detach-loopback.c
  src/shutdown/detach-md.c
  src/shutdown/shutdown.c
  src/shutdown/shutdown.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍, shutdown

#34328 analyze: --help text improvements
  src/analyze/analyze.c
Labels: analyze, good-to-merge/waiting-for-ci 👍

#34297 shell: define three system credentials we can propagate into shell prompts and welcome msgs
  TODO
  man/pam_systemd.xml
  man/systemd.system-credentials.xml
  meson.build
  meson_options.txt
  profile.d/70-systemd-shell-extra.sh
  profile.d/meson.build
  src/login/pam_systemd.c
  src/ssh-generator/meson.build
  src/userdb/meson.build
  tmpfiles.d/20-systemd-shell-extra.conf.in
  tmpfiles.d/meson.build
  units/console-getty.service.in
  units/container-getty@.service.in
  units/getty@.service.in
  units/serial-getty@.service.in
Labels: login, documentation, good-to-merge/waiting-for-ci 👍, units, meson

#34336 nspawn: follow-ups for FUSE support
  src/nspawn/nspawn-register.c
  src/nspawn/nspawn.c
  units/systemd-nspawn@.service.in
Labels: nspawn, good-to-merge/waiting-for-ci 👍, units

#34318 networkctl: support editing netdev files by link and cat ":all"
  man/networkctl.xml
  src/libsystemd/sd-network/sd-network.c
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/networkctl-config-file.c
  src/network/networkctl-status-link.c
  src/network/networkd-state-file.c
  src/systemd/sd-network.h
  test/networkd-test.py
  test/units/TEST-74-AUX-UTILS.networkctl.sh
Labels: network, documentation, tests, good-to-merge/waiting-for-ci 👍

#34294 multi-profile UKIs (systemd-stub hookup)
  man/systemd-stub.xml
  src/boot/efi/pe.c
  src/boot/efi/pe.h
  src/boot/efi/stub.c
  src/boot/efi/util.c
  src/boot/efi/util.h
  src/fundamental/efivars-fundamental.h
  src/fundamental/tpm2-pcr.h
Labels: documentation, util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, tpm2

#34343 udev/ata_id: export read look-ahead values
  src/udev/ata_id/ata_id.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#34331 network/netdev: several cleanups for attaching/detaching netdev, and setting/getting ifindex from netdev
  src/network/netdev/l2tp-tunnel.c
  src/network/netdev/l2tp-tunnel.h
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/netdev/veth.c
  src/network/netdev/veth.h
  src/network/netdev/vxcan.c
  src/network/netdev/vxcan.h
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/network/networkd-route.c
  src/network/networkd-state-file.c
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#34340 hwdb: death to tabs!
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#34339 sd-boot: synthesize one menu entry for each profile of multi-profile UKIs
  src/boot/efi/boot.c
  src/boot/efi/pe.c
  src/boot/efi/pe.h
  src/fundamental/efivars-fundamental.h
  src/fundamental/uki.h
Labels: util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#34345 homectl: when chainloading a shell, prefix "-" rather than overriding…
  src/home/homectl.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#34346 cryptsetup: use the new crypt_token_set_external_path() API if available
  meson.build
  src/shared/cryptsetup-util.c
  src/shared/cryptsetup-util.h
Labels: build-system, util-lib, cryptsetup, meson, please-review

#34350 doc-sync: strip point release from version before uploading
  tools/sync-docs.py
Labels: quick-review 🏃‍♂️, please-review

#34349 meson: increase default number of available sections for the stub
  meson_options.txt
  src/boot/efi/meson.build
Labels: build-system, sd-boot/sd-stub/bootctl, meson, please-review

#34338 tmpfiles: add separate fragment for stuff we copy from .extra/ into /…
  tmpfiles.d/20-systemd-stub.conf.in
  tmpfiles.d/meson.build
  tmpfiles.d/systemd.conf.in
Labels: build-system, tmpfiles, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, meson

#34332 src/sysext: Use versioned names when logging extensions used for merg…
  src/sysext/sysext.c
Labels: good-to-merge/with-minor-suggestions, sysext

#34358 Change OS X to macOS in the documentation
  docs/BOOT.md
Labels: documentation, please-review

#34348 sd-stub: report stub location in efi vars
  man/systemd-boot.xml
  man/systemd-stub.xml
  src/boot/bootctl-status.c
  src/boot/efi/export-vars.c
  src/boot/efi/stub.c
  src/fundamental/efivars-fundamental.h
Labels: documentation, util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#34353 timesync: add document for org.freedesktop.timesync1
  man/org.freedesktop.timesync1.xml
  man/rules/meson.build
  src/timesync/timesyncd-bus.c
  src/timesync/timesyncd-bus.h
  src/timesync/timesyncd.c
  tools/dbus_ignorelist
Labels: documentation, build-system, timesync, good-to-merge/waiting-for-ci 👍, meson

#34364 test: fix TEST_SKIP for test cases with subtests
  test/integration-test-wrapper.py
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#34335 man: Correct flag description of systemd-cat
  man/systemd-cat.xml
Labels: journal, documentation, good-to-merge/waiting-for-ci 👍

#34363 pcrlock: log if we generate an "empty" policy
  src/pcrlock/pcrlock.c
Labels: tpm2, please-review

#34360 man: fix help text for systemd-creds tool's "list" verb
  src/creds/creds.c
Labels: documentation, quick-review 🏃‍♂️, creds, please-review

#34378 pcrlock: correct --help text regarding recovery pin
  src/pcrlock/pcrlock.c
Labels: good-to-merge/waiting-for-ci 👍, tpm2

#34376 resolvectl: show DefaultRoute state in per-link DNS staus info too
  src/resolve/resolvectl.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#34377 repart: Add MakeSymlinks=
  man/repart.d.xml
  src/partition/repart.c
  test/units/TEST-58-REPART.sh
Labels: documentation, tests, good-to-merge/waiting-for-ci 👍, repart

#34369 resolved: use unlinkat() where appropriate
  src/resolve/resolved-manager.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#34362 pcrlock: remove empty components from our list
  src/pcrlock/pcrlock.c
Labels: good-to-merge/waiting-for-ci 👍, tpm2

#34370 resolved: simplify initialization of DnsScope
  src/resolve/resolved-dns-scope.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#34372 resolved: use dns_scope_ifindex() at more places
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-scope.h
Labels: resolve, good-to-merge/waiting-for-ci 👍

#34371 resolved: simplify dns_scope_get_n_dns_servers(), don't count each time
  src/resolve/resolved-dns-scope.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#34373 move dnssd configuration file parsing from generic code into dnssd source files
  src/resolve/resolved-conf.c
  src/resolve/resolved-conf.h
  src/resolve/resolved-dnssd-gperf.gperf
  src/resolve/resolved-dnssd.c
  src/resolve/resolved-dnssd.h
Labels: resolve, good-to-merge/waiting-for-ci 👍

#34374 resolvectl: rename shallow destructors …_done()
  src/resolve/resolvectl.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#34375 resolvectl: rework StatusMode handling into a switch/case statement
  src/resolve/resolvectl.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#33125 creds,analyze: move "has-tpm2" verb from "systemd-creds" to "systemd-analyze"
  man/systemd-analyze.xml
  man/systemd-creds.xml
  src/analyze/analyze-has-tpm2.c
  src/analyze/analyze-has-tpm2.h
  src/analyze/analyze.c
  src/analyze/meson.build
  src/creds/creds.c
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
  test/units/TEST-65-ANALYZE.sh
Labels: documentation, analyze, build-system, util-lib, tests, good-to-merge/waiting-for-ci 👍, meson, tpm2, creds

#34386 Mkosi update helper
  .github/workflows/mkosi.yml
  tools/fetch-mkosi.py
Labels: tests, mkosi, please-review

#34385 man: clean up PCR public key filenames in systemd-stub and systemd-measure man pages
  man/systemd-measure.xml
  man/systemd-stub.xml
Labels: documentation, sd-boot/sd-stub/bootctl, dont-merge 💣, tpm2, please-review

#34388 seccomp: update syscall list and categorize new additions a bit
  src/basic/syscall-list.txt
  src/basic/syscalls-alpha.txt
  src/basic/syscalls-arc.txt
  src/basic/syscalls-arm.txt
  src/basic/syscalls-arm64.txt
  src/basic/syscalls-i386.txt
  src/basic/syscalls-loongarch64.txt
  src/basic/syscalls-m68k.txt
  src/basic/syscalls-mips64.txt
  src/basic/syscalls-mips64n32.txt
  src/basic/syscalls-mipso32.txt
  src/basic/syscalls-parisc.txt
  src/basic/syscalls-powerpc.txt
  src/basic/syscalls-powerpc64.txt
  src/basic/syscalls-riscv32.txt
  src/basic/syscalls-riscv64.txt
  src/basic/syscalls-s390.txt
  src/basic/syscalls-s390x.txt
  src/basic/syscalls-sparc.txt
  src/basic/syscalls-x86_64.txt
  src/shared/seccomp-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, seccomp

#32212 More visibility into systemd-networkd sysctls
  catalog/systemd.catalog.in
  src/basic/sysctl-util.c
  src/basic/sysctl-util.h
  src/network/bpf/sysctl_monitor/meson.build
  src/network/bpf/sysctl_monitor/sysctl-monitor-skel.h
  src/network/bpf/sysctl_monitor/sysctl-monitor.bpf.c
  src/network/bpf/sysctl_monitor/sysctl-write-event.h
  src/network/meson.build
  src/network/networkd-ipv6ll.c
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-ndisc.c
  src/network/networkd-sysctl.c
  src/network/networkd-sysctl.h
  src/network/networkd.c
  src/systemd/sd-messages.h
  src/test/test-sysctl-util.c
  test/test-network/systemd-networkd-tests.py
  units/systemd-networkd.service.in
Labels: udev, network, nspawn, build-system, util-lib, tests, sysctl, catalog, units, meson, please-review, rc-blocker 🚧

#34390 man: document that sd_bus_process() only returns otherwise unhandled …
  TODO
  man/sd_bus_process.xml
Labels: documentation, sd-bus, please-review

#34382 units: Order ldconfig.service after systemd-confext.service
  units/ldconfig.service
Labels: units, please-review

#34384 analyze: add test for verify exit status with warnings
  test/units/TEST-65-ANALYZE.sh
Labels: tests, good-to-merge/with-minor-suggestions

#34397 mkosi: Stop applying device groups patch on Arch
  mkosi.images/build/mkosi.conf.d/arch/mkosi.build.chroot
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#34395 minor fixups for #32212
  src/basic/sysctl-util.c
  src/network/networkd-manager.c
  src/network/networkd-sysctl.c
Labels: network, util-lib, sysctl, good-to-merge/waiting-for-ci 👍

#34389 Translations update from Fedora Weblate
  po/fi.po
Labels: l10n 🌍, please-review

#34398 mkosi: update debian commit reference
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#34402 Add examples not package/dlopen notes
  TODO
  docs/ELF_DLOPEN_METADATA.md
  docs/ELF_PACKAGE_METADATA.md
Labels: documentation, please-review

#34415 Add ACCEL_MOUNT_MATRIX for Chuwi Hi10 Max.
  hwdb.d/60-sensor.hwdb
Labels: hwdb, please-review

#34401 tree-wide: make sigprocmask() changes more automatic
  TODO
  src/basic/signal-util.h
  src/home/homed-manager.c
  src/home/homed.c
  src/journal/journald-server.c
  src/login/logind.c
  src/machine/machinectl.c
  src/machine/machined.c
  src/network/wait-online/manager.c
  src/network/wait-online/wait-online.c
  src/nspawn/nspawn.c
  src/oom/oomd-manager.c
  src/oom/oomd.c
  src/portable/portabled.c
  src/resolve/resolved-manager.c
  src/resolve/resolved-manager.h
  src/resolve/resolved.c
  src/run/run.c
  src/shared/ptyfwd.c
  src/timesync/timesyncd-manager.c
  src/timesync/timesyncd.c
  src/timesync/wait-sync.c
  src/udev/udev-manager.c
  src/udev/udev-manager.h
  src/udev/udevadm-monitor.c
  src/vmspawn/vmspawn.c
Labels: util-lib, tree-wide, good-to-merge/waiting-for-ci 👍

#34417 Add HUAWEI MateBook D 15 AMD ACCEL properties
  hwdb.d/60-sensor.hwdb
Labels: hwdb, please-review

#34405 dns-domain: fix validation check for max name
  src/shared/dns-domain.c
  src/test/test-dns-domain.c
Labels: resolve, util-lib, tests, good-to-merge/waiting-for-ci 👍

#34419 creds: several follow-ups and cleanups
  src/creds/creds.c
Labels: good-to-merge/waiting-for-ci 👍, creds

#34421 load-fragment: terminate the specifier table
  src/core/load-fragment.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#34420 test: split TEST-29-PORTABLE in subtests
  test/units/TEST-29-PORTABLE.directory.sh
  test/units/TEST-29-PORTABLE.image.sh
  test/units/TEST-29-PORTABLE.sh
Labels: tests, quick-review 🏃‍♂️, please-review

#34347 bootctl: multi-profile UKI support
  src/fundamental/uki.h
  src/shared/bootspec.c
  src/shared/bootspec.h
  src/shared/kernel-image.c
  src/shared/pe-binary.c
  src/shared/pe-binary.h
Labels: new-feature, util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, rc-blocker 🚧

#34409 boot: Make initrd_prepare() semantically equivalent to combine_initrds()
  src/boot/efi/boot.c
  src/boot/efi/stub.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#34426 mkosi: Disable makepkg PKGBUILD linting using the newly added environment variable
  mkosi.images/build/mkosi.conf.d/arch/mkosi.build.chroot
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#34430 test: fix ASAN options in TEST-29-PORTABLE
  test/units/TEST-29-PORTABLE.directory.sh
  test/units/TEST-29-PORTABLE.image.sh
  test/units/TEST-29-PORTABLE.sh
Labels: tests, please-review

#34433 man/bootup: rename initrd to exitrd at one more place
  man/bootup.xml
Labels: documentation, quick-review 🏃‍♂️, please-review

#34428 Backport "boot: Make initrd_prepare() semantically equivalent to combine_initrds()" to v256-stable
  src/boot/efi/boot.c
Labels: good-to-merge/waiting-for-ci 👍

#34441 repart: Fix log messages in partition_populate_directory()
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#34439 hwdb: add Kensington SlimBlade Pro trackball (Bluetooth mode)
  hwdb.d/70-mouse.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#34435 bootctl: show whether a PE file is an addon in 'booctl kernel-identify'
  man/bootctl.xml
  src/shared/kernel-image.c
  src/shared/kernel-image.h
Labels: documentation, util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#34434 bootctl: expose new stub path efi vars and related
  man/bootctl.xml
  src/basic/efivars.c
  src/basic/efivars.h
  src/boot/bless-boot.c
  src/boot/bootctl-status.c
  src/boot/bootctl.c
  src/shared/efi-api.h
  src/shared/efi-loader.c
  src/shared/efi-loader.h
Labels: documentation, util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#34431 coredump: use _cleanup_(iovec_done) where appropriate
  src/coredump/coredump.c
Labels: coredump, good-to-merge/waiting-for-ci 👍

#34429 basic/build: also include BTF status
  src/basic/build.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#34425 udev-rules: support case insensitive match
  man/udev.xml
  src/udev/fuzz-udev-rule-parse-value.c
  src/udev/test-udev-rules.c
  src/udev/udev-rules.c
  src/udev/udev-rules.h
  test/test-udev.py
  test/units/TEST-17-UDEV.11.sh
Labels: udev, documentation, tests, good-to-merge/waiting-for-ci 👍

#34393 tmpfiles: introduce an explicit line flag $ for enabling purge logic …
  NEWS
  man/systemd-tmpfiles.xml
  man/tmpfiles.d.xml
  src/tmpfiles/tmpfiles.c
  test/units/TEST-22-TMPFILES.18.sh
  tmpfiles.d/20-systemd-shell-extra.conf.in
  tmpfiles.d/20-systemd-ssh-generator.conf.in
  tmpfiles.d/legacy.conf.in
  tmpfiles.d/systemd-network.conf
  tmpfiles.d/systemd-nspawn.conf
  tmpfiles.d/systemd-tmp.conf
  tmpfiles.d/systemd.conf.in
Labels: nspawn, documentation, tmpfiles, tests, good-to-merge/waiting-for-ci 👍, ssh-generator

#34452 CONTROL_GROUP_INTERFACE: fix link to systemd-run code
  docs/CONTROL_GROUP_INTERFACE.md
Labels: documentation, please-review

#34451 Fix generator logging
  src/shared/generator.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#34454 test/repart: fix mkfs checker
  test/units/TEST-58-REPART.sh
Labels: tests, please-review

#34453 docs: fix typo in filename: REATLIME -> REALTIME
  TODO
  docs/FAQ.md
  docs/MY_SERVICE_CANT_GET_REALTIME.md
Labels: documentation, please-review

#34443 network/sysctl-monitor: several follow-ups and cleanups
  src/network/bpf/sysctl_monitor/sysctl-monitor.bpf.c
  src/network/networkd-ipv6ll.c
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-ndisc.c
  src/network/networkd-sysctl.c
  src/nsresourced/nsresourced-manager.c
  src/shared/bpf-link.c
  src/shared/bpf-link.h
Labels: network, util-lib, sysctl, good-to-merge/waiting-for-ci 👍, nsresource

#34404 Use correct error code in log message in output_waiting_jobs
  src/systemctl/systemctl-list-jobs.c
Labels: systemctl, good-to-merge/waiting-for-ci 👍, squash-on-merge

#34450 homed: wait for user input during firstboot
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/firstboot/firstboot.c
  src/home/homectl.c
Labels: util-lib, firstboot, good-to-merge/waiting-for-ci 👍

#34457 multi-profile UKIs: test case
  TODO
  test/TEST-86-MULTI-PROFILE-UKI/Makefile
  test/TEST-86-MULTI-PROFILE-UKI/meson.build
  test/TEST-86-MULTI-PROFILE-UKI/test.sh
  test/meson.build
  test/units/TEST-86-MULTI-PROFILE-UKI.sh
Labels: build-system, tests, sd-boot/sd-stub/bootctl, meson, please-review

#34437 network/dhcp4: use device_get_property_bool() at link_needs_dhcp_broadcast()
  src/network/networkd-dhcp4.c
Labels: network, please-review

#34440 network: log when no matching .network file found
  src/basic/log.h
  src/network/netdev/netdev.c
  src/network/networkd-link.c
  src/network/networkd-network.c
  src/shared/conf-parser.c
Labels: network, util-lib, please-review

#34040 repart: Implement $BOOT support
  man/repart.d.xml
  src/basic/strv.h
  src/partition/repart.c
  test/units/TEST-58-REPART.sh
Labels: documentation, util-lib, tests, good-to-merge/waiting-for-ci 👍, repart

#34461 ukify: Remove debug log
  src/ukify/ukify.py
Labels: good-to-merge/waiting-for-ci 👍, uki

#34460 test: follow-ups for TEST-86
  test/TEST-86-MULTI-PROFILE-UKI/test.sh
  test/units/TEST-86-MULTI-PROFILE-UKI.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#34464 test: allow to run tests under directory that contains spaces
  src/kernel-install/kernel-install.c
  src/kernel-install/test-kernel-install.sh
  src/test/test-compress.c
  src/udev/test-udev-spawn.c
  test/test-compare-versions.sh
  test/test-fstab-generator.sh
  test/test-sysusers.sh.in
Labels: udev, tests, fstab-generator, sysusers, good-to-merge/waiting-for-ci 👍, kernel-install

#34465 systemd: rewatch pids under cgroup v1 when sigchld of processes more …
  src/core/service.c
Labels: please-review

#34455 repart: Support specifying multiple directories to ExcludeFiles=
  man/repart.d.xml
  src/partition/repart.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, repart

#34469 hwdb: Add accel orientation quirk for the IdeaPad Duet 3 10IGL5-LTE
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#34473 man/repart: use <varname> instead of <variable>
  man/repart.d.xml
Labels: documentation, repart, please-review

#34466 repart: Drop unprivileged subvolumes logic for btrfs
  src/partition/repart.c
Labels: ci-fails/needs-rework 🔥, good-to-merge/waiting-for-ci 👍, repart

#34468 nsresourced: fix build without libbpf
  src/nsresourced/nsresourced-manager.c
Labels: good-to-merge/waiting-for-ci 👍, nsresource

#34470 test: drop removed SCSI passthrough feature
  test/TEST-64-UDEV-STORAGE/long_sysfs_path.configure
  test/TEST-64-UDEV-STORAGE/test.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#34474 Two integration test fixes
  mkosi.postinst.chroot
  test/TEST-74-AUX-UTILS/meson.build
  test/units/TEST-74-AUX-UTILS.networkctl.sh
Labels: build-system, tests, mkosi, meson, please-review

#34479 tree-wide: make sd_json_dispatch_field table static
  src/libsystemd/sd-varlink/sd-varlink.c
  src/machine/machined-varlink.c
  src/nspawn/nspawn-oci.c
  src/resolve/resolvectl.c
  src/resolve/resolved-dns-rr.c
  src/shared/creds-util.c
  src/shared/nsresource.c
  src/ssh-generator/ssh-proxy.c
  src/sysupdate/updatectl.c
  src/varlinkctl/varlinkctl.c
Labels: nspawn, resolve, machine, util-lib, good-to-merge/waiting-for-ci 👍, varlink, creds, nsresource
