Repository systemd/systemd, pull requests merged in 2024-07, with the labels that each got.

#33553 add --list-devices switch to various tools that accept block devices to list candidate devices
  man/systemd-cryptenroll.xml
  man/systemd-repart.xml
  man/systemd-storagetm.service.xml
  src/cryptenroll/cryptenroll.c
  src/partition/repart.c
  src/shared/blockdev-list.c
  src/shared/blockdev-list.h
  src/shared/blockdev-util.c
  src/shared/blockdev-util.h
  src/shared/dissect-image.c
  src/shared/loop-util.c
  src/shared/meson.build
  src/storagetm/storagetm.c
  src/test/test-blockdev-util.c
  test/units/TEST-24-CRYPTSETUP.sh
  test/units/TEST-58-REPART.sh
  test/units/TEST-84-STORAGETM.sh
Labels: documentation, build-system, util-lib, tests, cryptsetup, good-to-merge/waiting-for-ci 👍, meson, repart, storagetm

#33539 Use read_full_file_full() in read_smbios11_field()
  src/shared/smbios11.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#33555 units: add dep on systemd-logind.service by user@.service
  units/user-runtime-dir@.service.in
  units/user@.service.in
Labels: login, good-to-merge/waiting-for-ci 👍, units, needs-stable-backport

#33557 mkfs-util: Simplify logic
  src/shared/mkfs-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#33475 teach inode_same() the concept of name_to_handle_at() FIDs to properly detect inode identities
  src/basic/missing_fcntl.h
  src/basic/mountpoint-util.c
  src/basic/mountpoint-util.h
  src/basic/stat-util.c
  src/shared/mount-util.c
  src/shared/mount-util.h
  src/test/test-stat-util.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#33558 mkosi: update debian commit reference
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu/mkosi.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi, quick-review 🏃‍♂️

#33523 Fix DNS OPT extended rcode parsing
  src/resolve/resolved-dns-packet.c
  src/resolve/resolved-dns-packet.h
Labels: resolve, please-review

#33560 2 trivial follow-ups for recent PRs
  src/shared/condition.c
  src/shared/mount-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#33496 mountpoint-util: do not assume symlinks are not mountpoints
  src/basic/mountpoint-util.c
  src/test/test-mountpoint-util.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#33238 test: split the resolved test suite into separate test cases
  test/units/TEST-75-RESOLVED.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#33566 mkosi: Install perf
  mkosi.images/system/mkosi.conf.d/10-arch/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-centos-fedora/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-debian/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-opensuse/mkosi.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#33574 efi: efi variable refactoring
  src/boot/efi/boot.c
  src/boot/efi/efivars.c
  src/boot/efi/efivars.h
  src/boot/efi/export-vars.c
  src/boot/efi/meson.build
  src/boot/efi/random-seed.c
  src/boot/efi/secure-boot.c
  src/boot/efi/shim.c
  src/boot/efi/stub.c
  src/boot/efi/util.c
  src/boot/efi/util.h
  src/boot/efi/vmm.c
Labels: build-system, sd-boot/sd-stub/bootctl, meson, good-to-merge/with-minor-suggestions

#33577 Testsuite tweaks for v256 on suse
  test/TEST-24-CRYPTSETUP/test.sh
  test/test-functions
  test/units/TEST-74-AUX-UTILS.ssh.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#33578 docs/CODING_STYLE: document that we nowadays prefer (const char*) for func ret type
  docs/CODING_STYLE.md
Labels: documentation, good-to-merge/waiting-for-ci 👍

#33568 coredump: correctly take tmpfs size into account for compression
  src/coredump/coredump.c
Labels: coredump, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#33573 meson: Define __TARGET_ARCH macros required by bpf
  meson.build
Labels: build-system, good-to-merge/waiting-for-ci 👍, meson, bpf, needs-stable-backport

#33580 mkosi: Don't touch the packaging checkout if work is being done
  mkosi.images/system/mkosi.sync
Labels: mkosi, please-review

#33587 mkosi: update fedora commit reference
  mkosi.images/system/mkosi.conf.d/10-fedora/mkosi.conf
Labels: mkosi

#33575 core/dbus-manager: several cleanups, refuse SoftReboot() for user manager
  src/core/dbus-manager.c
  src/core/main.c
  src/core/manager.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#33590 hwdb: Add some HP IR cameras
  hwdb.d/70-cameras.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#33594 mkosi: Copy packages to the build directory as well
  mkosi.images/system/mkosi.conf.d/10-arch/mkosi.build.chroot
  mkosi.images/system/mkosi.conf.d/10-centos-fedora/mkosi.build.chroot
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu/mkosi.build.chroot
  mkosi.images/system/mkosi.conf.d/10-opensuse/mkosi.build.chroot
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#33576 repart: Allow overriding fstype per partition designator
  docs/ENVIRONMENT.md
  src/partition/repart.c
  src/shared/gpt.c
  src/shared/gpt.h
Labels: documentation, util-lib, good-to-merge/waiting-for-ci 👍, repart

#33600 load-fragment: Remove faulty assertion
  src/core/load-fragment.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#33603 mkosi: remove conflicting deb packages from builddir
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu/mkosi.build.chroot
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#33602 mkosi: Clean up old packages from the build directory
  mkosi.images/system/mkosi.conf.d/10-arch/mkosi.build.chroot
  mkosi.images/system/mkosi.conf.d/10-centos-fedora/mkosi.build.chroot
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu/mkosi.build.chroot
  mkosi.images/system/mkosi.conf.d/10-opensuse/mkosi.build.chroot
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#33588 mkosi: update arch commit reference
  mkosi.images/system/mkosi.conf.d/10-arch/mkosi.build.chroot
  mkosi.images/system/mkosi.conf.d/10-arch/mkosi.conf
Labels: mkosi, please-review

#33604 README: add missing CONFIG_MEMCG kernel config option for oomd
  README
Labels: documentation, please-review

#33606 mkosi: Fix sync script git command
  mkosi.images/system/mkosi.sync
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#33608 docs: Update HACKING
  docs/HACKING.md
  mkosi.images/system/mkosi.conf.d/10-opensuse/mkosi.conf
Labels: documentation, good-to-merge/waiting-for-ci 👍, mkosi

#33605 zsh: add run0 completions
  shell-completion/zsh/_run0
  shell-completion/zsh/meson.build
Labels: shell completion

#33611 test: skip TEST-69-SHUTDOWN on Debian
  test/units/TEST-69-SHUTDOWN.py
Labels: tests, please-review

#33499 load-fragment: allow MountImages= with paths starting with /dev
  src/core/load-fragment.c
  src/shared/parse-helpers.c
  src/shared/parse-helpers.h
Labels: pid1, util-lib, good-to-merge/with-minor-suggestions, needs-stable-backport

#33615 meson: Deal with potential stable versions
  src/boot/efi/meson.build
Labels: build-system, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, meson

#33612 src/boot/efi/meson.build: ensure VERSION_TAG exists in case of cross …
  src/boot/efi/meson.build
Labels: build-system, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, meson, needs-stable-backport

#33617 mkosi: Build a disk image by default again
  docs/HACKING.md
  mkosi.images/system/mkosi.conf
Labels: documentation, good-to-merge/waiting-for-ci 👍, mkosi

#33607 os-util: avoid matching on the wrong extension-release file
  src/basic/os-util.c
  test/units/TEST-29-PORTABLE.sh
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport, please-review

#33567 sd-boot,sd-stub: a variety of smaller fixes
  man/systemd-measure.xml
  man/ukify.xml
  src/boot/efi/boot.c
  src/boot/efi/pe.c
  src/boot/efi/pe.h
  src/boot/efi/util.c
  src/boot/efi/util.h
  src/boot/measure.c
  src/ukify/ukify.py
Labels: documentation, sd-boot/sd-stub/bootctl, uki, please-review

#33589 man: drop version info from file hiearchy man page
  man/file-hierarchy.xml
  tools/command_ignorelist
Labels: documentation, good-to-merge/waiting-for-ci 👍

#33625 README: update requirements for signed dm-verity
  README
Labels: documentation, quick-review 🏃‍♂️, please-review

#33622 meson: Fix various versions
  meson.build
  src/basic/build.c
  src/boot/efi/meson.build
  src/kernel-install/60-ukify.install.in
  src/ukify/ukify.py
Labels: build-system, util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, meson, uki

#33621 vmm: make sure we can handle smbios objects without variable part
  src/boot/efi/vmm.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#33624 stub: mem fixes in devicetree addon handling
  src/boot/efi/stub.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#33623 hwdb: add more AV controllers
  hwdb.d/70-av-production.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#33629 labeler: some cleanups
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: please-review

#33630 Fix Multilaser ul154 key toggle touchpad button
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, squash-on-merge, please-review

#33631 hwdb: Added StarLabs StarLite position sensor mapping
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#33633 Backport fixes of vmspawn for riscv64 and loongarch64
  src/vmspawn/vmspawn-util.h
Labels: please-review, vmspawn

#33639 test: Add missing --no-rebuild to doc
  test/README.testsuite
Labels: tests, quick-review 🏃‍♂️, please-review

#33641 mkosi: use apt pinning for locally built debian/ubuntu packages
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu/mkosi-pinning.pref
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu/mkosi.conf
Labels: mkosi, please-review

#33644 TEST-06-SELINUX: Two fixes
  docs/HACKING.md
  mkosi.images/system/mkosi.extra/.autorelabel
  test/TEST-06-SELINUX/meson.build
Labels: documentation, build-system, tests, good-to-merge/waiting-for-ci 👍, meson

#33646 test: Set priority for TEST-73-LOCALE
  test/TEST-73-LOCALE/meson.build
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#33632 Remove extra period at the end of systemd-bsod's unit description.
  units/systemd-bsod.service.in
Labels: good-to-merge/waiting-for-ci 👍, units, squash-on-merge, bsod

#33649 70-mouse.hwdb: Added Glorious Model O- DPI
  hwdb.d/70-mouse.hwdb
Labels: hwdb, please-review

#32463 stub: Add support for .ucode EFI addons
  docs/TPM2_PCR_MEASUREMENTS.md
  man/systemd-stub.xml
  src/boot/efi/stub.c
  src/fundamental/tpm2-pcr.h
Labels: documentation, util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, tpm2

#33569 firstboot: Make the option list fit 80 columns
  src/firstboot/firstboot.c
Labels: firstboot, please-review

#33562 path: drop IN_ATTRIB from parent directory watches
  src/core/path.c
Labels: please-review

#33655 Update 60-sensor.hwdb for Chuwi Freebook N100
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#33599 Link executor statically
  meson.build
  meson_options.txt
  src/basic/meson.build
  src/core/meson.build
  src/libsystemd/meson.build
  src/partition/meson.build
  src/shared/meson.build
  src/shutdown/meson.build
  src/sysusers/meson.build
  src/test/meson.build
  src/tmpfiles/meson.build
Labels: build-system, util-lib, tests, ci-failure-appears-unrelated, meson, downstream/rhel, downstream/fedora

#33640 mkosi: Use the "default" root filesystem for each distribution
  .github/workflows/mkosi.yml
  mkosi.images/system/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-centos/mkosi.conf
  mkosi.images/system/mkosi.repart/10-root.conf
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#33656 vmspawn: define default machines for mips targets
  src/vmspawn/vmspawn-util.h
Labels: good-to-merge/waiting-for-ci 👍, vmspawn

#33627 systemctl: some fixes for active triggering unit warning
  man/systemctl.xml
  src/systemctl/systemctl-util.c
Labels: documentation, systemctl, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, needs-stable-backport

#33664 mkosi: policykit-1 was renamed to polkitd
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu/mkosi.conf
Labels: mkosi, quick-review 🏃‍♂️, please-review

#33670 mkosi: Fix git commit
  .github/workflows/mkosi.yml
Labels: tests, mkosi, please-review

#33669 Add MSI Claw AT Keyboard Scancodes.
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, please-review

#33634 man: fix typo in the alias symlink name
  man/systemd.unit.xml
Labels: documentation, good-to-merge/with-minor-suggestions

#33586 Add/update mount matrix of various handhelds
  hwdb.d/60-sensor.hwdb
Labels: hwdb, fix-commit-message-on-merge, squash-on-merge, please-review

#33662 fsck: do not pull down units on soft-reboot
  units/systemd-fsck@.service.in
Labels: good-to-merge/waiting-for-ci 👍, units

#33678 test: install split-out sshd-session binary if present
  test/TEST-46-HOMED/test.sh
  test/TEST-74-AUX-UTILS/test.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#33676 man: fix typo in unit options section
  man/systemd.unit.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#33680 mkosi: Check for configured build directory if WIPE=1
  mkosi.conf.d/10-arch/mkosi.build.chroot
  mkosi.conf.d/10-centos-fedora/mkosi.build.chroot
  mkosi.conf.d/10-debian-ubuntu/mkosi.build.chroot
  mkosi.conf.d/10-opensuse/mkosi.build.chroot
Labels: mkosi, please-review

#33679 man: some fixes
  man/ukify.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, uki

#33660 minor tweaks to "systemd-mount"
  TODO
  man/systemd-mount.xml
  src/mount/mount-tool.c
  test/units/TEST-74-AUX-UTILS.mount.sh
Labels: documentation, tests, good-to-merge/waiting-for-ci 👍, mount

#33683 mkosi: Build a sysext if SYSEXT=1 is specified
  .github/workflows/mkosi.yml
  mkosi.clean
  mkosi.conf
  mkosi.conf.d/10-centos-fedora/mkosi.build.chroot
  mkosi.conf.d/10-opensuse/mkosi.build.chroot
  mkosi.functions
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#33687 docs: Simplify update commands in HACKING.md
  docs/HACKING.md
Labels: documentation, please-review

#33559 systemctl: support reenable --now plus some other cleanups
  man/systemctl.xml
  src/systemctl/systemctl-enable.c
Labels: documentation, systemctl, good-to-merge/waiting-for-ci 👍

#33636 Various integration test improvements
  .github/workflows/mkosi.yml
  mkosi.conf
  mkosi.conf.d/10-arch/mkosi.conf
  mkosi.conf.d/10-centos-fedora/mkosi.conf
  mkosi.conf.d/10-centos-fedora/mkosi.conf.d/10-selinux.conf
  mkosi.conf.d/10-debian-ubuntu/mkosi.conf
  mkosi.conf.d/10-opensuse/mkosi.conf
  mkosi.extra/.autorelabel
  mkosi.extra/usr/lib/systemd/system-preset/00-mkosi.preset
  mkosi.images/minimal-base/mkosi.conf.d/10-arch.conf
  mkosi.images/minimal-base/mkosi.conf.d/10-centos-fedora.conf
  mkosi.images/minimal-base/mkosi.conf.d/10-debian-ubuntu-opensuse.conf
  mkosi.images/minimal-base/mkosi.conf.d/10-opensuse.conf
  mkosi.postinst.chroot
  test/TEST-06-SELINUX/meson.build
  test/TEST-13-NSPAWN/test.sh
  test/TEST-55-OOMD/test.sh
  test/test-functions
  test/units/TEST-07-PID1.exec-context.sh
  test/units/TEST-07-PID1.issue-2467.sh
  test/units/TEST-07-PID1.issue-3171.sh
  test/units/TEST-13-NSPAWN.nspawn.sh
  test/units/TEST-55-OOMD-testbloat.service
  test/units/TEST-55-OOMD-testmunch.service
  test/units/TEST-55-OOMD.sh
  tools/update-distro-hash.py
Labels: nspawn, build-system, selinux, tests, good-to-merge/waiting-for-ci 👍, mkosi, meson

#33693 Translations update from Fedora Weblate
  po/fr.po
Labels: l10n 🌍, please-review

#33692 mkosi: Switch back to code.opensuse.org for opensuse
  mkosi.conf.d/10-opensuse/mkosi.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#33691 Backport mkosi and integration test changes to v256-stable
  .github/workflows/mkosi.yml
  docs/HACKING.md
  mkosi.clean
  mkosi.conf
  mkosi.conf.d/10-arch/mkosi.build.chroot
  mkosi.conf.d/10-arch/mkosi.conf
  mkosi.conf.d/10-centos-fedora/mkosi.build.chroot
  mkosi.conf.d/10-centos-fedora/mkosi.conf
  mkosi.conf.d/10-centos-fedora/mkosi.conf.d/10-selinux.conf
  mkosi.conf.d/10-debian-ubuntu/mkosi.build.chroot
  mkosi.conf.d/10-debian-ubuntu/mkosi.conf
  mkosi.conf.d/10-opensuse/mkosi.build.chroot
  mkosi.conf.d/10-opensuse/mkosi.conf
  mkosi.extra/.autorelabel
  mkosi.extra/usr/lib/systemd/system-preset/00-mkosi.preset
  mkosi.functions
  mkosi.images/minimal-base/mkosi.conf.d/10-arch.conf
  mkosi.images/minimal-base/mkosi.conf.d/10-centos-fedora.conf
  mkosi.images/minimal-base/mkosi.conf.d/10-debian-ubuntu-opensuse.conf
  mkosi.images/minimal-base/mkosi.conf.d/10-opensuse.conf
  mkosi.postinst.chroot
  test/TEST-06-SELINUX/meson.build
  test/TEST-13-NSPAWN/test.sh
  test/TEST-46-HOMED/test.sh
  test/TEST-55-OOMD/test.sh
  test/TEST-74-AUX-UTILS/test.sh
  test/test-functions
  test/units/TEST-07-PID1.exec-context.sh
  test/units/TEST-07-PID1.issue-2467.sh
  test/units/TEST-07-PID1.issue-3171.sh
  test/units/TEST-13-NSPAWN.nspawn.sh
  test/units/TEST-55-OOMD-testbloat.service
  test/units/TEST-55-OOMD-testmunch.service
  test/units/TEST-55-OOMD.sh
  tools/update-distro-hash.py
Labels: good-to-merge/waiting-for-ci 👍

#33701 core/meson.build: move various -setup sources out of libcore
  src/core/meson.build
Labels: pid1, build-system, meson, quick-review 🏃‍♂️, please-review

#33700 core/execute-serialize: drop duplicate serialization of _ignore flags
  src/core/execute-serialize.c
Labels: pid1, quick-review 🏃‍♂️, please-review

#33696 import-creds: when we hit ENOENT on SMBIOS 11 do not even debug log
  src/core/import-creds.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#33698 manager: move is-system check into manager_enable_special_signals()
  src/core/manager.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#33699 signal-util: use common definitions for ignore + default "struct siga…
  src/basic/signal-util.c
  src/basic/signal-util.h
  src/basic/terminal-util.c
  src/core/crash-handler.c
  src/tty-ask-password-agent/tty-ask-password-agent.c
Labels: util-lib, tree-wide, quick-review 🏃‍♂️, please-review

#33697 vmspawn: fix AF_VSOCK sd_notify() reception
  src/vmspawn/vmspawn.c
Labels: please-review, vmspawn

#33686 boot/bootspec: some minor fixes/additions
  src/boot/efi/boot.c
  src/shared/bootspec.c
Labels: util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, boot-loader-spec

#33685 stub: const'ify a few parameters
  src/boot/efi/stub.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#33651 logind-user: take gc_mode into account when reporting user state
  src/login/logind-user.c
Labels: login, needs-stable-backport, please-review

#33520 sysupdate: Add --offline mode, notifications, JSON output and additional metadata
  docs/APPSTREAM_BUNDLE.md
  man/systemd-sysupdate.xml
  man/sysupdate.d.xml
  src/sysupdate/meson.build
  src/sysupdate/sysupdate-transfer.c
  src/sysupdate/sysupdate-transfer.h
  src/sysupdate/sysupdate-update-set-flags.c
  src/sysupdate/sysupdate-update-set-flags.h
  src/sysupdate/sysupdate-update-set.c
  src/sysupdate/sysupdate-update-set.h
  src/sysupdate/sysupdate-util.c
  src/sysupdate/sysupdate-util.h
  src/sysupdate/sysupdate.c
  src/sysupdate/sysupdate.h
Labels: documentation, build-system, good-to-merge/waiting-for-ci 👍, meson, sysupdate

#33712 core/execute-serialize: fix deserialization for apparmor_profile_ignore
  src/core/execute-serialize.c
Labels: pid1, please-review

#33711 Fix `NeedDaemonReload=` for masked units with drop-ins
  src/core/unit.c
  test/units/TEST-07-PID1.issue-33672.sh
Labels: pid1, tests, good-to-merge/waiting-for-ci 👍

#32086 machine id: Added cmdline argument to use VM behaviour on bare metal
  man/machine-id.xml
  src/core/main.c
  src/machine-id-setup/machine-id-setup-main.c
  src/shared/machine-id-setup.c
  src/shared/machine-id-setup.h
Labels: documentation, util-lib, good-to-merge/waiting-for-ci 👍

#33721 sysupdate: fix size_t specifier
  src/sysupdate/sysupdate.c
Labels: good-to-merge/waiting-for-ci 👍, sysupdate

#33709 kernel-install: Remove existing loader entries and UKIs
  src/kernel-install/90-loaderentry.install.in
  src/kernel-install/90-uki-copy.install
Labels: good-to-merge/waiting-for-ci 👍, kernel-install

#33720 fstab-generator: add x-systemd.wants
  man/systemd.mount.xml
  src/fstab-generator/fstab-generator.c
Labels: documentation, fstab-generator, good-to-merge/with-minor-suggestions

#33722 sysupdate: fix return types according to style guide
  src/sysupdate/sysupdate-transfer.c
  src/sysupdate/sysupdate-transfer.h
  src/sysupdate/sysupdate-update-set-flags.c
  src/sysupdate/sysupdate-update-set-flags.h
  src/sysupdate/sysupdate-update-set.c
  src/sysupdate/sysupdate-update-set.h
  src/sysupdate/sysupdate.c
Labels: good-to-merge/waiting-for-ci 👍, sysupdate

#33718 core/main: several cleanups
  src/basic/mkdir.c
  src/core/import-creds.c
  src/core/main.c
  src/test/test-mkdir.c
Labels: pid1, util-lib, tests, please-review

#33732 mkosi: Drop CacheOnly=always from two subimages
  mkosi.images/minimal-0/mkosi.conf
  mkosi.images/minimal-1/mkosi.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#33733 mkosi: Build initrd as a subimage
  mkosi.conf
  mkosi.conf.d/10-arch/mkosi.conf
  mkosi.conf.d/10-centos-fedora/mkosi.conf
  mkosi.conf.d/10-debian-ubuntu/mkosi.conf
  mkosi.conf.d/10-fedora/mkosi.conf
  mkosi.conf.d/10-opensuse/initrd/mkosi.postinst
  mkosi.conf.d/10-opensuse/mkosi.conf
  mkosi.images/initrd/mkosi.conf
  mkosi.images/initrd/mkosi.conf.d/arch.conf
  mkosi.images/initrd/mkosi.conf.d/build.conf
  mkosi.images/initrd/mkosi.conf.d/centos-fedora.conf
  mkosi.images/initrd/mkosi.conf.d/debian-ubuntu.conf
  mkosi.images/initrd/mkosi.conf.d/fedora.conf
  mkosi.images/initrd/mkosi.conf.d/opensuse.conf
  mkosi.images/initrd/mkosi.extra/usr/lib/encrypted-var.repart.d/00-root.conf
  mkosi.images/initrd/mkosi.extra/usr/lib/systemd/system/encrypted-var.service
  mkosi.images/initrd/mkosi.extra/usr/lib/systemd/system/initrd-run-mount.service
  mkosi.images/initrd/mkosi.extra/usr/lib/systemd/system/initrdcred.service
  mkosi.initrd/mkosi.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#33740 gpt: add more architecture aliases
  src/shared/gpt.c
Labels: util-lib, gpt-auto, good-to-merge/waiting-for-ci 👍

#33742 id128: refuse 'show --app-specific=' if we're listing GPT types
  src/id128/id128.c
Labels: sd-id128, please-review

#33738 rules: Add uaccess tag to /dev/udmabuf
  rules.d/70-uaccess.rules.in
Labels: udev, please-review

#33723 docs: update mkosi version mentioned in HACKING.md
  docs/HACKING.md
Labels: documentation, please-review

#33737 id128: add 'var-partition-uuid'
  man/systemd-gpt-auto-generator.xml
  man/systemd-id128.xml
  shell-completion/bash/systemd-id128
  src/id128/id128.c
  test/units/TEST-74-AUX-UTILS.id128.sh
Labels: good-to-merge/waiting-for-ci 👍, sd-id128

#33752 Two mkosi improvements
  mkosi.conf
  test/TEST-06-SELINUX/meson.build
Labels: build-system, tests, good-to-merge/waiting-for-ci 👍, mkosi, meson

#33609 Improve table JSON name mangling
  src/import/importctl.c
  src/partition/repart.c
  src/shared/format-table.c
  src/shared/format-table.h
  src/sysupdate/sysupdate.c
  src/test/test-format-table.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍, repart, sysupdate

#33753 varlink-util: minor tweak
  src/libsystemd/sd-varlink/varlink-util.c
Labels: good-to-merge/waiting-for-ci 👍, varlink

#33751 main: show different welcome msg in initrd than on the host
  src/core/main.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#33750 sd-device: remove debug log message when dirs are missing
  src/libsystemd/sd-device/device-enumerator.c
Labels: sd-device, good-to-merge/waiting-for-ci 👍

#33092 UnitFreezer: several cleanups
  src/basic/unit-def.c
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-unit.c
  src/core/slice.c
  src/core/unit-serialize.c
  src/core/unit.c
  src/core/unit.h
  src/home/homework.c
  src/libsystemd/sd-bus/bus-common-errors.c
  src/libsystemd/sd-bus/bus-common-errors.h
  src/shared/bus-unit-util.c
  src/shared/bus-unit-util.h
  src/sleep/sleep.c
Labels: sd-bus, pid1, util-lib, good-to-merge/waiting-for-ci 👍, sleep

#33761 mkosi: Various NO_BUILD improvements
  docs/HACKING.md
  meson.build
  mkosi.conf.d/10-centos/mkosi.conf
  mkosi.conf.d/10-extra-search-paths.conf
  mkosi.conf.d/10-tools.conf
  mkosi.images/build/mkosi.sync
  test/README.testsuite
Labels: documentation, build-system, tests, good-to-merge/waiting-for-ci 👍, mkosi, meson

#33764 mkosi: update debian commit reference
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#33766 ptyfwd: reset color after two tty reset sequences, too
  src/shared/ptyfwd.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#33763 mkosi: Two fixlets
  mkosi.conf
  mkosi.conf.d/10-centos-fedora/mkosi.conf
  mkosi.conf.d/10-centos/mkosi.conf
  mkosi.images/initrd/mkosi.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#33768 l10n: fix credits for the French translation
  po/fr.po
Labels: l10n 🌍, please-review

#33767 Make test_ukify not use a real initrd
  src/ukify/test/test_ukify.py
Labels: tests, good-to-merge/waiting-for-ci 👍

#33773 Fix aquarius cmp ns483 keyboard and sensor
  hwdb.d/60-keyboard.hwdb
  hwdb.d/60-sensor.hwdb
Labels: hwdb, please-review

#33774 v256-stable: Backport various mkosi changes
  docs/HACKING.md
  meson.build
  mkosi.conf
  mkosi.conf.d/10-centos-fedora/mkosi.conf
  mkosi.conf.d/10-centos/mkosi.conf
  mkosi.conf.d/10-extra-search-paths.conf
  mkosi.conf.d/10-tools.conf
  mkosi.images/build/mkosi.sync
  mkosi.images/initrd/mkosi.conf
  test/README.testsuite
  test/TEST-06-SELINUX/meson.build
Labels: good-to-merge/waiting-for-ci 👍

#33739 man: Mention `Type=oneshot` timeout directive
  man/systemd.service.xml
Labels: documentation, please-review

#33770 polkit: map POLKIT_ALWAYS_QUERY to new polkit flag
  src/shared/bus-polkit.c
  src/shared/bus-polkit.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#33591 use O_PATH when possible
  src/core/bpf-restrict-ifaces.c
  src/core/cgroup.c
  src/home/homed-home.c
  src/home/homework-blob.c
  src/shared/switch-root.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#33769 vmspawn: make "-n" just work
  src/vmspawn/vmspawn.c
Labels: good-to-merge/waiting-for-ci 👍, vmspawn

#33777 hwdb: Add mic mute key mapping for Dell Pro Rugged series
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#33779 meson: Drop ~devel suffix from systemd-stable version
  meson.version
Labels: good-to-merge/waiting-for-ci 👍

#33782 mkosi: Bump default device timeout a little
  mkosi.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#33707 pid1: try to initialize terminal dimensions from data gathered via ANSI sequences + many clean-ups/refactorings
  man/systemd.exec.xml
  src/basic/ansi-color.h
  src/basic/build.c
  src/basic/env-util.c
  src/basic/log.c
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/core/emergency-action.c
  src/core/exec-invoke.c
  src/core/execute.c
  src/core/execute.h
  src/core/job.c
  src/core/main.c
  src/core/show-status.c
  src/core/transaction.c
  src/core/unit.c
  src/cryptenroll/cryptenroll-recovery.c
  src/firstboot/firstboot.c
  src/home/homectl-recovery-key.c
  src/home/homectl.c
  src/import/export.c
  src/import/import-fs.c
  src/import/import.c
  src/import/pull.c
  src/journal/bsod.c
  src/journal/journalctl-authenticate.c
  src/journal/journalctl-show.c
  src/libsystemd/sd-bus/bus-dump.c
  src/libsystemd/sd-journal/journal-verify.c
  src/libsystemd/sd-journal/test-journal-verify.c
  src/libsystemd/sd-json/sd-json.c
  src/libsystemd/sd-varlink/sd-varlink-idl.c
  src/shared/ask-password-api.c
  src/shared/blockdev-list.c
  src/shared/bus-unit-procs.c
  src/shared/cgroup-show.c
  src/shared/dev-setup.c
  src/shared/dev-setup.h
  src/shared/pretty-print.h
  src/shared/ptyfwd.c
  src/shared/qrcode-util.c
  src/systemctl/systemctl-list-dependencies.c
  src/systemctl/systemctl-list-jobs.c
  src/systemctl/systemctl-list-machines.c
  src/systemctl/systemctl-list-unit-files.c
  src/systemctl/systemctl-list-units.c
  src/systemctl/systemctl-start-unit.c
  src/sysupdate/sysupdate-update-set-flags.c
  src/sysupdate/sysupdate-update-set.c
  src/test/test-ellipsize.c
  src/test/test-terminal-util.c
  src/tty-ask-password-agent/tty-ask-password-agent.c
  src/udev/udevadm-info.c
  src/udev/udevadm-test.c
  units/console-getty.service.in
  units/container-getty@.service.in
  units/getty@.service.in
  units/serial-getty@.service.in
Labels: udev, journal, documentation, sd-bus, pid1, systemctl, util-lib, tests, good-to-merge/waiting-for-ci 👍, units, sysupdate, bsod, vmspawn

#33783 meson: Drop version from 256.3 to v256.2
  meson.version
Labels: good-to-merge/waiting-for-ci 👍

#33784 docs: Document how to do stable releases
  docs/RELEASE.md
Labels: documentation, please-review

#33785 execute: add FIXME comment
  src/core/exec-invoke.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#33788 zsh: update varlinkctl completions
  shell-completion/zsh/_varlinkctl
Labels: good-to-merge/waiting-for-ci 👍

#33793 meson: fix missing failure if bpf-framework was enabled
  meson.build
Labels: build-system, meson, please-review

#33489 timedatectl: setting set_local_rtc to 1 will throw Warning as well
  src/timedate/timedatectl.c
Labels: timedate, squash-on-merge, good-to-merge/with-minor-suggestions

#33790 run: clean up ExecCommandFlags serialization
  src/run/run.c
  src/shared/exec-util.c
  src/shared/exec-util.h
  src/test/test-exec-util.c
Labels: util-lib, tests, run, good-to-merge/waiting-for-ci 👍

#32991 systemd.dnssd does not handle local requests
  src/resolve/resolved-mdns.c
Labels: resolve, squash-on-merge, please-review

#33798 hwdb: fix MXC6655 accelerometer mount matrix for Aquarius Cmp NS483
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#33792 test: override blocking localed policy in TEST-73-LOCALE
  test/units/TEST-73-LOCALE.sh
Labels: tests, quick-review 🏃‍♂️, please-review

#33682 udev-builtin-net_id: use firmware_node/sun for ID_NET_NAME_SLOT
  man/systemd.net-naming-scheme.xml
  src/shared/netif-naming-scheme.c
  src/shared/netif-naming-scheme.h
  src/udev/udev-builtin-net_id.c
Labels: udev, documentation, util-lib, please-review

#33443 core/service: destroy runtime data when Type=oneshot services exit
  src/core/service.c
  src/core/unit.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#32903 cryptsetup: handle parallel activation of volumes with another tool gracefully
  src/cryptsetup/cryptsetup.c
Labels: cryptsetup, please-review

#32612 core/service: imply Type=exec if credentials are used
  man/systemd.service.xml
  src/core/service.c
  test/test-execute/exec-set-credential.service
Labels: documentation, pid1, tests, good-to-merge/waiting-for-ci 👍

#33432 network: bridge: add support for IFLA_BR_FDB_MAX_LEARNED
  man/systemd.netdev.xml
  src/libsystemd/sd-netlink/netlink-types-rtnl.c
  src/network/netdev/bridge.c
  src/network/netdev/bridge.h
  src/network/netdev/netdev-gperf.gperf
  src/network/networkctl.c
  test/test-network/conf/25-bridge.netdev
  test/test-network/systemd-networkd-tests.py
Labels: network, documentation, new-feature, tests, sd-netlink, good-to-merge/waiting-for-ci 👍

#33469 shared: log error when execve fail
  src/shared/exec-util.c
  src/shared/polkit-agent.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#33802 mkosi: Various packaging improvements
  mkosi.images/build/mkosi.conf.d/arch/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/arch/mkosi.conf
  mkosi.images/build/mkosi.conf.d/arch/mkosi.prepare
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.conf
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.prepare
  mkosi.images/build/mkosi.conf.d/centos/mkosi.conf
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.conf
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.prepare
  mkosi.images/build/mkosi.conf.d/fedora/mkosi.conf
  mkosi.images/build/mkosi.conf.d/opensuse/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/opensuse/mkosi.conf
  mkosi.images/build/mkosi.conf.d/opensuse/mkosi.prepare
  mkosi.images/build/mkosi.sync
  pkg/ubuntu
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#31926 zsh/_networkctl: remove duplicated argument for completion
  shell-completion/zsh/_networkctl
Labels: shell completion, please-review

#33748 core: when switching root remove /run/systemd/system before executing…
  src/core/main.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#33593 Document that MemorySwapMax supports % configuration
  man/systemd.resource-control.xml
Labels: documentation, please-review

#33597 Extend the distro fetching script to check the repository out
  tools/fetch-distro.py
Labels: good-to-merge/waiting-for-ci 👍

#33805 man/systemd-repart: extend description and reword some sentences
  man/systemd-repart.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, repart

#33803 v256 batch
  docs/HACKING.md
  docs/RELEASE.md
  man/systemd.service.xml
  man/systemd.unit.xml
  man/ukify.xml
  meson.build
  mkosi.images/build/mkosi.conf.d/arch/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/arch/mkosi.conf
  mkosi.images/build/mkosi.conf.d/arch/mkosi.prepare
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.conf
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.prepare
  mkosi.images/build/mkosi.conf.d/centos/mkosi.conf
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.conf
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.prepare
  mkosi.images/build/mkosi.conf.d/fedora/mkosi.conf
  mkosi.images/build/mkosi.conf.d/opensuse/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/opensuse/mkosi.conf
  mkosi.images/build/mkosi.conf.d/opensuse/mkosi.prepare
  mkosi.images/build/mkosi.sync
  pkg/ubuntu
  po/fr.po
  shell-completion/zsh/_networkctl
  shell-completion/zsh/_varlinkctl
  shell-completion/zsh/meson.build
  src/boot/efi/boot.c
  src/core/import-creds.c
  src/core/path.c
  src/core/unit.c
  src/id128/id128.c
  src/kernel-install/90-loaderentry.install.in
  src/kernel-install/90-uki-copy.install
  src/libsystemd/sd-device/device-enumerator.c
  src/shared/bootspec.c
  src/shared/exec-util.c
  src/shared/gpt.c
  src/shared/spawn-polkit-agent.c
  src/vmspawn/vmspawn-util.h
  test/README.testsuite
  test/TEST-06-SELINUX/meson.build
  test/TEST-73-LOCALE/meson.build
  test/test-execute/exec-set-credential.service
  test/units/TEST-07-PID1.issue-33672.sh
  test/units/TEST-73-LOCALE.sh
  units/systemd-bsod.service.in
  units/systemd-fsck@.service.in
Labels: good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#33812 test-clock: use new assertion macros
  src/test/test-clock.c
Labels: tests, good-to-merge/waiting-for-ci 👍
