Repository systemd/systemd, pull requests merged in 2024-02, with the labels that each got.

#31107 core/exec-invoke: call pam_setcred(PAM_DELETE_CRED) after pam_close_session()
  src/core/exec-invoke.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#31146 homework: Use minimal pbkdf2 parameters without benchmark.
  src/home/homework-luks.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#31164 core: use PidRef in exec_spawn
  src/basic/process-util.c
  src/basic/process-util.h
  src/core/execute.c
  src/core/execute.h
  src/core/mount.c
  src/core/service.c
  src/core/socket.c
  src/core/swap.c
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#31166 vpick: make a working copy of the current dname
  src/shared/vpick.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#30229 coredump: log minimal metadata early
  src/coredump/coredump.c
Labels: coredump, good-to-merge/waiting-for-ci 👍

#31032 pam: fix warning "Attempted to close sd-bus after fork, this should not happen." on session close
  src/shared/pam-util.c
  test/units/end.sh
Labels: util-lib, tests, please-review

#31158 test: wait until the test binary starts the test aux scope
  test/units/testsuite-07.aux-scope.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#31182 man/systemd-bsod: fix command path
  man/systemd-bsod.service.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, bsod

#29464 cryptenroll: allow to use a public key on a token
  man/systemd-cryptenroll.xml
  src/basic/memory-util.c
  src/basic/memory-util.h
  src/cryptenroll/cryptenroll-pkcs11.c
  src/home/homectl-pkcs11.c
  src/home/homectl-pkcs11.h
  src/shared/openssl-util.c
  src/shared/openssl-util.h
  src/shared/pkcs11-util.c
  src/shared/pkcs11-util.h
  test/TEST-24-CRYPTSETUP/test.sh
  test/units/testsuite-24.sh
Labels: documentation, util-lib, tests, cryptsetup, good-to-merge/waiting-for-ci 👍, pkcs11

#31051 nspawn: permit `--ephemeral` with `--link-journal=try-*` (treat as =no)
  man/systemd-nspawn.xml
  src/nspawn/nspawn.c
Labels: nspawn, documentation, good-to-merge/with-minor-suggestions

#31190 Translations update from Fedora Weblate
  po/sv.po
Labels: please-review

#31193 test_ukify: use raw string for the regex
  src/ukify/test/test_ukify.py
Labels: tests, quick-review 🏃‍♂️, uki, please-review

#31195 bulgarian: use "RateLimitIntervalSec" rather than "RateLimitInterval"
  catalog/systemd.bg.catalog.in
Labels: please-review

#31207 README: bump the gcc baseline to 8.4
  README
Labels: documentation, please-review

#31208 executor: really set POSIX_SPAWN_SETSIGDEF for posix_spawn
  src/basic/process-util.c
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#31209 core: add support for pidfd_spawn
  TODO
  meson.build
  src/basic/process-util.c
  src/basic/process-util.h
  src/core/execute.c
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍

#31216 process-util: minor follow-up for pidfd_spawn
  src/basic/process-util.c
  src/basic/process-util.h
  src/core/execute.c
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍

#31212 units: drop userdbd from homed's Also=
  units/systemd-homed.service.in
Labels: good-to-merge/waiting-for-ci 👍, units

#31205 mountpoint-util: expose root and flags as path_is_mount_point_full
  src/basic/mountpoint-util.c
  src/basic/mountpoint-util.h
  src/core/automount.c
  src/core/exec-credential.c
  src/core/import-creds.c
  src/core/namespace.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/home/user-record-util.c
  src/libsystemd/sd-device/test-device-util.c
  src/libsystemd/sd-device/test-sd-device-monitor.c
  src/libsystemd/sd-device/test-sd-device.c
  src/login/user-runtime-dir.c
  src/nspawn/nspawn-cgroup.c
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn.c
  src/partition/growfs.c
  src/partition/repart.c
  src/shared/condition.c
  src/shared/machine-id-setup.c
  src/shared/mount-setup.c
  src/shared/mount-util.c
  src/shared/switch-root.c
  src/sysext/sysext.c
  src/test/test-mount-util.c
  src/test/test-mountpoint-util.c
  src/test/test-stat-util.c
  src/udev/test-udev-format.c
  src/udev/test-udev-spawn.c
  src/volatile-root/volatile-root.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport, logind

#31210 WorkingDirectory= hardening
  src/basic/mountpoint-util.c
  src/basic/mountpoint-util.h
  src/core/dbus-execute.c
  src/core/exec-invoke.c
  src/core/load-fragment.c
  src/nspawn/nspawn.c
  src/shared/parse-helpers.c
  src/shared/parse-helpers.h
  src/shutdown/umount.c
  src/test/test-parse-helpers.c
Labels: nspawn, pid1, util-lib, good-to-merge/waiting-for-ci 👍

#31185 cryptenroll: Fix reading keyfile from socket
  src/cryptenroll/cryptenroll.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍

#31184 wait-online: by default not all interface need to be online
  src/network/wait-online/manager.c
Labels: network, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#31088 NEWS: announce plan to drop support for nscd
  NEWS
Labels: documentation, good-to-merge/with-minor-suggestions

#31211 confext: enable systemd-confext and systemd-sysext service on OS boot
  presets/90-systemd.preset
Labels: good-to-merge/waiting-for-ci 👍, units, ci-failure-appears-unrelated, sysext

#31221 test: systemd-update-utmp is optional
  test/units/testsuite-01.sh
Labels: tests, good-to-merge/with-minor-suggestions

#31202 core: reuse credential dir across start and start-post if populated
  src/core/exec-credential.c
  src/core/exec-credential.h
  src/core/exec-invoke.c
  src/core/execute.h
  src/core/service.c
  test/units/testsuite-54.sh
Labels: pid1, good-to-merge/waiting-for-ci 👍, creds

#31175 network/address: do not configure with IFA_F_TENTATIVE
  src/network/networkd-address.c
Labels: network, good-to-merge/waiting-for-ci 👍

#31174 network: set 'removing' flag to remembered object
  src/network/networkd-address.c
  src/network/networkd-neighbor.c
  src/network/networkd-nexthop.c
  src/network/networkd-route.c
Labels: network, good-to-merge/waiting-for-ci 👍

#31241 60-evdev.hwdb: Add support for Huion Inspiroy 2 L
  hwdb.d/60-evdev.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, squash-on-merge

#31232 sd-dhcp6-client: allow setting send-release when client is running
  src/libsystemd-network/sd-dhcp6-client.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#31200 network/dhcp4: disable IPv6OnlyMode= by default
  man/systemd.network.xml
  src/network/networkd-dhcp4.c
  test/test-network/conf/25-dhcp-client-ipv6-only.network
Labels: network, documentation, tests, dhcp, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#31171 sd-ndisc: handle invalid DNSSL option gracefully
  src/libsystemd-network/ndisc-router.c
  src/libsystemd-network/test-ndisc-rs.c
Labels: network, tests, good-to-merge/waiting-for-ci 👍, ndisc/ra

#31246 hwdb: add resolution setting for GAOMON S620
  hwdb.d/60-evdev.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#31245 network/ndisc: slightly update log messages
  src/network/networkd-ndisc.c
Labels: network, good-to-merge/waiting-for-ci 👍, ndisc/ra

#31248 copy: do not ignore chattr_flags and friends passed to copy_file_atomic_full()
  src/shared/copy.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#30766 cryptenroll: Add support for unlocking through TPM2 enrollments
  man/systemd-cryptenroll.xml
  shell-completion/bash/systemd-cryptenroll
  src/cryptenroll/cryptenroll-tpm2.c
  src/cryptenroll/cryptenroll-tpm2.h
  src/cryptenroll/cryptenroll.c
  src/cryptenroll/cryptenroll.h
  src/cryptsetup/cryptsetup.c
  src/cryptsetup/meson.build
  src/shared/cryptsetup-tpm2.c
  src/shared/cryptsetup-tpm2.h
  src/shared/meson.build
  test/units/testsuite-70.cryptenroll.sh
Labels: documentation, build-system, util-lib, tests, meson, tpm2, please-review

#31255 creds: fix typo
  src/creds/io.systemd.credentials.policy
Labels: good-to-merge/waiting-for-ci 👍, creds

#31244 portable: add --copy=mixed to copy images and link profiles
  man/org.freedesktop.portable1.xml
  man/portablectl.xml
  src/portable/portable.c
  src/portable/portable.h
  src/portable/portablectl.c
  src/portable/portabled-image-bus.c
  test/units/testsuite-29.sh
Labels: good-to-merge/waiting-for-ci 👍, portable

#31238 preset: enable homed sidecar services
  presets/90-systemd.preset
Labels: good-to-merge/waiting-for-ci 👍

#31253 detect-virt: fix Google Compute Engine support
  src/basic/virt.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, detect-virt

#31177 network/ndisc: drop onlink prefix route when on-link flag is zero
  src/network/networkd-ndisc.c
Labels: network, good-to-merge/waiting-for-ci 👍, ndisc/ra

#31247 network: make Reload bus method synchronous
  src/libsystemd/sd-bus/bus-common-errors.c
  src/libsystemd/sd-bus/bus-common-errors.h
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager-bus.c
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  test/test-network/systemd-networkd-tests.py
  test/units/testsuite-74.networkctl.sh
Labels: network, sd-bus, tests, good-to-merge/waiting-for-ci 👍

#31172 network: do not bring down bonding port on reconfigure
  src/network/networkd-setlink.c
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#31230 process-util: use only the least significant byte from personality()
  src/basic/process-util.c
  src/basic/process-util.h
  src/test/test-seccomp.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#31265 semaphore: temporarily pin autopkgtest to v5.32
  .semaphore/semaphore-runner.sh
Labels: good-to-merge/waiting-for-ci 👍, ci

#31250 Add systemd.default_debug_tty=
  man/kernel-command-line.xml
  man/systemd-debug-generator.xml
  src/debug-generator/debug-generator.c
  test/units/testsuite-81.debug-generator.sh
Labels: documentation, tests, debug-generator, good-to-merge/waiting-for-ci 👍

#31266 Install pacman in Arch Linux image
  mkosi.images/system/mkosi.conf.d/10-arch.conf
Labels: mkosi, please-review

#31264 sysext: tweaks to the systemd-sysext/systemd-confext --help text
  src/sysext/sysext.c
Labels: quick-review 🏃‍♂️, please-review, sysext

#31224 packit: temporarily build systemd without BPF stuff
  .packit.yml
  src/test/test-path.c
Labels: tests, good-to-merge/waiting-for-ci 👍, ci

#31243 systemctl: support disable/mask --now with unit template
  src/basic/unit-name.c
  src/basic/unit-name.h
  src/systemctl/systemctl-enable.c
  src/systemctl/systemctl-util.c
  src/systemctl/systemctl-util.h
  test/units/testsuite-26.sh
Labels: systemctl, util-lib, tests, good-to-merge/waiting-for-ci 👍

#31268 bpf-devices: various smaller fixes
  src/core/bpf-devices.c
  src/core/cgroup.c
Labels: pid1, bpf, please-review

#31269 vconsole/pid1: handle ENODEV on /dev/console somewhat graceful
  src/core/execute.c
  src/shared/dev-setup.c
  src/vconsole/vconsole-setup.c
Labels: pid1, util-lib, vconsole, good-to-merge/waiting-for-ci 👍

#29960 vmspawn: add features required by mkosi
  man/systemd-vmspawn.xml
  src/basic/path-lookup.c
  src/basic/path-lookup.h
  src/vmspawn/meson.build
  src/vmspawn/vmspawn-scope.c
  src/vmspawn/vmspawn-scope.h
  src/vmspawn/vmspawn-util.c
  src/vmspawn/vmspawn-util.h
  src/vmspawn/vmspawn.c
Labels: documentation, build-system, util-lib, good-to-merge/waiting-for-ci 👍, meson, vmspawn

#31261 repart: support engines and providers
  docs/ENVIRONMENT.md
  man/systemd-repart.xml
  src/partition/repart.c
  src/shared/openssl-util.c
  src/shared/openssl-util.h
Labels: documentation, util-lib, good-to-merge/with-minor-suggestions, repart

#31273 test: make the MemoryHigh= limit a bit more generous with sanitizers
  test/units/testsuite-55.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, oomd

#30636 repart: Add --generate-fstab= and --generate-crypttab= options
  man/repart.d.xml
  man/systemd-repart.xml
  src/partition/repart.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, repart

#31277 Revert "packit: temporarily build systemd without BPF stuff"
  .packit.yml
Labels: good-to-merge/waiting-for-ci 👍

#30260 sd-journal: further cleanups
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-journal/test-journal-interleaving.c
Labels: journal, tests, good-to-merge/waiting-for-ci 👍

#31278 test: show error messages to stderr
  test/test-network-generator-conversion.sh
  test/test-sysusers.sh.in
Labels: tests, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#30138 udev: introduce ID_PROCESSING flag
  src/network/networkd-link.c
  src/shared/udev-util.c
  src/shared/udev-util.h
  src/udev/udev-event.c
  src/udev/udev-worker.c
  test/test-network/systemd-networkd-tests.py
Labels: udev, network, util-lib, tests, sd-device, good-to-merge/waiting-for-ci 👍

#31149 core/service: allow RestartForceExitStatus= for oneshot service
  man/systemd.service.xml
  src/core/service.c
  test/testsuite-23.units/testsuite-23-oneshot-restartforce.sh
  test/units/testsuite-23.oneshot-restart.sh
Labels: documentation, pid1, tests, good-to-merge/waiting-for-ci 👍

#31262 firstboot: validate keymap entry
  src/firstboot/firstboot.c
Labels: firstboot, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#30209 sd-journal: potentially reduce number of fstat call
  src/coredump/coredumpctl.c
  src/journal-remote/fuzz-journal-remote.c
  src/journal-remote/journal-upload.c
  src/journal/bsod.c
  src/journal/journalctl.c
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-journal/journal-file.h
  src/libsystemd/sd-journal/journal-internal.h
  src/libsystemd/sd-journal/sd-journal.c
  src/libsystemd/sd-journal/test-journal-enum.c
  src/libsystemd/sd-journal/test-journal-flush.c
  src/libsystemd/sd-journal/test-journal-init.c
  src/libsystemd/sd-journal/test-journal-interleaving.c
  src/libsystemd/sd-journal/test-journal-match.c
  src/libsystemd/sd-journal/test-journal-stream.c
  src/network/networkctl.c
  src/shared/journal-util.c
  src/shared/journal-util.h
  src/shared/logs-show.c
  src/systemd/sd-journal.h
Labels: journal, util-lib, good-to-merge/waiting-for-ci 👍

#31181 gpt-auto-generator: be more defensive when checking the presence of E…
  NEWS
  man/systemd-gpt-auto-generator.xml
  src/gpt-auto-generator/gpt-auto-generator.c
  src/shared/fstab-util.c
  src/shared/fstab-util.h
Labels: documentation, util-lib, gpt-auto, good-to-merge/with-minor-suggestions

#31076 [vmspawn] directory type image support
  man/systemd-vmspawn.xml
  src/basic/namespace-util.c
  src/basic/namespace-util.h
  src/nspawn/nspawn.c
  src/vmspawn/meson.build
  src/vmspawn/vmspawn-mount.c
  src/vmspawn/vmspawn-mount.h
  src/vmspawn/vmspawn-settings.h
  src/vmspawn/vmspawn-util.h
  src/vmspawn/vmspawn.c
Labels: nspawn, documentation, build-system, util-lib, good-to-merge/waiting-for-ci 👍, meson, vmspawn

#31256 If a tree doesn't fall in a forest but someone listens, does it make a sound?
  src/core/service.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#31281 missing: change our close_range() syscall wrapper to map glibc's
  src/basic/fd-util.c
  src/basic/missing_syscall.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#31242 pid1: make MaxConnectionsPerSource= do something useful on AF_UNIX sockets
  man/systemd.socket.xml
  src/core/socket.c
  test/units/testsuite-74.socket.sh
  units/systemd-coredump.socket
  units/systemd-creds.socket
  units/systemd-pcrextend.socket
  units/systemd-sysext.socket
Labels: documentation, pid1, tests, good-to-merge/waiting-for-ci 👍, units

#31233 pcrlock: add simple Varlink API + some varlinkctl tweaks
  TODO
  man/varlinkctl.xml
  src/pcrlock/pcrlock.c
  src/shared/meson.build
  src/shared/varlink-io.systemd.PCRLock.c
  src/shared/varlink-io.systemd.PCRLock.h
  src/shared/varlink.c
  src/shared/varlink.h
  src/test/test-varlink-idl.c
  src/test/test-varlink.c
  src/varlinkctl/varlinkctl.c
  test/units/testsuite-54.sh
  test/units/testsuite-70.pcrlock.sh
  units/meson.build
  units/systemd-pcrlock.socket
  units/systemd-pcrlock@.service.in
Labels: documentation, build-system, util-lib, tests, good-to-merge/waiting-for-ci 👍, units, meson, varlink, tpm2

#31162 ptyfwd: some tweaks to terminal handling
  src/basic/glyph-util.c
  src/basic/glyph-util.h
  src/basic/terminal-util.h
  src/nspawn/nspawn.c
  src/run/run.c
  src/shared/ptyfwd.c
  src/shared/ptyfwd.h
  src/test/test-locale-util.c
Labels: nspawn, util-lib, run, please-review

#31069 fix OOMPolicy= version in manpage of systemd.scope
  man/systemd.scope.xml
Labels: documentation, please-review

#31284 btrfs: various clean-ups including alignment fixes
  src/shared/btrfs-util.c
Labels: btrfs, util-lib, good-to-merge/waiting-for-ci 👍

#31271 Test 69 debugging improvements
  test/test-shutdown.py
Labels: tests, good-to-merge/waiting-for-ci 👍

#31145 RFE: Add support for linking volume key in keyring during LUKS2 device activation
  man/crypttab.xml
  meson.build
  src/cryptsetup/cryptsetup.c
Labels: documentation, build-system, good-to-merge/waiting-for-ci 👍, meson

#30380 Make tmpfiles/sysusers nicer with local files and implement tmpfiles --dry-run
  TODO
  man/systemd-run.xml
  man/systemd-sysusers.xml
  man/systemd-tmpfiles.xml
  man/systemd.exec.xml
  man/tmpfiles.d.xml
  src/basic/conf-files.c
  src/basic/conf-files.h
  src/boot/efi/util.c
  src/libsystemd/sd-journal/test-journal-interleaving.c
  src/login/logind-inhibit.c
  src/shared/ptyfwd.c
  src/sysusers/sysusers.c
  src/tmpfiles/tmpfiles.c
  test/units/testsuite-22.02.sh
  test/units/testsuite-22.03.sh
  test/units/testsuite-22.04.sh
  test/units/testsuite-22.05.sh
  test/units/testsuite-22.06.sh
  test/units/testsuite-22.11.sh
  test/units/testsuite-22.12.sh
  test/units/testsuite-22.15.sh
  test/units/testsuite-22.16.sh
  test/units/testsuite-22.18.sh
  test/units/testsuite-22.19.sh
  tools/command_ignorelist
Labels: journal, documentation, util-lib, tmpfiles, tests, sd-boot/sd-stub/bootctl, run, sysusers, good-to-merge/waiting-for-ci 👍, logind

#31289 Translations update from Fedora Weblate
  po/ko.po
Labels: please-review

#31291 Use tilde for rc tag versioning
  docs/RELEASE.md
  tools/meson-vcs-tag.sh
Labels: documentation, good-to-merge/with-minor-suggestions

#31285 core: escape spaces when serializing as well
  src/shared/serialize.c
  test/units/testsuite-07.exec-context.sh
Labels: pid1, util-lib, tests, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, needs-stable-backport

#31300 varlink: fix dead code
  src/shared/varlink.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, coverity

#31308 homed: Add some missing asserts
  src/home/homed-home.c
  src/home/user-record-util.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#31307 format-utils: Expose FORMAT_UID and FORMAT_GID
  src/basic/format-util.h
  src/basic/mkdir.c
  src/libsystemd/sd-bus/sd-bus.c
  src/libsystemd/sd-login/sd-login.c
  src/sysusers/sysusers.c
Labels: login, sd-bus, util-lib, please-review

#31304 core: allow to specify /dev/rfkill for ListenSpecial=
  src/core/load-fragment.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#31297 basic: Add some sha256 helper functions
  src/basic/meson.build
  src/basic/sha256.c
  src/basic/sha256.h
  src/boot/efi/boot.c
  src/boot/efi/efi-string.c
  src/boot/efi/random-seed.c
  src/boot/efi/util.h
  src/dissect/dissect.c
  src/fundamental/macro-fundamental.h
  src/fundamental/meson.build
  src/fundamental/sha256-fundamental.c
  src/fundamental/sha256-fundamental.h
  src/shared/elf-util.c
  src/test/test-macro.c
Labels: build-system, util-lib, tests, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, meson

#31296 fundamental: Add overflow-safe math helpers
  src/boot/efi/boot.c
  src/boot/efi/efi-string.c
  src/boot/efi/util.h
  src/fundamental/macro-fundamental.h
  src/shared/elf-util.c
  src/test/test-macro.c
Labels: util-lib, tests, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#31206 Added some more user record fields
  docs/USER_RECORD.md
  man/homectl.xml
  shell-completion/bash/homectl
  src/basic/locale-util.c
  src/home/homectl.c
  src/login/pam_systemd.c
  src/shared/user-record-show.c
  src/shared/user-record.c
  src/shared/user-record.h
Labels: login, documentation, sd-bus, build-system, util-lib, tests, sd-boot/sd-stub/bootctl, units, meson, logind, please-review

#31305 core/load-fragment: modernize config_parse_socket_listen
  src/core/load-fragment.c
Labels: pid1, quick-review 🏃‍♂️, please-review

#31312 sd-journal: drop unused function prototype
  src/libsystemd/sd-journal/journal-file.h
Labels: journal, quick-review 🏃‍♂️, please-review

#31302 hashmap: Add helper to dump sorted keys
  src/basic/hashmap.c
  src/basic/hashmap.h
  src/test/test-hashmap-plain.c
Labels: util-lib, tests, please-review

#31292 meson: do not attempt to install tests when they are disabled
  meson.build
Labels: build-system, meson, please-review

#31314 network/ndisc: check conflicting address
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-dhcp6.c
  src/network/networkd-ndisc.c
Labels: network, good-to-merge/waiting-for-ci 👍

#31319 journald: tighten checks on incoming memfds a bit
  src/journal/journald-native.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#31283 vmspawn: Support being invoked from a template unit
  man/systemd-vmspawn.xml
  src/vmspawn/vmspawn.c
  units/meson.build
  units/systemd-vmspawn@.service.in
Labels: nspawn, documentation, build-system, util-lib, good-to-merge/waiting-for-ci 👍, units, meson, vmspawn

#28761 bootctl: handle UKI cmdline addons
  src/boot/bootctl-status.c
  src/shared/bootspec.c
  src/shared/bootspec.h
Labels: util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#31323 test-network: allow to specify multiple interfaces to wait_online() without square bracket
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#30226 homed: allow logging into home areas via ssh without unlocking them locally first
  TODO
  docs/USER_RECORD.md
  man/org.freedesktop.home1.xml
  man/org.freedesktop.login1.xml
  man/pam_systemd.xml
  man/sd_session_is_active.xml
  src/home/homectl.c
  src/home/homed-home-bus.c
  src/home/homed-home.c
  src/home/homed-home.h
  src/home/homed-manager-bus.c
  src/home/meson.build
  src/home/org.freedesktop.home1.conf
  src/home/org.freedesktop.home1.policy
  src/home/pam_systemd_home.c
  src/libsystemd/sd-bus/bus-common-errors.c
  src/libsystemd/sd-bus/bus-common-errors.h
  src/login/logind-dbus.c
  src/login/logind-session-dbus.c
  src/login/logind-session-dbus.h
  src/login/logind-session.c
  src/login/logind-session.h
  src/login/org.freedesktop.login1.conf
  src/login/pam_systemd.c
  src/shared/user-record-show.c
  src/shared/user-record.c
  src/shared/user-record.h
  test/TEST-46-HOMED/test.sh
  test/units/testsuite-46.sh
Labels: network, login, documentation, sd-bus, build-system, util-lib, tests, sd-netlink, good-to-merge/waiting-for-ci 👍, meson, homed, logind

#31322 systemctl: don't warn unit needs reload if --no-warn
  man/systemctl.xml
  src/systemctl/systemctl-util.c
Labels: documentation, systemctl, good-to-merge/waiting-for-ci 👍

#31324 man: Improve `IgnoreSIGPIPE=` description
  man/systemd.exec.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#31317 Update tests for SUSE
  test/test-functions
  test/units/testsuite-74.bootctl.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#31286 bootctl: add simple varlink IPC interface
  src/boot/bootctl-reboot-to-firmware.c
  src/boot/bootctl-reboot-to-firmware.h
  src/boot/bootctl-status.c
  src/boot/bootctl-status.h
  src/boot/bootctl.c
  src/boot/bootctl.h
  src/shared/bootspec.c
  src/shared/bootspec.h
  src/shared/efi-loader.c
  src/shared/meson.build
  src/shared/varlink-io.systemd.BootControl.c
  src/shared/varlink-io.systemd.BootControl.h
  src/test/test-varlink-idl.c
  test/units/testsuite-74.bootctl.sh
  units/meson.build
  units/systemd-bootctl.socket
  units/systemd-bootctl@.service.in
Labels: util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, units, varlink

#31173 network/route: check if existing route can be updated
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-link.c
  src/network/networkd-ndisc.c
  src/network/networkd-neighbor.c
  src/network/networkd-neighbor.h
  src/network/networkd-nexthop.c
  src/network/networkd-nexthop.h
  src/network/networkd-route-metric.c
  src/network/networkd-route-metric.h
  src/network/networkd-route.c
  src/network/networkd-route.h
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-routing-policy-rule.h
  test/test-network/conf/25-veth-bridge.network
  test/test-network/conf/25-veth-router-high2.network
  test/test-network/conf/25-veth-router-hop-limit.network
  test/test-network/conf/25-veth-router-low2.network
  test/test-network/conf/25-veth-router.netdev
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍, good-to-merge/waiting-for-reporter-feedback 👍

#31329 test-network: show interface status again when wait-online failed
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, quick-review 🏃‍♂️, please-review

#31330 sd-journal: trivial cleanups
  src/journal-remote/journal-remote.c
  src/journal/journald-server.c
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-journal/test-journal-append.c
  src/libsystemd/sd-journal/test-journal-flush.c
  src/libsystemd/sd-journal/test-journal-interleaving.c
  src/libsystemd/sd-journal/test-journal-stream.c
  src/libsystemd/sd-journal/test-journal-verify.c
  src/libsystemd/sd-journal/test-journal.c
  src/shared/journal-file-util.c
  src/shared/journal-file-util.h
Labels: journal, util-lib, tests, journal-remote, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#31332 vmspawn: fix alignment of merged initrd
  src/vmspawn/vmspawn.c
Labels: good-to-merge/waiting-for-ci 👍, coverity, vmspawn

#31309 homed: Pass in username and uid as Polkit details
  src/home/homed-home-bus.c
Labels: login, sd-bus, util-lib, good-to-merge/with-minor-suggestions

#31335 test: fix cleanup function
  test/units/testsuite-46.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#31333 log: reorder arguments of internal macro
  src/basic/log.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍, coverity

#30080 nspawn: add support for owneridmap bind option
  man/systemd-nspawn.xml
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn.c
  src/shared/dissect-image.c
  src/shared/mount-util.c
  src/shared/mount-util.h
  test/units/testsuite-13.nspawn.sh
Labels: documentation, util-lib, tests, please-review

#31306 keyring-util: Use reported key size to resize buf
  src/shared/keyring-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#31328 man: enchance sd_bus_set_watch_bind() example to handle one more failure
  man/sd_bus_service_reconnect.c
Labels: documentation, good-to-merge/waiting-for-ci 👍

#31251 systemctl: drop chain invocation of telinit
  meson.build
  meson_options.txt
  src/systemctl/systemctl-compat-telinit.c
  src/systemctl/systemctl-compat-telinit.h
  src/systemctl/systemctl.c
  src/systemctl/systemctl.h
Labels: systemctl, build-system, good-to-merge/waiting-for-ci 👍, meson

#30910 logind-user: switch tracking logic to user-runtime-dir@.service
  src/basic/env-util.c
  src/basic/env-util.h
  src/core/manager.c
  src/login/logind-dbus.c
  src/login/logind-dbus.h
  src/login/logind-session-dbus.c
  src/login/logind-session.c
  src/login/logind-user-dbus.c
  src/login/logind-user.c
  src/login/logind-user.h
  src/login/pam_systemd.c
  units/user-runtime-dir@.service.in
  units/user@.service.in
Labels: util-lib, good-to-merge/waiting-for-ci 👍, units, logind

#31331 tree-wide: several cleanups related to xopenat()
  src/basic/chase.c
  src/basic/chattr-util.c
  src/basic/fs-util.c
  src/basic/fs-util.h
  src/basic/lock-util.c
  src/basic/recurse-dir.c
  src/basic/stat-util.c
  src/libsystemd/sd-id128/id128-util.c
  src/shared/btrfs-util.c
  src/shared/copy.c
  src/shared/journal-file-util.c
  src/shared/loop-util.c
  src/test/test-btrfs.c
  src/test/test-copy.c
  src/test/test-fs-util.c
  src/tmpfiles/tmpfiles.c
Labels: btrfs, util-lib, tests, good-to-merge/waiting-for-ci 👍, sd-id128

#31340 bsod: fix -c/--continuous support
  src/journal/bsod.c
Labels: journal, good-to-merge/waiting-for-ci 👍, bsod

#31320 meson: Start adding devel and rc suffixes to the project version
  docs/RELEASE.md
  meson.build
  meson.version
  src/basic/build.c
  src/boot/efi/meson.build
  src/busctl/busctl.c
  src/core/manager-dump.c
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-systemd-fido2.c
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-systemd-pkcs11.c
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-systemd-tpm2.c
  src/kernel-install/60-ukify.install.in
  src/nspawn/test-nspawn-util.c
  src/shared/varlink.c
  src/ukify/ukify.py
  tools/meson-vcs-tag.sh
Labels: nspawn, documentation, build-system, util-lib, tests, sd-boot/sd-stub/bootctl, meson, good-to-merge/with-minor-suggestions, busctl, tpm2, uki

#31346 Translations update from Fedora Weblate
  po/lt.po
Labels: l10n 🌍

#31344 test: properly preserve journal from sd-bsod tests
  test/units/testsuite-04.bsod.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, bsod

#30263 journal: Reset runtime seqnum data when flushing to system journal
  src/journal/journald-server.c
  src/libsystemd/sd-journal/journal-internal.h
  src/libsystemd/sd-journal/sd-journal.c
  test/units/testsuite-09.journal.sh
  test/units/testsuite-09.sh
Labels: journal, tests, please-review

#31342 vmspawn: fix possible NULL dereference in discover_boot_entry
  src/vmspawn/vmspawn.c
Labels: good-to-merge/waiting-for-ci 👍, vmspawn

#31311 journal: fix user journal corruption on rotation
  src/basic/stat-util.c
  src/basic/stat-util.h
  src/libsystemd/sd-journal/journal-file.c
  src/shared/copy.c
  src/shared/copy.h
  src/shared/journal-file-util.c
  src/test/test-copy.c
  src/test/test-stat-util.c
  test/test-functions
  test/units/testsuite-04.journal-corrupt.sh
Labels: journal, util-lib, tests, good-to-merge/waiting-for-ci 👍

#31348 varlink: fix varlink_collect_full not resetting state
  src/shared/varlink.c
  src/test/test-varlink.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#31218 vmspawn: support journal forwarding
  man/journald.conf.xml
  man/systemd-vmspawn.xml
  man/systemd.system-credentials.xml
  src/journal-remote/journal-remote.c
  src/journal/journald-gperf.gperf
  src/journal/journald-server.c
  src/journal/journald-server.h
  src/journal/journald-socket.c
  src/journal/journald-socket.h
  src/journal/journald.conf
  src/journal/meson.build
  src/journal/test-journald-config.c
  src/vmspawn/vmspawn.c
  test/fuzz/fuzz-unit-file/directives-all.service
  test/units/testsuite-26.sh
  units/systemd-journald.service.in
Labels: journal, documentation, build-system, util-lib, tests, journal-remote, good-to-merge/waiting-for-ci 👍, units, meson, vmspawn

#23750 resolve: provide service resolve over varlink
  src/resolve/resolved-varlink.c
  src/shared/varlink-io.systemd.Resolve.c
  test/knot-data/zones/signed.test.zone
  test/units/testsuite-75.sh
Labels: resolve, util-lib, tests, please-review

#31338 network: netdev - bond add support for ARP missed max
  man/systemd.netdev.xml
  src/libsystemd/sd-netlink/netlink-types-rtnl.c
  src/network/netdev/bond.c
  src/network/netdev/bond.h
  src/network/netdev/netdev-gperf.gperf
  test/fuzz/fuzz-netdev-parser/bond.netdev
  test/test-network/conf/25-bond-property.netdev
  test/test-network/systemd-networkd-tests.py
Labels: network, documentation, tests, sd-netlink, good-to-merge/with-minor-suggestions

#31127 core: split out cgroup specific state fields from Unit → CGroupRuntime
  TODO
  src/core/bpf-firewall.c
  src/core/bpf-foreign.c
  src/core/bpf-restrict-fs.c
  src/core/bpf-restrict-fs.h
  src/core/bpf-restrict-ifaces.c
  src/core/bpf-socket-bind.c
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/core-varlink.c
  src/core/dbus-cgroup.c
  src/core/dbus-unit.c
  src/core/mount.c
  src/core/mount.h
  src/core/scope.c
  src/core/scope.h
  src/core/service.c
  src/core/service.h
  src/core/slice.c
  src/core/slice.h
  src/core/socket.c
  src/core/socket.h
  src/core/swap.c
  src/core/swap.h
  src/core/unit-printf.c
  src/core/unit-serialize.c
  src/core/unit.c
  src/core/unit.h
  src/test/test-bpf-firewall.c
Labels: cgroups, pid1, tests, please-review

#31369 resolve: name field may be NULL
  src/shared/varlink-io.systemd.Resolve.c
Labels: resolve, util-lib, good-to-merge/waiting-for-ci 👍, varlink

#31367 core/cgroup: several follow-up about CGroupRuntime
  src/core/cgroup.c
  src/core/unit.c
Labels: cgroups, pid1, good-to-merge/waiting-for-ci 👍, coverity

#31318 test: use btrfs by default on Arch as well
  test/TEST-08-INITRD/test.sh
  test/TEST-55-OOMD/test.sh
  test/test-functions
  test/units/testsuite-55.sh
Labels: tests, please-review

#31374 test: make testcase_owneridmap() compatible with coverage runs
  test/units/testsuite-13.nspawn.sh
Labels: nspawn, tests, good-to-merge/waiting-for-ci 👍

#31156 vconsole-setup: don't fail if the only found vc is already used by pl…
  src/vconsole/vconsole-setup.c
Labels: vconsole, good-to-merge/with-minor-suggestions

#31384 core/exec: do not crash with UtmpMode=user without User= setting
  src/core/exec-invoke.c
  src/shared/utmp-wtmp.c
Labels: pid1, util-lib, please-review

#31383 pam-util: include cache ID of bus connection in the log message
  src/shared/pam-util.c
  test/units/end.sh
Labels: util-lib, tests, quick-review 🏃‍♂️, please-review

#31382 sd-radv: fix potential buffer overflow
  src/libsystemd-network/sd-radv.c
Labels: network, ndisc/ra, quick-review 🏃‍♂️, needs-stable-backport, please-review

#31364 core: add support for vpick for ExtensionImages=/ExtensionDirectories=
  man/systemd-dissect.xml
  man/systemd-nspawn.xml
  man/systemd.exec.xml
  man/systemd.v.xml
  man/vpick.xml
  src/core/namespace.c
  test/units/testsuite-50.sh
Labels: nspawn, documentation, tests, good-to-merge/waiting-for-ci 👍

#30840 Homed bulk directories v2
  TODO
  docs/USER_RECORD.md
  docs/USER_RECORD_BLOB_DIRS.md
  man/homectl.xml
  man/org.freedesktop.home1.xml
  man/systemd-homed.service.xml
  shell-completion/bash/homectl
  src/basic/fd-util.c
  src/basic/fd-util.h
  src/basic/process-util.c
  src/basic/process-util.h
  src/core/exec-invoke.c
  src/home/home-util.c
  src/home/home-util.h
  src/home/homectl.c
  src/home/homed-bus.c
  src/home/homed-bus.h
  src/home/homed-home-bus.c
  src/home/homed-home-bus.h
  src/home/homed-home.c
  src/home/homed-home.h
  src/home/homed-manager-bus.c
  src/home/homed-manager.c
  src/home/homework-blob.c
  src/home/homework-blob.h
  src/home/homework-directory.c
  src/home/homework-luks.c
  src/home/homework.c
  src/home/meson.build
  src/home/org.freedesktop.home1.conf
  src/home/user-record-util.c
  src/home/user-record-util.h
  src/shared/exec-util.c
  src/shared/user-record-show.c
  src/shared/user-record.c
  src/shared/user-record.h
  test/units/testsuite-46.sh
  units/systemd-homed.service.in
Labels: network, documentation, build-system, util-lib, tests, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, units, meson

#31386 Revert "test: use btrfs by default on Arch as well"
  test/test-functions
  test/units/testsuite-04.journal-corrupt.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#31391 Set SYSTEMD_LOG_LEVEL=info explicitly in test-sysusers
  test/test-sysusers.sh.in
Labels: tests, good-to-merge/waiting-for-ci 👍

#31395 cgroup: typo fix initial_restric_ifaces_link_fds → initial_restrict_ifaces_link_fds
  src/core/bpf-restrict-ifaces.c
  src/core/cgroup.c
  src/core/cgroup.h
Labels: cgroups, pid1, good-to-merge/waiting-for-ci 👍

#31351 core/exec-invoke: record correct exit status when failed to locate executable
  src/core/exec-invoke.c
  src/core/execute.h
  src/core/executor.c
  test/units/testsuite-07.pr-31351.sh
Labels: pid1, tests, good-to-merge/with-minor-suggestions

#31398 gpt-auto-generator: fix argument passed to `parse_image_policy_argument`
  src/gpt-auto-generator/gpt-auto-generator.c
Labels: gpt-auto, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#31372 resolve: several follow-ups for resolving service via varlink
  src/resolve/resolved-varlink.c
  src/shared/varlink-io.systemd.Resolve.c
  test/units/testsuite-75.sh
Labels: resolve, util-lib, tests, good-to-merge/waiting-for-ci 👍

#31387 udev: String substitutions can be done in ENV, too
  man/udev.xml
Labels: udev, documentation, please-review

#31401 analyze: skip to check ExecCommand for .mount and .swap units
  src/analyze/analyze-verify-util.c
Labels: analyze, good-to-merge/waiting-for-ci 👍

#31388 Bitfield cleanup
  src/core/kmod-setup.c
  src/login/logind-session.h
  src/systemctl/systemctl-show.c
  src/sysupdate/sysupdate-partition.h
  src/timesync/timesyncd-manager.h
  src/timesync/timesyncd-server.h
Labels: systemctl, timesync, good-to-merge/waiting-for-ci 👍, sysupdate, logind

#31407 hwdb: Add support for MetawillBook01 to 60-sensor.hwdb
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#31360 core/mount: if umount(8) fails but mount disappeared, assume success
  src/core/mount.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#31416 analyze: always recommend saving the output to a file
  man/systemd-analyze.xml
  src/analyze/analyze.c
Labels: documentation, analyze, please-review

#31400 Password Asking rework
  man/systemd-cryptenroll.xml
  man/systemd-cryptsetup.xml
  man/systemd.system-credentials.xml
  src/ask-password/ask-password.c
  src/cryptenroll/cryptenroll-fido2.c
  src/cryptenroll/cryptenroll-password.c
  src/cryptenroll/cryptenroll-pkcs11.c
  src/cryptenroll/cryptenroll-tpm2.c
  src/cryptsetup/cryptsetup-pkcs11.c
  src/cryptsetup/cryptsetup-pkcs11.h
  src/cryptsetup/cryptsetup-tokens/luks2-pkcs11.c
  src/cryptsetup/cryptsetup.c
  src/firstboot/firstboot.c
  src/home/homectl-fido2.c
  src/home/homectl-pkcs11.c
  src/home/homectl.c
  src/pcrlock/pcrlock.c
  src/shared/ask-password-api.c
  src/shared/ask-password-api.h
  src/shared/cryptsetup-fido2.c
  src/shared/cryptsetup-fido2.h
  src/shared/cryptsetup-tpm2.c
  src/shared/cryptsetup-tpm2.h
  src/shared/dissect-image.c
  src/shared/libfido2-util.c
  src/shared/libfido2-util.h
  src/shared/pkcs11-util.c
  src/shared/pkcs11-util.h
  src/test/test-ask-password-api.c
  src/tty-ask-password-agent/tty-ask-password-agent.c
Labels: documentation, util-lib, tests, cryptsetup, good-to-merge/with-minor-suggestions, tpm2

#31408 test: verify our own units (where applicable)
  meson.build
  test/units/test-control.sh
  test/units/testsuite-23.verify-unit-files.sh
  test/units/util.sh
  tools/meson-extract-unit-files.py
Labels: build-system, tests, meson, please-review

#31419 Fixup largefile define
  src/basic/fd-util.h
  src/basic/missing_fcntl.h
  src/home/homed-bus.c
  src/journal/journald-native.c
Labels: journal, util-lib, good-to-merge/waiting-for-ci 👍, homed

#31405 network/ndisc: set neighbor reachable time
  man/systemd.network.xml
  src/libsystemd-network/meson.build
  src/libsystemd-network/ndisc-router-internal.h
  src/libsystemd-network/sd-ndisc-router.c
  src/libsystemd-network/sd-ndisc.c
  src/network/networkd-ndisc.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/meson.build
  src/systemd/sd-ndisc-protocol.h
  src/systemd/sd-ndisc-router.h
  src/systemd/sd-ndisc.h
Labels: network, documentation, build-system, good-to-merge/waiting-for-ci 👍, ndisc/ra, meson
