Repository systemd/systemd, pull requests merged in 2024-04, with the labels that each got.

#32023 core/service: ensure we don't restart on SERVICE_SKIP_CONDITION
  src/core/service.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#32046 doc(tmpfiles.d): remove deprecated `F` type
  man/tmpfiles.d.xml
Labels: documentation, please-review

#32048 mkosi: Use '-' instead of '.' to separate upstream version and debian revision
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu/mkosi.build.chroot
Labels: please-review

#32042 units: remove one implicit RequiresMountsFor=
  src/core/unit.c
  units/systemd-networkd-persistent-storage.service
Labels: pid1, good-to-merge/waiting-for-ci 👍, units

#32004 core/mount: if mount is gone eventually, consider it success
  src/core/mount.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#32030 man: document that using sd_journal APIs might cause dlopen to happen and add self-contained notify protocol example
  docs/PORTABILITY_AND_STABILITY.md
  man/notify-selfcontained-example.c
  man/sd-journal.xml
  man/sd_notify.xml
  man/systemd.service.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#32050 ci: fix commit SHA for stefanbuck/github-issue-parser
  .github/workflows/issue_labeler.yml
Labels: tests, good-to-merge/waiting-for-ci 👍, github_actions

#32052 A couple of assorted tweaks
  src/core/execute-serialize.c
  test/units/end.sh
  test/units/testsuite-54.sh
  test/units/testsuite-74.coredump.sh
Labels: pid1, tests, good-to-merge/waiting-for-ci 👍

#32055 Coccinelle-suggested tweaks, pre-rc edition
  src/cryptsetup/cryptsetup.c
  src/shared/pkcs11-util.c
  src/shared/ptyfwd.c
  src/ssh-generator/ssh-generator.c
  src/sysext/sysext.c
  src/test/test-dirent-util.c
  src/test/test-string-util.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍, coccinelle

#32056 test: Always exit with 77 if we skip a test
  test/units/testsuite-08.sh
  test/units/testsuite-43.sh
  test/units/testsuite-46.sh
  test/units/testsuite-55.sh
  test/units/testsuite-58.sh
  test/units/testsuite-62.sh
  test/units/testsuite-72.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#32059 Docs and TODO fixes
  TODO
  docs/PORTABILITY_AND_STABILITY.md
Labels: documentation, quick-review 🏃‍♂️, please-review

#32060 Minor cleanup for timespec/efivars
  src/basic/efivars.c
  src/basic/signal-util.c
  src/basic/time-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#31661 udev: fixes for device-mapper rules
  rules.d/99-systemd.rules.in
Labels: udev, please-review, rc-blocker 🚧

#32057 man: add simple build test for example code
  man/event-quick-child.c
  man/hwdb-usb-device.c
  man/journal-enumerate-fields.c
  man/journal-iterate-foreach.c
  man/journal-iterate-unique.c
  man/journal-iterate-wait.c
  man/journal-stream-fd.c
  man/logcontrol-example.c
  man/meson.build
  man/path-documents.c
  man/print-unit-path-call-method.c
  man/print-unit-path.c
  man/sd_bus_error-example.c
  man/sd_bus_service_reconnect.c
  man/vtable-example.c
  src/systemd/sd-bus-vtable.h
Labels: documentation, build-system, good-to-merge/waiting-for-ci 👍, meson

#32068 notify-example: also send STOPPING=1 at exit
  man/notify-selfcontained-example.c
Labels: documentation, notify, good-to-merge/waiting-for-ci 👍

#32019 gcrypt: dlopenify for libsystemd
  meson.build
  src/basic/gcrypt-util.c
  src/basic/gcrypt-util.h
  src/basic/meson.build
  src/import/pull-job.c
  src/journal/journalctl-authenticate.c
  src/journal/meson.build
  src/libsystemd/sd-journal/fsprg.c
  src/libsystemd/sd-journal/fsprg.h
  src/libsystemd/sd-journal/journal-authenticate.c
  src/libsystemd/sd-journal/journal-file.c
  src/libsystemd/sd-journal/journal-verify.c
  src/network/meson.build
  src/partition/meson.build
  src/resolve/meson.build
  src/resolve/resolved-dns-dnssec.c
  src/shared/meson.build
  src/systemctl/meson.build
  src/sysusers/meson.build
  src/test/test-dlopen-so.c
  src/timesync/meson.build
  src/tmpfiles/meson.build
  test/test-functions
Labels: journal, resolve, build-system, util-lib, tests, good-to-merge/waiting-for-ci 👍, meson

#32065 dlopen: fix bpf symbol loading check and log at debug level when loading a library
  src/basic/dlfcn-util.c
  src/shared/bpf-dlopen.c
  src/shared/idn-util.c
  src/shared/tpm2-util.c
  src/shared/userdb.c
Labels: util-lib, tree-wide, good-to-merge/waiting-for-ci 👍

#31564 ssh-generator: create privsep dir via tmpfiles.d/ if we are told to
  NEWS
  meson.build
  meson_options.txt
  tmpfiles.d/20-systemd-ssh-generator.conf.in
Labels: documentation, build-system, good-to-merge/waiting-for-ci 👍, meson, ssh-generator

#32075 man/examples: set _GNU_SOURCE in source, rather than by compile option
  man/event-quick-child.c
  man/hwdb-usb-device.c
  man/journal-iterate-poll.c
  man/journal-stream-fd.c
  man/meson.build
  man/notify-selfcontained-example.c
  man/vtable-example.c
Labels: documentation, build-system, good-to-merge/waiting-for-ci 👍, meson

#32069 fuzz: check that ND options are parsed sucessfully
  src/libsystemd-network/fuzz-ndisc-rs.c
Labels: network, good-to-merge/waiting-for-ci 👍

#32043 units: introduce systemd-hibernate-clear.service that clears stale HibernateLocation EFI variable
  man/kernel-command-line.xml
  man/rules/meson.build
  man/systemd-hibernate-resume.service.xml
  src/hibernate-resume/hibernate-resume-config.c
  src/hibernate-resume/hibernate-resume-config.h
  src/hibernate-resume/hibernate-resume.c
  src/shared/hibernate-util.c
  src/shared/hibernate-util.h
  src/sleep/sleep.c
  units/meson.build
  units/systemd-hibernate-clear.service.in
Labels: documentation, util-lib, good-to-merge/waiting-for-ci 👍, sleep, units, hibernate-resume

#32072 core/manager: use cellescape and don't be too aggressive
  src/basic/string-util.c
  src/core/manager.c
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍

#32074 Revert "kernel-install: Add kernel version to title (#31581)"
  src/kernel-install/90-loaderentry.install.in
Labels: good-to-merge/waiting-for-ci 👍, kernel-install

#32078 man/example: also build example code with C90
  man/logcontrol-example.c
  man/meson.build
  man/sd-bus-container-append.c
Labels: documentation, build-system, good-to-merge/waiting-for-ci 👍, meson

#32081 mkosi: More package updates
  mkosi.images/system/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-arch/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-opensuse/mkosi.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#32080 vmspawn: fix error code
  src/vmspawn/vmspawn.c
Labels: good-to-merge/waiting-for-ci 👍, vmspawn

#32076 core/exec-invoke: Replaced basename() with path_extract_filename()
  src/core/exec-invoke.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, squash-on-merge

#32091 watchdog: clarify that we set the *watchdog* timeout
  src/shared/watchdog.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, watchdog

#32033 debug-generator: Add unit and drop-in credentials
  man/systemd-debug-generator.xml
  man/systemd.system-credentials.xml
  src/debug-generator/debug-generator.c
  test/TEST-54-CREDS/test.sh
  test/units/testsuite-54.sh
Labels: documentation, tests, debug-generator, good-to-merge/waiting-for-ci 👍, rc-blocker 🚧

#32097 Small cleanups to sd_notify docs
  man/notify-selfcontained-example.c
  man/rules/meson.build
  man/sd_notify.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, meson

#32100 cryptsetup-tokens: fix argument order mismatch in function
  src/cryptsetup/cryptsetup-tokens/luks2-tpm2.h
Labels: good-to-merge/waiting-for-ci 👍, tpm2, needs-stable-backport

#32096 Fixed resolution for pen and touchpad on HUION Kamvas Pro 19
  hwdb.d/60-evdev.hwdb
Labels: hwdb, please-review

#32094 TEST-50: add tests for riscv{32,64}
  test/units/testsuite-50.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#32101 udevadm-test: insert missing line break
  src/udev/udevadm-test.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#32102 Trivial follow-up for hibernate-resume
  man/kernel-command-line.xml
  src/shared/hibernate-util.c
Labels: documentation, util-lib, hibernate-resume, quick-review 🏃‍♂️, please-review

#32084 udev: do not update sysattr and sysctl value on testing
  src/udev/udev-rules.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#32083 backlight: fix detection of multiple graphic cards
  src/backlight/backlight.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#32082 udevadm-test: also show security labels if specified
  src/udev/udevadm-test.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#31373 network: add basic support of neighbor advertisement
  src/libsystemd-network/icmp6-util.c
  src/libsystemd-network/meson.build
  src/libsystemd-network/ndisc-neighbor-internal.h
  src/libsystemd-network/sd-ndisc-neighbor.c
  src/libsystemd-network/sd-ndisc.c
  src/libsystemd-network/test-ndisc-rs.c
  src/network/networkd-ndisc.c
  src/systemd/meson.build
  src/systemd/sd-ndisc-neighbor.h
  src/systemd/sd-ndisc.h
  test/test-network/conf/25-dhcp-server-veth-peer.network
Labels: network, build-system, tests, good-to-merge/waiting-for-ci 👍, ndisc/ra, meson

#32085 udev: check ID_PROCESSING udev property more
  src/core/device.c
  src/home/homed-manager.c
  src/login/logind.c
  src/network/networkd-link.c
  src/nspawn/nspawn-network.c
  src/shared/udev-util.c
  src/shared/udev-util.h
  src/storagetm/storagetm.c
  src/udev/udevadm-wait.c
Labels: udev, network, nspawn, util-lib, good-to-merge/waiting-for-ci 👍, logind

#32108 Fix missing colon
  hwdb.d/60-sensor.hwdb
Labels: hwdb, please-review

#32109 meson: set -fno-ssa-phiopt when building bpf with gcc
  meson.build
Labels: build-system, meson, bpf, please-review

#32070 core: Serialize both pid and pidfd to keep downgrades working
  src/core/mount.c
  src/core/service.c
  src/core/socket.c
  src/core/swap.c
  src/shared/serialize.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#32113 sd-journal: fix check in `journal_file_verify_header()`
  src/libsystemd/sd-journal/journal-file.c
Labels: journal, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#31435 portable: assorted bug fixes
  src/basic/os-util.c
  src/basic/os-util.h
  src/portable/portable.c
  test/units/testsuite-29.sh
Labels: util-lib, tests, portable, needs-stable-backport

#32125 Trivial post merge stuff
  man/systemd-sleep.conf.xml
  src/basic/os-util.c
  src/shared/sleep-config.c
  src/sleep/sleep.conf
Labels: documentation, util-lib, good-to-merge/waiting-for-ci 👍, sleep

#32123 A couple of assorted tweaks
  src/basic/log.h
  src/shared/base-filesystem.c
  src/test/test-execute.c
  src/test/test-fd-util.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#32115 core/service: a few improvements for main pid handling
  src/core/service.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#32128 man: fix typo s/veno/reno/
  man/systemd.socket.xml
Labels: documentation, please-review

#31131 turn libkmod into a dlopen() dependency, too
  TODO
  meson.build
  mkosi.images/system/mkosi.conf.d/10-opensuse/mkosi.conf
  src/core/kmod-setup.c
  src/core/meson.build
  src/modules-load/meson.build
  src/modules-load/modules-load.c
  src/shared/meson.build
  src/shared/module-util.c
  src/shared/module-util.h
  src/test/meson.build
  src/test/test-dlopen-so.c
  src/test/test-netlink-manual.c
  src/udev/meson.build
  src/udev/udev-builtin-kmod.c
  test/test-functions
Labels: udev, build-system, util-lib, tests, modules-load, ci-fails/needs-rework 🔥, meson

#32126 test: improve debug-ability of test-execute
  src/test/test-execute.c
Labels: tests, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#32127 run: query for SoftRebootsCount only for system scope runs
  src/run/run.c
Labels: run, good-to-merge/waiting-for-ci 👍

#32130 core: use log_unit_debug in *_set_state
  src/core/scope.c
  src/core/slice.c
  src/core/target.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#32135 Compiler warning cleanup
  src/ask-password/ask-password.c
  src/core/dynamic-user.c
  src/libsystemd/sd-bus/bus-error.c
Labels: sd-bus, good-to-merge/waiting-for-ci 👍

#32138 mkosi: Install dnf5 in Fedora image
  mkosi.images/system/mkosi.conf.d/10-fedora/mkosi.conf
Labels: please-review

#32133 hibernate-util: check 'noresume' before reading resume setting
  src/login/logind-dbus.c
  src/shared/hibernate-util.c
Labels: good-to-merge/waiting-for-ci 👍, hibernate-resume

#32139 test-execute: check for s390x first and duplicate test
  src/test/test-execute.c
  test/test-execute/exec-personality-s390x.service
Labels: tests, good-to-merge/waiting-for-ci 👍

#32136 systemctl-logind: auto soft-reboot only if /run/nextroot/ is mountpoint
  src/login/logind-dbus.c
  src/systemctl/systemctl-logind.c
Labels: systemctl, good-to-merge/waiting-for-ci 👍, logind

#32110 tree-wide: drop several remaining license headers
  LICENSES/README.md
  src/basic/utf8.c
  src/libsystemd/sd-journal/fsprg.c
  src/libsystemd/sd-journal/fsprg.h
  src/shared/initreq.h
  src/udev/scsi_id/scsi.h
  src/udev/udevadm-control.c
  src/udev/v4l_id/v4l_id.c
Labels: udev, journal, util-lib, please-review

#32149 core: fix typo
  src/core/main.c
Labels: please-review

#32131 networkd: report error if lease file cannot be loaded and ignore
  src/network/networkd-address.c
  src/network/networkd-dhcp-server.c
Labels: network, dhcp, please-review

#32146 nsresource: fix FD leak
  src/shared/nsresource.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, coverity

#32140 Minor tweaks to socket manual & shorten the code a bit
  man/systemd.socket.xml
  src/core/service.c
Labels: documentation, pid1, please-review

#32152 docs: Add note on RuntimeBuildSources= to hacking guide
  docs/HACKING.md
Labels: documentation, please-review

#32156 Some cleanup for uid-range
  .github/labeler.yml
  src/basic/uid-range.c
  src/basic/uid-range.h
  src/core/manager.c
  src/libsystemd/sd-device/device-monitor.c
  src/nsresourced/nsresourcework.c
  src/test/test-uid-range.c
  src/userdb/userdbctl.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, userdb

#32104 network/ndisc: add support for Redirect message
  man/systemd.network.xml
  src/libsystemd-network/icmp6-util.c
  src/libsystemd-network/meson.build
  src/libsystemd-network/ndisc-redirect-internal.h
  src/libsystemd-network/sd-ndisc-redirect.c
  src/libsystemd-network/sd-ndisc.c
  src/libsystemd-network/test-ndisc-send.c
  src/network/networkd-link.h
  src/network/networkd-ndisc.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/systemd/meson.build
  src/systemd/sd-ndisc-redirect.h
  src/systemd/sd-ndisc.h
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, ndisc/ra

#32165 docs: Suggest soft-reboot to restart pid1 and all daemons in mkosi VM
  docs/HACKING.md
Labels: documentation, please-review

#32158 vmspawn: fix `sd_bus_message_append()` arguments and add missing error check
  src/vmspawn/vmspawn-scope.c
Labels: good-to-merge/waiting-for-ci 👍, vmspawn

#31997 network: fixlets for zero lifetime
  src/network/networkd-ndisc.c
  src/network/networkd-radv.c
Labels: network, ndisc/ra, good-to-merge/waiting-for-reporter-feedback 👍

#32167 network/dhcp6: return earlier if no lease acquired
  src/network/networkd-dhcp6.c
Labels: network, dhcp, quick-review 🏃‍♂️, please-review

#32163 resolve: really always initialize aux
  src/resolve/resolved-dns-transaction.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#32164 hibernate-resume-config: apply ENABLE_EFI ifdef correctly
  src/hibernate-resume/hibernate-resume-config.c
Labels: good-to-merge/waiting-for-ci 👍, hibernate-resume

#32154 mkosi: Make scripts more generic
  .github/workflows/mkosi.yml
  mkosi.images/system/initrd/mkosi.postinst
  mkosi.images/system/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-arch/initrd/mkosi.postinst
  mkosi.images/system/mkosi.conf.d/10-arch/mkosi.build.chroot
  mkosi.images/system/mkosi.conf.d/10-arch/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-arch/mkosi.prepare
  mkosi.images/system/mkosi.conf.d/10-centos-fedora/initrd/mkosi.postinst
  mkosi.images/system/mkosi.conf.d/10-centos-fedora/mkosi.build.chroot
  mkosi.images/system/mkosi.conf.d/10-centos-fedora/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-centos-fedora/mkosi.prepare
  mkosi.images/system/mkosi.conf.d/10-centos/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu/initrd/mkosi.postinst
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu/mkosi.build.chroot
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu/mkosi.prepare
  mkosi.images/system/mkosi.conf.d/10-fedora/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-opensuse/mkosi.build.chroot
  mkosi.images/system/mkosi.conf.d/10-opensuse/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-opensuse/mkosi.prepare
  mkosi.images/system/mkosi.sync
  pkg/ubuntu
Labels: tests, mkosi, please-review

#32174 service: explicitly add comment about donated reference on parameter
  src/core/service.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#32178 test-date: add missing header
  src/test/test-date.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#32176 tree-wide: make sure net/if.h is included before any linux/ header
  src/basic/socket-util.c
  src/core/bpf-firewall.c
  src/libsystemd-network/dhcp-network.c
  src/libsystemd-network/icmp6-util.c
  src/libsystemd-network/test-acd.c
  src/libsystemd-network/test-ipv4ll-manual.c
  src/libsystemd/sd-netlink/test-netlink.c
  src/libudev/libudev-device.c
  src/network/netdev/bridge.c
  src/network/netdev/fou-tunnel.c
  src/network/netdev/geneve.c
  src/network/netdev/ipvlan.c
  src/network/netdev/macvlan.c
  src/network/netdev/netdev.c
  src/network/netdev/tuntap.c
  src/network/netdev/veth.c
  src/network/netdev/vlan.c
  src/network/netdev/vrf.c
  src/network/netdev/vxlan.c
  src/network/netdev/wireguard.c
  src/network/networkctl.c
  src/network/networkd-address-label.c
  src/network/networkd-bridge-mdb.c
  src/network/networkd-can.c
  src/network/networkd-link.c
  src/network/networkd-network.c
  src/network/networkd-nexthop.c
  src/network/networkd-routing-policy-rule.c
  src/network/test-network-tables.c
  src/nspawn/nspawn-network.c
  src/shared/firewall-util-iptables.c
  src/shared/socket-netlink.c
  src/test/test-arphrd-util.c
  src/test/test-local-addresses.c
  src/test/test-netlink-manual.c
  src/udev/udev-builtin-net_id.c
Labels: udev, network, nspawn, util-lib, tests, sd-netlink, good-to-merge/waiting-for-ci 👍

#32118 core: Serialize both pid and pidfd
  src/core/scope.c
  src/core/service.c
  src/shared/serialize.c
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport, rc-blocker 🚧

#32187 sd-journal: make sure sd_journal_add_match() also accepts SIZE_MAX as…
  src/coredump/coredumpctl.c
  src/journal/bsod.c
  src/journal/journalctl-filter.c
  src/libsystemd/sd-journal/sd-journal.c
  src/libsystemd/sd-journal/test-journal-enum.c
  src/libsystemd/sd-journal/test-journal-match.c
  src/libsystemd/sd-journal/test-journal-stream.c
  src/shared/logs-show.c
Labels: journal, util-lib, tests, coredump, good-to-merge/waiting-for-ci 👍, bsod

#32188 ndisc: use memzero() where appropriate
  src/libsystemd-network/ndisc-option.c
Labels: network, good-to-merge/waiting-for-ci 👍, ndisc/ra

#32189 Another batch of assorted test tweaks
  src/shared/tests.h
  src/test/test-macro.c
  test/TEST-24-CRYPTSETUP/test.sh
  test/test-functions
  test/test-shutdown.py
  test/units/testsuite-04.journal-gatewayd.sh
  test/units/testsuite-75.sh
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#32185 resolved: dns_name_equal() can fail, handle that reasonably
  src/resolve/resolved-dns-rr.c
  src/resolve/resolved-dnssd.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#32175 boot: properly handle empty dbx.auth
  src/boot/efi/secure-boot.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#32200 man/journald: Add missing configuration files
  man/journald.conf.xml
Labels: journal, documentation, good-to-merge/waiting-for-ci 👍

#32201 test: minor fixes
  src/shared/tests.h
  tools/check-version-history.py
Labels: util-lib, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#32177 replace assert_se() with ASSERT_NULL/NOT_NULL macros in unit tests
  src/test/test-cgroup-util.c
  src/test/test-cgroup.c
  src/test/test-conf-parser.c
  src/test/test-core-unit.c
  src/test/test-creds.c
  src/test/test-env-file.c
  src/test/test-env-util.c
  src/test/test-extract-word.c
  src/test/test-fileio.c
  src/test/test-glob-util.c
  src/test/test-hashmap-plain.c
  src/test/test-hashmap.c
  src/test/test-json.c
  src/test/test-list.c
  src/test/test-load-fragment.c
  src/test/test-loop-block.c
  src/test/test-macro.c
  src/test/test-mount-util.c
  src/test/test-netlink-manual.c
  src/test/test-openssl.c
  src/test/test-parse-argument.c
  src/test/test-path-util.c
  src/test/test-prioq.c
  src/test/test-process-util.c
  src/test/test-rlimit-util.c
  src/test/test-secure-bits.c
  src/test/test-socket-bind.c
  src/test/test-strbuf.c
  src/test/test-string-util.c
  src/test/test-strv.c
  src/test/test-tpm2.c
  src/test/test-watch-pid.c
Labels: selinux, tests, coredump, sysctl, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, escape, tpm2

#32205 Minor cleanup for bless-boot
  src/boot/bless-boot-generator.c
  src/core/manager.c
  src/core/target.c
  src/core/transaction.c
  units/systemd-boot-check-no-failures.service.in
Labels: sd-boot/sd-stub/bootctl, units, please-review

#32190 libsystemd-network: do not trigger assertion by sd_*_is_running() with NULL
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/sd-ipv4acd.c
  src/libsystemd-network/sd-ipv4ll.c
  src/libsystemd-network/sd-radv.c
Labels: network, quick-review 🏃‍♂️, please-review

#32166 network: generate another address on conflict
  src/network/networkd-address-generation.c
  src/network/networkd-address-generation.h
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-dhcp-prefix-delegation.c
  src/network/networkd-dhcp-prefix-delegation.h
  src/network/networkd-ndisc.c
  src/network/networkd-ndisc.h
  src/network/networkd-radv.c
  src/network/networkd-radv.h
  test/test-network/conf/25-ipv6-prefix-veth-token-prefixstable.network
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, please-review

#32195 network: several cleanups for IPv6 MTU
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-ndisc.c
  src/network/networkd-setlink.c
  src/network/networkd-sysctl.c
  src/network/networkd-sysctl.h
  test/test-network/conf/25-veth-peer-no-address.network
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, sysctl, ndisc/ra, please-review

#32181 Some fixes/improvements for OpenFile=
  src/core/exec-invoke.c
  src/shared/open-file.c
  src/shared/open-file.h
  src/test/test-open-file.c
  test/TEST-77-OPENFILE/Makefile
  test/TEST-77-OPENFILE/test.sh
  test/testsuite-23.units/testsuite-23-openfile-server.socket
  test/testsuite-23.units/testsuite-23-openfile-server@.service
  test/units/testsuite-23-openfile-child.sh
  test/units/testsuite-23.openfile.sh
  test/units/testsuite-77-client.sh
  test/units/testsuite-77-run.sh
  test/units/testsuite-77.service
  test/units/testsuite-77.sh
Labels: pid1, util-lib, tests, needs-stable-backport, please-review

#32202 tests: Improve assertion error messages
  docs/CODING_STYLE.md
  src/shared/tests.h
  src/test/test-acl-util.c
  src/test/test-copy.c
  src/test/test-fd-util.c
  src/test/test-fs-util.c
  src/test/test-macro.c
  src/test/test-stat-util.c
  src/test/test-terminal-util.c
Labels: documentation, sd-bus, util-lib, tests, sd-event, good-to-merge/waiting-for-ci 👍

#32210 core: modernize ExecCommand parsing and fix one memory leak
  src/core/dbus-execute.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#32214 test: PROJECT_FILE macro cannot be used in generated code
  src/test/test-hashmap-plain.c
Labels: tests, please-review

#32221 README.md: link bug bounty program
  README.md
Labels: documentation, quick-review 🏃‍♂️, please-review

#32216 journal-remote: Use sd_event_set_signal_exit()
  src/journal-remote/journal-remote-main.c
  src/journal-remote/journal-remote.c
  src/journal-remote/journal-remote.h
  src/journal-remote/journal-upload-journal.c
  src/journal-remote/journal-upload.c
  src/journal-remote/journal-upload.h
Labels: journal-remote, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#32148 creds: allow null when decrypting
  man/systemd-creds.xml
  src/creds/creds.c
Labels: documentation, creds, please-review

#32215 network/ndisc: fix assignment of valid lifetime
  src/network/networkd-ndisc.c
Labels: network, good-to-merge/waiting-for-ci 👍, ndisc/ra

#32228 A couple of follow-ups for #32189
  test/TEST-69-SHUTDOWN/test.sh
  test/test-functions
  test/test-shutdown.py
  test/units/testsuite-04.journal-gatewayd.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#32233 journal-remote: fix two minor memory leaks
  src/journal-remote/journal-gatewayd.c
  src/journal-remote/journal-upload.c
Labels: journal-remote, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#32150 nsresourced: fix type of bpf_rdonly_cast
  src/nsresourced/bpf/userns_restrict/userns-restrict.bpf.c
Labels: good-to-merge/waiting-for-ci 👍, bpf, nsresource

#32227 vmspawn: enabled free page reporting in qemu by default
  src/vmspawn/vmspawn.c
Labels: good-to-merge/waiting-for-ci 👍, vmspawn

#32238 resolved: use NULL to represent an empty answer
  src/resolve/resolved-dns-transaction.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#32240 network/ndisc: fixlets for on-link prefix
  src/network/networkd-ndisc.c
Labels: network, good-to-merge/waiting-for-ci 👍, ndisc/ra

#32239 ndisc-option: also ignore Prefix Information option with multicast address
  src/libsystemd-network/ndisc-option.c
Labels: network, ndisc/ra, quick-review 🏃‍♂️, please-review

#32134 meson: do not fail build with newer kernel headers
  src/basic/meson.build
Labels: build-system, meson

#32242 bus-polkit: fix return value for `varlink_allow_interactive_authentication()`
  src/shared/bus-polkit.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#32241 vmspawn: update parse_boolean to parse_boolean_argument
  src/vmspawn/vmspawn.c
Labels: good-to-merge/waiting-for-ci 👍, vmspawn

#32225 vmspawn: add --discard-disk= to control disk trimming
  man/systemd-vmspawn.xml
  src/vmspawn/vmspawn.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, vmspawn

#32256 sd-dhcp-server: use close_and_replace (avoid fd leak)
  src/libsystemd-network/sd-dhcp-server.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#32255 shared/killall: minor modernization
  src/basic/string-util.c
  src/shared/killall.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#32243 fuzz: check that resource records are serialized successfully
  src/resolve/fuzz-resource-record.c
Labels: good-to-merge/waiting-for-ci 👍

#32224 vmspawn: check firmware target architecture
  src/vmspawn/vmspawn-util.c
Labels: good-to-merge/with-minor-suggestions, vmspawn

#32257 tree-wide: trivial style and typo fixes
  src/basic/parse-util.c
  src/core/dbus-mount.c
  src/core/load-fragment.c
  src/home/homectl.c
  src/home/homed-home.h
  src/home/homework-luks.c
  src/journal/journalctl-show.c
  src/mountfsd/mountwork.c
  src/network/networkd-ndisc.c
  src/network/networkd-radv.c
  src/sysupdate/sysupdate.c
  src/test/test-seccomp.c
Labels: network, journal, util-lib, tests, good-to-merge/waiting-for-ci 👍, sysupdate, mountfsd

#32262 man: remove PrivateMounts= from list of other settings in its own description
  man/systemd.exec.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#32194 network: add mechanism to configure default UseDomains= setting
  man/networkd.conf.xml
  man/systemd.network.xml
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp-common.h
  src/network/networkd-gperf.gperf
  src/network/networkd-manager.h
  src/network/networkd-network.c
  src/network/networkd.conf
  test/test-network/systemd-networkd-tests.py
Labels: network, documentation, tests, good-to-merge/waiting-for-ci 👍

#32272 mkosi: various improvements
  .github/workflows/mkosi.yml
  mkosi.conf
  mkosi.images/system/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-arch/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-centos-fedora/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-opensuse/initrd/mkosi.postinst
  mkosi.images/system/mkosi.conf.d/10-opensuse/mkosi.conf
  mkosi.images/system/mkosi.postinst
Labels: tests, please-review

#32270 vmspawn: Fix incorrect/broken links in the man page
  man/systemd-vmspawn.xml
Labels: documentation, please-review, vmspawn

#32271 Fixes for links to man projects
  man/custom-html.xsl
  man/sd-journal.xml
  man/systemd.netdev.xml
Labels: documentation, please-review

#32269 github: add systemd-vmspawn to the issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/advanced-issue-labeler.yml
Labels: good-to-merge/waiting-for-ci 👍, ci

#32263 core/execute: also check cg_is_threaded for clone3()
  src/basic/process-util.c
  src/core/dbus-manager.c
  src/core/exec-invoke.c
  src/core/execute.c
  src/core/unit.h
  src/shared/cgroup-setup.c
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍

#32275 ndisc-option: add missing case
  src/libsystemd-network/ndisc-option.c
Labels: network, ndisc/ra, quick-review 🏃‍♂️, please-review

#32266 libsystemd-network: trivial cleanups
  src/libsystemd-network/dhcp6-internal.h
  src/libsystemd-network/dhcp6-network.c
  src/libsystemd-network/dhcp6-protocol.h
  src/libsystemd-network/fuzz-dhcp6-client.c
  src/libsystemd-network/fuzz-ndisc-rs.c
  src/libsystemd-network/icmp6-util-unix.c
  src/libsystemd-network/icmp6-util.c
  src/libsystemd-network/icmp6-util.h
  src/libsystemd-network/ndisc-option.c
  src/libsystemd-network/ndisc-option.h
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/sd-ndisc.c
  src/libsystemd-network/sd-radv.c
  src/libsystemd-network/test-dhcp6-client.c
  src/libsystemd-network/test-ndisc-send.c
Labels: network, tests, dhcp, ndisc/ra, please-review

#32277 mkosi: Update to latest
  .github/workflows/mkosi.yml
Labels: tests, please-review

#32244 vmspawn: fix incorrect XML in man page
  man/busctl.xml
  man/coredumpctl.xml
  man/homectl.xml
  man/networkctl.xml
  man/portablectl.xml
  man/resolvectl.xml
  man/standard-options.xml
  man/systemctl.xml
  man/systemd-analyze.xml
  man/systemd-bsod.service.xml
  man/systemd-creds.xml
  man/systemd-cryptenroll.xml
  man/systemd-measure.xml
  man/systemd-networkd-wait-online.service.xml
  man/systemd-notify.xml
  man/systemd-nspawn.xml
  man/systemd-pcrphase.service.xml
  man/systemd-repart.xml
  man/systemd-socket-activate.xml
  man/systemd-sysext.xml
  man/systemd-vmspawn.xml
  man/systemd.xml
  man/udevadm.xml
  man/userdbctl.xml
  man/varlinkctl.xml
Labels: udev, nspawn, resolve, documentation, systemctl, coredump, busctl, repart, userdb, please-review, bsod, vmspawn

#32207 docs: don't suffix page permalink with a slash
  docs/_config.yml
Labels: documentation, please-review

#32098 improve zsh completion
  shell-completion/zsh/_bootctl
  shell-completion/zsh/_busctl
  shell-completion/zsh/_coredumpctl
  shell-completion/zsh/_hostnamectl
  shell-completion/zsh/_journalctl
  shell-completion/zsh/_kernel-install
  shell-completion/zsh/_localectl
  shell-completion/zsh/_loginctl
  shell-completion/zsh/_machinectl
  shell-completion/zsh/_networkctl
  shell-completion/zsh/_oomctl
  shell-completion/zsh/_resolvectl
  shell-completion/zsh/_systemctl.in
  shell-completion/zsh/_systemd
  shell-completion/zsh/_systemd-analyze
  shell-completion/zsh/_systemd-delta
  shell-completion/zsh/_systemd-inhibit
  shell-completion/zsh/_systemd-nspawn
  shell-completion/zsh/_systemd-path
  shell-completion/zsh/_systemd-run
  shell-completion/zsh/_systemd-tmpfiles
  shell-completion/zsh/_timedatectl
  shell-completion/zsh/_udevadm
Labels: nspawn, resolve, shell completion, timedate, coredump, good-to-merge/with-minor-suggestions, busctl

#32281 NEWS: typo fixes
  NEWS
Labels: documentation, please-review

#32280 creds: update --help text regarding tpm2-absent → null rename
  src/creds/creds.c
Labels: good-to-merge/waiting-for-ci 👍, creds

#32193 dissect: refuse to use diskseq if ID_IGNORE_DISKSEQ=1 is specified (part1)
  src/shared/dissect-image.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, dissect

#32283 units: order repart after systemd-tpm2-setup-early.service
  units/systemd-repart.service
Labels: good-to-merge/waiting-for-ci 👍, units, repart, tpm2

#32258 network/tc: fix stack overflow
  src/network/tc/qdisc.c
  src/network/tc/tclass.c
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#32286 shared/vpick: add missing condition on ret_result
  src/shared/vpick.c
Labels: util-lib, please-review

#32288 test: initialize _cleanup_ variables
  src/test/test-socket-util.c
Labels: tests, quick-review 🏃‍♂️, please-review

#32267 sd-radv: introduce sd_ndisc_router_solicit and use it
  src/libsystemd-network/meson.build
  src/libsystemd-network/ndisc-router-solicit-internal.h
  src/libsystemd-network/sd-ndisc-router-solicit.c
  src/libsystemd-network/sd-radv.c
  src/systemd/meson.build
  src/systemd/sd-ndisc-router-solicit.h
  src/systemd/sd-radv.h
Labels: network, build-system, good-to-merge/waiting-for-ci 👍, ndisc/ra, meson

#32103 udev: load udev rules from credentials
  man/systemd.system-credentials.xml
  man/udevadm.xml
  src/network/generator/main.c
  src/shared/creds-util.c
  src/shared/creds-util.h
  src/udev/udevadm-control.c
  test/units/testsuite-17.10.sh
  test/units/testsuite-17.credentials.sh
  units/meson.build
  units/systemd-udev-load-credentials.service
  units/systemd-udevd.service.in
Labels: udev, network, documentation, build-system, new-feature, util-lib, tests, good-to-merge/waiting-for-ci 👍, units, meson, rc-blocker 🚧

#32293 man: add missing drop-in directory
  man/networkd.conf.xml
Labels: network, documentation, good-to-merge/waiting-for-ci 👍

#32291 network: fix use of wrong flag
  src/network/networkd-state-file.c
Labels: network, quick-review 🏃‍♂️, needs-stable-backport, please-review

#32297 networkctl: allow to call 'networkctl cat' without arguments
  man/networkctl.xml
  src/network/networkctl-config-file.c
  src/network/networkctl.c
  test/units/testsuite-74.networkctl.sh
Labels: network, documentation, tests, good-to-merge/waiting-for-ci 👍

#32294 network-generator: also load drop-ins for networkd.conf from credentials
  man/systemd-network-generator.service.xml
  man/systemd.system-credentials.xml
  src/network/generator/main.c
  test/units/testsuite-74.network-generator.sh
Labels: network, documentation, tests, good-to-merge/waiting-for-ci 👍

#32289 soft-reboot counter follow-ups
  man/org.freedesktop.systemd1.xml
  src/analyze/analyze-time-data.c
  src/analyze/analyze-time-data.h
  src/core/manager.c
Labels: documentation, good-to-merge/waiting-for-ci 👍

#32296 shared/vpick: also align function params in header
  src/shared/vpick.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#32236 journalctl: --list-namespaces followup
  src/journal/journalctl-misc.c
  src/journal/journalctl.c
Labels: journal, documentation, good-to-merge/waiting-for-ci 👍

#32302 Various mkosi improvements
  docs/HACKING.md
  mkosi.conf
  mkosi.images/system/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-arch/mkosi.build.chroot
  mkosi.images/system/mkosi.conf.d/10-centos-fedora/mkosi.build.chroot
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu/mkosi.build.chroot
  mkosi.images/system/mkosi.conf.d/10-opensuse/mkosi.build.chroot
  mkosi.images/system/mkosi.extra/usr/share/factory/mkosi/gdbinit.d/systemd.gdb
  mkosi.images/system/mkosi.finalize
Labels: documentation, good-to-merge/waiting-for-ci 👍, mkosi

#32295 cryptenroll: Use CTAP2.1 credProtect extension
  src/shared/libfido2-util.c
  src/shared/libfido2-util.h
Labels: util-lib, cryptsetup, good-to-merge/waiting-for-ci 👍, fido2

#32303 test-64-udev-storage: Push disk partitioning into the testsuite itself
  test/TEST-64-UDEV-STORAGE/test.sh
  test/test-functions
  test/units/testsuite-64.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#32300 test: split TEST-50-DISSECT into smaller parts
  man/systemd.exec.xml
  test/units/testsuite-50.DDI.sh
  test/units/testsuite-50.dissect.sh
  test/units/testsuite-50.mountnfsd.sh
  test/units/testsuite-50.sh
  test/units/testsuite-50.sysext.sh
Labels: documentation, tests, good-to-merge/waiting-for-ci 👍

#32313 journal-gatewayd: remove duplicate call to `startswith()`
  src/journal-remote/journal-gatewayd.c
Labels: journal-remote, good-to-merge/waiting-for-ci 👍

#32311 Some minor cleanup for string-util (ellipsis)
  src/basic/string-util.c
  src/core/show-status.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#32143 basic/linux: copy magic.h from kernel to our code
  src/basic/linux/btrfs.h
  src/basic/linux/if_link.h
  src/basic/linux/in6.h
  src/basic/linux/magic.h
  src/basic/linux/netfilter/nf_tables.h
  src/basic/linux/nexthop.h
  src/basic/linux/nl80211.h
  src/basic/meson.build
  src/basic/missing_magic.h
  src/home/homework-luks.c
  src/home/homework-quota.c
  src/shared/resize-fs.c
Labels: btrfs, build-system, util-lib, meson, please-review

#32317 mkosi: Set up -ffile-prefix-map= correctly when building debuginfo packages
  .github/workflows/mkosi.yml
  mkosi.images/system/mkosi.conf.d/10-arch/mkosi.build.chroot
  mkosi.images/system/mkosi.conf.d/10-centos-fedora/mkosi.build.chroot
  mkosi.images/system/mkosi.conf.d/10-centos/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu/mkosi.build.chroot
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi, rc-blocker 🚧
