Repository systemd/systemd, pull requests merged in 2024-01, with the labels that each got.

#30674 bus-wait-for-{jobs,units}: some cleanups/modernizations
  src/shared/bus-wait-for-jobs.c
  src/shared/bus-wait-for-jobs.h
  src/shared/bus-wait-for-units.c
  src/shared/bus-wait-for-units.h
Labels: util-lib, please-review

#30676 logind: use handle_action_to_string where appropriate
  src/login/logind-action.c
  src/login/logind-dbus.c
Labels: quick-review 🏃‍♂️, logind, please-review

#30677 utmp-wtmp: check actual value of bool instead of pointer
  src/shared/utmp-wtmp.h
Labels: util-lib, quick-review 🏃‍♂️, please-review

#30614 udev: make UdevEvent take UdevWorker object
  src/udev/test-udev-rule-runner.c
  src/udev/test-udev-spawn.c
  src/udev/udev-event.c
  src/udev/udev-event.h
  src/udev/udev-format.c
  src/udev/udev-format.h
  src/udev/udev-rules.c
  src/udev/udev-rules.h
  src/udev/udev-spawn.c
  src/udev/udev-spawn.h
  src/udev/udev-watch.c
  src/udev/udev-worker.c
  src/udev/udevadm-test-builtin.c
  src/udev/udevadm-test.c
Labels: udev, tests, please-review

#30593 dhcp: introduce sd_dhcp_duid and relevant functions
  src/libsystemd-network/dhcp-duid-internal.h
  src/libsystemd-network/dhcp-identifier.c
  src/libsystemd-network/dhcp6-internal.h
  src/libsystemd-network/meson.build
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-dhcp-duid.c
  src/libsystemd-network/sd-dhcp6-client.c
  src/libsystemd-network/sd-dhcp6-lease.c
  src/libsystemd-network/test-dhcp-client.c
  src/libsystemd-network/test-dhcp6-client.c
  src/network/netdev/macsec.c
  src/network/networkd-dhcp-common.c
  src/network/networkd-dhcp-common.h
  src/network/networkd-dhcp6.c
  src/network/networkd-link.c
  src/network/networkd-manager.h
  src/systemd/meson.build
  src/systemd/sd-dhcp-duid.h
  src/systemd/sd-dhcp6-client.h
Labels: network, build-system, tests, dhcp, meson, please-review

#30591 device-util: introduce device_in_subsystem() and device_is_devtype() helper functions
  src/backlight/backlight.c
  src/dissect/dissect.c
  src/libsystemd/sd-device/device-enumerator.c
  src/libsystemd/sd-device/device-monitor.c
  src/libsystemd/sd-device/device-util.c
  src/libsystemd/sd-device/device-util.h
  src/libsystemd/sd-device/sd-device.c
  src/libsystemd/sd-device/test-device-util.c
  src/login/logind-core.c
  src/login/logind-session-device.c
  src/mount/mount-tool.c
  src/network/networkctl.c
  src/network/networkd-manager.c
  src/network/networkd-wiphy.c
  src/shared/blockdev-util.c
  src/udev/test-udev-rule-runner.c
  src/udev/udev-builtin-hwdb.c
  src/udev/udev-builtin-net_id.c
  src/udev/udev-builtin-path_id.c
  src/udev/udev-builtin-usb_id.c
  src/udev/udev-node.c
  src/udev/udev-worker.c
Labels: util-lib, tree-wide, please-review

#30378 sd-journal: introduce cleanup function and hash ops for Directory
  src/libsystemd/sd-journal/journal-internal.h
  src/libsystemd/sd-journal/sd-journal.c
Labels: journal, please-review

#30684 ci: migrate labeler configuration to the new format
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: tests, ci, please-review

#30660 storagetm: ensure we pass dev_t* to sd_device_get_devnum
  src/storagetm/storagetm.c
Labels: storagetm

#30685 various: unexport a few internal structs
  src/hibernate-resume/hibernate-resume-config.c
  src/hibernate-resume/hibernate-resume-config.h
  src/shared/edit-util.c
  src/shared/edit-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#30687 test: rewrite test-exec-deserialization.py
  test/test-exec-deserialization.py
  test/units/testsuite-07.exec-deserialization.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#30691 resolve: do not listen to IPv6 when disabled by sysctl
  src/resolve/resolved-llmnr.c
  src/resolve/resolved-mdns.c
  units/systemd-resolved.service.in
Labels: resolve, good-to-merge/waiting-for-ci 👍, units

#30692 network/queue: fix potential double-free on oom
  src/network/networkd-queue.c
Labels: network, good-to-merge/waiting-for-ci 👍

#30693 network/route: drop TTL propagate support for MPLS routes
  man/systemd.network.xml
  src/network/networkd-network-gperf.gperf
  src/network/networkd-route.c
  src/network/networkd-route.h
Labels: network, documentation, good-to-merge/waiting-for-ci 👍

#30700 storagetm: several trivial fixlets
  src/storagetm/storagetm.c
Labels: good-to-merge/waiting-for-ci 👍, needs-stable-backport, storagetm

#30701 udev/dmi-memory-id: update table with latest SMBIOS specification
  src/udev/dmi_memory_id/dmi_memory_id.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#30562 backlight: supprt ID_LEDS_CLAMP udev property for leds subsystem devices
  man/systemd-backlight@.service.xml
  src/backlight/backlight.c
Labels: documentation, backlight, good-to-merge/waiting-for-ci 👍

#30702 dhcp: introduce sd_dhcp_client_id and relevant functions
  src/libsystemd-network/dhcp-client-id-internal.h
  src/libsystemd-network/dhcp-lease-internal.h
  src/libsystemd-network/meson.build
  src/libsystemd-network/sd-dhcp-client-id.c
  src/libsystemd-network/sd-dhcp-client.c
  src/libsystemd-network/sd-dhcp-lease.c
  src/network/networkctl.c
  src/systemd/meson.build
  src/systemd/sd-dhcp-client-id.h
  src/systemd/sd-dhcp-client.h
  src/systemd/sd-dhcp-lease.h
Labels: network, build-system, dhcp, good-to-merge/waiting-for-ci 👍, meson

#30698 fundamental: prefer byte swap builtins over byte swapping manually
  src/fundamental/sha256.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#30686 efi-loader: when detecting if we are booted in UKI measured boot mode, imply a check for TPM2
  src/shared/efi-loader.c
  units/systemd-tpm2-setup-early.service.in
  units/systemd-tpm2-setup.service.in
Labels: pid1, util-lib, units, tpm2, please-review

#30694 sd-netlink: two cleanups
  src/libsystemd/sd-netlink/netlink-message-rtnl.c
  src/libsystemd/sd-netlink/netlink-message.c
  src/libsystemd/sd-netlink/netlink-util.h
  src/network/networkd-bridge-vlan.c
  src/systemd/sd-netlink.h
Labels: network, sd-netlink, good-to-merge/waiting-for-ci 👍

#30096 resolve/mdns: do not append goodby packet entries to known answers section
  src/resolve/resolved-dns-cache.c
Labels: resolve, please-review

#30688 tpm2-util: handle TPMs gracefully that do not support ECC and return …
  src/shared/tpm2-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, tpm2, needs-stable-backport

#30697 network/address: several cleanups for address removal
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-dhcp-prefix-delegation.c
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-ipv4acd.c
  src/network/networkd-ipv4ll.c
  src/network/networkd-ndisc.c
Labels: network, good-to-merge/waiting-for-ci 👍

#30704 dhcp-server: use sd_dhcp_client_id and split out lease handling to sd-dhcp-server-lease.[ch]
  src/libsystemd-network/dhcp-client-id-internal.h
  src/libsystemd-network/dhcp-server-internal.h
  src/libsystemd-network/dhcp-server-lease-internal.h
  src/libsystemd-network/fuzz-dhcp-server.c
  src/libsystemd-network/meson.build
  src/libsystemd-network/sd-dhcp-client-id.c
  src/libsystemd-network/sd-dhcp-server-lease.c
  src/libsystemd-network/sd-dhcp-server.c
  src/libsystemd-network/test-dhcp-server.c
  src/network/networkd-dhcp-server-bus.c
  src/network/networkd-json.c
  src/systemd/meson.build
  src/systemd/sd-dhcp-server-lease.h
Labels: network, build-system, tests, dhcp, good-to-merge/waiting-for-ci 👍, meson

#30709 labeler: add matches for login and logind
  .github/labeler.yml
Labels: quick-review 🏃‍♂️, please-review

#29940 stub/sysext: pick up confexts from ESP, too
  man/systemd-stub.xml
  src/analyze/analyze-image-policy.c
  src/boot/bootctl-status.c
  src/boot/efi/cpio.c
  src/boot/efi/cpio.h
  src/boot/efi/stub.c
  src/fundamental/efivars-fundamental.h
  src/shared/discover-image.c
  src/shared/image-policy.c
  src/shared/image-policy.h
  src/sysext/sysext.c
  src/test/test-image-policy.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, tpm2, sysext

#30504 Fix KeepCarrier tun/tap device option
  src/network/netdev/tuntap.c
Labels: network, please-review

#28836 core/manager: add dbus API to create auxiliary scope from running service
  man/org.freedesktop.systemd1.xml
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-manager.c
  src/test/meson.build
  src/test/test-aux-scope.c
  test/units/testsuite-07.aux-scope.sh
Labels: documentation, pid1, build-system, util-lib, tests, good-to-merge/waiting-for-ci 👍, meson

#30532 udev: extend timeout to prevent kill worker
  docs/ENVIRONMENT.md
  src/udev/udev-manager.c
  src/udev/udev-spawn.c
  test/units/testsuite-17.03.sh
Labels: udev, tests, good-to-merge/waiting-for-ci 👍

#30711 test: install correct kpartx udev rules on Debian
  test/test-functions
Labels: tests, good-to-merge/waiting-for-ci 👍

#30714 test: temporarily adjust the default mount rate limit
  test/TEST-74-AUX-UTILS/test.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#30710 logind-session: modernization
  src/login/logind-session-device.c
  src/login/logind-session-device.h
  src/login/logind-session.c
Labels: good-to-merge/waiting-for-ci 👍, logind

#30681 basic: fix overflow detection in sigbus_pop
  src/basic/sigbus.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#30455 logind: don't setup idle session watch for lock-screen and greeter
  man/logind.conf.xml
  src/login/logind-session.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, logind

#28797 Add MemoryMaxEffective=, MemoryHighEffective= and TasksMaxEff… …ective= properties
  man/org.freedesktop.systemd1.xml
  man/systemd.resource-control.xml
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-unit.c
  src/shared/bus-print-properties.c
  test/units/testsuite-05.effective-limit.sh
  test/units/testsuite-05.rlimit.sh
  test/units/testsuite-05.service
  test/units/testsuite-05.sh
  test/units/util.sh
Labels: cgroups, documentation, util-lib, tests, good-to-merge/waiting-for-ci 👍

#26663 add new "vpick" concept for automatically picking newest resource from .v/ dir containing versioned files
  TODO
  man/rules/meson.build
  man/systemd-dissect.xml
  man/systemd-nspawn.xml
  man/systemd-vpick.xml
  man/systemd.exec.xml
  man/systemd.v.xml
  meson.build
  src/basic/stat-util.c
  src/basic/stat-util.h
  src/basic/string-util.c
  src/basic/string-util.h
  src/basic/strv.c
  src/basic/strv.h
  src/core/exec-invoke.c
  src/dissect/dissect.c
  src/nspawn/nspawn.c
  src/shared/discover-image.c
  src/shared/meson.build
  src/shared/vpick.c
  src/shared/vpick.h
  src/test/meson.build
  src/test/test-stat-util.c
  src/test/test-string-util.c
  src/test/test-strv.c
  src/test/test-vpick.c
  src/vpick/meson.build
  src/vpick/vpick-tool.c
  test/units/testsuite-50.sh
  test/units/testsuite-74.vpick.sh
Labels: nspawn, documentation, pid1, build-system, new-feature, util-lib, tests, good-to-merge/waiting-for-ci 👍, dissect, meson

#30513 resolved: support RFC 8914 EDE error codes
  src/resolve/resolved-bus.c
  src/resolve/resolved-dns-packet.c
  src/resolve/resolved-dns-packet.h
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-query.h
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-dns-transaction.h
Labels: resolve, good-to-merge/with-minor-suggestions

#30729 logind: use FOREACH_ARRAY() where appropriate
  src/login/logind-user.c
Labels: login, good-to-merge/waiting-for-ci 👍, logind

#30726 tpm2-generator: sort includes
  src/tpm2-setup/tpm2-generator.c
Labels: good-to-merge/waiting-for-ci 👍, tpm2

#30718 network/netdev: call done() per netdev kind before freeing netdev name or so
  src/network/netdev/netdev.c
Labels: network, good-to-merge/waiting-for-ci 👍, please-review

#30725 string-util,strv: follow-ups
  src/basic/string-util.c
  src/basic/string-util.h
  src/basic/strv.c
  src/basic/strv.h
  src/fundamental/string-util-fundamental.c
  src/fundamental/string-util-fundamental.h
  src/shared/discover-image.c
  src/test/test-strv.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#30746 Fix typo in verb_make_policy explanation
  src/pcrlock/pcrlock.c
Labels: please-review

#30733 execute: make sure Type=exec and PAMName= work together
  src/core/exec-invoke.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#30730 pam_systemd: drop unnecessary strempty() of 'tty' variable
  src/login/pam_systemd.c
Labels: login, good-to-merge/waiting-for-ci 👍, logind

#30737 homed: add missing bus call to homed access policy
  src/home/org.freedesktop.home1.conf
Labels: good-to-merge/waiting-for-ci 👍, homed

#30736 man/loginctl: some improvements
  man/loginctl.xml
Labels: login, documentation, good-to-merge/waiting-for-ci 👍

#30732 update-man-rules: skip over standard-conf.xml
  tools/update-man-rules.py
Labels: good-to-merge/waiting-for-ci 👍

#30578 varlink: add glue to allow authenticating varlink connections via polkit
  src/basic/missing_socket.h
  src/basic/missing_wait.h
  src/basic/pidref.c
  src/basic/pidref.h
  src/basic/process-util.c
  src/basic/process-util.h
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/core/dbus.c
  src/creds/creds.c
  src/creds/io.systemd.credentials.policy
  src/creds/meson.build
  src/home/homed-manager.c
  src/hostname/hostnamed.c
  src/import/importd.c
  src/locale/localed-util.c
  src/login/logind.c
  src/machine/machined.c
  src/network/networkd-manager.c
  src/oom/oomd-manager.c
  src/portable/portabled.c
  src/resolve/resolved-manager.c
  src/shared/bus-polkit.c
  src/shared/bus-polkit.h
  src/shared/json.c
  src/shared/json.h
  src/shared/varlink.c
  src/shared/varlink.h
  src/test/test-json.c
  src/test/test-process-util.c
  src/timedate/timedated.c
  src/timesync/timesyncd-manager.c
  units/systemd-creds.socket
Labels: network, resolve, build-system, util-lib, tests, timesync, timedate, units, meson, portable, varlink, creds, please-review

#30719 network/route: make the route section invalid when an invalid MTUBytes= is specified
  src/network/networkd-route.c
  src/shared/conf-parser.c
Labels: network, util-lib, good-to-merge/waiting-for-ci 👍

#30610 logind: serialize session leader pidfd to fdstore
  src/basic/process-util.c
  src/login/logind-session-dbus.c
  src/login/logind-session.c
  src/login/logind-session.h
  src/login/logind.c
  test/units/testsuite-35.sh
  units/systemd-logind.service.in
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍, units, logind

#30734 homed: tone down log message about bad passwords a bit
  src/home/homed-home.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#30735 homed: fix home_count_bad_authentication() counting
  src/home/homed-home.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#30738 homed: when empty username is passed to bus calls, operate on client's UID
  src/home/homed-manager-bus.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#30739 pam-util: add pam_get_item_many() to shorten some code
  src/home/pam_systemd_home.c
  src/login/pam_systemd.c
  src/shared/pam-util.c
  src/shared/pam-util.h
Labels: login, util-lib, good-to-merge/waiting-for-ci 👍, logind

#30740 logind: don't make idle action timer accuracy more coarse than timeout
  src/login/logind.c
Labels: login, good-to-merge/waiting-for-ci 👍, logind

#30744 logind: 3 trivial cleanups
  src/home/homed-manager-bus.c
  src/home/pam_systemd_home.c
  src/login/logind-session.c
Labels: login, good-to-merge/waiting-for-ci 👍, logind

#30414 tmpfiles: add --purge switch
  man/systemd-tmpfiles.xml
  src/tmpfiles/tmpfiles.c
  test/units/testsuite-22.18.sh
Labels: tmpfiles, good-to-merge/waiting-for-ci 👍

#30758 vpick: trivial follow-up
  src/shared/vpick.h
  src/vpick/vpick-tool.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#30749 tmpfiles: correctly apply globbing when cleaning 'x' lines
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles, good-to-merge/waiting-for-ci 👍

#30751 json: drop redundant check
  src/shared/json.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#30748 logind: use unlink_and_free() at once more place
  src/login/logind-session.c
Labels: login, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, logind

#30755 find-esp: adjust parameter indentating to our usual coding style
  src/shared/find-esp.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#30757 creds: rename "tpm2-absent" encryption to "null" encryption
  man/systemd-creds.xml
  src/creds/creds.c
  src/shared/creds-util.c
  src/shared/creds-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍, tpm2, creds

#30756 creds-util: automatically append NUL byte to decrypted creds
  src/shared/creds-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, creds

#23086 journalctl: add --exclude-identifier option
  man/journalctl.xml
  shell-completion/bash/journalctl
  src/journal/journalctl.c
  src/libsystemd/sd-journal/journal-internal.h
  src/libsystemd/sd-journal/sd-journal.c
  src/shared/logs-show.c
  test/testsuite-04.units/verbose-success.service
  test/units/testsuite-04.journal.sh
Labels: journal, documentation, util-lib, tests, good-to-merge/waiting-for-ci 👍

#30759 resolve: initialize `r` during OOM
  .github/workflows/build_test.sh
  src/libsystemd/sd-journal/journal-file.c
  src/login/logind.c
  src/resolve/resolved-dns-query.c
  src/shared/pkcs11-util.c
  src/shared/tpm2-util.c
Labels: journal, resolve, util-lib, tests, good-to-merge/waiting-for-ci 👍, tpm2, logind

#30774 test: install correct kpartx udev rules (again) and dump cores of sanitized binaries
  test/test-functions
Labels: tests, good-to-merge/waiting-for-ci 👍

#30743 Assorted coverity fixes
  docs/ENVIRONMENT.md
  src/core/cgroup.c
  src/dissect/dissect.c
  src/libsystemd-network/sd-dhcp-client-id.c
  src/udev/udev-manager.c
Labels: udev, network, pid1, good-to-merge/waiting-for-ci 👍, coverity

#30769 stat-util: Add statx version of timespec_load
  src/basic/stat-util.h
  src/tmpfiles/tmpfiles.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#30753 tree-wide: use defines from special.h in some missing places
  src/fsck/fsck.c
  src/run/run.c
  src/test/test-engine.c
Labels: good-to-merge/waiting-for-ci 👍

#30750 Use .d path for PCRLOCK_KERNEL_*_PATH
  src/pcrlock/pcrlock.c
Labels: good-to-merge/waiting-for-ci 👍, tpm2, needs-stable-backport

#30731 logind: rework the special casing we give root's sessions
  src/login/logind-session.c
  src/login/logind-session.h
  src/login/logind-user.c
  src/login/pam_systemd.c
Labels: login, good-to-merge/waiting-for-ci 👍, logind

#30745 core/cgroup: use designated initializer more, make dup source const
  src/core/cgroup.c
  src/core/cgroup.h
Labels: pid1, good-to-merge/waiting-for-ci 👍

#30761 network: do not make the implied default have the first priority
  src/network/networkd-link.c
  src/network/networkd-network.c
Labels: network, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#30728 Assign noDA attribute to TPM2 objects not dependant on a PIN
  src/pcrlock/pcrlock.c
  src/shared/tpm2-util.c
Labels: util-lib, tpm2, please-review

#30772 test-network: add more test cases and several cleanups
  test/test-network/conf/25-neighbor-dummy.network
  test/test-network/conf/25-neighbor-dummy.network.d/10-step1.conf
  test/test-network/conf/25-neighbor-dummy.network.d/10-step2.conf
  test/test-network/conf/25-neighbor-dummy.network.d/10-step3.conf
  test/test-network/conf/25-neighbor-next.network
  test/test-network/conf/25-nexthop-1.network
  test/test-network/conf/25-nexthop-2.network
  test/test-network/conf/25-nexthop-dummy-1.network
  test/test-network/conf/25-nexthop-dummy-2.network
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, please-review

#30783 test: wait for verbose-success.service finished
  test/units/testsuite-04.journal.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#30785 json: add flag for allowing extension of json objects when dispatching, without otherwise being permissive
  src/hibernate-resume/hibernate-resume-config.c
  src/network/networkctl.c
  src/nss-resolve/nss-resolve.c
  src/shared/group-record.c
  src/shared/json.c
  src/shared/json.h
  src/shared/user-record.c
  src/shared/userdb.c
Labels: network, resolve, util-lib, tree-wide, good-to-merge/waiting-for-ci 👍, userdb

#30784 json: add macro for automatically defining a dispatcher for an enum
  src/oom/oomd-manager.c
  src/shared/json.h
  src/shared/user-record.c
  src/test/test-json.c
Labels: util-lib, tests, tree-wide, good-to-merge/waiting-for-ci 👍

#30754 tpm2-util: convert various things over to struct iovec rather that data ptr + size
  src/basic/iovec-util.h
  src/core/exec-credential.c
  src/creds/creds.c
  src/cryptenroll/cryptenroll-tpm2.c
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-systemd-tpm2.c
  src/cryptsetup/cryptsetup-tokens/luks2-tpm2.c
  src/cryptsetup/cryptsetup-tokens/luks2-tpm2.h
  src/cryptsetup/cryptsetup-tpm2.c
  src/cryptsetup/cryptsetup-tpm2.h
  src/cryptsetup/cryptsetup.c
  src/partition/repart.c
  src/shared/creds-util.c
  src/shared/creds-util.h
  src/shared/json.c
  src/shared/json.h
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
  src/test/meson.build
  src/test/test-iovec-util.c
  src/test/test-json.c
  src/test/test-tpm2.c
Labels: build-system, util-lib, tests, good-to-merge/waiting-for-ci 👍, meson, repart, tpm2

#30790 creds: allow using NULL encryption if explicitly requested even if TPM is available, and add a comprehensive credential encryption/decrpytion test
  src/core/exec-credential.c
  src/creds/creds.c
  src/shared/creds-util.c
  src/shared/creds-util.h
  src/test/test-creds.c
Labels: util-lib, tests, creds, please-review

#30791 nspawn: make some files we expose in /run/host/ in nspawn read-only via access mode
  src/basic/fileio.c
  src/basic/fileio.h
  src/nspawn/nspawn.c
Labels: nspawn, util-lib, good-to-merge/waiting-for-ci 👍

#30771 parse-helpers: allow port 0 for socket bind items
  src/basic/parse-util.c
  src/basic/parse-util.h
  src/network/netdev/vxlan.c
  src/network/networkd-routing-policy-rule.c
  src/shared/parse-helpers.c
  src/test/test-parse-helpers.c
Labels: network, util-lib, tests, good-to-merge/waiting-for-ci 👍

#30775 network: introduce nexthop_is_ready() helper function and use it
  src/network/networkd-nexthop.c
  src/network/networkd-nexthop.h
  src/network/networkd-route.c
Labels: network, good-to-merge/waiting-for-ci 👍

#30789 dev-setup: rework make_inaccessible_nodes() around openat() and friends
  src/shared/dev-setup.c
  src/test/test-dev-setup.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#30796 journalctl: provide shell completion for --namespace=
  shell-completion/bash/journalctl
  shell-completion/zsh/_journalctl
  src/journal/journalctl.c
  test/units/testsuite-44.sh
Labels: journal, shell completion, tests, good-to-merge/waiting-for-ci 👍

#30797 udevadm: allow to override the default log level by environment variable
  src/udev/udevadm-test-builtin.c
  src/udev/udevadm-test.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#30794 socket-util: add more careful parsers for AF_VSOCK cid/port
  src/basic/missing_socket.h
  src/basic/socket-util.c
  src/basic/socket-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#30798 core: escape spaces in paths during serialization
  src/core/execute-serialize.c
  test/units/testsuite-07.exec-context.sh
Labels: pid1, tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#30792 nspawn: lock down access to notify socket a bit
  src/nspawn/nspawn.c
Labels: nspawn, good-to-merge/waiting-for-ci 👍

#30801 test-network: several cleanups
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, please-review

#30806 test: reinitialize arg_transport before parsing arguments
  src/systemctl/fuzz-systemctl-parse-argv.c
Labels: quick-review 🏃‍♂️, fuzzing, please-review

#30767 network/link: always join to the main interface when we receive IFLA_MASTER attribute
  src/network/networkd-link.c
Labels: network, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, needs-stable-backport

#30803 network/route: trivial cleanups for conf parsers
  src/network/meson.build
  src/network/networkd-network-gperf.gperf
  src/network/networkd-route-metric.c
  src/network/networkd-route-metric.h
  src/network/networkd-route-nexthop.c
  src/network/networkd-route-nexthop.h
  src/network/networkd-route.c
  src/network/networkd-route.h
Labels: network, build-system, good-to-merge/waiting-for-ci 👍, meson

#30808 repart: don't crash when looping over dropped partitions
  src/partition/repart.c
  test/units/testsuite-58.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, repart, needs-stable-backport

#30807 TEST-24-CRYPTSETUP: depend on OpenSSL for testing PKCS#11 tokens
  test/TEST-24-CRYPTSETUP/test.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#30805 test: sync the "foobaz" namespace as well
  test/units/testsuite-44.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#30795 logind: don't use assertion for deserialized_pid
  src/login/logind.c
Labels: good-to-merge/waiting-for-ci 👍, logind

#30815 resolve: NSCOUNT of DNS query may not be zero
  src/resolve/resolved-dns-packet.c
  test/knot-data/knot.conf
  test/units/testsuite-75.sh
Labels: resolve, tests, good-to-merge/waiting-for-ci 👍

#30787 hostnamed: expose AF_VSOCK CID among hostnamed/hostnamectl info
  man/org.freedesktop.hostname1.xml
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/hostname/hostnamectl.c
  src/hostname/hostnamed.c
  units/systemd-hostnamed.service.in
Labels: documentation, util-lib, hostname, good-to-merge/waiting-for-ci 👍, units

#30827 network-generator: pick up .netdev/.link/.network configuration via c…
  man/systemd-network-generator.service.xml
  man/systemd.system-credentials.xml
  src/network/generator/main.c
  test/units/testsuite-74.network-generator.sh
  units/systemd-network-generator.service.in
Labels: network, documentation, tests, good-to-merge/waiting-for-ci 👍, units

#30828 virt: fix detection of avx2 and friends
  src/basic/virt.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#30820 timesync: IPTOS_LOWDELAY --> IPTOS_DSCP_EF
  src/timesync/timesyncd-manager.c
Labels: timesync, please-review

#30829 bus-polkit: fix memory leak
  src/shared/bus-polkit.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#30830 tmpfiles: fix memory leak in `arg_exclude_prefixes`
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles, good-to-merge/waiting-for-ci 👍

#30834 hexdecoct: make unbase64mem and unhexmem always use SIZE_MAX
  src/analyze/analyze-pcrs.c
  src/basic/hexdecoct.c
  src/basic/hexdecoct.h
  src/boot/measure.c
  src/core/execute-serialize.c
  src/core/import-creds.c
  src/core/load-fragment.c
  src/core/main.c
  src/cryptenroll/cryptenroll-tpm2.c
  src/cryptsetup/cryptsetup-pkcs11.c
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-systemd-fido2.c
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-systemd-pkcs11.c
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-systemd-tpm2.c
  src/cryptsetup/cryptsetup-tokens/luks2-fido2.c
  src/cryptsetup/cryptsetup-tokens/luks2-pkcs11.c
  src/cryptsetup/cryptsetup.c
  src/dissect/dissect.c
  src/home/homework-fscrypt.c
  src/import/pull.c
  src/libsystemd-network/sd-dhcp-lease.c
  src/libsystemd/sd-bus/bus-socket.c
  src/libsystemd/sd-event/sd-event.c
  src/network/netdev/macsec.c
  src/nspawn/nspawn.c
  src/resolve/resolved-conf.c
  src/resolve/resolved-dns-trust-anchor.c
  src/shared/bus-unit-util.c
  src/shared/cryptsetup-fido2.c
  src/shared/dissect-image.c
  src/shared/json.c
  src/shared/tests.h
  src/shared/tpm2-util.c
  src/shared/user-record.c
  src/sysupdate/sysupdate-pattern.c
  src/sysupdate/sysupdate-resource.c
  src/test/test-hexdecoct.c
  src/tmpfiles/tmpfiles.c
  src/veritysetup/veritysetup-generator.c
  src/veritysetup/veritysetup.c
Labels: network, resolve, sd-bus, util-lib, tests, sd-boot/sd-stub/bootctl, sd-event, good-to-merge/waiting-for-ci 👍, tpm2, sysupdate

#30825 discover-image: don't accidentally set /run/systemd/nspawn/ access mode too strict
  src/shared/discover-image.c
Labels: nspawn, util-lib, good-to-merge/waiting-for-ci 👍

#30831 socket-util: modernize socknameinfo_pretty() a bit
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/journal-remote/journal-remote.c
Labels: util-lib, journal-remote, please-review

#30837 varlink: add "ssh:" transport for talking to remote servers
  docs/ENVIRONMENT.md
  man/varlinkctl.xml
  src/basic/env-util.c
  src/basic/env-util.h
  src/basic/fd-util.c
  src/basic/fd-util.h
  src/basic/process-util.c
  src/journal/cat.c
  src/libsystemd/sd-bus/sd-bus.c
  src/shared/varlink.c
  src/userdb/userdbd-manager.c
  test/TEST-74-AUX-UTILS/test.sh
  test/units/testsuite-74.varlinkctl.sh
Labels: journal, documentation, sd-bus, util-lib, tests, userdb, varlink, please-review

#30722 simplify bitwise checking
  src/core/namespace.c
  src/shared/mount-util.c
Labels: util-lib, good-to-merge/with-minor-suggestions

#30838 cocci: merge mfree.cocci and mfree_return.cocci
  coccinelle/mfree.cocci
  coccinelle/mfree_return.cocci
Labels: coccinelle, good-to-merge/with-minor-suggestions

#30826 networkd/wireguard: support network.wireguard.* credentials
  man/systemd.netdev.xml
  man/systemd.system-credentials.xml
  src/network/netdev/wireguard.c
  test/test-network/conf/25-wireguard-endpoint-peer0-cred.txt
  test/test-network/conf/25-wireguard-no-peer-private-key-cred.txt
  test/test-network/conf/25-wireguard-no-peer.netdev
  test/test-network/conf/25-wireguard-preshared-key-peer2-cred.txt
  test/test-network/conf/25-wireguard.netdev
  test/test-network/conf/25-wireguard.netdev.d/peer2.conf
  test/test-network/systemd-networkd-tests.py
  units/systemd-networkd.service.in
Labels: network, documentation, tests, good-to-merge/waiting-for-ci 👍, units

#30842 analyze: minor fixes
  man/systemd-analyze.xml
  shell-completion/bash/systemd-analyze
  src/analyze/analyze.c
Labels: documentation, please-review

#30833 hostnamed: add simple varlink interface
  src/hostname/hostnamed.c
  src/libsystemd/sd-id128/id128-util.c
  src/shared/meson.build
  src/shared/varlink-io.systemd.Hostname.c
  src/shared/varlink-io.systemd.Hostname.h
  test/units/testsuite-71.sh
  test/units/testsuite-74.varlinkctl.sh
  units/meson.build
  units/systemd-hostnamed.socket
Labels: build-system, util-lib, tests, hostname, good-to-merge/waiting-for-ci 👍, units, sd-id128, meson, varlink

#30845 mkosi: Update to latest
  .github/workflows/mkosi.yml
  mkosi.images/system/mkosi.conf.d/10-ubuntu.conf
Labels: tests, mkosi, please-review

#30848 nspawn: drop empty #if/#endif section
  src/nspawn/nspawn.c
Labels: nspawn, good-to-merge/waiting-for-ci 👍

#30844 Rename uid-alloc-range.[ch] files
  src/basic/meson.build
  src/basic/uid-classification.c
  src/basic/uid-classification.h
  src/basic/uid-range.c
  src/basic/uid-range.h
  src/core/dynamic-user.c
  src/core/manager.c
  src/coredump/coredump.c
  src/dissect/dissect.c
  src/home/homectl.c
  src/home/homed-home.c
  src/journal/journald-server.c
  src/libsystemd/sd-device/device-monitor.c
  src/libsystemd/sd-journal/sd-journal.c
  src/login/logind-session.c
  src/login/logind-user.c
  src/shared/condition.c
  src/shared/group-record.c
  src/shared/user-record.c
  src/sysusers/sysusers.c
  src/test/meson.build
  src/test/test-condition.c
  src/test/test-uid-classification.c
  src/test/test-uid-range.c
  src/userdb/userdbctl.c
Labels: journal, build-system, util-lib, tests, coredump, sd-device, good-to-merge/waiting-for-ci 👍, meson, userdb, logind

#30853 core: allow fstab-style nodes in mount/swap What=
  man/systemd.mount.xml
  man/systemd.swap.xml
  src/core/dbus-mount.c
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/core/load-fragment.h
Labels: documentation, pid1, good-to-merge/waiting-for-ci 👍

#30841 creds-util: make read_credential_strings_many behave the same as comment
  src/shared/creds-util.c
  src/test/test-creds.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#30849 Modernize a couple of daemons that use bus_event_loop_with_idle
  src/hostname/hostnamed.c
  src/import/importd.c
  src/locale/localed.c
  src/machine/machined.c
  src/portable/portabled.c
  src/shared/bus-util.c
  src/timedate/timedated.c
  units/systemd-hostnamed.service.in
  units/systemd-importd.service.in
  units/systemd-localed.service.in
  units/systemd-timedated.service.in
Labels: util-lib, timedate, good-to-merge/waiting-for-ci 👍, units, portable

#30839 detect-virt: add Google Compute Engine support
  man/systemd-detect-virt.xml
  src/basic/virt.c
  src/basic/virt.h
Labels: documentation, util-lib, detect-virt, good-to-merge/waiting-for-reporter-feedback 👍

#30854 test: skip test_exec_networknamespacepath if netns setup fails
  src/test/test-execute.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#30860 kernel-install/coredumpctl: fix memory leaks
  src/coredump/coredumpctl.c
  src/kernel-install/kernel-install.c
Labels: coredump, good-to-merge/waiting-for-ci 👍

#30858 test-network: add test case for MACAddress=none in .netdev and MACAddressPolicy=non in .link
  test/test-network/conf/26-bridge-mac-master.network
  test/test-network/conf/26-bridge-mac-slave.network
  test/test-network/conf/26-bridge-mac.link
  test/test-network/conf/26-bridge-mac.netdev
  test/test-network/systemd-networkd-tests.py
Labels: udev, network, tests, please-review

#30862 kernel-install: clarify what is currently supported with --root and --image
  src/kernel-install/kernel-install.c
Labels: kernel-install, please-review

#30859 Update 60-sensor.hwdb
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#30865 pam_systemd_home: move two bool flags into a proper flags parameter
  src/home/pam_systemd_home.c
Labels: login, good-to-merge/waiting-for-ci 👍

#30870 firstboot: minor fixes
  src/firstboot/firstboot.c
Labels: firstboot, good-to-merge/waiting-for-ci 👍

#30868 logind-action: query HandleActionData.sleep_operation where appropriate
  src/login/logind-action.c
Labels: good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, logind

#30866 pam-util: implement our own pam_prompt() replacement, that doesn't lo…
  src/home/pam_systemd_home.c
  src/shared/pam-util.c
  src/shared/pam-util.h
Labels: login, util-lib, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#30864 repart: fix memory leak
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated, repart, needs-stable-backport

#30861 watchdog: ensure configured timeout is used instead of USEC_INFINITY
  src/shared/watchdog.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#30809 resolve: fix EDE handling
  src/resolve/meson.build
  src/resolve/resolvectl.c
  src/resolve/resolved-bus.c
  src/resolve/resolved-dns-dnssec.c
  src/resolve/resolved-dns-dnssec.h
  src/resolve/resolved-dns-packet.c
  src/resolve/resolved-dns-packet.h
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-query.h
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-dns-transaction.h
  src/resolve/resolved-manager.c
  src/resolve/resolved-manager.h
  src/resolve/resolved-varlink.c
  src/resolve/test-resolved-dummy-server.c
  src/shared/varlink-io.systemd.Resolve.Monitor.c
  src/shared/varlink-io.systemd.Resolve.c
  test/knot-data/knot.conf
  test/units/testsuite-75.sh
Labels: resolve, build-system, util-lib, tests, good-to-merge/waiting-for-ci 👍, meson

#30811 network/route-metric: introduce RouteMetric to unify route metric handling
  src/network/networkd-dhcp4.c
  src/network/networkd-json.c
  src/network/networkd-ndisc.c
  src/network/networkd-route-metric.c
  src/network/networkd-route-metric.h
  src/network/networkd-route.c
  src/network/networkd-route.h
  src/shared/conf-parser.c
Labels: network, util-lib, please-review

#30764 network/queue: exit from loop of processing request when a new request is queued
  src/network/networkd-manager.h
  src/network/networkd-queue.c
Labels: network, please-review

#30720 dhcp-server: several fixlets for address verification
  src/libsystemd-network/sd-dhcp-server-lease.c
  src/libsystemd-network/sd-dhcp-server.c
  src/libsystemd-network/test-dhcp-server.c
Labels: network, tests, dhcp, please-review

#30706 logind: Mark LidClosed property as "emits change"
  man/org.freedesktop.login1.xml
  src/login/logind-button.c
  src/login/logind-dbus.c
Labels: ci-failure-appears-unrelated, logind, please-review

#30716 network: also remove configuration on cancelling request
  src/network/networkd-link.c
  src/network/networkd-neighbor.c
  src/network/networkd-neighbor.h
  src/network/networkd-nexthop.c
  src/network/networkd-nexthop.h
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, please-review

#30717 network: introduce address_ref() and friends
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-dhcp-prefix-delegation.c
  src/network/networkd-dhcp-server.c
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-ipv4ll.c
  src/network/networkd-ndisc.c
  src/network/networkd-neighbor.c
  src/network/networkd-neighbor.h
  src/network/networkd-network.c
  src/network/networkd-nexthop.c
  src/network/networkd-nexthop.h
  src/network/networkd-radv.c
  src/shared/conf-parser.c
  src/shared/conf-parser.h
Labels: network, util-lib, please-review

#30835 tree-wide: replace string functions with fundamental functions
  src/basic/env-util.c
  src/basic/process-util.c
  src/basic/string-util.c
  src/libsystemd/sd-bus/sd-bus.c
  src/shared/efi-api.c
  src/shared/fstab-util.c
  src/udev/udev-builtin-path_id.c
Labels: udev, sd-bus, util-lib, please-review

#30817 boot/efi: use Header field of hd directly instead of casting to EFI_DEVICE_PATH
  src/boot/efi/part-discovery.c
Labels: sd-boot/sd-stub/bootctl, please-review

#30514 test-systemctl-enable: make titles more consistent
  test/test-systemctl-enable.sh
Labels: tests, please-review

#30879 dhcp: introduce json_dispatch_client_id() and friends
  src/libsystemd-network/dhcp-client-id-internal.h
  src/libsystemd-network/sd-dhcp-client-id.c
  src/libsystemd-network/sd-dhcp-duid.c
  src/shared/json.c
  src/shared/json.h
Labels: network, util-lib, dhcp, good-to-merge/with-minor-suggestions

#26701 Revert "initrd-parse-etc: override argv[0] to avoid dracut issue"
  units/initrd-parse-etc.service.in
Labels: good-to-merge/waiting-for-ci 👍, units

#30883 test: fix dbus installation on Arch
  test/test-functions
Labels: tests, good-to-merge/waiting-for-ci 👍

#30881 analyze: clarify that `security --offline=true` requires an argument
  man/systemd-analyze.xml
  src/analyze/analyze.c
Labels: documentation, analyze, good-to-merge/waiting-for-ci 👍

#30880 man: fix references to systemd.exec(5)
  man/homectl.xml
  man/org.freedesktop.systemd1.xml
  man/systemd-cryptsetup.xml
  man/systemd-firstboot.xml
  man/systemd-resolved.service.xml
  man/systemd-sysctl.service.xml
  man/systemd-sysusers.xml
  man/systemd-tmpfiles.xml
  man/systemd-vconsole-setup.service.xml
  man/systemd.link.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#30877 network: fix Name= -> OriginalName= in the default .link files
  network/80-6rd-tunnel.link
  network/80-container-vb.link
  network/80-container-ve.link
  network/80-container-vz.link
  network/80-vm-vt.link
Labels: network, good-to-merge/waiting-for-ci 👍

#30887 id128: add --no-pager, --no-legend, --json=/-j switches to systemd-id128 tool
  man/standard-options.xml
  man/systemd-id128.xml
  shell-completion/bash/systemd-id128
  src/id128/id128.c
  test/units/testsuite-74.id128.sh
Labels: documentation, tests, good-to-merge/waiting-for-ci 👍, sd-id128, please-review
