Repository systemd/systemd, pull requests merged in 2024-11, with the labels that each got.

#34970 coredump: rework protocol between coredump pattern handler and processing service
  src/basic/iovec-wrapper.c
  src/basic/iovec-wrapper.h
  src/basic/signal-util.c
  src/basic/signal-util.h
  src/coredump/coredump.c
  src/shared/journal-importer.c
Labels: util-lib, import, coredump, good-to-merge/waiting-for-ci 👍, rc-blocker 🚧

#34920 core: add read-only flag for exec directories
  man/org.freedesktop.systemd1.xml
  man/systemd.exec.xml
  src/core/dbus-execute.c
  src/core/exec-invoke.c
  src/core/execute-serialize.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment.c
  src/shared/bus-unit-util.c
  src/shared/bus-unit-util.h
  test/units/TEST-23-UNIT-FILE.statedir.sh
  test/units/TEST-34-DYNAMICUSERMIGRATE.sh
Labels: pid1, good-to-merge/waiting-for-ci 👍, rc-blocker 🚧, downstream/azure

#34957 network: update tunnel or vxlan with Local=dhcp4 and friends
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/netdev/tunnel.c
  src/network/netdev/vxlan.c
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-ipv4ll.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-ndisc.c
  test/test-network/conf/25-dhcp-client-ipv4-only.network
  test/test-network/conf/25-sit-dhcp4.netdev
  test/test-network/conf/25-sit-dhcp4.network
  test/test-network/systemd-networkd-tests.py
Labels: network, good-to-merge/waiting-for-ci 👍

#31153 Homed update policy: user changing own settings
  docs/USER_RECORD.md
  src/home/homed-home-bus.c
  src/home/homed-home-bus.h
  src/home/homed-home.c
  src/home/org.freedesktop.home1.policy
  src/shared/user-record-show.c
  src/shared/user-record.c
  src/shared/user-record.h
  src/test/meson.build
  src/test/test-user-record.c
Labels: documentation, build-system, util-lib, tests, meson, good-to-merge/with-minor-suggestions, homed, rc-blocker 🚧

#34964 tweaks to ANSI sequence (OSC) handling
  src/basic/string-util.c
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/shared/pretty-print.c
  src/shared/ptyfwd.c
  src/test/test-strip-tab-ansi.c
Labels: util-lib, tests, please-review

#34953 util-lib/systemd-run: implement race-free PTY peer opening
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/machine/machine-dbus.c
  src/run/run.c
  src/test/test-terminal-util.c
Labels: machine, util-lib, tests, run, please-review

#34975 coredump: lock down EnterNamespace= mount even more
  src/coredump/coredump.c
Labels: coredump, good-to-merge/waiting-for-ci 👍

#34978 mkosi: Set BuildSourcesEphemeral=no in mkosi.clangd
  mkosi.clangd
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#34980 resolve: remove always-true superflous check and rename label
  src/resolve/resolved-varlink.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#34768 core/service: don't propagate stop jobs if RestartMode=direct
  man/systemd.service.xml
  src/analyze/analyze-verify-util.c
  src/core/automount.c
  src/core/dbus-unit.c
  src/core/dbus.c
  src/core/job.c
  src/core/job.h
  src/core/main.c
  src/core/manager.c
  src/core/manager.h
  src/core/path.c
  src/core/service.c
  src/core/socket.c
  src/core/timer.c
  src/core/transaction.c
  src/core/transaction.h
  src/core/unit-dependency-atom.c
  src/core/unit-dependency-atom.h
  src/core/unit.c
  src/test/test-engine.c
  test/TEST-03-JOBS/TEST-03-JOBS.units/counter.service
  test/TEST-03-JOBS/TEST-03-JOBS.units/counter.sh
  test/TEST-03-JOBS/TEST-03-JOBS.units/restart-on-failure.service
  test/TEST-03-JOBS/TEST-03-JOBS.units/sleep-infinity-restart-direct.service
  test/TEST-03-JOBS/TEST-03-JOBS.units/sleep-infinity-restart-normal.service
  test/units/TEST-03-JOBS.sh
Labels: documentation, pid1, tests, please-review

#34969 logind: respect SD_LOGIND_ROOT_CHECK_INHIBITORS with weak blockers
  src/login/logind-dbus.c
  src/login/logind-inhibit.c
Labels: login, good-to-merge/waiting-for-ci 👍, rc-blocker 🚧

#34078 Add support for id-mapped mounts to Exec directories
  man/systemd.exec.xml
  src/basic/namespace-util.c
  src/basic/namespace-util.h
  src/core/exec-invoke.c
  src/core/execute.h
  src/core/namespace.c
  src/core/namespace.h
  src/shared/dissect-image.c
  src/shared/mount-util.c
  src/shared/mount-util.h
  src/test/test-namespace.c
  test/units/TEST-34-DYNAMICUSERMIGRATE.sh
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍, dissect, downstream/azure

#34853 machine: introduce io.systemd.MachineImage.{Clone, Remove} methods
  src/machine/image-dbus.c
  src/machine/image-varlink.c
  src/machine/image-varlink.h
  src/machine/machined-varlink.c
  src/machine/operation.c
  src/machine/operation.h
  src/shared/varlink-io.systemd.MachineImage.c
  test/units/TEST-13-NSPAWN.machined.sh
Labels: machine, util-lib, tests, good-to-merge/waiting-for-ci 👍

#34990 user-record: add missing comma to list of strings
  src/shared/user-record.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#34987 pam: quiet a spurious debug message
  src/home/pam_systemd_home.c
  src/login/pam_systemd.c
  src/shared/pam-util.c
  src/shared/pam-util.h
Labels: login, util-lib, good-to-merge/waiting-for-ci 👍

#35001 mkosi: Add extra tools tree packages required to run integration tests
  mkosi.conf.d/05-tools/mkosi.conf
  mkosi.conf.d/05-tools/mkosi.conf.d/arch.conf
  mkosi.conf.d/05-tools/mkosi.conf.d/centos-fedora.conf
  mkosi.conf.d/05-tools/mkosi.conf.d/debian-ubuntu.conf
  mkosi.conf.d/05-tools/mkosi.conf.d/opensuse.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#34948 openssl-util: Query engine/provider pin via ask-password
  docs/ENVIRONMENT.md
  man/bootctl.xml
  src/basic/efivars.c
  src/basic/efivars.h
  src/basic/utf8.c
  src/basic/utf8.h
  src/boot/bless-boot-generator.c
  src/boot/bless-boot.c
  src/boot/bootctl-install.c
  src/boot/bootctl-random-seed.c
  src/boot/bootctl-set-efivar.c
  src/boot/bootctl-status.c
  src/boot/bootctl-systemd-efi-options.c
  src/boot/bootctl.c
  src/boot/bootctl.h
  src/boot/measure.c
  src/boot/meson.build
  src/core/efi-random.c
  src/fundamental/efi-fundamental.h
  src/hibernate-resume/hibernate-resume-config.c
  src/login/logind-dbus.c
  src/partition/repart.c
  src/shared/ask-password-api.c
  src/shared/bootspec.c
  src/shared/efi-api.c
  src/shared/efi-loader.c
  src/shared/hibernate-util.c
  src/shared/openssl-util.c
  src/shared/openssl-util.h
  src/sleep/sleep.c
  test/TEST-74-AUX-UTILS/test.sh
  test/units/TEST-74-AUX-UTILS.bootctl.sh
Labels: login, documentation, build-system, util-lib, tests, sd-boot/sd-stub/bootctl, ask-password, random-seed, good-to-merge/waiting-for-ci 👍, sleep, meson, hibernate-resume, repart, tpm2

#34972 udev-builtin-path_id: SAS wide ports must have num_phys > 1
  src/udev/udev-builtin-path_id.c
Labels: udev, good-to-merge/with-minor-suggestions

#34995 network: cleanups for IPv4LL
  src/network/networkd-dhcp4.c
  src/network/networkd-ipv4ll.c
Labels: network, good-to-merge/waiting-for-ci 👍

#35004 network: refuse new requests on stop
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-netlabel.c
  src/network/networkd-queue.c
  src/network/networkd-route.c
  src/network/networkd-state-file.c
Labels: network, good-to-merge/waiting-for-ci 👍

#35008 pcrlock: Pad pe hash to a multiple of 8 bytes
  src/pcrlock/pehash.c
Labels: good-to-merge/waiting-for-ci 👍, tpm2

#34982 json: add json_dispatch_ifindex() helper
  src/libsystemd/sd-json/json-util.c
  src/libsystemd/sd-json/json-util.h
  src/network/networkctl-lldp.c
  src/network/networkd-manager-varlink.c
  src/nss-resolve/nss-resolve.c
  src/resolve/resolvectl.c
  src/resolve/resolved-varlink.c
Labels: network, resolve, tree-wide, good-to-merge/waiting-for-ci 👍, sd-json

#35014 efi-loader: add missing stub for efi_stub_get_device_part_uuid()
  src/shared/efi-loader.h
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#35013 tmpfiles: Implement L? to only create symlinks if source exists
  man/tmpfiles.d.xml
  src/tmpfiles/tmpfiles.c
  test/units/TEST-22-TMPFILES.21.sh
Labels: documentation, tmpfiles, tests, good-to-merge/waiting-for-ci 👍

#34994 network: sevearal random trivial cleanups
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-json.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-network.c
  src/network/networkd-route.c
  src/network/networkd-route.h
  src/network/networkd-util.c
  src/network/networkd-util.h
  src/network/networkd.c
  src/shared/daemon-util.c
  src/shared/daemon-util.h
Labels: network, util-lib, good-to-merge/waiting-for-ci 👍

#35016 ci: add coverage for builds without sd-boot
  .github/workflows/build_test.sh
  src/ukify/test/test_ukify.py
Labels: tests, good-to-merge/waiting-for-ci 👍, ci

#35011 sd-daemon: some tweaks
  man/sd_notify.xml
  src/basic/missing_socket.h
  src/libsystemd/sd-daemon/sd-daemon.c
  src/notify/notify.c
Labels: documentation, util-lib, sd-daemon, notify, please-review

#35025 network: limit the total number of Encrypted DNS options processed
  src/network/networkd-ndisc.c
Labels: network, good-to-merge/waiting-for-ci 👍, ndisc/ra

#35006 resolved: log error messages for openssl/gnutls context creation
  src/resolve/resolved-dnstls-gnutls.c
  src/resolve/resolved-dnstls-openssl.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#35030 run: handle gracefully if we can't find binary client-side due to perms
  src/run/run.c
Labels: run, good-to-merge/waiting-for-ci 👍

#35031 Translations update from Fedora Weblate
  po/de.po
Labels: l10n 🌍, please-review

#35037 tree-wide: time-out → timeout
  NEWS
  man/crypttab.xml
  man/sd_bus_get_fd.xml
  man/sd_bus_pending_method_calls.xml
  man/sd_event_exit.xml
  man/varlinkctl.xml
  src/basic/lock-util.c
  src/core/service.c
  src/cryptsetup/cryptsetup.c
  src/libsystemd/sd-event/sd-event.c
  src/network/networkd-ndisc.c
  src/resolve/resolvectl.c
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-stream.h
Labels: documentation, good-to-merge/waiting-for-ci 👍

#35020 resolved: handle ENODATA better with DNR
  src/network/networkd-json.c
  src/network/networkd-state-file.c
Labels: network, good-to-merge/waiting-for-ci 👍

#35038 test: delete /swapfile after swapoff
  test/units/TEST-55-OOMD.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#35040 mount-util: introduce path_is_network_fs_harder() and use it in networkd
  src/network/networkd-manager.c
  src/shared/mount-util.c
  src/shared/mount-util.h
  src/test/test-mount-util.c
Labels: network, util-lib, tests, mount, ci-failure-appears-unrelated

#35032 Various man page updates
  man/capsule@.service.xml
  man/hwdb.xml
  man/libsystemd.xml
  man/org.freedesktop.LogControl1.xml
  man/org.freedesktop.hostname1.xml
  man/org.freedesktop.import1.xml
  man/org.freedesktop.locale1.xml
  man/org.freedesktop.login1.xml
  man/org.freedesktop.machine1.xml
  man/org.freedesktop.network1.xml
  man/org.freedesktop.oom1.xml
  man/org.freedesktop.portable1.xml
  man/org.freedesktop.resolve1.xml
  man/org.freedesktop.systemd1.xml
  man/org.freedesktop.sysupdate1.xml
  man/org.freedesktop.timedate1.xml
  man/org.freedesktop.timesync1.xml
  man/pstore.conf.xml
  man/rules/meson.build
  man/sd-bus.xml
  man/sd-json.xml
  man/sd-varlink.xml
  man/sd_device_get_syspath.xml
  man/sd_journal_has_runtime_files.xml
  man/sd_path_lookup.xml
  man/systemd-ac-power.xml
  man/systemd-backlight@.service.xml
  man/systemd-battery-check.service.xml
  man/systemd-bsod.service.xml
  man/systemd-hostnamed.service.xml
  man/systemd-hwdb.xml
  man/systemd-importd.service.xml
  man/systemd-initctl.service.xml
  man/systemd-localed.service.xml
  man/systemd-logind.service.xml
  man/systemd-machined.service.xml
  man/systemd-mountfsd.service.xml
  man/systemd-networkd.service.xml
  man/systemd-nsresourced.service.xml
  man/systemd-oomd.service.xml
  man/systemd-portabled.service.xml
  man/systemd-poweroff.service.xml
  man/systemd-pstore.service.xml
  man/systemd-resolved.service.xml
  man/systemd-rfkill.service.xml
  man/systemd-sysupdated.service.xml
  man/systemd-timedated.service.xml
  man/systemd-tpm2-setup.service.xml
  man/systemd.exec.xml
  man/systemd.path.xml
  man/systemd.service.xml
  man/systemd.syntax.xml
  man/systemd.xml
  man/udev_new.xml
Labels: udev, resolve, documentation, build-system, hwdb, import, locale, timesync, timedate, backlight, rfkill, good-to-merge/waiting-for-ci 👍, meson, pstore, tpm2, sysupdate, battery-check 🪫, bsod, nsresource, mountfsd

#35042 namespace-util: make id-mapping not supported if syscalls return EPERM
  src/basic/namespace-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#34855 UKI: Introduce `.dtbauto` sections
  LICENSES/README.md
  man/systemd-measure.xml
  man/systemd-stub.xml
  src/boot/efi/chid.c
  src/boot/efi/chid.h
  src/boot/efi/devicetree.c
  src/boot/efi/devicetree.h
  src/boot/efi/meson.build
  src/boot/efi/pe.c
  src/boot/efi/stub.c
  src/boot/efi/util.h
  src/boot/measure.c
  src/fundamental/chid-fundamental.c
  src/fundamental/chid-fundamental.h
  src/fundamental/meson.build
  src/fundamental/uki.c
  src/fundamental/uki.h
Labels: documentation, build-system, util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, meson, rc-blocker 🚧

#35035 network: reconfigure interface more gracefully
  src/network/networkd-address.c
  src/network/networkd-address.h
  src/network/networkd-dhcp-prefix-delegation.c
  src/network/networkd-dhcp-prefix-delegation.h
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp4.h
  src/network/networkd-dhcp6.c
  src/network/networkd-dhcp6.h
  src/network/networkd-ipv4ll.c
  src/network/networkd-ipv4ll.h
  src/network/networkd-link-bus.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-ndisc.c
  src/network/networkd-ndisc.h
  src/network/networkd-neighbor.c
  src/network/networkd-neighbor.h
  src/network/networkd-nexthop.c
  src/network/networkd-nexthop.h
  src/network/networkd-radv.c
  src/network/networkd-radv.h
  src/network/networkd-route.c
  src/network/networkd-route.h
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-routing-policy-rule.h
  src/network/networkd-wifi.c
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#35034 man/systemd-measure: update to new ukify syntax, non-root operation
  man/systemd-measure.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#34999 pid1: stop refusing to boot with cgroup v1
  NEWS
  src/core/main.c
  src/shared/cgroup-setup.c
  src/shared/cgroup-setup.h
  src/shared/mount-setup.c
Labels: cgroups, documentation, pid1, release-critical, util-lib, good-to-merge/waiting-for-ci 👍, mount, rc-blocker 🚧

#34867 machine: introduce io.systemd.Machine.Open method
  src/libsystemd/sd-json/json-util.c
  src/libsystemd/sd-json/json-util.h
  src/machine/machine-dbus.c
  src/machine/machine-varlink.c
  src/machine/machine-varlink.h
  src/machine/machine.c
  src/machine/machine.h
  src/machine/machined-varlink.c
  src/shared/user-record.c
  src/shared/varlink-io.systemd.Machine.c
  test/units/TEST-13-NSPAWN.machined.sh
Labels: machine, util-lib, tests, please-review

#35046 core/manager: silence false-positive warning by coverity
  src/core/manager.c
Labels: good-to-merge/waiting-for-ci 👍, coverity

#35049 Translations update from Fedora Weblate
  po/fr.po
Labels: l10n 🌍, please-review

#35050 Grammar and formatting for DeviceTree docs
  NEWS
  docs/TPM2_PCR_MEASUREMENTS.md
  man/systemd-stub.xml
  man/systemd.net-naming-scheme.xml
  src/boot/efi/UEFI_SECURITY.md
  src/boot/efi/devicetree.c
  src/boot/measure.c
  src/fundamental/tpm2-pcr.h
  src/hostname/hostnamed.c
  src/udev/udev-builtin-net_id.c
Labels: documentation, good-to-merge/waiting-for-ci 👍

#35029 networkd: add possibility to specify MulticastIGMPVersion
  NEWS
  man/systemd.network.xml
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-sysctl.c
  src/network/networkd-sysctl.h
  test/test-network/conf/25-sysctl.network
  test/test-network/systemd-networkd-tests.py
Labels: network, sysctl, good-to-merge/waiting-for-ci 👍

#35055 docs: fix sbsign manpage syntax and add to list, update release instructions
  docs/RELEASE.md
  man/rules/meson.build
  man/systemd-sbsign.xml
Labels: documentation, build-system, good-to-merge/waiting-for-ci 👍, meson

#35062 sbsign: remove unimplemented options
  src/boot/sbsign.c
Labels: sd-boot/sd-stub/bootctl, please-review

#35063 test: fix assertion on build system
  src/test/test-mount-util.c
Labels: tests, quick-review 🏃‍♂️, please-review

#35060 Translations update from Fedora Weblate
  po/fr.po
  po/id.po
  po/ka.po
  po/ko.po
  po/pl.po
  po/ru.po
  po/sv.po
  po/tr.po
Labels: l10n 🌍, please-review

#35058 man: fix typos flagged by Lintian
  man/sd_device_get_syspath.xml
  man/systemd-ask-password.xml
Labels: documentation, ask-password, quick-review 🏃‍♂️, please-review

#35070 github: adjust version number in templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: please-review

#35069 Translations update from Fedora Weblate
  po/de.po
Labels: l10n 🌍, please-review

#35076 hwdb: update
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#35057 tree-wide: Introduce --certificate-source= option
  man/bootctl.xml
  man/systemd-measure.xml
  man/systemd-repart.xml
  man/systemd-sbsign.xml
  man/ukify.xml
  mkosi.conf.d/05-tools/mkosi.conf.d/arch.conf
  mkosi.conf.d/05-tools/mkosi.conf.d/centos-fedora.conf
  mkosi.conf.d/05-tools/mkosi.conf.d/debian-ubuntu.conf
  mkosi.conf.d/05-tools/mkosi.conf.d/opensuse.conf
  src/bootctl/bootctl-install.c
  src/bootctl/bootctl.c
  src/bootctl/bootctl.h
  src/measure/measure.c
  src/partition/repart.c
  src/sbsign/sbsign.c
  src/shared/openssl-util.c
  src/shared/openssl-util.h
  src/ukify/test/test_ukify.py
  src/ukify/ukify.py
Labels: documentation, util-lib, tests, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, repart, uki

#35081 sd-varlink: allow that method handles call sd_varlink_close()
  src/libsystemd/sd-varlink/sd-varlink.c
Labels: good-to-merge/waiting-for-ci 👍, varlink

#35080 test: install integration-test-setup.sh in testdata/
  test/meson.build
  test/test.service.in
Labels: build-system, tests, good-to-merge/waiting-for-ci 👍, meson

#35082 mount-util: make path_is_network_fs_harder() gracefully handle errors
  src/shared/mount-util.c
  src/shared/mount-util.h
  src/test/test-mount-util.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍, mount

#35078 News and f41 and formatting
  NEWS
  man/custom-entities.ent.in
  man/environment.d.xml
  man/libsystemd.xml
  man/loader.conf.xml
  man/org.freedesktop.LogControl1.xml
  man/org.freedesktop.home1.xml
  man/org.freedesktop.hostname1.xml
  man/org.freedesktop.import1.xml
  man/org.freedesktop.locale1.xml
  man/org.freedesktop.login1.xml
  man/org.freedesktop.machine1.xml
  man/org.freedesktop.network1.xml
  man/org.freedesktop.oom1.xml
  man/org.freedesktop.portable1.xml
  man/org.freedesktop.resolve1.xml
  man/org.freedesktop.systemd1.xml
  man/org.freedesktop.sysupdate1.xml
  man/org.freedesktop.timedate1.xml
  man/org.freedesktop.timesync1.xml
  man/pam_systemd.xml
  man/pam_systemd_loadkey.xml
  man/sd_bus_message_append.xml
  man/sd_bus_message_dump.xml
  man/sd_bus_message_read.xml
  man/sd_event_wait.xml
  man/sd_notify.xml
  man/systemctl.xml
  man/systemd-analyze.xml
  man/systemd-coredump.xml
  man/systemd-id128.xml
  man/systemd-journal-remote.service.xml
  man/systemd-measure.xml
  man/systemd-resolved.service.xml
  man/systemd-run.xml
  man/systemd-vmspawn.xml
  man/systemd.exec.xml
  man/systemd.net-naming-scheme.xml
  man/systemd.netdev.xml
  man/systemd.network.xml
  man/systemd.resource-control.xml
  man/systemd.time.xml
  man/systemd.unit.xml
  man/tmpfiles.d.xml
  man/ukify.xml
  tools/update-dbus-docs.py
Labels: resolve, documentation, systemctl, tmpfiles, import, locale, timesync, timedate, coredump, run, ci-failure-appears-unrelated, sysupdate, uki, vmspawn

#35096 uid-classification: properly classify *all* container UIDs
  src/basic/uid-classification.h
  src/home/homework-mount.c
  src/userdb/userdbctl.c
Labels: bug 🐛, util-lib, good-to-merge/waiting-for-ci 👍, userdb

#35089 udev: skipping empty udev rules file while collecting the stats
  src/shared/conf-parser.c
Labels: udev, util-lib, good-to-merge/waiting-for-ci 👍

#35052 sysupdate: Bug fixes for target enumeration
  src/sysupdate/sysupdated.c
  units/systemd-sysupdated.service.in
Labels: good-to-merge/waiting-for-ci 👍, units, sysupdate

#35106 meson.build: add a few features to summary
  meson.build
Labels: build-system, good-to-merge/waiting-for-ci 👍, meson

#35107 Translations update from Fedora Weblate
  po/de.po
Labels: l10n 🌍, please-review

#35103 ukify: Fix broken assert when building a signed addon
  src/ukify/ukify.py
Labels: good-to-merge/waiting-for-ci 👍, uki

#35105 login: fix session_kill(..., KILL_LEADER,...)
  src/login/logind-session.c
Labels: login, good-to-merge/waiting-for-ci 👍, squash-on-merge, needs-stable-backport

#35056 Various multi-dt fixes and CHID test
  src/boot/chid.c
  src/boot/devicetree.c
  src/boot/pe.c
  src/fundamental/chid-fundamental.c
  src/fundamental/chid-fundamental.h
  src/fundamental/efi-fundamental.h
  src/shared/tests.h
  src/test/meson.build
  src/test/test-chid.c
Labels: build-system, util-lib, tests, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, meson

#35113 Translations update from Fedora Weblate
  po/pt_BR.po
Labels: l10n 🌍, please-review

#35110 Split src/partition
  meson.build
  src/growfs/growfs.c
  src/growfs/makefs.c
  src/growfs/meson.build
  src/repart/definitions/confext.repart.d/10-root.conf
  src/repart/definitions/confext.repart.d/20-root-verity.conf
  src/repart/definitions/confext.repart.d/30-root-verity-sig.conf
  src/repart/definitions/portable.repart.d/10-root.conf
  src/repart/definitions/portable.repart.d/20-root-verity.conf
  src/repart/definitions/portable.repart.d/30-root-verity-sig.conf
  src/repart/definitions/sysext.repart.d/10-root.conf
  src/repart/definitions/sysext.repart.d/20-root-verity.conf
  src/repart/definitions/sysext.repart.d/30-root-verity-sig.conf
  src/repart/meson.build
  src/repart/repart.c
Labels: build-system, good-to-merge/waiting-for-ci 👍, meson, repart, growfs

#35059 network: further rework for reconfiguring interfaces
  src/network/networkd-dhcp-prefix-delegation.c
  src/network/networkd-dhcp-prefix-delegation.h
  src/network/networkd-dhcp4.c
  src/network/networkd-dhcp6.c
  src/network/networkd-ipv4ll.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-ndisc.c
  src/network/networkd-radv.c
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, please-review, rc-blocker 🚧

#35095 Introduce systemd-keyutil to do various key/certificate operations
  man/rules/meson.build
  man/systemd-keyutil.xml
  man/systemd-measure.xml
  man/systemd-sbsign.xml
  meson.build
  src/keyutil/keyutil.c
  src/keyutil/meson.build
  src/measure/measure.c
  src/sbsign/sbsign.c
  src/ukify/ukify.py
  test/units/TEST-74-AUX-UTILS.keyutil.sh
  test/units/TEST-74-AUX-UTILS.sbsign.sh
Labels: documentation, build-system, tests, meson, uki, please-review

#35099 network: forget IPv4 non-local routes when an interface went down
  src/network/networkd-link.c
  src/network/networkd-nexthop.c
  src/network/networkd-nexthop.h
  src/network/networkd-route.c
  src/network/networkd-route.h
  test/test-network/conf/25-route-static-issue-35047.network
  test/test-network/conf/25-route-static-issue-35047.network.d/step1.conf
  test/test-network/conf/25-route-static-issue-35047.network.d/step2.conf
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#35125 man/systemd-keyutil: fix rendering typo
  man/systemd-keyutil.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#35122 Fix man page links broken due to incorrect volume numbers
  man/crypttab.xml
  man/journal-upload.conf.xml
  man/libsystemd.xml
  man/nss-resolve.xml
  man/org.freedesktop.hostname1.xml
  man/org.freedesktop.systemd1.xml
  man/sd-id128.xml
  man/sd_bus_creds_get_pid.xml
  man/sd_bus_message_new_signal.xml
  man/sd_bus_message_verify_type.xml
  man/sd_bus_reply_method_error.xml
  man/sd_bus_reply_method_return.xml
  man/sd_hwdb_new.xml
  man/smbios-type-11.xml
  man/systemd-cryptenroll.xml
  man/systemd-makefs@.service.xml
  man/systemd-random-seed.service.xml
  man/systemd-repart.xml
  man/systemd-run-generator.xml
  man/systemd-sysext.xml
  man/systemd.image-policy.xml
  man/systemd.pcrlock.xml
  man/systemd.special.xml
  man/systemd.system-credentials.xml
  man/systemd.unit.xml
  man/systemd.v.xml
  man/timesyncd.conf.xml
Labels: resolve, documentation, hwdb, timesync, run, random-seed, repart, please-review, sysext

#35123 mkosi: add tpm2-tss-devel to tools for CentOS and Fedora
  mkosi.conf.d/05-tools/mkosi.conf.d/centos-fedora.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#35131 sbsign: remove unused --no-pager option
  man/systemd-sbsign.xml
  src/sbsign/sbsign.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, sbsign/keyutil 🔑

#35137 tree-wide: remove some dead code
  src/mountfsd/mountwork.c
  src/nspawn/nspawn.c
  src/shared/dissect-image.c
Labels: nspawn, util-lib, tree-wide, good-to-merge/waiting-for-ci 👍, dissect

#35136 dbus-manager: add missing word 'unit' to PK message
  src/core/dbus-manager.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#35134 run0: when changing privileges to non-root, do not show superhero emoji
  src/basic/glyph-util.c
  src/basic/glyph-util.h
  src/run/run.c
  src/test/test-locale-util.c
Labels: util-lib, tests, locale, run, good-to-merge/waiting-for-ci 👍

#35140 various: check meson feature flag early
  src/binfmt/meson.build
  src/cryptenroll/meson.build
  src/cryptsetup/meson.build
  src/dissect/meson.build
  src/environment-d-generator/meson.build
  src/hibernate-resume/meson.build
  src/home/meson.build
  src/hostname/meson.build
  src/integritysetup/meson.build
  src/modules-load/meson.build
  src/mountfsd/meson.build
  src/nsresourced/meson.build
  src/pcrlock/meson.build
  src/portable/meson.build
  src/pstore/meson.build
  src/repart/meson.build
  src/sysusers/meson.build
  src/tpm2-setup/meson.build
  src/veritysetup/meson.build
  src/vmspawn/meson.build
Labels: build-system, tree-wide, meson, please-review

#35142 ptyfwd: ellipsize overly long window titles
  src/shared/ptyfwd.c
Labels: util-lib, run, good-to-merge/waiting-for-ci 👍

#35072 audit-util: return -ENODATA from audit_{session|loginuid}_from_pid() …
  src/basic/audit-util.c
  src/basic/audit-util.h
  src/basic/process-util.c
  src/journal/journald-context.c
  src/libsystemd/sd-bus/bus-creds.c
  src/login/logind-dbus.c
  src/login/logind-session.c
  src/test/meson.build
  src/test/test-audit-util.c
Labels: journal, login, sd-bus, build-system, util-lib, tests, good-to-merge/waiting-for-ci 👍, meson

#35143 sd-boot/sd-stub: two log message fixes
  src/boot/log.h
  src/boot/pe.c
  src/boot/random-seed.c
Labels: sd-boot/sd-stub/bootctl, random-seed, good-to-merge/waiting-for-ci 👍

#35128 network/ndisc: fix removal of unnecessary routes
  src/network/networkd-ndisc.c
  src/network/networkd-route.c
  src/network/networkd-route.h
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, ndisc/ra, please-review

#35148 namespace-util: pin pid via pidfd during namespace_open()
  src/basic/namespace-util.c
Labels: util-lib, please-review

#34989 network: serialize and deserialize current configuration
  man/systemd.network.xml
  src/network/meson.build
  src/network/networkd-address.c
  src/network/networkd-dhcp4.c
  src/network/networkd-ipv4ll.c
  src/network/networkd-json.c
  src/network/networkd-json.h
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-route.c
  src/network/networkd-serialize.c
  src/network/networkd-serialize.h
  src/network/networkd.c
  test/test-network/conf/25-dhcp-client-keep-configuration-dynamic-on-stop.network
  test/test-network/conf/25-dhcp-client-keep-configuration-dynamic.network
  test/test-network/systemd-networkd-tests.py
Labels: network, documentation, build-system, tests, good-to-merge/waiting-for-ci 👍, meson

#35153 tmpfiles.d/meson.build: two minor tweaks
  tmpfiles.d/meson.build
Labels: build-system, good-to-merge/waiting-for-ci 👍, meson

#35150 logind-session: be more specific about session_kill() errors, plus minor fixes for sd_bus_error handling
  src/libsystemd/sd-bus/bus-common-errors.c
  src/libsystemd/sd-bus/bus-common-errors.h
  src/login/logind-session-dbus.c
  src/login/logind-session.c
  src/login/logind-session.h
  src/portable/portable.c
Labels: login, sd-bus, good-to-merge/waiting-for-ci 👍, portable, needs-stable-backport

#35149 boot/stub: allocate pages for combined initrds below 4GiB only on x86
  src/boot/boot.c
  src/boot/stub.c
  src/boot/util.h
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, squash-on-merge, needs-stable-backport, rc-blocker 🚧

#34979 network/netdev: follow-ups for reloading .netdev files
  src/network/netdev/bareudp.c
  src/network/netdev/bond.c
  src/network/netdev/bridge.c
  src/network/netdev/dummy.c
  src/network/netdev/geneve.c
  src/network/netdev/ipvlan.c
  src/network/netdev/macvlan.c
  src/network/netdev/netdev.c
  src/network/netdev/netdev.h
  src/network/netdev/netdevsim.c
  src/network/netdev/tunnel.c
  src/network/netdev/tuntap.c
  src/network/netdev/tuntap.h
  src/network/netdev/veth.c
  src/network/netdev/vrf.c
  src/network/netdev/vxcan.c
  src/network/netdev/vxlan.c
  src/network/netdev/wireguard.c
  test/networkd-test.py
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, please-review, rc-blocker 🚧

#35121 process-util: refuse FORK_DETACH + FORK_DEATHSIG_*
  src/basic/process-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#35119 network/ndisc: fix coalescing of ndisc routes when multiple router exists
  src/network/networkd-json.c
  src/network/networkd-json.h
  src/network/networkd-ndisc.c
  src/network/networkd-nexthop.c
  src/network/networkd-nexthop.h
  src/network/networkd-serialize.c
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍, ndisc/ra

#35157 nspawn: ignore failure in creating /dev/net/tun when --private-networ…
  src/nspawn/nspawn.c
Labels: good-to-merge/waiting-for-ci 👍

#34158 ukify: Support building UKIs with .dtbauto and .hwids sections
  src/ukify/ukify.py
Labels: sd-boot/sd-stub/bootctl, uki, please-review

#35161 test: skip TEST-84-STORAGETM if running with bugged libnvme
  test/units/TEST-84-STORAGETM.sh
Labels: tests, quick-review 🏃‍♂️, needs-stable-backport, please-review

#35172 network/nexthop: fix copy-and-paste error
  src/network/networkd-nexthop.c
Labels: network, quick-review 🏃‍♂️, please-review

#35173 boot: explain the 4G quirks we apply to initrd memory allocations
  src/boot/util.h
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#35167 pid1: make clear that $WATCHDOG_USEC is set for the shutdown binary, …
  src/core/main.c
Labels: good-to-merge/waiting-for-ci 👍, shutdown

#35169 nspawn: --private-users-ownership= value is called 'chown', not 'own'
  src/nspawn/nspawn.c
Labels: nspawn, good-to-merge/waiting-for-ci 👍

#35165 boot: make .hwids PE section more flexible to cover more than DT one day
  src/boot/chid.c
  src/boot/chid.h
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, rc-blocker 🚧

#35177 test: ignore inconsistent coverage errors
  test/test-functions
Labels: tests, good-to-merge/waiting-for-ci 👍

#35184 bootctl: Only create loader/keys/auto if required
  src/bootctl/bootctl-install.c
Labels: good-to-merge/waiting-for-ci 👍

#35179 ukify: use new .hwids section layout
  src/ukify/ukify.py
Labels: good-to-merge/waiting-for-ci 👍, uki, rc-blocker 🚧

#35196 mkosi: Update packaging specs
  mkosi.images/build/mkosi.conf.d/arch/mkosi.conf
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.conf
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.conf
Labels: mkosi, please-review

#35197 Translations update from Fedora Weblate
  po/ru.po
Labels: l10n 🌍, please-review

#35206 nspawn: Include arm_fadvise64_64 in syscall allow_list
  src/nspawn/nspawn-seccomp.c
Labels: nspawn, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#35218 mkosi: Enable clangd execution for all distributions
  mkosi.images/build/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/arch/mkosi.build.chroot
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#35221 systemctl: grey out tasks limit the same way we grey out the fd store…
  src/systemctl/systemctl-show.c
Labels: systemctl, good-to-merge/waiting-for-ci 👍

#35222 vmspawn: enable memory pressure logic for vmspawn
  src/vmspawn/vmspawn.c
Labels: good-to-merge/waiting-for-ci 👍, vmspawn

#35185 test: fix generate-sym-test using the wrong array
  src/test/generate-sym-test.py
Labels: tests, good-to-merge/with-minor-suggestions

#35127 ssh-generator: silence "Binding to socket" messages
  src/ssh-generator/ssh-generator.c
Labels: please-review, ssh-generator

#35230 Translations update from Fedora Weblate
  po/he.po
Labels: l10n 🌍, please-review

#35212 network/ndisc: process zero lifetime options at first
  src/libsystemd-network/ndisc-option.c
  src/network/networkd-ndisc.c
  test/test-network/conf/25-veth-router-high2.network
  test/test-network/conf/25-veth-router-low2.network
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, ndisc/ra, please-review

#35234 man/kernel-command-line: fix typo
  man/kernel-command-line.xml
Labels: documentation, please-review

#35133 user-record: don't synthesize default list of self-modfiable fields for non-regular users.
  src/shared/user-record-show.c
  src/shared/user-record.c
  src/test/test-user-record.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍, userdb

#35241 sd-varlink: mark sd_varlink_server_{ref,unref} as _public_
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-varlink/sd-varlink.c
Labels: quick-review 🏃‍♂️, varlink, please-review

#35239 hwdb: add new Cube Mix Plus (i18D) rotation info
  hwdb.d/60-sensor.hwdb
Labels: hwdb, please-review

#35219 core/exec-invoke: suppress placeholder home only in build_environment()
  src/basic/user-util.c
  src/basic/user-util.h
  src/core/exec-invoke.c
  src/run/run.c
  test/units/TEST-07-PID1.working-directory.sh
Labels: pid1, util-lib, tests, run, please-review

#35263 cryptenroll: fix typo
  src/cryptenroll/cryptenroll-fido2.c
Labels: cryptsetup, good-to-merge/waiting-for-ci 👍

#35262 process-util: refuse to operate on remote PidRef
  src/basic/process-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#35255 network: update state files before replying bus method
  src/network/networkd-link.c
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#35274 cgroup-util: fix memory leak on error
  src/basic/cgroup-util.c
Labels: cgroups, util-lib, good-to-merge/waiting-for-ci 👍, coverity

#35289 Translations update from Fedora Weblate
  po/uk.po
Labels: l10n 🌍, please-review

#35278 Keep tmpfiles/legacy.conf even if SysVInit support is dropped
  tmpfiles.d/20-systemd-shell-extra.conf.in
  tmpfiles.d/20-systemd-ssh-generator.conf.in
  tmpfiles.d/20-systemd-stub.conf.in
  tmpfiles.d/20-systemd-userdb.conf.in
  tmpfiles.d/credstore.conf
  tmpfiles.d/etc.conf.in
  tmpfiles.d/home.conf
  tmpfiles.d/journal-nocow.conf
  tmpfiles.d/legacy.conf.in
  tmpfiles.d/meson.build
  tmpfiles.d/portables.conf
  tmpfiles.d/provision.conf
  tmpfiles.d/systemd-network.conf
  tmpfiles.d/systemd-nspawn.conf
  tmpfiles.d/systemd-resolve.conf
  tmpfiles.d/systemd-tmp.conf
  tmpfiles.d/systemd.conf.in
  tmpfiles.d/tmp.conf
  tmpfiles.d/var.conf.in
  tmpfiles.d/x11.conf
Labels: tmpfiles, good-to-merge/waiting-for-ci 👍, meson

#35271 hwdb: Add quirk for Logitech MX Keys for Mac
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#35292 core/service: service_add_fd_store() consumes passed fd
  src/core/service.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#35247 bash-completion: add --list-devices to systemd-cryptenroll
  shell-completion/bash/systemd-cryptenroll
Labels: shell completion, good-to-merge/waiting-for-ci 👍

#35297 man: split cryptenroll man page into sections
  man/systemd-cryptenroll.xml
  src/cryptenroll/cryptenroll.c
Labels: documentation, cryptsetup, quick-review 🏃‍♂️, please-review

#35301 tpm2-util: fix parameter name
  src/shared/tpm2-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍, tpm2

#35296 userdbctl: two trivial fixlets
  src/userdb/userdbctl.c
Labels: good-to-merge/waiting-for-ci 👍, userdb

#35304 hwdb: add support for PineTab2 to 60-sensor.hwdb
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, fix-commit-message-on-merge

#35298 link README.logs from tmpfiles.d/legacy.conf only if available
  tmpfiles.d/legacy.conf.in
Labels: tmpfiles, good-to-merge/waiting-for-ci 👍

#35290 Undeprecate commandline params forcequotacheck, fastboot, and forcefsck
  src/fsck/fsck.c
  src/quotacheck/quotacheck.c
Labels: fsck, good-to-merge/waiting-for-ci 👍

#35310 basic/linux: update kernel headers from v6.12
  src/basic/linux/auto_fs.h
  src/basic/linux/bpf.h
  src/basic/linux/const.h
  src/basic/linux/ethtool.h
  src/basic/linux/fib_rules.h
  src/basic/linux/if_packet.h
  src/basic/linux/in.h
  src/basic/linux/libc-compat.h
  src/basic/linux/netfilter/nf_tables.h
  src/basic/linux/nexthop.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#35312 shutdown: close DM block device before issuing DM_DEV_REMOVE ioctl
  src/shutdown/detach-dm.c
Labels: good-to-merge/waiting-for-ci 👍, shutdown, needs-stable-backport

#35313 namespace-util: handle -ENOSPC by userns_acquire() gracefully in is_idmapping_supported()
  src/basic/namespace-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#35315 shutdown: propagate one more error from sync_making_progress()
  src/shutdown/shutdown.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, shutdown

#35318 nspawn: fix userns_mkdir() invocation
  src/nspawn/nspawn.c
Labels: nspawn, good-to-merge/waiting-for-ci 👍

#35319 nspawn: improve log message on bad incoming sd_notify() message
  src/nspawn/nspawn.c
Labels: nspawn, good-to-merge/waiting-for-ci 👍

#35309 networkd-test.py: fix interface state checker
  test/networkd-test.py
Labels: network, tests, please-review

#35325 Translations update from Fedora Weblate
  po/fr.po
Labels: l10n 🌍, please-review

#35321 measure: add 'dtbauto' option in help message
  src/measure/measure.c
Labels: please-review

#35327 curl-util: do not configure new io event source when the event loop is already dead
  src/import/curl-util.c
Labels: good-to-merge/waiting-for-ci 👍, sysupdate

#35333 NEWS: add blurb thanking Nick Owens
  NEWS
Labels: documentation, please-review

#35336 Various mkosi and integration test fixes
  .github/workflows/linter.yml
  .github/workflows/mkosi.yml
  mkosi.conf.d/05-tools/mkosi.conf.d/arch.conf
  mkosi.conf.d/05-tools/mkosi.conf.d/centos-fedora.conf
  mkosi.conf.d/05-tools/mkosi.conf.d/debian-ubuntu.conf
  mkosi.conf.d/05-tools/mkosi.conf.d/fedora.conf
  mkosi.conf.d/05-tools/mkosi.conf.d/opensuse.conf
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.conf
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.conf
  mkosi.images/build/mkosi.conf.d/opensuse/mkosi.conf
  mkosi.sanitizers/mkosi.postinst
  mypy.ini
  ruff.toml
  src/ukify/ukify.py
  test/integration-test-wrapper.py
Labels: build-system, tests, mkosi, meson, uki, please-review

#35338 mkosi: Make sure mkosi.clangd always runs on the host
  mkosi.clangd
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#35339 mkosi: Use shared extra tree between initrd and main image
  mkosi.conf
  mkosi.extra.common/etc/issue
  mkosi.extra.common/usr/lib/systemd/coredump.conf.d/10-coredump-journal-storage.conf
  mkosi.extra.common/usr/lib/systemd/journald.conf.d/ratelimit.conf
  mkosi.extra.common/usr/lib/systemd/leak-sanitizer-suppressions
  mkosi.extra.common/usr/lib/systemd/system-preset/00-mkosi.preset
  mkosi.extra.common/usr/lib/systemd/system-preset/99-mkosi.preset
  mkosi.images/initrd/mkosi.conf
Labels: coredump, good-to-merge/waiting-for-ci 👍, mkosi

#35341 test: mask tmpfiles.d file shipped by selinux policy package in containers
  test/units/TEST-22-TMPFILES.sh
Labels: tests, quick-review 🏃‍♂️, please-review

#35343 networkd-test.py: disable IPv6AcceptRA= if not necessary
  test/networkd-test.py
Labels: network, tests, please-review

#35317 test: Dump coredumps from journal in the integration test wrapper
  test/TEST-02-UNITTESTS/meson.build
  test/TEST-16-EXTEND-TIMEOUT/meson.build
  test/TEST-17-UDEV/meson.build
  test/TEST-59-RELOADING-RESTART/meson.build
  test/TEST-73-LOCALE/meson.build
  test/TEST-74-AUX-UTILS/meson.build
  test/integration-test-wrapper.py
  test/meson.build
Labels: build-system, tests, good-to-merge/waiting-for-ci 👍, mkosi, meson
