Repository systemd/systemd, pull requests merged in 2024-05, with the labels that each got.

#32597 core: Fix file descriptor leak
  src/core/service.c
Labels: please-review

#32540 mkosi: Enable more integration tests
  mkosi.images/minimal-base/mkosi.conf.d/10-arch.conf
  mkosi.images/minimal-base/mkosi.postinst
  mkosi.images/system/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-arch/mkosi.build.chroot
  mkosi.images/system/mkosi.conf.d/10-arch/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-centos-fedora/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu/mkosi.build.chroot
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-opensuse/mkosi.build.chroot
  mkosi.images/system/mkosi.conf.d/10-opensuse/mkosi.conf
  test/TEST-09-REBOOT/meson.build
  test/TEST-13-NSPAWN/test.sh
  test/integration-test-wrapper.py
  test/meson.build
  test/test-functions
  test/testsuite-04.units/delegated-cgroup-filtering.service
  test/testsuite-04.units/logs-filtering.service
  test/units/delegated_cgroup_filtering_payload.sh
  test/units/delegated_cgroup_filtering_payload_child.sh
  test/units/testsuite-04.LogFilterPatterns.sh
  test/units/testsuite-09.journal.sh
  test/units/testsuite-13.machinectl.sh
  test/units/testsuite-13.nspawn-oci.sh
  test/units/testsuite-13.nspawn.sh
  test/units/testsuite-13.nss-mymachines.sh
  test/units/testsuite-13.sh
  test/units/testsuite-15.sh
  test/units/testsuite-18.sh
  test/units/testsuite-25.sh
  test/units/testsuite-26.sh
  test/units/testsuite-35.sh
  test/units/testsuite-46.sh
  test/units/testsuite-60.sh
  test/units/testsuite-71.sh
  test/units/testsuite-73.sh
  test/units/testsuite-82.sh
  test/units/testsuite-83.sh
  test/units/util.sh
Labels: nspawn, login, documentation, build-system, util-lib, selinux, tests, meson, please-review

#32591 systemctl: Implement --wait for kill command
  NEWS
  man/systemctl.xml
  src/systemctl/systemctl-kill.c
  src/systemctl/systemctl.c
  test/units/testsuite-26.sh
Labels: documentation, systemctl, tests

#32600 systemctl: fix log message when glob patterns passed to disable commanad and friends
  src/systemctl/systemctl-enable.c
Labels: systemctl, good-to-merge/waiting-for-ci 👍

#32610 core/dbus-manager: mark unit file state as outdated only if some changes succeeded
  src/core/dbus-manager.c
  src/shared/install.c
  src/shared/install.h
Labels: pid1, util-lib, install, please-review

#32611 network/tc: Avoid concurrent set modification in tclass_drop()/qdisc_drop()
  src/network/tc/qdisc.c
  src/network/tc/qdisc.h
  src/network/tc/tclass.c
  src/network/tc/tclass.h
  test/meson.build
  test/test-network/systemd-networkd-tests.py
Labels: network, build-system, tests, good-to-merge/waiting-for-ci 👍, meson, needs-stable-backport

#32601 reboot-util: Add some basic validation on reboot arguments
  src/core/dbus-unit.c
  src/core/dbus-util.c
  src/core/dbus-util.h
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/login/logind-dbus.c
  src/shared/reboot-util.c
  src/shared/reboot-util.h
Labels: login, util-lib, good-to-merge/waiting-for-ci 👍

#32598 resolved: probe for dnssec support in allow-downgrade mode
  src/resolve/resolved-dns-transaction.c
Labels: resolve, please-review

#32593 resolved: validate authentic insecure delegation to CNAME
  src/resolve/resolved-dns-transaction.c
Labels: resolve, please-review

#32595 Remove outdated documents
  docs/AUTOPKGTEST.md
  docs/_data/extra_pages.json
  test/README.testsuite
Labels: documentation, tests, please-review

#32616 hwdb: Add mapping for Samsung GalaxyBook - 550X
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, fix-commit-message-on-merge

#32618 core/selinux-access: use empty_to_na where appropriate
  src/core/selinux-access.c
Labels: pid1, selinux, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#32617 journald: wait for journal files fsync()ed on Synchronize() varlink method
  src/journal/journald-server.c
  src/journal/journald-server.h
Labels: journal, good-to-merge/waiting-for-ci 👍

#32621 Add files via upload
  po/it.po
Labels: l10n 🌍, please-review

#32592 journal: several timestamp cleanups and improvements
  src/basic/time-util.h
  src/journal/journald-audit.c
  src/journal/journald-kmsg.c
  src/journal/journald-server.c
  src/journal/journald-server.h
  src/journal/journald-socket.c
  src/journal/journald-syslog.c
  src/libsystemd/sd-journal/sd-journal.c
  src/shared/logs-show.c
Labels: journal, util-lib, good-to-merge/waiting-for-ci 👍

#32626 importctl: fix flag checking against wrong variable
  src/import/importctl.c
Labels: good-to-merge/waiting-for-ci 👍

#32515 libfido2-util: fix a regression in the pre-flight mechanism
  src/shared/libfido2-util.c
Labels: util-lib, fido2, please-review

#32500 cryptenroll: disable loading public key if --tpm2-public-key= is empty
  src/cryptenroll/cryptenroll-tpm2.c
  src/cryptenroll/cryptenroll-tpm2.h
  src/cryptenroll/cryptenroll.c
Labels: good-to-merge/waiting-for-ci 👍, tpm2

#32634 news: refer to ForwardToSocket instead of ForwardAddress
  NEWS
Labels: documentation, please-review

#32630 tree-wide: fix type confusion around parsing JSON booleans
  src/nspawn/nspawn-oci.c
  src/shared/user-record.c
  src/sysext/sysext.c
Labels: nspawn, util-lib, tree-wide, good-to-merge/waiting-for-ci 👍

#32633 vmspawn,man: move the varlistentry for -D into a variablelist
  man/systemd-vmspawn.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, vmspawn

#32619 journal: explicitly sync namespaced journals before stopping socket uunits
  src/core/unit.c
  units/meson.build
  units/systemd-journald-sync@.service
Labels: journal, pid1, build-system, units, meson, please-review

#32636 test: drop --tpm2-public-key= from TEST-70
  test/units/testsuite-70.pcrlock.sh
Labels: tests, please-review

#32640 mkosi: Fix particle profile
  mkosi.images/system/mkosi.conf.d/20-particle/mkosi.finalize
  mkosi.images/system/mkosi.conf.d/20-particle/mkosi.postinst.chroot
Labels: please-review

#32642 journal: Serialize __MONOTONIC_TIMESTAMP metadata field as well
  src/journal/journald-server.c
  src/journal/journald-socket.c
  src/journal/journald-socket.h
  src/libsystemd/sd-event/event-util.c
  src/libsystemd/sd-event/event-util.h
Labels: journal, sd-event, good-to-merge/waiting-for-ci 👍

#32641 test: replace Europe/Kiev with Europe/Kyiv
  test/test-functions
  test/units/testsuite-30.sh
  test/units/testsuite-45.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#32622 man/run0: Describe environment variables set
  man/run0.xml
Labels: documentation, run, squash-on-merge, please-review

#32588 Add TEST-06-SELINUX to mkosi integration tests
  mkosi.images/system/mkosi.conf.d/10-centos-fedora/mkosi.conf.d/10-selinux.conf
  test/TEST-06-SELINUX/meson.build
  test/meson.build
  test/units/autorelabel.service
  test/units/firstboot-autorelabel.service
  test/units/testsuite-06.sh
Labels: selinux, tests, mkosi, please-review

#32649 core: Record ExecMainStartTimestamp before forking
  src/core/execute.c
  src/core/execute.h
  src/core/service.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#32657 hwdb: Add mapping for Xiaomi Mipad 2 bottom bezel capacitive buttons
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, please-review

#32639 systemd-boot: Allow key enroll in AuditMode
  src/boot/efi/boot.c
Labels: sd-boot/sd-stub/bootctl, please-review

#32672 doc: mention that units can be masked via credentials
  man/systemd-debug-generator.xml
Labels: documentation, quick-review 🏃‍♂️, please-review

#32542 hwdb: ieee1394-unit-function: add Tascam IF-FW/DM mkII
  hwdb.d/80-ieee1394-unit-function.hwdb
Labels: hwdb, please-review

#32673 Various mkosi fixes
  .github/workflows/mkosi.yml
  mkosi.images/system/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-arch/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-opensuse/mkosi.conf
  test/TEST-21-DFUZZER/meson.build
Labels: build-system, tests, good-to-merge/waiting-for-ci 👍, meson

#32502 repart: respect `SOURCE_DATE_EPOCH` on `mkdir_p_root`
  src/basic/mkdir.c
  src/basic/mkdir.h
  src/partition/repart.c
  src/shared/dissect-image.c
  src/test/test-conf-parser.c
  src/test/test-mkdir.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍, repart

#32635 cryptenroll: don't try to use pcrlock in combination with signed PCR policy if both are available, because we don't actually support that right now
  src/cryptenroll/cryptenroll-tpm2.c
  src/cryptenroll/cryptenroll-tpm2.h
  src/cryptenroll/cryptenroll.c
  src/shared/tpm2-util.c
Labels: util-lib, tests, cryptsetup, good-to-merge/waiting-for-ci 👍, tpm2

#32671 docs: minor improvements to CREDENTIALS.md
  docs/CREDENTIALS.md
Labels: documentation, please-review

#32677 Wording fixes
  man/sd_event_add_io.xml
  src/core/dbus-manager.c
Labels: documentation, good-to-merge/waiting-for-ci 👍

#31379 cryptsetup: make type-specific checks for PKCS#11 private keys
  src/shared/pkcs11-util.c
Labels: util-lib, cryptsetup, good-to-merge/waiting-for-ci 👍

#32675 discover-image: pass the right error variable
  src/shared/discover-image.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#32683 More mismatched error variables
  src/boot/bless-boot.c
  src/core/exec-invoke.c
  src/core/main.c
  src/core/manager.c
  src/home/homed-manager.c
  src/home/homework-blob.c
  src/home/homework-fscrypt.c
  src/home/homework-quota.c
  src/journal-remote/journal-remote-main.c
  src/nspawn/nspawn.c
  src/nsresourced/userns-restrict.c
  src/resolve/resolved-dns-stream.c
  src/shared/cgroup-show.c
  src/shared/clean-ipc.c
  src/test/test-bpf-foreign-programs.c
  src/test/test-bpf-restrict-fs.c
  src/test/test-socket-bind.c
  src/udev/udev-rules.c
Labels: udev, nspawn, resolve, util-lib, tests, sd-boot/sd-stub/bootctl, tree-wide, journal-remote, good-to-merge/waiting-for-ci 👍

#32688 ci: Optimize pull request labeler
  .github/workflows/labeler.yml
Labels: ci

#32681 test: Don't keep journals for skipped tests
  test/TEST-21-DFUZZER/meson.build
  test/integration-test-wrapper.py
  test/meson.build
Labels: build-system, tests, good-to-merge/waiting-for-ci 👍, mkosi, meson

#32684 Follow-ups for recently merged PRs
  src/basic/mkdir.c
  src/core/execute.c
  src/core/execute.h
  src/core/service.c
  src/core/unit.c
  src/partition/repart.c
  src/test/test-mkdir.c
Labels: pid1, util-lib, tests, good-to-merge/waiting-for-ci 👍, repart

#32693 preset-all: continue on errors, report more errors
  src/shared/install.c
Labels: util-lib, ci-failure-appears-unrelated

#32706 man/run0: remove the --user example for --machine=
  man/run0.xml
Labels: documentation, run, quick-review 🏃‍♂️, please-review

#32707 Use the correct name of CEL
  man/systemd-pcrlock.xml
  man/systemd-pcrphase.service.xml
  man/systemd.pcrlock.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#32234 Expose dlopen() dependencies in an ELF section, and add spec for it
  docs/ELF_DLOPEN_METADATA.md
  meson.build
  src/basic/compress.c
  src/basic/dlfcn-util.h
  src/basic/gcrypt-util.c
  src/locale/xkbcommon-util.c
  src/shared/bpf-dlopen.c
  src/shared/cryptsetup-util.c
  src/shared/elf-util.c
  src/shared/firewall-util-iptables.c
  src/shared/idn-util.c
  src/shared/libarchive-util.c
  src/shared/libfido2-util.c
  src/shared/module-util.c
  src/shared/password-quality-util-passwdqc.c
  src/shared/password-quality-util-pwquality.c
  src/shared/pcre2-util.c
  src/shared/pkcs11-util.c
  src/shared/qrcode-util.c
  src/shared/tpm2-util.c
Labels: documentation, build-system, util-lib, good-to-merge/waiting-for-ci 👍, meson, tpm2, updated-by-collaborator 🤝

#32710 debug-generator: several cleanups
  src/debug-generator/debug-generator.c
  src/ssh-generator/ssh-generator.c
Labels: debug-generator, please-review

#32700 hwdb: Add a Logitech MX Master 3S (connected via Bolt Receiver)
  hwdb.d/70-mouse.hwdb
Labels: hwdb, please-review

#32713 firewall-util-iptables: update ELF note to mention "iptables"
  src/shared/firewall-util-iptables.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#32711 pidfd: properly detect if libc offers pidfd syscalls and make use of …
  meson.build
  src/basic/pidref.c
  src/libsystemd/sd-event/sd-event.c
  src/libsystemd/sd-event/test-event.c
  src/libsystemd/sd-login/test-login.c
  src/login/pam_systemd.c
  src/test/test-aux-scope.c
Labels: build-system, util-lib, good-to-merge/waiting-for-ci 👍, meson

#32719 docs,man: Avoid some ambiguous uses of "may not"
  docs/ENVIRONMENT.md
  man/homectl.xml
  man/integritytab.xml
  man/sd_bus_set_address.xml
  man/systemctl.xml
  man/systemd-cryptenroll.xml
  man/systemd.network.xml
  man/systemd.unit.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#32717 Whitespace adjustments and comments
  src/boot/measure.c
  src/nspawn/nspawn-oci.c
  src/partition/repart.c
  src/shared/bus-util.c
  src/vmspawn/vmspawn-util.c
  src/vmspawn/vmspawn-util.h
Labels: nspawn, util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, repart, vmspawn

#32723 systemctl-show: make show_memory_available cover memory_available itself
  src/systemctl/systemctl-show.c
Labels: systemctl, quick-review 🏃‍♂️, please-review

#32701 vmspawn: implement machinectl shell for vm class machines and send termination signal via D-Bus-over-SSH
  src/vmspawn/vmspawn-register.c
  src/vmspawn/vmspawn-register.h
  src/vmspawn/vmspawn.c
Labels: documentation, util-lib, ci-failure-appears-unrelated, vmspawn

#32729 mkosi: Extend kernel command line
  mkosi.conf
Labels: mkosi, please-review

#32728 TEST-46-HOMED: Ignore "Disk Usage" field as well
  test/units/testsuite-46.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#32732 mkosi: Drop usage of updates-testing for Fedora 40
  mkosi.conf.d/20-fedora-40.conf
Labels: good-to-merge/waiting-for-ci 👍

#32733 core: minor cleanups
  src/basic/path-util.c
  src/basic/path-util.h
  src/core/dbus-unit.c
  src/core/namespace.c
  src/core/unit.c
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍

#32689 core/exec-credential: complain louder if inherited credential is missing
  man/systemd.exec.xml
  src/core/exec-credential.c
  src/core/load-fragment.c
Labels: documentation, pid1, please-review

#32679 network: Add missing IPv6AcceptRA to list of config sections
  src/network/networkd-conf.c
Labels: network, please-review

#32585 shell-completion: on zsh, systemd-cat is a precommand
  shell-completion/zsh/_systemd
Labels: shell completion, please-review

#32646 sd-netlink: Fix build against older kernel headers
  src/basic/linux/netfilter.h
Labels: util-lib, sd-netlink, please-review

#32742 test: wait for network interface reconfigured after updating config
  test/units/testsuite-74.networkctl.sh
Labels: tests, please-review

#32743 test-network: several improvements for running with mkosi
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#32739 vmspawn: fix journal forwarding
  src/vmspawn/vmspawn.c
Labels: please-review, vmspawn

#32741 network/dhcp4: fix assignment of routes to DNS or NTP servers
  src/network/networkd-dhcp4.c
  src/test/test-in-addr-util.c
Labels: network, tests, needs-stable-backport, please-review

#32491 journalctl: several fixes and cleanups for --boot= option handling
  man/journalctl.xml
  src/journal/journalctl-filter.c
  src/journal/journalctl-misc.c
  src/journal/journalctl-util.c
  src/journal/journalctl-util.h
  src/journal/journalctl.c
  src/libsystemd/sd-journal/test-journal-interleaving.c
  src/login/loginctl.c
  src/machine/machinectl.c
  src/shared/logs-show.c
  src/shared/logs-show.h
  src/systemctl/systemctl-show.c
Labels: journal, login, documentation, systemctl, util-lib, tests, good-to-merge/waiting-for-ci 👍

#32738 Trivial follow-ups for recent changes
  src/basic/mkdir.c
  src/basic/time-util.h
  src/core/service.c
  src/core/unit.c
  src/partition/repart.c
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍, repart

#32748 test-network: several more improvements
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#32747 tmpfiles: some cleanups/follow-up
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#32749 libcrypt-util: fix wrong errno value assignment
  src/shared/libcrypt-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#32755 test-network: several cleanups
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, please-review

#32764 debug-generator: Allow specifying name of unit-dropin credential
  man/systemd-debug-generator.xml
  src/debug-generator/debug-generator.c
  src/shared/dropin.c
  test/TEST-54-CREDS/test.sh
  test/units/testsuite-54.sh
Labels: documentation, util-lib, tests, debug-generator, good-to-merge/waiting-for-ci 👍

#32770 Translations update from Fedora Weblate
  po/hi.po
Labels: l10n 🌍, please-review

#32765 Update 60-sensor.hwdb
  hwdb.d/60-sensor.hwdb
Labels: hwdb, fix-commit-message-on-merge, squash-on-merge, please-review

#32772 Updated Librem 11 accelerometer
  hwdb.d/60-sensor.hwdb
Labels: hwdb, squash-on-merge, please-review

#32780 man: add v257 tag
  man/version-info.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#32758 journal: modernize journal ratelimiting
  src/basic/log.c
  src/journal/journald-kmsg.c
  src/journal/journald-native.c
  src/journal/journald-rate-limit.c
  src/journal/journald-rate-limit.h
  src/journal/journald-server.c
  src/journal/journald-server.h
  src/journal/journald-stream.c
  src/journal/journald-syslog.c
  src/journal/meson.build
  src/journal/test-journald-rate-limit.c
  src/libsystemd/sd-journal/journal-send.c
  src/udev/udev-manager.c
Labels: journal, util-lib, tests, good-to-merge/waiting-for-ci 👍

#32781 hwdb: ID_INPUT_XYZ allows an empty string
  hwdb.d/parse_hwdb.py
Labels: hwdb, tests, good-to-merge/waiting-for-ci 👍

#32782 TEST-38-FREEZER: Relax regex a little
  test/units/testsuite-38.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#32775 hwdb: ASRock LED Controller incorrectly classified as joystick due to buttons and axis
  hwdb.d/60-input-id.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, fix-commit-message-on-merge

#32789 machined: rename vsockCid → vSockCid field in Varlink API
  src/machine/machine-varlink.c
  src/shared/varlink-io.systemd.Machine.c
  src/vmspawn/vmspawn-register.c
Labels: machine, util-lib, good-to-merge/waiting-for-ci 👍, vmspawn

#32776 core/service: remove unnecessary reset of notify_access_override
  src/core/service.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#32786 machined: return recognizable error when we try to register the same …
  src/machine/machine-varlink.c
  src/shared/varlink-io.systemd.Machine.c
  src/vmspawn/vmspawn-register.c
Labels: machine, util-lib, good-to-merge/waiting-for-ci 👍, vmspawn

#32790 curl-glue: catch libcurl attempting to change timeout handler when we…
  src/import/curl-util.c
Labels: import, good-to-merge/waiting-for-ci 👍

#32792 IPv6 Compliance: Router Advertisement Processing, Reachable Time [v6LC.2.2.15]
  src/network/networkd-ndisc.c
Labels: network, good-to-merge/waiting-for-ci 👍, ndisc/ra, squash-on-merge

#32793 IPv6 Compliance RFC4862: Address Lifetime Expiry (Hosts Only) [v6LC.3.2.2]
  src/network/networkd-ndisc.c
Labels: network, good-to-merge/waiting-for-ci 👍, ndisc/ra

#32798 sd-event: increase test-event timeout to 120s
  src/libsystemd/meson.build
Labels: tests, good-to-merge/waiting-for-ci 👍

#32799 core: Imply DefaultDependencies=no for credential mounts
  src/core/mount.c
  test/TEST-82-SOFTREBOOT/test.sh
  test/units/testsuite-82.sh
Labels: pid1, tests, good-to-merge/waiting-for-ci 👍

#32797 libsystemd-network: skip dhcp server test in case of EAFNOSUPPORT
  src/libsystemd-network/test-dhcp-server.c
Labels: network, tests, please-review

#32534 cgroup-util: make sure cg_read_pid() can deal sanely with unmapped PIDs (as in foreign pidns)
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/cgtop/cgtop.c
  src/core/cgroup.c
  src/core/dbus-unit.c
  src/shared/cgroup-setup.c
  src/shared/cgroup-show.c
Labels: cgroups, pid1, util-lib, cgtop, ci-failure-appears-unrelated

#32813 tree-wide: 'allows to' -> 'allows one to'
  docs/ELF_PACKAGE_METADATA.md
  docs/MEMORY_PRESSURE.md
  man/systemd-cryptenroll.xml
  src/analyze/analyze-security.c
  src/boot/efi/secure-boot.c
  src/core/manager.c
  src/core/transaction.c
  src/core/unit.c
  src/vconsole/vconsole-setup.c
Labels: tree-wide, good-to-merge/waiting-for-ci 👍

#32815 core/exec-credential: downgrade warning about missing cred to info
  src/core/exec-credential.c
Labels: pid1, ci-failure-appears-unrelated

#32814 sysusers: simplify meson config
  sysusers.d/meson.build
Labels: build-system, good-to-merge/waiting-for-ci 👍, meson

#32812 test: Only add tpm2.target dependency to TEST-70-TPM2.service
  test/TEST-64-UDEV-STORAGE/virtio_scsi_identically_named_partitions.configure
  test/TEST-70-TPM2/meson.build
  test/meson.build
  test/test.service.in
  test/units/TEST-64-UDEV-STORAGE.sh
Labels: build-system, tests, good-to-merge/waiting-for-ci 👍, meson

#32821 test: Enable TEST-82-SOFTREBOOT on mkosi
  test/TEST-82-SOFTREBOOT/meson.build
Labels: build-system, tests, good-to-merge/waiting-for-ci 👍, meson

#32828 Translations update from Fedora Weblate
  po/sl.po
Labels: l10n 🌍, please-review

#32817 core/core-varlink: trivial cleanups
  src/core/core-varlink.c
  src/core/core-varlink.h
Labels: pid1, good-to-merge/waiting-for-ci 👍

#32822 core,vconsole-setup: treat locking failure as non-fatal
  src/core/execute.c
  src/vconsole/vconsole-setup.c
Labels: pid1, vconsole, good-to-merge/waiting-for-ci 👍

#32825 TEST-21-DFUZZER: Fix script name
  test/units/TEST-21-DFUZZER.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#32830 home: fix ownership of files copied from skelton directory
  src/home/homework.c
  test/units/TEST-46-HOMED.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, homed, needs-stable-backport

#32666 test: Add TEST-85-NETWORK to run systemd-networkd-tests.py
  mkosi.images/system/mkosi.extra/usr/lib/systemd/journald.conf.d/ratelimit.conf
  test/TEST-85-NETWORK/Makefile
  test/TEST-85-NETWORK/meson.build
  test/meson.build
  test/test-network/systemd-networkd-tests.py
Labels: build-system, tests, meson, please-review

#32835 test: Enable TEST-08-INITRD on mkosi
  mkosi.images/exitrd/mkosi.conf
  mkosi.images/exitrd/mkosi.conf.d/10-arch.conf
  mkosi.images/exitrd/mkosi.conf.d/10-centos-fedora.conf
  mkosi.images/exitrd/mkosi.conf.d/10-debian-ubuntu.conf
  mkosi.images/exitrd/mkosi.conf.d/10-opensuse.conf
  mkosi.images/exitrd/mkosi.extra/shutdown
  mkosi.images/system/initrd/mkosi.extra/usr/lib/systemd/system/initrd-run-mount.service
  mkosi.images/system/mkosi.conf
  test/TEST-08-INITRD/meson.build
  test/TEST-08-INITRD/test.sh
  test/TEST-21-DFUZZER/meson.build
  test/TEST-64-UDEV-STORAGE/meson.build
  test/TEST-85-NETWORK/meson.build
  test/integration-test-wrapper.py
  test/meson.build
  test/units/TEST-08-INITRD.sh
Labels: build-system, tests, good-to-merge/waiting-for-ci 👍, meson

#32840 TEST-08-INITRD: Fix result check
  test/TEST-08-INITRD/test.sh
  test/units/TEST-08-INITRD.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#32839 core: Fix assertion in parse_smbios_strings()
  src/core/import-creds.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#32841 man: fix typo 'ot' -> 'or'
  man/pam_systemd.xml
Labels: login, documentation, good-to-merge/waiting-for-ci 👍

#32818 Check packet size in libsystemd-network
  src/libsystemd-network/fuzz-ndisc-rs.c
  src/libsystemd-network/icmp6-packet.c
  src/libsystemd-network/icmp6-packet.h
  src/libsystemd-network/icmp6-test-util.c
  src/libsystemd-network/icmp6-test-util.h
  src/libsystemd-network/icmp6-util.c
  src/libsystemd-network/meson.build
  src/libsystemd-network/test-ndisc-ra.c
  src/libsystemd-network/test-ndisc-rs.c
Labels: network, build-system, tests, good-to-merge/waiting-for-ci 👍, meson, coverity

#32844 core/mount: correctly set DefaultDependencies=no for mounts from mountinfo
  src/core/mount.c
  src/core/swap.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#32806 test/test-rpm-macros.sh: add build directory to pkg-config search path
  test/test-rpm-macros.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#32849 systemctl: fix "applying zero offset to null pointer" UBSan error
  src/systemctl/systemctl-list-unit-files.c
Labels: systemctl, good-to-merge/waiting-for-ci 👍

#32784 docs/RELEASE: use meson.version for tags
  docs/RELEASE.md
Labels: documentation, please-review

#32851 core: Skip private /tmp for generators in manager test runs
  src/core/manager.c
  test/units/TEST-65-ANALYZE.sh
Labels: pid1, analyze, tests, ci-failure-appears-unrelated

#32800 switch-root: preserve the whole cred mount tree (/run/credentials/)
  src/shared/switch-root.c
  test/units/TEST-82-SOFTREBOOT.sh
Labels: util-lib, tests, please-review

#32853 journal-importer: Consider ECONNRESET as EOF
  src/shared/journal-importer.c
Labels: journal, util-lib

#32860 test: add coverage for Compress=yes config option
  test/units/TEST-04-JOURNAL.SYSTEMD_JOURNAL_COMPRESS.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#32832 network: configure a tun host0 interface in a container
  network/80-container-host0-tun.network
  network/meson.build
Labels: network

#32842 test: Enable TEST-24-CRYPTSETUP for mkosi
  mkosi.images/system/initrd/mkosi.extra/usr/lib/encrypted-var.repart.d/00-root.conf
  mkosi.images/system/initrd/mkosi.extra/usr/lib/systemd/system/encrypted-var.service
  mkosi.images/system/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-arch/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-centos-fedora/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-opensuse/mkosi.conf
  mkosi.images/system/mkosi.postinst.chroot
  src/partition/repart.c
  test/TEST-24-CRYPTSETUP/keydev.repart/00-root.conf
  test/TEST-24-CRYPTSETUP/keyfile
  test/TEST-24-CRYPTSETUP/meson.build
  test/TEST-24-CRYPTSETUP/test.sh
  test/units/TEST-24-CRYPTSETUP.sh
Labels: build-system, tests, good-to-merge/waiting-for-ci 👍, meson, repart

#32863 Two minor followups
  src/basic/fd-util.c
  src/shared/switch-root.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#32865 CI: add manual workflow to publish pages to fix submodule issue
  .github/workflows/jekyll-gh-pages.yml
Labels: tests, please-review

#32862 test: Enable TEST-69-SHUTDOWN for mkosi
  mkosi.images/system/mkosi.conf.d/10-arch/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-centos-fedora/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu/mkosi.conf
  mkosi.images/system/mkosi.conf.d/10-opensuse/mkosi.conf
  test/TEST-69-SHUTDOWN/TEST-69-SHUTDOWN.service
  test/TEST-69-SHUTDOWN/meson.build
  test/units/TEST-69-SHUTDOWN.py
Labels: build-system, tests, meson, please-review

#32883 hwdb: Enable JP-IK LEAP W502's touchpad toggle key
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#32879 test: wait for partition processed by udevd
  test/units/TEST-58-REPART.sh
Labels: tests, please-review

#32881 test: sync journal before reading journal
  test/units/TEST-60-MOUNT-RATELIMIT.sh
Labels: tests, quick-review 🏃‍♂️, please-review

#32880 units: do not soft-reboot before soft-reboot.target reached
  units/soft-reboot.target
  units/systemd-journald@.service.in
  units/systemd-soft-reboot.service
Labels: good-to-merge/waiting-for-ci 👍, units

#32885 test: do not fill journal with garbage
  test/units/TEST-13-NSPAWN.machinectl.sh
  test/units/TEST-63-PATH.sh
Labels: tests, quick-review 🏃‍♂️, please-review

#32882 test: wait for slice unit being (de)activated
  test/units/TEST-15-DROPIN.sh
Labels: tests, please-review

#32886 test: wait for partition device being processed by udevd
  test/units/TEST-70-TPM2.cryptsetup.sh
Labels: tests, quick-review 🏃‍♂️, please-review

#32875 network/route: fix unexpected removal of routes for wireguard
  src/network/networkd-route.c
  test/test-network/conf/25-route-static.network
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#32878 test: dynamically generate list of test cases
  test/TEST-85-NETWORK/meson.build
Labels: build-system, tests, good-to-merge/waiting-for-ci 👍, meson, quick-review 🏃‍♂️

#32887 test: wait for underlying .device unit being active before invoking systemd-mount
  test/units/TEST-74-AUX-UTILS.mount.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#32892 mountpoint-util: Deal with kernel API breakage in "norecovery" mount option
  src/basic/mountpoint-util.c
  src/basic/mountpoint-util.h
  src/shared/dissect-image.c
  src/test/test-mountpoint-util.c
Labels: btrfs, util-lib, tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#32897 man/soft-reboot: order surviving services before shutdown.target
  man/systemd-soft-reboot.service.xml
Labels: documentation, please-review

#32909 shell-completion: add more missing args for bash
  shell-completion/bash/meson.build
  shell-completion/bash/systemd-nspawn
  shell-completion/bash/systemd-run
Labels: nspawn, build-system, meson, please-review

#32902 several fixes for emergency actions and document update
  man/bootup.xml
  man/systemd.unit.xml
  src/core/emergency-action.c
  src/core/emergency-action.h
  units/exit.target
  units/halt.target
  units/kexec.target
Labels: documentation, pid1, good-to-merge/waiting-for-ci 👍, units

#32914 test: several follow-ups for TEST-64-STORAGE
  test/test-functions
  test/units/TEST-64-UDEV-STORAGE.sh
Labels: tests, please-review

#32911 test: sync journals before reading them
  test/units/TEST-09-REBOOT.journal.sh
  test/units/TEST-82-SOFTREBOOT.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#32917 ptyfwd: a few fixes/cleanups
  src/run/run.c
  src/shared/ptyfwd.c
  src/vmspawn/vmspawn.c
Labels: util-lib, run, please-review, vmspawn

#32907 several fixes for os image handling
  src/machine/image-dbus.c
  src/machine/image-dbus.h
  src/machine/machined-dbus.c
  src/shared/discover-image.c
Labels: machine, util-lib, tests, good-to-merge/waiting-for-ci 👍

#32925 test: sync journal before starting test
  test/units/TEST-60-MOUNT-RATELIMIT.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#32915 machine-id-setup: acquire machine ID from /run/machine-id if possible
  src/shared/machine-id-setup.c
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍

#32924 Update systemd.link.xml
  man/systemd.link.xml
Labels: documentation, fix-commit-message-on-merge, please-review

#32927 test-network: workaround for netdevsim bug
  mkosi.images/system/mkosi.conf.d/10-fedora/mkosi.conf
  test/test-network/conf/25-netdevsim.link
  test/test-network/conf/25-sriov-udev.network
  test/test-network/conf/25-sriov.link
  test/test-network/conf/25-sriov.network
  test/test-network/systemd-networkd-tests.py
Labels: tests, good-to-merge/waiting-for-ci 👍

#32932 test: wait for partition device rather than the whole disk
  test/units/TEST-58-REPART.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#32934 logind: do not fail creating a session when request is not from a unit
  .semaphore/semaphore-runner.sh
  src/login/logind-core.c
  src/login/logind-dbus.c
Labels: login, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#32935 analyze: do not print timestamps before "start of userspace"
  src/analyze/analyze-critical-chain.c
Labels: analyze, good-to-merge/waiting-for-ci 👍

#32939 btrfs-util: check current offset before read
  src/shared/btrfs-util.c
Labels: btrfs, util-lib, good-to-merge/waiting-for-ci 👍

#32940 test: extend timeout for DHCP/NDisc tests
  src/libsystemd-network/test-dhcp-client.c
  src/libsystemd-network/test-dhcp6-client.c
  src/libsystemd-network/test-ndisc-ra.c
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#32942 test: sync journal before read
  test/units/TEST-17-UDEV.02.sh
  test/units/TEST-35-LOGIN.sh
  test/units/TEST-50-DISSECT.dissect.sh
  test/units/TEST-60-MOUNT-RATELIMIT.sh
Labels: tests, good-to-merge/waiting-for-ci 👍
