Repository systemd/systemd, pull requests merged in 2024-03, with the labels that each got.

#31492 sd-ndisc: introduce ICMP6Packet and relevant functions, and use them
  src/libsystemd-network/icmp6-packet.c
  src/libsystemd-network/icmp6-packet.h
  src/libsystemd-network/meson.build
  src/libsystemd-network/ndisc-internal.h
  src/libsystemd-network/ndisc-protocol.c
  src/libsystemd-network/ndisc-protocol.h
  src/libsystemd-network/ndisc-router-internal.h
  src/libsystemd-network/sd-ndisc-router.c
  src/libsystemd-network/sd-ndisc.c
  src/network/networkd-ndisc.c
  src/systemd/sd-ndisc.h
Labels: network, build-system, tests, ndisc/ra, meson, good-to-merge/with-minor-suggestions

#31551 New rpm macro %_kernel_install_dir
  meson.build
  src/rpm/macros.systemd.in
Labels: rpm, good-to-merge/waiting-for-ci 👍

#31555 sd-ndisc: trivial cleanups
  src/libsystemd-network/ndisc-protocol.c
  src/libsystemd-network/ndisc-protocol.h
  src/libsystemd-network/sd-ndisc-router.c
  src/systemd/sd-ndisc-router.h
Labels: network, good-to-merge/waiting-for-ci 👍, ndisc/ra

#31502 network: support to dump LLDP neighbors in JSON format
  man/networkctl.xml
  src/libsystemd-network/lldp-neighbor.c
  src/libsystemd-network/lldp-neighbor.h
  src/libsystemd-network/lldp-rx-internal.h
  src/libsystemd-network/sd-lldp-rx.c
  src/network/networkctl.c
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-lldp-rx.c
  src/network/networkd-lldp-rx.h
  src/network/networkd-manager-varlink.c
  src/network/networkd-state-file.c
  src/network/networkd.c
  src/shared/varlink-io.systemd.Network.c
  src/systemd/sd-lldp-rx.h
  test/test-network/systemd-networkd-tests.py
  tmpfiles.d/systemd-network.conf
Labels: network, documentation, util-lib, tests, lldp, good-to-merge/waiting-for-ci 👍

#31498 netdev: bond - add support for peer_notif_delay
  man/systemd.netdev.xml
  src/network/netdev/bond.c
  src/network/netdev/bond.h
  src/network/netdev/netdev-gperf.gperf
  test/test-network/conf/25-bond-property.netdev
  test/test-network/systemd-networkd-tests.py
Labels: network, documentation, tests, please-review

#31527 test: enable PAM debug logs in TEST-46-HOMED
  test/units/testsuite-46.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#30057 uki: Support zboot efistub kernel
  src/ukify/ukify.py
Labels: uki, please-review

#31310 user-record: Add session{Type,Name} fields
  docs/USER_RECORD.md
  man/homectl.xml
  shell-completion/bash/homectl
  src/home/homectl.c
  src/shared/user-record-show.c
  src/shared/user-record.c
  src/shared/user-record.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍, userdb, rc-blocker 🚧

#31577 CI: free up diskspace before mkosi jobs
  .github/workflows/mkosi.yml
Labels: tests, mkosi, ci, quick-review 🏃‍♂️, please-review

#31572 vmspawn: actually pass UUID down to qemu
  src/vmspawn/vmspawn.c
Labels: good-to-merge/waiting-for-ci 👍, vmspawn

#31568 test74: create ssh empty dir all at the same place
  test/units/testsuite-74.ssh.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#31565 dlfcn-util: use safe_dlclose for dlclosep
  src/shared/dlfcn-util.h
  src/shared/userdb.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, userdb

#31567 core/service: remove unused function param and minor cleanup
  src/core/service.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#31557 resolve: skip IP_UNICAST_IF for local sockets
  src/resolve/resolved-dns-scope.c
Labels: resolve, please-review

#31274 repart/measure/ukify: add support for OpenSSL engines/providers
  docs/ENVIRONMENT.md
  man/systemd-measure.xml
  man/systemd-repart.xml
  man/ukify.xml
  src/boot/measure.c
  src/partition/repart.c
  src/shared/openssl-util.c
  src/shared/openssl-util.h
  src/ukify/test/test_ukify.py
  src/ukify/ukify.py
Labels: documentation, util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, repart, uki, rc-blocker 🚧

#31507 importd: various modernizations
  TODO
  man/importctl.xml
  man/machinectl.xml
  man/org.freedesktop.import1.xml
  man/portablectl.xml
  man/rules/meson.build
  man/sd_event_exit.xml
  man/systemd-importd.service.xml
  man/systemd-nspawn.xml
  man/systemd-sysext.xml
  man/systemd-vmspawn.xml
  src/basic/fd-util.c
  src/basic/glyph-util.c
  src/basic/glyph-util.h
  src/import/curl-util.c
  src/import/curl-util.h
  src/import/export.c
  src/import/import-common.c
  src/import/import-common.h
  src/import/import-fs.c
  src/import/import-raw.c
  src/import/import-tar.c
  src/import/import.c
  src/import/importctl.c
  src/import/importd.c
  src/import/meson.build
  src/import/org.freedesktop.import1.conf
  src/import/org.freedesktop.import1.policy
  src/import/pull-common.c
  src/import/pull-common.h
  src/import/pull-job.c
  src/import/pull-raw.c
  src/import/pull-raw.h
  src/import/pull-tar.c
  src/import/pull-tar.h
  src/import/pull.c
  src/libsystemd/sd-event/sd-event.c
  src/machine/machinectl.c
  src/shared/discover-image.c
  src/shared/discover-image.h
  src/shared/pretty-print.c
  src/shared/pretty-print.h
  src/test/meson.build
  src/test/test-locale-util.c
  src/test/test-progress-bar.c
  test/units/testsuite-13.importctl.sh
  test/units/testsuite-13.machinectl.sh
Labels: nspawn, documentation, build-system, util-lib, tests, import, sd-event, good-to-merge/waiting-for-ci 👍, meson, vmspawn

#31578 hashmap: reorder fields to pack structure better
  src/basic/hashmap.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#31583 sd-lldp: fix assignment of capabilities in JSON output
  src/libsystemd-network/fuzz-lldp-rx.c
  src/libsystemd-network/lldp-neighbor.c
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, lldp, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️

#31586 shared/pretty-print: minor follow-up for progress bar
  src/shared/pretty-print.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#31587 udev: follow-ups for RPS setting
  src/udev/net/link-config.c
  test/test-network/systemd-networkd-tests.py
Labels: udev, tests, please-review

#31593 po: add false positives to POTFILES.skip
  po/POTFILES.skip
Labels: please-review

#31579 resolved: explicitly disconnect all left-over TCP connections when co…
  src/resolve/resolved-bus.c
  src/resolve/resolved-dns-stream.c
  src/resolve/resolved-dns-stream.h
Labels: resolve, please-review

#31596 docs/UEFI_SECURITY: minor tweaks to the text
  src/boot/efi/UEFI_SECURITY.md
Labels: sd-boot/sd-stub/bootctl, please-review

#31595 hostnamed: use sd_bus_reply_method_return() to shorten code a bit
  src/hostname/hostnamed.c
Labels: hostname, good-to-merge/waiting-for-ci 👍

#31594 logind: several coding style cleanups
  src/login/logind-core.c
  src/login/logind-device.h
  src/login/logind-seat.c
  src/login/logind-seat.h
  src/login/logind-session.c
  src/login/logind-session.h
  src/login/logind-user.c
  src/login/logind-user.h
Labels: good-to-merge/waiting-for-ci 👍, logind

#31581 kernel-install: Add kernel version to title
  src/kernel-install/90-loaderentry.install.in
Labels: good-to-merge/waiting-for-ci 👍, kernel-install, squash-on-merge

#31602 test: explicitly set TERM=linux for TEST-69-SHUTDOWN
  test/TEST-69-SHUTDOWN/test.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#31607 po: update translation strings
  docs/RELEASE.md
  po/be.po
  po/be@latin.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/da.po
  po/de.po
  po/el.po
  po/es.po
  po/et.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/gl.po
  po/he.po
  po/hr.po
  po/hu.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/kab.po
  po/ko.po
  po/lt.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ro.po
  po/ru.po
  po/si.po
  po/sk.po
  po/sr.po
  po/sv.po
  po/systemd.pot
  po/tr.po
  po/uk.po
  po/zh_CN.po
  po/zh_TW.po
Labels: documentation, l10n 🌍, good-to-merge/waiting-for-ci 👍

#31614 Translations update from Fedora Weblate
  po/be.po
  po/be@latin.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/da.po
  po/de.po
  po/el.po
  po/es.po
  po/et.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/gl.po
  po/he.po
  po/hr.po
  po/hu.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/kab.po
  po/ko.po
  po/lt.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ro.po
  po/ru.po
  po/si.po
  po/sk.po
  po/sr.po
  po/sv.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
  po/zh_TW.po
Labels: l10n 🌍, please-review

#31615 hostnamectl: deal gracefully when talking to old hostnamed
  src/hostname/hostnamectl.c
Labels: hostname, good-to-merge/waiting-for-ci 👍

#31600 core/service: several trivial cleanups for fdstore
  man/sd_notify.xml
  src/basic/extract-word.c
  src/basic/extract-word.h
  src/basic/strv.c
  src/basic/time-util.c
  src/core/dynamic-user.c
  src/core/execute-serialize.c
  src/core/load-fragment.c
  src/core/service.c
  src/fstab-generator/fstab-generator.c
  src/hostname/hostnamed.c
  src/network/networkd-dhcp-common.c
  src/nspawn/nspawn-mount.c
  src/partition/repart.c
  src/resolve/resolved-dns-trust-anchor.c
  src/shared/bus-unit-util.c
  src/shared/cgroup-setup.c
  src/shared/condition.c
  src/shared/open-file.c
  src/sleep/battery-capacity.c
  src/systemctl/systemctl-mount.c
  src/sysusers/sysusers.c
  src/test/test-extract-word.c
  src/udev/scsi_id/scsi_id.c
  src/udev/udevadm-info.c
Labels: documentation, pid1, util-lib, good-to-merge/waiting-for-ci 👍

#31619 Translations update from Fedora Weblate
  po/ko.po
  po/pl.po
  po/tr.po
Labels: l10n 🌍, please-review

#31610 varlink: allow strings for integer varlink IDL fields
  src/shared/varlink-idl.c
  src/test/test-varlink-idl.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍, varlink

#31611 resolvectl: output nice error message if we can't JSONify RR
  src/resolve/resolvectl.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#31612 resolved: mention the Varlink interface of resolved
  man/systemd-resolved.service.xml
Labels: resolve, documentation, good-to-merge/waiting-for-ci 👍

#31613 resolved,pcrlock: make a bunch of varlink introspection structures st…
  src/shared/varlink-io.systemd.PCRLock.c
  src/shared/varlink-io.systemd.Resolve.Monitor.c
Labels: util-lib, tree-wide, good-to-merge/waiting-for-ci 👍, varlink

#31591 stat-util: generalize is_* and verify_* handling
  src/basic/mkdir.c
  src/basic/stat-util.c
  src/basic/stat-util.h
  src/basic/time-util.c
  src/firstboot/firstboot.c
  src/kernel-install/kernel-install.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#31582 test: fix test-loopback and test-resolved-stream on Ubuntu 24.04
  src/resolve/test-resolved-stream.c
  src/test/test-loopback.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#31604 fuzz: dump LLDP neighbors JSON too
  src/libsystemd-network/fuzz-lldp-rx.c
Labels: network, good-to-merge/waiting-for-ci 👍

#31597 Option -P for machinectl and timedatectl
  man/machinectl.xml
  man/standard-options.xml
  man/systemctl.xml
  man/timedatectl.xml
  src/machine/machinectl.c
  src/timedate/timedatectl.c
Labels: documentation, systemctl, timedate, ci-failure-appears-unrelated

#31629 Fixing bad link to Debian packages tests
  docs/AUTOPKGTEST.md
Labels: documentation, please-review

#31622 test: check for kernel.apparmor_restrict_unprivileged_userns
  src/test/test-execute.c
Labels: tests

#31625 sd-netlink: allow to call rtnl_get_link_info() without iftype and flags
  src/libsystemd/sd-netlink/netlink-util.c
Labels: sd-netlink, good-to-merge/waiting-for-ci 👍

#31626 extract-word: update remaining calls to `extract_many_words`
  src/core/execute-serialize.c
  src/shared/firewall-util-nft.c
  src/tmpfiles/tmpfiles.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#31631 mkosi: fix UKI addons test
  mkosi.images/base/mkosi.build.chroot
  mkosi.images/system/mkosi.conf.d/10-arch.conf
  mkosi.images/system/mkosi.conf.d/10-debian-ubuntu.conf
  mkosi.images/system/mkosi.conf.d/10-fedora.conf
  mkosi.images/system/mkosi.conf.d/10-opensuse.conf
  mkosi.images/system/mkosi.extra/usr/lib/systemd/mkosi-check-and-shutdown.sh
  mkosi.images/system/mkosi.postinst.chroot
Labels: tests, good-to-merge/waiting-for-ci 👍, uki

#22751 resolved: remove entry from cache when goodbye packet received
  src/resolve/resolved-dns-cache.c
  src/resolve/resolved-dns-cache.h
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-scope.h
  src/resolve/resolved-mdns.c
Labels: resolve, please-review

#31635 test: bump the timeout for test-execute subtests if running w/ QEMU
  src/test/test-execute.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#31640 Mkosi fixes
  mkosi.conf
  mkosi.images/initrd/mkosi.conf
  mkosi.images/system/mkosi.conf
  mkosi.images/system/mkosi.conf.d/05-initrd.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#31550 Dynamically load compression libraries
  TODO
  meson.build
  src/basic/compress.c
  src/basic/compress.h
  src/basic/dlfcn-util.c
  src/basic/dlfcn-util.h
  src/basic/meson.build
  src/boot/efi/meson.build
  src/coredump/meson.build
  src/journal-remote/meson.build
  src/journal/meson.build
  src/libsystemd/meson.build
  src/login/meson.build
  src/machine/meson.build
  src/pstore/meson.build
  src/shared/meson.build
  src/systemctl/meson.build
  src/test/meson.build
  src/test/test-compress.c
  src/test/test-dlopen-so.c
Labels: journal, build-system, util-lib, tests, sd-boot/sd-stub/bootctl, journal-remote, good-to-merge/waiting-for-ci 👍, meson, logind

#31634 hwdb: Add touchpad toggle mapping for Kvadra LE14U/LE15U
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#31638 test: use 'ahost' instead of 'hosts' where applicable
  test/units/testsuite-75.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#31642 Translations update from Fedora Weblate
  po/ka.po
  po/sv.po
  po/uk.po
Labels: l10n 🌍, please-review

#31623 ukify: convert certificate to public key before embedding in .pcrpkey
  src/ukify/ukify.py
Labels: good-to-merge/waiting-for-ci 👍, uki

#31636 meson/man: allow man pages to use multiple conditions
  man/meson.build
  man/rules/meson.build
  man/systemd-bless-boot.service.xml
  man/systemd-bsod.service.xml
  man/systemd-journal-gatewayd.service.xml
  man/systemd-journal-remote.service.xml
  man/systemd-journal-upload.service.xml
  man/systemd-pcrlock.xml
  man/systemd-pcrphase.service.xml
Labels: documentation, build-system, good-to-merge/waiting-for-ci 👍, meson, bsod

#31650 udev: use strndupa_safe() rather than strndupa()
  src/udev/udev-builtin-net_id.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#31651 string-util: allow taking SIZE_MAX as size to shorten to
  src/basic/string-util.c
  src/test/test-string-util.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#31621 resolved: proxy upstream local requests to our stub with DO bit set
  docs/ENVIRONMENT.md
  man/org.freedesktop.resolve1.xml
  man/resolvectl.xml
  src/resolve/resolvectl.c
  src/resolve/resolved-bus.c
  src/resolve/resolved-def.h
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-scope.h
  src/resolve/resolved-dns-stub.c
  src/resolve/resolved-dns-synthesize.c
  src/resolve/resolved-dns-synthesize.h
  src/resolve/resolved-etc-hosts.c
  src/resolve/resolved-varlink.c
  test/units/testsuite-75.sh
Labels: resolve, documentation, tests, please-review

#31580 resolved: properly decode NAPTR RRs
  src/basic/escape.c
  src/resolve/resolved-dns-packet.c
  src/resolve/resolved-dns-rr.c
  src/resolve/resolved-dns-rr.h
  src/resolve/test-resolved-packet.c
  src/shared/varlink-io.systemd.Resolve.Monitor.c
Labels: resolve, util-lib, escape, please-review

#31654 Improve the formatting by adding AlignArrayOfStructures
  .clang-format
Labels: please-review

#31657 A couple of tweaks for test-execute
  .github/workflows/unit_tests.sh
Labels: tests, please-review

#31592 core/service: two fixes for ExitType=cgroup
  src/core/service.c
Labels: pid1, please-review

#30612 Freeze user sessions for all types of sleep
  NEWS
  docs/ENVIRONMENT.md
  man/systemd-suspend.service.xml
  src/home/homework.c
  src/shared/bus-unit-util.c
  src/shared/bus-unit-util.h
  src/sleep/sleep.c
Labels: documentation, util-lib, sleep, please-review, rc-blocker 🚧

#31645 resolved: decrease mdns/llmnr priority for the reverse mapping domains
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-scope.h
Labels: resolve, documentation, please-review

#31658 man: fix systemd-timedated man page wrt ntp-units.d
  man/systemd-timedated.service.xml
Labels: documentation, timedate, good-to-merge/waiting-for-ci 👍

#31616 resolved: add varlink API for resolving raw RRs
  src/resolve/resolved-varlink.c
  src/shared/varlink-io.systemd.Resolve.Monitor.c
  src/shared/varlink-io.systemd.Resolve.c
  src/shared/varlink-io.systemd.Resolve.h
  test/units/testsuite-75.sh
Labels: resolve, util-lib, tests, good-to-merge/waiting-for-ci 👍, escape

#31653 Update catalog.c - Removing sanity check as there is no need of checking non null pointer
  src/libsystemd/sd-journal/catalog.c
Labels: journal, good-to-merge/waiting-for-ci 👍, squash-on-merge

#31664 Coverity fixes
  src/basic/escape.c
  src/resolve/resolved-dns-synthesize.c
Labels: resolve, util-lib, good-to-merge/waiting-for-ci 👍, escape, coverity

#31608 loongarch64: disable simd when build efi
  src/boot/efi/meson.build
Labels: build-system, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, meson

#31628 tmpfiles: fix for 'X' bit handling and use it where appropriate
  src/tmpfiles/tmpfiles.c
  tmpfiles.d/systemd.conf.in
Labels: tmpfiles, good-to-merge/waiting-for-ci 👍

#31590 shared/install: several cleanups
  src/analyze/analyze-unit-files.c
  src/analyze/analyze-unit-paths.c
  src/basic/path-lookup.c
  src/basic/path-lookup.h
  src/core/dbus-manager.c
  src/core/manager.c
  src/libsystemd/sd-path/sd-path.c
  src/portable/portable.c
  src/shared/install.c
  src/shared/install.h
  src/ssh-generator/ssh-generator.c
  src/systemctl/systemctl-edit.c
  src/systemctl/systemctl-enable.c
  src/systemctl/systemctl-sysv-compat.c
  src/sysv-generator/sysv-generator.c
  src/test/test-path-lookup.c
  src/test/test-unit-file.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#31665 man/resolve: update DNSSEC description
  man/resolved.conf.xml
Labels: resolve, documentation, please-review

#31659 Freezer trivial follow-up
  src/basic/constants.h
  src/shared/bus-unit-util.c
  src/shared/bus-unit-util.h
  src/sleep/sleep.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, sleep

#31668 logind-dbus: count user-early sessions in verify_shutdown_creds too
  src/login/logind-dbus.c
Labels: good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, logind

#31669 Added a unit test to cover af_to_name in af-list.c
  src/test/test-af-list.c
Labels: tests, good-to-merge/waiting-for-ci 👍, 🙋🏽‍♀️ outreachy 🙋

#31666 Add more unit test to cover the uid_range_covers inside the uid-range.c file
  src/test/test-uid-range.c
Labels: tests, 🙋🏽‍♀️ outreachy 🙋, please-review

#30480 Read kernel-install config from /run/kernel too
  man/coredump.conf.xml
  man/homed.conf.xml
  man/journal-remote.conf.xml
  man/journal-upload.conf.xml
  man/kernel-install.xml
  man/logind.conf.xml
  man/networkd.conf.xml
  man/oomd.conf.xml
  man/pstore.conf.xml
  man/resolved.conf.xml
  man/standard-conf.xml
  man/systemd-sleep.conf.xml
  man/systemd-system.conf.xml
  man/timesyncd.conf.xml
  src/analyze/analyze-cat-config.c
  src/backlight/backlight.c
  src/basic/conf-files.c
  src/basic/constants.h
  src/basic/path-lookup.c
  src/basic/strv.c
  src/basic/strv.h
  src/boot/bootctl-install.c
  src/core/main.c
  src/coredump/coredump.c
  src/environment-d-generator/environment-d-generator.c
  src/home/homed-conf.c
  src/journal-remote/journal-remote-main.c
  src/journal-remote/journal-upload.c
  src/journal/journald-server.c
  src/kernel-install/kernel-install.c
  src/kernel-install/test-kernel-install.sh
  src/login/logind-core.c
  src/network/networkd-conf.c
  src/oom/oomd.c
  src/partition/repart.c
  src/pstore/pstore.c
  src/resolve/resolved-conf.c
  src/shared/conf-parser.c
  src/shared/conf-parser.h
  src/shared/install.c
  src/shared/pretty-print.c
  src/shared/sleep-config.c
  src/shared/tpm2-util.c
  src/shared/udev-util.c
  src/test/test-conf-parser.c
  src/test/test-strv.c
  src/timesync/timesyncd-conf.c
  src/tmpfiles/tmpfiles.c
  src/udev/net/link-config.c
  src/udev/udev-builtin-net_setup_link.c
  src/udev/udevd.c
  src/xdg-autostart-generator/xdg-autostart-generator.c
Labels: udev, network, journal, resolve, documentation, util-lib, tests, timesync, sd-boot/sd-stub/bootctl, coredump, journal-remote, sleep, ci-failure-appears-unrelated, env-generator, repart, xdg-autostart, tpm2, logind, rc-blocker 🚧

#31339 bootctl: additional fixes for local/global UKI PE addons
  src/shared/bootspec.c
  src/shared/bootspec.h
Labels: util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#31685 mkosi: fix typo
  mkosi.images/base/mkosi.sync
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#31686 mkosi: Add BuildSourcesEphemeral=yes
  mkosi.conf
Labels: please-review

#31677 man/kernel-install: add `add-all` command to synopsis
  man/kernel-install.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#31678 Added a new test to cover login-util.c
  src/test/meson.build
  src/test/test-login-util.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#31680 add unittest cases for argv_looks_like_help in test-argv-util.c module
  src/test/test-argv-util.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#31682 extract-word: increase test-extract-word coverage for unicode inputs
  src/test/test-extract-word.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#31683 core/exec-invoke: Fix missing arguments for PR_SET_MEMORY_MERGE call
  src/core/exec-invoke.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#31703 man/systemd-hibernate-resume: generator now enables rather than creates the service
  man/systemd-hibernate-resume-generator.xml
  man/systemd-hibernate-resume.service.xml
Labels: documentation, hibernate-resume, quick-review 🏃‍♂️, please-review

#31701 man: fix systemd-measure manpage conditional
  man/rules/meson.build
  man/systemd-measure.xml
Labels: documentation, build-system, good-to-merge/waiting-for-ci 👍, meson

#31705 Some follow-ups for quotacheck
  src/quotacheck/quotacheck.c
  units/quotaon@.service.in
  units/systemd-quotacheck@.service.in
Labels: good-to-merge/waiting-for-ci 👍, units

#31704 hwdb: Add touchpad configuration for ThinkPad E495
  hwdb.d/60-evdev.hwdb
Labels: hwdb, please-review

#31692 semaphore: move back to autopkgtest master branch and rearrange build deps
  .semaphore/semaphore-runner.sh
Labels: ci, quick-review 🏃‍♂️, please-review

#31675 resolved: refuse queries with no suitable scope
  src/resolve/resolved-dns-stub.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#31706 systemd-boot: Add support for reading extra kernel cmdline from SMBIOS
  man/smbios-type-11.xml
  man/systemd-boot.xml
  man/systemd-stub.xml
  src/boot/efi/boot.c
  src/vmspawn/vmspawn.c
Labels: documentation, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, rc-blocker 🚧, vmspawn

#31712 polkit: trivial simplification
  src/shared/bus-polkit.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#31717 semaphore: remove workaround for adduser
  .semaphore/semaphore-runner.sh
Labels: good-to-merge/waiting-for-ci 👍, ci

#31719 Translations update from Fedora Weblate
  po/ru.po
Labels: please-review

#31709 basic: add PIDFS magic
  src/basic/filesystems-gperf.gperf
  src/basic/missing_magic.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#31715 polkit: turn "interactive" flag to polkit APIs into a proper flags field
  src/creds/creds.c
  src/home/homed-home-bus.c
  src/hostname/hostnamed.c
  src/locale/localed.c
  src/login/logind-dbus.c
  src/login/logind-session-dbus.c
  src/login/logind-user-dbus.c
  src/shared/bus-polkit.c
  src/shared/bus-polkit.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍, varlink, logind

#31720 polkit: update the rest of bus_verify_polkit_async_full() calls to new flags parameter
  src/login/logind-dbus.c
  src/resolve/resolved-dnssd-bus.c
  src/timedate/timedated.c
Labels: resolve, timedate, good-to-merge/waiting-for-ci 👍, priority, logind

#31723 test/run-unit-tests: sort the test cases we're executing
  test/run-unit-tests.py
Labels: tests, good-to-merge/waiting-for-ci 👍

#31721 shared/service-util: actually use the `bus_introspect` argument in `help()`
  src/creds/creds.c
  src/shared/service-util.c
  src/sysupdate/sysupdate.c
Labels: util-lib, tree-wide, good-to-merge/waiting-for-ci 👍

#31725 tests/run-unit-tests: add option to skip tests
  test/run-unit-tests.py
Labels: tests, good-to-merge/waiting-for-ci 👍

#30021 dhcp-server: save bound leases to persistent storage, and load it on start
  man/networkctl.xml
  man/systemd.network.xml
  src/basic/time-util.c
  src/basic/time-util.h
  src/libsystemd-network/dhcp-option.c
  src/libsystemd-network/dhcp-option.h
  src/libsystemd-network/dhcp-server-internal.h
  src/libsystemd-network/dhcp-server-lease-internal.h
  src/libsystemd-network/fuzz-dhcp-server.c
  src/libsystemd-network/sd-dhcp-lease.c
  src/libsystemd-network/sd-dhcp-server-lease.c
  src/libsystemd-network/sd-dhcp-server.c
  src/network/networkctl.c
  src/network/networkd-dhcp-server.c
  src/network/networkd-dhcp-server.h
  src/network/networkd-json.c
  src/network/networkd-manager-varlink.c
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/org.freedesktop.network1.policy
  src/shared/varlink-io.systemd.Network.c
  src/systemd/sd-dhcp-server.h
  test/networkd-test.py
  test/test-network/systemd-networkd-tests.py
  tmpfiles.d/systemd-network.conf
  units/meson.build
  units/systemd-networkd-persistent-storage.service
  units/systemd-networkd.service.in
Labels: network, documentation, build-system, util-lib, tests, dhcp, good-to-merge/waiting-for-ci 👍, units, meson, rc-blocker 🚧

#31713 pidref: use fd_inode_same to compare pidfds
  src/basic/pidref.c
  src/basic/pidref.h
  src/basic/stat-util.c
  src/basic/stat-util.h
  src/shared/ptyfwd.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#31671 homework-cifs: Pass password via fd
  src/home/homework-cifs.c
  src/shared/data-fd-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍, homed

#31716 fuzz: save/load DHCP client leases
  src/libsystemd-network/fuzz-dhcp-client.c
Labels: network, good-to-merge/waiting-for-ci 👍

#31644 ukify: really add default .sbat for UKIs
  man/ukify.xml
  src/ukify/ukify.py
Labels: documentation, ci-failure-appears-unrelated, uki

#31601 catalog,po: update Polish translation 240303
  catalog/systemd.pl.catalog.in
Labels: l10n 🌍, please-review

#31736 ci: reduce ASLR entropy
  .github/workflows/build_test.yml
  .github/workflows/unit_tests.yml
Labels: tests, please-review

#31737 homed: fix typo
  src/home/homed-manager.c
Labels: please-review

#31237 fs-utils fd_reopen(): Keep/propagate O_APPEND, if set
  src/basic/fd-util.c
  src/basic/fd-util.h
  src/shared/ptyfwd.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#31735 test: split logs from each test into separate files if requested
  test/run-integration-tests.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#31727 data-fd-util: some cleanups
  src/basic/env-util.c
  src/basic/fileio.c
  src/core/dbus-manager.c
  src/core/exec-invoke.c
  src/home/homed-home.c
  src/home/homework-cifs.c
  src/oom/oomd-manager-bus.c
  src/shared/bus-util.c
  src/shared/data-fd-util.c
  src/shared/data-fd-util.h
  src/test/test-data-fd-util.c
  src/test/test-fd-util.c
  src/test/test-varlink.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#31728 Update local-addresses.c - Added code for calling the 'assert_not_reached' function
  src/shared/local-addresses.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#31731 stat-util: add explicit helpers for checking if stat/statx is initialized
  src/basic/stat-util.c
  src/basic/stat-util.h
  src/resolve/resolved-etc-hosts.c
  src/test/test-stat-util.c
Labels: resolve, util-lib, tests, good-to-merge/waiting-for-ci 👍

#31733 add two more flags to polkit client wrapper
  src/shared/bus-polkit.c
  src/shared/bus-polkit.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#31753 networkd-manager: drop spurious return
  src/network/networkd-manager.c
Labels: network, good-to-merge/waiting-for-ci 👍

#31748 networkctl.c : call 'assert_not_reached' where appropriate
  src/network/networkctl.c
Labels: network, good-to-merge/waiting-for-ci 👍

#31745 network/varlink: return StorageReadOnly error
  src/network/networkd-manager-varlink.c
  src/shared/varlink-io.systemd.Network.c
Labels: network, util-lib, good-to-merge/waiting-for-ci 👍

#31710 Update udev-worker.c, added assert for EVENT_RESULT_EXIT_STATUS_BASE.
  src/udev/udev-worker.c
Labels: udev, please-review

#31756 mkosi: Drop leftover mkosi.kernel.config
  mkosi.kernel.config
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#31750 units: Bump various oneshot unit timeouts to 90s
  units/systemd-machine-id-commit.service
  units/systemd-rfkill.service.in
Labels: rfkill, good-to-merge/waiting-for-ci 👍, units

#31584 sd-ndisc: rewrite option parser
  src/libsystemd-network/meson.build
  src/libsystemd-network/ndisc-option.c
  src/libsystemd-network/ndisc-option.h
  src/libsystemd-network/ndisc-protocol.c
  src/libsystemd-network/ndisc-protocol.h
  src/libsystemd-network/ndisc-router-internal.h
  src/libsystemd-network/radv-internal.h
  src/libsystemd-network/sd-ndisc-router.c
  src/libsystemd-network/test-ndisc-rs.c
  src/network/networkd-ndisc.c
  src/systemd/sd-ndisc-protocol.h
  src/systemd/sd-ndisc-router.h
Labels: network, ndisc/ra

#31758 mkosi: Enable KVM
  .github/workflows/mkosi.yml
  mkosi.images/base/mkosi.extra/usr/lib/systemd/mkosi-check-and-shutdown.sh
  src/boot/efi/boot.c
Labels: tests, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, ci

#31734 core/cgroup: introduce MemoryZSwapWriteback setting
  man/org.freedesktop.systemd1.xml
  man/systemd.resource-control.xml
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-cgroup.c
  src/core/execute-serialize.c
  src/core/load-fragment-gperf.gperf.in
  src/shared/bus-unit-util.c
Labels: documentation, pid1, util-lib, please-review, rc-blocker 🚧

#31761 vmspawn: fix two minor bugs
  src/vmspawn/vmspawn.c
Labels: good-to-merge/waiting-for-ci 👍, vmspawn

#31771 Meson make partial builds work again
  meson.build
Labels: build-system, ci-failure-appears-unrelated, meson

#31774 man: shorten unnecessarily long example
  man/systemd-soft-reboot.service.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#31754 journal/cat: allow connecting output to specific journal namespace
  man/rules/meson.build
  man/sd_journal_stream_fd.xml
  man/systemd-cat.xml
  src/basic/path-util.h
  src/boot/bless-boot.c
  src/core/exec-invoke.c
  src/journal/cat.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-journal/journal-send.c
  src/libsystemd/sd-journal/journal-send.h
  src/libsystemd/sd-journal/sd-journal.c
  src/systemd/sd-journal.h
  test/units/testsuite-04.cat.sh
  units/systemd-journald@.socket
Labels: journal, documentation, util-lib, tests, good-to-merge/waiting-for-ci 👍, units, rc-blocker 🚧

#31785 po: add pkg/debian to POTFILES.skip
  po/POTFILES.skip
Labels: l10n 🌍, please-review

#31780 stat-util: expose fd_is_read_only_fs()
  src/basic/stat-util.c
  src/basic/stat-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#31781 json: introduce json_dispatch_int8() and json_dispatch_uint8()
  src/shared/json.c
  src/shared/json.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#31787 man: fix efi var vendor uuid for systemd-bless-boot.service
  man/systemd-bless-boot.service.xml
Labels: documentation, please-review

#31782 network: use link_start_dhcp4_server() at one more place
  src/network/networkd-dhcp-server.c
  src/network/networkd-dhcp-server.h
  src/network/networkd-link.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍

#31783 network: introduce link_requeue_request()
  src/network/networkd-queue.c
  src/network/networkd-queue.h
  src/network/networkd-route.c
Labels: network, good-to-merge/waiting-for-ci 👍

#31739 pid1: send various notifications via sd_notify() reporting boot progress
  docs/CONTAINER_INTERFACE.md
  docs/VM_INTERFACE.md
  docs/WRITING_VM_AND_CONTAINER_MANAGERS.md
  man/sd_notify.xml
  man/systemd.special.xml
  man/systemd.xml
  src/core/main.c
  src/core/manager.c
  src/core/manager.h
  src/core/target.c
  src/core/unit.c
  src/core/unit.h
  src/nspawn/nspawn.c
  src/shared/hostname-setup.c
  src/shared/machine-id-setup.c
  src/ssh-generator/ssh-generator.c
  units/meson.build
  units/ssh-access.target
Labels: nspawn, documentation, pid1, build-system, util-lib, good-to-merge/waiting-for-ci 👍, units, meson, ssh-generator

#31700 Added a test file for the dirent-util.c
  src/test/meson.build
  src/test/test-dirent-util.c
Labels: tests, good-to-merge/waiting-for-ci 👍, 🙋🏽‍♀️ outreachy 🙋

#31802 cifuzz,cflite: set mmap_rnd_bits to 28
  .github/workflows/cflite_pr.yml
  .github/workflows/cifuzz.yml
Labels: tests, good-to-merge/with-minor-suggestions

#31805 Fix doc inconsistency in man systemd.service
  man/systemd.service.xml
Labels: documentation, please-review

#31806 NEWS: fix typos
  NEWS
Labels: documentation, please-review

#31792 network/address: acquire address in address_process_request()
  src/network/networkd-address.c
Labels: network, please-review

#31791 sd-dhcp-server: several cleanups and extension
  src/libsystemd-network/dhcp-server-internal.h
  src/libsystemd-network/dhcp-server-lease-internal.h
  src/libsystemd-network/fuzz-dhcp-server.c
  src/libsystemd-network/sd-dhcp-server-lease.c
  src/libsystemd-network/sd-dhcp-server.c
  src/network/networkd-dhcp-server.c
  src/systemd/sd-dhcp-server.h
Labels: network, dhcp, please-review

#31788 portable: when logging about attaching, include the used profile
  src/portable/portable.c
Labels: good-to-merge/waiting-for-ci 👍, portable, quick-review 🏃‍♂️

#31809 shell completion: add --copy=mixed in portablectl
  shell-completion/bash/portablectl
Labels: shell completion, quick-review 🏃‍♂️, please-review

#31775 docs: Update HACKING guide with recommended git config
  docs/HACKING.md
  meson.build
  tools/git-setup.sh
Labels: documentation, build-system, meson, good-to-merge/with-minor-suggestions

#31812 docs: update footer to 2024
  docs/_includes/footer.html
Labels: please-review

#31814 mkosi fixes
  .github/workflows/mkosi.yml
Labels: tests, good-to-merge/waiting-for-ci 👍

#31793 units: use relative path
  units/emergency.service.in
  units/meson.build
  units/rescue.service.in
  units/systemd-bootctl@.service
  units/systemd-repart.service
Labels: build-system, good-to-merge/waiting-for-ci 👍, units, meson, repart

#31822 Fix typo in shell-completion/zsh /_udevadm
  shell-completion/zsh/_udevadm
Labels: please-review

#31823 condition: Consider - and _ equal in ConditionKernelCommandLine=
  units/systemd-modules-load.service.in
Labels: good-to-merge/waiting-for-ci 👍, units

#31830 tpm2-setup: Add --graceful
  src/tpm2-setup/tpm2-setup.c
  units/systemd-tpm2-setup-early.service.in
  units/systemd-tpm2-setup.service.in
Labels: good-to-merge/waiting-for-ci 👍, units, tpm2, needs-stable-backport

#31821 NEWS: more reformulations and fixlets
  NEWS
  man/importctl.xml
Labels: documentation, good-to-merge/with-minor-suggestions
