Repository systemd/systemd, pull requests merged in 2024-08, with the labels that each got.

#32448 journalctl: introduce --list-invocations, -I, --invocation= options
  man/journalctl.xml
  shell-completion/bash/journalctl
  src/journal/journalctl-filter.c
  src/journal/journalctl-misc.c
  src/journal/journalctl-misc.h
  src/journal/journalctl-util.c
  src/journal/journalctl-util.h
  src/journal/journalctl.c
  src/journal/journalctl.h
  src/libsystemd/sd-journal/test-journal-interleaving.c
  src/shared/logs-show.c
  src/shared/logs-show.h
  test/test-functions
  test/units/TEST-04-JOURNAL.invocation.sh
Labels: journal, documentation, new-feature, util-lib, tests, good-to-merge/waiting-for-ci 👍

#33888 core: a few follow-ups for recent PRs
  src/core/cgroup.c
  src/core/execute.c
  src/core/executor.c
  src/core/main.c
  src/core/socket.c
  src/core/unit.h
Labels: pid1, good-to-merge/waiting-for-ci 👍

#33892 journalctl: fix compile error on i386
  src/journal/journalctl-misc.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#33900 test: attempt to install sshd-session from multiple places
  test/TEST-46-HOMED/test.sh
  test/TEST-74-AUX-UTILS/test.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#32988 os-release: Add RELEASE_TYPE=
  man/os-release.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#33893 tree-wide: resolve several issues found by coverity
  src/import/import-raw.c
  src/import/import-tar.c
  src/resolve/test-dns-search-domain.c
  src/resolve/test-resolved-link.c
  src/test/test-calendarspec.c
  src/test/test-cgroup-setup.c
  src/test/test-os-util.c
  src/test/test-terminal-util.c
  src/vmspawn/vmspawn.c
Labels: resolve, tests, good-to-merge/waiting-for-ci 👍, coverity, vmspawn

#33904 os-release: change RELEASE_TYPE value from 'pre-release' to 'development' and break into paragraphs
  man/os-release.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#33903 resolved: don't treat conn reset as packet loss
  src/resolve/resolved-dns-stream.c
  src/resolve/resolved-dns-transaction.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#33876 firstboot: fix root params with creds and prompting disabled
  src/firstboot/firstboot.c
  test/units/TEST-74-AUX-UTILS.firstboot.sh
Labels: tests, firstboot, good-to-merge/waiting-for-ci 👍

#33032 sd-device-monitor: expose low-level functions
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-device/device-monitor-private.h
  src/libsystemd/sd-device/device-monitor.c
  src/libsystemd/sd-device/test-sd-device-monitor.c
  src/libsystemd/sd-netlink/netlink-socket.c
  src/libudev/libudev-monitor.c
  src/systemd/sd-device.h
  src/udev/udev-manager.c
  src/udev/udev-worker.c
Labels: udev, util-lib, tests, sd-netlink, sd-device, good-to-merge/waiting-for-ci 👍

#33908 localectl: introduce -l/--full option
  man/localectl.xml
  shell-completion/bash/localectl
  shell-completion/zsh/_localectl
  src/locale/localectl.c
Labels: documentation, locale, please-review

#33910 test: don't use /skipped for subtests
  test/units/TEST-04-JOURNAL.bsod.sh
  test/units/TEST-17-UDEV.credentials.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#32894 Added support for L2 BridgeMDB entries
  man/systemd.network.xml
  src/network/networkd-bridge-mdb.c
  src/network/networkd-bridge-mdb.h
  test/test-network/conf/26-bridge-mdb-master.network
  test/test-network/systemd-networkd-tests.py
Labels: network, documentation, tests, good-to-merge/waiting-for-ci 👍, squash-on-merge

#33915 advanced-issue-labeler: use correct label for env-generator
  .github/advanced-issue-labeler.yml
Labels: ci, quick-review 🏃‍♂️, please-review

#33913 Add detection of confidential virtualization on s390x architcture
  man/systemd-detect-virt.xml
  src/basic/confidential-virt.c
  src/basic/confidential-virt.h
Labels: documentation, util-lib, good-to-merge/waiting-for-ci 👍, detect-virt

#33907 man: extend explanation for ConfigureWithoutCarrier= in systemd.network(5)
  man/systemd.network.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#33909 man/net-naming-scheme: mention that NAMING_BRIDGE_MULTIFUNCTION_SLOT is reverted
  man/systemd.net-naming-scheme.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#33916 core: several follow-ups for ImportCreds=
  src/core/dbus-execute.c
  src/core/exec-credential.c
  test/units/TEST-54-CREDS.sh
Labels: tests, please-review

#33891 core/service: actually allow to "hurry up" auto restarts
  src/core/service.c
  test/units/TEST-03-JOBS.sh
Labels: pid1, tests, good-to-merge/waiting-for-ci 👍

#33925 core/execute-serialize: two fixes
  src/core/execute-serialize.c
Labels: pid1, needs-stable-backport, please-review

#33923 core/service: drop redundant flush_n_restarts indicator
  src/core/service.c
  src/core/service.h
Labels: pid1, good-to-merge/waiting-for-ci 👍

#33921 Fix auto rotate on Asus Q551LB
  hwdb.d/60-sensor.hwdb
Labels: hwdb, please-review

#33922 meson: Use -fstrict-flex-arrays=3
  meson.build
Labels: build-system, meson, please-review

#33928 base-filesystem: do not attempt to create a /lib64 -> /usr/lib/<tuple symlink
  src/shared/base-filesystem.c
Labels: util-lib, please-review

#33931 sd-event: change error code -EINVAL -> -EIO
  src/libsystemd/sd-event/sd-event.c
Labels: sd-event, quick-review 🏃‍♂️, please-review

#33930 Update syscall tables and linux headers
  src/basic/linux/bpf.h
  src/basic/linux/btrfs_tree.h
  src/basic/linux/ethtool.h
  src/basic/linux/in.h
  src/basic/linux/netfilter/nf_tables.h
  src/basic/linux/nl80211.h
  src/basic/syscall-list.txt
  src/basic/syscalls-alpha.txt
  src/basic/syscalls-arc.txt
  src/basic/syscalls-arm.txt
  src/basic/syscalls-arm64.txt
  src/basic/syscalls-i386.txt
  src/basic/syscalls-loongarch64.txt
  src/basic/syscalls-m68k.txt
  src/basic/syscalls-mips64.txt
  src/basic/syscalls-mips64n32.txt
  src/basic/syscalls-mipso32.txt
  src/basic/syscalls-parisc.txt
  src/basic/syscalls-powerpc.txt
  src/basic/syscalls-powerpc64.txt
  src/basic/syscalls-riscv32.txt
  src/basic/syscalls-riscv64.txt
  src/basic/syscalls-s390.txt
  src/basic/syscalls-s390x.txt
  src/basic/syscalls-sparc.txt
  src/basic/syscalls-x86_64.txt
  src/shared/seccomp-util.c
Labels: btrfs, util-lib, please-review

#33918 core/exec-credential: several cleanups
  src/core/dbus-execute.c
  src/core/exec-credential.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, creds

#33846 sleep: add HibernateOnACPower= option
  man/systemd-sleep.conf.xml
  src/shared/sleep-config.c
  src/shared/sleep-config.h
  src/sleep/sleep.c
  src/sleep/sleep.conf
Labels: documentation, util-lib, good-to-merge/waiting-for-ci 👍, sleep, squash-on-merge

#33943 journal: set flushed flag even if we fail to open runtime journals
  src/journal/journald-server.c
Labels: journal, good-to-merge/waiting-for-ci 👍

#33944 journal: do not rotate journal when MaxRetentionSec= is set
  src/journal/journald.c
  src/journal/journald.conf
Labels: journal, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#33939 resolve: type field in result of ResolveService may be NULL
  src/resolve/resolved-bus.c
  src/resolve/resolved-varlink.c
Labels: resolve, please-review

#33858 systemd-analyze: Add svg scaling options
  man/systemd-analyze.xml
  shell-completion/bash/systemd-analyze
  src/analyze/analyze-plot.c
  src/analyze/analyze.c
  src/analyze/analyze.h
  test/units/TEST-65-ANALYZE.sh
Labels: analyze, good-to-merge/waiting-for-ci 👍

#33945 man/systemd-detect-virt: fix row spanning for VM header
  man/systemd-detect-virt.xml
Labels: please-review

#33946 mkosi: Prevent busybox from getting pulled into opensuse images
  mkosi.images/build/mkosi.conf.d/opensuse/mkosi.conf
  mkosi.images/exitrd/mkosi.conf.d/10-opensuse.conf
  mkosi.images/minimal-base/mkosi.conf.d/10-opensuse.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#33912 test: Add a way to quickly iterate on an integration test
  docs/HACKING.md
  mkosi.conf
  mkosi.conf.d/10-centos/mkosi.conf
  mkosi.conf.d/10-debian-ubuntu/mkosi.conf
  mkosi.extra/usr/lib/tmpfiles.d/locale.conf
  mkosi.extra/usr/lib/tmpfiles.d/snapshot.conf
  mkosi.repart/10-root.conf
  test/README.testsuite
  test/TEST-04-JOURNAL/test.sh
  test/integration-test-setup.sh
  test/integration-test-wrapper.py
  test/meson.build
  test/test-functions
  test/test.service.in
  test/units/TEST-09-REBOOT.sh
  test/units/TEST-82-SOFTREBOOT.sh
Labels: documentation, build-system, tests, good-to-merge/waiting-for-ci 👍, mkosi, meson

#33938 logind: add PreparingForShutdownWithMetadata property
  man/org.freedesktop.login1.xml
  src/login/logind-dbus.c
  test/units/TEST-82-SOFTREBOOT.sh
Labels: login, good-to-merge/waiting-for-ci 👍

#33941 network/dhcp-pd: introduce UnassignedSubnetPolicy= to customize type of 'catch-all' route
  man/systemd.network.xml
  src/network/networkd-dhcp-prefix-delegation.c
  src/network/networkd-dhcp-prefix-delegation.h
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-route-nexthop.c
  src/network/networkd-route-util.c
  src/network/networkd-route-util.h
  src/network/networkd-route.c
  test/test-network/conf/25-dhcp6pd-upstream-no-address.network
  test/test-network/conf/25-dhcp6pd-upstream-no-assign.network
  test/test-network/systemd-networkd-tests.py
Labels: network, documentation, tests, dhcp, good-to-merge/waiting-for-ci 👍

#33942 udevadm-info: support json output for --attribute-walk
  src/udev/udevadm-info.c
  test/units/TEST-17-UDEV.10.sh
Labels: udev, tests, please-review

#33949 sysusers: check if requested group name matches user name in queue
  src/sysusers/sysusers.c
  test/test-sysusers/test-16.expected-group
  test/test-sysusers/test-16.expected-passwd
  test/test-sysusers/test-16.input
Labels: tests, sysusers, please-review

#33675 coredump: generate properly symbolized stacktrace for containerized processes
  man/coredump.conf.xml
  meson.build
  src/analyze/analyze-inspect-elf.c
  src/analyze/analyze.c
  src/coredump/coredump.c
  src/coredump/coredump.conf
  src/shared/elf-util.c
  src/shared/elf-util.h
Labels: documentation, build-system, util-lib, coredump, meson, good-to-merge/with-minor-suggestions

#33937 basic|boot: silence Wunterminated-string-initialization gcc15 warnings
  src/basic/hexdecoct.c
  src/boot/efi/efi-string.c
Labels: util-lib, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#33951 nspawn: Allow specifying custom init program
  man/systemd-nspawn.xml
  man/systemd.nspawn.xml
  shell-completion/bash/systemd-nspawn
  shell-completion/zsh/_systemd-nspawn
  src/nspawn/nspawn-gperf.gperf
  src/nspawn/nspawn-settings.h
  src/nspawn/nspawn.c
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, documentation, tests, good-to-merge/waiting-for-ci 👍

#33956 meson: enable -Wunterminated-string-initialization
  meson.build
Labels: build-system, good-to-merge/waiting-for-ci 👍, meson

#33962 nspawn: fix settings leak for init parameter
  src/nspawn/nspawn-settings.c
Labels: nspawn, good-to-merge/waiting-for-ci 👍

#33959 Two crash handler improvements
  man/systemd.xml
  mkosi.extra/root/.gdbinit
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/core/crash-handler.c
Labels: documentation, pid1, util-lib, good-to-merge/with-minor-suggestions

#33964 hwdb: Fix accelerometer mount matrix for ASUS T100TAS
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#33963 Make sure `NeedDaemonReload` is accurate when a new drop-in is created
  src/core/load-dropin.c
  src/core/load-dropin.h
  src/core/unit.c
  test/units/TEST-07-PID1.issue-31752.sh
Labels: pid1, good-to-merge/waiting-for-ci 👍

#33961 busctl: add support for --timeout and --num-matches for monitor verb
  man/busctl.xml
  shell-completion/bash/busctl
  shell-completion/zsh/_busctl
  src/busctl/busctl.c
  test/units/TEST-74-AUX-UTILS.busctl.sh
Labels: good-to-merge/waiting-for-ci 👍, busctl

#33972 terminal-util: do not query kernel cmdline for pty size
  src/basic/terminal-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#33968 core/exec-invoke: call setpriority() after sched_setattr()
  src/core/exec-invoke.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#33978 mkosi: update debian commit reference
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.conf
Labels: mkosi, quick-review 🏃‍♂️, please-review

#33983 systemd-run: add unit and invocation_id JSON output
  man/systemd-run.xml
  shell-completion/bash/systemd-run
  shell-completion/zsh/_systemd-run
  src/run/run.c
  test/units/TEST-74-AUX-UTILS.run.sh
Labels: run, good-to-merge/waiting-for-ci 👍

#33979 edit-util: a few cleanups; support networkctl edit --stdin
  man/networkctl.xml
  src/network/networkctl-config-file.c
  src/network/networkctl.c
  src/network/networkctl.h
  src/shared/edit-util.c
  src/systemctl/systemctl-edit.c
  src/systemctl/systemctl.c
  test/units/TEST-74-AUX-UTILS.networkctl.sh
Labels: network, systemctl, util-lib, good-to-merge/with-minor-suggestions, please-review

#33986 docs: Mention the new mount API in the container interface doc
  docs/CONTAINER_INTERFACE.md
Labels: documentation, please-review

#33987 nspawn: Assume unified cgroup hierarchy if there's no systemd in the image
  NEWS
  src/nspawn/nspawn-util.c
  src/nspawn/nspawn.c
  src/nspawn/test-nspawn-util.c
Labels: nspawn, documentation, tests, please-review

#33985 trivial: fix sentence fragments in man pages
  man/systemd-sysusers.xml
  man/systemd-tmpfiles.xml
Labels: documentation, please-review

#33989 nspawn: Fix help typo
  src/nspawn/nspawn.c
Labels: nspawn, please-review

#33957 network-generator: fixlets for vlan interfaces
  src/network/generator/network-generator.c
  src/network/generator/network-generator.h
  src/network/generator/test-network-generator.c
  test/test-network-generator-conversion.sh
Labels: network, tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#33990 run: several follow-ups for recent change
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-json/sd-json.c
  src/run/run.c
  src/systemd/sd-json.h
Labels: run, good-to-merge/waiting-for-ci 👍

#33991 Various refactorings and fixes
  mkosi.conf
  mkosi.extra/root/.gdbinit
  src/basic/ratelimit.c
  src/basic/ratelimit.h
  src/core/core-varlink.c
  src/core/dbus-execute.c
  src/core/dbus-manager.c
  src/core/dbus-socket.c
  src/core/execute-serialize.c
  src/core/execute.c
  src/core/execute.h
  src/core/job.h
  src/core/load-fragment-gperf.gperf.in
  src/core/main.c
  src/core/manager.c
  src/core/manager.h
  src/core/socket.c
  src/core/socket.h
  src/core/taint.c
  src/core/taint.h
  src/core/unit.c
  src/core/unit.h
  src/libsystemd/sd-json/sd-json.c
  test/integration-test-setup.sh
  test/test.service.in
Labels: pid1, util-lib, tests, good-to-merge/waiting-for-ci 👍, mkosi

#32067 network: netdev - BareUDP Add support for srcportmin
  man/systemd.netdev.xml
  src/network/netdev/bareudp.c
  src/network/netdev/bareudp.h
  src/network/netdev/netdev-gperf.gperf
  test/test-network/conf/25-bareudp.netdev
  test/test-network/systemd-networkd-tests.py
Labels: network, documentation, tests, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#33997 repart: Fix misleading typo in GPT partition flag
  man/repart.d.xml
Labels: documentation, repart, please-review

#33955 sd-journal: fix sd_journal_seek_monotonic_usec()
  src/libsystemd/sd-journal/journal-def.h
  src/libsystemd/sd-journal/journal-file.h
  src/libsystemd/sd-journal/journal-internal.h
  src/libsystemd/sd-journal/sd-journal.c
  src/libsystemd/sd-journal/test-journal-interleaving.c
  src/resolve/test-dns-cache.c
  src/shared/tests.h
  src/test/test-macro.c
Labels: journal, util-lib, tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#33980 udev: Handle PTP device symlink properly on udev action 'change'
  rules.d/50-udev-default.rules.in
Labels: udev, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#33994 mkosi: Fix debian/not-installed build logic
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.build.chroot
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#33996 units: drop "-p" flag from agetty's login options
  units/console-getty.service.in
  units/container-getty@.service.in
  units/getty@.service.in
  units/serial-getty@.service.in
Labels: good-to-merge/waiting-for-ci 👍, units

#33998 test: add TEST_SKIP to mkosi integration test wrapper
  test/README.testsuite
  test/integration-test-wrapper.py
Labels: tests, mkosi, good-to-merge/with-minor-suggestions

#34000 test: remove temporary directories
  src/test/test-conf-parser.c
  src/ukify/test/pytest.ini
Labels: tests, good-to-merge/waiting-for-ci 👍

#33958 udev-builtin-net_id: add NAMING_DEVICETREE_PORT_ALIASES to check of_node of netdevs before their parents
  man/systemd.net-naming-scheme.xml
  src/shared/netif-naming-scheme.h
  src/udev/udev-builtin-net_id.c
Labels: udev, documentation, util-lib, good-to-merge/waiting-for-ci 👍, predictable-ifnames

#33999 shell-completion: zsh: fix incorrect unescaping
  shell-completion/zsh/_systemctl.in
Labels: shell completion, please-review

#33992 Add SYSTEMD_IN_CHROOT environment variables for overriding chroot check
  docs/ENVIRONMENT.md
  src/basic/virt.c
  test/test-systemctl-enable.sh
  test/units/TEST-74-AUX-UTILS.detect-virt.sh
Labels: documentation, util-lib, tests, good-to-merge/waiting-for-ci 👍

#34008 kernel-install: discard comments in cmdline files
  src/kernel-install/90-loaderentry.install.in
Labels: good-to-merge/waiting-for-ci 👍, kernel-install

#34013 network/wireguard: introduce [WireGuardPeer] PublicKeyFile=
  man/systemd.netdev.xml
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/wireguard.c
  src/network/netdev/wireguard.h
  test/test-network/conf/25-wireguard-public-key.txt
  test/test-network/conf/25-wireguard.netdev.d/peer.conf
  test/test-network/systemd-networkd-tests.py
Labels: network, documentation, tests, good-to-merge/waiting-for-ci 👍

#34015 network: refuse files under API VFS specified in PrivateKeyFile= and friends
  src/network/netdev/macsec.c
  src/network/netdev/wireguard.c
Labels: network, good-to-merge/waiting-for-ci 👍

#34019 basic/process-util: modernize setpriority_closest()
  src/basic/process-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#34017 analyze: introduce --instance= option to control instance name for template units
  man/systemd-analyze.xml
  src/analyze/analyze-security.c
  src/analyze/analyze-verify-util.c
  src/analyze/analyze.c
  src/analyze/analyze.h
  src/analyze/test-verify.c
  test/units/TEST-65-ANALYZE.sh
Labels: documentation, analyze, good-to-merge/waiting-for-ci 👍

#34020 core/dbus-service: refuse bind mounting over /run/credentials/
  src/core/dbus-service.c
  src/core/exec-credential.c
  src/core/exec-credential.h
  src/core/mount.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#34022 core/unit: two trivial cleanups
  src/analyze/analyze-verify-util.c
  src/basic/strv.h
  src/core/dbus-manager.c
  src/core/unit.c
  src/core/unit.h
  src/test/test-bpf-firewall.c
  src/test/test-bpf-foreign-programs.c
  src/test/test-bpf-restrict-fs.c
  src/test/test-cgroup-mask.c
  src/test/test-cgroup-unit-default.c
  src/test/test-engine.c
  src/test/test-execute.c
  src/test/test-path.c
  src/test/test-sched-prio.c
  src/test/test-socket-bind.c
  src/test/test-watch-pid.c
Labels: pid1, util-lib, tests, good-to-merge/waiting-for-ci 👍

#34025 edit-util: catch and warn about edits outside of markers
  src/basic/string-util.h
  src/shared/edit-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#34026 Handle unprivileged user namespaces gracefully in tests
  src/libsystemd/sd-netlink/test-netlink.c
  src/shared/tests.c
  src/shared/tests.h
  src/test/test-acl-util.c
  src/test/test-capability.c
  src/test/test-chase.c
  src/test/test-chown-rec.c
  src/test/test-condition.c
  src/test/test-fs-util.c
  src/test/test-rm-rf.c
  src/test/test-socket-util.c
Labels: util-lib, tests, sd-netlink, good-to-merge/waiting-for-ci 👍

#34029 test-dhcp-server: Gracefully handle the network being down
  src/libsystemd-network/test-dhcp-server.c
Labels: network, tests, dhcp, good-to-merge/waiting-for-ci 👍

#34032 Backport various commits to v256-stable
  docs/ENVIRONMENT.md
  src/basic/virt.c
  src/libsystemd-network/test-dhcp-server.c
  src/libsystemd/sd-netlink/test-netlink.c
  src/shared/tests.c
  src/shared/tests.h
  src/test/test-acl-util.c
  src/test/test-capability.c
  src/test/test-chase.c
  src/test/test-chown-rec.c
  src/test/test-condition.c
  src/test/test-fs-util.c
  src/test/test-rm-rf.c
  src/test/test-socket-util.c
  test/test-systemctl-enable.sh
  test/units/TEST-74-AUX-UTILS.detect-virt.sh
Labels: good-to-merge/waiting-for-ci 👍

#34041 test-network: make kernel send NA with router flag
  test/test-network/conf/25-veth-router-captive.network
Labels: tests, please-review

#34037 resolved: demote the global unicast scope
  man/systemd-resolved.service.xml
  src/resolve/resolved-dns-scope.c
Labels: resolve, please-review

#34021 network/routing-policy-rule: several cleanups
  src/basic/parse-util.c
  src/basic/parse-util.h
  src/network/networkd-json.c
  src/network/networkd-network.c
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-routing-policy-rule.h
Labels: network, util-lib, please-review

#34014 network: make IPMasquerade= imply global IP forwarding settings again
  man/networkd.conf.xml
  man/systemd.network.xml
  src/libsystemd-network/sd-lldp-tx.c
  src/network/networkd-lldp-tx.c
  src/network/networkd-lldp-tx.h
  src/network/networkd-sysctl.c
  test/TEST-13-NSPAWN/test.sh
  test/test-functions
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: network, nspawn, sysctl, needs-stable-backport, please-review

#34009 network,resolve: support interactive authentication
  man/networkctl.xml
  man/resolvectl.xml
  shell-completion/bash/networkctl
  shell-completion/bash/resolvectl
  shell-completion/zsh/_networkctl
  shell-completion/zsh/_resolvectl
  src/hostname/hostnamectl.c
  src/import/importctl.c
  src/libsystemd/sd-varlink/sd-varlink.c
  src/locale/localectl.c
  src/login/loginctl.c
  src/machine/machinectl.c
  src/mount/mount-tool.c
  src/network/networkctl.c
  src/network/networkctl.h
  src/resolve/org.freedesktop.resolve1.policy
  src/resolve/resolvectl.c
  src/resolve/resolved-varlink.c
  src/run/run.c
  src/shared/varlink-io.systemd.Resolve.Monitor.c
  src/systemctl/systemctl-util.c
  src/timedate/timedatectl.c
Labels: network, resolve, login, systemctl, util-lib, timedate, run, please-review

#34046 man: fix ID_NET_LABEL_ONBOARD= documentation
  man/systemd.net-naming-scheme.xml
Labels: udev, network, documentation, good-to-merge/waiting-for-ci 👍

#34044 fixes around isatty() handling
  src/analyze/analyze-srk.c
  src/basic/terminal-util.c
  src/basic/user-util.c
  src/busctl/busctl.c
  src/core/exec-invoke.c
  src/dissect/dissect.c
  src/getty-generator/getty-generator.c
  src/journal/journald.c
  src/nspawn/nspawn.c
  src/partition/repart.c
  src/run/run.c
  src/shared/ask-password-agent.c
  src/shared/ask-password-api.c
  src/shared/exec-util.c
  src/shared/format-table.c
  src/shared/polkit-agent.c
  src/shared/wall.c
  src/storagetm/storagetm.c
  src/test/test-format-table.c
  src/varlinkctl/varlinkctl.c
  src/vmspawn/vmspawn-register.c
Labels: journal, nspawn, util-lib, tests, run, good-to-merge/waiting-for-ci 👍, busctl, repart, vmspawn

#34050 tests: Don't override QemuKvm= value if TEST_NO_KVM=0
  test/integration-test-wrapper.py
Labels: tests, good-to-merge/waiting-for-ci 👍

#34005 process-util: handle pidfd_spawn() returning E2BIG
  src/basic/process-util.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#34018 network: allow to configure IPv6 address label in networkd.conf
  man/networkd.conf.xml
  man/systemd.network.xml
  src/network/networkd-address-label.c
  src/network/networkd-address-label.h
  src/network/networkd-conf.c
  src/network/networkd-gperf.gperf
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-network.c
  src/network/networkd-queue.c
  src/network/networkd-queue.h
  test/test-network/conf/networkd-address-label.conf
  test/test-network/systemd-networkd-tests.py
Labels: network, documentation, tests, good-to-merge/waiting-for-ci 👍

#34049 network: further rework for routing policy rule
  man/systemd.network.xml
  src/libsystemd/sd-netlink/netlink-message.c
  src/network/networkd-json.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-queue.c
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-routing-policy-rule.h
  src/systemd/sd-netlink.h
  test/test-network/conf/25-routing-policy-rule-test1.network
  test/test-network/conf/networkd-manage-foreign-rules-no.conf
  test/test-network/systemd-networkd-tests.py
Labels: network, sd-netlink, please-review

#34061 Revert "cgroup-util: Don't try to open pidfd for kernel threads"
  src/basic/cgroup-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#33498 repart: Allow Subvolumes= when running offline
  man/repart.d.xml
  src/partition/repart.c
Labels: btrfs, good-to-merge/waiting-for-ci 👍, repart

#34056 networkctl: split networkctl.c into small pieces
  src/network/meson.build
  src/network/networkctl-address-label.c
  src/network/networkctl-address-label.h
  src/network/networkctl-config-file.c
  src/network/networkctl-description.c
  src/network/networkctl-description.h
  src/network/networkctl-dump-util.c
  src/network/networkctl-dump-util.h
  src/network/networkctl-journal.c
  src/network/networkctl-journal.h
  src/network/networkctl-link-info.c
  src/network/networkctl-link-info.h
  src/network/networkctl-list.c
  src/network/networkctl-list.h
  src/network/networkctl-lldp.c
  src/network/networkctl-lldp.h
  src/network/networkctl-misc.c
  src/network/networkctl-misc.h
  src/network/networkctl-status-link.c
  src/network/networkctl-status-link.h
  src/network/networkctl-status-system.c
  src/network/networkctl-status-system.h
  src/network/networkctl-util.c
  src/network/networkctl-util.h
  src/network/networkctl.c
  src/network/networkctl.h
Labels: network, build-system, good-to-merge/waiting-for-ci 👍, meson

#34054 network: several fixlets for reconfiguration after entered failed state
  src/libsystemd-network/sd-dhcp-client.c
  src/network/networkd-ipv4acd.c
  src/network/networkd-link-bus.c
  src/network/networkd-link.c
  src/network/networkd-manager.c
Labels: network, dhcp, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#34071 core/exec-invoke: document calling setpriority() after sched_setattr()
  src/core/exec-invoke.c
Labels: pid1, please-review

#34070 hwdb: rename hwdb_bin_paths -> HWDB_BIN_PATHS
  src/libsystemd/sd-hwdb/hwdb-internal.h
  src/libsystemd/sd-hwdb/sd-hwdb.c
  src/shared/hwdb-util.c
  src/test/test-sd-hwdb.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, sd-hwdb

#34066 man: Ensure notify example includes <string.h>
  man/notify-selfcontained-example.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, ci-failure-appears-unrelated

#34063 bootctl: don't load etc/machine-info from cwd
  src/boot/bootctl-install.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#34053 Two follow-ups for recent PRs
  man/hostnamectl.xml
  man/localectl.xml
  man/loginctl.xml
  man/networkctl.xml
  man/resolvectl.xml
  man/run0.xml
  man/systemctl.xml
  man/systemd-run.xml
  man/timedatectl.xml
  src/basic/process-util.c
Labels: documentation, pid1, util-lib, good-to-merge/waiting-for-ci 👍

#32363 sysupdate: Implement dbus service
  man/org.freedesktop.sysupdate1.xml
  man/rules/meson.build
  man/systemd-sysupdate.xml
  man/systemd-sysupdated.service.xml
  man/updatectl.xml
  meson.build
  po/POTFILES.in
  src/shared/bus-locator.c
  src/shared/bus-locator.h
  src/sysupdate/meson.build
  src/sysupdate/org.freedesktop.sysupdate1.conf
  src/sysupdate/org.freedesktop.sysupdate1.policy
  src/sysupdate/org.freedesktop.sysupdate1.service
  src/sysupdate/sysupdate-util.h
  src/sysupdate/sysupdate.c
  src/sysupdate/sysupdated.c
  src/sysupdate/updatectl.c
  test/TEST-72-SYSUPDATE/meson.build
  test/units/TEST-72-SYSUPDATE.sh
  units/meson.build
  units/systemd-sysupdated.service.in
Labels: documentation, build-system, util-lib, l10n 🌍, tests, good-to-merge/waiting-for-ci 👍, units, meson, sysupdate

#34072 network/routing-policy-rule: follow up for recent change
  src/network/networkd-routing-policy-rule.c
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#34077 labeler: add more rules
  .github/labeler.yml
Labels: ci, please-review

#34079 systemd-sysupdated follow-ups
  man/org.freedesktop.sysupdate1.xml
  src/sysupdate/sysupdate-util.h
  src/sysupdate/sysupdated.c
  src/sysupdate/updatectl.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, sysupdate

#34076 polkit: add missing period in polkit messages
  po/ja.po
  src/import/org.freedesktop.import1.policy
  src/login/org.freedesktop.login1.policy
  src/resolve/org.freedesktop.resolve1.policy
  src/sysupdate/org.freedesktop.sysupdate1.policy
Labels: resolve, login, l10n 🌍, quick-review 🏃‍♂️, sysupdate, please-review

#34033 mkosi: Update to latest
  .github/workflows/mkosi.yml
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#34051 resolved: demote only the fallback servers in the global scope
  man/systemd-resolved.service.xml
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-server.c
  src/resolve/resolved-dns-server.h
  src/resolve/resolved-link-bus.c
  src/resolve/resolved-link.c
  src/resolve/resolved-link.h
Labels: resolve, documentation, good-to-merge/waiting-for-ci 👍

#34060 man: document .membership files that nss-systemd processes
  man/nss-systemd.xml
Labels: documentation, nss, good-to-merge/waiting-for-ci 👍

#34083 mkosi: Update to latest
  .github/workflows/mkosi.yml
Labels: tests, mkosi, please-review

#34097 shared/logs-show: introduce journal_browse_prepare()
  src/basic/sigbus.c
  src/coredump/coredumpctl.c
  src/journal-remote/journal-gatewayd.c
  src/journal-remote/journal-remote-main.c
  src/journal-remote/journal-upload.c
  src/journal/bsod.c
  src/journal/journalctl-util.c
  src/login/loginctl.c
  src/machine/machinectl.c
  src/network/networkctl.c
  src/shared/logs-show.h
  src/systemctl/systemctl.c
Labels: journal, util-lib, good-to-merge/waiting-for-ci 👍

#34093 boot: use MAX() where appropriate
  src/boot/efi/linux_x86.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#34096 logind: two follow-ups
  man/org.freedesktop.login1.xml
  src/login/logind-dbus.c
  src/login/logind-dbus.h
  src/login/logind-session.c
Labels: login, documentation, good-to-merge/waiting-for-ci 👍

#34092 minor tweaks to the recent ambient caps rework
  src/core/execute.c
  src/core/main.c
  src/core/manager.h
Labels: pid1, good-to-merge/waiting-for-ci 👍

#34087 Revert "nspawn: Allow specifying custom init program"
  man/systemd-nspawn.xml
  man/systemd.nspawn.xml
  shell-completion/bash/systemd-nspawn
  shell-completion/zsh/_systemd-nspawn
  src/nspawn/nspawn-gperf.gperf
  src/nspawn/nspawn-settings.c
  src/nspawn/nspawn-settings.h
  src/nspawn/nspawn.c
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, good-to-merge/waiting-for-ci 👍

#34099 udev-builtin-net_id: ignore firmware_node/sun == 0
  src/udev/udev-builtin-net_id.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#34100 test: use ASSERT_EQ_ID128() and ASSERT_NE_ID128()
  src/libsystemd/sd-journal/test-journal-interleaving.c
Labels: journal, tests, good-to-merge/waiting-for-ci 👍

#34103 udevadm/test,test-builtin: enable debugging logs by default again
  src/udev/udevadm-test-builtin.c
  src/udev/udevadm-test.c
Labels: udev, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#34102 udev/net_id: trivial cleanups
  src/udev/udev-builtin-net_id.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#34108 po: update translation files
  po/be.po
  po/be@latin.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/da.po
  po/de.po
  po/el.po
  po/es.po
  po/et.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/gl.po
  po/he.po
  po/hi.po
  po/hr.po
  po/hu.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/kab.po
  po/ko.po
  po/lt.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ro.po
  po/ru.po
  po/si.po
  po/sk.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/systemd.pot
  po/tr.po
  po/uk.po
  po/zh_CN.po
  po/zh_TW.po
Labels: l10n 🌍, good-to-merge/waiting-for-ci 👍

#34107 updatectl: fix typo and drop space in empty lines
  man/updatectl.xml
  src/sysupdate/updatectl.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, sysupdate

#34106 varlinkctl: output an expressive error message in case invalid method…
  src/varlinkctl/varlinkctl.c
Labels: good-to-merge/waiting-for-ci 👍, varlink

#34109 labeler: support varlink tag
  .github/labeler.yml
Labels: ci, please-review

#34110 network/routing-policy-rule: assorted trivial cleanups
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-routing-policy-rule.h
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#34111 network: introduce log_section_full_errno() and friends, and use them
  src/network/networkd-routing-policy-rule.c
  src/shared/conf-parser.h
Labels: network, util-lib, good-to-merge/waiting-for-ci 👍

#34115 Translations update from Fedora Weblate
  po/ka.po
  po/ko.po
  po/pl.po
  po/uk.po
Labels: l10n 🌍, please-review

#34116 meson: search for 'bpf-unknown-none' too
  meson.build
Labels: build-system, good-to-merge/waiting-for-ci 👍, meson, bpf

#34120 Translations update from Fedora Weblate
  po/fr.po
  po/ru.po
  po/tr.po
Labels: l10n 🌍, please-review

#34052 man: reword about default route for DNS traffic
  man/systemd-resolved.service.xml
Labels: resolve, documentation, please-review

#34136 mkosi: Stop using git commit timestamps for package releases
  mkosi.images/build/mkosi.conf.d/arch/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/opensuse/mkosi.build.chroot
Labels: mkosi, please-review

#34132 crash-handler: Add back notice log message
  src/core/crash-handler.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#34128 man: document "web" session type
  man/org.freedesktop.login1.xml
  man/pam_systemd.xml
  src/systemd/sd-login.h
Labels: documentation, good-to-merge/waiting-for-ci 👍

#34135 repart: Use streq_ptr() in one more place
  src/partition/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#34129 resolved: clear the AD bit for bypass packets
  src/resolve/resolved-dns-packet.h
  src/resolve/resolved-dns-stub.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#34138 Translations update from Fedora Weblate
  po/sl.po
Labels: l10n 🌍, please-review

#34137 core-varlink: add missing runtime scope check for manager_varlink_managed_oom_connect()
  src/core/core-varlink.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, varlink

#34114 resolve: support 'resolvconf -p'
  NEWS
  man/resolvectl.xml
  src/resolve/resolvconf-compat.c
  src/resolve/resolvectl.c
  src/resolve/resolvectl.h
  test/units/TEST-75-RESOLVED.sh
Labels: resolve, new-feature, good-to-merge/waiting-for-ci 👍

#33877 service: add 'debug' option to RestartMode=
  man/org.freedesktop.systemd1.xml
  man/systemd.exec.xml
  man/systemd.service.xml
  src/core/dbus-unit.c
  src/core/exec-invoke.c
  src/core/execute-serialize.c
  src/core/execute.c
  src/core/execute.h
  src/core/service.c
  src/core/service.h
  src/core/unit.c
  src/core/unit.h
  test/units/TEST-59-RELOADING-RESTART.sh
Labels: pid1, good-to-merge/waiting-for-ci 👍, downstream/azure

#33570 sysupdate: Handle incomplete versions
  man/org.freedesktop.sysupdate1.xml
  man/systemd-sysupdate.xml
  src/sysupdate/sysupdate-resource.c
  src/sysupdate/sysupdate-transfer.c
  src/sysupdate/sysupdate-update-set-flags.c
  src/sysupdate/sysupdate-update-set-flags.h
  src/sysupdate/sysupdate.c
  src/sysupdate/updatectl.c
  test/units/TEST-72-SYSUPDATE.sh
Labels: documentation, build-system, util-lib, l10n 🌍, tests, good-to-merge/waiting-for-ci 👍, units, meson, sysupdate

#34146 vmspawn: fix duplicate logging on oom
  src/vmspawn/vmspawn-mount.c
Labels: good-to-merge/waiting-for-ci 👍, vmspawn

#34144 stub: restore random seed update logic
  src/boot/efi/stub.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#34139 sd-device-monitor: introduce sd_device_monitor_get_events() and _get_timeout()
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-device/device-monitor.c
  src/libsystemd/sd-device/test-sd-device-monitor.c
  src/libsystemd/sd-varlink/sd-varlink.c
  src/systemd/sd-device.h
Labels: new-feature, tests, sd-device, good-to-merge/waiting-for-ci 👍, varlink

#34123 sd-device: expose sd_device_get_device_id() and sd_device_get_driver_subsystem()
  man/rules/meson.build
  man/sd_device_get_syspath.xml
  man/udevadm.xml
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/sd-device.c
  src/libsystemd/sd-device/test-sd-device.c
  src/systemd/sd-device.h
  src/udev/udev-manager.c
  src/udev/udev-node.c
  src/udev/udev-watch.c
  src/udev/udevadm-info.c
Labels: udev, documentation, build-system, tests, sd-device, good-to-merge/waiting-for-ci 👍, meson

#34143 test-dhcp-server: Migrate to new assertion macros
  src/libsystemd-network/test-dhcp-server.c
  src/shared/tests.h
  src/test/test-macro.c
Labels: network, util-lib, tests, please-review

#34156 mkosi: use util-linux's autologin
  mkosi.conf.d/10-debian-ubuntu/mkosi.conf
  mkosi.conf.d/10-ubuntu/mkosi.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#34147 nspawn: propagate SSH authorized keys when binding user into contaier…
  src/nspawn/nspawn-bind-user.c
Labels: nspawn, quick-review 🏃‍♂️, please-review

#34142 mkosi: Update distribution packaging commits
  .github/workflows/mkosi.yml
  mkosi.conf.d/10-centos-fedora/mkosi.prepare
  mkosi.images/build/mkosi.conf.d/arch/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/arch/mkosi.conf
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.conf
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.prepare
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.conf
  mkosi.images/build/mkosi.conf.d/opensuse/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/opensuse/mkosi.conf
  mkosi.images/build/mkosi.conf.d/opensuse/mkosi.prepare
Labels: tests, mkosi

#34148 user-record: add helper that checks if a user record is root or the n…
  src/nspawn/nspawn-bind-user.c
  src/shared/user-record.c
  src/shared/user-record.h
Labels: nspawn, util-lib, good-to-merge/waiting-for-ci 👍

#34157 test: Set show_status=error
  test/integration-test-wrapper.py
Labels: tests, good-to-merge/waiting-for-ci 👍
