Repository systemd/systemd, pull requests merged in 2024-12, with the labels that each got.

#35418 systemctl: skip checking inhibitors when dbus.service is not running
  src/systemctl/systemctl-logind.c
Labels: systemctl, good-to-merge/waiting-for-ci 👍

#35424 kernel-install: remove .extra.d/ directory too
  src/kernel-install/90-uki-copy.install
Labels: kernel-install, please-review

#35384 TEST-13-NSPAWN: enable debugging logs by nspawn run by systemd-run
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, tests, quick-review 🏃‍♂️, please-review

#35428 core/service: preserve RuntimeDirectory= even if oneshot service exits
  src/core/mount.c
  src/core/service.c
  src/core/socket.c
  src/core/swap.c
  src/core/unit.c
  src/core/unit.h
  test/units/TEST-23-UNIT-FILE.RuntimeDirectory.sh
Labels: pid1, tests, ci-failure-appears-unrelated

#35445 ukify: ellipsize CN to not exceed maximum length
  src/ukify/ukify.py
Labels: good-to-merge/waiting-for-ci 👍, uki

#35444 Bash completion: no more ANSI colorcode in pathnames
  shell-completion/bash/systemctl.in
Labels: shell completion, good-to-merge/waiting-for-ci 👍

#35440 pid1: assume user namespaces are unavailable if we get -EINVAL from clone
  src/basic/namespace-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#35423 hwdb: Make 3D mice work out-of-the-box
  hwdb.d/70-mouse.hwdb
  hwdb.d/parse_hwdb.py
  rules.d/70-uaccess.rules.in
Labels: udev, hwdb

#35456 man: remove references to invalid rd.systemd.image_policy option
  man/kernel-command-line.xml
  man/systemd-gpt-auto-generator.xml
  man/systemd.image-policy.xml
Labels: documentation, gpt-auto, good-to-merge/waiting-for-ci 👍

#35460 mkosi: disable Fedora specific drop-in config when running with sanitizers
  mkosi.sanitizers/mkosi.extra/etc/systemd/system.conf.d/10-default-timeout.conf
  mkosi.sanitizers/mkosi.extra/etc/systemd/system/service.d/10-timeout-abort.conf
  test/TEST-73-LOCALE/meson.build
Labels: build-system, tests, mkosi, meson, ci, please-review

#35463 mkosi: update fedora commit reference
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#35465 docs/CONTRIBUTING: adjust grammar, info about tests and labels
  docs/CONTRIBUTING.md
Labels: documentation, please-review

#35466 dmi: add RISC-V 64bit support
  meson.build
Labels: build-system, good-to-merge/waiting-for-ci 👍, meson

#35407 ci: Implement coverage on top of mkosi
  .github/workflows/coverage.yml
  .github/workflows/mkosi.yml
  mkosi.conf
  mkosi.conf.d/05-tools/mkosi.conf
  mkosi.conf.d/05-tools/mkosi.conf.d/arch.conf
  mkosi.coverage/mkosi.conf
  mkosi.coverage/mkosi.postinst
  mkosi.extra.common/usr/lib/systemd/coverage-forwarder
  mkosi.extra.common/usr/lib/systemd/system-preset/00-mkosi.preset
  mkosi.extra.common/usr/lib/systemd/system/coverage-forwarder.service
  mkosi.images/build/mkosi.conf.d/arch/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/opensuse/mkosi.build.chroot
  mkosi.images/initrd/mkosi.conf
  src/shared/creds-util.c
  src/test/test-creds.c
  src/test/test-execute.c
  test/integration-test-wrapper.py
  test/test-execute/exec-ambientcapabilities-dynuser.service
  test/test-execute/exec-dynamicuser-fixeduser-adm.service
  test/test-execute/exec-dynamicuser-fixeduser-games.service
  test/test-execute/exec-dynamicuser-fixeduser-one-supplementarygroup.service
  test/test-execute/exec-dynamicuser-fixeduser.service
  test/test-execute/exec-dynamicuser-runtimedirectory1.service
  test/test-execute/exec-dynamicuser-runtimedirectory2.service
  test/test-execute/exec-dynamicuser-runtimedirectory3.service
  test/test-execute/exec-dynamicuser-statedir-migrate-step2.service
  test/test-execute/exec-dynamicuser-statedir.service
  test/test-execute/exec-dynamicuser-supplementarygroups.service
  test/test-network/systemd-networkd-tests.py
  test/units/TEST-38-FREEZER.sh
Labels: build-system, util-lib, tests, good-to-merge/waiting-for-ci 👍, mkosi, meson, creds

#35472 meson: avoid error message if git is not installed
  tools/vcs-tag.sh
Labels: build-system, good-to-merge/waiting-for-ci 👍

#35473 mkosi: update opensuse packaging commit due to force push
  mkosi.images/build/mkosi.conf.d/opensuse/mkosi.conf
Labels: mkosi, quick-review 🏃‍♂️

#35475 test: Implement TEST_PREFER_QEMU and use it in one of the mkosi jobs
  .github/workflows/mkosi.yml
  test/README.testsuite
  test/integration-test-wrapper.py
Labels: build-system, tests, good-to-merge/waiting-for-ci 👍, mkosi, meson

#35474 test-time-util: do more suppression of time zone checks
  src/test/test-time-util.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#35477 docs/MEMORY_PRESSURE: fix typo
  docs/MEMORY_PRESSURE.md
Labels: documentation, please-review

#35478 mkosi: install util-linux-script in F42 too
  mkosi.conf.d/10-fedora/mkosi.conf.d/rawhide-42.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#35471 More assert macros
  src/test/test-acl-util.c
  src/test/test-bus-util.c
  src/test/test-cgroup.c
  src/test/test-condition.c
  src/test/test-parse-util.c
Labels: tests, please-review

#35484 journalctl: show coredumps again when --unit= is specified
  src/shared/logs-show.c
Labels: journal, util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#35486 Revert "journalctl: show coredumps again when --unit= is specified"
  src/shared/logs-show.c
Labels: util-lib, please-review

#35500 sysupdate: fix typo in DBus config
  src/sysupdate/org.freedesktop.sysupdate1.conf
Labels: documentation

#35501 test: tentatively disable SELinux tests
  .github/workflows/mkosi.yml
  test/meson.build
Labels: build-system, tests, good-to-merge/waiting-for-ci 👍, mkosi, meson, ci

#35491 mkosi: various improvements
  .github/workflows/mkosi.yml
  mkosi.conf
  mkosi.extra.common/usr/lib/systemd/system.conf.d/10-device-timeout.conf
  mkosi.postinst.chroot
  mkosi.sanitizers/mkosi.conf
  mkosi.sanitizers/mkosi.extra/usr/lib/systemd/leak-sanitizer-suppressions
  mkosi.sanitizers/mkosi.extra/usr/lib/systemd/system.conf.d/10-sanitizers.conf
  mkosi.sanitizers/mkosi.extra/usr/lib/systemd/system/service.d/10-timeout-abort.conf
  mkosi.sanitizers/mkosi.extra/usr/lib/systemd/system/systemd-journald.service.d/10-stdout-tty.conf
  test/integration-test-wrapper.py
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#35489 boot: exclude the trailing padding from initrd size in initrd_prepare()
  src/boot/boot.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#35509 systemctl: use correct runtime scope
  src/systemctl/systemctl-is-enabled.c
Labels: systemctl, good-to-merge/waiting-for-ci 👍

#35494 journalctl: show coredumps again when --unit= is specified (v2)
  src/journal/journalctl-filter.c
  src/shared/logs-show.c
  src/shared/logs-show.h
Labels: journal, util-lib, ci-failure-appears-unrelated

#35515 mkosi: Use rawhide tools tree in CI
  .github/workflows/mkosi.yml
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#35516 hwdb: Add Chuwi MiniBook X trackpad fuzz
  hwdb.d/60-evdev.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#35502 Revert "test: tentatively disable SELinux tests"
  .github/workflows/mkosi.yml
  test/meson.build
Labels: build-system, tests, mkosi, meson, please-review

#35480 mkosi: several improvements for running with sanitizers
  mkosi.sanitizers/mkosi.conf
  mkosi.sanitizers/mkosi.extra/usr/lib/systemd/system.conf.d/10-sanitizers.conf
  mkosi.sanitizers/mkosi.extra/usr/lib/systemd/system/iscsi-init.service.d/10-asan.conf
  mkosi.sanitizers/mkosi.extra/usr/lib/systemd/system/systemd-coredump@.service.d/10-asan.conf
  test/TEST-64-UDEV-STORAGE/meson.build
  test/integration-test-wrapper.py
  test/meson.build
  test/test-network/systemd-networkd-tests.py
  test/units/TEST-07-PID1.exec-context.sh
  test/units/TEST-07-PID1.issue-14566.sh
Labels: build-system, tests, good-to-merge/waiting-for-ci 👍, mkosi, meson

#35522 hostnamectl: respect SYSTEMD_COLORS
  src/hostname/hostnamectl.c
Labels: hostname, ci-failure-appears-unrelated

#35520 Update syscall tables
  src/basic/syscall-list.txt
  src/basic/syscalls-alpha.txt
  src/basic/syscalls-arc.txt
  src/basic/syscalls-arm.txt
  src/basic/syscalls-arm64.txt
  src/basic/syscalls-i386.txt
  src/basic/syscalls-loongarch64.txt
  src/basic/syscalls-m68k.txt
  src/basic/syscalls-mips64.txt
  src/basic/syscalls-mips64n32.txt
  src/basic/syscalls-mipso32.txt
  src/basic/syscalls-parisc.txt
  src/basic/syscalls-powerpc.txt
  src/basic/syscalls-powerpc64.txt
  src/basic/syscalls-riscv32.txt
  src/basic/syscalls-riscv64.txt
  src/basic/syscalls-s390.txt
  src/basic/syscalls-s390x.txt
  src/basic/syscalls-sparc.txt
  src/basic/syscalls-x86_64.txt
  src/shared/seccomp-util.c
Labels: util-lib, ci-failure-appears-unrelated

#35523 test: use mkdir -p in TEST-25-IMPORT
  test/units/TEST-25-IMPORT.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#35517 Cryptenroll pager and tweaks
  man/systemd-cryptenroll.xml
  src/cryptenroll/cryptenroll.c
  src/cryptsetup/cryptsetup.c
  src/shared/libfido2-util.c
Labels: documentation, util-lib, cryptsetup, good-to-merge/waiting-for-ci 👍

#35519 sd-varlink: add function to configure server object info
  src/bootctl/bootctl.c
  src/core/core-varlink.c
  src/creds/creds.c
  src/fuzz/fuzz-varlink.c
  src/home/homed-manager.c
  src/hostname/hostnamed.c
  src/import/importd.c
  src/journal/journald-server.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-varlink/sd-varlink.c
  src/libsystemd/sd-varlink/varlink-internal.h
  src/libsystemd/sd-varlink/varlink-util.c
  src/libsystemd/sd-varlink/varlink-util.h
  src/machine/machined-varlink.c
  src/mountfsd/mountwork.c
  src/network/networkd-manager-varlink.c
  src/nsresourced/nsresourcework.c
  src/oom/oomd-manager.c
  src/pcrextend/pcrextend.c
  src/pcrlock/pcrlock.c
  src/resolve/resolved-varlink.c
  src/sysext/sysext.c
  src/systemd/sd-varlink.h
  src/test/test-varlink-idl.c
  src/test/test-varlink.c
  src/userdb/userwork.c
Labels: util-lib, tree-wide, good-to-merge/waiting-for-ci 👍, varlink

#35530 TEST-07-PID: wait for sleep command being executed by sd-executor
  test/units/TEST-07-PID1.private-pids.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#35531 copy: do not try to copy zero size data
  src/shared/copy.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#35511 tree-wide: fd_get_path() already understands AT_FDCWD natively
  src/shared/discover-image.c
  src/shared/selinux-util.c
Labels: util-lib, good-to-merge/after-next-release

#35468 core: improve finding OnSuccess=/OnFailure= dependant
  src/core/service.c
  test/units/TEST-68-PROPAGATE-EXIT-STATUS.sh
Labels: documentation, pid1, tests, good-to-merge/after-next-release

#35430 journald: extend STDOUT_STREAMS_MAX to 64k
  src/journal/journald-stream.c
Labels: journal, good-to-merge/after-next-release

#35220 units/initrd-parse-etc.service: replace systemctl start with OnSuccess=
  units/initrd-parse-etc.service.in
Labels: units, good-to-merge/after-next-release

#35512 discover-image: extend r/o check on images via path
  src/shared/discover-image.c
Labels: util-lib, good-to-merge/after-next-release

#35449 core: Fix minor bugs with RestrictNamespaces=
  man/systemd.exec.xml
  src/shared/nsflags.h
  src/test/test-seccomp.c
  test/units/TEST-07-PID1.exec-context.sh
Labels: documentation, pid1, util-lib, tests, good-to-merge/after-next-release

#35340 coredumpctl: Don't treat no coredumps as failure
  man/coredumpctl.xml
  src/coredump/coredumpctl.c
Labels: documentation, coredump, good-to-merge/after-next-release

#35527 tree-wide: replace ANSI_XYZ with ansi_xyz()
  src/analyze/analyze-architectures.c
  src/analyze/analyze-pcrs.c
  src/analyze/analyze-security.c
  src/libsystemd/sd-varlink/sd-varlink-idl.c
  src/pcrlock/pcrlock.c
  src/shared/logs-show.c
  src/shared/pretty-print.c
Labels: analyze, util-lib, good-to-merge/waiting-for-ci 👍, varlink

#35447 core: Add ProtectHostname=private
  man/org.freedesktop.systemd1.xml
  man/systemd.exec.xml
  mkosi.conf
  src/core/dbus-execute.c
  src/core/exec-invoke.c
  src/core/execute-serialize.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/namespace.c
  src/core/namespace.h
  src/shared/bus-unit-util.c
  test/units/TEST-07-PID1.protect-hostname.sh
Labels: documentation, pid1, util-lib, tests, good-to-merge/after-next-release, mkosi

#35421 bus-creds/time-util: use first_word() and skip_leading_chars() more
  src/basic/time-util.c
  src/libsystemd/sd-bus/bus-creds.c
Labels: sd-bus, util-lib, good-to-merge/waiting-for-ci 👍

#35545 Revert "coredumpctl: Don't treat no coredumps as failure"
  man/coredumpctl.xml
  src/coredump/coredumpctl.c
Labels: coredump, good-to-merge/waiting-for-ci 👍

#35419 systemctl: silence error message
  src/shared/bus-util.c
  src/shared/bus-util.h
  src/systemctl/systemctl-logind.c
  src/systemctl/systemctl-util.c
  src/systemctl/systemctl-util.h
Labels: systemctl, util-lib, good-to-merge/waiting-for-ci 👍

#35252 journalctl: do not override explicitly specified -b or -n with -e or -k
  man/journalctl.xml
  src/journal/journalctl-util.c
  src/journal/journalctl.c
  src/journal/journalctl.h
Labels: journal, documentation, good-to-merge/waiting-for-ci 👍

#34438 network: optionally bring up interface before joining bridge
  rules.d/81-net-bridge.rules
  rules.d/meson.build
  src/network/networkd-setlink.c
  src/network/networkd-setlink.h
Labels: udev, network, build-system, good-to-merge/waiting-for-ci 👍, meson

#35550 test: set nsec3-salt-length=8 in knot.conf
  test/knot-data/knot.conf
Labels: tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#35253 Define flags for manager_is_inhibited()
  src/login/logind-action.c
  src/login/logind-core.c
  src/login/logind-dbus.c
  src/login/logind-inhibit.c
  src/login/logind-inhibit.h
Labels: login, good-to-merge/waiting-for-ci 👍

#35548 analyze: add --mask to --help text
  src/analyze/analyze-plot.c
  src/analyze/analyze.c
Labels: analyze, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#35553 mkosi: add inetutils package to archlinux
  mkosi.conf
  mkosi.conf.d/10-arch/mkosi.conf
  mkosi.conf.d/10-centos-fedora/mkosi.conf
  mkosi.conf.d/10-debian-ubuntu/mkosi.conf
  mkosi.conf.d/10-opensuse/mkosi.conf
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#35556 Fix unit tests in unprivileged docker container
  src/test/test-capability.c
  src/test/test-fd-util.c
Labels: tests, needs-stable-backport

#35524 man: document the unprivileged flag is not for read-only properties
  man/sd_bus_add_object.xml
Labels: documentation, please-review

#35382 virt: remove some heuristics
  src/basic/virt.c
Labels: util-lib, detect-virt, please-review

#35560 profile.d: don't bail if $SHELL_* variables are unset
  profile.d/70-systemd-shell-extra.sh
Labels: good-to-merge/waiting-for-ci 👍

#35558 A cosmetic VLAN range fix.
  man/systemd.network.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#35542 journalctl: also mangle unit name when --invocation= or --list-invocations is specified
  src/journal/journalctl-filter.c
  src/journal/journalctl-misc.c
  src/journal/journalctl-util.c
  src/journal/journalctl-util.h
  test/units/TEST-04-JOURNAL.invocation.sh
Labels: journal, tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#35399 condition: add new ConditionKernelModuleLoaded=
  man/systemd.unit.xml
  src/core/load-fragment-gperf.gperf.in
  src/shared/condition.c
  src/shared/condition.h
  src/test/test-condition.c
  units/modprobe@.service
Labels: documentation, pid1, new-feature, util-lib, tests, good-to-merge/waiting-for-ci 👍, units

#35557 test-bpf-restrict-fs: Migrate to new assertion macros
  src/test/test-bpf-restrict-fs.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#34732 Add credential support for mount units
  src/core/mount.c
  test/units/TEST-54-CREDS.sh
Labels: pid1, tests, good-to-merge/waiting-for-ci 👍, mount

#35295 libfido2-util: show also verity features when listing FIDO2 devices
  man/systemd-cryptenroll.xml
  src/shared/libfido2-util.c
  src/shared/libfido2-util.h
Labels: documentation, util-lib, good-to-merge/waiting-for-ci 👍

#35555 sd-varlink: properly export sd_varlink_reset_fds()
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-varlink/sd-varlink.c
Labels: good-to-merge/waiting-for-ci 👍, varlink

#35561 process-util: modernize is_main_thread(); make sure get_process_ppid() won't return ppid == 0
  src/basic/process-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#35563 nsresourced: drop unneeded REMOVE_PHYSICAL flag for rm_rf()
  src/nsresourced/userns-registry.c
Labels: good-to-merge/waiting-for-ci 👍, nsresource

#35564 cgroup-util: introduce cg_get_cgroupid_at()
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
Labels: cgroups, util-lib, good-to-merge/waiting-for-ci 👍

#35223 pretty-print: don't use OSC 8 for incompatible URLs
  src/basic/string-util.c
  src/basic/terminal-util.h
  src/shared/pretty-print.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#33716 run: enable --expand-environment= also when --scope
  NEWS
  man/systemd-run.xml
  src/run/run.c
Labels: documentation, run, good-to-merge/waiting-for-ci 👍

#35506 systemd-measure.xml
  man/systemd-measure.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, fix-commit-message-on-merge, needs-stable-backport

#35572 format-table: trivial cleanups
  src/shared/format-table.c
  src/userdb/userdbctl.c
Labels: util-lib, userdb, please-review

#35576 systemd-cryptenroll.xml: fix typo
  man/systemd-cryptenroll.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#35574 semaphore: skip some tests
  .semaphore/semaphore-runner.sh
Labels: good-to-merge/waiting-for-ci 👍, ci

#35537 shell completion: add systemd-creds
  shell-completion/bash/meson.build
  shell-completion/bash/systemd-creds
Labels: shell completion, good-to-merge/waiting-for-ci 👍

#35431 polkit-agent: allow to invoke polkit agent even if STDIN is not a tty
  src/shared/ask-password-agent.c
  src/shared/exec-util.c
  src/shared/exec-util.h
  src/shared/polkit-agent.c
Labels: util-lib, ask-password, good-to-merge/waiting-for-ci 👍

#35579 creds: introduce --transcode=help and friends and use them in shell completion
  man/systemd-creds.xml
  shell-completion/bash/systemd-creds
  src/basic/string-table.h
  src/creds/creds.c
  src/cryptenroll/cryptenroll.c
  src/measure/measure.c
  src/pcrextend/pcrextend.c
  src/repart/repart.c
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
  src/tpm2-setup/tpm2-setup.c
Labels: documentation, util-lib, cryptsetup, repart, tpm2, creds, please-review

#35578 Export two more functions, and update symbol tests
  .github/workflows/linter.yml
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-json/sd-json.c
  src/test/generate-sym-test.py
Labels: tests, please-review

#35518 gpt-auto: take timeout opts in rootflags= into account; hibernate-resume: always respect user-defined timeout
  src/cryptsetup/cryptsetup-generator.c
  src/fstab-generator/fstab-generator.c
  src/gpt-auto-generator/gpt-auto-generator.c
  src/hibernate-resume/hibernate-resume-generator.c
  src/shared/generator.c
  src/shared/generator.h
Labels: util-lib, gpt-auto, cryptsetup, fstab-generator, hibernate-resume, please-review

#35585 mkosi: Fix opensuse build
  mkosi.images/build/mkosi.conf.d/opensuse/mkosi.build.chroot
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#35267 network: several cleanups
  src/network/networkd-address.c
  src/network/networkd-manager.c
  src/network/networkd-ndisc.c
  src/network/networkd-neighbor.c
  src/network/networkd-nexthop.c
  src/network/networkd-nexthop.h
  src/network/networkd-route.c
  src/network/networkd-routing-policy-rule.c
  src/network/networkd.conf
Labels: network, please-review

#35577 core: fix loading verity settings for MountImages=
  src/core/namespace.c
  test/units/TEST-50-DISSECT.dissect.sh
  test/units/util.sh
Labels: pid1, tests, good-to-merge/waiting-for-ci 👍, dissect, needs-stable-backport

#35584 units: use PrivateTmp=disconnected instead of 'yes' if DefaultDependecies=no
  units/systemd-coredump@.service.in
  units/systemd-oomd.service.in
  units/systemd-resolved.service.in
  units/systemd-timesyncd.service.in
Labels: resolve, timesync, coredump, units, please-review

#35592 core/mount: don't keep cred mounts around after mounted
  src/core/mount.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, mount

#35590 mkosi: update debian commit reference
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.conf
Labels: mkosi, quick-review 🏃‍♂️, please-review

#35586 shell-completion: add smbios11 verb to systemd-analyze
  shell-completion/bash/systemd-analyze
Labels: shell completion, quick-review 🏃‍♂️, please-review

#35192 logind: let system-wide idle begin at system boot time
  src/login/logind-core.c
  src/login/logind.c
  src/login/logind.h
Labels: login, good-to-merge/waiting-for-ci 👍

#35183 core: Add PrivateUsers=full
  man/systemd.exec.xml
  src/core/exec-invoke.c
  src/core/namespace.c
  src/core/namespace.h
  test/units/TEST-07-PID1.private-users.sh
Labels: documentation, pid1, tests, good-to-merge/waiting-for-ci 👍

#35588 hwdb: move down touchpad toggle section from generic to product specific
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, please-review

#35580 core/namespace: several fixes for recently merged PRs
  mkosi.sanitizers/mkosi.postinst
  src/core/exec-invoke.c
  src/core/namespace.c
  src/core/namespace.h
Labels: tests, mkosi

#35507 journalctl: make --setup-keys honor --output=json and --quiet
  man/journalctl.xml
  src/journal/journalctl-authenticate.c
  test/units/TEST-04-JOURNAL.fss.sh
Labels: journal

#35573 core: Bind mount notify socket to /run/host/notify in sandboxed units
  src/core/exec-invoke.c
  src/core/execute.c
  src/core/execute.h
  src/core/namespace.c
  src/core/namespace.h
  src/core/service.c
  test/units/TEST-50-DISSECT.dissect.sh
Labels: pid1, tests, good-to-merge/waiting-for-ci 👍, mkosi, dissect

#34476 Revert "repart: Drop unprivileged subvolumes logic for btrfs"
  src/repart/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#35324 repart: Take configured minimum and maximum size into account for Minimize=
  src/repart/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#35610 semaphore: bump timeout
  .semaphore/semaphore-runner.sh
  .semaphore/semaphore.yml
Labels: good-to-merge/waiting-for-ci 👍, ci

#35495 network: add MPLSRouting= setting to enable MPLS routing
  man/systemd.network.xml
  src/basic/sysctl-util.c
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-sysctl.c
  test/test-network/conf/25-sysctl-mpls.network
  test/test-network/systemd-networkd-tests.py
Labels: network, new-feature, util-lib, tests, sysctl, good-to-merge/waiting-for-ci 👍

#35606 log: raise log level to LOG_DEBUG if $DEBUG_INVOCATION=1 is set
  TODO
  src/basic/log.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#35603 Split from #35406
  src/core/dbus.c
  src/core/manager-dump.c
Labels: good-to-merge/waiting-for-ci 👍

#35181 Replace array with magic indices with normal variables in vconsole-setup
  src/tmpfiles/tmpfiles.c
  src/vconsole/vconsole-setup.c
Labels: tmpfiles, vconsole, good-to-merge/waiting-for-ci 👍

#35287 logind: allow wall messages to be controlled via config file
  man/logind.conf.xml
  src/login/logind-core.c
  src/login/logind-gperf.gperf
  src/login/logind.c
  src/login/logind.conf.in
Labels: login, documentation, good-to-merge/waiting-for-ci 👍

#35611 test-udev-spawn: migrate to use ASSERT_XYZ()
  src/udev/test-udev-spawn.c
Labels: udev, tests, please-review

#35612 udev: several trivial cleanups for builtins
  src/udev/udev-builtin-kmod.c
  src/udev/udev-builtin.c
Labels: udev, please-review

#35614 udev: several coding style fixes
  src/udev/dmi_memory_id/dmi_memory_id.c
  src/udev/net/link-config.c
  src/udev/net/link-config.h
  src/udev/udev-builtin-hwdb.c
  src/udev/udev-builtin-input_id.c
  src/udev/udev-builtin-keyboard.c
  src/udev/udev-builtin-path_id.c
  src/udev/udev-builtin-usb_id.c
  src/udev/udev-event.c
  src/udev/udev-event.h
  src/udev/udev-format.c
  src/udev/udev-rules.c
  src/udev/udev-rules.h
Labels: udev, hwdb, please-review

#35616 TEST-07-PID1: fixlets for running with sanitizers
  mkosi.sanitizers/mkosi.postinst
  test/units/TEST-07-PID1.exec-context.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#35618 mkosi: fix section for WithNetwork=
  mkosi.conf.d/10-debian-ubuntu/mkosi.conf.d/network.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#35615 test-time-util: fix truncation of usec to sec
  src/test/test-time-util.c
Labels: tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#35613 udev: move several definitions
  src/udev/test-udev-rule-runner.c
  src/udev/udev-builtin.h
  src/udev/udev-def.h
  src/udev/udev-event.c
  src/udev/udev-event.h
  src/udev/udev-format.c
  src/udev/udev-manager.c
  src/udev/udev-manager.h
  src/udev/udev-rules.c
  src/udev/udev-rules.h
  src/udev/udev-spawn.c
  src/udev/udev-worker.c
  src/udev/udevadm-test.c
  src/udev/udevd.c
Labels: udev, tests, good-to-merge/waiting-for-ci 👍

#35620 test: include MAINPID in notify message in TEST-50-DISSECT for notify socket
  test/units/TEST-50-DISSECT.dissect.sh
Labels: tests, dissect, quick-review 🏃‍♂️, please-review

#35622 network: don't warn with no NSID assigned
  src/network/networkd-manager-bus.c
  src/shared/socket-netlink.c
Labels: network, util-lib, good-to-merge/waiting-for-ci 👍

#35629 TEST-35-LOGIN: check only tty session
  test/units/TEST-35-LOGIN.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#35589 hwdb: Make remote controllable lights work out-of-the-box
  hwdb.d/70-lights.hwdb
  hwdb.d/parse_hwdb.py
  rules.d/70-uaccess.rules.in
Labels: udev, hwdb, good-to-merge/waiting-for-ci 👍

#35627 TEST-50-DISSECT: add test case with systemd-notify
  test/units/TEST-50-DISSECT.dissect.sh
Labels: tests, dissect, please-review

#35640 ptyfwd: fix OSC sequence termination handling
  src/shared/ptyfwd.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#35155 udev: add option to trigger parent device despite filters
  man/udevadm.xml
  shell-completion/bash/udevadm
  shell-completion/zsh/_udevadm
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-device/device-enumerator.c
  src/libsystemd/sd-device/test-sd-device.c
  src/systemd/sd-device.h
  src/udev/udevadm-trigger.c
Labels: udev, documentation, tests, sd-device, good-to-merge/waiting-for-ci 👍

#35645 fix key toggle touchpad on and off
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, fix-commit-message-on-merge

#35647 mkosi: temporarily disable panic_on_warn
  mkosi.conf
Labels: tests, mkosi, good-to-merge/with-minor-suggestions

#35646 networkd: show wireguard private key read error number
  src/network/netdev/wireguard.c
Labels: network, good-to-merge/waiting-for-ci 👍

#35638 meson: allow to customize default mode for tty/pts devices
  NEWS
  meson.build
  meson_options.txt
  rules.d/50-udev-default.rules.in
  src/basic/terminal-util.h
  src/nspawn/nspawn.c
  src/shared/mount-setup.c
  tools/meson-render-jinja2.py
Labels: udev, nspawn, documentation, build-system, util-lib, good-to-merge/waiting-for-ci 👍, mount, meson

#35639 systemctl-edit: ignore ENOENT from unit_is_masked()
  src/systemctl/systemctl-edit.c
  test/units/TEST-26-SYSTEMCTL.sh
Labels: systemctl, tests, good-to-merge/waiting-for-ci 👍

#35626 core: make ProtectHostname= optionally take a hostname
  man/org.freedesktop.systemd1.xml
  man/systemd.exec.xml
  src/core/dbus-execute.c
  src/core/exec-invoke.c
  src/core/execute-serialize.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/shared/bus-unit-util.c
  test/units/TEST-07-PID1.protect-hostname.sh
Labels: documentation, pid1, new-feature, util-lib, tests, good-to-merge/waiting-for-ci 👍

#35532 test: Add CHID matching test
  .github/workflows/linter.yml
  src/boot/chid.c
  src/boot/efi.h
  src/boot/generate-hwids-section.py
  src/boot/hwids/device1.json
  src/boot/hwids/device2.json
  src/boot/hwids/device3.json
  src/boot/meson.build
  src/boot/smbios.c
  src/boot/smbios.h
  src/boot/test-chid-match.c
  src/boot/util.h
  src/fundamental/efi-fundamental.h
Labels: build-system, util-lib, tests, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, meson

#35653 boot: do not build test-hwids-section.c if ukify is disabled
  src/boot/meson.build
Labels: build-system, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, meson

#35064 machine: introduce io.systemd.Machine.{MapFrom, MapTo} methods
  src/machine/machine-varlink.c
  src/machine/machine-varlink.h
  src/machine/machined-varlink.c
  src/shared/varlink-io.systemd.Machine.c
  test/units/TEST-13-NSPAWN.machined.sh
Labels: machine, util-lib, tests, good-to-merge/waiting-for-ci 👍

#35587 tree-wide: remove support for kernels lacking ambient caps
  README
  TODO
  man/systemd.exec.xml
  man/systemd.service.xml
  src/basic/capability-util.c
  src/basic/capability-util.h
  src/core/dbus-execute.c
  src/core/exec-invoke.c
  src/core/load-fragment.c
  src/nspawn/nspawn.c
  src/shared/bus-unit-util.c
  src/shared/exec-util.c
  src/shared/exec-util.h
  src/test/test-capability.c
  src/test/test-exec-util.c
  units/systemd-networkd.service.in
  units/systemd-resolved.service.in
  units/systemd-timesyncd.service.in
Labels: nspawn, resolve, documentation, pid1, util-lib, tests, timesync, tree-wide, good-to-merge/waiting-for-ci 👍, units

#35513 discover-image: modernize image discovery around O_PATH
  src/basic/chattr-util.c
  src/shared/btrfs-util.c
  src/shared/discover-image.c
Labels: btrfs, util-lib, good-to-merge/waiting-for-ci 👍

#35658 test: skip TEST-69-SHUTDOWN on ubuntu too
  test/units/TEST-69-SHUTDOWN.py
Labels: tests, good-to-merge/waiting-for-ci 👍

#35605 remove fallbacks for memfd-less kernels
  README
  TODO
  src/basic/memfd-util.c
  src/basic/memfd-util.h
  src/core/dbus-manager.c
  src/core/exec-invoke.c
  src/core/execute.c
  src/core/main.c
  src/core/manager-serialize.c
  src/core/manager.c
  src/home/homed-home.c
  src/home/homework-cifs.c
  src/journal-remote/fuzz-journal-remote.c
  src/libsystemd/sd-bus/bus-common-errors.c
  src/libsystemd/sd-bus/bus-common-errors.h
  src/libsystemd/sd-journal/journal-send.c
  src/network/networkd-serialize.c
  src/oom/oomd-manager-bus.c
  src/shared/bus-util.c
  src/shared/data-fd-util.c
  src/shared/data-fd-util.h
  src/shared/exec-util.c
  src/shared/serialize.c
  src/shared/serialize.h
  src/test/test-data-fd-util.c
  src/test/test-fd-util.c
  src/test/test-memfd-util.c
  src/test/test-varlink.c
Labels: network, journal, documentation, sd-bus, util-lib, tests, tree-wide, journal-remote, good-to-merge/waiting-for-ci 👍

#35178 pam_systemd: some refactorings and bugfixes
  src/login/pam_systemd.c
  src/shared/pam-util.c
  src/shared/pam-util.h
Labels: login, util-lib, good-to-merge/waiting-for-ci 👍

#35661 core: drop unnecessary header inclusion
  src/core/dbus-execute.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#35666 mkosi: Fix tools image package name
  mkosi.conf.d/05-tools/mkosi.conf.d/opensuse.conf
Labels: please-review

#35665 tree-wide: use pidref_is_self() at more places
  src/basic/pidref.c
  src/libsystemd/sd-bus/test-bus-peersockaddr.c
  src/login/logind-dbus.c
Labels: login, sd-bus, util-lib, tests, tree-wide, good-to-merge/waiting-for-ci 👍

#35657 tpm2-util: Also retry unsealing after policy_pcr returns PCR_CHANGED
  src/shared/tpm2-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, tpm2

#35625 udev: make builtins take UdevEvent object
  src/udev/net/link-config.c
  src/udev/net/link-config.h
  src/udev/test-udev-rule-runner.c
  src/udev/test-udev-spawn.c
  src/udev/udev-builtin-blkid.c
  src/udev/udev-builtin-btrfs.c
  src/udev/udev-builtin-hwdb.c
  src/udev/udev-builtin-input_id.c
  src/udev/udev-builtin-net_driver.c
  src/udev/udev-builtin-net_id.c
  src/udev/udev-builtin-net_setup_link.c
  src/udev/udev-builtin-path_id.c
  src/udev/udev-builtin-usb_id.c
  src/udev/udev-builtin.c
  src/udev/udev-builtin.h
  src/udev/udev-event.c
  src/udev/udev-event.h
  src/udev/udev-worker.c
  src/udev/udevadm-test-builtin.c
  src/udev/udevadm-test.c
Labels: udev, btrfs, hwdb, tests, good-to-merge/waiting-for-ci 👍

#35668 test-firewall-util: Migrate to new assertion macros
  src/test/test-firewall-util.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#35672 update-utmp: do not give up if the first attempt at connecting bus failed
  src/update-utmp/update-utmp.c
Labels: good-to-merge/waiting-for-ci 👍, utmp/wtmp

#35663 ptyfwd: several cleanups
  src/machine/machinectl.c
  src/nspawn/nspawn.c
  src/run/run.c
  src/shared/ptyfwd.c
  src/shared/ptyfwd.h
Labels: nspawn, machine, util-lib, run, good-to-merge/waiting-for-ci 👍

#35670 man: Document generator sandbox environment
  man/systemd.generator.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#35673 networkd-sysctl: tweak error handling and log level a bit
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/network/networkd-sysctl.c
  src/network/networkd-sysctl.h
Labels: network, sysctl, good-to-merge/waiting-for-ci 👍

#35674 ukify: Fix regression in `--no-sign-kernel` flag
  src/ukify/ukify.py
Labels: needs-stable-backport, uki, please-review

#35675 machine: make TEST-13-NSPAWN long-running code more verbose
  test/units/TEST-13-NSPAWN.machined.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#35682 v257 batch up to b5ea69f5acc4ae0e8d31b236072f75b233dae6e8
  .semaphore/semaphore-runner.sh
  .semaphore/semaphore.yml
  man/systemd.generator.xml
  mkosi.conf
  mkosi.conf.d/05-tools/mkosi.conf.d/opensuse.conf
  mkosi.conf.d/10-debian-ubuntu/mkosi.conf.d/network.conf
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.conf
  mkosi.images/build/mkosi.conf.d/opensuse/mkosi.build.chroot
  shell-completion/bash/systemd-analyze
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/battery-check/battery-check.c
  src/core/dbus.c
  src/core/main.c
  src/core/manager-dump.c
  src/journal/journalctl-authenticate.c
  src/login/logind-core.c
  src/login/logind.c
  src/login/logind.h
  src/network/netdev/wireguard.c
  src/network/networkd-manager-bus.c
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-query.h
  src/resolve/resolved-dns-scope.c
  src/resolve/resolved-dns-transaction.c
  src/resolve/resolved-dns-transaction.h
  src/resolve/resolved-timeouts.h
  src/shared/ask-password-agent.c
  src/shared/exec-util.c
  src/shared/polkit-agent.c
  src/shared/socket-netlink.c
  src/shared/tpm2-util.c
  src/systemctl/systemctl-edit.c
  src/test/test-loop-block.c
  src/test/test-time-util.c
  src/tmpfiles/tmpfiles.c
  src/ukify/ukify.py
  test/README.testsuite
  test/units/TEST-04-JOURNAL.fss.sh
  test/units/TEST-26-SYSTEMCTL.sh
  test/units/TEST-35-LOGIN.sh
  test/units/TEST-69-SHUTDOWN.py
  units/systemd-coredump@.service.in
  units/systemd-oomd.service.in
  units/systemd-resolved.service.in
  units/systemd-timesyncd.service.in
Labels: quick-review 🏃‍♂️, please-review

#35677 ptyfwd: reset writable/readable flag before shovel() on exit
  src/shared/ptyfwd.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#35458 udev: support reloading udev.conf
  src/udev/udev-builtin.c
  src/udev/udev-builtin.h
  src/udev/udev-config.c
  src/udev/udev-config.h
  src/udev/udev-def.h
  src/udev/udev-manager.c
  test/units/TEST-17-UDEV.03.sh
  test/units/TEST-17-UDEV.device_is_processing.sh
Labels: udev, tests, good-to-merge/waiting-for-ci 👍

#35686 Small fixes to nspawn and other stuff
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn-mount.h
  src/nspawn/nspawn.c
  src/shared/mount-util.c
  src/shared/nsresource.c
Labels: nspawn, util-lib, mount, quick-review 🏃‍♂️, please-review, nsresource

#35175 analyze: add "chid" verb to display CHIDs of the local system
  man/systemd-analyze.xml
  shell-completion/bash/systemd-analyze
  src/analyze/analyze-chid.c
  src/analyze/analyze-chid.h
  src/analyze/analyze.c
  src/analyze/meson.build
  src/fundamental/chid-fundamental.c
  src/fundamental/chid-fundamental.h
  test/units/TEST-65-ANALYZE.sh
Labels: documentation, analyze, build-system, util-lib, tests, meson, please-review

#35403 capability-util: generalize helper to acquire local caps
  src/basic/capability-util.c
  src/basic/capability-util.h
  src/basic/process-util.c
  src/basic/process-util.h
  src/journal/journald-context.c
  src/journal/journald-context.h
  src/journal/journald-server.c
  src/shared/condition.c
  src/test/test-capability.c
  src/test/test-fileio.c
Labels: journal, sd-bus, util-lib, tests, please-review
