Repository systemd/systemd, pull requests merged in 2025-02, with the labels that each got.

#36223 Revert "Reduce priority of "cleared HibernateLocation" message"
  src/hibernate-resume/hibernate-resume.c
Labels: hibernate-resume, please-review

#36218 kernel-install: install addons in 90-uki-copy.install if they are present
  src/kernel-install/90-uki-copy.install
Labels: kernel-install, please-review

#36237 man: systemd-repart: factory=reset typo
  man/systemd-repart.xml
Labels: documentation, repart, please-review

#36215 ukify: Calculate section size more correctly
  src/ukify/ukify.py
Labels: uki, please-review

#36246 user-runtime-dir: Log the quota limit in the warning message on failure
  src/login/user-runtime-dir.c
Labels: login, good-to-merge/waiting-for-ci 👍

#36254 homectl: Fix shell empty check
  src/home/homectl.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#36253 Translations update from Fedora Weblate
  po/bg.po
Labels: l10n 🌍, please-review

#36251 docs: Update CPE fields in package metadata spec
  docs/PACKAGE_METADATA_FOR_EXECUTABLE_FILES.md
Labels: documentation, good-to-merge/with-minor-suggestions

#36243 meson: add install tag for systemctl
  src/systemctl/meson.build
Labels: build-system, meson, please-review

#36261 sysupdate: Update example mode to 644 instead of 444
  man/sysupdate.d.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍, sysupdate

#36259 ukify/measure: Revert changes to use SizeOfImage from Linux PE binary
  src/measure/measure.c
  src/ukify/ukify.py
Labels: needs-stable-backport

#35928 machine: introduce io.systemd.MachineImage.CleanPool
  src/machine/image-varlink.c
  src/machine/image-varlink.h
  src/machine/image.c
  src/machine/image.h
  src/machine/machine-dbus.c
  src/machine/machine-varlink.c
  src/machine/machine.c
  src/machine/machine.h
  src/machine/machined-dbus.c
  src/machine/machined-varlink.c
  src/machine/meson.build
  src/shared/varlink-io.systemd.MachineImage.c
  test/units/TEST-13-NSPAWN.machined.sh
Labels: machine, build-system, util-lib, tests, good-to-merge/waiting-for-ci 👍, meson

#36265 Two test readme improvements
  test/README.md
Labels: tests, please-review

#36263 stub: Mention that VirtualSize should be <= SizeOfRawData
  man/systemd-stub.xml
Labels: documentation, please-review

#36268 network/routing-policy-rule: fix compare function
  src/network/networkd-routing-policy-rule.c
  test/test-network/conf/25-routing-policy-rule-test1.network
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, needs-stable-backport, please-review

#36267 man/udevadm: several minor cleanups
  man/udevadm.xml
  tools/command_ignorelist
Labels: udev, documentation, please-review

#36183 network/route: improve Gateway=_dhcp4 handling
  man/systemd.network.xml
  src/network/networkd-dhcp4.c
  src/network/networkd-ndisc.c
  src/network/networkd-route-nexthop.c
  src/network/networkd-route.c
  src/network/networkd-route.h
  test/test-network/conf/25-dhcp-client-ipv4-only.network
  test/test-network/systemd-networkd-tests.py
Labels: network

#36273 repart: Don't fail when we're unable to read file attributes
  src/repart/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#36279 homectl: fix typos in help text
  man/homectl.xml
  src/home/homectl.c
Labels: documentation, please-review

#36110 resolved: fix DNSSEC `missing-key` error
  src/resolve/resolved-dns-dnssec.c
Labels: resolve, good-to-merge/waiting-for-ci 👍

#36239 udev-builtin: several trivial cleanups
  src/udev/udev-builtin-hwdb.c
  src/udev/udev-builtin-kmod.c
  src/udev/udev-builtin-net_setup_link.c
  src/udev/udev-builtin.h
  src/udev/udev-dump.c
  src/udev/udev-spawn.c
  src/udev/udevadm-test-builtin.c
  src/udev/udevadm-test.c
Labels: udev, hwdb, good-to-merge/waiting-for-ci 👍

#36241 udevadm: several cleanups for command line option parsers
  man/udevadm.xml
  shell-completion/bash/udevadm
  shell-completion/zsh/_udevadm
  src/libsystemd/sd-device/device-private.c
  src/libsystemd/sd-device/device-private.h
  src/udev/udevadm-test-builtin.c
  src/udev/udevadm-test.c
  src/udev/udevadm-trigger.c
  src/udev/udevadm-util.c
  src/udev/udevadm-util.h
  src/udev/udevadm-verify.c
  test/meson.build
  test/units/TEST-17-UDEV.11.sh
Labels: udev, sd-device, good-to-merge/waiting-for-ci 👍

#36283 Fixed Screen rotation for EXO Wings 2in1 w1125
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, fix-commit-message-on-merge, squash-on-merge

#36230 boot: several follow-ups for .efifw section support
  man/systemd-stub.xml
  src/boot/efi-firmware.c
  src/boot/efi-firmware.h
  src/boot/meson.build
  src/boot/pe.c
Labels: documentation, build-system, sd-boot/sd-stub/bootctl, meson, please-review

#36276 docs: Add an example how to get a user record with varlinkctl
  docs/USER_GROUP_API.md
Labels: documentation, please-review

#36292 mkosi: Only make build sources ephemeral if NO_BUILD is not enabled
  mkosi.conf
  mkosi.conf.d/20-build.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#36288 vmspawn: ignore failure from sshd-vsock@ unit
  src/vmspawn/vmspawn.c
Labels: good-to-merge/waiting-for-ci 👍, vmspawn

#36272 systemd-pull: support .asc and .sha256.* signature
  man/importctl.xml
  src/import/pull-common.c
  src/import/pull-common.h
Labels: import, good-to-merge/waiting-for-ci 👍

#36294 mkosi: extend util-linux-script config drop-in to F43
  mkosi.conf.d/10-fedora/mkosi.conf.d/rawhide-42.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#36289 basic/linux: update kernel headers from v6.14-rc1
  src/basic/linux/bpf.h
  src/basic/linux/dm-ioctl.h
  src/basic/linux/ethtool.h
  src/basic/linux/fib_rules.h
  src/basic/linux/if_link.h
  src/basic/linux/in.h
  src/basic/linux/input-event-codes.h
  src/basic/linux/ip.h
  src/basic/linux/nl80211.h
  src/basic/linux/rtnetlink.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#36286 meson: Skip getent when it's not available
  meson.build
Labels: build-system, meson

#36300 Translations update from Fedora Weblate
  po/LINGUAS
  po/kn.po
Labels: l10n 🌍, please-review

#36275 firstboot: Populate XKBLAYOUT and friends as well in vconsole.conf
  src/firstboot/firstboot.c
  src/locale/localed-util.c
  src/locale/localed-util.h
  src/locale/localed.c
  src/locale/test-localed-util.c
  src/shared/meson.build
  src/shared/vconsole-util.c
  src/shared/vconsole-util.h
Labels: build-system, util-lib, tests, locale, firstboot, vconsole, good-to-merge/waiting-for-ci 👍, meson

#36303 core/exec-invoke: drop unnecessary casts
  src/core/exec-invoke.c
Labels: quick-review 🏃‍♂️, please-review

#36305 hwdb: XBox Series Elite controller modalias entry has been added.
  hwdb.d/60-input-id.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, squash-on-merge

#36301 meson: also skip uid/gid check for nobody user/group when id command not found
  meson.build
Labels: build-system, good-to-merge/waiting-for-ci 👍, meson

#36100 core/namespace: relabel bind mount source based on the target path
  src/core/namespace.c
Labels: pid1, selinux, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#36302 udev/net: add support for configuring EEE feature
  man/systemd.link.xml
  src/shared/ethtool-util.c
  src/shared/ethtool-util.h
  src/udev/net/link-config-gperf.gperf
  src/udev/net/link-config.c
  src/udev/net/link-config.h
Labels: udev, documentation, new-feature, util-lib, good-to-merge/waiting-for-ci 👍

#36304 kernel-install: addresses post-merge comments for #36218
  man/kernel-install.xml
  src/kernel-install/90-uki-copy.install
  tools/command_ignorelist
Labels: documentation, good-to-merge/waiting-for-ci 👍, kernel-install

#36307 mkosi: Fix section for BuildSourcesEphemeral=
  mkosi.conf.d/20-build.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#36309 import-pubring.gpg: add openSUSE build key
  src/import/import-pubring.gpg
Labels: import, please-review

#36310 import: update to current fedora keyring
  src/import/import-pubring.gpg
Labels: import, please-review

#36181 ukify: add --pcrsig and --join-pcrsig arguments to append offline signature
  man/ukify.xml
  src/ukify/test/test_ukify.py
  src/ukify/ukify.py
Labels: good-to-merge/waiting-for-ci 👍, tpm2, uki

#36257 network: allow to configure routing policy rule even if requesting interface is not activated yet
  src/network/networkd-link.c
  src/network/networkd-link.h
  src/network/networkd-routing-policy-rule.c
  test/test-network/conf/25-routing-policy-rule-manual.network
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, needs-stable-backport, please-review

#36312 meson: fix suite of alignment check tests
  src/boot/meson.build
Labels: build-system, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, meson

#36284 udevadm-test: show result in json format
  man/udevadm.xml
  shell-completion/bash/udevadm
  shell-completion/zsh/_udevadm
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/sd-device.c
  src/libsystemd/sd-device/test-sd-device.c
  src/udev/udev-builtin-net_id.c
  src/udev/udev-builtin-path_id.c
  src/udev/udev-dump.c
  src/udev/udev-dump.h
  src/udev/udev-rules.c
  src/udev/udevadm-test.c
  test/units/TEST-17-UDEV.10.sh
Labels: udev, documentation, tests, sd-device, good-to-merge/waiting-for-ci 👍

#36318 [v257] udevadm-test: fix gid check
  src/udev/udevadm-test.c
Labels: udev, quick-review 🏃‍♂️, needs-stable-backport, please-review

#36322 repart: do not fail if no key/cert provided and verity-sig is deferred
  src/repart/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#36325 Update Bulgarian translation
  catalog/systemd.bg.catalog.in
  po/bg.po
Labels: l10n 🌍, catalog, please-review

#36323 hwdb: add front button support for MSI Claw 7 AI+ A2VM
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, please-review

#34822 systemd-journal-upload: added compression
  man/journal-remote.conf.xml
  man/journal-upload.conf.xml
  src/basic/compress.c
  src/basic/compress.h
  src/fuzz/fuzz-compress.c
  src/journal-remote/journal-compression-util.c
  src/journal-remote/journal-compression-util.h
  src/journal-remote/journal-remote-main.c
  src/journal-remote/journal-remote-parse.c
  src/journal-remote/journal-remote-parse.h
  src/journal-remote/journal-upload-journal.c
  src/journal-remote/journal-upload.c
  src/journal-remote/journal-upload.h
  src/journal-remote/meson.build
  src/journal-remote/microhttpd-util.c
  src/journal-remote/microhttpd-util.h
  src/libsystemd/sd-journal/journal-file.c
  src/test/test-compress-benchmark.c
  src/test/test-compress.c
  test/units/TEST-04-JOURNAL.journal-remote.sh
Labels: journal, documentation, build-system, util-lib, tests, journal-remote, meson, please-review

#36328 import-generator: fix copy/paste issue
  src/import/import-generator.c
Labels: import, quick-review 🏃‍♂️, please-review

#36326 bootctl: improve output regarding random seed if we cannot access ESP
  src/bootctl/bootctl-status.c
Labels: sd-boot/sd-stub/bootctl, quick-review 🏃‍♂️, please-review

#36327 network: mark container/VM/namespace networks as not required for onl…
  network/80-container-vb.network
  network/80-container-ve.network
  network/80-container-vz.network
  network/80-namespace-ns.network
  network/80-vm-vt.network
Labels: network, please-review

#36331 hwdb: add accel orientation and location for the BMAX Y14
  hwdb.d/60-sensor.hwdb
Labels: hwdb, please-review

#36320 storagetm: Check if /sys/kernel/config is a mountpoint
  src/storagetm/storagetm.c
Labels: good-to-merge/waiting-for-ci 👍, storagetm

#36228 xattr-util: try new *xattrat() family syscalls first
  README
  meson.build
  src/basic/compress.h
  src/basic/fd-util.c
  src/basic/missing_ioprio.h
  src/basic/missing_syscall.h
  src/basic/missing_syscall_def.h
  src/basic/missing_syscalls.py
  src/basic/xattr-util.c
  src/basic/xattr-util.h
  src/libsystemd/sd-journal/journal-vacuum.c
  src/shared/chown-recursive.c
  src/shared/copy.c
  src/shared/smack-util.c
  src/shared/smack-util.h
  src/test/test-xattr-util.c
  src/tmpfiles/tmpfiles.c
Labels: util-lib, tmpfiles, smack, tests, tree-wide, meson, please-review

#36330 missing_sched: add CLONE_PIDFD
  src/basic/missing_sched.h
  src/basic/raw-clone.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#36186 core: remove path to transient unit file from unit name maps on stop
  src/basic/strv.c
  src/basic/strv.h
  src/core/unit.c
  src/shared/unit-file.c
  src/shared/unit-file.h
  src/test/test-hashmap-plain.c
  src/test/test-unit-file.c
  test/units/TEST-07-PID1.transient.sh
Labels: pid1, util-lib, tests, good-to-merge/waiting-for-ci 👍

#36332 tmpfiles: 3 trivial cleanups
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles, good-to-merge/waiting-for-ci 👍

#36321 ukify: add --pcr-certificate= parameter
  man/ukify.xml
  src/ukify/ukify.py
Labels: good-to-merge/waiting-for-ci 👍, uki

#36336 bootctl,kernel-install: suffix some paths referring to dirs in log me…
  src/bootctl/bootctl.c
  src/kernel-install/kernel-install.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, kernel-install

#36338 Translations update from Fedora Weblate
  po/cs.po
Labels: l10n 🌍, please-review

#36339 escape: apply the minimal ansi highlighting on --help we usually do
  src/escape/escape.c
Labels: good-to-merge/waiting-for-ci 👍, escape

#36329 bootctl: fix potential uninitialized memory access
  src/bootctl/bootctl-status.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#36348 Translations update from Fedora Weblate
  po/bg.po
Labels: l10n 🌍, please-review

#34165 add an option to explicitly disable query IPv6 AAAA, SRV, MX, etc...
  man/resolved.conf.xml
  src/resolve/resolved-bus.c
  src/resolve/resolved-conf.c
  src/resolve/resolved-conf.h
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-stub.c
  src/resolve/resolved-gperf.gperf
  src/resolve/resolved-manager.c
  src/resolve/resolved-manager.h
  src/resolve/resolved-varlink.c
  src/resolve/resolved.conf.in
  src/shared/varlink-io.systemd.Resolve.c
  test/units/TEST-75-RESOLVED.sh
Labels: resolve, documentation, build-system, util-lib, tests, meson, squash-on-merge, downstream/rhel, please-review

#36355 man: Fix a minor typo in the org.freedesktop.login1 man page
  man/org.freedesktop.login1.xml
Labels: documentation, please-review

#36335 Follow-ups for xattr-util
  src/basic/xattr-util.c
  src/test/test-xattr-util.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#36346 nspawn: add @keyring to default syscall allow_list
  README
  src/nspawn/nspawn-seccomp.c
Labels: nspawn, documentation, good-to-merge/with-minor-suggestions

#36354 socket: resolve unit specifiers in BindToDevice
  src/core/load-fragment.c
Labels: pid1, please-review

#36357 udev: several improvements for debugging logs
  src/udev/udev-watch.c
  src/udev/udev-worker.c
Labels: udev, quick-review 🏃‍♂️, please-review

#36362 mkosi: Update to latest
  .github/workflows/coverage.yml
  .github/workflows/mkosi.yml
  docs/HACKING.md
  test/README.md
  test/fmf/integration-tests/test.sh
Labels: documentation, tests, mkosi, please-review

#36364 login: Queue session for garbage collection on leader death
  src/login/logind-session.c
Labels: login, please-review

#36345 ptyfwd: Forward various signals to forked process
  TODO
  src/libsystemd/sd-event/event-util.c
  src/libsystemd/sd-event/event-util.h
  src/ptyfwd/ptyfwd-tool.c
  src/shared/ptyfwd.c
  src/shared/ptyfwd.h
  test/units/TEST-74-AUX-UTILS.pty-forward.sh
Labels: util-lib, tests, sd-event, good-to-merge/waiting-for-ci 👍

#36374 sysupdate: Don't use compression extension for UKIs in manpage
  man/sysupdate.d.xml
Labels: documentation, sysupdate, please-review

#36375 core/condition: fix segfault when key not found in os-release
  man/systemd.unit.xml
  src/shared/condition.c
  src/test/test-condition.c
Labels: documentation, util-lib, tests, ci-failure-appears-unrelated, needs-stable-backport

#36377 core/condition: fix segfault when key not found in os-release
  man/systemd.unit.xml
  src/shared/condition.c
  src/test/test-condition.c
Labels: please-review

#36379 fmf: Don't fail if we can't modify sysctl values
  test/fmf/integration-tests/test.sh
Labels: tests, please-review

#36376 varlink idl fixes
  src/libsystemd/sd-varlink/varlink-io.systemd.c
  src/login/logind-varlink.c
Labels: login, quick-review 🏃‍♂️, varlink, please-review

#36368 core/service: drop unneeded unit_add_to_gc_queue()
  src/core/service.c
  src/core/unit.c
Labels: pid1, please-review

#36356 core/mount: rework GracefulOptions= as x-systemd.graceful-option=
  man/org.freedesktop.systemd1.xml
  man/systemd.mount.xml
  src/basic/mountpoint-util.c
  src/core/dbus-mount.c
  src/core/dbus-service.c
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/mount.c
  src/core/mount.h
  src/shared/bus-unit-util.c
  test/units/TEST-87-AUX-UTILS-VM.mount.sh
  units/tmp.mount
Labels: documentation, pid1, util-lib, tests, units, mount, please-review

#36353 resolve: fix use-after-free
  mkosi.sanitizers/mkosi.postinst
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-manager.c
  test/units/TEST-75-RESOLVED.sh
Labels: resolve, tests, good-to-merge/waiting-for-ci 👍, mkosi

#36386 hwdb.d: add support for Akoya P15645
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, please-review

#36381 ukify: fixes with kernel compression
  src/ukify/ukify.py
Labels: uki

#36387 mkosi: Fix mkosi.clangd
  .github/workflows/coverage.yml
  .github/workflows/mkosi.yml
  mkosi.clangd
  test/integration-test-wrapper.py
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#36390 hwdb.d: add ANP09 Intel n100 tablet sensor configuration
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, squash-on-merge

#36396 man/networkd.conf: add missing whitespace between words
  man/networkd.conf.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#36394 mkosi: Install systemd in Fedora build image
  mkosi.images/build/mkosi.conf.d/fedora/mkosi.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#36397 repart: Delay private key and certificate check until actual use
  src/repart/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#36395 macro-fundamental: add _nonnull_if_nonzero_ and use it in basic/
  src/basic/efivars.h
  src/basic/escape.c
  src/basic/escape.h
  src/basic/hexdecoct.h
  src/basic/io-util.h
  src/basic/iovec-util.h
  src/basic/memfd-util.h
  src/basic/memory-util.c
  src/basic/memory-util.h
  src/basic/random-util.h
  src/basic/string-util.h
  src/basic/strv.h
  src/fundamental/macro-fundamental.h
  src/resolve/resolved-dns-rr.c
  src/test/test-escape.c
Labels: resolve, util-lib, tests, tree-wide, please-review

#36334 journal-remote: several follow-ups for compression support, and trivial cleanups
  man/journal-remote.conf.xml
  man/journal-upload.conf.xml
  src/journal-remote/journal-compression-util.c
  src/journal-remote/journal-compression-util.h
  src/journal-remote/journal-gatewayd.c
  src/journal-remote/journal-remote-main.c
  src/journal-remote/journal-remote.c
  src/journal-remote/journal-remote.conf.in
  src/journal-remote/journal-remote.h
  src/journal-remote/journal-upload-journal.c
  src/journal-remote/journal-upload.c
  src/journal-remote/journal-upload.conf.in
  src/journal-remote/journal-upload.h
Labels: documentation, journal-remote, good-to-merge/waiting-for-ci 👍

#36399 ukify: Fix --sign-profile= check for main profile
  src/ukify/ukify.py
Labels: good-to-merge/waiting-for-ci 👍, uki

#36404 dissect: fix log_debug_errno assert due to r=0
  src/shared/dissect-image.c
Labels: util-lib, dissect, quick-review 🏃‍♂️, needs-stable-backport, please-review

#36403 mkosi: update debian commit reference
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.conf
Labels: mkosi, please-review

#34239 mkfs-util: Add support for btrfs compression
  man/repart.d.xml
  src/shared/mkfs-util.c
Labels: documentation, util-lib, good-to-merge/waiting-for-ci 👍, repart

#36271 firstboot: add tab completion for interactive questions
  docs/ENVIRONMENT.md
  src/basic/string-util.c
  src/basic/string-util.h
  src/basic/strv.c
  src/basic/strv.h
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/basic/utf8.c
  src/basic/utf8.h
  src/cgtop/cgtop.c
  src/firstboot/firstboot.c
  src/home/homectl.c
  src/journal/bsod.c
  src/shared/ask-password-api.c
  src/test/test-string-util.c
  src/test/test-strv.c
  src/test/test-terminal-util.c
  src/test/test-utf8.c
Labels: journal, documentation, util-lib, cgtop, tests, ask-password, firstboot, good-to-merge/with-minor-suggestions, bsod

#36417 Translations update from Fedora Weblate
  po/ia.po
Labels: l10n 🌍, please-review

#36418 Update footer.html to 2025
  docs/_includes/footer.html
Labels: please-review

#36419 ukify: print all remaining log-like output to stderr
  src/ukify/ukify.py
Labels: quick-review 🏃‍♂️, uki, please-review

#36413 man/org.freedesktop.systemd1.xml: Clarify the behavior of Subscribe()
  man/org.freedesktop.systemd1.xml
Labels: documentation, good-to-merge/with-minor-suggestions

#36424 Firstboot tweaklets
  src/basic/terminal-util.c
  src/home/homectl.c
Labels: util-lib, firstboot, good-to-merge/waiting-for-ci 👍, homed

#36425 timedated: rework clock change overflow check
  src/timedate/timedated.c
Labels: timedate, good-to-merge/waiting-for-ci 👍

#36422 network: doc and code typo fixes
  NEWS
  man/systemd.netdev.xml
  man/systemd.network.xml
  src/network/netdev/netdev-gperf.gperf
  test/test-network/conf/25-l2tp-udp.netdev
Labels: network, documentation, tests, good-to-merge/waiting-for-ci 👍, squash-on-merge

#36414 network: fix KeepConfiguration=yes
  src/network/networkd-neighbor.c
  src/network/networkd-nexthop.c
  src/network/networkd-route.c
  src/network/networkd-routing-policy-rule.c
  src/network/networkd-util.c
  src/network/networkd-util.h
  test/test-network/conf/24-keep-configuration-yes.network
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#36407 nspawn: unconditionally enable FUSE and use FOREACH_ARRAY()
  src/nspawn/nspawn-bind-user.c
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn-oci.c
  src/nspawn/nspawn-register.c
  src/nspawn/nspawn-register.h
  src/nspawn/nspawn.c
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, tests, good-to-merge/waiting-for-ci 👍

#36430 Journal-remote: modernize source_free() and fix memleak
  src/journal-remote/journal-remote-main.c
  src/journal-remote/journal-remote-parse.c
  src/journal-remote/journal-remote-parse.h
Labels: journal-remote, good-to-merge/waiting-for-ci 👍, coverity

#36432 shell completion: add kernel-identify/inspect verbs for bootctl
  shell-completion/bash/bootctl
Labels: shell completion, good-to-merge/waiting-for-ci 👍

#36402 network: drop old kernel support
  README
  src/network/networkd-address.c
  src/network/networkd-bridge-mdb.c
  src/network/networkd-link.c
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd-routing-policy-rule.c
  src/network/networkd.c
Labels: network, documentation, please-review

#36441 github: bump versions in issue forms
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: quick-review 🏃‍♂️, please-review

#36428 mkosi: Update distribution packaging specs for arch, opensuse and fedora
  mkosi.images/build/mkosi.conf.d/arch/mkosi.conf
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.conf
  mkosi.images/build/mkosi.conf.d/opensuse/mkosi.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#36408 logind: save seat before applying acl
  src/login/logind-seat.c
Labels: login, please-review

#36405 repart: add parameter to attach offline verity signature
  man/systemd-repart.xml
  src/repart/repart.c
  src/shared/dissect-image.c
  src/shared/dissect-image.h
  test/units/TEST-58-REPART.sh
Labels: util-lib, good-to-merge/waiting-for-ci 👍, dissect, repart

#36308 tree-wide: tweaks to mount point inode creation
  catalog/systemd.catalog.in
  man/systemd-mount.xml
  src/core/automount.c
  src/core/mount.c
  src/core/unit.c
  src/core/unit.h
  src/machine/machined-core.c
  src/mount/mount-tool.c
  src/shared/mount-util.c
  src/shared/mount-util.h
  src/sysext/sysext.c
  src/systemd/sd-messages.h
  src/test/test-mount-util.c
  test/units/TEST-74-AUX-UTILS.mount.sh
Labels: machine, pid1, util-lib, catalog, mount, please-review, sysext

#36433 tools/dbus_exporter: set LD_ORIGIN_PATH if procfs is not available
  tools/dbus_exporter.py
Labels: build-system, good-to-merge/waiting-for-ci 👍

#36453 man: fix typo in systemd.watchdog_device kernel option
  man/systemd-system.conf.xml
Labels: documentation, please-review

#36450 mkosi: Do not run unit tests during build by default
  .github/workflows/mkosi.yml
  docs/HACKING.md
  mkosi.conf
  test/fmf/integration-tests/test.sh
Labels: documentation, tests, good-to-merge/waiting-for-ci 👍, mkosi

#36454 mkosi: Install systemd-boot in opensuse initrd
  mkosi.images/initrd/mkosi.conf.d/opensuse.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#36423 timedated: Send error when time set is past build date time
  src/timedate/timedated.c
  test/units/TEST-30-ONCLOCKCHANGE.sh
Labels: tests, timedate, good-to-merge/waiting-for-ci 👍

#36458 homed: make "register" call more friendly
  src/home/homed-manager-bus.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#36457 user-runtime-dir: use right accessor got get GID of account
  src/login/user-runtime-dir.c
Labels: login, good-to-merge/waiting-for-ci 👍

#36456 mkosi: Enable userdb tmpfiles dropin on Fedora/CentOS
  mkosi.postinst.chroot
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#36398 resolve: cleanups for validating query flags and fix resolving service with record type filter
  src/resolve/resolved-bus.c
  src/resolve/resolved-dns-query.c
  src/resolve/resolved-dns-query.h
  src/resolve/resolved-varlink.c
  test/units/TEST-75-RESOLVED.sh
Labels: resolve, tests, please-review

#36459 homed: return the correct error if an image file is not present when …
  src/home/homed-home.c
  src/home/homework.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#36460 tree-wide: initialize row/column explicitly before calling sd_json_pa…
  src/analyze/analyze-security.c
  src/home/homectl.c
  src/home/homed-home.c
  src/home/homed-manager.c
  src/home/homework-luks.c
  src/home/homework.c
  src/network/networkd-serialize.c
  src/varlinkctl/varlinkctl.c
Labels: network, analyze, tree-wide, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, sd-json

#36461 homed: explicitly set access mode of private/public signing key pair
  src/home/homed-manager.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#36464 homework: unify common error handling
  src/home/homework.c
Labels: good-to-merge/waiting-for-ci 👍, homed

#36463 core: also check boot ID and product UUID in ConditionHost=
  man/systemd.unit.xml
  src/shared/condition.c
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍

#36410 Fix race in io.systemd.Machine.Open() test case
  man/systemd-notify.xml
  man/varlinkctl.xml
  src/import/importd.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-event/event-util.c
  src/libsystemd/sd-event/event-util.h
  src/libsystemd/sd-varlink/sd-varlink.c
  src/notify/notify.c
  src/nspawn/nspawn.c
  src/ptyfwd/ptyfwd-tool.c
  src/shared/meson.build
  src/shared/notify-recv.c
  src/shared/notify-recv.h
  src/systemd/sd-varlink.h
  src/sysupdate/sysupdate-transfer.c
  src/sysupdate/sysupdated.c
  src/varlinkctl/varlinkctl.c
  test/units/TEST-13-NSPAWN.machined.sh
  test/units/TEST-74-AUX-UTILS.varlinkctl.sh
Labels: nspawn, documentation, pid1, build-system, util-lib, tests, import, sd-event, notify, good-to-merge/waiting-for-ci 👍, meson, varlink, sysupdate

#36467 Some minor improvements to D-Bus docs
  man/org.freedesktop.locale1.xml
  man/org.freedesktop.login1.xml
  man/org.freedesktop.timedate1.xml
Labels: documentation, locale, timedate, please-review

#36446 exec-invoke: Use FORK_DETACH when forking off pid namespace child
  src/basic/process-util.c
  src/basic/process-util.h
  src/core/exec-invoke.c
  src/test/test-async.c
  src/test/test-process-util.c
Labels: pid1, util-lib, tests, good-to-merge/waiting-for-ci 👍

#36466 core: dlopen()'ify libapparmor
  meson.build
  src/core/apparmor-setup.c
  src/core/exec-invoke.c
  src/core/meson.build
  src/shared/apparmor-util.c
  src/shared/apparmor-util.h
  src/test/test-dlopen-so.c
Labels: pid1, build-system, util-lib, tests, meson, good-to-merge/with-minor-suggestions, apparmor

#36478 docs/CONTROL_GROUP_INTERFACE: fix typo
  docs/CONTROL_GROUP_INTERFACE.md
Labels: documentation, please-review

#36477 process-util: refuse FORK_WAIT + FORK_FREEZE combination
  src/basic/process-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#36476 Coding style followups
  src/basic/strv.c
  src/basic/strv.h
  src/basic/utf8.c
  src/udev/udev-builtin-blkid.c
Labels: udev, util-lib, quick-review 🏃‍♂️, please-review

#36482 mkosi: add libapparmor1 to package list for opensuse
  mkosi.conf.d/10-opensuse/mkosi.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#36481 hwdb: add axis range corrections for the Lenovo Yoga Slim 7 14ARE05
  hwdb.d/60-evdev.hwdb
Labels: hwdb, please-review

#36483 sbsign: Don't set bit in SpcPeImageData->flags
  src/sbsign/sbsign.c
Labels: good-to-merge/waiting-for-ci 👍, sbsign/keyutil 🔑

#36480 sd-event: always operate on child source via pidfd
  man/sd_event_add_child.xml
  src/basic/process-util.h
  src/core/manager.c
  src/libsystemd/sd-event/sd-event.c
Labels: documentation, util-lib, sd-event, please-review

#36494 sd-event: pidfdize sd_event_source_send_child_signal()
  src/libsystemd/sd-event/sd-event.c
Labels: sd-event, please-review

#36489 fstab-util: port use of setmntent() and friends to libmount
  src/shared/fstab-util.c
  src/shared/fstab-util.h
  src/shared/libmount-util.h
Labels: util-lib, mount, please-review

#36484 systemd-keyutil: add verb to convert pkcs1 to pkcs7
  man/systemd-keyutil.xml
  src/keyutil/keyutil.c
  src/shared/openssl-util.h
  test/units/TEST-74-AUX-UTILS.keyutil.sh
Labels: good-to-merge/waiting-for-ci 👍, sbsign/keyutil 🔑

#36496 repart: when using erofs and log level is not debug, use --quiet
  src/repart/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#36490 fuzz: decompress_startswith() may return zero
  src/fuzz/fuzz-compress.c
  src/fuzz/meson.build
  test/fuzz/.gitattributes
  test/fuzz/fuzz-compress/issue-36472
Labels: build-system, tests, good-to-merge/waiting-for-ci 👍, meson, fuzzing

#36500 mkosi: Enable History= option
  .github/workflows/coverage.yml
  .github/workflows/mkosi.yml
  mkosi.conf
  test/TEST-53-ISSUE-16347/meson.build
  test/TEST-53-ISSUE-16347/mkosi.configure
  test/TEST-64-UDEV-STORAGE/btrfs_basic.configure
  test/TEST-64-UDEV-STORAGE/iscsi_lvm.configure
  test/TEST-64-UDEV-STORAGE/long_sysfs_path.configure
  test/TEST-64-UDEV-STORAGE/lvm_basic.configure
  test/TEST-64-UDEV-STORAGE/mdadm_basic.configure
  test/TEST-64-UDEV-STORAGE/mdadm_lvm.configure
  test/TEST-64-UDEV-STORAGE/meson.build
  test/TEST-64-UDEV-STORAGE/multipath_basic_failover.configure
  test/TEST-64-UDEV-STORAGE/nvme_basic.configure
  test/TEST-64-UDEV-STORAGE/nvme_subsystem.configure
  test/TEST-64-UDEV-STORAGE/simultaneous_events.configure
  test/TEST-64-UDEV-STORAGE/virtio_scsi_basic.configure
  test/TEST-64-UDEV-STORAGE/virtio_scsi_identically_named_partitions.configure
  test/integration-test-wrapper.py
  test/meson.build
Labels: btrfs, build-system, tests, good-to-merge/waiting-for-ci 👍, mkosi, detect-virt, meson

#36509 packit: Switch to meson.version for the current version
  .packit.yml
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi, ci

#36510 systemd-boot: some refactorings
  src/boot/boot.c
  src/boot/line-edit.c
  src/boot/line-edit.h
  src/boot/meson.build
Labels: build-system, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, meson

#36507 sd-bus: sort enumerated child objects
  src/libsystemd/sd-bus/bus-objects.c
  src/libsystemd/sd-bus/test-bus-objects.c
Labels: sd-bus, tests, good-to-merge/waiting-for-ci 👍

#36506 timesync: several trivial cleanups
  src/timesync/timesyncd-manager.c
  src/timesync/timesyncd-manager.h
  src/timesync/timesyncd.c
Labels: timesync, good-to-merge/waiting-for-ci 👍

#36517 copy: Invoke hardlink context cleanup before restoring timestamps
  src/shared/copy.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍
