Repository systemd/systemd, pull requests merged in 2025-03, with the labels that each got.

#36532 core: Add DelegateNamespaces=
  man/org.freedesktop.systemd1.xml
  man/systemd.exec.xml
  src/core/dbus-execute.c
  src/core/exec-invoke.c
  src/core/execute-serialize.c
  src/core/execute.c
  src/core/execute.h
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/shared/bus-unit-util.c
  test/units/TEST-07-PID1.delegate-namespaces.sh
Labels: documentation, pid1, util-lib, tests, good-to-merge/waiting-for-ci 👍, portable

#36563 Add a few more bypass environment variables
  docs/ENVIRONMENT.md
  src/kernel-install/kernel-install.c
  src/shared/hwdb-util.c
  src/shared/verbs.c
  src/shared/verbs.h
  src/systemctl/systemctl-enable.c
  src/systemctl/systemctl-preset-all.c
  src/sysusers/sysusers.c
  src/tmpfiles/tmpfiles.c
Labels: documentation, systemctl, hwdb, util-lib, tmpfiles, sysusers, good-to-merge/waiting-for-ci 👍, kernel-install

#36572 hwdb: add Code Mercenaries Hard- und Software GmbH Virtual RC USB
  hwdb.d/60-input-id.hwdb
Labels: hwdb, please-review

#36573 hwdb: Add accel orientation quirk for the GPD Pocket 4
  hwdb.d/60-sensor.hwdb
Labels: hwdb, please-review

#36210 [v256] vmspawn: rework how AF_VSOCK/SOCK_STREAM notifications are read
  src/vmspawn/vmspawn.c
Labels: good-to-merge/waiting-for-ci 👍, vmspawn

#36344 (256-stable) machine: Make varlink socket permissions more strict
  src/machine/machined-varlink.c
Labels: machine, good-to-merge/waiting-for-ci 👍

#36575 Revert "sd-json: add new sd_json_variant_unset_field() call"
  man/rules/meson.build
  man/sd_json_variant_unset_field.xml
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-json/sd-json.c
  src/systemd/sd-json.h
  src/test/test-json.c
Labels: documentation, build-system, tests, meson, quick-review 🏃‍♂️, please-review, sd-json

#36578 vmspawn: switch from -drive to -blockdev option
  src/vmspawn/vmspawn.c
Labels: please-review, vmspawn

#36579 osc-context: several follow-ups
  src/core/main.c
  src/login/pam_systemd.c
  src/run/run.c
  src/shared/osc-context.c
Labels: login, util-lib, run, please-review

#36581 core: add warning if DelegateNamespaces= is used w/o seccomp (#36580)
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#36577 tests: remove cache=unsafe from TEST-64-UDEV-STORAGE
  test/TEST-64-UDEV-STORAGE/meson.build
Labels: build-system, tests, meson, please-review

#36568 tty-askpw-agent: react to SIGTERM while waiting for console
  src/basic/io-util.c
  src/basic/io-util.h
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/tty-ask-password-agent/tty-ask-password-agent.c
  units/systemd-ask-password-wall.service
Labels: util-lib, ask-password, good-to-merge/waiting-for-ci 👍, units

#36584 mount-tool: various tweaks
  man/systemd-mount.xml
  src/mount/mount-tool.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, mount

#36585 network: Use RTNH_COMPARE_MASK in route_can_update()
  src/network/networkd-route.c
Labels: network, please-review

#36503 Coverity fixups
  src/libsystemd/sd-event/event-util.c
  src/shared/group-record.c
  src/shared/group-record.h
  src/shared/user-record.c
  src/shared/user-record.h
  src/shared/userdb.c
  test/units/TEST-13-NSPAWN.nss-mymachines.sh
Labels: util-lib, tests, sd-event, good-to-merge/waiting-for-ci 👍, coverity, userdb

#36431 tree-wide: several cleanups and fixlets prompted by Coverity
  src/basic/fileio.c
  src/core/exec-invoke.c
  src/shared/async.c
  src/shared/generator.c
  src/shared/hwdb-util.c
  src/shared/pe-binary.c
  src/shared/pe-binary.h
Labels: hwdb, util-lib, coverity, please-review

#36593 chattr-util: two trivial cleanups
  src/basic/chattr-util.h
  src/basic/efivars.c
  src/basic/fs-util.c
  src/core/efi-random.c
  src/libsystemd/sd-journal/test-journal-append.c
  src/libsystemd/sd-journal/test-journal-flush.c
  src/libsystemd/sd-journal/test-journal-init.c
  src/libsystemd/sd-journal/test-journal-interleaving.c
  src/libsystemd/sd-journal/test-journal-stream.c
  src/libsystemd/sd-journal/test-journal-verify.c
  src/libsystemd/sd-journal/test-journal.c
  src/repart/repart.c
  src/shared/btrfs-util.c
  src/shared/copy.c
  src/shared/discover-image.c
  src/shared/import-util.c
  src/shared/install-file.c
  src/shared/journal-file-util.c
Labels: journal, btrfs, util-lib, tests, import, good-to-merge/waiting-for-ci 👍, repart

#36591 [hwdb] Add rotation profile matrix for Rog Ally X (2024)
  hwdb.d/60-sensor.hwdb
Labels: hwdb, fix-commit-message-on-merge, good-to-merge/with-minor-suggestions

#36596 dns-stream: only read DNS packet data if we identified the peer properly
  src/resolve/resolved-dns-stream.c
Labels: resolve, please-review

#36586 test: Connect test unit to console when running interactively
  test/TEST-07-PID1/TEST-07-PID1.service
  test/TEST-16-EXTEND-TIMEOUT/TEST-16-EXTEND-TIMEOUT.service
  test/TEST-44-LOG-NAMESPACE/TEST-44-LOG-NAMESPACE.service
  test/TEST-69-SHUTDOWN/TEST-69-SHUTDOWN.service
  test/TEST-82-SOFTREBOOT/TEST-82-SOFTREBOOT.service
  test/integration-test-setup.sh
  test/integration-test-wrapper.py
  test/test.service.in
Labels: nspawn, tests, good-to-merge/with-minor-suggestions

#36601 log: explicitly size log_target_max_level()
  src/basic/log.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#36600 varlink: optionally create leading dirs when binding AF_UNIX socket
  src/home/homed-manager.c
  src/libsystemd/sd-varlink/sd-varlink.c
  src/machine/machined-varlink.c
  src/systemd/sd-varlink.h
Labels: machine, good-to-merge/waiting-for-ci 👍, varlink

#36587 pam-systemd: default to "lightweight" sessions if area is selected
  src/login/pam_systemd.c
Labels: login, good-to-merge/with-minor-suggestions

#36607 path: Close inotify FD asynchronously
  src/core/path.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#36602 dirent-util: add several assertions in posix_getdents()
  src/basic/dirent-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#36583 nspawn: add hotkey for rebooting/powering off container
  man/systemd-nspawn.xml
  src/nspawn/nspawn.c
  src/ptyfwd/ptyfwd-tool.c
  src/run/run.c
  src/shared/ptyfwd.c
  src/shared/ptyfwd.h
  tools/command_ignorelist
Labels: nspawn, documentation, new-feature, util-lib, run, good-to-merge/waiting-for-ci 👍

#36609 glibc bump followup
  src/basic/locale-util.c
  src/basic/missing_fs.h
  src/basic/missing_syscall.h
  src/basic/process-util.c
  src/basic/signal-util.c
  src/basic/sys/mount.h
  src/libsystemd/sd-journal/journal-send.c
  src/test/test-process-util.c
  src/test/test-raw-clone.c
Labels: journal, util-lib, tests, locale, good-to-merge/waiting-for-ci 👍

#36608 test-network: drop deprecated ExecStart= modifier
  test/test-network/systemd-networkd-tests.py
Labels: tests, good-to-merge/waiting-for-ci 👍

#36613 cryptsetup: align tpm2-blob
  src/cryptsetup/cryptsetup-tokens/cryptsetup-token-systemd-tpm2.c
Labels: tpm2, please-review

#36389 Ukify tweaks
  src/ukify/test/test_ukify.py
  src/ukify/ukify.py
Labels: tests, good-to-merge/waiting-for-ci 👍, uki

#36567 run0: run agents during setup, until pty forwarder takes over
  man/run0.xml
  man/systemd-run.xml
  src/run/run.c
  tools/command_ignorelist
Labels: documentation, run, good-to-merge/waiting-for-ci 👍

#36625 mkosi: update fedora commit reference
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.conf
Labels: mkosi, please-review

#36626 mkosi: update debian commit reference
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.conf
Labels: mkosi, please-review

#36629 gpt-auto: image policy fixes
  src/gpt-auto-generator/gpt-auto-generator.c
  src/shared/image-policy.c
  src/shared/image-policy.h
  src/test/test-image-policy.c
Labels: util-lib, tests, gpt-auto, good-to-merge/waiting-for-ci 👍, dissect

#36620 udev-builtin-blkid: ignore root partitions with name "_empty"
  src/shared/dissect-image.c
  src/udev/udev-builtin-blkid.c
Labels: udev, util-lib, good-to-merge/waiting-for-ci 👍, dissect

#36617 sysext,sysupdate: resolve incompatibilities
  src/sysext/sysext.c
  src/sysupdate/sysupdate-resource.c
Labels: good-to-merge/waiting-for-ci 👍, sysupdate, sysext

#36639 docs: mention when /var/ has to be writable
  docs/MOUNT_REQUIREMENTS.md
Labels: documentation, good-to-merge/waiting-for-ci 👍

#36621 Factory reset followup
  src/factory-reset/factory-reset-tool.c
  src/hibernate-resume/hibernate-resume-config.c
  src/tpm2-setup/tpm2-clear.c
  units/factory-reset-now.target
  units/meson.build
  units/systemd-factory-reset-complete.service.in
Labels: build-system, units, meson, hibernate-resume, tpm2, please-review

#36637 terminal-util: during terminal reset clear from beginning of line to …
  src/basic/terminal-util.c
Labels: pid1, util-lib, quick-review 🏃‍♂️, please-review

#36641 TEST-13-NSPAWN: Set TERM=dumb when calling machinectl shell
  test/units/TEST-13-NSPAWN.machined.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#36645 add vsock-mux/* in ssh config drop-in
  src/ssh-generator/20-systemd-ssh-proxy.conf.in
Labels: good-to-merge/waiting-for-ci 👍, ssh-generator

#36630 dissect: accept --usr-hash=… too, similar too --root-hash=…
  man/systemd-dissect.xml
  src/dissect/dissect.c
Labels: documentation, dissect, good-to-merge/with-minor-suggestions

#36638 hostnamectl: show image info in hostnamectl
  man/org.freedesktop.hostname1.xml
  src/hostname/hostnamectl.c
  src/hostname/hostnamed.c
Labels: documentation, hostname, please-review

#36644 core: Debug log if we cannot change the controlling terminal
  src/core/exec-invoke.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#36633 load-fragment: Fix config_parse_namespace_flags() for DelegateNamespaces=
  src/core/load-fragment.c
  src/portable/profile/default/service.conf
  src/portable/profile/nonetwork/service.conf
  src/portable/profile/strict/service.conf
Labels: analyze, portable, please-review

#36654 pid1: lower log level if BPF LSM is not available
  src/core/bpf-restrict-fs.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#36646 mkosi: Disable BuildSourcesEphemeral=
  .github/workflows/mkosi.yml
  mkosi.clangd
  mkosi.conf.d/20-build.conf
  mkosi.images/build/mkosi.conf.d/arch/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.conf
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.prepare
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/opensuse/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/opensuse/mkosi.prepare
  test/integration-test-wrapper.py
Labels: tests, mkosi, please-review

#36657 rules: tag /dev/tpm0 with "systemd" too
  rules.d/99-systemd.rules.in
Labels: udev, good-to-merge/waiting-for-ci 👍, tpm2

#36658 hostnamectl: show transient hostname before static hostname
  src/hostname/hostnamectl.c
Labels: hostname, quick-review 🏃‍♂️, please-review

#36662 add a mime type for *.home LUKS home dir files too
  mime/io.systemd.xml
Labels: good-to-merge/waiting-for-ci 👍, homed

#36655 virt: detect "linux,dummy-virt" devicetree VMs
  src/basic/virt.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, detect-virt

#36513 homed: add key management toolchain
  TODO
  docs/ENVIRONMENT.md
  docs/USER_RECORD.md
  man/homectl.xml
  man/org.freedesktop.home1.xml
  man/systemd-homed.service.xml
  man/systemd.system-credentials.xml
  man/userdbctl.xml
  shell-completion/bash/homectl
  shell-completion/bash/userdbctl
  src/home/homectl.c
  src/home/homed-home.c
  src/home/homed-manager-bus.c
  src/home/homed-manager.c
  src/home/homed-manager.h
  src/home/org.freedesktop.home1.conf
  src/home/org.freedesktop.home1.policy
  src/home/user-record-sign.c
  src/libsystemd/sd-bus/bus-common-errors.c
  src/libsystemd/sd-bus/bus-common-errors.h
  src/shared/openssl-util.c
  src/shared/openssl-util.h
  src/shared/tpm2-util.c
  src/shared/user-record.c
  src/test/test-openssl.c
  src/test/test-tpm2.c
  src/tpm2-setup/tpm2-setup.c
  src/userdb/userdbctl.c
  test/units/TEST-46-HOMED.sh
  test/units/TEST-74-AUX-UTILS.userdbctl.sh
Labels: documentation, sd-bus, util-lib, tests, good-to-merge/waiting-for-ci 👍, homed, userdb, tpm2

#36663 keyutil: support adding content into PKCS#7 signature
  man/systemd-keyutil.xml
  src/keyutil/keyutil.c
  test/units/TEST-74-AUX-UTILS.keyutil.sh
Labels: good-to-merge/waiting-for-ci 👍, sbsign/keyutil 🔑

#36648 remove useless loop
  src/network/networkd-route-metric.c
Labels: network, good-to-merge/waiting-for-ci 👍

#36670 Translations update from Fedora Weblate
  po/et.po
Labels: l10n 🌍, please-review

#36669 core/main: several cleanups
  src/core/crash-handler.c
  src/core/crash-handler.h
  src/core/main.c
  src/core/main.h
  src/core/meson.build
Labels: pid1, build-system, meson, needs-stable-backport, please-review

#36668 mount-setup: two trivial cleanups
  src/shared/mount-setup.c
Labels: util-lib, mount, quick-review 🏃‍♂️, please-review

#36671 Translations update from Fedora Weblate
  po/et.po
Labels: l10n 🌍, please-review

#36674 po: add false positives to POTFILES.skip 250309
  po/POTFILES.skip
Labels: l10n 🌍, please-review

#36618 vmspawn: optionally grow image
  man/systemd-vmspawn.xml
  src/vmspawn/vmspawn.c
Labels: documentation, please-review, vmspawn

#36675 docs: reference cgroup v1 as historical and unsupported
  docs/CGROUP_DELEGATION.md
  docs/CONTAINER_INTERFACE.md
  docs/CONTROL_GROUP_INTERFACE.md
  docs/PAX_CONTROL_GROUPS.md
  docs/PORTABILITY_AND_STABILITY.md
Labels: documentation, please-review

#36549 add log messages when a route can't be updated
  src/network/networkd-ndisc.c
  src/network/networkd-route.c
  src/network/networkd-route.h
Labels: network, good-to-merge/waiting-for-ci 👍

#36610 meson: bump required minimum version to 0.62.0
  .github/workflows/build_test.sh
  .github/workflows/unit_tests.sh
  README
  man/meson.build
  meson.build
  profile.d/meson.build
  src/core/meson.build
  src/cryptsetup/meson.build
  src/dissect/meson.build
  src/environment-d-generator/meson.build
  src/fstab-generator/meson.build
  src/home/meson.build
  src/mount/meson.build
  src/resolve/meson.build
  src/run/meson.build
  src/ssh-generator/meson.build
  src/sysext/meson.build
  src/systemctl/meson.build
  src/udev/meson.build
  src/userdb/meson.build
  test/fuzz/meson.build
  test/meson.build
  test/test-network/conf/25-default.link
  units/meson.build
  units/user/meson.build
Labels: udev, documentation, build-system, tests, cryptsetup, run, good-to-merge/waiting-for-ci 👍, units, mount, meson

#36686 systemd.exec(5): RestrictAddressFamilies: mention address_families(7)
  man/systemd.exec.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#36694 event-util: move event_source_hash_ops to event-util
  src/libsystemd/sd-event/event-util.c
  src/libsystemd/sd-event/event-util.h
  src/mountfsd/mountfsd-manager.c
  src/nsresourced/nsresourced-manager.c
  src/userdb/userdbd-manager.c
Labels: sd-event, good-to-merge/waiting-for-ci 👍, userdb, nsresource, mountfsd

#36683 umount: do not move busy network mounts
  src/shutdown/umount.c
  src/shutdown/umount.h
Labels: good-to-merge/waiting-for-ci 👍, shutdown, needs-stable-backport

#36690 udev: fix error condition
  src/udev/udev-builtin-blkid.c
Labels: udev, good-to-merge/with-minor-suggestions

#36685 udev: reread partition table and trigger synthetic change events in child process
  src/udev/udev-manager.c
  src/udev/udev-manager.h
Labels: udev, good-to-merge/waiting-for-ci 👍

#36696 tmpfiles: ignore ENOENT when file is removed during setting parmission and friends
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles, good-to-merge/waiting-for-ci 👍

#36697 core/main: fix logging of /sbin/init exec failure
  src/core/main.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#36664 cgroup-util: Handle capsule@ paths like user@ paths
  src/basic/capsule-util.c
  src/basic/capsule-util.h
  src/basic/cgroup-util.c
  src/basic/meson.build
  src/shared/meson.build
  src/test/test-cgroup-util.c
Labels: cgroups, build-system, util-lib, tests, good-to-merge/waiting-for-ci 👍, meson

#36439 docs: clarify userns mapping when /proc/sys is rw
  docs/CONTAINER_INTERFACE.md
Labels: documentation, please-review

#36661 bus-polkit: don't allow another auth. after denial
  src/shared/bus-polkit.c
Labels: util-lib, please-review

#36703 mountfsd: add complete varlink introspection comments
  TODO
  src/mountfsd/mountwork.c
  src/shared/gpt.c
  src/shared/gpt.h
  src/shared/varlink-io.systemd.MountFileSystem.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, mountfsd

#36647 resolve question marks in /etc/hostname to characters hashed from machine ID
  TODO
  man/hostname.xml
  man/hostnamectl.xml
  man/os-release.xml
  src/basic/hostname-util.c
  src/basic/hostname-util.h
  src/core/main.c
  src/firstboot/firstboot.c
  src/fuzz/fuzz-hostname-setup.c
  src/hostname/hostnamectl.c
  src/hostname/hostnamed.c
  src/journal-remote/journal-gatewayd.c
  src/journal/journalctl-authenticate.c
  src/journal/journald-server.c
  src/libsystemd-network/sd-lldp-tx.c
  src/nss-myhostname/nss-myhostname.c
  src/resolve/resolved-manager.c
  src/resolve/resolved-util.c
  src/run/run.c
  src/shared/condition.c
  src/shared/discover-image.c
  src/shared/dissect-image.c
  src/shared/hostname-setup.c
  src/shared/hostname-setup.h
  src/shared/osc-context.c
  src/shared/specifier.c
  src/shared/user-record.c
  src/shared/wall.c
  src/systemctl/systemctl-list-machines.c
  src/systemctl/systemctl-show.c
  src/test/test-condition.c
  src/test/test-hostname-setup.c
  src/test/test-hostname-util.c
  src/test/test-load-fragment.c
  src/test/test-nss-hosts.c
  src/test/test-unit-name.c
  src/vmspawn/vmspawn.c
  test/units/TEST-71-HOSTNAME.sh
Labels: network, journal, resolve, documentation, systemctl, util-lib, tests, hostname, firstboot, run, journal-remote, good-to-merge/waiting-for-ci 👍, dissect, nss-myhostname, vmspawn

#36672 meson: drop split-usr, rootlibdir, and rootprefix from meson_options.txt
  NEWS
  meson_options.txt
Labels: documentation, build-system, meson, please-review

#36691 Fixes several recent CI issues
  .github/workflows/mkosi.yml
  src/run/run.c
  test/units/TEST-23-UNIT-FILE.verify-unit-files.sh
  test/units/TEST-74-AUX-UTILS.run.sh
Labels: tests, run, mkosi, please-review

#35144 boot: add reboot-on-error config option
  man/loader.conf.xml
  src/boot/boot.c
  tools/command_ignorelist
Labels: documentation, sd-boot/sd-stub/bootctl, please-review

#36024 test-cgroup-util: Check return values
  src/test/test-cgroup-util.c
Labels: cgroups, build-system, util-lib, tests, meson, please-review

#36693 resolve: add warning comment to config file
  src/resolve/resolved.conf.in
Labels: resolve, good-to-merge/waiting-for-ci 👍

#36627 udev: use INTERFACE property rather than sysname when processing network interface
  man/systemd.net-naming-scheme.xml
  src/libsystemd-network/test-ndisc-send.c
  src/libsystemd/sd-device/device-internal.h
  src/libsystemd/sd-device/device-private.h
  src/libsystemd/sd-device/device-util.h
  src/libsystemd/sd-device/sd-device.c
  src/libsystemd/sd-device/test-sd-device.c
  src/libsystemd/sd-netlink/netlink-util.c
  src/libsystemd/sd-netlink/netlink-util.h
  src/libsystemd/sd-netlink/test-netlink.c
  src/shared/netif-naming-scheme.c
  src/shared/netif-naming-scheme.h
  src/shared/tests.h
  src/udev/net/link-config.c
  src/udev/udev-builtin-net_driver.c
  src/udev/udev-builtin-net_setup_link.c
  src/udev/udev-event.c
  test/units/TEST-17-UDEV.netif-INTERFACE-property.sh
Labels: udev, network, documentation, util-lib, tests, sd-netlink, sd-device, good-to-merge/waiting-for-ci 👍

#36715 util: fallback to unrestricted allocation if initrd allocation doesn'…
  src/boot/util.h
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#36718 units: order oomd after swap.target
  units/systemd-oomd.service.in
Labels: good-to-merge/waiting-for-ci 👍, units, oomd

#36716 udev/net: enable new [EnergyEfficientEthernet] section
  man/systemd.link.xml
  src/udev/net/link-config.c
Labels: udev, documentation, good-to-merge/waiting-for-ci 👍

#36721 boot: several follow-ups for reboot-on-error feature
  src/boot/boot.c
  src/boot/efi-string-table.h
  src/boot/secure-boot.c
  src/boot/secure-boot.h
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#36720 getty-generator: don't use "3270!tty1" when instantiating serial-gett…
  src/getty-generator/getty-generator.c
Labels: good-to-merge/waiting-for-ci 👍, needs-stable-backport

#36723 nsresource: fix GID check in io.systemd.UserDatabase.GetGroupRecord method
  src/nsresourced/nsresourcework.c
Labels: good-to-merge/waiting-for-ci 👍, needs-stable-backport, nsresource

#36728 man: document how Restart= reacts to oom kill
  man/systemd.service.xml
Labels: documentation, pid1, please-review

#36725 copy: Bubble up ENOSPC immediately in fd_copy_directory()
  src/shared/copy.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#36726 Fix several issues found by Coverity
  src/home/homectl.c
  src/home/homed-manager-bus.c
  src/libsystemd/sd-device/test-sd-device-monitor.c
  src/libsystemd/sd-event/test-event.c
  src/libsystemd/sd-journal/test-journal-interleaving.c
  src/libsystemd/sd-netlink/test-netlink.c
  src/network/generator/test-network-generator.c
  src/network/test-networkd-conf.c
  src/shutdown/test-umount.c
  src/test/test-acl-util.c
  src/test/test-bpf-restrict-fs.c
  src/test/test-chase.c
  src/test/test-condition.c
  src/test/test-conf-parser.c
  src/test/test-creds.c
  src/test/test-execute.c
  src/test/test-format-table.c
  src/test/test-hashmap-plain.c
  src/test/test-id128.c
  src/test/test-json.c
  src/test/test-mkdir.c
  src/test/test-mount-util.c
  src/test/test-namespace.c
  src/test/test-process-util.c
  src/test/test-strv.c
  src/test/test-terminal-util.c
  src/test/test-time-util.c
  src/test/test-unit-file.c
  src/test/test-user-util.c
  src/test/test-xattr-util.c
  src/udev/test-udev-spawn.c
Labels: udev, network, journal, tests, sd-netlink, sd-device, sd-event, good-to-merge/waiting-for-ci 👍, shutdown

#36732 test-localed-util: use ASSERT_OK() and friends
  src/locale/test-localed-util.c
Labels: tests, locale, please-review

#36734 coredump,analyze: use read_full_file() for reading various top-level …
  src/analyze/analyze-filesystems.c
  src/basic/fileio.c
  src/basic/proc-cmdline.c
  src/coredump/coredump.c
Labels: analyze, util-lib, coredump, good-to-merge/with-minor-suggestions

#36712 emergency-action: sleep 5s before rebooting in various cases
  src/core/emergency-action.c
  src/core/emergency-action.h
  src/core/job.c
  src/core/manager.c
  src/core/unit.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#36737 mkosi: update debian commit reference
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.conf
Labels: mkosi, please-review

#36747 Restore docs/PAX_CONTROL_GROUPS
  docs/PAX_CONTROL_GROUPS.md
Labels: documentation, good-to-merge/waiting-for-ci 👍

#36749 firstboot: welcome user with emoji in firstboot wizard 🧙
  src/basic/glyph-util.c
  src/basic/glyph-util.h
  src/firstboot/firstboot.c
  src/home/homectl.c
  src/test/test-locale-util.c
Labels: util-lib, tests, locale, firstboot, good-to-merge/waiting-for-ci 👍, homed

#36750 udevadm: check number of passed arguments
  src/udev/udevadm-test-builtin.c
Labels: udev, good-to-merge/waiting-for-ci 👍

#36753 several fixes for Coverity
  meson.build
  src/libsystemd/sd-device/test-sd-device-monitor.c
  src/libsystemd/sd-device/test-sd-device.c
  src/libsystemd/sd-event/test-event.c
  src/libsystemd/sd-journal/test-journal-interleaving.c
  src/libsystemd/sd-netlink/test-netlink.c
  src/locale/test-localed-util.c
  src/shared/tests.h
  src/test/test-acl-util.c
  src/test/test-calendarspec.c
  src/test/test-cgroup-util.c
  src/test/test-chase.c
  src/test/test-compress.c
  src/test/test-condition.c
  src/test/test-conf-parser.c
  src/test/test-dev-setup.c
  src/test/test-fs-util.c
  src/test/test-hostname-setup.c
  src/test/test-id128.c
  src/test/test-json.c
  src/test/test-macro.c
  src/test/test-mount-util.c
  src/test/test-namespace.c
  src/test/test-netlink-manual.c
  src/test/test-terminal-util.c
  src/test/test-unit-file.c
  src/test/test-user-util.c
Labels: build-system, tests, meson, coverity

#36756 network: fix unexpected removal of routes on restart even when KeepConfiguration=yes
  src/network/networkd-route.c
  test/test-network/conf/85-static-ipv6.network
  test/test-network/systemd-networkd-tests.py
Labels: network, tests, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#36622 cgroup v1 preliminaries
  .semaphore/semaphore-runner.sh
  README
  man/sd_pid_get_owner_uid.xml
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/core/main.c
  src/core/namespace.c
  src/core/taint.c
  src/shared/cgroup-setup.c
  src/shared/cgroup-setup.h
  src/shared/mount-setup.c
  src/shared/mount-setup.h
  src/shared/rm-rf.c
  src/test/meson.build
  src/test/test-cgroup-setup.c
  src/test/test-cgroup-util.c
  src/test/test-taint.c
Labels: cgroups, documentation, pid1, util-lib, tests, good-to-merge/waiting-for-ci 👍, mount, ci

#36739 meson: Don't try to install the html index if we didn't generate it
  man/meson.build
Labels: documentation, build-system, good-to-merge/waiting-for-ci 👍, meson

#34776 nspawn: introduce --cleanup option
  man/systemd-nspawn.xml
  shell-completion/bash/systemd-nspawn
  shell-completion/zsh/_systemd-nspawn
  src/nspawn/nspawn.c
  test/units/TEST-13-NSPAWN.machined.sh
  units/systemd-nspawn@.service.in
Labels: nspawn, documentation, tests, good-to-merge/waiting-for-ci 👍, units

#36765 run: trivial followups
  src/run/run.c
Labels: run, good-to-merge/waiting-for-ci 👍

#36767 Translations update from Fedora Weblate
  po/ja.po
Labels: l10n 🌍, please-review

#36724 copy: Fix error handling in fd_copy_directory()
  src/shared/copy.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#36768 udev: several follow-ups and cleanups for builtin commands
  shell-completion/bash/udevadm
  shell-completion/zsh/_udevadm
  src/udev/udev-builtin-btrfs.c
  src/udev/udev-builtin.c
  src/udev/udev-def.h
  test/units/TEST-17-UDEV.10.sh
Labels: udev, btrfs, tests, please-review

#35085 build: add C23 support
  meson.build
  src/basic/glyph-util.c
  src/fundamental/macro-fundamental.h
  src/hostname/hostnamectl.c
  src/shared/qrcode-util.c
  src/systemd/meson.build
  src/test/test-memstream-util.c
Labels: build-system, util-lib, tests, meson, please-review

#36770 better support for $COLORTERM
  src/core/exec-invoke.c
  src/core/main.c
  src/machine/machinectl.c
  src/nspawn/nspawn.c
  src/run/run.c
  src/socket-activate/socket-activate.c
Labels: nspawn, machine, pid1, run, good-to-merge/waiting-for-ci 👍

#36688 nsresourced,vmspawn: allow unpriv "tap" based networking in vmspawn
  TODO
  network/80-namespace-ns-tun.link
  network/80-namespace-ns-tun.network
  src/basic/namespace-util.c
  src/basic/namespace-util.h
  src/core/namespace.c
  src/home/homework-mount.c
  src/mountfsd/mountwork.c
  src/nspawn/nspawn.c
  src/nsresourced/io.systemd.namespace-resource.policy
  src/nsresourced/meson.build
  src/nsresourced/nsresourced-manager.c
  src/nsresourced/nsresourcework.c
  src/nsresourced/test-userns-restrict.c
  src/nsresourced/userns-registry.c
  src/nsresourced/userns-registry.h
  src/shared/mount-util.c
  src/shared/nsresource.c
  src/shared/nsresource.h
  src/shared/varlink-io.systemd.NamespaceResource.c
  src/test/meson.build
  src/test/test-namespace.c
  src/test/test-nsresource.c
  src/vmspawn/vmspawn.c
Labels: network, nspawn, build-system, util-lib, tests, good-to-merge/waiting-for-ci 👍, mount, meson, vmspawn, nsresource

#36774 run: Ref() the unit again after reconnecting to the bus
  src/run/run.c
Labels: run, good-to-merge/waiting-for-ci 👍

#36776 some user record fixes
  src/home/homectl.c
  src/home/homework.c
  src/login/logind-core.c
  src/login/pam_systemd.c
  src/nspawn/nspawn-bind-user.c
  src/shared/user-record-nss.c
  src/shared/user-record-show.c
Labels: nspawn, login, util-lib, good-to-merge/waiting-for-ci 👍, userdb

#36777 Fixed backspace not working on HP Pavilion laptop
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍, fix-commit-message-on-merge

#36713 xattr-util: refuse embedded NUL bytes in getxattr_at_malloc()
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/basic/xattr-util.c
  src/basic/xattr-util.h
  src/core/cgroup.c
  src/home/homework-fscrypt.c
  src/journal/journald-client.c
  src/oom/oomd-util.c
  src/oom/test-oomd-util.c
  src/shared/cgroup-show.c
  src/shared/copy.c
  src/shared/dissect-image.c
  src/shared/smack-util.c
  src/test/test-copy.c
  src/test/test-xattr-util.c
Labels: journal, cgroups, util-lib, smack, tests, good-to-merge/waiting-for-ci 👍, dissect

#36766 getty-generator: unify add_serial_getty() and add_container_getty()
  src/getty-generator/getty-generator.c
Labels: good-to-merge/waiting-for-ci 👍

#36783 man: base64 is not hex
  man/veritytab.xml
Labels: documentation, veritysetup, good-to-merge/with-minor-suggestions, downstream/meta

#36782 nsresourced: fix assignment of target_gid
  src/nsresourced/userns-registry.c
Labels: good-to-merge/waiting-for-ci 👍, nsresource

#36788 Several fixes and cleanups around sd_listen_fds()
  src/initctl/initctl.c
  src/libsystemd/sd-varlink/sd-varlink.c
  src/nspawn/nspawn.c
  src/oom/oomd.c
  src/shared/fdset.c
  src/vmspawn/vmspawn.c
Labels: nspawn, util-lib, good-to-merge/waiting-for-ci 👍, varlink, needs-stable-backport, vmspawn

#36787 units: Add systemd-machined.socket
  src/machine/machined-varlink.c
  units/meson.build
  units/systemd-machined.service.in
  units/systemd-machined.socket
Labels: machine, build-system, units, meson, please-review

#36740 userdb: Add userdb.user.* and userdb.group.* credentials
  .github/workflows/mkosi.yml
  TODO
  man/systemd.system-credentials.xml
  man/userdbctl.xml
  mkosi.credentials/userdb.group.testuser
  mkosi.credentials/userdb.user.testuser
  mkosi.extra.common/usr/lib/systemd/system-preset/00-mkosi.preset
  mkosi.extra/usr/lib/tmpfiles.d/testuser.conf
  mkosi.postinst.chroot
  mkosi.sanitizers/mkosi.postinst
  src/nspawn/nspawn-bind-user.c
  src/shared/group-record.c
  src/shared/group-record.h
  src/shared/user-record.c
  src/shared/user-record.h
  src/userdb/userdbctl.c
  units/meson.build
  units/systemd-userdb-load-credentials.service
  units/systemd-userdbd.service.in
Labels: nspawn, documentation, build-system, util-lib, tests, ci-fails/needs-rework 🔥, units, mkosi, meson, userdb, creds

#36798 sd-event: make pidfd copy in event_add_child_pidref()
  src/libsystemd/sd-event/event-util.c
  src/vmspawn/vmspawn.c
Labels: sd-event, good-to-merge/waiting-for-ci 👍, vmspawn

#36800 generator: skip fsck early for non-blockdev file systems, or file sys…
  src/shared/generator.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#36802 various verity generator tweaks
  src/veritysetup/veritysetup-generator.c
Labels: veritysetup, please-review

#36804 tpm2-util: return better errors if we try to unlock a tpm key on the …
  src/cryptsetup/cryptsetup-tokens/luks2-tpm2.c
  src/shared/creds-util.c
  src/shared/cryptsetup-tpm2.c
  src/shared/tpm2-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, tpm2, creds, please-review

#36801 cgroup: whenever we migrate a PID to a unit, explicitly drop unit fro…
  src/core/cgroup.c
Labels: cgroups, pid1, good-to-merge/waiting-for-ci 👍

#36468 Introduce ConditionVersion
  docs/TRANSIENT-SETTINGS.md
  man/systemd-analyze.xml
  man/systemd.link.xml
  man/systemd.netdev.xml
  man/systemd.network.xml
  man/systemd.unit.xml
  src/analyze/analyze-condition.c
  src/core/load-fragment-gperf.gperf.in
  src/network/netdev/netdev-gperf.gperf
  src/network/networkd-network-gperf.gperf
  src/shared/condition.c
  src/shared/condition.h
  src/test/test-condition.c
  src/udev/net/link-config-gperf.gperf
  test/test-execute/exec-basic.service
Labels: udev, network, documentation, pid1, analyze, util-lib, tests, good-to-merge/waiting-for-ci 👍

#36771 core: Make DelegateNamespaces= work for user managers with CAP_SYS_ADMIN
  src/basic/capability-util.c
  src/core/exec-invoke.c
  src/libsystemd/sd-bus/sd-bus.c
  src/run/run.c
  src/shared/bus-unit-util.c
  test/units/TEST-07-PID1.delegate-namespaces.sh
  test/units/TEST-07-PID1.private-pids.sh
Labels: sd-bus, util-lib, tests, run, needs-stable-backport, please-review, downstream/meta

#36794 packit: Enable use_target_repo_for_fmf_url option
  .packit.yml
  test/fmf/integration-tests/main.fmf
  test/fmf/integration-tests/test.sh
Labels: tests, please-review

#36808 namespace: use EBADF where appropriate
  src/core/namespace.c
Labels: pid1, good-to-merge/waiting-for-ci 👍

#36793 networkd: add support for externally managed vxlan devices
  man/systemd.netdev.xml
  src/libsystemd/sd-netlink/netlink-types-rtnl.c
  src/network/netdev/netdev-gperf.gperf
  src/network/netdev/vxlan.c
  src/network/netdev/vxlan.h
  test/test-network/conf/25-vxlan-external.netdev
  test/test-network/conf/25-vxlan-external.network
  test/test-network/systemd-networkd-tests.py
Labels: network, documentation, tests, sd-netlink, please-review

#36799 vmspawn: allow TPM state to be persistent + rework runtime dir logic
  man/systemd-vmspawn.xml
  src/vmspawn/vmspawn-scope.c
  src/vmspawn/vmspawn-scope.h
  src/vmspawn/vmspawn.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, vmspawn

#36810 Translations update from Fedora Weblate
  po/zh_TW.po
Labels: l10n 🌍, please-review

#36803 Add --root for systemd-update-done and other small fixups
  man/systemd-update-done.service.xml
  src/update-done/update-done.c
Labels: documentation, good-to-merge/waiting-for-ci 👍

#36812 core/meson: libcore doesn't depend on PAM
  src/core/meson.build
Labels: build-system, good-to-merge/waiting-for-ci 👍, meson

#36816 Translations update from Fedora Weblate
  po/es.po
Labels: l10n 🌍, please-review

#36806 match glibc in ConditionVersion
  man/systemd.unit.xml
  src/shared/condition.c
  src/test/test-condition.c
  test/test-execute/exec-basic.service
Labels: documentation, util-lib, tests, good-to-merge/waiting-for-ci 👍

#36813 edit-util: don't leave custom editor args around if we shall fall back
  src/basic/memory-util.h
  src/shared/edit-util.c
Labels: util-lib, needs-stable-backport, please-review

#36818 analyze: propagate error code returned by _from_string()
  src/analyze/analyze-condition.c
Labels: analyze, good-to-merge/waiting-for-ci 👍

#36372 bootctl: adjust feature message
  src/bootctl/bootctl-status.c
Labels: sd-boot/sd-stub/bootctl, ci-failure-appears-unrelated, uki, please-review

#36819 udev: make udevadm and friends not warn about unknown settings
  src/shared/udev-util.c
Labels: util-lib, quick-review 🏃‍♂️, needs-stable-backport, please-review

#36821 test: Check that the journal file was actually created
  .packit.yml
  test/integration-test-wrapper.py
Labels: tests, good-to-merge/waiting-for-ci 👍

#36822 Translations update from Fedora Weblate
  po/es.po
Labels: l10n 🌍, please-review

#36825 packit: Load fmf metadata from rpm spec repository
  .packit.yml
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.conf
  test/fmf/.fmf/version
  test/fmf/integration-tests/main.fmf
  test/fmf/integration-tests/test.sh
  test/fmf/plans/ci.fmf
  tools/fetch-distro.py
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#36828 fetch-distro: Fetch before we switch branches
  tools/fetch-distro.py
Labels: please-review

#36829 mkosi: Hide patches on debian instead of removing them
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.build.chroot
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#36830 some dbus property fixes
  src/core/dbus-execute.c
  src/core/dbus-manager.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#36832 networkd: add support for setting vlan_tunnel on bridge ports
  man/systemd.network.xml
  src/network/networkd-network-gperf.gperf
  src/network/networkd-network.c
  src/network/networkd-network.h
  src/network/networkd-setlink.c
  test/test-network/conf/14-dummy.netdev
  test/test-network/conf/26-bridge-vlan-tunnel.network
  test/test-network/systemd-networkd-tests.py
Labels: network, documentation, tests, please-review

#36836 user-record: Allow/strip status for mask/extract privileged helpers
  src/shared/user-record.h
Labels: good-to-merge/waiting-for-ci 👍, userdb

#36840 man/networkd.conf: revert unexpected replacement of PersistLeases= setting
  man/networkd.conf.xml
Labels: network, documentation, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#36841 man/timedatectl: add reference to systemd.time(7)
  man/timedatectl.xml
Labels: documentation, timedate, good-to-merge/waiting-for-ci 👍

#35708 Ratelimit attempts to open watchdog, increase logging
  src/core/main.c
  src/core/manager.c
  src/shared/watchdog.c
  src/shared/watchdog.h
  src/systemd/sd-messages.h
  src/test/test-watchdog.c
Labels: util-lib, tests, ci-failure-appears-unrelated, good-to-merge/with-minor-suggestions
