Repository systemd/systemd, pull requests merged in 2025-10, with the labels that each got.

#39194 nspawn: correct the option name `--private-users-ownership=` when it's not expected value
  src/nspawn/nspawn.c
Labels: nspawn, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#39200 meson: using f-strings in meson
  catalog/meson.build
  man/meson.build
  meson.build
  src/boot/meson.build
  src/include/override/sys/meson.build
  src/test/meson.build
  test/fuzz/meson.build
Labels: documentation, build-system, tests, sd-boot/sd-stub/bootctl, catalog, meson, please-review

#39209 Translations update from Fedora Weblate
  po/tr.po
Labels: l10n 🌍, please-review

#39207 meson: add man and html targets
  man/meson.build
  man/rules/.gitattributes
  man/rules/meson.build
  meson.build
  tools/update-man-rules.py
  units/user/meson.build
Labels: documentation, build-system, units, meson, please-review

#39165 shared/bootspec: don't warn for new `loader.conf` options and correctly parse new `uki` and `profile` boot entry options
  src/boot/boot.c
  src/bootctl/bootctl-status.c
  src/shared/bootspec.c
  src/shared/bootspec.h
  src/shared/varlink-io.systemd.BootControl.c
Labels: util-lib, sd-boot/sd-stub/bootctl, good-to-merge/with-minor-suggestions, needs-stable-backport

#39204 Add sd_bus_track_handler_t signature to manpage
  man/sd_bus_track_new.xml
Labels: documentation, good-to-merge/with-minor-suggestions

#39211 NEWS: Document new uaccess udev rule priority requirement
  NEWS
Labels: documentation, needs-reporter-feedback ❓

#39205 varlinkctl: add detailed error message when `--more` is needed
  src/varlinkctl/varlinkctl.c
  test/units/TEST-74-AUX-UTILS.varlinkctl.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, varlink

#39218 mkosi: update debian commit reference to 8b45d3d793996d7de3d8566a5fb956019f35264e
  mkosi/mkosi.conf.d/debian-ubuntu/mkosi.conf.d/pkgenv.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#39224 Add copilot instructions
  .github/copilot-instructions.md
Labels: ci, please-review

#39219 sysctl: support reading configuration from stdin and command line arguments
  man/systemd-sysctl.service.xml
  src/sysctl/sysctl.c
  test/integration-tests/TEST-76-SYSCTL/meson.build
  test/integration-tests/meson.build
  test/units/TEST-76-SYSCTL.sh
  test/units/TEST-87-AUX-UTILS-VM.sysctl.sh
Labels: documentation, build-system, tests, sysctl, good-to-merge/waiting-for-ci 👍, meson

#39223 bootspec: also process uki-url boot loader spec field
  src/shared/bootspec.c
  src/shared/bootspec.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍, boot-loader-spec

#39233 licensing: update address of FSF
  LICENSE.GPL2
  LICENSE.LGPL2.1
  LICENSES/LGPL-2.0-or-later.txt
Labels: please-review

#39235 basic/log-context: mark global vars as static
  src/basic/log-context.c
Labels: util-lib, quick-review 🏃‍♂️, please-review

#39237 add two new json dispatchers
  src/hibernate-resume/hibernate-resume-config.c
  src/libsystemd/sd-json/json-util.c
  src/libsystemd/sd-json/json-util.h
  src/sysupdate/updatectl.c
Labels: good-to-merge/waiting-for-ci 👍, hibernate-resume, sd-json

#39238 json-util: use JSON_VARIANT_ARRAY_FOREACH where appropriate
  src/libsystemd/sd-json/json-util.c
Labels: good-to-merge/waiting-for-ci 👍, sd-json

#39239 systemd-creds: varlink null key handling
  man/systemd-creds.xml
  src/creds/creds.c
  src/shared/creds-util.c
  src/shared/creds-util.h
  src/shared/varlink-io.systemd.Credentials.c
  test/units/TEST-54-CREDS.sh
Labels: documentation, util-lib, tests, good-to-merge/waiting-for-ci 👍, creds

#39243 test-varlink-idl: add all missing IDL fragments
  src/test/test-varlink-idl.c
Labels: tests, good-to-merge/waiting-for-ci 👍, quick-review 🏃‍♂️, varlink

#37097 userdb: add support for looking up users or groups by uuid.
  docs/USER_GROUP_API.md
  man/userdbctl.xml
  src/shared/user-record.c
  src/shared/user-record.h
  src/shared/userdb.c
  src/userdb/userdbctl.c
  src/userdb/userwork.c
Labels: documentation, util-lib, userdb, please-review

#39249 man/factory-reset: fix typo in EFI variable name
  man/systemd-factory-reset.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍
