Repository systemd/systemd, pull requests merged in 2025-01, with the labels that each got.

#35791 Translations update from Fedora Weblate
  po/de.po
Labels: l10n 🌍, please-review

#35790 60-sensor.hwdb: Loosen model mask to include entire series
  hwdb.d/60-sensor.hwdb
Labels: hwdb, please-review

#35793 errno-list: prefer strerrorname_np() as errno_to_name() provider
  TODO
  meson.build
  src/basic/errno-list.c
  src/basic/errno-list.h
  src/test/test-errno-list.c
Labels: build-system, util-lib, tests, good-to-merge/waiting-for-ci 👍, meson

#35799 bash-completion/journalctl: list user units when --user is already specified
  shell-completion/bash/journalctl
Labels: journal, shell completion, please-review

#35807 mkosi: Allow disabling vcs-tag via environment variable
  mkosi.images/build/mkosi.conf.d/arch/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.build.chroot
  mkosi.images/build/mkosi.conf.d/opensuse/mkosi.build.chroot
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#35808 systemctl: certainly ignore ENOENT in checking inhibitors
  src/systemctl/systemctl-logind.c
Labels: systemctl, good-to-merge/waiting-for-ci 👍

#35810 Two doc updates
  test/README.md
Labels: tests, please-review

#35813 test: update README's Ubuntu CI section for mkosi changes
  test/README.md
Labels: documentation, tests, quick-review 🏃‍♂️, please-review

#35637 core/socket: several fixlets
  src/basic/recurse-dir.c
  src/basic/recurse-dir.h
  src/basic/unit-def.c
  src/basic/unit-def.h
  src/core/socket.c
  src/core/socket.h
  sysusers.d/basic.conf.in
  test/units/TEST-07-PID1.socket-max-connection.sh
  test/units/TEST-07-PID1.socket-on-failure.sh
Labels: pid1, util-lib, tests, good-to-merge/waiting-for-ci 👍

#35074 ask-password: add varlink IPC interface and various other additions and fixes
  src/ask-password/ask-password.c
  src/ask-password/io.systemd.ask-password.policy
  src/bootctl/bootctl-install.c
  src/cryptenroll/cryptenroll-password.c
  src/cryptenroll/cryptenroll-tpm2.c
  src/cryptsetup/cryptsetup.c
  src/firstboot/firstboot.c
  src/home/homectl.c
  src/keyutil/keyutil.c
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-varlink/sd-varlink.c
  src/measure/measure.c
  src/pcrextend/pcrextend.c
  src/pcrlock/pcrlock.c
  src/repart/repart.c
  src/sbsign/sbsign.c
  src/shared/ask-password-api.c
  src/shared/ask-password-api.h
  src/shared/cryptsetup-fido2.c
  src/shared/cryptsetup-tpm2.c
  src/shared/dissect-image.c
  src/shared/libfido2-util.c
  src/shared/meson.build
  src/shared/openssl-util.c
  src/shared/pkcs11-util.c
  src/shared/varlink-io.systemd.AskPassword.c
  src/shared/varlink-io.systemd.AskPassword.h
  src/systemd/sd-varlink.h
  src/test/test-ask-password-api.c
  src/test/test-varlink-idl.c
  src/tty-ask-password-agent/tty-ask-password-agent.c
  test/units/TEST-74-AUX-UTILS.ask-password.sh
  units/meson.build
  units/systemd-ask-password-console.service
  units/systemd-ask-password-wall.service
  units/systemd-ask-password.socket
  units/systemd-ask-password@.service
  units/user/meson.build
  units/user/systemd-ask-password.socket
  units/user/systemd-ask-password@.service
Labels: build-system, util-lib, tests, sd-boot/sd-stub/bootctl, ask-password, cryptsetup, firstboot, good-to-merge/waiting-for-ci 👍, units, dissect, meson, repart, varlink, tpm2

#35802 shared/hibernate-util: handle the case where no swap has available backing dev
  README
  src/shared/blockdev-util.c
  src/shared/hibernate-util.c
Labels: documentation, util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#35783 network/dhcp: introduce global setting for DHCPv4 client identifier
  man/networkd.conf.xml
  man/systemd.network.xml
  src/network/networkd-dhcp4.c
  src/network/networkd-gperf.gperf
  src/network/networkd-manager.c
  src/network/networkd-manager.h
  src/network/networkd.conf
  test/test-network/conf/10-dhcp-client-id-duid.conf
  test/test-network/conf/10-dhcp-client-id-mac.conf
  test/test-network/systemd-networkd-tests.py
Labels: network, documentation, new-feature, tests, dhcp, good-to-merge/waiting-for-ci 👍

#35811 terminal-util: introduce terminal_{new,detach}_session helpers
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/core/main.c
  src/test/test-terminal-util.c
  src/tty-ask-password-agent/tty-ask-password-agent.c
  src/udev/udevd.c
Labels: udev, util-lib, tests, ask-password, good-to-merge/waiting-for-ci 👍

#35812 Correct ACCEL_MOUNT_MATRIX for Chuwi Hi10 Max
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#35814 resolved: stop mdns/llmnr when config changes to disabled on reload
  mkosi.conf
  src/resolve/resolved-link.c
  test/units/TEST-75-RESOLVED.sh
Labels: resolve, tests, good-to-merge/waiting-for-ci 👍, mkosi, needs-stable-backport

#35816 random-util: our baseline includes getrandom() (v3.17) now
  README
  meson.build
  src/basic/missing_random.h
  src/basic/missing_syscall.h
  src/basic/random-util.c
  src/random-seed/random-seed.c
Labels: documentation, build-system, util-lib, random-seed, good-to-merge/waiting-for-ci 👍, meson

#35819 hwdb: Add macro keys for HP 430 Programmable Wireless Keypad
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#35696 debug-generator: rework from post-merge review #35410
  man/systemd-debug-generator.xml
  src/debug-generator/debug-generator.c
  units/breakpoint-pre-basic.service.in
  units/breakpoint-pre-mount.service.in
  units/breakpoint-pre-switch-root.service.in
  units/breakpoint-pre-udev.service.in
Labels: documentation, debug-generator, good-to-merge/waiting-for-ci 👍, units

#35765 fix: sd-measure `dtbauto` and `hwdids` arg parsing
  src/measure/measure.c
Labels: please-review

#35735 udev: split udev_manager_init() and udev_manager_main() into small pieces
  src/udev/udev-manager.c
  src/udev/udev-manager.h
Labels: udev, good-to-merge/waiting-for-ci 👍

#35825 nspawn: rework userns_mkdir() around chase()
  src/nspawn/nspawn.c
Labels: nspawn, good-to-merge/waiting-for-ci 👍

#35824 fs-util: teach xopenat_full() to pick automatically if given as MODE_…
  src/basic/chase.c
  src/basic/fs-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#35066 machine: introduce io.systemd.Machine.BindMount method
  src/machine/machine-varlink.c
  src/machine/machine-varlink.h
  src/machine/machined-varlink.c
  src/shared/varlink-io.systemd.Machine.c
  test/units/TEST-13-NSPAWN.machined.sh
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, machine, util-lib, tests, good-to-merge/waiting-for-ci 👍

#35836 vmspawn: Switch to virtconsole for headless console
  src/vmspawn/vmspawn-util.h
  src/vmspawn/vmspawn.c
Labels: good-to-merge/waiting-for-ci 👍, vmspawn

#34325 hwdb: replace f20 by micmute in mm kbd database
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#35831 nspawn: trivial tweaklets
  src/nspawn/nspawn.c
Labels: nspawn, quick-review 🏃‍♂️, please-review

#35829 dissect: minor additions to the systemd-dissect tool
  man/systemd-dissect.xml
  src/dissect/dissect.c
Labels: documentation, dissect, please-review

#35827 dissect: minor simplifications
  src/dissect/dissect.c
Labels: dissect, quick-review 🏃‍♂️, please-review

#35826 dissect-image: rename ReplyParameters → MountImageReplyParameters
  src/shared/dissect-image.c
Labels: util-lib, dissect, quick-review 🏃‍♂️, please-review

#35779 core: do not disconnect from bus when failed to install signal match
  src/core/unit.c
  src/libsystemd/sd-bus/sd-bus.c
Labels: sd-bus, pid1, good-to-merge/waiting-for-ci 👍

#35838 TEST-74-AUX-UTILS: Use tee
  test/units/TEST-74-AUX-UTILS.machine-id-setup.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#35761 Introduce systemd-pty-forward
  man/rules/meson.build
  man/systemd-pty-forward.xml
  meson.build
  mkosi.conf.d/05-tools/mkosi.conf.d/arch.conf
  mkosi.conf.d/05-tools/mkosi.conf.d/centos-fedora.conf
  mkosi.conf.d/05-tools/mkosi.conf.d/debian-ubuntu.conf
  mkosi.conf.d/05-tools/mkosi.conf.d/opensuse.conf
  src/basic/terminal-util.h
  src/machine/machine.c
  src/machine/machine.h
  src/ptyfwd/meson.build
  src/ptyfwd/ptyfwd-tool.c
  test/units/TEST-74-AUX-UTILS.pty-forward.sh
Labels: nspawn, machine, documentation, build-system, util-lib, tests, run, good-to-merge/waiting-for-ci 👍, meson, vmspawn

#35840 terminal-util: modernize vtnr_from_tty() a bit
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/login/logind-dbus.c
Labels: login, util-lib, good-to-merge/waiting-for-ci 👍

#35842 hwdb: Add micmute for System76
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#35843 ptyfwd: Add --read-only option
  man/systemd-pty-forward.xml
  src/ptyfwd/ptyfwd-tool.c
Labels: documentation, good-to-merge/waiting-for-ci 👍

#35844 hwdb: Add newer System76 Pangolins
  hwdb.d/60-keyboard.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#35828 nspawn: move uid shift/chown() code into shared/
  src/nspawn/meson.build
  src/nspawn/nspawn-def.h
  src/nspawn/nspawn.c
  src/shared/meson.build
  src/shared/shift-uid.c
  src/shared/shift-uid.h
  src/test/meson.build
  src/test/test-shift-uid.c
Labels: nspawn, build-system, util-lib, tests, meson, please-review

#35835 tpm2: tweaks to PCR mask parsing
  TODO
  src/shared/tpm2-util.c
  src/shared/tpm2-util.h
  src/test/test-tpm2.c
Labels: util-lib, tests, tpm2, please-review

#35847 libsystemd: drop duplicated symbol
  src/libsystemd/libsystemd.sym
Labels: quick-review 🏃‍♂️, please-review

#35854 mkosi: update debian commit reference
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.conf
Labels: mkosi, quick-review 🏃‍♂️, please-review

#35733 varlink: several cleanups for io.systemd.service interface
  src/libsystemd/sd-json/json-util.c
  src/libsystemd/sd-json/json-util.h
  src/shared/varlink-io.systemd.service.c
Labels: build-system, util-lib, tests, good-to-merge/waiting-for-ci 👍, meson

#35856 varlink: add comments for io.systemd.service interface
  src/shared/varlink-io.systemd.service.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#35857 sd-varlink: introduce sd_varlink_get_current_method()
  src/libsystemd/libsystemd.sym
  src/libsystemd/sd-varlink/sd-varlink.c
  src/systemd/sd-varlink.h
Labels: good-to-merge/waiting-for-ci 👍, varlink

#35797 hostname: read hardware serial from device tree
  src/hostname/hostnamed.c
Labels: hostname, good-to-merge/waiting-for-ci 👍

#35694 firewall-util: allow to override the table and map names through env var
  src/shared/firewall-util-nft.c
  src/test/test-firewall-util.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#35858 analyze: fix URLs to DeviceAllow=, IPAddressDeny=
  src/analyze/analyze-security.c
Labels: analyze, good-to-merge/waiting-for-ci 👍

#35860 mkosi: update debian commit reference
  mkosi.images/build/mkosi.conf.d/debian-ubuntu/mkosi.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#35700 packit: Move fmf metadata into upstream
  .github/workflows/coverage.yml
  .github/workflows/mkosi.yml
  .packit.yml
  mkosi.conf.d/10-centos-fedora/mkosi.prepare
  test/TEST-64-UDEV-STORAGE/btrfs_basic.configure
  test/TEST-64-UDEV-STORAGE/iscsi_lvm.configure
  test/TEST-64-UDEV-STORAGE/long_sysfs_path.configure
  test/TEST-64-UDEV-STORAGE/lvm_basic.configure
  test/TEST-64-UDEV-STORAGE/mdadm_basic.configure
  test/TEST-64-UDEV-STORAGE/mdadm_lvm.configure
  test/TEST-64-UDEV-STORAGE/multipath_basic_failover.configure
  test/TEST-64-UDEV-STORAGE/nvme_basic.configure
  test/TEST-64-UDEV-STORAGE/nvme_subsystem.configure
  test/TEST-64-UDEV-STORAGE/simultaneous_events.configure
  test/TEST-64-UDEV-STORAGE/virtio_scsi_basic.configure
  test/TEST-64-UDEV-STORAGE/virtio_scsi_identically_named_partitions.configure
  test/fmf/.fmf/version
  test/fmf/integration-tests/main.fmf
  test/fmf/integration-tests/test.sh
  test/fmf/plans/ci.fmf
Labels: btrfs, tests, mkosi, detect-virt, please-review

#35855 tty-ask-password-agent: if we're spawning further agents, grant them notify access
  src/basic/sigbus.c
  src/basic/signal-util.c
  src/basic/signal-util.h
  src/core/crash-handler.c
  src/core/manager.c
  src/coredump/coredumpctl.c
  src/nspawn/nspawn.c
  src/tty-ask-password-agent/tty-ask-password-agent.c
Labels: util-lib, ask-password, tree-wide, good-to-merge/waiting-for-ci 👍

#35839 more pidref'ification
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/basic/socket-util.c
  src/basic/socket-util.h
  src/libsystemd/sd-login/sd-login.c
  src/test/test-cgroup-util.c
  src/test/test-socket-util.c
Labels: cgroups, login, util-lib, tests, good-to-merge/waiting-for-ci 👍

#35242 basic: port various pidfd/pidref helpers to PIDFD_GET_INFO and PIDFD_GET_*_NAMESPACE
  README
  TODO
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/basic/chattr-util.c
  src/basic/errno-util.h
  src/basic/meson.build
  src/basic/missing_pidfd.h
  src/basic/namespace-util.c
  src/basic/namespace-util.h
  src/basic/pidfd-util.c
  src/basic/pidfd-util.h
  src/basic/pidref.c
  src/basic/process-util.c
  src/basic/process-util.h
  src/basic/terminal-util.c
  src/basic/virt.c
  src/core/namespace.c
  src/core/socket.c
  src/coredump/coredump.c
  src/libsystemd/sd-event/sd-event.c
  src/libsystemd/sd-login/sd-login.c
  src/libsystemd/sd-varlink/varlink-util.c
  src/machine/machined-core.c
  src/mountfsd/mountwork.c
  src/nspawn/nspawn.c
  src/nsresourced/nsresourcework.c
  src/nsresourced/userns-restrict.c
  src/shared/install-file.c
  src/shared/loop-util.c
  src/shared/mount-util.c
  src/test/test-namespace.c
  src/test/test-process-util.c
  src/test/test-stat-util.c
  src/vmspawn/vmspawn.c
Labels: cgroups, pid1, util-lib, good-to-merge/with-minor-suggestions

#35868 machine: several follow-ups for #35066
  src/machine/machine-varlink.c
  src/shared/varlink-io.systemd.Machine.c
Labels: machine, util-lib, good-to-merge/waiting-for-ci 👍

#35867 mkosi: replace deprecated settings and command with new ones
  docs/HACKING.md
  mkosi.conf
Labels: documentation, mkosi, quick-review 🏃‍♂️, please-review

#35863 sd-device: fix validation for devices under /sys/firmware/ in sd_device_new_from_subsystem_sysname()
  src/libsystemd/sd-device/sd-device.c
Labels: sd-device, needs-stable-backport, please-review

#35872 CI: add OBS workflow integration to build packages on push to main
  .obs/workflows.yml
Labels: ci, please-review

#35873 mkosi: Migrate more deprecated options
  .github/workflows/coverage.yml
  .github/workflows/mkosi.yml
  test/integration-test-wrapper.py
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#35841 sd-varlink: add flag for sd_varlink_server for creating connections w…
  src/libsystemd/sd-varlink/sd-varlink.c
  src/mountfsd/mountwork.c
  src/network/networkd-manager-varlink.c
  src/nsresourced/nsresourcework.c
  src/systemd/sd-varlink.h
Labels: network, good-to-merge/waiting-for-ci 👍, varlink, nsresource

#35879 Two fmf fixes
  test/fmf/integration-tests/test.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#35881 tree-wide: drop references to CentoS/RHEL 7 and 8
  docs/_data/extra_pages.json
  meson.build
  test/test-network/systemd-networkd-tests.py
  tools/meson-build.sh
Labels: build-system, tests, good-to-merge/waiting-for-ci 👍, meson

#35883 hwdb: WALTOP International Corp. Slim Tablet Stylus
  hwdb.d/60-evdev.hwdb
Labels: hwdb, please-review

#35884 core: fix assert when AddDependencyUnitFiles is called with invalid parameter
  src/core/dbus-manager.c
Labels: pid1, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#34913 machine: introduce io.systemd.Machine.{CopyFrom, CopyTo} methods
  src/machine/machine-dbus.c
  src/machine/machine-varlink.c
  src/machine/machine-varlink.h
  src/machine/machine.c
  src/machine/machine.h
  src/machine/machined-varlink.c
  src/machine/operation.c
  src/machine/operation.h
  src/shared/varlink-io.systemd.Machine.c
  test/units/TEST-13-NSPAWN.machined.sh
Labels: machine, util-lib, tests, good-to-merge/waiting-for-ci 👍

#35876 basic/linux: update kernel headers from v6.13-rc6
  src/basic/linux/README
  src/basic/linux/bpf.h
  src/basic/linux/btrfs.h
  src/basic/linux/ethtool.h
  src/basic/linux/if_link.h
  src/basic/linux/netfilter/nf_tables.h
  src/basic/linux/nl80211.h
  src/basic/linux/pkt_sched.h
  src/basic/linux/rtnetlink.h
  src/basic/linux/stddef.h
  src/basic/linux/update.sh
Labels: util-lib, please-review

#35889 process-util: a process from a foreign pidns is definitely not our child
  src/basic/process-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#35888 pretty-print: drop extra ';' from progress reporting end sequence
  src/shared/pretty-print.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#35890 machine: update log message and comments
  src/machine/machine-varlink.c
  src/machine/machine.c
Labels: machine, quick-review 🏃‍♂️, please-review

#35887 repart: Use streq_ptr()
  src/repart/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#35896 docs: Remove VIRTUALIZED_TESTING.md
  docs/VIRTUALIZED_TESTING.md
Labels: documentation, good-to-merge/waiting-for-ci 👍

#35891 test: add test case for AddDependencyUnitFiles assert
  test/units/TEST-07-PID1.issue-35882.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#35901 mkosi: Install which in build image
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#35898 ask-password: req must be non-NULL
  src/shared/ask-password-api.c
Labels: util-lib, ask-password, good-to-merge/waiting-for-ci 👍, coverity

#35902 obs: also trigger Fedora package builds
  .obs/workflows.yml
Labels: ci, quick-review 🏃‍♂️, please-review

#35875 packit: Simplify configuration
  .packit.yml
Labels: good-to-merge/waiting-for-ci 👍, ci

#35905 fmf: Check out target branch in packit
  test/fmf/integration-tests/test.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#35908 Bump minimum kernel baseline to 5.4, recommended version to 5.7
  README
  src/basic/constants.h
Labels: documentation, util-lib, good-to-merge/waiting-for-ci 👍

#35833 namespace-util: two new operations
  src/basic/missing_fs.h
  src/basic/namespace-util.c
  src/basic/namespace-util.h
  src/basic/uid-range.c
  src/basic/uid-range.h
  src/test/test-namespace.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#35859 Stop installing some markdown docs/ files
  meson.build
Labels: documentation, build-system, good-to-merge/waiting-for-ci 👍, meson

#35917 Three fmf fixes
  test/fmf/integration-tests/test.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#35919 Simple pam_systemd clean-ups
  src/login/logind-dbus.c
  src/login/logind-session-dbus.c
  src/login/logind-session-dbus.h
Labels: login, good-to-merge/waiting-for-ci 👍

#35871 dissect-image: mount the ESP with fmask=0177
  src/basic/mountpoint-util.c
  src/basic/mountpoint-util.h
  src/shared/dissect-image.c
  src/test/test-mountpoint-util.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍, mount, dissect, squash-on-merge

#35918 two pidref tweaks
  src/basic/pidref.c
  src/basic/pidref.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#35922 pid1: allow removal of foreign-owned subcgroups of cgroups owned by some user
  man/org.freedesktop.systemd1.xml
  src/core/cgroup.c
  src/core/cgroup.h
  src/core/dbus-manager.c
  src/core/dbus-unit.c
  src/core/dbus-unit.h
  src/core/org.freedesktop.systemd1.conf
  test/units/TEST-19-CGROUP.delegate.sh
Labels: cgroups, documentation, pid1, tests, good-to-merge/waiting-for-ci 👍

#35900 nsresource: optionally mangle userns names passed to nsresourced
  src/nsresourced/nsresourcework.c
  src/nsresourced/userns-registry.c
  src/shared/nsresource.c
  src/shared/varlink-io.systemd.NamespaceResource.c
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, util-lib, tests, good-to-merge/waiting-for-ci 👍, nsresource

#35906 udev/net: add three settings for ethtool features
  man/systemd.link.xml
  src/udev/net/link-config-gperf.gperf
Labels: udev, documentation, good-to-merge/waiting-for-ci 👍

#35821 units: Remove no longer needed login-options override. Fixes agetty autologin.
  units/console-getty.service.in
  units/container-getty@.service.in
  units/getty@.service.in
  units/serial-getty@.service.in
Labels: units, please-review

#35909 sd-device: make sd_device_new_from_path() accept relative path to device node
  src/libsystemd/sd-device/sd-device.c
  test/units/TEST-17-UDEV.10.sh
Labels: tests, sd-device, good-to-merge/waiting-for-ci 👍

#35931 hostname: use sd_device to acquire fallback chassis
  src/hostname/hostnamed.c
Labels: hostname, good-to-merge/waiting-for-ci 👍

#35921 TEST-06-SELINUX: Add knob to allow checking for AVCs
  test/README.md
  test/fmf/integration-tests/test.sh
  test/units/TEST-06-SELINUX.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#35937 Two integration test fixes
  test/integration-test-setup.sh
  test/integration-test-wrapper.py
  test/test.service.in
Labels: tests, good-to-merge/waiting-for-ci 👍

#33159 mkosi: Re-enable TEST-21-DFUZZER when running with sanitizers
  .github/workflows/mkosi.yml
  test/TEST-21-DFUZZER/meson.build
Labels: tests, mkosi, please-review

#35880 machine: introduce io.systemd.Machine.OpenRootDirectory method
  src/basic/process-util.c
  src/basic/process-util.h
  src/machine/machine-dbus.c
  src/machine/machine-varlink.c
  src/machine/machine-varlink.h
  src/machine/machine.c
  src/machine/machine.h
  src/machine/machined-varlink.c
  src/shared/varlink-io.systemd.Machine.c
  test/units/TEST-13-NSPAWN.machined.sh
Labels: machine, util-lib, tests, good-to-merge/waiting-for-ci 👍

#35171 pam: add session class "none" to disable logind sessions
  man/pam_systemd.xml
  src/login/logind-dbus.c
  src/login/logind-session.c
  src/login/logind-session.h
  src/login/pam_systemd.c
  test/units/TEST-35-LOGIN.sh
Labels: login, documentation, util-lib, tests, good-to-merge/with-minor-suggestions

#35406 Stash the subscriber list when we disconenct from the bus
  src/core/dbus.c
  src/core/dbus.h
  src/core/manager-serialize.c
  src/core/manager.c
  src/core/manager.h
  src/shared/bus-util.c
  src/shared/bus-util.h
Labels: pid1, util-lib, good-to-merge/with-minor-suggestions

#35939 fmf: Move meson logs and failed test journals to test artifacts dir
  test/fmf/integration-tests/test.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#35941 tree-wide: Fix python formatting
  src/ukify/ukify.py
  test/integration-test-wrapper.py
Labels: tests, good-to-merge/waiting-for-ci 👍, uki

#35946 meson: add install tags for udev and hwdb
  .github/workflows/build_test.sh
  .github/workflows/unit_tests.sh
  hwdb.d/meson.build
  rules.d/meson.build
  src/hwdb/meson.build
  src/udev/meson.build
  units/meson.build
Labels: udev, build-system, tests, units, meson, please-review

#35935 repart: modernize set_gpt_flags()
  src/repart/repart.c
Labels: partition, quick-review 🏃‍♂️, repart, please-review

#35936 process-util: do not unblock unrelated signals while forking
  src/basic/process-util.c
Labels: util-lib, needs-stable-backport

#35924 pam_systemd: two refactorings
  src/login/logind-dbus.c
  src/login/logind-dbus.h
  src/login/logind-session-dbus.c
  src/login/logind-session-dbus.h
  src/login/logind-session.c
  src/login/logind-session.h
Labels: login, good-to-merge/waiting-for-ci 👍

#35955 Test improvements
  test/README.md
  test/fmf/integration-tests/test.sh
  test/integration-test-wrapper.py
  test/test.service.in
Labels: tests, good-to-merge/waiting-for-ci 👍

#35940 machine: follow ups for varlink PRs recently merged
  src/basic/process-util.c
  src/machine/image-varlink.c
  src/machine/image-varlink.h
  src/machine/machine-varlink.c
  src/machine/machine-varlink.h
  src/machine/machine.c
  src/machine/machined-varlink.c
Labels: machine, util-lib, please-review

#35944 stub: drop PE sections parsing cap
  src/boot/pe.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#35963 homed: Fix minor spelling mistake in homectl source
  src/home/homed-manager.h
Labels: please-review

#35962 README: add OBS status icon and link to instructions to add bleeding edge repo
  README.md
Labels: documentation, quick-review 🏃‍♂️, please-review

#35895 convert more code to PidRef
  src/basic/namespace-util.c
  src/basic/namespace-util.h
  src/basic/process-util.c
  src/basic/process-util.h
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/coredump/coredump.c
  src/machine/machine.c
  src/nspawn/nspawn-mount.c
  src/nspawn/nspawn-network.c
  src/nspawn/nspawn.c
  src/shared/machine-id-setup.c
  src/shared/socket-netlink.c
  src/test/test-namespace.c
  src/test/test-process-util.c
Labels: nspawn, machine, util-lib, tests, coredump, good-to-merge/with-minor-suggestions

#35974 test: Fix bug in integration test wrapper
  test/integration-test-wrapper.py
Labels: tests, good-to-merge/waiting-for-ci 👍

#35977 tmpfiles: move two commands to the right --help sections
  src/tmpfiles/tmpfiles.c
Labels: tmpfiles, good-to-merge/waiting-for-ci 👍

#35981 update-done: remove spurious trailing whitespace from MESSAGE.
  src/update-done/update-done.c
Labels: good-to-merge/waiting-for-ci 👍

#35985 test: Only move journal file if we didn't just unlink it
  test/integration-test-wrapper.py
Labels: tests, good-to-merge/waiting-for-ci 👍

#35983 lsm: improve logging about absence of lsm-bpf
  src/core/bpf-restrict-fs.c
  src/nsresourced/userns-restrict.c
  src/shared/lsm-util.c
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍, nsresource

#35966 ci: Skip coverage workflow on forks
  .github/workflows/coverage.yml
Labels: tests, please-review

#35956 dissect: Use COPY_MERGE
  man/systemd-dissect.xml
  src/dissect/dissect.c
Labels: documentation, good-to-merge/waiting-for-ci 👍, dissect

#35989 fmf: Only move logs if corresponding directory exists
  test/fmf/integration-tests/test.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#35980 Update packaging specs
  mkosi.images/build/mkosi.conf.d/arch/mkosi.conf
  mkosi.images/build/mkosi.conf.d/centos-fedora/mkosi.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#35976 sysusers: some tweaks, mostly around chase() use
  src/sysusers/sysusers.c
Labels: sysusers, good-to-merge/waiting-for-ci 👍

#35970 core: serialize API bus id and validate before deserializing bus tracks, plus several other bus util cleanups
  TODO
  src/core/dbus-cgroup.c
  src/core/dbus-manager.c
  src/core/dbus.c
  src/core/dbus.h
  src/core/manager-serialize.c
  src/core/manager.c
  src/core/manager.h
  src/core/unit-serialize.c
  src/home/homed-manager-bus.c
  src/hostname/hostnamectl.c
  src/login/logind-brightness.c
  src/machine/machinectl.c
  src/machine/machined-dbus.c
  src/run/run.c
  src/shared/bus-get-properties.c
  src/shared/bus-get-properties.h
  src/shared/bus-map-properties.c
  src/shared/bus-message-util.c
  src/shared/bus-message-util.h
  src/shared/bus-util.c
  src/shared/bus-util.h
  src/shared/serialize.c
  src/shared/serialize.h
  src/systemctl/systemctl-list-units.c
  src/timedate/timedated.c
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍

#35314 oomd: support reloading configuration at runtime
  man/systemd-oomd.service.xml
  src/oom/meson.build
  src/oom/oomd-conf.c
  src/oom/oomd-conf.h
  src/oom/oomd-manager.c
  src/oom/oomd-manager.h
  src/oom/oomd.c
  src/shared/conf-parser.c
  src/shared/conf-parser.h
  test/units/TEST-55-OOMD.sh
  units/systemd-oomd.service.in
Labels: util-lib, good-to-merge/waiting-for-ci 👍, units, oomd, downstream/azure

#35995 Fix typos
  docs/PORTABLE_SERVICES.md
Labels: documentation, good-to-merge/waiting-for-ci 👍

#35990 mkosi: Install libxslt on CentOS/Fedora instead of xsltproc
  mkosi.conf.d/05-tools/mkosi.conf.d/centos-fedora.conf
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#35997 man: Clarify systemd-notify and sd_notify() PID documentation
  man/sd_notify.xml
  man/systemd-notify.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#35984 confidential-virt: add detection for aarch64 CCA
  man/systemd-detect-virt.xml
  src/basic/confidential-virt.c
  src/basic/confidential-virt.h
Labels: documentation, util-lib, good-to-merge/waiting-for-ci 👍, detect-virt

#35923 Follow-ups for recent namespace PRs
  README
  src/basic/missing_fs.h
  src/basic/missing_namespace.h
  src/basic/namespace-util.c
  src/basic/namespace-util.h
  src/basic/process-util.c
  src/basic/uid-range.c
  src/basic/uid-range.h
Labels: documentation, util-lib, good-to-merge/waiting-for-ci 👍

#35957 sysusers: emit audit events for user and group creation
  src/basic/audit-util.h
  src/core/audit-fd.c
  src/core/audit-fd.h
  src/core/manager.c
  src/core/selinux-access.c
  src/sysusers/meson.build
  src/sysusers/sysusers.c
  src/update-utmp/update-utmp.c
Labels: build-system, util-lib, selinux, sysusers, meson, good-to-merge/with-minor-suggestions, utmp/wtmp

#35991 terminal-util: drop support for pre-TIOCGPTPEER kernels
  README
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/machine/machine.c
  src/run/run.c
Labels: machine, documentation, util-lib, run, good-to-merge/waiting-for-ci 👍

#36003 meson: add udev/hwdb build aliases
  meson.build
  rules.d/meson.build
  src/udev/meson.build
  units/meson.build
Labels: udev, build-system, good-to-merge/waiting-for-ci 👍, units, meson

#36005 udev: several trivial fixlets
  src/udev/udev-rules.c
  src/udev/udevadm-test.c
Labels: udev, please-review

#36009 test: Drop sandbox() from integration test wrapper
  .github/workflows/coverage.yml
  .github/workflows/mkosi.yml
  test/integration-test-wrapper.py
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#35992 bus-wait-for-jobs: fix table of service result codes
  man/org.freedesktop.systemd1.xml
  src/shared/bus-wait-for-jobs.c
Labels: documentation, pid1, util-lib, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#36012 missing: add quotactl_fd() wrapper
  meson.build
  src/basic/missing_syscall.h
  src/basic/missing_syscall_def.h
  src/basic/missing_syscalls.py
Labels: build-system, util-lib, good-to-merge/waiting-for-ci 👍, meson

#36013 user-record-show: use word 'show' not 'dump' for helper call
  src/shared/user-record-show.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, userdb

#36011 string-util: make strjoin() just a special case of strextend()
  src/basic/string-util.c
  src/basic/string-util.h
  src/test/test-string-util.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍

#36014 ptyfwd: fix wrong userdata passed to PTY forwarding
  src/ptyfwd/ptyfwd-tool.c
Labels: good-to-merge/waiting-for-ci 👍

#35999 tools/fetch-distro: support the case where the sources are in a subdirectory
  tools/fetch-distro.py
Labels: good-to-merge/waiting-for-ci 👍

#35953 machine: introduce io.systemd.MachineImage.SetPoolLimit
  src/machine/image-varlink.c
  src/machine/image-varlink.h
  src/machine/machined-dbus.c
  src/machine/machined-varlink.c
  src/shared/discover-image.c
  src/shared/discover-image.h
  src/shared/varlink-io.systemd.MachineImage.c
  test/units/TEST-13-NSPAWN.machined.sh
Labels: machine, util-lib, tests, good-to-merge/waiting-for-ci 👍

#35497 efivars: deal with uncommitted efi variables
  src/basic/efivars.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, kernel-bug

#35264 logind: register PAM sessions via Varlink instead of D-Bus
  src/login/logind-session.c
  src/login/logind-session.h
  src/login/logind-varlink.c
  src/login/logind-varlink.h
  src/login/logind.c
  src/login/logind.h
  src/login/meson.build
  src/login/pam_systemd.c
  src/shared/meson.build
  src/shared/varlink-io.systemd.Login.c
  src/shared/varlink-io.systemd.Login.h
  src/test/test-varlink-idl.c
  test/units/TEST-35-LOGIN.sh
Labels: cgroups, login, sd-bus, build-system, util-lib, tests, good-to-merge/waiting-for-ci 👍, meson, varlink

#36016 mkosi: disable multipathd by default
  mkosi.extra.common/usr/lib/systemd/system-preset/00-mkosi.preset
Labels: tests, good-to-merge/waiting-for-ci 👍, mkosi

#36002 curl-util: use curl_getdate instead of implementing http spec
  src/import/curl-util.c
Labels: import, good-to-merge/waiting-for-ci 👍

#36022 analyze: fix assignment of object_field
  src/analyze/analyze-condition.c
Labels: analyze, good-to-merge/waiting-for-ci 👍

#36025 userdb: optionally parse numeric UIDs/GIDs where a username is expected
  src/shared/userdb.c
  src/shared/userdb.h
  src/userdb/userdbctl.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, userdb

#36026 random-util: fix compilation error
  src/basic/random-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#36027 pty_open_peer() follow-up
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/machine/machine.c
  src/machine/machine.h
  src/run/run.c
Labels: machine, util-lib, run, good-to-merge/waiting-for-ci 👍

#36000 log: check isempty for object_field and extra_field
  src/basic/log.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#36032 OBS: build Fedora/Debian/Ubuntu x86_64 packages on PRs
  .obs/workflows.yml
Labels: good-to-merge/waiting-for-ci 👍, ci

#36023 pid1: add GracefulOptions= setting to .mount units
  man/org.freedesktop.systemd1.xml
  man/systemd.mount.xml
  src/core/dbus-mount.c
  src/core/load-fragment-gperf.gperf.in
  src/core/load-fragment.c
  src/core/load-fragment.h
  src/core/mount.c
  src/core/mount.h
  src/shared/bus-unit-util.c
  test/units/TEST-74-AUX-UTILS.mount.sh
Labels: documentation, pid1, util-lib, tests, good-to-merge/waiting-for-ci 👍, mount

#36028 meson: enable -Wzero-as-null-pointer-constant
  meson.build
  src/basic/MurmurHash2.c
  src/basic/filesystems-gperf.gperf
  src/basic/locale-util.c
  src/basic/lock-util.c
  src/core/load-fragment-gperf.gperf.in
  src/core/manager.c
  src/fundamental/macro-fundamental.h
  src/home/homed-gperf.gperf
  src/home/homed-manager.c
  src/journal/journald-gperf.gperf
  src/libsystemd/sd-hwdb/sd-hwdb.c
  src/libsystemd/sd-journal/lookup3.c
  src/login/logind-gperf.gperf
  src/network/netdev/netdev-gperf.gperf
  src/network/networkd-gperf.gperf
  src/network/networkd-network-gperf.gperf
  src/nspawn/nspawn-gperf.gperf
  src/oom/test-oomd-util.c
  src/resolve/generate-dns_type-gperf.py
  src/resolve/resolved-dnssd-gperf.gperf
  src/resolve/resolved-gperf.gperf
  src/shared/mount-util.c
  src/shared/numa-util.c
  src/shared/tpm2-util.c
  src/shared/vpick.c
  src/socket-activate/socket-activate.c
  src/test/test-fileio.c
  src/test/test-mempress.c
  src/test/test-netlink-manual.c
  src/test/test-seccomp.c
  src/timesync/timesyncd-gperf.gperf
  src/udev/generate-keyboard-keys-gperf.sh
  src/udev/net/link-config-gperf.gperf
  src/userdb/userdbctl.c
  tools/generate-gperfs.py
Labels: build-system, tree-wide, good-to-merge/waiting-for-ci 👍, meson

#36034 shell-completions: add systemctl sleep
  shell-completion/bash/systemctl.in
  shell-completion/zsh/_systemctl.in
Labels: shell completion, systemctl, good-to-merge/waiting-for-ci 👍

#36020 shared/bus-util: add missing `set.h` include
  src/shared/bus-message-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#36038 namespace-util: don't reset UID/GIDs in namespace_enter() unless we e…
  src/basic/namespace-util.c
Labels: util-lib, please-review

#35971 tree-wide: drop support for kernels without pidfd_open() and pidfd_send_signal()
  src/basic/missing_syscall.h
  src/basic/pidfd-util.c
  src/basic/pidref.c
  src/basic/process-util.c
  src/libsystemd/sd-event/sd-event.c
  src/libsystemd/sd-event/test-event.c
  src/login/pam_systemd.c
Labels: login, reviewed/needs-rework 🔨, util-lib, tests, sd-event
