Repository systemd/systemd, pull requests merged in 2025-09, with the labels that each got.

#38779 NEWS: mention ACLs by "uaccess" is always set by udevd
  NEWS
Labels: documentation, please-review

#38729 pcrlock: use WRITE_STRING_FILE_LABEL
  src/pcrlock/pcrlock.c
Labels: tpm2, needs-stable-backport

#38798 mkosi: Relax separate branch check in mkosi.sync
  mkosi/mkosi.sync
Labels: please-review

#38792 Translations update from Fedora Weblate
  po/LINGUAS
  po/kw.po
  po/ru.po
Labels: l10n 🌍, please-review

#38799 mkosi: update mkosi commit reference to d45142e329550abc9c6fc63c1f1f86e5286d3d67
  .github/workflows/coverage.yml
  .github/workflows/linter.yml
  .github/workflows/mkosi.yml
  mkosi/mkosi.conf
Labels: tests, mkosi, please-review

#38801 v257 stable batch up to c4d9f9c9f62d29a03eb243dc0503e859b15f9bd1
  .github/workflows/coverage.yml
  .github/workflows/linter.yml
  .github/workflows/mkosi.yml
  mkosi/mkosi.conf
Labels: please-review, stable-branch

#38808 Translations update from Fedora Weblate
  po/fi.po
Labels: l10n 🌍, please-review

#38790 install: Fall back to system presets if there are no initrd presets
  src/shared/install.c
Labels: util-lib, please-review

#38786 ethtool-util: fix setting advertising link modes
  src/shared/ethtool-util.c
Labels: udev, util-lib, regression ⚠️, please-review

#38821 labeler: match src/bootctl/ for sd-boot/bootctl tag
  .github/labeler.yml
Labels: ci, quick-review 🏃‍♂️

#38820 bootctl: make sure install verb also honors implied --graceful
  src/bootctl/bootctl-install.c
  src/bootctl/bootctl-random-seed.c
  src/bootctl/bootctl-set-efivar.c
  src/bootctl/bootctl.c
  src/bootctl/bootctl.h
Labels: sd-boot/sd-stub/bootctl, please-review

#38723 nspawn: Drop CAP_NET_BIND_SERVICE if in userns with identity mapping
  mkosi/mkosi.conf.d/opensuse/mkosi.conf
  mkosi/mkosi.images/minimal-base/mkosi.conf.d/opensuse.conf
  src/nspawn/nspawn.c
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, tests, good-to-merge/waiting-for-ci 👍, mkosi

#38826 Revert "terminal-util: explicitly reset cursor"
  src/basic/terminal-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#38831 test: add more debug output
  test/units/TEST-50-DISSECT.dissect.sh
Labels: tests, good-to-merge/waiting-for-ci 👍, dissect

#38835 machine: restrict register-machine action again
  NEWS
  src/machine/org.freedesktop.machine1.policy
Labels: machine, documentation, good-to-merge/waiting-for-ci 👍

#38845 sd_bus_message_read.1: fix x/t being [iu]32 instead of [iu]64
  man/sd_bus_message_read.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#38843 catalog: update Polish translation 250906
  catalog/systemd.pl.catalog.in
Labels: catalog, please-review

#38849 Translations update from Fedora Weblate
  po/km.po
Labels: l10n 🌍, please-review

#38853 man/loader.conf: specify that default entry is id...
  man/loader.conf.xml
Labels: documentation, please-review

#38858 test: remove extension from /var/lib/extensions at the end of the test
  test/units/TEST-50-DISSECT.sysext.sh
Labels: tests, quick-review 🏃‍♂️, please-review, sysext

#38874 test: exit from test child processes
  src/test/test-namespace.c
Labels: tests, good-to-merge/waiting-for-ci 👍

#38883 TEST-64-UDEV-STORAGE: forcibly create new physical volume
  test/units/TEST-64-UDEV-STORAGE.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#38888 Update 60-sensor.hwdb - Add support for Lenovo Legion Go
  hwdb.d/60-sensor.hwdb
Labels: hwdb, good-to-merge/waiting-for-ci 👍

#38890 hwdb: add more devices
  hwdb.d/70-software-radio.hwdb
Labels: hwdb, please-review

#38923 dissect: include unistd.h
  src/dissect/dissect.c
Labels: dissect, quick-review 🏃‍♂️, please-review

#38920 shell-completion: add missing arguments for journalctl
  shell-completion/bash/journalctl
Labels: shell completion, good-to-merge/waiting-for-ci 👍

#38921 test: ensure journal dir is writable by container in TEST-13-NSPAWN
  test/units/TEST-13-NSPAWN.nspawn.sh
Labels: nspawn, tests, good-to-merge/waiting-for-ci 👍

#38928 systemd-path: return accumulated error instead of last result
  src/path/path-tool.c
Labels: sd-path

#38931 hwdb: add HydraSDR RFOne
  hwdb.d/70-software-radio.hwdb
Labels: hwdb, please-review

#38859 generators: when creating symlinks, silently ignore existing links in…
  src/shared/generator.c
Labels: util-lib, good-to-merge/with-minor-suggestions

#38901 meson: link with -Wl,-z,gcs-report-dynamic=none
  meson.build
Labels: build-system, meson, quick-review 🏃‍♂️, please-review

#38915 test: call mksquashfs with -noappend to be safe on reruns
  test/units/TEST-50-DISSECT.dissect.sh
Labels: tests, dissect, quick-review 🏃‍♂️, please-review

#38940 man: Update systemd-userdbd.service about .group extension
  man/systemd-userdbd.service.xml
Labels: documentation, userdb, please-review

#38942 mkosi conf opensuse: ukify from systemd-ukify
  mkosi/mkosi.conf.d/opensuse/mkosi.conf
  mkosi/mkosi.conf.d/opensuse/mkosi.conf.d/pkgenv.conf
Labels: mkosi, please-review

#38508 nspawn: add NamespacePath support for nspawn files
  man/systemd.nspawn.xml
  src/nspawn/nspawn-gperf.gperf
Labels: nspawn, documentation, good-to-merge/after-next-release

#38649 boot: add assertions
  src/boot/util.h
Labels: sd-boot/sd-stub/bootctl, good-to-merge/after-next-release

#38696 Some post unmerged-usr cleanups
  meson.build
  meson_options.txt
  src/core/swap.c
  test/units/TEST-35-LOGIN.sh
  units/console-getty.service.in
  units/container-getty@.service.in
  units/getty@.service.in
  units/serial-getty@.service.in
Labels: build-system, tests, units, good-to-merge/after-next-release, meson

#38700 repart: do not fail when CopyBlocks= is used in the initrd
  src/repart/repart.c
Labels: good-to-merge/after-next-release, repart

#38755 core: drop dead code
  src/core/namespace.c
Labels: good-to-merge/after-next-release

#38878 fd-util: several cleanups for close_all_fds()
  src/basic/fd-util.c
  src/basic/fd-util.h
  src/test/test-fd-util.c
Labels: util-lib, tests, good-to-merge/after-next-release

#38953 pcrextend: add documentation for varlink api
  TODO
  src/shared/varlink-io.systemd.PCRExtend.c
Labels: util-lib, quick-review 🏃‍♂️, tpm2, please-review

#38897 boot: Strip boot counter from entry id
  src/boot/boot.c
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#38957 vmspawn: two small tweaks
  src/vmspawn/vmspawn.c
Labels: quick-review 🏃‍♂️, please-review, vmspawn

#38956 copy: calculate bytes per second while copying, and pass to progress …
  src/basic/forward.h
  src/import/import-fs.c
  src/repart/repart.c
  src/shared/copy.c
  src/shared/copy.h
Labels: util-lib, import, repart, please-review

#38924 mkosi: several cleanups
  mkosi/mkosi.conf
  mkosi/mkosi.conf.d/opensuse/mkosi.conf
  mkosi/mkosi.images/minimal-base/mkosi.postinst
Labels: good-to-merge/waiting-for-ci 👍, mkosi

#38778 core/transaction: several cleanups
  src/core/transaction.c
Labels: pid1, please-review

#38489 udev-rules: add OPTIONS="dump-json" to dump current status in JSON format
  man/udev.xml
  src/udev/udev-rules.c
Labels: udev, documentation, good-to-merge/waiting-for-ci 👍

#38578 Align meson summary and gperf tables
  meson.build
  src/boot/meson.build
  src/network/netdev/netdev-gperf.gperf
  src/network/networkd-network-gperf.gperf
  src/network/tc/codel.c
  src/network/tc/codel.h
  src/network/tc/fq-codel.c
  src/network/tc/fq-codel.h
  src/network/tc/fq.c
  src/network/tc/fq.h
  src/network/tc/gred.c
  src/network/tc/gred.h
  src/network/tc/hhf.c
  src/network/tc/hhf.h
  src/network/tc/htb.c
  src/network/tc/htb.h
  src/network/tc/netem.c
  src/network/tc/netem.h
  src/network/tc/qfq.c
  src/network/tc/qfq.h
  src/network/tc/sfb.c
  src/network/tc/sfb.h
  src/network/tc/sfq.c
  src/network/tc/sfq.h
  src/network/tc/tbf.c
  src/network/tc/tbf.h
  src/network/tc/teql.c
  src/network/tc/teql.h
  src/nspawn/nspawn-gperf.gperf
  src/resolve/resolved-dnssd-gperf.gperf
  src/resolve/resolved-dnssd.c
  src/resolve/resolved-dnssd.h
Labels: network, nspawn, resolve, build-system, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, meson

#38704 journalctl: add -W as short for --no-hostname
  man/journalctl.xml
  shell-completion/bash/journalctl
  shell-completion/zsh/_journalctl
  src/journal/journalctl.c
Labels: journal, documentation, good-to-merge/waiting-for-ci 👍

#38885 units: don't force the loading of the loop and dm_mod modules in syst…
  units/systemd-repart.service
Labels: good-to-merge/waiting-for-ci 👍, units, repart

#38965 Two follow-ups for CLEANUP_TMPFILE_AT
  src/core/exec-credential.c
Labels: pid1, util-lib, good-to-merge/waiting-for-ci 👍, creds

#38198 sysupdate: use conf_files_list_strv_full() where possible
  src/sysupdate/sysupdate.c
Labels: good-to-merge/after-next-release, sysupdate

#38877 test: several random cleanups and fixlets
  src/boot/test-efi-string.c
  src/libsystemd/sd-device/test-sd-device.c
  src/test/meson.build
  src/test/test-cgroup-setup.c
  src/test/test-cgroup-util.c
  src/test/test-execute.c
  src/test/test-mount-util.c
  src/test/test-mountpoint-util.c
  src/test/test-parse-util.c
  src/test/test-seccomp.c
  test/meson.build
  test/test-sysusers.sh.in
Labels: build-system, tests, sd-boot/sd-stub/bootctl, sd-device, sysusers, meson, good-to-merge/with-minor-suggestions

#38967 vmspawn: fix error handling
  src/vmspawn/vmspawn.c
Labels: good-to-merge/waiting-for-ci 👍, vmspawn

#38052 systemd-repart: add encryption configs into repart.d/*
  man/repart.d.xml
  man/systemd-repart.xml
  src/repart/repart.c
Labels: documentation, repart, please-review

#38708 stub: fix file path handling for loaded kernel
  src/boot/linux.c
Labels: sd-boot/sd-stub/bootctl, please-review

#38784 mount-util: support 'atime' family of mount options for fsmount()
  src/shared/mount-util.c
Labels: util-lib, mount, please-review

#38983 kernel-install: version sort listed kernels
  src/kernel-install/kernel-install.c
  src/shared/format-table.c
  src/shared/format-table.h
Labels: util-lib, kernel-install, quick-review 🏃‍♂️, please-review

#39006 btrfs-util: try unlinkat(AT_REMOVEDIR) before resorting to btrfs ioctls
  src/shared/btrfs-util.c
Labels: btrfs, util-lib, good-to-merge/waiting-for-ci 👍

#39011 systemd-boot-update.service & zsh: replace --no-variables with --variables=
  shell-completion/zsh/_bootctl
  units/systemd-boot-update.service
Labels: shell completion, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, units, needs-stable-backport

#39007 basic: validate timezones in get_timezones()
  src/basic/time-util.c
Labels: util-lib, timedate, good-to-merge/waiting-for-ci 👍

#38994 sd-varlink: two small additions
  man/rules/meson.build
  man/sd_varlink_server_new.xml
  man/sd_varlink_set_relative_timeout.xml
  src/libsystemd/sd-varlink/sd-varlink.c
  src/systemd/sd-varlink.h
Labels: documentation, build-system, good-to-merge/waiting-for-ci 👍, meson, varlink

#39014 userdb: suppress creation of empty userdb dirs
  src/userdb/userdbctl.c
Labels: userdb, please-review

#38457 localectl: use XKB path specified from environment variable
  docs/ENVIRONMENT.md
  src/locale/localectl.c
Labels: documentation, locale, good-to-merge/with-minor-suggestions

#39001 fileio: modernize xopendirat() a bit
  src/basic/chase.c
  src/basic/fileio.c
  src/basic/fileio.h
  src/udev/udev-node.c
Labels: udev, util-lib, good-to-merge/waiting-for-ci 👍

#39009 importd: port to PidRef
  src/import/export-tar.c
  src/import/import-common.c
  src/import/import-common.h
  src/import/import-tar.c
  src/import/pull-tar.c
Labels: import, please-review

#39008 importd: some minor tweaks
  src/import/export-raw.c
  src/import/export-tar.c
  src/import/export.c
  src/import/import-common.c
  src/import/import-common.h
  src/import/import-compress.c
  src/import/import-raw.c
  src/import/import-tar.c
Labels: import, please-review

#39003 chattr-util/acl-util: add helpers that tells us if an inode type can do chattr/acl
  src/basic/chattr-util.c
  src/basic/chattr-util.h
  src/shared/acl-util.c
  src/shared/acl-util.h
  src/shared/shift-uid.c
  src/tmpfiles/tmpfiles.c
Labels: util-lib, tmpfiles, please-review

#38979 various tweaks for systemd-creds & related
  man/systemd.exec.xml
  src/core/exec-credential.c
  src/creds/creds.c
  src/shared/creds-util.c
  src/shared/varlink-io.systemd.Credentials.c
  src/test/test-creds.c
Labels: documentation, util-lib, tests, creds, please-review

#38929 various: port remaining users of setmntent() to libmount
  .github/codeql-queries/PotentiallyDangerousFunction.ql
  TODO
  src/cryptsetup/cryptsetup.c
  src/cryptsetup/meson.build
  src/fstab-generator/fstab-generator.c
  src/fstab-generator/meson.build
  src/remount-fs/meson.build
  src/remount-fs/remount-fs.c
  src/shared/mount-util.h
  test/units/TEST-81-GENERATORS.fstab-generator.sh
Labels: build-system, util-lib, tests, cryptsetup, fstab-generator, mount, meson, remount-fs, please-review

#39024 docs: use '_' as separator for OSC page
  docs/OSC_CONTEXT.md
Labels: documentation, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#38995 repart: some smaller tweaks
  src/basic/format-util.c
  src/basic/format-util.h
  src/repart/repart.c
  src/shared/openssl-util.c
  src/test/test-format-util.c
Labels: util-lib, tests, good-to-merge/waiting-for-ci 👍, repart

#38996 Various smaller tweaks to bootctl
  src/bootctl/bootctl-install.c
  src/bootctl/bootctl-random-seed.c
  src/bootctl/bootctl-util.c
  src/bootctl/bootctl.c
  src/bootctl/bootctl.h
  src/shared/boot-entry.h
Labels: util-lib, sd-boot/sd-stub/bootctl, random-seed, good-to-merge/waiting-for-ci 👍

#39067 dissect-image: simplification
  src/shared/dissect-image.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, dissect

#39068 glyph-util: add missing ascii represenations of some emojis
  src/basic/glyph-util.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#39025 man/systemd-notify: add a note on return value
  man/systemd-notify.xml
Labels: documentation, good-to-merge/waiting-for-ci 👍

#39052 zsh-completion: add completion for `freeze`, `thaw`, `condstop`
  shell-completion/zsh/_systemctl.in
Labels: systemctl, please-review

#39045 nspawn: don't try to connect to D-Bus when it's not necessary
  src/nspawn/nspawn.c
Labels: nspawn, please-review

#39069 journal: fix two recent regressions in config handling
  man/journald.conf.xml
  src/journal/journald-audit.c
  src/journal/journald-audit.h
  src/journal/journald-config.c
  src/journal/journald-config.h
  src/journal/journald-forward.h
  src/journal/journald-gperf.gperf
Labels: journal, documentation, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#39079 core/systemd.pc: do not add new non-underscored vars
  src/core/systemd.pc.in
Labels: good-to-merge/waiting-for-ci 👍

#39078 Two follow-ups for dlopen()-ification
  src/shared/libaudit-util.c
  src/shared/pam-util.c
  src/shared/pam-util.h
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#39092 docs: add a governance document
  docs/GOVERNANCE.md
Labels: documentation, please-review

#39087 libacl → turn into dlopen() dependency
  meson.build
  src/core/meson.build
  src/coredump/meson.build
  src/fundamental/cleanup-fundamental.h
  src/login/meson.build
  src/pstore/meson.build
  src/shared/acl-util.c
  src/shared/acl-util.h
  src/shared/meson.build
  src/shared/shift-uid.c
  src/test/meson.build
  src/test/test-dlopen-so.c
  src/tmpfiles/meson.build
  src/tmpfiles/tmpfiles.c
  src/udev/meson.build
Labels: udev, login, build-system, util-lib, tmpfiles, tests, good-to-merge/waiting-for-ci 👍, meson

#39026 sd-boot: terminal handling tweaks
  src/boot/boot.c
  src/boot/efi-string.c
  src/boot/secure-boot.c
  src/boot/util.c
  src/boot/util.h
Labels: sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍

#39020 machined: add PIDFD D-Bus variants for registering/creating machines
  man/org.freedesktop.machine1.xml
  src/machine/machined-dbus.c
  src/machine/org.freedesktop.machine1.conf
  src/nspawn/nspawn-register.c
Labels: nspawn, machine, documentation, good-to-merge/waiting-for-ci 👍

#39070 firstboot: some love
  man/os-release.xml
  man/systemd-firstboot.xml
  src/basic/glyph-util.c
  src/basic/glyph-util.h
  src/basic/macro.h
  src/basic/terminal-util.c
  src/basic/terminal-util.h
  src/firstboot/firstboot.c
  src/shared/meson.build
  src/shared/pretty-print.h
  src/shared/prompt-util.c
  src/shared/prompt-util.h
  src/test/test-locale-util.c
  units/systemd-firstboot.service
Labels: documentation, build-system, util-lib, tests, locale, firstboot, good-to-merge/waiting-for-ci 👍, units, meson

#39084 libblkid → turn into dlopen() dependency
  meson.build
  src/bless-boot/meson.build
  src/bootctl/meson.build
  src/core/meson.build
  src/gpt-auto-generator/meson.build
  src/home/homework-luks.c
  src/home/meson.build
  src/nspawn/meson.build
  src/pcrextend/meson.build
  src/repart/meson.build
  src/repart/repart.c
  src/shared/blkid-util.c
  src/shared/blkid-util.h
  src/shared/dissect-image.c
  src/shared/find-esp.c
  src/shared/meson.build
  src/shared/pcrextend-util.c
  src/sysupdate/meson.build
  src/test/meson.build
  src/test/test-dlopen-so.c
  src/udev/meson.build
  src/udev/udev-builtin-blkid.c
  src/validatefs/meson.build
  src/validatefs/validatefs.c
  src/vmspawn/meson.build
Labels: udev, build-system, util-lib, tests, sd-boot/sd-stub/bootctl, good-to-merge/waiting-for-ci 👍, dissect, meson, repart

#39113 libblkid: fix build with blkid disabled
  src/home/homework-luks.c
  src/repart/repart.c
Labels: good-to-merge/waiting-for-ci 👍, repart

#39108 tmpfile-util: minor modernizations
  src/basic/tmpfile-util.c
Labels: util-lib, quick-review 🏃‍♂️, please-review

#39103 cgroup-util: add pidref+full counter parts for cg_pid_get_user_unit()
  src/basic/cgroup-util.c
  src/basic/cgroup-util.h
  src/coredump/coredump.c
Labels: cgroups, util-lib, coredump, please-review

#39116 dissect: Add more debug logging
  src/shared/dissect-image.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍, dissect

#39122 find-esp: fix error handling
  src/shared/find-esp.c
Labels: util-lib, good-to-merge/waiting-for-ci 👍

#39102 machined: do not allow unprivileged users to shell into the root namespace
  src/machine/machine-dbus.c
  test/units/TEST-13-NSPAWN.unpriv.sh
Labels: machine, tests, please-review

#39129 libseccomp: fix build error
  src/analyze/analyze-security.c
Labels: analyze, good-to-merge/waiting-for-ci 👍

#39130 core/cgroup: make sure deserialized accounting data is not voided
  src/core/cgroup.c
Labels: cgroups, pid1, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#39106 libmount: make dlopen() dependency
  meson.build
  src/core/meson.build
  src/core/mount.c
  src/creds/creds.c
  src/creds/meson.build
  src/cryptsetup/cryptsetup.c
  src/cryptsetup/meson.build
  src/fstab-generator/fstab-generator.c
  src/fstab-generator/meson.build
  src/mount/meson.build
  src/mount/mount-tool.c
  src/remount-fs/meson.build
  src/remount-fs/remount-fs.c
  src/shared/fstab-util.c
  src/shared/libmount-util.c
  src/shared/libmount-util.h
  src/shared/meson.build
  src/shared/mount-util.c
  src/shutdown/detach-swap.c
  src/shutdown/meson.build
  src/shutdown/umount.c
  src/test/meson.build
  src/test/test-dlopen-so.c
  src/test/test-libmount.c
  src/test/test-mount-util.c
Labels: pid1, build-system, util-lib, tests, cryptsetup, fstab-generator, good-to-merge/waiting-for-ci 👍, mount, meson, remount-fs, shutdown, creds

#39094 core: assorted fixes and cleanups
  man/systemd.resource-control.xml
  src/core/bpf-firewall.c
  src/core/cgroup.c
  src/core/unit.c
  src/test/test-bpf-firewall.c
  test/units/TEST-19-CGROUP.abort-on-cgroup-creation-failure.sh
Labels: cgroups, documentation, pid1, tests, import, good-to-merge/waiting-for-ci 👍, pstore, needs-stable-backport

#38935 networkd: fix RequiredOperationalStateForOnline serialization
  src/network/networkd-json.c
Labels: network, please-review

#39128 mkosi: bump fedora from 42 to 43
  .github/workflows/mkosi.yml
Labels: tests, mkosi, priority, quick-review 🏃‍♂️, please-review

#39088 Parse a new profile key in Type 1 boot entries
  src/boot/boot.c
Labels: sd-boot/sd-stub/bootctl, squash-on-merge, please-review

#39101 mute console kernel log/pid1 status output while firstboot is running
  man/rules/meson.build
  man/systemd-firstboot.xml
  man/systemd-mute-console.xml
  meson.build
  src/firstboot/firstboot.c
  src/mute-console/meson.build
  src/mute-console/mute-console.c
  src/shared/meson.build
  src/shared/printk-util.c
  src/shared/printk-util.h
  src/shared/prompt-util.c
  src/shared/prompt-util.h
  src/shared/varlink-io.systemd.MuteConsole.c
  src/shared/varlink-io.systemd.MuteConsole.h
  src/shutdown/shutdown.c
  src/test/test-varlink-idl.c
  src/varlinkctl/varlinkctl.c
  test/units/TEST-74-AUX-UTILS.mute-console.sh
  units/meson.build
  units/system-systemd\x2dmute\x2dconsole.slice
  units/systemd-firstboot.service
  units/systemd-mute-console.socket
  units/systemd-mute-console@.service
Labels: documentation, build-system, util-lib, tests, locale, firstboot, good-to-merge/waiting-for-ci 👍, units, meson, shutdown

#39132 ssh-proxy: Add support for per user machined
  src/ssh-generator/ssh-proxy.c
Labels: please-review

#39134 network-generator: ip: do not fail on ntp value
  src/network/generator/network-generator.c
  src/network/generator/network-generator.h
  src/network/generator/test-network-generator.c
Labels: network, tests, good-to-merge/waiting-for-ci 👍

#39138 pam_systemd: downgrade OSC sequence writing at close to LOG_DEBUG
  src/login/pam_systemd.c
Labels: login, good-to-merge/waiting-for-ci 👍, needs-stable-backport

#39139 TEST-64-UDEV-STORAGE: do not use -f/--force option for wipefs
  test/units/TEST-64-UDEV-STORAGE.sh
Labels: tests, good-to-merge/waiting-for-ci 👍

#39147 man: add missing description for udev_enumerate_new functions
  man/udev_enumerate_new.xml
Labels: udev, documentation, good-to-merge/waiting-for-ci 👍

#38879 ethtool-util: several cleanups for applying link settings
  src/shared/ethtool-util.c
  src/shared/ethtool-util.h
  src/udev/net/link-config.c
Labels: udev, util-lib, please-review

#39016 Revert "Bump required minimum version of libfido2 to 1.5.0" and add missing def instead
  README
  meson.build
  src/shared/libfido2-util.c
Labels: documentation, build-system, util-lib, meson, please-review

#39155 Various small cleanups
  man/udev_enumerate_new.xml
  src/core/cgroup.c
  src/core/varlink.c
  src/shared/generator.c
  src/ssh-generator/ssh-issue.c
Labels: udev, cgroups, documentation, util-lib, good-to-merge/waiting-for-ci 👍

#39152 vmspawn: try to set up swtpm state for 4K RSA keys support
  src/vmspawn/vmspawn.c
Labels: please-review, vmspawn

#39161 Translations update from Fedora Weblate
  po/km.po
Labels: l10n 🌍, please-review

#39156 vmspawn: enable qemu guest agent with --console=gui
  src/vmspawn/vmspawn.c
Labels: please-review, vmspawn

#39137 homectl firstboot tweaks
  man/homectl.xml
  man/systemd-firstboot.xml
  src/firstboot/firstboot.c
  src/home/homectl.c
  test/units/TEST-74-AUX-UTILS.firstboot.sh
  units/systemd-firstboot.service
  units/systemd-homed-firstboot.service
Labels: documentation, tests, firstboot, units, good-to-merge/with-minor-suggestions, homed

#39170 units: move FailureAction= to the correct section
  units/systemd-battery-check.service.in
Labels: units, quick-review 🏃‍♂️, please-review, battery-check 🪫

#39178 units/systemd-battery-check.service: minor cleanup
  units/systemd-battery-check.service.in
Labels: units, quick-review 🏃‍♂️, please-review, battery-check 🪫
